[2021-03-01 03:18] youngnick commented on #3349
Closing this one out.

[2021-03-01 03:18] #3349 closed

[2021-03-01 03:19] youngnick commented on #2443
This may be resolved by resolving #3366, since we may not be pushing to dockerhub any more; we'll see what happens there.

[2021-03-01 03:21] youngnick commented on #3299
The cipher suite documentation is available in the docs at https://projectcontour.io/docs/v1.13.0/configuration/#tls-configuration. I'll close this one out as a result.

@moderation, please respond here if you disagree.

[2021-03-01 03:21] #3299 closed

[2021-03-01 06:34] erwbgy commented on #3372
Unfortunately I don't see the `level=debug msg="unsupported type received" context=StatusAddressUpdater` messages in the contour logs.

[2021-03-01 06:48] moderation commented on #3299
LGTM. Thanks to @youngnick and the Contour team

[2021-03-01 08:57] erwbgy commented on #3418
The default protocol between Envoy and your Pod is HTTP/1.1 so for GRPC you need to change this to HTTP/2 by setting the the spec.routes.services[].[protocol](https://projectcontour.io/docs/v1.13.0/config/api/#projectcontour.io/v1.Service) field on the HTTPProxy object - for example:
[code]

Alternatively you can set the projectcontour.io/upstream-protocol.h2 [annotation](https://projectcontour.io

[2021-03-01 12:52] nnahaliel opened #3420 "Support autorization for http requests (not only https)"
Currently "Authorization servers can only be attached to HTTPProxy objects that have TLS termination enabled" (https://projectcontour.io/docs/v1.13.0/config/client-authorization/#authorizing-virtual-hosts).

Is there an option to change this?

This limitation forces us to handle TLS termination in contour (instead, for example, at the ALB)

[2021-03-01 15:28] #3337 closed

[2021-03-01 17:39] skriss commented on #3420
@nnahaliel see https://github.com/projectcontour/contour/blob/main/design/external-authorization-design.md#https-only for a discussion of why we decided to implement for TLS-enabled proxies only.

We could revisit that decision, but there are some technical constraints that would need to be resolved in order to do so.

[2021-03-01 17:57] #3373 closed

[2021-03-01 18:00] skriss commented on #3396
cc @youngnick @xaleeks I'd like to get this done as part of 1.14, moving it into the milestone. Let me know if you disagree.

[2021-03-01 20:26] skriss opened #3425 "CI: integration tests run on a release branch use the release-tagged image, not the locally built one"
**What steps did you take and what happened:**
1. Run CI on a PR against a release branch (in this case, cherrypicks for a patch release)
2. integration tests fail: https://github.com/projectcontour/contour/pull/3423/checks?check_run_id=2007311782

https://github.com/projectcontour/contour/blob/main/_integration/testsuite/install-contour-working.sh builds an image from the local directory, tags it

[2021-03-01 22:27] abhide commented on #3166
@xaleeks Seems incomplete; could you please clarify here?

[2021-03-01 22:48] xaleeks commented on #3166
@abhide  Sorry about that, I meant to ask if there's confidence to have this delivered in 1.14.  And to see if there's any help you need from the contour team.  Cheers

[2021-03-02 04:53] youngnick commented on #3372
Okay, thanks @erwbgy. Looks like we may need to add a worker pool to the status writer, and associated config and caveats. Let's talk about this one in the community meeting.

[2021-03-02 15:40] eloycoto commented on #3404
Hi,

I checked the current gateway-api implementation, and I think design to be changed to implement this feature, no?

By default, the TLS listener certificate is part of the [Gateway](https://github.com/kubernetes-sigs/gateway-api/blob/7417038f3c546877ee4b107a2baa4022502a1fef/apis/v1alpha1/gateway_types.go#L64-L133) object that it's implemented on the Operator. Contour only implements HTTPRoute

[2021-03-02 15:49] stevesloka commented on #3404
Hey @eloycoto, you are correct, we haven't implemented that bit yet. If you'd like to contribute that work it would be great, or I think that's probably a logical next step that I was going to take on.

[2021-03-02 16:29] eloycoto commented on #3404
Hi,

It's quite a big change, and it might change how the project is structured, so I would like to know what it's your implementation idea, and I can start working on some pieces.

Regards

[2021-03-02 16:55] surajchhetry opened #3427 "Unable to connect with grpc client"
Hi,
 I am not able to connect with the grpc server getting a grpc client connection error. Can anybody help me with this issue?
[code]
[code]

[code]

[2021-03-02 17:04] #3396 closed

[2021-03-02 17:29] stevesloka commented on #3404
I poked around a bit and this is what I think will work: https://github.com/projectcontour/contour/compare/main...stevesloka:httpsRoute

This needs all the tests, etc, but a quick dry run its works on my machine.

[2021-03-02 17:57] xaleeks commented on #995
Sounds good, we’ll leave it in parking lot1 if someone wants to pick this up

[2021-03-02 18:00] xaleeks commented on #2543
Are you referring to functionality like feature gate like in k8s, so you can enable or disable them with command line flags and query for supported versions and EOL info.

[2021-03-02 18:08] xaleeks commented on #3242
Thanks Sunjay and Peri.  In talking with the windows team, I got the same message that the majority of the userbase is still a mix of windows and linux nodes.  And the platforms that we are targeting actually require the control plane to be Linux (for now).  So that’s definitely the higher priority item in terms of type of windows workloads that need validation.  Or put differently, you can count

[2021-03-02 18:13] xaleeks commented on #2484
@cten  First of all, thanks so much for documenting this.  I assume this is for the knative net contour, unless there’s another extremely similar setup.  Do you mind submitting a PR to add this to our official docs?  We would love to publicize knative and add a ref to the work the knative team did here

[2021-03-02 18:24] xaleeks commented on #1691
Nick, are we ready to begin to pick this up within the next couple releases?  Regarding granularity, I absolutely agree that we start at global instance level and move down to route if we really need to.  Further, to James’ point on watching the envoy deployment, if we go with that approach can we think about adding this logic to the Contour Operator once again.  I know we’re stuffing a lot of stu

[2021-03-02 18:43] xaleeks commented on #3006
Resurrecting this to understand it a bit more

That’s a risk with anything that plugs in and runs inline.  If we support this at some point, I also don’t think it’s contour’s job to do code validation on lua scripts.  I think our position would need to be you run it at your own risk and we’ll do our best to surface the errors to the users through logs.  Not sure if there are static code analysis t

[2021-03-02 19:05] stevesloka commented on #3427
Does your backend support TLS @surajchhetry? Using the `h2` means it will route over TLS. If your backend isn't then you should use `h2c`.

Also you don't need the `protocol` field as well as the annotation on the service, you can pick one or the other (but the `protocol` takes precedence).

[2021-03-02 19:06] stevesloka commented on #3404
Is this enough to get started @eloycoto? Or do you want me to finish up? Just let me know. =)

[2021-03-02 19:20] xaleeks opened #3429 "Distroless Contour"
Adjacent to the FIPS compliance requirements that we’re currently exploring is a possible improvement to provide Contour in distroless format at some time in the future.  Please see https://github.com/GoogleContainerTools/distroless

This can help us
Reduce surface attacks (CVEs, security issues, updates)
Reduce image size - speed up download
Lessen support contracts

This is a request to investig

[2021-03-02 19:21] sunjayBhatia commented on #3429
We are already providing only the contour binary on top of `scratch`: https://github.com/projectcontour/contour/blob/3502314c0fc40e62218938c173ab718dad72809c/Dockerfile#L34

[2021-03-02 19:33] xaleeks opened #3430 "sign Contour builds"
When we have bandwidth, let’s gpg sign our builds with something like OpenPGP for better verifcation.  This can be signed by any of project Contour’s core maintainers.

The user can then download an *.asc openPGP key as part of the release artifacts on github to verify that the download is indeed genuine.  It’s best practice that the signer of the builder should use a CNCF domain email and not a c

[2021-03-02 19:43] sunjayBhatia commented on #2146
Cross referencing an Ingress class (albeit Ingress v1beta1 annotation) request: https://github.com/projectcontour/contour-operator/issues/228

[2021-03-02 19:57] xaleeks opened #3431 "global rate limiting: allow configuring enable_x_ratelimit_headers"
Just checking, can our rate limiting feature querying capabilities like checking number of requests left and the time period in effect for current rate limits until they are reset.

Seems Envoy provide some of these [APIs](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ratelimit/v3/rate_limit.proto#envoy-v3-api-msg-extensions-filters-http-ratelimit-v3-ratelimit) in v3

[2021-03-02 20:49] eloycoto commented on #3404
I'll have a look and I'll come back to you

[2021-03-02 21:29] #3258 closed

[2021-03-02 21:36] skriss commented on #3431
We don't enable these headers right now or expose a knob to turn them on, would be easy to add though.

[2021-03-02 22:02] sunjayBhatia commented on #2146
@stevesloka BTW are you still actively working on this?

[2021-03-02 22:37] youngnick commented on #1691
Envoy has its own gRPC logging protocol, that's ALS. Currently, it seems that Fluent Bit doesn't have support for ingesting ALS. So to fully implement this, we may need to implement a basic ALS sink (similar to how we made contour-authserver), or add support for ALS to other projects (like Fluent Bit).

The work of actually adding the config items to enable *sending* ALS from Envoy is a reasonably

[2021-03-02 22:41] youngnick commented on #3006
Agreed, but until we solve #1176, if we send a bad Lua script to Envoy, it could NACK the update, and then there will be no more updates. Once we have NACK support, then I'd be willing to proceed in the way you're talking about.

What I'm worried about is that people will solve their own problems with Lua, and never tell us they were problems, and we will miss out on implementing features in Conto

[2021-03-02 22:42] youngnick commented on #3429
Yes, I don't see any point to moving to distroless when we already base from scratch.

[2021-03-02 23:04] andrewzah commented on #3006
@youngnick

Then it would be best to remove all custom Lua code support. If you allow users to run custom code, then they will run custom code.

In my personal opinion, this should be documented, but permitted. It can even be gated behind a feature flag / environment variable like `LUA_MAY_BREAK_ENVOY`.

---

Personally, Contour's behavior here comes across as nanny-like to me. Why can I not break

[2021-03-03 00:52] surajchhetry commented on #3427
Thank you @stevesloka,  after removing annotation from service and converting protocol to h2c, it is working now.

[2021-03-03 00:52] #3427 closed

[2021-03-03 03:19] surajchhetry opened #3432 "grpc example"
**grpc service and HttpProxy example**

[2021-03-03 03:52] youngnick commented on #3006
Thanks for the comment, @andrewzah. There's quite a bit to respond to, so I'll quote-and-reply.

Look, you're not wrong, and I guess I'm being too precious here. We should be encouraging people to tell us what they're fixing, not making it so they can't do their fixes. But I would really like a way to encourage people to bring us the things they're doing with Lua once we implement it. I'll think m

[2021-03-03 07:09] abhide commented on #1691
@youngnick @skriss I am interested in working with someone to add ALS support to Contour.
I have been playing around with Envoy ALS and wrote a simple ALS sink.
Wrote a gist on how this configured: https://gist.github.com/abhide/805ea927500a73658ef696f04961a7d9

@youngnick As you said, we will have to add the ALS cluster as part of `contour bootstrap` configuration and this seems pretty easy. But

[2021-03-03 15:12] sunjayBhatia commented on #3432
Could you add some more detail to this issue and a more specific title to describe what this is about? So we have some historic record of the motivation behind this issue and can point people to it in the future if needed

[2021-03-03 15:35] skriss commented on #3431
Should I consider this issue a request to add support for those?

[2021-03-03 17:20] skriss commented on #2743
I re-enabled this test in a branch and ran it a bunch of times via GH Actions and haven't been able to get it to fail. I guess it's possible that some change we've made since disabling it has fixed the flaky behavior, though I'm a little dubious.

I'll run it several more times and see if I can get it to flake again, but if not, I'll probably re-enable it and see what happens.

[2021-03-03 18:27] skriss commented on #3401
@stevesloka was this closed by #3415?

[2021-03-03 18:33] stevesloka commented on #3401
Not fully, there's still a namespaces bit that needs added.

[2021-03-03 19:19] stevesloka commented on #2146
No @sunjayBhatia I'll unassign. I had an impl, then it was closed, created the design doc, then here we are. Feel free to work on it or anyone else can pick up. =)

[2021-03-03 19:28] stevesloka opened #3436 "Set status on HTTPRoute resources"
Need to set the "admitted" status on a route along with the matching Gateway. Also, errors are bubbled up here into the `conditions` set.

A maximum of 100 Gateways will be represented in this list. If this list is full, there may be additional Gateways using this Route that are not included in the list. An empty list means the route has not been admitted by any Gateway.

Conditions describes the

[2021-03-03 19:31] stevesloka opened #3437 "Set status on Gateway"
“Scheduled”
“Ready”

//ref: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.GatewayStatus

[2021-03-03 19:34] stevesloka opened #3438 "Support TLS on Gateway"
A Gateway can define a `GatewayTLSConfig` which allows the TLS bits to defined on the Gateway and not required on the route.

//ref: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.GatewayTLSConfig

[2021-03-03 19:36] stevesloka opened #3439 "Support RouteTLSConfig on HTTPRoute"
Support TLS on an HTTPRoute by implementing the `RouteTLSConfig`.

//ref: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.RouteTLSConfig

[2021-03-03 19:38] stevesloka opened #3440 "Support TLSRoute"
//ref: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.TLSRoute

[2021-03-03 19:41] stevesloka opened #3441 "Set Status on TCPRoute"
It's been stated that `projectcontour/contour` won't support `TCPRoute` in gateway-api. Currently, Contour doesn't watch for those types of resources, but thinking maybe we should and set an invalid (or `Rejected`) status on those objects in the event someone does setup a TCPRoute with a Contour Gateway and expects something to happen, but nothing ever does.

//ref: https://gateway-api.sigs.k8s.io

[2021-03-03 20:20] sunjayBhatia commented on #3441
I think that is a good idea and what the status seems to be intended for (and should probably be the same for UDPRoute)

https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.RouteGatewayStatus

[code]

[2021-03-03 20:24] stevesloka commented on #3441
Good call on the UDP Route, I'll add another issue for that. =)

[2021-03-03 20:26] stevesloka opened #3442 "Set Status on UDPRoute"
It's been stated that projectcontour/contour won't support UDPRoute in gateway-api. Currently, Contour doesn't watch for those types of resources, but thinking maybe we should and set an invalid (or Rejected) status on those objects in the event someone does setup a UDPRoute with a Contour Gateway and expects something to happen, but nothing ever does.

//ref: https://gateway-api.sigs.k8s.io/spec/

[2021-03-03 20:41] xaleeks commented on #3431
yup, if it's not enabled then please consider this a feature request.  If there are no objections to adding this, any chance we can get this in 1.14?

[2021-03-03 20:47] #2743 closed

[2021-03-03 20:57] skriss commented on #3431
Yep shouldn't be a big deal. Do you have thoughts on if these should be enabled by default?

[2021-03-03 23:26] youngnick commented on #3441
Yes, I agree, we should definitely be adding a status saying that Contour does not support Routes when they are referenced.

[2021-03-03 23:29] youngnick commented on #3431
I propose we add them as available but defaulted off, and see if users would like us to change that.

[2021-03-03 23:45] youngnick commented on #1691
This is great work @abhide!

Yes, what I see is that we have a way to tell the Contour bootstrap to configure ALS by looking at a named ExtensionService object. The ExtensionService object then allows us to configure the cluster that will be generated in the boostrap (timeouts and load balancing policy, mainly). In addition, you can point an ExtensionService object to `localhost` to send traffic t

[2021-03-04 01:29] abhide commented on #1691
Thanks @youngnick. Will starta WIP design doc PR and we can collaborate on this.

[2021-03-04 02:35] youngnick commented on #2543
I think that covers what we're talking about, yes.

[2021-03-04 02:39] youngnick commented on #2484
I think that we'll need to write this documentation again once the Operator has support for multiple installations as well.

[2021-03-04 02:46] youngnick commented on #3385
I've been thinking about this one for a few days, and I must admit I'm stumped. For this sort of periodic traffic drop, I'd expect something about either the Envoy or the Contour to be changing, and we've checked the obvious things (envoy logs, no restarts). The only other thing I can think to check with Contour is to check the Contour logs, it's possible if something is funky with Contour, it mig

[2021-03-04 04:00] stevesloka commented on #3385
There are some metrics in envoy we could look at if you've got prometheus up and running. I'll digg up the specifics in the morning (on phone now) but should be some for if connected to an xds server (e.g. contour). That would tell if that connection is dropping for some reason.

[2021-03-04 15:46] skriss commented on #3431
Yep makes sense to me - @xaleeks sound good?

[2021-03-04 15:59] SimonVHB opened #3443 "Contour ignores key field of genericKey for global rateLimitPolicy"
**What steps did you take and what happened:**
When applying a rateLimitPolicy on an HTTPProxy using a `genericKey` entry, the `key` field of the `genericKey` is ignored and the default value (`generic_key`) is passed on to the RLS.

Example configuration (using a kuard deployment as example and the envoy ratelimit service).

*HTTPProxy*
[code]

*Envoy ratelimit config*
[code]

*Envoy ratelimit de

[2021-03-04 16:01] skriss commented on #3443
👀

[2021-03-04 16:09] andream16 opened #3444 "Add the possibility to delete or set headers only on the mirrored request"
Hi everyone.

I was looking at [Traffic Mirroring](https://projectcontour.io/docs/main/config/request-routing/#traffic-mirroring) and I was trying to see if it's possible to remove headers only for the mirrored request leveraging [Header Rewriting](https://projectcontour.io/docs/main/config/request-rewriting/#header-rewriting).

The use case is the following:

- I want to mirror all requests on a

[2021-03-04 23:08] sunjayBhatia commented on #2878
See https://github.com/projectcontour/contour/pull/3446 for a guide on Contour and FIPS, please give feedback if you have it!

[2021-03-05 05:00] ravilr commented on #2933
@stevesloka  @skriss  Envoy still enforces max_program_size for re2 regexes via run time keys (defaults to 100): See the discussion here : https://github.com/envoyproxy/envoy/pull/11187.     it doesn't matter if using xDS v3 api.
whereas Contour since v1.10 have completely removed setting max_program_size for regexes in xDS route configuration, essentially breaking all users of regex path since Co

[2021-03-05 06:38] glerchundi commented on #399
Although I wanted to invest time to design this doc., I won't be able to do so for at least the next 3-6 months.

Just wanted to share this with you all to avoid generating false expectatives and to unblock in case someone wants to take and push it.

🙏

[2021-03-05 15:33] skriss commented on #3431
So it looks like Envoy intends to be able to support multiple versions of the RFC draft, if there are more versions in the future (currently only draft 3 is supported: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ratelimit/v3/rate_limit.proto#enum-extensions-filters-http-ratelimit-v3-ratelimit-xratelimitheadersrfcversion).

WDYT about simplifying this for Contour, and

[2021-03-05 19:21] skriss opened #3449 "gateway processor logs an error in a cluster that doesn't have Gateway API installed"
Contour should continue to behave as it does today for users that don't have Gateway API installed in their cluster.

When running Contour in such a cluster, the following error-level log is generated by the Gateway API processor:

[code]

There are several ways this could be resolved, but optimally it'd be nice to not even add the Gateway API processor to the DAG builder if the Gateway API isn't

[2021-03-08 02:16] youngnick commented on #1176
Okay, I'm having a look into this, and I'm going to start by checking that it's still a problem. To do this, I'm going to do something like this:

- Comment out the checks for hostname validity
- Make invalid hostnames
- Send to Envoy
- Check we get a NACK (should be logged)
- Get a config dump
- Make a change
- Get a new config dump
- Fix the problem
- Get a new config dump

[2021-03-08 04:27] youngnick commented on #1176
Okay, I ran the above process with both the "contour" and "envoy" xDS engines, and got the following results:
- For "contour" xDS server, this causes a single error line for each Kubernetes change. Config still takes effect.
- For "envoy" xDS server, this causes a continuous cycle of rejecting updates. Config still takes effect. This is definitely an operational problem, as gRPC updates are very f

[2021-03-08 14:05] DmitryBrus opened #3451 "https://projectcontour.io/ not available for few days already"
I know that it is not definitely a bug of contour,
but its site https://projectcontour.io/ (and installation as well) not available, somebody knows what happened, where to track the status?

[2021-03-08 14:49] sunjayBhatia opened #3452 "Guidance on setting Envoy runtime keys"
whereas Contour since v1.10 have completely removed setting max_program_size for regexes in xDS route configuration, essentially breaking all users of regex path since Contour v1.10.

_Originally posted by @ravilr in https://github.com/projectcontour/contour/issues/2933#issuecomment-791154676_

This issue seems like a generic one that could be expanded to allow support or at least guidance in docs

[2021-03-08 14:51] sunjayBhatia commented on #3452
@ravilr To start you could not rely on `contour bootstrap` and use a modified version of what that outputs as your Envoy bootstrap configuration (it isn't required that you use the output of that tool as your Envoy bootstrap config, you can certainly roll your own)

But it seems useful to have something in Contour that helps with setting up Envoy runtime config, even if it is just a guide/docs

[2021-03-08 15:36] skriss opened #3453 "cmd/contour: refactor and add test coverage to serve.go"
Over time, https://github.com/projectcontour/contour/blob/main/cmd/contour/serve.go has grown to be fairly complex. Currently there's no test coverage for it, and most of the logic is in one giant helper function, `doServe(...)`.

We should try to refactor this to break it down into some smaller logical pieces, and also add test coverage (doing this as part of refactoring may be easier than trying

[2021-03-08 16:31] stevesloka opened #3454 "Spec.Rules.ForwardTo is empty return HTTP status code 503"
ForwardTo defines the backend(s) where matching requests should be sent. If unspecified, the rule performs no forwarding. If unspecified and no filters are specified that would result in a response being sent, a 503 error code is returned.

//ref: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.HTTPRouteRule

[2021-03-08 16:33] stevesloka opened #3455 "Invalid Spec.Rules.ForwardTo should set status on Gateway"
If the forwardTo service cannot be found, the controller should raise the “ResolvedRefs” condition on the Gateway with the “DegradedRoutes” reason. The gateway status for this route should be updated with a condition that describes the error more specifically.

//ref: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.HTTPRouteForwardTo

[2021-03-08 19:49] #3449 closed

[2021-03-08 19:51] #3443 closed

[2021-03-08 22:03] cloudmaniac commented on #3385
FYI, we migrated production to a fresh k8s cluster with exact same config and kept the pre-prod on the previous cluster: production is running fine, and pre-prod continues to have regular timeouts.

I'll check about Contour logs later, and see if I can deploy Prometheus (but I never did it, so I have to read some doc first).

[2021-03-08 22:09] youngnick commented on #3385
Thanks for the update @cloudmaniac. I wonder what it is about the pre-prod cluster that's different? Looking forward to hearing more.

[2021-03-08 22:28] cloudmaniac commented on #3385
Nothing different technically; I used the same VM templates, the same components version, and the same Kubespray config to configure kubernetes. The only difference is the IPs used.

[2021-03-08 22:39] youngnick commented on #3452
I think there are two things for us to do here:
- Fix the max_program_size as soon as we can, somehow. Istio did it by using the deprecated fields temporarily. (istio/istio#26153)
- Figure out a more general thing to do about runtime config of Envoy. I think that RTDS is probably the way to go here, so that you can flip things around without needing to restart Envoy.

[2021-03-08 22:41] youngnick commented on #3451
Thanks for logging this @DmitryBrus.

Looks like this was caused by human error during a migration of the domain ownership. It's been fixed now, we'll discuss what to do about this for the future at the next maintainer meeting and report back here.

[2021-03-08 22:42] youngnick commented on #3431
That's a great plan @skriss. I'll check out the PR today.

[2021-03-08 22:46] youngnick commented on #3385
That's interesting, is there any chance those IPs have been double-allocated? I've seen something like that before, where there was a routing tug-of-war over ownership of some IPs, and when traffic showed up at the wrong place, it was dropped by firewalls and so disappeared.

[2021-03-09 00:13] ravilr commented on #3452
@sunjayBhatia  sure.  for others who stumble on to this due to the broken regex path in Ingress support, till an official Contour release gets this, you can either add the below layered runtime config snippet to envoy_config.json( passed as bootstrap config to envoy -c ):

[code]

or, if willing to run a patched version, below patch against contour-v1.10.1:
[code]

And yes, i agree that Contour ca

[2021-03-09 06:02] DmitryBrus commented on #3451
@youngnick thank you for response, we were kind of stuck while downtime.

[2021-03-09 08:09] cloudmaniac commented on #3385
No, I made sure it was not an IP conflict.

[2021-03-09 17:01] benmoss commented on #3264
Yep, also running into this issue because I'm using the https://hub.docker.com/r/bitnami/envoy image instead of the envoyproxy/envoy one

[2021-03-09 22:41] sunjayBhatia opened #3460 "Ingress: Pollution of TLS config across Ingress resources"
Currently when we are processing Ingress resources, we check the existing DAG to see if there is an existing secure virtualhost we can add routes to. This is because we are pre-calculating all the secure virtualhosts based on all the various TLS configs on the ingresses we are processing.

See: https://github.com/projectcontour/contour/blob/1fb1401a7e73dcc673e5798795e89f75cfd5ff44/internal/dag/ing

[2021-03-09 22:53] sunjayBhatia opened #3461 "Ingress: Should default backend be merged with or overridden by Ingress rules"
Ingress resources have the ability to configure set a default backend: https://kubernetes.io/docs/concepts/services-networking/ingress/#default-backend

You can also choose to not configure a host on an Ingress rule and use a prefix path of `/` to match all requests: https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-rules

These two concepts technically conflict and need pro

[2021-03-09 22:59] youngnick commented on #3385
Thanks @cloudmaniac.

[2021-03-09 23:03] youngnick commented on #3166
Yes, the domains we need to support are:
- one valid DNS label (by RFC1123)
- two or more valid DNS labels, separated by `.`, that is, what RFC1123 defines as a "subdomain".

The single valid DNS label is important so that people may use a Kubernetes service name - this enables using Contour as a cluster-internal thing (which some people want to do).

[2021-03-09 23:14] sunjayBhatia opened #3462 "Ingress: TLS secret with no hostnames should be applied to all Ingress rules"
This is not in this page: https://kubernetes.io/docs/concepts/services-networking/ingress/#tls

However the go documentation mentions that the hosts field on an Ingress TLS configuration is optional: https://pkg.go.dev/k8s.io/api/networking/v1#IngressTLS

This means we should apply a secret with empty hosts to *all* rules in that Ingress resource

*Note* see the callout on the k8s docs page in the

[2021-03-10 00:34] sunjayBhatia commented on #3460
I have a PR for this I am working on, assigning to myself

[2021-03-10 11:32] net-brain opened #3463 "setting envoy audiences"
I have a Web API behind a contour proxy. While accsing that API I'm getting an 401 with

[code]

How do I define the audience tag for envoy?

[2021-03-10 13:35] sivakrishna-git commented on #3313
@youngnick I feel I am not right person to make changes or provide design for contour new feature as I don’t know  contour end to end architecture and I never did coding in  go language , can someone from contour team prioritize then propose design and make necessary changes please

[2021-03-10 19:32] sunjayBhatia commented on #3460
We are explicitly allowing "overlaying" ingresses: https://github.com/projectcontour/contour/commit/e471bf4048b0043064a52095c8bb0a69a1892ed8

Not sure if anyone is actually using this feature and theres not that much explanation why we decided to do this (maybe makes some sense from a multi-tenant POV where one team can create the TLS setup for a host and others set up subcomponent specific rules?

[2021-03-10 20:01] sunjayBhatia opened #3467 "Ingress: Support multiple secrets for a given host"
The [Ingress spec](https://pkg.go.dev/k8s.io/api/networking/v1#IngressSpec) supports configuring multiple TLS secrets which each can be applied to [multiple hostnames](https://pkg.go.dev/k8s.io/api/networking/v1#IngressTLS).

There is no admission check for uniqueness of secret names or hostnames within the various lists of hosts.

So, something like below is valid:

[code]

Currently, we create e

[2021-03-10 21:25] sunjayBhatia commented on #3460
WIP branch: https://github.com/sunjayBhatia/contour/tree/fix-cross-ingress-tls-pollution

[2021-03-11 15:23] sunjayBhatia commented on #3461
See https://github.com/projectcontour/contour/pull/3468

[2021-03-11 16:29] sunjayBhatia commented on #2135
So we already support regex path matching on Ingress resources but the current implementation is such that the path match type is ignored if you put something in the path field that "looks like" a regex.

Seems like this regex path match deal is better suited for just the `ImplementationSpecific` path match type and should be documented as such, however that would be a breaking change.

So moving

[2021-03-11 16:34] sunjayBhatia opened #3469 "Ingress: Detailed site documentation on Ingress supported features, caveats, gotchas, etc."
We need this to explain our current level of support of Ingress v1 and the various edge cases and gotchas

This document should evolve as we implement the spec

[2021-03-11 17:57] sunjayBhatia commented on #3039
The missing service is being logged now: https://github.com/projectcontour/contour/pull/3359

[2021-03-11 19:48] juanvasquezreyes opened #3470 "Ingress: Secure GRPC Backend"
I'm trying to expose a grpc port using ingress contour the grpc app it has tls enabled and it uses ca to validate the access
when I disable tls and use h2c works fine, but when I tried to expose it through httpproxy it doesnt work as expected using h2

At the service I added the annotation
projectcontour.io/upstream-protocol.h2: "14250"

my httpproxy is the following, where secretName is for the u

[2021-03-11 22:17] youngnick commented on #3460
The "overlay" behavior is there because it's what nginx-ingress does; to an extent, "what nginx-ingress" does was the Ingress standard before v1, because the spec was quite vague. I'd say we need to keep it at this point, but just document what happens in those cases.

[2021-03-11 22:19] youngnick commented on #3313
Thanks for that clarification @sivakrishna-git. We'll do our best to get this one prioritised, but I think there are a few other things ahead of it at the moment. We'll leave the `help-wanted` tag on here so that people can pick it up, I think the direction is pretty clear.

[2021-03-11 22:22] youngnick commented on #3461
So, I think the general rules should be:
- when there's no conflict, merge.
- when there is a conflict, more specific beats less specific. So a specifically configured item would beat a default backend.
- When two things that are equally specific match, the referred services should be load balanced across (this is the nginx-ingress behavior, and I don't think it's great, but it's either this or dr

[2021-03-12 02:43] youngnick commented on #2135
We could also put a changelog note and change it, although that would also not be ideal. I anticipate that the Ingress code is going to be around a *long* time though, so we should make it as tidy as posisble.

If we don't want to do that, @sunjayBhatia's solution above seems like the only way.

[2021-03-12 03:59] du2016 opened #3474 "websocket return error when contour work with istio with gzip filter"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1. install a websocket svc in k8s with istio 1.8.1,
2. install contour 1.10.1 and config httpproxy to this svc,open and test ,the websocket api will return `Error during WebSocket handshake: Unexpected response code: 503`
3. open envoy debug log mode, log print `transfer encoding not allowed in 1x

[2021-03-12 08:26] Zsolt-LazarZsolt commented on #2354
Hi
Back in the day I created a similar ticket for envoy too:
https://github.com/envoyproxy/envoy/issues/10159, I paste my last comment here too.

I poked around the issue, as a novice.
I recorded some tcpdumps that I unfortunately can not share.
To my eye it seemed like the following happening:

1.     Envoy starts up as a part of a contour cluster
2.     when the pod starts in a v6 only cluster,

[2021-03-12 15:49] sunjayBhatia commented on #2135
Another weird caveat that the spec wants: https://github.com/kubernetes-sigs/ingress-controller-conformance/blob/79bd068cbb31d77c2a060f61eea795f9791a3d48/features/path_rules.feature#L162

Prefix matches are not string prefix matches, but path label matches

See also https://kubernetes.io/docs/concepts/services-networking/ingress/#examples

[code]

[2021-03-13 05:22] nak3 opened #3476 "HTTPRoute is not reconciled when backend service is updated"
**What steps did you take and what happened:**

#### step-1. Create HTTPRoute before kuard service

[code]

__As expected__, contour produces the error at this moment:

[code]

#### step-2. Deploy kuard service

[code]

#### step-4. Access to the service (and curl hangs)

[code]

**What did you expect to happen:**

- In above scenario, HTTPRoute should be available automatically when backend servi

[2021-03-14 07:47] alexanderturner commented on #3244
Hey @skriss looks like this is working now, at least no longer crashing. Thanks for the quick action. Just confirming that the ExternalName currently only supports external endpoints that present HTTP only? My external services are HTTPs and don't appear to be working.

[code]

[2021-03-15 14:46] stevesloka opened #3479 "Make gateway config optional"
Currently with GatewayAPI Contour can be configured to watch a single gateway (default: `contour/projectcontour`).

The problem I've run into is that we have two places to configure listeners, we need to decide which parameter takes precedence if they differ.

I propose we make the gateway config in the configuration file optional (which what @skriss said in the beginning 😁 ). If Contour finds a G

[2021-03-15 15:02] skriss commented on #3244
@alexanderturner HTTPS ExternalName services should work fine too. Let me try out something similar to your setup to confirm.

[2021-03-15 17:18] skriss commented on #3244
Just looking at this again, looks like your `HTTPProxy` specifies a port of `443` but your Service is using `8006`, those would need to match.

[2021-03-15 17:25] skriss commented on #3476
@nak3 looks like this will be fixed by #3475.

[2021-03-15 20:37] #2878 closed

[2021-03-15 20:41] sunjayBhatia commented on #2878
See https://projectcontour.io/guides/fips/

[2021-03-15 20:44] skriss opened #3482 "integration tests should have a single YAML file defining the Contour config map"
Today, the process for creating the Contour config file ConfigMap is:

1. Apply `examples/contour/01-contour-config.yaml` as a baseline (https://github.com/projectcontour/contour/blob/main/_integration/testsuite/install-contour-working.sh#L71-L73)
2. Apply a customized version of it to include a fallback certificate, then restart Contour to pick up the change (https://github.com/projectcontour/con

[2021-03-15 21:31] skriss commented on #3482
Need to think about order of operations here, since both fallback cert and ratelimit config entries reference other resources that are created as part of the install-* scripts.

[2021-03-15 23:10] abhide commented on #3352
The above links seems to be broken; here is the correct link
https://pkg.go.dev/sigs.k8s.io/gateway-api@v0.2.0/apis/v1alpha1#HTTPRouteForwardTo

[2021-03-15 23:11] abhide commented on #3352
@stevesloka Any objections if I start working on this ticket?

[2021-03-16 09:02] furdarius opened #3483 "Continuous stream of "handling v3 xDS resource request" messages in logs"
Would it be possible to add setting to adjust log level for logrus, as it was suggested in https://github.com/projectcontour/contour/issues/556

Or get rid of `handling v3 xDS resource request` info message in code?

I'm asking because in our setup with x12 Envoy instances and many routes in several HTTPProxy, we have a continuous stream of `handling v3 xDS resource request` messages in logs.

htt

[2021-03-16 13:14] furdarius opened #3484 "MaxConnectionPools setting for Envoy"
Envoy configuration tells us, that [MaxConnections](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/circuit_breaker.proto#envoy-v3-api-field-config-cluster-v3-circuitbreakers-thresholds-max-connections) is "_The maximum number of connections that Envoy will make to the upstream cluster_".

The problem here is that the actual number of connections is much higher than the value

[2021-03-16 13:24] abhide commented on #1691
Sent out a design document PR.
Assigning this to myself.

[2021-03-16 13:46] stevesloka commented on #3352
@abhide we need to come together on a resolution on this (https://github.com/kubernetes-sigs/gateway-api/issues/578) before tackling this issue first to understand the logic needed (i.e. port required with serviceName, but not with backedRef).

[2021-03-16 14:53] #3431 closed

[2021-03-16 17:54] #3476 closed

[2021-03-16 21:13] sunjayBhatia commented on #3461
Playing around with this a bit, its easy to get the simple parts of some of these rules working in isolation but when you combine them and the various possible other fields that are set on an Ingress and route within that, and then put HTTPProxy resources on top (and then eventually HTTPRoutes) it becomes much more complicated (which is also seemingly why Gateway API has some concept of oldest-win

[2021-03-16 21:29] Berndinox opened #3489 ""help wanted" - Contour behind L7 LB"
I'm sarching for an equivalent of: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#use-forwarded-headers

--- HTTPS ---> Cloud L7 LB (SSL Offload) ------> Contour Ingress Controller ---> WordPress

I got a mixed Content Error on Wordpress, i think because HTTP_X_FORWARDED_PROTO Header is missed.
Any suggestions?
Thanks!

[2021-03-17 03:58] youngnick commented on #3461
Right now, the expected behavior (thanks nginx-ingress) is that they will be merged. I assumed here that meant this would apply in the absence of other factors (like websocket rules, or different `force-ssl-redirect` things. We can change this to pick only one, but I think it's pretty likely to negatively impact users. (For one, we use the merge/override functionality for cert-manager's HTTP01 cha

[2021-03-17 04:02] youngnick commented on #3483
Those log lines should probably be Debug level, I think, which would turn them off unless you ask for them. Thoughts @stevesloka @skriss @sunjayBhatia @danehans ?

[2021-03-17 04:07] #3264 closed

[2021-03-17 07:28] vinzo99 commented on #3264
Thanks ! the fix being available in `main` branch, implies it should also be in next freeze `release-1.14`, right ?

[2021-03-17 08:29] patrickshan opened #3490 "shutdown manager uses hardcoded admin port"
**What steps did you take and what happened:**
we use customised admin port for our envoy pod through [--admin-port](https://github.com/projectcontour/contour/blob/64db9081049afb968b24be94541cadf074fd75ad/cmd/contour/bootstrap.go#L30) but it seems shutdown manager uses [ hardcoded port 9001](https://github.com/projectcontour/contour/blob/main/cmd/contour/shutdownmanager.go#L33) which causes proble

[2021-03-17 08:48] patrickshan commented on #3489
@Berndinox using [requestHeadersPolicy](https://projectcontour.io/docs/main/config/request-rewriting/) to rewrite that header might solve your problem ?

[2021-03-17 11:40] Berndinox commented on #3489
Yeah that's it - thanks @patrickshan

If someone else is coming here.
_Tags: Wordpress, Contour, Mixed-Content, SSL-Termination_

Bitnami/Wordpress: value.yaml
`wordpressScheme: http`

HTTPPROXY:
[code]

[2021-03-17 14:12] sunjayBhatia commented on #3264
Yes that is correct

[2021-03-17 14:18] sunjayBhatia commented on #3483
I would be ok with moving it to debug level, when I’ve debugged in the past I don’t usually use this log line much myself

Do we have a method of dynamically changing log level without restarting Contour? That could make this decision easier as well

[2021-03-17 14:21] sunjayBhatia commented on #3483
Doesn’t seem like we have anything here https://github.com/projectcontour/contour/blob/80f1f7483a2b65013021e131327daa79b723f6db/internal/debug/debug.go#L35

[2021-03-17 14:36] sunjayBhatia opened #3491 "Support debug server dynamically configurable log level"
Some logs that are useful for debugging low level issues are logged at a level that is not visible by default (e.g. the default log level is info but some things may be logged at debug level).

When debugging, it is often not viable to restart contour to change the log level (especially in production deployments), especially when working with a rare or specific issue.

We can potentially enhance t

[2021-03-17 14:37] sunjayBhatia commented on #3483
https://github.com/projectcontour/contour/issues/3491

[2021-03-17 14:38] stevesloka commented on #3483
Yeah fine to turn off. Would be nice to be able to turn on for an instance of Contour to debug.

[2021-03-17 14:39] stevesloka commented on #3490
Yup you're correct @patrickshan. Might need a flag to shutdown manager to let you customize.

[2021-03-17 14:41] skriss commented on #3483
+1 for both changes

[2021-03-17 15:06] sunjayBhatia commented on #3461
Another WIP branch for some of this edge case work: https://github.com/sunjayBhatia/contour/tree/default-backend-no-override-2

[2021-03-17 16:26] #3482 closed

[2021-03-17 17:46] #3479 closed

[2021-03-17 17:54] stevesloka commented on #3491
+1 on the contour cli, was just going to suggest. =)

[2021-03-17 18:04] danehans commented on #3353
@sunjayBhatia the API validation of this field is pretty basic, xref: https://github.com/kubernetes-sigs/gateway-api/blob/v0.2.0/apis/v1alpha1/shared_types.go#L218-L219. Implementations will need to perform additional validation to meet the spec.

[2021-03-17 20:24] alessandroargentieri commented on #3490
/assign

[2021-03-17 20:26] alessandroargentieri commented on #3490
Hi, how to assign it to myself?

[2021-03-17 20:44] #3483 closed

[2021-03-17 20:53] skriss commented on #3490
@alessandroargentieri assigned!

[2021-03-17 22:16] #3353 closed

[2021-03-18 03:55] alexanderturner commented on #3244
Right you are; I missed that. I worked this out and put together an article about it so hopefully others don't get stuck. https://alexpturner.medium.com/exposing-external-services-in-contour-5a4adcd3dfbd

Thanks for the help

[2021-03-18 03:55] #3244 closed

[2021-03-18 05:04] sanketshirode opened #3496 "TLS Error"
I'm facing issue when configuring certificate in httpproxy. Below are the details of the error
    Errors:
      Message:             Spec.VirtualHost.TLS Secret "vc-staging-cert" is invalid: Secret not found
      Reason:              SecretNotValid
      Status:              True
      Type:                TLSError

   But the secret exists in the same namespace as proxy , also I tried tls deleg

[2021-03-18 13:01] arthurlm opened #3497 "Missing TLS protocol option for ExtensionServiceSpec"
I am trying to create an extension service using TLS protocol option as it is explain in doc:
https://github.com/projectcontour/contour/blob/da72199674433376bda89d5ad48ec53e2c87cb92/apis/projectcontour/v1alpha1/extensionservice.go#L80

However it is not available in spec:
https://github.com/projectcontour/contour/blob/da72199674433376bda89d5ad48ec53e2c87cb92/apis/projectcontour/v1alpha1/extensions

[2021-03-18 13:32] tluzon-digibank opened #3498 "Upstream TLS L7 doesn't work"
I'm trying to proxy to an external service using contour.

When using L7 (routes), serving https requests and upstreaming to an http server it's working fine.
When using L4 (tcpproxy) using tls passthrough - serving https and upstreaming to https, it also works fine.

When using L7 (routes), serving https requests and upstreaming to an https server I'm getting the following response in the client:

[2021-03-18 13:48] stevesloka commented on #3498
Hey @tluzon-digibank you might need to set a `requestHeadersPolicy` and swap the `Host` header on the outgoing request to your external name service. Envoy will keep the original header.

//ref: https://projectcontour.io/docs/v1.13.1/config/external-service-routing/#external-service-routing

[2021-03-18 13:51] stevesloka commented on #3497
Hey @arthurlm, what are you looking to use the ExtensionService for?

Right now Contour utilizes that for gRPC services for External Authentication as well as RateLimiting, which are all done over `h2` or `h2c`. But the idea was to make it a generic service integration point so I'm curious what you're trying to setup.

[2021-03-18 13:51] tluzon-digibank commented on #3498
Thanks for your reply @stevesloka,

I'm doing that - it's in the config I've posted, problem is that the request never leaves the envoy and thus doesn't have the chance to get dropped due to wrong host header.

Tal.

[2021-03-18 13:58] stevesloka commented on #3496
Hey @sanketshirode, it's possible that there is a validation error happening and the "secret not found" is misleading.

Would you be able to tail your Contour logs to see if there's something that pops up? Contour looks for the following in a secret:

- TLSCertKey: `tls.crt`
- TLSPrivateKeyKey: `tls.key`
- CommonName
- SubjectAltNames

If any of those are invalid the secret doesn't get added to Co

[2021-03-18 14:27] arthurlm commented on #3497
Hi @stevesloka,
I am trying to do an External Authentication service using gRPC.

However, for now it does not work because my HTTP2 server failed on parsing authority header field.
See this issue: https://github.com/hyperium/h2/issues/525
This is why I was trying to use `tls` protocol option.

Please note that gRPC and HTTP2 are still quite new to me.
So probably using HTTP1 for gRPC is not possi

[2021-03-18 14:51] stevesloka commented on #3498
Sorry, I missed that part! So try changing your header key to `Host` with a capital `H` and also move the `requestHeadersPolicy` back a level to the route level not the service level.

[2021-03-18 15:12] tluzon-digibank commented on #3498
@stevesloka, thank you for your time,

I've tried with a capital H and it didn't help.
Putting the `requestHeadersPolicy` at the same level as `routes` was not accepted and came out as an error.

Anyhow, due to the fact that the request doesn't leave the envoy I assume that the characteristics of the request are not relevant in this stage, meaning, something that would have been rejected by the ex

[2021-03-18 16:20] skriss commented on #3489
thanks @patrickshan & @Berndinox!

[2021-03-18 16:20] #3489 closed

[2021-03-18 17:46] danehans opened #3500 "Use Validation Package for Ingress Processor"
**Please describe the problem you have**
Update Ingress processor to validate hostnames using validation package. This will ensure consistency of hostname validation for Gateway and Ingress API types.

Requires: https://github.com/projectcontour/contour/pull/3499

[2021-03-19 04:33] sanketshirode commented on #3496
Hey @stevesloka thanks a lot for responding. Please take a look at my secret given here
![image](https://user-images.githubusercontent.com/30955166/111731702-0418b000-889a-11eb-802d-73af47a3516e.png)

Nothing I could find in the contour logs, which can relate to this error. Please let me know anything else I could check ?

[2021-03-19 14:44] sanketshirode commented on #3496
Hey @stevesloka you were right,  now I can see the logs complaining about missing CN or Sub Alt Name but when I checked both are present in cert. Please check the attached screen shot

![image](https://user-images.githubusercontent.com/30955166/111797629-5506c380-88ef-11eb-9b08-629d2418113d.png)
![image](https://user-images.githubusercontent.com/30955166/111797753-723b9200-88ef-11eb-8f14-6a9233786

[2021-03-19 14:47] sanketshirode commented on #3496
only thing is this is a wild card certificate and I think it shouldn't be an issue

[2021-03-19 15:01] stevesloka opened #3503 "Secret validation duplicated in cache & dag layers"
We sanitize secrets when they arrive at the cache layer (https://github.com/projectcontour/contour/blob/main/internal/dag/secret.go#L34:6), however, that logic is duplicated in the dag package (https://github.com/projectcontour/contour/blob/main/internal/dag/accessors.go#L225).

I theory we should be able to rely on the secrets being valid from the cache bit, but in any case should centralize this

[2021-03-22 04:44] youngnick commented on #3496
Hi @sanketshirode, yes, I think you're right, I think that this is a bug in our cert-validation code, based on those screenshots, the cert should validate.

I think it could be one of two things:
- the Subject contains an `O = ` before the `CN = `, or
- the wildcard DNS name is first.

I'll drop this in our 'Needs investigation' column on our Project Board, and we'll get someone to take a look.

[2021-03-22 04:46] youngnick commented on #3491
Neat idea, seems very useful.

[2021-03-22 04:49] youngnick commented on #3463
I'm sorry for the delay in responding to you on this @net-brain.

Can you tell me more about your setup here? What does the service behind Contour look like? Are you using external auth?

[2021-03-22 04:53] youngnick commented on #3484
Sorry to take a while to get back to you on this one @furdarius.

This seems like one of those options that might be perilous to change. It seems reasonable to have it tunable, but if we're going to do that, we'd need to know a bit more about why the default for `max_connection_pools` is the number of HW threads, so that we can give guidance about when to change it. I prefer not to add a tunable u

[2021-03-22 04:57] youngnick commented on #3470
Sorry about taking a while to get back to you @juanvasquezreyes.

The annotation for TLS needs to be on the _Service_, not the HTTPProxy. So in your case for the annotation to work, the `projectcontour.io/upstream-protocol.h2: "14250"` should be an annotation on the `jaeger-collector` Service, not the HTTPProxy.

However, you've also specified the `protocol: h2` field, which would override the ann

[2021-03-22 05:00] youngnick commented on #3474
Hi @du2016, sorry about the delay in getting back to you on this one.

We haven't done a lot of checking in how Contour interoperates with Istio, so thanks for investigating.

When you say you removed `envoy.filters.http.gzip`, what do you mean? Did you make a custom build of Contour (since we enable that by default)? Or did you disable it on the Istio side?

[2021-03-22 05:08] youngnick commented on #2135
We specifically had to stop doing prefix matches using Go's Path support because of weird interactions with inclusion for HTTPProxy, but if we're going to meet the spec, maybe the Ingress validation code can just treat them as path labels.

[2021-03-22 06:08] du2016 commented on #3474
@youngnick  yes i build contour myself

[2021-03-22 07:12] movikbence commented on #3323
Hi

Is the fix included in contour version 1.13.0?

Thanks!

[2021-03-22 13:36] sunjayBhatia commented on #3323
@movikbence yes this commit https://github.com/projectcontour/contour/commit/64db9081049afb968b24be94541cadf074fd75ad is included in Contour 1.13.0+

[2021-03-22 13:39] sunjayBhatia commented on #2135
To close the loop what we ended up coming up with in office hours is the following:
- Exact match gives you exact matching
- Prefix match gives you path segment matching
- Implementation specific will give you a regex match if you supply a string that "looks like" a regex and otherwise a string prefix match
  - To ensure people relying on the old behavior have a path match they can use
  - If you

[2021-03-22 17:45] furdarius commented on #3484
Thank you for the reply!

For the current Envoy setup, we're using [--concurrency](https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-concurrency) option, to limit the number of Envoy threads.

Our setup includes 12 instances of Envoy as ingress HTTP LB, each instance of Envoy is launched on the x32 CPU node. So, there are at least `12*32=384` connections per pod - quite a high n

[2021-03-22 21:29] skriss opened #3507 "internal/xdscache/v3/route.go: remove duplication"
This file has a bunch of duplication in the visitor code across the sections that deal with insecure vhosts, secure vhosts, and fallback vhosts. #3409 was an example of a bug that was partly caused by this duplication, because a change was made in one place but not duplicated in the other spots.

 It looks like some helpers could be extracted to go from DAG routes to Envoy routes, and from DAG vho

[2021-03-23 04:40] youngnick commented on #3498
Hi @tluzon-digibank, does the same setup work if (for testing purposes, you remove the DNS rewrite from the solution? I've never seen anyone do that before, so I'm wondering if there's some weird interaction there?

[2021-03-23 15:32] echupriyanov opened #3509 "[TLS] ca.crt from `kubernetes.io/tls` secret is not served"
I have a question regarding HTTPS Ingress serving using Contour as Ingress Controller.
I have created proper `kubernetes.io/tls` type secret, containing `tls.key`, `tls.crt` *and* `ca.crt` files.
But when I check for certificates presented by Ingress, I see only server's certificate `tls.crt` presented, but no CA chain certificates from `ca.crt`.

Is this correct behavior? Is it possible to tune C

[2021-03-23 16:43] #3401 closed

[2021-03-23 17:59] echupriyanov commented on #3509
Looks like as a workaround I can concatenate `ca.crt` to `tls.crt` and use resulting chain as `tls.crt`. But I think it would be more idiomatic for Contour to make this concatenation on user's behalf

[2021-03-23 18:00] stevesloka commented on #3351
Fixed in https://github.com/projectcontour/contour/pull/3466

[2021-03-23 18:00] #3351 closed

[2021-03-24 17:03] Berndinox opened #3513 "DOC - Healthz of Envoy Pod"
Hy,

i've read: https://projectcontour.io/guides/health-checking/

However, i dont find any examples, so i tried:

- Add Port to Envoy Daemonset
- Add Port to LB SVC

I cant reach LB-IP:8000/healthz

Any examples available?

[2021-03-25 08:10] vacheli opened #3514 "net::ERR_INCOMPLETE_CHUNKED_ENCODING 200 (OK)"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Contour version: 1.131.
- Kubernetes version: (use `kubectl version`): v1.20.4
- Kubernetes installer & version: v1.20.4
- Cloud prov

[2021-03-25 09:53] youngnick commented on #3514
Thanks for this issue @vacheli, I think we'll need a little more than that though. Where is this error found?

[2021-03-25 10:22] vacheli commented on #3514
![image](https://user-images.githubusercontent.com/5040231/112457705-f9c54d00-8d96-11eb-9dc5-a105b679c53f.png)

Using chrome access this web.

[2021-03-25 10:29] youngnick commented on #3513
Thanks for this issueu @Berndinox. From what you're saying, it seems you want to health-check the Envoys?

Internally, we use the port `8002`, with a path of `ready` for health-checking Envoy itself, but exposing this to the world means also exposing your stats, as the two share a port. I'd be careful about using this for health-checking Envoy for this reason.

I'd actually recommend using the HTT

[2021-03-25 10:33] Berndinox commented on #3513
Thanks for clarification!

[2021-03-25 10:34] youngnick commented on #3514
Okay, thanks for that. That error says that the transfer is being cut off partway through. Really, the only way I'd see that happening is if the transfer is taking a long time, the Envoy timeouts don't match your usage profile, or there's an issue with the underlying CNI.

I've never seen anything like this before, so I'm not sure where to go from here. Could you tell me more about your install? H

[2021-03-25 10:38] youngnick commented on #3513
No problem. Does this close out your question?

[2021-03-25 10:40] #3513 closed

[2021-03-25 16:18] skriss opened #3516 "certgen_test.go test flake"
https://github.com/projectcontour/contour/runs/2194721987?check_suite_focus=true

I've seen this test flake a number of times. It looks like for validating custom cert lifetimes we're doing some "current time" manipulation (https://github.com/projectcontour/contour/blob/main/pkg/certs/certgen_test.go#L50-L53) and there's probably a race condition in there when the test is running slowly.

[2021-03-25 19:04] sunjayBhatia commented on #2146
Another edge case:
- Insert 2 IngressClasses both annotated to be default
- Insert an Ingress with no annotation or Spec.IngressClassName -> Correctly see that it is rejected
- Insert an Ingress with a Spec.IngressClassName set
- Modify that Ingress to remove Spec.IngressClassName -> Update not rejected

[2021-03-25 21:40] sunjayBhatia commented on #2146
Is there any reason we would want to configure routes for an Ingress with an ingress class annotation that is not what contour is looking for but an ingress class name in the spec that is?

e.g.

[code]

[2021-03-25 21:53] skriss commented on #2146
The KEP had some info about priority here - from https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1453-ingress-api#interoperability-with-previous-annotation:

[2021-03-25 21:55] sunjayBhatia commented on #2146
Oh perfect thanks for that!

[2021-03-25 21:57] sunjayBhatia commented on #2146
There is a `v1beta1.IngressClass` type as well as the `v1.IngressClass` type, is it worth also watching that one? Or should we just scope to the new version and get away from the old version (we still support `v1beta1.Ingress` but convert to `v1.Ingress` internally, we could do the same for `IngressClass` but would have to add an RBAC rule I believe)

[2021-03-25 22:26] sunjayBhatia commented on #2146
Re: `Matches any ingress object, if a v1beta1.IngressClass exists and is annotated as the "default" class (i.e. ingressclass.kubernetes.io/is-default-class, no other classes are defined as "default" (see: https://kubernetes.io/docs/concepts/services-networking/ingress/#default-ingress-class)`

I'm not sure I agree with this rule:
- if you only have 1 IngressClass marked as default, any Ingresses t

[2021-03-25 22:29] sunjayBhatia commented on #2146
Similar to the above, Re `Matches any ingress object, if a v1beta1.IngressClass exists with the name matching --ingress-class-name, is annotated as the "default" class (i.e. ingressclass.kubernetes.io/is-default-class, and no other classes are defined as "default" (see: https://kubernetes.io/docs/concepts/services-networking/ingress/#default-ingress-class)`

It makes more sense to me that we just

[2021-03-25 22:44] skriss commented on #2146
Yep I agree with that, Contour shouldn't have to worry about what's the default ingress class, it just looks at what's on the Ingress vs. what's been configured for Contour to watch.

[2021-03-25 23:35] sunjayBhatia commented on #2146
What happens when you create an Ingress with a valid IngressClassName that Contour is watching but the actual IngressClass does not exist?

[2021-03-26 00:17] youngnick commented on #2146
We should be moving to v1.Ingress everywhere as much as possible, as v1beta1.Ingress will be removed from newer versions of Kubernetes soon, and v1.Ingress has been present since 1.16.

[2021-03-26 00:21] youngnick commented on #2146
The KEP says

So, since we don't support extra config via the IngressClass, it seems like it's actually mostly irrelevant for Contour.

To put that another way, the IngressClass object itself is used for:
- marking which thing is the default, which is done by the core admission controllers.
- holding extra configuration, which we don't currently support.

So, it turns out we should have read acces

[2021-03-26 00:38] sunjayBhatia commented on #2146
Somewhat a sad I have to go back to the KEP to read the spec and it's not on a site like we have with Gateway API :(

[2021-03-26 02:08] vacheli commented on #3514
helm -n ingress-contour install contour bitnami/contour \
--set ingressClass=test

[2021-03-26 03:57] abhide commented on #3467
@sunjayBhatia would like to work on fixing this one. Can I assign this to myself ?

[2021-03-26 06:25] vacheli commented on #3514
The issue was resolved. Because of duration timeout
[code]

Change timeoutPolicy's response and idle to infinity
[code]

[2021-03-26 06:25] #3514 closed

[2021-03-26 10:11] movikbence opened #3518 "Configurable option for TLS version between envoy and contour"
Hi

I asked a question on slack, if it is possible to set the minimum version of TLS between envoy and contour. I got that answer that in the moment it is not. I think it would be nice to have that.

Thank you for taking into consideration.

Br,
Bence

[2021-03-26 13:58] stevesloka commented on #3513
@Berndinox just to clarify a bit from what @youngnick said, checking against the open port is fine to know if Envoy is listening, but if you had to roll the Envoy pod that's where you'd want to check against `/ready` which will return a 5XX error in the event that Envoy is shutting down and the listeners are draining. The `shutdown-manager` in the Envoy pod helps out with this to wait for the SIGT

[2021-03-26 14:26] #3516 closed

[2021-03-26 15:55] #2135 closed

[2021-03-26 18:14] movikbence commented on #3323
Hello

I tried if it works with the given option in the configmap.

I looked into the commit itself and I saw that if this is set it should be appear in envoy configdump as:

        "dns_lookup_family": "V6_ONLY",
        "upstream_connection_options": {
          "tcp_keepalive": {
            "keepalive_probes": 3,
            "keepalive_time": 30,
            "keepalive_interval": 5

[2021-03-27 12:14] reddog335 commented on #3150
@stevesloka @doddatpivotal  Hi fellas.  I have the same exact use case.  Is this functionality available yet?

[2021-03-28 19:58] kushthedude commented on #2966
Hi @stevesloka , looks like the previous PR is abandoned, shall I move ahead with this issue?

[2021-03-28 20:28] kushthedude commented on #2635
Hi, can I work on documenting the following?

[2021-03-29 01:41] youngnick commented on #2635
Hi @kushthedude, of course. I think a good place to start is to put some more information about what features require what RBAC, and why, and to put that in the example YAMLs. Please feel free to ask for history if you need it.

[2021-03-29 01:43] youngnick commented on #3514
Great that this resolved your issue @vacheli, I'd recommend at some point coming back and checking if you can turn this down from `infinity` if you are expecting higher traffic, as not closing idle connections can cause resource leaks over time.

[2021-03-29 01:59] youngnick commented on #2966
I'm fine with you moving ahead, @stevesloka?

[2021-03-29 02:03] youngnick commented on #3484
Thanks @furdarius, that's great information, and I can see why you would want to limit that. I guess the next steps are for the person who picks up this issue to look into why the default is set to the number of hardware threads. We could also conceivably just put the tunable in, but I'm a little reluctant to do that without some understanding of the tradeoffs for Envoy in doing that, rather than

[2021-03-29 02:07] youngnick commented on #3474
Thanks @du2016, so you found the problem and it was fixed by removing the GZip filter from Contour altogether? If that's the case, I can see that there's some interplay here between Websockets and connecting to anotherr Envoy before the traffic arrives at the actual service.

In order to fix this, I can see a few options:
- adding a way to globally disable the GZip filter. I don't like this one, p

[2021-03-29 03:23] youngnick commented on #3518
This seems like a reasonable feature. Out of curiosity @movikbence, what do you want to set the TLS version to?

[2021-03-29 06:11] du2016 commented on #3474
@youngnick yes, this problem also may cause by istio's envoy config,we may also need talk about whether contour need adaptation for istio

[2021-03-29 06:50] prondubuisi opened #3524 "Broken Links with Make file and and Gemfile on site_contribution.md"
https://github.com/projectcontour/contour/blob/main/SITE_CONTRIBUTION.md#local-site-testing
I am making a PR to fix this

[2021-03-29 07:23] movikbence commented on #3518
since that is is 1.2 now, I would like to have 1.3

[2021-03-29 14:39] stevesloka opened #3526 "Remove RouteParentStatus from routes if a Gateway no longer allows the route's kind or namespace"
If the selector of a Gateway changes, a set of routes might now not be selected any longer, in that case, the route status should be updated to remove the referenced gateway.

//ref: https://github.com/kubernetes-sigs/gateway-api/issues/591

[2021-03-29 14:41] sunjayBhatia commented on #3497
CI failure can be ignored, should be fixed by https://github.com/projectcontour/contour/pull/3521

[2021-03-29 15:05] #3497 closed

[2021-03-29 20:39] stevesloka commented on #2966
Sounds good @kushthedude!

[2021-03-30 04:16] youngnick commented on #3509
The way we handle the `ca.crt` value in TLS secrets is a little weird, agreed, and it would be worth fixing up.
However, there are a couple of places where we look for a separate secret, so we may need to check those.
Next steps here:
- Check to see if there's anything special we need to so that we don't break the current setup.
- Implement checking the `ca.crt` field of TLS secrets if it's not em

[2021-03-30 04:19] youngnick commented on #2354
Hi @Zsolt-LazarZsolt, sorry about the delay on replying here. It seems weird that Envoy can't tell that it's got a non-localhost address, but I think the other person in your Envoy issue is probably correct. It seems like this is something that Envoy will have to fix, as we just send the DNS name there.

[2021-03-30 14:31] #3524 closed

[2021-03-30 15:16] sunjayBhatia opened #3529 "Gateway API: Listener Route binding selector kind must match Routes compatible with Listener protocol"
The `kind` field of the route binding selector has the following description:

[code]

The `protocol` field is defined as:

[code]

- [x] Process Kind
- [ ] Set status on Gateway

See: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.Listener

[2021-03-30 21:20] sunjayBhatia commented on #2868
@advancedwebdeveloper can you open a new issue to describe the issues you are having?

[2021-03-30 21:57] sunjayBhatia commented on #3404
Moving this to 1.15.0 as we're working out some interactions between the Contour controller and operator still

[2021-03-30 23:22] sunjayBhatia commented on #3166
Moving this to 1.15

[2021-03-31 00:19] sunjayBhatia opened #3530 "Simplify Ingress prefix match regex"
https://github.com/projectcontour/contour/blob/74ac550e65b25eaea301b6b9e0dd9d90b0f321a2/internal/envoy/v3/route.go#L59

This could be simplified to remove the inner capture group, make the outer group non capturing etc.

[2021-03-31 16:25] sunjayBhatia opened #3532 "Refactor: Move Type specific (e.g. Ingress) helpers out of annotation package"
https://github.com/projectcontour/contour/pull/3520 adds the `internal/validation/ingress` package that is used to house helpers used for validation of Ingress resources, e.g. if they match an IngressClass name etc.

We could extend this pattern for other resources.

We already have the `internal/annotation` package with helpers for getting annotations from resources and for doing some checks on t

[2021-03-31 16:57] sunjayBhatia opened #3533 "Gateway API: Ensure *Route status updates respect observed generation status update order"
We update status on Gateway API *Route objects to reflect the validity etc. of these objects

This issue is to ensure we get proper testing of status updates that ensures we respect the observed generation of the status, i.e. newer status updates will not be overwritten and status updates include the correct update time etc.

See: https://github.com/projectcontour/contour/pull/3456#discussion_r604

[2021-03-31 17:03] skriss opened #3534 "Gateway API: HTTPRoutes should have at most one Condition of a given type"
xref https://github.com/projectcontour/contour/pull/3456#discussion_r603668198

`HTTPRoutes` should have at most a single Condition of a given type. Currently, it's possible for there to be more than one Condition with a given type. We'll need to come up with a way of combining them into a single condition, likely by concatenating message strings.

[2021-03-31 17:14] #3436 closed

[2021-03-31 17:39] #2146 closed

[2021-04-01 15:54] stevesloka opened #3536 "gateway all namespace selector test wrong"
The test for validating the Gateway.Spec.Listeners.Routes.Namespaces.From: RouteSelectAll is incorrect. Currently the test (https://github.com/projectcontour/contour/blob/main/internal/dag/builder_test.go#L440), expects no listeners to be created, but if the Gateway is selecting routes from All namespaces then this test should return a set of listeners since the selector matches all routes.

The t

[2021-04-01 19:07] shashankram commented on #2135
I must admit this is a great way to blend additional functionality with simplicity. In the openservicemesh.io project that I work on, I am upgrading our Ingress capability to v1 and was wondering how `ImplementationSpecific` path types can be interpreted in a reasonable way, given that our software must work at present with multiple ingress controllers. Do I have permission to borrow the `looks li

[2021-04-05 14:10] kushthedude commented on #2966
Hi @stevesloka @youngnick , I have made a pr

[2021-04-05 14:49] sunjayBhatia commented on #2135
This path matching behavior was done b/c that was all Contour supported before implementing Ingress v1 fully and I want to say was that way b/c it mimiced the nginx Ingress implementation which came first? Someone who has been around longer can check me on that

[2021-04-05 15:19] stevesloka opened #3540 "Filter on Gateway.Listener.Protocol"
Need to filter on supported protocol types for any Gateway.Listener.Protocol. Supported types should be:

- HTTP
- HTTPS
- TLS

[2021-04-05 16:48] stevesloka commented on #3150
No we haven't completed this yet @reddog335.

I just did some playing around with this and if you create a HTTPProxy with both a route & tcpproxy you can get the 301 redirect from HTTP-HTTPS. This might only work with HTTP connections, your TCP probably won't follow the HTTP redirect.

[code]

A request to: `http://local.projectcontour.io` --> 301 redirect
A request to: `https://local.projectconto

[2021-04-05 16:56] yoitsro opened #3541 "Upgrade instructions for upgrades to 1.14.0 miss out a vital step causing downtime"
**What steps did you take and what happened:**
I tried to upgrade my deployment to 1.14.0 following the steps mentioned here: https://projectcontour.io/resources/upgrading/#the-less-easy-way

All my endpoints became unresponsive.

**What did you expect to happen:**
I expected all my endpoints to stay up and responsive.

**Anything else you would like to add:**
This is due to a port change as part

[2021-04-05 17:38] stevesloka opened #3542 "Add more UX around TCP/HTTP interaction with HTTPProxy"
It's possible to mix HTTP & TCP routes in a single HTTPProxy object, but the TCPProxy bits take precedence since I think it matches the Envoy filters first leaving any HTTP configurations to be ignored.

We should look at adding more validation logic to make sure that if someone configures a single fqdn with both http & tcp connections, that the http one's are going to be ignored.

Example of `/`

[2021-04-05 17:57] sunjayBhatia commented on #3541
Ah apologies for that, looks like the PR in question never got a release note label so was missed in the release cutting process

[2021-04-05 18:34] sunjayBhatia commented on #3541
Updated release notes: https://github.com/projectcontour/contour/releases/tag/v1.14.0

[2021-04-05 20:04] sunjayBhatia commented on #3541
See https://github.com/projectcontour/contour/pull/3543

[2021-04-06 04:57] youngnick commented on #3518
This is definitely a reasonable feature, so I'll mark it as a "help-wanted" one. Thanks for this request @movikbence!

[2021-04-06 05:02] youngnick commented on #3474
I've marked this as "needs product", just because we'll need to spend some time determining how best to interact with Istio.

In terms of a quicker fix, I don't think we can easily deliver one, because we'll need to understand if it's the chained Envoys causing the issue, or something else.

So, I definitely think we should fix this, but someone needs to investigate what to do from here.

[2021-04-06 05:04] youngnick commented on #3532
That's a big +1 from me.

[2021-04-06 05:10] youngnick commented on #2978
Seems like the consensus on #3523 was that we should update the Description column to summarize the Conditions somehow.

[2021-04-06 05:12] youngnick commented on #3542
Yeah, this is an oversight on our part when developing the API, I guess. But we should absolutely tell people if their routes will not take affect on the object, and we should make it clear in the documentation that `tcpproxy` overrides `routes`, if present.

[2021-04-06 10:57] reddog335 commented on #3150
@stevesloka That works like a champ!  Thank you very much for your help with this.

[2021-04-06 11:36] ghouscht opened #3544 "TLSCertificateDelegation does not work with networking.k8s.io/v1 Ingress"
**What steps did you take and what happened:**
Technically this is not a contour issue, but in practice it breaks TLSCertificateDelegation with networking.k8s.io/v1 Ingress resource. As of today we can use a networking.k8s.io/v1beta1 Ingress like this:
[code]
**Please note;** The scretName with the Namespace `kube-contour` in the TLS section.

Applying this definition does work, but issues a warni

[2021-04-06 13:00] ghouscht commented on #3544
In the meantime I found https://projectcontour.io/resources/philosophy/#we-meet-users-where-they-are - looks like Ingress v1 is not yet supported. Was not aware of that and also the [Compatibility Matrix](https://projectcontour.io/resources/compatibility-matrix/) nor the [Support Policy](https://projectcontour.io/resources/support/) mention this. Can someone please clarify which k8s Ingress resour

[2021-04-06 14:02] sunjayBhatia commented on #3544
I’ve got a document in the works for detailing Ingress support, right now planning on describing the main features/fields and how they differ between Ingress versions (if there is a difference) and will include this detail

[2021-04-06 14:14] stevesloka opened #3545 "Contour Managed Envoy"
As part of the GatewayAPI implementation we've been discussing how to integrate Contour<>Envoy when utilizing GatewayAPI.Gateways. I have a small discussion document outlining a bit more background here (https://docs.google.com/document/d/1kOrGqHXULYO6YLxGCOtVyjz_7mfcW7Yi1WXCpQz6_Qo/edit#heading=h.s3afnqyzdsta).

The goal of this issue is to create a branch in Contour and investigate how this appr

[2021-04-06 14:23] stevesloka commented on #3544
To answer your original question @ghouscht, Ingress/v1 make some additional restrictions on the API validation to not allow forward slashes (`/`) in the `secretName` which breaks the functionality that Contour previously would allow with TLSCertificateDelegation.

In addition to the v1 support doc that @sunjayBhatia is working on, I think we should also document this limitation with IngressV1 & TL

[2021-04-06 14:24] stevesloka opened #3546 "Document TLSCertificateDelegation NonSupport with Ingress/v1"
Ingress/v1 make some additional restrictions on the API validation to not allow forward slashes (`/`) in the `secretName` which breaks the functionality that Contour previously would allow with TLSCertificateDelegation.

We should document this limitation with IngressV1 & TLSCertDelegation.

_Originally posted by @stevesloka in https://github.com/projectcontour/contour/issues/3544#issuecomment-814

[2021-04-06 14:45] sunjayBhatia commented on #3544
https://github.com/projectcontour/contour/issues/3469 should hopefully cover the documentation bits

[2021-04-06 14:47] vinzo99 opened #3547 "unable to write secrets with certgen"
Hello,

trying to deploy new Contour 1.14 along with Envoy 1.17.1, in my namespace `vbertell`, using template yaml charts from https://raw.githubusercontent.com/projectcontour/contour/release-1.14/examples/render/contour.yaml

Installation fails because certgen Job fails to write certificates in namespace :
[code]
I had a look at the RBAC section in the yaml files (ServiceAccount, RoleBinding and

[2021-04-06 14:58] sunjayBhatia commented on #3547
Looks like the `RoleBinding` was not applied to the `ServiceAccount` in the correct namespace? Given this:

[code]

Is not:

[code]

[2021-04-06 15:05] #3547 closed

[2021-04-06 15:05] vinzo99 commented on #3547
Of course !!! Thanks for spotting this typo, my bad ! ;)

[2021-04-06 15:27] vinzo99 opened #3548 "contour pods stuck at ContainerCreating with MountVolume.SetUp failed for volume "contourcert" : secret "contourcert" not found"
Hello,

trying to deploy new Contour 1.14 along with Envoy 1.17.1, in my namespace vbertell, using template yaml charts from https://raw.githubusercontent.com/projectcontour/contour/release-1.14/examples/render/contour.yaml

After successful generation of certificates, Contour pods remains in ContainerCreating state with the following error :

[code]

The expected secrets are here :

[code]

Can y

[2021-04-06 22:14] skriss commented on #3536
@stevesloka this was fixed by #3537 right? I think the issue link in the PR was typo'd.

[2021-04-07 00:57] #3451 closed

[2021-04-07 00:57] youngnick commented on #3451
Looks like there's not much action or us to take on this one, aside from making sure that DNS transfers are done carefully in the future.

[2021-04-07 06:08] ghouscht commented on #3544
Thank you for your answers. Are there any plans to support TLSCertificateDelegation also with v1 Ingress (maybe through an annotation, or something similar)? This is a bit of a ticking time bomb since we don't want to use the custom httpproxy resource mainly because of portability reasons and since we use wildcard certs we rely on the availability of TLSCertificateDelegation.

[2021-04-07 15:55] skriss commented on #3223
Couple thoughts:
- perhaps renaming from "the easy way" and "the less easy way" to "reinstall" and "in-place upgrade" (or similar) would be more descriptive
- we should also add the operator
- I think we should add a sentence or two explaining that with the "in-place upgrade" instructions, we try to minimize downtime, but we don't currently guarantee no downtime.

I'll take a stab at making some u

[2021-04-07 15:56] sunjayBhatia commented on #3223
Suggestion from an other issue around the upgrade instructions (cc @yoitsro): https://github.com/projectcontour/contour/pull/3543#discussion_r607769057

[2021-04-07 15:57] #3541 closed

[2021-04-07 17:06] skriss commented on #3548
@vinzo99 would it be possible to provide the exact YAML you're using for your Contour deployment (in a [Gist](https://gist.github.com/) would be great)?

Also, I see you're getting a similar error for the configmap. Could you provide the output of `kubectl -n vbertell describe configmap contour`?

[2021-04-07 17:11] vinzo99 commented on #3548
Sure, here is the yaml file : https://gist.github.com/vinzo99/df945e724d33c6266a76d8b668638969

and the configmap :
[code]

Thanks !

[2021-04-07 17:16] skriss commented on #3548
Thanks @vinzo99, so off the bat I see an issue with the configmap, let's get that fixed up first. It should have a key of `contour.yaml` but doesn't. Looking at your gist, it looks like you have an indent error: https://gist.github.com/vinzo99/df945e724d33c6266a76d8b668638969#file-gistfile1-txt-L46-L182 need to be indented once more (you can see `contour.yaml` is not indented under `data` like it

[2021-04-07 17:26] vinzo99 commented on #3548
👍
Thanks for spotting the typo, it's my second one in 2 days ...
Contour pods are now started. I'm having another issue with Envoy pods not starting but seems familiar (use of PSP requires to add a `privileged` section, I will submit another issue if needed).
Sorry about that, I will close the ticket.
Thanks so much !

[2021-04-07 17:26] #3548 closed

[2021-04-07 17:39] skriss commented on #3548
No problem @vinzo99, glad to be able to help.

[2021-04-07 17:58] sunjayBhatia commented on #3544
I'm not sure if we've had asks for this yet, but yeah I could pretty much only think of this being supportable in Ingress v1 in an annotation, though we would have to be pretty exact how we would expose that, since Ingress TLS config has the "Hosts" field, we would need to replicate that in an annotation which could get messy

[2021-04-08 00:25] youngnick opened #3552 "Release: More automation for cutting release"
Right now, cutting a release is a very manual process. This issue covers work to further automate the release process.

First priority is something to generate release notes (preferably using the `release-note` and `release-note-action-required` labels to put those changes at the top of the release notes.)

There's probably more automation to consider as well though.

[2021-04-08 04:01] youngnick commented on #3544
Thanks for calling this out @ghouscht. I'll make sure this is updated as well.

[2021-04-08 14:09] stevesloka opened #3553 "Route.ForwardTo missing service should return HTTP 503"
The ForwardTo defines the backend(s) where matching requests should be sent on an HTTPRoute. If unspecified, the rule performs no forwarding. If unspecified and no filters are specified that would result in a response being sent, a 503 error code is returned.

//ref: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.HTTPRouteRule

[2021-04-08 14:29] #3507 closed

[2021-04-08 14:46] skriss commented on #3544
cc @xaleeks

[2021-04-08 14:54] stevesloka opened #3554 "Sync Labels CI Job is failing"
Just noticed the CI sync labels job is failing:

[code]

//ref: https://github.com/projectcontour/contour/runs/2295689356?check_suite_focus=true

[2021-04-08 17:14] stevesloka opened #3557 "Support HTTPRoute requestMirror RouteFilterType [extended]"
Support HTTPRoute requestMirror RouteFilterType when defined on an HTTPRoute.

//ref:https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPRouteFilter

(Support: Extended)

[2021-04-08 17:16] sunjayBhatia opened #3558 "Changes to example deployment manifests should be automatically tagged for consideration in release notes"
In release 1.14.0 we had an issue where a significant change to the example YAMLs was not tagged with the `release note` tag. We did not initially write a release note or upgrade instruction for this change and caused some users upgrade issues.

The `release note` tagging process is manual right now and we should start automating it. We should tag PRs that change the example manifests with a relea

[2021-04-08 17:16] sunjayBhatia commented on #3552
Related issue: https://github.com/projectcontour/contour/issues/3558

[2021-04-08 17:17] stevesloka opened #3559 "Support HTTPRoute requestHeaderModifier RouteFilterType"
Support HTTPRoute requestHeaderModifier RouteFilterType.

//ref: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.HTTPRouteFilter

[2021-04-08 17:17] stevesloka commented on #3559
/assign @nak3

[2021-04-08 17:22] #3356 closed

[2021-04-08 18:15] stevesloka opened #3560 "Support weight on HTTPRoute.ForwardTo"
Weight specifies the proportion of HTTP requests forwarded to the backend referenced by the ServiceName or BackendRef field. This is computed as weight/(sum of all weights in this ForwardTo list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. Weight is not a percentage and the sum of weights does not nee

[2021-04-08 19:51] skriss commented on #2515
xref #3555 which adds DAG/Envoy support for direct responses

[2021-04-08 20:34] stevesloka opened #3561 "Take the Gateway.Listener.hostname into account when processing routes"
[code]

//ref: https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.Listener

[2021-04-09 00:28] nak3 opened #3562 "Refactor HeadersPolicy and merge headersPolicy* functions into one function"
Currently these headersPolicy* functions have duplicate logic:

https://github.com/projectcontour/contour/blob/a8465da8c9c3cbfc53fb6b4d619f427d8330c685/internal/dag/policy.go#L93
https://github.com/projectcontour/contour/blob/a8465da8c9c3cbfc53fb6b4d619f427d8330c685/internal/dag/policy.go#L139
and https://github.com/projectcontour/contour/pull/3539 is trying to add new `headersPolicyGatewayAPI()`

[2021-04-09 10:05] bibi520 opened #3563 "My application wants to get x_forwarded_for ip , What should I do"
contour version: v1.14.0
![image](https://user-images.githubusercontent.com/42456284/114164724-36c83c80-995e-11eb-897b-71ebb9080bad.png)

[2021-04-09 10:07] bibi520 commented on #3563
There's ELB in front of the Contour

[2021-04-09 13:54] sunjayBhatia commented on #3563
Some answers online seem to suggest when using the ELB as L7 instead of L4 the `X-Forwarded-For` header is not stripped

[2021-04-09 14:31] sudeeptoroy commented on #3185
It would be a very useful feature to have.
I was able to configure envoy natively to protect my application via OAuth2 filter. As a user of contour, he would like to configure contour to do the same and get rid of managing envoy and its configuration. Here are the set of input needed to make it work with envoy.
1. OIDC token endpoint, timeout
2. Authorization endpoint
3. Backend application redire

[2021-04-09 14:33] #3469 closed

[2021-04-09 14:33] #3546 closed

[2021-04-09 18:03] sunjayBhatia opened #3564 "ClusterDiscoveryType on Clusters with an IP as address should be Static"
When an IP address is configured as the address of a cluster, it seems we don't need to configure anything more complicated than Static Cluster Discovery: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/service_discovery#static

Currently this is an issue with setting the Admin address to an ipv6 address (e.g. `::1`) since we use Logical DNS discovery and run into https://

[2021-04-09 18:23] #3553 closed

[2021-04-09 19:06] sunjayBhatia commented on #3284
What do we think about running some validation (the integration test suite probably) against an ipv6 cluster in CI and writing a guide on what all the flags to flip are to support a cluster with ipv6 only?

Initially seems like some bits to do around Cluster discovery (see https://github.com/projectcontour/contour/issues/3564) and how we parse ipv6 addresses consistently, there are some rough edge

[2021-04-12 01:05] bibi520 commented on #3563
need to use L4 ？

[2021-04-12 01:06] bibi520 commented on #3563
My ELB is four-tiered

[2021-04-12 07:08] nak3 opened #3565 "requestHeadersPolicy to rewrite host per service does not work"
**What steps did you take and what happened:**

- Setting requestHeadersPolicy to rewrite host per service does not work.
- For example, if you replace HTTPProxy in `017-host-header-rewrite.yaml` with the following config, the CI fails.

In `_integration/testsuite/httpproxy/017-host-header-rewrite.yaml`, change HTTPProxy to:

#### Work
[code]

#### Not work
[code]

**What did you expect to happen:

[2021-04-12 11:35] vinzo99 opened #3566 "shutdown-manager unable to bind on 8090, configure to different port ?"
Hi !

Using Contour 1.14.0 with Envoy 1.17.1

Envoy DaemonSet pod is stuck with `CrashLoopBackOff` because `shutdown-manager `is unable to bind on `8090` port :

[code]

on edge node :
[code]
Not sure why this port is busy :
[code]
this might be an internal configuration issue, I will check with platform team.

In the meantime I'd like to change `8090` to a different value (`9999` for example)
I c

[2021-04-12 13:51] sunjayBhatia commented on #3566
You should be able to use the `--serve-port` flag to configure this

[2021-04-12 14:16] vinzo99 commented on #3566
@sunjayBhatia, can you be more specific on how to achieve this ?

Goal is to have Envoy DaemonSet pods listening on `80/443` ports of edge nodes (which is already configured this way in my yaml files), and use whatever port is available on the cluster for shutdown-manager if `8090` happens to be busy, to prevent `CrashLoopBackOff` situations.

Thanks !

[2021-04-12 14:22] sunjayBhatia commented on #3565
Looks like on the `requestHeadersPolicy` on `Service` we explicitly do not allow `Host` header rewrites: https://projectcontour.io/docs/v1.14.0/config/api/#projectcontour.io/v1.Service

[2021-04-12 14:24] sunjayBhatia commented on #3565
See https://github.com/projectcontour/contour/pull/2898

[2021-04-12 14:29] sunjayBhatia commented on #3566
The flag is for the `contour shutdown-manager` command, you can pass it so the shutdown manager server binds to a different port, the one that matches what you changed the healthcheck liveness probe and pre-stop endpoints to.

I can't say why the bind to port `8090` is failing in your pod, but if you want to change the port, you can use that flag

[2021-04-12 14:33] sunjayBhatia commented on #3563
Can you give some more details about your ELB set up? It may be that is stripping the header in requests before it gets to Envoy

Any information would be great so we can provide guidance or do some research/reproduction to help

[2021-04-12 15:18] stevesloka commented on #3560
//ref: https://github.com/kubernetes-sigs/gateway-api/issues/596

[2021-04-12 16:29] vinzo99 commented on #3566
It works !
Thanks

[2021-04-12 16:29] #3566 closed

[2021-04-12 16:54] vinzo99 opened #3567 "unable to start Envoy DaemonSet on 80"
Hello,

I am trying to deploy Contour 1.14.0 along with Envoy 1.17.1, in order to act as an ingress controller. To achieve that I used the template yaml files https://raw.githubusercontent.com/projectcontour/contour/release-1.14/examples/render/contour.yaml and applied a few modifications according to these recommendations in order to use host networking : https://projectcontour.io/docs/v1.14.0/de

[2021-04-12 20:55] stevesloka commented on #3536
Yup you are correct @skriss, thanks for following up on this.

[2021-04-12 20:55] #3536 closed

[2021-04-12 21:09] stevesloka commented on #3454
Dupe of https://github.com/projectcontour/contour/issues/3553

[2021-04-12 21:09] #3454 closed

[2021-04-13 02:34] nak3 commented on #3565
I see. It is a known limitation.
Thank you!

[2021-04-13 02:34] #3565 closed

[2021-04-13 03:33] bibi520 commented on #3563
ELB:
![image](https://user-images.githubusercontent.com/42456284/114492643-8a32d700-9c4b-11eb-95ce-7cac538fbe76.png)
contour svc and pod:
![image](https://user-images.githubusercontent.com/42456284/114492694-a46cb500-9c4b-11eb-9e34-3b8380339202.png)
envoy log:
![image](https://user-images.githubusercontent.com/42456284/114492816-e695f680-9c4b-11eb-9de6-8fdf34828c4b.png)
 His x_forwarded_for is the

[2021-04-13 03:48] bibi520 commented on #3563
I found the problem that my ELB didn't pass the value x_forwarded_for .......

[2021-04-13 05:34] #144 closed

[2021-04-13 16:12] xaleeks commented on #3467
Can we tag this v1.15? @sunjayBhatia

[2021-04-13 16:14] xaleeks commented on #3284
I’m going to tag this v1.15 to account for the ongoing investigation work, not to mean to be delivered in 1.15.

[2021-04-13 16:16] xaleeks commented on #2323
With the direction away from reliance on annotation, I think this is probably a won’t do at this point.  We have a very robust solution for session affinity through HTTPProxy and I think it will be part of the fast maturing Gateway API project in the future as well.  I’ll leave it open for a bit and close it if there are no objections.

[2021-04-13 16:18] xaleeks commented on #1691
I believe this is WIP in the current v1.15 release, thanks to @abhide  for taking this on.  Tagging it 1.15 to track it

[2021-04-13 16:25] xaleeks commented on #3142
@youngnick @sunjayBhatia  Does 'Prioritized Backlog' still accurately reflect the status of this request here? It does feel like a bug, or at least a gap.

[2021-04-13 16:32] xaleeks commented on #3367
More specifically, I read this to mean envoy concurrently gobbling up Ingress, HTTPProxy CRD, and HTTPRoutes / TLSRoutes when Gateways and GatewayClass are in play.  I agree we need to test since nothing in our support for Gateway API precludes the coexistence of the other two.  HTTPProxy is far richer than Gateway API right now so maybe a mix of the two is desirable to some users.  In the future,

[2021-04-13 16:43] xaleeks commented on #3366
Nick, let’s try to land this in v1.16?  I recommend http://ghcr.io/

Interesting that you mentioned Kubernetes project, they are actually trying to use harbor and possibly other registries for a better experience where any pull from k8s.registry.io is routed to the nearest cloud provider PoP to pull from that registry.

See https://github.com/kubernetes/k8s.io/issues/1834/

[2021-04-13 16:59] xaleeks commented on #3039
Thanks @sunjayBhatia.  So is the behavior corrected now so that none of the /second requests are routed to service 1?  If so, we can consider this bug fixed.  And I assume it doesn’t exist on HTTPProxy right? Say when you have 2 services matching different prefixes specified under spec.routes and one of the services is removed, the matching request isn’t automatically redirected to the other.

[2021-04-13 17:15] xaleeks commented on #1931
I don’t think we’ll be trying to support this on Ingress.  The broader community has moved onto gateway API and we already have a good solution on our HTTPProxy CRD.  Total feature parity is not the goal of Contour here.  I’m closing this for now, but feel free to keep the discussion going if still unclear.

[2021-04-13 17:15] #1931 closed

[2021-04-13 17:22] xaleeks commented on #2506
Does someone want to pick this up and either work on documentation or additional validation.  Service mesh integrations will probably be one of our focus areas in the coming months.

[2021-04-13 17:26] xaleeks commented on #3440
Is this part of the v1.15 in any way? We can always push it out to next release if needed. tagging it first

[2021-04-13 17:29] sunjayBhatia commented on #3039
No, we just log the missing service and continue on processing the Ingress resource, so if you have a prefix path that is more general than the route that had a missing service, requests will be routed to it

I believe for HTTPProxy we set status on the resource and say it is invalid/don't program any of it

The original request was to 503 if a service is missing, which matches what Gateway API sp

[2021-04-13 17:32] sunjayBhatia commented on #3467
Possibly, not sure if @abhide has had time to look into it yet

[2021-04-13 17:37] xaleeks commented on #2051
I guess you’re working on this already @sunjayBhatia ?  tagging it to track it

[2021-04-13 17:43] xaleeks commented on #3545
Thanks for this @stevesloka .  This spike being worked on right now in the  v1.15 right?  Feel free to untag it if not the case.

[2021-04-13 17:51] xaleeks commented on #2402
I don't think our position has changed here.  I'm going to close it for now.  Feel free to keep engaging the team if you have other related concerns.

[2021-04-13 17:51] #2402 closed

[2021-04-13 18:08] xaleeks commented on #1889
We can define the behavior when mirror and routes are both present, we just need to be consistent and make it clear in the docs.  Based on how mirroring is described in Contour docs today: “Per route, a service can be nominated as a mirror. The mirror service will receive a copy of the read traffic sent to any non mirror service”, in this case I would think traffic sent to artifactory-prod and art

[2021-04-13 18:13] sunjayBhatia commented on #2051
This seems like the long pole here since no-one is responding: https://github.com/kubernetes-sigs/ingress-controller-conformance/pull/88

[2021-04-13 18:18] sunjayBhatia commented on #3563
@bibi520 Sounds like you able to figure out the problem? Is this issue resolved?

[2021-04-13 18:24] xaleeks commented on #3444
Can you sanitize the request after it arrives in the mirror’ed upstream service itself.  I assume you tried stuffing the `requestHeadersPolicy` stanza under the mirror service and it didn’t work? Did it end up removing the header from requests to both services even though you specified it under the mirror one only?

If that's the case, it seems like a reasonable request, and we should call out it’

[2021-04-13 18:30] xaleeks commented on #3444
documentation around extent of interaction of mirroring and other mechanisms in contour docs is a bit lacking overall.

[2021-04-13 18:44] xaleeks commented on #2566
Just to be clear on the request here, in the latest v1.14 we delivered the ability for any Contour controller to pick up certain Ingress objects by linking through `IngressClass`, aka setting the `IngressClassName` field of Ingress objects.  Is the ask here to also leverage the exact same `IngressClass` object to match specific `HTTPProxy` resources?

I don’t think we have plans for this right @yo

[2021-04-13 19:27] xaleeks commented on #3560
@stevesloka Seems you're working on it so I'm tagging it 1.15  The behavior in Gateway API here seems consistent with that of HTTPProxy, in that weights do not have to add to 100 and will be adjusted accordingly by proportionality.

Curious on our approach here for a feature that's not consistent with our CRD, I guess we just need to support both right? Concern is It can cause a bit of confusion a

[2021-04-13 19:35] stevesloka commented on #3560
I don't understand the question @xaleeks? Specifically for weights with gateway-api, they function the same short of returning a 503 when all are zero, but we spent months on a design to also apply that to HTTPProxy.

More generically, if the behaviors are different we'd have to match the API's design. For example, Gateway could allow for conflicts with path prefixes and it's resolved with timesta

[2021-04-13 19:40] stevesloka commented on #3367
I'm a bit worried about the interaction between all the APIs and coming up with unintended consequences that might not be apparent to users when you combine the APIs together.

We do get easy wins right now for things like Cert-Manager and HTTP01 challenges with Ingress resources, but I think there are ways that folks could abuse the APIs and take over portions of the controller without someone el

[2021-04-13 19:53] xaleeks commented on #3542
At least on the doc side of things, there is a note in the API reference that `spec.routes` are ignored if `TCPProxy` is there.  But reading what `TCPProxy` does again carefully, I don’t know if this is the best name for what it’s intended to do.

[2021-04-13 20:22] xaleeks commented on #1598
Kind of an old issue so not sure if this is still on your mind @stevesloka.  How do you envision the child leveraging this info about the parent  I’m just thinking about it as this subdomain with the relevant resources have been assigned to him, so does this facilitate privilege escalation in anyway?

I kind of imagined it the other way around actually, when a child resource is modified in some me

[2021-04-13 20:27] stevesloka commented on #1598
https://github.com/projectcontour/contour/pull/3146

[2021-04-13 21:21] xaleeks commented on #3560
Thanks @stevesloka , sorry my wording was confusing.  Behavior for this feature in question is consistent.  I meant to ask 'Curious as to what we should do if we come across a feature in httproute that doesn't behave consistently with a similar thing in httpproxy' and you answered it.

We are just responsible for maintaining both for the time being, and if they diverge we still need to implement t

[2021-04-13 22:48] sunjayBhatia commented on #3253
Also required: Gatekeeper templating to let Contour administrators prevent users from overriding this

[2021-04-13 23:38] sunjayBhatia opened #3573 "Upgrades: How do we handle using new Envoy features in Contour"
When a Contour feature needs to utilize a net-new Envoy API/feature/flag/etc. how do we manage upgrades?

For example this change uses a new feature in Lua: https://github.com/projectcontour/contour/pull/3381

Currently we simply update the release notes and upgrade instructions to reflect that Envoy needs to be updated before Contour. However this isn't necessarily sustainable, people can miss th

[2021-04-14 01:22] bibi520 commented on #3563
yes

[2021-04-14 01:33] bibi520 commented on #3563
It's my ELB that didn't pass X_forwarded_for

[2021-04-14 02:03] xaleeks commented on #2323
closed by accident

[2021-04-14 05:33] youngnick commented on #3150
I believe we had some work earlier on being able to set a HTTP code as a route target for HTTPProxy. Seems like if we did that, and allowed a 301 redirect as part of that, we could meet this use case in a explicit, clear way, without substantial API changes. @stevesloka I'm blanking on more detail though, was this the Conflict Resolution proposal or was there another issue for that one?

[2021-04-14 05:36] youngnick commented on #3150
Ah, I found it, it's #2515.

[2021-04-14 05:38] youngnick commented on #3185
Thanks for that @sudeeptoroy, that's great information.

[2021-04-14 13:11] sunjayBhatia commented on #3563
Sounds good, I’ll close this issue then!

[2021-04-14 13:11] #3563 closed

[2021-04-14 16:10] sunjayBhatia commented on #3564
Partially completed by https://github.com/projectcontour/contour/pull/3572, we could consider this done since practically only the admin address is likely to be configured with an IP address, but for completeness we should apply this to other upstream clusters as well (`ExternalName` services could be configured as an IP address potentially so this is a direct place this comes into play)

[2021-04-14 16:24] ectogon commented on #2441
Has anyone tried this in combination with `nginx.ingress.kubernetes.io/force-ssl-redirect: "true"`?

[2021-04-14 16:30] sunjayBhatia opened #3574 "Should globally configurable TLS options should be set on upstream TLS contexts?"
Global TLS configuration here currently only applies to Envoy listeners: https://projectcontour.io/docs/v1.14.0/configuration/#tls-configuration

This means that settings like minimum TLS version and TLS ciphers are not applied to Envoy -> Upstream cluster communication or Envoy -> Extension Service cluster communication.

We do not seem to offer any configurability of these TLS connections.

Is t

[2021-04-14 17:51] stevesloka opened #3575 "Document local Contour dev steps"
Would be great to document how to develop Contour locally without needing to push images to cluster and restart.

Some of the steps are outlined in this blog post (https://projectcontour.io/kindly-running-contour/), but would be better and easier to find if it was placed in the dev guide.

[2021-04-14 18:08] sunjayBhatia commented on #3142
Sounds accurate to me? I don't know what the priority is around changing this behavior, seems like a relatively involved Envoy or Lua in Contour change since Envoy does not yet natively support rewriting Cookies

[2021-04-14 18:09] tsaarni opened #3576 "Add option to remove query strings from access log"
**Feature request**

Envoy will log the complete request path, including the query string like `?supersecret=password` in this example

[code]

It would be great to provide an option to remove query string from the access log, since it may contain sensitive information introducing a potential [vulnerability](https://owasp.org/www-community/vulnerabilities/Information_exposure_through_query_strings

[2021-04-14 21:24] stevesloka opened #3577 "Bump GatewayAPI to v0.3.0"
Once GatewayAPI release v0.3.0 which is expected on 04/28/2021, Contour should update to this release version and move away from the current GitHub sha reference which we're currently doing.

//ref: https://github.com/kubernetes-sigs/gateway-api/milestone/4

[2021-04-14 21:26] stevesloka opened #3578 "Update GatewayAPI Reference to use SHA"
We're currently pinned against the v0.2.0 version of the GatewayAPI release, but to make the breaking changes easier we should swap out to use the latest github sha.

At the next Contour release we need to update this back to v0.3.0 as described in #3577

[2021-04-14 21:31] ashwanth1109 opened #3580 "Is there a way to create NLB with target type as IP instead of Instance"
Hi, I have an EKS cluster where I create a contour load balancer with the following yml:
[code]

The target group created for the load balancer on AWS has a target type of `Instance`. I am looking to create a load balancer which has target group with type `IP` mode instead. Is there any annotation that I can set to switch the mode?

For additional reference, AWS Load Balancer Controller allows you

[2021-04-14 21:58] danehans commented on #3573
xref https://github.com/projectcontour/contour-operator/issues/142

[2021-04-15 05:32] abhide commented on #3467
@sunjayBhatia I haven't started working on this yet. Will look into this weekend.

[2021-04-15 06:35] abhide commented on #3467
@sunjayBhatia Seems like we need to change https://github.com/projectcontour/contour/blob/main/internal/dag/dag.go#L486 to be  a slice of Secret? and fix things accordingly.
Just checking if I am on the correct path here?

[2021-04-15 14:45] sunjayBhatia commented on #3467
Yep sounds right to me, might be useful to get started with a `internal/featuretests` test and work from there 👍🏽

[2021-04-15 14:48] sunjayBhatia opened #3583 "Bump Kubernetes compatibility matrix to include k8s 1.21 / Envoy v1.18.2"
Once we are testing against k8s 1.21 in CI we should update the compatibility matrix to show we are compatibly to 1.21 down to 1.19

Also need to update the Envoy version to v1.18.2

This should be done as part of the 1.15.0 release cutting process

[2021-04-15 15:21] abhide commented on #3467
Thanks @sunjayBhatia

[2021-04-15 18:37] #3438 closed

[2021-04-15 22:47] sunjayBhatia commented on #3284
See https://github.com/envoyproxy/ratelimit/issues/245

Ratelimit server doesnt work with ipv6 so that integration test is blocked

[2021-04-16 14:10] stevesloka opened #3584 "Update CI base images for E2E tests"
Our current kind based testing infra pulls a bunch of images each time the e2e tests are run. In some cases the images are very large (500mb+). To speed up the time to pull/load into the cluster, we could pre-load these images into a custom kind image that allows to be the base image. Additionally we could pick smaller test images that aren't so large to help reduce build/test time.

- [ ] Reduce

[2021-04-16 14:18] skriss commented on #3584
It could also be worth considering maintaining our own test "echo server" binary that has the functionality we need for testing purposes. Right now we depend on `ingress-conformance-echo` (a custom build of it from `tsaarni`) and `httpbin` for the combo of functionality we need.

[2021-04-18 05:01] nak3 opened #3591 "Deploying two HTTPRoutes gets 404 from one of them"
**What steps did you take and what happened:**

#### 1. Deploy operator and gateway(node port)

[code]

#### 2. Create two Kuard svc&deploy (Kuard1 and Kuard2)

kuard1

[code]

kuard2

[code]

#### 3. Deploy two HTTPRoute for kuard1 and kuard2

[code]

#### 4. Access to the URL. (kuard1 or kuar2 gets `404`).

[code]

__NOTE__ Sometimes (it's very rare on my end though) it works, so you can remove

[2021-04-19 04:17] youngnick commented on #3366
Yes, I think that GHCR sounds fine to me, and that 1.16 is a good timeframe.

[2021-04-19 04:35] youngnick commented on #3440
I'd rate this as nice-to-have for 1.15, rather than must-have.

[2021-04-19 04:53] youngnick commented on #3039
Sadly, this behavior has always been undefined in the Ingress spec, and we copied what nginx did back in the day ( I believe). This is not easily fixable in Ingress as well, because there is nowhere to put information about things not working on the object. We really need something like in the conflict resolution proposal (#3145), and have our stance for Ingress be "If you configure something, and

[2021-04-19 04:56] youngnick commented on #2051
@sunjayBhatia, I'd recommend just pinging Bowei on Kubernetes Slack about this one, since it's a one-liner.

[2021-04-19 04:58] youngnick commented on #2566
I think the request is to port the IngressClass idea to work with HTTPProxy. There's no reason why HTTPProxy *couldn't* just reference an IngressClass _object_ instead of using a string _annotation_ like we do now.

To do this, we would need to:
- add an IngressClassName field to HTTPProxy
- ensure that the same rules apply to HTTPProxy IngressClassName as Ingress IngressClassName.

[2021-04-19 05:03] youngnick commented on #3367
I agree that there are risks of weird interactions, definitely. But I think the functionality it gives you is, on the whole, worth it. Being able to migrate from Ingress to HTTPProxy by adding in a HTTPProxy and removing it if anything goes wrong is excellent, and I think the same will be useful for HTTPProxy -> Gateway API migration.

But we should absolutely test it out, and document how the beh

[2021-04-19 05:06] youngnick commented on #3542
TCPProxy should really have been called TLSProxy, as that's what it's really doing, proxying TLS traffic in a non-terminated way.

There should definitely be notes in the docs for both `spec.routes` and `spec.tcpproxy` that TCPProxy being present will override `spec.routes`.

[2021-04-19 05:12] youngnick commented on #1598
I don't think this is a privilege escalation risk @xaleeks. This is more about telling a HTTPProxy owner where their route is included into, and with what conditions, so that you have a way to know what different requests will look like. This is important because you can have a HTTPProxy included into multiple parents, and there's currently no way to know that's happening.

In particular, this is

[2021-04-19 05:16] youngnick commented on #3574
I agree that we should allow configurability of this, and also agree that starting with making the existing global config also apply to upstreams is probably okay.

The only risk there is that we need to ensure that the certificates generated by `contour certgen` will work with TLS 1.3, and make sure that existing installations that have certs that don't won't break if we suddenly start enforcing

[2021-04-19 05:18] youngnick commented on #3142
Yeah, this is definitely a problem, because it causes incorrect XSS errors, but as @sunjayBhatia says, the fix requires an Envoy change, so we will probably need to organise that change ourselves.

[2021-04-19 05:22] youngnick commented on #3584
I agree that we should either pick one upstream thing to use for all our tests, or make our own instead and do that. But it should be the one thing across everything regardless.

[2021-04-19 05:24] youngnick commented on #3567
Hi @vinzo99, this is because the pod's security context does not have the capability to use ports below 1024, usually this requires running as `root`. That's why it works when you use another port.

If you're running another load balancer upstream from your nodes, then I'd definitely recommend just using a high port and having the upstream load balancer swap the ports for you.

[2021-04-19 07:47] vinzo99 commented on #3567
Hi @youngnick !

First let me clarify that for several operational constraints, we do not run another load balancer, and need to have Envoy container listen on `:80` on edge nodes, hence the choice of running Host Networking as described here : https://projectcontour.io/docs/v1.14.0/deploy-options/#host-networking , which implies several modifications that we already reflected in the yaml files.

[2021-04-19 13:19] stevesloka opened #3593 "Refactor DAG cluster to remove 'Weighted'"
When processing through DAG objects, a dag.Service has a `Weighted` struct which stores the service information along with the weight (if configured).

That then translates into a `dag.Cluster` which has both a `Weighted` and a `Weight`. It's not clear which one needs to be set and makes no sense to have duplicate weight fields in the same struct.

We should refactor back out the `Weighted` struct

[2021-04-19 13:29] tsaarni commented on #3584
I think the "official" build of `ingress-conformance-echo` is at https://gcr.io/k8s-staging-ingressconformance/echoserver, latest still being `gcr.io/k8s-staging-ingressconformance/echoserver:v20201006-42d00bd`.  This one includes the TLS stuff, which was the reason for my custom build back then.

In my own personal dev tests I've completely gotten rid of `httpbin` and use `ingress-conformance-ech

[2021-04-19 13:45] sunjayBhatia commented on #3142
Through a separate channel, this issue came up, unrelated to Contour: https://github.com/envoyproxy/envoy/issues/15612

There may be room to add some sort of generic Cookie attribute rewriting utility, im involved with this issue and we can see if it some solution could fit this and Contour's need

[2021-04-19 15:04] tsaarni commented on #3509
Doesn't type [kubernetes.io/tls](https://github.com/kubernetes/api/blob/5d0d5b56b51109a75225966be27ca7b6c6ca6dcd/core/v1/types.go#L5899) currently officially only define fields `tls.key` and `tls.crt`?  Creating secret via `kubectl create secret tls` does not give an option to upload more than those, though it is possible by creating the secret by some other means.

I think it is quite common proc

[2021-04-19 17:28] tsaarni opened #3594 "Provide the ability to protect the metrics endpoints with TLS"
The metrics endpoints in Envoy and Contour are currently exposed as unauthenticated HTTP.  This could have some security related consequences:

1. An attacker might find some sensitive information that they can use for their advantage. For example, Envoy `/stats` endpoint can be used to enumerate all upstream services in the cluster.
2. In theory an attacker could masquerade the metrics endpoint(s

[2021-04-19 17:39] skriss opened #3595 "global rate limiting: support envoy HeaderValueMatch action"
Envoy has a [HeaderValueMatch rate limiting action](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-ratelimit-action-headervaluematch). This supports matching on header values, including not-exists, prefix, suffix, etc. matching.

Contour should support this rate limiting action. Note that Contour already exposes a [HeaderM

[2021-04-19 18:59] skriss commented on #3595
I'm going to try to get at least initial support for this into 1.15.

[2021-04-20 11:25] nak3 commented on #3559
/close
This was implemented by https://github.com/projectcontour/contour/pull/3539.
@stevesloka @youngnick Could you please update https://github.com/projectcontour/contour/issues/2287#issue-570293364 ? I don't have edit permission.

[2021-04-20 14:22] #3559 closed

[2021-04-20 14:22] stevesloka commented on #3559
Done! Thanks @nak3!

[2021-04-20 17:05] #3591 closed

[2021-04-20 19:31] #3490 closed

[2021-04-20 21:59] kevinlmadison commented on #1228
Hey guys, wondering what the status on this is? This would be an amazingly helpful addition.

[2021-04-20 22:04] sunjayBhatia commented on #1228
We are adding support for wildcard hosts as part of Ingress v1 support: https://github.com/projectcontour/contour/pull/3381

Gateway API HTTPRoute objects will also support wildcard hosts as per the spec: https://gateway-api.sigs.k8s.io/references/spec/#networking.x-k8s.io/v1alpha1.Listener

[2021-04-20 22:55] skriss commented on #3573
Personally I do like the idea of not putting new Envoy features on the critical path, i.e. the user should always be able to upgrade Contour first and have their existing config continue to work. It's OK if a new Envoy feature is used by **new** Contour functionality, since presumably that wouldn't be configured until after everything has been fully upgraded. It seems like this practice would keep

[2021-04-21 00:50] youngnick commented on #3594
I think the ask should be "provide the ability to protect the metrics endpoints with TLS", I don't think we should move the default without very careful consideration, since it would break existing monitoring.

[2021-04-21 00:52] youngnick commented on #3509
Those are all good points, thanks @tsaarni! You're right about `kubuernetes.io/tls` secrets, but I think we need to get the documentation updated to recommend certificate chaining for CA certs, just to make it clear for people who haven't done that before.

[2021-04-21 01:08] youngnick commented on #3567
To bind low ports, you need the CAP_NET_BIND_SERVICE capability. You specify that in the `securityContext` block of the _container_, not the Pod. So, in the Envoy container section, you need to put:
[code]
(For some reason, Kubernetes capabilities omit the `CAP_` prefix that they have in other places).

I have no idea why it's working at all with those restrictions and Contour 1.4.0/Envoy 1.14.1,

[2021-04-21 02:59] tsaarni commented on #3594
Yes I agree, that was not the intention to suggest.  Bad communication :)

[2021-04-21 07:12] alessandroargentieri commented on #3503
Hi @stevesloka may I try to manage this? Do you suggest keeping the secret validation in the cache layer or moving away from both and externalize it in another file or package?

[2021-04-21 07:19] youngnick commented on #3594
Totally agree we should allow this, yes.

[2021-04-21 07:40] youngnick commented on #3576
Thanks for this issue @tsaarni. I'm leaning towards option 2, maybe with a boolean to strip query strings from the access logs? The only other option I see is full configurability of the access log format, which, while worthwhile, would need some more work.

[2021-04-21 07:42] youngnick commented on #3580
I don't know much about this, but based on the docs you sent, shouldn't the annotation for `aws-load-balancer-type` be `nlb-ip`?

[code]

[2021-04-21 09:22] movikbence commented on #3323
HI

Anyone had time to check it?
thank you

[2021-04-21 15:15] #3575 closed

[2021-04-21 15:17] #3560 closed

[2021-04-21 19:19] skriss opened #3604 "docs: describe each rate limiting descriptor entry type"
Follow up from https://github.com/projectcontour/contour/pull/3599#discussion_r617703078

[2021-04-21 19:19] #3595 closed

[2021-04-22 05:27] youngnick commented on #3323
Hi Bence, sorry to take a while to get back to you.

I had a look, and, when I edit the `contour bootstrap` cmdline in its initContainer in the Envoy DaemonSet to add
[code]
I see the `dns_lookup_family="V4_ONLY"` in the config.

I did make the mistake at first of setting the value to `V4_ONLY`, which is silently thrown away. That doesn't seem ideal, seems like we could do better there.

Could you

[2021-04-22 06:46] movikbence commented on #3323
Hi Nick,
No worries. If I use it in contour bootstrap cmdline it works for me as well, I thought it can be achieved if I use it in the configmap, because there is also an option with the same name (dns-lookup-family)

    # Envoy cluster settings.
    # cluster:
    #   configure the cluster dns lookup family
    #   valid options are: auto (default), v4, v6
    #   dns-lookup-family: auto

   Tha

[2021-04-22 06:56] barbaluc commented on #3544
Any news about this problem ?
We are in a situation where we don't know how to start using ingress with contour.
For the moment we have the intention to use ingress v1beta1 because the certificate secret is deployed in one namespace and used by ingresses from other namespaces.
But we want visibility because v1beta1 will be remove in kubernetes 1.22, it's nearly tomorrow.
Thanks in advance for your

[2021-04-22 07:28] xpepermint opened #3607 "Q: Handling millions of rules"
I wonder how contour handles e.g. a million `rules` definitions. Let say my k8s hosts many clients and each client applies its own envoy rules. I imagine that the envoy will become slow because of all the conditions that have to be checked on each request. I could run one enovy instance per client but that would require more server resources.

What is your opinion/experience on that and how others

[2021-04-22 13:39] #3534 closed, assigned to stevesloka

[2021-04-22 14:03] stevesloka commented on #3455
Fixed in https://github.com/projectcontour/contour/pull/3555

[2021-04-22 14:03] #3455 closed

[2021-04-22 14:05] stevesloka opened #3608 "Gateway API: handle Route conflicts with HTTPRoute.Matches"
**Please describe the problem you have**
It's possible that multiple HTTPRoutes will define the same Match conditions. In this case the following logic should be applied to resolve the conflict:

- The oldest Route based on creation timestamp. For example, a Route with a creation timestamp of “2020-09-08 01:02:03” is given precedence over a Route with a creation timestamp of “2020-09-08 01:02:04”.

[2021-04-22 14:44] #3604 closed

[2021-04-22 16:12] stevesloka opened #3610 "Update k8s deps once releases are available"
Following up to (https://github.com/projectcontour/contour/pull/3609), need to make sure to update the deps to use upstream images/binaries once they are available for Kubernetes v1.21.

- Specifically the `kind` image and CLI should be updated
- Also be sure to check the operator codebase for the same deps that need to be updated, see https://github.com/projectcontour/contour-operator/pull/311
-

[2021-04-22 19:35] stevesloka commented on #3354
Fixes in #3555

[2021-04-22 19:35] #3354 closed

[2021-04-23 08:10] vinzo99 commented on #3567
Thanks @youngnick
I did add the `securityContext` block at the Envoy container level in the DaemonSet, but still get the issue.
I will try adding more options and combinations than just `capabilities`, I guess since Envoy container user is not `root` I should consider adding something else, probably related to user/privileges.

[2021-04-24 06:57] techmunk opened #3613 "Pathrewrite which maintains trailling slash without repeated config????"
**What steps did you take and what happened:**
Was trying to create a pathRewritePolicy where the replacement ALWAYS keeps the trailing slash. I found in several configuration attempts, that this was not the case, and envoy ended up with a config which had either no route for a specified replacement, or multiple routes, one with a leading slash, and one without. I found I had to repeat myself quit

[2021-04-25 01:19] nak3 opened #3615 "Gateway API: HTTPRoute spec.gateways is not cared"
HTTPRoute has spec.gateways field:

https://github.com/kubernetes-sigs/gateway-api/blob/01b86b06e26c435996b71a90fa35122616f4f731/apis/v1alpha1/httproute_types.go#L57

but Contour does not care the field.

It is not urgent issue to me as Gateway has `spec.listners.routes.selector` which can map to HTTPRoutes and Gateway.

[2021-04-25 23:15] youngnick commented on #3567
You could also try adding `CAP_NET_ADMN`, this seems like overkill, but may help with debugging. If that works, then it's probably that Envoy needs another network capability added, See https://man7.org/linux/man-pages/man7/capabilities.7.html for an overview of the capabilities.

[2021-04-25 23:18] youngnick commented on #3323
The entry in the configmap causes Contour to use that DNS lookup family for all the dynamic clusters it creates (that is, the ones pointing to backends). However, the `contour` cluster that points Envoy back to the Contour control plane is static, and is created by the bootstrap, not the main Contour (as it's required to be able to connect to Contour so that the Envoy can be configured!).

So, to

[2021-04-25 23:28] youngnick commented on #3544
The *best* way to use Contour with TLSCertificateDelegation is to use our HTTPProxy CRD, and I would recommend using that if you need something right away. As a bonus, you'll get a bunch of more advanced functionality too!

As you can see above, the design of Ingress v1 _specifically excludes_ the hack we were using the be able to use TLSCertificateDelegation with Ingress v1beta1, so we need to do

[2021-04-26 18:52] #2138 closed

[2021-04-26 19:14] stevesloka opened #3616 "Gateway Port <> envoy-service-http(s)-address serve flags"
Contour defines the ports which Envoy listens on via a set of `contour serve` flags:

- envoy-service-http-address
- envoy-service-http-port
- envoy-service-https-address
- envoy-service-https-port

These are defined in a Gateway.Listeners now. Need to find a pattern to not use the contour serve flags but allow the Gateway.Listener ports to take precedence in the event someone is utilizing Gateway

[2021-04-26 19:35] stevesloka opened #3617 "Move away from Gateway Configuration in Contour Config File"
Currently, Contour requires a name/namespace of a Gateway to be [configured](https://github.com/projectcontour/contour/blob/main/examples/contour/01-contour-config.yaml#L15-L17) in the Contour configuration file. Today if this isn't configured and a user wants to use GatewayAPI, then they must set the value in the file, then restart Contour.

We could move to use the `controller` field of the `Gat

[2021-04-26 20:16] #3540 closed

[2021-04-27 00:39] youngnick commented on #3617
I think using the `controller` field in the GatewayClass is a better idea, and allows for more dynamic configuration. It's also the most Kube-y way to do it.

[2021-04-27 04:40] youngnick commented on #3613
I agree that this either should work as you expect @techmunk, or it should be documented not to. :)

I'll drop this into our "Needs Investigation", and we'll see what we can do.

[2021-04-27 09:20] digibank-rons commented on #3574
Hi,

So just to get it straight, currently there is no way of setting cipher suite for TLS connection?

Thanks

[2021-04-27 13:35] sunjayBhatia commented on #3574
You can for the connections between downstream clients and Envoy, however this does not apply to connections between Envoy and upstream clusters

[2021-04-27 14:24] #3578 closed

[2021-04-27 14:26] stevesloka commented on #3616
Another thought would be to move to use Gateway for Contour by default and have them select root HTTPProxies. Then we can deprecate the flags noted above and use the ports from the Gateway exclusively.

[2021-04-27 14:30] stevesloka commented on #3617
What would you use to specify the name/namespace? Something like: `projectcontour.io/name/namespace`? So for a gateway in the `projectcontour` namespace named `contour`, you'd have a GatewayClass like this:

[code]

[2021-04-27 15:08] stevesloka commented on #3607
Hey @xpepermint! That would be a lot of objects to deal with and my thought would be that you'd run into k8s scaling issues before you'd have Contour issues due to that many resources. In previous testing we had 5k or so Kubernetes Services/Endpoints along with 5k ingress objects and Contour/Envoy handled that fine.

The more objects there are, the more time it does take for Contour to get all the

[2021-04-27 23:14] sunjayBhatia commented on #3284
The last bits of this are for running a job in CI to run integration tests against an ipv6 only cluster, what do we think about moving this to the 1.16 milestone?

[2021-04-27 23:15] sunjayBhatia commented on #1691
Seems like this will slip to 1.16, ok to move?

[2021-04-27 23:16] sunjayBhatia commented on #2139
Not sure if the last step needs to be done as part of this or if we can call it pretty much done, all the ingress conformance tests are passing but flaky in CI/locally

[2021-04-27 23:23] sunjayBhatia commented on #3404
Seems like TLSRoute will not make it in before 1.15, can we move this to 1.16?

[2021-04-27 23:28] skriss commented on #2139
Personally I'd call this one done and just leave the conformance issue open separately.

[2021-04-27 23:28] sunjayBhatia commented on #3166
Seems like https://github.com/projectcontour/contour/pull/3343 is still in progress, moving to 1.16

[2021-04-27 23:29] sunjayBhatia commented on #3440
Seems like this is going to move to 1.16?

[2021-04-28 00:18] sunjayBhatia commented on #2139
Removed the ingress conformance tests item, closing this

[2021-04-28 00:18] #2139 closed

[2021-04-28 01:20] #3253 closed

[2021-04-28 04:56] youngnick commented on #1691
Yep, move this one out to 1.16.

[2021-04-28 04:56] youngnick commented on #3440
Agreed.

[2021-04-28 05:18] youngnick commented on #3617
I assumed that we'd just do like what we do with IngressClass, you specify some value, and the controller uses that, probably with a `projectcontour.io/` prefix. Doing things that way means that we need to handle what happens if more than one GatewayClass has the same `spec.controller` field, we've talked about that before.

But, this does highlight a similar problem to the IngressClass field/anno

[2021-04-28 05:31] youngnick commented on #3616
So, we would *always* have a Contour Gateway, that could also refer to HTTPProxy resources?

Having a Gateway able to refer to HTTPProxy resources as a type of Route is actually a great idea regardless, but this one does sound interesting.

[2021-04-28 13:10] anthonyrea commented on #1627
We require the same functionality to prevent the creation of a Pod specifically for a 301 Location redirect. Is there any update on feature prioritization?

[2021-04-28 13:58] stevesloka commented on #3616
Yeah the thought would be to move Contour to use a Gateway to configure the listeners regardless of if you're using HTTPRoute, TLSRoute, etc. We'd have to add support for Ingress/HTTPProxy, but would give you a single place to define the listener parameters and removes gateway-api from being a "special" implementation.

[2021-04-28 14:03] stevesloka commented on #3617
What I want to do here though is remove the need to configure Contour with something. So in the example of having an internal/external instances, you would configure the GatewayClass  to say, the Contour controller named `internal` in the namespace `ingress-internal` is who will service my routes for internal requests, then another GatewayClass would say, the Contour controller named `external` in

[2021-04-28 14:38] #3615 closed

[2021-04-28 14:45] stevesloka commented on #1627
Support for this got added in #3555 which adds DAG/Envoy support for direct responses. I think if we added a `RedirectPolicy` to the route that would make sense as proposed originally.

[2021-04-28 14:47] skriss commented on #3583
I'll do this as part of the release.

[2021-04-28 14:48] xpepermint commented on #3607
Thanks @stevesloka for sharing.

[2021-04-28 14:48] #3607 closed

[2021-04-29 03:04] youngnick commented on #3617
So, if Contour `internal` in `ingress-internal` is running before the GatewayClass already, then you don't need to configure a GatewayClass for it to be picked up? We *can* do it that way, sure.

But it seems weird to me. We already expect you to configure a IngressClass and restart Contour, why should this one be different? I feel like making GatewayClass easy to understand for new users is more

[2021-04-29 03:08] youngnick commented on #3616
Once we have Contour managing the Envoy Service at least, this would be a nice option, but I think we'll have to keep the old way around for a while (that is do a proper deprecation cycle), since people may not want to install Alpha CRDs in their clusters.

[2021-04-29 03:10] youngnick commented on #1627
Yes, I think that adding something like a `RedirectPolicy` as an option in HTTPProxy would be great. The next step here is a design, but we'll need to review the prioritization of this issue in a triage meeting soon.

[2021-04-29 03:20] stevesloka commented on #3617
This issue is not about the ingress class, this is defining the gateway/namespace that currently gets configured in the contour config file.

I agree the magic string is not ideal which is why I also was thinking about the `parametersRef` section.

This issue is just a place for thoughts/discussion on how to make this easier. To me the less you need to configure/restart Contour the better. Things

[2021-04-29 08:40] movikbence commented on #3323
I see, thanks. Can you suggest an option for dns-lookup-policy inside the cluster if I don't know which type of IP will be used?
My helmchart is now IP agnostic, does not matter where I deploy it. I tried auto option, but it was auto by default, so no success with it.

[2021-04-29 15:19] skriss opened #3621 "Migrate E2E tests to Go"
- [x] get basic framework defined and running in CI
- [x] implement HTTPProxy tests in Go
- [x] implement Gateway API tests in Go
- [x] implement Ingress tests in Go
- [x] turn off `_integration` tests (#3737)
- [ ] remove numbering from tests (leaving in for now for ease of correlating to the `_integration` tests) (#3838)

Future:
- improvements to how test data (`HTTPProxies`, `Gateways`, `HTTPR

[2021-04-29 23:41] youngnick commented on #3323
Sorry, the only way to stop Envoy sending AAAA queries is to set everything to V4 only, it seems. The AAAA-first behavior is pretty standard, so if you're not sure what IP space will be used, you're a bit stuck.

[2021-04-30 00:32] youngnick commented on #3617
Yes, I know. What I am saying is that I think that, if we're not going to specify the Gateway directly, then we should use the GatewayClass in the method it's intended, which is that you set your controller to look at all GatewayClasses, and find any that match, and use those. In our case, obviously, this is more complicated because a  single Contour installation can only handle one Gateway.

The

[2021-04-30 03:13] #3577 closed

[2021-04-30 13:45] stevesloka opened #3624 "Upgrade golangci-lint"
On a new linux box I got the latest version of golangci-lint and it throws a new error when running the lint task:

[code]

[2021-04-30 17:38] sunjayBhatia opened #3628 "Remove all usage of v1beta1 Ingress"
Now that we haved moved our support matrix to k8s 1.19+, we can solely rely on Ingress v1 resources in informers etc. and can remove references to Ingress v1beta1 internally and in tests.

This issue is to track the changes which will touch a lot of files so would be good to break up to make reviews easier.

I believe possibly the one place to leave an Ingress v1beta1 resource would be in an integ

[2021-04-30 18:44] #3583 closed

[2021-05-03 06:26] movikbence commented on #3323
Thank you for the update

[2021-05-04 06:03] xaleeks commented on #2566
Yeah I suppose we can, filtering HTTPProxy resources by IngressClass.  I don’t think this is urgent, relative to the Gateway API work.  If you agree with it, we can leave it in parking lot 3 for now.

[2021-05-04 06:13] xaleeks commented on #3039
Yeah I think we should surface to the user that his service no longer exists instead of silently failover to whatever existing service on that paths.  And we should at least document that behavior in the meantime.

[2021-05-04 06:20] xaleeks commented on #3367
Tagging this for v1.16 so we can begin investigating, if you guys don’t mind.  The reasoning is I feel like we’d rather surface strange behavior early on since we are still working through the design of the Contour Operator to manage all these pieces.  This is a use case that Gateway API implementation has to be built to handle.

[2021-05-04 06:26] xaleeks commented on #3574
And to satisfy FIPS Compliance, I think Min TLS and TLS ciphers should apply to Envoy <> upstream services as well I would think. I’m tagging this v1.16 first, feel free to adjust it based on your priorities @sunjayBhatia

[2021-05-04 06:36] xaleeks commented on #3544
Going to echo Nick Young here that this is best experienced on HTTPProxy.  We are aware v1beta is going away in k8s v1.22.  What is the portability reason you mentioned that lead you to not using HTTPPoxy?  @ghouscht

@barbaluc  If this is vSphere with Tanzu, I’m guessing you’re deploying contour on a `TanzuKubernetesCluster` aka Guest Cluster.  Why is the secret kept in a different `Supervisor Na

[2021-05-04 06:45] xaleeks commented on #1598
Thanks Nick, apologies for the late response.  It sounds like we're saying then is that the includes construct for multi delegation is broken or at least incomplete right now.  If we assume there are actually multiple personas here, by that I mean the parent HTTPProxy admin and the child HTTPProxy admin are two different individuals, the child has no idea how his HTTPProxy is configured by any par

[2021-05-04 07:13] xaleeks opened #3633 "Allow a global timeoutPolicy.response setting"
Consider a global override for the envoy <> upstream timeout HTTPProxy.timeoutPolicy.response so it can be configured once for a Contour instance, and not having to specify it on each route.  When left alone, the default is set to 15s per Envoy’s docs, so we should make this value configurable.  https://github.com/projectcontour/contour/blob/main/site/docs/v1.0.0/httpproxy.md#response-timeout

Con

[2021-05-04 07:50] xaleeks opened #3634 "Discussion: Moving Contour to Quarterly release cadence"
Current support stance for Project Contour is that we only support the latest version.  Since we’re on a monthly release cadence, this can create pressure for users and customers to upgrade at a frequency beyond their level of supportability.  This is a request to think about mechanics to create designated long term releases (LTS) that are more resilient and supported for longer periods of time fo

[2021-05-04 09:36] pablo-ruth commented on #3544
@xaleeks you're right, we are deploying contour on a TanzuKubernetesCluster and we have also opened a support ticket.

We keep our secret (a wildcard corporate certificate) in a different namespace because as described in this blogpost about Gateway API (https://kubernetes.io/blog/2021/04/22/evolving-kubernetes-networking-with-the-gateway-api/#what-does-the-gateway-api-look-like) we are the "Clust

[2021-05-04 10:38] xaleeks commented on #3544
Thanks for this context @pablo-ruth .  You're right, the harbor helm would have difficulty with HTTPProxy right now, it only supports Ingress and settings are applied across all Ingress objects.  I would just add that the harbor helm is forked quite heavily for customizations like Ingress.  Not trying to escape from this problem, just some additional color here.  But it's not something we can real

[2021-05-04 16:03] alemonmk commented on #3613
I would like to add something. I'm trying to rewrite log out path of netbox to logout path of oauth2-proxy, the former have trailing slash while the latter have not. The result is similar to this issue.

First attempt:
[code]
Result:
[code]
`/logout/` got routed upstream and 404 me, though manually accessing `/logout` works.

Second attempt, which appeared it should work, but infinite redirection

[2021-05-04 17:14] sunjayBhatia commented on #3284
ratelimit PR to allow server to listen on any address properly: https://github.com/envoyproxy/ratelimit/pull/252

[2021-05-04 17:29] sunjayBhatia commented on #3284
to save this for later, this is the diff needed to fully configure kind etc. with ipv6 to run the integration tests

[code]

Also when running the integration-tester test suite, the `ADDRESS` env var has to be set to `[::1]`, the go version will be better, the base url will be a proper ipv6 address

[2021-05-04 18:15] sunjayBhatia commented on #3284
Also `httpbin` only listens on ipv4 which is somewhat problematic: https://github.com/postmanlabs/httpbin/blob/f8ec666b4d1b654e4ff6aedd356f510dcac09f83/Dockerfile#L22

this diff was needed to get the httpbin fixture to be usable:

[code]

[2021-05-04 18:27] sunjayBhatia commented on #3312
was thinking about deploying contour with different params etc. in the integration tests, and was wondering what we thought about why we use the example manifests etc. for testing etc.

it's nice to validate they work but its maybe not the most flexible approach to test a lot of different features

some loose ideas:
- keep what we have, and add new tests that deploy different contours to test spec

[2021-05-04 18:28] sunjayBhatia commented on #3312
Also, separate thread, would we ever want to encapsulate the deployment of our testing kind cluster in the e2e test suite? too much overhead?

we could still also allow you to supply config to reach out to an existing cluster as well

[2021-05-05 11:54] alexanderturner opened #3637 "External TLS Upstream Returns `connection failure...BAD_ECC_CERT`"
**What steps did you take and what happened:**
I'm using contour to reverse proxy a number of external services such that it handles domain routing and certificate generation. I've been using the following manifest:
[code]
However most recently I've tried this with a new service with no luck. I receive the following error (in the response):
[code]

I've tried the new `spec.virtualhost.tls.clientVa

[2021-05-05 14:35] stevesloka commented on #3637
Quick question @alexanderturner, does your upstream external endpoint handle the fqdn `vpn.mydomain.com`? We've had issues in the past where the host/sni doesn't get rewritten on the outgoing request and fails. You can rewrite this with the headers policy bit.

[2021-05-05 15:25] stevesloka commented on #3429
I agree with @youngnick & @sunjayBhatia that our base image is as secure as it can be at the moment. Please reopen @xaleeks if you have a different idea in mind in regards to the distroless image.

[2021-05-05 15:25] #3429 closed

[2021-05-05 15:36] skriss commented on #3312
Totally agree, it's easy in the short-term but long-term being able to manipulate the manifests as Go structs will be a lot easier. Whatever we do, we *should* still validate the final example manifests that we put in front of users though.

[2021-05-05 18:10] stevesloka opened #3639 "Add support for GatewayAPI Admission webhook"
Now that there's an admission webhook created for gatewayapi, Contour should add support for this in the docs / examples controllers, etc.

//refs:
- https://console.cloud.google.com/gcr/images/k8s-staging-gateway-api/GLOBAL/admission-server?gcrImageListsize=30
- https://github.com/kubernetes-sigs/gateway-api/blob/master/deploy/admission_webhook.yaml

[2021-05-05 19:14] skriss opened #3641 "HTTPRoute status updates are failing in Kubernetes 1.19.7"
Seeing this error in the Contour log when it's trying to update `HTTPRoute` status on 1.19.7:
[code]

It's marked as optional, so not sure why this would be erroring, esp. only on 1.19.x, makes me think maybe there's an upstream issue. @stevesloka any ideas here?

_Originally posted by @skriss in https://github.com/projectcontour/contour/pull/3638#issuecomment-832835980_

[2021-05-05 19:36] stevesloka commented on #3641
I can see these on a 1.20 cluster as well. I'd like to circle back and add status checks for all of these tests now that we can do that easily. My guess is that the status update is behind the tests and when they go to write status back, the object gets deleted since the testing has moved on to something else.

[2021-05-06 02:53] alexanderturner commented on #3637
Thanks @stevesloka, yeah it should

[2021-05-06 05:48] ghouscht commented on #3544
Mainly because of the reasons @pablo-ruth already mentioned and also the fact that we already have hundreds of vanilla k8s Ingress objects spread across multiple teams which is a bit challenging. I'm eagerly waiting for the new Gateway API as I think this will solve a lot of the problems and hopefully the community around ingress controllers will adapt and converge a bit on this new api.

[2021-05-06 17:26] AtlanCI opened #3643 "Readiness probe failed: Get "http://10.244.140.89:8002/ready": dial tcp 10.244.140.89:8002: connect: connection refused"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

My envoy service doesn't work. Their endpoint is empty.

I installed contour according to the first deployment method in the document and changed the type of invoke service in the configuration file to nodeport. Since then, my invoke pod has always been 1 / 2 ready.   I suspect that the readabilit

[2021-05-06 18:31] sunjayBhatia commented on #3643
Have you inspected the Contour and Envoy pod logs for any errors? The Envoy listener on 8002 is by default the stats server whose configuration is passed down from Contour. If Envoy cannot correctly connect to Contour this listener will not be set up and the Envoy pod will not be healthy

[2021-05-07 08:20] AtlanCI commented on #3643
envoy pod logs:
[code]

contour pod log:
[code]

[2021-05-07 08:23] AtlanCI commented on #3643
thanks @sunjayBhatia .
I found the reason. My global network policy has restrictions on POD access.

[2021-05-07 08:23] AtlanCI commented on #3643
thanks, @sunjayBhatia.
I found the reason. My global network policy has restrictions on POD access.

[2021-05-07 08:24] #3643 closed

[2021-05-07 19:47] owenthereal opened #3653 "Can Envoy connect to non-leader Contour instances and receive staled Envoy configurations?"
**What steps did you take and what happened:**

Install Coutour with `kubectl apply -f https://projectcontour.io/quickstart/contour.yaml`, and add an Ingress like:

[code]

Sometimes Envoy does not respond to traffic defined in `Ingress`. Deleting all `contour` pods in the `projectcontour` ns sometimes helped fix the issue.

**What did you expect to happen:**

Envoy can serve traffic as I define i

[2021-05-07 19:52] xaleeks opened #3654 "Support jump upgrades for better supportability"
This is a request for us to explore jump upgrades ie. supporting N-2 or N-3 upgrades instead of only supporting upgrading to the next version.  Right now, it can be rather cumbersome having to upgrade multiple times to reach the latest version of Contour for users that are stuck on an outdated version.  If customer is on v1.8 and wants to upgrade to v1.15, that's 6 separate upgrades.

Based on htt

[2021-05-10 06:01] youngnick commented on #3654
Some off-the-top-of-my-head thoughts:

Practically, lengthening the support period like this and allowing skip upgrades means that deprecations will need to take a multiple (probably 2-3) of the longest skip. That is, we can't deprecate and remove something unless you have to do more than one skip upgrade to do it.

In addition, if we start using a new Envoy feature (per #3573), we may need to kee

[2021-05-10 06:04] youngnick commented on #3039
I agree we should document the behavior, but there's no way to surface to the user that the service no longer exists. If they've asked for ingress using an Ingress object, there's nowhere to put status information except the Contour logs (which probably won't be accessible to application developers anyway).

So, our options are either fail silently, or give an error code. That's it. Even if we sup

[2021-05-10 06:07] youngnick commented on #1598
Yes, we should prioritize #2495, agreed.

[2021-05-10 06:09] youngnick commented on #3633
We can add a global default for those settings, yes. But we should also ensure that we add Gatekeeper config for managing the settings as well, and consider when we add a "what timeout to use" document that explains what the different timeouts we provide actually do.

I worry that people are prone to picking a timeout they think may work without checking the Envoy documentation about what it actua

[2021-05-10 06:14] youngnick commented on #3634
We can definitely do this, provided that we are prepared to expend the engineering effort to:
- build and maintain a testing matrix for upgrading from LTS to LTS
- have a firm policy about what "LTS" actually means - the more permissive our support policy is, the more pressure we will get to backport things (which can be quite costly in engineering terms). In any case, I think that a baseline must

[2021-05-10 06:19] youngnick commented on #3613
hi @alemonmk, thanks for this additional information.

In your first example, I don't understand what happens. You said that `/logout/` 404s? Does the redirect need to be `/oauth2/sign_out/` or `/oauth2/sign_out`? It seems like the error here is that Contour adds a trailing `/` if there is one on the to-be-replaced prefix? (If so, there may be reasons related to HTTPProxy inclusion interfering, bu

[2021-05-10 06:21] youngnick commented on #3312
I like the idea of unmarshalling the example manifests as part of the testing, that seems like a great way both to test them and to use them as the basis for things. We could also extend that to things like fixtures or similar, I think. Ideally there, we end up with a set of standard base things that we can then have test code mutate as required.

[2021-05-10 08:21] timmyyuan opened #3656 "Tests failed: TestTrustedBuilderCommand and other 5 tests"
**What steps did you take and what happened:**

There are 6 tests failed when running `make check`:
[code]

Reproduce:
checkout v1.15.0, and run
[code]

**What did you expect to happen:**

These tests will pass

**Environment:**

[code]

- Contour version: v1.15.0
- OS (e.g. from `/etc/os-release`): ubuntu 20.04

[2021-05-10 15:45] andrewzah opened #3657 "add support from upgrading http->https in location header"
Creating this per our discussion in the last contour community meeting on 5/4.

Right now we're accomplishing this with the following filter + lua code:

[code]

[code]

and the lua code extracted:
[code]

---

See the first use case mentioned in this issue: https://github.com/projectcontour/contour/issues/3006

[2021-05-10 19:08] stevesloka commented on #3006
I think this is super important to figure out, however, I don't feel like we're moving this issue in any direction after looking through the responses.

It seems like there are a few options to solve this problem:

1. Allow users to specify their own lua in Contour. Get over the risks and just allow it with a feature flag or something if the thought is that it's needed. Call out in the support pol

[2021-05-10 20:46] skriss opened #3660 "test/e2e test flake"
I've seen a couple instances of a test flake with the health check test:

https://github.com/projectcontour/contour/pull/3658/checks?check_run_id=2549283488#step:4:1007

We should either (a) move to `Patch` instead of `Update`, or (b) add retry with backoff for updates.

[2021-05-10 23:51] youngnick commented on #3657
So, the requirement here is "Rewrite all Location headers to HTTPS, always"? And you are currently doing this globally for Contour? I can see adding a boolean thing somewhere that could replicate this, which dodges the support and related issues from #3006.

Sounds like a config file option like `rewriteLocationToSecure` or something might cover this. @andrewzah, do you think that would be what yo

[2021-05-11 00:00] youngnick commented on #3006
I think that we can take the presented problems and add them as features, yes. @andrewzah has logged #3657 to cover the location header rewrite, and we already have #2965 covering adding `Samesite` to cookie attributes.

That doesn't solve the larger "Can we have custom Lua" problem, but does avoid all of my objections. :) It feels like the pattern here could be "We need this feature, seems like L

[2021-05-11 00:02] youngnick commented on #2965
I think that to get this one moving, applying a Lua filter is acceptable.

[2021-05-11 15:39] #3660 closed

[2021-05-11 17:50] PKizzle commented on #2582
Envoy has added documentation on how to enable QUIC / HTTP3: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http3.html?highlight=quic

[2021-05-12 09:24] pablo-ruth commented on #3544
@xaleeks FYI we migrated this week from haproxy to NSX ALB but we have a Tanzu Standard license which only gives us the ALB layer 4, so we cannot do the TLS termination with it. We decided to fork Contour to add an "ugly" patch where we use "." instead of "/" as the delimiter between namespace and secret name, and we hope to have a better solution in the future.

[code]

[2021-05-12 22:02] danehans commented on #3617
Consider leaving the gateway ns/name config as-is and work on transitioning the contour configmap to a structured config using a CRD.

[2021-05-13 05:25] alemonmk commented on #3613
After a second (or more) thought I think I probably misunderstood what situation rewrites can be applied to solve problem.

To clarify, oauth2-proxy does not want the trailing slash. `/logout/` in first example got rewritten to `/oauth2/sign_out/`, oauth2-proxy did not recognize it as logout path so the request was forwarded to upstream, then upstream 404'd me. Rewriting `location` header works gr

[2021-05-13 09:58] 205g0 commented on #3657
Just checking out Contour and stumbled over this issue, does this mean that Contour has no simple toggle or something like a built-in middleware to upgrade http reuqests to https? Didn't find anything in the docs but skimmed them briefly only...

[2021-05-13 15:21] skriss opened #3674 "JSON tags & kubebuilder validations on HTTPProxy"
In working on https://github.com/projectcontour/contour/pull/3667 a few observations were made about the JSON tags and kubebuilder validations on various HTTPProxy fields:

- in `HeaderMatchCondition`, the [Name field](https://github.com/projectcontour/contour/blob/495c141890ac25d27f41efc54e4e816a692c13d1/apis/projectcontour/v1/httpproxy.go#L73-L75) is required (since it's not marked as optional),

[2021-05-13 17:40] skriss commented on #3584
Yep, we use `httpbin` only in one test -- the health checks test -- and only because it has functionality where if you request a path like `/status/418` it will return a `418` response code. It would be really nice to not have to use it anymore since it's so big.

[2021-05-13 20:11] sunjayBhatia opened #3679 "test/e2e: Upgrade testing epic"
This issue is a top-level/epic for capturing todos and progress on establishing an upgrade test suite for contour (roughly in order)

- [x] Build contour image once in CI, share between various e2e jobs
  - Should speed up e2e jobs and ensure we are actually testing against the same artifact
- [x] Initial upgrade test suite: #3678
- [x] Fix upgrade tests for all branches: #3743
- [ ] Upgrade tests

[2021-05-13 21:01] andrewzah commented on #2965
There are a few complications in the envoy lua api, namely:

* while iterating over the headers via `pairs()`, [they are not modifiable](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#pairs).
* [`headers:replace(key, val)`](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#replace) doesn't have a notion of multiple header

[2021-05-13 21:20] andrewzah commented on #3657
@youngnick that should work well.

@205g0 not yet, no. You can use a lua filter with the above code to handle upgrading http->https for now.

[2021-05-14 10:57] tsaarni commented on #3584
I guess the conformance test suite does not go into status codes of upstream services currently but I wonder if it could be justified that `ingress-conformance-echo` would have a `/status/` endpoint for testing controllers, something simple like [this](https://github.com/tsaarni/ingress-controller-conformance/commit/adb4adecf6b6c70fb6cbb30177a6e6db74e04c38).

[2021-05-14 14:05] stevesloka commented on #3657
@205g0 at a high level, Contour does support an automatic 301 redirect from http->https if you're using HTTPProxy for ingress resources. The issue that @andrewzah is referencing is a little different from basic redirects.

[2021-05-14 17:48] sunjayBhatia opened #3681 "CI pipeline/job improvements"
Related to https://github.com/projectcontour/contour/issues/3679 there are various improvements we may be able to make in order to have more confidence in our CI jobs/pipelines, speed them up, and follow best practices

- [x] Use dependencies between jobs more often to pipeline operations to reduce wasted effort/time to get results
  - e.g. integration job will depend on an image build job, if tha

[2021-05-14 19:09] skriss commented on #3584
Would definitely be useful, if they'd take the PR we would use it and drop `httpbin` for sure.

[2021-05-15 06:31] giri-varma commented on #3371
@youngnick any updates on the issue?

We have been using a custom image with the [temporary fix](https://github.com/giri-varma/contour/commit/bab09ed0549d09a65861e1a3151438565d40ad1a). Looks like Contour has new security fixes and we would like to pull them in with the AllowConnect fix if possible.

[2021-05-16 12:07] 205g0 commented on #3657
@stefanprodan thx for the info. Ok now I am confused now haha, someone who likes standard Ingress with terse annotations and will upgrade to Gateway API inf future, should I really setup a new cluster which will run for some time on HTTPProxy—I know it will be support beyond Gateway's GA—but yeah...

[2021-05-16 23:43] 205g0 commented on #3657
@stevesloka I checked the API spec for HTTPProxy at https://projectcontour.io/docs/main/config/api/ and couldn't find anything about to-https-redirects in that CRD, even if go down the rabbit hole into the sub-API there's even anything about simple redirects. Hope I missed that or the HTTPProxy CRD_isn't capable of doing redirects neither?!

[2021-05-17 01:05] youngnick commented on #3657
@205g0 HTTPProxy doesn't have a way to ask for redirect to HTTPS, because it's on by default, unless you specifically disable it by creating an insecure proxy that matches the same domain name and route. If you just ask for `foo.com`, and supply TLS details, Contour will configure the HTTP->HTTPS redirect for you.

@andrewzah's case is about changing the `Location` header unconditionally from `htt

[2021-05-17 01:07] youngnick commented on #3371
Hi @giri-varma, sorry, no further updates at the moment. I'll ping @xaleeks and make sure this is on his radar, so we can get it prioritised and in sometime. I think the only outstanding thing here is to have someone check the spec for CONNECT and see if there's any implications of setting the `Allow` in the absence of the `UpgradeConfig.UpgradeType` directive.

[2021-05-17 01:09] youngnick commented on #2582
Thanks @PKizzle, we'll keep an eye on the blocking issue mentioned in the above page (envoyproxy/envoy#13115).

[2021-05-17 03:54] giri-varma commented on #3371
Sounds good, thanks! I can try to look up on that a bit. But I fear I am not an expert to fully understand the security implications of it.

[2021-05-17 05:42] 205g0 commented on #3657
@youngnick thanks for the quick clarifications.

Having a HTTP->HTTPS redirect turned on by default is a great design decision. I assume, this default redirect also keeps the path?! So if someone typed `http://example.com/app` it redirects (btw with a 301, permanent one?!) to `http://example.com/app/`, right?

Apologies for such these nitty-gritty questions, hope I can just try it out myself soon,

[2021-05-17 14:39] placydo commented on #3674
Isn't that related to this https://github.com/projectcontour/contour/issues/3307

[2021-05-17 17:55] sunjayBhatia commented on #3674
I think that is probably a separate issue if I had to guess

[2021-05-17 18:26] kumar-subashp opened #3686 "HTTP1.1/2 connection getting resets"
We are using contour 1.12.0 with HTTPProxy CRD resource, and observed that both HTTP2 as well as HTTP1.1 api calls are getting reset after 15 seconds(default), It seems to be related to the keep-alive handling, however no relevant properties found in HTTPProxy resource definition, also verified with timeoutPolicy.idle, but in this case also once idle time reach connection gets reset.

Please sugge

[2021-05-17 20:48] skriss commented on #3641
ref. https://github.com/kubernetes-sigs/gateway-api/issues/669

[2021-05-18 01:47] youngnick commented on #3657
@205g0, yes that's correct. All paths for `http://example.com/` get 301-ed to the equivalent `https://example.com/` path by default.

[2021-05-18 13:55] ssa3512 commented on #62
Given this issue is closed and there doesn't appear to be any implementation, has it been decided that contour simply will not support an IP allowlist for ingress? This seems like a pretty core feature of a gateway service (the ability to allow/deny traffic based on source IP). We are looking to use contour for ingress in our kubernetes cluster but similar to the case laid out by @houz42 some of t

[2021-05-18 14:03] pandeykartikey opened #3687 "`go get` no longer populates the `$GOPATH/src` with the project's source code"
I was setting up contour as instructed in the CONTRIBUTING.md, when I found that the repo was not being fetched in `$GOPATH/src`. Possible mitigation which I found were setting `GO111MODULE=off` or cloning it in the appropriate directory. If the suggestion seems fine, Shall I go ahead to make this change in the docs?

[2021-05-18 14:07] skriss commented on #3687
Thanks for noticing the issue @pandeykartikey. Yes, we should update that document. Personally, I'd replace the `go get` command with a `git clone` into any directory (no longer needs to be a subdir of `$GOPATH`).

[2021-05-18 14:13] skriss commented on #3641
@stevesloka maybe we should populate the `Controller` field in the `RouteGatewayStatus` struct to avoid this issue for now, reading the original PR/issue that added that field implies it will become required eventually anyway. Not actually sure which value makes sense, though - `projectcontour.io/contour-operator` or `projectcontour.io/ingress-controller`?

[2021-05-18 14:17] sunjayBhatia commented on #3687
Yep I don’t work out of the GOPATH at all with contour, just clone it and other module repos into my workspace directory

[2021-05-18 14:27] pandeykartikey commented on #3687
I think then the entire `Fetch the source` section can be reduced to fork and clone the repo.

[2021-05-18 14:29] stevesloka commented on #3641
@skriss let me look back again at the tests, we should be processing through the configured gateway to that field. If not then possibly there's some other edge case that we've hit.

[2021-05-18 14:30] skriss commented on #3641
Putting a value into the Controller field fixes this issue for me

[2021-05-18 14:39] stevesloka commented on #3641
Ahh ok I see. Yeah we need to push through what's configured in the Gateway class, but Contour hasn't processed gateway classes at this point. We could use something status like you suggested and then update once we have proper gatewayclass processing.

I think @danehans was using `projectcontour.io/contour` in other places, but can swap that out for anything right now.

@skriss do you want to tak

[2021-05-18 14:42] skriss commented on #3641
I'll put a PR up with a static value now for and log an issue to update with the GatewayClass value. Thanks for the input!

[2021-05-18 15:47] sunjayBhatia commented on #3628
This is complete, closing

[2021-05-18 15:47] #3628 closed

[2021-05-18 18:05] skriss commented on #3621
@stevesloka @sunjayBhatia @youngnick I'm planning to turn the `_integration` tests off around the end of this month/release cycle, let me know if you have any objections.

[2021-05-18 19:06] skriss opened #3689 "set Controller from GatewayClass on HTTPRoute status updates"
https://github.com/projectcontour/contour/pull/3688 sets the `Controller` field of HTTPRoute status updates to a static value since this field must not be empty. However, this value should probably be populated based on the Controller value from the Gateway's GatewayClass. Once Contour has GatewayClass support, this update should be made.

[2021-05-18 19:31] #3641 closed

[2021-05-18 23:31] #3610 closed

[2021-05-19 03:27] ccravens opened #3692 "Websocket Timeout"
Websocket connections seem to be timing-out every 16s:

![image](https://user-images.githubusercontent.com/1319049/118751991-4b86d280-b830-11eb-8892-f16e6cfb751a.png)

Expected behavior is that the websocket connection maintains Pending status indefinitely and does not timeout:

![image](https://user-images.githubusercontent.com/1319049/118752059-6eb18200-b830-11eb-97a2-eba29207715b.png)

It seems

[2021-05-19 03:28] ccravens commented on #3692
May be related to this: https://github.com/envoyproxy/envoy/issues/16129

[2021-05-19 04:36] youngnick commented on #3692
Hmm, interestingly, I can't reproduce when using the following HTTPProxy:
[code]

If this is related to envoyproxy/envoy#16129, this would make sense, as it needs to be on a sub-path. I'll try that next.

[2021-05-19 04:49] youngnick commented on #3692
Okay, I changed the HTTPProxy as follows:
[code]
And I still can't get this to reproduce. @ccravens, could you try your client against this setup? I'll leave `wss://wstest.youngnick.dev/websocket` running overnight my time so you should have a chance to have a go. I think it's very unlikely, but then that rules out any issues between your client and your server. Then we can try and figure out what

[2021-05-19 06:03] youngnick commented on #3192
@McShauno, @fjudith, @derekperkins, there have been a few Contour versions since we last heard anything on this issue, have you seen these problems recently?

[2021-05-19 06:04] youngnick commented on #3201
Following up on old issues, @kevincantu, is there anything more on this one? Sorry to have led you astray, and thanks @stevesloka for the correction.

[2021-05-19 06:06] youngnick commented on #3496
@sanketshirode, sorry about the delay on this one, any chance you could give some more information about how you got that cert? I need to try and reproduce the issue, so I'll need to make a similar one somehow.

[2021-05-19 06:08] youngnick commented on #2608
@senthilrameshjv, any updates on this issue?

[2021-05-19 06:09] youngnick commented on #2619
Following up on issues, it seems like @maplain's fix may cover your use case, @primeroz. Is there anything else you would like done on this issue?

[2021-05-19 06:16] youngnick commented on #2679
Following up on this issue, looks like the ask here is:
- add `method` as a match condition for HTTPProxy routes
- Write clear rules about how unique the set of methods needs to be, keeping in mind that the `conditions` stanza is reused between Routes and Includes.

This definitely needs a design writeup, which would be best in a design document. I'll leave this TODO here for prioritization @xalee

[2021-05-19 06:29] youngnick commented on #3686
Hi @kumar-subashp, thanks for logging this issue.

Can you tell us more about what's happening on the connections? Are they being terminated 15 seconds after being opened,  after 15 seconds of idle time, or some other 15 second period?

I ask because Envoy has a *lot* of timeouts, with interactions that are not always clear without reading the documentation carefully. That's also useful here, beca

[2021-05-19 06:30] youngnick commented on #3621
As far as I can see, we have coverage over the same things, so that sounds great.

[2021-05-19 06:34] youngnick commented on #62
No, we have not ruled out doing some sort of IP allowlist (and blocklist), but we should open an issue to cover that. I'll do that now, then close this one out again and we can talk more there @houz42 and @ssa3512. Thanks for your feedback here, it's really appreciated.

[2021-05-19 06:42] youngnick opened #3693 "Add IP allowlist and blocklist functionality"
As either a cluster admin or application developer, I want to be able to restrict access to services behind Contour by source IP address.

This issue covers:
- identifying the exact use cases
- designing a solution to cover the use cases
- implementing that solution.

The original source issue for this was #62 (way back!), and we have a few things to decide, and I can think of a few things for us

[2021-05-19 06:43] youngnick commented on #62
I've opened #3693 to cover the feature request, please head over there.

[2021-05-19 06:43] #62 closed

[2021-05-19 08:05] primeroz commented on #2619
It sounds good to me, feel free to close this issue and thanks!

[2021-05-19 12:52] #2619 closed

[2021-05-19 13:54] #3687 closed

[2021-05-19 14:08] skriss commented on #2679
FYI, I bumped into this before, but I believe it's already possible to route based on request method via the `:method` pseudo-header -- see https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto.html#config-route-v3-headermatcher. So you'd add a header match condition on `:method`. I haven't tested this myself yet but can try it out soon and confirm whether it wo

[2021-05-19 14:18] #3043 closed

[2021-05-19 15:34] ccravens commented on #3692
Thanks @youngnick! What I'm seeing on my end is there are essentially 2 services using 2 different HTTPProxy on 2 different pods in 2 different namespaces that are experiencing this exact behavior described in the issue. Service names are 1) app and 2) IDE. Please find below the specifics of the configurations for each.

Screenshot of the 2 services both experiencing a 16s reconnect (`ws` is app,

[2021-05-19 15:35] tsaarni commented on #3576
Thanks @youngnick!

My progress with the Envoy PR has been slow but with the information I have now, I think it would make sense to make the text based access log format configurable in Contour.

My reasoning:

1. There already is similar configuration for [JSON based access log](https://projectcontour.io/guides/structured-logs/) that gives user an option to freely define the format. Adding option

[2021-05-19 16:28] kevincantu commented on #3201
Well, I've changed companies and not quite yet talked the new team into migrating everything to Contour, so things are good on my end!  My former team will probably be following up and can confirm when it all works!

[2021-05-19 17:08] skriss commented on #2679
OK, I was able to verify this worked, see the following HTTPProxy:

[code]

This properly routes to `s2` if a `POST`, and `s1` otherwise.

If this functionality is sufficient for folks, then it's probably just a matter of documenting explicitly. I could also see an argument for adding syntactic sugar to the HTTPProxy API along the lines of https://github.com/projectcontour/contour/issues/2679#issu

[2021-05-19 17:24] stevesloka opened #3695 "Implement GatewayAllow in TLSRoute"
Is [this block of logic](https://github.com/projectcontour/contour/blob/e3cf805af778fe42ec39681dbf71b783b091007e/internal/dag/gatewayapi_processor.go#L138-L157) that we have for `HTTPRoutes` not needed for `TLSRoutes`?

_Originally posted by @skriss in https://github.com/projectcontour/contour/pull/3627#discussion_r634681222_

[2021-05-19 22:48] abhinavk07 commented on #2441
[code]

Above config for NLB isn't working for me. I'm able to reach the application but the SSL cert doesn't work. I'm using kubernetes 1.14, can anyone suggest a workaround?

[2021-05-19 22:49] abhinavk07 commented on #2441
[code]

Above config for NLB isn't working for me. I'm able to reach the application but the SSL cert doesn't work. I'm using kubernetes 1.14, can anyone suggest a workaround?

[2021-05-20 01:34] youngnick commented on #3201
Thanks for that @kevincantu, I'll close this one for now then, we can reopen if needed.

[2021-05-20 01:34] #3201 closed

[2021-05-20 01:35] youngnick commented on #2679
Oh, that's neat, thanks @skriss! Watchers of this issue, any thoughts on what you would prefer?

[2021-05-20 06:41] youngnick commented on #2441
Hi @abhinavk07, could you log a separate issue for that one? As well as the Kubernetes version, could you put in the Contour and Envoy versions you're using? I don't know much about these annotations, but we can try and give you a hand once we have that.

[2021-05-20 06:49] youngnick commented on #2051
Seems like this is another victim of the underspecced nature of the Ingress API. If only there was some replacement that didn't have the same problems! 😝

More seriously, I until we have ACK support, we don't have any way to check if the programming is complete, and even if we did, there's no way to tell from the object (since there's no Conditions). So I think we'll have to just change the tests

[2021-05-20 18:10] sunjayBhatia commented on #3692
in office hours we were able to find this Envoy commit: https://github.com/envoyproxy/envoy/pull/15585

if there is no `max_stream_duration` set, the route response timeout from the upstream is used, which defaults to 15s

we had @ccravens deploy Envoy 1.17 and saw the reconnects go away, with 1.18 we were able to change the https://projectcontour.io/docs/v1.15.1/config/api/#projectcontour.io/v1.T

[2021-05-20 18:18] sunjayBhatia commented on #3692
we still are a little confused why @youngnick was not able to repro the issue, we may need to do some checks between environments potentially

[2021-05-20 19:13] sunjayBhatia commented on #2051
A quick run through and I don't see anything in CI for other Ingress controllers, but I didn't do the most digging

[2021-05-21 00:42] youngnick commented on #2051
I think the most important thing is that Contour can pass the conformance tests eventually, once things are stable. So retries or longer timeouts are okay in my book.

[2021-05-21 19:40] danehans opened #3700 "Decision: How to handle GatewayClass Deletion"
**Please describe the problem you have**
How should Contur handle deleting a GatewayClass? This can be a destructive operator if Contour should delete gateways of the class. Maybe Contour should simply update gateway status to indicate something?

[2021-05-21 21:42] stevesloka commented on #3700
A similar behavior that can happen is if the GatewayClass goes invalid, what should happen? Ultimately we'd like to keep the old version running, but that doesn't work on a cold startup.

[2021-05-21 21:46] stevesloka opened #3702 "Use gateways for all external interactions"
Thinking through the Gateway api integration, we've been discussing managing Envoy directly from Contour. Should we manage the external traffic targeted to Envoy via Gateway's instead of service type=LoadBalancer?

Potentially, we could create stub Gateways that in the background manage services with type=LoadBalancer until those direct integrations become available.

For instance, for AWS, we cou

[2021-05-22 00:26] sarthak40 opened #3703 "session affinity: source ip"
**Please describe the problem you have**

Contour supports sticky sessions through [session affinity](https://projectcontour.io/docs/main/config/request-routing/#session-affinity), and more specifically through `loadBalancerPolicy strategy: Cookie`.

When implementing workloads where you'd need tls passthrough, it'd be useful to have the source (/ client) ip and route requests to the same upstream

[2021-05-24 15:27] sunjayBhatia commented on #3703
Envoy supports load balancing on source IP: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-routeaction-hashpolicy-connectionproperties

We support request header hashing as a load balancing policy and could extend it to support connection propertly/source IP load balancing: https://projectcontour.io/docs/v1.15.1/config/req

[2021-05-24 19:07] sunjayBhatia commented on #2051
https://github.com/kubernetes-sigs/ingress-controller-conformance/issues/92

[2021-05-24 19:17] sunjayBhatia commented on #3574
@xaleeks Envoy -> upstreams with a FIPS build of Envoy will already send FIPS compatible ciphers without configurability

Does this apply to FIPS really? Or does it more apply if you want to override the defaults that Envoy will choose? (to allow non-FIPS etc. while you are transitioning to FIPS or something or for legacy)

[2021-05-24 20:40] danehans opened #3705 "Add Controller Runtime Reconcile Tests"
**Please describe the problem you have**
https://github.com/projectcontour/contour/pull/3510 added controller-runtime controllers but no tests for these controllers. Tests should be added to test controller functionality.

[2021-05-24 21:09] sunjayBhatia commented on #1846
sounds like this could also be done via degraded endpoint load balancing: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/degraded

[2021-05-24 21:16] danehans opened #3706 "Improve Handling Multiple GatewayClasses"
**Please describe the problem you have**
https://github.com/projectcontour/contour/pull/3659 adds gatewayclass support. The PR handles multiple gatewayclasses by admitting the first one that is reconciled. We should have well defined behavior for handling multiple gatewayclases, i.e. admit the oldest.

xref: https://github.com/projectcontour/contour/pull/3659#discussion_r638178777

[2021-05-24 22:36] sarthak40 commented on #3703
@sunjayBhatia thanks for your response!

I'm afraid headers won't be readable through a `tcp_proxy` in the case of a TLS passthrough right?

[2021-05-25 00:31] sunjayBhatia commented on #3703
Correct but the connection property hashing feature isn’t related to the http headers, to clarify they are separate hash policies we can make configurable

[2021-05-25 12:55] McShauno commented on #3192
@youngnick I will upgrade and let you know within the next couple of days.

[2021-05-25 14:57] derekperkins commented on #3192
I can't remember exactly when it disappeared, but this has been solved for a while for us.

[2021-05-25 15:10] jonasrosland opened #3708 "Docs: Update the API reference to properly include the reference in previous versions"
The API reference HTML is automatically built for each version, and is being included in the docs as can be seen here:
https://projectcontour.io/docs/v1.15.1/config/api/

The API reference link for previous active versions have the wrong include function being called resulting in a blank page, as can be seen here:
https://projectcontour.io/docs/v1.15.0/config/api/

The correct behavior is already

[2021-05-25 15:26] stevesloka opened #3710 "docs: implement site link checker"
Now that Contour has moved on to Hugo the old site link checker can be updated. I played around with `htmltest` (https://github.com/wjdp/htmltest) which looks neat.

Running it on our site has a bunch of errors that would need cleaned up at the same time this is implemented:

[code]

[2021-05-25 16:28] jonasrosland opened #3712 "Docs: Cleanup after Hugo migration"
There are a few instances within the docs which still have artifacts left over from the Jekyll to Hugo migration. These instances have all been fixed in v1.15.1 and main, but still remain in previous versions.

This will be a tracking issue for the fixes, so if you want to just fix part of the list please do so and reference this issue.

The list below shows how the artifacts impact the v1.15.0 do

[2021-05-25 18:38] johanbrandhorst commented on #3712
https://projectcontour.io/docs/v1.15.0/config/api/ is showing an empty page altogether.

[2021-05-25 18:39] johanbrandhorst commented on #3712
Edit buttons on some (all?) pages are dead links.

[2021-05-25 18:43] jonasrosland commented on #3712
Yup, that's covered in this issue: https://github.com/projectcontour/contour/issues/3708

[2021-05-25 18:44] jonasrosland commented on #3712
Perfect, added to the list!

[2021-05-25 21:25] sunjayBhatia commented on #3284
still waiting for some upstream things (ratelimit CI to push an image) and running e2e tests against an ipv6 cluster might be something we consider doing as part of our expanded testing efforts, removing from 1.16.0 for now

[2021-05-25 21:27] sunjayBhatia commented on #3574
haven't had a chance to work on this yet and 1.16 release is v soon, should probably move this to the next milestone

[2021-05-25 21:28] sunjayBhatia commented on #2051
waiting on upstream ^ will make a PR but the repo has not been very active so even if I do it probably won't make it for a while

 should probably pull this out of 1.16

[2021-05-25 23:52] youngnick commented on #3366
Slipping this one to 1.17.

[2021-05-25 23:53] youngnick commented on #3166
Still waiting on #3343, moving to 1.17.

[2021-05-25 23:54] youngnick commented on #1691
Still in flight, moving to 1.17.,

[2021-05-25 23:54] youngnick commented on #3440
Some support implemented in 1.16, but completion will need to be in 1.17.

[2021-05-25 23:55] youngnick commented on #3404
Some TLSRoute support is in (see #3440), but it's not finished yet, moving this to 1.17.

[2021-05-25 23:56] youngnick commented on #1176
This one's waiting on @wrowe to have some bandwidth. Moving to parking lot 1.

[2021-05-26 03:37] youngnick commented on #3367
We haven't made any progress on this one for 1.16, moving to 1.17.

[2021-05-26 03:40] youngnick commented on #3710
That looks great, agreed.

[2021-05-26 04:09] youngnick commented on #3192
Thanks for the updates @derekperkins and @McShauno. I'll wait for a few days for a check-in from @McShauno before closing this one, but looks like it's fixed somehow.

[2021-05-26 04:10] youngnick commented on #1846
Yeah, that does seem like it would help here as well. Probably, having the option to raise the panic threshold is okay, as long as we call out that you need to be sure it's doing what you think it is.

[2021-05-26 04:13] youngnick commented on #3703
Thanks for raising this issue @sarthak40!

This is probably linked to similar issues:
#3099
#3044
#3142
that are also about new hash policy options. I'll make sure it's put in the "to be investigated" bucket there as well.

[2021-05-26 04:14] youngnick commented on #3702
This would certainly make the main Contour code simpler in the "Contour manages Envoy" case. I don't know if we'll be ready before then though.

[2021-05-26 14:26] stevesloka commented on #3702
Here's a diagram I drew up of the interaction:

![Contour-GatewayAPI](https://user-images.githubusercontent.com/1048184/119677556-ac477980-bdf3-11eb-9d4c-86c7c458c139.jpg)

https://docs.google.com/drawings/d/1MQKcMkLc_Dhss_aIf84IEjEqOGYJxBIOZgkCRI-5yj0/edit

[2021-05-26 14:41] stevesloka opened #3717 "Metrics Docs after Site Change"
After this change, how do we update the metrics docs? They're still present on the "Prometheus metrics" page, but it seems like now we won't be able to manage them programmatically? If the plan is to fix them up later, that's fine, but a TODO here or an issue link would be great.

_Originally posted by @youngnick in https://github.com/projectcontour/contour/pull/3711#discussion_r639386234_

[2021-05-26 14:41] sunjayBhatia commented on #3574
cipher suite configurability for Envoy as a client is maybe a lower priority tbh given this clarification in the docs: https://github.com/envoyproxy/envoy/blob/299eadf8b703972229321f296061adb4e5b510a8/api/envoy/extensions/transport_sockets/tls/v3/common.proto#L93-L109

Envoy in FIPS and non-FIPS mode as a client requests a limited set of ciphers anyways, but we can make it fully configurable for u

[2021-05-26 14:43] stevesloka opened #3718 "Update site-devel make task to optionally use docker image"
I added back the `hugo serve` as `make site-devel`. Would like to expand further with a docker image if the binary is not locally available, also helps speed up folks. Right now the community hugo docker image can't be pulled from dockerhub, not sure if I'm rate limited, but can follow up.

_Originally posted by @stevesloka in https://github.com/projectcontour/contour/pull/3709#discussion_r6397964

[2021-05-26 14:51] skriss opened #3720 "site: update hack/release/prepare-release.go for move to Hugo"
`hack/release/prepare-release.go`, which generates a new set of versioned docs, needs to be updated to handle the new Hugo site structure.

[2021-05-26 15:08] skriss commented on #3720
I'll take a look at this

[2021-05-26 17:43] #3720 closed

[2021-05-26 17:53] johanbrandhorst opened #3726 "Allow configuration of ext_authz, global_rate_limit HTTP filter priority"
Hi, loving Contour, great work!

We've been using the external authz support with great success and recently investigated taking advantage of the new Global Rate Limiter configuration and discovered that the global rate limit filter is hardcoded to being applied after any external authz filter. This means that using the global rate limiter for DDOS protection is not going to protect the external a

[2021-05-26 18:12] #3717 closed

[2021-05-26 18:53] sunjayBhatia opened #3729 "test/e2e: Convert 013-backend-tls.yaml to Go e2e test"
See: https://github.com/projectcontour/contour/blob/02d46eecf1ebea8da4228cca49936ee164c6ac9d/_integration/testsuite/httpproxy/013-backend-tls.yaml

This test is currently skipped in CI b/c it requires a specific config to be set in the Contour config file: https://github.com/projectcontour/contour/blob/02d46eecf1ebea8da4228cca49936ee164c6ac9d/_integration/testsuite/httpproxy/013-backend-tls.yaml#L

[2021-05-26 18:54] sunjayBhatia commented on #3621
Relevant issue as well, to track the backend-tls test that we dont have a go e2e for yet: https://github.com/projectcontour/contour/issues/3729

[2021-05-26 19:06] skriss opened #3730 "E2E test flake"
We've seen the following flake a couple times:

[code]

[2021-05-26 19:15] sunjayBhatia commented on #3730
Feel free to assign this to me since I added that specific test

[2021-05-26 19:22] skriss commented on #3730
I have a hunch that adding a `require.Eventually(...)` around https://github.com/projectcontour/contour/blob/main/test/e2e/httpproxy/007_client_cert_auth_test.go#L487-L489 would take care of this

[2021-05-26 19:39] skriss commented on #3730
Don't worry about it, I already started poking at it.

[2021-05-26 20:37] skriss opened #3733 "Update SITE_CONTRIBUTION.md"
This needs a pretty big overhaul now that we've moved to Hugo.

[2021-05-26 21:05] andream16 commented on #3444
Yes, that's what I did at the end. I'd say that removing it before hand would be a nice solution.

Yeah, tried a bunch of things and the header was removed from both requests going upstream & to the mirror service.

That makes sense. I would be happy to add it myself 😃

[2021-05-27 00:08] youngnick commented on #3444
I think the request is reasonable, but how we expose it needs a little thought. So it should end up on the roadmap, but as always, input welcomed. :)

Any solution needs to define:
- How do we tell when to remove a header just for a mirrored service?
- What does the YAML and HTTPProxy structure look like?

Once we have a design for how we can expose the config, then the implementation should be re

[2021-05-27 00:45] youngnick commented on #3726
Great catch, thanks @johanbrandhorst! Off the top of my head, it does seem that having rate limiting go first as a default probably makes sense (as you say, to protect the external auth service).

But yes, it also seems reasonable to allow the configuration of this order somehow (since maybe you care more about the auth than the rate-limit or something).

@skriss, any thoughts?

[2021-05-27 03:36] amdonov commented on #1228
While it's great to have wildcard support on ingress and gateway resources, it would still be helpful to have on HTTPProxy. Please correct me if I'm wrong. I can't figure out how to do TLS passthrough with ingress. Gateway isn't ideal for us because it is so new and forces use of the operator. We're using some options with the helm chart such as node selectors, tolerations, and hostNetwork that th

[2021-05-27 10:09] alparslanavci commented on #2608
Guys, I just would like to verify that TCPProxy for non-HTTP protocols works for both TLS session passthrough and proxying. I managed to set up two Hazelcast clusters to replicate data (which is performed by TCP/IP using TLS) via Contour ingress.

@youngnick, your previous comment helped a lot, thank you.

[2021-05-27 14:01] McShauno commented on #3192
@youngnick

Actually, it seems we might still be having the same problem.  I upgraded to the latest version about 48h ago and here is the current pod list:

![image](https://user-images.githubusercontent.com/725558/119838591-898b9280-bed1-11eb-8fd7-ea8258a127fb.png)

You'll notice there is one pod towards the bottom with `1/2`. Here are the details on that pod:

[code]

  This is the same issue we

[2021-05-27 14:15] #3730 closed

[2021-05-27 14:45] skriss opened #3736 "possibly remove manual certgen code"
ref. https://github.com/projectcontour/contour/pull/3728#pullrequestreview-669498159

There are [Makefile targets](https://github.com/projectcontour/contour/blob/main/Makefile#L260-L312) for manually generating certs for Contour<->Envoy communication. These are unlikely to be used anymore and could be removed.

However, they're referenced as the generator for test data in https://github.com/projec

[2021-05-27 16:49] skriss commented on #1155
Closing this one out as we've got E2E tests in place.

[2021-05-27 16:49] #1155 closed

[2021-05-27 18:59] #3695 closed

[2021-05-27 19:34] #3561 closed

[2021-05-28 02:03] youngnick commented on #3192
Just to confirm @McShauno, that one Envoy pod is responding to the `/ready` endpoint with a 503 and `DRAINING` still? If so, then there's still something we need to find about what's triggering the shutdown manager to tell Envoy to start draining connections.

Just as a reminder, the normal flow is:
- Envoy pod starts, is unhealthy
- Envoy pod connects to Contour for configuration, will open ports

[2021-05-28 02:05] youngnick commented on #2608
Thanks for that @alparslanavci!

[2021-05-28 02:13] youngnick commented on #1228
Thanks @amdonov. So you just want to be able to do the same first-label-only wildcard match that we do for Gateway? We may be able to port that functionality to HTTPProxy if that's all that's required (since we've already figured out how to do it for Gateway).

[2021-05-28 03:56] karuppiah7890 opened #3742 "Question: Docs search for v1.16.0 - not working temporarily?"
**On Page:** [Docs](https://projectcontour.io/docs/v1.16.0/) I'm not able to do a search in the documentation 😢 For some reason the Algolia API seems to send empty response. Looks like this happens only for v1.16.0 which just got released a few hours ago from what I see https://github.com/projectcontour/contour/releases/tag/v1.16.0 . Is this a temporary thing? Will it be available after some time?

[2021-05-28 14:24] skriss commented on #3742
@jonasrosland do we need to do anything here to get the new docs indexed?

[2021-05-28 14:53] sunjayBhatia opened #3743 "test/e2e/upgrade: Upgrade tests should work on release branches, tags, and main"
Currently the upgrade tests fail to deploy the correct *from* version on release branches, see: https://github.com/projectcontour/contour/runs/2688468015?check_suite_focus=true

This is because we try to figure out the previous version to upgrade from here: https://github.com/projectcontour/contour/blob/9f665c80e86d46efb61494d0aec3ec4bdc1a4eb8/Makefile#L13

On a release branch, this will not be co

[2021-05-29 13:24] takama opened #3749 "The Contour v1.16.0 requires Kubernetes >= v1.19"
**What steps did you take and what happened:**
Install the Contor v1.16.0 via helm charts

contour-7c9f75d965-d27tk   0/1     CrashLoopBackOff   1          20s

time="2021-05-28T20:23:23Z" level=**fatal** msg="failed to create informer" error="no matches for networking.k8s.io/v1, Resource=ingresses" resource="networking.k8s.io/v1, Resource=ingresses"

**Anything else you would like to add:**
The i

[2021-05-30 17:13] Legion2 commented on #3192
I'm currently investigating envoy pod container restart alerts from our cluster and discovered this issue. I also have many `time="2021-05-30T15:05:44Z" level=info msg="file /ok does not exist; checking again in 1s" context=shutdownReadyHandler` in the logs. I think this is because the enovy container was restarted but the shutdown-manger didn't recognize it, so shutdown-manger still waits for the

[2021-05-31 01:33] youngnick commented on #3192
hmm, that is a good point, and it would make sense that the shutdown-manager is not resilient against something like that. Do you have any idea how the envoy container was restarted without the whole pod being restarted?

[2021-05-31 01:56] youngnick commented on #3749
Thanks for logging this issue @takama. In general, Contour's Kubernetes version support tracks the supported Kubernetes versions. As you can see from our (compatibility matrix){https://projectcontour.io/resources/compatibility-matrix/], we haven't officially supported Kubernetes 1.18 since Contour 1.14.

However, I one hundred percent acknowledge that we have done a bad job of publicizing both thi

[2021-05-31 05:18] calshankar commented on #3192
@youngnick i can confirm the same behavior. I'm able to reproduce the issue consistently in kind.. To me it looks like sync issue  whenever the pod restarts either due to docker restart or machine reboot. Let me know if you need any further details..

[2021-05-31 06:10] youngnick commented on #3576
Thanks for the draft PR, @tsaarni, and I'm sorry it took so long to get back to you.

For the JSON logging config, we actually do a bunch of validation on the fields supplied, because:
- some fields can have arguments
- if the person supplying the config makes any mistakes with field names, and we pass the bad config to Envoy, which rejects it, Contour has no way to know (because of #1176). So, in

[2021-05-31 06:13] youngnick commented on #3700
I think this isn't well defined in the Gateway API, but it doesn't seem like it's very compatible with not breaking things. At some point, you need a way to stop Contour reconciling things of a GatewayClass. If we don't do that when the GatewayClass is deleted or invalid, when do we do it?

Personally, I think that creating or updating GatewayClasses is a privileged enough operation that we should

[2021-05-31 07:13] youngnick commented on #3192
Thanks for that @calshankar, I will try and repro myself as well.

[2021-05-31 07:15] takama commented on #3749
Thank you @youngnick  for your response

Ok, then, please change the message on the page above and [here](https://github.com/projectcontour/contour) that the minimum compatible Kubernetes version now is v1.19. (not v 1.16)
Because it was working on GKE v1.18 with Contour v1.15.1

[2021-05-31 08:39] Legion2 commented on #3192
@youngnick when the readiness probe of a container fails only the container is restarted, the pod is not restarted for such an event.

[2021-06-01 10:00] youngnick commented on #3749
Yes, that seems quite fair, thanks for pointing those out.

[2021-06-01 10:10] echupriyanov commented on #2453
Any updates on this feature?

[2021-06-01 11:08] Legion2 commented on #3313
we get 503 errors every day and need a way to configure the idle timeout per upstream service

[2021-06-01 12:14] Thrinadh-Kumpatla commented on #1615
Hi, I have deployed contour on AWS but my contour pods are going into crashbackloop state. Did someone face this before. I deployed everything default except changing the annotation(service.beta.kubernetes.io/aws-load-balancer-type: nlb) in envoy service file so an NLB get created.

<img width="1434" alt="Screenshot 2021-06-01 at 5 41 40 PM" src="https://user-images.githubusercontent.com/17722420/

[2021-06-01 12:37] McShauno commented on #3192
Thanks @youngnick. I will get this information together this week.

[2021-06-01 13:03] sunjayBhatia commented on #1615
Could you open this into a new issue so we can track it separately? Thanks!

[2021-06-01 13:09] sunjayBhatia commented on #2453
Cc @xaleeks if this is something on your priority list

If we were to support this on Ingress, would have to be via an annotation to enable it, however which vhost to apply a fallback cert to is problematic as an Ingress could have many

[2021-06-01 13:32] stevesloka commented on #3192
@calshankar could you share your notes on how to reproduce in kind?

[2021-06-01 14:02] calshankar commented on #3192
@stevesloka @youngnick  this is not an issue with contour as such.. https://github.com/kubernetes-sigs/kind/issues/2045 .. not sure whether this is fixed..

unfortunately kind does not provide/ensure stable IP for control plane because it is not behind dns.. Ideally it should use dns.. This issue can prop up whenever docker/machine reboots.. :pray: & don't restart/reboot :smile: .. Not an issue fr

[2021-06-01 16:04] sunjayBhatia commented on #3749
Made this PR to help clarify: https://github.com/projectcontour/contour/pull/3751

[2021-06-02 00:04] youngnick commented on #2453
Yes, I agree that it would need an annotation, and would also need clear documentation about what would happen in various Ingress cases (like multiple vhosts).

[2021-06-02 00:09] youngnick commented on #3313
@Legion2, do you need to have different timeouts per backend service, or would configuring a timeout per route (which holds multiple services that service the same thing) work?