[2019-07-03 08:01] victornoel commented on #1190
I was thinking about this, and an alternative to provide an helm chart would be to provide a self-sufficient contour operator that have CRDs to describe the envoy deployments on top of the `IngressRoute`.

In this case, if the operator has zero configuration because everything happens via declarative resources, it could make sense to deploy it by hand without the need for an helm chart (or other p

[2019-07-03 12:05] davecheney opened #1210 "Remove glog workaround after #1209"
#1209 removes the transitive glog dependency. We can remove the workarounds in /cmd/contour/contour.go

Updates #371

[2019-07-03 22:19] #1183 closed

[2019-07-03 22:26] #1210 closed

[2019-07-04 00:14] davecheney commented on #1207
Thanks for working on this @mwhittington21

[2019-07-04 00:19] davecheney opened #1213 "Upgrade to client-go v12"
client-go v12 is out, but we just upgraded to v11 in 0.14 and I don't want to chase the bleeding edge to closely as the backwards compat story for client-go is underspecified.

Let's aim to upgrade to client-go v12 in the [0.15 milestone](https://github.com/heptio/contour/milestone/23)

[2019-07-04 00:49] #862 closed

[2019-07-04 00:49] #1127 closed

[2019-07-04 01:06] youngnick opened #1215 "Create a subcommand for provisioning TLS certs for encrypted gRPC"
This issue covers creating a helper subcommand to provision TLS certs for the user to assist with the process of setting up encrypted gRPC.

This subcommand isn't *required* to make the feature work, it's a convenience so that people don't need `openssl` installed on their laptops to be able to get encrypted traffic between Contour and Envoy working.

The subcommand will have two parts:
- a genera

[2019-07-04 01:07] youngnick commented on #1215
This will fulfill Phase 2 of #881.

[2019-07-04 01:10] youngnick commented on #1184
Turns out that work on #862 effectively designed this without the need for a design doc. Closing in favour of #1215 for implementation.

[2019-07-04 01:10] #1184 closed

[2019-07-04 01:12] youngnick commented on #881
With the merge of #1203, Phase 1 of this ticket is now complete. Remaining phases:
- Phase 2: Improve the UX - this will be fixed by #1215, and was originally covered by #1184, but the design fell out of work on #862
- Phase 3: Currently covered by #1185 for design.

[2019-07-04 01:59] #1142 closed

[2019-07-04 15:53] drobinson123 commented on #70
It's not clear whether this adds/removes headers from requests or responses. Both should be supported imho. Request headers need to be added for the Linkerd use-case, and response headers added for HSTS.

[2019-07-05 02:34] #1207 closed

[2019-07-06 10:09] DylanGraham commented on #1213
I'd like to have a look at this one

[2019-07-06 10:19] davecheney commented on #1213
Sure thing, but please hold til 0.15 in August

[2019-07-07 14:31] yarivlifchuk opened #1228 "Please add support for wildcard virtual hosts"
Hi,

I need multiple virtual host fqdn routed to the same backend service, example:
devxnew-workspaces-ws-8zdgz.istio-wing.dev1.sapwebide.net.sap
devxnew-workspaces-ws-8zdgz-app1.istio-wing.dev1.sapwebide.net.sap
devxnew-workspaces-ws-8zdgz-app2.istio-wing.dev1.sapwebide.net.sap
devxnew-workspaces-ws-8zdgz-app3.istio-wing.dev1.sapwebide.net.sap
devxnew-workspaces-ws-8zdgz-app4.istio-wing.dev1.sapw

[2019-07-08 03:22] davecheney commented on #437
Thank you for your patience while this issue was locked. I have an update I want to share

First, the good news. We want to include CORS in Contour 1.0. I have added the 0.15 milestone to this issue mainly because there is nobody to work on this in 0.14.

Now the bad news.

First, the 0.15 milestone is provisional. We don't have any resources available to do this work in 0.15.

Second, and this is

[2019-07-08 08:19] discostur commented on #902
In the envoy project on github there is already some effort on implementing proxy protocl for upstreams, for example

https://github.com/envoyproxy/envoy/issues/4128
https://github.com/envoyproxy/envoy/issues/173

I will check later on and post again if envoy has completed the implementation...

[2019-07-08 08:26] davecheney commented on #902
Thank you for the reference to the Envoy issue. I'll reopen this and target it for rc1, hopefully Envoy 1.11 will be out by then.

[2019-07-08 14:57] odacremolbap opened #1234 "internal/dag: Ingress spec.rules.host should reject values with a *"
**Describe the solution you'd like**

Add validation to avoid processing `Ingress` objects whose FQDN contain wildcarded domains.

Related to https://github.com/heptio/contour/issues/1167
See https://github.com/heptio/contour/pull/1227#issuecomment-509112757

**Motivation**
Match `Ingress` behaviour with `IngressRoute` objects where domains including `*` are incompatible with [delegation](https://

[2019-07-09 07:43] davecheney opened #1236 "Upgrade to go-control-plane v0.8.2"
envoyproxy/go-control-plane v0.8.2 was recently released. We should upgrade.

[2019-07-09 08:43] davecheney commented on #1130
Hello.

This issue is my major contribution to the 0.14 cycle. This is an update for anyone subscribed to this issue or waiting on #1124 or #1053.

The design of this feature is straight forward; add a configuration file as an additional source of configuration information for the `contour serve` sub command. The primary driver of this feature is to have a place to put the configuration for JSON a

[2019-07-09 09:06] davecheney commented on #1228
Thank you for your issue. May I ask some follow up questions

- Do you need suffix/prefix matching? eg aaa*.domain.com?
- Do you need multiple matches? *.*.com ?
- Do you need globbing? *.example.com ?
- Do you also need tls support for multiple domain names?

[2019-07-09 09:45] yarivlifchuk commented on #1228
Sure
In-line my comments

From: Dave Cheney <notifications@github.com>
Sent: Tuesday, July 9, 2019 12:06 PM
To: heptio/contour <contour@noreply.github.com>
Cc: Lifchuk, Yariv <yariv.lifchuk@sap.com>; Author <author@noreply.github.com>
Subject: Re: [heptio/contour] Virtual host (#1228)

Thank you for your issue. May I ask some follow up questions

- Do you need suffix/prefix matching? eg aaa*.domai

[2019-07-09 13:32] stevesloka commented on #1130
You are able to reference ENV variables from inside a deployment manifest. You can even have those ENV vars source from a secret or configmap so they are dynamic based upon the secret/config map that is referenced. We used to do this until it got hardcoded, so if a user would change the ports that Contour served, it would be dynamic to Envoy's deployment manifest: https://github.com/heptio/contour

[2019-07-09 21:26] phylake opened #1237 "Pod status/readiness"
Does Contour look at pod status or readiness? If not, should it?

I saw `endpointstranslator.go` but it wasn't clear under what conditions `OnAdd()` would be called (i.e. maybe K8s would wait until the Pod was ready to inform Contour)

[2019-07-09 23:32] bryanlatten commented on #1237
+1, is Contour/Envoy removing the upstream when a pod is changed to terminating? Would like to implement graceful termination like example:
https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-terminating-with-grace

[2019-07-10 06:05] uablrek commented on #1090
Forwarding of client certificate data (in the XFCC header) is removed from this issue and will be addressed in a separate issue if the need arises.

[2019-07-10 06:53] #1215 closed

[2019-07-10 15:50] phylake commented on #426
EDS is the only xDS that will benefit from this right? It feels like #1166 and #1172 but with a bit different description. Also, I'd still appreciate a response to my previous comment.

[2019-07-10 21:40] stevesloka commented on #1237
@phylake there are `readiness probes` defined for both contour & envoy (https://github.com/heptio/contour/blob/master/examples/ds-hostnet-split/03-envoy.yaml#L47 / https://github.com/heptio/contour/blob/master/examples/ds-hostnet-split/03-contour.yaml#L56) which should limit what pods get requests before they are ready to accept connections.

For envoy, traffic shouldn't route to a non-ready pod.

[2019-07-10 23:59] bryanlatten commented on #1237
@stevesloka I believe both questions are related to envoy's upstreams (where it proxies TO).

Does your statement confirm that Contour will filter out endpoints/pods that are set to `terminating`?

[2019-07-11 03:09] davecheney commented on #1130
WOW. TIL. Is this a recent change. I have a memory a year ago that if you wanted to use env vars in a deployment cmd line the best way was to wrap your command in a shell script that did the expansion for you.

[2019-07-11 03:50] youngnick opened #1239 "Add README.md files to the `examples` directory and its subdirs"
The `examples/` directory would be much easier to use if there was some explanation visible in the Github interface of:
- what each directory contains
- why you would use it

Similarly, inside each of the sub directories, there should be a README.md to explain:
- what's in that directory
- what it does
- why you would use it
- any sharp edges or other things you should know

[2019-07-11 16:48] stevesloka commented on #1237
@bryanlatten yes, any pod with status `Terminating` will not be `Ready` and won't be included in the set of endpoints for that service, so Contour will remove it from Envoy.

@phylake does this answer your question as well since you were the author the issue?

[2019-07-11 16:49] phylake commented on #1237
@stevesloka Yes it does. Thank you!

[2019-07-11 16:53] phylake commented on #1237
@stevesloka Not a Contour issue but do you know if Envoy will drain connections to the `Terminating` Pod(s)? Contour would have updated EDS on the cluster but do you know what Envoy does with any keep-alive connections to the Pod(s)?

[2019-07-11 16:55] stevesloka opened #1241 "pkg/contour: Disable Ingress & IngressRoute resources via flag or config item"
**Describe the solution you'd like**
If users are utilizing `HTTPProxies`, we should have a way to disable `Ingress`  as well as `IngressRoute` resources as they don't follow the same delegation mechanism and could possibly allow users to introduce unpredicted configurations within their Ingress infrastructure.

// #1234

[2019-07-11 16:55] stevesloka commented on #1234
@odacremolbap thanks for raising this! Yes, I think you can create some interesting scenario's when combining `Ingress` with `IngressRoute`. I just opened an [issue](#1241 ) to also track disabling `Ingress` when `IngressRoutes` are used. I think this should be another step in forcing users into delegation in specific scenario's (mainly multi-team, or when more validation is requested). This also,

[2019-07-11 16:57] stevesloka commented on #1228
Thanks for the feedback @yarivlifchuk, I'm working on a design proposal (which I'll have soon) to revamp what Contour allows users to route on and with. This is super helpful to drive that design. I'll post back when I have the design ready.

[2019-07-11 16:59] stevesloka commented on #1206
This needs a bit of debugging to verify. Something in v1.15.0 has changed which introduces this.

[2019-07-11 17:04] stevesloka commented on #1237
@phylake if you have the `preStop` hook enabled it should tell Envoy to start draining connections: https://github.com/heptio/contour/blob/master/examples/ds-hostnet-split/03-envoy.yaml#L60-L63

I'm not sure how quickly this happens though, we'd need to dig into that and see. I think there's a 30-second timeout?

[2019-07-11 17:13] phylake commented on #1237
I'm asking about Envoy's upstreams (read: endpoints/pod IPs), not Envoy or Contour

[2019-07-11 17:15] odacremolbap commented on #1234
I'm ok working on this if I can be assigned.

[2019-07-11 17:22] stevesloka commented on #1237
If an upstream pod has a connection, that's running through an Envoy and that instance of Envoy starts to shut down, then preStop hook will tell Envoy to stop accepting new connections as well as drain the connections that it's managing.

[2019-07-11 17:23] stevesloka commented on #1205
Hey @jdelgadillo perf testing is always an interesting thing to try and dig into, so much relies on the environment, etc that makes things different/difficult to troubleshoot.

How are you deployed? Contour? Envoy? Kubernetes? Are you sending traffic to a load balancer then to Envoy? Is Envoy on NodePort or hostnetworking? Have you deployed the monitoring dashboards? Those will help to monitor con

[2019-07-11 17:27] stevesloka commented on #1192
I think this could be good to be added to the new [configuration file](#1130 ) we're adding to Contour. I think allowing admins to set sane defaults for their cluster, then allowing users to further customize (or not maybe?) would be beneficial.

[2019-07-11 17:33] phylake commented on #1237
Again, I'm not asking about Envoy's lifecycle, I'm asking about upstream services

1. Upstream service Pod terminates
1. > any pod with status Terminating will not be Ready and won't be included in the set of endpoints for that service, so Contour will remove it from Envoy
1. What happens to the keep-alive connections to the Pod? The endpoint was removed from Envoy but I would hope Envoy wouldn't

[2019-07-11 17:34] stevesloka commented on #1234
Before you go too far @odacremolbap I'm curious what @davecheney thinks about this. One goal of Contour is to still fully support the upstream spec (e.g. ingress/v1beta1). Thinking about this a bit more since my last post (37 minutes ago), I'm wondering how much we should limit the functionality of Ingress for users to want to continue to use that route.

[2019-07-11 17:42] stevesloka commented on #1237
Sorry, I'm following now. 🤕

We'd have to check into how Envoy handles this scenario.  When the update to EDS happens, I **think** Envoy keeps a copy of that config until those connections are all gone, but the endpoint is gone, so a reconnect would have to happen somewhere.

Let me see if I can find that in the Envoy docs.

[2019-07-11 17:58] odacremolbap commented on #1234
sure!

I was about to answer to the [issue you just opened](https://github.com/heptio/contour/issues/1241), posting here:

Is a _domain validator_ discarded?
- Validating domains for both `Ingress` and `IngressRoutes`, and rejecting overlapping ones sounds like a simple solution to always allow both (no need for #1241)

- Same goes with wildcards, could be allowed as long as there is no existing d

[2019-07-11 20:37] stevesloka opened #1242 "Upgrade to Envoy v1.11.0"
**Describe the solution you'd like**
Envoy v1.11.0 has been released, should plan for an upgrade once this version marinates a bit: https://groups.google.com/forum/#!topic/envoy-announce/5zhbmgVCGoI

[2019-07-11 20:55] johnnason opened #1243 "After Contour 0.5, envoy match config converted to "prefix" rather than "regex""
We've been running a production workload using Contour 0.5.0 with Envoy 1.6.0 for some time.

I've tried to upgrade to every release between that and 0.11.0, and can not get some of our needed Ingress working.

Here's a contrived example that exhibits the class of problem:
[code]

At 0.5.0 this would generate an envoy config such as:
[code]

As of > 0.5.0 this would generate an envoy config such a

[2019-07-12 03:54] davecheney commented on #1242
Thanks Steve. It's too late in the cycle to do this upgrade for 0.14. Obviously there is the technical risk of upgrading late in the cycle, but also the features we want from envoy 1.11.0 need changes in contour to activate. I'll schedule this for early 0.15.

[2019-07-12 04:12] davecheney commented on #1243
Thank you for raising this issue; is this using Ingress or IngressRoute?

[2019-07-12 08:33] aberasarte commented on #437
Thanks @davecheney for the status update and for keeping the discussion open.

Fair enough.

As I said in #1012, from the proposed six parameters, I think that we could just remove `MaxAge` setting a reasonable default. Could we set some defaults for the rest of the parameters? Sure! we could set the defaults [I mentioned](https://github.com/heptio/contour/pull/1012#issuecomment-482580144) for  th

[2019-07-12 08:38] glerchundi commented on #437
[image: ryan gosling clap GIF]

El vie., 12 jul. 2019 a las 10:33, Aritz Berasarte (<
notifications@github.com>) escribió:

[2019-07-12 11:23] davecheney opened #1244 "example/ switch to downstream API and env var for Envoy's --service-cluster and --service-node flags"
Envoy mandates the `--service-cluster` and `--service-node` flags be present. As these flags appear mandatory, we hard code them to dummy values in all our `examples/`.

Recently @stevesloka pointed out, https://github.com/heptio/contour/issues/1130#issuecomment-509643704, that it is possible to use the downstream API and env vars in deployments. I've done some quick tests and it appears to be pos

[2019-07-12 13:42] johnnason commented on #1243
Originally using `Ingress`, but I tried `IngressRoute` as well this morning with the exact same behavior exhibited. I'm OK using either, as long as I can get a regex path. I thought I understood IngressRoute as explicitly _not_ supporting regex which is why I had not tried it earlier.

[2019-07-16 04:24] davecheney commented on #1234
Envoy treats domains with the name "*" specially. We _must not_ allow the string "*" to be entered into ingress.spec.host because that behaviour is not defined in the k8s ingress spec -> https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#ingressrule-v1beta1-extensions

Specifically there is no agreement in the k8s spec what a `host: *` value means. nginx interprets it one way, En

[2019-07-16 04:35] davecheney commented on #1243
@johnnason thank you for confirming. We have never supported regex matching for IngressRoute paths. If that worked in 0.5 it was unintentional and I apologise for the confusion.

For ingress, the path spec is defined as a regex. We have to do a bit of work to translate that to Envoy because regex's are a different type of matcher function to straight prefix matching. Thus we try to detect "does th

[2019-07-16 04:35] davecheney commented on #1244
Bumping to 0.15. This is a good first issue for someone who wants to garden the `examples/` yaml.

[2019-07-16 05:35] #1167 closed

[2019-07-16 14:11] johnnason commented on #1243
@davecheney

I modified it _slightly_ for simplicity. An actual ingress path that exhibits the problem:
`/[^/]+/invoices(/.*|/?)`
I had omitted the trailing match but including now in case it's significant, and understanding a bit more now wrt matching code.

[2019-07-17 18:15] sgrman opened #1248 "UDP Ingress"
Customer is requesting support for UDP based ingress capability.  They utilize/create applications in the telephony space that are migrating to K8s.  These applications are UDP based.

Submitting this for feature request.

thanks

[2019-07-18 01:42] stevesloka commented on #1237
Hey, @phylake, I haven't been able to find any docs specifically on this, but maybe look at configuring retry policies. In the event a backend pod terminates, Envoy could retry and pick a new backend.

Also, interesting comments here in this thread: https://github.com/envoyproxy/envoy/issues/5023

[2019-07-18 02:23] stevesloka commented on #1205
Hey @jdelgadillo, just wanted to follow up here on this issue. Let me know if you have any more details to share so that maybe I can help out. Like I said before, these issues can be difficult to track down but I'm happy to try and help you out! =)

I'm going to close for now, but please reopen if needed.

[2019-07-18 02:23] #1205 closed

[2019-07-18 02:25] stevesloka commented on #1204
I think we have enough work done on #881 to unblock this issue.

[2019-07-18 02:32] stevesloka commented on #1188
Similar to #1065

[2019-07-18 02:41] stevesloka commented on #1187
Hey @phylake thanks for reporting this, I'm still digging into some of this specific to xDS. I know there are additional xDS things  (https://github.com/heptio/contour/issues/1176) we should handle more properly. Let me poke around and see what's needed from a Contour perspective.

[2019-07-18 02:59] stevesloka commented on #1119
I chatted with some folks in upstream in the Envoy community and their suggestion was to combine both upstreams into the same cluster and use locality or host weighting to do the weighting, as these both respect host health.

I'm not sure the pros/cons of this solution as well as the impact to Contour, so I'd look for a design doc to discuss if either of these would work or a new design needs to c

[2019-07-18 03:01] stevesloka commented on #1116
Hey @vn-patriot just wanted to follow up here, were you able to try the `deployment-grpc-v2` model?

[2019-07-18 03:03] stevesloka commented on #1059
I'm closing this as a duplicate of #520 which currently has a PR to resolve.

[2019-07-18 03:03] #1059 closed

[2019-07-18 03:07] stevesloka commented on #957
Hey @derekperkins, we have support for [external named services ](https://github.com/heptio/contour/blob/master/docs/ingressroute.md#externalname)now. Could you use the dns name of the pod to set up a route to the specific instance you are looking to connect to?

[2019-07-18 03:10] stevesloka commented on #825
Hey @anapsix we have support for external name services now (https://github.com/heptio/contour/blob/master/docs/ingressroute.md#externalname)!

[2019-07-18 03:10] #825 closed

[2019-07-18 03:14] stevesloka commented on #513
Would this need to be implemented as an admission controller or are you thinking that we perform the validation when Contour sees the object change and update the status then?

[2019-07-18 03:17] stevesloka commented on #389
The use-case of not having a health check endpoint is now resolved as that exists on a different listener. I think at this point, not creating a listener or returning a 404 since no paths are defined are almost the same UX.

[2019-07-18 03:21] stevesloka commented on #426
@phylake solving #1166 & #1172 I think will drastically reduce the number of updates overall on a busy cluster. I'm not personally 100% certain the answer to the n^2 behavior you are referencing, so I don't want to give a guess for a response.

[2019-07-18 03:24] stevesloka commented on #320
This feature right now is scheduled for Envoy v1.12.0.

[2019-07-18 03:27] stevesloka commented on #145
We do now have the preStop hooks enabled. When an Envoy pod is starting to shut down, the hook should fire telling Envoy to drain all connections: https://github.com/heptio/contour/blob/master/examples/ds-hostnet-split/03-envoy.yaml#L60-L63

[2019-07-18 05:34] vn-patriot commented on #1116
@stevesloka thanks for your dedication. We now still running in Contour (deployment) & Envoy (daemon set) split mode. But so far there is no 503 UF anymore. Only 503 UC which is happening on some heavy pod. So not sure why 503 UF gone. but I definitely will try to run `deployment-grpc-v2` in near future.
Sorry for this late response.

[2019-07-18 06:02] rochacon commented on #145
@stevesloka I've been testing with this recently and it seems like only telling Envoy to stop accepting connections is not enough, since Kubernetes will send the `SIGTERM` immediately after running the `preStop` hook.

I've somewhat found a stable solution with this configuration changes:

- Configured `terminationGracePeriods: 60` for Envoy pod. This is the drain limit I want to support in my clu

[2019-07-18 08:29] hmorikaw commented on #1119
Hi, @stevesloka. Can you share more information or docs talked about below.

I'd like to know how to set the weights.

[2019-07-18 08:53] victornoel opened #1250 "Envoy errors about grpc causes contour to crash and liveness probes to fail"
**What steps did you take and what happened:**

I am running contour with the kubernetes resources provided by the contour team: https://j.hept.io/contour-deployment-rbac

From time to time the following happen:
- there are errors in the envoy container logs, see below (I don't know why this happens because I don't use grpc at all)
- there are errors in the contour container logs, see below (I thi

[2019-07-18 10:13] davecheney commented on #1250
Thank you for your error report. It looks like contour was not able to watch the api server.  Is your cluster healthy? Does it pass sonobouy conformance tests?

[2019-07-18 10:15] victornoel commented on #1250
@davecheney

Everything works as expected yes, I don't believe it is related to the cluster itself, it seems that everything stems from the errors from envoy.

I will try, but I'm still in 1.12.8 so I have either to upgrade it to 1.13 or disable the preflight checks.
I will get back on you on that

[2019-07-18 10:19] davecheney commented on #1250
Thank you. What is driving me towards the API server are these log lines
from contour

"2019-07-17T20:35:58.392Z","E0717 20:35:58.392346       1
reflector.go:134]
pkg/mod/k8s.io/client-go@v0.0.0-20190226174127-78295b709ec6/tools/cache/reflector.go:95:
Failed to list *v1beta1.TLSCertificateDelegation: Get
https://10.0.0.1:443/apis/contour.heptio.com/v1beta1/tlscertificatedelegations?limit=500u0026r

[2019-07-18 10:19] davecheney commented on #320
Thanks for checking. I'm moving this to the unplanned milestone. It's unlikely that we'll make it to envoy 1.12 by october for contour 1.0 so we'll reassess after contour 1.0 ships.

[2019-07-18 10:31] victornoel commented on #1250
@davecheney I don't know, I thought it was the ip of the envoy container on the same pod, but I suppose you are right, the error messages seem to be about the API server! I will investigate this, thank you for the clarification

[2019-07-18 10:44] davecheney commented on #1250
Thank you. Sorry about the error message, it comes from the k8s client library and isn’t very good. Please let us know what you find out.

[2019-07-18 13:32] stevesloka commented on #1250
Hey @victornoel, were there any errors when applying the manifest to your cluster? I'm wondering if the service account or RBAC permissions script failed causing the error.

[2019-07-18 13:35] stevesloka commented on #1119
Hey @hmorikaw! Here are the Envoy docs on what I was describing. We'd need to discuss bringing this into Contour since it requires some more configuration: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/locality_weight

[2019-07-18 13:40] stevesloka commented on #145
Fantastic notes @rochacon!! Would you like to contribute this back as a doc or update our examples? If not I'd like to add this to the repo to help out others.

@cmaloney do you see this as maybe solving your original issue?

[2019-07-18 13:41] stevesloka commented on #1116
Ok good to hear @vn-patriot! I'm going to close this, but please let us know if you have more questions/issues in the future. =)

[2019-07-18 13:41] #1116 closed

[2019-07-18 13:47] victornoel commented on #1250
@stevesloka no there wasn't, but let me clarify something: contour works perfectly all the time, except sometimes, this happens, it crashes and then starts again and everything works again perfectly.

[2019-07-18 17:28] rochacon commented on #145
@stevesloka sure, I'm up for it, I didn't do it before because I think it is still a bit ugly and I want to do more tests.

[2019-07-18 17:34] rochacon commented on #1242
Envoy v1.11.0 introduces a new [`/ready`](https://www.envoyproxy.io/docs/envoy/v1.11.0/operations/admin#get--ready) admin endpoint which improves readiness probes, this might be a nice thing to change for Contour 0.15 too, maybe even improving smoother Envoy rollouts as discussed on #145.

[2019-07-18 19:08] stevesloka commented on #1134
It's a long shot, but #1251 **might** be related.

[2019-07-18 19:25] stevesloka commented on #1250
That's interesting @victornoel. I'm not sure this is a Contour issue. It seems like the probes are doing their job and restarting Contour. The only other approach I'd maybe recommend is switching to the split model where Contour is deployed as a deployment and Envoy as a daemonset.

In this model, if this problem happens again, the instance of Contour will be restarted and Envoy should continue to

[2019-07-18 21:17] davecheney commented on #1243
Thank you for providing the repo case.

I looked into the code that should be switching between prefix matching and regex matching and at least on the first pass last night, I think this code is broken. If that's the case it's probably been broken for some time (maybe as early as 0.6). I'll try to restore this functionality for 0.14

[2019-07-19 02:41] davecheney opened #1252 "Contour should not log validation errors to stderr"
master is currently reporting an error whenever the dag is rebuilt. This error should not be logged because it will happen each time the dag is rebuilt, possible 10's of times a second. This will mean users will start to complain about log verbosity from contour again #1131.
[code]
Marking this as a blocker on 0.14 because we'll have to do a 0.14.1 to fix it.

[2019-07-19 02:44] stevesloka commented on #1252
Do you have any steps to reproduce?

[2019-07-19 02:52] davecheney commented on #1252
I had an ingressroute with an invalid strategy, 'cookie', not 'Cookie'

On Fri, 19 Jul 2019 at 12:44, Steve Sloka <notifications@github.com> wrote:

[2019-07-19 02:52] davecheney commented on #1252
git blame says I was the last person to touch this. I'll take a look.

[2019-07-19 03:00] davecheney commented on #1252
ok, here's where the bug is occurring. The error _isn't_ the status message. It's the failure to set the status message. The reason the status message cannot be set is the crd validation prevents it. Here's the scenario

1. have an ingressroute record that doesn't pass validation but has been applied to the cluster in the past.
2. contour processes the record, find that it doesn't pass validation

[2019-07-19 03:00] #1252 closed

[2019-07-19 06:54] victornoel commented on #1250
@stevesloka what you say makes sense yes.

There are two things I'm not clear on:
- why envoy would print those errors
- why kubernetes tells me contour was restarted because of error but at the same time the probes fail

Anyway, I'm going to close this for now, and reopen it when I have more info and if it contradicts those conclusions.

Thank you for your help.

By the way, @stevesloka is runnin

[2019-07-19 06:54] #1250 closed

[2019-07-19 08:41] victornoel opened #1254 "preStop hook for envoy is broken in v0.13.0"
Looking at the event logs of my kubernetes cluster, I see the following:
[code]

[2019-07-19 10:59] davecheney commented on #1182
I'm sorry to report that no work has been done on this issue in 0.14. Bumping to 0.15

[2019-07-19 11:24] davecheney commented on #1254
Annoyingly the envoy image we recommend does not include wget or curl.

[2019-07-19 11:52] davecheney commented on #1124
I'm sorry this didn't make it for 0.14. The plumbing for this will land in #1130, we'll add logging configuration to the config.json file in 0.15

[2019-07-19 12:14] #1206 closed

[2019-07-19 12:33] #520 closed

[2019-07-19 12:35] #1130 closed

[2019-07-19 12:41] davecheney commented on #1243
I'm sorry I don't think this can be fixed for 0.14. I'm going to move to 0.15 and evaluate if we need to do a 0.14.1 release once the fix lands in master in the 0.15 cycle.

[2019-07-19 12:47] davecheney commented on #624
#1130 landed in 0.14. Moving to 0.15 to implement.

[2019-07-19 16:29] bgagnon opened #1257 "Offer PROXY protocol listeners in addition to HTTP(S) listeners"
Currently, the `--use-proxy-protocol` adds the filter on all listeners (HTTP and HTTPS). This prevents Envoy from answering direct requests that do not speak the `PROXY` protocol.

Example:

[code]

With this feature, the PROXY protocol listener would be separated from the http and https listeners.

Keeping backward compatibility, something like this could work:

[code]

The use cases are the foll

[2019-07-19 17:03] phylake commented on #1237
No worries thanks for trying. I'm particularly interested in established connections being drained (not terminated) so retries aren't going to help in our case at least.

[2019-07-19 17:03] #1237 closed

[2019-07-20 23:32] cmaloney commented on #145
I'm not using contour in current envs (now at a different company than where I was using it) / don't have pieces to particularly test

[2019-07-22 14:00] stevesloka commented on #1213
Hey @DylanGraham, are you still planning on working on this? We just released v0.14 so feel free to take this one if you'd still like to do that.

[2019-07-23 02:11] stevesloka opened #1260 "cmd/contour: Kubeconfig arg always overwrites config file"
**What steps did you take and what happened:**
Looking through how the new config file work was done, I was testing it out by creating a config file to set the `kubeconfig` param.

What I found is that since there's a default value set on the flag, it always overwrites the config file. When I take out the default value it works as expected and the value of the config file is respected.

Here's my

[2019-07-23 04:10] DylanGraham commented on #1213
Sure, I can have a look tonight

[2019-07-23 12:08] DylanGraham commented on #1213
The tests passed but should I be concerned about what `go mod` has removed from the indirect dependencies?

[2019-07-23 12:15] bgagnon commented on #1241
As a workaround, can this be achieved by removing Contour’s RBAC permission to read/list/watch Ingress objects?

[2019-07-23 12:29] bgagnon commented on #951
I like this idea!

We’ve built a custom controller that watches IngressRoute objects and automatically requests a matching certificate from our PKI CertSrv server (it’s a Windows server thing).

We’ve first considered integrating with cert-manager by adding PKI CertSrv support to it and creating Certificate objects as proposed here. We punted on this design due to the number of moving pieces, but

[2019-07-23 14:32] bgagnon opened #1263 "Option to output Contour logs as JSON"
_This is only about Contour's logs, not Envoy logs._

The request is to add a CLI flag that turns on JSON formatting for the logs.
The default output is structured and tuned for readability on the shell:

[code]

With JSON, we'd have something like:

[code]
This is optimized for structured logging stacks (ie. Elasticsearch/ELK).

[2019-07-23 14:39] bgagnon commented on #1263
Logrus has a built-in JSON formatter, so this should be trivial to implement:
https://github.com/sirupsen/logrus#formatters

Just need to agree on the CLI flag name.

[2019-07-23 14:45] stevesloka opened #1264 "cmd/contour: Metrics/Stats args are confusing"
**Describe the solution you'd like**
Currently, to set the Envoy Prometheus stats address/port you set the `stats-address` / `stats-port` arg to Contour. Also, Contour exposes its own Prometheus metrics which are exposed via the `http-address` / `http-port` args.

These aren't very clear as to what they relate by just looking at the name and should be clarified.

Also, need to take into account us

[2019-07-23 15:01] stevesloka opened #1266 "design: All contour command line arguments should be available in the config file"
**Describe the solution you'd like**
#1130 added the ability to have Contour get configuration from a file instead of from only args passed to Contour.

This issue is to further enhance the support since only two values are plumbed in. Additionally, we should revisit some of the namings to make sure it's clear to users (see #1264).

Most values are straight forward to wire through, however, some a

[2019-07-23 17:56] moderation commented on #957
I'm still trying to get my head around `clusterIP: None` vs. `ExternalName` and I _think_ the difference is that `ExternalName` creates CNAME DNS records where `clusterIP: None` uses A records. What I was wondering is if it is possible to remove the first Envoy proxy pod in the diagram at https://blog.markvincze.com/how-to-use-envoy-as-a-load-balancer-in-kubernetes/#4-create-the-envoy-deployment.

[2019-07-23 18:54] VMmore opened #1269 "How do you use Contour? Let us know!"
This really isn't an issue, but we'd love to hear about your use of Contour so we thought we'd post this to find out more from you.

Please feel free to leave a comment below and let us know. You can also go a step further and update the adopters file https://github.com/projectcontour/contour/blob/master/ADOPTERS.md

[2019-07-23 20:54] stevesloka commented on #1192
Just to confirm, we'll add the following to the new config file which will set a default on each resource unless overridden:

- MaxConnections
- MaxPendingRequests
- MaxRequests
- MaxRetries

[2019-07-23 22:12] davecheney commented on #957
Contour does not use kube proxy, we configure Envoy to communicate directly
to the addresses listed in the Endpoint document.

On Tue, 23 Jul 2019 at 10:56, moderation <notifications@github.com> wrote:

[2019-07-23 22:32] davecheney commented on #1213
Should be fine, CI always builds from what is in go.mod, so if it
doesn't complain then everything is fine.

On Tue, 23 Jul 2019 at 05:08, Dylan Graham <notifications@github.com> wrote:

[2019-07-24 00:25] moderation commented on #957
That confirms my assumption which is great news. Might be worthwhile calling this out more explicitly in the documentation. I might take a stab at a doco PR if this make sense.

[2019-07-25 12:51] #1213 closed

[2019-07-26 06:46] so0k commented on #1269
We use Contour as a DS hostnet, initially split (pre-0.14 it was insecure, but ran on tainted firewalled nodes)

We have since merged contour back with envoy pod to make the xDS connection more stable

We are using externalDNS and thus still rely on `ingress` objects instead of `ingressRoute` objects

[2019-07-26 08:33] odacremolbap opened #1274 "ingressroute: drop Ingress object support"
**Describe the solution you'd like**

Drop `Ingress` object to focus on `IngressRoute` only.

**Anything else you would like to add:**
Although this proposal would need to elaborate, I would like to know how feasible do you think it is. It looks like `Ingress` is mainly a backward compatible object, and that Contour behaves a lot more native with `IngressRoute`.

What about dropping completely `In

[2019-07-26 17:12] stevesloka commented on #1274
Contour has always supported upstream Kubernetes and will continue to do so. We're not going to drop support for Ingress.

Additionally, having a translating layer would be very difficult to maintain, we'd end up having to hard code many provider annotations, etc.

If folks want to use k8s Ingress then Contour will support, if they see value in IngressRoute then we'll support that as well, but I d

[2019-07-26 18:27] odacremolbap commented on #1274
Thanks for the explanation.
Closing

[2019-07-26 18:27] #1274 closed

[2019-07-26 20:55] stevesloka commented on #1182
Hey @rjbez17, I double-checked and like @davecheney mentioned, we're setting the flag in Envoy to have it automatically add the XFF header.

I'm curious, since you're not seeing the header, how your environment is deployed? You mentioned some nuc's with kubeadm, but how are you driving traffic to Contour (i.e. Envoy?). Are you just hitting a node port on a static node or using something else to co

[2019-07-26 21:49] stevesloka opened #1277 "Envoy v1.11: Investigate using `/ready` endpoint for probes"
**Describe the solution you'd like**
Mentioned in #1242, Envoy v1.11.0 introduces a new /ready admin endpoint which improves readiness probes, this might be a nice thing to change for Contour 0.15 too, maybe even improving smoother Envoy rollouts as discussed on #1245

// cc @rochacon

[2019-07-26 22:08] stevesloka commented on #1277
The only nice thing about the way we expose today is that we don't need to expose the entire admin site to a port for the kubelet to check against. So let's keep that in mind when this is investigated such that we don't accidentally expose that admin UI.

[2019-07-27 03:11] rjbez17 commented on #1182
@stevesloka I'm using a LoadBalancer service in from of contour to get an external IP (from metallb):

[code]

Then I use an IngressRoute to route my clusterip service (httpbin in this example):

[code]

I think the issue is, contour is never actually creating an listener in the envoy config. You see in my envoy config above (https://github.com/heptio/contour/issues/1182#issuecomment-504016390), t

[2019-07-29 06:13] so0k opened #1279 "Contour 0.14 examples - cannot create log"
**What steps did you take and what happened:**
Deployed Contour as ds-hostnet-combined:

[code]

It worked for a while, then envoy lost gRPC connection:

[code]

investigation shows contour restarted - with `kubectl logs -c contour -p` showing:

[code]

**What did you expect to happen:**
Contour should not crash

**Anything else you would like to add:**
Perhaps we should add the `/tmp` emptyDir mo

[2019-07-29 09:10] so0k commented on #1279
Additional notes:
This is a fresh cluster provisioned on Friday, as you may notice taints are used for `edge` nodes, originally the edge nodes were provisioned with the wrong aws security group, after updating the security group configuration in the ASG launch template, it seems only 1 node was replaced (allowing things to work on Friday evening)

Over the weekend, the cluster-autoscaler had downs

[2019-07-29 21:22] phylake opened #1280 "Wait to discover all K8s resources before sending xDS responses"
As far as I can tell Contour will send whatever resources it has whenever xDS DiscoveryRequests come in. This can cause xDS resources to be torn down in Envoy on a Contour restart. Contour should do a synchronous (read: eager and blocking) lookup of its CRDs, Ingresses, Services, Endpoints, Secrets, etc. on startup before responding to DiscoveryRequests.

This is causing a variety of issues depend

[2019-07-30 13:51] rochacon commented on #1277
I've been testing Contour with Envoy 1.11 to evaluate the use of `/ready` and trim down the steps discussed at #145. It works pretty similar to the current `/healthz` endpoint, with the addition of a response body with the current state of the server (e.g. `LIVE` / `DRAINING`).

Contour requires this patch to passthrough `/ready` to the admin in the restricted listener (port 8002): https://github.

[2019-07-30 14:14] rochacon commented on #145
I've been testing the mentioned configurations in an attempt to clean up and confirm the minimum required steps, still need a bit more checks before issuing the patch.

During the tests, I found out that NLBs provisioned through Kubernetes services objects [have fixed healthcheck settings](https://github.com/kubernetes/kubernetes/blob/v1.12.10/pkg/cloudprovider/providers/aws/aws_loadbalancer.go#L3

[2019-07-31 03:19] #1244 closed

[2019-07-31 03:25] #1236 closed

[2019-07-31 03:37] #1242 closed

[2019-07-31 03:43] #816 closed

[2019-07-31 03:52] davecheney commented on #1260
Fixed in 46f7924

[2019-07-31 03:52] #1260 closed

[2019-07-31 06:48] #1243 closed

[2019-07-31 06:48] davecheney opened #1282 "Backport #1276"
Backport #1243 / #1276

[2019-07-31 08:41] davecheney commented on #1282
Backport #1283

[2019-07-31 08:52] davecheney opened #1284 "Update go-control-plane to v0.8.3"
https://github.com/envoyproxy/go-control-plane/releases/tag/v0.8.3

This appears to change many exported data types
[code]

[2019-07-31 18:19] phylake commented on #1280
This is different than #1178 which is about ordering. Even if #1178 is fixed Contour will still send only a subset of resources, subject to K8s informer timing, and causes 404s in Envoy when Contour restarts because Contour hasn't discovered all the resources in K8s that it previously programmed Envoy with

Example for CDS:

Contour1 is Contour 1
Contour2 is Contour 2 (i.e. the Contour that starts

[2019-08-01 01:31] davecheney opened #1286 "Contour should switch to using ADS for all configuration streams"
This is a long term issue to track potentially moving from RDS/EDS/CDS/etc to a unified ADS implementation.

**Note**: This is not currently in scope for Contour 1.0.

[2019-08-01 02:01] davecheney opened #1287 "#1276 permits regex routes in ingressroute"
As a side effect of #1276 path prefixes in ingressroute can now be regexes. This is not something that is currently permitted and we should make sure people don't rely on it.

**Note:** We are planning on adding other routing options to Ingressroute, #1075 , but we want to do it in a planned, not accidental, way.

[2019-08-01 02:02] davecheney commented on #1287
I'm fixing this now. It is a blocker on 0.14.1

[2019-08-01 14:42] bryanlatten commented on #1280
Seemingly related: https://github.com/heptio/contour/issues/1286

[2019-08-01 22:20] davecheney commented on #902
Moving to 0.15 as the envoy 1.11.0 upgrade is complete #1242

Marking as help wanted because nobody is scheduled to work on this at the moment.

[2019-08-01 23:16] davecheney commented on #1282
Backport #1288

[2019-08-02 01:30] #1287 closed

[2019-08-02 02:23] davecheney commented on #1243
This has been backported to 0.14.1, https://github.com/heptio/contour/releases/tag/v0.14.1

[2019-08-02 09:34] annismckenzie opened #1292 "Docker image for v0.14.1 release does not exist"
You guys released v0.14.1 a couple hours ago but the image doesn't exist:

[code]

I wanted to roll it out to our fleet but the pods immediately errored on the image pull. Would be great if you fixed that so we can upgrade. :) Thanks for Contour!

[2019-08-02 09:41] davecheney commented on #1292
Oops. Fixing now

[2019-08-02 09:47] davecheney commented on #1292
Successfully built a36c38f2ae01
Successfully tagged gcr.io/heptio-images/contour:v0.14.1
docker push gcr.io/heptio-images/contour:v0.14.1
The push refers to repository [gcr.io/heptio-images/contour]
6b4ac599e96f: Preparing
6b4ac599e96f: Pushed
v0.14.1: digest: sha256:4405a52be5c8000a78c6f75d26054a92c766a007f05a506531c9b60ba0e944b1 size: 529
Finished: SUCCESS

[2019-08-02 09:47] #1292 closed

[2019-08-02 09:52] annismckenzie commented on #1292
Thank you, Dave! Hopefully I didn't wake you with this – you tagged the release and it's only been 7 hours… 🙈

[2019-08-02 18:37] johnnason commented on #1243
Upgraded to 0.14.1 and it worked like a charm! Our regexp paths are back.

Thanks for knocking this out for us 💯 🎉 🎊

[2019-08-02 18:56] phylake commented on #1176
NACKs happen (at least) when config validation fails. Envoy erroneously throws exceptions in its config constructors ([example](https://github.com/envoyproxy/envoy/blob/v1.10.0/source/common/router/config_impl.cc#L376)) which will leak memory (Destructors aren't run if exceptions are thrown in the ctor body. See Item 10 in More Effective C++ for more detail) for anything allocated in the construct

[2019-08-04 21:48] #1282 closed

[2019-08-04 21:50] davecheney commented on #1241
Thanks for raising this issue. I think for the moment the answer is to prevent Ingress via RBAC. I'm going to move this to the unplanned milestone and we'll re-evaluate post Contour 1.0

[2019-08-04 21:53] davecheney commented on #1204
Moving to beta1 milestone.

[2019-08-04 21:54] davecheney commented on #980
Closed by #1273

[2019-08-04 21:54] #980 closed

[2019-08-05 14:52] stevesloka commented on #1192
Hey @phylake, if we were to set reasonable defaults for Contour, what would you set them to?

[2019-08-05 16:49] phylake commented on #1192
We tripped these circuits at very low load so we increased them to 1,000,000 for MaxConnections and MaxRequests just to rule them out as a source of 503s we're seeing. MaxPendingRequests and MaxRetries seemed fine at 1024.

It's hard to say what reasonable is because these settings should really be fine-tuned per service. That said we're well past the C10k problem so 1024 seems obviously too low.

[2019-08-07 04:02] davecheney opened #1298 "Update Contour 0.14 to Envoy 1.11.1"
We will be doing a contour 0.14.2 release to match. 0.14.2 bump the recommended version from envoy 1.10.0 to envoy 1.11.1 as envoy are not going to back port this fix to 1.10.x

[2019-08-07 04:07] davecheney opened #1299 "Update to Envoy 1.11.1"
We will be doing a contour 0.14.2 release to match, we also need to include that change in master and 0.15 when it ships.

[2019-08-07 19:03] sudeeptoroy opened #1300 "Redirect: default HTTP->HTTPS redirect does not work if envoy is deployed on non-default host ports"
http redirect url is not composed correctly when envoy is deployed on non standard hostport (!80, !443).
Deployment steps:
1. Reference deployment: https://github.com/heptio/contour/blob/master/examples/ds-hostnet-split/03-envoy.yaml
2. Change hostports to different value; example:
        - containerPort: 80
          hostPort: 8000
          name: http
          protocol: TCP
        - container

[2019-08-07 19:06] stevesloka commented on #1300
Hey @sudeeptoroy, did you also change the ports that Envoy is configured to listen on? Here are the places you'd need to match: https://github.com/heptio/contour/blob/master/examples/ds-hostnet-split/03-contour.yaml#L36-L37

[2019-08-07 19:08] sudeeptoroy commented on #1300
yes, these changes were done too..

[2019-08-07 19:11] sudeeptoroy commented on #1300
https://github.com/envoyproxy/envoy/blob/feb56a1f8ee2cf1ea2048e20b7ba05f8199355c6/api/envoy/api/v2/route/route.proto#L954

this seems to be missing while programming the envoy configuration for redirect

[2019-08-07 19:12] stevesloka commented on #1280
Yup, we do wait for the caches to sync up (https://github.com/heptio/contour/blob/master//cmd/contour/serve.go#L383), but we're not blocking on the gRPC connection to xDS.

[2019-08-07 19:16] stevesloka commented on #1300
Ahh, I'm following now @sudeeptoroy, yes, looks like we'd need to configure that setting for this to work properly.

[2019-08-07 21:13] lrouquette commented on #1280
Sure, you're sync-ing on an empty cache (the SharedInformer Store is empty), so you're not going to wait very long. We implemented a synchronous discovery of the resources, but that has some ramifications preventing me from filing a PR as-is. I think what needs to happen here is something like this:

1. Start the SharedInformer
2. Wait for it to [Sync](https://github.com/kubernetes/client-go/blob/

[2019-08-08 00:54] mattalberts commented on #1279
Same issue with 0.14.0 a few instances
[code]

[2019-08-08 01:12] mattalberts commented on #1279
I think 0.14.0 made the effort to get rid of glog, i see klog in the vendor directory, which appears to have the same link into flags. Does this still need to be forced to disable file based logging?

`_ = flag.Lookup("logtostderr").Value.Set("true")`

[2019-08-08 01:17] davecheney commented on #1279
Ffs. I hate glog and all the anti patterns it spawned.

[2019-08-08 01:17] mattalberts commented on #1279
I'm with you :)

[2019-08-08 12:26] mattalberts commented on #1279
I believe this would be you minimum patchset
[code]

given the internals of InitFlags

[code]

[2019-08-08 17:20] stevesloka commented on #1277
@rochacon yup I think switching over to this endpoint is fine, happy to take a PR!

[2019-08-08 17:21] stevesloka commented on #1172
Unassigned myself since @davecheney was going to reimplement.

[2019-08-08 17:29] stevesloka commented on #1279
@mattalberts would you like to send a PR with your changes?

[2019-08-08 18:27] mattalberts commented on #1279
Sure can!

Sent from my iPhone

[2019-08-08 19:51] mattalberts commented on #1279
@stevesloka  I'll have the patch up shortly

[2019-08-09 00:01] stevesloka commented on #1182
@rjbez17 That IngressRoute looks ok to me. Are there any errors in Contour's log? Like it can watch errors for Ingress resources or something?

[2019-08-09 00:23] stevesloka commented on #899
I did a little bit of digging on this one and it seems like we should be adding more to the route config to properly handle all cases. See the example here: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-routeaction-prefix-rewrite

Contour could do this work automatically, by first duplicating the route, then adding the trailing slash to the other

[2019-08-09 03:05] davecheney opened #1305 "Backport #1304"
Backport fix for proxy.golang.org changes.

[2019-08-09 06:03] #1279 closed

[2019-08-09 06:04] davecheney opened #1306 "Backport klog fix"
Backport https://github.com/heptio/contour/pull/1302

[2019-08-09 06:11] davecheney commented on #1305
Not needed, 0.14 uses client v11 which is classically incompatiable -- it does not have a go.mod file.

[2019-08-09 06:11] #1305 closed

[2019-08-09 06:14] so0k commented on #1306
until 0.14.2 is released, we should just mount `/tmp` into contour pod?

[2019-08-09 06:16] davecheney commented on #1306
You should mount a /tmp, we don't parse flags so `--lgtostderr` will not be recognised

[2019-08-09 06:18] so0k commented on #1306
0.14.2 is meant to drop on Monday anyway, for the Envoy 1.11.1 security release - right?

seems your plan is to backport this as well?

[2019-08-09 06:18] so0k commented on #1306
ah Pr is already there - cool

[2019-08-09 06:26] davecheney commented on #1306
Fixed in 6ce3df0994c04b9d2b350782f3f9af1393c7e3ce

[2019-08-09 06:26] #1306 closed

[2019-08-10 01:28] pacifier17 opened #1308 "Configure size of the client request body"
Hi,
I am not able to find any Contour notation to control the size of the client request body. What is the max size that it allows by default? Is there a way to change it?

[2019-08-10 01:36] davecheney commented on #1308
I don’t believe we apply any restriction on the size of the client request body. I’m pretty confident that envoy doesn’t impose any limit by default.

We could add a setting for this, but what is your use case? Why should envoy impose this restinction, not your backend application?

[2019-08-10 23:02] pacifier17 commented on #1308
Thanks for responding. If Contour/envoy does not impose any restrictions then I think you are right, this restriction should be handled at the application level.

[2019-08-10 23:02] #1308 closed

[2019-08-10 23:18] davecheney commented on #1308
Historically proxies like nginx and Apache buffered incoming requests to disk to ram, hence the need for a limit on how much to buffer. I don’t believe that envoy buffers the response any more than is necessary to forward it to a backend application server.

[2019-08-11 10:49] pacifier17 commented on #1308
Ahh got it, that is why I see annotation of the same in nginx. Just curious, any idea why envoy does not buffer the requests to ram? Does it have a performance or any other kind of impact?

[2019-08-11 10:55] davecheney commented on #1308
I’m not sure, maybe it’s not necessary.

[2019-08-11 11:15] pacifier17 commented on #1308
Ok thanks.

[2019-08-12 04:46] davecheney opened #1312 "Update to Go 1.12.8"
https://groups.google.com/forum/#!topic/golang-announce/0uuMm1BwpHE

[2019-08-12 05:45] #864 closed

[2019-08-12 08:33] davecheney opened #1314 "internal/e2e tests do not pass with -count=2 after c5ac052"
[code]
Does not pass after c5ac052

[2019-08-12 08:42] #1314 closed

[2019-08-13 01:37] davecheney commented on #1284
Now 0.8.6 https://github.com/envoyproxy/go-control-plane/tree/v0.8.6

[2019-08-13 15:09] rjbez17 commented on #1182
@stevesloka  I didn't see any errors pop out in either contour and envoy containers. I'm going to try and reproduce on a single node tonight with only essential services. See if I can see any logs. I did however, see logs indicating that it was creating an http listener but didn't seen any created in the envoy config.

[2019-08-13 21:37] #1298 closed

[2019-08-13 23:29] #1312 closed

[2019-08-13 23:51] davecheney commented on #1299
Fixed #1323 #1324

[2019-08-13 23:51] #1299 closed

[2019-08-13 23:54] youngnick commented on #1185
# TODO

## New flag
I will add a new flag to `contour serve`, (proposal: `--insecure`), that makes clear that running without the TLS gRPC config is not ideal.

## Logic change
I will change the `contour serve` logic to complain if you:

- don't supply the tls options and
- don't supply `--insecure`.

This will be in the `tlsconfig()` function in `cmd/contour/serve.go`

**This will be a breaking c

[2019-08-13 23:54] youngnick commented on #1185
I've removed the 'design' tag from this as I'll use this to cover the implementation.

[2019-08-14 12:39] simonswine commented on #1254
If the contour images contain curl/wget the preStop hook could also be called on the contour container. Might be more readable then the bash magic

[2019-08-15 14:50] alexbrand opened #1336 "IngressRoute with string port in TCPProxy results in an error"
**What steps did you take and what happened:**
Created the following IngressRoute:

[code]

Service definition:
[code]

Contour starts logging the following error message every second:
[code]

**What did you expect to happen:**
I expected the tcpproxy to go to the port named `http` in my service.

**Anything else you would like to add:**
The error causes Contour to stop processing other ingressrou

[2019-08-15 15:01] stevesloka commented on #1336
IngressRoute has always defined the ports to use integers unlike Ingress spec (https://github.com/heptio/contour/blob/master//apis/contour/v1beta1/ingressroute.go#L91-L92).

We can take this into account for IngressRoute/v1 design, but right now, it's not possible to route to service and define a service port name instead of the int value.

[2019-08-15 15:25] alexbrand commented on #1336
Got it! In that case, I think we should add OpenAPI validation so that an invalid IngressRoute is rejected upfront. In the current state, a user can take down the contour control plane with that invalid IngressRoute.

[2019-08-15 15:31] stevesloka commented on #1336
Yup I agree :100:

[2019-08-16 01:26] davecheney opened #1339 "examples: spurious validation of non existent fields"
https://github.com/heptio/contour/blob/master/examples/common/common.yaml#L75

https://github.com/heptio/contour/blob/master/examples/common/common.yaml#L82

Validate fields which are not present in the IngressRoute CRD.

[2019-08-16 01:47] davecheney commented on #1254
@simonswine i'm not sure that will work as we're actively moving to split envoy and contour containers into their own pod.

[2019-08-16 01:57] #1254 closed

[2019-08-16 02:01] davecheney commented on #432
Hello,

I want to give an update from this issue. As mentioned in https://github.com/heptio/contour/issues/432#issuecomment-503014473 the assignment to 0.15 was tentative and during the cycle noone was available to work on a design for this. As 0.15 is our last development cycle before the 1.0 freeze I am sorry but this feature will not make the cut for Contour 1.0.

I am moving this to the unplan

[2019-08-16 02:03] davecheney commented on #1064
I have an update on this issue. Sadly the 0.15 cycle closes next week. 0.15 is our last development cycle before the 1.0 freeze. At this point this feature will not make the 1.0 cut. I am moving it to the unplanned milestone to revisit after Contour 1.0 ships in November.

[2019-08-16 02:05] davecheney commented on #433
Hello,

As described in https://github.com/heptio/contour/issues/433#issuecomment-503014942 the assignment to 0.15 was tentative and we did not have anyone assigned to work on this feature. 01.5, our last development cycle before the 1.0 freeze, closes next week and this feature will not be ready. I am moving this to the unplanned milestone and we will revisit it after Contour 1.0 in November.

[2019-08-16 03:28] davecheney opened #1342 "Mount configmap for contour's config file into contour serve container"
Now we have the config file, we should make that available as a configmap in `examples/` so that users can edit the config file as required.

Our config map is also necessary as a hook for leader election.

[2019-08-16 04:11] #1339 closed

[2019-08-16 04:15] #1336 closed

[2019-08-16 06:18] #1342 closed

[2019-08-16 06:24] davecheney opened #1344 "Convert contour.json config file to yaml"
@youngnick is right, json inside yaml is terrrible; so's yaml inside yaml, but at least we can have comments.

[2019-08-16 10:08] varunkumar commented on #765
Hi,

Can someone please add a simple gRPC example to the documentation. I am struggling to get HTTP/2 working.

Thanks,
Varun

[2019-08-16 21:13] alexbrand opened #1346 "Envoy does not close HTTP(S) listener when the last IngressRoute is removed"
**What steps did you take and what happened:**
1. Install contour:
[code]

2. Scale deployment to 1 to aid in debugging

[code]

3. Create sample application with the following IngressRoute

[code]

4. Verify that the application is reachable

5. Delete the IngressRoute

**What did you expect to happen:**
Given that there are no IngressRoutes defined, Envoy should not have a listener open on port

[2019-08-16 21:21] alexbrand opened #1347 "TcpProxy IngressRoute status is not set when it references an un-delegated TLS cert"
**What steps did you take and what happened:**
1. Create a secret in the `heptio-contour` namespace called `default-ssl-cert`.

2. Create an IngressRoute that references the secret:
[code]

3. Get the IngressRoute and see status:
[code]

**What did you expect to happen:**
The status should reflect that the user does not have access to the referenced certificate. To avoid information disclosure, pe

[2019-08-16 22:25] alexbrand opened #1348 "IngressRoute that references a secret which has not been delegated is deemed valid"
**What steps did you take and what happened:**
1. Install contour:
[code]

2. Create a TLS secret in the `heptio-contour` namespace

3. Create an IngressRoute outside of the `heptio-contour` namespace. In its TLS block, the IngressRoute should reference the secret that was created in the `heptio-contour` namespace. For example:
[code]

4. Observe IngressRoute status:
[code]

**What did you expect

[2019-08-18 23:11] youngnick opened #1349 "Examples directory needs more READMEs"
The Examples directory could use some more READMEs, to explain:
- what each subdir is for
- inside each example subdir, explain how to install it, along with any other concerns or caveats for that example.

[2019-08-19 00:19] #1344 closed

[2019-08-19 00:19] #1134 closed

[2019-08-19 00:31] davecheney commented on #1300
@sudeeptoroy thank you for raising this issue. I believe that this should be possible to fix without having to add knowledge of the port envoy is listening on.

Before we move to a fix, can I please confirm the problem, which is

Is that correct?

[2019-08-19 00:41] davecheney commented on #370
Moving to the rc.1 milestone to decide to include this feature or not.

[2019-08-19 00:43] davecheney commented on #1168
@pickledrick timedout, please reopen when you hear back from the customer.

[2019-08-19 00:43] #1168 closed

[2019-08-19 01:34] davecheney commented on #1073
Moving to rc1 to decide if we want to address this for Contour 1.0

[2019-08-19 01:35] davecheney commented on #509
Moving the epic to Contour 1.0, implementation issues will be addressed in beta1 and rc1

[2019-08-19 01:36] davecheney commented on #951
Moving to the unplanned milestone to review after Contour 1.0

[2019-08-19 01:36] davecheney commented on #950
Its unlikely this will be started before the 0.15 milestone closes on the 23rd. Moving to beta.1

[2019-08-19 01:41] davecheney opened #1351 "Upgrade to Envoy 1.12.2"
Envoy 1.12 was released on 31/Oct.

TODO:

- [x] Update `example/contour` and test
- [ ] Update `Makefile` references
- [x] Update `site/_resources/envoy.md` to note that 1.1 will require envoy 1.12.
- [x] Optional, if desired, back port the 1.12 change to 1.0.x and update `site/_resources/envoy.md` to note that 1.0.x supports Envoy 1.11.2 and 1.12.

[2019-08-19 01:41] davecheney commented on #1351
Moving to the unplanned milestone. We don't plan to upgrade to Envoy 1.12 for Contour 1.0 at this time.

[2019-08-19 01:42] davecheney commented on #902
It looks like this feature is in master, but not 1.11. I'm moving this issue to the unplanned milestone as it is blocked on #1351

[2019-08-19 01:51] youngnick commented on #1204
Here's a status update on this one (note that this feature requires a split deployment to work):

Implementing a version of leader election into `contour serve` is relatively straightforward. I have a rough version working already. Currently it will:
- use the `contour` ConfigMap to hold the leader election annotation (used for the distributed lock coordination by the standard client-go election l

[2019-08-19 01:59] davecheney commented on #1176
For 0.15 I've landed #1350 and I plan to leave this issue here for the moment.

Sending invalid updates to Envoy is a problem -- we shouldn't do that, but I don't know what to do with the signal once we did send an invalid update. Logging is about the least worst thing we can do. Trying to cordon the offending update is complicated, it depends on which table it came through. Crashing contour is a

[2019-08-19 02:12] davecheney commented on #1280
Moving tentatively to the next milestone. The plan is to not bring up the grpc server until the shared informer has synced and we have populated the grpc cache at least once.

[2019-08-19 02:23] youngnick commented on #1204
After some thought and discussion with @davecheney, we've decided on this approach:
- Move the Contour Deployment to 'Recreate' for its update strategy. This will mean that on updates to the Deployment spec, Kube will delete and recreate the pods. Until #1280 is complete, this means that the risk of Contour doing a partial update to Envoy and removing listeners briefly is still present. We've deci

[2019-08-19 02:24] davecheney commented on #1204
Why do we have to disable leader election in this case? Wouldn't it be simpler to assume that leader election always happens, even if there is only a single nominee?

[2019-08-19 03:59] youngnick commented on #1204
If we do that, the single-pod installation will break - only one Contour will serve any config to its attached Envoy. So we need to be able to disable the functionality.

[2019-08-19 04:46] davecheney commented on #1204
I'm sorry I don't think I understand. Do you mean that leader election requires at least two participants?

[2019-08-19 04:49] youngnick commented on #1204
No, only the instance that's a leader will open the gRPC port and actually serve xDS requests. When you run in a single-pod Daemonset, all the Contours will connect to the apiserver, elect a leader, and only that leader will serve config to its (local) Envoy. The other Envoys will have no listeners because their xDS server will be unavailable.

[2019-08-19 04:53] davecheney commented on #1204
Here's what I want to avoid. Currently we have --incluster and not --incluster mode. I don't want to have a --with-leader-election and --without-leader-election mode because that gives us four possible states that envoy can be deployed into.

Is it possible to have a successful leader election with only one candidate? If so, then what I'd like to see is all contours perform a leader election befor

[2019-08-19 05:27] youngnick commented on #1204
Yes, it's definitely possible to have a leader election with only one candidate. It's only in the case that someone's running a single-pod-style arrangement with more than one replica it will be a problem. I have a PR incoming where we can discuss further.

[2019-08-19 19:26] sudeeptoroy commented on #1300
For standard ports 80 and 443, no. This is correct behaviour.
However for cases where envoy if bound to a different hostport lets say 8000 and 6443 for http and https traffic; redirect is appending a port number but wrong one. In this case, after the redirect we would expect port 6443 but what we receive is 8000.

[2019-08-20 02:13] davecheney opened #1359 "docs: --insecure and split deployment changes need an UPGRADING.md document"
The changes to the manifests in 0.15 are sufficient enough that simply editing an existing contour deployment and changing the image version will not work. To be sure, we never encouraged that, but in this case going from 0.14 to 0.15 is large enough that we should publish an upgrade document.

The document should describe

- [ ] upgrade by deleting and recreating their contour deployment if they

[2019-08-20 06:11] davecheney opened #1360 "internal/e2e: need e2e test for global min tls version"
#1273 did not include e2e tests for global min tls version.

[2019-08-20 07:55] davecheney opened #1361 "cmd/contour: serve workgroup does not exit cleanly"
[code]
This diff should cause `contour serve` to exit almost immediately on startup. It doesn't. One of the group functions is not returning immediately on the stop channel closing.

[2019-08-20 08:24] davecheney commented on #1263
Thank you for raising this issue. I am assigning this to the unplanned milestone and we will evaluate it after Contour 1.0 has been released.

To give you an idea of my thinking, if contour is outputting so much information that it needs to be consumed and analysed by ELK, then it should become more circumspect, not change the format to make it easier to filter.

[2019-08-20 08:26] davecheney commented on #1248
@sgrman thank you for raising this request. Sorry it took me so long to reply to you.

UDP proxying is too far outside Contours remit as a HTTP load balancer, we will not implement this feature.

[2019-08-20 08:48] davecheney opened #1363 "release-0.14: examples/ reference image 0.14.1 not 0.14.2"
I forgot to update the Contour image version when doing the release.

What should we do? Publish a 0.14.3, or change the tag? At a minimum we should ensure HEAD of the release-0.14 branch points to 0.14.2.

[2019-08-21 00:51] #1361 closed

[2019-08-21 01:19] davecheney commented on #1363
Fixed in cf2e3cdabeba1783e39ccb84f50485d3f0c9ccb4

[2019-08-21 01:19] #1363 closed

[2019-08-21 03:06] davecheney opened #1364 "cmd/contour: hook SIGHUP to gracefully shut down contour serve"
`contour serve` runs until one of the members of `serve`'s workgroup exits, shutting down the rest of the group.

For testing we sometimes manually hack in poison pill style jobs which terminate the group after a period of time #1361. It would be useful to be able to a graceful server shutdown rather than ^C the process. I propose we hook up SIGHUP to terminate the group.

[2019-08-21 03:37] davecheney commented on #499
Moving to 1.0 beta 1 as #1039 is not yet available. We'll continue to work on this ticket throughout the next few milestones, including #1159.

[2019-08-21 03:39] #1360 closed

[2019-08-21 06:03] youngnick commented on #1204
As merged above, leader election is *not* default at the moment. We'd like to gather some data about the approach we're using, since it has the effects listed above, namely needing the Deployment to be `Recreate` not `RollingUpdate`, and stopping single-pod installations from having multiple replicas. It will only be enabled in the `ds-hostnet-split` example deployment for 0.15, and there will be

[2019-08-21 06:49] youngnick opened #1367 "Partial configuration in the config file is not defaulted correctly for child structs"
# What happened
When prototyping putting leader election configuration in the configuration file, I found the following import from YAML did not work as I expected.

For the following struct:
[code]
This struct is included under a YAML field of `leaderelection`. So a full config, set to the defaults set elsewhere in `cmd/contour/serve.go` would look like this:
[code]

This would produce a `LeaderE

[2019-08-21 07:02] #1172 closed

[2019-08-21 12:16] alexbrand commented on #1364
+1. This would also allow graceful shutdown by the Kubelet when terminating contour pods.

[2019-08-21 12:49] alexbrand opened #1369 "Rendered deployment YAML is incorrect"
**What steps did you take and what happened:**
Attempted to deploy the manifest at `./examples/render/deployment-rbac.yaml` in the master branch, but got an error:

[code]

**What did you expect to happen:**
The deployment to succeed.

**Anything else you would like to add:**
It looks like the YAML file is malformed.

**Environment:**

- Contour version: `master`

[2019-08-21 13:50] alexbrand commented on #1364
I'd love to pick this up. I've got a couple of questions:

- Kubernetes sends a SIGTERM and not a SIGHUP when terminating a pod. I was thinking we could hook up SIGTERM instead of SIGHUP. Thoughts?

- Is a new goroutine in the Workgroup the right place for implementing this? I am thinking `g.Add` a new goroutine in `serve.go` that setups the signal handler and blocks on the notification channel. O

[2019-08-21 15:22] #1369 closed

[2019-08-21 23:10] davecheney commented on #624
Sorry, we ran out of time in 0.15 for this. @youngnick has a plan for how to implement this in beta1.

[2019-08-22 00:12] youngnick commented on #1185
Still to be done here: Tidy up the example deployments, and then update all the documentation.

[2019-08-22 01:35] #1166 closed

[2019-08-22 01:38] davecheney opened #1372 "internal/dag: KubernetesCache should ignore non kubernetes.io/tls type secrets"
Post #1371 `dag.KubernetesCache` stores, but does not notify, all `v1.Secret`s. Contour does not use non `kubernetes.io/tls` type secrets so we don't need to cache them at all.

[2019-08-22 01:55] davecheney commented on #437
As mentioned in https://github.com/heptio/contour/issues/437#issuecomment-509065117 we didn't have anyone who could work on this during the 0.15. Moving to the beta1 milestone with the caveat that we still don't have any resources to work on this so this feature is at risk of being bumped til after Contour 1.0

[2019-08-22 02:10] davecheney commented on #732
Fixed #1327

[2019-08-22 02:10] #732 closed

[2019-08-22 02:20] davecheney commented on #1165
This is a straight forward bug, we're not excluding secure virtual hosts that have no routes. Once they are excluded the secrets visitor will not be able to locate the unneeded secrets.

[2019-08-22 02:21] davecheney commented on #1364
@youngnick any objections to SIGTERM?

[2019-08-22 02:23] davecheney commented on #1257
Thank you for raising this issue. Its not on the roadmap for Contour 1.0, but I'll add it to the unplanned milestone for consideration after Contour 1.0 ships.

[2019-08-22 03:12] davecheney opened #1374 "TCP proxy on non secure virtual hosts may not work."
I think that the dag builder will eliminate the virtualhost if it doesn't have any routes. The builder should also consider tcp proxys when eliminating the virtual host.

[2019-08-22 04:07] youngnick commented on #1364
No objections to SIGTERM, particularly since we're shutting the program down as the response anyway. Probably better not to overload SIGHUP (which has the expected behaviour of leaving the program running) anyway.

Good idea.

[2019-08-22 04:11] davecheney commented on #1364
@alexbrand all yours next week once we start the next cycle.

[2019-08-22 04:12] davecheney commented on #1364
Yup. That's a good plan.

[2019-08-22 05:46] glerchundi opened #1375 "config: sane defaults for envoy"
I came across [this PR](https://github.com/envoyproxy/envoy/pull/8001) from @PiotrSikora and thought it would be interesting to corroborate if those 'best practices' are being followed in Contour.

[2019-08-22 05:56] davecheney commented on #1375
Thank you for this. There is some very useful information here.

Scheduling for rc1 to review and see what if any changes we should take from this document.

[2019-08-22 07:24] davecheney commented on #1300
@sudeeptoroy I think the solution is to see if there is a way to prevent envoy adding any port to the redirect; ie http://foo.com -> https://foo.com shouldn't need a port.

[2019-08-22 19:51] sudeeptoroy commented on #1300
@davecheney envoy would not add ports until you program it that way.

essentially https://github.com/envoyproxy/envoy/blob/feb56a1f8ee2cf1ea2048e20b7ba05f8199355c6/api/envoy/api/v2/route/route.proto#L954
need to be programmed only for cases when envoy is serving non standard ports; ie   http://foo.com:8000 -> https://foo.com:6443

previously I had submitted this fix https://github.com/heptio/conto

[2019-08-22 19:53] alexbrand commented on #145
I have been experimenting with this as well, and I have a proposal for properly draining Envoy that builds on @rochacon's suggestion.

Currently in `master`, we have a preStop hook in the Envoy container that POSTs to the `/healthcheck/fail` endpoint. This tells Envoy that it needs to start draining connections. In addition, the failing healthcheck triggers the readiness probe to fail, which in tu

[2019-08-22 20:00] ravilr commented on #1375
Also, this https://github.com/envoyproxy/envoy/issues/6323 . Can we configure tcp keepalive options to tear down half open connections for both Contour grpc management server upstream cluster and also (optionally may be) for all K8s service upstream clusters in envoy config programmed by Contour.

[2019-08-22 20:20] davecheney commented on #145
Ping @youngnick who has strong opinions on this one.

[2019-08-23 02:20] davecheney opened #1377 "Upgrade to Go 1.13"
Go 1.13 will be released in the next 30 days, we should upgrade to 1.13rc1 next monday for the start of 1.0-beta.1 and prepare for 1.13 final for the 1.0-beta.1 release.

Blocked:
- [x] https://github.com/golang/go/issues/34054

[2019-08-23 02:50] davecheney commented on #1165
The fix for this is straight forward -- make sure we exclude SecureVirtualHosts that lack valid routes, but making this change has exposed a lot of issues downstream of the dag. I have to postpone this to p1 in 1.0-beta.1.

[2019-08-23 03:56] youngnick commented on #145
I really like the stats watch idea, that's really good, much better than guessing timeouts. I'd be very interested to see the PoC.

[2019-08-23 06:55] #1359 closed

[2019-08-23 11:19] davecheney commented on #1039
Without support for FDS in Envoy 1.11 we cannot work on this in beta.1

[2019-08-23 15:29] alexbrand commented on #145
Yeah, I totally agree.

What I ended up doing was adding a sidecar to handle this. The sidecar sends the POST request to Envoy, and then starts watching the stats endpoint. Once the drain is complete, it creates a file in the already-existing config volume which signals Envoy that the drain is complete.

[code]

The envoy preStop hook waits until the file appears:

[code]

The end result is:
1) En

[2019-08-23 15:36] stevesloka commented on #145
Would a small go program make this impl simpler? I like the idea but worry about all the code inline in the yaml definition.  We could add tests, etc to the go code and maybe open up for other types of hooks that we might need in the future to manage Envoy's state.

[2019-08-23 17:04] alexbrand commented on #145
That is certainly another option!

[2019-08-26 00:35] #1284 closed

[2019-08-26 01:01] #1135 closed

[2019-08-26 01:04] davecheney opened #1383 "Upgrade to envoyproxy/go-control-plane 0.8.6"
https://github.com/envoyproxy/go-control-plane/tree/v0.8.6 has been released. We should see about upgrading to it before rc1.

[2019-08-26 01:57] youngnick commented on #1204
I'm closing this issue out, as we have the base functionality, and I'll open a new one to cover moving leader election to a multi-read, single-writer model.

[2019-08-26 01:57] #1204 closed

[2019-08-26 02:09] youngnick opened #1385 "Leader election should be multi-read, single write style"
The current implementation of leader election in Contour is as follows:
- Contour pods elect a leader using a Configmap as the distributed lock. (Hard-coded to `contour` in `heptio-contour`).
- All pods block before opening the gRPC port until one becomes leader.
- In order to ensure that only the leader actually serves traffic, the Pod's readinessProbe is configured to look for the gRPC  port.

I

[2019-08-26 04:07] youngnick commented on #1367
Found the problem - the yaml field names just needed `,omitempty` added to them. PR incoming.

[2019-08-26 04:08] youngnick commented on #1367
I'll see about adding tests as well.

[2019-08-26 06:53] youngnick commented on #145
I like the use of the config volume for signal-passing, that's neat.

I agree that a small go program that handles SIGTERM and then watches the Envoy stats until it's drained would be very clean, but doing it in bash is definitely a good start.

[2019-08-27 01:32] #1367 closed

[2019-08-27 01:34] davecheney commented on #973
Moving to the unplanned milestone, we'll tackle this post Contour 1.0 and do a backport in the current stable release if necessary.

[2019-08-27 10:01] #1165 closed

[2019-08-27 20:17] stevesloka opened #1392 "Docs: Document Configuration File"
**What steps did you take and what happened:**
We have now implemented a Configuration file, but don't have any docs on how it works, what fields are enabled, etc.

[2019-08-27 23:06] youngnick opened #1393 "Move leader election to use the new Lease object"
As of Kubernetes 1.15, the new Lease object is in beta, and can be used as the lock for leader election.

Once the Lease object is in beta in all our supported versions of Kubernetes (ie in the 1.17 or 1.18 timeframe), we should move the leader election code to use it.

This will mean that Contour won't need Update permissions on the leader election configmap (which is currently the `config` Confi

[2019-08-27 23:14] #1364 closed

[2019-08-28 00:14] davecheney opened #1394 "Contour should document the Envoy extensions it requires"
The docker.io/envoyproxy/envoy image we use in our examples ships with all the envoy extensions compiled in. Using Envoy as a reverse proxy does not require all the extensions Envoy's image ships with. We should document the extensions we need so that if users want to bring their own Envoy they can be reasonably confident that it will work.

[2019-08-28 00:50] davecheney commented on #881
Merging into #1185

[2019-08-28 00:50] #881 closed

[2019-08-28 01:12] #1383 closed

[2019-08-28 06:27] davecheney commented on #145
One possibility would be to manage this cordoning via Contour.

Now envoy passes its $POD_NAME we have the ability to customise the
configuration sent to each Envoy should we choose. If, for the contour we
wanted to isolate, we sent an empty LDS table this would put the current
listeners into draining mode (600s default timeout) and immediately close
the current accepting sockets. That would preve

[2019-08-28 13:29] alexbrand opened #1399 "Misleading error message when TCPProxy IngressRoute references a service that is an HTTP Service"
**What steps did you take and what happened:**
1. Created a deployment and service
2. Created a secret with a TLS cert
3. Created an Ingress resource with TLS that references the service
4. Created a TCPProxy IngressRoute that references the same service
5. Get the following IngressRoute status:

[code]

**What did you expect to happen:**
Contour to produce a meaningful error message. The current

[2019-08-28 20:39] davecheney commented on #437
What would those settings be? IMO the blocker on CORS support is defining the default values for its various settings.

[2019-08-29 02:53] davecheney commented on #1188
Eerily similar :) Closing as duplicate of #1065

[2019-08-29 02:53] #1188 closed

[2019-08-29 05:04] davecheney opened #1403 "Upstream certificate validation broken in 0.15"
In fixing #1165 I'm pretty sure that Upstream Certificate validation was broken. The symptom is SDS will not return a the CA certificate referenced in by CDS's upstream TLS context.

[2019-08-29 05:21] davecheney commented on #1403
investigating a bit more I think this was broken when we introduced SDS in 0.13.

[2019-08-29 05:45] davecheney opened #1405 "Migrate serving of upstream CA certificate to SDS"
Currently TLS certificates are referenced by CDS and served by SDS. For CA certs used by upstream verification we still serve the CA material inline in CDS.

To fix this we need to:

- [ ] change the `internal/envoy.upstreamVerification` helpers to take a secret name, not a secret itself.
- [ ] build the secret as part of `internal/contour`'s secret visitor by traversing down to the route.Cluster.

[2019-08-29 05:45] davecheney commented on #1403
Phew. Nothing is broken. When we switch to SDS we didn't convert Cluster Upstream Validation to use SDS. I've raised #1405 to track this as tech debt.

[2019-08-29 05:45] #1403 closed

[2019-08-29 06:46] davecheney commented on #946
@youngnick do you think you can wrap this into #1349

[2019-08-29 06:48] davecheney commented on #995
@stevesloka do you have any suggestions on how we could implement this? If nothing comes to mind would you consider moving this to the backlog milestone and we'll revisit after Contour 1.0

[2019-08-29 07:06] davecheney commented on #1159
Fixed 606fac594a01993c8d039cf228ea0b7b36cedeb2

[2019-08-29 07:06] #1159 closed

[2019-08-29 07:08] davecheney commented on #1169
I believe this was fixed in 0.14 by #1251

[code]

[2019-08-29 07:08] #1169 closed

[2019-08-29 07:15] davecheney opened #1407 "Lower the per connection buffer to 64k at the listener level"
Envoy assigns a 1Mb buffer to to each incoming connection. It is not clear if it consumes the whole 1Mb in one go, or that is a upper limit.

Either way, I think this should be lowered to something like 64.

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/lds.proto#envoy-api-field-listener-per-connection-buffer-limit-bytes

[2019-08-29 07:18] davecheney opened #1408 "Lowering Envoy's cluster per-connection buffer to 32kb"
Envoy allocates 1mb per connection to a backend pod.

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#cluster

It is not clear if it allocates it all in one go, or it is an upper limit. In either case 1Mb is a lot. I think it should be lowered to something like 64kb.

[2019-08-29 07:22] davecheney commented on #1346
@alexbrand would you please retest with `v0.15.0` or `master`. Thank you.

[2019-08-29 07:24] davecheney commented on #499
In 0.15 we added filtering for unrelated secrets and services. Moving to the next milestone as there is no more work scheduled for this release.

[2019-08-29 07:46] #1374 closed

[2019-08-29 12:39] annismckenzie commented on #437
@jipperinbham While that looks easy on the surface, this will break / not work for example with credentialed requests that require CORS. In these cases, you can't use `*.example.com` as an allowed origin and browsers will yell at you. And that's one of the things that will never work with that one config file. :/

[2019-08-29 13:07] stevesloka commented on #995
@davecheney I'm going to backlog this for now.

[2019-08-29 13:35] alexbrand commented on #1346
I followed the above repro steps and verified that this still happens in `master`.

I also noticed in that the Recv-Q for Envoy's port 8080 grows as I send requests to that port. (See screenshot)

![image](https://user-images.githubusercontent.com/545723/63944792-35bff100-ca40-11e9-8a37-d219b9f14770.png)

[2019-08-29 14:01] jipperinbham commented on #437
@annismckenzie thanks for bringing that up as it definitely questioned my understanding of how Envoy handles the `allow_origin_regex` field.

https://github.com/envoyproxy/envoy/pull/3769 looks to be the original patch to support regexes and digging into the [tests added](https://github.com/envoyproxy/envoy/pull/3769/files#diff-f75643b618ef35024da11a253a5f5b40R485-R532), my interpretation is Envoy

[2019-08-29 14:36] rjbez17 commented on #1182
@stevesloka  I've been unable to find any errors in the logs, and the routing actually works, I just don't have the listner in the config. Here is a dump of all logs with debug mode on via:

`k logs deployment/contour -n heptio-contour --all-containers > contour.log `

[contour.log](https://github.com/heptio/contour/files/3556062/contour.log)

[2019-08-29 14:47] stevesloka opened #1409 "apis: projectcontour.io/HTTPLoadBalancer CRD Spec"
**Describe the solution you'd like**
Need to add the new CRD spec for Routing NG issue. This will need to work in parallel with current IngressRoute/v1beta1 spec.

[2019-08-29 14:49] stevesloka opened #1410 "hack: Build new clientset for HTTPLoadBalancer CRD"
**Describe the solution you'd like**
Update the hack scripts to generate a new client for the HTTPLoadBalancer CRD.

[2019-08-29 14:58] stevesloka opened #1411 "Link up informers for HTTPLoadBalancer to watch / process events"
**Describe the solution you'd like**
Need to setup informers for HTTPLoadBalancer and process events into the caches.

[2019-08-29 15:08] stevesloka opened #1413 "examples: Add CRD creation for HTTPLoadBalancer"
**Describe the solution you'd like**
Need all proper yaml plumbing to create the HTTPLoadBalancer CRD.

[2019-08-29 21:36] stevesloka opened #1414 "Add openAPIV3Schema validation for HTTPProxy"
**Describe the solution you'd like**
The initial build of the HTTPProxy CRD left out defining the openAPIV3Schema definitions. This was on purpose while the spec is in development.

[2019-08-30 00:18] davecheney commented on #911
I've reviewed this issue and I don't believe there is anything left to do here. Please comment if you believe this is not correct.

[2019-08-30 00:18] #911 closed

[2019-08-30 00:19] davecheney commented on #923
Looks like #1162 was merged in 0.13. Closing

[2019-08-30 00:19] #923 closed

[2019-08-30 00:28] davecheney commented on #1346
@alexbrand thanks for confirming.

[2019-08-30 00:41] davecheney commented on #1346
I think i've confirmed this. Something seems to be holding `ingress_http` open, `ingress_https` disappears as expected when the last TLS vhost disappears.

[2019-08-30 00:42] #1409 closed

[2019-08-30 00:46] davecheney opened #1415 "Document the TLS certificate validation ca.crt requirement"
TLSCertificateValidation uses k8s Secret objects to store the CA certificate. This convention should be documented explicitly.

[2019-08-30 00:48] #1372 closed

[2019-08-30 00:59] davecheney commented on #1346
ok, this was PEBKAC, I had an ingressroute hanging around.

@alexbrand I'm not able to reproduce this locally. Could you go to the troubleshooting page and grab the config_dump, if you have an `ingress_http` dynamic listener, then there should be at least one route entry in the `ingress_http` route table.

[2019-08-30 01:06] davecheney opened #1416 "Troubleshooting document needs to be updated for split deployment"
The troubleshooting document is biased towards the previous non split deployment. We should update the documentation to bias towards split deployments.

/cc @youngnick

[2019-08-30 01:31] davecheney commented on #1347
@alexbrand thank you for raising this issue. Can you explain more about the information disclosure problem you see. Are you worried that someone in namespace X can probe for certificate names in namespace Y?

[2019-08-30 01:57] youngnick opened #1418 "Remove deprecated examples"
As part of the 1.0 release cycle, we need to remove all the examples that are now deprecated.

This includes: `deployment-grpc-v2`, `ds-grpc-v2`, `ds-hostnet`, and `ds-hostnet-split`.

[2019-08-30 01:59] #1185 closed

[2019-08-30 01:59] #1349 closed

[2019-08-30 02:01] davecheney commented on #1277
@rochacon could you send that PR please.

[2019-08-30 02:05] davecheney commented on #1348
@alexbrand could you please try to reproduce this with 0.15. I was unable to reproduce the fault
[code]

[2019-08-30 02:07] alexbrand commented on #1346
Hey @davecheney, I just looked into the config_dump at three different stages: 1) a fresh contour instance, 2) after creating the ingressroute, and 3) after deleting the ingressroute.

I found that in:
1) The `ingress_http` listener does not show up in the configmap (as expected).
2) The `ingress_http` listener shows up under `dynamic_active_listeners` (as expected)
3) The `ingress_http` listener

[2019-08-30 02:08] davecheney commented on #1346
this route is holding port 80 open, https://gist.github.com/alexbrand/b214b93221691874a405ea555d50012a#file-02-with-ingressroute-json-L397

[2019-08-30 02:10] davecheney commented on #1239
@youngnick did #1402 addressed this?

[2019-08-30 02:16] alexbrand commented on #1346
That's the `config_dump` that I captured while the IngressRoute was defined, so I do expect that route to be defined.

The following `config_dump` is the one that I grabed after deleting the ingressroute: https://gist.github.com/alexbrand/b214b93221691874a405ea555d50012a#file-03-post-delete-json.  It does not contain that route, but does have the ingress_http listener here: https://gist.github.com

[2019-08-30 02:21] alexbrand commented on #1346
Okay. If I wait long enough the listener is eventually removed. It seems like the drain takes ~ 2 minutes:

[code]

Unless you think this drain is taking longer than it should, I think we can close this issue.

[2019-08-30 03:55] davecheney commented on #1346
There will be a delay between the listener configuration going away and
envoy closing the socket -- it probably won't accept any new connections on
that socket while its in draining mode.

I'm not able to reproduce what you see -- as soon as the last ingress_http
route goes away, the listener is immediately removed from
127.0.0.1:9001/listeners in my cluster

On Fri, 30 Aug 2019 at 12:21, Alexande

[2019-08-30 04:41] youngnick commented on #1239
Yup. Closed by #1402.

[2019-08-30 04:41] #1239 closed

[2019-08-30 04:43] youngnick commented on #946
Hmm, missed this, but I'll take it and make it happen.

[2019-08-30 04:45] davecheney commented on #946
Thanks

On Fri, 30 Aug 2019 at 14:43, Nick Young <notifications@github.com> wrote:

[2019-08-30 05:16] youngnick commented on #1416
The one I didn't check! Dang.

[2019-08-30 05:24] davecheney opened #1419 "Upstream CA Cert filtering fires for unrelated Secrets"
The logic added in beta.1 to filter out anything except `kubernetes.io/tls` and items with `data["ca.crt"]` is failing because `kubernetes.io/service-account-token`'s also have a key called `ca.crt`.
[code]

A short term fix for this would be to exclude `type: kubernetes.io/service-account-token`'s, but what we probably should do is change the type of the CA cert we use for TLSCertificateDelegatio

[2019-08-30 10:19] davecheney commented on #995
Thanks. Lets revisit it in November

On Thu, 29 Aug 2019 at 23:07, Steve Sloka <notifications@github.com> wrote:

[2019-08-30 12:00] alexbrand commented on #1348
Did you create the `heptio-contour/ssl-cert`? I am still able to repro with 0.15.

Looking through the e2e tests, it seems like this is the expected behavior though.

I am specifically referring to this assertion: https://github.com/heptio/contour/blob/master/internal/e2e/lds_test.go#L1525, which expects there to be an HTTP listener but not an HTTPS listener when there is no TLS Delegation.

I wou

[2019-08-30 12:06] alexbrand commented on #1346
Got it. I think we can close this issue, as Envoy does eventually drain and close the port when the last IngressRoute is removed.

[2019-08-30 17:58] #1411 closed

[2019-09-02 01:55] davecheney opened #1425 "Rework how statuses are written during dag rebuild"
Currently status writing is handled as part of the `CacheHandler.OnUpdate` operation. The `dag.DAG` contains a `Statuses` method which returns status objects collected during the dag build. This approach has several limitations

1a. Status writing causes the cache handler to have a reference to the Contour k8s Client so it can write status back to the API server. Ideally the CacheHandler would hav

[2019-09-02 02:30] davecheney commented on #910
@256dpi sorry it's taken me so long to get back to this issue, this is something i'm hoping to address in beta.1 (or at least confirm that we cannot support it for Contour 1.0).

Something I spotted was your `permitInsecure: true` declaration was on the wrong line. It should be a child of `rout`, not of `services`. I'm not sure if this is the only problem, but its certainly the first one that will

[2019-09-02 04:27] davecheney commented on #21
Duplicate of #403. Will follow up on #403

[2019-09-02 04:27] #21 closed

[2019-09-02 05:29] youngnick commented on #1385
This work is currently in two parts:
- Changing the Status to be more compatible with this idea (#1425 )
- Setting up leader election to no longer block the gRPC server from opening its port.

I'm covering the latter in this issue.

[2019-09-02 06:26] davecheney commented on #865
Hmm, I don't think this should happen, the rules of ingressroutes are very clear -- if you have a virtualhost you are a root ingressroute, roots cannot delegate to non roots and vice versa.

[2019-09-02 10:23] davecheney commented on #1399
@alexbrand thanks for you analysis. I believe this is correct, and in fact might even be non deterministic. Because b.services holds both tcpservices and httpservices its sort of a crapshoot which is populated first for that service. Its probably mostly deterministic if a single ingressroute mentions a service in a route then a tcpproxy. However that is probably not possible either at the moment b

[2019-09-02 20:38] #865 closed

[2019-09-02 23:26] davecheney opened #1434 "Migrate :master image building from jenkins to github actions"
Currently our `:master` and tagged (see [./docs/tagging.md]) builds are built using an internal jenkins instance that is going away soon. We need to move the service that builds our `:master` and release builds elsewhere. Additionally, our gcr.io image repository contains heptio branding so we need to move away from that.

TODO:
- [x] register `projectcontour` on the docker hub, figure out how to

[2019-09-02 23:43] davecheney opened #1436 "internal/e2e tests need some love"
Our `internal/e2e` directory needs some love. This package was initially created to test scenarios that required sequences of operations flowing through Contour. It's also a useful way to reproduce failures reported in the field. Once fixed, they act as regression tests.

However, over time the e2e package has grown rather unruly. Most of this is my fault. Casual investigations will discover half

[2019-09-03 00:43] davecheney commented on #560
Closed, won't fix. Now we have split deployment, contour's lifetime is decoupled from the envoys it manages so there is less cost in updating the list of root ingressroutes.

[2019-09-03 00:43] #560 closed

[2019-09-03 00:49] davecheney commented on #1405
This isn't necessary for 1.0 and has a quite high risk of regression. Bumping to after 1.0

[2019-09-03 02:49] davecheney commented on #1346
Thanks @alexbrand let's call this case closed for the moment.

[2019-09-03 02:49] #1346 closed

[2019-09-03 07:09] davecheney commented on #1347
@alexbrand ping

[2019-09-03 12:50] alexbrand commented on #1347
My bad @davecheney. I believe the issue only happens when the certificate exists in the other namespace. I have updated the repro steps in this issue's description to reflect this.

[2019-09-03 20:35] #1399 closed

[2019-09-03 23:08] underrun opened #1443 "install manifest in README broken in master"
**What steps did you take and what happened:**
Attempted to install contour using README in master which suggests `kubectl apply -f https://raw.githubusercontent.com/heptio/contour/master/examples/render/contour.yaml` as a way to install contour.

applying this manifest fails as some of the yaml docs are not properly separated with `---` so that it appears as if an rbac role has a `spec` field in

[2019-09-04 01:36] davecheney commented on #1443
@youngnick can you please take a look at the render issues

[2019-09-04 01:38] davecheney commented on #1443
@underrun sorry for the problems you experienced, we’ll get those fixed quickly.

WRT to the first user experience, we do fork off manifests for each release, but that’s not much help when master is the default branch that GitHub shows users.

Once we tag a stable 1.0 release we plan to switch all our documentation over to point to our stable release.

[2019-09-04 01:55] davecheney commented on #1443
@youngnick i'll fix the manifests

[2019-09-04 02:14] #1443 closed

[2019-09-04 03:24] youngnick commented on #1434
Got the first two parts done with an Action, although testing leaves something to be desired.

Looks like it's possible to trigger builds on release creation as well, so that should help. I've requested access to the beta on my account, so once I have that I can do some testing with other repos to try and nail down how the release thing works.

[2019-09-04 03:29] youngnick commented on #1434
In the meantime, I will do a PR and get rid of all the gcr.io images and change them to docker hub ones.

[2019-09-04 05:56] davecheney commented on #1347
@alexbrand thank you for the update, I've made the changes to #1347, would you please review them.

[2019-09-04 05:58] davecheney commented on #1347
@alexbrand thanks for the update. What I see now is there is no status reported for the ingressroute. I'll fix that/

[2019-09-04 20:22] alexbrand opened #1446 "Add filtering capabilities to the DAG debug endpoint"
**Describe the solution you'd like**
As a cluster operator using Contour, I would like to be able to filter the DAG debugging output that can be obtained via the debug endpoint. In a cluster with hundreds or thousands of IngressRoutes, the DAG is impossible to understand as it currently stands.

It would be great if I could produce a DAG for a specific IngressRoute by passing filtering parameters

[2019-09-05 01:51] #1347 closed

[2019-09-05 03:22] #1348 closed

[2019-09-05 03:37] #1377 closed

[2019-09-05 03:44] davecheney opened #1449 "internal/dag: merge builder_test and status_test"
Currently we test the DAG builder's output via `buider_test.go`, we also test the status output via `status_test.go`. Both of these tests do the same thing -- take some k8s objects, feed them to a `KubernetesCache`, pass that cache to a builder, build a dag, compare the output.

Currently adding a test for status means doing that hop/skip/jump in `status_test.go`, but if you also changed the code

[2019-09-05 04:49] #947 closed

[2019-09-05 13:42] alexbrand opened #1452 "Invalid IngressRoute with TLS still results in open HTTP listener"
This issue is related to #1348

**What steps did you take and what happened:**
1. Create a secret in the `heptio-contour` namespace
2. Create an app with the following IngressRoute. Note that the IngressRoute references a TLS certificate in another namespace:

[code]

3. Get the IngressRoute and check the status. Notice how the IngressRoute is deemed invalid:

[code]

4. Access the application on

[2019-09-05 14:55] stevesloka commented on #1410
Closed via #1412

[2019-09-05 14:55] #1410 closed

[2019-09-05 14:55] stevesloka commented on #1413
Closed via #1412

[2019-09-05 15:45] #1392 closed

[2019-09-05 17:58] stevesloka commented on #1452
I think what's happening is that the TLS configuration is invalid due to the cert problems, so the secure listener portion is in error. Since there's no TLS, the automatic 301 redirects on insecure requests aren't taken into account.

The proper solution is most likely to throw out the whole IngressRoute since a user is requesting TLS  but there's a problem with that configuration.

[2019-09-05 18:12] alexbrand commented on #1452
That would be my expectation as well

[2019-09-05 18:57] #910 closed

[2019-09-05 19:49] stevesloka opened #1456 "internal/dag: Fix up conditionPath method"
The method `conditionPath` in [dag/builder.go](https://github.com/heptio/contour/blob/master/internal/dag/builder.go#L868) should use path.Join() not += because the former will deal with trailing / properly.

[2019-09-05 20:48] stevesloka opened #1457 "internal/dag: Enable additional fields in Condition"
**Describe the solution you'd like**
An httplb can contain `[conditions](https://github.com/heptio/contour/blob/master/apis/projectcontour/v1alpha1/httploadbalancer.go#L44)`, as an `Include` or as part of a `Route` definition. Currently, we've implemented `pathPrefix`, but there are additional items to implement:

- [x] HeadersMatch
- [x] HeadersContain
- [x] ExactMatch: https://github.com/heptio/

[2019-09-05 20:54] stevesloka opened #1458 "internal/dag: Detect delegation cycle within an httplb"
**Describe the solution you'd like**
If an httlb contains an include which adds `Conditions` to another httplb. A cucle can occur if that delegated httplb adds an include which points back to the original httlb.

Similar check in IngressRoute: https://github.com/heptio/contour/blob/master/internal/dag/builder.go#L697-L702

[2019-09-05 20:55] stevesloka opened #1459 "internal/dag: Detect root httlb delegatation to another root"
**Describe the solution you'd like**
An root httplb (has a VirtualHost.Fqdn defined) cannot delegate to another root httplb.

Similar implementation in IngressRoute: https://github.com/heptio/contour/blob/master/internal/dag/builder.go#L682-L685

[2019-09-05 21:12] stevesloka opened #1460 "internal/dag: Detect conflicting Include.Conditions"
**Describe the solution you'd like**
It's possible that an Include with Conditions can cause conflicts with making route decisions.

- An include defines a route should *not* contain a header, but then the route defines it should route based upon its existence.
- An include defines a header and its route defines the same header to route on.

[2019-09-05 21:17] stevesloka opened #1461 "cmd/contour: Flag to enable routing config objects"
**Describe the solution you'd like**
Contour now has the ability to process `Ingress`, `IngressRoute` and now `HTTPProxy`.

We should have a flag which enables types that a user would want Contour to process. If users create a mix of two or more types at the same time, unexpected results could arise.

[2019-09-05 21:27] stevesloka opened #1462 "docs: Update docs for httploadbalancer"
**Describe the solution you'd like**
Need to finalize docs and fill in the large missing pieces that are conflicting with current implementations.

TODO post #1530
- [x] Create example directory
- [x] Document Conditions
- [x] Update examples with correct `conditions:` syntax.
- [x] Document `timeoutPolicy.idle`
- [x] Document inclusion

[2019-09-06 01:04] davecheney opened #1464 "Service quickstart URL from projectcontour.io"
Currently our quickstart url (the one we tell people `kubectl apply -f $URL`) is served from the readme in github's master tag. Because of a phase ordering issue the master branch's version of this url points to itself, not latest.

What I propose we do is replace this url with a url on projectcontour.io. This is the URL we use everywhere as the canonical way to install the latest version of conto

[2019-09-06 02:39] davecheney commented on #1452
@alexbrand thanks for logging this, keep 'em coming. I'll try to fix this today.

[2019-09-06 04:56] #1416 closed

[2019-09-06 05:03] #1452 closed

[2019-09-07 03:00] stevesloka opened #1470 "internal/dag: HTTPLoadBalancer doesn't delegate multiple levels"
**What steps did you take and what happened:**
If I have an httlb which passes an include off to another httplb, which then delegates again, the 3rd level won't get processed.

[2019-09-09 01:15] davecheney opened #1472 "Rename github.com/heptio/contour to github.com/projectcontour/contour"
The heptio github organisation is shutting down on October 16. We plan to migrate the contour repo to its own top level organisation github.com/projectcontour/ starting the week of September 16th.

TODO:
- [x] Migrate repo (september 16th)
- [x] migrate travis.com CI
- [x] adjust contributing documentation
- [x] adjust quickstart url published on projectcontour.io and README
- [x] adjust image bui

[2019-09-09 03:06] davecheney commented on #1119
I think I understand the underlying problem here. To solve it we will have to do some large changes to the way we generate clusters from k8s endpoint sets. This is out of scope for beta.1, scheduling for rc1 but we might have to delay this til after Contour 1.0

[2019-09-09 03:07] davecheney commented on #459
Delaying this til after 1.0

[2019-09-09 04:18] davecheney commented on #389
The current behaviour -- contour does not open an accepting socket until there is traffic to serve on that socket will remain the behaviour for contour 1.0.

[2019-09-09 04:18] #389 closed

[2019-09-09 15:19] #1234 closed

[2019-09-09 23:06] davecheney commented on #370
We will make a call on if this feature will be included for 1.0.0 on Wednesday.

[2019-09-09 23:16] #1464 closed

[2019-09-09 23:22] davecheney opened #1476 "Upgrading guide needs to be updated for 0.15 -> 1.0.0-beta1"
We need to update the upgrading guide to cover upgrading from 0.15 to 1.0.0-beta1.

TODO:
- [x] Cover the move from gcr to docker hub, noting that 0.15 is available in both locations.
- [x] split deployment is the new normal
- [x] election is opt out, not opt in
- [x] :new: http load balancer
- [x] `/healthz` for readiness is now `/ready`
- [x] Deprecation notice on IngressRoute documentation.

[2019-09-10 00:02] davecheney commented on #1182
@rjbez17 could you please update me on the status of this issue. Would you be able to summarise the current state of play for me? Thank you.

[2019-09-10 02:42] #1458 closed

[2019-09-10 02:42] #1470 closed

[2019-09-10 03:35] davecheney commented on #855
@so0k ping

[2019-09-10 03:37] davecheney commented on #952
I'm trying to make this work, #1465, but I can't figure out the right netlify fu

[2019-09-10 04:06] davecheney commented on #1300
Thank you for explaining. I  played around with the rewriting options in envoy and it looks inescapable that we'll have to record the host port that traffic is nat'd into envoy on. I don't think we can commit to doing this work before Contour 1.0, as it needs to be threaded through contour's config file, the listener visitor and the route visitor.

[2019-09-10 04:17] #1277 closed

[2019-09-10 04:34] #1434 closed

[2019-09-10 06:09] davecheney commented on #944
@stevesloka we're going to have to fix this for httplb / httpproxy. The problem is the current projectcontour.TimeoutPolicy type calls the _response_ timeout _request_. This should be fixed in httplb to be response, and we can then add idle timeout for the request timeout.

This means ingressroute.timeoutpolicy has to be disassociated from the httplb timeoutpolicy

[2019-09-10 08:32] davecheney commented on #509
Duplicate of #950 (that's where the work will be done)

[2019-09-10 08:32] #509 closed

[2019-09-10 08:33] #900 closed

[2019-09-10 08:34] davecheney commented on #1155
Ping @youngnick . Please roll this into your issue when you write up your plan for an e2e test cluster.

[2019-09-10 08:35] davecheney commented on #1039
Moved to the backlog. Contour 1.0.0 will ship with Envoy 1.11. We will revisit this issue when a version of Envoy with FDS is available.

[2019-09-11 02:16] #952 closed

[2019-09-11 04:00] youngnick commented on #946
I've investigated this over the last couple of days, here's what I've tried and found:

- I played around with using `--enable-proxy-protocol`, but this doesn't work. It doesn't work because when you create a Service of type LoadBalancer in GKE, you get a network load balancer, not a HTTP or TCP one. So it forwards packets unaltered to the Envoy instances that Contour configures.
- Changing the st

[2019-09-11 04:02] youngnick commented on #1385
This is blocked at the moment by the StatusWriter work in #1425 - I'm unassigning myself and leaving this one to @davecheney once he's finished there.

[2019-09-11 04:03] youngnick commented on #1155
I've taken this issue for now to cover writing up a design for an e2e/integration test rig for Contour.

[2019-09-11 04:41] davecheney commented on #1446
@alexbrand if you'd like to drive this work i'd be happy to pair with you on it.

[2019-09-11 05:35] davecheney commented on #426
EDS updates are now filtered by the resource hint that envoy provides in its discovery request.

[2019-09-11 12:22] alexbrand commented on #1446
Yeah, I'd love to! I think the biggest open question here is the UX.

Another use case came up this week around capturing all the secrets that Contour is holding in its DAG. We got around it by using grep, cut, etc to filter the DAG down.

Maybe a good starting point is adding the ability to get the DAG for a specific namespace? Delegation might throw a wrench into this though.

[2019-09-11 13:31] jessedearing opened #1487 "Preserve incoming X-Request-Id headers"
**Describe the solution you'd like**
For my use-case, I have Contour running as an ingress to my cluster but I have a service that routes HTTP requests to the Contour endpoint. The routing service generates a `X-Request-Id` header, but Envoy in it's default configuration will sanitize it and create a new request ID making log correlation difficult. I'd like to have some way I can set Envoy via Con

[2019-09-11 23:02] davecheney commented on #1487
@jessedearing thanks for the issue report. I can't see any reason to remove the `x-request-id` field so I can tell envoy to always permit it through.

When do you need this by and does it need to be in a non beta release? At the moment 0.15 is our stable release and will be until November. We'll have a beta.1 release this month and several release candidates next month.

[2019-09-11 23:25] davecheney commented on #370
I'm sorry to report that we will not be attempting this feature for contour 1.0.0. Assigning to the backlog to prioritise after 1.0

[2019-09-11 23:25] davecheney commented on #437
I'm sorry but we will not be attempting this feature before Contour 1.0. Assigning to the backlog to reassess it after Contour 1.0 is out.

[2019-09-11 23:37] youngnick commented on #624
I've published #1485 with our current design ideas around this feature. I'm hoping to get this reviewed and agreed soon with the aim to land this in beta1.

[2019-09-11 23:58] stevesloka commented on #1425
@davecheney is this all fixed up with #1475?

[2019-09-12 01:48] davecheney opened #1488 "update to envoyproxy/go-control-plane v0.9.0"
https://github.com/envoyproxy/go-control-plane/releases/tag/v0.9.0 has been released which switchs from gogo/protobuf (a long standing fork of golang/protobuf) back to golang/protobuf. I'm not overjoyed about doing this kind of surgery late in the cycle, but I'm concerned if we don't take this change we'll be stuck on old proto definitions and won't be able to upgrade to Envoy 1.12.

The good news

[2019-09-12 04:45] davecheney commented on #426
Nothing more is planned for this issue before 1.0. Moving to the backlog

[2019-09-12 07:13] #1459 closed

[2019-09-12 14:56] alexbrand opened #1493 "Requests can be misrouted due to HTTP/2 Connection Coalescing under certain scenarios"
tl;dr: Browsers reuse connections when using HTTP/2. **With certain IngressRoute configurations (Envoy configurations)**, requests can be routed to the wrong backend or produce puzzling 404s.

We believe the root cause to be a bug in Envoy that has an open issue here: https://github.com/envoyproxy/envoy/issues/6767

## What we observed

We noticed that requests destined for an application (let's c

[2019-09-13 12:45] alexbrand commented on #1493
Thanks Dave. Your analysis lines up with my understanding described in the issue.

^ My understanding is that Envoy should be responding with a 421 in this case, but it does not do that today due to https://github.com/envoyproxy/envoy/issues/6767

As you say, the TCP scenario seems even worse. I am not sure if Envoy itself can do anything in this case.

[2019-09-13 22:24] jessedearing commented on #1487
Awesome! That makes this an even easier story.

I think we can target getting it in a beta.1 release this month and that will be fine.

[2019-09-14 01:05] davecheney commented on #1493
How could envoy respond 421? Bar is not a hostname registered with the http manager.

[2019-09-15 04:09] stevesloka commented on #973
We need to prioritize this work sooner. The `extensions/v1beta1` api group is deprecated in v1.16 which will ship soon: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2019-09-15 08:54] anujw opened #1503 "Support Virtual Host Based Routing for Non-SNI HTTPS Clients"
We need to do virtual host based routing, so that the TLS request is routed to the appropriate service, based on the hostname specified in the HTTPS’s “HOST” header. As HOST Header is encrypted during TLS handshake, it can’t be used for virtual host based routing unless client sends HTTPS request specifying hostname using the SNI or the request is first decrypted using a default TLS certificate.
H

[2019-09-15 23:17] davecheney opened #1505 "Renaming heptio-contour namespace"
The current namespace contour is deployed into contains the name of a defunct company. What should we rename the namespace?

- [ ] `contour`
- [x] `projectcontour`
- [ ] `vmware-contour`
- [ ] D. none of the above.

---
Blocked
- [ ] #1418

[2019-09-15 23:46] davecheney opened #1506 "Deprecate contour.heptio.com annotations"
Contour offers these annotations
[code]

We need to duplicate those to the `projectcontour.io` space and deprecate the `contour.heptio.com` variants.

- Duplicate `contour.heptio.com` annotations to `projectcontour.io`
- Deprecate `contour.heptio.com` annotations
- Update `docs/annotations.md`

Still TODO

- [x] `contour.heptio.com/upstream-protocol.{protocol}`
- [x] `contour.heptio.com/ingress.cl

[2019-09-15 23:59] stevesloka commented on #1505
`projectcontour` to be consistent?

[2019-09-16 00:04] davecheney commented on #1505
+1 to that

[2019-09-16 02:13] youngnick opened #1507 "JSON logging should report invalid headers"
The current implementation of JSON logging silently discards invalid headers. Invalid headers should be surfaced to the user, probably at startup.

(see `internal/contour/accesslog.go` to get started).

[2019-09-16 05:08] davecheney commented on #1503
Thank you for raising this issue. At the moment Contour doesn't have the notion of a default, or fallback certificate. Probably the way to do this is to specify on the command line or a config file a "default ingress" object. That is, an ingress, ingressroute, or httpproxy record defined by the administrator as the object which requests are routed too if they do not match any other virtualhost.

[2019-09-16 07:58] #1487 closed

[2019-09-16 12:37] alexbrand commented on #1493
After reading through https://github.com/envoyproxy/envoy/issues/6767#issuecomment-488811660, my understanding is that Envoy would return a 421 because if `bar` is registered with another listener. I could be misunderstanding, of course.

[2019-09-16 18:35] stevesloka opened #1513 "internal/envoy: Switch to Safe_Regex"
**Describe the solution you'd like**
The regex  field has been deprecated in favor of safe_regex as it is not safe for use with untrusted input in all cases.

Need to update to use [safe_regex](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto) used here: https://github.com/projectcontour/contour/blob/master/internal/envoy/route.go#L175

[2019-09-16 18:36] alexbrand commented on #1493
## Using wildcard certs and a wildcard DNS entry

This table summarizes the behavior that occurs when mixing L7 IngressRoutes and TCP Proxy IngressRoutes, assuming wildcard certificates and a wildcard DNS entry is in play.

The table shows the results of what happens when two requests are made to separate IngressRoutes. The first request is made to the IngressRoute on the left-most column, while t

[2019-09-16 19:47] #1413 closed

[2019-09-16 19:51] stevesloka opened #1514 "HTTPProxy not pushing updates to Envoy"
**What steps did you take and what happened:**
When Contour first spins up, it builds a DAG and the config is pushed down to Envoy, however, if an HTTPProxy changes, the DAG is rebuilt, but Envoy isn't updated dynamically.

[2019-09-16 20:04] rjbez17 commented on #1182
@davecheney I've been able to reproduce this consistently across new installs on bare metal. I provided full logs above that don't seem to indicate and issues. I'm happy to provide any more data needed, I'm just at a loss on where to debug this.

[2019-09-17 00:56] #1418 closed

[2019-09-17 01:17] davecheney commented on #1514
Can you verify this with a `contour cli` session running in another window and the editing a HTTPProxy object?

[2019-09-17 01:40] #1505 closed

[2019-09-17 03:15] #624 closed

[2019-09-17 03:44] #1472 closed

[2019-09-17 16:52] FournierAlexandre opened #1523 "Envoy does not receive update from Contour anymore"
**What steps did you take and what happened:**
The problem is intermittent.  Sometimes, after deploying workload or adding new ingressRoute, envoy do not update its configuration on all pods.  It does not happen all the time and when it happens, it seems that Envoy and Contour are stuck in a state that only killing Envoy or Contour pod can fix the issue.  However, only a few pods are not updated.

[2019-09-17 18:01] stevesloka commented on #1523
I've seen similar issues in #1514 which I'm actively working on now, but interested to see you're running v0.13 and are seeing this which makes me think it's not the same issue.

I'll post back with the resolution to my issue, possibly that will resolve your problems as well.

[2019-09-17 18:37] stevesloka opened #1527 "Contour config file example breaks deployment"
**What steps did you take and what happened:**
If I deploy the sample Contour deployment (i.e. `kubectl apply -f examples/contour`), Contour fails to start and throws this error:

[code]

Taking out the reference to the configfile allows Contour to run.

[2019-09-17 21:51] davecheney commented on #1527
@youngnick this could be related to your json logging docs change.

[2019-09-17 23:32] youngnick commented on #1527
Yep, this is because at least one line needs to be uncommented, it seems. Just testing now to find the exact requirement.

[2019-09-17 23:38] davecheney commented on #1527
Oops. I remember looking at the `tls:` lines that were previously uncommented and thinking -- hmm I wonder how the yaml parser deals with a map with no values.

This is a case of just getting lucky last time. My suggestion would be to revert the change to the `tls: ` section.

If only there was a way to write unit tests for yaml.

[2019-09-17 23:51] youngnick opened #1528 "Review imagePullPolicy setttings for releases"
Currently, the imagePullPolicy for the example deployment is set to `Always`. For releases, this is probably not necessary, since the image will not change very regularly.

This issue is to reexamine how we generate release examples, and if we should change this behaviour.

[2019-09-18 00:41] #1527 closed

[2019-09-18 00:55] youngnick commented on #1124
I've spent some time investigating this, here's what I've found:

- @davecheney is correct - if you pass a format (any format, from what I can see) to Envoy, you get no logs. There are no other issues about this in Envoy's issue tracker, so I suspect we've got something wrong.
- Looking into CLF logs, however, it seems that Envoy can't output them correctly anyway - the timestamp format doesn't ma

[2019-09-18 00:57] davecheney commented on #1124
@youngnick sounds good to me.

[2019-09-18 01:39] youngnick commented on #1124
The issue with logs not appearing is due to the escaping of the newline at the end of the format string; this means that the output log buffer is never flushed. https://github.com/envoyproxy/envoy/issues/5193 has more details about the efforts to fix this problem, looks like it's reasonably common.

[2019-09-18 02:04] youngnick commented on #1124
We're leaving this one here, in case we want to come back to CLF later.

[2019-09-18 04:13] davecheney commented on #1523
@FournierAlexandre thank you for raising this issue. I have determined that #1514 is not present in Contour 0.15 and earlier so it is probable that the issue you are seeing is not #1514.

The first thing to do is you should upgrade to Contour 0.15.0. Can you please do that and let me know if the problem continues. Thank you.

[2019-09-18 04:45] davecheney commented on #1514
Oops. This was my fault. The underlying cause is shadowing of `hints` here https://github.com/projectcontour/contour/blob/master/internal/contour/cond.go#L64

The result is if you register with a hint, which envoy does for RDS, EDS, and CDS(?) then `hints` would be set to the hint registered during `Register`, line 64 would not trigger because the length of things hints was > 0, however the follow

[2019-09-18 06:59] #1514 closed

[2019-09-18 12:27] FournierAlexandre commented on #1523
Hello @davecheney, thanks for the quick reply.  I will upgrade Contour to 0.15 and let you know if we still have the same problem.

Thanks!

[2019-09-18 18:18] stevesloka commented on #1513
Safe_Regex is new in Envoy 1.12, so this needs to wait until Contour upgrades to that new version.

[2019-09-19 05:07] davecheney opened #1543 "make yamllint target needs to pass"
YAML is a mess. As Rob Pike put it "semantic whitespace is a profound mistake". But it's what we have.

I recently added a `make yamllint` target. It would be great if we could make it part of CI for the 1.0 release.

TODO:
- [ ] tweak `.yamllint` configuration, choose reasonable settings that aline with the generally accepted style of Kubernetes YAML.
- [ ] make the `make yamllint` target pass cl

[2019-09-19 21:29] vaceal commented on #1523
Hello @davecheney, we did update to the latest version and we have the same behavior.  Configuration are not the same on each node.  Will that help you if I send the current Cluster Configuration of each node?

Do you have any pointer on how I can debug this problem or what can cause this issue?

Thanks!

[2019-09-19 21:34] FournierAlexandre commented on #1523
Hello @davecheney, we did update to the latest version and we have the same behavior. Configuration are not the same on each node. In attachment, save the configuration from all the node of the clusters, I am not sure if that can help you, let me know.

Do you have any pointer on how I can debug this problem or what can cause this issue?

Thanks!
[clusterConfig2019-09-19.zip](https://github.com/pr

[2019-09-19 23:05] davecheney commented on #1385
There are too many other higher priority issues ahead of this one. Bumping to rc.1

[2019-09-19 23:42] xstevens opened #1547 "Contour should configure a stream_idle_timeout"
**Describe the solution you'd like**
Allow the configuration of Envoy's [stream_idle_timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#envoy-api-field-config-filter-network-http-connection-manager-v2-httpconnectionmanager-stream-idle-timeout). According to the Envoy documentation this can be set globally as we

[2019-09-20 01:01] youngnick commented on #1523
Hey @FournierAlexandre, I'm picking this issue up. I can see how an intermittent problem like this would be very frustrating, so I'd really like to get to the bottom of it with you.

Firstly, though, so I can do my best to reproduce the issue, can you pass me the Contour deployment and Envoy daemonset YAML? Scrub names if you need to, but I really need to be able to make sure I'm running a config

[2019-09-20 04:16] davecheney commented on #1493
Assigning to 0.15.1 for tracking purposes.

[2019-09-20 05:30] davecheney opened #1552 "Promote HTTPProxy to v1beta1"
Promote HTTPProxy to v1beta1 for rc.1

However it look like this will be traumatic for the codebase and equally traumatic for the users of v1alpha1.

We should probably

- [ ] promote v1alpha1 to v1 final immediately to avoid creating a longer trail of deprecated versions.
- [ ] register v1 as v1alpha1 (if such a thing is possible) to support the v1alpha1 users from contour 1.0.0-beta.1 until 1.0.

[2019-09-20 06:22] #944 closed

[2019-09-20 06:24] davecheney opened #1553 "Document Route.Timeout.Response and Idle"
Updates #944

#1551 added renamed HTTPProxy's TimeoutPolicy.Request to Response and added an Idle field. These need to be documented.

[2019-09-20 18:20] FournierAlexandre commented on #1523
Hello @youngnick, thank you very much for your help!  In attachment, all the necessary YAML (I think) you need to have the proper setup.  Let me know if there is something missing.

[manifests.zip](https://github.com/projectcontour/contour/files/3637179/manifests.zip)

Number of ingressRoute: 31
How often to they change : several times per day
Delegation : All of them

We have a shared cluster for

[2019-09-20 20:07] stevesloka commented on #640
I think this issue needs some design or discussion about how to address. Contour does currently mark any IngressRoute / Proxy as invalid if the names duplicate.

Could we maybe look at the resource verison and see which one is older and use that one?

[2019-09-20 20:47] stevesloka opened #1559 "internal/dag: Look for duplicate headers in a route configuration"
**Describe the solution you'd like**
An HTTPProx's route can end up with many Conditions applied to it through various levels of Includes.

Contour should verify that the resulting set of Conditions do not overlap. This is specific for headers. If any set of headers duplicate key's, then an error should be set on the Proxy which is malformed.

[2019-09-22 23:47] davecheney commented on #1493
Hello,

I want to give an update for the watchers of this ticket. The short version is my interpretation of this issue has not changed since https://github.com/projectcontour/contour/issues/1493#issuecomment-531114787.

The longer version is there is a possibility of applying a partial workaround in Envoy but I am wary of promoting this as a solution as its effectiveness is entirely dependant on t

[2019-09-23 00:20] youngnick commented on #1523
Hi @FournierAlexandre, sorry to ask for more, but could you also check the Contour pod metrics for me? Specifically, I'm looking for average CPU usage, average memory usage, and if the pod is ever OOMkilled by the memory limit of 100Mi.

[2019-09-23 00:28] davecheney opened #1560 "/healthz endpoint should record statistics"
our /healthz endpoint returns an error to the client if the k8s ping fails but does not record that fact on contour.

I don't want to log this at the contour level as it could cause log spam if the health check is flaky.

We should add metrics around this.

- [ ] /healthz hits
- [ ] successful responses
- [ ] unsuccessful responses

[2019-09-23 06:17] youngnick opened #1561 "Document switch from IngressRoute to HTTPProxy"
We need a document for how to switch from IngressRoute to HTTPProxy.

The big changes are delegation vs include, and conditions vs match, but we should have a list of all the features at the top, and how to change for each.

[2019-09-23 12:01] inigohu commented on #399
How's the situation with this issue?
Should I [replace the output of contour bootstrap with a ConfigMap into a volume ](https://github.com/projectcontour/contour/issues/399#issuecomment-390016686)? Or is there another recommended approach to enable [envoy tracing](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/trace.proto.html?highlight=trace)?

[2019-09-23 14:38] FournierAlexandre commented on #1523
Hello @youngnick, I did not see any restart for the last 2 days but here are the metric that we have :
![ContourCPURam-23-09-2019](https://user-images.githubusercontent.com/35603272/65435084-e5914000-dded-11e9-8a60-9a5d406e9806.png)
![ContourCPURamLimit-23-09-2019](https://user-images.githubusercontent.com/35603272/65435091-e924c700-dded-11e9-8693-d88c4e9f5676.png)

Let me know if you need more in

[2019-09-23 17:18] moderation commented on #1503
We have hit the same issue with having an F5 based GTM (Global Traffic Manager) (now branded as Big-IP DNS) trying to perform healthchecks against Contour. The F5 doesn't send any SNI information (people have been asking F5 to support SNI healthchecks / monitors since 2014). Contour terminates the TLS calls and the healthchecks fail. Our NGINX ingress does support fallback to a default cert so thi

[2019-09-23 23:59] davecheney commented on #1039
It looks like FDS will require Envoy 1.12 and possibly a switch to XDS's v3 api. https://github.com/envoyproxy/envoy/issues/4540

[2019-09-24 00:36] davecheney opened #1563 "Backport: internal/envoy: always preserve x-request-id"
Backport #1509

[2019-09-24 01:48] davecheney commented on #399
@inigohu the best way to do this at the moment would be to provide your own configuration to envoy. `contour bootstrap` is a convenience to provide the parameters we expect for Envoy and Contour to work together but it is not required. You can replace it with your own mechanism for providing bootstrap configuration to Envoy.

[2019-09-24 02:09] youngnick commented on #1523
Hi @FournierAlexandre, thanks for that data, I was curious to see if there were any OOMKills from hitting the memory limit - good to know that Contour is behaving on the memory front at least.

I'm still trying to narrow in on what could be the cause here, so I'm asking for a lot of info, please bear with me.

I'd really like to see the full logs for a Contour and an Envoy around the time that the

[2019-09-24 08:34] #1561 closed

[2019-09-24 10:53] #459 closed

[2019-09-24 13:46] #1553 closed

[2019-09-24 14:29] stevesloka opened #1567 "HTTPProxy: Update printer columns"
**Describe the solution you'd like**
Need to fix up the printer columns used to show `HTTPProxy` CRDs when using kubectl.

Currently breaking issues:
- [x] Fix "first route" column

New Features:
- [ ] Show root vs child Proxy
- [ ] Separate HTTP vs TCP Proxy implementations

[2019-09-24 15:45] stevesloka commented on #1456
Fixed in #1546

[2019-09-24 15:45] #1456 closed

[2019-09-24 15:46] stevesloka commented on #1179
// cc #1457

[2019-09-24 15:53] mattalberts commented on #399
I found altering the envoy config to be insufficient to get tracing working.  I had to patch the setup of the HTTPConnectionManager

[code]

[2019-09-24 20:02] stevesloka opened #1569 "internal/dag: Fix SetValid() status writing"
**Describe the solution you'd like**
In #1562, the dag/status tests were re-enabled, however, there were some issues discovered on how `setValid` or `setInvalid` is getting set.

The call here https://github.com/projectcontour/contour/blob/master/internal/dag/builder.go#L481 might be in the wrong place. Ideally, there should be only one path per object that can lead to SetValid/SetInvalid.

In the

[2019-09-24 23:34] youngnick opened #1570 "cert-manager tutorial needs updating"
The cert-manager tutorial needs a solid update:

- the version of cert-manager is very old and has an issue where it will generate excessive traffic to Let's Encrypt.
- the tutorial uses `j.hept.io` which will break soon if it hasn't already.
- The docs will also need updating after #950, #951, and #1140 are done. This is just to make sure that we don't miss these bits.

[2019-09-25 13:05] maurodelazeri commented on #1570
it did https://j.hept.io/contour-deployment-rbac 404

[2019-09-25 14:28] stevesloka opened #1574 "internal/dag: HTTPProxy inlclude should not require namespace"
**Describe the solution you'd like**
In the event that a user wants to add includes to an HTTPProxy in the same namespace, it should not be required that they specify the namespace. When the namespace is blank, then Contour should look for Proxies in the same namespace where the Include is located.

[2019-09-25 14:32] stevesloka opened #1575 "Contour should handled malformed CRDs better"
**Describe the solution you'd like**
If a user builds a bad / malformed CRD (i.e. yaml) and submits that to the API server, Contour should not log errors over and over when parsing the object.

A quick example is to make the `conditions` items not a list:

[code]

Example output every second:
[code]

[2019-09-26 00:56] youngnick commented on #1523
Hi @FournierAlexandre, any word of recurrence of the issue?

[2019-09-26 03:38] FournierAlexandre commented on #1523
Hello @youngnick,

Sorry for the late response about this issue.  We had to recreate our Kubernetes cluster from scratch because of network configurations.  There was some conflict between internal and external IPs.  Also, there was lingering invalid ingressRoute and certificates which has been cleanup.

On a clean cluster it seems that I am not able to reproduce the problem yet.  I am setting up

[2019-09-26 03:54] youngnick commented on #1523
Thanks for all the info @FournierAlexandre! I'll be waiting to see what happens for you. My fingers are crossed.

Thanks for being patient with all my information requests.

[2019-09-26 07:12] victornoel commented on #432
Any news on this? For the record pomerium is seriously considering supporting forward auth (see https://github.com/pomerium/pomerium/issues/94#issuecomment-535335159), this would be a great combination with contour :)

[2019-09-26 07:57] davecheney commented on #432
This issue is currently on the backlog. We’ll be doing a pass over the backlog once contour 1.0 is released.

[2019-09-26 08:33] #1462 closed

[2019-09-26 08:33] #1476 closed

[2019-09-26 08:41] davecheney opened #1579 "internal/contour: need to assert that route objects with header conditions sort properly"
https://github.com/projectcontour/contour/pull/1576#issuecomment-535402749

[2019-09-26 12:53] Siddharthk opened #1580 "Getting Readiness probe failed: HTTP probe failed with statuscode: 403"
**What steps did you take and what happened:**
I am using 1.12.7 AWS EKS version and deployed contour as replicaset. The pods are not coming up and giving readiness probe error. Currently using contour-v0.12.1 and envoy-v1.10.0 versions.

[code]

Error:
[code]

**What did you expect to happen:**
The pods should be coming up.

Kubectl version:
Client Version: version.Info{Major:"1", Minor:"11", Git

[2019-09-26 20:52] davecheney commented on #1580
Hello,

I’m sorry to hear you are having issues.

The first thing you should do is upgrade to contour 0.15 as there are some important security issues with the version of Envoy that previous versions of Contour use.

Once you’ve upgraded, please let me know if the issue persists.

[2019-09-26 22:37] davecheney opened #1581 "site: publish a support policy for older versions"
The current, unspoken, support policy for Contour is we only support the current stable (`:latest`) version.

For 1.0 we should make sure this policy is recorded on projectcontour.io.
For 1.0 we should revisit if this policy is appropriate and if we should extend it older versions of Contour.

[2019-09-27 00:21] davecheney opened #1582 "Upgrade to Envoy 1.11.2"
https://groups.google.com/forum/#!topic/envoy-announce/TOkx6pYFong

Due October 8

[2019-09-27 00:21] davecheney opened #1583 "[0.15] Upgrade to Envoy 1.11.2"
https://groups.google.com/forum/#!topic/envoy-announce/TOkx6pYFong

Due October 8th

[2019-09-27 00:52] youngnick opened #1584 "Github actions for release always update `:latest`"
When doing the release for 1.0.0-beta1, @davecheney found that the Actions updated the `:latest` Docker image tag, even though it should not have.

Investigate and fix.

[2019-09-27 00:56] youngnick opened #1585 "Release docs need to include updating example yamls"
The release docs should include a section about updating the example yamls.

[2019-09-27 03:52] youngnick commented on #1584
So, turns out the `:latest` detection is totally broken (I swear it worked before). I've done some testing, and I think the easiest thing for now is just to move the auto-builds to tag and push version numbers only. `:latest` will be done manually.

In addition, I propose moving to the following branching structure (closer to how we've actually worked):
- `alpha` and `beta` releases will be tagged

[2019-09-27 16:26] IngCr3at1on commented on #1560
@davecheney mind if I grab this one?

[2019-09-28 01:42] youngnick opened #1588 "HTTPProxy docs reference request timeout instead of response"
This was missed in the rework of the docs to cover HTTPProxy. Oops.

[2019-09-29 13:43] ffahri commented on #1543
Hey i make some editing on yamls and changed some rules if its okey i can create pr for it
https://github.com/ffahri/contour/commit/95f9328cedfc0ea09e40891a3dc0c0de5154fa29

Few things:
Line length can be a problem for configmaps (making them multiline can be easy or not allowed) especially for prometheus configs. i changed that length to 280 but can be removed.

[2019-09-29 21:35] davecheney commented on #1543
@ffahri thank you for working on this. I'm fine with removing a fixed line length or setting it to a more realistic number like 9999

[2019-09-29 21:44] davecheney commented on #1547
@xstevens in 1.0.0-beta.1 we added support for a `route.timeoutPolicy.idle` per route idle timeout. Is this useful for you?

[2019-09-29 21:46] davecheney commented on #770
Delivered.

[2019-09-29 21:46] #770 closed

[2019-09-29 21:47] davecheney commented on #1570
Possible duplicate of #1140

[2019-09-29 21:53] davecheney commented on #499
Moving to the 1.0 release milestone as there is work scheduled for the release candidates.

[2019-09-29 21:58] davecheney commented on #1075
Delivered in beta.1

[2019-09-29 21:58] #1075 closed

[2019-09-29 22:05] davecheney commented on #1187
eecdb7e999af43e9e4d45723df057e41c0b7449e added error level logging of NACKs from envoy. Moving to the backlog as there is no work scheduled before 1.0

[2019-09-29 22:37] davecheney commented on #1569
I think this is fixed in 44102ef5e99

[2019-09-29 22:37] #1569 closed

[2019-09-29 22:44] davecheney commented on #1580
@Siddharthk ping

[2019-09-29 22:44] davecheney commented on #1560
@IngCr3at1on go for it. Please discuss your design here or in a design document before coding. Thank you.

[2019-09-29 22:51] davecheney commented on #13
Duplicate of #1228

[2019-09-29 22:51] #13 closed

[2019-09-29 22:51] davecheney commented on #608
Duplicate of #13 and #1228

[2019-09-29 22:51] #608 closed

[2019-09-29 23:08] #1584 closed

[2019-09-29 23:08] #1585 closed

[2019-09-29 23:11] davecheney commented on #1552
@stevesloka @youngnick

I looked into this briefly this morning and I think we have three options

1. Duplicate `apis/projectcontour/v1alpha1` to `apis/projectcontour/v1`. This will duplicate all the current projectcontour types, with a comesurate duplication throughout the `internal/dag` and `internal/contour` packages.
2. Move `apis/projectcontour/v1alpha1` to `apis/projectcontour/v1` and alter

[2019-09-29 23:28] #1563 closed

[2019-09-30 00:27] #1588 closed

[2019-09-30 00:38] youngnick commented on #1073
The way Envoy talks about these timeouts is very oriented towards Envoy itself, so I made a diagram to help.

![Envoy request and response timeouts](https://user-images.githubusercontent.com/9346599/65842126-ad00e180-e36c-11e9-94d8-7c1e701cfe1a.png)

We already allow setting the route-level timeout in [HTTPProxy](https://github.com/projectcontour/contour/blob/master/docs/httpproxy.md#response-time

[2019-09-30 00:41] stevesloka commented on #1552
I think given the short time window, I think that option 3 is fine to break existing users. There are some fields that I'm looking to add, but those aren't breaking changes for any version.

I think (and haven't tested), but all that would happen if someone had the `v1beta1` version, is that any object of that type will just not get watched by our controller. It would break short names I think tho

[2019-09-30 01:31] davecheney commented on #1073
@youngnick thanks for following this thought. Do you want to look at

These two (the latter might come for free) for rc.1?

[2019-09-30 02:07] youngnick commented on #1073
Yep, I think so.

[2019-09-30 03:35] davecheney opened #1594 "internal/dag: no HeaderCondition fixtures in builder_test.go"
I noticed that there are no HeaderCondition tests in `internal/dag/builder_test.go`, or `status_test.go` for that matter.

[2019-09-30 05:48] Siddharthk commented on #1580
@davecheney  The issue was with the proxy that I was using due to which the kubelet was not able to do readiness probe.  Is it still recommended to use latest version of Contour? Also I am currently running contour and envoy in same deployment. Should I break them out?

[2019-09-30 06:02] davecheney commented on #1580
Yes. As a small team our support resources are very limited. If you need some help the first thing we’re going to ask you to do is upgrade to the latest stable version. I think it would be a good idea to get onto the latest stable version so you’re up to date and also using the latest envoy which always comes with some juicy security fixes.

[2019-09-30 06:31] davecheney commented on #1580
Let's get to the bottom of why your readiness probes fail first before changing anything else.

[2019-09-30 07:59] davecheney opened #1597 "Trailing slash on prefix match stripped"
[code]
Will be translated into a prefix match of `/a`, the trailing slash will be stripped.

[2019-09-30 15:35] xstevens commented on #1547
Yes, per route idle timeout is useful for us. Thanks!

[2019-09-30 19:00] stevesloka opened #1598 "User Experience with HTTPProxy"
## Background:

A key feature that Contour provided with `IngressRoute` and now `HTTPProxy` is a way to safely enable ingress with teams spread across namespaces.

A likely scenario is that `root HTTPProxies` are managed by Administrators in a namespace that users do not have access. Users also will have `Includes` defined to their HTTPProxies which delegate path prefixes and headers across namesp

[2019-09-30 22:18] moderation commented on #1503
- NGINX - [Default SSL Certificate](https://kubernetes.github.io/ingress-nginx/user-guide/tls/#default-ssl-certificate). This is the behavior we would like to have with Contour
- Envoy supports multiple downstream certificates - [Certificate selection](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl.html?highlight=default%20certificate#certificate-selection). This _may

[2019-10-01 02:00] #1594 closed

[2019-10-01 02:38] #1552 closed

[2019-10-01 04:44] davecheney opened #1602 "docs/upgrading.md: add beta.1 to rc.1 upgrade instructions"
We need to document how to upgrade from beta.1 to rc.1.

[2019-10-01 04:45] davecheney opened #1603 "docs/upgrading.md: add rc.1 to rc.2 upgrade instructions"
We need to document how to upgrade from rc.1 to rc.2

[2019-10-01 04:47] davecheney opened #1604 "docs/upgrading.md: document how to upgrade from 0.15.x to 1.0.0"
We need to document how to upgrade from 0.15.0 too 1.0.0. This should be a matter of summarising the 0.15 -> beta.1 -> rc.1 -> rc.2 instructions.

Hopefully the delta between rc.2 and 1.0.0 will be small enough we can just say "see rc.1 to rc.2 upgrades".

[2019-10-01 05:10] #1073 closed

[2019-10-01 06:24] #1574 closed

[2019-10-01 06:46] davecheney commented on #1065
Some back of the envelope calculations to judge the cost of this validation.

- parsing one cert and one key is ~90us on my machine.
- a full dag rebuild with only a few ingress resources is ~300us on whatever machine GCP has given me.

tf. The cost of validating each secret during dag build is too expensive. What I plan to do is do the validation during `internal/dag.KubernetesCache.Insert`, that

[2019-10-01 11:44] creeram opened #1609 "Does contour ingress controller support fastcgi for php applications?"

[2019-10-01 12:16] davecheney commented on #1609
I’m sorry it does not.

It’s unlikely we can support fastcgi as envoy doesn’t support fastcgi backends and even if it did fastcgi is usually over a Unix domain socket not a tcp socket.

[2019-10-01 12:16] davecheney commented on #1609
Closing. Answered.

[2019-10-01 12:16] #1609 closed

[2019-10-01 13:37] #1543 closed

[2019-10-01 13:40] FournierAlexandre commented on #1523
Hello @youngnick ,

We have been able to reproduce the problem (it is harder since the upgrade) and I have attach the logs of Contour (Envoy did not produce any relevant logs, only http calls).

Problem happens around _2019-10-01T13:30_, it seems that there is a force update from contour and I notice some *resource_names* empty (it may be a log thing).  We will try to get you debug logs from Envoy

[2019-10-01 18:30] stevesloka opened #1611 "internal/dag: Duplicate prefix conditions should be invalid"
If a set of conditions is defined in an include or route, duplicate `prefix` conditions should mark the `Proxy` status as invalid.

Example:
[code]

[2019-10-01 18:35] stevesloka commented on #1460
Duplicate of #1611 #1559

[2019-10-01 18:35] #1460 closed

[2019-10-02 02:07] davecheney commented on #854
I think I've found a (there might be more than one) cause of this. If a certificate is missing, then, depending on the order in which it is processed by the dag builder, the Ingressroute may flip between valid and invalid, and those status updates case the dag to be regenerated.

We already filter out the status field when comparing Ingressroute objects, but this looping may be caused by the `kube

[2019-10-02 02:17] davecheney opened #1613 "Report invalid certificates in status blocks of HTTPProxy's that reference them"
Currently if a certificate is missing or invalid we report "missing or invalid" in the status block. Missing is self evident, but invalid is defined by the validation function passed into `lookupSecret`. After #1608 there will be a new kind of invalid status, malformed. The check for malformed data is performed earlier, when we are notified of the secret from kubernetes.

At the moment #1608 will

[2019-10-02 04:25] davecheney opened #1614 "Backport TLS secret validation"
Backport #1608

[2019-10-02 13:02] Siddharthk commented on #1580
@davecheney The issue is resolved as it was related to proxy issue on my side.

[2019-10-02 16:03] bndw opened #1615 "no matches for kind "HTTPProxy" in version "projectcontour.io/v1""
**What steps did you take and what happened:**
I'm new to Contour and following the README to get stared. I'm attempting to create an `HTTPProxy` as defined in [Ingress to HTTPProxy](https://github.com/projectcontour/contour/blob/master/docs/httpproxy.md#ingress-to-httpproxy)

[code]

When applying this I receive the following error:
[code]

Here's the full `svc1.yaml` file I'm using
[code]

**Wha

[2019-10-02 19:31] stevesloka commented on #1615
Hey @bndw looks like we didn't update the getting started links for the new version. We just revved HTTPProxy to v1. Let me send over a PR to clean up.

In the meantime, can you try and apply the manifest here: https://github.com/projectcontour/contour/blob/v1.0.0-beta.1/examples/render/contour.yaml

That should apply the v1 CRD and the examples will work.

[2019-10-02 19:35] davecheney commented on #1580
Thank you for confirming.

[2019-10-02 19:35] #1580 closed

[2019-10-02 19:46] stevesloka commented on #1615
The other issue here is that the v1 is part of a pre-release, so the docs from `master` may not match up to what the quick start uses. The latest stable release is v0.15 right now, so the docs there will match up: https://github.com/projectcontour/contour/blob/v1.0.0-beta.1/docs/httpproxy.md

Alternatively, I'd deploy from `master` if you want to play around with the latest and greatest.

[2019-10-02 19:46] #1615 closed

[2019-10-02 19:49] bndw commented on #1615
Hi @stevesloka thanks for the response. Changing to `apiVersion: projectcontour.io/v1alpha1` on `HTTPProxy` allowed me to work around this.

[2019-10-02 20:30] stevesloka opened #1617 "HTTPProxy should not allow the same path to be included if already specified in a route"
**What steps did you take and what happened:**
If I specify a root HTTPProxy with a route that uses a path, the same proxy should also not be allowed to pass that path off as an include to another Proxy.

Example:
[code]

[2019-10-02 23:56] #1065 closed

[2019-10-03 00:29] davecheney commented on #950
Moving to the backlog due to a lack of engineering resources and questions about the operational issues of api hooks.

[2019-10-03 00:35] davecheney commented on #1119
@stevesloka I'm going to take this one. I'm worried we might need to move `route.services.strategy` up one level if we want to move from WeightedClusters to a Cluster with multiple ClusterLoadAssignment members.

[2019-10-03 00:42] davecheney commented on #1597
Thinking about this some more I think we may have to revise how prefix merging works.

I made the classic mistake of assuming URLs were directory paths when I insisted on using `path.Join`. This mistake meant the only way to delegate `prefix: /users/a`, that is all users starting with `a` is a include condition `prefix: /users/a` and no prefix condition on the included route. If the user tried to

[2019-10-03 00:56] davecheney opened #1619 "[proposal] move _all_ examples from GitHub to netlify"
A perennial problem for users who start with GitHub rather than projectcontour.io is they are using our `:master` branch. This means they can get a broken or unstable expirience, eg. #1615

This sort of go worse when we move the README from recommending `:master` to the `:latest` release, moving the Quickstart yaml further from the experience of git pull && kubectl apply. #1484

Some possible solu

[2019-10-03 01:51] stevesloka commented on #1597
What makes it difficult is if you have a path `prefix: /foo` and `prefix: /` should that become `/foo` or `/foo/`?

The logic we have now is that if you do not specify a path condition, it defaults to "/", my thought was to make that field optional so users wouldn't have to explicitly add the "condition" field all over the place.

I never thought of merging conditions like in your example `prefix:

[2019-10-03 01:53] stevesloka commented on #1619
I'd like to see about moving more to netlify for all the docs, having everything versioned in there should fix the problem. I'd expect the master version to point to latest and all others would be tagged in the proper release.

[2019-10-03 01:56] davecheney commented on #1619
I'd be down with that. Now I understand how to do redirects doing a `projectcontour.io/docs/latest` shouldn't be too difficult.

[2019-10-03 02:03] davecheney commented on #1597
Good question. I think under the current logic and my proposed change `prefix: /foo` and `prefix: /` would result in `prefix: /foo/`.

That is true. Perhaps this isn't as bad as I'm thinking. If someone wants to do `include.conditions.prefix: /users/a, namespace: a-users` then the child route should have no prefix so it can register as `prefix: /users/a`

Maybe we need to make that more explicit -

[2019-10-03 03:34] davecheney commented on #1523
@FournierAlexandre thank you for your reply

`resource_names` is an optional filter that envoy can supply to contour to subscribe to updates for only a particular resource. Depending on the type of resource being subscribed too Envoy may want to filter for a specific resource, ClusterLoadAssignments is an example, or to ask for all the resources, Listeners is an example.

[2019-10-03 03:53] davecheney commented on #1523
@FournierAlexandre thank you for providing the log file. What I see is at some point between 2019-10-01T12:43:34Z and 2019-10-01T13:30:12Z an envoy was added to the daemonset. My suspicion is that we don't see any connection closed lines indicating a reset of an envoy -- however the log may be truncated before those events happen (probably seconds if not minutes depending on how the OS handles dan

[2019-10-03 06:07] davecheney opened #1624 "internal/dag: kind and version are not showing up in secret validation error"
#1608  added logging of the details off a failing secret, but kind and version are missing

[code]

[2019-10-03 06:09] davecheney opened #1625 "internal/dag: secret validation failure should trigger dag rebuild"
#1608 added secret validation but the logic is wrong. If a secret fails to validate then we should return true from Insert so that the dag is rebuild to record the potential change in status of the secret.

This needs to be back ported to 0.15.1

[2019-10-03 08:41] tears-of-noobs opened #1626 "TCP proxy with TLS passthrough doesn't works on HTTPProxy CRD"
I've updated to 1.0.0 to solve this problem https://github.com/projectcontour/contour/issues/910
If I use deprecated `IngressRoute` CRD - everything fine, I can access to my service both by HTTP and HTTPS (TCPProxy) and my `IngressRoute` looks like this:
[code]

but if I'll rewrite `IngressRoute` to `HTTPProxy` as a result I had not working TCP proxying.
`HTTPProxy` looks like:
[code]

Also during

[2019-10-03 13:15] #1611 closed

[2019-10-03 13:41] #1559 closed

[2019-10-03 14:10] vincentdeity opened #1627 "Redirect: adding a redirect (301 or 302) option in ingressroute / httpproxy"
**Describe the solution you'd like**
The ingressroute / httpproxy should be able to support a match and then redirect with either a 301 or 302 to an http or https destination

Something like:
[code]

**Anything else you would like to add:**
The use case would be that for example if you have a website pointed to the ingress you can now also do redirects in contour. This would prevent you from havin

[2019-10-03 14:31] jonasrosland commented on #1619
I think this would be a great move, showing users the examples front and center. Removing confusion = always 👍

I agree with Steve as well, having versioned docs would be nice to have, it does require some minor rework of the current docs structure though.

Your solution Dave to only build the website based on the latest release should also work nicely, I think it would require a few manual steps

[2019-10-03 17:11] danramteke commented on #1627
This would be nice for dealing with redirecting 'example.com` to `www.example.com` or vice-versa. Currently, I'm running an nginx container whose only job is to redirect all requests to `www.example.com`.

[2019-10-03 22:44] davecheney opened #1628 "All prefix: conditions must start with a /"
Breaking out from https://github.com/projectcontour/contour/issues/1597#issuecomment-537754073

I propose that all `prefix: ` conditions, if present, must start with a `/`. Specifically

- At most one `prefix: ` condition may be present in each `include.conditions` or `route.conditions` block.
- If present the `prefix: ` condition must start with a `/`.

[2019-10-03 23:09] #1614 closed

[2019-10-04 00:46] davecheney commented on #1627
Thank you for your feature request. I think I understand the use case. At the moment we're deep in feature freeze in preparation for Contour 1.0. I've assigned this to the backlog for prioritisation for a future release.

[2019-10-04 03:32] stevesloka commented on #1597
In my head having each prefix condition start with a `/` makes sense. There should probably be a way to make the condition still be specified, even if they specify the default (e.g. "/"), meaning you could either leave the field off the struct, or define it with the default value.

So the first question to decide on is if we default a prefix condition with `/` or not. So in your example, a user wo

[2019-10-04 03:52] davecheney commented on #1597
I think we can relax this a little.

At the moment you can write, in ingress v1:
[code]
And send all traffic to the default backend. You can do the same in ingress v1 without the default backend with
[code]
So it's totally valid to give a route, with no conditions, and one or more services to send the traffic too.

We can do this in httpproxy, just don't have any conditions.
[code]
At the moment w

[2019-10-04 04:44] youngnick commented on #1597
I'll update the docs to match up with the tests. Something like:

If we do that, and implement #1628 including full tests, then we should be able to handle all of the cases.

[2019-10-04 04:45] youngnick commented on #1628
I'll implement this, including checking that we test for:
- [ ] included with `prefix: /prefix`, and no prefix on the included HTTPRoute
- [ ] included with `prefix: /prefix`, and `prefix: /` on the included HTTPRoute
- [ ] included with `prefix: /prefix`, and `prefix: /other` on the included HTTPRoute
- [ ] included with `prefix: /foo` and `prefix: bar` should fail.

[2019-10-04 04:46] youngnick commented on #1597
Blocked on #1628.

[2019-10-04 04:47] youngnick commented on #1597
Note for later: full tests should include:
- [ ] included with `prefix: /prefix`, and no prefix on the included HTTPRoute
- [ ] included with `prefix: /prefix`, and `prefix: /` on the included HTTPRoute
- [ ] included with `prefix: /prefix`, and `prefix: /other` on the included HTTPRoute
- [ ] included with `prefix: /foo` and `prefix: bar` should fail.

[2019-10-04 06:10] ghouscht opened #1633 "support for networking.k8s.io/v1beta1.Ingress"
**Describe the solution you'd like**
It looks like contour currently only supports the deprecated `extensions/v1beta1.Ingress` API (or the CRD based API). See https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/ for more information.

We're already in progress of migrating our resources to the new `networking.k8s.io/v1beta1.Ingress` API and have some dev. clusters where the old APIs are

[2019-10-04 06:35] davecheney commented on #1633
Thank you for raising this issue, is this a duplicate of #973?

[2019-10-04 06:47] ghouscht commented on #1633
Yes, this didn't pop up with my search queries - sorry.

[2019-10-04 07:00] davecheney commented on #1633
Not a problem. I'm going to close the other issue as yours better describes the problem.

[2019-10-04 07:01] davecheney commented on #973
Duplicate of #1633

[2019-10-04 07:01] #973 closed

[2019-10-04 07:02] davecheney commented on #1633
Marking tentatively to see if its possible to do a quick hack that will avoid duplicating all of the logic for ingress v1 and beta1

[2019-10-04 15:55] bgagnon commented on #1523
I am picking up this issue from my colleague @FournierAlexandre.
To improve the oberservability, I've setup the following:

- a vanilla `nginx` Deployment and a matching Service
- an HTTP IngressRoute with a known fqdn, `beacon.run.ubisoft.org` that points to that service
- Prometheus discovery that keeps track of all Envoy pods (Daemonset, 16 nodes, 16 pods)
- [blackbox_exporter](https://github.c

[2019-10-04 16:13] phylake opened #1635 "Stacking LDS updates cause non-deterministic Envoy memory usage"
We regularly see 3+ `total_listeners_draining` in Envoy stats. Each of these has a full set of filter chain matches and consume quite a bit of memory for our 200+ FQDNs

Regardless of any changes in Envoy (see https://github.com/envoyproxy/envoy/issues/7923), Contour should ensure LDS doesn't stack up in Envoy. There should be a guarantee of, for example, 2 `ingress_http` (at most 1 draining) + 2

[2019-10-04 16:31] phylake opened #1636 "Envoy memory optimization: do better filter_chain_match organization"
Contour creates a `filter_chain_match` with a single FQDN in `server_names` for every FQDN. It also provides TLS delegation which we use heavily. The problem is that the same `tls_context` and `filters` are copied in each `filter_chain`.

We reorganized `filter_chain_match` creation to aggregate `server_names` that reference the same secret name and saw a memory reduction of 40+ GiB to ~250 MiB in

[2019-10-04 16:51] phylake commented on #1636
Forgot to mention: you might think it's better to aggregate FQDNs by cert _content_ (i.e. a digest), or inspect the cert and aggregate by Common Name. The latter was our first approach but it was confounded by https://github.com/envoyproxy/envoy/issues/6767

[2019-10-04 16:53] dharmab commented on #1636
What about Subject Alternative Names? That aggregation could get tricky.

[2019-10-04 16:54] dharmab commented on #1636
There's also a corner case for different certs issued for the same names by different PKIs (think internal/enterprise CAs).

[2019-10-04 17:27] bgagnon commented on #1523
Some graphs around the event:

![image](https://user-images.githubusercontent.com/81865/66226941-05581c00-e6aa-11e9-85f3-248727c363a2.png)

Legend:
- the red dotted lines are k8s events where an Envoy exited or started
- the red dotted lines correspond to manual `kubectl delete pod envoy-*`
- the blue dotted line shows where the Nginx rotation interval was increased from 60s to 300s (ie. 80% reduc

[2019-10-04 21:09] davecheney commented on #1523
Thank you for your detailed response.

failing consistently

Are you able to share more details about this failure? What was failing?
How did you detect it? How did it manifest itself?

On Sat, 5 Oct 2019 at 03:27, Benoit Gagnon <notifications@github.com> wrote:

[2019-10-04 21:10] davecheney commented on #1636
Thank you for your issue.

reference the same secret and saw a memory reduction of 40+ GiB to ~250 MiB
in Envoy

Would you be willing to contribute that change to the project?

On Sat, 5 Oct 2019 at 02:54, Dharma Bellamkonda <notifications@github.com>
wrote:

[2019-10-04 23:00] davecheney commented on #1635
Thank you for raising this issue.

I think the best solution to this is FDS which we’re waiting on. Maybe it’ll come in envoy 1.12.

With that said I understand the issues that frequent LDS update cause in your environment and I will continue to work to reduce them. I don’t have a concrete eta on when this will happen or what it will involve but 499 and related issues remain a high priority for me

[2019-10-06 09:33] yvespp opened #1639 "Can't get tls TLSCertificateDelegation to work on master"
I can't get TLSCertificateDelegation to work with master, TLS doesn't get enable on the HttpProxy of the app using a secret from another namespace.

**What steps did you take and what happened:**
Envoy uses NodePort:
[code]

Create TLS secret in NS projectcontour:
[code]

Create a TLSCertificateDelegation in NS projectcontour:
[code]

Create a httpproxy in jap-s NS, status says it's valid:
[code]

[2019-10-06 09:36] yvespp commented on #1639
Related questions:
* Does "*" work as a target NS in TLSCertificateDelegation? Only saw it mentioned in the concept but not the docs.
* Should the TLSCertificateDelegation also work for kube Ingress resources? Only saw it mentioned in the concept but not the docs.

[2019-10-06 21:44] davecheney commented on #1639
Two both of your questions, yes.

I’ll look into the documentation issues tomorrow.

Thank you.

[2019-10-07 04:59] ghouscht commented on #1639
Had the same problem, it turned out that there are two different apiVersions/kind combinations for the delegations: `tlscertificatedelegations.contour.heptio.com` and `tlscertificatedelegations.projectcontour.io`. And somehow in my setup it only worked with `apiVersion: contour.heptio.com/v1beta1` and `kind: TLSCertificateDelegation`.

[2019-10-07 06:25] davecheney commented on #1639
That is correct, the former is the deprecated version from Ingressroute. The latter is the replacement in the project contour.io namespace.

[2019-10-07 06:56] davecheney commented on #1639
@ghouscht @yvespp thank you for your issue report. I discovered that there are no end to end or feature tests for TLS cert delegation in httpproxy and as I'm writing some I'm increasingly worried that we didn't finish porting the feature over. Please stand by.

[2019-10-07 13:33] #1624 closed

[2019-10-07 13:41] #1581 closed

[2019-10-07 13:54] stevesloka commented on #1179
Pushing the milestone since there needs additional design on #1612

[2019-10-07 15:45] IngCr3at1on commented on #1560
@davecheney yep.. I realized right after asking that I was leaving on a vacation but I looked at it a bit, doesn't look _too bad_ will take another look and get something written up here.

[2019-10-07 19:01] bgagnon commented on #1523
Two failure states, on the same Envoy pods.

In the first case, Envoy was failing to connect to one of the upstream cluster members. This turned out to be an incorrect set of pod IP addresses that no longer matched the k8s Endpoints.

This was confirmed by three sources:
- the `envoy_cluster_upstream_cx_connect_fail` Prometheus counter monotonically increasing on those pods
- the `UF` response fla

[2019-10-07 20:48] stevesloka opened #1644 "internal/dag: TLS Cert validation w/cert-manager"
**What steps did you take and what happened:**
Since #1623, I ran into a problem with the cert validation. I'm got a wildcard cert (e.g. `*.pixelcorp.dev`) from Let's Encrypt via cert-manager. The secret created contains a value for `ca.crt`, however, it's empty.

What's happening is that when Contour parses the secret, it finds a `ca.crt` and tries to validate it, however, it's empty so fails (ht

[2019-10-07 20:54] phylake commented on #1237
The answer is [`drain_connections_on_host_removal `](https://www.envoyproxy.io/docs/envoy/v1.11.1/api-v2/api/v2/cds.proto#envoy-api-field-cluster-drain-connections-on-host-removal)

[2019-10-07 21:33] youngnick commented on #1619
I very much like the idea of versioned docs.

[2019-10-07 21:37] #1639 closed

[2019-10-07 21:38] davecheney commented on #1639
@yvespp should be working now. Please let us know how you go.

[2019-10-07 21:44] davecheney opened #1645 "docs: TLS certificate delegation to all namespaces not documented"
The documentation in httpproxy.md does not mention that TLS certificate delegation can be delegated to all namespaces with `*`

[2019-10-07 22:47] davecheney opened #1647 "0.15: backport 1646"
Backport #1646

[2019-10-07 23:13] youngnick commented on #1523
Thanks @bgagnon for all the information you've provided.

The key part for me out of what you wrote in that last comment is this:

What I'm thinking is that possibly, this is happening to the connection back to Contour. Remember that the connection back to Contour is a statically defined cluster that is then referenced as the source for EDS, CDS, RDS, SDS, and LDS.

If, for some reason, that clust

[2019-10-07 23:37] davecheney commented on #1625
Thinking through this now I think that there is no issue here.

In the case of OnAdd, inserting an invalid certificate will not generate a rebuild.
OnRemove will not generate a rebuild because OnAdd will not have inserted the invalid certificate.

OnUpdate is desugared into a remove of the old secret and an insert of the new one. If the secret went from valid to invalid, then a rebuild will be tri

[2019-10-07 23:37] #1625 closed

[2019-10-08 00:01] #1647 closed

[2019-10-08 01:14] davecheney commented on #854
ok, its likely not the `last-applied-configuration` meta data; the Ingressroute is just flipping from valid to invalid on each update

[code]

[2019-10-08 06:10] davecheney commented on #854
Digging into this a bit more I believe the root cause is multiple contours trying to update status concurrently. Moving to a model where the status writer is the leader is the solution.

[2019-10-08 08:18] yvespp commented on #1639
@davecheney Tested with new master and it works now. Also tested wildcard in targetNamespaces in TLSCertificateDelegation and delegation with ingress resources.
Thanks for the quick fix!

[2019-10-08 08:26] davecheney commented on #1639
You’re welcome. Big props to @stevesloka for pushing this over the line.

[2019-10-08 09:16] youngnick opened #1652 "internal/dag: Move ObjectStatusWriter to an interface"
Currently, testing functions that require an ObjectStatusWriter is a chore, because we need to make a dummy OSW struct. This issue covers moving ObjectStatusWriter to an interface instead, which will make it easier to test.

[2019-10-08 09:42] #1628 closed

[2019-10-08 10:09] youngnick commented on #1597
Okay, after looking into this for a bit, here's what I've found:
- it *is* currently possible to have a HTTPProxy with no conditions.
- In the case you don't have a prefix condition specified, and your HTTPProxy is included with a prefix, the path you end up matching *must* end with a `/`, as the prefix condition defaults to `/` if not specified.

So, if you are including a proxy with a prefix of

[2019-10-08 10:19] davecheney commented on #1597
Thanks for investigating this. I think there are some overlapping issues here

1. Ordering of routes. For better or for worse routes are not ordered. They are not ordered in the order users list them, and they are not ordered in the order in which we walk over them when building the dag. This is for a few reasons
- routes are a set. The most specific match is the one that matches
- ordering routes

[2019-10-08 15:28] stevesloka commented on #1644
Fixed in #1646

[2019-10-08 15:28] #1644 closed

[2019-10-08 15:43] uablrek commented on #1626
Got the same problem. Port 443 is not opened by envoy. Applying;

[code]
Inside the `envoy` POD;
[code]
(my contour is configured for dual-stack but that is beside the point)

[2019-10-08 16:04] uablrek commented on #1626
BTW I have inserted an extra container with ip-tools in the envoy POD to be able to do the "netstat".

[2019-10-08 19:25] stevesloka commented on #1597
I feel like this needs a quick discussion in person, there are so many scenarios bouncing around I'm having trouble following.

- If someone wants a path to end with a trailing slash and in the examples, we're talking about delegation, I don't think it applies. If a root owns a path and wants to require the trailing slash, it seems like they should specify that. This may also have an effect on fur

[2019-10-08 19:48] bgagnon commented on #1523
Ah yes, that's a very good theory!

We've obviously suspected something along the lines of a broken connection between Envoy and Contour, but we haven't considered the possibility of an issue with the `STRICT_DNS` discovery and/or CoreDNS related problems.

I checked, and unfortunately there was a single Contour pod for entire lifetime of the cluster (since Sep 24). However, it does not mean there

[2019-10-08 20:04] bgagnon commented on #1523
Voluntarily killing the Contour pod and having zero replicas for 10 minutes caused all probes to fail, as expected:

![image](https://user-images.githubusercontent.com/81865/66429001-1fb13300-e9e5-11e9-959a-ea17696ba030.png)

Legend:
- yellow markers for contour kill / contour start
- purple markers for nginx pod rotations

Since all Envoys recovered almost instantly when contour's `spec.replicas`

[2019-10-08 20:09] bgagnon commented on #1523
Here are some Contour logs between the creation of its pod and the last known occurence of this bug:

[code]

[2019-10-08 20:25] #1583 closed

[2019-10-08 22:36] stevesloka opened #1655 "Allow TCPProxy to work with Includes in HTTPProxy"
**Describe the solution you'd like**
#1654 added support for `TCPProxy` at the root httpproxy level, this issue is to describe allowing this to happen from an include outside the root.

[2019-10-08 22:49] youngnick commented on #1597
So, the business rules we will encode for prefix conditions are:
- prefix conditions are optional
- there may be at most one prefix condition in any condition block
- prefix conditions must start with a `/` if present.

I'll update all the things to make this happen, and update the documentation to make it clear that these are the only rules.

[2019-10-08 23:35] IngCr3at1on commented on #1560
Requires changing `internal/metrics/metrics.go`
[code]
to
[code]
and change
[code]
to
[code]
before creating the handler function in `registerHealthCheck` register the 3 required gauges for health and adjust these directly from the handler function.

Needs a separate table test in `internal/metrics/metrics_test.go` using httptest.

[2019-10-09 01:37] davecheney commented on #1560
@IngCr3at1on sounds fine to me.

[2019-10-09 03:29] jpeach commented on #1575
Can this be validated by the API spec?

[2019-10-09 03:38] youngnick commented on #1575
It can be, yes, but the OpenAPI verification is basic and almost impossible to test (without a full e2e test rig that deploys things on Kube). If we had better testing overall (see #1155 although that needs a big update), we might be able to make something work better.

The other option is a ValidatingAdmissionController, which comes with its own set of complexities (not least that it's possible t

[2019-10-09 05:17] jpeach commented on #1513
See #1351

[2019-10-09 06:01] youngnick commented on #1633
Okay, I've had a look into this this afternoon, and here's where we are at:

- the `networking.k8s.io/v1beta1.Ingress` kind was introduced in Kubernetes 1.14.
- the `extensions/v1beta1.Ingress` kind is deprecated but will not be removed until Kubernetes 1.20 (unless it slips again).
- we know we have users running versions < Kubernetes 1.14

Because of that, to fix this problem, unless one of thos

[2019-10-09 06:08] Mishra-Akash opened #1665 "tls-backend-verification is not working."
**What steps did you take and what happened:**
    I need to use different CA for front-end & back-end verification. I am using self signed CA at the moment. My front-end tls verification sounds ok and its presenting the CA used for front-end. But validation for back-end is not working.  No matter if caSecret & subjectName are correctly configured or misconfigured. I am able to open application in

[2019-10-09 06:11] davecheney commented on #1665
Thank you for your report. This should be fixed in :master and will be available in rc.1

[2019-10-09 06:12] davecheney commented on #1665
Thank you for your report. Can you please upgrade to Contour 0.15.1 and verify if the problem still exists.

[2019-10-09 08:34] lostllama opened #1666 "Envoy init container inits starting"
**What steps did you take and what happened:**

I'm currently running Contour 15.0, installed using [this config](https://github.com/projectcontour/contour/blob/v0.15.0/examples/render/deployment-rbac.yaml). This was the situation in two of my clusters as of yesterday, when I upgraded from 0.9.1.

With the release of 15.1 today, I decided to upgrade to the now-latest version.  This time I opted to

[2019-10-09 11:49] davecheney opened #1667 "api,internal/dag: remove prefixRewrite"
In order to properly address #899 we plan to remove the current `prefixRewrite` field from HTTPProxy. The field will remain on the deprecated IngressRoute.

We plan to replace prefixRewrite with something better in rc.2

[2019-10-09 11:53] davecheney opened #1668 "api,internal/dag: move route.service.strategy to route"
As part of buying insurance for #1119, similar to #1630, move route.service.strategy to route.strategy. Bonus points for calling this `route.loadbalancingStrategy`

[2019-10-09 15:10] stevesloka commented on #1666
There a couple issues with your upgrade from what I see in your logs.

1. Contour <> Envoy now (by default) communicate over TLS. We include a sample [k8s Job ](https://github.com/projectcontour/contour/blob/master/examples/contour/02-job-certgen.yaml)to automate this if you don't want to build your own. Alternatively, you can pass `--insecure` to the bootstrap command to bypass.

[code]

2. Looks

[2019-10-09 15:13] stevesloka opened #1669 "cmd/contour: Bootstrap command broken"
**What steps did you take and what happened:**
When creating an Envoy bootstrap config file, the `check()` is causing an error since the file is already closed resulting in this message from bootstrap and causing the Envoy pod to fail since init doesn't finish properly:

[code]

//cc #1666

[2019-10-09 16:13] stevesloka commented on #1633
This only matters if folks disable the `extensions/v1beta1` api groups in the API server, otherwise, everything works as-is, meaning you can apply an Ingress object of type `networking.k8s.io/v1beta1` and it all just works.

We can get the server version easily from the client, then use that to determine which watch gets applied against which api group. I've done this before on the Elastic operato

[2019-10-09 20:28] davecheney commented on #1633
@youngnick @stevesloka I hear ya about how important this is. Do you have an idea how much work it will be to implement this for rc.2? For my understanding there are four main tasks:

- [ ] detect if new ingress is available and add a watcher
- [ ] detect if old ingress is _not_ available and not add a watcher
- [ ] duplicate the code that processes old ingress inside internal/contour (for event h

[2019-10-09 21:39] #1669 closed

[2019-10-09 22:27] davecheney commented on #1665
@Mishra-Akash ping

[2019-10-09 23:22] jpeach commented on #1506
I'm working on `contour.heptio.com/max-connections`.

[2019-10-09 23:33] lostllama commented on #1666
I've repeated my upgrade today, this time manually instructing Helm to delete the old deployment, and then deploying the new one on top. All solved. Thank you very much.

[2019-10-09 23:33] #1666 closed

[2019-10-10 00:54] #1597 closed

[2019-10-10 01:02] #1667 closed

[2019-10-10 01:37] davecheney commented on #1668
I'm working on this now and looking at renaming
[code]
to
[code]

[2019-10-10 02:20] youngnick commented on #1668
I like that naming change, it's more consistent with the other types of Policy we have.

[2019-10-10 03:12] youngnick opened #1678 "Contour should expose more metrics about gRPC serving"
As part of troubleshooting #1523, @FournierAlexandre and @bgagnon have been working on observing their Contour and Envoy installation, and have found that it would be really useful to have more metrics around Contour's gRPC serving.

This issue covers adding some more metrics to Contour to expose more information about what's happening with the connections to Envoy via gRPC.

Specifically, the mai

[2019-10-10 03:38] jpeach commented on #1506
I'm taking `contour.heptio.com/max-pending-requests`

[2019-10-10 04:15] davecheney commented on #1506
Imma taking `contour.heptio.com/tls-minimum-protocol-version`

[2019-10-10 05:38] davecheney commented on #1633
After a discussion this morning the plan of action for rc.2 will be

1. Add a flag to disable registration of the `extensions/v1beta1.Ingress` informer.
2. Add a flag to disable registration of the `networking/v1beta1.Ingress` Informer.
3. Change all the imports of `extensions/v1beta1.Ingress` into `networking/v1beta1.Ingress`. The latter will become the canonical type of k8s ingress within Contou

[2019-10-10 05:43] jpeach commented on #1506
Working on `contour.heptio.com/max-requests`.

[2019-10-10 05:52] jpeach commented on #1506
Working on `contour.heptio.com/max-retries`

[2019-10-10 15:42] bgagnon commented on #1678
Thanks @youngnick!

The first low-hanging fruit I see is to integrate the [grpc-ecosystem/go-grpc-prometheus](https://github.com/grpc-ecosystem/go-grpc-prometheus) middleware into Contour.

There is very little code to write to instrument the server:
https://github.com/grpc-ecosystem/go-grpc-prometheus#server-side. The list of standard timeseries is pretty good out of the box.

One important thing

[2019-10-10 18:49] stevesloka commented on #1506
I'll take `retry-on`

[2019-10-10 22:57] #1668 closed

[2019-10-10 23:08] davecheney commented on #1665
@Mishra-Akash ping

[2019-10-11 00:28] davecheney commented on #640
@stevesloka do you think we need to resolve this before 1.0 ships or can we tackle it afterwards?

[2019-10-11 00:45] davecheney commented on #1633
After spiking the work for rc.2 it turned out that the spike-work was perfectly serviceable and we're trying to land it for rc.1.

[2019-10-11 01:01] jpeach commented on #1579
@dfc and I discussed this. We agreed that header matching should follow the same longest-match principle that path matching uses (i.e. matching 3 header is more specific than matching 2 headers, so the 3 header route should be matched first).

For quality-of-implementation reasons, we should also order the header match set, since that will ensure that the hash of the envoy route entry remains stab

[2019-10-11 01:02] jpeach commented on #1579
I'll start working on this next week.

[2019-10-11 01:27] stevesloka commented on #1506
All tasks complete! 🎉

[2019-10-11 01:27] #1506 closed

[2019-10-11 01:32] davecheney commented on #1506
Huzzah for teamwork!

[2019-10-11 01:32] stevesloka opened #1686 "docs: Update links to envoyproxy.io"
**What steps did you take and what happened:**
Some of the links in the docs reference envoy docs at `latest` which are now broken.

One specific example is the `retry-on` links in the [annotations docs](https://github.com/projectcontour/contour/blob/master/docs/annotations.md) which 404.

[2019-10-11 02:21] davecheney commented on #1655
@stevesloka I think this has to slip to rc.2

[2019-10-11 02:43] #1633 closed

[2019-10-11 04:06] bgagnon commented on #1263
Contour can log less _and_ be structured; these two goals are orthogonal.

Visualization in Kibana or Grafana is often dependent on having structured fields, and so are alerts based on logs (we prefer metrics for this, but sometimes logs is all we have due the cardinality of some fields).

The decision to drop, retain or post-process a log message is also made easier when the rules can leverage st

[2019-10-11 04:20] davecheney commented on #1263
Thank you for you’re reply. The more experienced I get with the paradigm of logs vs metrics the more I’m convinced that most of what contour emits as a log line should actually be a metric.

My guiding philosophy is an applications should only say something if it’s something that needs to be responded too. Contours current logging approach fails that bar significantly.

[2019-10-11 04:23] bgagnon commented on #1241
We've neutralized the `Ingress` object in our clusters in two ways:
* blocking Contour from seeing any `Ingress` objects, via RBAC
* enforcing a `ResourceQuota` of `max: 0` objects of type `Ingress` in namespaces

For us, the quota was necessary to avoid having confused users wondering why their `Ingress` objecs are ignored. We felt the resource quota approach gave a better user and developer expe

[2019-10-11 04:30] jpeach opened #1689 "Tooling to migrate from IngressRoute to HTTPProxy"
**Describe the solution you'd like**

Tooling to help users migrate their applications from the IngressRoute CRD to the new HTTPProxy CRD. I'm thinking of some tool that reads a set of IngressRoute definitions and emits the equivalent HTTPProxy ones.

**Anything else you would like to add:**

Existing Contour users will need to migrate their services from IngressRoute to HTTPProxy. This migration

[2019-10-11 04:32] davecheney commented on #1241
Thank you for your reply. At the moment the way we expect admins to restrict which k8s objects are used inside their cluster is RBAC. The resource quote method is really nice. I’d like to document that in the , as yet to start, learning and solutions section of the website.

FWIW: if —root-namespaces is used to restrict root ingressroute and HTTPProxy objects untraceable objects will have their st

[2019-10-11 04:34] jpeach commented on #1617
What if the prefix wasn't '/'?

[code]

IIUC, the final route for this vhost would then be `/app/app`, which might be correct?

[2019-10-11 15:59] bgagnon opened #1690 "Envoy IP tagging support"
We have a need for geo-location of incoming client requests for application routing decisions. Contour supports source IP preservation in various ways, including the `PROXY` protocol.

We think we can leverage Envoy's [IP tagging](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ip_tagging/v2/ip_tagging.proto) filter for this, but it is not currently available from Contour.

I

[2019-10-11 17:26] bgagnon commented on #1690
We have an extra requirement that makes this every more niche: the CIDRs for the tags are changing often enough in our network that we need to automatically refresh this information.

But this feature could be generalized to support public geo IP databases (like [Maxmind](https://dev.maxmind.com/geoip/geoip2/geolite2/)) that would also benefit from periodic automated updates.

[2019-10-11 17:47] bgagnon opened #1691 "Support Access Log Service (ALS)"
Structured logging for the Envoy access logs (ie. JSON access logs) was requested in #624 and implemented in #1511.  Envoy supports a more advanced and flexible access logging option: an [Access Log Service (ALS)](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/observability/access_logging.html).

With this activated, Envoy uses gRPC streams to pass rich and strongly typed protobuf

[2019-10-11 19:47] stevesloka commented on #1691
Sounds like this could be implemented like our discussions with the RateLimiting service. Contour configures the endpoint and then the receiving end is responsible for implementing it's side.

[2019-10-12 00:48] #1602 closed

[2019-10-14 01:27] davecheney commented on #1665
@Mishra-Akash ping

[2019-10-14 02:24] davecheney commented on #854
I'm going to close this issue in favour of #1425. The underlying issue is multiple contour's attempting to update status. The move to a single status writer driven by leader election, I feel, is the solution.

[2019-10-14 02:24] #854 closed

[2019-10-14 02:24] jpeach opened #1697 "Enforce the use of `kubernetes.io/tls` secret types."
Currently, Contour can allow the use of secrets that are not of type `kubernetes.io/tls` if they are not service account tokens and contain the expected data keys.

We should consider enforcing a requirement that the secret be of type `kubernetes.io/tls`. This makes the requirement clearer for users and improves separation of secrets in the cluster. It would also make it a bit easier to implement

[2019-10-14 03:18] davecheney commented on #1119
I'm moving this issue to the backlog. Changing the way Contour generates clusters is too large a risk this close to the 1.0 release.

[2019-10-14 03:19] davecheney commented on #1686
I'm going to take this as part of moving all docs to the website.

[2019-10-14 03:25] davecheney commented on #1385
@youngnick I don't want to block this issue on #1425. If leader election is working -- a leader is elected amongst running contours -- and we've reverted the deployment changes that caused use to move away from `RollingUpdate`, then I'm fine to close this issue.

Can you please action this soon. Thanks

[2019-10-14 20:19] stevesloka opened #1701 "HTTPProxy header conditions, value is case sensitive"
**Describe the solution you'd like**
Currently, when specifying condition values of type `header`, they are case-sensitive. We should make this field case insensitive.

[2019-10-14 21:53] davecheney commented on #1701
@stevesloka would you be able to expand on this. Based on previous readings of RFC2616 headers keys should be compared case insensitive but the value should be case sensitive.

[2019-10-14 21:55] davecheney commented on #1665
@Mishra-Akash I'm going to close this issue until we have more information. Please feel free to respond and reopen this issue when you are able. Thank you.

[2019-10-14 21:55] #1665 closed

[2019-10-15 00:23] stevesloka commented on #1701
Ahh ok I misread that then, it's working properly as-is with the case sensitive values.

[2019-10-15 00:23] #1701 closed

[2019-10-15 01:29] mattalberts opened #1702 "TLS keys containing other pem blocks proceeding the private key are considered invalid"
**What steps did you take and what happened:**
Created a secret whose `EC PRIVATE KEY` contains `EC PARAMETERS`.  The function `validatePrivateKey` locates the `EC PARAMETERS ` pem.Block, attempts to validate it as a private key, and rejects the secret as valid.

**What did you expect to happen:**
I expected the secret to be accepted as valid :)

**Anything else you would like to add:**
The privat

[2019-10-15 01:47] davecheney commented on #1701
That is a good question thou. Envoy had a flag on the header marcher that says “case insensitive” (from memory)

I think for the moment we should say that heavier values are case sensitive but we might look at exposing the “case insensitive” flag

[2019-10-15 02:05] mattalberts commented on #1702
I already have a patch, just working on a test :)

[2019-10-15 03:10] davecheney commented on #1655
Assigning to myself as I have some suggestions for a design.

[2019-10-15 03:19] jpeach commented on #1702
Does Envoy accept and use the additional PEM objects?

[2019-10-15 03:56] mattalberts commented on #1702
@jpeach The certificates I've been using with contour versions v0.5.0 to v0.14.2 have contained `EC PARAMETERS` and were valid for both contour and envoy (e.g.  I've been terminating TLS with them for ~2 years).

[2019-10-15 05:43] jpeach commented on #1697
I'm working on this next.

[2019-10-15 05:44] jpeach commented on #1697
Related to #1702

[2019-10-15 16:09] stevesloka opened #1709 "Update grafana example dashboards for HTTPProxy"
Need to update the sample dashboards to use `HTTPProxy` (https://github.com/projectcontour/contour/blob/master/examples/grafana/02-grafana-configmap.yaml)

[2019-10-16 00:03] mattalberts commented on #1702
@youngnick I think #1707 makes more sense than #1704 (i was trying to keep this very small hoping for a back port .. but the other addresses both the cert and the private key).

[2019-10-16 00:46] davecheney commented on #1702
If 0.15.1 broke certificates which envoy previously accepted the we should backport it to 0.15.2 regardless of the cost.

[2019-10-16 03:22] jpeach commented on #1697
Proposed rules:
* TLS certificate/key pairs must be secrets of type "kubernetes.io/tls"
* Certificate bundles may be "kubernetes.io/tls" or "Opaque" (aka generic) secrets
* Secrets type must be specified

[2019-10-16 03:23] youngnick commented on #1702
@mattalberts I agree, I'm going to check out #1707 properly now and, assuming it's all good (which a cursory inspection suggests), then I'll close out #1704.

[2019-10-16 04:18] davecheney opened #1713 "Backport TLS validation fix"
Backport #1702

[2019-10-16 04:52] youngnick commented on #1678
Thanks again for the PR, @bgagnon! I'm checking that one out, and once we've landed it, I'll have a look at adding the number of connected clients.

[2019-10-16 19:21] embano1 opened #1719 "Enable PrefixRewrite (RewritePolicy) by default and rewrite to /"
**Describe the solution you'd like**

One of the strengths of Contour is route/condition matching, where I can expose multiple (potentially unrelated) backends transparently via sub-routes. Backends such as nginx or services build with the Go std library usually serve their entrypoint, e.g.`index.html`, under `"/"`.

The current behavior (as of RC1 with deprecated `IngressRoute` and likely a simil

[2019-10-16 21:33] davecheney commented on #1719
@embano1 thank you for this issue. Is this a duplicate of #899 ?

[2019-10-17 03:24] youngnick opened #1722 "Investigate why gRPC stats show everything as 'Unknown'"
The gRPC stats middleware added in #1692 shows all Contour connections as completing with an 'Unknown' code. This issue is to investigate why that is. The numbers appear correct (that's why the PR was merged), but where the result code comes from is unclear.

[2019-10-17 03:43] youngnick commented on #1575
Next steps for this one: Add OpenAPI validations into the HTTPProxy spec, to catch this exact sort of problem. The full solution will be much more involved, but this will at least ensure that objects that make it to the api server are valid enough to be parsed by the client.

[2019-10-17 04:00] #1579 closed

[2019-10-17 06:07] jpeach opened #1723 "Make "kubectl explain" work for HTTPProxy resources."
**Please describe the problem you have**

`kubectl explain` is a built-in way to provide Kubernetes resource reference material to users. It would be great to support this as part of the `HTTPProxy` documentation.

[2019-10-17 06:12] jpeach commented on #1723
@youngnick I think that `kubectl explain` pull this from the OpenAPI definition for the Resource, so maybe we could get this for free as part of #1575?

[2019-10-17 06:16] jpeach commented on #1723
[code]
[code]

:(

[2019-10-17 21:36] davecheney opened #1725 "Backport #1724"
Backport #1724

[2019-10-17 22:51] davecheney commented on #1419
@jpeach are you working on this as part of #1714 ?

[2019-10-17 23:02] davecheney commented on #1719
@embano1 ping

[2019-10-17 23:07] youngnick commented on #1723
Hmm, probably. I'll take this for now and see if that happens when I do #1414.

[2019-10-17 23:08] jpeach commented on #1419
I wasn't planning on it, but after #1714 we will only take CA bundles from secrets with no type, or of type "opaque" or "kubernetes.io/tls". I think we need to find a place to document this.

[2019-10-17 23:08] youngnick commented on #1575
The openAPI validations are covered in #1414, so I'm going to put this one back on the backlog, to cover the real solution, which will probably involve writing a validatingAdmissionController.

[2019-10-17 23:09] davecheney commented on #403
I'm sorry to report that at this stage in the development freeze without a design we won't be able to deliver this for rc.2. Moving to the backlog for prioritisation after Contour 1.0

[2019-10-17 23:12] davecheney commented on #1723
There is also #1567

[2019-10-17 23:15] youngnick commented on #1678
With the merging of #1692, we have basic stats about the connected clients. I don't think we're going to be able to land the number of connected clients in rc2, sadly, and we don't want to add any new functionality in the final 1.0.0. So, I'm moving this to the backlog for now. Please note that 'backlog' currently means 'after 1.0', not 'will never get done'. I think this is a really important and

[2019-10-18 00:09] #1702 closed

[2019-10-18 01:09] youngnick commented on #1414
Turns out, there is a generator (https://github.com/kubernetes-sigs/controller-tools/blob/master/cmd/controller-gen/) that can help with this by doing it automatically. I'll get it working, then add it to the make check in the same way we have the check that the manifests have been updated.

[2019-10-18 01:12] davecheney commented on #1414
![](https://media.giphy.com/media/Zk9mW5OmXTz9e/source.gif)

[2019-10-18 01:17] jpeach commented on #1419
Document this per #1415

[2019-10-18 01:17] jpeach commented on #1697
Document this per #1415

[2019-10-18 01:27] stevesloka commented on #1570
@youngnick you working on this one?

[2019-10-18 01:31] davecheney commented on #1713
Fixed in 4365ab0669495b614ba81c4b01a3bc8e74b9e372

[2019-10-18 01:31] #1713 closed

[2019-10-18 04:32] jpeach commented on #509
@davecheney This issue is referenced by the docs. Can we keep it open to track full`cert-manager` support, since that might involve more issues than only #950?

[2019-10-18 05:49] #1697 closed

[2019-10-18 06:03] #1414 closed

[2019-10-18 06:40] cw-sakamoto opened #1734 "Include own headers in envoy logs."
https://github.com/projectcontour/contour/pull/1511 can export the envoy log in json format, but the corresponding items are hard-coated at https://github.com/projectcontour/contour/blob/master/internal/envoy/accesslog.go#L26-L49.

Isn't it possible to make JSONFields itself variable by writing config as shown below?

[code]

[2019-10-18 06:42] davecheney commented on #1734
It is not possible, but if you can tell us the items you'd like to add to this map (or send a PR yourself), we're happy to add them.

https://github.com/projectcontour/contour/blob/master/internal/envoy/accesslog.go#L26

[2019-10-18 06:48] cw-sakamoto commented on #1734
Thank you for the immediate reply!
`x-trace-id`  is used internally. We confirmed that it can be obtained by adding as follows.

[code]

[2019-10-18 08:57] #1725 closed

[2019-10-18 10:49] embano1 commented on #1719
Thx @davecheney and sorry for the delay. After reading #899 I don't think it's dup. My feature request was about changing the default behavior of route matching to automatically rewrite the /<:match> and defaulting to `"/"`. So I don't have to make modifications on the backend services, which usually accept traffic on `"/"`.

[2019-10-18 12:05] JTarasovic commented on #1064
We do always set this header in this manner; however, it would mean users would have to change configs on upgrade to maintain existing behavior. Also, some organizations may not want to include subdomains or may want to use a smaller max-age.

[2019-10-18 15:51] stevesloka opened #1737 "examples: Grafana dashboard RDS updates missing"
**What steps did you take and what happened:**
After updating the stats for HTTPProxy I noticed the RDS dashboard is empty. This doesn't look to be a problem with the dashboard setup, but the metrics that it references aren't showing from Envoy.

Currently, the dashboard looks for the following stats:

- envoy_http_rds_ingress_http_update_success
- envoy_http_rds_ingress_http_update_failure
- envo