[2020-08-12 04:44] youngnick commented on #2788
Thanks for logging this issue @imranismail. We already set the keepalive for connections to the Envoy listeners (merged in #2638).

The settings there (idle time of 45 seconds, with 5 sec between keepalives) should work just fine with the ELB settings you list above, from what I can see. Please see `internal/envoy/tcp_keepalive.go` for all the gory detail.

Please feel free to respond if I've miss

[2020-08-12 04:48] youngnick commented on #2050
@mkilchhofer thanks for the suggestion about debug images, could you log a separate issue for that please? It seems pretty reasonable to me, but I'd like everyone to have a chance to talk about it.

[2020-08-12 06:30] mkilchhofer opened #2789 "Provide debug variants of contour container images"
**Please describe the problem you have**
As already mentioned (https://github.com/projectcontour/contour/issues/2050#issuecomment-672570646) it would be nice, if you build debug variants of your container images containing debug tools like busybox or another minimal linux distro. This would help people troubleshoot (eg. look at the configs in the empty dir, curl the envoy healthcheck API, etc.)

F

[2020-08-12 06:33] mkilchhofer commented on #2050
Done :) https://github.com/projectcontour/contour/issues/2789

Cool :+1: Maybe I then could close https://github.com/bitnami/charts/pull/3381.

[2020-08-12 06:34] jpeach commented on #2789
Would [ephemeral debug containers](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#ephemeral-container) address similar use cases?

[2020-08-12 06:35] youngnick commented on #2789
I think they will, but these will help for those people who don't have an up-to-date cluster, or don't want to use an alpha feature yet.

[2020-08-12 06:38] mkilchhofer commented on #2789
Yes, exactly. There is a sentence on this page which says:

We can't expect that everyone has up-to-date clusters with alpha features enabled :)

[2020-08-12 06:50] imranismail commented on #2788
I'll close this, but it'd be great if this settings is configurable

[2020-08-12 06:51] #2788 closed

[2020-08-13 00:59] youngnick commented on #2767
Hi @salimuddin87, thanks for the issue.

Right now, there's not a good way to have Istio and Contour coexist, especially since Istio provides its own Ingress gateway. That's not to say it's not possible, just that none of us have tried it out. (And I personally haven't touched Istio for almost two years).

Ideally, there would be a way to plug Contour in as an ingress controller when using Istio,

[2020-08-13 01:09] youngnick commented on #2777
Okay, so todo here:
- [ ] Change the default for TLS version to 1.2, with a release note mentioning the current guidance, and noting that we consider support for TLS 1.1 in Contour deprecated and risky, and that it will be removed eventually.
- [ ] Add a startup warning log that using 1.1 is not a good idea and you should use 1.2 if you can.

Wait to see how much community comment there is after t

[2020-08-13 01:22] youngnick commented on #2777
Also, we should note that you can use `MinimumProtocolVersion` to stop the use of 1.1 entirely without it being disabled in Contour itself. Possibly we should default this to 1.2 at some point, as a "removal" step, rather than totally removing the functionality.

[2020-08-13 03:42] youngnick commented on #2744
Okay, I've run through some tests, this looks pretty straightforward from a purely Git sense.

1. We prepare a PR to `s/master/main/`. This will probably be a bit tricky, there's a lot of site stuff to fix up.
1. Firstly, we close out all the PRs - they can be reopened against `main` afterwards.
2. We branch a new `main` and push it back to Github.
3. We change the default branch for new PRs.
4. W

[2020-08-13 03:42] youngnick commented on #2744
I'll get started on an `s/master/main` PR.

[2020-08-13 08:53] georgegoh commented on #2050
Hi @mkilchhofer I think the changes you made are very close to what I have in my repo. A few differences:
1. I remove the `contour-leaderelection` role as it's no longer needed in `templates/rbac.yaml`.
2. General matching of the rbac.yaml to the rbacs defined in this project.

I also removed the crds from the `templates` directory since crd-install is no longer supported in Helm 3(does bitnami re

[2020-08-13 09:07] stefanprodan commented on #2050
@georgegoh please take into account that Helm does not support CRDs upgrades when placed in `crds` dir. Upgrading will be broken if Contour comes with a CRD change, since Helm v3 ignores the crds dir on upgrades.

[2020-08-13 10:02] mkilchhofer commented on #2050
I think they want compat to helm2, yes. But I am not an member of bitnami ;) - you need to ask them to be really sure.

Sure, I then switch the PR back from "draft" to "Ready for review". In the meantime I went through the CRD changes again and dropped all the *.contour.heptio.com CRDs. Note that helm does not touch CRDs when they already exists. Maybe you could mention this bahavior with a refere

[2020-08-13 21:36] jpeach commented on #2050
How to helm-based deploys typically handle this then? Do operators need to upgrade CRDs manually?

[2020-08-13 22:59] mattmoor opened #2792 "Enable better Envoy debugging"
**Please describe the problem you have**

[*Original slack thread*](https://kubernetes.slack.com/archives/C8XRH2R4J/p1597338081061500)

The original motivation for this is to be able to trace back from a simple `503` response to the Envoy that served it, since generally it's logs contain a treasure trove of information about what happened.

In the bad response, there is typically a `Server:[envoy]

[2020-08-14 03:13] pickledrick opened #2793 "Document SNI case sensitivity in Ingress and HTTPProxy FQDNs"
Envoy maintains case sensitivity for FQDNs. This should be reflected in Contour's documentation for configuration.

see: [envoyproxy/envoy/6199](https://github.com/envoyproxy/envoy/issues/6199)

[2020-08-14 04:40] youngnick commented on #2050
From what I've seen reviewing that link, @jpeach and helm/helm#5781, looks like Helm will do minimal CRD management. To that end, I suggest we consider adding a single URL for just the CRDs for a given version of Contour, similarly to how we have the quickstart URL `https://projectcontour.io/quickstart/contour.yaml`. Maybe `https://projectcontour.io/install/crds.yaml` or something?

This would *on

[2020-08-14 04:43] jpeach commented on #2050
I think that there's benefit in doing this.

For Contour, we basically have an ongoing release cycle. The problem we need to solve is to make it easy and reliable for operators to stay on the upgrade cycle while also being able to customize their installs (at least a bit). So if we say that the upgrade is `kubectl apply` the latest CRD, then upgrade helm, that's not the best experience IMHO.

[2020-08-14 04:49] jpeach commented on #2615
xref #2045

FWIW cobra supports generating markdown docs https://pkg.go.dev/github.com/spf13/cobra@v1.0.0/doc?tab=doc

[2020-08-14 06:18] youngnick commented on #2050
I meant that we include the *current* version of the CRDs in the Helm chart, but, because of the Helm upgrade problem, we will need to have the upgrade instructions be "Reinstall the CRDs, then do `helm upgrade`". This is because once the CRDs are present at a particular apigroup and version - ie `projectcontour.io/v1`, Helm won't reinstall them, because of upgrade concerns.

*We* can be confident

[2020-08-16 13:07] ffahri commented on #2589
Hey sorry for late response,
I couldn't find any API for this purpose, I implemented the same as KindOf

[code]

Here is the output in logs. (added wrong annotation in kuard example ingress)

[code]

However I'm not sure is this the good solution since
- If Contour starts to implement and handle Gateways and other ServiceAPI's etc it needs to be add both VersionOf and KindOf functions.

What do yo

[2020-08-16 18:29] ffahri commented on #2589
edit: I asked in #sig-api-machinery and got an answer for the API
scheme.Scheme.ObjectKinds(obj.(runtime.Object))
is the answer. And that function also good for the KindOf method. Im updating the PR
https://github.com/projectcontour/contour/pull/2796

[2020-08-17 04:47] youngnick commented on #2744
I've created a new `main` branch, created a rename PR (#2798), and updated Slack with details.

[2020-08-17 04:53] youngnick commented on #2744
Howto for contributors:

1. Create a `main` branch in your fork locally and push it. I use `origin` for my fork, and `upstream` for the main `projectcontour/contour` repo, so I did the following:
[code]
2. Update your workflow to rebase anything you need to from `main` instead of `master` from `upstream`.

[2020-08-17 05:17] youngnick commented on #2744
Once #2798 is merged, we need to verify:

- [ ] Docker images are pushed to Docker hub with `main`
- [ ] Release tooling works (probably will need to wait for 1.8.0 release).

[2020-08-17 14:32] glerchundi commented on #2615
We are using ff (flags) & ffcli (commands) for all of our micro and not so micro services. It is working pretty well for us.

Main pros:
- Simple (small footprint -> smaller binaries)
- Very idiomatic and close to how flags are handled in stdlib

Drawbacks
- No nested structures, bad to make the config file more operator friendly
- No markdown generator

Just puttting my 2 cents in

[2020-08-17 20:04] rajat404 opened #2800 "[site][guides/cert-manager] Incorrect secret name value for `httpbinproxy` resources"
**What steps did you take and what happened:**
I followed all the steps in [Deploying HTTPS services with Contour and cert-manager](https://projectcontour.io/guides/cert-manager/) as is. While the steps for getting certs for the `httpbin` sub-domain worked as expected, but the steps for the `httpbinproxy` sub-domain didn't get the cert.

**What did you expect to happen:**
Get a TLS cert for my sub

[2020-08-17 21:27] jpeach commented on #2615
Thanks for the pointer. However, I think for CLI tooling, we should just use the most widely used package that works. I don't want to be stranded again :)

[2020-08-18 01:21] youngnick commented on #2800
Thanks for this issue @rajat404! Totally fine for you to send a docs PR, @jpeach or I will help shepherd it for you.

[2020-08-18 15:04] #2800 closed

[2020-08-18 21:42] danehans commented on #2187
This [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/addons/0035-20190128-addons-via-operators.md) provides additional background on the benefits of operators.

[2020-08-18 21:51] jpeach commented on #2187
Thanks @danehans. I don't know that any current maintainers have bandwidth to take on an operator in the short term, but I'd definitely support you or others exploring this space.

[2020-08-18 22:56] jpeach commented on #2287
Blocked on https://github.com/projectcontour/contour/issues/2226, which will allow new builders to be added at runtime.

[2020-08-18 23:12] youngnick commented on #2287
- [ ] Decision about *Class behavior (IngressClass and GatewayClass)
- [ ] Work to add builder interface (@stevesloka)
- [ ] Work to add interface between DAG and xDS caches (@jpeach)

[2020-08-18 23:32] youngnick opened #2809 "Decision: How do we implement *Class objects (IngressClass and GatewayClass)"
IngressClass (from Ingress v1) and GatewayClass (from service-apis) are both replacements-with-added-functionality for the `kubernetes.io/ingress.class` annotation. They both have fields that allow for Class-specific configuration to be applied.

Currently, Contour is configured from a "file" - that is, a ConfigMap, and those config parameters can only be overridden by command-line flags (when pre

[2020-08-19 00:22] danehans commented on #2187
@jpeach I'll take the lead on creating and maintaining the operator.

[2020-08-19 01:25] jpeach commented on #2809
If you had 3 Contours, you would also currently need 3 data planes (Envoy deployments). That seems like a lot :)

/cc @danehans

[2020-08-19 01:37] jpeach opened #2810 "Document knative integration"
**Please describe the problem you have**

Document how to use Contour with knative (probably largely referencing the knative and net-contour docs).

https://github.com/knative-sandbox/net-contour

[2020-08-19 01:38] jpeach commented on #2810
/cc @mattmoor

[2020-08-19 04:46] jpeach opened #2811 "Replace check with Fatal logs"
**Please describe the problem you have**

There are quite a few places in Contour that call a local `check` helper that prints to standard error and exits. This approach loses error context and makes it difficult for aggregated log collectors to recognize that this is a fatal error message. We should replace these with fatal level logs.

[2020-08-19 05:01] RichiCoder1 commented on #2206
I'd point to Gloo as a good prior art when talking about delegating route configuration: https://docs.solo.io/gloo/latest/guides/traffic_management/destination_types/delegation/

It works pretty darn well in my experience, and IMHO provides the right balance of control between infra controllers and app operators.

[2020-08-19 05:31] jpeach commented on #2792
On the checksum approach specifically, wouldn't you need to correlate those checksums with something? That said, I'm not sure that there is a good something for this to correlate with. EDS can be hashed, but you'd want to also know the actual state that was associated with the hash.

xref https://github.com/projectcontour/contour/issues/2021

[2020-08-19 10:53] prateekjainaa commented on #2323
Hi @youngnick/ @davecheney ,

 Did you guys get a chance to look at this issue?

Regards,
Prateek

[2020-08-19 14:06] mattmoor commented on #2792
Yeah, the idea was that Contour would need to log some stuff to correlate this with:

[2020-08-19 14:07] mattmoor commented on #2021
FYI, I believe Istio is adding status now, though I haven't been tracking it too closely.

[2020-08-19 15:22] jpeach opened #2813 "Add a migration guide for ingress-nginx"
**Please describe the problem you have**

Since ingress-nginx is a common ingress controller that is often used by default, it would be pretty helpful to have a migration guide that maps API features from ingress-nginx to the equivalent HTTPProxy or Contour API features.

[2020-08-19 15:27] tong101 commented on #2813
Here is the list of annotations NGINX Ingress Controller supports: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/.

[2020-08-19 16:13] youngnick commented on #2206
Thanks @RichiCoder1. I agree that that conflict resolution behavior seems reasonable - it's basically merging the configs, with safeguards around ensuring that all the config actually takes effect.

The main other question there is what happens if there's a hard conflict - remember that HTTPProxy also allows inclusion with non-path matching conditions like headers, so it's possible for one to say

[2020-08-19 16:21] youngnick commented on #2187
There's a couple of things I think will be helpful for a Contour operator:
- figuring out how to break up our YAMLs to allow for optional components - @jpeach and I have discussed this, and there's some chat in the Helm issue #2050 about this, but I don't think it covers everything.
- checking in with the knative folks about what they do when repacking Contour. xref #2254 for this one.

Both of th

[2020-08-19 16:21] RichiCoder1 commented on #2206
This and Ext Auth support are about the only blockers for us considering Contour, so I'll see if I can do a more formal write up with some options!

[2020-08-19 17:45] skriss commented on #2615
Yep we used to do this for Velero, and I've seen many other projects use it. Also agree that cobra is likely the safe choice for CLI, though I'm not aware of the original reasons for not using it.

[2020-08-19 19:37] danehans commented on #2187
@youngnick thanks for the details above. The operator proposed in this issue will abstract the Contour yaml config from a user through an API (CRD). The [cluster-ingress-operator](https://github.com/openshift/cluster-ingress-operator) supports a use case similar to https://github.com/projectcontour/contour/issues/2254 through the [IngressController](https://github.com/openshift/api/blob/master/ope

[2020-08-19 23:15] jpeach commented on #2187
IIRC, they repackage with some bespoke scripting. I think that kustomize would work OK for that purpose, and I've been able to make it work for a knative install.

[2020-08-20 07:17] jpeach commented on #2187
@danehans are you proposing an operator that implements the OpenShift IngressController type, or something more general?

[2020-08-20 13:11] #2589 closed

[2020-08-20 14:21] laurovenancio opened #2816 "Contour cmd shutdown args are in the wrong sub-command"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Currently, the shutdown args check-interval, check-delay and min-open-connections are parsed by the 'envoy shutdown-manager' sub-command while they are used by 'envoy shutdown'.

**Environment:**

- Contour version: 1.7.0

[2020-08-20 14:24] ffahri opened #2818 "Create universal schema for Contour types"
Currently logging needs for the object types, kinds etc.

[code]

With the https://github.com/projectcontour/contour/pull/2808 PR schema method is added. However we need to add all Contour schemes into that.

[code]

Create a universal schema under /k8s that way we don't need to manage objects manually.

[2020-08-20 16:09] laurovenancio opened #2819 "Add an optional delay before draining envoy connection during shutdown"
When the envoy pods are deployed as headless, during its shutdown, we have to wait the kubernetes endpoints update before draining the connections. This is usually done by adding a sleep command to the preStop hook. As contour container image is made from scratch and sleep command is not available, this is not possible.
So, it would be very useful if the 'contour envoy shutdown' command could have

[2020-08-20 22:23] shyaamsn commented on #2743
Got some flakes running the tests:

[code]

[code]

[2020-08-20 23:02] danehans commented on #2187
@jpeach the proposed operator will not implement the OpenShift IngressController type. I was just using that as an example.

[2020-08-21 01:42] jpeach commented on #2818
2 suggestions for this:
1. Add `func k8s.NewDefaultScheme()*runtime.Scheme` that returns a new, fully populated scheme
2. Add `var DefaultScheme *runtime.Scheme` as a global that is set in a package `init()`.

Probably either of these approaches is fine. I expect that a default global scheme will be useful for the helper APIs though.

[2020-08-21 02:54] mattmoor opened #2821 "Support ExternalName without ports"
ExternalName kubernetes services are not required to specify ports, in Knative (today) we use a spec that looks like:
[code]

However, when this is the target of an HTTPProxy we get the following error message with 1.7:

[code]

My understanding is that the semantics of ExternalName (without ports) is that of a CNAME record, so port-in = port-out.  Furthermore, it is worth confirming that External

[2020-08-21 02:57] jpeach commented on #2821
So in Contour, this would mean that an ExternalName service accessed via the HTTP listener would get port 80 and one accessed via the HTTPS listener would get port 443. However, in practice, I would expect that external services are usually served over HTTPS, which would mean that you want 443 in both cases.

[2020-08-21 03:02] mattmoor commented on #2821
The way we use ExternalName it is to basically front the gateway with different hosts on-cluster, so we'd want 80->80 and 443->443.

[2020-08-21 03:03] mattmoor commented on #2821
It's basically a trick to use K8s ExternalNames services to trigger host-based dispatch w/ contour

[2020-08-21 03:44] jpeach commented on #2743
@shyaamsn In all those cases, the error `# Error - got status 503, wanted 200` indicates that the virtual host wasn't provisioned in Envoy before the check timed out. You can use the `--check-timeout` flag to tell integration-tester to wait longer (the default is 30sec). For example:
[code]

[2020-08-21 06:31] shyaamsn commented on #2743
@jpeach These failures are with check-timeout=120s . Do you want me to increase it further ?

[2020-08-24 00:15] jpeach commented on #2743
Are you sure that it is not a real test failure?

[2020-08-24 01:25] georgegoh commented on #2050
I've been exploring some possibilities for the CRD upgrade in the contour helm chart, and one way forward could be to separate out CRDs into a sub-chart, and then use that as a dependency for the main contour CRD.

As a test, I created a `contour_crds` as a sub-chart:
1. Place untemplated CRD yamls in a sub-chart's `templates` directory.
2. Did a helm install.
3. Modified the annotations in the su

[2020-08-24 03:55] youngnick commented on #2050
Hmm, that sounds pretty promising @georgegoh!

The corner cases I think are worth testing here are (doesn't seem like there could be any problems, but I've been surprised before):
- jumping a few versions in one go for the CRDs
- uninstall
- we don't really support downgrading of the CRDs, but what would happen if someone downgraded the Contour chart? Would the CRDs want to downgrade as well?

[2020-08-24 04:00] youngnick commented on #2323
Hi @prateekjainaa,

We have not had a chance to look at this issue yet, as you can see it's still in Parking Lot 1 on our Project Board. This means we'll try and get to it soon, but I can't make any guarantees about when that will be, sorry. We have some big refactors happening at the moment, but I'll raise your item with the maintainers and see if anyone can take a look.

In addition, PRs are alw

[2020-08-24 21:37] skriss commented on #2690
The min/max limits will be implemented via optional Gatekeeper policies.

Leaving this open to track removing the old config file field after a few releases.

[2020-08-25 00:47] jdelgadillo commented on #2578
We've run into this issue as well.  There is a sample Play App + Docker + kubernetes config here: https://github.com/mzesri/contour-sample

Which version of contour do we need to install? Which annotations should we be looking at?

[2020-08-25 01:30] youngnick commented on #2786
Okay, reviewing this one, I think I'm going to call it done.

[2020-08-25 01:30] #2786 closed

[2020-08-25 02:02] jpeach commented on #2578
Testing the HTTPProxy config in the initial report. The following Envoy config is generated:

[code]

Note that the `0s` for `timeout` and `idle_timeout` means that the corresponding timeout is disabled. `max_stream_duration` is not set, so it should not be applied.

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#envoy-api-msg-route-routeaction

You should b

[2020-08-25 03:42] jpeach commented on #2187
I created https://github.com/projectcontour/contour-operator to host exploring the options and utility of building an operator for Contour. I don't think the current Contour maintainers have strong opinions on an operator, but we are happy to support this and let anyone who is interested drive it forward.

[2020-08-25 03:42] #2187 closed

[2020-08-25 04:08] youngnick commented on #2443
Now that we are part of the CNCF, we have a few options for sharing credentials securely; I will investigate.

[2020-08-25 14:36] aberasarte commented on #437
The  design doc has been merged. In the following days I will start working on the implementation.

[2020-08-25 15:06] #2031 closed

[2020-08-25 15:06] #2772 closed

[2020-08-25 15:09] #2819 closed

[2020-08-25 17:44] jdelgadillo commented on #2578
This is the HTTPProxy we're using:
[code]

Should the `idle` attribute work as expected with v1.7.0?  (Our deployments are currently using v1.3.0)

[2020-08-25 21:34] danehans commented on #2187
Thanks for creating the repo @jpeach.

[2020-08-26 00:24] #2637 closed

[2020-08-26 07:31] jpeach opened #2833 "DAG Service and Cluster types duplicate the Protocol field"
In the `dag` package, both the `Cluster` and `Service` types have a "Protocol" field. Unit tests seem to indicate that the duplicate field isn't set consistently (see "insert httpproxy with h2 expecting upstream verification" in `builder_test.go`.

[code]

[2020-08-26 14:08] #2456 closed

[2020-08-26 15:56] prateekjainaa commented on #2323
Hi @youngnick,
  How are you? Regarding your suggestion on PR, can I expect any help like guidance on what all changes are expected? As we dont understand this code fully. I quickly glanced current code and can see annotations.go , envoy.go (excluding tests and documentation) as probable targets.

Regards,
Prateek

[2020-08-26 20:23] stevesloka opened #2834 "release examples: Make certgen job use tagged image"
The cert-gen job has always used an image tag of `:latest` to get around the issue of applying the same manifest on top of an existing installation, however, tagged releases use a unique name for each certgen job for that release so there's no need to use latest for releases and can cause issues for users in air-gapped environments.

We should remove the `:latest` tag and use a specific version.

[2020-08-26 20:47] skriss opened #2835 "an HTTPProxy with no routes, includes, or tcpproxy is marked as valid"
**What steps did you take and what happened:**
Create the following `HTTPProxy`:
[code]

See that the proxy is marked as valid:
[code]

**What did you expect to happen:**
The `HTTPProxy` should be marked invalid since it's "empty" and likely is a result of user error.

**Anything else you would like to add:**
We should also add either a kubebuilder validation or a Gatekeeper validation for this to

[2020-08-26 21:09] skriss commented on #2835
xref #2141

[2020-08-26 21:14] skriss commented on #2835
#2141 discusses more complex issues related to inclusion and chains of proxies. However, I think we could fix this more constrained issue (#2835) independent of that. I *believe* that any HTTPProxy that does not directly define at least one route, include, or tcpproxy can universally be considered invalid.

[2020-08-26 21:52] jpeach commented on #1436
The `e2e` -> `featuretests` migration is complete.

[2020-08-26 21:52] #1436 closed

[2020-08-27 00:49] youngnick commented on #2833
I think the `Service` protocol field can be set either from annotations on the Kubernetes Service, or via a HTTPProxy field under its `Service`, so it may not be set consistently?

[2020-08-27 00:51] youngnick opened #2836 "Add deprecation policy statement for `projectcontour.io` CRDs"
Among the maintainers, we've always agreed that the `projectcontour.io` CRDs would abide by the Kubernetes deprecation policy's principles, but we've never written that down.

This issue is to create a policy document so that we have it in writing, officially.

[2020-08-27 02:06] youngnick commented on #2323
Thanks for your interest @prateekjainaa! Yes, I would expect changes in `internal/annotations` for sure, to check for the annotation, and then in `internal/dag` to actually implement them. In this case, you can use `WebsocketRoutes` as a bit of a pointer to the patterns for parsing the annotations, then if you set the `LoadBalancerPolicy` to `Cookie` for the referenced routes, you should get the o

[2020-08-27 02:07] youngnick commented on #2456
Oh, I'm sorry @sp-manuel-jurado, I've completely missed this issue!

Is this still a problem for you, or did you manage to fix it yourself?

[2020-08-27 02:13] youngnick commented on #2835
In the inclusion case, I think that should mean that, if _all_ of the includes HTTPProxies also contain nothing, then the containing proxy will contain nothing, and therefore be invalid by this rule. I think that's okay, but it does mean that the listener could be removed if there's only one (invalid) HTTPProxy.

[2020-08-27 02:14] youngnick commented on #2834
Agreed, for the release examples only.

[2020-08-27 16:33] tong101 commented on #2834
So we will leave it to `:latest` in `main` and pin to specific version whenever we tag a release? Looks like this can updated together with other examples pointing to `latest` under `examples/contour` when we tag a release.

[2020-08-27 23:09] zianke commented on #2813
Hello. Can I ask if anyone is planning to work on this? If not yet, I have some experience with ingress-nginx and might be able to help on this. Just want to make sure, do we start from listing all the equivalent feature mappings?

[2020-08-27 23:12] tong101 commented on #2813
Feel free to pick it up @zianke. I think we can just list the equivalent mapping that Contour supports.

[2020-08-28 01:58] stevesloka opened #2844 "internal/xds: RegisterServer shouldn't allow registry to be optional"
The RegisterServer method in the xds package allows the prometheus registry to be optional (https://github.com/projectcontour/contour/blob/main/internal/xds/server.go#L45). This is probably to simplify the feature tests, but shouldn't be allowed to be like optional.

If a nil registry was passed into the serve.go main method, then no stats would be emitted.

[2020-08-28 14:50] mattmoor commented on #2777
@youngnick does setting that change the defaulting to use that minimum version, or would changing that cause previously valid things to be rejected?

[2020-08-29 13:33] cten commented on #1064
@jpeach is your example above the recommended way of doing this? Thanks!

[2020-08-29 22:25] mattmoor opened #2851 "Couple nits on helper method"
This comment looks outdated:
https://github.com/projectcontour/contour/blob/7e3f5a380e1a5fe2239613159825b729141f206d/internal/k8s/helpers.go#L22-L26

I would also advise against the direct use of `cmp.Equal` (or `cmp.Diff`) in non-test code because it panics as a failure mode.  We do use it in knative, but only through a wrapper that guards against panics.  Regardless, I believe the appropriate K8

[2020-08-30 04:32] jpeach commented on #1064
Yeh, for now it is.

[2020-08-30 22:09] #2851 closed

[2020-08-30 22:47] youngnick commented on #2744
With the release tooling confirmed working, I'll close out this issue.

For anyone watching, if you see any other non-inclusive language used in Contour, please feel free to do any of the following, whichever you are comfortable with:
- raise an issue here in Contour
- tell us in the #contour channel on k8s slack
- ping me privately on k8s slack (I'm `@youngnick` there.)

[2020-08-30 22:47] #2744 closed

[2020-08-31 03:34] youngnick commented on #2777
Once you pass the MinimumProtocolVersion, the secure listener will be set to not accept connections from that TLS version. So, clients that try 1.1 will not be able to connect.

Inside Contour, currently, we compare the version to 1.1, and if it's greater use that, otherwise, use 1.1. Implementing this PR would require changing that logic to default to 1.2, and drop down to 1.1 if and only if 1.1

[2020-08-31 05:55] jpeach commented on #2769
Fixed in #2805

[2020-08-31 05:55] #2769 closed

[2020-08-31 07:30] manast opened #2855 "Support for IP filtering (access lists) for HTTPProxy TCP Proxying"
Currently HTTPProxy support TCP proxying which is great for having a cluster with several instances of databases, such as Redis, that can be instantiated dynamically and let envoy handling the routing.

These databases can then be accessed by other clusters or services, but by default these databases become publicly accessible, so it is important to limit the access to only a set of IPs or IP rang

[2020-08-31 07:41] jpeach commented on #2855
It's possible that Kubernetes [network policy](https://kubernetes.io/docs/concepts/services-networking/network-policies/). You would deploy a Contour with a custom ingress class (e.g. "internal") that forwards to the Redis instances. Then network policy could be used to control access to the Envoy pods that the "internal" Contour is programming.

[2020-08-31 07:49] manast commented on #2855
To clarify why network policies may not work in this case: every database may have a different set of access list, so a global filtering will not do it.

[2020-08-31 09:46] jjimenezmont commented on #2730
Hi,

I'm sorry for the late response. I was on holidays. I have updated to projectcontour v1.8 and it's working now:

`vmware@ubuntugestion:~$ kubectl get httpproxy
NAME                 FQDN                           TLS SECRET                            STATUS   STATUS DESCRIPTION
httpproxy-tls-test   test.chie.junta-andalucia.es   projectcontour/secret-wildcard-chie   valid    valid HTTPProxy`

[2020-08-31 10:38] prateekjainaa opened #2856 "persistent stickiness equivalent in contour?"
Hi All,

 Is there an equivalent feature to persistent stickiness in contour as it is present in HAproxy? Or of there is someway of achieving it in contour?

 Q. What do we mean by persistent stickiness?
 Ans.  Clients requests routed to same server/pod, even after browser restart. For more on this, you can refer to section:
  **The difference between persistence and affinity** [here](https://www.

[2020-08-31 14:19] #2469 closed

[2020-08-31 14:19] plod commented on #2488
I've just come up against this issue and was looking for a guide. I'm fairly interested in picking this up if it's okay. Is it worth creating a guide setting up cert-manager with a wildcard domain like the guide that exists currently for cert-manager?

[2020-08-31 14:45] stevesloka commented on #2488
Hey @plod feel free to send over updates. Let me know if you have any questions and happy to review. =)

[2020-08-31 15:54] mattmoor opened #2857 "Performance: Contour suffers 2-3x slowdown programming Envoys under heavy churn"
**What steps did you take and what happened:**

tl;dr Run Knative's "scale-100" test.

I've been using Knative's Prow to run this for me.
1. `ko publish ./cmd/contour`
2. Replace references to `docker.io/projectcontour/contour:*` with digest in [here](https://github.com/knative/serving/blob/master/third_party/contour-latest/contour.yaml)
3. Open a PR, this will automatically run `pull-knative-serv

[2020-08-31 19:02] dsvetl commented on #2679
sup,

how it's going?

maybe remove label need-info .. or you really need more info?

[2020-08-31 19:06] dsvetl opened #2859 "Zone aware routing"
Hi, projectcontour,

You need to add the ability to contour to use this functionality in envoy

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/zone_aware#arch-overview-load-balancing-zone-aware-routing

I wish we can parse pod region/zone to provide this info into xDS API.

[2020-08-31 20:26] mattmoor opened #2863 "Tighter feedback loop with knative-sandbox/net-contour"
_This came up while investigating https://github.com/knative-sandbox/net-contour/issues/226_

Today Knative supports Contour via the integration at https://github.com/knative-sandbox/net-contour.  This repository currently pins a version of Contour, which is "supported" and used to validate the integration.  As of now this has lagged to 1.4, and updating to 1.7 uncovered an issue that was introduc

[2020-08-31 20:57] skriss commented on #2730
@jjimenezmont glad things are working now. I'll close this issue out but feel free to reach out again as needed.

[2020-08-31 20:57] #2730 closed

[2020-08-31 21:03] stevesloka commented on #2863
We currently only do builds against each PR + merge to the `main` branch, but would be easy to add more actions which are time based.

I'd like to work together with you on this to enable nightly builds and then possibly have a comment structure (e.g. `/test knative` or something) that would let us run them adhoc on PR's that might be interesting to test.

[2020-08-31 21:05] stevesloka commented on #2856
I think what you're looking for @prateekjainaa is what envoy calls `session-affinity`.

Have a look at the following docs: https://projectcontour.io/docs/v1.8.0/httpproxy/#session-affinity

[2020-08-31 21:07] stevesloka commented on #2859
I think this would be super interesting @dsvetl! The tricky part is finding out what you describe as a "zone". I know there are labels that get applied to nodes. So a quick thought would be to parse which endpoint is running on which node, then filter that information back into Envoy so it can make decisions on where to route to next.

We'd need to probably come up with a design doc to outline how

[2020-08-31 21:10] stevesloka commented on #2857
@mattmoor do you bump the version of Envoy along with the upgrade (i.e. using Envoy v1.15 vs something older?). I don't think it's going to give you that large of a bump, was just more-so curious.

[2020-08-31 21:12] mattmoor commented on #2857
We basically grab your release configs and apply some patches, so we use whatever Envoy you folks reference.

[2020-08-31 21:13] stevesloka commented on #2855
@manast are the differing access lists determined by which client is accessing?

Sounds like you might need an "allow" or "deny" list work to determine access, but the trickier part is implementing that per client (if I understand your problem).

[2020-08-31 21:15] stevesloka commented on #2834
I think we might change this to be `:main` for the `main` branch matching all the other images and when a release is tagged then it gets the specific version related to that release.

[2020-08-31 21:17] stevesloka commented on #2821
@mattmoor do you have a sample of the `HTTPProxy` used in your example?

[2020-08-31 21:20] stevesloka commented on #2810
Duplicate of https://github.com/projectcontour/contour/issues/2204?

[2020-08-31 21:21] stevesloka commented on #2306
@bgagnon hey just a quick follow-up on this, are you still seeing the memory issues? Sorry this seems to have gotten lost, but want to check in and verify how you're doing.

[2020-08-31 21:22] mattmoor commented on #2821
kubectl get svc autoscale-go -oyaml
apiVersion: v1
kind: Service
metadata:
  annotations:
    serving.knative.dev/creator: mattmoor@vmware.com
    serving.knative.dev/lastModifier: mattmoor@vmware.com
  creationTimestamp: "2020-08-20T02:50:08Z"
  labels:
    serving.knative.dev/route: autoscale-go
    serving.knative.dev/service: autoscale-go
  name: autoscale-go
  namespace: default
  ownerRefere

[2020-08-31 21:22] jpeach commented on #2863
This probably requires some work to make the install YAML more sustainable right?

[2020-08-31 21:23] mattmoor commented on #2821
The comment is a little subtle, but drop the ports and it's what we used to do.

Ironically adding the port to external name broke Istio in mesh mode 😬

[2020-08-31 21:24] mattmoor commented on #2863
We can discuss it, but our tweaks have been able to carry us forward for a while now without much headache on the yaml front.

[2020-08-31 21:29] stevesloka commented on #2809
Once we move to the go-control-plane xDS server, we have very easy control over which envoy gets what configuration. The architectural bit is that Contour would need to think about how to process multiple sets of xDS configuration.

You'd also probably want a way to determine what ports each instance of Envoy gets configured with. I know there's some work on an operator happening, might be a nice

[2020-08-31 22:42] jpeach commented on #2859
xref https://github.com/kubernetes/enhancements/issues/536

[2020-08-31 23:52] jpeach commented on #2855
The external auth network filter could probably help for this use case.

[2020-09-01 00:34] mattmoor commented on #2857
So for the patched case, above I had a bug (missing RBAC) with it fixed, things are worst (a couple failures).

My statement about the timeout being 5 minutes was also wrong, it's 5 minutes total, and we throttle the creation rate to 50 at a time, so I think it's better to think of the ceiling as 2.5 minutes.

Looking at one case that failed with the fixed path, it took about 60s for the httpproxy

[2020-09-01 00:47] mattmoor commented on #2857
As another interesting datapoint, if I take the patch above and add in an (unreasonably high) rate limit increase the latencies reduce to:

[code]

So we know:
1. Eliminating the status update massively improves latency (see original comment)
2. Increasing our client-side quota (to be unreasonably high) improves latency (directly above)

This makes me think that we're doing a fairly high volume of

[2020-09-01 01:42] youngnick commented on #2679
Sorry about this @dsvetl! To answer your question, yes that looks like what the HTTPProxy block would be, and the `/foobar` route doesn't conflict, so everything would work.

Technically, I think this would have to be implemented that you can't share _any_ methods between `method` conditions when the other conditions are the same. This is important because you don't _have_ to have a `prefix`, you

[2020-09-01 01:49] youngnick commented on #2834
Yes, I think the todo here is:
- change certgen to `:main` for the main branch
- update release tooling such that the certgen Job image is updated to the release version, the same as we do for other Contour container images.

[2020-09-01 02:27] jpeach commented on #2810
yup, or at lease close enough :)

[2020-09-01 02:27] #2810 closed

[2020-09-01 02:31] youngnick commented on #2855
I should also note that we support TCP proxying, but it's kind of intended to be for tunneling HTTPS sessions through to a backend service that wants to handle its own TLS, not really for any TCP protocol. Great that it works, but I can't say confidently that you may not encounter weird issues.

That said, even in the "forwarding HTTPS" case, I can see that IP filtering is probably a useful featur

[2020-09-01 04:25] mattmoor commented on #2857
So chatted with @youngnick a bit in slack, and here's a theory about why client rate-limiting might be affecting the latency of Envoy programming.

When Contour rebuilds the DAG, the leader sets the status on http proxies before returning:
https://github.com/projectcontour/contour/blob/2e80af0f34bf674ac488e0d05ce4c3128c09bd23/internal/contour/handler.go#L218

For each http proxy, this calls SetSta

[2020-09-01 06:20] manast commented on #2855
@stefanprodan not per client but per database. For example, in digital ocean when you request a redis instance you can also choose an access list of IPs that are allowed to access it.

[2020-09-01 06:23] manast commented on #2855
@youngnick for me it is working great, and the only alternative I could find for kubernetes that worked out of the box. As @jpeach mentioned before, a first step maybe is just to expose the auth network filter and then let the implementation of the access list to the user, but of course the most user friendly would be to support ip lists and ranges. Please let me know if there is something I can d

[2020-09-01 09:29] prateekjainaa commented on #2856
@stevesloka , apologies from my side. I should have stressed more on the "persistence" nature of session affinity. As far as I understand, session affinity works till browser has session with site. If browser is restarted then, session affinity is gone (request can land on new server).  HAproxy supports this feature where session affinity survives browser restarts (persistent stickiness).

Let me

[2020-09-01 22:51] jpeach commented on #2856
The contour `Cookie` load balancer strategy uses a session cookie. IIUC, the HAProxy "persistent" session affinity does cookie-balancing but uses an application-specified cookie to do so (which means that the persistence of the balancing is proportional to the persistence of the application cookie value).

That seems like a reasonable feature request.

[2020-09-01 23:55] jpeach commented on #2050
Yup, I expect that [contour-operator](https://github.com/projectcontour/contour-operator) might take that approach.

[2020-09-02 00:56] Nwhouse opened #2868 "Build and release ARM images"
Hello.
I am deploying for the first time to a Kube Raspberry Pi Cluster and seeing the below
[code]

Any assistance would be great.

Thanks

[2020-09-02 05:01] youngnick commented on #2868
Hi @Nwhouse, thanks for this issue. I edited your comment to fix the formatting.

The contour-certgen job needs to successfully run before Contour will be able to start.
I would suggest checking out the logs for `contour-certgen-v1.8.0-6jjcf` or `contour-certgen-v1.8.0-6vtp6`.

[2020-09-02 08:59] #2793 closed

[2020-09-02 11:26] prateekjainaa commented on #2856
@jpeach IIUC, stickiness survives contour or envoy restarts; because it is based upon cookies. Let me know if I am missing something here.

[2020-09-02 15:40] #2835 closed

[2020-09-02 15:58] bgagnon commented on #2306
Our latest stats:

* Version: `docker.io/projectcontour/contour:v1.2.1`
* Envoy pods: 3
* HTTPProxies: 455
* Ingress: 0
* Services: 590
  * 352 referenced by HTTPProxies
* tls secrets: 1217
  * 408 referenced by HTTPProxies

Contour memory consumption:

* leader: 380MB
* follower: 170MB

We've seen a drop in memory consumption when we scaled down Envoy from 20 pods to 3 pods.
That seems to be the

[2020-09-02 17:49] evankanderson commented on #2863
I missed a link to the issue that was discovered, but Knative does a bunch of ... interesting things with HTTP routing in combination:

1. Plays dynamic games with Services to swap Pods in and out of rotation
2. Is sensitive to latency in propagating routes vs reporting ready
3. Adds a lot of load all at once when testing.

One other option would be that Knative / `net-contour` could produce a nig

[2020-09-02 18:09] mattmoor commented on #2863
So we used to be able to pull Contour's configs via git, and rebuild Contour itself from vendor with `ko`, which WOULD have allowed us to hack `./hack/update-deps.sh --upgrade` track the `main` branch and given us this.  We'd freeze to the latest Contour release branch prior to Knative releases, but there are two things standing in the way of that today.

1. Client version skew (in particular brea

[2020-09-02 20:16] stevesloka opened #2872 "requestHeadersPolicy does not get applied to a service"
A `requestHeadersPolicy` should be able to be specified for a service (https://github.com/projectcontour/contour/blob/main/apis/projectcontour/v1/httpproxy.go#L261) but doesn't get applied properly when configured in an HTTPProxy resource.

If configured in a route, then it does get configured properly.

[2020-09-02 20:21] stevesloka opened #2873 "proxy to externalName service returns 503"
When configuring a route to an `externalName` service, requests don't get fulfilled properly, but return 503 errors. My first thought is that Envoy is not proxying when its DNS lookup returns an ipv6 address for the external resource.

Below are some examples which recreate the issue. One thing to note is if you use my domain (e.g. `stevesloka.com`), it results in an ipv4 address and the proxy wor

[2020-09-02 20:57] skriss commented on #2226
Now that #2847 has landed I'm starting to look at having the `Processors` (probably to be renamed builders eventually) operate directly on the DAG, rather than a Builder. Looking at what a good API for that looks like.

[2020-09-02 21:29] jpeach commented on #2856
Contour is not in the data path so it has no effects. Cookie balancing survives envoy restart but not browser restart (it's a session cookie).

[2020-09-02 21:42] prateekjainaa commented on #2856
So the solution to survive browser restart would be to make it support
stickiness based on application cookie? That's the feature you talked about?

On Wed, Sep 2, 2020, 10:29 PM James Peach <notifications@github.com> wrote:

[2020-09-03 01:37] jpeach opened #2874 "Auth: Set ExtensionService status Conditions"
**Please describe the problem you have**

There's currently no internal API to set status conditions from the context of a build processor. This means that processing an ExtensionService has no way to update the status on the ExtensionService resource to publish validation or consistency errors.

Once there is an internal API, we can do this.

Blocked by #2495

[2020-09-03 01:47] jpeach opened #2875 "Auth: Support externalname services in ExtensionService"
**Please describe the problem you have**

During the design review, we added the a ability for ExtensionServices to spread traffic across multiple Kubernetes services (they are aggregated in EDS with a cluster load assignment). However this approach won't work for external name services, because those have a different Envoy cluster type, and we can't generally mix and match intra-cluster services

[2020-09-03 01:47] jpeach commented on #2875
@stevesloka WDYT? This should be workable?

[2020-09-03 06:17] youngnick commented on #2809
I think there are a number of key decisions:
- Do we allow a single Contour instance to have multiple *Class objects (perhaps only at most one of each type)?
- Do we allow a *Class object to carry configuration?
- How do those decisions interact with building load balancing configuration from different types of object? (For example, annotation `ingress-class`, IngressClass, and GatewayClass)

To a

[2020-09-03 07:50] javsalgar opened #2878 "Does Contour support FIPS-allowed encryption?"
**Please describe the problem you have**

Some applications like Elasticsearch have a FIPS mode that forces the application to use FIPS-compliant encryption mechanisms (https://www.elastic.co/guide/en/elasticsearch/reference/current/fips-140-compliance.html). I didn't see here (https://projectcontour.io/guides/tls/) if it is possible to allow something similar to Contour. Looking a bit further it

[2020-09-03 11:40] manast commented on #2855
Basically I think that what we need is this functionality available in istio, I am assuming they support TCP too:
https://istio.io/latest/docs/tasks/security/authorization/authz-ingress/

[2020-09-03 14:06] stevesloka commented on #2875
What is your proposal @jpeach? To have externalName services be instead implemented as ExtensionServices? Or to have Contour create the ExtensionService in the background?

I always thought we should remove the need for the externalName service and just allow users to specify the url on the HTTPProxy.Spec.Route document.

[2020-09-03 18:03] stevesloka opened #2879 "Update Cert-Manager Guide"
Now that CertManager is v1.0 🎉  we should update the guide around how to deploy/use cert manager with Contour.

[2020-09-03 20:51] Nwhouse commented on #2868
Hi @youngnick
So I am new to this and building my first Kube cluster. As I had been messing around with it quite a bit I decided to just scrap it and start over. Once I got my cluster up I deployed Contour. As such I am still seeing the same results.
I am also trying to figure out where to acquire the logs from. If you could assist me with finding the logs I will post them so hopefully we can figu

[2020-09-03 21:02] jpeach commented on #2878
If you bring a FIPS-compliant Envoy image to your deployment, then everything should work fine. The only potential issue that I can think of is whether the cipher suite that Contour configures is allowed in FIPS (I suspect that it should be OK).

[2020-09-03 21:05] jpeach opened #2880 "Make the TLS cipher suite configurable"
**Please describe the problem you have**

It's common for sites to need to configure the TLS cipher suite. This should be globally configurable, even better if we can allow it to be configures per host.

xref #2878
xref #2401

[2020-09-03 21:27] skriss commented on #2868
The outputs of `kubectl -n projectcontour describe pod contour-certgen-v1.8.0-6jjcf` and `kubectl -n projectcontour logs pod/contour-certgen-v1.8.0-6jjcf` should be a good start (substitute the correct pod name since they've changed).

[2020-09-03 21:48] ccravens commented on #2776
@youngnick I found this looks like Envoy V3 is offering this type of capability, so I think we can just implement this Envoy feature using the proposed manifest descriptors above? What are your thoughts?

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routeaction-regex-rewrite

[2020-09-03 22:06] ccravens commented on #2776
Also it looks like there is an open WIP on Envoy for this exact request as well :)

https://github.com/envoyproxy/envoy/pull/12938

[2020-09-03 22:12] ccravens commented on #2776
Also another good one to follow: https://github.com/envoyproxy/envoy/issues/12591

[2020-09-03 23:57] jpeach opened #2883 "Support for SPIFFE certificates"
**Please describe the problem you have**

The validation checks in `validateCertificate()` will fail for SPIFFE certificates, which is probably undesirable. We do want people to be able to configure SPIFFE certificates, especially for client authentication use cases.

[2020-09-04 00:02] jpeach commented on #2875
This is the case where and ExtensionService references a Kubernetes external name Service. The use case for this is that you have an OIDC auth infrastructure but it lives outside the cluster.

My proposal is to require that all the Services references by a single ExtensionService should be external name or none of them should be. I'm assuming here that if more than one external name service is use

[2020-09-04 02:38] Nwhouse commented on #2868
Thanks @skriss

`
Name:         contour-certgen-v1.8.1-42jf2
Namespace:    projectcontour
Priority:     0
Node:         pinode3/10.0.0.43
Start Time:   Thu, 03 Sep 2020 20:42:07 +0000
Labels:       app=contour-certgen
              controller-uid=31571ab5-08d9-48f8-a4a2-751189943596
              job-name=contour-certgen-v1.8.1
Annotations:  <none>
Status:       Failed
IP:           10.244.3.3
IPs

[2020-09-04 02:53] jpeach commented on #2868
`Raspberry Pi Cluster` - we don't build or ship ARM images for Contour.

[2020-09-04 13:36] Nwhouse commented on #2868
Ahhh. well that answers the question.

Thanks!

On Thu, Sep 3, 2020 at 10:53 PM James Peach <notifications@github.com>
wrote:

--
Nathan Whitehouse
nathan@whitehouse-family.net
P. 770.831.7460
M. 770.378.9067

[2020-09-04 20:11] moderation opened #2885 "Add support for forwarding of client certificate material to pod (xfcc in Envoy)"
https://github.com/projectcontour/contour/issues/1090 references this functionality but the issue was closed with merged support for client cert validation at Contour only.

NGINX implements this functionality with the annotation `nginx.ingress.kubernetes.io/auth-tls-pass-certificate-to-upstream`

We have teams using this annotation with NGINX to perform mTLS with the certificate material upstream

[2020-09-05 00:50] jpeach commented on #2868
Updated title. ARM is totally reasonable for homelab usage and becoming more popular with cloud providers too.

[2020-09-07 00:32] hargrave81 commented on #2879
Is there some guidance at all on how to get it working, I've been banging at this for a couple weeks now and still have not been able to get the contour to "listen" to 443, which appears to effectively break the let's encrypt cert manager from ever getting my cert.

[code]

I've tried several iterations of the ingress controller to get it to "go".  I've tried different versions of the cert-manager

[2020-09-07 01:14] youngnick commented on #2879
Hi @hargrave81, it does look like the let's encrypt challenge is failing.

I'm not sure how cert-manager determines the CN and the SANs when there are multiple names in the Ingress record, I would check that by testing with just one name first.

I'm not sure what you mean by you haven't been able to get Contour to listen to 443 - in our example deployment, *Envoy* listens on 443, and should serve

[2020-09-07 01:49] hargrave81 commented on #2879
I'll try just one name, my services all listen on port 80 fine, and as soon as I do the redirect to TLS annotation the service goes belly up, as 443 doesn't respond.  When I run a port scanner it says that 443 is not being listened to.

[2020-09-07 01:50] youngnick commented on #2856
Currently, Contour's session persistence works like this:
If you enable it, Contour will tell Envoy to generate a browser session cookie and hash backends based on that cookie. We achieve this by explicitly setting a TTL of 0 on the cookie.

This was chosen because there is no way to choose a default value for the TTL that makes sense - it needs to be relatively close to the lifetime of a backend

[2020-09-07 01:53] youngnick commented on #2879
Contour will only open port 443 when there is a valid HTTPS config from some source. Cert-manager *should* be making its own HTTP Ingress object to answer the HTTP01 challenge, which should allow the secret to be present for your Ingress, which will make that Ingress valid, which will result in port 443 being open.

In other words, until the secret contains a valid TLS certificate for the FQDN you

[2020-09-07 02:03] youngnick commented on #2776
Thanks for the research @ccravens!

A couple of things:
- We don't use the xDS v3 APIs yet. We are refactoring some things to be able to get there, but #1898 is the current issue to watch for updates.
- Even once Envoy grows the replace feature, I'm concerned about allowing the specifying of a regex, just because of the problem I mentioned with Envoy stopping receiving updates on config error.

Th

[2020-09-07 02:11] youngnick commented on #2885
Just to add to @jpeach's labels, I think this is a reasonable request, that will just require some product thought about where we put it in terms of config.

[2020-09-07 03:14] hargrave81 commented on #2879
Again, thanks for pointing me toward some new ways to try and solve the problem.  Once you suggested breaking down the request to a single domain, it gave me a slightly different error that lead me to another search result that ultimately helped me find the "challenge" logs.  It indicated that the "kubernetes" server was unable to see itself on the WAN IP (e.g. it tried to reach out to imgdelivere

[2020-09-07 04:09] georgegoh commented on #2050
@youngnick sorry it took so long to get back.

I think this *should* work fine as the objects get replaced.

This seems to be a problem here. My test steps were:
1. Install with sub-chart containing CRDs.
2. Create a httpproxy object.
3. Uninstall.

What I observed was 1) the CRD was removed even though the httpproxy object was not deleted, 2) the httpproxy object created earlier did not return af

[2020-09-07 04:15] youngnick commented on #2050
This is relatively expected behavior; when the CRD itself is removed, all objects of that type will also be removed.

I guess the version upgrade thing will rely on us keeping the API guarantees. :)

These upgrade concerns are particularly important across CRD object version boundaries. I'm worried about what will happen across the CRDv1alpha1 to CRDv1 boundary (when we move HTTPProxy there soon).

[2020-09-07 04:37] georgegoh commented on #2050
Yes - at least until there's an operator :-)

I'll continue work and aim to submit a PR to the bitnami repo by end of week and hope to get some reviews there too, so that we don't get blindsided by other issues.

[2020-09-07 06:58] manast commented on #432
That seems like a different feature, or if you like a refinement that can be implemented later. As for now, the external authorization even if not optimal in all cases would help in solving many use cases that are kind of impossible to achieve today.

[2020-09-07 07:01] manast commented on #432
@jpeach Should I open a separate issue for implementing external_auth on TCP or would this one include it already? https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/ext_authz_filter#config-network-filters-ext-authz

[2020-09-07 07:05] jpeach commented on #432
@manast Yeh, could you please file a separate issue? This is scoped only to HTTP.

[2020-09-07 07:37] ShaileshSurya commented on #2811
@jpeach @youngnick  This issue can not be closed as there is one more PR open to be merged. https://github.com/projectcontour/contour/pull/2827

[2020-09-07 14:18] manast opened #2888 "Provide support for integrating with external auth for TCP connections"
Since external authorization is WIP for HTTP https://github.com/projectcontour/contour/issues/432 And since Envoy also supports network auth https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/ext_authz_filter#config-network-filters-ext-authz, we would also like to have support for TCP connections. This will make possible to expose TCP services such as databases out

[2020-09-07 14:22] manast commented on #432
@jpeach ok, done: https://github.com/projectcontour/contour/issues/2888

[2020-09-07 14:23] #2855 closed

[2020-09-07 14:25] manast commented on #2888
To clarify in case this was not clear enough: the feature I am requesting would be on the HTTPProxy CRD, so that we can have different auth functions for every service, not just a global auth.

[2020-09-07 23:28] jpeach opened #2889 "Auth: Add metrics for ExtensionServices"
**Please describe the problem you have**

Contour should publish metrics for ExtensionService resources, at least similar to the metrics it shows for HTTPProxy resources.

xref #432

[2020-09-07 23:34] jpeach commented on #2888
Doing this per-HTTPProxy resource is different than adding support for the network-level auth filter. Maybe one approach is to figure out some builtins that can add client connection information to the metadata map that the auth service gets. Might need some new Envoy support for that, not too sure.

[2020-09-08 06:26] manast commented on #2888
ok, in my particular case, if the auth filter also has information such as the hostname then it solves my requirements, so I am more than happy with such an implementation :).

[2020-09-08 18:07] stevesloka commented on #2875
I understand this is for ExtensionService & not HTTPProxy but the same semantics apply. The goal is to reference some external resource.

What's the value in adding another object type to manage when all we need is the value of the external dns name? That's my question in the design.

It makes sense for "Ingress" objects since the spec requires a reference to a service, but what if instead of Exte

[2020-09-08 19:42] stevesloka opened #2891 "internal/dag: Refactor endpoints translator into dag rebuild"
Endpoints don't update WITH the dag, they update AFTER the dag, I misunderstood that when implementing the snapshot handler bits for the go-control-plane work.

We should just update the endpointstranslator to happen inline with the dag rebuild since we'll push cluster updates before even looking at endpoint updates given we want to still tie the endpoints change with a dag rebuild.

Doing this th

[2020-09-08 19:46] bgagnon commented on #1898
According to https://www.envoyproxy.io/docs/envoy/latest/api/api_supported_versions, the V2 API will stop being supported at the end of _this year_.

[2020-09-08 20:29] stevesloka commented on #2891
I'm experimenting with an `OnChange()` style notifier that the snapshothandler could subscribe to solve this.

[2020-09-08 20:32] skriss commented on #1898
We should move this into Prioritized -- we're aware of the EOY deprecation deadline and are working towards adding v3 support.

[2020-09-08 21:55] jpeach commented on #2875
Oh I understand what you mean now. So your suggestion is something like adding an DNS name field to ExternalService that can be used instead of the current weighted services? Yep that's worth experimenting with.

[2020-09-08 22:54] #2891 closed

[2020-09-08 23:12] jpeach commented on #2859
@dsvetl This is a pretty open ended project, and we are not likely to tackle is in the immediate future. If you have a proposal for how zones should be defined and handled in Contour+Envoy, we can help design and implement that.

[2020-09-08 23:23] youngnick commented on #2767
Looking over this again, there is another caveat: If you want to join Contour's Envoys to Istio's service mesh, we will need to implement #2883 to enable the Contour Envoys to specify a SPIFFE client cert and complete the mTLS exchange.

xref #2883

[2020-09-08 23:41] youngnick commented on #2857
This issue was fixed in [release 1.8.1](https://github.com/projectcontour/contour/releases/tag/v1.8.1). Thanks @mattmoor for all your work in getting to the bottom of it!

[2020-09-08 23:41] #2857 closed

[2020-09-09 00:32] jpeach opened #2893 "Auth: add explicit SNI name support for ExtensionService"
**Please describe the problem you have**

The ExtensionService processing configures Envoy to send a SNI server name when upstream TLS validation is enabled. However, there may be cases where you need to send a different name than you validate or you want to send the name but not validate.

Two options seem appropriate:

1. Allow upstream validation with just a server name (CA secret omitted). Thi

[2020-09-09 03:29] #2811 closed

[2020-09-09 04:20] ShaileshSurya commented on #2811
Hey, @youngnick @jpeach it was really great working with you guys. I would like to contribute more to this project. Please feel free to mention me in any issue you think I can contribute.

[2020-09-09 05:21] youngnick commented on #2811
Thanks for all your help @ShaileshSurya! Please feel free to pick up any [`help-wanted`](https://github.com/projectcontour/contour/labels/help%20wanted) or [`good-first-issue`](https://github.com/projectcontour/contour/labels/good%20first%20issue) issues, they're ready for contributions any time you are.

If you do decide to pick something up, please just assign it to yourself, and get started. Fe

[2020-09-09 05:23] youngnick commented on #2875
I think there is value in allowing people to use ExternalName services though - they're already present in Kubernetes, people are already using them, and they should work correctly.

[2020-09-09 19:24] stevesloka commented on #1898
I'm going to poke around a bit to see how we might address this migration.

[2020-09-10 02:20] bgagnon opened #2896 "Shutdown manager "error checking for file" log messages shouldn't be at ERROR level"
After upgrading to Contour 0.8.1, I was surprised to find these entries in the `shutdown-manager` container logs:

[code]

My initial thought was that something was not configured correctly. But further investigation leads me to believe this is the normal behavior for the shutdown manager.

It polls a file continuously until it exists. Since it expects **not** to find it, I would argue errors from

[2020-09-10 02:49] bgagnon opened #2897 "ShutdownManager's /shutdown loop does not exit when client cancels request"
The `/shutdown` handler in the `shutdown-manager` container has an infinite loop. If the HTTP client aborts the request and closes the connection, the goroutine performing that infinite loop will continue indefinitely (unless the the `/ok` file shows up).

I think the handler should use the `CloseNotifier` channel to exit if the client gives up:
https://golang.org/pkg/net/http/#CloseNotifier

This

[2020-09-10 04:38] #2713 closed

[2020-09-10 14:35] skriss commented on #2896
I'd add that we should differentiate between `os.IsNotExist(err)` (expected errors), and all other errors. The former should be logged at `info`, and the latter should be logged at `error`.

@bgagnon were you planning to work on this? If not, I can pick it up.

[2020-09-10 15:02] bgagnon commented on #2896
@skriss I can work on this, yes.

BTW, I think commit 2fb8de3e from @jpeach introduced a regression in the error checking condition in this very handler function.

[2020-09-10 15:22] stevesloka commented on #2872
I dug into this a bit more and the issue we're really seeing here is that `Host` headers do not get applied since they are a special case. Additionally, there isn't a way to rewrite the host header for a Cluster in Envoy, so that can only be applied to the route level. I'm going to send a PR to update Contour with this such that users get a proper error if the `Host` header is set on a service lev

[2020-09-10 15:28] skriss commented on #2896
Yep, I noticed the same, need to fix that as well :) thanks!

[2020-09-10 20:13] stevesloka opened #2901 "Refactor dag Cluster indirection"
The `dag` package which is responsible for the intermediate ingress configuration for Contour has ended up with some indirection that I think we can make easier. One example of this is in the [`envoy/listener_test.go`](https://github.com/projectcontour/contour/blob/402249005536a6702d18bdb8657b8b56e3268400/internal/envoy/listener_test.go#L695-L708) which has a `Cluster`, having an `Upstream`, which

[2020-09-11 04:16] mattmoor commented on #2863
The "Client version skew" is being addressed imminently, and I have stacked a PR (https://github.com/knative-sandbox/net-contour/pull/254) that resumes building Contour directly from source.

If we had a way to pull either nightly rendered configs, or the configs from `main` then we could get a relatively quick feedback loop here 😍

---

A couple other notable pieces:
1. I have the [kingress confo

[2020-09-11 04:26] jpeach commented on #2717
Sample fixtures

[code]

[2020-09-11 12:47] perithompson opened #2903 "CRD "Strict mode" to validate schema on create and edit"
**Please describe the problem you have**

During the creation of new HTTPProxy resources, values, such as timeoutPolicy, can be incorrectly indented and the creation will be accepted without any errors or warnings.  This can lead to long periods of troubleshooting believing the timeoutPolicy has been set correctly rather than being ignored.  Could the CRD be edited to include a "strict mode" to [v

[2020-09-11 14:49] #2896 closed

[2020-09-11 14:49] #2897 closed

[2020-09-11 14:55] skriss commented on #2903
xref #1978

[2020-09-11 16:05] skriss commented on #2680
@stevesloka @jpeach has this been fixed by #2805?

[2020-09-11 22:17] laurovenancio opened #2904 "Sometimes the ingress status address is not updated"
**What steps did you take and what happened:**
I created a new ingress and the Ingress Status address was not updated.
There is an error message in the contour log:

time="2020-09-11T20:40:57Z" level=error msg="unable to retrieve object for updating" context=StatusUpdateWriter error="ingresses.networking.k8s.io \"redacted\" not found" name=redacted namespace=redacted resource="networking.k8s.io/v1

[2020-09-11 23:22] mattmoor commented on #2863
You can see `2.` in action here: https://github.com/knative/pkg/actions/runs/250592356

[2020-09-13 20:53] n3wscott commented on #2863
Here is an example of what we are doing in pkg for downstream projects in knative:

https://github.com/knative/pkg/pull/1653

[2020-09-13 23:34] youngnick commented on #2903
Thanks for this issue @perithompson. Functionally, we hope to deliver this by moving out CustomResourceDefinitions from v1alpha1 of the CRD object to v1 of the CRD object (#2678). That issue blocks a whole bunch of things, but we have been waiting until we could be reasonably confident that most of our users were running Kubernetes 1.16, which is the first version that had CRDv1 available.

Now th

[2020-09-13 23:41] youngnick commented on #2904
Hmm, very interesting, thanks @laurovenancio.

So, can I confirm that your steps were just creating the Ingress, and the status was then never updated?

The code for this is supposed to pull the object from the Lister cache, which _should_ have the object, since there's been an update generated for it.

@mattmoor, any thoughts from you? From what I understand about the Lister cache, if there's bee

[2020-09-14 02:39] mattmoor commented on #2904
Yeah, `OnAdd` is called when it enters the cache and `OnUpdate` is called when it changes.

A nice property of this is that the Lister cache is always as up to date as the events that triggered reconciliation.  It can still be behind the actual state of the world, but if it is acting on stale information, then we can be assured that when our cache is made current new events will be fired and recon

[2020-09-14 09:12] mkilchhofer opened #2907 "Run envoy pod as non-root"
**Please describe the problem you have**
Referring to the blog post at [kubernetes.io > 11 Ways (Not) to Get Hacked](https://kubernetes.io/blog/2018/07/18/11-ways-not-to-get-hacked/#8-run-containers-as-a-non-root-user) we should try running envoy as a non root user.

[2020-09-14 10:29] perithompson commented on #2903
Thanks for this @youngnick makes sense! Will add a watch to that issue, and in this case, it was Kubernetes 1.16.x where we experienced the problem.

[2020-09-14 15:01] laurovenancio commented on #2904
Yes. I don't know how frequent is this issue. I updated Contour to 1.8.1 last Friday morning. During the day, three new ingresses were created. Everything worked fine with the first two, but we had this problem with the last one.

To recover from the problem, I had to restart the contour leader pod.

I am not sure if this is relevant, but, when the issue occurred, there was no connection on the le

[2020-09-14 15:45] stevesloka commented on #2728
// cc auth impl: https://github.com/projectcontour/contour/pull/2886#discussion_r486606226

[2020-09-14 16:34] laurovenancio commented on #2904
@youngnick I have a theory: I notice that the StatusUpdateHandler and the loadBalancerStatusWriter use different instances of the InformerFactory. These instances may not be in sync all the time.

The InformerFactory for the StatusUpdateHandler is created at https://github.com/projectcontour/contour/blob/main/cmd/contour/serve.go#L146
The InformerFactory for the loadBalancerStatusWriter is created

[2020-09-14 16:58] mattmoor commented on #2904
That could be a problem, good find.

You want the same (shared) informer factory stamping out (shared) informers.

[2020-09-14 18:00] stevesloka opened #2908 "internal: Secrets that aren't referenced from an ingress object are still validated"
Any secret that exists in the cluster is validated to make sure it's a good cert to use inside Envoy, however, Contour shouldn't process each secret, but only those that are referenced from any ingress object.

[2020-09-15 00:01] #2715 closed

[2020-09-15 01:24] youngnick commented on #2903
Awesome, I think I'm going to see if we can get CRDv1 into 1.9 - a big ask, but possible.

[2020-09-15 01:25] youngnick commented on #2904
Ah, great. That does suggest a fix, I'll have a look and see how we can wire the same one to both places.

[2020-09-15 03:14] #2834 closed

[2020-09-15 03:22] youngnick commented on #2863
@mattmoor what do you need to be able to pull the configs from main? If there's changes Contour needs to make to help, we can sort something out.

[2020-09-15 03:33] youngnick commented on #2907
Yes, you can definitely do that - it's a little confusing though because you have to tell *Contour* that Envoy should be configured on 8080 and 8443 as well as set up the Daemonset and Service wiring.

Contour will actually default to using those ports for Envoy's HTTP and HTTPS listener respectively, in our example YAMLs, we override that using `--envoy-service-http-port` and --envoy-service-http

[2020-09-15 03:35] mattmoor commented on #2863
What we were doing before (`dummy.go`) should work.  We switched to consuming your release yamls to get past 1.4.

[2020-09-15 08:55] mkilchhofer commented on #2907
Hi @youngnick,
Thanks for explaining it. I knew I already saw these params while I was working on the bitnami helm chart improvements for contour.
I already have a working non-root setup with the bitnami chart: https://github.com/bitnami/charts/pull/3674.

Regarding writing this down in a guide: I will do it as far as I find some time to do this :+1:

[2020-09-15 17:15] #2872 closed

[2020-09-15 19:22] skriss commented on #2690
I'd like to remove the deprecated field in 1.10 - 3 minor releases after it was deprecated. That sound reasonable to everyone?

[2020-09-15 23:35] bgagnon opened #2911 "Expose X-Request-Id header in downstream responses"
This is the issue described in envoyproxy/envoy#5828. The simple solution is to set `always_set_request_id_in_response: true` on the `HttpConnectionManager` filter, but I think this is only available in xDS API v3 (see #1898).

This may not be desirable in all installations of Contour and could be configurable at various levels:

- globally, via Contour config
- locally, via `HTTPProxy`

Conceptua

[2020-09-16 07:12] youngnick commented on #2911
The basic ask seems pretty reasonable to me, it does seem like this is probably blocked behind #1898 though.

[2020-09-16 07:18] youngnick commented on #2690
Yes, that's quite reasonable.

[2020-09-16 08:49] binnythomas-1989 commented on #2907
Guys I tried the same using @mkilchhofer  helm chart changes that he made. Had to do some more stuff mentioned here https://github.com/bitnami/charts/pull/3674 to get it working.  But The envoy container on 8443 says connection refused.

[code]

[2020-09-16 14:49] #2226 closed

[2020-09-16 17:01] skriss commented on #2678
A few notes here:
- personally, I don't think we need to generate both `v1` and `v1beta1` CRD YAML -- Kubernetes 1.16 (where CRDs moved to GA) has been out for a year, and folks can always pull an older release of Contour if they really need pre-1.16 support. Moving to generating **just** `v1` CRDs is a lot simpler. Would like to get agreement from other maintainers on this, though.
- currently, o

[2020-09-17 01:29] youngnick commented on #2678
I'm fine with only outputting the CRD `v1` objects, as you say, I think 1.16 has been out long enough, and this functionality will save all our users a lot of headaches with simple formatting and validation errors.

[2020-09-17 05:28] youngnick commented on #2749
I'm marking this for removal in 1.10.

[2020-09-17 06:31] movikbence opened #2918 "contour startup issue on IPv6"
Hello!

I am trying to deploy contour on an IPv6 cluster, and I've noticed a weird issue with it. After the deployment, the contour pod restarts just after it has been scheduled on a worker node.

Log message from contour:
failed to create Kubernetes clients: Get "https://[2001:db8:10a:8159::ffff:1]:443/api?timeout=32s": dial tcp [2001:db8:10a:8159::ffff:1
]:443: connect: no route to host_

This o

[2020-09-17 06:40] kevincantu commented on #399
@youngnick asked:

Seems like both OpenTelemetry folks and Honeycomb are saying (a) the new hotness is tail-based sampling and (b) to do that well right now you need to centralize ALL your traces and do that sampling in one spot (where the feature is alpha), or else use a custom-built version of something or other.  Perhaps later the tools will improve on that point.

So FWIW I, personally, am abo

[2020-09-17 14:30] #2711 closed

[2020-09-17 14:49] #2728 closed

[2020-09-17 16:10] skriss commented on #2678
As an update, I was able to add logic to our wrapper CRD generation script to add `spec.preserveUnknownFields: false` to our CRD YAML, so users won't have to do the manual patch.

[2020-09-17 16:26] stevesloka opened #2920 "Argo Docs: Add Contour section"
The argoci docs have a section on how to configure an ingress controller. We should add a Contour section to show users who want to use Contour, what setup needs done.

https://argoproj.github.io/argo-cd/operator-manual/ingress/

[2020-09-17 23:34] youngnick commented on #399
Fair enough.

We've also added the new `ExtensionService` CRD, initially to help with external auth (as outlined in the [design doc for auth](https://github.com/projectcontour/contour/blob/main/design/external-authorization-design.md), but it's been built to be able to add any Kubernetes service as a reference-able Envoy cluster. So it can be used to avoid having to supply a custom bootstrap with

[2020-09-17 23:47] youngnick commented on #2918
Hmm, Contour just consumes the standard Kubernetes libraries for connecting to the apiserver, so I'm not sure what's causing this. I think we upgraded client-go somewhere in the 1.6-1.8 timeframe, so it could be that some client-go behavior has changed. I'm pretty confident we haven't changed anything else to do with startup.

Another thing I've seen before is that sometimes the CNI can take a few

[2020-09-17 23:49] youngnick commented on #2907
Contour won't open either the secure or insecure ports unless you have something that needs it. Do you have a Ingress or HTTPPRoxy object that requests TLS configured @binnythomas-1989?

[2020-09-17 23:50] bgagnon commented on #399
Per-namespace is how I would envision it for our use case (multi-tenant cluster).
Variations I can think of at the namespace level:
* on/off switch
* sampling controls
* destination jaeger receiver -- since jaeger isn't multi-tenant aware, we'll likely have a receiver in every namespace
* static tags on traces -- if Envoy allows such thing; otherwise I believe the receiver can handle that

I suppo

[2020-09-17 23:54] youngnick commented on #399
The way I see it:
- doing per-HTTPProxy (well, per HTTPProxy virtualhost or root proxy), allows people to use the feature as quickly as possible, at the cost of making people have to configure the tracing on every vhost.
- Having a Contour-level default available seems like it might possibly be useful, but is more work.

[2020-09-18 00:00] #2836 closed

[2020-09-18 00:04] youngnick commented on #370
Now that we've implemented the new `ExtensionService` CRD (design in #2643, implementation in #2719, #2876, #2877 and others), we have a way to push an arbitrary Kubernetes Service to Envoy as a cluster, ready to be referenced by configuration like rate limiting. So this issue now has a path forward to allowing people to configure any service they like that supports Envoy's rate limiting API. I'm

[2020-09-18 00:07] youngnick commented on #1691
Now that we've added the `ExtensionService` CRD, it should be much easier to have a way to configure this - we could conceivably have a config file item that asks for Envoy logs to be sent to a given ExtensionService, with failback to stdout if not available.

In my mind, this feature will be much less usable without full support for #2495 however, as Contour has no way to tell you that the loggin

[2020-09-18 00:10] youngnick commented on #2325
With the addition of `ExtensionService`, including a Conditions block, we have the space available for Contour to set a `Ready` condition on an ExtensionService, this would indicate that the service is up and able to receive traffic. I'm still not currently sure of the best way to grab this information, however. It could be that the best way is to do a lookup of the Endpoints associated with the S

[2020-09-18 00:27] bgagnon commented on #1691
FWIW, for our use case, we don't need this to be configurable at the `HTTPProxy` or route level -- we'd be satisfied with a global ALS config in Contour's YAML config, for example.

But if we can leverage `ExtensionService` for a more dynamic experience, that's cool too.
Our current implementation works like this:

* `HttpConnectionManager` is updated on the `:80` and `:443` listeners through an L

[2020-09-18 04:23] youngnick commented on #1691
I meant more that, if the ALS service is running inside Kubernetes, it will have a Service object, with Endpoints that will come and go based on healthchecks, so the Endpoints (which Contour watches already) will tell us if the configured service is accepting traffic.

That's a simple way that we could get a `Ready` indicator for any given Service.

If the ALS is a sidecar, that is interesting. An

[2020-09-18 05:31] jpeach commented on #1691
Maybe. We can consistently support ALS in the ExtensionService model, which lets the services scale independently (and arguably gives better resource management and resource visibility). The cost is increased deployment complexity, and potentially decreased reliability.

One way to support side-car services could be with a new CRD that would cause Contour to inject and configure the sidecar. The d

[2020-09-18 06:29] tsaarni commented on #2856
I respond with my understanding but @prateekjainaa can fill in.

I need to leave the last bullet for later (i.e. the hardest question: how would the API change look like) but I wanted to add example use case and ask a few questions from you.

While reading [design/session-affinity.md](https://github.com/projectcontour/contour/blob/main/design/session-affinity.md) (chapter "Bootstrapping issues") I

[2020-09-18 07:17] binnythomas-1989 opened #2922 "Exposing TCP with FQDN for mongodb"
Hello Guys,

Kubernetes: 1.17.5
Contour- contour:v1.8.1

Im aware that we can expose TCP port on Contour using the below link
https://github.com/projectcontour/contour/blob/main/site/docs/main/httpproxy.md#tls-termination-at-the-edge

Is it possible say to expose the port 27017 which is a default mongo db port by the haproxy resource on fqdn.

On implementation of the link, im able to access the p

[2020-09-18 13:21] binnythomas-1989 commented on #2907
Yes this  is sorted @youngnick  It only opens one when we created an ingress resource. Can you check this https://github.com/projectcontour/contour/issues/2922

[2020-09-18 15:26] stevesloka opened #2923 "config file: Move fields into ServerConfig struct"
Following up to #2919, we should move the following fields to the `server` struct newly created to keep the configuration file organized:

[code]

[2020-09-18 15:43] stevesloka commented on #2680
Yup I think this is done now thanks to the changes from @jpeach. =)

[2020-09-18 15:43] #2680 closed

[2020-09-18 15:55] stevesloka opened #2924 "gatekeeper: Validate configuration file configmap"
Follow up to #2742, we should also setup some example configs to validate the Configuration file parameters. Currently, if they are configured incorrectly, Contour will just crash. This is helpful to know something is wrong, but we could do better with the validation bits up front.

[2020-09-18 16:06] stevesloka opened #2925 "Envoy Release v1.15.1"
A new security release of Envoy is going to be made on 09/29/2020, Contour should track this and release a minor version to cover.

Ref: https://groups.google.com/g/envoy-announce/c/_fVi3ZKs0wI/m/lvq6nRuZBAAJ

[2020-09-18 16:49] #2923 closed

[2020-09-18 19:10] stevesloka commented on #2479
//cc https://github.com/envoyproxy/go-control-plane/pull/354

[2020-09-18 20:53] jpeach commented on #2924
Another approach is to move the config into a CRD to take advantage of CRD validation as well. This might be useful for service APIs too.

[2020-09-21 13:26] movikbence commented on #2918
Hello

"Another thing I've seen before is that sometimes the CNI can take a few seconds to finish wiring up the routing, and so if your binary starts up quickly enough, it can fail to connect."

I think that this is the issue. I tried to test how much does it take to set up the CNI, it took ~1.5 sec but it depended on the current load of the environment. Maybe that backoff-retry could be beneffici

[2020-09-21 14:03] stevesloka commented on #2918
I just spun up a ipv6 cluster and didn't any issues. I'm not sure how to best recreate your CNI delay in my environment. I think a backoff would be fine to add, but you essentially get that now, just that the pod is restarting.

Does the restart/backoff keep you working or does this block your environment somehow? Just trying to understand how critical this is for you at the moment.

[2020-09-21 14:05] stevesloka commented on #2924
![image](https://user-images.githubusercontent.com/1048184/93776848-07d0c000-fbf2-11ea-8817-8fb79cf9b1e0.png)

[2020-09-21 14:48] #1723 closed

[2020-09-21 14:48] #2678 closed

[2020-09-21 14:48] #1978 closed

[2020-09-21 14:48] #2527 closed

[2020-09-21 14:48] #2903 closed

[2020-09-21 19:50] moderation opened #2929 "Guidance on optimal --concurrency level for Envoy in large core environments"
Today the `--concurrency` [CLI flag](https://www.envoyproxy.io/docs/envoy/latest/operations/cli.html?highlight=concurrency#cmdoption-concurrency) is not set in the [example configs](https://github.com/projectcontour/contour/blob/main/examples/contour/03-envoy.yaml#L48-L53).

This means that when running Contour in a Kubernetes cluster that has beefy VMs, Envoy sees the 32 CPUs as 64 cores.

In a r

[2020-09-21 21:32] skriss commented on #2743
The only error I'm noticing consistently anymore is in `004-sni`:

[code]

The timing of step 42 - a full 30sec (the timeout) elapses before step 43 runs, but then no error is reported. Looks like it's running some checks around ensuring the update succeeded based on resourceVersion.

Unfortunately I can't seem to repro locally.

[2020-09-21 23:43] youngnick commented on #2924
The way I see it, our two options are:
- maintain a YAML-in-YAML configmap configuration, and use an external controller (gatekeeper) to validate that the YAML-in-YAML is valid. This seems complicated, and a lot of overhead to get something that should be reasonably straightforward.
- move towards having our own CRD that directly represents the config options. This does not mean that we drop the Y

[2020-09-21 23:51] youngnick commented on #2856
That's my understanding as well. As I think I said above, other proxies mutate the cookie a little bit to indicate which backend the request should be routed to once the application has generated it, but Envoy does not support this. The only two options are "Envoy doesn't modify the cookie at all" or "Envoy generates the cookie itself", from what I can see.

I'll be honest, I don't see how this wo

[2020-09-21 23:55] youngnick commented on #2922
The way this can be done, is that you specify that all secure (HTTPS or TLS) traffic is served out of port 27017 for that Contour installation. Then, any requests to the set of Envoys Contour controls will need to arrive at 27017 instead of 443. You can't run 443 TLS and 27017 tls at the same time in Contour right now.

To do that, you need to pass the _Contour_ deployment the command-line flag `-

[2020-09-22 00:08] youngnick commented on #2918
Yes, I think originally, that using Kubernetes' restart was by design - why build a exponential backoff into Contour when Kubernetes gives you one for free?

[2020-09-22 06:49] binnythomas-1989 commented on #2922
Since the contour runs as a Daemonset could we just use it for one tcp scenario?

So how I worked around it is like this.
[code]
I have created another listener  to point 27017 to 443. In this case would I be able to do tcp and 443?

[2020-09-22 12:14] advancedwebdeveloper opened #2932 "Supporting gollvm (llvm-goc) builds, for Contour"
Wanted to open an issue, to cross-reference bugs, during the build process.

I am dealing with https://go.googlesource.com/gollvm/, these days - and Contour appear to be compiling well, compared to k8s/Docker. Other Kubernetes related CNCF projects have various bugs, related to reflection - mainly cause of [reflect2](https://github.com/modern-go/reflect2) package/dependency.

Ivan

[2020-09-22 16:17] stevesloka opened #2933 "RegexMatcher Deprecated, needs upgraded"
Seeing this deprecated log message in Envoy due to Contour's use of regex's. We should look to upgrade to resolve this so we don't end up with a breaking change in a newer version of Envoy.

[code]

[2020-09-22 20:19] skriss commented on #2933
Per https://www.envoyproxy.io/docs/envoy/latest/api-v3/type/matcher/v3/regex.proto#envoy-v3-api-field-type-matcher-v3-regexmatcher-googlere2-max-program-size, Contour should now be performing validation of program size instead.

xref https://github.com/envoyproxy/envoy/issues/9174
xref https://github.com/projectcontour/contour/issues/2240
https://github.com/projectcontour/contour/issues/2043

[2020-09-22 20:30] jonasrosland opened #2934 "Tracking issue: Blog post for 1.9 release"
This is a tracking issue (as discussed in the community meeting) to ensure we have a blog going out together with the 1.9 release, explaining new features and functionality.

- [x] Assigned blog author
- [x] Blog drafted
- [ ] Blog reviewed
- [ ] Blog published

[2020-09-23 00:37] youngnick commented on #2922
Contour runs as a Deployment in the example YAMLs, Envoy runs as a Daemonset. You can absolutely use a single Contour-Envoy pair for the 27017 use case, but yeah, that does not seem ideal.

Sorry, I'm not sure what you mean with your workaround, do you mean that you've manually added another listener in your Envoy config? That wouldn't work because Contour won't wire routes to the other listener.

[2020-09-23 00:38] youngnick commented on #2932
Thanks @advancedwebdeveloper! Is there any action you need from Contour at the moment? I'll add the `blocked` label for now until you have a chance to respond.

[2020-09-23 00:40] youngnick commented on #2933
Oh, awesome, good that we can validate the program size once we move to v3.

[2020-09-23 00:42] youngnick commented on #2934
Features that will need documentation:
- external auth (#432)
- status changes (#2495)
- CRD v1 (pr #2916)
- go-control-plane experimental support (#2134 )

[2020-09-23 01:10] youngnick commented on #2929
At the moment, I don't think we (the maintainers) can give much better advice than "you probably want to turn down concurrency on big machines". I would also love to hear some operational experience about this, however.

[2020-09-23 05:47] jpeach commented on #2924
/cc @danehans since this seems relevant to the operator project.

[2020-09-23 06:09] jpeach commented on #2929
In the quote above, Matt is talking about a sidecar proxy. It's unlikely that a single sidecar will need to do enough traffic to used all the cores on a machine to it makes sense to tune the concurrency down. OTOH an ingress proxy is serving the entire cluster, so it may well make sense to consume the entire machine if there's enough traffic. If you are deploying as a Daemonset though, you clearly

[2020-09-23 13:06] niels-s commented on #2019
I believe encountered the same issue which brought down the routing for the entire ingress traffic. My case was a little different because one of the included HTTPProxy resources didn't exist, but afaik it boils down to the same issue as an invalid route.

This issue isn't prioritized on the [Contour Project Board](https://github.com/orgs/projectcontour/projects/2#card-35115813), so I wonder if th

[2020-09-23 17:51] stevesloka opened #2936 "Contour lose connection to Kubernetes API Server"
A question came up in the last Contour Office Hours as to what would happen if Contour lost connection to the API server. In the past, client-go would reconnect and that was my answer, however, it seems there's a bug in client-go < v.18.9 where contour will just crash if connection is lost.

ref: https://github.com/kubernetes/kubernetes/issues/91073

[2020-09-23 18:34] #2873 closed

[2020-09-23 19:14] #2936 closed

[2020-09-23 19:43] stevesloka opened #2938 "internal: Update Contour import alias for Contour API"
The Contour import alias for the contour api is currently `contourv1`. Since the refactoring the internal/contour package into `contourv2` and it's not clear which version we should use.

We could use `contourv1api` or similar for the the Contour api.

_Originally posted by @skriss in https://github.com/projectcontour/contour/pull/2928#discussion_r493837575_

[2020-09-23 20:13] skriss commented on #2777
I'll start working on this.

[2020-09-23 20:19] skriss opened #2939 "internal: consider renaming `internal/contour/v2` to something more descriptive"
The XDS caches have now been extracted to their own package, `internal/contour/v2`. Consider renaming this package to something more descriptive, for example `internal/xdscache/v2`.

[2020-09-23 20:36] stevesloka commented on #2938
so we did some work to standardize on <thing><version>  which ended us up with `contourv2` and `envoyv2`.

Now we're looking to add `contourapiv1` and `contourapiv1alpha1`.

Maybe we should follow what we did with envoy to match so we'd end up with <thing>_<type>_<version>

That would give us:

- `contour_v2`
- `envoy_v2`
- `contour_api_v1`
- `contour_api_v1alpha1`

I think this reads much better,

[2020-09-23 20:38] stevesloka commented on #2939
I think this makes sense to me @skriss and further helps to clarify what this package is really doing. 🎉

[2020-09-23 20:43] skriss commented on #2938
Note that if we implement #2939, then `contourv2` would end up being more like `xds_cache_v2`

[2020-09-23 22:42] skriss commented on #2777
WDYT about updating both (a) the default for `HTTPProxy.Spec.VirtualHost.TLS.MinimumProtocolVersion`, and (b) the default for the config file's `tls.minimum-protocol-version`, to `1.2` at the same time? It seems easier from a change management perspective so we don't have to spread potentially-breaking changes related to this over multiple releases. This might be what you already had in mind, but

[2020-09-23 23:48] jpeach commented on #2777
The defaulting behavior sounds broken to me. I haven't checked the code but I would expect the config file to have an effect on the proxy objects.

How about adding a warning for use of 1.1 in the 1.9 release, and fixing any issues with the config defaults? That gives operators a chance to notice and remediate before the final change.

Also need to consider that happened for backend TLS.

[2020-09-24 00:43] youngnick commented on #2777
Yes, I think that adding a warning first is probably a good idea.

However, when we do remove, (that is, in 1.10), I think it should be like this:
- If you're not specifying a version, you get the HTTPProxy default, which should now be tls 1.2. This is probably fine, as almost everything should support tls 1.2 now. If something doesn't work, you can set it back to tls 1.1.
- I agree that we should

[2020-09-24 00:50] youngnick commented on #2019
This work is probably also blocked behind #2495, since in that, we'll be able to add warnings to a HTTPProxy instead of just marking it invalid.

I agree that a single error in a single route should not render the whole HTTPProxy invalid, but the semantics of using includes make this a little tricky to solve in practice. Hopefully, being able to add warnings should be helpful.

@niels-s, as a user

[2020-09-24 06:26] houz42 commented on #62
@jpeach I may describe my use case here if you are interested in.

I deployed several services like prometheus, grafana, alertmanager in our kubernetes cluster, and exposed them with contour ingress. Certainly they should not be available to public. The grafana was configured with an external OSS, while prometheus and alertmanger do not have any authn/ahthz functions. So I have waitted a long time

[2020-09-24 09:06] niels-s commented on #2019
The ultimate goal from an operational standpoint is to make sure we don't interrupt traffic because of an invalid configuration.

In that sense, I agree with the approach of @jpeach. It's probably the most logical approach, using an apply all-or-nothing semantic, the tricky part would be to clearly communicate the invalid status to the users.

I guess everyone would choose to keep an "old" valid r

[2020-09-24 21:26] skriss opened #2943 "add CORS documentation to HTTPProxy reference"
We need to add documentation on CORS support to the HTTPProxy reference (https://github.com/projectcontour/contour/blob/main/site/docs/main/httpproxy.md).

It probably makes sense to add a section under https://github.com/projectcontour/contour/blob/main/site/docs/main/httpproxy.md#virtual-host-configuration, similar to the existing section there on TLS.

Followup from #2890

[2020-09-24 21:27] skriss commented on #2943
cc @aberasarte

[2020-09-25 08:12] movikbence commented on #2918
I understand your point, that k8s has a solution for that, but unfortunately as it is now,  after the deployment our users see restarts of the contour pod which raises a lot of questions. Now I have a workaround for that with a wrapper script that waits for the CNI-plugin to setup the network.
Without the wrapper it causes a slight delay during the startup, in some corner cases, for example testin

[2020-09-25 10:47] binnythomas-1989 commented on #2922
I'm just trying to understand a scenario where I deploy jenkins on k8s where I use contour as the ingress class. I would need to expose the following ports 80/443 (http/https) + 50000 (tcp). How would we achieve both using Contour. Another issue is external-dns integration I have seen a merge I think the later release would solve external-dns integrations with http-proxy I presume.

[2020-09-25 11:01] Zsolt-LazarZsolt opened #2944 "TLS 1.1 and below should be removed from contour GRPC connection options."
Currently the TLS version of the communication between Envoy and Contour is currently defaulting to 1.2, but on the Contour side TLS 1.0 and 1.1 is allowed.

As TLS 1.1 and below is being deprecated these connection options shall be removed.

[2020-09-25 13:45] nmathew opened #2945 "Using HTTPProxy APIs gives error"
**What steps did you take and what happened:**
I have written a golang application, which will install HTTPProxy rule to kubernetes cluster.

A more detailed code is here
https://gist.github.com/nmathew/7f5a357b2f387aab317ec04869f8925c

this resulted in an error
**Got error: no kind is registered for the type v1.HTTPProxy in scheme "pkg/runtime/scheme.go:101"**

Is this correct to use these APIs f

[2020-09-25 14:52] #437 closed

[2020-09-25 14:54] skriss commented on #2944
xref #2777

[2020-09-25 15:23] skriss commented on #2945
Per slack, I believe you need to explicitly add the `projectcontour.io` types to the scheme you're using for your client, using the helpers here: https://github.com/projectcontour/contour/blob/main/apis/projectcontour/v1/register.go#L56-L65

[2020-09-25 16:39] nmathew commented on #2945
Add projectcontourv1.AddToScheme to client supported schemes in the client code. This will solve the problem. Thanks @skriss.

[2020-09-25 16:39] #2945 closed

[2020-09-27 21:37] jpeach opened #2946 "Contribute Gatekeeper policies to gatekeeper-library"
**Please describe the problem you have**

[gatekeeper-library](https://github.com/open-policy-agent/gatekeeper-library) is a collection of common policies that are useful to Gatekeeper users. We should talk to the Gatekeeper folks and see whether it makes sense to mirror the Contour policies to that repository.

[2020-09-28 22:17] #2944 closed

[2020-09-29 00:00] jpeach commented on #2874
Reassign to me; I'll start this while @youngnick is finalizing the conditions API.

[2020-09-29 00:47] youngnick commented on #2922
As things stand, in order to be able to expose 80, 443, _and_ 50000, you would need to run two Contour installs and two sets of Envoys. The first would be a regular set, which exposes HTTP/HTTPS, and the second would set either the insecure or secure port to 50000, based on whether the port 50000 traffic does SNI routing or not. Contour can currently only expose two TCP ports per install.

Externa

[2020-09-29 14:26] stevesloka commented on #2662
I think this is all fixed up so I'm going to close. If that's not the case, please reopen @brenix.

[2020-09-29 14:26] #2662 closed

[2020-09-29 18:19] #2939 closed

[2020-09-29 19:54] stevesloka commented on #2621
//cc https://github.com/projectcontour/contour/issues/2924#issuecomment-695081070

[2020-09-29 21:14] PrakashArumugamVmware opened #2951 "Config to modify the request header size"
Envoy has a config as part of HTTP connection manager `max_request_headers_kb` to increase the request header size. Contour does not support changing the request header size dynamically.

It would be helpful, if contour could expose a configuration to change the request header size.

Release slack conversation, I had with @stevesloka  https://kubernetes.slack.com/archives/C8XRH2R4J/p15893857690238

[2020-09-30 00:23] moderation commented on #2925
It's out at https://secureweb.jpmchase.net/readonly/https://github.com/envoyproxy/envoy/releases/tag/v1.15.1. Release notes at https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.15.1

[2020-09-30 05:44] youngnick commented on #2691
We do have first-class support for terminating TLS, but it's really intended to be used for HTTPS TLS connections. You can make it work for other things, but we can only expose a single port with which to do SNI-based routing, so you can't do HTTPS on 443, and then other TCP proxying on some other port.

So if you want to route some database thing and terminate it with TCP proxy, it needs to:
- su

[2020-09-30 07:21] #2338 closed

[2020-09-30 09:10] Skarlso opened #2956 "1.3.0 tag for contour was re-created after goproxy has cached it and now it's causing build failures"
I'm getting failed attempts at downloading the 1.3.0 tag for contour.

[code]

Was there any change to that tag since it has been published first in March?

[2020-09-30 09:21] Skarlso commented on #2956
The following changes have been applied:

[code]

[2020-09-30 09:39] Skarlso commented on #2956
For now, there is really very little everyone can do, but I really would like to discourage people to push and re-create tags after they have been created.
Thanks, I'll close the issue in a while.

[2020-09-30 21:14] #2938 closed

[2020-09-30 21:23] skriss commented on #2925
Closed by #2959

[2020-09-30 22:05] shaunofneuron commented on #2499
Feature exists now in external-dns this can be closed.

[2020-09-30 23:06] jpeach commented on #2956
Thanks for reporting this @Skarlso. It's possible that I fixed up a mistake during the release process and that accidentally caused a cache to be out of sync. This should not happen in general (it's not part of our release process).

[2020-10-01 03:59] Skarlso commented on #2956
No worries. It can happen. We just needed to bust the cache and rebuild some packages. It was just a bit of a hassle, that's all. ❤️

[2020-10-01 03:59] #2956 closed

[2020-10-01 05:06] jpeach commented on #2956
Thanks for letting us know. It helps to keep us honest and careful :)

[2020-10-01 08:17] youngnick opened #2964 "featuretests: TestIngressClassUpdate passes but shouldn't"
The featuretest TestIngressClassUpdate creates an object with a given ingress class, checks that it is processed correctly, then updates that object so it does not have the same ingress class, and checks that its status has been cleared.

Because of changes to the way we send status updates, this test does not reflect what Contour actually does; currently, Contour will leave the status of objects

[2020-10-01 12:51] lienerieksta opened #2965 "httpproxy cookie attributes"
It would be very helpful if there was option to set additional attributes for httpproxy session affinity cookie.

We have a stateful application that requires the cookie to have "SameSite=None" and "Secure" attributes set for them to be returned by the client.

I believe this feature would complement the very welcome addition of CORS support in contour.

[2020-10-01 13:34] stevesloka commented on #1917
We should be able to enable [go-header](https://github.com/denis-tingajkin/go-header) in the golanglint-ci task to do this.

[2020-10-01 14:20] stevesloka opened #2966 "Update Gangway readme"
The Gangway (https://github.com/heptiolabs/gangway/blob/master/docs/README.md) readme is from when Contour was still part of Heptio. It needs updated to remote the references to `heptio-contour` and replace with `projectcontour`.

[2020-10-01 14:26] pbisen commented on #2966
i would love to work on this. only the references have to be updated right? Could you please assign this to me

[2020-10-01 14:30] #2943 closed

[2020-10-01 14:33] stevesloka commented on #2966
You got it @pbisen! Yup should just be the Heptio references as well as some links possibly. Thanks! 🎉

[2020-10-01 14:47] pbisen commented on #2966
Added my pr. please reply if you need any other change

[2020-10-01 21:34] skriss commented on #2743
maybe relevant: I can intermittently produce an error in the log when I apply an `HTTPProxy` to a running cluster:

[code]

Which comes from [here](https://github.com/projectcontour/contour/blob/main/internal/k8s/statusupdater.go#L87-L97).

So it seems like maybe there's a race in there between the event handler and the lister, though I'm not clear on how that would possible. Will keep looking.

[2020-10-01 23:53] youngnick opened #2967 "internal/dag: GetProxyStatusesTesting function should be removed"
The GetProxyStatusesTesting function in `internal/dag/dag.go` is used for the tests in `internal/dag/status_test.go`. It currently takes the values stored in the `status.Cache` and mutates them into a format that's easier to consume.

To remove it, we'll need to:
- Figure out a way to interact with the cache that allows you to get the conditions for a named object of type HTTPProxy. @jpeach sugges

[2020-10-02 00:11] youngnick opened #2968 "internal/status: recursive commits must not overwrite an error condition with one with no error"
During the HTTPProxy processor step, we compute which HTTPProxies are valid by recursively calling `computeRoutes()`. In the case that a child HTTPProxy includes itself, producing a cycle, we recurse into the object twice, once for the initial include from its parent, and then one for its self-include. We pick up the cycle on the final pass, and add an error condition. However, the *containing* co

[2020-10-02 00:27] youngnick opened #2969 "internal/status: Refactor away GetProxyUpdates Cache method"
The `GetProxyUpdates()` method on the `status.Cache` is currently used by `internal/dag` status tests, and `internal/contour` metrics calculation, as both of these things need access for various fields that are currently stored in the cache-internal ProxyUpdates.

This issue covers:
- making the cache more generic to cover multiple Kinds, not just HTTPProxy
- adding a way to get the required infor

[2020-10-02 04:53] jmboby opened #2971 "Expose Envoy's network rbac filter configuration in contour"
I'd like to be able to use envoy to do things such as tcp ip whitelisting. I believe this is possible with envoy's network rbac filter: https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/rbac_filter

Describe the solution you'd like
Expose envoy's network rbac filter configuration in Contour, .....via configmaps would be best.

[2020-10-02 05:05] jpeach opened #2972 "Use the Github Action for Go linting"
**Please describe the problem you have**

Run the linter from the Github action for better PR integration

https://github.com/golangci/golangci-lint-action

bonus points if we can add this to https://github.com/projectcontour/.github/ in such a way that every repo gets it automatically.

[2020-10-02 07:15] jpeach opened #2974 "Condition message should have consistent punctuation."
**Please describe the problem you have**

All Condition messages (ie. the string in the `Message` field) should be complete sentences, with an initial capital and a fill stop (period).

[2020-10-02 07:38] youngnick commented on #2974
We did discuss this, and I forgot to implement it. I agree, we should do this.

[2020-10-02 09:31] Glyphack commented on #2972
Hi, I'm willing to work on this. I'm not familiar with how https://github.com/projectcontour/.github/ works, will adding a workflow to it copied to all the repositories?

[2020-10-02 09:32] jpeach commented on #2743
Different informers that don't get their caches updates at quite the same time?

[2020-10-02 14:32] skriss commented on #2743
Could be, although they should be coming from the same shared informer factory which means it should be the same informer. 🤷‍♂️

[2020-10-02 14:42] skriss opened #2977 "errors in the log around status updating"
**What steps did you take and what happened:**
I'm seeing intermittent errors in the Contour log when I apply a new `HTTPProxy` to a cluster:

[code]

It seems like some times, it results in the `HTTProxy` not getting a status until something else triggers a DAG rebuild, while sometimes, it does end up with a status very soon after anyway. (need to re-test this to confirm, though).

**What did you

[2020-10-02 17:19] skriss commented on #2977
Tracked this down, looks like the status updates that are triggering this error message are from the LoadBalancerStatusWriter/StatusAddressUpdater, which [create their own shared informer factory](https://github.com/projectcontour/contour/blob/main/cmd/contour/ingressstatus.go#L100) separate from the main Contour one. So, the lister cache that the StatusUpdateWriter is using is not necessarily in

[2020-10-02 18:44] stevesloka commented on #2972
@jpeach why is this needed? The lint is already run on PRs as a separate task.

![image](https://user-images.githubusercontent.com/1048184/94958531-af38d700-04bd-11eb-9183-ab25293dcb3c.png)

[2020-10-02 19:49] laurovenancio commented on #2977
I think this is duplicate of #2904.

[2020-10-02 20:08] stevesloka opened #2978 "Remove Description printer column"
Since merging #2962 we don't need the `Description` field in the printer columns since now it's either "valid" or "invalid". The description is redundant and doesn't offer any more information and we can remove the description.

![image](https://user-images.githubusercontent.com/1048184/94965130-ec569680-04c8-11eb-83d6-b471a537583f.png)

[2020-10-02 20:12] stevesloka opened #2979 "Status updates are delayed with 100 proxies"
Since #2962 was merged, I've been testing Contour for load and perf. With 100 services & 100 HTTPProxies in my cluster, status updates to proxies take anywhere from 15-30s.

I see the same results on my local baremetal cluster as well as on a AWS EKS cluster.

**Repo steps:**
1. Create 100 services
2. Create 100 proxies
3. Wait for status to update & settle (will take a few minutes)
4. Edit a prox

[2020-10-02 21:55] jpeach commented on #2972
IIUC, the action is able to annotate the PR diff with any errors that it finds

https://github.com/golangci/golangci-lint-action#golangci-lint-action

Using an action also (I think) makes it possible to automatically get it to run on every projectcontour repo my adding it into the .github repository.

[2020-10-03 00:19] jpeach commented on #2977
Duplicate of #2904

[2020-10-03 00:19] #2977 closed

[2020-10-04 21:46] jpeach commented on #2971
Similar underlying use cases as https://github.com/projectcontour/contour/issues/2888

[2020-10-04 22:44] jpeach commented on #2907
xref https://github.com/kubernetes/kubernetes/issues/56374

[2020-10-05 00:18] jpeach opened #2981 "Add a lifecycle/needs-triage issue label"
**Please describe the problem you have**

I recently discovered that Github issue templates can add a default set of labels. This opens the possibility of automatically adding a `lifecycle/needs-triage` label to all new issues. This label would (IMHO) make it easier to keep track of which issues need to be triaged.

[2020-10-05 00:19] jpeach commented on #2981
@youngnick @stevesloka @skriss @danehans WDYT?

[2020-10-05 03:41] jpeach opened #2982 "Split KubernetesCache into separate cache and policy objects"
**Please describe the problem you have**

`KubernetesCache` caches various Kubernetes types, but also contains some controller policy fields and policy-oriented retrieval APIs.

To make it easier to implement #2683, I propose splitting this object up into its separate responsibilities.

* A `Cache` object that implements the controller-runtime [`cache.Cache`](https://godoc.org/github.com/kubernete

[2020-10-05 03:42] jpeach commented on #2982
@stevesloka @skriss @youngnick WDYT?

[2020-10-05 07:06] jpeach commented on #2904
I started working on this, there are more informer factories than you might expect (especially around updating load balancer status). I'm trying to bring everything back to the controller-runtime informer cache since that will make progress towards #2683 (though not completely solve it).

[2020-10-05 15:08] dprotaso opened #2984 "use nonroot vs. nobody user"
related: https://github.com/knative-sandbox/net-contour/pull/292

`nobody` doesn't have a valid `/home` directory - so it is recommended to use `nonroot`

[2020-10-05 20:25] jpeach opened #2988 "Add documented constants for condition status types and reasons"
**Please describe the problem you have**

All the condition status types and reasons should have well-known constants and corresponding godoc.

[2020-10-05 20:47] skriss commented on #2978
This makes me wonder -- do we need to carry the `.status.currentStatus` field indefinitely to be able to show something useful about the validity of the proxy in `kubectl get` output, now that we're using conditions? Or is there a way to index into the conditions to actually show the state of the `Valid` condition?

[2020-10-05 20:54] skriss commented on #2981
So all new issues would get the label, and then as we triage, we remove it?

That sounds reasonable to me, though we'll need to be more regular about triaging things or we'll end up with a lot of issues with this label.

[2020-10-05 20:58] jpeach commented on #2981
I don't think the label changes the need for triage,  but I do hope that it makes it clearer what needs to be triaged.

[2020-10-06 02:15] jpeach commented on #2978
We can't remove the field from the V1 API because it would be an incompatible change.

Yup; pretty sure that we could show all the errors in a printer column. We do need to rethink these for DetailedCondition.

[2020-10-06 02:27] jpeach opened #2991 "Move to v1 ClusterRoleBinding for deployment RBAC"
**Please describe the problem you have**

rbac.authorization.k8s.io/v1beta1 ClusterRoleBinding is deprecated in v1.17+, unavailable in v1.22+; use rbac.authorization.k8s.io/v1 ClusterRoleBinding

[code]

[2020-10-06 02:35] jpeach commented on #2991
xref https://github.com/projectcontour/contour-operator/pull/21 creates v1 ClusterRoleBindings

[2020-10-06 03:15] jpeach commented on #1821
@tthebst Does kubectl need a running cluster to label the objects?

[2020-10-06 04:56] jpeach opened #2993 "LoadBalancer address status should only be applied to root proxies"
The load balancer address updater updates all HTTPProxy objects that have a matching ingress class. However, it probably should only update root proxies (since that's where the virtual host FQDN lives), and should obey the `root-namespaces` policy (i.e. should not be touching HTTPProxies that it is not reconciling).

[2020-10-06 15:54] danehans opened #2994 "Update ImagePullPolicy"
**Please describe the problem you have:**
The current [reference deployment](https://github.com/projectcontour/contour/blob/main/examples/contour/03-contour.yaml) uses `imagePullPolicy: Always` to always pull images. Does a technical reason exist for using `Always` over the default of `IfNotPresent`? If not, I suggest updating the the reference to `IfNotPresent`.

/cc @jpeach @Miciah

[2020-10-06 16:43] skriss commented on #2994
FYI the rendered manifest (i.e. the one that we link to on the website -- https://projectcontour.io/quickstart/contour.yaml) changes the image pull policy to `IfNotPresent` (https://github.com/projectcontour/contour/blob/main/examples/render/contour.yaml#L1696) -- this is done [in this script](https://github.com/projectcontour/contour/blob/main/hack/generate-deployment.sh#L29-L41).

I'd guess it's

[2020-10-06 17:43] #2979 closed

[2020-10-06 17:46] stevesloka opened #2995 "Reevaluate how comparisons for status are implemented"
When comparing status structs, the `LastTransitionTime` was causing lots of updates in #2979. #2986 moved to use the `cmp.Equal` package as it is used in other places, however, #2853 moved away from the cmp package since it can panic.

This issue is to determine the best path forward to fixing this comparison.

1. Knative defines a `VolatileTime` type, which we exclude from semantic equality, whic

[2020-10-06 17:57] skriss commented on #2995
Two places where we currently use `cmp.Equal` in non-test code:

1. https://github.com/projectcontour/contour/blob/main/internal/k8s/helpers.go#L42-L49
1. https://github.com/projectcontour/contour/blob/main/internal/contour/handler.go#L179-L184

Both require ignoring certain fields from the comparison.

[2020-10-06 18:05] #2874 closed

[2020-10-06 19:11] danehans opened #2997 "Add Anti-Affinity to Contour Deployment"
**Please describe the problem you have**
The current contour deployment specifies multiple pod replicas but does not include an anti-affinity policy. This may cause pods from the deployment to get scheduled onto the same node.

/cc @jpeach @stevesloka @Miciah

[2020-10-06 22:29] jpeach opened #3003 "Replace v1.Condition with Kubernetes metav1.Condition"
**Please describe the problem you have**

To adopt the standardized Condition struct, we copied `metav1.Condition` into the Contour API. Once we (and all consumers of the Contour API package) upgrade to client-go >= 0.19, we can replace the copy with an alias to `metav1.Condition`.

[2020-10-07 02:45] jpeach commented on #2994
Yup, see discussion in https://github.com/projectcontour/contour/pull/2545

[2020-10-07 08:18] tsaarni commented on #2809
We have been assuming the latter (Contour & configuration & associated Envoys) in my team, and we are currently using ingress class name as a mechanism to choose which one to address.  I think this model is easy to understand as a user, and like @youngnick mentions, it surely keeps Contour itself simpler.

One question though: would moving configuration to *Class necessarily mean a change of the c

[2020-10-07 14:40] stevesloka opened #3004 "site: Fix the table of contents plugin"
There's a plugin on the projectcontour.io site that shows a table of contents. For some reason when published through netlify, it doesn't render, but locally it does.

A good example is on the Auth Page: https://projectcontour.io/guides/external-authorization/

_Originally posted by @stevesloka in https://github.com/projectcontour/contour/pull/2999#issuecomment-704982099_

[2020-10-07 16:16] ccravens opened #3006 "Support for Envoy Filters (Particularly Lua)"
I'm requesting the support of Envoy Lua filters with Contour. Lua filters provide developers the ability to apply sometimes complex and necessary modifications to headers for security or functional purposes that may not be supported via Contour YAML-based declarative manifests.

## Use Cases
I have 2 use cases in which Lua filters would solve my problem that is currently not possible with the curr

[2020-10-07 17:49] ccravens commented on #1269
Contour makes it very easy to properly expose our Kubernetes services. But more than the technology is the team. I have not worked with an open source project that is so dedicated to ensuring users have all of the functionality they require as well as the support to get it working. Thanks to the Contour team for your work and support!

[2020-10-07 18:58] michmike commented on #1269
thank you @ccravens!

[2020-10-07 19:06] tthebst commented on #1821
@jpeach I worked on this some time ago. You can check it out [here](https://github.com/tthebst/contour/tree/standard-labels).

I used
[code]

I could open a PR but i think this is being worked on.

[2020-10-07 19:10] stevesloka commented on #2208
Contour now uses the ENV variable `CONTOUR_NAMESPACE` as the default for the namespace. (https://github.com/projectcontour/contour/blob/67f6207604ebb34412b7d8b125cdff410bbe4401/cmd/contour/servecontext.go#L183). That ENV var is populated by default via the downward API: https://github.com/projectcontour/contour/blob/main/examples/contour/03-contour.yaml#L77-L81

I think this is all resolved at thi

[2020-10-07 19:10] #2208 closed

[2020-10-07 19:25] #2934 closed

[2020-10-07 20:37] skriss commented on #1575
I think we can close this out, now that we're on v1 CRDs with a structural schema. `kubectl` gives the following error on the provided proxy:

[code]

[2020-10-07 20:37] #1575 closed

[2020-10-07 20:50] skriss commented on #1547
Stream idle timeout is now globally configurable for Contour -- see https://projectcontour.io/docs/v1.9.0/configuration/#timeout-configuration. Closing this out, but feel free to reach out again if needed.

[2020-10-07 20:50] #1547 closed

[2020-10-07 21:15] jpeach commented on #3006
xref #2475

[2020-10-07 21:36] jpeach commented on #2885
For anyone who would like to tackle this, here's the API I would recommend:
[code]

[2020-10-07 21:57] #2782 closed

[2020-10-07 21:58] #2690 closed

[2020-10-07 22:34] jpeach commented on #2385
Seems closely related to https://github.com/projectcontour/contour/issues/3006

[2020-10-08 05:45] jpeach opened #3009 "Status condition updates should not be applied to stale objects"
By code inspection, it is possible for Contour to apply stale status updates to objects because updates are queued (in the channel with limit 100), and applied after the DAG is built.

It would be possible for the object to quickly get deleted and recreated before the status condition is updated. It's also possible for some other actor to update the condition before Contour does (though less likel

[2020-10-08 05:46] jpeach commented on #3009
The straightforward fix is to compare the ObservedGeneration of the condition and the UID of the object before updating the status.

[2020-10-08 05:51] jpeach commented on #3009
xref https://github.com/projectcontour/contour/pull/2990

[2020-10-08 06:14] tsaarni commented on #2885
Another option could be to put it inside `ClientValidation` parameter, in `DowntreamValidation` structure.

When the client certificate is forwarded, at least proof-of-possession of the private key associated to the forwarded certificate must have been done by Envoy, since backend cannot do it.  It may make sense to do also validation against CA certificate, though doing that in backend is possibl

[2020-10-08 07:13] narahari92 commented on #2991
@jpeach I can pick this up if you aren't working on it already. Please let me know.

[2020-10-08 08:21] jpeach commented on #2991
That sounds great! Just note that the minimum kubernetes version we support is 1.6 so check that the APIs are present there :)

[2020-10-08 08:27] jpeach commented on #2885
The reason I suggested a flag in the TLS field rather than in the validation is so we can decouple those concerns. It seems reasonable to just ask for a client certificate, forward it to the upstream in a header and let the upstream figure out what (if anything to do with that). This gives a lot of flexibility to the application.

Some sites will also want to validate the client certificates at th

[2020-10-08 14:26] skriss commented on #2777
Tasks:
- [ ] (1.10) change the default MinimumTLSVersion for HTTPProxies/Ingresses to 1.2 (#3007)
- [ ] (1.10) add warnings for HTTPProxies/Ingresses that are explicitly using 1.1
- [ ] (1.10?) mark proxies invalid if they request a MinimumTLSVersion that's below the global minimum allowed TLS version
- [ ] (1.11+) change the global minimum allowed TLS version default to 1.2

[2020-10-08 15:05] skriss opened #3010 "change config file's tls.minimum-protocol-version default value to 1.2"
Updates #2777

This change will globally disallow TLS 1.1 by default, even for proxies/ingresses that explicitly request it as a minimum protocol version. If the user has a true need for TLS 1.1, they will need to explicitly set this config file field to 1.1.

[2020-10-08 17:49] stevesloka opened #3013 "Upgrade to Envoy v1.16"
Hot on the tail of Contour v1.9.0, Envoy v1.16.0 just got released. =)

We should test/upgrade Contour to the new Envoy version.

[2020-10-08 18:32] glerchundi commented on #3013
Just to let you know that the first Envoys version that fixes a blocking issue with gRPC-Web & Safari 13 is 1.16 🤷‍♂️

So at least for me and my team it's worth bumping...

/cc @yoitsro @aberasarte @lopezator

[2020-10-08 18:35] yoitsro commented on #3013
Yep, this is the final piece of the CORS/gRPC-Web puzzle for me! Once this is done, it'll mean we can stop running custom versions of both Contour and Envoy 🎉

[2020-10-08 19:28] lmickh opened #3014 "Redirect: allow `httpproxy` routes to return redirects"
It would be nice to be able to be able to configure Envoy to return a 301/302 to a new URI instead of just proxying to a Kubernetes service.

Right now if you want to for example redirect  `foo.example.com` to `bar.example.com`, you basically have to create a `httpproxy` resource that points to Nginx or the like to respond with a redirect.  That is a fair bit of overhead considering how common and

[2020-10-08 20:31] mattmoor commented on #3013
This is the first version of Envoy with arm64 support as well.  I've been running Contour on arm64 for a while with unofficial builds of Envoy, so it works (for how we hold Contour).  Would be awesome to see Contour starting to ship multi-arch images 🤩

[2020-10-08 21:10] jpeach commented on #3013
https://github.com/projectcontour/contour/issues/2868

[2020-10-08 21:27] danehans commented on #1821
`certgen` should be updated so the `contouercert` and `envoycert` secrets are labeled according to k8s [recommendations](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/).

[2020-10-08 22:30] danehans commented on #2994
https://github.com/projectcontour/contour-operator/pull/33 has been updated to use `IfNotPresent` based on the above feedback.

[2020-10-08 22:30] #2994 closed

[2020-10-08 22:48] jpeach commented on #2984
Thanks for reporting @dprotaso. This seems to be a problem introduced in knative by their image building process. I'll check back later for new information, but I think that any fix needs to be made in the knative tooling.

[2020-10-08 22:57] mattmoor commented on #2868
Shameless plug for the new multi-arch support in `github.com/google/ko` 😉  😇

[2020-10-08 22:59] jpeach commented on #69
You can rewrite the Host header using [HeadersPolicy](https://projectcontour.io/docs/v1.9.0/api/#projectcontour.io/v1.HeadersPolicy).

If anyone need this for Ingress, please re-open and we can discuss support for that API specifically.

[2020-10-08 22:59] #69 closed

[2020-10-08 23:06] jpeach commented on #3014
xref https://github.com/projectcontour/contour/issues/1627

[2020-10-08 23:13] jpeach commented on #3014
Thanks @lmickh. This looks like the same use case as #1627

Duplicate of #1627.

[2020-10-08 23:13] #3014 closed

[2020-10-08 23:14] jpeach commented on #1627
From https://github.com/projectcontour/contour/issues/3014, some kinds of redirect will want to strip the query string. The example from that issue is:
[code]

[2020-10-09 15:06] #2991 closed

[2020-10-11 09:45] stuartpb commented on #3013
I'm going to give it a try - looking at [the release notes](https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.16.0), it doesn't look like anything was changed that would obviously affect Contour.

[2020-10-12 16:13] skriss opened #3020 "wait for informer caches to sync before processing events"
Contour does not consistently wait for its informer caches to sync before processing events coming from them. Doing this is a best practice in Kubernetes controller development and can help avoid issues related to those caches not being fully populated (e.g. items missing from the listers). We should look into all the event handlers within Contour, and ensure that they're appropriately waiting for

[2020-10-12 17:47] johanbrandhorst commented on #2264
With the release of 1.9 and the ability to configure External Authorization services the default, unconfigurable timeout of 0.25s is too short. I strongly encourage the team to expose this knob for users that have an external authorization service implementation that has further downstream dependencies (such as if they're using it to do OAuth).

In the meantime, what is the best workaround to chan

[2020-10-12 19:26] skriss commented on #2515
ref. https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#envoy-api-msg-route-directresponseaction

[2020-10-12 19:26] skriss commented on #1627
ref. https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#envoy-api-msg-route-redirectaction

[2020-10-12 20:01] jpeach commented on #3020
Probably either a subtask or duplicate of https://github.com/projectcontour/contour/issues/1280

[2020-10-12 20:05] jpeach commented on #2264
Configuring the connect timeout sounds totally reasonable to me.

There's 2 places:
- Global connect timeout in the config file
- per-route timeout for HTTPProxy in `TimeoutPolicy`

[2020-10-12 21:14] skriss commented on #2515
I looked into this a little bit and it's easy to program Envoy for this - the link above has the API reference. The main challenge is figuring out how this fits into the HTTPProxy API.

In Envoy, a Route must have precisely one of: (1) a route action (i.e. route to an upstream cluster); (2) a redirect; or (3) a direct response. Each of these are configured as subfields of the top-level Route.

In

[2020-10-12 22:31] jpeach commented on #2515
(4) Add a CRD that can serve as a route target but causes Contour to configure Envoy to return specific responses. One way to think about Envoy generating responses is that it's just a service that responds to a request, so modeling it at the same level as services seems plausible.

[2020-10-13 03:27] jpeach opened #3021 "Add custom go lint checker"
**Please describe the problem you have**

We have a few informal rules around style and interfaces

* CLI help should be capitalized
* log messages should not be capitalized
* import aliases should be have a consistent pattern

We can add a Go lint tool to check these conventions, removing the burden from maintainers and contributors.

[2020-10-13 04:39] jpeach commented on #2621
I'm going to move the config-file code to a new package `pkg/config` that can be consumed internally and by the operator. The top-level API will be:

[code]

[2020-10-13 10:13] apepojken opened #3024 "Envoy compression filter fails when origin uses brotli compression"
We are using Contour in our GKE setup and our web app is doing the compression (brotli). When the accept-encoding header is passed with a request Envoy uses the gzip compressor which for some reason returns a 503. We want to be able to disable the compressor.
I have tried adding --disable-extension flag in the envoy daemonset but I have no idea how to reference the compressor extensions or if it i

[2020-10-13 14:21] dprotaso commented on #2984
gonna close this out since contour doesn't use distroless

[2020-10-13 14:21] #2984 closed

[2020-10-13 16:08] johanbrandhorst commented on #2264
@jpeach pointed me in the direction of the `responseTimeout` in the docs which solved my issue, so I no longer need `connect_timeout` to be configurable. Thanks!

[2020-10-13 16:14] jpeach opened #3025 "Auth: ExtensionService timeout policy doesn't do anything"
**What steps did you take and what happened:**

The `ExtensionService` timeout policy field isn't wired up to anything. Since this CRD generates an Envoy cluster, I don't see a way to implement the idle timeout (that's only on the HTTP route, not the cluster AFAICT), but it should be possible to use the response timeout to default the authorization response timeout.

[2020-10-13 20:10] #3025 closed

[2020-10-13 22:29] skriss commented on #1844
I'm going to pick this up as it'll be helpful to have in place before tackling multi-arch builds. We had a script in velero to do this, so I'll cherrypick from there.

[2020-10-13 23:21] michmike commented on #3004
@jonasrosland can you please take a look at this. thanks!

[2020-10-13 23:21] jpeach commented on #3013
@stuartpb We'd like to do this for the 1.10 release ... if you could submit a PR for upgrading the Envoy version (should just be updating YAML and running tests), I'd be happy to review 👍

[2020-10-13 23:24] michmike commented on #2981
i support this.

[2020-10-13 23:33] jpeach commented on #3006
xref https://github.com/projectcontour/contour/issues/1015

[2020-10-14 07:54] apepojken commented on #3024
Thanks for a quick reply.
I managed to disable the extension with `--disable-extensions envoy.filters.http/envoy.filters.http.compressor`.
We are not exactly sure what happens, but right now our best guess is that the browser sends the `Accept-Encoding: gzip, deflate, br` request header, the web app responds with `Content-Encoding: br`  and Envoy thinks it should use gzip compression since that's

[2020-10-14 12:27] yoitsro commented on #3013
https://github.com/projectcontour/contour/pull/3029

[2020-10-14 12:47] apepojken commented on #3024
Alright, I've been trying out a couple of things now and it still doesn't work.
I have added `--disable-extensions envoy.filters.http/envoy.filters.http.compressor,envoy.filters.http/envoy.filters.http.decompressor,envoy.compression.compressor/envoy.compression.gzip.compressor,envoy.compression.decompressor/envoy.compression.gzip.decompressor` to the daemonset and Envoy starts without warnings. I

[2020-10-14 15:09] #3013 closed

[2020-10-14 15:45] #2904 closed

[2020-10-14 20:44] #2981 closed

[2020-10-14 21:16] #1844 closed

[2020-10-14 23:24] mike1808 opened #3032 "Support custom JSON fields for Envoy access logs"
We want to be able to configure Contour to have custom JSON access log fields, such as `custom_field: %REQ(OUR-CUSTOM-HEADER)%`.

We are thinking that this can be achieved by having a new property with the JSON fields mapping like for [DefaultField](https://godoc.org/github.com/projectcontour/contour/internal/envoy#DefaultFields) in the Contour config. For example:

[code]

We [@cloudfoundry/cf-fo

[2020-10-15 00:43] jpeach commented on #2045
xref #2621 #3023

[2020-10-15 09:04] xcrezd commented on #3032
+1

[2020-10-15 21:01] Glyphack commented on #3021
I think there is a feature in golangci-lint that you can add custom plugins to it for your own needs. also by creating a plugin every repository can add it on top of golangci-lint to run.

[2020-10-15 21:08] jpeach commented on #3021
Yep, that would be my preference. Unfortunately it's a binary plugin interface, so distribution is a problem.

[2020-10-15 23:11] jpeach opened #3034 "Use official ingress-controller-conformance echo server"
**What steps did you take and what happened:**

Currently the integration tests use `agervais/ingress-conformance-echo`, but we should switch to the official images.

xref https://github.com/kubernetes-sigs/ingress-controller-conformance/issues/11

[2020-10-16 00:10] jpeach commented on #3032
Historically, new fields were added to the internal list, see #1734. I think that customizing the fields is a reasonable need, however IIUC there's always been a concern that directly exposing the envoy config is too risky because an invalid config would break the envoy config, and we don't have good ways to surface the error.

Maybe we can address this without directly exposing the envoy config,

[2020-10-16 08:25] Glyphack commented on #3021
Yes it's binary plugin but it's possible to download binary in `Makefile` when running `lint` command. I take a look at this to see if I can help.

[2020-10-16 09:47] Glyphack commented on #3021
Yes it's binary plugin but it's possible to download binary in Makefile when running lint command. I take a look at this to see if I can help.

[2020-10-16 09:47] Glyphack commented on #3021
Yes it's binary plugin but it's possible to download binary in Makefile when running lint command. I take a look at this to see if I can help.

[2020-10-16 14:34] Glyphack commented on #3021
There are several examples of logs messages first letter capitalized. Are you sure this feature is needed?

[2020-10-16 19:16] mike1808 commented on #3032
@jpeach do you think restricting fields to only take custom headers names will increase the chances of accepting this feature? For example:

[code]

So it won't be the exact Envoy config, and will help Contour to keep this API in future if Envoy decided to change it.

[2020-10-16 20:46] jpeach commented on #3021
https://github.com/jpeach/go-message-fmt

[2020-10-16 20:57] Glyphack commented on #3021
Do you have an idea about import alias namimg pattern?

[2020-10-16 22:04] jpeach commented on #3021
The alias naming guidelines are [here](https://github.com/projectcontour/contour/blob/main/CONTRIBUTING.md#import-aliases). It might be hard to programmatically get it right because the rule is a bit subjective, but I expect it to reasonably easy to ensure that a set of specific well-known imports are always consistent.

[2020-10-17 07:56] xcrezd commented on #3032
This is the only thing that stops us to move from nginx-controller to contour

[2020-10-18 11:37] fals opened #3036 "Unable to deploy contour in a raspberry cluster"
**What steps did you take and what happened:**
Following the default example from the [website ](https://projectcontour.io/getting-started/) to deploy in a cluster

`> kubectl apply -f https://projectcontour.io/quickstart/contour.yaml`

**What did you expect to happen:**
Get contour deployed and all pods as Ready and Running

`> kubectl get pods -n projectcontour -o wide`

[code]

**Anything else

[2020-10-18 19:07] Glyphack commented on #3021
I think this rule is easy to implement and also effective:
consider import path: `github.com/projectcontour/x/y/z/v*`

1. the alias name should be subset of `x[optional]_y[optional]_z[optional]_v*` where optional means it can be present or not. We can omit the last `_` because It's already used like [this](https://github.com/projectcontour/contour/blob/cc3076a487c9832eae6d57686cb53a53ed59e45c/apis

[2020-10-18 21:11] jpeach commented on #3036
Duplicate of #2868

Thanks for the detailed bug report @fals! We are currently working on adding an ARM build (see #3031), and that should be available in the next Contour release. If you are able to validate that PR in your test environment, we would love the feedback.

thanks!

[2020-10-18 21:11] #3036 closed

[2020-10-18 21:34] jpeach commented on #3021
The rule is newer than the code, so it's not (yet) followed consistently. A linter would be really useful to help us make the transition (especially if it emits a fixit suggestion) :)

In your examples, I think it would be fine to end up with `meta_v1` and `core_v1` in all cases. It's less conventional, but more consistent.

[2020-10-18 22:52] jpeach commented on #3032
xref #1507

[2020-10-18 23:53] jpeach opened #3037 "The "envoy" xDS server doesn't log xDS errors"
**What steps did you take and what happened:**

I hacked up contour so it would configure envoy with a bogus access log token.

**What did you expect to happen:**

Envoy should reject the xDS update, and contour should log that.

Envoy log:
[code]

Contour log:
[code]

Contour should at least be logging the error on this code path.

[2020-10-19 00:03] jpeach opened #3038 "Kubernetes client-go log interception no longer works."
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

Kubernetes cllient-go log messages should be wrapped with logrus formatter, and the `--kubernetes-debug=9` flag should make them really verbose.

[2020-10-19 00:11] jpeach commented on #3038
Could be we need to use https://godoc.org/github.com/kubernetes/klog#SetLogger

[2020-10-19 00:43] jpeach commented on #3032
When we send an unsupported log token, the listener resource is rejected:
[code]

Neither Contour nor go-control-plane recover gracefully from a rejected update, so we want to be careful to only push valid configuration.

https://github.com/envoyproxy/envoy/issues/13620

[2020-10-19 01:07] jpeach commented on #3032
I'm not sure that we need to be as restrictive as that. What if we allow known-good envoy log tokens within the same `json-fields` syntax? Maybe:

[code]

We can validate the right hand-side of the key=value pair against the internal list of non-parameterized log tokens. For parameterized tokens, we ought to be able to validate `%RESP()%`, `%REQ()%` and `%TRAILER()%` with a regex. I'm not sure tha

[2020-10-19 01:09] youngnick commented on #3032
Yes, to put this another way, the risk of accepting config directly from users is that the failure case is really bad. One typo, and your Envoys will stop accepting config from Contour, until they are restarted, even if you fix the issue. (!) This is not handled well in either the original Contour xDS implementation (#1176) or the go-control-plane one (envoyproxy/go-control-plane#46).

@jpeach's s

[2020-10-19 04:13] youngnick commented on #2993
Agreed, this makes sense.

[2020-10-19 05:07] jpeach commented on #2997
@danehans it looks like anti-affinity to me https://github.com/projectcontour/contour/blob/main/examples/contour/03-contour.yaml#L28-L36

[2020-10-19 07:27] Glyphack commented on #3021
Can I start working on implementation for import alias?

[2020-10-19 08:36] jpeach commented on #3021
Yes, please do!

[2020-10-19 16:11] Zsolt-LazarZsolt opened #3039 "Ingress path missbehaving when upstream service is not found."
**What steps did you take and what happened:**
Installed an ingress resource with:
/ path served by service1
/second served by service2

[backend1.txt](https://github.com/projectcontour/contour/files/5403230/backend1.txt)
[backend2.txt](https://github.com/projectcontour/contour/files/5403231/backend2.txt)
[ingress.txt](https://github.com/projectcontour/contour/files/5403234/ingress.txt)

Both serv

[2020-10-19 17:00] mike1808 commented on #3032
@youngnick I'll open a PR for a design. Also, just curious why the [Envoy JSON logging proposal](https://github.com/projectcontour/contour/blob/main/design/envoy-json-logging.md) is still in a draft stage?

[2020-10-19 19:55] skriss commented on #3039
It looks like in our ingress processor, if we encounter a path pointing to a service that doesn't exist in the cluster, we silently ignore it: https://github.com/projectcontour/contour/blob/main/internal/dag/ingress_processor.go#L138-L141

The result of this would be that only the `/` route gets configured in Envoy, so every path, including `/second`, ends up matching that route.

At a minimum, we

[2020-10-19 20:41] skriss commented on #3038
I think I broke this when I upgraded client-go. The new client-go uses klog v2.2.0. It looks like upgrading Contour's dependency to that same version fixes this issue.

[2020-10-19 20:46] jpeach commented on #3039
Yeh, basically every error in ingress is silent :(

[2020-10-19 21:35] tsing opened #3041 "Support custom use_remote_address settings in Envoy"
We are using Contour behind the AWS ALB, and having issues on getting the real remote address of the client connection.

The AWS ALB would pass X-Forwarded-* headers to Envoy, but we couldn't get the X-Forwarded-For and X-Forwarded-Proto headers from the downstream.

We are thinking it could be fixed by allowing custom the *use_remote_address* setting in Envoy.

[2020-10-19 21:42] #3038 closed

[2020-10-19 23:50] youngnick commented on #3041
Yes, it seems that for forwarding X-Forwarded-* info on, `use_remote_address` must be set to `false`.

Both the [v2 api](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#use_remote_address) and the [v3 api](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_co

[2020-10-20 01:30] jpeach commented on #3041
Yeh, I think the policy question that operators need to specify here is whether the downstream connection is trusted or not; i.e. where the envoy sits in the proxy hierarchy.

extended discussion [here](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#x-forwarded-for)

[2020-10-20 01:57] jpeach commented on #3024
You need envoy to support brotli as a transfer encoding since it is a hop-by-hop setting (see [RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.3.1), https://github.com/envoyproxy/envoy/issues/4429

[2020-10-20 02:07] #2621 closed

[2020-10-20 02:58] jpeach opened #3043 "Switch to log.SetLogger to intercept Kubernetes logs"
**Please describe the problem you have**

klogv2 has the https://godoc.org/github.com/kubernetes/klog#SetLogger API, which should let us drop the vaguely sketchy output stream we use to capture  core Kubernetes log output.

[2020-10-20 02:58] jpeach commented on #3043
xref #3040

[2020-10-20 04:24] youngnick commented on #2809
@jpeach and I discussed this some more yesterday, here's a summary. Please correct me if I've missed anything @jpeach!

We're inclining towards the latter model referenced above, more specifically:
- A GatewayClass describes a collection of Gateways
- A collection of Gateways must be mergable (defined in service-apis)
- A collection of Gateways represents an Envoy deployment.
- An Envoy deployment

[2020-10-20 04:26] wildermesser opened #3044 "Support list of loadBalancerPolicy for HTTPProxy"
Currently, I can use only one policy from:
 - RoundRobin
 - WeightedLeastRequest
 - Random
 - Cookie
But envoy supports a list of parameters for hash_policy. And the cookie is only one of them. With cookie `loadBalancerPolicy`, I have this envoy's config:
[code]
When a request does not contain this cookie, it will be routed to a random backend server. But I want to set additional rules like:
[code

[2020-10-20 04:28] youngnick commented on #2809
This issue blocks #2139 and #2287.

[2020-10-20 04:31] youngnick commented on #2515
I seem to recall some discussion of route actions in a more general sense in the service-apis, perhaps we can take some cues from there?

[2020-10-20 04:51] #3034 closed

[2020-10-20 06:28] youngnick commented on #3032
It's probably still in draft because we forgot to update it to final, oops. Thanks for pointing that out.

[2020-10-20 11:07] johanbrandhorst commented on #2664
FYI this is possible to implement with the new external authorization server API in 1.9. You can use the Istio authservice for inspiration: https://github.com/istio-ecosystem/authservice. They put together a pretty cool flow chart [here](https://miro.com/app/board/o9J_kvus6b4=/). The key is to return HTTP redirects to the client.

[2020-10-20 12:01] johanbrandhorst commented on #2254
Sorry if this isn't the best place for this, but what is the reason that Contour can't support knative natively? Why the need for the separate project?

[2020-10-20 14:06] mattmoor commented on #2254
This sort of ties into: https://github.com/projectcontour/contour/issues/2809

We use a separate installation of Contour for each "class"-equivalent in the Knative model.

If a single install of Contour could satisfy Knative's needs, then we could maybe discuss it, but I'm still not sure it makes sense given costs/benefits (e.g. vendoring knative?) and the longer term prospects (e.g. ingress v2).

[2020-10-20 16:53] #2868 closed

[2020-10-20 17:03] skriss commented on #2868
`projectcontour/contour:main` now has multi-arch images, including arm64: https://hub.docker.com/layers/projectcontour/contour/main/images/sha256-bf480a3603d37de2246fcebce45dca2e467f966fae7470317b1f5da03a7caf76?context=explore

It'd be great if folks interested in arm could test these out! Assuming all's well, we will ship a multi-arch image for the next Contour release.

[2020-10-20 17:05] stevesloka commented on #2868
I just revalidated that amd64 still worked on a local kind cluster (just to be sure the registry stuff is working).

[2020-10-20 17:17] skriss commented on #3036
@fals FYI the above referenced PR has merged, so `projectcontour/contour:main` is now multi-arch and includes `linux/arm64`. It'd be awesome if you could test it out! Assuming all's well, Contour 1.10 will include multi-arch support.

[2020-10-20 18:52] fals commented on #3036
Hey @skriss, I'm more than happy to test it out. Where can I find the new deployment file? Should I just change the existing one for v1.9.0?

[2020-10-20 19:15] skriss commented on #3036
https://github.com/projectcontour/contour/blob/main/examples/render/contour.yaml should do the trick, it'll point to the `main` contour image and also has been updated to Envoy 1.16, which as I understand now ships multi-arch support as well.

[2020-10-20 21:16] skriss commented on #2809
Can you give an example of where you'd have one Envoy deployment corresponding to >1 Gateways? I'm not quite following that.

[2020-10-20 22:12] youngnick commented on #2809
Gateways have listeners, and certain sets of listeners can be combined, either in the same Gateway, or in multiple gateways.

This theoretically would allow us to expose multiple secure or multiple insecure ports, which people have asked for.

In short, anything you can do in one Gateway by having multiple Listeners, you can do in multiple gateways of one listener each, as they may be merged.

[2020-10-20 22:21] danehans commented on #2122
The same issue exists in the envoy TLS cert:
[code]

[2020-10-20 22:26] youngnick commented on #2997
@danehans, does this meet what you were looking for?

[2020-10-20 22:38] Miciah commented on #2809
I'm confused by this statement.  Don't the annotation and IngressClass refer to the same thing?  That is, aren't `kubectl annotate ingresses/bar kubernetes.io/ingress.class=foo` and `kubectl patch ingresses/bar --patch='{"spec":{"ingressClassName":"foo"}}'` two ways of doing the same thing, namely configuring the Ingress named "bar" to use the IngressClass named "foo"?

Presumably IngressClass and

[2020-10-20 22:41] stevesloka commented on #2122
Another option to solve the cert generation issues might be to export the cert-gen logic from Contour's `internal` package into `pkg` package such that the operator can create certs the same way that `contour cert-gen` is run currently from the job.

Also as @jpeach pointed out, there's another spot that needs updated which tells how the subject_alt_name is verified.

[2020-10-20 22:53] danehans commented on #2809
xref service api's implementation: https://github.com/GoogleCloudPlatform/gke-networking-recipes/tree/master/gateway

[2020-10-20 23:05] Miciah commented on #2809
I think this is changing (that is, Service APIs may change to prohibit merging):  https://github.com/kubernetes-sigs/service-apis/pull/399

[2020-10-20 23:26] stevesloka opened #3047 "xDS v2-->v3 Upgrade Plan"
As Contour moves to the xDS v3 version API we need to think about how users upgrade from v2 to v3 in production systems.

Upgrading to v3 requires a new bootstrap config on the Envoy instances. After Contour is upgraded and only serves v3, there is a period of time where any Envoy that still runs the v2 API won't receive updates.

## How to solve?
- Have two instances of Contour, one with v2 and o

[2020-10-20 23:32] youngnick commented on #2809
I *think* that the field may behave that way if you don't create an IngressClass object? I will need to go an check the API again, it's been a while. I think the key part is that in the model I'm proposing, it should be possible to have the same Contour installation deal with either Ingress objects (however their class is determined) and service-apis objects.

[2020-10-20 23:32] jpeach commented on #3047
Pretty sure you can have v2 and v3 running in the same gRPC server

[2020-10-21 03:09] jpeach commented on #2070
Proposed breakdown of pages for the `Configuration` topic. Numbered items will become a page, items marked by a "#" indicate current headings on the `HTTPProxy.md` page whose content will be migrated.

[code]

[2020-10-21 03:27] youngnick commented on #2122
Yes, the thing to remember for the certs used by certgen is that it's a full TLS handshake, and the Envoys *will* verify the xDS server name (that is, the Contour server cert name) matches what's configured in Envoy.

In this case, that's more complicated, because we use `contour bootstrap` to create the config that tells Envoy what it should talk to, including the server name. So, probably, it wi

[2020-10-21 03:32] youngnick commented on #2070
Layout looks great to me.

[2020-10-21 05:22] jpeach opened #3051 "Upgrade integration tests to cert-manager >= 1.0"
**Please describe the problem you have**

cert-manager made a 1.0 release; upgrade the install and switch the integration test YAML to use the corresponding v1 API resources.

[2020-10-21 14:01] stevesloka commented on #2070
Can we make the menu on the left reflect the toc of docs rather than inside each page?

[2020-10-21 16:29] fals commented on #3036
@skriss I've tried the deployment you mentioned, I have a similar failure. Should I change the image from docker.io/projectcontour/contour:main to docker.io/projectcontour/contour:arm64 in the deployment?

[2020-10-21 16:47] skriss commented on #3036
No, it should work without any change to the tag. The first thing I'd do is set the image pull policies to `Always` to ensure you're not getting a cached image -- there are a few:

- https://github.com/projectcontour/contour/blob/main/examples/render/contour.yaml#L1698
- https://github.com/projectcontour/contour/blob/main/examples/render/contour.yaml#L1784
- https://github.com/projectcontour/conto

[2020-10-21 18:01] skriss commented on #2809
Few comments/questions:
- Assuming I understand correctly, then the Gateway stuff makes sense to me - it corresponds to an Envoy deployment, not a Contour, and Contour is just 1:1 with an Envoy deployment. It'd be interesting to see if there's room for a generic Envoy operator to manage deployment & lifecycle of it.
- Supporting a single ingress class per Contour seems reasonable (whether it's spe

[2020-10-21 19:29] fals commented on #3036
@skriss if I run the following command in my master node that is a raspberry Pi 4B, I have as result:

[code]

[2020-10-21 19:36] fals commented on #3036
@skriss just confirmed, I deployed the classic kuard image, I can only run the **arm** not **arm64**

`kubectl run kuard --image=gcr.io/kuar-demo/kuard-arm:1` only this one works

[2020-10-21 19:44] skriss commented on #3036
Ah, gotcha. So, we could add `arm` to the list of archs we build Contour for, but the problem is that Envoy is only built for `amd64` and `arm64` (see [the 1.16 image](https://hub.docker.com/layers/envoyproxy/envoy/v1.16.0/images/sha256-5e54002b16ad194cf1338a802fab9358ba7bd235360eb733b5871d1024219be4?context=explore)). So you'd be able to run Contour on your cluster, but not Envoy, which wouldn't

[2020-10-21 19:49] fals commented on #3036
@skriss I will setup as `arm64` and I come back to you when it is done.

[2020-10-21 20:38] moderation commented on #3047
Related to the move to Envoy 1.16.0 in https://github.com/projectcontour/contour/pull/3029 will by more v2 warnings as per https://www.envoyproxy.io/docs/envoy/v1.16.0/version_history/current
` config: additional warnings have been added for the use of v2 APIs. These appear as log messages and are also captured in the deprecated_feature_use counter after server initialization.`

[2020-10-21 21:49] jpeach commented on #3047
Accepted. Holding for feedback.

[2020-10-21 21:51] jpeach commented on #3044
Assign to Nick to review.

[2020-10-21 21:53] jpeach commented on #3043
Nice to have.

[2020-10-21 21:55] jpeach commented on #3037
We should do this before flipping to go-control-plane by default.

[2020-10-21 23:15] jpeach commented on #2070
AFAIK we can't make the left-most menu dynamic. We could possibly generate a fully expanded menu from parsing each document, but I don't plan to do that in the PR. However with smaller individual pages, the need for an intra-page menu is less, so hopefully most pages won't need it.

[2020-10-22 00:30] youngnick commented on #2982
This one seems like it will be a good idea to me.

[2020-10-22 01:53] jpeach opened #3053 "Only push ClusterLoadAssignments updates if they have changed"
**What steps did you take and what happened:**

As reported on slack, after upgrading to 1.9 Contour is spamming the following log message:
[code]

This really should be a debug level log, but more serious is the rate of updates this indicates.

Most likely cause is the notification that is sent when the load assignment cache is rebuilt on each DAG run. The assumption
was that (1) The DAG notifica

[2020-10-22 01:55] jpeach opened #3054 "Add metrics for DAG changes"
**Please describe the problem you have**

Add counter metrics to capture the rate of DAG change; we should count the number of times the DAG is rebuilt (and also the number of times the DAG actually changed if we can figure that out)

[2020-10-22 02:42] youngnick commented on #3054
I thought we were doing this already - maybe we have some stats about the DAG rebuild _time_?

[2020-10-22 03:55] youngnick commented on #3006
Thanks for the detailed request @ccravens!

I'm not opposed in principle to adding Lua filters, I can see that it's a great way for advanced users to make sure that Contour can meet their use case quickly.

However, I've got a few worries about it:
- We have an outstanding issue with the xDS protocols (#1176) that means that if we pass an invalid config to Envoy, Envoy will send a NACK, which we w

[2020-10-22 04:08] youngnick commented on #3044
Thanks for logging this issue @wildermesser. I think there are a few questions in here, I'll do my best to answer as I can.

For your example, it looks like the more complex functionality you want to use allows specifying what the hash that goes into the cookie will look like - in this case, based on the user-agent and source IP. I can see how that would be useful, I hadn't taken the time to fully

[2020-10-22 04:41] jpeach commented on #3044
xref https://github.com/projectcontour/contour/issues/2856

[2020-10-22 06:24] wildermesser commented on #3044
Thanks for answering my questions!
1. It is not clear from envoy documentation that you can use a list of parameters for hash_policy. Not only one. I did the same mistake when reading it for the first time. I agree that API shouldn't be braked. One possible solution was offered by
Starblade42 [here](https://github.com/projectcontour/contour/issues/361#issuecomment-452416768).
We can add new strate

[2020-10-22 14:00] johanbrandhorst commented on #399
Personally my hope for tracing with Contour is to be able to just tell Envoy where to dump all its tracing to, globally, with the potential to override it per-namespace. Specifically I'd like to tell it to dump OpenCensus format traces to a locally deployed OpenTelemetry collector using https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/opencensus.proto (v2). I'd really only need `

[2020-10-22 14:07] youngnick commented on #3044
If we can, @wildermesser, I'd really like to understand your use case, so we can make it so you don't need to carry a fork (at least for too long). Are there specific things you're looking to achieve with the greater configuration flexibility?

[2020-10-22 14:13] youngnick commented on #399
We generally haven't done any config on a per-namespace basis, really, for Contour, because of the way Contour is triggered to generate Envoy config (basically, when one of a set of objects change). It seems like a global option, overridable per-HTTPProxy, would meet the most use cases out of this issue.

I'll wait to hear from any other interested parties, but if that's the case, the next step wi

[2020-10-22 14:19] stevesloka commented on #3006
I agree with @youngnick that users can get into a whole bunch of trouble with this, but at the same time we need to strike a balance with features. If support is an issue, one of the troubleshooting steps can be "disable your lua filters" and then test from there.

Maybe we could add some validation commands to Contour (or a kubectl plugin) to help out and implement the config load check tool (htt

[2020-10-22 14:24] ccravens commented on #3006
Hello @youngnick thanks for the response and feedback! I was hoping to get feedback to really think this through with the community and go back and forth on ideas.

I first want to address the last point about the denial of service. I can imagine if you have several engineers that are working in your k8s environment, you wouldn't want someone applying a config that could bring down the entire clus

[2020-10-22 14:31] ccravens commented on #3006
@stevesloka

[code]

I think that's a great idea as well! Create a gauge of "how much risk are you willing to accept for your particular contour deployment" might be a great way to strike that balance!

[2020-10-22 14:41] #2972 closed

[2020-10-22 19:50] stevesloka commented on #3047
https://www.envoyproxy.io/docs/envoy/latest/faq/api/control_plane_version_support

[2020-10-22 20:51] jpeach commented on #1944
The ingress conformance suite has made pretty steady progress; this issue can be worked on now.

[2020-10-23 04:57] youngnick commented on #2809
The maintainers discussed this in a catchup yesterday, and I believe this was the consensus we arrived at:
- `projectcontour/contour` will support reading from Gateways in so far as it's required to use the HTTPRoute and TLSRoute objects that form part of service-apis. This continues our current focus on L7 and HTTP/HTTPS. If and when we build something that offers TCPRoute and UDPRoute support, t

[2020-10-23 08:05] inigohu commented on #399
I agree with @johanbrandhorst. We had to make a fork to configure opencensus. We're using envoy as an edge proxy and the sampling decision is being made at this point. That decision is being propagated through the network to the rest of the services. Then we're centralizing the metrics/traces ingestion with the opentelemetry collector.

We did the same approach but added an additional flag to set

[2020-10-23 08:42] Glyphack commented on #3021
I was scanning the repo and found this is this a lint error we should catch?
[code]
error is raised because `envoy` does not match `envoyproxy` we can extend word match to a regex like `*envoy*`.

[2020-10-23 09:31] farconada commented on #3006
+1 for opt-in

[2020-10-23 15:48] skriss commented on #370
FYI: I'm in the process of writing a document that provides background information and describes some possible approaches that Contour could take for supporting rate limiting. I'll publish that for comment once it's ready.

In the mean time: for anyone interested in this feature, please tell us about your requirements and use cases! If you're familiar with Envoy's rate limiting capabilities - are

[2020-10-23 19:10] danehans opened #3058 "Incorrect Port Name in Contour Deployment"
**What steps did you take and what happened:**
The example Contour [deployment](https://github.com/projectcontour/contour/blob/main/examples/contour/03-contour.yaml) names the metrics port as `debug`:

[code]

Contour logs confirm that the metrics service listens on `8000` and the debug service listens on 6060:
[code]
Contour's metric service is listening on
**What did you expect to happen:**
The

[2020-10-23 19:25] stevesloka commented on #2809
To me this is up in the air at the moment as to if it's a new project or just part of Contour, but agree it's an implementation detail for later on. The current focus is on what Contour does today (e.g. HTTP L7).

What do you mean by this just to be clear @youngnick?

[2020-10-23 21:30] jpeach commented on #3021
On Oct 23, 2020, at 7:43 PM, Glyphack <notifications@github.com> wrote:

﻿

I was scanning the repo and found this is this a lint error we should catch?

import envoy_api_v2_auth "github.com/envoyproxy/go-control-plane/envoy/api/v2/auth"

error is raised because envoy does not match envoyproxy we can extend word match to a regex like *envoy*.

I yeh this is why I suggested hard coding well known p

[2020-10-24 00:50] jpeach commented on #2809
This is a reasonable starting point. However, there's no way for several components to program the same Envoy data plane, so we may find that we need to revisit this.

I agree that a GatewayClass corresponds to a Envoy data plane deployment. I think the missing piece here is a controller to associate the data plane with the class. That is - you need to be able to deploy a data plane, then later on

[2020-10-25 22:37] youngnick commented on #2809
There is a `parameters` field in the IngressClass object that is a `TypedLocalObjectReference` - I'm proposing that we do _not_ use that at the moment, and stick with our current configured-by-file/ConfigMap setup.

[2020-10-25 22:37] youngnick commented on #3058
Agreed, this should be changed to `metrics`.

[2020-10-26 00:52] #2070 closed

[2020-10-26 04:19] youngnick commented on #399
Sounds like we really need two, maybe three settings:
- the place to send traces
- the probability sampling value
- the type of the trace (if we end up supporting more than one).

Questions I have for people watching this issue:
- Does OpenCensus meet everyone's needs? Obviously it does for @johanbrandhorst and @inigohu, but can I get any comments from anyone else?
- How important is probability s

[2020-10-26 04:48] wildermesser commented on #3044
No, nothing more than I specified on the topic message. I think that it is rational to implement all hash_policy options from [evnoy](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-routeaction-hashpolicy) because:

- declaration of all options is similar
- someone may require other options than I need. For example `query_parameter`

[2020-10-26 10:44] johanbrandhorst commented on #399
I think we _could_ do without probability sampling as an option initially - as mentioned before the world is moving to a tail based sampling model where the aggregators choose what to sample and the producers just blindly fire things to the sink.

Just as a stop gap - what can I do today if I want to play around with this? Modify the Contour ConfigMap before starting contour? What do I have to set

[2020-10-26 14:50] tsloughter commented on #399
Note, OpenCensus is "deprecated". The project has merged with OpenTracing to become https://opentelemetry.io/

We hope to have a GA release soon. Contour should definitely move forward with OpenTelemetry and not OpenCensus -- or any other option in my opinion :)

[2020-10-26 14:56] johanbrandhorst commented on #399
Envoy currently does not support exporting OpenTelemetry traces, or that would have been the obvious choice. OpenCensus is indeed deprecated, but in the interesting of adding _some_ support, OpenCensus still has wide library support in a range of languages, and the OpenTelemetry collector can consume the OpenCensus traces, so it's also a forward compatible choice.

[2020-10-26 14:59] tsloughter commented on #399
Ah, so Envoy is instrumented with OpenCensus? Then that makes sense.

OpenCensus and OpenTelemetry use the same propagation format (W3C Trace Context) so it also means propagation upstream will work to OpenTelemetry instrumented services.

[2020-10-26 15:22] alexgleason commented on #1269
Today I used Contour to launch https://10minutepleroma.com/, which lets users deploy a social media server on a subdomain for 10 minutes by clicking a button.

It was important I had the ability to manage routes as resources (HTTPProxy) since people could provision servers simultaneously, and I did not want to deal with the race conditions from rewriting Ingress rules.

Most of the magic happens h

[2020-10-26 16:14] skriss opened #3062 "site: allow content to horizontally expand beyond 1440px"
The content on the site/docs seems to be limited to a max width of 1440px, even if the browser window is expanded beyond this. It'd be really nice to allow it to continue to expand, so wider screens could display more content and less whitespace.

[2020-10-26 16:19] skriss opened #3063 "site: fix broken links"
It looks like after merging #3057, we have some broken links that point to the now-deleted `httpproxy.md` page. The site-proof check shows them:

https://github.com/projectcontour/contour/runs/1306396610

[2020-10-26 17:20] bgagnon commented on #902
PROXY support for upstream sockets (envoyproxy/envoy#1031) has now landed in Envoy (envoyproxy/envoy#12762).

[2020-10-26 19:16] Glyphack commented on #3021
@jpeach I finished the implementation of the linter. here's the [PR](https://github.com/Glyphack/go-import-alias/pull/1), Can you take a look at it? also I attach the result of running this linter on the repo, seemed fine to me but double check is good.
[res.txt](https://github.com/projectcontour/contour/files/5440897/res.txt)

[2020-10-26 19:56] stevesloka commented on #3036
I just setup my RPI4 with ESXi. Then deployed an Ubuntu 20.04 VM which I then joined to my existing kubeadm cluster. After that I deployed Contour/Envoy on the arm ESXi node by using nodeSelectors targeting `kubernetes.io/arch: arm64` and everything worked! =)

[code]

[2020-10-26 20:25] stevesloka commented on #3063
So the PR job didn't pick up this running the proof check?

[2020-10-26 20:28] skriss commented on #3063
https://github.com/projectcontour/contour/issues/2032 makes it pretty ineffective as a PR check for broken links

[2020-10-26 20:35] stevesloka commented on #3047
@moderation thanks for the link to the logs, I do see those now in Envoy v1.16.0. =)

[2020-10-26 20:35] stevesloka commented on #3047
I played around with this a bit today and think @jpeach's suggestion is good to run both versions of the server at the same time.

I haven't been able to get different transport / resource api versions nor get the `envoy.reloadable_features.enable_type_url_downgrade_and_upgrade` to work.

**Solution:**
Currently Contour serves a v2 endpoint which Envoy clients connect to since `transport_api_versi

[2020-10-26 20:36] skriss commented on #2982
Yep, sounds reasonable to me.

[2020-10-26 20:38] skriss commented on #2809
SGTM. Agree that we don't yet need to make a decision on where TCPRoute/UDPRoute code would live if we decide to built it.

[2020-10-26 20:39] stevesloka commented on #3047
The alternative which might make more sense is to change the `xds-server-version` to a list of versions. We can still keep the same logic outlined previously, but gives a more clear representation of Contour's behavior.

Additionally, changing to a list will allow for new xDS versions to be enabled if specific users desire to do that which using the default strategy would automatically enable them

[2020-10-26 21:27] #2716 closed

[2020-10-26 22:11] #3063 closed

[2020-10-26 22:20] danehans opened #3065 "HTTPProxy Example Fails"
**What steps did you take and what happened:**
The [HTTPProxy example](https://projectcontour.io/docs/v1.9.0/deploy-options/#test-with-httpproxy) fails with:
[code]

**What did you expect to happen:**
No errors.

**Anything else you would like to add:**
N/A

**Environment:**

- Contour version: 1.9
- Kubernetes version: (use `kubectl version`): v1.16.6-beta.0
- Kubernetes installer & version: kind

[2020-10-26 22:41] #3065 closed

[2020-10-26 23:04] youngnick commented on #399
TIL about OpenCensus vs OpenTelemetry, thanks @tsloughter!

It looks from @pims previous examples like you may be able to get a test version of this working by creating your own bootstrap config and modifying it - `contour bootstrap` is currently used by the Envoy deployment in an init container to generate the bootstrap for Envoy proper to consume - so you could take that output and munge it a bi

[2020-10-26 23:12] youngnick commented on #3047
That solution sounds great @stevesloka! That seems like a great way to allow people to move to v3 as they are ready - if it's just a change to `contour bootstrap` for the actual cutover, then we can do it with the usual process - add a new flag that defaults to the current version, add the new version as an option, then flip the default, then later, remove the flag. (Just for the boostrap, I mean)

[2020-10-27 04:19] kevincantu commented on #399
Since there are some questions above, it may be useful to recap a couple things.

Envoy support:
* Envoy supports the creation and export of traces [to several different kinds of system](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/trace) (OpenCensus, AWS X-Ray, Zipkin, and several others) through plugins.
* There's both [v2](https://www.envoyproxy.io/docs/envoy/latest/api-v2/co

[2020-10-27 04:31] jpeach commented on #3047
Defaulting to both versions sounds reasonable to me.

I think it will be tricky to make the config file accept either a string or an array for the `xds-server-version` key. If we hard-switch to an array, that will break compatibility. But you could achieve a similar effect using the value "any" to indicate that Contour should serve all xds versions.

This approach is the most consistent with what

[2020-10-27 05:25] youngnick commented on #3006
@ccravens Thanks for the detailed response!

You're right that this comes to the heart of the philosophy for Contour. How much configurability do we allow - or more bluntly - how much do we trust our users to not make mistakes? The thing I've always tried to keep in mind is that _everyone_ makes mistakes, and we need to do our best to ensure that the inevitable mistakes will produce the least wors

[2020-10-27 05:36] youngnick commented on #902
I've put this one back into "needs triage" so that we can reevaluate where it's at and try to get it prioritized.

[2020-10-27 06:09] jpeach commented on #3021
Unclear to me what the rule means for this import, maybe `apimachinery_errors`?

Hmm, what is this telling me? Maybe an artifact of the testing mechanism?

👍

Overall, it looks like the linter is doing a pretty reasonable job :)

[2020-10-27 07:22] Glyphack commented on #3021
Yes that's meant to be correct, maybe error message needs more clarification.

I suspect this is only happening on my machine could not find anything about it.

[2020-10-27 12:32] stevesloka commented on #3047
We haven't shipped the feature yet, so have time to switch which is why I'd like to determine this path before shipping v1.10.0.

For the list of supported xDS versions, any version in that list would be served by Contour. This helps with future proofing as well, when v4 is released and if parts of Contour switch over, potentially we'd want to allow users to move to that while others want to stay

[2020-10-27 13:23] johanbrandhorst commented on #399
Having no knowledge of how anything on contour works I spent some time this morning playing around with code changes to manually set the tracing configuration. I hacked together something in `bootstrap.go` just as a starting point:
[code]
I rebuilt the docker image and applied it to my local cluster. This did appear to set the envoy bootstrap tracing configuration correctly, but I was getting gRPC

[2020-10-27 16:20] skriss commented on #370
A draft of the background doc is up: https://github.com/projectcontour/contour/pull/3070. It's still liable to change, particularly around possible solution paths, but feedback is welcome!

[2020-10-27 20:57] jpeach commented on #399
I expect that we will need to be able to configure a few different tracing systems. The space is really complex right now, as you point out. Even if OpenCensus is the emerging standard, right now I'd expect that a lot of people are using systems built around Zipkin or Jaeger.

[2020-10-27 22:24] #1507 closed

[2020-10-27 22:24] #3032 closed

[2020-10-27 22:24] tsloughter commented on #399
What you'll want is the ability to configure the propagation and export format.

So for Zipkin that is the B3 spec for propagation and for Jaeger I'm not sure they have an actual standard for their header keys.. so best to just allow the user to configure the header key used.

For export it is similar, zipkin and jaeger both have protocols, and all the providers (Stackdriver, Lightstep, Honeycomb,

[2020-10-29 03:31] youngnick commented on #399
Thanks @tsloughter for the point about the propoagation and export format being separate things. That is a good point to whoever ends up doing the design doc for this.

[2020-10-29 03:33] youngnick commented on #3047
After a call today, I think the maintainers have decided that we're going to go with serving a combined v2/v3 server in the transition period between v2 and v3, and retire v2 as soon as Envoy removes support for it. The version served will not be configurable by Contour, the v2/v3 switch be solely done by the bootstrap configuring Envoy to request a specific version.

@jpeach @stevesloka @skriss,

[2020-10-29 03:36] youngnick commented on #3044
I think that there's some work here to understand a number of requests, this one #2856, and #2965, which all interact with fine-tuning load balancing. We may need to add a new field that exposes the complexity, but this one will need a design document. The core maintainers don't have this one prioritised yet, but I think we'll try and get it on the roadmap.

[2020-10-29 05:04] wildermesser commented on #3044
Glad to hear it! I will be happy to review this design document if you consider it is useful.

[2020-11-01 12:45] JasonMorgan commented on #1894
hey folks! Any progress on this? I was just looking for this exact info. Happy to help if anyone can point me at a starting point.

[2020-11-01 15:42] JasonMorgan opened #3086 "TCP Layer 4 Routing"
I'd like the ability to forward a particular port to a particular service without needing HTTPS. An example being, I run a CI tool called concourse and it gives me the ability to launch ssh sessions to ci jobs. In order to broker the ssh session the cli tool opens a connection to the concourse web app over port 2222. Using an NGINX ingress I accomplish this by creating a config map that instructs

[2020-11-01 23:05] jpeach commented on #1894
To expose gRPC services, you would need to enable TLS on the [virtual hosts](https://projectcontour.io/docs/v1.9.0/api/#projectcontour.io/v1.VirtualHost) and set the `h2` protocol on any upstream [service](https://projectcontour.io/docs/v1.9.0/api/#projectcontour.io/v1.Service) entries.

If you'd like to contribute a specific user guide, that would be great. Steve's comment above and the [site con

[2020-11-02 07:28] reagul commented on #1894
@JasonMorgan i am still working on this one. I will post something soon.

[2020-11-02 21:21] stevesloka commented on #3086
I see this as a new CRD, something like `TCPProxy` where you can define the L4 bits, IP Address, ports, etc. I think the starting bits can be limited and just document that (i.e. we're not going to deal with IP address management, etc), but overall I think this can be helpful for the community while still be limited compared to other projects that are full "L4" style proxies.

We just discussed th

[2020-11-02 21:31] #3047 closed

[2020-11-02 23:07] youngnick commented on #3086
The problem with defining things like IP address is that it requires the Envoy deployment to either have that IP address present on the Linux host, or have certain Linux features enabled so that it can add any address, even if it's not routable.

One of the reasons I've been reluctant to just go ahead with this is that there is a long list of things that you have to achieve with your Envoy deploym

[2020-11-02 23:12] youngnick commented on #2809
Okay, it's been a little more than a week, so I'm going to mark this as decided, and close it. This means that we can unblock both the service-apis work and the Ingress V1 work.

[2020-11-02 23:12] #2809 closed

[2020-11-02 23:25] youngnick commented on #2287
Okay, for the service-apis objects to be supported in Contour, we will need:
- [ ] GatewayClass watching support. Note that as decided in #2809, only one GatewayClass is supported per Contour deployment. The best way to make this work is TBD.
- [ ] Gateway watching support. Note that Contour itself will not create Gateways, it will watch for Gateways in its GatewayClass, and build a configuration

[2020-11-02 23:32] youngnick commented on #2139
This issue is no longer blocked, and needs a design document. As it's related to the service-apis design, I'll get started on a design document for it as well.

[2020-11-04 00:45] #3053 closed

[2020-11-04 15:16] #2933 closed

[2020-11-05 15:44] #3058 closed

[2020-11-05 17:52] stevesloka commented on #2879
@skriss are you still working on this? I struggled a bit recently to get this working with CertManager 1.0+ and finally figured out what was going on.

I use `Certificate` object directly and found I was missing a `kind` in the `issuerRef`.

Here are my working objects:

[code]

[2020-11-05 19:57] moderation commented on #2582
Envoy issue to add QUIC / HTTP3 docs - https://github.com/envoyproxy/envoy/issues/12923

[2020-11-05 19:57] moderation commented on #1248
Linking to https://github.com/projectcontour/contour/issues/2582

[2020-11-05 20:50] danehans commented on #1900
Consider using https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/mgmt_server for an Envoy liveness probe.

cc: @Miciah @stevesloka

[2020-11-05 21:12] skriss commented on #2879
I think I had only gotten as far as updating links and text, not actually testing anything. I'm not actively working on it.

[2020-11-06 10:28] sonawaneshivraj opened #3099 "Support for header hash based load balancer policy"
We have a requirement to load balance gRPC streams by performing a consistent hash over a header value.

Clients send messages (gRPC) to multiple instances of a service, the message contains a well-known header value (entity_id), the messages for a given entity_id needs to be processed by the same service instance.

With Envoy, this can be achieved via [header hash policy](https://www.envoyproxy.i

[2020-11-06 17:58] jpeach commented on #3099
xref #3044

[2020-11-06 20:57] Glyphack commented on #3021
I implemented fixit option for linter(https://github.com/Glyphack/go-import-alias/pull/2). and used it on contour main branch to see how it works(https://github.com/projectcontour/contour/pull/3108). As I can see It's doing a reasonable job, Do you have any comments on it?

[2020-11-09 18:26] Glyphack commented on #3021
a quick question @jpeach. what should happen to log messages like this?
https://github.com/projectcontour/contour/blob/1b68b6d3e6deb753c545a3a637c372af2b2a3d2e/cmd/contour/serve.go#L218-L219

[2020-11-09 23:16] moderation commented on #3024
Envoy doesn't support Brotli yet - https://github.com/envoyproxy/envoy/pull/12998

[2020-11-10 14:36] #3010 closed

[2020-11-11 17:34] thamms2 opened #3117 "Getting a include not found error when the childproxy is not there."
**What steps did you take and what happened:**
We are trying to see if defining the contour httpproxies can be delegated to various teams across the project and each team can define their own proxies during development. So in that scenario individual teams might have partial definitions and they might have to be integrated at somepoint.

I have a root proxy defined as:

[code]
I have the delegated

[2020-11-11 20:44] jpeach commented on #3117
xref #2206
xref #2141

[2020-11-12 18:52] thamms2 commented on #3117
@jpeach Thank you very much James. Looks like this is something that's being debated.

[2020-11-12 21:46] youngnick commented on #3117
Yes, @thamms2, sorry for not replying sooner. When we originally built HTTPProxy, we didn't have any way to tell people that only a partial config had been accepted, so we opted to treat any error, even a partial one, as fatal. Now that we have DetailedConditions with warnings available, we are looking at fixing this behavior to obey the principle of least surprise.

[2020-11-12 21:57] thamms2 commented on #3117
@youngnick No prob. Thank you very much Nick. Looks like as James pointed out, there are similar issues/enhancements that you folks are tracking. We will try to make some alterations in developing these resources and checkback. You can close the issue.

[2020-11-12 22:44] jpeach commented on #3117
For a missing include, one possible implementation is for Contour to emit a warning in the parent proxy status, and to install a route that always results in a 404 (e.g. routes to the cluster that would have been there if the service had been present).

[2020-11-13 16:10] stevesloka commented on #3086
Yeah I was starting too detailed and working out. I think an initial implementation could be to do how we handle listeners today which is to listen on `0.0.0.0` over ports `80` & `443` (configurable).

My suggestion is to allow L4 load balancers to be defined the same way, listening on ports that are defined in the CRD over `0.0.0.0`. A user could add those ports to the Envoy service to expose the

[2020-11-16 17:56] stevesloka opened #3130 "Extract certgen logic into public package"
Thinking about how the Operator is looking to integrate Contour (https://github.com/projectcontour/contour-operator/issues/34), we should extract the optional certgen logic which is currently used to generate self-signed certs into a public package such that the operator project can utilize without having to run binaries. This would be similar to how the config options were exposed.

[2020-11-16 18:14] rajivml opened #3131 "Contour in combination with istio"
HI,

Right now we are using istio for all our ingress i.e TLS termination, JWT auth/token validation and routing traffic to corresponding services based on paths, headers etc.

Now one of our customer who is using heptio managed kubernetes has an requirement that we use contour instead of istio for traffic management but you know that it's definitely not possible to add support for every networkin

[2020-11-16 18:23] #2479 closed

[2020-11-16 18:46] skriss commented on #1898
@stevesloka think we can consider this closed now?

[2020-11-16 18:49] stevesloka commented on #1898
Yup I think so! 🎉

[2020-11-16 18:49] #1898 closed

[2020-11-16 21:09] #1917 closed

[2020-11-16 21:34] stevesloka commented on #2495
@youngnick what were the thoughts around the basic info bits? I was looking to add things like `fqdn`, `path`, `headers`, etc to all proxies giving users a way to see what's been included.

Poking around a bit we need to add an `Info` section to the `DetailedCondition`.

Something like:
[code]

Then if we re-use the same `SubConcondition` struct, we'd get something like this:

[code]

I'd like to

[2020-11-17 00:33] jpeach commented on #2495
Why would you not just add these fields directly to status?

[2020-11-17 00:51] stevesloka commented on #2495
Makes sense to me @jpeach, was just trying to follow the idea of the conditions spec idea.

Following the thread of just adding to the status struct could have something like this:

[code]

[2020-11-17 14:18] thamms2 commented on #3117
@jpeach Sorry for the delayed response James. That would be grt.
If root HTTPProxy includes HTTPProxy A & B, then what if it validates routes & virtual hosts specified in these resources and throws an error only if there is a mismatch.
So, team A can write their HTTPProxy and team B can write theirs and test it. But, when they try to integrate, they just have to put a root HTTPProxy definition tha

[2020-11-17 18:37] stevesloka commented on #3131
Hey @rajivml I've heard of folks integrating Contour<>Istio together and getting things working but we don't have any official docs. Typically, history has shown that folks who have Istio, typically use Istio's ingress capabilities.

 The folks at Ambassador have a guide on how to integrate their Ingress controller with Istio, I'd expect much of the config would be the same and could follow along

[2020-11-17 19:41] stevesloka commented on #3062
@jonasrosland is Contour moving away from the current Jekyll site?

[2020-11-17 20:04] jonasrosland commented on #3062
@stevesloka Yes, but not immediately, and it would require some heavy lifting. The issue here though could be fixed with some CSS changes. I'll dive into it a bit.

[2020-11-17 20:21] jpeach commented on #3117
That's basically what happens today. The problem people have is that an error in the child proxy can propagate up to the root. So if a root proxy includes A and B, when A has an error, the routes from B would also be dropped.

[2020-11-17 21:13] stevesloka commented on #1598
https://github.com/projectcontour/contour/issues/2495#issuecomment-728562486

[2020-11-17 21:15] stevesloka commented on #2495
Other bits of information like who my parent is, might be interesting to follow the chain of inclusion around.

[2020-11-17 22:13] youngnick commented on #2495
We'll talk about this more, but my initial thoughts were:
- whatever we do, it has to be namespaced by root fqdn, and then show the full set of conditions, since a HTTPProxy can be included multiple times, either under different roots or the same root.
- I think that Conditions is actually not a good fit for this information - it's better as a field of some sort.
- Showing who the parent is would

[2020-11-18 00:16] jpeach commented on #902
xref #2529

[2020-11-18 00:21] jpeach commented on #2951
Discussed on slack https://kubernetes.slack.com/archives/C8XRH2R4J/p1604352906465900

The issue with the service turned out to not be the Envoy limit, but a problem with Node.Js server returning 431 if header size is greater than 8KiB.

[2020-11-18 05:51] thamms2 commented on #3117
@jpeach For that I like your solution of throwing a warning and supporting traffic via the valid route and return a 404 error on the invalid route.
But, in terms of the scenario I mentioned, we still would have to remove virtual host from HttpProxy A & HttpProxy B and have it just in the root HttpProxy rt? That would mean modifying the A & B proxies during integration.

[2020-11-18 21:58] alexgleason commented on #951
Hi all, I'm working on a hosting service with Contour. Users will bring their own domain names (in the 100s and perhaps 1000s), so it's important that I can automatically provision SSL certificates. Is the current best way to roll my own solution? Thanks. :slightly_smiling_face:

[2020-11-18 23:47] jpeach commented on #3131
Duplicate of #2767

[2020-11-19 16:14] shopeonarope commented on #2019
I ran into this as well but differently than the experiences described here. All that has been discussed seems to revolve around _applying_ a "bad" HTTPProxy. I found that it's possible to bring down an entire HTTPProxy VirtualHost when a backend Service is deleted. Once deleted, the HTTPProxy enters the Invalid status as the op mentioned and all routing for it is stopped.

[2020-11-19 16:49] stevesloka commented on #2019
I'd like to get this fixed up so we don't run into these types of problems as easily.

The problem with storing the "last good config" is where do you store the config? I guess the CRD has the last

1. An admission controller was the original idea to implement this which would allow invalid configs to be rejected before they are committed to the server. Doing that requires a DAG build in the contr

[2020-11-19 18:18] skriss commented on #2019
One idea I had was that we could use something like the Deployment -> ReplicaSet model -- each time the Deployment's spec changes, a new ReplicaSet is created, that's owned by the Deployment, to instantiate the new version of the spec. So for Contour, each time the HTTPProxy spec changed, a new HTTPProxyInstance (name TBD) could be created representing the new version of the spec. This could be he

[2020-11-19 18:19] jpeach commented on #2019
If the non-root proxy is invalid or missing , we can keep the route but drop the emit a [404](https://github.com/projectcontour/contour/issues/3117#issuecomment-726387084). If the service isn't there we can emit a [503](https://github.com/projectcontour/contour/pull/3071).

[2020-11-19 18:35] stevesloka commented on #2019
Fulfilling the intended path is probably a good idea since we're only doing `prefixMatches`, if we simply threw out the route, then another path would get the request which may not be what users want.

[2020-11-19 18:37] skriss commented on #2019
xref #3071 #3029

[2020-11-19 18:37] stevesloka commented on #2019
Neat idea @skriss! I like the analogy to k8s types. =)

[2020-11-19 18:41] tsaarni commented on #2019
I started with the 503 approach #3071 but got stalled.  It began with just programming 503 route for missing backend services, but quickly realized that is just one small part of what can go wrong.  Basically everything that today is error became warning, and if no clusters were left for the vhost that would be then error.  I think it can make troubleshooting bit more difficult in some situations.

[2020-11-20 03:07] ryanelian opened #3142 "Contour "X-Contour-Session-Affinity" cookie is missing "secure" and "SameSite" settings"
**What steps did you take and what happened:**

Enable Contour sticky session / affinity for a website:

[code]

Then open the said website in Firefox / scan the website using some security audit software.

Firefox will warn you that they will soon **reject** the cookie:

[code]

A security audit gives us this message:

[code]

This is a somewhat important problem because it may cause developers u

[2020-11-20 13:06] fferencik commented on #1615
I have same issue here on top of my TKG Cluster. Please how to fix?

[2020-11-20 13:46] stevesloka opened #3143 "no matches for kind "HTTPProxy""
I have same issue here on top of my TKG K8s 1.18.2 Cluster. I have tested both projectcontour.io/v1 and also projectcontour.io/v1alpha1 both showing same error message: `error: unable to recognize "01-ingress-to-httpproxy/basic-httpproxy.yaml": no matches for kind "HTTPProxy" in version `"projectcontour.io/v1alpha1" resp "projectcontour.io/v1". Please how to fix?

_Originally posted by @fferencik

[2020-11-20 13:49] stevesloka commented on #3143
Hey @fferencik! I can you list off your CRDs to verify what's installed? (` kubectl get crd | grep projectcontour`).

[2020-11-20 13:49] stevesloka commented on #1615
@fferencik I opened your comment into a new issue to track things there.

[2020-11-20 16:16] erwbgy commented on #2264
@jpeach Is making connect timeout configurable in TimeoutPolicy still planned?  Or is there another way to configure this?  As per @paulcreasey more time is required when using ExternalName Services outside of the current cluster.

[2020-11-20 16:58] skriss opened #3144 "update HTTPProxy status reporting documentation"
https://projectcontour.io/docs/v1.10.0/config/fundamentals/#status-reporting looks like it hasn't been updated since the move to conditions for reporting status.

[2020-11-20 17:09] stevesloka commented on #3144
//cc https://github.com/projectcontour/contour/issues/2988

[2020-11-20 19:44] jpeach commented on #2264
AFAIK no-one is working on this. I'd be happy to help anyone who wants to though.

[2020-11-20 23:18] jaysonsantos opened #3149 "Contour + envoy with force ssl redirect and proxied cloudflare leads to infinite redirects"
**What steps did you take and what happened:**
When configuring an ingress with `ingress.kubernetes.io/force-ssl-redirect: "true"` and pointing cloudflare proxy to the load balancer, it will keep redirecting **already https** calls to the same address leading to an infinite loop.

**What did you expect to happen:**
It should just render the page as it is already https

**Anything else you would li

[2020-11-21 07:02] erwbgy commented on #951
In my experience creating Certificate objects for the domain names directly is a good way forward as you don't necessarily want a separate TLS certificate for every domain name, but instead a single TLS certificate with multiple subjectAltName entries.  For example if you have a website that needs to be available at mysite.domain.com and mysite.domain.net you'd have two HTTPProxy objects but a sin

[2020-11-21 08:26] Glyphack commented on #3021
If we make a decision on how to integrate linter with project I can make progress on (#3108).
I guess there are two options:
1. using golangci-lint: the downside is that we have to use binary plugins.
2. using go-vet: downside is we have two source of linters(golangci-lint and go vet custom linters).
@jpeach @stevesloka

[2020-11-21 23:03] jpeach commented on #951
I would ty to avoid this in order to avoid HTTP/2 session re-use problems. This optimizes for the cost of certificates, but with lets encrypt, that cost can be driven to zero. There's no single policy that is right for everyone though :)

Maybe we can point people to this project in Contour documentation, or even integrate it deeper into the project (e.g. contour-operator could automatically insta