[2021-06-02 06:42] tsaarni commented on #3576
@youngnick It does not look too bad to me:

When I include invalid field `INVALID(:METHOD)` in access log format, I get following error in Contour log:

[code]

and at the same time in Envoy log:

[code]

The listener was rejected but since it was an update, the existing listener remained and traffic was not disturbed.  And at least for this kind of error, I think the error message is not too bad

[2021-06-02 07:03] Legion2 commented on #3313
no a timeout per route is enough. I also found [`TimeoutPolicy`](https://projectcontour.io/docs/v1.16.0/config/api/#projectcontour.io/v1.TimeoutPolicy) which can be configured per route. However, it does not allow to configure the idle timeout for upstream connections.

As a workaround I use the `RetryPolicy` with `RetryOn` `reset` to retry when there was an idle timeout by the upstream service. I

[2021-06-02 15:16] #3743 closed

[2021-06-02 15:45] OrlinVasilev opened #3759 "Improve "Content creation processes""
Based on https://github.com/cncf/techdocs/blob/main/assessments/0001-contour.md, better Content creation process is needed:

Content creation processes:

Because Contour maintains a Docs+Code monorepo, the CONTRIBUTING.md, Contributing, and How we work pages are all centered around code processes. As a content creator:
 - If I write documentation, who verifies that it's technically accurate?
 - If

[2021-06-02 15:58] OrlinVasilev opened #3760 "Improve "Website: Maintenance planning""
Based on https://github.com/cncf/techdocs/blob/main/assessments/0001-contour.md, better Website: Maintenance planning is needed:

Under Website: Maintenance planning

Monorepos: Having a docs+code monorepo is risky in the long term, as it couples all docs builds with code builds and vice versa. If docs CI fails because Netlify is temporarily down, for example, this means that all your code builds

[2021-06-02 19:27] skriss opened #3763 "test flake: log_test.go on os x"
https://github.com/projectcontour/contour/pull/3751/checks?check_run_id=2720427656

xref #3746

[2021-06-02 20:16] sunjayBhatia commented on #3763
Haven't been able to repro locally yet 😭

[2021-06-03 02:23] xaleeks commented on #3703
Source IP seems highly useful for session affinity.  And we should consider allow specifying the source IP in combination with headers for generating the hash value, leveraging the terminal:true to advance through the set of conditionals.  All on a per route basis.  Can we investigate this design for v1.17?  I'm going to tag it for visibility.  cc @skriss

Looking at the issue Nick linked here htt

[2021-06-03 02:41] xaleeks commented on #3726
Thanks for this issue, this is definitely a valid use case.  It was just by way of how we developed these features independently that resulted in this behavior where the request in a typical data plane hits the external auth first to get authenticated, then hit the rate limiter.  For DDOS protection, yes we should allow specifying it the other way around.

Also, I don’t know if we’ve verified this

[2021-06-03 03:22] xaleeks commented on #399
Wanted to revive this thread and update everyone that we are looking at adding tracing now, perhaps in the next release or the one after that.  A lot of the comments already touch on use cases and what tracing stack to use, so just adding couple of quick thoughts on how we might go about this here.

- Leverage envoy’s native tracing capabilities to tag incoming requests with some identifier (eg ht

[2021-06-03 03:29] xaleeks commented on #399
Also we can look to make tracing data actionable, ie. for security preventative measures.  I don't know if OPA is appropriate here, scenario I have in mind is services should be access in a particular order.  ie you can only hit the 'shipping' service after hitting 'checkout' service.  If it was the other way around, this should be logged and surfaced to the admin.

[2021-06-03 04:11] xaleeks opened #3769 "document Contour crypto functions for FIPS Compliance"
As part of the requirement to deliver a FIPS 140-2 compliant build, here’s an additional bookkeeping request.

As a user, I would like to document the crypto functions used in Contour, in order to meet my company security and compliance requirements.

- What are the cryptographic libraries, versions, and related crypto functions
- What cryptographic key management techniques (e.g., DH, PBE, CKM, e

[2021-06-03 04:38] xaleeks commented on #3759
Hi Orlin, please see some of my thoughts online.  Thanks for bringing this up for discussion

The Contour maintainers should verify the documentation.  I’d really appreciate your getting involved in some of the verification as well.

We can ask the community for any bandwidth they may have and also reach out to CNCF to see if they have any resources.

You can tag any of the Contour maintainers rea

[2021-06-03 06:02] tsaarni commented on #3576
Edit:  I incorrectly said [previously](https://github.com/projectcontour/contour/issues/3576#issuecomment-844221784) "_Giving users the ability to customize access log format string, gives them access to all of future formatters without impacts to Contour_" but I got confused again. Since the Envoy formatter extension specifically requires each extension to be activated - there is always an impact

[2021-06-03 09:59] OrlinVasilev opened #3770 "Moving the website into its own repository"
Based on: https://github.com/cncf/techdocs/blob/main/assessments/0001-contour.md

Moving the website into its own repository
Docs+Code combined repositories are a long-term risk. We strongly recommend decoupling these into their own repositories.

1. Figure out any code-related dependencies, i.e. API documentation that might be autogenerated, and figure out how to decouple this.

2. Create a separ

[2021-06-03 13:22] sunjayBhatia commented on #399
V3 envoy api reference: https://www.envoyproxy.io/docs/envoy/v1.13.1/api-v3/config/trace/v3/trace.proto

I vaguely remember an upstream envoy discussion about some tracers being removed, I’ll try to find it

[2021-06-03 13:42] sunjayBhatia commented on #399
https://github.com/envoyproxy/envoy/issues/9958

[2021-06-03 15:24] alsyia commented on #3185
Do you have some examples in mind, popular projects that do just that? We are specifically looking for an implementation that could be plugged into Auth0 :)

[2021-06-03 15:34] Zsolt-LazarZsolt opened #3771 "Shutdown-manager /ok filepath issue with read only root filesystem"
**What steps did you take and what happened:**
Consider the following setup
I created a manifest based on the latest example contour yaml.
The difference is running the shutdown-manager container as a non root user, in a container with readOnlyFilesystem is true.

        securityContext:
          runAsUser: 154691
          runAsGroup: 154691
          allowPrivilegeEscalation: false
          p

[2021-06-03 19:13] sunjayBhatia opened #3772 "test/e2e: Run contour on test host, not in k8s cluster so we can swap out contour config flags/file more easily"
Should help a lot with gateway e2e tests etc.

We can extract actual k8s things to test to another package (e.g. testing RBAC etc.)

To do:
- [x] Extract upgrade test logic to deploy rendered manifest into something more generic: https://github.com/projectcontour/contour/pull/3793
  - Should be able to decode manifest, modify resources, and redeploy
- [x] In e2e tests no longer rely on Contour exi

[2021-06-04 03:58] xaleeks commented on #3544
@pablo-ruth  Thanks for this context.  Let's keep this open for additional dialogue.

Feel free to email me at xalex@vmware.com to discuss in more detail

[2021-06-04 04:14] youngnick commented on #3772
Hopefully #3750 should help here a bit too.

[2021-06-04 04:30] youngnick commented on #3770
Historically, we had them in the same repo so that it would be easier for a small team to ensure that we kept everything up to date. We could ensure that the docs are in the same PR as the code.

I'll be honest, that I'm not sure we're big enough *yet*, for the separation of docs from code to be worth the additional overhead of requiring separate PRs. I think that I would rather we address this fe

[2021-06-04 04:33] youngnick commented on #3760
Feels like this one is maybe a duplicate of #3770 or vice versa? In either case, I think that we should concentrate on getting out information architecture right first before moving everything out. I agree that we do need to do it at some point, but I think the other stuff is better to do first.

[2021-06-04 19:35] sunjayBhatia commented on #3772
WIP branch here: https://github.com/sunjayBhatia/contour/tree/e2e-tests-local-contour

Gateway tests passing running contour locally, haven't switched them to use different gateways per test, but that should be easy to do

[2021-06-04 20:07] HatBat commented on #2264
We are also having a lot of issues in our product due to the hard-coded 250ms connect_timeout. We get the issue when a new upstream pod starts receiving a lot of traffic for the first time. Then for maybe a second or two connections will not always be able to complete in under 250ms. After that it's fine but we get problems from those failed connections. This is HTTPS and we have seen connections

[2021-06-04 23:11] swood opened #3775 "Contour doesn't work"
I'm trying to run the last version of Contour in Kubernetes with version 1.21.0.

I applied the yaml files and they created all resources. However, as far as I see the system doesn't work:

[code]

No logs from contour pod.
The only log I have is from envoy:
[code]

But I missed the cause of the problem from it.

Could someone help me find the cause because I am trying to find it for 4 days and do

[2021-06-06 23:53] youngnick commented on #3775
Hi @swood, sorry to hear Contour isn't working for you, thanks for logging this issue. It looks like Contour is failing to start for some reason, you can see the pods are in CrashLoopBackoff. Could you check the logs for Contour and post them, or any weird logs you see?

Also, how did you build your Kubernetes cluster? Everything *should* work on Kubernetes 1.21, if there is something we've missed

[2021-06-06 23:55] youngnick commented on #2264
Thanks for that info, @HatBat. If Envoy is changing the default connect_timeout, then I guess we can change our default too. Obviously the effect is that it will take up to 5s to realise than an endpoint is down if you're using passive health checking, but I guess in most cases, that's probably not an issue.

[2021-06-07 01:36] xaleeks commented on #3749
I think we can close this

[2021-06-07 01:36] #3749 closed

[2021-06-07 06:34] youngnick commented on #3771
Thanks for this issue @Zsolt-LazarZsolt. Ironically enough, we started using the file method to stop us having to make remote calls to the Envoy admin port for the shutdown/drain process.

I think that allowing config of the `/ok` file is okay, it will require a few updates though, so probably a guide on how to use that. I can't make any calls on when we would get to this, but I'll talk to @xaleek

[2021-06-07 06:37] youngnick commented on #3771
The ask here is, for anyone looking to pick this up:
- add a parameter to `contour shutdown` to set the path to the `ok` file.
- Write a guide detailing how to change the Envoy daemonset to have this actually work.

Please ping me if you decide to pick this up, I will make sure you get a shepherd for your PR.

[2021-06-07 14:15] OrlinVasilev commented on #3760
good point very much related so will close this one and keep the other one for discussion!

[2021-06-07 14:15] #3760 closed

[2021-06-07 14:17] vinzo99 commented on #3567
I finally had it working by tweaking the securityContext like this :
[code]

Thanks !

[2021-06-07 14:17] #3567 closed

[2021-06-07 14:49] OrlinVasilev commented on #3770
I do share the same opinion for now looks like mono-repo is good enough and it's easy to manage when we introduce new features for example with single PR you can fix code and website if needed!

@celestehorgan is that potential risk during the Contour graduation process?

[2021-06-07 16:52] tannevaled opened #3779 "HTTPProxy healthCheck does not work correctly"
**What steps did you take and what happened:**
When i define an HTTPproxy pointing to a working HTTPS external service using ExternalName, it works.
As soon as i add HTTPS services for down external endpoints to simulate failure or broken region even the healthy endpoint stops working with 'no healthy upstream'.

[code]
[code]

**What did you expect to happen:**
I expect contour to forward the tra

[2021-06-07 18:41] stevesloka commented on #3779
Hey @tannevaled! I think this is the same issue described here (https://github.com/projectcontour/contour/issues/1119).

The problem is that Envoy doesn't treat an entire unhealthy cluster as bad and still tried to route to it. I have some ideas on how to solve (https://github.com/projectcontour/contour/issues/1119#issuecomment-503149684), but we need to just get together a design and implement th

[2021-06-07 18:58] stevesloka commented on #3742
Sorry for the delay on this @karuppiah7890, we're digging into why this isn't re-indexing properly.

[2021-06-07 18:58] jonasrosland commented on #3742
Tagging @orlinvasilev for visibility as well

[2021-06-07 19:40] HatBat commented on #2264
@youngnick, This sound like a good proposal that would cover the needs of us and most Contour users I think.

[2021-06-07 19:48] skriss commented on #399
from https://github.com/projectcontour/contour/issues/399#issuecomment-741624428:

Yeah, unfortunately we still don't have a solution here. For rate limiting we ended up going with a single global rate limit service configured at the Contour level. We could do the same for tracing, though the votes on the original comment make it clear that folks prefer per-vhost settings. If we go with per-vhost

[2021-06-08 01:15] youngnick commented on #399
I think that adding a single, global tracing sink first is at least a start, and we then add the ability to override that sink on a per-object basis later?

[2021-06-08 02:55] karuppiah7890 commented on #3742
That's okay, I could still navigate and find what I wanted, also the search in v1.15.x version worked! :)

[2021-06-08 08:23] Zsolt-LazarZsolt commented on #3771
Thank you for looking into this.
One question:
Do I understand it correctly that contour shutdown-manager also needs this parameter as that one is looking for the file while stalling the /shutdown endpoint calls.

Maybe optionally, beside being a parameter, this could also be set in the containers env, so both commands can pick it up?

[2021-06-08 08:44] Zsolt-LazarZsolt opened #3782 "Unrelated endpoint changes trigger ClusterLoadAssignment change and push"
**What steps did you take and what happened:**
I used the 1.15 contour example.yaml to reproduce the issue, the only changed thing is adding --debug to the contour serve process, and changing "--log-level debug" for envoy.

I installed 2 services to the cluster both tied with a separate deployment with one pod.
- relevant-service
- other-service
and created the simplest httpproxy I could think of

[2021-06-08 08:59] Zsolt-LazarZsolt commented on #3782
[setup.txt](https://github.com/projectcontour/contour/files/6615010/setup.txt)
Forgot to add my file for the setup
Also attaching the contour manifests with my changes. (Switching on debug logging, and removing envoy probes.)

[contour.txt](https://github.com/projectcontour/contour/files/6615033/contour.txt)

[2021-06-08 13:19] jonasrosland commented on #3742
We've updated the search config over on our search engine side, changes should come into effect within 24h:
https://github.com/algolia/docsearch-configs/pull/4166

[2021-06-08 13:21] sunjayBhatia commented on #3782
Right now contour doesn’t implement incremental xDS so we do send the state of the world on changes to resources

[2021-06-08 13:38] jonasrosland commented on #3742
Looks like this works now, can someone else verify so we can close this?

[2021-06-08 13:47] stevesloka commented on #3742
Works for me! 🎉

[2021-06-08 13:47] #3742 closed

[2021-06-08 14:01] sunjayBhatia commented on #3782
Related: https://github.com/projectcontour/contour/issues/1176

[2021-06-08 15:14] Zsolt-LazarZsolt commented on #2354
Me too sorry for the late reply. It does seem like nothing can be done from contours perspective.
I will close the ticket.

Thank you for the help.

[2021-06-08 15:14] #2354 closed

[2021-06-08 15:46] skriss commented on #399
That'd be consistent with rate limiting, so I like that in principle.

[2021-06-08 17:31] skriss opened #3786 "site: de-dupe params.latest_release_tag_name and params.docs_latest"
We have both `params.latest_release_tag_name` and `params.docs_latest` that are in practice always going to be the same thing since we generate a new set of docs for each new release. Let's consolidate to just one param:

- choose one param and remove the other from site/config.yaml
- update all site pages to use the one param
- Update https://github.com/projectcontour/contour/blob/main/hack/relea

[2021-06-08 19:11] #2966 closed

[2021-06-09 03:56] youngnick commented on #3771
Yes, the file is used as a coordination point between the containers, so that we don't need to use network calls, as those network calls could too easily be used for a DoS attack.

[2021-06-09 04:02] youngnick commented on #3782
Thanks for the detailed report @Zsolt-LazarZsolt. I agree that Contour should ideally not be sending endpoint updates when the updates haven't changed. I'm not sure if we will be able to do much about it until we've fixed #1176, but one of us will see if we can replicate and understand the cause of the problem.

[2021-06-09 06:19] xaleeks opened #3789 "support redirection on source IP"
There’s an interesting requirement from k8s-infra-WG to use an Envoy based solution for doing 302 redirects to different instances of an application running on various public clouds (as well as baremetal).  This ticket is really for us to explore this idea and see if Contour is an appropriate solution.  They are using BGP ASNs to determine the correct instance to route to which is based on a varie

[2021-06-09 14:09] Zsolt-LazarZsolt commented on #3782
Hello Everyone. Thank you for the quick assessment.

I have trouble seeing the connection between the two tickets, let me elaborate on the issue.
My issue is not with the type of the update, my issue is that an update toward the envoy pods happens at all.
So basically any endpoint change in the cluster will trigger the communication. (even if the endpoint is not part of any configured upstream)

A

[2021-06-09 14:11] stevesloka commented on #3782
I don't think that #1176 has anything to do with this. The scenario you showed @Zsolt-LazarZsolt should not have cause any xDS changes, so no updates should have happened.

We have logic to check if a [service that changed](https://github.com/projectcontour/contour/blob/7d7ffea619dcb45cb9c7e0406b37047fc9fcae46/internal/dag/cache.go#L370) causes an update. So in your example the update of the `othe

[2021-06-09 14:12] stevesloka commented on #3782
haha that timing @Zsolt-LazarZsolt! 😀

[2021-06-09 14:20] stevesloka commented on #3782
I'd need to test as well, but at a first glance, the patch from @tsaarni looks like it's on the same path that I came down in my response.

I think if we combined that with a backoff timer, that would really help out!

[2021-06-09 15:14] sunjayBhatia commented on #3782
ah i misread, i thought the HTTPProxy etc. also referenced the irrelevant service, but it does not 👀

[2021-06-09 16:24] Zsolt-LazarZsolt commented on #3782
Maybe it is also good to add, that in case a new unrelated service is added. (clusterIP service without any endpoints)
Nothing seem to be in the debug log (which is good)

The manifest looks as follows:
`kind: Service
apiVersion: v1
metadata:
  name: dummy-endpoint
spec:
  type: ClusterIP
  ports:
  - port: 9191
    targetPort: 9191
`

Although when the same service is removed. I can see the follo

[2021-06-09 16:40] skriss opened #3792 "write design doc for tracing support"
ref. #399

[2021-06-09 19:14] #3786 closed

[2021-06-10 15:06] skriss commented on #2032
With the migration to Hugo we dropped the siteproof job, closing this out.

[2021-06-10 15:06] #2032 closed

[2021-06-10 15:09] skriss commented on #3384
Closing this one out too since with the migration to Hugo we dropped the siteproof job.

[2021-06-10 15:09] #3384 closed

[2021-06-11 03:44] jroper opened #3799 "Option to disable access logs"
Access logs are not always needed or desirable. As far as I can see, there is no way to turn envoy access logging off (if there is, please show me!). It should be possible to turn it off.

[2021-06-11 12:07] tsaarni opened #3800 "HTTPProxy with tcpproxy and routes results in 301 moved permanently"
The description of `HTTPProxy.spec.routes` says

But this is not fully true currently.  The code processes routes regardless, and it can be even observed externally.  If I define `HTTPProxy` with `tcpproxy` and `routes`

[code]

and I make request to `http://protected.127-0-0-101.nip.io/` the result is `HTTP/1.1 301 Moved Permanently`
with `location: https://protected.127-0-0-101.nip.io/` header s

[2021-06-11 12:26] tsaarni commented on #3800
I bumped in the above since I wanted to come back to implement the easiest parts of [httpproxy-conflict.md](https://github.com/projectcontour/contour/blob/main/design/httpproxy-conflict.md) (missing include, missing service). While looking impacts to tests, I've found this issue.

[2021-06-11 13:38] sunjayBhatia commented on #3799
You can set the access log files to /dev/null with the “envoy-http(s)-access-log” flags to ensure the logs are not output

[2021-06-12 01:55] bnopacheco commented on #1248
We work together with the biggest TV stations and websites in Brazil and LATAM. We deliver live content on TV through a variety of technologies and much content comes to us via UDP packets.

We are currently migrating to K8s and, due to the large volume of simultaneous connections, Envoy proved to be very performant in our tests. Please consider delivering UDP packets via Contour

[2021-06-12 18:22] iamrajiv opened #3804 "kuard-dag.png image not loading"
**On Page:** [https://projectcontour.io/docs/v1.16.0/troubleshooting/contour-graph/](https://projectcontour.io/docs/v1.16.0/troubleshooting/contour-graph/)

[2021-06-14 12:55] arapulido opened #3806 "Canary deployments with Gateway API between namespaces is not working"
**What steps did you take and what happened:**

Sometimes is very useful to have canary deployments by deploying the new version in a different namespace, as it allows to have the same service names (first dot) in both deployments. Something like this:

<img width="933" alt="image" src="https://user-images.githubusercontent.com/925437/121881208-3b6af180-cd0f-11eb-8b19-da66ab6b94a3.png">

This is p

[2021-06-14 14:50] sunjayBhatia commented on #3806
Thanks for the issue!

For your first attempt, I believe currently the behavior you are seeing makes sense for the current state of Contour as we haven't completed our Gateway API implementation and HTTPRoute conflict resolution is not finished. Currently the latest processed HTTPRoute will "win" if multiple try to program the same route match, but with https://github.com/projectcontour/contour/is

[2021-06-14 15:02] sunjayBhatia commented on #3806
This is an interesting use case to bring up upstream potentially, since the spec forces you into operating within a single namespace, maybe b/c it is focused around the idea that a single team managing a route in an org. will do all their work within a single ns, rather than multiple?

[2021-06-14 17:41] skriss commented on #3800
Would be good to get @youngnick or @stevesloka's input here, I'm not 100% sure if this is intentional or not.

[2021-06-14 23:19] danehans opened #3807 "Migrate Gateway API Validation Logic Out of DAG"
**Please describe the problem you have**

Step 1: Move DAG validation logic to the [validation](https://github.com/projectcontour/contour/tree/main/internal/validation) package.
Step 2: Non-Contour-specific validation should be moved [upstream](https://github.com/kubernetes-sigs/gateway-api/tree/master/apis/v1alpha2/validation).
Step 3: Add support for the upstream validating webhook.

[2021-06-15 00:37] youngnick commented on #1248
Thanks for the info, @bnopacheco! For the UDP packets you would want to forward, can you tell me more about what's on the in-cluster end? Does it need access to the client IP the UDP packets originally came from? Doing that for UDP in-cluster is quite tricky, it pretty much requires PROXY protocol, unless there's another protocol running on top of UDP that allows for the passing of the client IP.

[2021-06-15 01:04] youngnick commented on #3806
Thanks for the issue @arapulido. There's a few things to talk about here, mainly to give you some background on why things are this way, and where they are going. The tl;dr is we can't help you... yet.

Firstly, the behavior you're using with Ingress is a bit of an accident on ingress-nginx's part, that everyone ended up copying. There's nothing in the Ingress spec that says what should happen if

[2021-06-15 02:19] alexanderturner commented on #3637
Hey guys, and update with this one?

[2021-06-15 04:54] xaleeks opened #3808 "session affinity irrespective of backend scaling"
Contour supports cookie based session affinity through setting loadBalancerPolicy strategy: Cookie.  The docs state

“Session affinity is based on the premise that the backend servers are robust, do not change ordering, or grow and shrink according to load. None of these properties are guaranteed by a Kubernetes cluster and will be visible to applications that rely heavily on session affinity.

An

[2021-06-15 05:00] youngnick commented on #3637
Hi @alexanderturner, sorry for the delay in getting back to you. I'm sorry that I can't offer more concrete advice, we haven't seen much like this before.

From the look of the error message, it seems like OpenSSL is rejecting a certificate for some reason. Taking a look at issues I've seen in other repos, it looks like this BAD_ECC_CERT error is caused by something about the certificate itself be

[2021-06-15 05:14] youngnick commented on #3808
I agree that it would be nice if we could get consistent hashing that didn't break existing affinities, but it turns out that doing that is actually a ridiculously difficult design problem, that no one has got right yet.

In terms of what we can actually do, the available options for Envoy's consistent hashing are ring hash or Maglev, both of which consistently hash by calculating a hash based on

[2021-06-15 05:15] youngnick commented on #3807
Excellent plan, strong 👍 from me.

[2021-06-15 05:20] youngnick commented on #3799
That's definitely a good workaround @sunjayBhatia, but it does seem reasonable to have a way to disable access logs if you wish.

I guess that will be even more useful once we finishing implementing tracing (#399), since then you can use the traces instead of trying to parse logs.

[2021-06-15 08:37] arapulido commented on #3806
Yes, my mistake, as I was copying (and making it generic) the definitions, I made a mistake and copied the DNS instead, the service is called `service1-external` and it points to that DNS. The result is the same. I will edit the issue description with the correct name, to avoid confusion.

[2021-06-15 08:42] arapulido commented on #3806
Yes, it seems that the spec is expecting that, which may be a bit restricting

[2021-06-15 09:46] arapulido commented on #3806
Thanks for the detailed response! Are the upstream workgroup meetings public? I would be happy to attend and explain my use case. Or shall I file an issue upstream? Thanks again!

[2021-06-15 10:22] youngnick commented on #3806
Absolutely. The community page for the Gateway API project is at https://gateway-api.sigs.k8s.io/contributing/community/, and you can file an issue at https://github.com/kubernetes-sigs/gateway-api/issues/new/choose . There's also #sig-network-gateway-api on Kubernetes Slack.

[2021-06-15 13:56] skriss commented on #3554
Closed by #3795.

[2021-06-15 13:56] #3554 closed

[2021-06-15 16:05] sunjayBhatia commented on #3804
Thanks for the issue! Should be fixed shortly in this PR: https://github.com/projectcontour/contour/pull/3809

Preview of the site: https://deploy-preview-3809--projectcontour.netlify.app/

[2021-06-15 16:06] a-mccarthy commented on #3712
@jonasrosland the last un-checked item on this list is

which appears to have been resolved in https://github.com/projectcontour/contour/pull/3785.

Is there any other clean up needed for this issue? or should we close it?

[2021-06-15 16:09] sunjayBhatia commented on #3712
yeah, I can check that one off

I think there are various references to images that are still wrong, similar to https://github.com/projectcontour/contour/issues/3804

[2021-06-15 16:37] jonasrosland commented on #3733
I think this is can be a great first issue for the Contour Tech Docs Working Group, so leaving this open for Thursday's kickoff.

[2021-06-15 16:38] jonasrosland commented on #3710
I think this is can be a great first issue for the Contour Tech Docs Working Group, so leaving this open for Thursday's kickoff.

[2021-06-15 17:54] jaalle opened #3810 "contour: error: expected argument for flag '--kubernetes-debug', try --help"
**On Page:** [](https://projectcontour.io/docs/v1.16.0/troubleshooting/contour-debug-log/)

States:

but this should really be:

because without an integer log level argument, the pod goes into CrashLoopBackOff and error:

is reported.

[2021-06-15 18:27] skriss commented on #3810
@jaalle would you be interested in submitting a PR to clarify this?

[2021-06-15 19:50] #3804 closed

[2021-06-16 13:55] senthilrameshjv commented on #2608
@youngnick No, we had to use different frameworks instead of projectcontour.

[2021-06-16 15:12] skriss commented on #3373
Was just looking at this as part of the design for tracing, and unless I'm missing something, this approach doesn't actually work right now -- https://github.com/projectcontour/contour/blob/main/internal/dag/extension_processor.go#L179-L184 explicitly disallows ExternalName services, for reasons described in #2875.

[2021-06-16 17:16] danehans opened #3812 "Adds Gateway Controller Integration Tests"
**Please describe the problem you have**
https://github.com/projectcontour/contour/pull/3773 adds support for testing controller-runtime controllers, starting with the gatewayclass controller. https://github.com/projectcontour/contour/pull/3805 adds a controller-runtime controller to reconcile gateway objects. Tests should be added to exercise the gateway controller.

[2021-06-16 17:44] jonasrosland opened #3813 "Docs: Create a "happy path" for a basic installation of Contour"
**Please describe the problem you have**
Based on the docs assessment:

[2021-06-16 17:46] jonasrosland opened #3814 "Docs: Create and document a "stale content" checking cycle"
**Please describe the problem you have**

Based on the docs assessment:

[2021-06-16 17:49] jonasrosland opened #3815 "Docs: Implement an accordion menu for the table of contents"
**Please describe the problem you have**
The list of separate items within the documentation is very long, and could benefit from having an accordion menu that could be opened/closed as needed.

[2021-06-16 17:51] jonasrosland opened #3816 "Docs: Make note of the Troubleshooting section where applicable"
**Please describe the problem you have**
From the [docs assessment](https://github.com/cncf/techdocs/blob/main/assessments/0001-contour.md):

[2021-06-16 17:53] jonasrosland opened #3817 "Docs: Update and clarify our Getting Started docs"
**Please describe the problem you have**
Based on the [docs assessment](https://github.com/cncf/techdocs/blob/main/assessments/0001-contour.md):

Recommendation:

[2021-06-16 17:56] jonasrosland opened #3818 "Docs: Small styling change for h2 headers"
**Please describe the problem you have**
Based on the [docs assessment](https://github.com/cncf/techdocs/blob/main/assessments/0001-contour.md):

[2021-06-16 17:58] jonasrosland opened #3819 "Docs: Revise the main docs landing page"
**Please describe the problem you have**
Based on the [docs assessment](https://github.com/cncf/techdocs/blob/main/assessments/0001-contour.md):

[2021-06-16 17:58] jonasrosland opened #3820 "Docs: Revise the Getting Started guide"
**Please describe the problem you have**
Based on the [docs assessment](https://github.com/cncf/techdocs/blob/main/assessments/0001-contour.md):

[2021-06-16 17:59] jonasrosland commented on #3820
One of the recommendations is to revise or otherwise use the content on [Contour Philosophy](https://projectcontour.io/resources/philosophy/) as a part of a new getting started guide.

[2021-06-17 00:50] youngnick commented on #3373
hmm, thanks for pointing that out @skriss. I think that we should definitely have a way to allow for localhost, as sidecar clusters will be increasingly common. Including a DNS name field per #2875 seems like a good way to do that.

[2021-06-17 00:53] youngnick commented on #3820
I'd definitely like to review this one, the Philosophy doc is my baby. 😄

[2021-06-17 00:57] youngnick commented on #2608
Looking back at this issue, I think the thing we need to do here is clarify the requirements around using TCPProxy, as per my earlier comment. I'll add the `doc-impact` and `help wanted` labels to indicate that we need a docs update here.

I don't think it's a good place for doc writers to get started though, so no `good first issue`.

[2021-06-17 00:59] youngnick commented on #2608
I'm sorry @senthilrameshjv, I forgot to thank you for all the great reporting you did on this issue. I'm also sorry that Contour didn't turn out to be the right fit for you, hopefully some documentation updates should help others in the future.

[2021-06-17 04:19] youngnick commented on #3800
I think this is a great example of where we've assumed that `TCPProxy` was really `TLSProxy`, intended for passing through HTTPS traffic to the backend service. The fact that it's *named* `TCPProxy` rather than `TLSProxy` really contributes to this misunderstanding.

For that use case, it definitely makes sense for the automatic redirect to be present. I think that, given that TCPProxy is explicit

[2021-06-17 04:26] youngnick commented on #3789
I think that this use case is actually very tricky to implement in Contour. The problems I see are:
- what makes the routing decision, based on the source IP? If it's Contour, we need a way to manage the subnets that will be used for routing. This does not seem like a core competency for Contour, and feels like something that would be better delegated to an external Envoy filter of some sort (simi

[2021-06-17 08:38] tsaarni commented on #3800
Thanks @youngnick. Here is a summary of changes that I see would result from this. Please correct me if misunderstood.

**(1)** Given following spec, `301 Moved Permanently` redirect shall be generated.  The response shall be given to any request with `Host` header matching with the FQDN.

Change to current behavior:
* currently `404 Not Found` is returned

[code]

**(2)** Given following spec (wi

[2021-06-17 09:14] rsyvarth commented on #1846
Just wanted to put another use case in the ring here for this feature: we would like to mark data plane nodes as unhealthy if their last successful update against our control plane gets too far out of date. In the case that there is a full outage of the control plane though, this puts us in a situation where all of our nodes will be marked as unhealthy and taken out of rotation. Using the panic th

[2021-06-17 13:51] fanatiicx commented on #3818
Hello, I'm new and would like to work on some first issues.

I've been trying to locate `margin-bottom: 2rem`. I was looking in the contour/assets/scss/_components.scss file. Is the `margin-bottom: 2rem` for documentation pages somewhere else? Thanks!

[2021-06-17 15:27] Patil2099 commented on #3810
I would love to pick this up.

[2021-06-17 18:04] #3810 closed

[2021-06-17 18:16] kekhan commented on #3815
Hello, I can work on this issue.

[2021-06-17 19:35] teepee123 commented on #3819
I'll take this one. Toby

[2021-06-18 03:07] hilloaLoa commented on #3733
I'd like to take this issue. I've had brief encounters with Jekyll and I'd love to learn Hugo.

[2021-06-18 06:18] youngnick commented on #3576
That sounds like a good idea @tsaarni, I'd like to see that.

[2021-06-18 06:21] tsaarni commented on #3576
I've now proceeded with this idea in https://github.com/projectcontour/contour/pull/3694.  The Envoy extension also was now merged to master and it is enabled by default.

[2021-06-18 07:03] youngnick commented on #3576
I'll review that one, thanks!

[2021-06-18 10:11] arapulido commented on #3806
Thanks! I opened this issue upstream: https://github.com/kubernetes-sigs/gateway-api/issues/695 and joined the Slack channel.

Thanks again!

[2021-06-18 12:30] 205g0 commented on #3544
Would be helpful if this issue is linked in the docs and/or readme and that auto cert gen with cert-manager is (actually) not working with latest k8s spec. Just spent 2 hours on this till I found this issue...

[2021-06-18 16:23] johnnycase commented on #3708
@jonasrosland Hey Jonas, I reviewed this and it has been fixed in #3757.

[2021-06-19 03:42] johnnycase commented on #3816
I will take this one.

[2021-06-19 17:02] Gabe-GPU commented on #3813
Hey Jonas, I would like to work on this issue.

[2021-06-20 23:26] danehans opened #3825 "Support Multiple Gateways"
**Please describe the problem you have**
~~Currently, the operator supports multiple gateways that translate to multiple Contour/Envoy deployments. This is required for Knative. In order to deprecate the gatewayclass/gateway controllers in the operator, Contour must remove `gateway.namespace` and `gateway.name` from the config and support multiple gateways. Each gateway should equal a Contour/Envo

[2021-06-20 23:40] danehans commented on #3617
xref support for multiple controllers: https://github.com/projectcontour/contour/issues/3825

[2021-06-21 13:25] skriss commented on #3708
@johnnycase thanks for checking that! I'll close this out.

[2021-06-21 13:25] #3708 closed

[2021-06-21 14:25] jonasrosland commented on #3708
Ah perfect, thanks @johnnycase !

[2021-06-21 14:39] jonasrosland commented on #3818
Thanks for looking into this @fanatiicx !
I now realize where the error is, this was found on an older version of the site which you can see in an older commit here:
https://github.com/projectcontour/contour/blob/release-1.15/site/_scss/site/common/_type.scss#L28

This was part of the Jekyll variant of the site, and since we moved over to Hugo there were several elements that got updated at the sa

[2021-06-21 14:41] jonasrosland commented on #3815
Sounds great, thank you for taking this on @kekhan !

[2021-06-21 16:10] stevesloka opened #3826 "Site: Add deprecation style"
In the old site, we had a "deprecation" style that we could use to call out things that were important to users. It looked something like this: https://web.archive.org/web/20201001071853/https://projectcontour.io/resources/upgrading/

It would be super to have once for deprecated, another for warning, etc such that we can call these things out properly to users.

[2021-06-21 16:28] shashankram commented on #2287
I am interested in exploring the use of Contor for ingress using the Gateway API. Is there a document that describes how much of the API is supported, and what the roadmap is? It seems like there is functionality that is usable based on https://projectcontour.io/guides/gateway-api/, just wasn't sure exactly what is supported at the moment.

[2021-06-21 16:46] stevesloka commented on #3779
Hey @tannevaled!

The problem is that when you have multiple clusters in Envoy with weights and active health checks for a cluster. If all instances of that cluster go unhealthy, Envoy still tries to route to them.  In Contour, a Kubernetes service maps more-or-less to a cluster in Envoy. To fully solve this, we need to rework how Contour manages clusters in Envoy, by making a set of endpoints tha

[2021-06-21 17:01] stevesloka commented on #3529
The remaining bit here is to set status on Gateway.

[2021-06-21 17:06] tannevaled commented on #3779
Here it is:
[code]

[2021-06-21 17:17] stevesloka commented on #3779
What's the result you get when you curl that? I'd expect all traffic to route to the service `apps-okd1`.

[2021-06-21 18:09] stevesloka commented on #3710
I have some WIP work here (https://github.com/projectcontour/contour/compare/main...stevesloka:sitecheck?expand=1) if someone wants to pick it up or I can finish. There are probably a couple of PRs to clean up the issues before doing the actual import bits.

[2021-06-22 00:12] youngnick commented on #3544
I agree that we should document this limitation, thanks for pointing that out @205g0, and sorry to make this harder for you.

I'll add the `doc-impact` and `help-wanted` labels for this one so that our tech writers working group can pick it up.

[2021-06-22 06:14] youngnick commented on #3800
Yes, you're right, there's no way to disable the automatic redirect at the moment for tcpproxy services, without using `permitInsecure`. I must have been thinking of that workaround when I wrote that, sorry.

Maybe we should consider adding a field to tcpproxy that controls whether a 301 for the base domain should be generated for it?

[2021-06-22 06:18] youngnick commented on #2287
We currently don't have a canonical document aside from this issue, as the support is changing too quickly. We do only plan to support HTTPRoute and TLSRoute as route targets however, in line with our positioning of Contour as a layer 7 ingress controller.

[2021-06-22 06:51] danehans opened #3828 "Gateway API: set Gateway status address from Envoy LB service"
To support status addresses, Contour should get the LB address of the Envoy service, similarly to how it's done for Ingress and HTTPProxy.

[2021-06-22 09:14] tannevaled commented on #3779
if i remove k0s-down and k3s-broken-pod services, i got a response for curl --location https://test.fake-domain.local
as soon as i add the down services, even with a weight of 0, i got
[code]
or
[code]
if i add a weight of 100 on the healthy service, it is ok.
it seems i missed the point from the documentation https://projectcontour.io/docs/main/config/request-routing/
[code]
so the weight works a

[2021-06-22 13:59] stevesloka commented on #3800
I think we need to do the following:

1. Generate the 301 to be consistent automatically without defining anything in `routes`. If folks have HTTP services then that will work, otherwise, they can just hit the TLS listener.
2. Disable the ability to define anything in the `routes` section with a TCPProxy. If you define something there, then raise an error.
3. Update the tests to describe this beha

[2021-06-22 14:52] teepee123 commented on #3819
Won't be able to make today's meeting afraid but should be fine for Thursday

[2021-06-22 16:20] skriss opened #3829 "make the guides version-specific"
Right now, the [Contour guides](https://projectcontour.io/guides/) are not version-specific, whereas all of our other docs are. I think it would make sense to version them, so that as things change in Contour, the guides can remain accurate for past versions while still being updated to account for new features/changes.

[2021-06-22 22:08] skriss commented on #3366
GitHub Packages Registry is now GA: https://github.blog/2021-06-21-github-packages-container-registry-generally-available/

[2021-06-23 19:16] danehans opened #3832 "Resolve Latest Controller Runtime Envtest Failures"
**Please describe the problem you have**
https://github.com/projectcontour/contour/pull/3773 adds a controller-runtime test suite. At the time of this writing, 1.19.2 is the latest [documented](https://book.kubebuilder.io/reference/envtest.html#environment-variables) version of the tools, i.e. etcd, required for the `testenv` package. Newer tarballs [exist](https://storage.googleapis.com/kubebuild

[2021-06-23 19:33] stevesloka commented on #3832
I had the same issues working with controller-runtime. To get it working I had to add this bit to a make command: https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest

The downside is that it had to run from the make command and I couldn't use (at least from initial testing) my IDE's integrated tool runner.

[2021-06-24 01:26] youngnick commented on #3829
Yeah, this makes sense to me.

[2021-06-24 04:41] youngnick commented on #3313
Sorry about the delay in replying @Legion2, I think that lines up with the idea about putting this at route-level, along with the test of the TimeoutPolicy. That means that this one is ready to be worked on whenever someone can pick it up.

[2021-06-24 04:45] youngnick commented on #3779
Hmm, it seems like the following are the case then:
- If you set some `weight`s to 0, and leave other backends with unspecified weights, the unspecified weights will be treated as `0`. (I did not know this). This should be better documented, even if it's only temporary.
- Doing the above appears to override healthchecks? This is worth checking out, it may mean we need to shuffle how the healthchec

[2021-06-24 04:46] youngnick commented on #3800
Agreed. That seems like a good set of deliverables. Your thoughts @tsaarni?

[2021-06-24 07:50] tsaarni commented on #3800
Sounds good to me as well!

Just one question: Implementing (2) can potentially cause currently working proxies to fail. Since `routes` have been documented to be ignored when `tcpproxy` is defined, we should assume there would not be users that will be impacted by this. So implementing (2) is OK without any kind of deprecation period?

[2021-06-24 08:08] tsaarni commented on #3800
It just occurred to me that implementing (2) would rather mean we raise an error but still continue traffic. According to the goals set in [httpproxy-conflict.md](https://github.com/projectcontour/contour/blob/main/design/httpproxy-conflict.md) we will serve traffic for portions of the spec that are valid. So no backwards compatibility concerns here.   Is this correct interpretation?

[2021-06-24 14:52] teepee123 commented on #3819
@skriss just wondering what level of technical knowledge a 'brand new user' would be expected to have. Someone familiar with Kubernetes/APIs/reverse proxy/load balancer, or a complete novice?

Thanks

[2021-06-24 17:58] johnnycase opened #3835 "Accessibility Assessment"
Please run an accessiblity assessment on the project contour docs site and create updates on this issue with any changes needed. This can be done using the Lighthouse tool that is built into the dev tools of chromium browsers.

[2021-06-24 18:54] danehans commented on #3832
@stevesloka I see a similar error using the new testenv binary manager:

[code]

[2021-06-24 19:01] sunjayBhatia opened #3837 "test/e2e: NamespacedTest helper should be able to create/delete multiple namespaces"
Some tests need to manage multiple namespaces to create resources in.

Currently the `NamespacedTest` helper and associated `NamespacedTestBody` signatures are as follows:

[code]

We're allowed to specify a namespace and any additional namespaces need to be managed in the test.

We could expand this to support an optional list of namespaces to ensure test boilerplate of managing namespaces is min

[2021-06-24 19:07] stevesloka commented on #3832
I think you still need to source the bits that envtest gives you. I picked this bit out of a sample kubebuilder init project:

[code]

[2021-06-24 19:08] stevesloka commented on #3832
Here's the full Makefile for reference:

[code]

[2021-06-24 19:09] sunjayBhatia commented on #3837
Here's a diff of what the second option above starts to look like:

[code]

[2021-06-24 20:07] danehans commented on #3545
When Contour manages the envoy infra, the operator should be updated to remove envoy infra management.

cc: @Miciah @candita

[2021-06-24 20:15] skriss commented on #3621
We're at a point where we can remove the numbering from the test file names and namespace names, I'll get a PR ready for that so we can close this issue out. cc @sunjayBhatia

[2021-06-24 21:56] skriss commented on #3819
IMHO assuming some basic Kubernetes knowledge is reasonable. I'd probably try to start from the perspective of "what problem is this solving", i.e. getting traffic from outside your Kubernetes cluster to various services running inside your cluster, which I think will help make it more approachable than the current state which dives into "how it works".

[2021-06-24 22:08] youngnick commented on #3837
Option 2 looks good to me.

[2021-06-24 22:10] youngnick commented on #3800
I don't know if we'll be able to do that; I think we should do this as a warning first when we deprecate that functionality, then remove in the next version, with big callouts in the release notes.

[2021-06-25 10:01] DmitroDemchenko opened #3839 "Add retry_back_off into envoy"
Good morning, currently  there are a lot of useful  params that we can pass via annotations like num-retries, per-try-timeout, retry-on an so on.
Is it possible to configure also retry_back_off / base_retry_backoff_ms ? Because default is 25ms and maximum interval is 10 times in Envoy and I'd like to increase it little beat.
Please help with it.

[2021-06-25 10:05] cheshir commented on #3839
Hi there. Also looking for a solution to tweak base retry delay a bit.

[2021-06-25 10:09] vadim-sychov commented on #3839
Recently I faced the same problem, anyone knows how can to solve this?

[2021-06-25 12:49] Zsolt-LazarZsolt opened #3840 "Latest Contour relies on networking.k8s.io/v1 ingress"
**What steps did you take and what happened:**
I used the latest contour image on an old Kubernetes version.
Contour: Latest
Kubernetes:  v1.16.2

Contour wont start up and I see the following error:
time="2021-06-25T12:19:36Z" level=fatal msg="failed to create informer" error="no matches for networking.k8s.io/v1, Resource=ingresses" resource="networking.k8s.io/v1, Resource=ingresses"

**What did

[2021-06-25 14:21] skriss commented on #3840
hey @Zsolt-LazarZsolt, sorry this caused an issue for you. We have our compatibility matrix documented here: https://projectcontour.io/resources/compatibility-matrix/. Our policy is based around supporting the Kubernetes versions that upstream Kubernetes itself supports, i.e. the 3 latest minor versions (see https://kubernetes.io/releases/version-skew-policy/#supported-versions).

If you're still

[2021-06-25 15:24] Zsolt-LazarZsolt commented on #3840
@skriss  Thank you for the quick answer. I see what you mean there with the 1.18 and below.
As ingress v1 was only available from kubernetes 1.19 and above.

Thank you for the info. Closing the ticket.

[2021-06-25 15:24] #3840 closed

[2021-06-25 19:30] skriss opened #3843 "improve Contour config file formatting"
xref https://github.com/projectcontour/contour/pull/3694#discussion_r656572797

The formatting of https://github.com/projectcontour/contour/blob/main/examples/contour/01-contour-config.yaml is confusing, because both comments and actual YAML are written with a single leading `#` (with a couple exceptions).

It's also documented [here](https://projectcontour.io/docs/v1.16.0/configuration/#configura

[2021-06-25 19:41] MichaelOgunsanmi commented on #1627
Is the redirection described above now possible using contour? I have a similar use case as described by the OP and I have not been able to get a working solution based on the documentation available at https://projectcontour.io/docs/v1.16.0/config/external-service-routing/

[2021-06-28 07:44] youngnick commented on #1627
Hi @MichaelOgunsanmi, sorry but we haven't finished building this support out yet. #3555 added internal support for doing something similar to this (returning a 503 if the service is invalid), but we haven't added the ability to request a redirect on a specific route yet. We will need to be able to do this for the in-development upstream Gateway API, and we will backport similar functionality to H

[2021-06-28 07:47] youngnick commented on #3839
Thanks for logging this issue @DmitroDemchenko. We can certainly look at adding support for configuring the retry back off. Can I ask how you (and everyone else watching this issue) are configuring Contour?

In general, we try not to add more annotations to our Ingress support, but encourage people to use either HTTPProxy or the forthcoming Gateway API support. That's not to say we won't, but we w

[2021-06-28 07:50] youngnick commented on #3843
I think that documenting the config file is a good idea.

However it ends up looking, I feel like we should do it in an autogenerated way, similar to what we do for HTTPProxy reference docs now, and have the comments/explanations live with the structures that support it somehow. The important parts here is that there's only one place to update, and it gets updated automatically when we update the

[2021-06-28 08:24] DmitroDemchenko commented on #3839
Hi, @youngnick , I'm adding Contour in my k8s cluster. Deploying it via helm chart. And I need different ingress resources for my applications. When I configure Ingress resource I use this annotations:
annotations:
    kubernetes.io/ingress.class: contour
    projectcontour.io/num-retries: "10"
    projectcontour.io/response-timeout: "60s"
    projectcontour.io/retry-on: "5xx,gateway-error,reset,c

[2021-06-28 10:24] cheshir commented on #3839
Hi, @youngnick

I'm using contour in front of hundreds of sites (SEO park). Sites are deployed on GKE preemptible nodes.
I want to configure backoff to cover scenario when user trying to open site and it's nodes rotates in the same time.

[2021-06-28 13:45] jonasrosland commented on #3826
Would this be something you could help out with @fanatiicx ?

[2021-06-28 18:51] zkutasi opened #3845 "HTTPProxy validation takes up to 5 minutes"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
We are installing our company's project into Kubernetes, in our CI, every iteration, many-many times. After helm installation, we load in certificates for ingress access into the proper places, and we wait for the HTTPProxy to become Valid. We experienced up to 5 minutes of delay between the Certs

[2021-06-28 18:53] fanatiicx commented on #3826
@jonasrosland Thanks for notifying me. I will leave it for someone else to work on as I have found a couple of other projects that are a better fit for my skills set right now. Best wishes!

[2021-06-28 19:14] tsaarni commented on #3800
There seems to be also conflict between Ingress and HTTPProxy in tcpproxy mode.  How should this one work?

[code]

currently it will create following listeners
* HTTP listener that routes to `echoserver-1`  (from Ingress)
* HTTPS listener that forwards to `echoserver-2` (from HTTPProxy)

There was actually an existing test case that covered this but it had an [error](  https://github.com/projectc

[2021-06-28 21:33] gary-tai commented on #3820
Hi @jonasrosland  - I'm interested in taking this one. I don't know anything about setting up kubernetes, but understand the concept of contour.

How is this different from [Update and clarify our Getting Started docs #3817](https://github.com/projectcontour/contour/issues/3817) ?

[2021-06-28 21:51] skriss commented on #3775
@swood do you still need help here? If so, please see Nick's previous comment requesting more information.

[2021-06-29 15:37] skriss commented on #3845
hey @zkutasi it is definitely not expected to take 5min for HTTPProxies to be processed/marked valid. Could you provide the exact order of operations between bringing up Contour, creating HTTPProxies, and creating the certificate secrets? Also, is it possible for you to (1) [enable debug-level Contour logging](https://projectcontour.io/docs/v1.16.0/troubleshooting/contour-debug-log/); and (2) tail

[2021-06-29 15:44] #3705 closed

[2021-06-29 18:40] sunjayBhatia opened #3850 "Investigate using e2e tests to collect test coverage"
Now that we run contour outside of k8s in the e2e test suite, it would be interesting to see if we could get coverage reports from the tests to enhance our automated checks on changes

Just an idea to start, something to investigate to see if it brings value

**Note** this might be at odds with the goal of testing the same binary we ship in the contour container image in the e2e tests

Notes:
- ru

[2021-06-29 20:22] skriss commented on #3782
I'm gonna add this to the 1.18 milestone, I think we should get this fixed. I also tested out a similar patch to @tsaarni's and it looked good in my initial testing. @tsaarni did you want to get your patch up as a PR or would you rather someone else take this on?

[2021-06-30 04:18] youngnick commented on #3850
This is an interesting idea, but I agree that it's really important we check the binary we ship in the image too.

[2021-06-30 05:47] youngnick commented on #3800
I think in that case, it should work as you've stated there. In this case, I think that specific config (the configured Ingress) should override defaults (the http->https redirect), in the same way the setup works now.

[2021-06-30 08:23] tsaarni commented on #3782
@skriss If you have time to work with it, it would be perfect! I could have worked with it after the other PRs that I have open, but would be grateful if you can work with it for 1.18.0.

Just the other day we were chatting with @Zsolt-LazarZsolt about this issue. It seems even a simple fix without backoff timer could help lowering some CPU consumption on a busy cluster quite nicely.

[2021-06-30 11:06] zkutasi commented on #3845
Hi,

The exact order is:
1) We install everything in one go: Contour (in HA mode), Envoy, and like 50 other workloads, in total around 650 YAML files, using helm (we also have lots of pre and post install job hooks extra). This also contains our microservices, with their HTTPProxy descriptors
2) We wait until helm --wait says everything is OK, this takes roughly 10-12 minutes now
3) Now the HTTPPr

[2021-06-30 15:11] skriss commented on #3845
@zkutasi thanks for the detailed info. I have gone through a basic attempt at reproducing by setting up an `HTTPProxy` that references an existing, but empty, TLS secret, observing it's marked invalid, then updating the secret to include TLS cert data. Unfortunately this didn't reproduce the issue - the `HTTPProxy` was immediately marked valid once the secret was updated.

I've taken a look throug

[2021-06-30 16:58] zkutasi commented on #3845
@skriss , Thanks for looking into this. Yes, if I do this after the installation and wait for 10-15 minutes (maybe 5 would be enough, did not check) I also observed instant Validation. This just seem to happen right after installation, which makes our CI pipeline kind of sleeping for 5 minutes... one might way it is OK, but this is not the only sleep we have, and not the last one we will have :).

[2021-06-30 17:16] jonasrosland commented on #3826
Sounds good, thanks for letting us know and good luck with your other projects @fanatiicx !

[2021-06-30 21:56] sunjayBhatia opened #3854 "test/e2e: Incluster test suite"
Now that the e2e tests no longer run Contour in a k8s cluster, we have actually lost a bit of coverage. We need to add an in-cluster test suite to make sure that Contour and our example deployment work actually in a cluster.

This suite should be focused on validating features of Contour and/or the example deployment that are only coverable in an actual k8s cluster, e.g. validating RBAC

- [ ] Ini

[2021-07-01 05:25] youngnick commented on #3845
Some quick thoughts before I get to what I think the actual issue is:

@zkutasi I think that checking the APIserver rate-limiting is definitely a good idea. Once thing that I've seen in big, busy clusters before is that the updates that go from the Kubelet back to the apiserver have quite a small default queue size, and if that queue exceeds the size, it will be taildropped. This means that update

[2021-07-01 05:33] youngnick commented on #3792
Given that I've asked @skriss to work on an update to the ExtensionService design before finishing this, I feel confident this should be moved to at least 1.18, if not later.

[2021-07-01 05:34] youngnick commented on #3404
Bumping this to 1.18.

[2021-07-01 05:35] youngnick commented on #3440
Hmm, this is partially implemented, so I'll move it to 1.18.

[2021-07-01 05:36] youngnick commented on #3574
We didn't get to this one, moving to 1.18.

[2021-07-01 05:37] youngnick commented on #3166
Looks like #3343 has been closed as stale, I'll move this to 1.18 for now, @abhide do you still want to work on this?

[2021-07-01 05:38] youngnick commented on #3367
Still no progress, bumping to 1.18.

[2021-07-01 05:39] youngnick commented on #3812
Full e2e testing will need to wait until after the main Gateway code is in, pushing to 1.18.

[2021-07-01 09:02] JCzz opened #3856 "Unable to kubectl exec into docker.io/projectcontour/contour:v1.16.0"
I am trying to debug Ingress returning empty reply - and would try curl from within the ingress:

Installed on KinD:
https://kind.sigs.k8s.io/docs/user/ingress/#contour

I have tried:
`kubectl exec contour-5777747db9-2bxtn -n projectcontour -it -- /bin/sh`

but ig gives:
[code]

Tried -- bash, ls etc. nothing - how do you get in?

You can also try:
`docker run --rm -ti docker.io/projectcontour/con

[2021-07-01 10:23] zkutasi commented on #3845
@youngnick
Thanks for looking into this, I am already lost how to even debug this thing :)

I have re-checked the logs, I can see in 1, that the leader is elected at the start of things, at 10:40:32, where do you see it is still ongoing?
We seem to use a single configmap, for everything related to Contour, I have checked, and now it has the annotation, like this:
[code]

This is our contour config

[2021-07-01 12:23] zkutasi commented on #3845
Unfortunately no luck... even if there is one contour per network (non-HA, we still have two distinct contour instances), even if I raise the rate-limit settings to 2000 (0 crashed the API-server for me), the situation is the same.

[2021-07-01 14:17] RamyChaabane opened #3857 "cannot limit request payload size"
As far as I can tell, there is no config parameter or a kubernetes annotation that limit the size of a request payload (like nginx for instance: nginx.ingress.kubernetes.io/proxy-body-size)

Would be nice if we can have this and send 413 http response to client when he exceeds a certain value

[2021-07-01 14:40] jonasrosland commented on #3835
Hi @johnnycase , just wanted to follow up and see what we can do to help you with this? Happy to talk on Slack as well.

[2021-07-01 14:42] jonasrosland commented on #3817
Closing in favor of #3820

[2021-07-01 14:42] #3817 closed

[2021-07-01 14:42] jonasrosland commented on #3819
Hi @teepee123 ! Just wanted to reach out and see what we can do to help you with this? Happy to talk on Slack as well.

[2021-07-01 14:42] #3818 closed

[2021-07-01 14:44] jonasrosland commented on #3816
Closing thanks to the PR #3830 by @johnnycase , thank you!

[2021-07-01 14:44] #3816 closed

[2021-07-01 14:44] jonasrosland commented on #3815
Hi @kekhan ! Just wanted to reach out and see what we can do to help you with this? Happy to talk on Slack as well.

[2021-07-01 14:48] #3782 closed

[2021-07-01 15:26] xaleeks commented on #2509
Seems this is done, going to close it out

[2021-07-01 15:26] #2509 closed

[2021-07-01 15:27] xaleeks commented on #3808
Thanks Nick, we can leave it alone for now then.

[2021-07-01 15:30] sunjayBhatia commented on #3856
For security/slimming down the image, the Contour container image is a single binary in the Docker "scratch/empty" layer so there are no other tools or programs (e.g. no `sh`) available.

The Contour binary itself does not proxy requests/responses, you might have better luck looking at the Envoy daemonset logs and looking at Contour logs to see if there is anything about your Ingress resource/serv

[2021-07-01 15:38] xaleeks commented on #3706
Is this meant to cover the use case of leveraging multiple types of load balancers in a cluster: internal only, external facing, restricted only etc.  Or that they represent different profiles and should be kept these on separate GatewayClasses.

I have a particular user in mind that requires at least one other load balancer solution in addition to Contour and would like to have this design valida

[2021-07-01 15:45] sunjayBhatia commented on #3706
As I understand it, Contour will only ever actually reconcile a single GatewayClass. This issue is to make sure if there are multiple with the same controller string/name, Contour correctly sets admitted/not admitted status on them (e.g. the oldest is admitted and any others are set to admitted=false).

[2021-07-01 15:46] xaleeks commented on #3807
Step 2 is especially important, thinking about demarcating some of the roles and responsibilities of various pieces of contour between what project Contour should be doing and what upstream gateway API should be doing.

I tagged it for v1.18

[2021-07-01 15:52] xaleeks commented on #3726
Thanks Nick for tagging it for 1.18

@skriss hope the requirement is clear, feel free to push it out if there are other more urgent issues.

[2021-07-01 16:07] xaleeks commented on #3703
@youngnick do we have bandwidth to tackle this in 1.18?

[2021-07-01 16:15] xaleeks commented on #3839
+1 that this is useful

Thanks for sharing @DmitroDemchenko & @cheshir.  If you don’t mind, please also share your usage on this ticket https://github.com/projectcontour/contour/issues/1269

[2021-07-01 16:38] xaleeks commented on #3693
Great idea. Just want to add we need to support both IPv4 and v6, specified in both single IPs and CIDR blocks.  Another comment is we can either make this available as part of the existing `spec.rateLimitPolicy` or have this interaction with rate limiting possible.  My preference, as with a lot of our features, is to have this configurable globally by default that cascades to all HTTPProxy object

[2021-07-01 16:45] xaleeks commented on #3693
Does the `X-Forwarded-For` not carry the source IP on it?  I think we discussed this before as well, but an alternative is to leverage the HAProxy Proxy Protocol for this, and this would cover any TCP stream.

I also found this extension for retrieving the original IP address.  Can we leverage this if the above aren’t sufficient?

https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filte

[2021-07-01 17:04] xaleeks commented on #3657
Just wanted to reiterate Nick’s answer on whether it’s worth investing in HTTPProxy before Gateway API is ready.  Yes, absolutely it is.  Some other reasons I can think of would be

- Gateway API is still nascent and prone to changes.  HTTPProxy is battle tested and provides much more compelling capabilities right now.  We're working on bringing HTTPRoute up to parity with HTTPProxy
- Take a look

[2021-07-01 17:22] xaleeks commented on #3573
I like the thing Sunjay linked and agree with this request wholeheartedly.  Got time to work on this in v1.18? @sunjayBhatia

[2021-07-01 17:28] xaleeks commented on #2326
Been over a year since Michael raised this but let’s keep leveraging this ticket for hashing out the MCS (multi cluster service) and MCI (multi cluster ingress) work.

JFYI, the service discovery across multiple k8s clusters piece consistently comes back to https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api

Let’s perhaps just have an open

[2021-07-01 17:38] xaleeks commented on #3309
Defer to you guys @youngnick  @stevesloka on priority here.

To me, it’s not critically important at this moment in time in relation to the rest of the backlog.  IMHO, I’m ok with keeping it open and adding a ‘won’t do’ for now, and then re-evaluate in 6 months time.

[2021-07-01 18:03] xaleeks commented on #3544
This PR should cover it now https://github.com/projectcontour/contour/issues/3469

We can close for now

[2021-07-01 18:03] #3544 closed

[2021-07-01 18:18] johnnycase commented on #3835
Hey @jonasrosland I do have a question about the scope of the work. Do we need to check accessibility on the whole project contour site or only on the docs portion of the site?

[2021-07-01 20:32] xaleeks commented on #3574
Thanks, I think that’s sufficient.  To elaborate on downstream requirements, FIPS means everything in the Kubernetes cluster in the platform service product is FIPS compliant and using the specific set of cipher suites.  Because we own the Kubernetes distro we ship to customers and Contour is a part of that.  Only exception I can think of is if something like AWS load balancer or Azure load balanc

[2021-07-01 20:36] xaleeks commented on #3574
Thanks for moving this to 1.18.  I was thinking about how do we know if something actually landed in this release, can we ‘ack’ on the ticket somehow?  Or we can sync offline and I’ll make sure the board is up to date.

[2021-07-01 21:32] teepee123 commented on #3819
Hi @jonasrosland , here's where I'm at so far

[Docs_ Revise the main docs landing page #3819.docx](https://github.com/projectcontour/contour/files/6750838/Docs_.Revise.the.main.docs.landing.page.3819.docx)

[2021-07-01 23:00] youngnick commented on #3706
Yeah, it's part of the spec that the controller sets the status on things it won't reconcile.

[2021-07-01 23:01] youngnick commented on #3693
I think 1.19 for this is fine.

Yes, my concern about the source IPs was not that we can't retrieve them, but that there are a few ways to retrieve them, and we need to be specific about how the whole setup works, since there are interactions with upstream LBs as well.

[2021-07-02 05:46] xaleeks commented on #3857
I think this idea is fairly straightforward and useful to have.

[2021-07-02 12:46] salaboy opened #3859 "Issues with traffic splitting based on HTTP Headers"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I've created this issue in the Knative Project which allows traffic splitting based on headers:

https://github.com/knative/serving/issues/11621

This feature seems to be working with Kourier but not with Contour.

**What did you expect to happen:**

I expected it to work as with the other networki

[2021-07-02 13:52] skriss commented on #3859
@salaboy Contour definitely supports routing based on headers: https://projectcontour.io/docs/v1.16.0/config/request-routing/#conditions

I just double-checked and header names are case-insensitive; either `x-foo` or `X-Foo` in the header condition are equivalent.

It'd be helpful if you could include the `HTTPProxy` YAML that's being produced by knative - maybe we could track down the issue from

[2021-07-02 14:27] salaboy commented on #3859
@skriss I can definitely give that a try and report back. For some reason the traffic was never routed, even when the header was set to the tag.

[2021-07-02 20:00] JCzz commented on #3856
Thanks @sunjayBhatia

I would like to follow my side question, let me know if you want me to create a new issue and if I should create it on Knative repo?

Thanks if you are still reading :-)

I have literally tried for years from time to time, and I have newer had success getting Knative running on a KinD cluster tried all network layers.

And I have just now tried using the [operator](https://kn

[2021-07-02 20:14] stevesloka commented on #3309
@dotansimha currently Contour only supports the gRPC way to connect External Auth Services into Envoy, however, as you said, it's just some extra code to swap out the way Envoy gets configured.

@xaleeks Anyone can pick up the work and implement it if they'd like. =) I wouldn't put a "won't do" label on things since the community for sure can pick this up and work on it.

We only have examples now

[2021-07-02 20:16] stevesloka commented on #2326
I think there are some interesting use-case that can help out here, just a matter of what we want to tackle as there are several other implementations/designs out in the wild that could also help solve some of these issues.

//cc @rosenhouse

[2021-07-02 20:45] #3729 closed

[2021-07-04 19:10] johnnycase commented on #3835
Accessibility Issues to work:

- Page: https://projectcontour.io/docs/main/
- Link text does not have a sufficient contrast ratio
- Use color #007db1 to fix the color contrast

[2021-07-06 00:47] youngnick commented on #3309
As @stevesloka says, it's not too hard to add in the ability to use a HTTP endpoint rather than a gRPC one if that's really what you want. Personally, the thing I like about gRPC is that it forces you to do some things you probably want to do for security when you are talking about an external authorization service, like enforcing TLS.

I guess I'd ask, what's the usecase? I can see that it's nice

[2021-07-06 00:53] youngnick commented on #3657
I understand the request is to have a way to say "All HTTP requests should be forwarded to the equivalent HTTPS request, always". Rather than doing this with Lua, I think it would be better to have a way to mandate the behavior we already have with HTTPProxy, which does this for you by default. So, we have a boolean in the config file that would make all methods (Ingress, HTTPProxy, Gateway maybe?

[2021-07-06 00:55] youngnick commented on #3574
If an issue lands in a release, there will be a merged PR associated with it, which should (usually) close the issue as well.

[2021-07-06 01:04] youngnick commented on #3845
Sorry for the delay on getting back to you @zkutasi, thanks for the further troubleshooting and info.

You said that you have two Contour installations for traffic separation in the same namespace, do they use separate configmaps for leader election? What I'm thinking here is that if they are fighting for control of the leadership (because the election has two sets of voters that don't agree), the

[2021-07-06 06:22] dotansimha commented on #3309
I think it does make sense.

My use-case was just experimenting with Contour, I was looking for a way to use existing resources we have for authentication (HTTP) without rewriting it with gRPC.

I agree that gRPC is great for these use-cases, I just wasn't familiar with that, and had an existing authentication service built with HTTP.

I thought that for Contour it might be simple to support that

[2021-07-06 06:45] abhide commented on #3166
@youngnick I might not be able to get to this week. To unblock; I have unassigned myself from this ticket.

[2021-07-06 07:34] zkutasi commented on #3845
@youngnick , thanks for guessing with me :)

Yes, we have two contours in one namespace, each of them has their own ConfigMaps... unfortunately it is part of our design that this big application with 650 YAML files is in one single namespace, as we have many-many restrictions that only applicable to a namespace that has to go with it (mutual TLS is one example). I have also tried to run some exper

[2021-07-06 11:09] geekygirldawn opened #3861 "Update to CNCF Code of Conduct"
I noticed that Contour is still using the VMware Code of Conduct, instead of the CNCF one. We have a [Code of Conduct template](https://github.com/cncf/project-template/blob/main/CODE_OF_CONDUCT.md) that you can use.

cc: @jonasrosland

[2021-07-06 11:10] geekygirldawn commented on #3861
/assign @jonasrosland

[2021-07-06 13:43] stevesloka opened #3862 "Deprecate gateway name/namespace from config file + internal packages"
The Gateway Name + Namespace have been deprecated in favor of the GatewayClass.ControllerName field. When #3858 merges, ControllerName is actually used to look up the Gateway, so these fields can be fully deprecated and removed.

[2021-07-06 13:48] stevesloka opened #3863 "Gateway check for GatewayClass Admitted Status"
Need to resync the Gateway when a GatewayClass status changes.

For instance, if a Gateway is created, and the Class is not yet Admitted, we'll skip and wait for that status. But when the Class is finally admitted, then we should resync for Gateways to check for any that are valid and Admit those, but there won't be an object update so we'll need to query the API for Gateways.

_Originally posted

[2021-07-06 13:50] stevesloka opened #3864 "Gateway: Add validation to pick a single gateway from ControllerName"
For Gateway, the problem is that you need to enqueue it to set the status on it. So I think the logic for this is to make sure that we only select a single gateway and set errors on those that may match but don't fit the criteria (meaning oldest wins?)

_Originally posted by @stevesloka in https://github.com/projectcontour/contour/pull/3858#r664574230_

[2021-07-06 13:53] stevesloka opened #3865 "Add internal/controller/gateway.go tests"
Need to validate the internal/controller/gateway.go logic with appropriate tests. These were missing from #3858.

[2021-07-06 13:57] stevesloka opened #3866 "Gateway/GatewayClass Finalizers"
Finalizers were added to Gateway / GatewayClass in #3805 but were removed in #3858 since there were e2e failures. This issue is to describe two things:

- [ ] What the finalizers are meant to be used for (i.e. Creating Envoy infra or extra Gateways to manage say AWS ELBs) [#3797]
- [ ] Implement the finalizers into Gateway/Class and add corresponding tests to validate

I don't think these are requ

[2021-07-06 14:12] stevesloka opened #3867 "Add status tests for Gateway"
Add status tests for Gateway conditions that are set from the GatewayAPI Processor.

_Originally posted by @sunjayBhatia in https://github.com/projectcontour/contour/pull/3858#discussion_r663194086_

[2021-07-06 23:34] sunjayBhatia opened #3870 "Document how we use the project board for issue triage"
**Please describe the problem you have**

We are now using the weekly community meeting for more issue triage. We have a project board [here](https://github.com/orgs/projectcontour/projects/2) that we are planning on using more heavily for planning and organization.

We need to write down the practices we use for the board/issue triage so we adhere to them, new contributors can learn, and so they

[2021-07-07 18:00] xaleeks commented on #3634
Would like to officially kick off thinking about moving to a quarterly release schedule (4 minors a year), and perhaps align against Envoy or K8s upstream, with preference for Envoy.  We can’t have our minors chase Envoy minors too closely because we need time to test it out and wait for patches if there are any bugs etc.  So best to lag by 1-2 months probably.  Ie. if Envoy releases are in Jan /

[2021-07-07 18:07] xaleeks commented on #3634
For skip upgrades in the case of quarterly releases, IMHO I would like for us to be able to skip N-2, ie release of v1.17 would validate upgrades from v1.15 and v1.16

[2021-07-07 18:17] stevesloka commented on #3634
Does this change the deprecation policy as well? So if we deprecate something, then should that apply to LTS releases?

Maybe a design doc would be helpful here @xaleeks to put down these ideas and provide a place to comment on?

[2021-07-07 19:18] xaleeks commented on #3634
Yeah I'll map out what this means for supporting multiple releases at a time on a gdoc and share it here so we can all add comments.  Right now, tentatively I'm thinking we support  N-2 releases concurrently so with the release of v1.17 today, we would still support 1.15 and 1.16 minors with patch releases in accordance to what was laid out above.  Next, when 1.18 GAs, we would no longer be suppor

[2021-07-07 22:21] shashankram opened #3873 "Allow caSecret in upstream TLS validation for HTTPProxy to specify the namespace as <namespace>/<secret>"
**Please describe the problem you have**

I'd like to specify the upstream validation CA secret's namespace while configuring upstream TLS via the HTTPProxy resource: https://projectcontour.io/docs/v1.16.0/config/upstream-tls/ using `<namespace>/<name>`.

[code]
When I tried this, I see the HTTPProxy resource namespace prefixed to the caSecret name as `httpbin/someNS/someSecret`, which results in

[2021-07-07 22:29] sunjayBhatia commented on #3873
slack chat here: https://kubernetes.slack.com/archives/C8XRH2R4J/p1625695197402300

we could expand the secret lookup to enable tls cert delegation so a user could delegate a secret to be used for validation

[2021-07-07 22:38] xaleeks commented on #3634
So if go to quarterly releases, I don't think we need a notion of LTS release anywhere, every release is supported until the (N+2)th release is GA.  So 1.15 is supported until 1.18 and 1.16 is supported until 1.19 debuts

The reason for this in my view is vmware has certain commercial Kubernetes distros called Tanzu Kubernetes leveraging Contour and they put out a minor every quarter (or they aspi

[2021-07-07 22:39] xaleeks commented on #3634
https://github.com/envoyproxy/envoy/blob/main/RELEASES.md
Xref Envoy release schedule which is at end of each calendar quarter.

[2021-07-08 00:49] youngnick opened #3874 "GatewayClass parametersRef being not-nil should mean the value is ignored, not the GatewayClass rejected"
**What steps did you take and what happened:**

When a GatewayClass is found using the controllerName parameter, currently if the `spec.parametersRef` field is non-nil the GatewayClass is rejected for processing by Contour. This is because Contour cannot use the parametersRef field for anything.

However, this breaks the Operator's Gateway support, because the Operator sets the parametersRef field

[2021-07-08 17:46] sunjayBhatia commented on #3874
currently with the changes in https://github.com/projectcontour/contour-operator/pull/401 operator support+Gateway API works, since Contour does set admitted=false on the GatewayClass but the gateway processor does not check GatewayClass status before processing Gateways/Routes

so the end result after the linked change is a working operator+Gateway API in contour, with an extra admitted=false sta

[2021-07-09 11:07] zkutasi commented on #3845
I think we have found the solution: Contour was CPU limited to 75m CPU, which seems for some reason extremely low and 150m CPU works like a charm... **is there any guidance on your side of the minimum allowed such settings?** I have found also this: https://github.com/kubernetes/kubernetes/issues/67577, which states that there is a nasty CPU Throttling bug in some earlier Kernels and we have SLES

[2021-07-09 14:32] stevesloka commented on #3873
Yup this is what cert delegation was designed to do. Shouldn't be too difficult to add in + test.

@shashankram did you want to work on this? If not we can open up for folks to pick up.

[2021-07-09 14:33] stevesloka commented on #3859
Hey @salaboy just wanted to check in and see how this is going. Were you able to retest?

[2021-07-09 14:40] stevesloka commented on #3845
This has come up in the past and we need to rerun some of the metrics bits we did before, but so much depends on each cluster environment to come up with generics.

But glad to see that you've found some success @zkutasi!

[2021-07-09 14:47] stevesloka commented on #3775
@swood just a friendly ping to see if we can help out here. Also can hop into the #contour channel on Kubernetes slack as well.

[2021-07-09 14:48] stevesloka commented on #3799
Did you get this working @jroper? I'm going to close, but feel free to reopen if you still have questions.

[2021-07-09 14:48] #3799 closed

[2021-07-09 14:49] stevesloka commented on #3763
I don't think this has come up in a while from watching PRs. Going to close for now and we can reopen if it crops up again.

[2021-07-09 14:49] #3763 closed

[2021-07-09 14:51] stevesloka commented on #3733
Hey @hilloaLoa how's it going with this? When you're ready let us know and we can take a look and provide some reviews. =)

[2021-07-09 14:53] stevesloka commented on #3700
Should you be able to delete a GatewayClass if it's referenced by a Gateway?

[2021-07-09 14:53] VA-PLE opened #3880 "responseStatusCode 200"
**Please describe the problem you have**
Hello. Is it possible to receive 200-204 responseStatusCode? I see the boundaries now 400-599. Сan I somehow get around it? Maybe there are examples.

[2021-07-09 16:23] shashankram commented on #3873
Hey @stevesloka I am happy to pick this up, feel free to assign, thanks!

[2021-07-09 18:23] salaboy commented on #3859
@stevesloka sorry.. I am a bit complicated as I've just started my new job, but I will try to come back to it during the week.

[2021-07-09 23:08] swood commented on #3775
@stevesloka hi, sorry, I didn't answer earlier.
Yes, I managed the problem, and the solution was tricky.
First, I had a non-standard API port.
Second, when I rolled back to the standard API port, I found in the Kubelet log that Envoy pod cannot assign pod-IP itself. That's how I found the second reason - I had two cni-configs at the same time. When I dropped unused cni-config - the problem has dis

[2021-07-12 04:51] youngnick commented on #3775
Thanks for getting back to us @swood, so the log for Contour that would have helped is something saying that the apiserver was unreachable?

[2021-07-12 05:01] youngnick commented on #3700
Ideally, no. That is a great point.

[2021-07-12 05:05] youngnick commented on #3845
Hmm, that is interesting, thanks @zkutasi! My guess on this one would be that, because the CPU scheduler reads fractional CPU usage as "how many time slices to give to a process", on a busy cluster (such as one where you've just added a lot of config), Contour probably just didn't get enough time slices to do all the required operations to update the status.

The status updating uses goroutines fo

[2021-07-12 05:07] youngnick commented on #3880
Hi @VA-PLE, sorry but I'm unclear what you are asking for here. Do you mean that you would like ratelimited requests to be sent with a 200? That seems like a strange behavior, since the request was not successful if it's rate-limited. Could you explain more?

[2021-07-12 06:09] VA-PLE commented on #3880
Yes. Our customers expect 200 code when everything goes well and 204 in all other cases

[2021-07-12 08:12] masa213f opened #3882 "TCP keepalives to Envoy -> Contour does not work"
**What steps did you take and what happened:**

Sometimes, TCP keepalives to Envoy -> Contour does not work.

I am running the Contour (replicas: 2) and Envoy (replicas: 3) in my on-premise k8s.
When I evicted a contour pod for maintenance, one of the envoy pods did not detect the gRPC disconnect properly.
And during this time, the endpoint information on the envoy pod was not updated and kept ret

[2021-07-12 08:25] zkutasi commented on #3845
Hi, if you could just keep this open for a few days more... our internal Team will try to conduct some tests to verify this, I will try to return to here and report back. But all in all, I think this issue was solved, we are just trying to gather more info to better understand this situation.

[2021-07-12 09:18] RamyChaabane commented on #3857
Hi steve
Yes, a global option looks good, and it would be great if we can refine according to HTTP version

[2021-07-12 10:06] VA-PLE commented on #3880
I experimented with envoy. Everything is simple there

[2021-07-12 13:45] VA-PLE opened #3883 "Add support "Local reply modification""
Hi there. I tested the contour in our kubernetes cluster, it works great. But the specifics of our application requires a function to change the status codes. In envoy it is implemented and works well https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/local_reply. I would like to see this feature in the contour.

[2021-07-12 16:23] shashankram commented on #3873
@stevesloka @sunjayBhatia While making the changes I stumbled upon the fact that Contour only watches for events in cert namespaces: https://github.com/projectcontour/contour/blob/main/cmd/contour/serve.go#L464-L476

Unlike the fallback and client certificate namespaces which are derived from `configmap/contour`, the CA secret is defined in the HTTPProxy resource. So I am wondering if this is not

[2021-07-13 05:08] youngnick commented on #3880
Sorry @VA-PLE, it seems like you want Contour and Envoy to translate 503 responses from backends into 204 ones? That seems pretty counter to the HTTP specs to me.

I also see you've closed this, if you would like to continue here, please comment and I will reopen. If not, thanks for the issue.

[2021-07-13 05:14] youngnick commented on #3882
Hmm, I thought that we had enabled gRPC keepalives in #1758 and made sure that they count even when there are no active streams in #1766. There's also #1756 which was the original issue to add them.

So, that config should already be present. But plainly it's not enough to fix this.

I wonder if it could be related to how quickly the Endpoints for the `contour` service are removed once the Pod is?

[2021-07-13 05:15] youngnick commented on #3845
No problem, we'll leave this open until you report back.

[2021-07-13 05:23] youngnick commented on #3883
Thanks @VA-PLE. can you tell us more about this feature? What use case do you want to solve? Is it something that we can solve automatically for you?

[2021-07-13 05:36] youngnick commented on #3873
Yes, that is the case. Currently we only watch Secret events in a list of namespaces so that we're not exposed to Secrets we don't need.

For this sort of thing to work though, Contour will need access to Secrets in a variety of namespaces. Now, I think that it doesn't actually have to be "all namespaces", because I *think* that, if you ask for objects in "all namespaces" and only have access to s

[2021-07-13 06:52] masa213f commented on #3882
@youngnick
Thank you for the reply!

The setting (#1758 and #1766) is for a gRPC keepalive from Contour to Envoy, I think.
I guess a gRPC(HTTP/2) keepalive from Envoy to Contour should also be configured.

In envoy, it looks like the timeout can be set in the `http2_protocol_options` field.

https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#aggregated-discovery-service
[code]

http

[2021-07-13 12:51] #3856 closed

[2021-07-13 14:47] ploddi commented on #3883
Hi there. I'm working in same team with @VA-PLE. We have following use case: we have to override code and body of `50x` responses from application, and send them back to client as `200 OK` empty body responses. Is there way to configure such setup?

[2021-07-13 16:18] shashankram commented on #3873
Thanks for clarifying. How do you suggest I proceed, given this requires changes to the existing secret namespace watch list to work?

[2021-07-13 20:50] stevesloka commented on #3873
The namespace filtering is only applied if you set the `--root-namespaces` flag in Contour. The idea was that you could tuck your certs away in specific namespaces and then not be required to watch all namespaces, but only the one's you'd need access to.

I think a multi-phased approach might work here. You could implement as-is and not worry about the rootnamespaces thing with some docs stating t

[2021-07-14 05:00] youngnick commented on #3883
There is not currently, no. In order to build this, we'll need to come up with a design and then build it out. We've already got #1627 to enable 301/302 redirects, this seems like it will be a reasonably similar functionality. I've marked this to be triaged and prioritized, so we will definitely see what we can do.

[2021-07-14 05:02] youngnick commented on #3882
Oh, I see. Yes, it does make sense to have the keepalives from both directions. That would explain why you've seen this one. This seems like a relatively straightforward fix, I'll mark it as needing prioritization.

[2021-07-14 05:07] youngnick commented on #3857
So, @RamyChaabane, ideally you'd like to have a request payload size limit like:
- one globally
- one just for HTTP1
- one just for HTTP2, presumably per-stream?

Seems like the more-specific ones would need to override the less specific one in that case.

Also, I think we'll need to do some careful testing to come up with suggested values for these, and document how they work, because it seems fr

[2021-07-14 05:15] youngnick commented on #3634
I think that doing:
- longer release cycles
- changing the support window to n-2

Are definitely doable, but we'll have to handle some issues:
- our overall support is only nine months, and isn't matched to Kubernetes versions. So we'll have to support up to four  Kubernetes versions if the time frames don't line up, not three like today.
- We'll be doing a lot more work for releases - we will nee

[2021-07-14 11:04] VA-PLE commented on #3883
OK, thanks. If that helps, here's how to setup "Local reply modification" info https://github.com/envoyproxy/envoy/issues/14203#issuecomment-735739390

[2021-07-14 17:13] alex1989hu opened #3889 "Validation of Upstream TLS and Client Certificate with kubernetes.io/tls Secret"
**What steps did you take and what happened:**
Updated already existing and valid `HTTPProxy` with `validation` object to try out feature `Validation of Upstream TLS` .

The referenced Secret (`caSecret: backend-certificate`) was issued by `cert-manager.io` instance running in Kubernetes cluster.

The Secret Type is `kubernetes.io/tls` and placed into the same Namespace where `HTTPProxy` is also c

[2021-07-15 08:01] RamyChaabane commented on #3857
@youngnick ideally yes

[2021-07-15 08:44] alex1989hu commented on #3889
# Update

It turned out from Pod `contour` log that both **the error message** of `HTTProxy` **and documentation** is wrong.

Contour `(v1.17.0)` is able to use `ca.crt` from the referenced Secret which type is `kubernetes.io/tls`.

As far as I see, it is not mentioned in the documentation but `contour` logs that `ca.crt` shall meet a condition:

Indeed, I had to add Common Name (`CN`) field and r

[2021-07-15 14:34] skriss commented on #3634
+1 to this, I think monthly made sense in the earlier days of the project when things were evolving rapidly but now that things are more stable, slowing down a bit makes more sense for both maintainers and users.

[2021-07-15 16:50] mjschmidt opened #3890 "Example of RDP over contour"
**Please describe the problem you have**
[A clear, concise, description of the problem you are facing. What is the _problem_ that feature X would solve for you?]
It would be really great if Contour had a quick example of RDP over contour. This article seems to believe its supported, but I haven't seen anything in the Contour docs.
https://medium.com/flant-com/comparing-ingress-controllers-for-kube

[2021-07-15 21:15] #3621 closed

[2021-07-15 21:37] skriss opened #3892 "E2E test flakes"
I've seen a few sporadic E2E test failures recently. Just now:
https://github.com/projectcontour/contour/runs/3080942529?check_suite_focus=true
[code]

I've seen another one related to the TLS Gateway when set to terminate, and a request that has a non-matching SNI that's supposed to not route, but apparently does (but again, it's a flake).

The recent ones have all been in Gateway tests, not sure

[2021-07-15 21:44] skriss commented on #3892
Just got another of those on main:

[code]

I'll bump the timeout for waiting for the Contour process to exit.

[2021-07-16 00:22] youngnick commented on #3889
Ah, thanks for the follow-up @alex1989hu, that's great work. I see we also have #2372 open with a similar issue, I'll have a look into if we document the existing behavior or validate the cert in some other way and remove the CN check.

[2021-07-16 17:37] gary-tai commented on #3820
I've split this out into 2 guides:
1. Getting Started with Contour (https://docs.google.com/document/d/1t0Xaym2IXZ9x2dqtNIOO4AcqAIi7akDenbmTaVjirXg/edit?usp=sharing)
2. Getting Started - Contributor's Guide (https://docs.google.com/document/d/1WaQ9RNq4M0ow3iWUMNqGPzn3okDNSmK2vcrP4VGKBmM/edit?usp=sharing)

Link to each has been posted to #contour channel for feedback. Have also rec'd some feedback

[2021-07-18 22:57] r0bj opened #3897 "Add initial-delay parameter to shutdown-manager"
In my setup there is external load-balancer in front of the contour/envoy ingress controller.
[code]
External load-balancer sends health checks (e.g. every 10s) to envoy (running as DaemonSet) and reads its readinessProbe status to determine node health.
During upgrade envoy pod needs to be restarted. After envoy pod termination is started, envoy starts draining existing connections, sets readines

[2021-07-19 02:50] r0bj commented on #3897
Even without external load-balancer use case described above, `initial-delay` parameter would also help with envoy graceful upgrades/restarts due to known issue with pod termination described here:
https://github.com/kubernetes/kubernetes/issues/43576
https://blog.gruntwork.io/delaying-shutdown-to-wait-for-pod-deletion-propagation-445f779a8304
https://github.com/kubernetes/ingress-nginx/issues/322

[2021-07-19 03:07] r0bj commented on #3897
As a workaround I changed preStop hook definition in envoy container from:
[code]
to:
[code]
It adds 10s delay (sleep) before sending `/shutdown` HTTP GET to shutdown-manager while still accepting new connections from external load-balancer. It's the time needed for an external load-balancer to notice that particular envoy instance is unhealthy (pod in termination state) and remove it from the poo

[2021-07-19 05:22] r0bj commented on #3897
Sorry for confusion but possibly shutdown-manager's `check-delay` parameter is something I need to solve my case. Does `check-delay` (Default 60s) means that shutdown-manager is going to hold envoy's termination via preStop for minimum 60s? During that time envoy can still accepting new connections?

[2021-07-19 14:27] Zsolt-LazarZsolt commented on #3845
Hello Everyone.

I was able to collect some traces the following way.

Include a side container beside contour trying for http://127.0.0.1:6060/debug/pprof/trace?seconds=295 with wget.
Then recreate the contour deployment with this setup, wait for the traces to finish and collect them.
With this I'm not exactly recreating the problem, as this is done after everything else is already installed.
I c

[2021-07-19 14:36] OrlinVasilev commented on #3733
@hilloaLoa do you have any update, thank you very much!!

[2021-07-19 15:25] sunjayBhatia commented on #3897
I think you're probably looking for the shutdown manager `drain-delay` flag: https://github.com/projectcontour/contour/blob/3b9b3d114ead16eec364078fe64e51c8144919c1/cmd/contour/shutdownmanager.go#L295

[2021-07-19 15:28] sunjayBhatia opened #3899 "Envoy shutdown-manager and shutdown command flags should be documented and discoverable"
Related to https://github.com/projectcontour/contour/issues/3897

It appears documentation on the Envoy shutdown-manager and shutdown command flags are not readily accessible, I had to link to source code to share the `drain-delay` flag.

Instead, they should be documented on the "configuration" page alongside the `contour serve` flags: https://projectcontour.io/docs/v1.17.0/configuration/

[2021-07-19 15:33] sunjayBhatia commented on #3897
heres the full help text for the `contour envoy shutdown` command:

[code]

(by default, the shutdown pre-stop hook will wait 0s until telling envoy to drain connections, send POST request to `/healthcheck/fail` to tell Envoy to start draining connections, and then wait 60s before polling Envoy for still open connections)

[2021-07-19 20:41] erwbgy commented on #3845
FWIW on busier clusters I have found that using the Vertical Pod Autoscaler to set the resources (particularly CPU) helps with slow HTTPProxy status updates - something like:
[code]

[2021-07-19 20:42] #3867 closed

[2021-07-19 21:32] r0bj opened #3901 "When envoy runs with "hostNetwork: true" preStop hook fails with: failed to find networking container"
**What steps did you take and what happened:**

When envoy runs with `hostNetwork: true` preStop hook fails with:
[code]

Effect is that envoy container is killed immediately not waiting for shutdown-manager's connections draining.

How to reproduce this issue.
1. Start fresh k8s cluster using kind
[code]
2. Install contour with `hostNetwork: true` using kustomize
kustomization.yaml:
[code]
[code]

[2021-07-19 22:04] skriss commented on #3892
Got the Gateway SNI flake again (https://github.com/projectcontour/contour/runs/3108082826):

[code]

I'll try and dig into this soon, I took a quick look but didn't see any obvious issues. It does look like the `Gateway` name is wrong (`gateway-tlsroute-mode-terminate/tls-passthrough` although this test is for `Terminate`) but I think that's just a naming thing, not actually causing the issue.

[2021-07-19 22:14] sunjayBhatia commented on #3892
hmm though I had fixed this by deleting the HTTPRoute/TLSRoute that had a "catchall" rule that accepted any SNI and was causing some pollution, must be something I dropped on the floor accidentally

[2021-07-19 22:26] #3874 closed

[2021-07-19 22:57] r0bj commented on #3897
@sunjayBhatia Indeed, `drain-delay` is the parameter I need, thank you! I'm going to close this issue.

[2021-07-19 22:57] #3897 closed

[2021-07-20 01:14] youngnick commented on #3845
Yes, those events are all sent down a single channel, so they're serialized. So, when there are a lot of changes, Contour will have to drain all the pending watch updates before getting to the one that renders the HTTPproxy valid. I think that changing this too much is risky because of races around the eventual consistency of the Kubernetes objects as a whole.

Given the single-channel structure,

[2021-07-20 07:08] alex1989hu commented on #3637
Hello, I have just faced with this error:

The certificate was issued by `cert-manager.io v1.4.0` with this configuration (snippet):

[code]

The certificate key pair was loaded into application which was built with `Go v1.16.6`, HTTPS traffic served/handled by `Echo v4.4.0`.

The traffic is routed via `HTTPProxy` provided by `contour v1.17.0`.

The only working solution is to reduce key size from

[2021-07-20 07:31] erwbgy commented on #3845
Our experience agrees with this.  We found that more CPU for the contour Pods is required when there are lots of HTTPProxy objects and lots of churn - for example 5.5 cores with 5 replicas on a multi-tenant cluster with 3000+ HTTPProxy objects.  Even then we sometimes see that is takes more than 3 minutes for an HTTPProxy object to become valid.

[2021-07-20 23:00] sunjayBhatia commented on #3726
Chat from triage:
- explore if we can just choose an order?
- explore if we need to make order configurable per FQDN? (un-authenticated requests to foo.com get a different rate limit than authenticated requests to foo.com)

[2021-07-20 23:01] skriss commented on #3726
ref. https://docs.solo.io/gloo-edge/master/guides/security/rate_limiting/ -- `rateLimitBeforeAuth`

[2021-07-20 23:06] youngnick commented on #3366
As of this comment, we've decided that we'll move to Github Container Registry, so the next steps is to write up a design for switching to GHCR, which should include:
- How long do we continue pushing images to Docker Hub?
- How do we encourage people to migrate?
and so on.

[2021-07-21 01:05] youngnick commented on #3703
So, we don't have bandwidth to work on this for a little while, moved to the Prioritized Backlog.

[2021-07-21 02:36] syncer commented on #3889
is there anyway to disable the certificate check, we have the same issue and removing the certificate in question from the chain makes the TLS fails on some clients.
[code]

[2021-07-21 06:28] erwbgy commented on #3634
+1 With my end user hat on I find it difficult to keep up with the monthly release cadence and fall behind, resulting in upgrades to multiple releases in quick succession when I find the time to do so. A quarterly cadence would make this much more manageable.

Personally I don't see much benefit in a Contour LTS version when Envoy doesn't have one. The security related reasons for upgrading I can

[2021-07-21 13:48] sunjayBhatia commented on #3769
un-assigning myself as I am not actively working on this at the moment

[2021-07-21 13:51] skriss opened #3903 "add E2E's for TLS certificate validation"
It'd be good to have some E2E tests for TLS certificate validation (both for server certs and CA certs per https://github.com/projectcontour/contour/pull/3894).

[2021-07-21 13:53] skriss commented on #3792
I'm moving this back to Prioritized Backlog until the team has capacity for this; with all the Gateway changes going on right now this needs to take a back burner.

[2021-07-21 15:29] sunjayBhatia commented on #3726
Just had a thought: doesn’t the ext auth filter cause envoy to immediately return a response on a request that fails authentication? So if the rate limit filter is behind the auth filter, unauthenticated requests will effectively have no limit? (Maybe besides a local rate limit? Would have to try it out to make sure)

[2021-07-21 19:38] skriss opened #3905 "deleting a Gateway doesn't remove it from the DAG, still allows HTTPRoutes to be programmed against it"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Create Gateway, confirm it's admitted
Delete Gateway, confirm it's gone from the API
Create HTTPRoute using the deleted Gateway
Get route programmed/accessible over HTTP

**What did you expect to happen:**
When the Gateway is deleted from the API, it should be removed from the DAG and Routes shoul

[2021-07-22 02:21] hilloaLoa commented on #3733
Hi, I'm sorry for going AWOL. I've been dealing with personal matters and don't believe that I will be able to complete this assignment. I've unassigned myself from the issue.

[2021-07-22 14:25] sunjayBhatia opened #3906 "HTTPRoute processing should ensure `/` is prefixed onto path matches"
**What steps did you take and what happened:**
Create an HTTPRoute with a path match without a `/` prefix, requests to route are 404ed by Envoy

**What did you expect to happen:**
HTTP requests routed correctly *or* the HTTPRoute is marked as invalid with an condition describing what is wrong

[2021-07-22 16:01] sunjayBhatia commented on #3706
added to 1.19 for incremental improvements to ensure Operator/Contour interaction works

[2021-07-22 16:02] sunjayBhatia commented on #3825
Added to 1.19 as this is related to https://github.com/projectcontour/contour-operator/issues/389 which is needed for incremental improvements on contour/operator relationship

[2021-07-23 14:45] #2566 closed

[2021-07-23 16:33] shashankram commented on #3873
Hey @skriss, @stevesloka feel free to close this now that https://github.com/projectcontour/contour/pull/3894 is merged.
Wasn't sure if the issue needed any tracking before its closure. Thanks!

[2021-07-23 16:40] skriss commented on #3892
Looking at this now

[2021-07-23 16:43] skriss commented on #3892
Perhaps switching the gateways to only select routes in their own namespace will help. We probably used "all" originally bc the Gateways were in the projectcontour namespace

[2021-07-23 17:24] sunjayBhatia commented on #3892
yep that is a good idea as well!

[2021-07-23 17:30] sunjayBhatia commented on #3873
closing via https://github.com/projectcontour/contour/pull/3894 merge

[2021-07-23 17:30] #3873 closed

[2021-07-23 17:50] #3870 closed

[2021-07-23 19:38] skriss opened #3915 "E2E's: add Gateway tests for RouteSelectAll and FromList"
https://github.com/projectcontour/contour/pull/3914#pullrequestreview-714070546

[2021-07-23 19:39] #3892 closed

[2021-07-26 03:56] youngnick commented on #3889
Soiry, @syncer, there is not currently any way to disable the certificate check. It shouldn't be too big a change to change or remove this check, I will see if we can prioritise this one a bit higher.

[2021-07-26 04:32] youngnick commented on #3634
That's a good point, thanks @erwbgy. I think currently we're anticipating keeping a reasonably high bar for patch releases (we'll still keep to major.minor.patch semver style) - basically that it would be a security or other urgent fix. Obviously, the bar will be less than what it is currently, since you could conceivably have to wait a lot longer for the regular release. I guess what I'm saying i

[2021-07-26 04:34] youngnick commented on #3905
Oof, great catch, thanks @skriss.

[2021-07-26 04:35] youngnick commented on #3906
I think we need to either do this, or define that all path matches must start with `/`, and mark the match/route invalid if it doesn't. (I thought we were doing that already, tbh).

[2021-07-26 10:04] OrlinVasilev commented on #3890
@mjschmidt can you elaborate a bit more? You have some Windows machine and you want to expose the RDP over the ingress controller ? for me sound like not a Contour area of features :)

[2021-07-26 13:49] #3576 closed

[2021-07-26 14:10] skriss commented on #3367
We haven't done this, I'm going to move it back to Prioritized Backlog and we can discuss inclusion in 1.19.

[2021-07-26 14:52] skriss opened #3918 "update docs for ExternalName services"
There are a few docs that should be updated for the recent changes to ExternalName processing:
- https://projectcontour.io/docs/main/config/external-service-routing/
- https://projectcontour.io/docs/main/config/client-authorization/#side-car-authorization-server

[2021-07-26 14:56] skriss commented on #3905
I'll try to get this done for 1.18, should be an easy fix 🤞

[2021-07-26 19:05] #3624 closed

[2021-07-26 22:01] skriss opened #3920 "access logging documentation follow-ups"
Yeah, I think either of these could work; I'd probably lean towards just linking to the file and describing which part to look at.

Yeah, I think this is a good idea.

:+1: also probably a good idea, can file a separate issue to add the missing one.

_Originally posted by @skriss in https://github.com/projectcontour/contour/issues/3849#issuecomment-885926797_

[2021-07-27 16:16] xaleeks commented on #3634
Here's a doc outlining the proposal to move to quarterly releases, comments are welcome

https://docs.google.com/document/d/1OUbSXa0IebF8_7zjvPU1l8L4H2RfYW0thwWmTE7eHZw/edit

[2021-07-27 16:25] xaleeks commented on #3634
also curious about how folks feel about RC builds and how they would be used

[2021-07-27 16:45] xaleeks opened #3922 "Competitive perfomance benchmarking against nginx and others"
HAProxy has a benchmarking that favours them, and Contour is listed there (https://github.com/haproxytech/ingress-controller-benchmarks). It would be great for us to do our own benchmark that can be shared with the community more transparently.  We can then leverage the tracing capabilities that we are adding to Contour to identify bottlenecks and areas for improvement.

Some starting assumptions

[2021-07-27 19:28] skriss commented on #3905
xref #3526

[2021-07-27 21:03] skriss commented on #3906
Looks like we error for `HTTPProxy` if path prefixes don't start with a `/`: https://github.com/projectcontour/contour/blob/main/internal/dag/conditions.go#L60-L62

[2021-07-28 05:11] youngnick opened #3925 "Gatekeeper config for ExternalName Service hostname allowlist"
As part of fixing a [CVE](https://github.com/projectcontour/contour/security/advisories/GHSA-5ph6-qq5x-7jwc), we have changed Contour to disallow ExternalName type Services by default. However, some users are already using ExternalName services, and would like a way to do this more safely.

We are considering a number of options, but adding example Gatekeeper config to allow a list of (possibly wi

[2021-07-28 14:22] #3918 closed

[2021-07-28 14:26] skriss commented on #3905
This was closed by #3923.

[2021-07-28 14:26] #3905 closed

[2021-07-28 17:30] jonasrosland opened #3931 "Website: Make "Get involved" more prevalent on the site"
Right now we have some basic information about how to get involved under https://projectcontour.io/community/. I think we could drive more attention to the community efforts if we had a more prevalent "Get involved" section on the front page, similar to what https://inclusivenaming.org/ does.

I see this as multiple parts:
- Update/modify the current /community page to look a bit better and have c

[2021-07-28 22:42] sharpjs commented on #3192
I think I might have this behaviour in an Azure Kubernetes Service cluster using k8s 1.19.9.  I'll try upgrading k8s to see if that changes anything.  Diags follow, a few IPs/names redacted.

Things that might be useful:
- The problem has always been with the first node in the pool, `...-vmss000000`.
- Envoy spits out a bunch of Lua-related errorr messages.

<details>
<summary><code>kubectl get al

[2021-07-29 01:09] youngnick commented on #3931
Sounds great, love it.

[2021-07-29 11:23] gary-tai commented on #3820
PRs submitted for both guide updates:
- PR 3907 - update start contributing
- PR 3924 - quickstart guide

[2021-07-29 14:48] brunda27anaji commented on #3192
I have encountered the subjected issue on our multi-node kops cluster on AWS. It's a 4 nodes cluster. PFA the screenshot where 3 of 4 envoy pods are in `1/2 ready state` .

![Screenshot 2021-07-29 at 16 29 13](https://user-images.githubusercontent.com/32837063/127510377-1a6fcbba-562f-4541-84da-d0c70ce66ef4.png)

All the envoy container of these pods are failing with same error as reported by @dere

[2021-07-29 15:23] sharpjs commented on #3192
Update: 15 hours after upgrading my AKS cluster to k8s 1.20.7, all of the Envoy pods are healthy with 0 restarts. Perhaps that fixed it for me.

[2021-07-29 18:19] skriss commented on #3440
@stevesloka I can take this over if that works for you, looks like still several TODOs

[2021-07-29 18:20] skriss commented on #3440
I'll see if there's an opportunity for some reuse between `HTTPRoute` and `TLSRoute` processing as well since there's a lot of overlap in functionality.

[2021-07-29 19:14] stevesloka commented on #3440
Go for it! =)

[2021-07-30 13:04] dkolovrat opened #3937 "How to migrate nginx to contour feature request"
Can we make a scripts or solution how to migrate from nginx scripts to contour,  we can do a “path rewriting” and “header rewriting” discriminating by a prefix, but we not have find anything how to set an “if” with a request method:
example: if ($request_method = 'OPTIONS')
If we using on another  environment we use ngnix, and we have a lot of rules in the annotations block, below an extract. Have

[2021-07-31 13:38] bourquep opened #3940 "Envoy 1.19 is unable to communicate with downstream Dotnet gRPC service over h2c"
**What steps did you take and what happened:**
After upgrading from Contour 1.10 to 1.18 (which ships with Envoy 1.19), my grpc-web clients are unable to talk with a Dotnet grpc service.

Envoy logs:

[code]

Dotnet logs:

[code]

This is very similar to this Istio issue: https://github.com/istio/istio/issues/34448

**What did you expect to happen:**

Contour/envoy should still allow me to connect

[2021-08-03 09:10] reicheltp commented on #3857
It seems that Envoy supports limiting the requests buffer size globally as well as just for a request: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/buffer/v3/buffer.proto.html#extensions-filters-http-buffer-v3-buffer

I am not that firm yet with the contour architecture but willing to support / create a PR. What steps do I need to take?

[2021-08-03 19:21] bourquep commented on #3940
After a bit of digging, this problem was actually introduced in [Envoy 1.18](https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.18.0):

The problem with this is that Dotnet Kestrel refuses any connections whose `:scheme` header doesn't match the actual underlying transport.

Because it is Envoy that terminates the public SSL connections, and it communicates to my service via `h2c`, it

[2021-08-06 00:47] mjschmidt commented on #3890
Ubuntu, but yes.

And okay thank you.

[2021-08-06 00:47] #3890 closed

[2021-08-09 21:56] dprotaso opened #3942 "Backport Contour CVE-2021-32783 mitigations"
Regarding the ExternalName CVE (https://github.com/projectcontour/contour/security/advisories/GHSA-5ph6-qq5x-7jwc) it would be great if some of the mitigations could be back ported to earlier contour releases.

ie. https://github.com/projectcontour/contour/pull/3934

For example Knative ships an opinionated contour setup. We'd like to mitigate this CVE but not require folks jump N minor versions.

[2021-08-09 23:53] PauloLuna commented on #3192
I encountered the same problem when I renewed the certificates of a cluster managed by kubeadm, after rerunning the job `contour-certgen-master` the problem was solved

[2021-08-10 17:23] sunjayBhatia opened #3943 "Update Helm Chart to new secure Admin listener setup"
Once https://github.com/projectcontour/contour/pull/3934 is merged we should update the Contour Helm chart (here https://github.com/bitnami/charts/tree/master/bitnami/contour) to the new secure by default method of setting up Contour/the Envoy DaemonSet with the Admin Listener on a Unix socket etc.

Note: Be sure to update the README in the helm chart repo for any new fields and call out important

[2021-08-10 17:38] sunjayBhatia commented on #3634
Moved out of the release column into the "Investigating" section of the board as this is a longer term discussion

Seems like we are collecting feedback and refining the doc posted above

Action items:
- Publicize proposal in community meetings etc.
- Finish/polish proposal in https://docs.google.com/document/d/1OUbSXa0IebF8_7zjvPU1l8L4H2RfYW0thwWmTE7eHZw/edit
- Move end product into a markdown/we

[2021-08-10 22:52] sunjayBhatia commented on #2863
This is currently in P1 but thinking about moving it up to 1.19 so we start work on it

The upcoming changes to how Contour/the Envoy DaemonSet are deployed are significant enough that they may need Knative changes and this feedback loop will likely show us that we broke Knative with the latest Contour

[2021-08-10 22:53] sunjayBhatia commented on #2863
Action items:
- Either in our CI or Knative, test against Contour `main` + Knative so upcoming changes give us some signal
- Set up some method of alerting 1 or both teams to any breakage

[2021-08-11 06:22] youngnick commented on #3942
This seems pretty reasonable, since it's a win for pretty much any Contour version. Do you have any specific versions you would like @dprotaso ?

[2021-08-11 06:26] youngnick commented on #3192
Looking at this issue, it seems like this problem is basically the symptom that something unrecoverable is wrong with your Contour install. From what I can see the initial problems are all resolved now as well. Are any watchers of this issue still having outstanding problems that haven't been resolved?

[2021-08-11 08:35] Legion2 commented on #3192
@youngnick were my comments https://github.com/projectcontour/contour/issues/3192#issuecomment-851031871 https://github.com/projectcontour/contour/issues/3192#issuecomment-851323007 addressed, I did not see them being referenced anywhere.

[2021-08-11 13:00] dprotaso commented on #3942
Knative supports N-4 releases and at this time our oldest supported release uses Contour 1.13. Though that'll be EOL in 6 weeks and the second oldest release uses Contour 1.14

[2021-08-11 13:22] stevesloka opened #3946 "Set a condition if a TLSRoute is invalid"
If there are no valid clusters or all forwardTos have a weight of 0, the route should get rejected. Need to set a condition on the route stating this happened so users can be made aware.

_Originally posted by @skriss in https://github.com/projectcontour/contour/pull/3938#discussion_r680026979_

[2021-08-11 13:33] stevesloka opened #3947 "Deprecated RBAC API Groups"
Noticed in the e2e logs that the RBAC we're using has been deprecated in Kubernetes v1.22. We need to upgrade the example policies:

[code]

[2021-08-11 14:34] stevesloka commented on #3947
We're actually using the proper version, this was my mistake with a different issue that CI is reporting from installing an older version.

[2021-08-11 14:34] #3947 closed

[2021-08-11 17:56] #3862 closed

[2021-08-11 23:46] derekperkins opened #3949 "Unwanted Parallel Requests"
**What steps did you take and what happened:**
is there something in contour that would send out simultaneous requests to multiple backends on a single http call? I have a semi-complex reproducible case, but I can’t seem to narrow down what is happening.

1. Envoy logs a single OPTIONS+GET request to `/signup` . Since this is creating a user, it can only succeed once.
`envoy-xrt4l envoy [2021-08-1

[2021-08-12 00:14] sharpjs commented on #3192
@youngnick Since upgrading Kubernetes in my cluster to 1.20.x, I have seen a total of two Envoy restarts, as opposed to thousands before.

My Envoy install is directly from `kubectl apply -f`ing the Contour manifests, no customization.  I suspect the problem was some race between the `shutdown-manager` and `envoy` containers.

[2021-08-12 00:33] derekperkins commented on #3949
I've tested it and the same behavior happens in 1.16.0 and 1.17.1 with the exact same config.

[2021-08-12 01:16] youngnick commented on #3192
@Legion2 thanks, I was having trouble tracking everyone's problems since we're kinda all smooshed together here. Give me a sec to review.

[2021-08-12 01:31] youngnick commented on #3192
@Legion2 I actually think that this issue is not the right place to work on your problem, since it doesn't sound like you have the problem of Envoy pods being stuck at unready? If not, we should move your discussion to a new issue, I think.

In that issue, we'll need a (redacted) copy of your Envoy YAML, so we can try and reproduce. Looking at our example YAMLs, I'm not sure how the situation you

[2021-08-12 02:19] gary-tai commented on #3733
I can take this one. Should this be moved to projectcontour.io?

[2021-08-12 03:57] derekperkins commented on #3949
It appears to be sourcing outside of the cluster somehow, hitting a duplicate endpoint. Sorry for the noise.

[2021-08-12 03:57] #3949 closed

[2021-08-12 04:10] youngnick commented on #3949
No problems, glad it was resolved, I was pretty worried about how we could be doing this one!

[2021-08-12 04:11] youngnick commented on #3733
I think it would be worthwhile keeping the file in the root of the repo, and having the content available on the site as well. Maybe a symlink to the site file from the root?

[2021-08-12 04:11] youngnick commented on #3733
Even without that though, just updating the content is really important, since it references jekyll and we're now on Hugo.

[2021-08-12 04:32] youngnick commented on #3940
Sorry for the delay on responding to this one @bourquep.

It seems like you would like a way to set `envoy.reloadable_features.preserve_downstream_scheme` to false somehow by Contour?

This sounds like it should be okay, we would need to check the details to see if there are any other implications, and we would probably want to start with a Contour-global setting rather than a host-specific one. D

[2021-08-12 04:39] youngnick commented on #3857
Limiting globally sounds like the way to start. If you'd like to create a PR, @reicheltp, that's awesome. As always please check CONTRIBUTING.md in the repo root for the process and stuff, but I think in this case, a configugration file item that defines the buffer size globally would be the right place, and then have that value flow down to the insecure HTTPConnectionManager, and all the secure H

[2021-08-12 04:45] youngnick commented on #3937
Hi @dkolovrat, sorry about the delay in getting back to you.

We support more advanced routing features like this using our HTTPProxy CRD.

Header rewriting and adding are first-class features there, you can see https://projectcontour.io/docs/v1.18.0/config/request-rewriting/#header-rewriting for more information on how you can do that.

Additionally, for request method routing, you can use the `:

[2021-08-12 04:47] youngnick commented on #3942
So, we probably need to backport to 1.14, 1.15, 1.16? Since 1.17 and 1.18 already have fixed versions? I think the change is relatively self-contained, so hopefully a cherry-pick will apply cleanly. @xaleeks, thoughts?

[2021-08-12 07:51] OrlinVasilev commented on #3733
@gary-tai @youngnick  just a link here https://projectcontour.io/docs/v1.18.0/start-contributing/#contributing like the other contributing guides?

[2021-08-12 11:36] gary-tai commented on #3733
The doc can be left outside of /site/contents, just wasn't sure if the goal was to get everything moved under /site.
I've got most of the content ready for Hugo, perhaps add in best practice section to align with the accessibility assessment (issue #3835.)

[2021-08-12 11:47] bourquep commented on #3940
@youngnick Indeed, as far as I can tell by my research, setting `envoy.reloadable_features.preserve_downstream_scheme` to `false` would fix the problem with Kestrel. All I need from Contour is a way to configure this 😄.

In my personal use cases, a Contour-global setting would work as my services are all written in .Net. But I could imaging that having a per-route setting could be useful to those

[2021-08-12 15:59] dprotaso opened #3950 "Alternatives approaches to supporting ExternalName services"
### Problem

The `enableExternalNameService` config being defaulted to `false` is a breaking change for users

Now that there is a PR mitigating envoy admin console access - https://github.com/projectcontour/contour/pull/3934 we should consider alternatives/modifications to that flag.

https://github.com/projectcontour/contour/blob/f9f263e96668437a4f1c33ab7aa7d2be9aeb3d69/examples/contour/01-conto

[2021-08-12 16:03] dprotaso commented on #3942
I'd say this is related - https://github.com/projectcontour/contour/issues/3950

We should figure out what exact mitigation to backport. At a minimum the admin socket PR makes sense.

[2021-08-12 21:22] stevesloka commented on #3950
1. I think the first approach is interesting that allowing "system" accounts to have permissions to use the feature, but disallowing users to utilize them. It would move the enforcement to the cluster and out of Contour.

2. Does this list need to be updated dynamically? We're looking to move the config to a CRD, but that's not there just yet. If it's dynamic, we'll need a way to know that list go

[2021-08-13 06:14] tsaarni commented on #3950
I guess defaults can always be discussed (including usual "secure by default" vs "backwards compatible" arguments) but I think it would be important to keep secure option without requiring additional software to avoid use of insecure parts.

From security point-of-view this could be good: it would avoid users from being in full control of routing destinations - assuming the user cannot also contro

[2021-08-16 00:35] youngnick commented on #3950
I think it's important to remember that the reason that we've added this flag and set it to `false` by default is not only about the Contour CVE (although that was pretty bad), it's also about the fact that you can use ExternalName services to render anything anyone does with External Auth or Rate limiting meaningless, and this is outside of the control of the Contour owner.

Let me explain.

If I

[2021-08-16 03:39] xaleeks commented on #3142
tagging this 1.19 temporarily for us to discuss how to make progress

[2021-08-16 04:32] xaleeks commented on #3942
We had a discussion with the OP and I agree we should backport to v1.14 if we can do a clean cherry pick like you said.  If there are larger changes needed, we can re-evaluate.   @youngnick

[2021-08-16 06:24] xaleeks commented on #3950
I agree with Nick that as long as ExternalName has this kind of behavior, we should ship with the capability turned off by default to protect users unaware of this vulnerability.  It is actually recommended by CNCF if I remember correctly (I will try to dig up the exact phrasing).  That should be the default state, realized through whatever means and then we should deliver a way to adjust this thr

[2021-08-16 18:04] xaleeks commented on #1119
This seems no longer relevant.  Please let me know if it needs to be reopened

[2021-08-16 20:35] skriss commented on #3404
https://github.com/projectcontour/contour/issues/3440 is just about done, just waiting to merge some additional unit test cases, so I've marked `TLSRoute` support as done on the task list.

[2021-08-16 23:38] stevesloka commented on #1119
To me this is super relevant. Given two upstream services, if one goes unhealthy, envoy will still try and load balance to it. It's come up a few times and is something we should at least document now as a known bug, but determine a longer fix.

[2021-08-17 04:02] xaleeks commented on #3574
Just checking in to see if this is still on track for 1.19

[2021-08-17 04:20] youngnick commented on #3574
Noone assigned yet, let's talk about this one in the meeting tomorrow.

[2021-08-17 04:22] youngnick commented on #1119
I don't disagree that we should sort this out, but I think the title and description need an update (since IngressRoute has been removed from Contour for some time).

[2021-08-17 04:23] youngnick commented on #3404
As of v1alpha2, TLS on HTTPRoute will be removed, so we probably shouldn't bother implementing for v1alpha1. We can probably call this mostly done.

[2021-08-17 04:25] youngnick commented on #3950
Just to clarify, @xaleeks, you mean "since we are moving to a new CR for configuration soon", right? HTTPProxy is staying around for a long time.

[2021-08-17 04:42] youngnick commented on #3942
Yes, I think that we should backport the domain socket PR back to the 1.14 release if possible.

[2021-08-17 04:47] xaleeks commented on #3950
Yup, we are moving to using a CRD for representing the Contour config and the underlying Envoy so that this representation can be validated and reconciled by k8s.  HTTPProxy will be around for a long time indeed.

Have we shared this design with the community yet? If not, we should socialize the design from Steve Sloka

[2021-08-17 04:56] youngnick commented on #3950
I don't think we have shared that design yet, no.

[2021-08-17 05:50] youngnick commented on #3192
Thanks very much @Legion2, I'll close this one out then.

If anyone else finds this issue, please log a fresh issue, and link back to here if you think it seems similar.

[2021-08-17 05:50] #3192 closed

[2021-08-17 12:29] gary-tai commented on #3826
Found a possible solution here: https://github.com/martignoni/hugo-notice
Four notice types are provided: `warning`, `info`, `note` and `tip`.

Create /site/themes/contour/i1on/en.yaml (add other localizations as needed)
Create shortcode site/themes/contour/layouts/shortcodes/notice.html
Call shortcode in md:
[code]

![image](https://user-images.githubusercontent.com/85881851/129724443-948ff49b-dd

[2021-08-17 13:01] gary-tai commented on #3826
For specific "deprecation", need to update:
<style> and <svg> tags in shortcode html.

[2021-08-17 13:34] jonasrosland commented on #3826
Oh that looks interesting @gary-tai . Would you be able to work on this?

[2021-08-17 14:12] skriss commented on #3440
Task list is complete so I'm closing this out, can open new issues if we find any other gaps.

[2021-08-17 16:28] gary-tai commented on #3826
Yes, I can take it.

I've reached out to the developer as the first notice box has small top padding, but it doesn't show up in the subsequent notice boxes. Could be something specific with the contour theme.

[2021-08-17 17:40] gary-tai commented on #3826
@jonasrosland  / @stevesloka - the developer came back with a fix (https://github.com/martignoni/hugo-notice/issues/12). All is working correctly.

Are the native `warning`, `info`, `note` and `tip` notice enough or is there a need for specific "deprecation" notice?

[2021-08-17 20:05] skriss commented on #3439
Per https://github.com/projectcontour/contour/issues/3404#issuecomment-899982896, configuring TLS on HTTPRoutes is being dropped in `v1alpha2` so there's no point in implementing this now. Closing out.

[2021-08-17 20:05] #3439 closed

[2021-08-17 20:07] skriss commented on #3404
Sounds good, I'll close this out and we can open new issues as needed if we find any gaps.

[2021-08-17 20:07] #3404 closed

[2021-08-17 20:43] skriss commented on #3355
See https://github.com/projectcontour/contour/issues/3439#issuecomment-900594308, closing this one out.

[2021-08-17 20:43] #3355 closed

[2021-08-17 21:57] skriss opened #3954 "Add v1alpha2 Gateway API support"
Epic-level issue for collecting the work needed to add support for `v1alpha2` Gateway API.

[2021-08-17 23:13] jonasrosland commented on #3826
I think those would be more than enough :)

[2021-08-18 05:31] youngnick commented on #3826
+1 from me, those levels are great, thanks.

[2021-08-18 06:35] youngnick commented on #3954
HTTP Header matching is now required for HTTPRoute, see kubernetes-sigs/gateway-api#733.

[2021-08-18 16:53] sunjayBhatia commented on #3564
closing since we're basically disabling ExternalName services and noone has asked for it

static DNS is being used in bootstrap clusters with IP addresses

[2021-08-18 16:53] #3564 closed

[2021-08-18 17:36] skriss commented on #3706
I'll pick this up

[2021-08-19 14:34] skriss commented on #3706
Working through this, I have the basic logic working but realized that currently, GatewayClass status is being written by all Contour replicas, not just the leader. Need to sort out how to only have the leader pod write status.

[2021-08-19 21:10] skriss commented on #3706
Got the StatusUpdater wired into the controller to deal with leader election and that seems to be working OK. It looks like there still may be some race conditions/timing issues around startup, so need to do some more digging there.

[2021-08-20 12:11] gary-tai commented on #3820
@jonasrosland - both the quickstart guide (PR 3936) and contributing guide (PR 3907) are in prod now.

https://github.com/projectcontour/contour/pull/3936
https://github.com/projectcontour/contour/pull/3907

This issue can be closed.

[2021-08-20 16:47] artificial-aidan commented on #1228
+1 on this. We require HTTPProxy for client cert authentication, but also use wildcard domain matching.

[2021-08-20 19:27] skriss opened #3956 "controller-runtime controllers and the rest of Contour code use two different caches"
The controller-runtime controllers (for Gateway API) use one `cache.Cache`, while the rest of Contour code uses a `cache.Cache` from `k8s.Clients` (see https://github.com/projectcontour/contour/blob/main/internal/k8s/clients.go#L36). This is both memory-inefficient, and can cause subtle race conditions due to the two caches not being 100% in sync. I've seen this manifest when a controller-runtime

[2021-08-20 19:30] skriss commented on #3956
Here's a log snippet from a WIP branch for #3706 demonstrating the race condition upon creating a new `GatewayClass`:

[code]

[2021-08-23 01:28] youngnick commented on #3956
Oof, guess we all missed this one. Agreed that this should all use the same cache, definiely.

[2021-08-23 01:29] youngnick commented on #1228
Thanks for that @artificial-aidan. Would the same first-label-only wildcard match work for you?

[2021-08-23 01:30] youngnick commented on #3820
Thanks very much @gary-tai, great work! I'll leave this to @jonasrosland to close out though.

[2021-08-23 01:34] stevesloka commented on #3956
Good catch! The original idea was to move all of them over to controller runtime, but we ended up with just the Gateway bits. That might be an easier path forward to just move to that. Just a thought while thinking out loud. Would mean moving the other bits to use the same cache then.

[2021-08-23 04:50] abhide commented on #3574
Here is my understanding:
Setting minTLSVersion on upstream clusters/ services is out of scope for Contour. However, Envoy can be configured via Contour to use a specific minTLSVersion for TLS Origination when Envoy makes connections to upstream clusters.
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-field-config-cluster-v3-cluster-transport-socket

[2021-08-23 06:10] youngnick commented on #3634
I've just opened this PR  (#3958) which has our official proposal for moving Contour to quarterly releases, starting with 1.20, due out late October. Please check it out, and +1 or comment with feedback. I've addressed all the questions I could think of in this initial PR, but if there's anything else you need to know, please ask, and we can make sure it's answered.
This PR will stay open for at l

[2021-08-23 15:13] stevesloka opened #3959 "Deprecate service-stats cluster for Envoy Admin"
The envoy admin socket uses a static cluster named `service-stats`, this can be confusing since it's not really stats related.

We should deprecate Envoy from using this and move to a clearer name.

_Originally posted by @stevesloka in https://github.com/projectcontour/contour/pull/3934#discussion_r694048372_

[2021-08-23 15:15] sunjayBhatia commented on #3574
Sounds right to me @abhide

Nick had a comment above:

Might not need to add it to HTTPProxy at first, we can maybe see if applying the global configuration is enough for people to customize the Envoy -> Upstream TLS connections

[2021-08-23 16:32] artificial-aidan commented on #1228
I believe it would. As long as first-label-only works with multiple trailing domains, i.e. `*.sub.example.com`

[2021-08-23 20:38] skriss commented on #3956
Was able to get everything using the one instance of the cache and have not seen the race condition since; need to clean it up though.

[2021-08-23 22:21] a5a5a9 opened #3961 "HTTPPROXY root becomes invalid after deleting a delegated HTTProxy in anothe namespace"
**What steps did you take and what happened:**
I delete one of the httpproxy in another namespace and it invalidates the httpproxy root .

**What did you expect to happen:**

The HTTPProxy Root needs to be in valid state at all times even thought one of its delegated httpproxy in another namespaces is deleted.

**Anything else you would like to add:**
Scheme:

httpproxy in httpproxy-roots

httppro

[2021-08-24 06:29] youngnick commented on #1228
Awesome. Yes, first-label-only just means that only the first label, up to the period, can be replaced.

So `*.sub.example.com` would match `foo.sub.example.com` and `bar.sub.example.com`, but not `foo.bar.sub.example.com`.

[2021-08-24 06:34] abhide commented on #3574
Thanks @sunjayBhatia for the inputs.
We can use the same TLS configuration as : https://projectcontour.io/docs/v1.14.0/configuration/#tls-configuration

I think we need to feature flag this and let people enable/disable it rather than contour doing it by default, correct?
At least to start with; we can default to enabled but give the option for cluster admins/operators to disable via configuration

[2021-08-24 07:54] youngnick commented on #3574
I think it's probably better to enable via default, and wait and see if people want more configurability. I think that most people who want to configure ciphersuites will want them to match everywhere.

[2021-08-24 11:03] ehdieunguyen opened #3962 "The server header is not removed in the response headers by responseHeadersPolicy"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I am following the guide at https://projectcontour.io/docs/v1.18.0/config/request-rewriting/ to config responseHeaderPolicy

[code]
![2021-08-24-175656_1229x1184_scrot](https://user-images.githubusercontent.com/39895269/130604952-b6ad63ae-9a80-410e-8124-c0328167eb88.png)

**What did you expect to

[2021-08-24 13:24] artificial-aidan commented on #1228
Awesome. I'll stay subscribed to this.

[2021-08-24 14:32] skriss commented on #3962
hi @ehdieunguyen, looks like the `server` header cannot be removed because Envoy itself is adding it to the response, rather than it coming from the upstream service. See https://github.com/envoyproxy/envoy/issues/14421. There is an Envoy setting to pass that header through from the upstream service and to not add it if the upstream doesn't provide it, which we could explore adding support for in

[2021-08-24 16:33] sunjayBhatia commented on #2856
Now that we support request hash based load balancing, this sounds like one could hash on the `Cookie` header sent by a client (with the value generated by a single application instance) to implement this? would be some quirks if you have multiple cookies in a single header or multiple `Cookie` headers entirely, Envoy doesn't implement an API as of yet for cookie load balancing besides it generati

[2021-08-24 16:38] sunjayBhatia commented on #3044
we do support a list of request hash policies but so far have only implemented header based hashing

it is possible to add other types, including cookie based (envoy generated) and source ip, see https://github.com/projectcontour/contour/blob/main/design/loadbalancer-hash-policy-design.md#changes-to-loadbalancerpolicy for an example of how we could add a new field

we could deprecate the existing

[2021-08-24 16:40] sunjayBhatia commented on #3808
seems like this is closable

[2021-08-24 16:45] sunjayBhatia commented on #2323
seems closable?

[2021-08-24 18:17] sunjayBhatia commented on #2856
could do something hacky here to fix the bootstrap issue, which would look like:
- change cookie load balancing strategy to passive cookie hashing, Envoy will now not generate a cookie value to hash but look for a cookie of name `X-Contour-Session-Affinity`
- in lua `envoy_on_request` check if `X-Contour-Session-Affinity` cookie is present
- if so, do nothing
- if not, insert cookie with random va

[2021-08-24 18:26] sunjayBhatia commented on #2856
again doesnt really solve the issue since the app isnt generating the cookie, so again not sure how useful any of this is

[2021-08-24 20:18] dprotaso commented on #3942
Hey I saw https://github.com/projectcontour/contour/pull/3934 merged and was wondering what timelines you have for backporting and creating the patch releases

cc @stevesloka

[2021-08-24 20:33] stevesloka commented on #3942
Good timing! I just put up a PR that needs some smoke tests to validate: https://github.com/projectcontour/contour/pull/3964

This is for v1.14 right now, once this is good can work through the other releases.

[2021-08-24 20:55] dprotaso commented on #3950
Another alternative I discovered is that [`EndpointSlices` support `CNAME` address types](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/#address-types).

They can RBAC'd separately from K8s Services and there's [guidance upstream about limiting write access](https://github.com/kubernetes/kubernetes/issues/103675).

If Knative, instead of using `Service.ExternalName` or ma

[2021-08-24 20:59] dprotaso commented on #2696
Hey following up what's the status of EndpointSlices? and does Contour currently support [External Service Routing](https://projectcontour.io/docs/v1.18.0/config/external-service-routing/#external-service-routing) with [EndpointSlices with the CNAME address type](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/#address-types)?

[2021-08-25 00:07] youngnick commented on #2323
Agreed. This is wontfix for now.

[2021-08-25 00:07] #2323 closed

[2021-08-25 00:09] youngnick commented on #3808
Agreed, I think we should close this one out since it's wontfix.

[2021-08-25 00:09] #3808 closed

[2021-08-25 00:10] ehdieunguyen commented on #3962
Thank @skriss

[2021-08-25 00:10] #3962 closed

[2021-08-25 05:59] tsaarni commented on #3313
I'm wondering about having this as route-level setting.  Like @sivakrishna-git pointed out [here](https://github.com/projectcontour/contour/issues/3313#issuecomment-773735780), upstream setting goes into `Cluster` message instead of `Route`. How should it be sorted out when two `HTTPProxies` have conflicting TimeoutPolicy settings, but point to the same upstream service?

[2021-08-25 06:42] tsaarni opened #3972 "Clarification needed for the idle timeout parameters"
There are various idle timeout parameters that can be configured by the user.  The documentation could be clarified a bit regarding the purpose and effect of each one:

[`HTTPProxy.spec.routes.timeoutPolicy.idle`](https://projectcontour.io/docs/main/config/api/#projectcontour.io/v1.TimeoutPolicy)

I read this as if upstream HTTP connection would be closed where there is no new requests in that con

[2021-08-25 20:32] skriss opened #3983 "replace dynamic client with controller-runtime client"
Since we're gradually migrating to controller-runtime across the project, it makes sense to replace our usage of the k8s dynamic client with the controller-runtime client. It's also more programmer-friendly and should simplify some things across the code base. Another benefit is that we can configure a delegating client, which transparently uses the informer caches for all reads, which should impr

[2021-08-26 14:36] skriss opened #3987 "Migrate controller tests to E2E's"
Feels like we should just drop the controller integration tests. That work could be done in the e2e test framework better centralized.

_Originally posted by @stevesloka in https://github.com/projectcontour/contour/pull/3960#discussion_r696001802_

[2021-08-27 00:11] poidag-zz opened #3994 "Support path-based logging for controller"
As a cluster operator, I would like the ability to configure path-based logging for the Contour controller via a configuration flag.

[2021-08-27 15:17] skriss opened #3996 "Fix generate-gateway-deployment.sh and contour-gateway.yaml in older release branches"
xref https://github.com/projectcontour/contour/pull/3995

This script is inadvertently uncommenting all lines starting with `namespace:` from the Contour config file in an attempt to uncomment *just* the `gateway:` config stanza. Ideally we can fix the script and the output in past release branches to keep those branches healthy. Note that this is not an issue on `main` anymore since we dropped na

[2021-08-27 20:29] jayunit100 opened #3998 "move off off docker.io"
**What steps did you take and what happened:**

I think the default docker images for contour are still on dockerhub...
[code]

**What did you expect to happen:**
given rate-limiting, maybe we should default the docker images from contour to gcr.io or some other public bucket?

[2021-08-29 01:53] danthegoodman1 commented on #1894
Any update on this?

[2021-08-30 05:55] youngnick commented on #3998
#3366 also covers this work, although reviewing it, I probably should close that out and open an implementation issue.

[2021-08-30 05:57] youngnick commented on #1894
Hmm, it doesn't look like there's much movement here. I'd agree that this one is prime candidate for a fresh guide. Perhaps @OrlinVasilev or @jonasrosland could raise this one at a Tech Docs WG meeting?

[2021-08-30 06:19] youngnick commented on #3950
That sounds like a good solution that will end up more secure for everyone @dprotaso. I guess the action for Contour there is to get that EndpointSlice support actioned?

[2021-08-30 06:22] youngnick commented on #2696
Thinking more about this, I think that we should confirm what K8s version EndpointSlice is GA in, and if that's less than our minimum supported (which it almost certainly is), we should move to using EndpointSlices exclusively (since Kube will ensure that changes are propagated as necessary back to Endpoints).

There are some things that wee may need to be careful about, since I believe that Endpo

[2021-08-30 06:23] youngnick commented on #3940
I've dropped this onto our board for prioritization.

[2021-08-30 14:17] dprotaso commented on #2696
Beta in 1.17, GA in 1.21

GA doesn't necessarily mean all things are supported since it depends on the DNS provider for the cluster. I think it just means the API is stable.

For example - CoreDNS EndpointSlice support was added 1.8.4 which is bundled with K8s 1.22 (via kubeadm).

Note you may need to watch a subset of `Endpoints` objects that aren't mirrored as `EndpointSlices` - details here: ht

[2021-08-30 16:13] skriss opened #4002 "support Host header rewrites per-service"
Currently, Contour supports rewriting the `Host` header at the route level only. It's explicitly disallowed at the per-service level, because Envoy did not historically support it. As of Envoy 1.19.0, however, setting `host_rewrite_literal` for an individual weighted cluster is now supported (see https://www.envoyproxy.io/docs/envoy/v1.19.0/version_history/current#new-features), so Contour should

[2021-08-31 05:30] youngnick commented on #3258
Oh, I thought that Linkerd would work with HTTPProxy objects from the initial request. There are currently no plans, but please feel free to open an issue, and we can discuss how we could make it work. (It would be a lot of annotations, which we are generally reluctant to do, but we can definitely discuss).

[2021-08-31 13:42] skriss commented on #3366
Here's my plan:
1. Start pushing to GHCR in parallel with Docker Hub, for both `main` and tag builds. Continue to reference the Docker Hub image in examples & CI for now. This will let us confirm everything is working with GHCR.
2. Publicize that we'll be migrating to GHCR and we'll stop pushing to Docker Hub after release v1.2x (maybe v1.21?)
3. Continue pushing to both registries, but switch exa

[2021-08-31 14:05] artificial-aidan opened #4005 "Enable setting headers on all routes on ingress objects"
**Please describe the problem you have**
[This](https://github.com/projectcontour/contour/issues/3258) issue describes a feature need to support linkerd. That works for HTTPProxy objects, but not for Ingress objects. With contours support for ingress objects, Contour needs a way to set headers on ingress objects too.

[2021-08-31 14:05] artificial-aidan commented on #3258
https://github.com/projectcontour/contour/issues/4005

[2021-08-31 14:09] sunjayBhatia commented on #3366
yeah thats a good idea, just in case

[2021-08-31 14:43] #3689 closed

[2021-08-31 16:06] artificial-aidan commented on #1228
What is the size of it? Are the HTTPProxy and Gateway API objects similar? If its mostly copy paste I may have some bandwidth to contribute.

[2021-08-31 16:14] xaleeks commented on #3954
@youngnick  What does extended support mean exactly?  Also, do you mean should we support method based routing in HTTPProxy as well?  It’s a useful feature to be able to specify the method to match against.   And I think we should keep things at parity for the time being.  Thoughts?

If we support it, do we also support specifying multiple methods?

[2021-08-31 16:18] xaleeks commented on #3946
Can we tag this for v1.20?

[2021-08-31 16:35] xaleeks commented on #3943
Seems they bumped it https://github.com/bitnami/charts/commit/05f83e513bfb79c0efdc69b8403d4643cf792e58 but it still uses contour 1.18 and envoy 1.19.  I’ve pinged Bitnami team to bump it again to 1.18.1 and 1.19.1 to receive the fix

Something I was able to find out about the bitnami release process is that this chart which is released in their Bitnami Community Catalog (BCC) also drives the versi

[2021-08-31 16:41] xaleeks opened #4007 "Include Compatibility Matrix info as part of Contour Release"
Today we maintain version compatibility between Contour and Envoy here https://projectcontour.io/resources/compatibility-matrix/

To better align with the helm chart maintained by Bitnami team, we should include this info as a JSON as part of our release artifacts each time (see https://github.com/projectcontour/contour/issues/3943) .  This is much easier than parsing html.  Bitnami will leverage

[2021-08-31 16:43] xaleeks commented on #4007
we should aim to get this done in v1.20

[2021-08-31 16:56] xaleeks commented on #1228
Thanks for wanting to contribute to this.  Maybe @sunjayBhatia can give some guidance

[2021-08-31 17:39] sunjayBhatia commented on #1228
should be a somewhat straightforward change, the main thing is adding the appropriate unit and end-to-end tests

[2021-08-31 17:54] xaleeks commented on #3366
Thanks @skriss , that's a very tempered approach to migration

just one comment about the last part, Dockerhub has retention policies in place that deletes images that do not get any pulls over some specified time (6 months I believe), so we might want to start moving some of the older images over soon if we want to keep them

[2021-08-31 18:13] xaleeks commented on #2696
@youngnick  Yup, we should support this.  However, EndpointSlice started in k8s 1.17 it seems.  Do we need to add a check that the version of K8s running supports it before Contour is deployed?  I guess all the supported versions of Contour today would necessitate a version of k8s that supports it so we should be in the clear.

Tagging it for 1.20 for now to start investigating but we can also slo

[2021-08-31 18:24] xaleeks commented on #2696
Also according to https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/, it allows for setting a "topology.kubernetes.io/zone" key.  Which opens us to this https://kubernetes.io/docs/concepts/services-networking/service-topology/

So a client can hit his preferred node specified in the topologyKeys for his service when using Ingress .  I’m not sure if that means this ServiceTopo

[2021-08-31 20:08] #3987 closed

[2021-09-01 05:34] youngnick commented on #2696
If we are already mandating a newer version of Kubernetes than 1.17 (which I think we are), then we just need to call out when we start doing EndpointSlices that 1.17 (or whatever version) is now required.

The zone topology is an interesting idea, yeah.

[2021-09-01 05:36] youngnick commented on #1228
Yes, I think a fair bit will be copy-and-paste or reusing helpers from Ingress/Gateway API code. And I agree that the main thing is adding the tests, some of the tests for the DAG in particular are way too big (it's on the list).

If you would like to take this one @artificial-aidan, please feel free, and hit up the Slack channel if you need help with shepherding.

[2021-09-01 05:39] youngnick commented on #3954
In the Gateway API, there are three types of support:
- Core (which all implementations MUST support)
- Extended (which implementations MAY support, but the behavior is mandated by the spec)
- Custom (implementations MAY support it, but it probably won't be cross-implementation compatible).

I thought we should probably do header matching since we have a similar thing in HTTPProxy already.

[2021-09-01 14:08] skriss commented on #3812
We opted to go for E2E tests to cover the controllers, and these have been implemented in #3960 (merged) and #3992 (in review).

[2021-09-01 15:11] Rob19999 opened #4009 "Namespace inclusion and prefix results in 404 error"
Goodday,

I created a inclusion to a namespace with the prefix /test. Within that namespace a WCF application is deployed that requires all traffic to come into the root off the IIS website. I created the rewritepolicy and the api shows.  Now the moment I call a service I get a 404.

- Browse (or call from postman)
- https://<>/test/
- This give a http200.
- Now I want to call a resource in a subf

[2021-09-01 15:27] howardjohn commented on #2696
`topologyKeys` is deprecated fwiw. replaced by https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/

[2021-09-01 20:04] #3812 closed

[2021-09-01 20:04] #3825 closed

[2021-09-01 20:04] #3863 closed

[2021-09-01 20:04] #3864 closed

[2021-09-01 20:13] skriss commented on #3366
Closing this decision issue out since we've agreed on a plan, will use #3998 to track execution.

[2021-09-01 20:19] skriss commented on #3998
Todo list:
- [X] Start pushing to GHCR in parallel with Docker Hub, for both main and tag builds. Continue to reference the Docker Hub image in examples & CI for now. This will let us confirm everything is working with GHCR.
- [ ] Publicize that we'll be migrating to GHCR and we'll stop pushing to Docker Hub after release v1.2x (maybe v1.21?)
- [ ] Continue pushing to both registries, but switch e

[2021-09-02 16:55] mzrithm commented on #3712
I will work on repairing broken links to images as I discover them and will reference this issue.

[2021-09-02 17:23] jonasrosland commented on #3819
Hey @teepee123 I'm so sorry for the lack of response here, I think this looks like a great start! Would you still like to finish this up?

[2021-09-02 17:34] mzrithm commented on #3861
I'm happy to take on this issue.

[2021-09-02 17:52] sunjayBhatia commented on #3861
hey @mzrithm assigned you to this issue 👍🏽

[2021-09-02 21:00] mzrithm commented on #3861
Thanks, Sunjay!

[2021-09-02 21:29] skriss commented on #3865
Ended up going with E2E's to test the GatewayClass/Gateway controller logic. This can be closed out now.

[2021-09-02 21:29] #3865 closed

[2021-09-02 21:32] skriss commented on #3617
Closed by #3881

[2021-09-02 21:32] #3617 closed

[2021-09-03 15:58] skriss commented on #3954
Moved into 1.20 since it's unlikely we'll get this done for 1.19.

[2021-09-07 03:50] youngnick commented on #4005
Thanks for opening this issue, @artificial-aidan.

So, what you'd like is for the `headers` config stanza to be able to be applied to Ingress objects as well? I think that we could do that, but it would be a blanket apply, with no way to override on a per-Ingress basis. I'd probably want to do a boolean in the config file that's something like `applyToIngress`?

[2021-09-07 03:53] artificial-aidan commented on #4005
That sounds good to me. I think it would be reasonable not to have a per ingress override, that would be too many annotations. But a global override is required for some things.

A boolean would be great.

[2021-09-07 04:00] youngnick commented on #4005
Okay, if that's the case, here's the todo:
- Add a feature to the Contour configuration that allows the global header modification to be applied globally to all Ingress resources as well as HTTPProxy ones.
  - This should be either a boolean (`applyToIngress`), or possibly, a list of types to add the headers to. This isn't applicable to Gateway API because it has a Policy concept that's designed f

[2021-09-07 16:52] skriss commented on #3943
Looks like this was done in https://github.com/bitnami/charts/pull/7353

[2021-09-07 16:56] sunjayBhatia commented on #3943
yeah i think this can be called done and closed (someone reopen if needed)

[2021-09-07 16:56] #3943 closed

[2021-09-08 01:57] artificial-aidan commented on #4005
I've started on this. I think I have it working for the most part. May have some questions about testing, and some other details tomorrow. I'll push up a branch when I clean things up a bit.

[2021-09-08 03:24] xaleeks commented on #3943
yup, this can be mitigated in the future by https://github.com/projectcontour/contour/issues/4007

[2021-09-08 04:06] xaleeks commented on #3430
This is one of the requirements for the CII Silver badge https://bestpractices.coreinfrastructure.org/en/criteria/1?details=true&rationale=true

“The project MUST cryptographically sign releases of the project results intended for widespread use, and there MUST be a documented process explaining to users how they can obtain the public signing keys and verify the signature(s). The private key for t

[2021-09-08 04:07] xaleeks commented on #3634
Moving this into 1.20 since everything will have been finalized and communicated by 1.20.

[2021-09-08 04:39] youngnick commented on #4005
Awesome, please feel free to push a draft PR if you want early feedback!

[2021-09-08 04:46] xaleeks commented on #3726
We should either 1) make the order configurable to the user,  or 2) flip the current order as the default behavior.   The referenced 'ratelimitbeforeauth' flag should be optional and so we still need a sensible default.

Can we put this in v1.20?

[2021-09-08 04:48] xaleeks commented on #3726
@sunjayBhatia  this is going to depend on our upcoming support for OIDC authN as well but it needs to be able to differentiate between unauthenticated requests and failed authentications.  In the absence of authentication on a route object, it just gets rate limited per usual.

[2021-09-09 02:20] youngnick commented on #3430
We should definitely do this, but as the only artifacts we actually provide are container images, we will need to figure out signing those images, possibly using https://github.com/sigstore/cosign or similar.

[2021-09-09 14:41] mfridman opened #4022 "Add support for with_request_body"
After setting up envoy, contour and implementing an authorization server we noticed this setup does not work for SAML-based auth flows.

Specifically, the request body is not sent to the authorization server. We'd like to keep the AuthProvider in the same process as the ExtAuth service.

There was an issue filed and implemented to support per path filtering:
https://github.com/envoyproxy/envoy/iss

[2021-09-09 15:02] rdgacarvalho commented on #2441
Hi,
I am facing the same issue even after followed [deploy-aws-tls-nlb](https://projectcontour.io/guides/deploy-aws-tls-nlb/) guidance.
___

My environment

[code]
___

Kubernetes:  Service description
[code]
___

Testing HTTP(s)/TLS via **curl**

HTTP - 200 OK
[code]
Contour log:
[code]

HTTPS - timeout
[code]

Any suggestion or workaround is welcome?

Thank you

[2021-09-10 06:16] youngnick commented on #2441
Hi @rdgacarvalho, could you please log a separate issue for this? It's easier to keep discussion tidy when we do that. From a quick look at what you've sent, it seems like everything is working, but I'd need to check over the guide myself.

[2021-09-10 06:29] youngnick commented on #4022
This seems like a reasonable ask, thanks for the issue @mfridman.

Do you think that a boolean would be okay to start with, or would you need to tune the additional parameters (`max_request_bytes`, `allow_partial_message`, `pack_as_bytes`) as well? I'd prefer to start with a boolean and default these unless there's a strong need to do otherwise?

[2021-09-10 12:17] mfridman commented on #4022
Hi @youngnick, thank you for consideration. Yes, a boolean would work.

Assuming there is no limitation on the body size, we don't need those additional parameters. I mention this because SAML-based responses for ACS endpoints can be quite large, ~10KB.

[2021-09-10 13:24] mfridman commented on #4022
If this is something trivial for the maintainers to add that'd be awesome, otherwise I could take a look at submitting a PR.

I presume this is a common task (syncing _some_ envoy options to be exposed via contour) .. maybe there is an existing PR you could point me at? If its a fairly trivial chunk of work I could submit a PR.

[2021-09-13 16:16] skriss commented on #3998
Last step can be done after v1.21 is released.

[2021-09-13 17:09] skriss commented on #3946
PR opened to include this in 1.19

[2021-09-13 18:52] skriss commented on #3312
I think we've covered a lot of the highest priority items in this issue so I'm going to close this out. We can always come back to this in the future as needed.

[2021-09-13 18:52] #3312 closed

[2021-09-13 19:15] skriss commented on #3800
xref #3542

[2021-09-14 02:07] abhide commented on #4022
@youngnick I would like to work on adding support for this. Would that be fine?
Seems like we can add options to
`type AuthorizationServer struct` under `apis/projectcontour/v1/httpproxy.go`

[2021-09-14 02:14] abhide commented on #4022
If we add a boolean flag to what would be defaults for
[code]

Setting `max_request_bytes` could potentially increase memory usage for Envoy in high load scenarios; as the message body will be held in memory.

[2021-09-14 12:07] mfridman commented on #4022
I don't suggest setting arbitrary default values without giving users the option to modify them.

The simplest solution, for now, would be to add a boolean to allow users to opt-in to receive the _entire_ request body.

My worry is you add a boolean flag, but don't provide a way to modify the defaults, I'd be in the same position as I am today... no request body.

[2021-09-14 20:18] abhide commented on #4022
@mfridman thanks for your inputs.
The part I am missing is: How would adding a boolean allow users to receive entire request body?
I read through proto documentation: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto.html?highlight=with_request_body#extensions-filters-http-ext-authz-v3-buffersettings
Didn't see the boolean flag you are referrin

[2021-09-14 21:17] mfridman commented on #4022
You're right, there is no boolean flag. I meant the boolean flag would be a contour-specific implementation detail to either allow the request body through or not.

My concern is if these are hard-coded within contour with no ability to be modified then we still might have an issue if the request body is too large.

[2021-09-14 21:28] abhide commented on #4022
@mfridman thanks for your response.
Yes got it; boolean to enable/disable buffer settings and then expose those 3 options from Buffer settings.

@youngnick makes sense?

[2021-09-15 04:52] youngnick commented on #3792
@skriss is there an issue to cover the ExtensionService redesign work? I can't find one.

[2021-09-15 04:53] youngnick opened #4031 "External Authorizer HTTP support?"
### Discussed in https://github.com/projectcontour/contour/discussions/4030

<div type='discussions-op-text'>

<sup>Originally posted by **danthegoodman1** September 14, 2021</sup>
Looking at the docs: https://projectcontour.io/docs/v1.16.0/config/api/#projectcontour.io/v1.AuthorizationServer

I was wondering if there were any plans to support HTTP based authorizers so that we could us something l

[2021-09-15 05:11] youngnick commented on #4022
I think that we should end up with something like this in the config file ( I can't remember off the top of my head if we already have a stanza for configuring external auth - if we do, these params should go in there.

The defaults should be the same as the Envoy defaults.

Otherwise:
[code]

I know that the Envoy properties use underscores, but we're trying to settle on goCamelCase instead to ea

[2021-09-15 20:50] skriss commented on #3954
I'm actively working on this. Step 1 is getting existing code to compile and tests to pass with the v1alpha2 API. Steps 2..n are adding support for new features in v1alpha2.

[2021-09-16 00:28] #3972 closed

[2021-09-16 09:25] OrlinVasilev commented on #1894
@reagul did you make any progress on that or we can restart that topic?

[2021-09-16 15:07] #4007 closed

[2021-09-16 15:19] abhide commented on #4022
@youngnick I don't think there is a extAuth section in the configuration. Didn't find any here: https://projectcontour.io/docs/main/configuration/#configuration-file

ExtAuthz server is an instance of `ExternalService` CRD.
[code]

[2021-09-16 16:06] sunjayBhatia commented on #4022
seems like since we allow the ability to configure different auth servers per route potentially, we should also allow different behavior between them? so adding the options for request body passthrough/size on `HTTPProxy.Spec.VirtualHost.AuthorizationServer` sounds reasonable

[2021-09-17 04:00] youngnick commented on #4022
Hmm, they probably really belong _on tthe ExtensionService_, since they should be the same for all times that a particular ext_auth service is used. We can add them to ExtensionService for now, and this will be another thing for @skriss to take into account in the eventual ExtensionService redesign. I'd rather not add fields into HTTPProxy that may not stay there.

[2021-09-17 18:52] stevesloka commented on #3184
Already implemented.

[2021-09-17 18:52] #3184 closed

[2021-09-17 18:57] stevesloka commented on #4009
Hey @rob-elschot, when you call the 2nd time with `https://<>/test/v10/interest.svc`, does that app expect the `/test` to be in the path or not? The first app I'm assuming didn't which is why it worked.

[2021-09-17 18:58] stevesloka commented on #4005
It might be a better spot to add these to the `virtualhost` of the HTTPProxy vs the global config. This way you could customize them per vhost and not have a per ingress controller default.

[2021-09-17 19:01] stevesloka commented on #3961
#3824 is now merged so I think this can be closed and this will be included in Contour v1.19 @a5a5a9.

[2021-09-17 19:01] #3961 closed

[2021-09-17 19:13] stevesloka commented on #3901
Hmm that's interesting @r0bj. I can confirm what you're seeing. We'd need to dig into that a bit, probably something to do with how the pods are attached with IPs being on hostNetwork. But I know the hostPort bits work vs hostNetwork.

Any reason you want to use hostNetwork over hostPort?

[2021-09-17 19:14] stevesloka commented on #3899
Those are now documented here: https://projectcontour.io/docs/v1.18.1/redeploy-envoy/#shutdown-config-options

[2021-09-17 19:14] #3899 closed

[2021-09-17 19:15] stevesloka commented on #3861
Fixed in #4032

[2021-09-17 19:15] #3861 closed

[2021-09-17 19:20] stevesloka commented on #3775
I'm surprised you didn't get logs already for not being able to connect to the API server. Contour will fail startup if it cannot connect to an API server. Let us know if you have any more questions, glad you got it figured out!

[2021-09-17 19:20] #3775 closed

[2021-09-17 19:21] stevesloka commented on #3770
Seems like consensus is that the single repo as it is today is fine.

[2021-09-17 19:21] #3770 closed

[2021-09-17 20:55] sunjayBhatia opened #4039 "ContourConfiguration CRD should allow custom SecurityContexts for Envoy DaemonSet"
See original request from the operator: https://github.com/projectcontour/contour-operator/pull/398

[2021-09-17 20:57] sunjayBhatia opened #4040 "ContourDeployment CRD should allow custom SecurityContext for Contour deployment"
See original request from the operator: https://github.com/projectcontour/contour-operator/pull/398

[2021-09-17 22:07] r0bj commented on #3901
I don't have a strong opinion about that, it's just hostPort adds some CNI network overhead (iptables) and hostNetwork just binds directly to host port.

[2021-09-17 23:39] artificial-aidan commented on #4005
Are there `virtualhost` fields on ingress objects?

[2021-09-18 00:19] stevesloka commented on #4005
Sorry I misunderstood, I thought you wanted a global for httpproxy which came up before since this header needs applied to all routes.

You'd need a config or annotation like @youngnick  suggested. I'd recommend against the boolean, just have a list of things you want to apply. If it's empty, then doesn't get applied. Also might just apply this to ingress resources. Httpproxy could go in the vhost

[2021-09-18 00:32] stevesloka commented on #4005
Ok see about the boolean need, thinking if there's a smoother way to accomplish this. Let me think about it.

[2021-09-18 00:46] artificial-aidan commented on #4005
The httpproxy config was done in a different PR. I could see the benefit of a boolean as an improvement, but is it necessary at first? For the use case (linkerd proxy) there isn't a need to disable it.

[2021-09-18 00:48] stevesloka commented on #4005
Yeah maybe just mirror how httpproxy works, then can disable it of required in a future pr.

[2021-09-18 00:55] artificial-aidan commented on #4005
That's what the PR does. I'm away from work for a week, but can probably get to any review changes needed.

[2021-09-19 12:11] smith1994michael opened #4042 "Header Rewriting/ CORS does not seem to work with https"
I have tried to set a header - but unfortunately this is not displayed with any request. The same behaviour is also with CORS. The configuration is displayed as valid and other settings work - TLS termination/ load balancer with cookie/request limits. Everything I try does not lead to the desired result.

[2021-09-19 22:23] xaleeks commented on #3006
I think one way to achieve the balance is that we allow LUA but it would be unsupported by Contour team.  These are treated as 3rd party plugins.  In the future, they can be submitted for official support but this mechanism is non-existent right now.  But there's still a lot of risk with this and we are evaluating other approaches as well.  WASM is another alternative.

[2021-09-20 01:05] xaleeks commented on #3430
You’re right, we don’t ship any kind of installer.  I was thinking of a quick way to just sign the release bundle as a whole indicating that it did come from the maintainer team, rather than signing every image because it puts onus on the end user somewhat to verify every artifact.

We can give Cosign a try if we have the bandwidth, it’s picking up some steam in the community.   I saw a PR in kube

[2021-09-20 01:07] xaleeks commented on #2679
Seems we can close this since we already support matching by http methods.  Feel free to reopen if I’m misunderstanding

[2021-09-20 01:07] #2679 closed

[2021-09-20 01:25] xaleeks commented on #3857
Slightly off topic but an observation is that the question of whether the feature is enabled at the global, route lvl etc comes up constantly.  We should probably have some consistent framework in how we cut these features.  Or we can take Nick’s idea that it’s prioritized based on specificity.  The more specific it’s configured with respect to other entities, the higher the precedence.

And what

[2021-09-20 01:36] xaleeks commented on #3693
If we do enable this through a field on the HTTPProxy, how do we apply this globally so we don’t need to specify on every HTTPProxy and add annotation on each Ingress?  It would be ideal to have the behavior of applying these settings globally by default when nothing is specified but it almost requires this to be specified in its own CR.  Then you can associate this with httpproxies and ingresses

[2021-09-20 01:37] xaleeks commented on #4040
can we tag a release that you think is appropriate? @sunjayBhatia

[2021-09-20 01:37] xaleeks commented on #4039
can we tag a release that you think is appropriate? @sunjayBhatia

[2021-09-20 01:40] xaleeks commented on #4002
seems nice to have, tagging it v1.21 tentatively

[2021-09-20 01:52] youngnick commented on #3857
The problem is that it depends on the feature. For some, it makes sense to have it be set globally first, for others it doesn't make sense to set globally. I don't know if we'll be able to get around doing this on a case-by-case basis.

[2021-09-20 01:56] youngnick commented on #3430
I think that there's a bunch more infrastructure that needs to be provided for the signatures to be used by a Kubernetes cluster (like Notary, registry support etc), but it seems like the mechanisms for storing the signatures in the repo are reasonably standard, so this would be step 1 of users being able to trust the supply chain.

[2021-09-20 02:04] youngnick commented on #3693
I think it depends on the expected use case. I can see use for each, since you may, for example, want to allow only some IPs to some secure service, but not to all ingresses managed by Contour. Or you may want to block all addresses in some set globally, and not allow that to be overridden.

Whatever we start with, we should assume that it's not final, but ideally, choosing what to start with woul

[2021-09-20 02:07] youngnick commented on #4042
Thanks for logging this issue @smith1994michael.

Could you please explain some more? It seems like you're having some issues with setting headers, but I am not sure if you are combining with CORS settings, and what you are expecting the result to look like.

Also, Including the confguration you're using (with private details edited out, of course), would be very helpful, if you can.

[2021-09-20 02:07] xaleeks opened #4043 "Support LDAP for authentication"
Support authentication via LDAP for http/https requests leveraging either the existing authserver or a new method. Contour in this instance should act as a client to relay the request to an LDAP server for authentication before letting the request through to upstream services.

opportunistic: consider implementing this at the virtualhost granularity so different routes can use different auth backe

[2021-09-20 02:10] youngnick commented on #4005
I've just linked the PR that @artificial-aidan mentioned - #4018. I haven't had a proper look yet, sorry everyone.

[2021-09-20 02:12] xaleeks opened #4044 "Support Okta for authentication"
support authentication with Okta for http/https requests. Contour in this instance should act as a client to relay the request to an OKTA server for authentication before letting the request through to upstream services.

opportunistic: consider implementing this at the virtualhost granularity so different routes can use different auth backends (LDAP, OIDC, managed tokens like Vault), although I d

[2021-09-20 02:15] youngnick commented on #2859
Sorry to take a long time to respond here, I've been hoping to spend some time to take a look at some of the newer changes upstream (like NetworkTopology and similar things), before responding, but I have not had bandwidth yet.

I think the rough approach outlined by @Nefelim4ag sound reasonable at first glance, but this one will definitely need a design document that runs through:
- what we're tr

[2021-09-20 02:18] xaleeks opened #4045 "Support Keycloak for authentication"
support authentication with Keycloak for http/https requests. Contour in this instance should act as a client to relay the request to an Keycloak server for authentication before letting the request through to upstream services.

opportunistic: consider implementing this at the virtualhost granularity so different routes can use different auth backends (LDAP, OIDC, managed tokens like Vault), alth

[2021-09-20 02:41] xaleeks commented on #3906
I'm going to tag this 1.20.

[2021-09-20 11:36] rob-elschot commented on #4009
It looks like the application requires it. The application doesnt know the /test since it not part of the folder structure of the application hosted on IIS. So it returns https://<>/v10/interest.svc in the respronse and that gives a 404 since contour is adding the /test part. Is it possible I can add the prefix again in a response header like I do in the pathRewritePolicy?

[2021-09-20 13:57] sunjayBhatia commented on #4040
tagged as 1.20 but really depends on our progress using the ContourDeployment CRD in the operator etc.

[2021-09-20 16:25] skriss commented on #3352
Looks like in v1alpha2 this has been clarified such that port is required if referencing a service:
https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.BackendObjectReference

So I think we can close this out since we'll be moving to v1alpha2 soon.

[2021-09-20 16:25] #3352 closed

[2021-09-20 17:04] #3166 closed

[2021-09-20 17:09] #3959 closed

[2021-09-20 17:29] sunjayBhatia commented on #3584
Also found https://github.com/Ealenn/Echo-Server (docker hub https://hub.docker.com/r/ealen/echo-server) which is pretty nice, doesn't have TLS as far as I can see though

[2021-09-20 17:41] tsaarni commented on #3584
I've wondered if it would make sense to fork ingress-conformance-echo to have full control. When we last talked about this, I sent https://github.com/kubernetes-sigs/ingress-controller-conformance/pull/91 but I guess it makes no sense for Kubernetes maintainers to keep up with this since it is basically just single .go file.

[2021-09-20 18:32] smith1994michael commented on #4042
Hi @youngnick

thank you for the answer

we would like to restrict the allowed methods - for this we would have used a crosPolicy.
for certain applications we need a header / for security reasons we want to remove others.

Here is an example configuration of how we would have imagined it:
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: test
  namespace: <namespace>
spec:
  virtu

[2021-09-20 20:16] skriss commented on #3792
Looks like not, I couldn't find one either.

[2021-09-21 01:08] youngnick commented on #4042
Thanks for that @smith1994michael, I edited your response to format the YAML a little better.

Looking at the header you're setting, I'm not sure that Envoy allows changing its own headers. I know we don't allow rewriting the Host header, but I would not be surprised if Envoy did not allow rewriting `X-Envoy-Hostname` as well. Could you see if you could set a different header?

Aside from that, th

[2021-09-21 01:09] youngnick commented on #3584
I think that updating ingress-conformance-echo is a good idea, it will be needed for Gateway API as well. I'll ping Bowei about it.

[2021-09-21 02:12] youngnick commented on #4009
The header rewrite support does allow rewriting of response headers, so it seems like you should be able to rewrite the header on the way out, if you know all the details from the app.

[2021-09-21 02:13] #3736 closed

[2021-09-21 06:06] smith1994michael commented on #4042
Hi @youngnick

I would have tried to rename the header to X-Envoy-Test, unfortunately it still does not work :(
also I just noticed that removing a header does not work either

If we already have these great features we should use them as well  :)

[2021-09-21 06:58] rob-elschot commented on #4009
@youngnick For the smaller application this is doable but for the bigger monolits its not. I will discuss the issue with our dev teams. .NET core has middleware for this with the use of the X-Forwarded-Prefix header. Its the older .net Framework (WCF) applications that are giving trouble. Some other proxy's can solve this issue for you like NGINX does now. I was hoping contour could do the same an

[2021-09-21 08:29] youngnick commented on #4009
Hmm, I thought we had covered this sort of thing with header response rewriting, that should be able to rewrite the path if necessary. Could you point me at the nginx docs you mean?

[2021-09-21 08:30] youngnick commented on #4042
Sorry, could you try without the X-Envoy? Maybe X-Contour instead, just to test if Envoy is doing any filtering of those? Because the header setting and removing definitely works with other headers, I'm trying to zoom in on what it could be. It's the end of my day, but I'll see if I can have a play tomorrow regardless.

[2021-09-21 09:55] rob-elschot commented on #4009
@youngnick I will look up the docs. In the meantime what header response do I need to add to get this to work in your opinion? If its just one or two I can have each team add them in there HTTPProxy.

[2021-09-21 10:02] rob-elschot commented on #4045
@xaleeks As a bit of feedback from a user. My question is why're you making all this? There are solutions that solve this issue. Its a lot a integration hassel to add all the Authentications mechanism and keep them up to date. Maybe given the function of contour its better to support for instance https://github.com/oauth2-proxy/oauth2-proxy. Then you can maintain 1 interface and have them do all t

[2021-09-21 12:17] rdgacarvalho opened #4046 "AWS Network Load Balancer TLS Termination not working"
Hi,
I am facing an issue even after followed [deploy-aws-tls-nlb](https://projectcontour.io/guides/deploy-aws-tls-nlb/) guidance on how to enable TLS termination on AWS ELB instead of doing it on the backend and/or using `cert-manager`.
___

My environment

[code]
___

Kubernetes:  Service description
[code]
___

Testing HTTP(s)/TLS via **curl**

HTTP - 200 OK
[code]
Contour log:
[code]

HTTPS - t

[2021-09-21 14:57] sunjayBhatia commented on #4022
In office hours we had discussed putting the fields on HTTPProxy, but if we want ExtensionService etc. to be refactored we might. have to wait for that to implement this request

[2021-09-21 20:05] smith1994michael commented on #4042
did not work with the other header name.
Could you recreate the mistakes?

[2021-09-21 20:40] skriss commented on #4022
@youngnick can you explain some more why you think Contour should impose this restriction? I ask because Envoy allows these settings to be varied for each use of an ExtAuth service, i.e. these are properties of the filter rather than the ExtAuth cluster, and also Contour currently allows at least one other ExtAuth filter property (`failure_mode_allow`) to be configured per use of an ExtAuth server

[2021-09-21 20:40] rdgacarvalho commented on #4046
I have created the following PR https://github.com/bitnami/charts/pull/7571

[2021-09-21 20:51] rdgacarvalho commented on #2441
@youngnick I have opened the following PR https://github.com/bitnami/charts/pull/7571 which should allow us to use the workaround suggested by @psehgal much easier than managing the service template directly.

[2021-09-22 00:40] youngnick commented on #2441
That's a much better solution, thanks!

[2021-09-22 00:41] youngnick commented on #4046
Okay, thanks for reporting back @rdgacarvalho, sorry not to get back to you sooner. I'll close this out, please comment if you still need it open.

[2021-09-22 00:41] #4046 closed

[2021-09-22 00:42] youngnick commented on #4022
Oh, okay, I had the wrong idea, I thought that this was the sort of thing that would be set for every instance of an ext_auth server, so it would make more sense to put things in therre. My mistake, putting them into HTTPProxy sounds correct in that case.

[2021-09-22 00:46] youngnick commented on #4045
Thanks for the feedback @rob-elschot - I think I tend to agree, I'd rather us settle on some solutions and validate they work for all these use cases than add this support into Contour directly.

I believe that @xaleeks is logging these to remind us to check that whatever we end up doing works with each of these things rather than suggesting that we implement them directly in Contour.

[2021-09-22 00:49] youngnick commented on #4009
https://projectcontour.io/docs/v1.18.1/config/request-rewriting/#header-rewriting has some examples, but I would imagine that you'll want to add something like:
[code]

That will set those things on the _response_ rather than the _request_ (the request would use `requestHeadersPolicy` but could otherwise look the same.)

[2021-09-23 16:18] tsaarni commented on #3518
Would some users need still TLS 1.2 or would it be possible to go with TLS 1.3 only, without configurability? As long as we are serving only Envoy's, forcing TLS 1.3 as minimum could work as well for any (reasonable) version of Envoy?

Also, xref #3574 #4024 that looks for global TLS settings.

[2021-09-23 22:37] youngnick commented on #3518
That's a great point, and worth doing, as long as we document the new cipher requirements TLS 1.3 brings.

[2021-09-24 04:38] xaleeks commented on #4045
Thanks for the feedback Rob.  This ticket is really meant to represent a need for a validated solution for supporting Keycloak, and other IDPs as separate tickets as you've mentioned.  I tend to just log the request as they land on my plate from customers and users.

[2021-09-24 14:52] samelie commented on #1894
A guide would be really helpful. Am stumbling piecing together what's required in the contour+envoy config to make this work

[2021-09-27 09:51] OrlinVasilev commented on #1894
@jpeach - are you still interested in that or if anyone else wants to take it ?

[2021-09-28 01:10] youngnick commented on #1894
I think that James has moved on and will not be interested in updating here.

[2021-09-28 04:42] samelie commented on #1894
Was able to piece it together - props to y'all and this amazing project. There were only 2 custom parts to getting grpc-web working

[code]

Then used the example project https://github.com/projectcontour/contour/tree/main/examples/contour , just changing the `loadBalancerIP` to the GKE static ip

I wrote custom `HTTPProxy` in Tanka so it's kinda hard to share, but can do if someone asks. Essentia

[2021-09-28 09:31] OrlinVasilev commented on #1894
@samelie - are you able to work on documenting this ?

[2021-09-28 11:59] gary-tai opened #4057 "Website architecture update"
Outcome from meeting with @youngnick and @OrlinVasilev to review and plan architecture changes to the projectcountour.io website.

PLAN
Top Navigation Menu:
1. Getting Started page remains as is
2. Documentation landing page contains current files plus guides (version specific) and resources
2. Community landing page contains community information and any community resources
3. Blog page remains a

[2021-09-28 14:02] dprotaso opened #4058 "Performance Regression v1.8.1 => v1.18.1"
### Problem

A Knative user [recently reported](https://knative.slack.com/archives/C93E33SN8/p1632319040135700) that when their cluster had around 1000 Knative Services (~4k HTTPProxy) deploying new Services would take O(minutes).  They mentioned earlier versions did not see such delays.

### Context

First Knative has a two contour instances - one for external ingress and the other only for clust

[2021-09-28 16:44] samelie commented on #1894
As long as its acceptable I gloss over pieces I don't understand. Of course if someone helps give some depth to my shallow understanding of some of the envoy config in particular, this would be most welcome and perhaps the guide would better obfuscate my nativity with the whole k8s thing.

I can write a guide based on this grpc-web experience, sure.

[2021-09-28 17:25] skriss commented on #4058
I'm looking into this, collecting more data across some different versions of Contour to try to narrow down the issue.

[2021-09-28 22:59] skriss opened #4059 "add metric for DAG processing duration"
It'd be nice to have a metric capturing the duration of DAG rebuilds. We currently have metrics counting the number of DAG rebuilds and capturing the timestamp of the last DAG rebuild, but nothing that captures durations. This would be useful for understanding & debugging performance isuses.

[2021-09-29 00:36] youngnick commented on #1894
This looks interesting @samelie, thanks! How are you applying the envoy config?

[2021-09-29 00:36] youngnick commented on #4059
Hmm, I thought there was something in there already, I'll have a look.

[2021-09-29 00:42] youngnick commented on #4059
Nope, I was thinking of contour_dagrebuild_timestamp, which lets you know how often it's rebuilding, but not how long.

I think that we should probably add a summary metric, not a histogram one, since we don't have a great idea what the distribution will look like.  See https://prometheus.io/docs/practices/histograms/ for discussion of why to choose histogram or summary.

[2021-09-29 00:45] youngnick commented on #4057
I'm +1 on this plan, obviously.

Next steps here, I think:
- See if we can make a mockup or rough outline of what the site will look like (doesn't need to be perfect, just an indication), and have the community take a look.
- Break out the todo items above into individual issues so they can be picked up. I think we'll need to clearly indicate any ordering concerns though (moving things needs to co

[2021-09-29 11:28] elmariofredo opened #4060 "Allow set contour to match ingress objects without ingress class"
## What
It would be handy to allow to

1. Set ingress class for contour
2. Allow ingress object without ingress class set to be matched by contour

at the same time.

Currently there is only possibility to have and match ingress class or don't have ingress class at all according to [code](https://github.com/projectcontour/contour/blob/main/internal/ingressclass/ingressclass.go#L50)

[code]

We cou

[2021-09-29 12:51] OrlinVasilev commented on #4057
![image](https://user-images.githubusercontent.com/7236111/135271748-e49672f4-89b3-4c51-9b37-db5deb048b0f.png)

[2021-09-29 14:55] skriss commented on #4058
See #4061 for what I'm pretty confident is the issue/fix. This would've been introduced way back in Contour 1.9.0. Still doing some testing on it to verify, but the runtime graph looks great.

[2021-09-29 15:37] skriss commented on #4057
Overall +1 on this, glad to see some thoughtful reorganization here!

`Resources` currently looks like it's all videos -- talks and tutorials about Contour. Not sure if that makes sense to move under `Documentation` -- maybe we could just rename it to something more specific like `Videos` or `Talks` and leave it at the top level?

Also -- I believe you all are thinking about this, but wanted to ca

[2021-09-29 16:18] dprotaso commented on #4058
Just an FYI - Contour 1.14

<img width="644" alt="Screen Shot 2021-09-29 at 12 17 58 PM" src="https://user-images.githubusercontent.com/18562/135308674-7b7b6be9-8bc5-4097-9cee-10e2ad373663.png">

[2021-09-29 17:38] skriss commented on #4058
The 1.14 graph looks very consistent with the 1.18.1 one, so I think that's a decent sign we didn't have further performance regressions there.

[2021-09-29 18:21] sunjayBhatia opened #4062 "Pre-1.21 release: ContourConfiguration and ContourDeployment CRD review"
This is a holding issue to document that we should do a pre-1.21 release review to ensure we are happy with the state of the new ContourConfiguration and ContourDeployment CRDs.

Steve S did some great work to get these CRDs going and we've had some in-person discussions on how we might future proof things from as they are initially implemented, restructure, follow best practices, etc. Since some

[2021-09-30 00:27] youngnick commented on #4057
Ah, I think I missed that in the description - in the meeting we talked about this moving under the `Community` page. Renaming to `Videos` or `Talks` sounds good to me.

[2021-09-30 00:28] youngnick commented on #4062
Great idea, thanks @sunjayBhatia. Totally agreed, this is very similar to how upstream Kubernetes does API reviews.

[2021-09-30 00:41] gary-tai commented on #4057
The landing page for projectcontour.io/resources refers to the file /content/resources/_index.html and contains links to YouTube videos.

The files under /content/resources/ to move are faq, how we work, philosophy, etc.

[2021-09-30 13:50] #4058 closed

[2021-09-30 14:43] sivakrishna-git commented on #3972
@tsaarni : Might have missed to update Timeoutpolicy.idle documentation  in main site
[here](https://github.com/projectcontour/contour/blob/main/site/content/docs/main/config/request-routing.md#response-timeouts)

[2021-10-02 07:19] tsaarni commented on #3972
@sivakrishna-git True, thanks for spotting that! Fixed here https://github.com/projectcontour/contour/pull/4068

[2021-10-03 18:31] stevesloka commented on #4060
You should't be required to set an ingress class and should work the way you described. Contour will process any ingress object that doesn't have a class or the class is "contour" by default if the class is not specified as a flag to Contour.

[2021-10-04 02:25] tapih opened #4069 "Exact path match for HTTPProxy"
It'd be nice to have exact patch match for HTTPProxy.
HTTPProxy seems to support only prefix path match, even though exact path match is included in [this design document](https://github.com/projectcontour/contour/blob/main/design/routing-design.md#exact-match).
Now, I need to configure a route for exact '/' and a route for prefix '/' at the same time, and I have no idea how to do it with HTTPProx

[2021-10-04 07:43] elmariofredo commented on #4060
Sure, but ingress class is a must in multi ingress environment. Even if you don't have a multiple ingresses it's a good practice for future infrastructure changes.

[2021-10-04 12:04] fernandodeperto commented on #855
Hi, guys,

I'm having the a similar issue and I haven't been able to solve it with the suggestions in this thread. Basically, I need to deploy two instances of Contour on the same cluster.

What is happening is that the first one that gets deployed works, Ingresses created with its class get the address assigned. After the second instance is deployed, ingresses deployed with its class do not get t

[2021-10-04 19:52] skriss opened #4072 "consider dropping Visitor pattern for querying DAG info"
We should consider dropping the Visitor pattern that's used to extract information from Contour's internal model ("the DAG"), and instead have the internal model provide methods for getting information out of it. This would result in simpler code and better runtime performance.

The Visitor pattern is useful when you want to separate the algorithm that operates on an object structure from the obje

[2021-10-04 20:22] stevesloka commented on #1228
@artificial-aidan were you still interested in picking this up? If not I can take it. =)

[2021-10-04 20:24] artificial-aidan commented on #1228
Been pretty busy lately. Go for it. If I get some free time I'll reach out to see if you need help in anyway.

[2021-10-05 13:15] tluzon-digibank opened #4073 "TLS termination with upstream TLS"
I have an HTTPProxy which uses **authorization**, thus requiring TLS as well as it to be terminated in contour.
My upstream service is running secured http, so I need "upstream TLS".
Unfortunately when **TLS termination** is active, **upstream TLS** cannot be used.

[2021-10-05 15:17] tsaarni commented on #4073
Hi @tluzon-digibank! [upstream TLS](https://projectcontour.io/docs/v1.18.2/config/upstream-tls/) is intended to be used together with TLS termination in Contour. It will create another TLS connection between Contour/Envoy and the upstream service, splitting the TLS connection into two separate "legs", external and internal. Could you describe bit more what kind of setup you have and what problems

[2021-10-05 17:41] dprotaso commented on #2863
cc @carlisia

[2021-10-05 18:22] sunjayBhatia commented on #2863
just curious to ask Knative maintainers/contributors, is there something generalizable about what tests you run with Contour that we could mimic in our end-to-end tests? Is there somewhere we can look for a summary of what kinds of tests your pipelines run with Contour?

[2021-10-05 18:23] sunjayBhatia commented on #2863
For context also, I'm working on some simple scale tests and alerting (similar to what you demonstrated with the recent performance regression)

[2021-10-05 20:28] sunjayBhatia opened #4076 "Envoy xDS config: Use string_match in HeaderMatcher once deprecation/release cycle passes"
See release notes for Envoy 1.20.0: https://www.envoyproxy.io/docs/envoy/v1.20.0/version_history/current

[code]

The wrinkle here is that `string_match` was added in Envoy 1.20.0 and does not exist in `1.19.x` so we cannot use this field as soon as we bump to 1.20.0, otherwise we will send invalid config to Envoy instances that have not been updated yet in a rolling deploy. Instead we have to sta

[2021-10-06 04:38] youngnick commented on #855
Hi @fernandodeperto, are both Envoy daemonsets starting up okay? I can't remember if it's this way in the Helm chart or not, but in our example YAMLs, the Envoy daemonset uses a host port, which, if it's being defaulted to something, would mean that the second Envoy deployment wouldn't start, which might produce this outcome?

[2021-10-06 07:57] fernandodeperto commented on #855
Hi, @youngnick, thank you for the response. Indeed that is one of the things that I've checked, and both the Contour Deployment and the Envoy DaemonSet are coming up normally.

I can actually report that I've managed to fix the issue by deploying the two Contour instances on different namespaces. I couldn't find any differences on the logs between the two setups, but somehow in separate namespaces

[2021-10-06 14:00] stevesloka opened #4077 "Provide better production examples/documentation"
**Please describe the problem you have**
Our examples which show how to deploy Contour<>Envoy to a cluster are just that, examples which typically don't meet all users needs. It would be great to have some better docs around the following bits, why you'd choose one over the other and the tradeoffs associated with each to better help users be informed of their decisions.

- CPU/Memory Requests & Li