[2020-04-26 21:06] alex1989hu commented on #2468
@jpeach: do you mean client like Chrome, Edge? Sure, entered `kb.foo.bar.acme.com` in the browser's address bar.

[2020-04-26 21:09] jpeach commented on #2468
Is it an intermittent 404 , or permanent?

[2020-04-26 21:13] alex1989hu commented on #2468
Intermittent - it can also go wrong after the browser was able to load the content. I mean a simple page refresh can cause `404`.

[2020-04-26 21:16] jpeach commented on #2468
An intermittent problem suggest to me that there's an issue with only some of the envoy proxies. Do you have logs that let you correlate 404s to specific envoy proxies?

[2020-04-26 21:23] alex1989hu commented on #2468
I am working on a cluster with `1.3.0` but easily can spin up a new cluster. Do you need any extra configuration or stuff like some listed on https://projectcontour.io/docs/v1.4.0/troubleshooting/ ?

[2020-04-26 21:44] jpeach commented on #2468
@alex1989hu At this point, I don't think we need any new config; we need to narrow the scope of the issue. I think the most likely cause is the SNI issue, but don't know why your usage would bot work with that change. The other problem we need to understand is why the 404 is intermittent.

Testing against a clean 1.4 cluster could be worthwhile. LMK what you find.

[2020-04-26 22:02] jpeach commented on #2468
@alex1989hu Can you share any of the 404 logs?

[2020-04-26 22:39] alex1989hu commented on #2468
@jpeach: search `kb.foo.bar.acme.com` or `gitops.foo.bar.acme.com` in [envoy-v1.4.0-http404](https://gist.github.com/alex1989hu/eca94f2f99e1ae138bd60b161e0df58e). Both produced the symptom.

[2020-04-26 22:53] jpeach commented on #2468
@alex1989hu Are there separate HTTPProxy documents for `gitops.foo.bar.acme.com` and `kb.foo.bar.acme.com`?

In the log, I can see two adjacent entries:

[code]

This looks like the same request from the same client, but with different results. The only way I can explain this is if there are multiple envoys running with different configurations?

[2020-04-26 22:58] alex1989hu commented on #2468
@jpeach: The cluster is freshly installed w/ `v1.4.0`. As I mentioned in the initial post, the configuration is the same from the very beginning of cluster 'bootstrapping' (no downgrade, upgrade, same configuration as for  `v1.3.0` etc.). It is a 5 worker node cluster.

[2020-04-26 23:15] jpeach opened #2469 "Add clickable anchor links to the website"
Most of the headings on the website have anchor link targets, but it's awkward to actually get a link to them. Add [anchor.js](https://github.com/bryanbraun/anchorjs) or something equivalent so there is clickable page element that can be used to obtain a link to an anchored element.

[2020-04-26 23:22] jpeach commented on #2468
@alex1989hu I've been assuming that you have separate HTTPProxy documents for `gitops` and `kb`, its that correct?

Can you post (private is OK) a Envoy config dump? See the [troubleshooting](https://projectcontour.io/docs/master/troubleshooting/) guide, and curl the [config_dump](https://www.envoyproxy.io/docs/envoy/latest/operations/admin#get--config_dump) endpoint.

[2020-04-27 00:06] #2447 closed

[2020-04-27 01:48] #2462 closed

[2020-04-27 08:20] alex1989hu commented on #2468
FYI: @jpeach Contacted directly via `Slack`. Using contour `v1.4.0` and envoy `v1.3.1` has the same defect. Now the suspect is `contour: HTTP/2 session re-use`. We tried to start `chrome.exe --disable-http2` **as a workaround** which solves the issue, so `contour: HTTP/2 session re-use` seems good track.

[2020-04-27 08:23] manvindar opened #2475 "Need Envoy http filter in contour"
Problem: we have an API domain which requires api-key on the header , when a user sends a request to that domain then Lua filter calls another service to check if it's a valid api-key, if true then it creates a JSON object and posts it to another service if false then it sends a response to the user that API key  is not valid

lua HTTP filter is explainer here in envoy's documentation
https://www.

[2020-04-27 16:11] lmickh commented on #2468
I've found a similar behavior after upgrading as well.  It appears to be related to http2 connection coalescing.  The SNI (envoy `authority`) will not match the requested host name. So far I've only seen it impact users on Mozilla/Firefox.

I was able to work around it by issuing separate certs for each virtualhost  and updating the `httpproxy` to use the cert for that virtualhost instead of using

[2020-04-27 20:53] ravilr commented on #1179
@stevesloka regex path in K8s Ingress resource is a supported configuration in Contour today.
Is the new design for HTTPProxy here https://github.com/projectcontour/contour/blob/master/design/routing-design.md#wildcard-path-routing  going to support regex for path matching in routes ?

[2020-04-27 21:07] stevesloka commented on #1179
@ravilr yup that was the goal! We have the design and even some impl in a PR, however, during the PR ran into a few issues that we needed to re-think about and it got bumped from the Contour v1 release.

[2020-04-27 21:08] jpeach commented on #2475
xref #432

[2020-04-27 21:21] ravilr commented on #1179
Thanks for the reply.
the design doc specifically mentions only wildcards (`*`) in paths. Is it limited to wildcards (`*`) only or even '^+*[]%' / those supported by Envoy's safe_regex ?

[2020-04-27 22:00] jpeach commented on #2468
Thanks for the CVE reference @lmickh

xref https://github.com/envoyproxy/envoy/issues/6767

[2020-04-27 22:50] ravilr commented on #2413
from your comments, it looks like this could be running into Envoy's downstream idle timeout: https://www.envoyproxy.io/docs/envoy/v1.14.1/faq/configuration/timeouts#connection-timeouts

your client could be attempting to send data on a connection that had been closed by the Envoy due to idle timeout, and Envoy send a TCP RST/ connection reset.

Contour seem to be hardcoding idleTimeout configurat

[2020-04-27 23:11] youngnick commented on #1179
The reason is inclusion. If we allow regexes that include path separators, then, when building a tree of included documents by path, some paths may be undefinable, or may overlap in difficult-to-predict ways. It's not an unsolvable problem, I don't think, but as @stevesloka said, it's not one that we have had a chance to think about yet.

The wildcard here is intended to be a path segment - that i

[2020-04-27 23:24] youngnick commented on #2413
xref #2225, we're looking into adding configurability of the Contour defaults (that is, the app-wide setting, rather than a HTTPProxy or Ingress-level one).

[2020-04-27 23:36] youngnick commented on #1179
The comments on #1612 capture some of these concerns.

[2020-04-27 23:38] youngnick commented on #2403
@jpeach what more do you think needs to be done here?

[2020-04-27 23:58] jpeach commented on #2403
CONTOUR_NAMESPACE is also used for:
-  the bootstrap `--namespace` flag
- the certgen `--namespace` flag
- the serve `--envoy-service-namespace` flag

[2020-04-28 02:52] ravilr commented on #2453
I guess the logic to support fallback certificate feature in Ingress resource wouldn't be that different from HTTPProxy.
If ingressResource.Spec.TLS is not set and an fallback annotation is set, add the hosts and corresponding route rules from that ingressResource to ingress_fallback route config during dag visit.

[2020-04-28 04:14] jpeach commented on #2468
I dug into this some more and read the various RFC specs and history. I'm pretty comfortable saying that this is a duplicate of #1493. If we serve a wildcard certificate, browsers will consider existing connections OK to reuse even if the SNI server names associated with the connections differ, because each origin name will match successfully against the wildcard certificate.

This previously work

[2020-04-28 04:14] #2468 closed

[2020-04-28 04:15] jpeach commented on #1493
Raising priority, since the 1.4 release means that all users of wildcard certificates will be affected by this problem.

[2020-04-28 04:17] jpeach commented on #2468
Duplicate of #1493

[2020-04-28 21:13] savithruml opened #2478 "[Doc Fix]: AWS annotation for enabling proxy-protocol doesn't work"
**What steps did you take and what happened:**
AWS EKS service annotation to enable proxy-protocol on NLB doesn't take any action. This has been confirmed with AWS support & here's an additional issue to back it up https://github.com/kubernetes/kubernetes/issues/57250.

**What did you expect to happen:**
The annotation `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: '*'` should enabl

[2020-04-28 21:46] youngnick commented on #1493
Probably should link in envoyproxy/envoy#6767 here as well, as it may help.

[2020-04-29 00:23] stevesloka commented on #2478
Thanks for reporting this @savithruml! Would you like to contribute a PR to update? Happy to help and walk through this if you have questions.

[2020-04-29 00:24] stevesloka commented on #2451
I rebuilt the OS and now it works. Not sure how across 3 machines they all broke at the same time but will chalk this up to the local environment I guess.

[2020-04-29 00:24] #2451 closed

[2020-04-29 00:31] jpeach opened #2479 "Replace wellknown filter names with typed config"
The go-control-plane constants for well-known filters use the deprecated filter names. Contour should switch over to using typed config for these in case some future Envoy version removes the deprecated names.

xref: https://github.com/envoyproxy/go-control-plane/issues/293

[2020-04-29 01:13] savithruml commented on #2478
Sure @stevesloka, sent out a PR.

[2020-04-29 03:15] cten opened #2481 "Ingress class name is not passed to the ingress status updater correctly"
**What steps did you take and what happened:**
Didn't use the default namespace (projectcontour), instead it was shortened to "contour".

When using non-default namespace, saw that all ingresses were being skipped by IngressStatusUpdater ie.
`level=debug msg="unmatched ingress class, skip status update" context=IngressStatusUpdater ingress-class=contour-intern
al name=dcp-es-internal namespace=ela

[2020-04-29 03:18] youngnick commented on #2481
This is because the value of the `ingress.class` passed down from the `--ingress-class-name` argument to `contour server` is not wired down into the ingress status updater. I'll fix it and see if it's possible to add a test (may not be straightforward because a lot of moving parts that require a Kubernetes API).

[2020-04-29 07:15] jpeach commented on #1636
FYI, we organized the filter chains differently in 1.4 to enforce SNI binding semantics. This strongly binds a SNI server name to the corresponding routes, but I expect that this has some negative effect on Envoy resources, since there are now more HttpConnectionManagers.

[2020-04-29 10:14] aberasarte commented on #437
Contour 1.0 was released a while ago and I wonder if there has been any update regarding this matter.

I still think that is not easy to set some default values or at least not in a secure way but let me know if I can be of any help. The [design doc I wrote last year](https://github.com/projectcontour/contour/pull/1012#issuecomment-621101418) could be a good starting point.

[2020-04-29 14:53] #2481 closed

[2020-04-29 15:24] cten opened #2484 "Documentation for multi-tenant Contour"
Document the use-case of running more than 1 Contour install in a cluster within the same non-default namespace (ie. not "projectcontour").

For clarity we will reference the deployments as internal and external; and everything will be in the "contour" namespace instead of "projectcontour".

Need separate contour-configs for each A and B, each with leader-elect settings set. Also update the Deploy

[2020-04-29 21:21] stevesloka commented on #2479
I just ran into this as well, I can take and update it.

[2020-04-29 21:23] jpeach commented on #2479
Cool! Also see https://envoyproxy.slack.com/archives/CEFDKQ3RQ/p1588129018117000

[2020-04-29 22:07] stevesloka commented on #2479
Example logs:

[code]

[2020-04-29 22:10] stevesloka commented on #2479
The link in the error message 404s, here's the deprecation notes: https://www.envoyproxy.io/docs/envoy/v1.14.1/intro/deprecated.html?highlight=deprecated#april-8-2020

[2020-04-30 02:37] stevesloka commented on #2479
Blocked on https://github.com/envoyproxy/go-control-plane/pull/294

[2020-04-30 02:41] jpeach commented on #2479
@stevesloka The suggestion here was to use typed config (which doesn't change) rather than the filter names. Apparently, envoy will infer the name typed config URL.

[2020-04-30 03:46] jpeach opened #2485 "Add a better token to the github label sync job"
**What steps did you take and what happened:**

https://github.com/projectcontour/contour/runs/631702444?check_suite_focus=true

The GitHub label sync is failing because it's token doesn't have enough privilege to sync labels:
[code]

Figure out how to give it a better Github token.

[2020-04-30 17:05] shashwathi opened #2486 "Ability to vendor contour configuration files"
## Problem
[Knative](https://github.com/knative/) project is starting to switch individual projects to use Go modules instead of Godep. [`net-contour`](https://github.com/knative/net-contour) project provides configuration yaml files in [examples folder](https://github.com/projectcontour/contour/tree/master/examples/contour) for generating contour configurations.
In Godep world the whole repo is v

[2020-04-30 17:34] shashwathi opened #2487 "Ability to generate contour clients"
## Feature

Ability to generate clients for contour API.

In `net-contour` knative project we are maintaining a [github patch](https://github.com/knative/net-contour/blob/master/hack/contour.patch) to overcome this problem as a workaround.

cc @andrew-su

[2020-04-30 18:55] stevesloka commented on #2486
//cc #2254

[2020-04-30 18:57] stevesloka commented on #2486
I think adding a dummy go file in that directory is fine, the only caution we need to make is how to maintain going forward. There's some work to break apart the current `examples` folder into pieces that would break this (or require more dummy files).

We just need to decide on what we're going to maintain long-term and how.

[2020-04-30 18:58] stevesloka commented on #2487
We might be able to create a `contour-api` project and have it auto-gen this client in automatically. This would give folks a full client to use in projects.

[2020-04-30 19:15] lrouquette commented on #2296
@costimuraru - this is more an Envoy issue in my mind (Contour could leverage that feature of course, once implemented in Envoy). Have you considered filing the issue in the [Envoy project](https://github.com/envoyproxy/envoy/issues) instead?

[2020-04-30 19:55] bgagnon commented on #2487
We're using the Contour API via [kubernetes-sigs/controller-runtime](https://github.com/kubernetes-sigs/controller-runtime) and have been mostly fine:

[code]

...

[code]

But the idea of an official Contour API package is appealing. In the last upgrade we had to switch to `AddKnownTypes()` which was an unexpected "breakage".

[2020-04-30 19:57] stevesloka commented on #2487
Yeah, we did a poor job of polling the community on that change, so I'm sorry for that. 😞

[2020-04-30 20:46] stevesloka opened #2488 "guides: Document "default cert" for Ingress with TLS Certificate Delegation"
Contour has had `TLS Certificate Delegation` for some time now. Folks will ask about the "default" certificate pattern that exists in other ingress controller and if Contour supports that.

Contour does support this today via the Cert Delegation feature. This works by telling Contour what cert you would like delegated to which namespace. Internally Contour keeps track of the certs and where they s

[2020-04-30 21:52] jpeach commented on #2487
@stevesloka Any reason we can't take the knative patch? Or perhaps we should double-check what kubebuilder would generate and ensure we have the expected API there ...

[2020-04-30 23:01] jpeach commented on #2486
xref #2474

[2020-05-01 01:09] youngnick commented on #2484
Thanks for these great notes @cten!

[2020-05-01 01:45] youngnick commented on #2487
We removed the generated Informer types earlier because we weren't using them, and we didn't realise anyone else was. I don't see any issue with putting the generation back if people are using them, as long as we call out that the types should be consumed by version tag (which go modules does anyway).

[2020-05-01 01:46] youngnick commented on #2487
Splitting the objects out to a new repo is doable but requires a bit of coordination.

[2020-05-01 01:47] youngnick commented on #2486
Yes, I think that this should wait until we decide what we're doing with #2474 - knative will have a bunch of work to update their installs if we do that as well, so let's talk there.

[2020-05-01 01:49] jpeach commented on #2487
It's not clear to me that we need to generate the client (anyone who needs it can generate it from the API package). Rather, it should be easy to use the api package with unstructured types. The Knative patch looks to be targeted at the latter case.

[2020-05-01 04:24] youngnick commented on #437
Thanks for bringing this back up. As part of onboarding as the new tech lead for Contour, I've been going over some of the product philosophy that interacts with features like this, and I'm hoping to write up something soon.

Which is a long way of saying, thanks for making sure this is on our radar.

[2020-05-01 04:53] #2409 closed

[2020-05-01 05:46] #2478 closed

[2020-05-01 13:51] reagul commented on #1894
I can help with this. Can i get assigned ?

[2020-05-01 13:55] stevesloka commented on #1894
Awesome all yours @reagul!

Some work steps in my head if this helps:
- I think this would be a good "guide" where you'd add a new file here: https://github.com/projectcontour/contour/tree/master/site/_guides
- If you want to test what it looks like on your machine you can run: `make site-devel` and open up a browser to `localhost:4000`
- It would be good to link to this guide from the `annotation

[2020-05-03 14:21] stevesloka opened #2491 "config file: refresh automatically when file changes"
If a value in the configuration file changes, the only way to have contour update this is to kill the Contour pod. It would be neat to have Contour automatically refreshed the values from the config file and processed the changes.

There's a bunch of startup work that would need to be thought about when doing this.

[2020-05-03 23:08] jpeach commented on #2485
Added the [bot](https://github.com/orgs/projectcontour/people/projectcontour-bot) token, so all the repos are getting label sync, except for the [.github](https://github.com/projectcontour/.github) repository.

For this repo, the GitHub API unexpectedly returns 404 then the label synced tries to add a label:
[code]

[2020-05-03 23:13] jpeach commented on #2485
Oh, this is an access problem; the bot only has read access to that repository.

[2020-05-03 23:27] jpeach commented on #2485
I updated the [contour-bots](https://github.com/orgs/projectcontour/teams/contour-bots) team access to have maintain permissions over all the repositories.

[2020-05-03 23:47] youngnick commented on #2487
Yes, I didn't look at the patch, my mistake. @shashwathi is your request just about bringing that patch upstream? I don't see any issues with that at all, although I think there may be a couple of corresponding small changes in the main part of Contour (because of the AddToScheme signature changes).

[2020-05-04 01:08] jpeach opened #2493 "Consolidate toAny helper functions"
We have 4 extremely similar `toAny` functions to generate `any.Any` protobufs:

[code]

We should consolidate these into the `internal/protobuf` package to improve discovery, documentation and testing.

[2020-05-04 01:26] jpeach opened #2494 "Certgen should generate secrets that are compatible with cert-manager"
As noted by @tsaarni in https://github.com/projectcontour/contour/issues/2149, the secret that certgen generates isn't interchangeable with how cert-manager generates secrets.

Maybe we can update certgen to be compatible with cert-manager, which would make it easier for sites to switch.

[2020-05-04 01:26] jpeach commented on #2149
@tsaarni Can you take a look at https://github.com/projectcontour/contour/pull/2474 and see whether that simplifies your deployment? While this change separates out the certgen job, you would still need to update the certificate filenames.

[2020-05-04 02:56] youngnick commented on #2225
Okay, from here, I'm going to propose the following:
- we add a new `timeouts` stanza to the Contour configuration file.
- Inside this stanza, we will have settings to allow the tweaking of drain_timeout, idle_timeout, request_timeout, stream_idle_timeout, and max_connection_duration.
- They may have different names, as the names should reflect what the timeout does from the external client point

[2020-05-04 03:18] youngnick opened #2495 "design: Add a pattern for adding extensible status information to HTTPProxy"
This issue covers the work to add more information to HTTPProxy's `status` stanza.

Features we need from HTTPProxy's status stanza:
- [x] Ability to see the way to reach the HTTPProxy (the equivalent to the Ingress status.loadBalancer stanza). #2371 covers the work to implement this.
- [x] Ability to set multiple statuses on a HTTPProxy. Although the guidance for their design is somewhat muddy at

[2020-05-04 13:44] josephglanville opened #2497 "Support for running Contour in a single namespace"
We would like to deploy independent Contour deployments per namespace. Our use case for this is we have a (set of) multi-tenant clusters with namespaces divided by teams. Each team has a large degree of freedom in which tools they wish to adopt. This is ok for the vast majority of tools which can be deployed in modes that don't require cluster wide access (except maybe an admin to create Custom Re

[2020-05-04 14:09] stevesloka commented on #2497
Hey @josephglanville! This has come up before with similar requirements. One thing you could do today is to add `ingress.class` to your resources. If you set that arg on Contour, it will only watch for ingress resources that match your class. I understand that's not ideal, but might help get through your current needs.

I think having a flag is good to restrict the surface area that Contour needs

[2020-05-04 14:13] bgagnon commented on #2495
This would be a much welcome addition for us:
* we auto-provision DNS from HTTPProxy, but we're lacking a way to communicate the status of that back to the user
* we also auto-provision TLS certificates -- Contour's status field says _valid_ when the Secret exists and _invalid_ before that, but there's not a lot of nuance

Our solution for now is to emit detailed events (success/error) attached to

[2020-05-04 14:30] josephglanville commented on #2497
If I am not mistaken `ingress.class` only works with `Ingress` resources. We would like to use the `HTTPProxy` CRDs. I don't believe this annotation is honored on those.

[2020-05-04 14:34] josephglanville commented on #2497
Using a set of namespaces rather than a single one is possible but does come with caveats. The k8s client informer interface can currently only watch for changes on a single namespace or all namespaces. To implement this more informers will need to be created and started at initialisation.

[2020-05-04 14:45] stevesloka commented on #2497
Contour support this on both ingress and HTTPProxy

Yup, you are correct, what we've done in the past (e.g. secrets for example) is we loop through and create a set of informers that match all the namespaces. We'd just need to replicate that out across the other types (e.g. services, endpoints, etc)

[2020-05-04 15:41] josephglanville commented on #2497
Ahh I see now it is checked for the CRDs too. This will be an OK workaround for us for now but I would like to proceed with a way to truely filter the namespaces still as that would allow us to not need a `ClusterRole` which is harder to come by in our deployments (we have one for now, hence why we can use the workaround).

[2020-05-04 16:05] shashwathi commented on #2487
Yeah it would be great if the patch is in upstream.

[2020-05-04 21:41] costimuraru commented on #2296
Thanks, @lrouquette. Created the issue in Envoy: https://github.com/envoyproxy/envoy/issues/11050

[2020-05-05 03:18] jpeach commented on #2475
This use case sounds it could be satisfied by en external authentication service that validates the API key. External authentication is tracked in #432 and there is initial scoping in #2459.

[2020-05-05 03:47] youngnick commented on #2497
So, one of the reasons I asked you to bring this to an issue @josephglanville is that I wanted to talk about selecting namespaces. As part of the work that Contour is doing to support the service-apis, we are going to need to put something in place to be able to watch a label-selected set of namespaces for some resources, so we will have to build that anyway.

I'm currently leaning towards Contour

[2020-05-05 03:57] pims commented on #399
Sorry to revive an old issue, but as discussed with @youngnick recently, to enable tracing as described by @mattalberts we had to fork Contour.

To summarize our current implementation:
1. we skip `contour bootstrap` and provide Envoy configuration through a volume mounted with the content of a ConfigMap. This requires no changes to contour itself.
2. we provide a new `--enable-tracing` serve flag

[2020-05-05 04:05] youngnick commented on #2495
That's a good point @bgagnon - As I start experimenting with adding Conditions to HTTPProxy, I'll make sure I try out the support `kubectl wait` has for Conditions already.

In addition, after talking to @jpeach and @stevesloka today, I'm going to go ahead with #2371, and add the `loadBalancer` stanza to HTTPProxy. This will work in the same way that Ingress status updating works today - either pu

[2020-05-05 04:06] youngnick commented on #2371
After discussing today, I'm going to go ahead with just bringing the `loadBalancer` stanza from Ingress and Service into `status` on HTTPProxy, and updating it in the same way as we do for Ingress today.

[2020-05-05 07:43] jpeach commented on #2487
@stevesloka @youngnick I checked what kubebuilder does, and it generates a `groupversion_info.go` like this:

[code]

So IIUC if we add these exports, Contour could be consumed by other controllers more easily, and it would meet the expectations of people familiar with the current ways of kubebuilder.

We should be careful about existing exports though :)

[2020-05-05 17:33] tsloughter commented on #399
@pims can you send as a PR?

If (2) were merged into Contour then the only custom part would be the need to skip `contour bootstrap` and create an Envoy configuration manually, correct?

That would be a good first step but I assume it would be better to also work with use of `bootstrap`. Would this be done as a "merge" operation, to allow providing an Envoy config that Contour then merges during b

[2020-05-05 23:06] jpeach opened #2499 "Add external-dns support for HTTPProxy"
Once the load balancer status is supported in HTTPProxy #2371, it would be great to contribute [external-dns](https://github.com/kubernetes-sigs/external-dns) support for HTTPProxy.

[2020-05-06 00:43] youngnick commented on #399
I have a few questions for those of you who've made this change:

What happens if you enable tracing, but don't set up the cluster in the bootstrap?

I'd really like Contour to be able to tell you something about if the config is working, in general. Do any of you who are or would use this feature want that here? What information would you want Contour to provide, in an ideal world?

If we did add

[2020-05-06 01:48] pims commented on #399
@youngnick nothing happens if tracing is enabled but not configured in bootstrap, nor if the tracing cluster is unavailable. I can't really test those two cases with regard to memory/cpu consumption on a busy cluster at this time though.

The only errors that we’ve experienced during upgrades is :
[code]

when we didn't specify the `collector_endpoint_version`.

[2020-05-06 02:06] youngnick commented on #399
Thanks for that @pims! So, do you think that Contour (that is, `contour serve`) needs to tell you anything other than "Hey, you enabled tracing"? Feels like `contour serve` would need at least a cluster name (that we could default if necessary), and we could get away with just logging "Traces will be sent to this cluster, if it's up".

As an aside, I'd really like a way to put some of this info on

[2020-05-06 02:12] youngnick commented on #399
Also, everyone watching this issue, but particularly @v0id3r: what do you think about configuring sampling? Is it worth bringing this feature in with everything set to 100% sampling, and adding configurability later, or do we need to discuss sampling now too?

[2020-05-06 02:24] pims commented on #399
@youngnick this is a test configuration that you highlight the moving parts:

[code]

so something along the lines of `--tracing-cluster=zipkin` should be enough given an envoy configuration with a static cluster of the same name and the `tracing.http` configured as required.

For bootstrap, I believe it's a bit more complicated given the different tracers:
[code]
the config is provider specific,

[2020-05-06 05:56] jpeach opened #2501 "Misleading status message with TLS passthrough and secret"
If you create a HTTPProxy document that contains both the `tls.passthrough` and `tls.secretName`fields, you get a really misleading error status:

[code]

This is because:
[code]

[2020-05-06 20:42] mattmoor commented on #2486
Ack that this might not be the forever plan (or even the 1.5+ plan), but I wonder if you would be receptive to landing `dummy.go` on `release-1.4` to unblock our `go mod` migration?  🙏

The idea of trying to land `go mod` while simultaneously pulling in kustomize scares me a little, so I'm mostly looking for ways we can take it in pieces with the least disruption to what you all have planned.

[2020-05-06 23:18] jpeach commented on #2501
To clarify, it's misleading because neither field is missing. The problem is actually that you can't specify both.

[2020-05-07 03:56] youngnick commented on #399
So, for your use case @pims, the only code changes required to `contour serve` is that the HCM should have the empty tracing config? Then you would configure the tracing clusters and the rest using a custom bootstrap config you generate yourself? In that case, a config setting (`enableTracing: true` or similar) would seem to be sufficient.

Other people watching this issue, would this meet your ba

[2020-05-07 05:22] jpeach commented on #1898
xref https://github.com/envoyproxy/envoy/issues/10943

[2020-05-07 18:26] pims commented on #399
@youngnick for our use-case, yes, all that's needed on contour's side is enabling the empty tracing config for HCM, everything else is taking care of by our bootstrap config.

I'm happy to submit a PR with our changes to get the ball rolling on this if it helps.

[2020-05-07 19:42] stevesloka commented on #2491
An initial start might be to detect the config file changed and exit contour so that it gets restarted.

[2020-05-07 19:44] stevesloka commented on #2486
Closed via #2503

[2020-05-07 19:44] #2486 closed

[2020-05-07 19:50] mattmoor commented on #2486
🤔 I didn't close this with my PR because we still need a story going forward.  If that's tracked elsewhere (#2474?) then 👍

[2020-05-08 00:47] youngnick commented on #399
Thanks @pims, I'd like if possible to hear from anyone else who's watching this issue. Would requiring that you generate your own bootstrap config be a good first step for now?

I'll have a think about if then we do a first cut of a `contour bootstrap` update assuming a `zipkin` tracing type.

[2020-05-08 00:55] stevesloka opened #2506 "site: Add faq for Linkerd integration with Contour"
When using Linkerd with Contour, the shutdown-manager logic isn't consistent and doesn't always work. The problem is when a SIGTERM is received, linkerd kills the network so that the `preStop`, http request cannot be made. This causes the Envoy pod to terminate immediately.

Linkerd has a configuration option called `--wait-before-exit-seconds` which can set a window of time to wait before exiting

[2020-05-08 00:59] jpeach commented on #2506
xref #2089

[2020-05-08 01:01] stevesloka commented on #2089
We could add a requestHeaders section to the `virtualhost` here maybe. Way back in IngressRoute design days, we thought of something similar to this.

The idea was to apply "defaults" to all the routes under that vhost. They could still override them, however, if someone wanted a default something (in this case header added), you could define it at the vhost level and Contour would apply to all th

[2020-05-08 01:13] youngnick commented on #2491
I can see the use case, but I think that it may create more problems than it solves.

Doing this makes it not possible to stage config file changes; if you change the configmap, then the contour pods will restart as soon as they see it. Some operators want to be able to control how the rollout happens.

In particular, I'm thinking of customers who run a single Contour in a busy cluster; we still h

[2020-05-08 01:16] stevesloka commented on #2491
I agree with you on all your points. This came up when working on the fallbackCertificate work. I wanted to change which cert was the fallback, so I updated the configmap, then had to manually bounce all the Contour pods in my cluster.

[2020-05-08 01:38] jpeach commented on #2491
Probably a little late, but what if the fallback certificate was a selector?

[2020-05-08 05:57] youngnick commented on #2486
I think part of the story with kustomize is for us to understand how knative is consuming Contour and make sure that whatever we do has a way forward for you too.

[2020-05-08 14:52] stevesloka commented on #2441
Hey @farshad-hobsons I took some time this morning to setup your scenario. I did get it working, the TLDR is that I changed the TLS Listener on port 443 for the NLB to the same that used on port 80.

The reason for this change is that Contour only sets up a TLS listener on Envoy when a TLS secret exists. Since there's no secret (i.e. you're not terminating TLS at Envoy), the default group in AWS s

[2020-05-08 14:53] stevesloka opened #2509 "docs: Terminate TLS at AWS NLB"
Need to update docs to show how to use an AWS NLB and terminate TLS there, then proxy traffic to Contour running behind the NLB.

_Originally posted by @stevesloka in https://github.com/projectcontour/contour/issues/2441#issuecomment-625853628_

[2020-05-08 16:18] stevesloka opened #2510 "IngressRoute structs shared"
A bunch of IngressRoute structs are shared with `HTTPProxy`. The problem is that since we're extending functionality for `HTTPProxy`, those features shouldn't make it into `IngressRoute` which is now deprecated.

[2020-05-11 00:52] youngnick commented on #2497
@josephglanville ping - do you have any thoughts on the above? What else do you need here?

[2020-05-11 00:54] youngnick commented on #2491
So, it seems like this particular idea - having config file changes cause Contour to restart - is probably a no go. But I think it's good to talk about the flow when using the fallback cert. Do you want to raise another issue about that @stevesloka ?

[2020-05-11 07:06] jpeach commented on #2499
xref https://github.com/kubernetes-sigs/external-dns/issues/1366

[2020-05-11 13:01] farshad-hobsons commented on #2441
thanks @stevesloka for providing this workaround.

[2020-05-11 13:01] #2441 closed

[2020-05-11 14:02] primeroz opened #2515 "Add a "route destination" to directly return a status code with body , for example "403/forbidden""
**Please describe the problem you have**
Most of my workloads expose a `/healthz` , `/readiness` , `/metrics` endpoint on the same port as the main service ( Which i understand is not great but i have no way of changing )

This causes every publicly exposed workload to also expose those internal endpoint to the internet, I would like a way to specify a way to return `403 forbidden` directly as a r

[2020-05-11 14:19] primeroz opened #2516 "Add support to set Header value from another header"
**Please describe the problem you have**
I have some Third Party LoadBalancers, on which i don't have any Control, setting the `Real IP` header to a custom header like `x-real-client-ip` rather than the usual `x-forwarded-for`

In my current `haproxy ingress` , which i am trying to replace with contour , i simply have a frontend snippet like

[code]

* If the `header X-Real-Client-IP` exist then s

[2020-05-11 14:32] rsvenkatesh opened #2517 "Cross cluster TCP routing is failing"
We are trying out a cross cluster Contour deployment with one deployment at the Edge and one Contour deployment per client cluster.
This deployment works as expected for most use cases for  http/https as long as we have Host header rewritten in the httpproxy of the Edge eg:.
     requestHeadersPolicy:
       set:
         - name: Host
           value: echocluster.vdp-dev.vmware.com
However, routi

[2020-05-11 16:04] #2510 closed

[2020-05-12 03:30] jpeach opened #2518 "Add utility to split a Kubernetes object name into a FullName"
There are currently 2 places in the code that split a Kubernetes `namespace/name` string; `featuretests.meta()` and `dag.splitSecret()`. We can consolidate these into `k8s.FullName` affordances so that we can use `FullName` in more places. Also, converting a `k8s.FullName` into ObjectMeta is useful.

[2020-05-12 04:59] youngnick commented on #2371
So, turns out that doing the HTTPProxy status the same way as we do for Ingress doesn't work, as there are then two places updating the status, and neither of them will retry if the other has updated a status while they were working.

We *could* address this with `RetryOnConflict` from client-go, but I think there's an opportunity here to refactor to make the further changes coming from #2495 easi

[2020-05-12 06:38] jpeach commented on #2516
Envoy [header tokens](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#custom-request-response-headers) should work here, but AFAIK there's no fallback if the wanted header isn't present.

[2020-05-12 07:32] primeroz commented on #2516
the `fallback` was a nice to have rather than a requirement, mostly because in my current ingress is done at the frontend level for all possible backends so i have to handle a fallback like this

in contour though this would be done on a per route level so i can be sure the header is expected and only add the rule on those routes that expect it.

i will try what you suggested in the slack `%REQ(he

[2020-05-12 08:28] primeroz commented on #2516
Unfortunately i don't seem to be able to apply the `header tokens` syntax to the HTTPProxy resource and have it propagate cleanly to Envoy.

When using YAML

Unquoted string - syntax error
[code]

Quoted string , both using single and double quotes convert to `envoy config`
[code]
and a litelar string when i hit the service
[code]

Even using json for the HTTPProxy , which should make it easier to

[2020-05-12 13:21] josephglanville commented on #2497
I am not sure I understand what service apis are so it's hard to infer what additional flexibility that entails. However in broad strokes I am generally happy with the idea of making it filter what it acts on. This still requires a ClusterRole however which isn't ideal but will be less brittle than ensuring all Contour objects are annotated to prevent conflicts between controllers.

[2020-05-12 18:43] tsaarni commented on #2494
Aligning with cert-manager would fix the problem between certgen and cert-manager.

Since there is no standard, the way how secrets are generated is implementation specific and cert-manager is just another take on this, just like certgen. Aligning would allow us to support both certgen and cert-manager, but obviously it still isn't a generic solution - but I doubt there is good generic solutions f

[2020-05-13 06:11] jpeach commented on #2485
This is done, and the label sync job is working well.

[2020-05-13 06:11] #2485 closed

[2020-05-13 20:29] stevesloka opened #2522 "status is not getting set on resources properly"
Was testing out other features on my cluster and found the expected status hadn't updated on my object. I assumed it was my code with the new status, but upon further investigation, I see various errors around setting status for `HTTPProxy` objects.

The interesting bit is I don't always get an error, meaning, I change my resources and I sometimes get the status updates, other times I do not BUT I

[2020-05-13 20:33] stevesloka commented on #2522
NOTE: I validated with v1.4.0 and that seems to work fine.

[2020-05-13 23:51] youngnick commented on #2522
Was this with `master`? This is the exact thing I'm working on solving with my current HTTPProxy status refactor.

[2020-05-14 00:08] youngnick commented on #2522
To be more clear - this happens when an update is rejected by the apiserver because the object that it's based on has been modified since Contour got it. It usually happens when there is more than one thing attempting to update the object concurrently (like two Informers acting on the same object).

[2020-05-14 00:35] jpeach opened #2523 "Not all envoy access log command operators are mapped"
There's no log field mapping for `%RESPONSE_CODE_DETAILS%`.

https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#command-operators

Looks like we are missing

- `%REQUEST_DURATION%`
- `%RESPONSE_DURATION%`
- `%RESPONSE_CODE_DETAILS%`
- all the `%DOWNSTREAM` keys
- `%HOSTNAME`

Canonical envoy list of keys looks like it is in `source/common/access_log/access_log

[2020-05-14 03:56] jpeach commented on #2229
xref #2333

[2020-05-14 04:00] jpeach commented on #2143
Tasks:

- [X] #2198 Add support for Contour to hot-reload certificates and key #2198
- [ ] #2333 Generate reloadable bootstrap configuration for Envoy
- [ ] Flip default deployment over to use reloadable bootstrapping
- [ ] Update deployment documentation for certificate rotation

[2020-05-14 04:06] jpeach opened #2524 "Update deployment to use rotatable bootstrap config"
**Please describe the problem you have**

Update the default deployment YAML to generate an Envoy bootstrap that is able to rotate xDS certificates (as per #2333)

[2020-05-14 04:07] jpeach commented on #2143
Assigning myself since I'm shepherding @tsaarni's work on this project.

[2020-05-14 07:40] jpeach commented on #2494
[This patch](https://gist.github.com/jpeach/c1589c5b1497c792344910d33cacb53f) switches `contour certgen` over to generating standard TLS secrets compatible with cert-manager.

As @tsaarni points out, the trick here is migrating upgrading existing clusters. Since the `certgen` job only runs once, the xDS secrets from the previous version will not be updated. This means that any changes we make to t

[2020-05-14 14:29] stevesloka commented on #2522
yup this was on `master`. It worked on a new set of kind clusters, then I spun up a new EKS cluster and it all worked, so no idea what went wrong.

My suspicion it's got to do with the move to the subresource for status.

[2020-05-14 14:34] stevesloka commented on #2522
I take that back, it just happened again on a clean cluster. This one is a v1.15. I'm upgrading now to v1.16.

[2020-05-14 18:40] stevesloka commented on #2522
So this isn't a version issue I don't think, I had to go back to Contour v1.3.0 for this to work properly.

What I've found is the child proxies do not get updated, only the root.

Here are my repro steps:

[code]

[2020-05-14 20:46] stevesloka commented on #2517
The issue here is that requests are getting routed to `example.com` then proxied to another instance of Contour in a different cluster at `foo.com`. In the upstream cluster, the route is set to `example.com` and Envoy 404's since it doesn't have a match since it receives `foo.com`.

On the HTTP-side, we have a `Host` rewrite to `foo.com` such that the SNI on the upstream request matches, but this

[2020-05-14 22:29] jpeach commented on #2517
Can you show me where this is happening in he config above?

[2020-05-14 23:30] youngnick commented on #2494
I don't think there's any way around this being a breaking change. The only way here is to just make it all explicit:
- certgen Job gets a new name
- secrets get new names
- Contour deployment and Envoy Daemonset updated to use new secrets

Upgrade instructions include clear direction about what the difference is, why it's been done, why you won't need to do this again (ie now the certs are compat

[2020-05-14 23:48] youngnick commented on #2523
When we did the original setup for JSON logging, we used the default JSON logging output of Envoy at the time, with the intent we would add more later. I guess it's later?

[2020-05-15 01:43] jpeach commented on #2494
OK I went down a bit of a rabbit hole on this. You can't use `generateName` on the certgen job as per https://github.com/kubernetes/kubernetes/issues/44501. However if we publish YAML via kustomize, we can use that to make an equivalent change. If we did this, then certgen could run on each Contour install. Although the TTL Controller is probably not enabled on most clusters, I expect operators wo

[2020-05-15 02:05] jpeach opened #2525 "Add gosec linter to CI"
**Please describe the problem you have**

We should add the [gosec](https://github.com/securego/gosec) linter to CI. currently everything it [flags](https://gist.github.com/jpeach/966be386604c99d7bd8dd2cbd29fdaf9) is a false positive, but there's no harm in enabling it now, and it might find something better in the future.

[2020-05-15 02:11] jpeach commented on #2523
Makes sense. There are some keys that take parameters which makes them hard to express in JSON, but I think we should just add everything else that's missing.

[2020-05-15 03:41] #2525 closed

[2020-05-15 07:56] #2493 closed

[2020-05-15 14:16] #1503 closed

[2020-05-15 17:06] erwbgy opened #2527 "Incorrectly nesting routes under virtualhost is considered valid"
**What steps did you take and what happened:**
If _routes_ is incorrectly nested under _virtualhost_ the HTTPProxy object is still considered valid, but all calls just return 404 Not Found:
[code]

**What did you expect to happen:**

I expected that the HTTPProxy status would be invalid because _routes_ is not allowed under _virtualhost_.

**Anything else you would like to add:**
With the indentat

[2020-05-15 17:20] stevesloka commented on #2527
Hey @erwbgy I think what happened is since the yaml wasn't nested properly, it didn't get parsed correctly when Contour got the object, so in a sense, those invalid fields were just missing from the spec.

But what should have ended up is that you had a root proxy with no routes and I think that should be at least invalid (which I thought was already a test case). Let me look to see about that one

[2020-05-16 03:36] youngnick commented on #2527
Hopefully once we can move to CRD v1, this problem will disappear, as incorrect YAML will be rejected by the apiserver. Agreed that a proxy with no routes should be invalid.

[2020-05-17 22:36] jpeach opened #2529 "Document how to access the client IP address in backend service"
It's relatively common for people to want to get access to the original client IP address in the backend service, for logging, access control, etc. We should clearly document the mechanisms that we have to make this possible (specifically PROXY protocol support, Envoy forwarding headers, etc).

[2020-05-17 22:44] jpeach commented on #2529
Closest doc is https://projectcontour.io/guides/proxy-proto/ . To many searchers it won't be obvious that this document will help solve their problem. It also doesn't mention any envoy forwarded headers.

[2020-05-18 00:50] youngnick commented on #2371
After a small PoC, I have a plan, to be implemented in a series of PRs.

- [ ] Add a StatusUpdateHandler that takes status updates for Ingress objects from `k8s.StatusAddressUpdater` (renamed from IngressStatusUpdater), and applies them to the apiserver if they're an actual change. This is done with an interface (`k8s.StatusUpdater`) with a caching implementation for testing, and a writing impleme

[2020-05-18 01:29] jpeach opened #2531 "Certgen can emit certificates with an inconsistent CA"
**What steps did you take and what happened:**

* Delete the `contourcert` and `envoycert` certificates
* Reapply the certgen job

[code]

At this point, the contour and envoy certificates have been generated with a different CA certificate that isn't known to anyone.

**What did you expect to happen:**

🤷

[2020-05-18 01:33] youngnick commented on #2531
certgen was designed to assume that the CA cert would be rotated when you reran the certgen job, and then thrown away, since it was intended to be for initial trial use.

[2020-05-18 01:33] jpeach commented on #2531
This would be substantially resolved by including the CA certificate in each secret, since that would mean that at least a secret was self-contained.

xref #2494
xref #2494

[2020-05-18 01:33] youngnick commented on #2531
Agreed that including the CA cert in each secret is a better option.

[2020-05-18 01:37] youngnick commented on #2403
Removed from "In Progress" since noone is currently assigned or working on this.

[2020-05-18 03:45] jpeach opened #2532 "Remove build badges from the documentation landing page"
**Please describe the problem you have**

The documentation has a landing page with a number of build labels. These aren't helpful for readers of the documentation and take up real estate we could better use for something else. Let's remove them.

![Screen Shot 2020-05-18 at 1 45 26 pm](https://user-images.githubusercontent.com/9917/82172562-d8d9d300-990d-11ea-841d-2c426439dca2.png)

[2020-05-18 07:28] jpeach commented on #2494
I'm working on this, because we probably need to rationalize this in order to ship a release where operators can reload xDS certificates in a reasonable way (i.e. without having to vendor large chunks of Contour YAML).

Basically working, barring a race around doing the update.

- There's some issue in my kind setup where it doesn't run the right Contour version in the certgen job which means that

[2020-05-18 09:51] tsaarni commented on #2494
I guess it could be rather complicated to have Envoy started, but remain in a special "uninitialized" state, waiting for cert/key files to appear.  Having a new secret name would be easy way to "synchronize" and keep Envoy pods from starting before secret with the a new file layout is created.

I did not understand it fully, can you explain it a bit more? Aren't all manifest components expected to

[2020-05-18 14:36] stevesloka opened #2533 "_integration: kind cluster should not require standard ports for integration tests"
**Please describe the problem you have**
The integration tests currently utilize standard ports (e.g. `80/443`) for tests. This conflicts with other environments running on the same machine.

The integration tests should be run on non-standard ports so Contour integration tests should run on the same machine.

[2020-05-18 23:14] jpeach commented on #2494
In the kustomize proposal, the Contour deployment is broken into 4 components:
* base types
* Contour
* certgen
* envoy

The problem is that the xDS secret needs to be configured for both contour and envoy components, leading to an implicit coupling. In kustomize, there is syntax to copy the value of one field into other fields, but that has to be done in the base, and can't retro-actively be appl

[2020-05-19 02:52] jpeach opened #2537 "Stop using ImagePullPolicy of Always"
**What steps did you take and what happened:**

Spent 4 hours trying to figure out why pushing Contour images into a local kind cluster didn't work properly.

The underlying problem is that we always specify an `ImagePullPolicy` of `Always` for everything, which makes contained fetch upstream images to replace the ones we pushed, and makes it ignore existing images that we places in the cluster.

[2020-05-19 02:53] jpeach opened #2538 "certgen doesn't have enough RBAC permissions to update secrets"
**What steps did you take and what happened:**

Re-run a patched certgen job that attempts to update secrets

[code]

[2020-05-19 03:09] youngnick commented on #2538
This was a deliberate design decision previously, since it was only *creating* secrets, not updating them.

[2020-05-19 05:47] tsaarni commented on #2494
I thought that the secret would just be renamed and those new names would still remain hardcoded in contour and envoy volume mounts like they are today (even in the kustomize PR pod specs).  The change in certgen code, contour & envoy kustomize components would be done at once.

But I think I'm still missing some complexity here. Why it becomes necessary to retro-actively modify / parametrize the

[2020-05-19 05:52] tsaarni commented on #2494
Ah sorry, do you mean `contour bootstrap` would also introduce a file watcher?

[2020-05-19 05:54] jpeach commented on #2494
What I'm saying is that it is hard to do the transform after the fact in kustomize. We can just change the original sources, but in the original statement I was thinking about how we would do it after the fact.

We don't need to change envoy. I have a 5 line change to the bootstrapped that exits if the files aren't already present. There's no point continuing because envoy will reject the static c

[2020-05-19 06:03] tsaarni commented on #2494
Thanks for explaining :)

If we are willing to do non-backwards compatible change, would it be feasible to simply rename the secret in original sources?

[2020-05-19 06:06] al45tair opened #2539 "Ingress addresses not set unless using a LoadBalancer"
**What steps did you take and what happened:**
Installed Contour and Envoy in a cluster that doesn't have LoadBalancer support. Per the instructions, I configured Envoy to run in a DaemonSet on all the nodes and to use host networking, which is basically the same thing that the community nginx-ingress controller does in the same situation.

Then I created an Ingress to test it.

**What did you exp

[2020-05-19 06:06] jpeach commented on #2494
We don't even need to do that. I have a working change to fix everything, but it does require generating a unique name for the certgen job.

[2020-05-19 06:10] al45tair opened #2540 "--ingress-status-address supports only a single address"
**What steps did you take and what happened:**
See #2539.

I tried using `--ingress-status-address` as a workaround, with a list of comma-separated IP addresses. The result was an error message

    time="2020-05-19T05:54:53Z" level=error msg="unable to update status" context=IngressStatusUpdater error="Ingress.extensions \"nginx-test\" is invalid: status.loadBalancer.ingress[0].hostname: Invalid

[2020-05-19 06:30] jpeach commented on #2540
Accepting comma-separated names seems pretty reasonable to me.

[2020-05-19 06:37] prahaladramji opened #2541 "Ability to define the same endpoint multiple times in envoy."
Using a cluster of envoy proxy as an edge proxy for upstreams in a different region with longer latency. (~300ms) Sydney ~ Europe.

We are able to mitigate the issues of bandwidth delay due to a [long fat network](https://en.wikipedia.org/wiki/Bandwidth-delay_product) by specifing the upstream multiple times in the cluster config as described below.
[code]

### Tuning currently done:
* envoy's [co

[2020-05-19 06:38] youngnick commented on #2539
Hi @al45tair, thanks for this issue. You're right, we only supported watching the service and basic addressing in the first cut of this feature.

Do you know how nginx-ingress builds the list of IPs that it puts in there? We used the Envoy service-watching method because it's what we use in our example deployment, and I hoped that the `--ingress-status-address` parameter would meet most use cases

[2020-05-19 07:46] al45tair commented on #2539
@youngnick As it happens, I *do* know how ingress-nginx (sorry, got the name the wrong way around; very confusing that there are two) does that, because I had to file [a bug against Rancher](https://github.com/rancher/rancher/issues/26677) because the latter breaks the mechanism ingress-nginx uses, which is ironic because ingress-nginx is what Rancher installs by default.

If you've got the ingres

[2020-05-20 06:05] al45tair commented on #2539
@youngnick A couple more thoughts on this: while ingress-nginx just does this at a point in time (so if the set of nodes changes, you'd have to kick it to get it to update the ingresses), I think the right way to do this is to explicitly watch the Envoy Pods for NodeName changes and then watch the resulting set of Nodes for IP address changes. That could feed into the existing mechanism in Contour

[2020-05-20 06:14] jpeach opened #2543 "Introduce feature flags machinery"
**Please describe the problem you have**

As we introduce more features and tuning knobs into Contour, we increase the probability of some behavior being desirable in one cluster but harmful in another. We also increase the probability of needing to ship experimental features that can be disabled in configuration.

So we should think about and discuss a feature flagging mechanism in Contour - how

[2020-05-20 20:50] kevincantu commented on #2369
This is seems like a feature regression from Ingress to HTTPProxy, and the the lack of this ability is potentially blocking my upgrade to a newer version of Contour.  (I'm getting a lot of 504s where we previously had a config to just retry around 'em.)

So I've done a bit more digging.

Ingress configs used to support [annotations](https://projectcontour.io/docs/v1.4.0/annotations/#contour-specif

[2020-05-21 00:52] #2457 closed

[2020-05-21 01:52] #2540 closed

[2020-05-21 03:57] kevincantu opened #2544 "HTTPProxy timeoutPolicy.response of "0s" (as mentioned in docs) is NOT infinite"
With contour 1.4.0, I've just attempted to set a timeoutPolicy.response, and "0s" doesn't seem to work.

I expected the value "0s" to mean an infinite timeout, as the docs describe:

https://projectcontour.io/docs/v1.4.0/httpproxy/

First with `"infinity"` (as worked in the old Ingress [annotation](https://projectcontour.io/docs/v1.4.0/annotations/)):
[code]

That gives a timeout of zero in Envoy'

[2020-05-21 03:58] youngnick commented on #2539
Yes, I think if we're going to take addresses from the node, we should make sure it's updated whenever the Envoy pods are. It's quite a bit of additional complexity, but at least the Service status watcher gives us a pattern for it. I'll have a think about how we would build that and put something in here.

[2020-05-21 04:09] jpeach commented on #2544
This looks like a documentation error. The latest version of the API reference describes [timeoutPolicy](https://projectcontour.io/docs/master/api/#projectcontour.io/v1.TimeoutPolicy) accurately.

[2020-05-21 07:26] #2538 closed

[2020-05-21 18:26] erwbgy commented on #2468
It is worth noting that this is not limited to wildcard certificates.  If also occurs if the same Secret object is used for more then FQDN in different Ingress objects, for example.  But the message is the same - use different certificates for each FQDN.

[2020-05-21 21:31] jpeach opened #2549 "Migrate internal/e2e tests to internal/featuretests"
**Please describe the problem you have**

Internal integration tests have been slowly migrating from `internal/e2e` to `internal/featuretests`. To complete this process, we need to make an explicit effort, or it will drag on forever.

/cc @youngnick @stevesloka

[2020-05-21 23:22] codeyq commented on #2338
+1 on this feature request. Securing out-cluster and in-cluster with different set of mTLS key certs.

[2020-05-22 06:49] jpeach commented on #2338
I think this is reasonably do-able with the recent changes to certgen and bootstrap, though it is a bit trickier if you want to have a unique client certificate for each envoy (which would be ideal). I think that we could have the bootstrapper lay down a envoy client certificate that would automatically be configured and be presented on request.  The tricky part is that certgen doesn't know how ma

[2020-05-22 06:53] #1493 closed

[2020-05-22 08:22] tsaarni commented on #2338
In my opinion single client certificate for all Envoys should be good enough.

Although sharing credentials is of course generally discouraged, here all Envoys should be considered as replicas of the same "distributed" TLS client, all equally authorized to connect to the backend service. Separate certificates would be needed if backend needs to tell each Envoy apart, or if revoking individual clie

[2020-05-23 00:09] #2533 closed

[2020-05-25 08:16] codeyq commented on #2338
+1. One client cert for inter-cluster mTLS is sufficient in my use case but I agree one per upstream is more ideal. Not sure about the technical difficulties though.

[2020-05-25 14:06] Tazminia commented on #2523
Hello, I just discovered the project although, I have been working with kubernetes and ingress controllers for a few months now (mainly nginx). I would like to give you a hand if you want, but I will probably need some assistance

[2020-05-25 21:14] jpeach commented on #2523
That sounds great! Take a look at our [contribution guide](https://github.com/projectcontour/contour/blob/master/CONTRIBUTING.md) to get started. Contour people hang out in [slack](https://kubernetes.slack.com/messages/contour) if you have questions.

For this PR, it should be a matter of adding field mappings for all the Envoy log fields that don't require a parameter (there's no way to specify p

[2020-05-26 07:25] #2494 closed

[2020-05-26 13:44] Tazminia commented on #2523
So if I get it right, the ones we are not willing to map are the following:

- %REQ(X?Y):Z%
- %RESP(X?Y):Z%
- %TRAILER(X?Y):Z%
- %DYNAMIC_METADATA(NAMESPACE:KEY*):Z%
- %FILTER_STATE(KEY:F):Z%

There are the fields that look like they need some paramters.

[2020-05-26 22:06] jpeach commented on #2523
Yep, that sounds about right. It would be good to think about how to support these kinds of logging keys, but that's a larger problem and we can leave that to a separate issue :)

[2020-05-27 03:31] jpeach opened #2554 "Add promlint analyzer for metrics static analysis."
**Please describe the problem you have**

Add [promlint](https://godoc.org/github.com/prometheus/client_golang/prometheus/testutil/promlint) static analysis to make sure we are using Prometheus metrics conventions consistently.

[2020-05-27 03:32] jpeach commented on #2554
[code]

[2020-05-27 08:31] surajssd opened #2556 "Update deprecated apiversions"
**What steps did you take and what happened:**

I used the tool called [pluto](https://github.com/FairwindsOps/pluto) to find out that certain config resources are marked deprecated and will be removed in future k8s versions:

[code]

**What did you expect to happen:**

I expected no output from above command.

**Anything else you would like to add:**

I want them to be updated, as mentioned in th

[2020-05-27 12:34] c3mb0 opened #2557 "Traffic mirroring does not work with Envoy host networking"
Here's a very simple example I've copied from the docs:

[code]

The traffic is only received by `someservice`. I do not have an Envoy Service, instead I'm running my Envoy pods directly on hosts. I'm assuming this lack of service is the reason why mirroring does not work, since there are no complaints about this anywhere else. Any pointers for getting it to work?

- Contour version: 1.4.0 (had th

[2020-05-28 00:05] youngnick commented on #2556
Thanks for doing this and logging the issue @surajssd! We're aware of the fact that our CustomResourceDefinitions are currently using the v1beta1 version rather than the v1 version, and are waiting until the 1.16 version where v1 was introduced falls out of upstream support.

Changing CRDs to v1 imposes a hard cut-off on supportable Kubernetes versions (minimum 1.16), which we have been reluctant

[2020-05-28 00:07] youngnick commented on #2556
In addition, the IngressRoute CRD itself is deprecated (by Contour), and will be removed before being upgraded to the v1 version of the CRD document.

[2020-05-28 01:29] #2537 closed

[2020-05-28 03:00] #2524 closed

[2020-05-28 03:25] jpeach commented on #2229
Fixed in #2555

[2020-05-28 03:25] #2229 closed

[2020-05-28 03:26] jpeach commented on #2143
All the task here are complete.

[2020-05-28 03:26] #2143 closed

[2020-05-28 06:27] youngnick commented on #1980
Fixed by #2421

[2020-05-28 06:27] #1980 closed

[2020-05-28 06:30] youngnick opened #2560 "internal: Update DAG status updates to go via k8s/StatusUpdateHandler"
Move the existing DAG rebuild status updates to use StatusUpdateHandler, including adding support for IngressRoute and HTTPProxy valid and desc fields. This may involve a small update to IngressRoute to enable the status subresource, so that the same code paths can be used for everything.

Work initially part of #2371, but pulled out because it's bigger than I thought.

[2020-05-28 06:31] youngnick commented on #2371
Moved remaining work to #2560 as it's more than I initially thought.

[2020-05-28 06:31] #2371 closed

[2020-05-28 06:51] youngnick commented on #1789
Moved to "In Progress" as I'm starting to get this work scheduled and speced out.

[2020-05-28 10:07] zeroone-shreeram opened #2561 "Exposed url using Countour httpproxy not working for include."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

[code]
[code]

**What did you expect to happen:**
`Working both the url i.e
test.example.com and test.example.com/phpmyadmin

but only the test.example.com works

url not found error fo /phpmyadin url.`

- Contour version:  contour:v1.4.0
- Kubernetes version: (use `kubectl version`):  `Cl

[2020-05-29 00:58] youngnick commented on #2561
Could you use code tags around your YAML please? That is, use ` ```yaml` to start and ` ``` ` to finish?

[2020-05-29 03:10] jpeach commented on #2531
Duplicate of #2494

[2020-05-29 03:10] #2531 closed

[2020-05-29 04:21] zeroone-shreeram commented on #2561
@youngnick  i have updated it wht yaml with the code tags.
could you please help on the issue , is it a bug or am i missing something here?

[2020-05-29 05:18] youngnick commented on #2561
The spacing on the YAML for `phpmyadmin-ingress` looks a little off, that's why I asked for the code tags.

I've seen problems like this before when the YAML was not being read properly. Aside from that, the examples look pretty good, it looks like it should do what you expect.

I'd recommend checking the proxies with `kubectl get proxy` in the `app` namespace, all three should show as Valid. If t

[2020-05-29 05:24] youngnick commented on #2557
Thanks for this issue @c3mb0. I've marked this as 'lifecycle/accepted', as it needs further investigation (one of the maintainers will need to duplicate the setup and investigate).

We haven't done a lot of testing with the EKS CNI, so it could possibly be related there, although it seems unlikely.

Sorry not to have a better answer for you yet.

[2020-05-29 10:33] zeroone-shreeram commented on #2561
@youngnick  The proxy shows valid while checking with ```kubectl get proxy```  and here is the  copy of dag from the cluster.
![countour-dag](https://user-images.githubusercontent.com/62091732/83250556-081ef880-a1c8-11ea-858d-24f90def27d8.png)

[2020-05-29 12:46] niels-s opened #2563 "docs: caution users to verify their load balancer approach before updating envoy"
The Contour documentation on [redeploying envoy](https://projectcontour.io/docs/v1.5.0/redeploy-envoy/) could be more specific by warning the end-user. The redeploy can cause downtime depending on which load balancer setup they are using with different combinations of `externalTrafficPolicy`.

For example, on GKE, the GCLB, when using a VPC native cluster, is smart enough to remove the k8s node fr

[2020-05-29 19:59] slguarderas opened #2564 "IngressRoute -> HttpProxy conversion tool does not support tcpproxy"
When using the conversion tool, it failed to migrate the tcpproxy portion of the IngressRoute.

Here is the input:
---
apiVersion: contour.heptio.com/v1beta1
kind: IngressRoute
metadata:
  name: tls-edge-terminate-prometheus-k8s-thanos
spec:
  virtualhost:
    fqdn: "tls-edge-terminate-prometheus-k8s-thanos{{ domain_apps }}"
    tls:
      secretName: "{{ default_contour_cert }}"
  tcpproxy:
    s

[2020-05-31 06:06] zeroone-shreeram commented on #2561
@youngnick  any update on this how can i fix the issue ?

[2020-05-31 23:01] youngnick commented on #2561
Is the phpmyadmin app expecting the requests to arrive at `/` or `/phpmyadmin`? With this setup, they will arrive at `app:phpmyadmin:80` as `domain.com/phpmyadmin`. That's the only thing I can think of.

[2020-05-31 23:03] youngnick commented on #2564
Hi @slguarderas, thanks for this issue. `ir2proxy` actually has its own issue tracker at https://github.com/projectcontour/ir2proxy/issues/new/choose, I'll move this there for you.

[2020-05-31 23:05] youngnick commented on #2564
Duplicate of projectcontour/ir2proxy#42.

[2020-05-31 23:05] #2564 closed

[2020-05-31 23:08] jpeach commented on #2563
Thanks @niels-s . We don't always have experience with all the deployment possibilities and infrastructure, so there's definitely some gaps here.

I'd be happy to help you contribute docs for anyone using metal-lb. Reach out on [slack](https://kubernetes.slack.com/messages/contour) or post a PR and we can go from there.

[2020-06-01 04:38] zeroone-shreeram commented on #2561
@youngnick  i'm expecting the request arrive at /phpmyadmin i.e domain.com/phpmyadmin. as per the official document of countour ingress it should work, but it's not working.

I checked the logs as well i can see the traffic coming in / but not in the /phpmyadin app.

[2020-06-01 05:06] jpeach commented on #2561
@zeroone-shreeram Can you show envoy request logs for a request to the `/phpmyadmin` path?

[2020-06-01 05:12] zeroone-shreeram commented on #2561
@jpeach  here is the request log form envoy for both / and /phpmyadmin domain.

for /
[code]
for /phpmyadmin

[code]

[2020-06-01 05:58] jpeach commented on #2561
@zeroone-shreeram That looks like the container is serving the 404

[2020-06-01 06:04] zeroone-shreeram commented on #2561
@jpeach  I don't think the container is serving the 404 error , i can access the endpoint by portforwarding the kubernetes service. it also worked with the older version of contour ingressroute but i had to trailing slash at the end i.e example.com/phpmyadmin/ but with the newer contour ingress httpproxy it 's not working.

[2020-06-01 06:36] jpeach commented on #2561
Could you double check? If envoy wasn't routing the config, there would be a `NF` flag in the log.

Reproducing your config in kind works as expected:

[code]

[2020-06-01 07:07] zeroone-shreeram commented on #2561
@jpeach  i don't find any NF flag on the envoy logs. the httpproxy status also shows valid  but while browsing the site i didn't work. don't know how did you check from your side that was working.

i don't see the issue from the container coz it works fine with nginx ingress controller but not working with the countour ingress httpproxy.

could you please check it on the cloud hosted kubernetes en

[2020-06-01 07:10] jpeach commented on #2561
See the configuration above. I replicated your config with a simple echo server and verified that the correct container responded. I can tell which one replied by the `TestId` field in the response.

Can you enable any logging or debug information on the container app?

I don't see anything to indicate it is a problem with the hosting environment.

[2020-06-01 08:02] andersmarkendahl opened #2566 "HTTPProxy lacking ingressClassName field"
**Problem Description**

As of Kubernetes 1.18 the Ingress resource have been updated with specific field
`ingressClassName`, which deprecates the previously used annotation `kubernetes.io/ingress.class`,
see: [Kubernetes Blog](https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/).
The change comes with a new IngressClass resource as well.

HTTPproxy resource s

[2020-06-02 01:13] youngnick commented on #2566
Thanks for logging this @Aoana! I agree, HTTPProxy should implement something like this. We've also got #2146 to implement this for Ingress itself.

We've been being careful with adding Ingress-V1-like functionality because it draws a hard line under the supported Kubernetes version Contour can possibly work with, and we wanted to give users time to catch up.

Adding this field to HTTPProxy implie

[2020-06-02 01:18] jpeach commented on #2566
xref #2146

[2020-06-02 01:39] jpeach commented on #2556
@youngnick Is there an existing issue for cutting over to the v1 CRD types?

[2020-06-02 05:04] youngnick commented on #2556
Not specifically, no, although #1978 covers *some* of the reasons why.

[2020-06-02 07:36] zeroone-shreeram commented on #2561
@jpeach i have verified that it works if i have echo server running on the /phpmyadmin url but why it is not workiing with the same config when phpmyadmin application is running in the /phpmyadmin url.

can you also verify  creating a phpmyadmin deployment and forword the /phpmyadmin url to phpmyadmin service? why it is not only working for phpmyadmin ??

[2020-06-04 00:09] jpeach commented on #2561
@zeroone-shreeram Since your configuration is working correctly with an echo server, it seems like Contour is building the correct configuration here. I'd suggest looking into adding additional logging in your application, but we don't really have the expertise to debug specific applications.

If you see any problems on the Contour end, please re-open this issue, or file a new one.

[2020-06-04 00:09] #2561 closed

[2020-06-04 08:26] ashirvadgupta opened #2568 "Envoy misdirecting valid URLs when Envoy HTTP/S default ports are not used"
**What steps did you take and what happened:**
Envoy misdirecting valid URLs when Envoy HTTP/S default ports are not used.
In my setup, I am changing the envoy https port from 443 to 8443. Its trying to match the host portal.example.com but its getting host as portal.example.com:8443.

Here is curl output

curl https://portal.devtest.example.com:8443/devtest -v

Trying xx.xx.xx.xx...
TCP_NODELAY s

[2020-06-04 17:49] jkirklan commented on #2050
any updates on this?

[2020-06-04 22:16] jpeach commented on #2050
Unfortunately no. We need a contributor to take this on. I'll be happy to shepherd changes from anyone who wants to tackle this.

[2020-06-05 00:40] jpeach commented on #2568
@ashirvadgupta Does this configuration work as expected in Contour 1.4?

For curl, you can do

[code]

But depending on the application, it might not be feasible to do this in the general case

[2020-06-05 02:15] jpeach commented on #2556
Duplicate of #1978

[2020-06-05 02:15] #2556 closed

[2020-06-05 02:43] jpeach commented on #2516
https://github.com/projectcontour/contour/pull/2006#discussion_r355212680

[2020-06-05 07:08] giorgioazzinnaro commented on #2050
Since there's some interest on this, I can share here some work I've been doing, it's still based on 1.4.0 but I don't expect major changes, and I'm still in the process of making a public chart repository for our company so for now it's just the code here

https://github.com/skeeterhealth/helm-charts/tree/master/charts/contour

[2020-06-05 14:51] ashirvadgupta commented on #2568
You can add an extra OR condition if envoy port HTTP/S ports are different than 80/443, then if those ports are present in the host authority header, then do not misdirect.

[2020-06-05 15:19] primeroz opened #2570 "Errors in status updates of HTTPProxy starting with 1.5.0"
**What steps did you take and what happened:**
Starting with 1.5.0 I started to see , in the contour pod logs, errors about updating the Status of the HTTPProxy resource.

I saw a few different ones, all of them about *object has been modified* and most of the time not even about the object that was actually being *Added/Modified*
[code]

So to exclude anything funky with my cluster i wrote this [

[2020-06-08 23:19] youngnick commented on #2570
Thanks for this issue @primeroz. We've seen some similar issues before (#2522), and I believe that they should be fixed by #2560. I'll bump my priority on that and get it done as soon as I can.

[2020-06-09 04:48] youngnick commented on #2570
I should note I'll use your repro script to check my changes as I go, thanks very much for that.

[2020-06-09 07:01] jpeach commented on #2516
Blocked on #1176 (see discussion in #2569).

[2020-06-09 18:38] youngnick opened #2572 "Remove IngressRoute handling code"
This issue covers removing IngressRoute handling from Contour.

I'll try and break the removal up into a series of PRs for ease of review.

To do:
- [x] Remove watches on IngressRoute objects, so that the code paths can't be exercised.
- [x] Remove code from `internal/contour`
- [x] Remove code from `internal/dag`
- [x] Remove code from `internal/k8s`

Epic for this is #1789.

[2020-06-09 18:40] youngnick commented on #2560
Blocked on #2572.

[2020-06-09 23:57] jpeach commented on #2050
@giorgioazzinnaro If you would like to help with an official helm chart for the project, I am happy to shepherd this work. I have a couple of other people interested in helping too.

What I think needs to happen is:

* basic agreement on the base chart and set of configuration values
  * https://github.com/helm/charts/tree/master/stable/contour
  * https://github.com/skeeterhealth/helm-charts/tree

[2020-06-10 00:05] jpeach commented on #320
xref  #2515 which is closely related

[2020-06-10 00:42] jpeach commented on #2484
Duplicate of #855

[2020-06-10 03:56] paulcreasey commented on #2264
@youngnick @michmike  I believe the connect_timeout option is also used when proxying to ExternalName's in which case the assumption that 250ms is sufficient isn't right.

I have been experiencing an issue proxying to an external name in another region (from a european k8s cluster to external service hosted in asia), the connection time as report by curl's time_connect is ~320ms.

I see there are

[2020-06-10 04:17] davidhole commented on #1228
@bgagnon We have the same use-case as @chen-anders... Thousands of subdomains which are served that way for vanity URL purposes... business-name.ourdomain.com

Currently using nginx-ingress to handle this, but wanting to move to contour for many many reasons...

This would be a fantastic addition. Thanks for you time and efforts!

[2020-06-10 04:22] jpeach commented on #1228
xref #2138

[2020-06-10 10:28] WillPlatnick commented on #2568
I am experiencing this issue as well. In my case, I didn't change the envoy port, I have haproxy in front of contour, reverse proxying 8443 traffic to port 443 in contour.

[2020-06-11 11:35] primeroz opened #2577 "Redirect: add flag to completely disable the HTTP listener and HTTP->HTTPS redirect"
**Please describe the problem you have**
I don't use the HTTP listener at all , is not even exposed to the internet but for every HTTPProxy resource i create i also get an entry in the http listener to do the redirect to https.

This makes looking at the Contour DAG and Envoy Configuration painful when many HTPProxies exists for no real benefit.

Would be great to be able to disable the http liste

[2020-06-11 16:56] jdonnell01 opened #2578 "Websocket Timeout Not Being Honored"
I set the timeout for the websocket on my app to be 1800s, however it seems that HTTP Proxy/Contour is not honoring this value as the websocket will timeout randomly. I also tried setting it to infinity as described in the docs (https://projectcontour.io/docs/master/httpproxy/), however this did not work either. I am trying to run an R Shiny application (https://github.com/rstudio/shiny).

This is

[2020-06-12 01:07] #2568 closed

[2020-06-12 15:25] pims opened #2579 "[security] Upgrade to Envoy 1.14.2"
Due to CVE https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11080 upgrading to Envoy 1.14.2 is recommended.

https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.14.2

Happy to submit a PR if you’d like.

[2020-06-12 17:42] abursavich commented on #1248
I am interested in seeing HTTP/3 support... Should this be considered a separate issue?

[2020-06-12 23:06] jason-magnetic-io opened #2581 "Envoy cluster not created for a service when mirror: true"
This HTTPProxy def based on the mirroring example in the docs doesn't work
[code]
The Pod serving `podinfo-331` responds to requests as expected
The Pod serving `podinfo-331-mirror` doesn't receive the requests

**Anything else you would like to add:**
The cluster for `podinfo-331-mirror` isn't created in envoy.
The `dynamic_route_configs` looks correct but the `mirror-test/podinfo-331-mirror/9898

[2020-06-12 23:39] jpeach commented on #1248
On Jun 13, 2020, at 3:43 AM, Andy Bursavich <notifications@github.com> wrote:

﻿

I am interested in seeing HTTP/3 support... Should this be considered a separate issue?

Yes, could you please file a new issue for HTTP/3? There’s a few different ways that could be supported, not only by UDP proxying.

[2020-06-13 00:57] jpeach commented on #2579
Yup, there will be  new security release soon. @pims if you would like to be the release manager for this, I'd be glad to shepherd that!

[2020-06-13 02:27] pims commented on #2579
@jpeach I’d love to!

[2020-06-13 02:30] jpeach commented on #2579
Cool, ping me on Kubernetes slack.

[2020-06-13 15:55] giorgioazzinnaro commented on #2050
Absolutely, I'd be glad to help!
I think we could start from deciding in which repo we want to work so that we can bring all the discussions and code changes there?
Did I understand correctly that we could be using the VMware Tanzu Helm charts repo for this, or would you rather have one dedicated to Contour? (I'm unsure what the project governance looks like..)

[2020-06-13 17:32] ashirvadgupta commented on #2568
Thanks @jpeach for fixing it

[2020-06-13 23:30] jpeach commented on #2050
If we need a repo, I think that it’s best to create it within the projectcontour GitHub org. I can do that for you when you are ready.

[2020-06-14 20:18] abursavich opened #2582 "Support HTTP/3 clients"
Add support for terminating [HTTP/3](https://quicwg.org/base-drafts/draft-ietf-quic-http.html) connections from clients.

Supporting HTTP/3 backends is out of scope for this issue.

Search Keywords: H3, HTTP3, QUIC

[2020-06-15 02:53] jpeach commented on #2579
Steps we need to do to make a 1.5.1 release:

- Update the envoy image version on master
- Update the envoy image version on the release-1.5 branch
- Update hack/release/prepare-release.go to optionally take an OLDVERS NEWVERS arguments so that we can cut the 1.5.0 docs across to 1.5.1

Then we can:

- cut the 1.5.1 tag
- push the 1.5.1 Docker image
- create and update GitHub release notes

Then,

[2020-06-15 04:50] jpeach commented on #2568
xref #1493
xref #2483

[2020-06-16 05:51] jpeach opened #2589 "Invalid annotation log messages include a hard-coded resource version"
In `(*KubernetesCache) Insert()` we see the following:

[code]

I think that the value of the "version" field should the API group/version.

[2020-06-16 18:03] stevesloka commented on #2146
We need to add a flag I think to buy into this appropriately before making this standard.

I'm proposing an `--enable-ingress-v1` feature flag that puts Contour into a mode that enables the v1 features and changes the default behavior of how Ingress Classes are handled (e.g. annotation vs spec.class).

Today Contour matches on the following rules:
-  If no ingress.class is specified on Contour arg

[2020-06-16 19:06] stevesloka commented on #2146
The other way to think about this is if not using annotations, we could just require a default ingressclass to be created. I think that makes sense, but I want to chat about it further first.

[2020-06-16 19:49] stevesloka commented on #2581
@jason-magnetic-io I can confirm what you are seeing in my cluster. I'm digging through things a bit right now.

[2020-06-17 04:06] jpeach opened #2592 "Reduce unnecessary xDS secrets churn"
**What steps did you take and what happened:**

Create 8 HTTPProxy objects that all use the same TLS certificate to serve a HTTPS endpoint.

[code]

Note that the Secret version keeps going up on every DAG rebuild, even though there is only one Secrets and it didn't change.

The certs admin endpoint shows that envoy has 13 certificate entries:

[code]

**What did you expect to happen:**

Envoy sho

[2020-06-17 05:51] youngnick commented on #2572
Hmm, I made a mistake, this is closed now by #2593.

[2020-06-17 05:51] #2572 closed

[2020-06-17 05:52] youngnick commented on #1789
Now that #2572 is finished, we just need to wait a while, I'd say one release, to then remove the IngressRoute types from the repo as well.

[2020-06-17 07:15] davecheney commented on #1789
🎉

[2020-06-17 18:00] stevesloka opened #2595 "Envoy Release v1.14.3"
There are some coming Envoy security defects coming on June 30th 2020 and the Envoy team will release v1.14.3 to resolve. This is to track a new Contour release once the new Envoy versions come out.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/envoy-announce/muK8G_88_r0/nC54K5STAgAJ

[2020-06-17 18:40] skriss commented on #2403
Looks like there are a couple of options here:

1) add an "Environment Variables" section to `site/docs/master/configuration.md` which specifically documents the `CONTOUR_NAMESPACE` env var (i.e. which flags on which commands it serves as a default for)
2) expand `site/docs/master/configuration.md` to additionally document all CLI flags for all `contour` subcommands, including any env var defaults

[2020-06-17 21:59] skriss opened #2597 "HTTPProxy: some routes are ignored when they differ only on header condition operator or value"
**What steps did you take and what happened:**
Define an HTTPProxy with several routes that all have the same prefix and all have a condition on the same header, but different operators or values (some examples below).

Observe that Envoy is only configured with the last route; the other ones are dropped.

[code]

**What did you expect to happen:**
All of the routes to be configured with Envoy.

[2020-06-17 23:33] jpeach commented on #2403
@skriss Option 2 is where we need to end up. I thought there was an issue for that, but my memory is faulty. Personally, I'm happy if you want to start with (1) but done in a way that someone could later expand into (2), if that's applicable.

Ideally option 2 would generate documentation from the current source, but when I looked at it, it seemed hard to do that with kingpin

[2020-06-17 23:42] chintan8saaras opened #2599 "DAG ignores routes with same prefix, same header name (":method") but different header value"
**What steps did you take and what happened:**
In a use-case where there are two routes defined

(1) Method: GET, Prefix: /
(2) Method: POST, Prefix /

**What did you expect to happen:**

Such config should create two routes on Envoy

**Anything else you would like to add:**

Here is a patch with -
(1) A test that captures the failure
(2) Fix

LMK if I should create a PR for this fix.

[code]

**E

[2020-06-17 23:51] skriss commented on #2599
@chintan8saaras looks like you noticed the same thing I did earlier today -- see #2597 and #2600

[2020-06-17 23:53] jpeach commented on #2599
Duplicate of #2597

[2020-06-17 23:53] #2599 closed

[2020-06-17 23:55] chintan8saaras commented on #2599
😄 You beat me to it by a couple of hours ! Glad it got caught and fixed !

[2020-06-18 00:19] shyaamsn opened #2602 "Envoy pod stuck due to incomplete certificate"
**What steps did you take and what happened:**
Deployed contour v1.5.0 and envoy v1.14.1 on a kind cluster with cert-manager providing certificates for contour and envoy. Envoy container never becomes ready. The logs point to certificate error: Filesystem config update rejected: Failed to load incomplete certificate from /certs/tls.crt, /certs/tls.key.

I believe cert-manager takes sometime to upd

[2020-06-18 03:16] youngnick commented on #2403
I agree that Option 2 is the end goal, but also that Option 1 is a good place to start.

[2020-06-18 03:26] youngnick commented on #2602
Adding a liveness probe is not straightforward, because Envoy will not open any ports until it reaches Contour for its configuration. Because of this, if we have a naive liveness port, Envoy will not be alive for a little while, so it will be constantly restarted.

To change this, someone will need to investigate options. Things I can think off from the top of my head:
- Adding a (long-ish) timeou

[2020-06-18 03:42] jpeach commented on #2602
FWIW `contour bootstrap` already checks the certificate files are present, but not the contents.

[2020-06-18 16:31] senthilrameshjv opened #2608 "Connection closed when connecting to TCP services"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am working on implementing HTTPProxy for TCP connections in an on-prem solution with no load balancer. Your examples have helped me to get started, however, I find the instructions are not clear when it comes to TCP in bare metal situations with no load balancer. I was not able to understand how

[2020-06-18 17:37] pims commented on #2579
`1.5.1` is out: https://github.com/projectcontour/contour/releases/tag/v1.5.1

[2020-06-18 17:37] #2579 closed

[2020-06-18 21:50] youngnick commented on #2608
Thanks for the issue @senthilrameshjv.

Firtly, could you reformat your YAML using the ` ``` ` pre-formatted markers? It's tricky to check the YAML for errors if it's not formatted correctly.

That said, assuming the spacing is correct for the YAML, since the DG is generating correctly, it looks like the TCP Proxy *should* be working.

A couple of questions to check basic things:

- Can you reach

[2020-06-18 23:34] senthilrameshjv commented on #2608
Thank you @youngnick. I edited previous yaml.

Yes I can reach to example-webcontainer. That makes me believe that port 80 is listening and 443 is not. As I am using tls pass through and my client and the application has the certificates required,  should there be any certificates in the ingress layer?

Attaching the output of OpenSSL command.

openssl s_client -connect example-jdbc-non-rmi:443
[c

[2020-06-19 00:31] #2602 closed

[2020-06-19 02:52] youngnick commented on #2608
Hi @senthilrameshjv, can you check the status on the HTTPProxy once it's configured?
In addition, can you please check the Envoy access logs and confirm put some relevant lines in here? We should be able to see some log lines telling us that the TCP proxy has been hit, I think.

[2020-06-19 03:03] senthilrameshjv commented on #2608
I also read the readme.md and modified the 03-envoy and 02-service-envoy yaml files to include dns policy, host network and load balancing changes. Still the same trouble

[2020-06-19 03:08] youngnick commented on #2608
The Envoy logs are written to stdout in the container, you can use `kubectl logs <podname>` to get them.

Great that everything is valid, I was pretty sure that would be the case from the DAG diagram, but good to check.

[2020-06-19 03:26] senthilrameshjv commented on #2608
Thank you, but I dont see much info with logs
[code]

Can you help me about the hostnetwork configuration when there is no load balancer available. It is possible some configuration is missing?

[2020-06-19 03:32] youngnick commented on #2608
With respect to the logs, sorry, you need to check the `envoy` container's logs. I should have mentioned that.

With the hostnetwork config, yes, it's definitely possible. I asked about connecting the non-passthrough service because I assumed if you can connect to that, then you can connect through Envoy, so the hostnetwork config is probably working.

To be clear, you should be connecting to the

[2020-06-19 03:45] youngnick commented on #2570
I've opened #2613 to hopefully fix this, but I haven't been able to reproduce the problem with either current Contour or my branch. @primeroz, can you try using `docker.io/youngnick/contour:dag-status-update` as the image for Contour and seeing if you can reproduce?

[2020-06-19 06:59] #2522 closed

[2020-06-19 06:59] #2560 closed

[2020-06-19 08:10] primeroz commented on #2570
@youngnick So this morning i tried the script again and ... i could not get any error either! I then realized that in _my version_ of the script i , by mistake, left contour at 1.4 which never had the issue.
Once i switched mine to 1.5 i was able to reproduce the error 100% of the time

[code]

I checked the uploaded script though and that one does not even have the option to run 1.4 and is hardco

[2020-06-19 08:11] primeroz commented on #2570
feel free to close this issue , i will in case reopen / recreate if i still hit the problem once your code is released on contour

thanks!

[2020-06-19 14:27] #2403 closed

[2020-06-19 14:38] skriss opened #2615 "expand configuration docs to cover all CLI commands, flags and env vars"
Spun out from discussion in #2403.

Ideally, `site/docs/master/configuration.md` would cover all CLI flags, config file fields, and environment variables for all `contour` commands.

[2020-06-19 15:18] senthilrameshjv commented on #2608
Let me check the container logs. Meanwhile, here is the response for https curl

[code]
I had to use additional parameters, as its self signed certificate.

Also, the tcp connections i make are from a Java client to a Java application. I was trying to connect using //example-jdbc-non-rmi:443 address, where FQDN is pointed to 127.0.0.1 (my cluster is a single node master-only setup with pods deploy

[2020-06-19 16:08] #2597 closed

[2020-06-19 17:54] stevesloka opened #2616 "Misleading Proxy status for secrets type opaque"
If a user creates a secret type `opaque` and references that via a Proxy, the resulting status will say the proxy is invalid because the secret does not exist when it actually does.

The problem is Contour assumes any tls secret to be type `kubernetes.io/tls`, so when it finds a secret type `Opaque` it assumes it should only contain a `ca.crt` (https://github.com/projectcontour/contour/blob/master

[2020-06-20 09:28] thprice commented on #2206
May I add my two cents to this discussion. I actually started out in the same position as @uablrek, looking for an easier way to create/update/delete individual applications.
I do understand @davecheney & others' reluctance due to the fact that control over what may be exposed on the domain is delegated to application owners.
I'm pretty new to Kubernetes but veteran in access mgmt & control, so pl

[2020-06-20 10:09] josephglanville commented on #2499
In progress at https://github.com/kubernetes-sigs/external-dns/pull/1628

[2020-06-20 21:36] deregtd commented on #2497
Seconding the request in this thread.  We're making 6 clusterrole/bindings right now per k8s deployment, with different permissions, because we need a different contour per namespace.  We're using the ingress-class-name parameter selecting for now, just like we were on the nginx ingress controller we had before this, but the cluster-wide model is way more awkward than if it were contained within a

[2020-06-21 02:28] youngnick commented on #2499
Fantastic, thanks!

[2020-06-21 13:53] josephglanville commented on #2497
We have settled on a model that uses a single ClusterRole that provides read access to all the resources Contour needs to discover/read, along with a per-deployment Role that grants write access within the specific namespace. Thus the ClusterRole is shared across deployments and does eliminate some of the problems but creating the bindings still requires cluster administrator involvement which is

[2020-06-21 19:29] StarpTech commented on #310
Hi, what's the status? As far I can test gzip is not enabled by default and I also can't find any hint in the docs.

[2020-06-21 20:41] StarpTech opened #2618 "Question: Is contour only a proxy?"
**What steps did you take and what happened:**

Hi, this is a question, not a bug report. I evaluated many ingress controller for Kubernetes and come to the conclusion that contour has the best combination of smooth configuration and proxy features. I'd like to use it as NGINX replacement but I couldn't find solutions for common problems these days: HTTP GZIP compression, Authentication e.g JWT, B

[2020-06-21 21:34] jpeach commented on #310
@StarpTech Contour always enables the Envoy gzip filter with the default setting, which are documented [here](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/gzip_filter).

[2020-06-21 21:48] StarpTech commented on #310
@jpeach thanks, I will retest it.

[2020-06-21 23:19] youngnick commented on #2570
Thanks for verifying @primeroz! Closing this one out.

[2020-06-21 23:19] #2570 closed

[2020-06-21 23:55] youngnick commented on #2618
Hi @StarpTech, thanks for the question, and for the kind words about Contour.

I saw that you already commented on #310, as @jpeach said there, we always enable GZIP - we decided it was better to default that to on, and add a way to disable it if anyone needed it (noone has yet).

We are planning to implement both authentication and rate-limiting.
- Authentication is being looked at in #432 (the o

[2020-06-21 23:59] youngnick commented on #2582
Thanks for this issue @abursavich.

Since Contour is a control plane for Envoy, we are waiting on Envoy support for HTTP/3 (which I believe is tracked in envoyproxy/envoy#2557).

I'll mark this as blocked for now.

[2020-06-22 00:02] youngnick commented on #2578
Hi @jdonnell01, thanks for logging this issue.

One of the maintainers will need to see if we can reproduce the issue to see if we can track it down. Is there anything else you can tell us about the service you're doing websockets with? Any idea of what timeout is being enforced? Thanks for any extra info you can provide.

[2020-06-22 00:07] youngnick commented on #2608
Is it expected that making a request to `/` would produce an empty reply? Should the backend server have responded with something? The thing we need to determine here is whether Contour is misconfiguring Envoy so that the connection is not passing through somehow (in which case Envoy would terminate it), or if the connection is arriving at the backend service and not behaving as expected somehow.

[2020-06-22 00:08] youngnick commented on #2577
Thanks for this issue @primeroz. Just to confirm, you'd like to be able to totally disable all HTTP serving, full stop. No opening of port 80 (or whatever) at all?

[2020-06-22 07:21] primeroz commented on #2577
yep that's what i meant.

For setup like mine where no HTTP is needed and is not even exposed to the internet is just a complication when looking at the config or the Generated DAG svg file.

I only expose HTTPS on my cluster and do , for client facing apps, redirect at the CDN level

[2020-06-22 07:46] primeroz opened #2619 "Add support to disable HTTP2."
**Please describe the problem you have**

HTTP2 Coalescing , when using a wildcard, can lead to problems in SNI based routing.\
This was addressed in https://github.com/projectcontour/contour/issues/1493 by responding with the **http 421** code pushing on the client the responsability to re-establish a connection using the correct tls name for sni routing.

_unfortunately_ Safari ( or apparently w

[2020-06-22 08:14] StarpTech commented on #2618
Hi @youngnick thank you! This explains a lot and I like the direction. I hope Contour will not be split into a commercial product. Many solutions today are OOS but lack in basic features like JWT parsing or OAuth :smile: Keep up the great work!

[2020-06-22 15:13] stevesloka commented on #2146
Here are the rules I've come up with which I think covers all the cases we could run into:

If `--ingress-class-name` is **not** set:
- Matches any ingress object without any annotation
- Matches any ingress object with annotation the default ingress.class of `contour`
- Matches any ingress object, if a `v1beta1.IngressClass` exists with the name of `contour` and the ingress object has the `spec.i

[2020-06-22 17:07] jdonnell01 commented on #2578
Hi @youngnick. I am using the following libraries:

HTTR (Underlying Framework for Creating WebSockets): https://github.com/r-lib/httr
Shiny (Web Framework which creates the websocket): https://github.com/rstudio/shiny

Code for initiating the websocket: https://github.com/rstudio/shiny/blob/e7ec5e5ba4915a4bf57ac8f21166ea916b44e379/srcjs/shinyapp.js#L80

I no longer think it's a timeout as the app

[2020-06-22 20:25] skriss commented on #2146
From the docs it looks like the new `IngressClass` resource will have a `spec.controller` field, so I'm thinking we might want to match based on that field, rather than the name of the `IngressClass` -- i.e. match any `Ingress` that's linked to an `IngressClass` with a `spec.controller: contour`, regardless of the name of the `IngressClass`.

[2020-06-22 20:32] stevesloka commented on #2146
We need to only filter on the `spec.controller` (like `projectcontour.io/ingress-controller`), but you should be able to have multiple `IngressClasses` and an instance of Contour to match each one. This way you could split out which instance of Contour handled which instance of that ingress object.

[2020-06-22 20:44] skriss commented on #2146
So I guess in that scenario, the user would need to specify `--ingress-class-name` for each instance of Contour.

I was thinking about the scenario where they haven't specified `--ingress-class-name`, and that it could make more sense to match any ingress class with a `spec.controller: projectcontour.io/ingress-controller`. But, I guess requiring the name to be `contour` would work fine too.

[2020-06-22 20:55] stevesloka commented on #2146
Yup if you want to use multiple instances of Contour in the same cluster, you'd have to set `--ingress-class-name` for each.

If you do not supply `--ingress-class-name`, then we'll match anything regardless of the "default" ingress class. Is this is the missing gap I think in moving from annotations to ingress class. We should almost require someone to create the default ingress class, but that's

[2020-06-22 22:05] jpeach commented on #2146
I read those rules 3 times and I'm not sure that I have got them right. That suggests to me that it's too complicated and we should simplify.

What if we add a flag to enable ingress class resource. This acts an an opt-in, and is probably required anyway since you need to specify a namespace and name for the object. The config associated with the ingress class resource can also specify the corresp

[2020-06-22 23:01] jpeach opened #2621 "Separate the Contour config file code into a new package"
**Please describe the problem you have**

The Contour config file definition is embedded in `serveContext`, which contains both public definitions for the config file, internal definitions used by command-line flags, and other internals. It's confusing trying to separate out how the various fields are used and likely to become more so as we expand the use of the config file.

Let's break this stru

[2020-06-23 03:27] youngnick commented on #2146
I thought you only specified a name for an IngressClass object, implying that they're effectively global? If that's the case, then @stevesloka's proposal is the best we can get, because it's part of the implementation contract.

Adding a flag is not as simple as it sounds, because enabling the flag requires drawing a line under what version of Kubernetes you're running on. I'm not sure what versio

[2020-06-23 22:45] #2557 closed

[2020-06-23 22:45] #2581 closed

[2020-06-23 23:58] youngnick commented on #2618
Okay @StarpTech, I'll close this, feel free to reopen if you have more.

[2020-06-23 23:58] #2618 closed

[2020-06-24 00:03] youngnick commented on #2541
Thanks for logging this issue @prahaladramji. I just noticed that we hadn't finished triage on this issue properly. We've seen the issue, it's been prioritised, so I'll add the accepted labels, so that one of the maintainers can come back and take a look when we can.

[2020-06-24 06:58] jpeach opened #2623 "Enable strict YAML parsing for the configuration file."
**What steps did you take and what happened:**

Added the following to the Contour config file:
[code]

Contour started up and I had to debug why the config didn't seem to work.

**What did you expect to happen:**

Any kind of error.

**Anything else you would like to add:**

xref #2621

[2020-06-24 13:58] senthilrameshjv commented on #2608
Sorry for the delay.

I am able to reach out directly inside the cluster to the respective IP addresses. I think there is something broken when forwarding from ingress to the service.

[2020-06-24 14:50] #2544 closed

[2020-06-24 16:55] skriss opened #2624 "site proof job is failing on master builds"
e.g. https://travis-ci.com/github/projectcontour/contour/jobs/353156833:

[code]

Looks like there are a few things we need to do to get this back to green:
- [x] update https://github.com/projectcontour/contour/blob/master/site/_data/refdocs/config.json#L16 to use a v1.18 link since the v1.13 docs seem to no longer be hosted (https://github.com/projectcontour/contour/pull/2625)
- [ ] either (a) u

[2020-06-24 17:24] stevesloka commented on #2624
We should also figure out why the CI job doesn't pick these errors up.

[2020-06-24 17:30] stevesloka commented on #2624
The CI job doesn't pick up changes, see your commit on #2625, site-proof was skipped: https://travis-ci.com/github/projectcontour/contour/jobs/353230458#L288

[2020-06-24 18:33] skriss commented on #2624
Looks like it's because of how Travis does PR builds, where it merges the PR changes into master before building, which isn't compatible with the detect-changes script. I'll look at updating the script to work for PRs, but we won't want to merge that until we get the master builds green, otherwise all PR builds are going to start failing.

[2020-06-24 19:00] skriss commented on #2031
xref https://github.com/projectcontour/contour/issues/2624#issuecomment-648959329 and https://github.com/projectcontour/contour/issues/2624#issuecomment-648993471

[2020-06-24 19:19] skriss commented on #2624
@stevesloka found some more related issues here - it looks like we also need to fix #2032 before getting this running for PRs, so the fact that it's not running currently is more of a feature than a bug :)

[2020-06-24 19:24] skriss commented on #2031
It looks like the current reason for this is that https://github.com/projectcontour/contour/blob/master/hack/travis/travis-check-files-changed.sh checks for changes in the most recent commit only, but with Travis PR builds, the most recent commit is a merge commit where travis takes the PR changes and merges them into master, so there are never changes to `site/` in there.

However, we still need

[2020-06-24 21:03] skriss commented on #2624
Not sure why [this link to haproxy.org](https://github.com/projectcontour/contour/blame/master/site/_guides/proxy-proto.md#L55) is timing out - it passes the check on my machine.

[2020-06-24 23:23] youngnick commented on #2369
This seems reasonable, but any solution we do needs to be mindful of how it will impact a centralised proxy: Could cluster operators need to only allow retrying on some error codes or error classes? Does there need to be a limit on the number of retries?

I've added help-wanted to this issue, if you would like to pick this issue up, I think the next steps are:
- outline some use cases we're solvin

[2020-06-25 03:11] KevinSnyderCodes commented on #2369
Here's a design PR to get us started: https://github.com/projectcontour/contour/pull/2626

[2020-06-25 19:12] #2624 closed

[2020-06-25 21:05] stevesloka commented on #2146
@youngnick I found another interesting case. If I insert a bunch of objects that reference an IngressClass that does not yet exist, then the objects are thrown out of our cache, however, if later the IngressClass is created, they should then all be valid, but they aren't in the cache.

I was going to move the logic to validate the ingress objects to the dag.Builder, but wanted to check in first. T

[2020-06-26 01:04] youngnick commented on #2146
If we move the logic to valid the ingress objects to the Builder, that will mean that the cache will always hold all ingress objects.

That doesn't seem ideal, but the only other way I can think of to deal with this is to have a new relevant ingress class kick off a cache refresh for all the ingress objects, which also doesn't seem ideal.

This is also relevant because we will most likely have a s

[2020-06-26 22:49] KevinSnyderCodes commented on #2369
Would like to add, I performed some load testing on our most impacted services, with and without retries enabled.

2000 RPS, with deployment rollout every 15 seconds:
- Without retry policy: ~60 503's
- With retry policy (5 tries, 1s timeout): **zero** 503's

So the retry policy absolutely mitigates the rollout issue 🎉

[2020-06-27 11:20] erwbgy opened #2633 "Enable TCP keepalive on listener sockets"
Contour should configure TCP keepalives for Envoy listener sockets so that half-open connections with clients (downstream in Envoy speak) are flushed. This helps Envoy work better with overlay networks which drop long running idle TCP connections. TCP keepalives are already enabled for server (upstream) and xDS connections so this would complete the set.

I have a pull request that implements this

[2020-06-28 22:57] youngnick commented on #2633
Hi @erwbgy, that sounds great. I'm a little disappointed that none of us noticed it sooner!

I guess the only question I would have is if any of us can think of a reason why keepalives would be disabled? If we could, then we should add a way to do it. However, I can't think of any reason to disable it off the top of my head, especially since we've got greater timeout configurability on the way.

P

[2020-06-29 01:29] jpeach opened #2635 "Document Contour RBAC policies and requirements."
**What steps did you take and what happened:**

There is no operator-facing documentation for how to apply Kubernetes RBAC for Contour and its components. For an example of what would be useful, the [ingress-nginx docs](https://kubernetes.github.io/ingress-nginx/deploy/rbac/) do a good job of this.

[2020-06-29 03:36] jpeach opened #2637 "Upstream peer validation is only available for the "tls" protocol."
In `computeRoutes`, the upstream validation stanza is only checked if the upstream protocol is "tls". It should also be available for all protocols that imply TLS (i.e. `h2`).

[2020-06-29 18:29] brenix opened #2639 "Rendered RBAC rules are missing the contour-leaderelection role"
**What steps did you take and what happened:**

While inspecting the latest deployment examples on `master`, I noticed that the `contour-leaderelection` role appears to have been removed. Though, the rolebinding still references this role.

**What did you expect to happen:**

The rendered examples should include all roles/rolebindings necessary

**Anything else you would like to add:**

This was d

[2020-06-29 18:50] stevesloka commented on #2639
Thanks for reporting @brenix, what looks like happened is the rbac permissions were changed so the `contour-leaderelection` binding is no longer needed. I have a PR to remove the duplication coming next.

[2020-06-30 05:29] jpeach opened #2641 "Improve service lookup error message."
**Please describe the problem you have**

When `(*Builder)lookupService()` fails, the proxy is updated with a generic error status. However, the failure can be because the service isn't present, or because the wanted port could not be found. Emitting a more specific message can distinguish between these cases and make debugging quicker and easier.

[2020-06-30 15:59] #2639 closed

[2020-06-30 17:51] stevesloka commented on #2146
I'm not happy with the version check logic, going to look at implementing: #2219

[2020-06-30 20:15] pims opened #2644 "Upgrade to Envoy 1.14.3"
**Please describe the problem you have**
A long list of CVEs have been identified in existing versions of Envoy.
See details at: https://groups.google.com/g/envoy-announce/c/qrrF8klFl-I

This addresses the following CVE(s):

[2020-06-30 20:25] stevesloka commented on #2644
//cc https://github.com/projectcontour/contour/issues/2595

[2020-06-30 20:47] stevesloka commented on #2219
@youngnick I have some work for this started, did you already start? I don't want to duplicate efforts.

[2020-06-30 23:00] youngnick commented on #2219
I started in that I did some refactoring in preparation - my idea was that we would build the default set of informers using the bits I added already, and then wash that set against what's actually present on the apiserver. Could also do it the other way around, of course.

[2020-07-01 02:00] pims commented on #2225
From our slack discussion about timeouts.

[2020-07-01 02:13] youngnick commented on #2369
The design PR is all merged, thanks for being patient @KevinSnyderCodes!

Per our usual working method, I've assigned the issue to you, and put it in the 'In Progress' section on the project board. If for some reason you can't work on this any more, please unassign yourself and we'll put it back into the priority basket.

[2020-07-01 02:51] georgegoh commented on #2050
@giorgioazzinnaro are you on kubernetes.slack.com? It would be great to continue the conversation there and get this onboard officially.

[2020-07-01 11:57] arunramachandran15 opened #2645 "Multiple HttpProxy object for each path prefix and single virtual host"
Hi Team,

I have single **virtualhost** (portal.example.net) but want to add **new prefix for each tenant** when there is a new tenant signup. Is there anyway I can create **multiple HttpProxy object for each prefix** but same virtual host which envoy will club together. Usage of includes is not decoupling the root from child prefix files.

Objective here is to decouple root HttpProxy object and a

[2020-07-01 18:22] rfletcher commented on #2645
I'm a new Contour user and have the same need. After finding the "inclusion" docs I was hoping HTTPProxy had support for selector-based inclusion, but I don't see anything like that in the current version. Assuming there isn't already another way to do the kind of dynamic inclusion we're looking for, something like this would be very welcome:

[code]

[2020-07-01 18:26] rfletcher commented on #2645
Looks like this general issue is already being discussed in #2206

[2020-07-02 14:26] michmike opened #2647 "Change of copyright information"
Please change all copyright info in every file in contour repos from
[code]
to (only the first line is changed)
[code]

No year or copyright symbol is required.

[2020-07-03 01:37] jpeach commented on #2644
Duplicate of #2595

[2020-07-03 01:37] #2644 closed

[2020-07-03 06:12] jpeach commented on #2595
Fixed in Contour 1.6.1

[2020-07-03 06:12] #2595 closed

[2020-07-05 01:34] jpeach opened #2651 "Add macOS build checks to CI"
**Please describe the problem you have**

macOS is a convenient development target for Contour, so we should run build and unit tests on it.

xref #2638

[2020-07-05 02:10] jpeach opened #2652 "Add configuration support to tune or disable listener Keepalives."
**Please describe the problem you have**

Followup from #2638 #2633

If the Envoy proxy that Contour is programming isn't running on Linux, it will NACK the listener update, and Contour won't know how to recover from that. In this case, an operator would need a way to disable setting Linux-specific socket options.

There may be use cases for tweaking the Listener keep alive tunables. We can collec

[2020-07-05 02:11] jpeach commented on #2652
xref #2543

[2020-07-05 22:07] #2651 closed

[2020-07-06 21:52] jpeach opened #2659 "Enable Github code scanning."
Contour has been accepted into the Github code scanning beta.

https://docs.github.com/en/github/finding-security-vulnerabilities-and-errors-in-your-code

We should enable this on all our repositories. This issue is for collecting consensus for enabling this and a reference point for the various commits that will be needed to enable the feature.

[2020-07-06 21:52] jpeach commented on #2659
/cc @youngnick @stevesloka @skriss

[2020-07-07 15:22] #2647 closed

[2020-07-07 18:34] brenix opened #2662 "FilterMisdirectedRequests filter causes segfault in envoy"
**What steps did you take and what happened:**

- As part of upgrading from contour-1.4.0/envoy-1.14.1 to contour-1.6.1/envoy-1.14.3 in one of our clusters, the envoy instances started experiencing a segfault after 1-2m which led to them being in a crashloopbackoff state

      [2020-07-07 17:03:48.670][34][critical][backtrace] [bazel-out/k8-opt/bin/source/server/_virtual_includes/backtrace_lib/se

[2020-07-07 20:07] senthilrameshjv commented on #2608
Chiming in with an update. I was able to do a TCP forwarding with Nginx-ingress controller with its TCP Config map and adding ports to its services following a guide like [this](https://www.ibm.com/support/knowledgecenter/ru/SSSHTQ/omnibus/helms/all_helms/wip/reference/hlm_expose_probe.html)

I am not able to understand what I will have to include in the envoy/contour yamls. I added the hostnetwor

[2020-07-07 23:22] moderation commented on #2225
I found this resource on Envoy timeouts a while ago and it looks quite comprehensive - https://github.com/chemicL/envoy-timeouts.

Please ensure that the documentation and clarity for timeouts makes it clear what applies to what covering:
- HTTP/1.1
- HTTP/2
- Websockets
- TCP

[2020-07-07 23:30] brenix commented on #2662
Adding a more detailed backtrace using the envoy-alpine-debug-dev container:

[code]

[2020-07-08 00:55] michmike opened #2664 "authorization server for Envoy"
As part of the larger work around enabling authentication in Contour, https://github.com/projectcontour/contour/issues/2459, we need to built an authorization server for Envoy to support OIDC

[2020-07-08 00:55] michmike commented on #2664
cc: @jpeach

[2020-07-08 02:21] jpeach commented on #2664
xref #432

[2020-07-08 03:09] jpeach commented on #2616
There are multiple secret validation criteria
- `isValidSecret` determines whether a secret will enter the cache
- `validSecret` determines whether a cached TLS cert secret can be used
- `validSecret ` determines whether a cached CA cert secret can be used

The error from `isValidSecret` is logged but otherwise doesn't show up on status. The status error shown to users is due to the failure of `va

[2020-07-08 05:28] jpeach opened #2665 "Shutdown manager keeps a broken envoy config hanging around."
**What steps did you take and what happened:**

Edit the envoy DaemonSet to add an invalid command line argument. When the pod comes up and you can validate that Envoy exits with an error, edit the DaemonSet again to fix it.

The shutdown manager then keeps the pod alive because it is unable to poll the connection count (because envoy isn't running).

[code]

[2020-07-08 07:44] erwbgy commented on #2652
@jpeach on #2638 you said "I don't know of any use case for supporting Envoy on non-Linux" and I agree.  Until such a use case exists can we not just update https://projectcontour.io/resources/envoy/ to say that we only support running Envoy on Linux?

[2020-07-08 07:51] jpeach commented on #2662
Looks like it failed to allocate a new Lua state, filed https://github.com/envoyproxy/envoy/issues/11948. Faulting address 0x8 looks a lot like dereferencing NULL. Not able to reproduce locally (so far).

[2020-07-08 08:01] erwbgy commented on #2633
@jpeach For documenting this change I was thinking that https://projectcontour.io/resources/envoy/ should be updated with a TCP Keepalive section at the end describing what they, noting that they're enabled by default for listener sockets and what the settings are. If that sounds okay I'll create a PR.

[2020-07-08 11:12] tomqwpl commented on #432
In terms of JWT authentication, Envoy directly supports verifying JWT tokens, without going to an external service. This is nice for performance, avoiding the overhead, on every HTTP request, of making another HTTP request to verify the auth. The nginx plus ingress controller also supports this method (direct JWT verification). Personally I'd like to see that as an option here, and not have to rel

[2020-07-08 12:34] josephglanville opened #2667 "Inclusion in same namespace doesn't seem to work without specifying namespace."
When attempting to include a child HTTPProxy object in the same namespace without specifying the namespace Contour appears to fail to find the child HTTPProxy.
i.e I get invalid status, can't find <namespace>/<child_name> (where namespace is actually correct, so it should be looking in the right place)
However adding the namespace to the inclusion spec seems to correct this.

I found this while te

[2020-07-08 15:27] tthebst commented on #1821
I would like to give this a go.

I suppose you don't want any hardcoded values in `example/03-contour.yaml`. So is it enough if you pass `$VERSION` to the `generate-deployment.sh`. This would produce sth like "v1.6.0" or should I strip the "v"

[2020-07-08 18:04] stevesloka commented on #2667
Hey @josephglanville can you share your yaml used to create these?

 I just tested with the following and it all worked ok:

[code]

[2020-07-08 18:06] stevesloka commented on #2665
The pod should exit once the `terminationGracePeriodSeconds` is met. Did that happen for you?

[2020-07-08 18:07] stevesloka commented on #2664
// cc https://github.com/envoyproxy/envoy/issues/8571

[2020-07-08 18:22] stevesloka commented on #2645
Hey @rfletcher & @arunramachandran15, this keeps coming up with users so we'll need to think about ways to solve this. The selector approach is a good way to possibly do this problem.

[2020-07-08 18:25] stevesloka commented on #2635
Description of what's required is outlined in the examples yaml doc: https://github.com/projectcontour/contour/blob/master/examples/contour/02-role-contour.yaml

[2020-07-08 18:29] stevesloka commented on #2616
The user feedback shouldn't be "secret not found", it needs to reflect the actual state which is "not configured properly" or something. We can't depend on a log message in Contour to reflect this state.

[2020-07-08 18:35] stevesloka commented on #2608
Hey @senthilrameshjv does your app have a TLS certificate? So if you port-forward to that app you can access it over TLS?

I ask because in your example above, you have `Spec.VirtualHost.Tls.Passthrough: true`, meaning the upstream service is intended to terminate TLS at the backend pod.

If that's not the case, then you'd need to have TLS secrets on the `Spec.VirtualHost.Tls` section to terminate

[2020-07-08 18:42] stevesloka commented on #2578
Hey @jdonnell01 we just merged support for configuring some various timeouts, in particular: https://github.com/projectcontour/contour/pull/2632. Would you be able to try out a `master` build of Contour in your environment?

[2020-07-08 20:39] jpeach commented on #2664
On Jul 9, 2020, at 4:07 AM, Steve Sloka <notifications@github.com> wrote:

// cc envoyproxy/envoy#8571<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fenvoyproxy%2Fenvoy%2Fissues%2F8571&data=02%7C01%7Cjpeach%40vmware.com%7C4857a32cbceb47fa1be108d82369c82c%7Cb39138ca3cee4b4aa4d6cd83d9dd62f0%7C0%7C0%7C637298284524197037&sdata=9CMhky1oiUz0qTM%2FIK4nBzfGF7jbgPr%2FUl1Ujik

[2020-07-08 20:39] jpeach commented on #2665
On Jul 9, 2020, at 4:06 AM, Steve Sloka <notifications@github.com> wrote:

The pod should exit once the terminationGracePeriodSeconds is met. Did that happen for you?

Yep it terminates, it just takes longer than necessary.

[2020-07-08 20:40] jpeach commented on #2616
Right, I’m 100% in agreement with that :)

[2020-07-08 20:41] stevesloka opened #2673 "Envoy CVEs"
Envoy has additional security CVEs included in v1.15.0 & v1.14.4. We should release a Contour v1.6.2 to include Envoy v1.14.4 and then release Contour v1.7 which will should upgrade to Envoy v1.15.0.

Ref: https://groups.google.com/g/envoy-users/c/pvmKpPBHEcU/m/FFt7HBonAQAJ

[2020-07-08 21:53] jpeach commented on #2652
Yeh, though the corollary of that is that it's probably fine to have an emergency knob rather than implementing this for various  platform.

[2020-07-08 22:12] jpeach commented on #2662
I've had Contour up to 3k HTTP proxies with no envoy crashes in both kind and GCP clusters.

[2020-07-08 22:41] senthilrameshjv commented on #2608
@stevesloka Yes mine has TLS enabled. I used ```passthrough: true ``` And both my client and the backend server has the required certificates. I remember sometime back, I used a port forward and was able to access it using loopback address, but not from external machines using the machine's public IP address.

[2020-07-09 00:43] jpeach commented on #2664
also https://github.com/ajmyyra/ambassador-auth-oidc and https://medium.com/@robert.broeckelmann/when-to-use-which-oauth2-grants-and-oidc-flows-ec6a5c00d864

[2020-07-09 01:56] #2659 closed

[2020-07-09 02:04] jpeach commented on #2662
I can reproduce on GKE with 3K HTTPProxies and setting the Envoy concurrency to 40. Setting vm.max_map_count = 1966080 has no effect, max maps for the envoy process are around 2.7K, so tweaking max_map_count is unlikely to help.

[2020-07-09 03:45] jpeach commented on #2662
This was reproduced on a n1-standard-2 instance. If I flip to n1-highmem-8, I don't reproduce any more. Envoy has around 8G RSS in this config.

[2020-07-09 04:02] jpeach commented on #2662
This seems really similar to https://github.com/envoyproxy/envoy/issues/10865, but I have not found any reason to believe that issue isn't fully fixed. Proximate cause is `luaL_newstate` failing which is usually some memory exhaustion condition.

[2020-07-09 04:07] josephglanville commented on #2667
Looks like I made I mistake in diagnosing this, turns out it was due to missing ingress.class annotation that was fixed in the same pass. Sorry for the noise!

[2020-07-09 04:07] #2667 closed

[2020-07-09 13:23] #2532 closed

[2020-07-09 16:09] skriss commented on #2673
Just curious, why do we need to do a Contour release in order to bump the Envoy version? Is it just because we want to publish updated example YAML?

[2020-07-09 16:12] stevesloka commented on #2673
Yup basically. There have been times where we upgrade the go-control-plane protos and it changes how we pass Envoy config, so that meant a hard dep on a specific version of Envoy. However, these recently have not encountered that, so it's basically a no-op release for Contour.

[2020-07-09 16:54] brenix commented on #2662
Did some additional testing as well and do not see the issue when setting a lower `--concurrency` configuration for envoy. Also confirmed that increasing `vm.max_map_count` makes no difference.

The hosts we run these on have 16 vCPUs and plenty of RAM. When envoy segfaults, other containers on the node are unaffected.

[2020-07-09 22:47] jpeach opened #2678 "Generate Contour CRDs with V1 CustomResourceDefinition."
Generating CRDs as  v1 CustomResourceDefinition resources enables better CRD validation and defaulting, as well as the ability to use `kubectl explain`.

This requires Kubernetes 1.16 or later. We can do this as the default YAML, but we can also generate different sets of YAML (as demonstrated in #2474).

This issue tracks the decision for adding this, and we can also use it to collect other issue

[2020-07-09 22:47] jpeach commented on #2527
Blocked by https://github.com/projectcontour/contour/issues/2678

[2020-07-09 22:50] jpeach commented on #1723
Blocked by https://github.com/projectcontour/contour/issues/2678

[2020-07-09 22:50] jpeach commented on #1978
Blocked by https://github.com/projectcontour/contour/issues/2678

[2020-07-10 04:37] kriswuollett commented on #1269
Hi, I'm new to k8s for a personal project to learn it along with how a modern web app / backend is built with open source tools -- nothing related to my day job. I've tried the nginx and Istio Gateway ingresses, and read about the feature set of the others. The key features that seem like the reasons I'll continue with Contour, and the others lack, are:

* Simple setup, separate from a service mes

[2020-07-10 07:39] jpeach commented on #2662
I hacked out a test harness that creates a configurable could of Lua filters in Envoy. Unable to reproduce the crash on my Fedora dev machine (32G Intel NUC) even with ~400K Lua states (10000 HTTP Connection Managers * 40 threads).

[2020-07-10 11:11] dsvetl opened #2679 "Added routing based on request method"
Hi, can you add routing based on request methods?

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/base.proto#envoy-api-enum-core-requestmethod

[2020-07-10 19:32] brenix commented on #2662
Is it possible the upstream builds for envoy use moonjit vs luajit? It looks like `XCFLAGS+= -DLUAJIT_ENABLE_GC64` was not added to the moonjit patch in one of the upstream PRs. I've tried digging through some of the docker builds but can't find anything specific.

[2020-07-10 20:12] stevesloka opened #2680 "internal/contour: EndpointsTranslator should only reflect clusters with routes/tcpproxies"
Currently, the `EndpointsTranslator` manages updates to Kubernetes endpoints in its own handler. This was due to the high volume of updates that typically comes from endpoint changes.

However, in the work I'm doing for #2604, to implement ADS with `go-control-plane`, there's a consistency check which rejects updates if the CDS clusters do not match the EDS clusters. Given currently, any endpoint

[2020-07-11 00:31] jpeach commented on #2662
IIUC, switching to moonjit needs a Bazel build flag and I don't see that anywhere in the Envoy build repository.

[2020-07-12 22:29] jpeach commented on #2680
Note that this bears on authorization, rate limiting and logging, since those features will also reference clusters.

Is the check in envoy or in go-control-plane? Do you think that the check itself makes sense?

[2020-07-12 22:43] #2369 closed

[2020-07-13 01:37] jpeach commented on #2662
I checked the Envoy tags, which I should have done in the first place. Envoy 1.14.4 doesn't have the fix for  envoyproxy/envoy#10865, but Envoy 1.15.0 does. I expect that the problem here is resolved by envoyproxy/envoy#10865.

[2020-07-13 06:02] jpeach commented on #2633
I don't think that's the right place for this information. The current envoy page is supposed to document Envoy versioning, whereas this information is about configuration and deployment behavior, which is quite a different topic.

[2020-07-13 06:34] jpeach commented on #2518
Not to be fixed. `featuretests.meta()` is gone; there's not much here to clean up.

[2020-07-13 06:34] #2518 closed

[2020-07-13 08:35] glerchundi opened #2681 "tcpproxy: services should be optional to support clean delegation"
We tried to upgrade from 1.1 to 1.6 following the upgrading tips on the webpage
with no success. We already know where the problem is but I wanted to double
check if it's something done on purpose or if it's a bug.

One of our `HTTPProxy` definitions, which was working before the upgrade, is
erroring out with the following message:

[code]

The problem seems to be introduced in 1076f5a156bbb0a9e80

[2020-07-13 13:39] stevesloka commented on #2680
Yes, when enabling `ADS` there's a check to make sure that all objects in EDS match something in CDS, etc. It's actually a count right now, but we could help improve that futher as a seperate issue upstream.

It's a good validation against passing config that should work to Envoy.

Also, it doesn't make sense to store & keep track all ALL the endpoints in a cluster. There could be thousands of end

[2020-07-13 15:29] brenix commented on #2662
After running with envoy 1.15.0 for 12h+, we no longer see a segfault! I think we'll plan to run contour 1.6.x with envoy 1.15.0 until 1.7 is released.

[2020-07-13 16:31] erwbgy commented on #2633
Do you have a suggestion for a different place to document this change then?

[2020-07-13 20:12] skriss commented on #2413
@remmeier FYI, we've merged https://github.com/projectcontour/contour/pull/2632, which allows the envoy `idle_timeout` to be tuned via the Contour config file. I'd be interested to see if changing the value solves your issue. It'll be included in the next release, or you could try `projectcontour/contour:master` if you're comfortable testing the latest development build.

https://www.envoyproxy.io

[2020-07-13 20:54] skriss commented on #2681
@glerchundi this does seem like a bug to me - @stevesloka would you agree?

[2020-07-13 21:02] stevesloka commented on #2681
Yup, I agree. You should be able to define an include without a service. But you shouldn't be able to define a proxy without at least one service.

[2020-07-13 21:05] jpeach commented on #2662
xref https://github.com/envoyproxy/envoy/pull/12065

[2020-07-13 21:17] skriss commented on #2681
It does look like we have runtime code to check that exactly one of `Services` or `Include` is specified -- see https://github.com/projectcontour/contour/blob/master/internal/dag/builder.go#L983-L986 and https://github.com/projectcontour/contour/blob/master/internal/dag/builder.go#L1008-L1012. So I think we probably just want to remove the kubebuilder validation.

@glerchundi are you interested in

[2020-07-13 21:38] skriss commented on #2225
Still to do:
- [ ] finalize documentation for each config field (https://github.com/projectcontour/contour/pull/2676)
- [ ] potentially address https://github.com/projectcontour/contour/pull/2675#discussion_r453927413
- [ ] confirm we're happy with the field names

[2020-07-13 22:20] jpeach commented on #2633
Unfortunately I don't see a good place for this in the current docs structure. Let's capture the test in an issue and we can revisit it in the future.

[2020-07-13 23:01] #2641 closed

[2020-07-13 23:04] youngnick commented on #2679
Hi @dsvetl, thanks for logging an issue. We need a little more information to be able to answer.

How do you want routing on request methods to work, in an ideal world? What do you want to achieve with it?

[2020-07-13 23:33] jpeach commented on #2459
See https://github.com/projectcontour/contour-authserver

[2020-07-14 06:44] youngnick commented on #2645
The big reason we don't already have selector-style inclusion is the conflict-resolution behaviour.

What happens when two HTTPProxies are included that have matching prefixes? Right now, these are both called invalid, and any associated configuration is removed from Envoy. This means that if you are including on a selector, and two things included on that selector conflict, neither will have any

[2020-07-14 06:56] youngnick commented on #2206
Sorry to take a long time to come back to you @thprice.

There's a few things to cover here.
Firstly, we handle partial validity poorly at the moment. This is something I'm working towards fixing by adding Conditions to HTTPProxy (#2642), and then being able to tell you when your proxy is partially valid. This would cover the "two teams, one deletes their include and takes down the other team" cas

[2020-07-14 07:13] jpeach opened #2683 "Adopt the controller-runtime cache."
**Please describe the problem you have**

controller-runtime has a [caching informer](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/cache#Cache) implementation that we could adopt without without necessarily adopting the rest of the framework. Since we are now doing more work with informers, and the cache has more types in it, this could be useful.

[2020-07-14 08:42] dsvetl commented on #2679
Hi @youngnick

In an ideal world, all envoy dynamic parameters can be configured through the xDS API and we have such an xDS provider.

What i'll glad to see? Something like this:
* https://istio.io/latest/docs/reference/config/networking/virtual-service/#HTTPMatchRequest
* https://docs.solo.io/gloo/1.0.0/gloo_routing/virtual_services/routes/matching_rules/http_method_matching/

What will the rout

[2020-07-14 10:05] glerchundi commented on #2681
Sure, happy to send a PR.

[2020-07-14 15:37] #2681 closed

[2020-07-14 17:20] rfletcher commented on #2645
Understood. Thanks for the explanation.

[2020-07-14 17:52] glerchundi commented on #2681
Do you think this is worth backporting to the 1.6 branch? Being a bug
probably means it is but wanted to check with you first.

I’m happy to send another PR to replicate this one into the stable version.

On Tue, 14 Jul 2020 at 17:37, Steve Sloka <notifications@github.com> wrote:

[2020-07-14 19:38] skriss commented on #1789
@stevesloka now that #2655 is merged, can this issue be closed out?

It does look like there are still a handful of misc. references to IngressRoute in docs, function names, etc. - I can work on removing the remaining ones.

[2020-07-14 19:50] stevesloka commented on #1789
@skriss yup we can remove.  I'm not sure what's left in the repo, I thought I did a good comb through after @youngnick did. Feel free to add another PR to clean that up. =)

[2020-07-14 19:51] #1789 closed

[2020-07-14 23:01] michmike opened #2688 "Onboard Contour to get CII badge"
Onboard Contour to https://bestpractices.coreinfrastructure.org/

Achieve at least passing rate

Add the badge to our main github repo

[2020-07-14 23:01] davecheney commented on #1789
Excellent. Please continue to erase my mistakes.

[2020-07-15 00:55] jpeach commented on #2688
I tried this, and the CII Github login doesn't let me select contour as a repository. Maybe someone else will have better luck.

[2020-07-15 00:58] youngnick commented on #2688
I think the projectcontour organisation needs to have the CII integration enabled. Maybe @jonasrosland or @skriss can tell us more.

[2020-07-15 00:59] youngnick commented on #2688
I've assigned Jonas and Steve to this one as the people who know the most about this. Please reassign yourselves if you need someone else to pick it up.

[2020-07-15 01:00] jpeach commented on #2673
We discussed offline and agreed to not do a ` v1.6.2` release. Contour 1.7 will have the latest Envoy 1.15.0 version so there's nothing more to do here.

[2020-07-15 01:05] youngnick commented on #2679
Thanks @dsvetl. In Contour, we try to be deliberate about what Envoy parameters we expose. See our [philosophy document](https://projectcontour.io/resources/philosophy/) for more, although it needs an update since we're in the process of [tweaking it a little](https://projectcontour.io/contours-landscape-jul-2020/).

It sounds like what you're asking for would be met by us adding a `method` option

[2020-07-15 01:59] jpeach commented on #2051
Removing this from the prioritize backlog because it is blocked upstream.

[2020-07-15 02:00] jpeach commented on #2326
Should this still be in the prioritized backlog? It seems like a research project that needs scoping.

[2020-07-15 02:14] michmike commented on #2326
we can leave it there for now. there are asks on this from users, so part of the initial work includes scoping/research and potentially a prototype/POC

[2020-07-15 02:15] michmike commented on #2051
@jpeach i would prefer we add the blocked tag and leave it in the backlog. we still want to do it at the current priority or as soon as possible given the upstream block. can you please make the changes?

[2020-07-15 02:17] jpeach commented on #2326
Can you please add links to those?

[2020-07-15 02:18] jpeach commented on #2051
I can move out back, but I don't see the benefit of having issues in the prioritized queue that can't be worked on.

[2020-07-15 03:13] youngnick commented on #1269
Thanks for the comment @kriswuollett, and the reasons for using Contour.

To address your two points:
- Right now, yes, the only way to do the thing you want is to have multiple routes that go to the same service. This is because the conditions map pretty closely to filters that will be applied inside the Envoy config. I don't think it's as simple as just allowing multiple prefixes and assuming th

[2020-07-15 07:46] stefanprodan commented on #2050
FYI Bitnami maintains a Contour Helm chart here https://github.com/bitnami/charts/tree/master/bitnami/contour and they build their own container images https://github.com/bitnami/bitnami-docker-contour

I would personally prefer to use the official Contour/Envoy container images, but that chart seems to have all the options one would need to deploy Contour.

[2020-07-15 07:51] dsvetl commented on #2679
[code]

[2020-07-15 07:57] dsvetl commented on #2679
@youngnick, thanks for detail answer.

f.e. this is will be HTTPProxy block correct?

[code]

[2020-07-15 12:11] kriswuollett commented on #1269
Hi @youngnick, thanks for getting back to me! I ended up figuring out the cross-namespace setup. Along with the client TLS option, Contour is working fine for me.

The only thing I can think of that I'd be interested in the future is the existing feature request for rate limiting -- with it for some use cases I'd drop TLS client verification. Ideally traffic should be stopped at ingress if possibl

[2020-07-15 13:26] alexbrand commented on #2615
+1

[2020-07-15 13:37] michmike commented on #2050
this is very cool. i didn't know that @stefanprodan . @jpeach , if the bitnami chart is adequate and sufficient, maybe we can start with that and over time help the bitnami team make that helm chart better (if that's necessary)

[2020-07-15 13:53] #2219 closed

[2020-07-15 15:56] skriss opened #2690 "move serveContext.RequestTimeout into TimeoutConfig and drop old field"
Spun out from #2225:

[2020-07-15 20:24] alexbrand opened #2691 "Contour philosophy doc seems to contradict edge TLS termination feature"
The [philosophy doc](https://projectcontour.io/resources/philosophy/) mentions:

However, we have [first-class support for TLS termination at the edge](https://projectcontour.io/docs/master/httpproxy/#tls-termination-at-the-edge) when using tcpproxy in HTTPProxy resources.

To me, this feels like a slight contradiction? I am wondering if I am misunderstanding something, or if it's worth updating t

[2020-07-15 20:49] alexbrand opened #2692 ""Making cert-manager work with HTTPProxy" docs talk about unknown ingress-shim"
The Making cert-manager work with HTTPProxy section of the [cert-manager guide](https://projectcontour.io/guides/cert-manager) mentions an `ingress-shim` but it is not clear what `ingress-shim` is.

[2020-07-15 20:50] alexbrand commented on #2692
I wonder if it is referencing the Ingress resource that needs to be created to make cert-manager work with HTTPProxy. If that is the case, I can open a PR to update the name of that ingress resource from `httpbinproxy` to `ingress-shim`.

[2020-07-16 14:49] Zsolt-LazarZsolt opened #2693 "Envoy per route health checking not working as expected"
**What steps did you take and what happened:**
I used contour 1.4
Installed a simple one pod backend which beside answering, logs all access.

Set up an httpproxy object with health check policy:
    healthCheckPolicy:
      path: /health
      intervalSeconds: 10
      timeoutSeconds: 2
      unhealthyThresholdCount: 3
      healthyThresholdCount: 5

I was surprised to see, that instead of the se

[2020-07-16 15:14] bitva77 commented on #432
No pressure or anything but I just want to say that this feature lacking will keep us from using Contour.  We currently use Nginx for external auth to a service via `nginx.ingress.kubernetes.io/auth-url`.

This looks to be the only major feature missing from a company like ours from adopting Contour as our ingress controller standard.  Using projects with official CNCF love is very important to us

[2020-07-16 15:59] skriss commented on #2691
+1 I had the same observation when going through these docs, it'd be great to reconcile these statements.

[2020-07-16 16:03] skriss commented on #2692
I found [these cert-manager docs](https://cert-manager.io/docs/usage/ingress/) that cover `ingress-shim` (subcomponent of cert-manager). It'd be great to clarify our docs to include a link or otherwise explain this better.

[2020-07-16 17:41] skriss commented on #2688
https://bestpractices.coreinfrastructure.org/en/projects/4141

[2020-07-16 17:50] #2688 closed

[2020-07-17 03:01] jpeach commented on #432
This is coming though it won't be a drop-in replacement for nginx auth; take a look at #2643.

[2020-07-17 03:49] jpeach commented on #2664
/cc @robinfoe

[2020-07-17 05:35] #2633 closed

[2020-07-17 07:16] jpeach commented on #2683
I'm thinking that I should tackle this before informing on `ExtensionService` resources for auth. In my PoC branch, it is a bit  repetitive to add the new type into the cache.

However, this will be a fair chunk of refactoring
- controller-runtime doesn't use namespaces informer factories, so root namespaces needs a refactor
- the clients of the KubernetesCache can't reach its internals any more,

[2020-07-17 09:13] jpeach commented on #1821
@tthebst I'd prefer to not take a dependency on yq. Maybe we can whack this with sed?

[2020-07-17 14:08] ffahri commented on #2589
Hey i want to change this, is it okey to use object.GetResourceVersion() ? @jpeach

[2020-07-17 15:39] tthebst commented on #1821
@jpeach editing yaml's with CLI is painful. Especially because its labeling is inconsistent across `example/*.yaml`

My idea would be to add sth like to the examples file where appropriate.

[code]
This would make it very easy to do `sed` and replace the values with the correct ones when creating the `contour.yaml` file. The drawback is that I would have to edit the `example/` files and I don't kn

[2020-07-17 16:11] andrewsykim opened #2696 "EndpointSlice Support"
EndpointSlice is now enabled by default in Kubernetes and offers some solid performance benefits for clusters with large Endpoint sets. It might be worthwhile to support consuming EndpointSlice, at least as optional.

[2020-07-17 18:35] skriss opened #2697 "Reconcile timeout syntax between config file and HTTPProxy API"
There are some inconsistencies in the syntax for timeouts between the `contour serve` config file and the HTTPProxy API.

In the HTTPProxy API:
- `infinity` is a valid timeout value and results in a `0s` being explicitly passed to Envoy (which Envoy generally interprets as disabling the timeout in question)
- `0` is interpreted as if the timeout were not specified, and results in no value being pa

[2020-07-17 23:17] jpeach commented on #1821
Yeh, in the absence of something like #2088 that's the best we can do I think.

[2020-07-19 03:46] jpeach commented on #1821
One thing to try is to set the version to `master` on the main yaml, then sed that to the real version in `make generate`

[2020-07-19 11:00] ffahri commented on #2589
I was confused with the resourceVersion sorry, we can get apiVersion with using same as
k8s.kindOf  -> k8s.apiVersionOf func, and retrieving the version from that function ?
I thought maybe we can use unstructured type for this but it says
[code]
https://godoc.org/github.com/kubernetes/apimachinery/pkg/apis/meta/v1/unstructured

So another option can be a jsonpath of the $object.apiVersion what is

[2020-07-19 20:25] tthebst commented on #1821
@jpeach Thanks for the response. Also, do you think it makes sense to use all standard labels
[code]

Or only use a selection. For example only
[code]

[2020-07-19 21:40] jpeach commented on #1821
I think that selection makes the most sense, "name" and "version" are the most useful, "part-of" could be a useful, but not so sure about it.

[2020-07-19 21:59] jpeach commented on #2589
Yeh we will need something like this, since it's difficult to guarantee that the resource meta is populated in all cases.

This is fine, because every resource we deal with does use the meta v1 schema.

[2020-07-19 23:05] youngnick commented on #2696
Thanks for raising this @andrewsykim, totally agree that we should support consuming EndpointSlice in some fashion.

[2020-07-19 23:15] youngnick commented on #1821
I like the idea of having `name` and `version` in the standard label format, it could be that `instance` may be useful down the road to help with multiple-Contours-in-one-cluster usecases, but just adding `name` and `version` is a great start.

Editing the example YAMLs for this purpose is fine. I'd also echo @jpeach and say that it's probably better to set the version to `master` on master, and s

[2020-07-20 00:41] youngnick commented on #2697
I think that adding `disabled` is probably good, it's certainly a clearer way to indicate that the timeout is disabled. I love the idea of making things consistent everywhere though, and the PR.

[2020-07-20 12:11] tthebst commented on #1821
@youngnick @jpeach

I think `part-of` could be used like this. It probably also makes sense to set `app.kubernetes.io/name:` to the same value as `name`

[code]

[2020-07-20 14:13] stevesloka commented on #2692
I always thought the `Certificate` object was a cleaner approach when not using Ingress objects: https://github.com/projectcontour/contour/issues/2018

[2020-07-20 18:30] alexbrand opened #2702 "Enabling passthrough on an HTTPProxy that has routes breaks TLS"
**What steps did you take and what happened:**

TL;DR: HTTPS routing to an HTTPProxy with `routes` stops working when `virtualhost.tls.passthrough: true`

1. Created the following HTTPProxy resource:
[code]

2. Validated that the service is reachable

[code]

3. Flip the passthrough flag to `true` in the HTTPProxy

4. The service is no longer reachable over HTTPS:

[code]

The service is available

[2020-07-20 19:03] alexbrand commented on #1723
+1

[2020-07-20 19:04] alexbrand opened #2703 "Document valid options for HTTPProxy spec.routes.services[].protocol"
**Please describe the problem you have**
Document valid options for HTTPProxy `spec.routes.services[].protocol`

[2020-07-20 20:04] stevesloka opened #2704 "cmd/shutdownmanager: Change listen port to only listen on 127.0.0.1"
The shutdown manager exposes two endpoints to the pod. One is to verify health of Envoy, the other is to initiate a shutdown sequence by handling the pods `preStop` hook, however, the pod by default listens on `:8090`, so if the pod is using `hostNetwork: true`, this endpoint is exposed to the network.

We should change the listener to only use `127.0.0.1` so in this case, it's only accessible fro

[2020-07-20 20:51] stevesloka opened #2705 "cmd/shutdown-manager: Use new drain_listeners command"
The shutdown-manager still begin the listener drain sequence by setting Envoy to fail it's health checks. This should change to use the new `drain_listeners?graceful` command from the Admin UI (https://www.envoyproxy.io/docs/envoy/v1.15.0/operations/admin#post--drain_listeners?graceful)

[2020-07-20 22:15] skriss commented on #2703
@alexbrand these are documented in the [API reference](https://projectcontour.io/docs/v1.6.1/api/#projectcontour.io/v1.Service); are you looking for it to be documented on https://projectcontour.io/docs/v1.6.1/httpproxy/ as well?

[2020-07-20 22:17] alexbrand commented on #2703
Aaaaah there we go! I was having the hardest time finding the API reference for some reason. I kinda assumed that the HTTPProxy reference was the API reference for the HTTPProxy resource. This is my bad.

[2020-07-20 22:33] jpeach commented on #2703
Those docs need to be broken down into more digestible chunks https://github.com/projectcontour/contour/issues/2070

[2020-07-20 22:37] jpeach commented on #1821
If we had kustomize, we could make it work https://github.com/projectcontour/contour/issues/2088

[2020-07-20 23:04] youngnick commented on #1821
I think it's okay to skip them to start with and come back later to add the labels either by kustomize, or some other method.

[2020-07-20 23:13] youngnick commented on #2692
The `Certificate` object is absolutely a cleaner approach, but will require quite a bit of product work to figure out the best way to emit it, to control when we emit it, to determine how we check the state and surface that back to the HTTPProxy, and so on.

[2020-07-20 23:18] youngnick commented on #2692
Also, yes, I think that the `ingress-shim` parts either need to explain that `ingress-shim` is part of cert-manager, or we just shouldn't mention it, and just call the ingress doc a dummy one and say it's "to kick off the cert-manager certificate creation flow".

[2020-07-21 03:37] jpeach commented on #2705
What's the semantic difference between this and what the shutdown manager is currently doing?

[2020-07-21 03:53] jpeach commented on #2697
👍

Just to quibble with this a bit, disabling a timeout means that the operation doesn't time out, so that's equivalent to timing out after "infinity". When you look at it this way, a drain timeout of "infinity" does make sense (it means you can wait forever for the drain to occur).

Yup, just need to ensure the API reference has useful information about the default.

If timeouts are always string

[2020-07-21 03:58] youngnick commented on #2697
I agree with James here, about everything he mentioned, and would like to strongly recommend we put anything unparseable in a HTTPProxy into either a validation error or warning in the new status condition. I'm just wrapping up the docstrings for adding that to HTTPProxy today.

[2020-07-21 04:03] youngnick commented on #2702
I'm not one hundred percent sure, but I believe that the HTTPProxy routing insecure traffic to port 80 when `passthrough: true` is set was there at a customer request - to allow basically the same function as the insecure redirect does when terminating TLS.

I agree that a HTTPProxy with `passthrough: true` should have a `tcpproxy` block, or should be invalid.

[2020-07-21 09:31] tthebst commented on #1821
So I think the easiest way to label everything is `kubectl label`. This will label all the resources with the standard labels `app.kubernetes.io/part-of` and `app.kubernetes.io/version`. The standard label `app.kubernetes.io/name` is manually added to all the resources in `example/contour` which are not generated. The generated resources will not have this standard label `name` but the labels `par

[2020-07-21 15:22] Zsolt-LazarZsolt commented on #2693
I got an answer on the envoy forums, there is a parameter in envoy no_traffic_interval which actually defaults to 60 sec.
I have to check but it seems not to be settable in the httpproxy object yet.

[2020-07-21 16:29] skriss commented on #2697
I agree that "infinity" is equally valid as "disabled" in most places. The problem with drain_timeout is that disabling it, by passing a 0, results in Envoy sending the second GOAWAY frame immediately after the first, rather than waiting an infinite amount of time. It's really not a timeout in the sense of "wait up to a certain amount of time for something to happen", it's just a fixed grace perio

[2020-07-21 17:55] stevesloka opened #2709 "site/guides: Review cert-manager guide"
The cert-manager guide has a statement that Contour won't see the resource since it doesn't have the `ingress-class` annotation. Contour will "see" this resource and use it to make the HTTP01 challenge work to generate the certificate unless a specific ingress class is configured for Contour.

Also the annotation referenced earlier is: `kubernetes.io/ingress.class: contour` which I think is what t

[2020-07-21 18:30] #2692 closed

[2020-07-21 19:24] skriss commented on #2070
Yeah, and in the TOC it/they should be called something other than "HTTPProxy **Reference**", since there's also an "API Reference" page which is a true reference.

[2020-07-21 19:35] moderation commented on #2608
Wondering if this TCP bug fixed in Envoy 1.15.0 is a contributing factor to this issue? https://github.com/envoyproxy/envoy/issues/12197#issuecomment-661649308

[2020-07-21 21:11] skriss commented on #2693
ref. https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/health_check.proto
@Zsolt-LazarZsolt you are correct, there is not currently a way to tune this setting via Contour/HTTPProxy.

[2020-07-21 22:09] skriss commented on #2225
I'm going to close this out as the discussed timeouts have been added as options to the config file and documented. There's some additional work I'm still doing to reconcile the timeout syntax between the API and the config file (see #2697 and #2698), and #2690 has been created to cover moving `request-timeout` and adding min and max settings.

[2020-07-21 22:09] #2225 closed

[2020-07-21 22:10] skriss commented on #2247
this was closed by #2670.

[2020-07-21 22:10] #2247 closed

[2020-07-21 22:15] jpeach opened #2710 "Auth: Add ExtensionService CRD"
**Please describe the problem you have**

Add the ExtensionService CRD types. This should not be installed to clusters yet (until the whole feature is ready for release).

xref #432
xref #2643

[2020-07-21 22:16] skriss commented on #2703
Sounds like we can close this out and tackle some docs reorg in the linked issue; feel free to reopen this if you disagree.

[2020-07-21 22:16] #2703 closed

[2020-07-21 22:16] jpeach opened #2711 "Auth: Enable ExtensionService CRD"
**Please describe the problem you have**

Enable installing the ExtensionService CRD.

xref #432
xref #2643
xref #2710

[2020-07-21 22:19] jpeach opened #2712 "Auth: Add an Informer to watch ExtensionServices"
**Please describe the problem you have**

Add an informer path so that Contour watches and caches ExtensionServices resources.

xref #432
xref #2643

[2020-07-21 22:21] jpeach opened #2713 "Auth: Create Envoy clusters from ExtensionServices"
**Please describe the problem you have**

Refactor the services code so that it can be substantially shared between Routes and ExtensionServices. Add DDAG support for generating Envoy clusters that from ExtensionServices.

xref #432
xref #2643

[2020-07-21 22:25] jpeach opened #2714 "Auth: Watch ExtensionServices availability and update Status conditions"
**Please describe the problem you have**

Add a background watcher in Contour that keeps track of the endpoints that back the Services referenced from an ExtensionService and exposes that information in the Status of the ExtensionService. This should make it easier for operators to triage problems with collaborating extension services.

xref #432
xref #2643
xref #2325

[2020-07-21 23:59] jpeach opened #2715 "Auth: Add HTTPProxy authorization fields"
**Please describe the problem you have**

Add the `AuthorizationExtension` and `AuthorizationPolicy` fields to the `HTTPProxy` API. Use these fields to program the Envoy `ext_authz` filter.

Make sure to clarify Envoy semantics in documentation
- FailOpen field -> Envoy `status_on_error`
- Context feel -> Envoy `context_extensions`

xref #432
xref #2643

[2020-07-22 00:01] jpeach opened #2716 "Auth: Add external authorization documentation"
**Please describe the problem you have**

Document external authorization for Contour. This should include some information for

* users - how to use the API
* operators - how to deploy and operator external auth services
* implementors - how to implement an external auth service

xref #432
xref #2643

[2020-07-22 00:05] jpeach opened #2717 "Auth: Add external auth integration tests"
**Please describe the problem you have**

Add integration tests to cover the major points of the external auth API. Ensure that context is provided properly, along with fail open, enable/disable and other API fields.

xref #432
xref #2643

[2020-07-22 00:07] jpeach commented on #432
Blocked by:

- [ ] Auth: Add ExtensionService CRD #2710
- [ ] Auth: Enable ExtensionService CRD #2711
- [ ] Auth: Add an Informer to watch ExtensionServices #2712
- [ ] Auth: Create Envoy clusters from ExtensionServices #2713
- [ ] Auth: Watch ExtensionServices availability and update Status conditions #2714
- [ ] Auth: Add HTTPProxy authorization fields #2715
- [ ] Auth: Add external authorizatio

[2020-07-22 00:24] jpeach commented on #2459
This issue has served its purpose. Thanks for all the feedback.

[2020-07-22 00:24] #2459 closed

[2020-07-22 00:35] youngnick commented on #2608
@moderation I don't think it's possible to tell at this point.

Rereading this ticket, it seems that @senthilrameshjv is using the TCPProxy forwarding for a TLS-secured, but non-HTTP protocol. Please correct me if I'm wrong, but I don't think JDBC uses HTTP as a transport.

We've built the TCP Proxy support into HTTPProxy with the main intent of having people use it for passing through HTTPS conne

[2020-07-22 00:58] youngnick commented on #2693
I guess Envoy has made the assumption that if there's no traffic going to a service, you can probably check if it's up less frequently. In a large-scale deployment, I can see this being very important and saving a lot of bandwidth.

This seems like Envoy's desired behavior, @Zsolt-LazarZsolt, would you like anything further done on this issue?

[2020-07-22 02:06] jpeach commented on #2697
In this case, I'd argue that it is a timeout in the sense of "wait up to a certain amount of time before doing something". Adding the explicit `disabled` representation would let us correctly handle this (by contextually setting an infinite duration), but that would give a nonsensical result (the session would never drain) which we probably ought to disallow in validation.

In this particular case

[2020-07-22 07:04] Zsolt-LazarZsolt commented on #2693
Hi @youngnick

I think the provided answer is satisfactory, thank you for your time :)

[2020-07-22 07:04] #2693 closed

[2020-07-22 12:59] tthebst commented on #2623
@jpeach You can enable strict yaml parsing. This would have prevented the error. Your example would have given this error:

[code]

I think the error message could be improved because it is not obvious that it is an error with the config map.

[2020-07-22 15:48] moondev opened #2720 "Httpproxy configured with fallback certificate fails when SNI not included"
According to https://projectcontour.io/docs/v1.6.1/httpproxy/ the new fallback certificate feature is designed to present the specified certificate in scenarios where the client does not send SNI.

The use-case for not sending SNI is required for some load balancers such as f5.

**What steps did you take and what happened:**

Deploy tls secrets + contour with the following configmap to enable fall

[2020-07-22 19:23] skriss commented on #2697
OK, so if we un-special-case 0 per the below discussion, then a user can specify a 0 drain_timeout if that's what they want. Additionally, we can explicitly disallow `infinity` for this field, since it's nonsensical. If we do those things, then we don't need to add a `disabled` keyword, since `infinity` works fine for other fields, and 0 works for this field.

I *think* that should be workable for

[2020-07-22 20:45] stevesloka commented on #2720
Can you please provide the envoy config that is in use for this configuration? It's in the Admin page under `config_dump`. Also please redact any tls secrets that you would not want to be shared publically.

[2020-07-23 01:00] jpeach commented on #2697
Thanks for clarifying, @skriss I lost track of the thread a bit :)

So, I think that since we have explicit timeout string semantics now, we should not combine these with implicit Envoy interpretations. I agree with your original proposal to treat "0s" and "" the same. Since the config file parsing has treated "0s" as "infinity", I also agree we need to think the compatibility issue through for th

[2020-07-23 01:10] youngnick commented on #2697
So here's what I think we should do for the config file timeout, since there's only one (This is covered by #2690):
- We add a new `requestTimeout` field to the `timeouts` stanza. This has the same behavior as all the other timeouts (that is, `0s` means "use the default", not "disable"). It should be clearly called out in the documentation for this field that the semantics have changed from the st

[2020-07-23 02:18] youngnick commented on #2720
Seems like @moondev is saying that the feature doesn't work as intended, so I've asked @jpeach to check this out urgently. That way, once we find out what's going on, we can get a fix in for 1.7.

[2020-07-23 04:17] #2720 closed

[2020-07-23 04:25] youngnick commented on #2623
Seems like this would be a good, quick way to get some feedback over parsing errors in the YAML. It does run a risk of breaking someone who currently has a broken config file, but that's probably okay.

It also does mean that if we remove fields from `serveContext`, then we'll need a slightly different deprecation and removal flow:
1. Mark the field as deprecated, log a warning.
2. Mark the field

[2020-07-23 06:05] #2710 closed

[2020-07-23 15:52] skriss commented on #2690
Note that per https://github.com/projectcontour/contour/issues/2697#issuecomment-662772957, the new field will use the standard timeout syntax, which is slightly different from the existing syntax for RequestTimeout. Make sure to call this out in docs.

[2020-07-24 03:48] #2712 closed

[2020-07-24 17:01] skriss opened #2728 "improve validation around user-specified timeout values"
Currently, if an unparseable timeout value is specified in either the config file or in a `TimeoutPolicy` field in an `HTTPProxy` route, the parse error is swallowed and the timeout is disabled/set to infinity.

There are a few things we can do to improve this:
- for the HTTPProxy fields, add kubebuilder validations (e.g. `+kubebuilder:validation:Pattern`)
- for HTTPProxy, if there's an unparseabl

[2020-07-24 17:01] skriss commented on #2697
considering this closed by #2698 and #2721. I opened #2728 to track handling parse errors across the board (config file, HTTPProxy, Ingress).

[2020-07-24 17:01] #2697 closed

[2020-07-24 20:18] stevesloka opened #2729 "TCP Socket Keepalives running on osx not working"
Since adding TCP Socket keepalives in #2638 we cannot run Contour on a mac and Envoy in a cluster. Doing so reports the following errors:

[code]

When running Contour inside the cluster, all works as expected.

[2020-07-24 20:44] jjimenezmont opened #2730 "Support for adding a wildcard certificate in contour"
Hi, I'm trying to deploy a wildcard certificate with contour (*.example.com). I've read some guides like these: https://projectcontour.io/docs/master/httpproxy/ and https://projectcontour.io/guides/cert-manager/

****I've done the following steps:**

**I've created a secret tls as follows:**

kubectl create secret tls wildcard-certificate-secret --key path_private_key --cert path_public_key -n pro

[2020-07-24 21:10] stevesloka commented on #2729
Confirmed that everything works on a linux box fine, so it's specific to osx and the new TCP settings.

[2020-07-24 22:48] jpeach commented on #2729
What OS is envoy running on?

[2020-07-25 04:02] stevesloka commented on #2729
Contour running on my mac with Envoy running on Linux inside a kind cluster.

[2020-07-25 04:10] jpeach commented on #2729
Oh I know, the problem is that the ordinal values for `syscall.SOL_SOCKET`, `syscall.IPPROTO_TCP`and `syscall.SO_KEEPALIVE` are not the same. We pass the Darwin values not the Linux values

[2020-07-25 04:11] jpeach commented on #2729
This should be a blocker for 1.7 ... feel free to assign to me.

[2020-07-25 14:21] stevesloka commented on #2729
Yup! =)

[2020-07-25 16:32] mattmoor commented on #2151
So with the scheme I just implemented in our net-contour controller, before we update our core `HTTPProxy` resources we first create an "endpoint probe" configuration that creates a virtual host per K8s service referenced in the new spec.  It then probes each of these services for readiness before finally going back and updating the core `HTTPProxy` resources.

This guarantees that every single En

[2020-07-26 00:15] mattmoor commented on #2151
Turning on the Envoy debug logging is a bit more useful.  For every `503 NR`, we hit one of [these](https://github.com/envoyproxy/envoy/blob/c423b043d4b1662a23c5a5db9471b9ec29a10f26/source/common/router/router.cc#L464) log statements (which others may find obvious 😅).  This let me look at the lifecycle of the cluster in question, and it is very clearly serving a 503 based on the cluster that's goi

[2020-07-26 01:59] mattmoor commented on #2151
With a PoC of this, I now have two clean runs of the full Knative networking conformance (each running 5x) without any 503s.  I also have two more runs of 5x just TestUpdate without 503s.

I will try to get this cleaned up and checked in to the continuous build can beat on it, but I'm fairly optimistic 🤞

[2020-07-26 04:57] moondev opened #2733 "Curl request hangs when SNI is omitted (httpproxy fallback certificate mode)"
@jpeach and I have been actively investigating this. We succeeded in reliably recreating it and James has already developed a fix. This issue is for tracking purposes so we can document when the fix is merged. Thanks James!

**What steps did you take and what happened:**

This is similar, but separate from the previously filed https://github.com/projectcontour/contour/issues/2720

While the correc

[2020-07-26 23:09] jpeach commented on #2733
I have the fix, and will post a PR later today. Just looking at how to write an integration test for this case.

[2020-07-27 04:18] jpeach commented on #2733
Integration test will need to wait for a separate PR; it still needs some manual steps ATM.

[2020-07-27 13:48] #2729 closed

[2020-07-27 15:11] skriss commented on #2730
@jjimenezmont it sounds like you may be running into a couple of issues related to the fallback certificate feature: https://github.com/projectcontour/contour/pull/2723 (merged into master but not yet released) and https://github.com/projectcontour/contour/pull/2734 (not yet merged).

We'll have these fixes in the 1.7 release, which is scheduled to be out shortly.

[2020-07-27 18:51] ffahri commented on #2589
Hey @jpeach i tried out with different thing and succeeded but
[code]

however you said

could you give an example for this and I guess that makes the implementation above deficient.

[2020-07-27 21:53] #2733 closed

[2020-07-28 07:07] jpeach opened #2737 "Locally validate Envoy protobufs before committing them."
**Please describe the problem you have**

The go-control-plane package contains generated protobuf validation code for all the Envoy resource types. We should figure out how to locally run this validation and emit the error in Kubernetes resource status before trying to program the result into Envoy.

[2020-07-28 07:14] jpeach commented on #2737
https://github.com/envoyproxy/go-control-plane/blob/master/envoy/api/v2/listener.pb.validate.go#L45

[2020-07-28 13:56] moderation opened #2738 "Behavior on non-existent wildcard URLs"
**What steps did you take and what happened:**
When requesting a non-existent wildcard URL Contour 1.3.0 returns a SSL error in the browser. In Contour 1.6.1 the connection hangs not returning a 404 which is expected behavior, and doesn't return a SSL error

### Valid URL

#### NGINX

[code]

#### Envoy 1.3.0

[code]

#### Envoy 1.6.1

[code]

### Invalid URL

#### NGINX

[code]

#### Envoy 1.3.0

[2020-07-28 14:11] moderation commented on #2738
Original issue https://github.com/projectcontour/contour/issues/982 was closed as a dupe of https://github.com/projectcontour/contour/issues/320 which is still open.

[2020-07-28 14:19] stevesloka opened #2739 "internal/envoy: Refactor httpConnectionManagerBuilder"
The httpConnectionManagerBuilder in internal/envoy/listener.go needs some love. Many of the builder commands aren't optional and should be refactored to always be present.

Additionally, we shouldn't use the same builder helper methods in the tests to validate the results, we're essentially just doing a no-op test that validates our helpers work, not that we're producing proper output to Envoy.

_

[2020-07-28 17:21] bgagnon opened #2742 "Some admission control support for validating local issues"
For user errors than can be validated without resolving other nodes in the DAG, admission control would provide a better user experience than the current asynchronous system of flagging the proxy object as "invalid".

Some validation points require late binding and couldn't be covered here:
* TLS secret existence or validity of contents
* upstream service existence
* inclusions and delegations
* e

[2020-07-28 17:23] bgagnon commented on #2742
Also, I think a DAG-aware admission controller is possible if Contour itself is serving the admission controller webhook, but I'm not sure it's a good idea to force DAG nodes to be created in a topological order to avoid admission errors. This isn't true of normal Kubernetes objects in general (eg. `Service` and `Pod` can be created in any order and eventually find each other).

[2020-07-28 19:51] skriss opened #2743 "SNI integration test is flaky"
See https://travis-ci.com/github/projectcontour/contour/jobs/365814535

Some relevant output:
[code]

[2020-07-28 21:38] jpeach commented on #2742
How far can you get with https://github.com/open-policy-agent/gatekeeper ?

[2020-07-28 21:39] jpeach commented on #2690
Did anyone investigate using an admission controller (e.g. [gatekeeper](https://github.com/open-policy-agent/gatekeeper)) to enforce this policy? If we add policy controls for every field, configuration will get rapidly out of hand. It's also way better to give policy errors before a resource enters the cluster if possible.

[2020-07-28 21:51] jpeach commented on #2738
These issues are for service custom error status pages. IIUC, that's not the problem you are describing here.

Can you please explain this more precisely? Is your config that you have a wildcard certificate for `*.<type>.<cluster>.<datacenter>.<platform>.<domain>.<suffix>`, but no HTTPProxy virtual host for `prometheusdoestnotexist.<type>.<cluster>.<datacenter>.<platform>.<domain>.<suffix>`? In th

[2020-07-28 22:00] jpeach commented on #2743
I've never seen these error running locally, but it makes sense that we could see new errors on oversubscribed Travis infrastructure.

[code]

Not sure about this, running with `--trace=rego` might help debug.

[code]

Looks like the resources from the previous test failure weren't deleted.

[code]

There's some Envoy problem that makes it not listen :(

[2020-07-28 23:20] michmike opened #2744 "Using more inclusive language in Contour"
we need to be using inclusive language throughout contour

action items
1. replace master -> main
2. run vale tool to identify insensitive language in docs/code

Reference - https://docs.google.com/document/d/1bnPvb6oE07Wg9rb7kBXcpHe6j85bbyltdc0h0_gil88/edit

[2020-07-28 23:20] michmike commented on #2744
cc: @stevesloka  and @jonasrosland
Steve mentioned he would pick this up for 1.8

[2020-07-29 16:19] skriss commented on #2690
I did not; I was going off of @youngnick's spec. I can play around with gatekeeper if we're interested.

[2020-07-29 16:37] stevesloka commented on #2690
I think you probably still need the validation checks in Contour even with an admission controller. Folks would have to buy into that configuration and it sort of feels like client-side validation where you'd still want the check on the backend.

[2020-07-29 20:17] zianke commented on #2696
Hi Team. Agree that Contour should support EndpointSlice in the future. I just discussed with @stevesloka and would like to start working on an experimental implementation. Will send you an update once it's done.

[2020-07-29 20:36] skriss commented on #2501
godoc on `TLS.Passthrough`:

[code]

Should we do what the godoc says, and ignore `SecretName` if `Passthrough == true`? Or should we mark it invalid with an accurate error (that they can't both be set)?

[2020-07-29 22:29] stevesloka commented on #2743
I've been running builds all afternoon testing https://github.com/projectcontour/contour/pull/2747 and haven't really run into any integration errors.

[2020-07-30 00:16] jpeach commented on #2589
The problem is that, depending on which client-go APIs are used to convert from unstructured resources to typed resources, the version fields can be dropped. My concern here is that we add an API that works at the time of writing, but then starts to fail in certain call paths because of changes in the way we use other client-go APIs. That's why I'm suggesting a wrapper that tries to extract the ve

[2020-07-30 06:49] jpeach commented on #2713
The `ExtensionService` type has a slice of Contour Services (not the same as Kubernetes Services) so that an operator can weight requests between multiple Kubernetes Services, giving them more flexibility to split traffic between Kuberenetes Services that implement the same GRPC endpoints. This is the same flexibility that `HTTPProxy` provides on for routes.

Internally, the Contour EndpointsTrans

[2020-07-30 14:18] #2200 closed

[2020-07-30 15:02] skriss commented on #2743
we can keep an eye on it for a few more days and if this doesn't come up anymore, we can close it out

[2020-07-30 15:41] skriss commented on #2743
Just got a similar flake in GH Actions:
https://github.com/projectcontour/contour/pull/2741/checks?check_run_id=928250970

[2020-07-30 16:37] skriss opened #2749 "Deprecate and then drop support for contour.heptio.com/ annotation prefix"
We should eventually drop support for annotations prefixed with `contour.heptio.com/` since they've been replaced with `projectcontour.io/` for quite awhile. This could be a 2.0 thing, or we could put out a deprecation notice and then drop support a few releases later.

[2020-07-30 18:49] stevesloka commented on #2713
This should also be clarified that it's also hashed per route. If the same k8s service is used in two different routes, it will end up producing two clusters in Envoy with unique (but similar) names. This was due to weighting that could be different between each use of the service in the ingress document.

I think we can do this since the correlation between CDS<>EDS is just a name. Thinking about

[2020-07-30 21:49] jpeach commented on #2713
I don't think that's implementable. Contour Services bind the header transformations to the forwarding weights and destination. If you set the headers in the HTTP route action, then made a weighted forwarding decision in the cluster, that would break the API guarantees.

Header rewrite only happens in route actions, so you can't do that. Forwarding traffic to external services will use external na

[2020-07-30 22:27] skriss commented on #2690
There are also concerns that an operator who adds new limits has no built-in way of ensuring that they're not going to break existing proxies. It sounds like we need to take a step back here and think more holistically about the design for adding these types of controls. I'm going to close out the associated PR until we get to a consensus on the approach.

[2020-07-31 02:53] jpeach opened #2752 "Adopt HTTP ConnectionManager `strip_matching_host_port`"
**Please describe the problem you have**

Currently, we duplicate virtual host entries to allow them to match when a port is specified in the Host header. We can drop this and use `strip_matching_host_port` instead.

https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto

[2020-07-31 02:53] jpeach commented on #2752
Blocked on #1898

[2020-07-31 19:52] skriss commented on #2709
I went through this today and yes, I agree that we should update the HTTPProxy section to have the user directly create the `Certificate` instead of going through the dummy `Ingress` hoop. It's just as easy for the user to do, and removes one layer of indirection.

[2020-08-03 14:19] stevesloka commented on #2713
Contour uses the `service_name` for EDS. If a service is used more than once in a route document, many clusters in CDS will use the same cluster in EDS via the service_name.

I think what we need is a is a lookup in the CDS cache to understand what endpoints are referenced. Something like a `map[service_name][]string{<endpoint_name>}`, so when an endpoint changes, we can lookup what EDS name we sh

[2020-08-03 20:52] skriss commented on #2413
@remmeier we've just released v1.7.0 (https://github.com/projectcontour/contour/releases/tag/v1.7.0) which includes the additional config setting mentioned just above. If you get a chance, please try it out and let us know if adjusting that timeout adddresses your issue or not.

[2020-08-03 22:29] jpeach commented on #2713
Sorry, I don't think I'm following what you mean here. Is there a different way you could explain it?

As I see it, the fundamental problem here is that ClusterLoadAssignments are currently coded to emit endpoints from exactly 1 Kubernetes Service. We need a new concept to represent the weighted Kubernetes Service endpoints behind a single ClusterLoadAssignment, which means major changes to Endpoi

[2020-08-04 01:17] youngnick commented on #2744
I spent some time looking into renaming master to main a while ago, here's my notes:

# Renaming master to main

Pre-work:

Close out all PRs - they will be auto-closed anyway when the branch is renamed.

Prepare a PR with `s/master/main/g` applied, obviously don't submit it yet.

Then, rename the branch:

[code]

Then, go to the Github UI and change the `main` branch to be the default one.

I don

[2020-08-04 01:22] jpeach commented on #2744
The branch change should socialized at the community meeting and on slack.

[2020-08-04 01:27] youngnick commented on #2742
I think that admission control of some sort is inevitable. It's so much better a user experience to be made aware of invalid objects as soon as possible.

The details we need to figure out are:

## What admission control do we use?

As @jpeach says, many use cases could be hit using Gatekeeper, and that would also give advanced users the flexibility of customising the admission control to their li

[2020-08-04 01:30] jpeach commented on #2742
IIUC, you can't really do admission control against more than one resource, so there's no real benefit to being DAG aware.

[2020-08-04 05:17] youngnick commented on #2501
I think that having an accurate error is better UX, and the godoc should be updated accordingly.

[2020-08-04 05:33] youngnick commented on #2744
Agreed. I propose we say "we will almost certainly do this later (when Github has tooling for it), unless someone can raise an extremely good reason."

[2020-08-04 05:38] youngnick commented on #2730
@jjimenezmont, now that 1.7 is released, could you give this another try and see if your setup is working?

[2020-08-04 05:41] youngnick commented on #2749
We should issue a deprecation notice, then drop support, agreed. Let's do this for 1.8, I've updated the title accordingly.

[2020-08-04 05:46] youngnick commented on #2690
Let's talk about where we go from here and come back around about how we do min/max settings. I agree that my initial ideas about this are not sustainable; we need a more general solution for policy control over settings.

[2020-08-04 15:32] stevesloka commented on #2696
@zianke has a branch which implements endpoint slices (https://github.com/projectcontour/contour/compare/master...zianke:endpointslice) which is fantastic! 🎉

Before pushing up a PR to implement to better help shape the PR, when would we want to add support for EndpointSlices? It's still beta in Kubernetes v1.17, so we. can't fully move to it. Should probably add a feature flag to enable which wou

[2020-08-04 15:35] stevesloka commented on #2742
I think there is a benefit. Once you have those admission bits in front you're able to stop someone from breaking a chain of proxies by being able to find issues up front and handle them better.

This would be a very big change to Contour that needs thought out carefully.

[2020-08-04 15:38] stevesloka commented on #2730
@jjimenezmont what do you get when you curl the url? Have you restarted Contour since applying the change to the configmap?

[2020-08-04 15:50] stevesloka commented on #2713
Yes this is exactly what I am proposing/discussing.

**Today:**

 Contour allows for an array of Services to be defined on a Route. Like discussed previously, each Kubernetes service in a route maps to a unique cluster in Envoy (CDS). Then all those unique Envoy clusters map to EDS via the `service_name`.

**Future:**

Contour no longer maintains a 1:1 mapping of route+service --> Envoy cluster --

[2020-08-04 17:16] shyaamsn commented on #2743
I see this error pretty often too. Does this fix https://github.com/projectcontour/contour/pull/2762 help here?

[2020-08-04 21:47] jpeach commented on #2743
That PR fixes the `eval_conflict_error: complete rules must not produce multiple outputs` failure.

[2020-08-04 22:17] jpeach commented on #2742
But that would only work if you could be sure you had all the proxies you needed at validation time. My understanding was that you could not depend on that. If you could, then validation would also enforce some sort of ordering constraints, which could be awkward.

Maybe a more general approach to this problem is to figure out how Contour can keep existing configurations working if they get modifi

[2020-08-04 22:23] youngnick commented on #2696
Great work on getting something done so quickly @zianke!

However, given that we're working on the Endpoint translator at the moment, this may be something that will need refactoring if we change anything about EndpointTranslator or ClusterLoadAssignment.

I'd also like to do our best not to add feature flags for enabling Kinds - in particular, EndpointSlice is designed so that if it's available,

[2020-08-04 22:39] stevesloka commented on #2744
Just a note as well to not forget, we'll need to update the docker image tag that gets pushed on each PR.

[2020-08-04 22:59] jpeach commented on #2713
Ah it looks like Dave was moving towards this model in #1119, but we can't complete that change now because it would break the v1 API (e.g. header rewriting per service).

[2020-08-05 00:29] bgagnon commented on #2742
@youngnick I brought this up in the last community meeting, actually.

There was a discussion about the upcoming timeout range feature and it reminded me of LimitRange, ResourceQuota and PodSecurityPolicy objects which are enforced at admission time.

Arguably, Kubernetes itself is not perfect with those due to the asynchronous admission of Deployment -> ReplicaSet -> Pod.

On our side, we've been

[2020-08-05 00:34] stevesloka commented on #2713
Healthchecks were part of the service but was moved up. Could do a similar pattern here (with an API version bump as mentioned).

[2020-08-05 03:10] jpeach commented on #2226
I think that this is closely related to https://github.com/projectcontour/contour/issues/2683.

If we define a builder abstraction, we can have independent builders for all the APIs that we want to support (ingress, httproute, service apis). However that needs the support of a generic Kubernetes resource cache (i.e. #2683). All the builders end up creating objects in the DAG, then you can have a D

[2020-08-05 15:30] swiftdiaries commented on #2664
Hey
I'm trying to add OIDC based workflows with Contour. I was primarily looking at [oauth-proxy](https://oauth2-proxy.github.io/oauth2-proxy/), [blog post on using oauth-proxy with NGINX](https://akomljen.com/protect-kubernetes-external-endpoints-with-oauth2-proxy/).

The primary usecase is to use Contour as a lightweight replacement for Istio with Knative Serving, KF Serving to be precise.
I bel

[2020-08-05 18:18] stevesloka commented on #2744
@jonasrosland & I worked through the `vale` bits this morning and all is up to date in our docs. The only hits we had were contained in links so the initial pass is good.

[2020-08-05 23:31] salimuddin87 opened #2767 "Is it possible to use istio on top of contour?"
I have a cluster where contour is used as ingress controller. I want to implement Istio on top of that.

should I remove contour and use istio?

OR

Can I use istio on top of contour?

[2020-08-06 04:10] jpeach opened #2768 "Introduce an interface to generate Envoy resource names."
**Please describe the problem you have**

To improve code clarity, I think it would be useful to introduce an interface to structure how Envoy resource names are generated. Right now we have `Clustername`, `Secretname` and probably a few others.

What I'd like to propose here is that we do something like this:
[code]

This gives a structured API for generating an Envoy resource name and improves o

[2020-08-06 04:17] jpeach opened #2769 "Introduce ServiceCluster concept."
**Please describe the problem you have**

The Contour DAG model needs a new concept to be able to represent the concept of an Envoy `ClusterLoadAssignment` that is backed by multiple (weighted) Kubernetes services.

The following is pretty rough, but I'm thinking of something like this to represent the load assignment:
[code]

Then we could rename the `dag.Service` to something more specific (mayb

[2020-08-06 04:17] jpeach commented on #2769
This blocks https://github.com/projectcontour/contour/issues/2713

[2020-08-06 04:19] youngnick commented on #2744
Okay, after some discussion with @jonasrosland, I think we should move ahead by creating a *new* `main` branch, setting the it as the mainline branch, leaving master open. This will leave current PRs open, we should not merge any new PRs until we get the other ones either closed or retargeted to `main`.

I'll run through a test of this flow in a test repo, and report back with a proper plan.

[2020-08-06 06:43] jpeach commented on #2768
I'm 50/50 on this, it might not turn out to be much of a help.

[2020-08-06 16:04] stevesloka opened #2772 "CI: Site proof job is running on every PR"
After the switch to GitHub actions, the site proof job is running on every PR. It really only needs to run when something in the site changes. There's a script to do this check, but it's not working as intended right now.

[2020-08-06 18:12] stevesloka opened #2773 "Configuration File Refresh"
If a user deploys Contour with its configuration file as a ConfigMap and the ConfigMap is later changed Contour doesn't refresh its internal values based upon that new file.

This could lead to misconfigurations depending on which instance of Contour has the latest changes or not. Today the Confimap is [mounted as a file](https://github.com/projectcontour/contour/blob/master/examples/contour/03-co

[2020-08-06 18:20] jpeach commented on #2773
Duplicate of #2491?

[2020-08-06 18:45] #2773 closed

[2020-08-06 19:26] danehans commented on #2287
[v1alpha1](https://docs.google.com/document/d/1BJoxZTbh2bkYQnqVOETm6_7q4hjwGop2pTZDc__5olI/edit) of service apis is scheduled to be released this month (August 2020). As discussed during this week's community call, it would be helpful to begin planning for the implementation. @jpeach suggested that work such as https://github.com/projectcontour/contour/issues/2683 be completed prior to the service

[2020-08-07 02:38] jpeach opened #2775 "Introduce DAG model consumer abstractions"
**Please describe the problem you have**

We have a few different features coming up that affect the way we consume resources that Contour models in the DAG:

* Envoy API v3 #1898
* Endpoint slices #2696
* service clusters for auth #2769
* go-control-plane #2134

Most of these features will need to be enabled or disables in configuration. This issue addresses creating the right internal abstractio

[2020-08-07 02:56] ccravens opened #2776 "Add Header "Replace" Function"
**Please describe the problem you have**

**TL;DR**
Proposing adding a "replace" function to responseHeaderPolicy and requestHeaderPolicy with the following manifest format:
[code]
**END TL;DR**

We are embedding some of our services hosted behind a contour proxy in an <iframe>. Some of these services respond with a 302 redirect to a url with insecure "http", which causes the browser not to load t

[2020-08-07 03:06] jpeach commented on #2776
Similar to https://github.com/projectcontour/contour/issues/2516 - use the value of a header to set the value of another header (in this case the source and destination headers are both `Location`).

[2020-08-07 13:27] ccravens commented on #2776
In regards to #2516, we may be able to include that in this update as well. Maybe instead of calling the function "replace" we call it "modify" and include both a regex replace (my proposal) as well as a copyFrom and copyTo (#2516 proposal). So for example:

[code]

and for #2516 it would be something like:
[code]

I'm not sure about the "else set x-forwarded-for to the src ip" requirement, as tha

[2020-08-07 15:51] dprotaso opened #2777 "Deprecate & remove TLS 1.1"
Reading the docs https://projectcontour.io/docs/v1.7.0/httpproxy/ - TLS section it says

I thought TLS 1.1 was deprecated/insecure so I’m surprised it’s the default

More details: https://hacks.mozilla.org/2020/02/its-the-boot-for-tls-1-0-and-tls-1-1/

I guess it would make sense to immediately bump the default to 1.2 and to have a path to remove 1.1

[2020-08-07 15:57] dprotaso commented on #2777
This is a handy tool - https://ssl-config.mozilla.org/

[2020-08-07 19:17] skriss commented on #2772
Looks like there are several issues:
- by default, the checkout action only fetches a single commit. our script as written needs history to be able to work. ref. https://github.com/actions/checkout and https://github.com/actions/checkout#Fetch-all-history-for-all-tags-and-branches.
- our script calls `exit 1` if there were no changes to `site/`. this will cause the workflow run to fail, so we need

[2020-08-09 00:14] jpeach commented on #2777
xref https://github.com/projectcontour/contour/issues/2401

I don't think we should remove this (without a sufficiently log deprecation time), but we should add configuration and flip the defaults.

[2020-08-09 00:29] jpeach commented on #437
Current status - I think that we have broad consensus on the design in https://github.com/projectcontour/contour/pull/1012. I'll follow up with @aberasarte and get the design doc landed. I hope that @aberasarte and other interested parties (@glerchundi ?) can implement 👍

[2020-08-09 10:47] anupriya17 commented on #320
This will help i think https://github.com/envoyproxy/envoy/pull/11007

[2020-08-09 22:01] jpeach commented on #320
Yup, that looks promising.

xref #1898

[2020-08-09 23:57] youngnick commented on #2777
The 1.1 minimum version is the default for compatibility reasons, currently. I agree that we should change the default to 1.2, and allow 1.1 for a while, with a log indicating that you should stop using it.

This comes under the heading of "people use the proxy as a fixup point", sadly.

[2020-08-10 00:03] #2623 closed

[2020-08-10 00:06] youngnick commented on #2776
Firstly, thanks for the detailed feature request @ccravens. It's very thorough and well-explained.

Rereading the traceback of linked issues here, we have a problem at the moment, where when we're doing this:
- we have no way to verify if the config will work before passing to Envoy
- If the config does not work, Envoy will stop accepting config updates *at all* from Contour until it's restarted.

[2020-08-10 00:12] jpeach commented on #1176
xref https://github.com/envoyproxy/go-control-plane/issues/46

[2020-08-10 01:04] dprotaso commented on #2777
yeah I agree.

[2020-08-10 15:51] #2273 closed

[2020-08-10 15:51] #2501 closed

[2020-08-10 16:37] ccravens commented on #2776
@youngnick awesome thank you for that info! We are definitely happy to look into this with the contour team and maybe help to get some of these items addressed. We've started taking a look at Header policies and compiling, writing tests, etc from a branch from our fork here: https://github.com/ossys/contour/tree/2776_add_header_replace_function

We're working on getting envoy to compile now and wi

[2020-08-10 23:38] youngnick commented on #2742
Yes, I think that moving as much simple validation as possible as early in the object apply process as possible is the best UX we can get.

That is:
- using OpenAPI definitions to ensure valid objects (requires #2678), then
- having admission control validate that the object is internally consistent and compliant with any required policy (this issue). This could be Gatekeeper or other option; we d

[2020-08-10 23:40] youngnick commented on #2776
Fantastic @ccravens! Please come along to the community meetings or the office hours and talk about where you're up to and what you're working on - we've got some refactoring being worked on at the moment which may make lots of conflicts if we don't manage it carefully.

[2020-08-11 00:16] youngnick commented on #2287
Thanks @danehans, I agree that this issue should hold:
- a list of issues that block doing some implementation of the service apis behavior
- a list of issues that need to be implemented to actually deliver the behavior as at v1alpha1.

We should figure those out here, then I will add them to the initial description as a checklist so we get a count.

[2020-08-11 04:56] jpeach commented on #2776
For an envoy build set up, maybe https://github.com/jpeach/envoy-build helps, but mostly running envoy from a container is fine for contour dev.

[2020-08-11 06:07] youngnick opened #2782 "tests: TestSDSShouldNotIncrementVersionNumberForUnrelatedSecret is a no-op"
Currently, the test TestSDSShouldNotIncrementVersionNumberForUnrelatedSecret is a no-op, as it checks the value of the `VersionInfo` field of an envoy `DiscoveryResponse` struct, which is explicitly ignored by `internal/assert.go:assert.Equal()`.

Issue covers either rewriting the test to actually test something, or removing it.

[2020-08-11 06:43] #2549 closed

[2020-08-11 16:42] mkilchhofer commented on #2050
I use the bitnami chart and override the images and tags without issues. But I had to sync some changes back to their repo:
- https://github.com/bitnami/charts/pull/3367
- https://github.com/bitnami/charts/pull/3381

It would be nice, if someone keeps the changes in the manifests [here](https://github.com/projectcontour/contour/tree/master/examples/contour) in sync with the helm charts.

What I so

[2020-08-12 01:22] #2775 closed

[2020-08-12 01:24] youngnick opened #2786 "testing: protobuf testing improvements"
As part of testing for #2134 in #2604, @stevesloka identified that we need a better way to compare protobufs. The current `internal/assert` package has a number of workarounds using `go-cmp/cmp` in order to be able to test Envoy protobufs, particularly in the `featuretests` package, but as we move towards #2134 and `go-control-plane`, we need some more flexibility.

This is to investigate using ot

[2020-08-12 01:31] georgegoh commented on #2050
@mkilchhofer I forked the bitnami repo recently and synced up the charts with the canonical manifests as you pointed out.

It's here https://github.com/georgegoh/charts/commits/master, and I'll look into a PR later this week.

[2020-08-12 04:04] imranismail opened #2788 "Ability to set keepalive timings on downstream connection"
**Please describe the problem you have**

https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html#connection-idle-timeout

This can be set through the socket_options in listener config.

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/listener.proto
envoyproxy/envoy#10301
envoyproxy/envoy#3634