[2017-10-30 17:52] kstewart opened #1 "Make bootstrap mode optional"
Contour is currently deployed as a daemonset on each node with the bootstrap configuration provided by Contour in a shared Volume Mount. The configuration is written via an init container, which is Contour with the `-initconfig` flag.

There is no fixed requirement for this to be requirement when deploying Contour, this information could be provided by a ConfigMap, or perhaps a PV, noting that hot

[2017-10-30 17:53] kstewart opened #2 "Add benchmarks for v1 REST xDS APIs"
Add some basic benchmarks for the CDS, SDS, and RDS for 1, 10, 100, and 10,000 cache entires.

The key things I want to see is the processing time, and the bytes allocated (JSON is expensive).

We need this information to judge the cost of making v1 REST a wrapper around v2 gRPC.Fetch.

[2017-10-30 17:53] kstewart opened #3 "Add benchmarks for the watcher caches"
Add basic benchmarks for insert, delete, and each for the three watcher caches (maybe one is sufficient).

Benchmark sizes should be 1, 10, 100 and 10,000

This will inform #5 and possibly inform a move from using a map to something like xtgo's sorted set implementation.

[2017-10-30 17:54] kstewart opened #4 "Add benchmarks for the watcher caches"
Add basic benchmarks for insert, delete, and each for the three watcher caches (maybe one is sufficient).

Benchmark sizes should be 1, 10, 100 and 10,000

This will inform #5 and possibly inform a move from using a map to something like xtgo's sorted set implementation.

[2017-10-31 03:20] davecheney opened #8 "Support Envoy's v2 gRPC API"
Contour currently supports the existing v1 polling APIs. This is a meta issue to track support for the v2 API.

See the [design document][0] for more information.

[0]: ../blob/master/design/api-design.md

[2017-10-31 03:55] #3 closed, assigned to nobody

[2017-10-31 04:00] davecheney opened #9 "Provide way to configure port that Envoy listens on"
Right now envoy is locked to 8080 and contour is 8000. This is fine with pod networking but may not be great with host networking.

[2017-10-31 04:05] davecheney opened #10 "Create a /healthz style probe"
Contour should be defining probes so that traffic isn't sent to an instance until it is ready. Similarly, this should support a more graceful drain mechanism when downscaling.

The way I thought about doing this was injecting a default vhost into Envoy pointing to Contour that would provide a /healthz endpoint. The idea being that until both Envoy and Contour were up; hitting the node via IP or in

[2017-10-31 11:25] rusenask opened #13 "Wildcard host for ingress"
Hello,

I have a use case where I need multiple hostnames routed to the same backend service, example:
[code]

This list could be expanded and contracted dynamically, therefore wildcard hostnames would be great.  Ingress example:

[code]

[2017-10-31 11:26] davecheney opened #14 "Support backend services that talk https"
At the moment Contour configures Envoy to accept http from upstream connections (either ELB or a NLB in pass through mode). However on the backend, from Envoy to Pods is always HTTP.

There is no reason this has to be--each port on a service has its own envoy cluster stanza which can hold relevant connection parameters--but there is no established mechanism on the service object to say _what_ prot

[2017-10-31 11:28] davecheney commented on #13
Thanks for raising this issue, as long as this is supported by the ingress spec, this doesn't look to hard to implement.

I'm tentitively scheduling this for 0.2

[2017-10-31 11:38] rusenask opened #15 "SSL Passthrough"
Hello, it would be good to know whether Contour supports ssl passthrough and if it doesn't - whether it would be possible/reasonable to add it.

NGINX ingress controller has this ` ingress.kubernetes.io/ssl-passthrough: "true"` annotation, it might make sense to keep the format the same to make it easier to switch between ingresses.

[code]

[2017-10-31 19:18] rothgar commented on #15
related to #14

[2017-10-31 23:22] jrnt30 opened #21 "Ingress Status Updates"
It was outlined in the Roadmap that Ingress Status updates were coming, just adding an issue for tracking.

In addition to the example given, there are several projects that rely on this information being present.  Of particular interest to us would be External-DNS, which [utilizes the status](https://github.com/kubernetes-incubator/external-dns/blob/master/source/ingress.go#L183) to determine the

[2017-11-01 00:29] davecheney commented on #21
Thanks for raising this issue. I'm going to mark this tentatively for the 0.2 milestone. It doesn't have an ETA as yet, but it'll be the _next_ release.

I know that other ingress controllers go through some effort to ensure that only a single process writes that status information. I haven't looked into the specifics, but I'm hoping it's possible to avoid this complexity with the PATCH method on

[2017-11-01 01:50] davecheney commented on #15
@rusenask  Thanks for raising this issue. I need to ask a few clarifying questions to check I understand what a successful outcome of this issue would look like.

q. In this scenario who is doing TLS processing? Is it the load balancer in front of Contour? Is it Contour? Is it the service the ingress points to? Is it two or maybe all three?

q. If TLS processing is being done by the final k8s serv

[2017-11-01 03:43] davecheney opened #23 "README: short links in examples should be HTTPS"
From #22

We should find a solution for serving the short links over https.

[2017-11-01 10:35] rusenask commented on #15
@rothgar that issue should probably be configured through another annotation:
`ingress.kubernetes.io/secure-backend: "false/true"`

@davecheney

Service that ingress points to. LB and Contour would just pass through traffic to the destination, no termination should happen.

Not sure about Envoy TCP proxy but what I disliked in nginx-ingress was that if you set it to TCP proxy then it can't match h

[2017-11-01 10:57] davecheney commented on #15
Ingress objects are strongly coupled to HTTP. This sounds like a good use case for using a service load balancer directly. Have you tried that? What are the reasons why you decided not to use this approach?

If you're in TCP mode, then i'm guessing there is no HTTP request to inspect to route the traffic. It sounds like you have to dedicate the public IP to forwarding the traffic to only one servi

[2017-11-01 15:02] ValFadeev opened #25 "Virtual host exceeds allowed maximum length"
Hi,
I am trying to use contour in conjunction with ingress objects for host-based routing to backend services. Here is an example of the `spec` section from the ingress definition:
[code]
Contour picks it up but throws an error because the generated virtual host name turns out to be too long:
[code]
Unfortunately, I am unable to change the enforced naming convention to shorten the host names very

[2017-11-01 20:33] davecheney commented on #25
Thanks for raising this issue; I knew that at some point I would have to hash the names of the various elements going into a container name; namespace, ingress name, vhost. Look's like I'll have to raise the priority on this.

[2017-11-01 20:34] davecheney commented on #25
Marking as 0.2, but it might be possible to get this backported to 0.1.1. I'll see

[2017-11-01 21:24] davecheney opened #26 "Add a FAQ to address common questions"
Maybe we should add a FAQ document to address common questions such as a the difference between contour and istio.

[2017-11-01 21:24] davecheney commented on #26
/cc @Bradamant3

[2017-11-01 21:49] Bradamant3 commented on #26
I'm not a huge fan of FAQs because most of the time they either compete with the core docs in confusing ways, or they're lazy shortcuts to avoid dealing properly with docs, or they're more marketing than anything else bc "people expect them."

But if we have a real set of Qs whose answers don't belong anywhere else, then OK.

[2017-11-02 05:40] #25 closed

[2017-11-02 05:42] davecheney commented on #25
@ValFadeev Hello. I think I've fixed this issue and this fix will be available in the `:master` tag in a few minutes. If you're using the quickstart examples from the README you can bounce your Contour pods and they will upgrade to the `:master` image (if you've deployed with `:v0.1.0` or `:latest` you'll need to change to `:master`).

You can do this simply with
[code]
If this hasn't fixed the pr

[2017-11-02 14:49] ValFadeev commented on #25
Thanks for your quick response, really appreciated! Moved on to the next problem :)

[2017-11-03 00:35] kyessenov opened #29 "Customizing Envoy through Ingress resources"
Envoy provides a collection of features that are beyond host/URI routing formalized in the Ingress resources (advanced load balancing, fault injection, custom filters, etc). Do you have any plans or thoughts how to expose those features in the ingress controller?

[2017-11-03 00:49] davecheney commented on #29
Thanks for your issue. At the moment, probably not because the means to do so don't exist in the Ingress object.

Conceivably this could be done with annotations on the Ingress or Service object, but there is some concern that ad hoc growth of annotations is a bit of a hack.

This could probably also be done via ConfigMaps to provide more structured configuration that could be mixed into the confi

[2017-11-03 08:16] davecheney commented on #26
This is addressed in #28. I’m going to close this, we can open future bugs for specific things that need to be called out.

[2017-11-03 08:16] #26 closed

[2017-11-07 15:07] erasmus74 opened #36 "Cannot deploy ClusterRoles on GKE 1.8.1 Cluster"
Seems I run into this issue, after cluster is up, this is the first thing I tried. Let me know what you need to help me debug this.

[code]

[2017-11-07 15:30] erasmus74 commented on #36
Further reading seems I run into this issue.
https://honeycomb.io/docs/connect/kubernetes/gke/

It would also seem this is going to be the norm soon, and users will need to bind to roles that allow the required priv escalation. https://kubernetes.io/docs/admin/authorization/rbac/#privilege-escalation-prevention-and-bootstrapping

Still unsure how to make this work "out-of-box" yet.

[2017-11-08 01:27] davecheney opened #38 "Switch to envoyproxy/envoy-alpine/ images"
The envoy image has moved, the new location is

https://hub.docker.com/r/envoyproxy/envoy-alpine/

We should make this change before 0.2

[2017-11-08 23:38] #38 closed

[2017-11-08 23:43] davecheney commented on #36
Hi @erasmus74

The root of the problem is GKE does not enabled RBAC if you choose the `Legacy Authentication` option -- which is the default when you create a GKE cluster.

The solution is to use the non [GKE example][0]
[code]
I'm going to close this, but please reopen it if you need further assistance.

Thanks

Dave

[0]: https://github.com/heptio/contour#add-contour-to-your-cluster

[2017-11-08 23:43] #36 closed

[2017-11-08 23:44] davecheney commented on #29
I'm going to close this question as answered. If you have further questions feel free to open a new issue, or [try one of the other support options][0]

Thanks

Dave

[0]: https://github.com/heptio/contour/blob/master/SUPPORT.md

[2017-11-08 23:44] #29 closed

[2017-11-08 23:46] davecheney commented on #15
@rusenask ping, i'd like to keep this conversation going if you have the time.

[2017-11-08 23:48] davecheney commented on #23
For the watchers on this issue, we're working on getting the redirector service upgraded to support https. I'm tentatively marking this for 0.2 although, because of the multiple people involved in coordinating this change, it may arrive before or after 0.2.

[2017-11-08 23:52] rusenask commented on #15
@davecheney hey, apologies.

TLS functionality would be nice so you could mix HTTP and HTTPS (passthrough) services in one ingress.

I know that you could achieve the same thing with multiple service load balancers but having it in on ingress saves you one IP (atleast in GKE) and having external load balancers in GKE costs a bit.

At least in nginx-ingress it have this and I thought it's quite nic

[2017-11-09 00:44] davecheney commented on #15
Thanks for your reply. I'll be honest, I'm not sure I understand what you're asking for, but I do understand supporting the
[code]
annotation. So I'll work on that and we can see if there is anything left to do afterwards.

[2017-11-09 00:53] erasmus74 commented on #36
I did enable RBAC.

On Wed, Nov 8, 2017 at 6:43 PM, Dave Cheney <notifications@github.com>
wrote:

--
Regards,
Edward S

[2017-11-09 00:56] davecheney commented on #36
Thanks for your reply. Looking at the response you posted that matches the error I see when I try to deploy the rbac example to a non rbac enbabled cluster.

If you use the non rbac version
[code]
You'll be fine.

[2017-11-13 19:08] hausdorff opened #43 "Implement Contour ksonnet library"
This is a follow up from our slack conversation some time ago. I'll outline what would be involved in this work and how people would use it.

## Background

A ksonnet library is collected into a set of _parts_ that can be used to configure and deploy an application on Kubernetes for many different scenarios. For example, in [redis][redis], we expose `parts.networkPolicy`, `parts.deployment`, `part

[2017-11-13 21:00] davecheney commented on #23
Fixed https://github.com/heptio/contour/commit/3805706f13b113efb617dac825dfb63300f526ca

[2017-11-13 21:00] #23 closed

[2017-11-20 18:07] dungeonmaster18 commented on #9
Hi @davecheney , I would like to work on this issue if you can guide me through this. I am completely new here.

[2017-11-20 21:35] vielmetti opened #45 "[tracking] contour on arm64"
Tracking issue to identify any issues related to running Contour on arm64, and to report back successes.

[2017-11-20 21:39] davecheney commented on #45
Hello,

I don't really want to encourage a practice of opening issues without a specific cause. If its ok with you, would you please close this issue and open specific issues (with details) when or if they occur.

Thanks

Dave

[2017-11-20 21:40] vielmetti commented on #45
OK, I'll close and reopen specific issues (to reference back here if that's OK).

[2017-11-20 21:40] #45 closed

[2017-11-20 23:02] davecheney commented on #45
Thank you.

[2017-11-21 23:24] valentin2105 opened #48 "Envoy should bind in IPv4/v6"
Hi,

I'm trying Contour (and envoy too) in my Kubernetes cluster, but I'm not able to make it work due of Envoy that bind in IPv4 only in the pod.

It would be awesome if all services can bind in IPv6 too, by default ?
[code]

By looking the code, it seem that it need a small change in `internal/contour/json.go` (l147) :

[code]

What do you think about that ?

[2017-11-22 00:31] davecheney commented on #48
Good point. This should really be configurable from the command line.

[2017-11-22 00:39] davecheney commented on #8
#50 included _very_ alpha support for connecting Contour and Envoy over
gRPC.

If you want to play with this, make sure you delete your existing
contour deployment as (at least with 1.7.6) editing a deployment does
not appear to save changes to the initContainer section.

[2017-11-24 03:17] jhernandezb opened #55 "SSL Redirect"
Hi,

Actually my ELB is configured to handle the SSL stuff, and its working fine but I want to enforce https when hitting the url. It will be awesome if contour could support ```ingress.kubernetes.io/force-ssl-redirect: "true"``` like NGINX does. [see here](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/tls.md#server-side-https-enforcement-through-redirect)

[2017-11-26 23:32] davecheney commented on #48
Bumping to 0.3

[2017-11-26 23:38] valentin2105 commented on #48
Thanks Dave.

[2017-11-26 23:46] davecheney commented on #21
Bumping to 0.3.0. This is likely to require gRPC to become GA to support it properly.

[2017-11-27 00:00] davecheney commented on #13
I'm going to bump this to 0.3.

The issue is the [ingress spec][0] does not permit '*'. Various ingress implementations maybe permit it either as an extension, or just dumb luck, but I want to think carefully about what interpretation contour would make when this field is _not_ a [RFC 3986][1] compliant URI. We may choose to extend the interpretation to follow what the Nginx ingress does, but this

[2017-11-27 00:02] davecheney commented on #9
Duplicate of #48

[2017-11-27 00:03] davecheney commented on #9
@dungeonmaster18 thanks for your offer of help. The first step should be to write up either in the issue (#48) a high level design of what needs to change inside contour to implement this feature, and how you plan to test these changes. Once there is agreement that the approach is reasonable, it's time to code.

[2017-11-27 00:03] #9 closed

[2017-11-27 03:04] davecheney commented on #8
I'm marking this issue closed for the 0.2 milestone. 0.2 will feature gRPC as an alpha opt in feature. Future milestones will promote gRPC to GA and then deprecate v1 REST.

[2017-11-27 03:04] #8 closed

[2017-11-28 03:32] davecheney opened #60 "gRPC support GA"
This is a high level tracking issue for promoting gRPC support to GA. Specifically

- [x] Update all deployments manifests to use gRPC, effectively
- [ ] Additional testing, preferably e2e testing for gRPC.

[2017-11-28 03:33] davecheney opened #61 "Remove v1 REST API support"
Requires #60

Once #60 is done, we can schedule the removal of v1 REST API support in the version after #60 is delivered.

[2017-11-28 03:46] davecheney opened #62 "Support ingress.kubernetes.io/whitelist-source-range"
Add support for `ingress.kubernetes.io/whitelist-source-range`

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#whitelist-source-range

[2017-11-28 03:49] davecheney opened #63 "Support ingress.kubernetes.io/force-ssl-redirect"
Add support for `ingress.kubernetes.io/force-ssl-redirect` per Ingress which will require creating a redirect route in the http version listener. This will need LDS to become a proper cache.

[2017-11-28 03:50] davecheney opened #64 "Support ingress.kubernetes.io/rewrite-target"
Support the `ingress.kubernetes.io/rewrite-target` annotation.

[2017-11-28 03:50] davecheney opened #65 "Support ingress.kubernetes.io/limit-rpm"
Add support for `ingress.kubernetes.io/limit-rpm`

[2017-11-28 03:51] davecheney opened #66 "Support ingress.kubernetes.io/limit-whitelist"
Add support for `ingress.kubernetes.io/limit-whitelist`

[2017-11-28 03:53] davecheney opened #67 "Support ingress.kubernetes.io/configuration-snippet"
Possibly support the `ingress.kubernetes.io/configuration-snippet` annotation

Most of the configuration for Envoy has a json or yaml representation so _in theory_ it could be overlaid with the configuration passed back to Envoy in the caches. In practice this sounds quite hard to do, merging, then retaining the configuration in the face of dynamic updates from k8s, but it's still an interesting p

[2017-11-28 03:53] davecheney opened #68 "Support ingress.kubernetes.io/auth-{type,secret,realm}"
Add support for

- `ingress.kubernetes.io/auth-type`
- `ingress.kubernetes.io/auth-secret`
- `ingress.kubernetes.io/auth-realm`

Annotations.

[2017-11-28 03:56] davecheney opened #69 "Support basic host rewriting"
Support, probably via an annotation, an Ingress object which exists to redirect www.example.com to example.com (or vice versa)

This might look like, in yaml
[code]

[2017-11-28 03:57] davecheney opened #70 "Support adding / removing headers"
Add support for adding / removing headers at the Ingress, namespace, and default level

[2017-11-30 23:45] jefflaplante opened #72 "Remove hard-coded binding to port 8080 for listener"
I would like to be able to bind contour/envoy on a port other than 8080 for daemonset deployments.

https://github.com/heptio/contour/blob/b76f1c25e525837d0babd23a251dc058b7408ea4/internal/contour/json.go#L149

[2017-12-04 22:02] cmaloney opened #78 "SSL Support"
The README mentions that SLL/TLS support is a work in progess. SNI has landed in envoy now (https://github.com/envoyproxy/envoy/issues/95).

I'm wondering what is the plan / timeline for using that SNI support in contour? I have some projects blocked by the support, and if it's not fairly soon was wondering if it's an open project I could take on.

[2017-12-04 22:28] davecheney commented on #78
It’s planned for the current, 0.3, release.

[2017-12-05 00:57] davecheney commented on #60
292092af828228cb8a37bea1c17247bd6a062379 removed the internal gRPC timers.

[2017-12-06 23:24] davecheney opened #87 "Add readinessProbe to deployment examples"
[code]

Something like this, requires #10

[2017-12-07 00:20] davecheney opened #88 "Support kubernetes.io/ingress.allow-http: "false""

[2017-12-08 03:10] davecheney opened #89 "Support vhosts split across ingress objects"
The Ingress spec permits the routes for a vhost to be defined across several Ingress objects. This could be in the same, or across, namespaces.

Currently contour does not handle this, generating duplicate vhost definitions which envoy will therefor reject.

This is needed for #78 because cert managers like jetstack/kube-logo expect to be able to inject a route onto an ingress from a different nam

[2017-12-11 06:02] #89 closed

[2017-12-11 06:03] davecheney commented on #2
Not going to do this, REST API is end of life.

[2017-12-11 06:03] #2 closed

[2017-12-11 06:03] davecheney commented on #4
Not going to do this, REST API is end of life.

[2017-12-11 06:03] #4 closed

[2017-12-12 17:42] danehans opened #99 "Istio Ingress Controller Comparison"
How does Contour differ from the Istio Ingress Controller?

[2017-12-13 22:20] cdelpinogeo opened #100 "Issue with Contour after upgrading Kubernetes to 1.8.4"
Hello,

We recently were trying out contour on our 1.7.7 k8s dev cluster. We needed to upgrade the cluster to 1.8.4 in order to resolve a bug. The cluster itself was deployed using kops, so it was upgraded using this tool. The upgrade went fine, but noticed that the contour deployment was trying to run on a node that no longer existed:

`node 'ip-172-20-95-73.ec2.internal' not found`

I deleted th

[2017-12-13 23:39] timothysc commented on #100
@cdelpinogeo Do you have the exact error you're seeing?

[2017-12-13 23:39] davecheney commented on #100
Hi @cdelpinogeo

Thanks for raising this issue. I hope I don't sound like I'm passing the buck but this smells like a kubernetes bug. I say this because there's nothing special about contour, it's just a regular old deployment.

I'd try
[code]
Then
[code]
and wait for the `heptio-contour` namespace to disappear then
[code]
If that doesn't seem to fix the problem, can you please paste the output of

[2017-12-13 23:47] adelbertc opened #101 "Possible issue with Ingress rules not routing?"
Running on K8s 1.8.4 + RBAC through OpenStack, LoadBalancer support (I think..), I re-deployed Contour just now to make sure I was on a new version of Contour too. Testing out a simple rule.

This Ingress definition works, confirmed with `curl -i http://<LB IP>`:

[code]

This however does not, giving instead a 404 when I `curl -i http://<LB IP>/hello`:

[code]

Here are the Deployment and Service

[2017-12-14 00:06] davecheney commented on #101
@adelbertc thanks for raising the issue. I have a feeling I know what it is.
[code]
Doesn't specify a hostname. https://kubernetes.io/docs/api-reference/v1.8/#ingressrule-v1beta1-extensions (the `host:` field).

Contour expects this field to be mandatory, but I'll check the api definitions for 1.8 and confirm this.

In the meantime the workaround would be to add a `host:` field to your ingress obj

[2017-12-14 00:09] davecheney commented on #101
Yup, this was my misunderstanding. The spec says

So it should become the default vhost as in your first example.

[2017-12-14 00:11] adelbertc commented on #101
@davecheney Ah gotcha - where can I find what the default vhost value is to test this?

[2017-12-14 00:13] davecheney commented on #101
Something like this should do it
[code]

[2017-12-14 00:18] adelbertc commented on #101
Hm I don't seem to have that, I assume this is vendor specific since I am running in OpenStack.

Is the host value intended to be a hostname through which outside clients can reach the LoadBalancer, with the idea being hitting difference hostnames can trigger different rules, e.g. `host1.foo.com/bar` can trigger a different rule than `host2.foo.com/bar` ?

[2017-12-14 00:29] adelbertc commented on #101
Ah sweet, thank you!

[2017-12-14 02:30] #101 closed

[2017-12-14 02:32] adelbertc commented on #101
Does the latest tag for the Docker images build automatically? eg can I
pull latest again and expect the fix?

On Dec 13, 2017 18:30, "Dave Cheney" <notifications@github.com> wrote:

[2017-12-14 02:35] davecheney commented on #101
The `:master` tag updates automatically on commit.

https://github.com/heptio/contour/blob/master/docs/tagging.md

If you do something like

kubectl -n heptio-contour delete po -l app=contour

You'll pull the new image and you should be in business.

On Thu, Dec 14, 2017 at 1:32 PM, Adelbert Chang <notifications@github.com>
wrote:

[2017-12-14 02:57] adelbertc commented on #101
Just tried it, looks like it works - thank you for such a quick response!

[2017-12-14 03:03] davecheney commented on #101
np, thanks for trying contour.

On Thu, Dec 14, 2017 at 1:57 PM, Adelbert Chang <notifications@github.com>
wrote:

[2017-12-14 03:11] cdelpinogeo commented on #100
@timothysc, I've attached a screenshot of the error:

![screenshot from 2017-12-13 22-07-51](https://user-images.githubusercontent.com/8877760/33973719-4a330fb6-e052-11e7-82af-253edc1a5d0f.png)

There are no logged messages in the container:

![screenshot from 2017-12-13 22-10-17](https://user-images.githubusercontent.com/8877760/33973738-6c79201a-e052-11e7-8e8c-5f9a0208fcd0.png)

Thanks!

[2017-12-14 03:15] cdelpinogeo commented on #100
@davecheney, thanks for following up. I've tried the steps you mentioned, but I get the same result. Here are the nodes:

    NAME                             STATUS    ROLES     AGE       VERSION
    ip-172-20-100-83.ec2.internal    Ready     node      6h        v1.8.4
    ip-172-20-117-169.ec2.internal   Ready     master    6h        v1.8.4
    ip-172-20-125-118.ec2.internal   Ready     node

[2017-12-14 20:54] davecheney commented on #99
Hi @danehans Contour is somewhat similar to istio pilot, they are both ingress controllers which turn kubernetes configuration into envoy configuration. However Istio pilot is part of the larger and more complex istio pilot, Contour is aimed squarely at being a simple to use ingress controller.

[2017-12-14 20:56] davecheney commented on #100
@cdelpinogeo thanks for this information. Sadly I don't think I can assist you, that error is coming from the pod scheduler. Somehow you kubernetes thinks that node is still alive, even though it is not listed in `get nodes`.

[2017-12-15 04:14] davecheney commented on #55
Duplicate of #63

[2017-12-15 04:14] #55 closed

[2017-12-15 04:20] davecheney opened #103 "Support service.beta.kubernetes.io/aws-load-balancer-proxy-protocol"
Add support for the [proxy protocol][0]

- [x] support `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol="*"` annotation
- [x] add support to internal/contour/listener.go to enable this setting on the listener.

[0]: service.beta.kubernetes.io/aws-load-balancer-proxy-protocol

[2017-12-15 04:24] davecheney opened #104 "grpc: support individual http and https routes"
Currently for SNI support the route table for both the http and https listeners point to the same route table, `ingress_http`.

To support #63 and/or #88  internal/contour/listener.go will need to be able to write different route records for the http or https version of the vhost.

[2017-12-15 05:05] davecheney commented on #62
Bumping this from 0.3, it's not directly related to SSL support

[2017-12-15 14:39] cdelpinogeo commented on #100
Thanks for looking into @davecheney. I decided to restart the masters, which fixed the issue. I'll raise this with the kops sig to see if this is an issue. Thanks!

[2017-12-15 14:39] #100 closed

[2017-12-16 20:15] davecheney opened #108 "Upgrade to client-go release 6"

[2017-12-17 20:41] davecheney opened #109 "feature: contourcli"
This is mainly intended as a debugging aide.

When running contour local outside the cluster it would be useful to have a grpc client to interrogate contour without having to deploy the pod to k8s and divine it’s workings via envoy’s debug logs

[2017-12-17 20:41] davecheney opened #110 "Upgrade go-control-plane"
Gcp switched to gogo for grpc, watch that on the upgrade.

[2017-12-17 22:45] #110 closed

[2017-12-17 22:57] #108 closed

[2017-12-18 00:38] davecheney opened #113 "bug: does cmd/contour have to call flag.Parse unconditionally"
[code]
cmd/contour uses kingpin, not flag, but I suspect the glog infection via client-go requires flag.Parse to be called unconditionally.

[2017-12-18 00:58] #109 closed

[2017-12-18 23:57] willmadison commented on #113
I'll take a look at this. Is the glog implicit dependency confirmed or simply suspected at this moment?

[2017-12-19 00:01] davecheney commented on #113
We get it for free with client-go.

On Tue, Dec 19, 2017 at 10:57 AM, Will Madison <notifications@github.com>
wrote:

[2017-12-19 00:07] willmadison commented on #113
Kewl I'll investigate further. I'd like to add an appropriate test for this bug but it sounds like it's as simple as adding an innocuous call to flag.Parse() but I'll look into it

[2017-12-19 00:09] davecheney commented on #113
I'm fine with not having a test for this, a sufficiently scarey comment in
cmd/contour/contour.go will do

// we need this because (long rant about how glog is terrible)
func init() {
    flag.Parse()
}

On Tue, Dec 19, 2017 at 11:07 AM, Will Madison <notifications@github.com>
wrote:

[2017-12-19 00:13] willmadison commented on #113
Fair enough. PR coming in just a sec...

[2017-12-19 03:03] #113 closed

[2017-12-19 04:27] davecheney commented on #88
Blocked on #104

[2017-12-19 22:46] #104 closed

[2017-12-22 01:43] davecheney commented on #78
As the basic SNI functionality is in and TLS ingresses now work I'm going to mark this issue as closed. There will be more testing and polish to come for the 0.3 milestone in January, but this can be used in the `contour:master` image now.

## Testing notes

### Deployment

You must use the deployment/deployment-grpc-v2 manifests. These are different to the quickstart manifests mentioned in the pr

[2017-12-22 01:43] #78 closed

[2018-01-03 04:36] #72 closed

[2018-01-03 05:29] davecheney commented on #48
I'm working on this now. I will have a partial fix for 0.3 and i'll look at other improvements in the future.

[2018-01-03 21:21] valentin2105 commented on #48
I will try directly when the new Docker image will be available.
Thanks @davecheney !

[2018-01-03 21:28] jefflaplante commented on #72
Awesome, thanks @davecheney

[2018-01-03 21:58] davecheney commented on #48
#127 has been committed, it's available in gcr.io/heptio-images/contour:master now.

I'm leaving this issue open because I suspect that #127 wasn't enough. Listening on `--envoy-https-address=::` bound _only_ to IPv6 which I couldn't test on AWS. Binding to `0.0.0.0` may dual stack bind to `::` but it's probably machine specific and I don't have the resources to test this at the moment.

Please le

[2018-01-04 02:18] valentin2105 commented on #48
I have try to add the args `--envoy-https-address=::` on both Contour & Envoy image (from the `contour-deployment-rbac.yaml` file. And at each try I got Envoy that bind on IPv4 only.

Maybe I doing it wrong ?

[2018-01-04 20:35] davecheney opened #129 "default ingress appears on ingress_https"
This ingress
[code]
Will register the route on ingress_https even though it has not hostname or TLS stanza. This should not happen.

[2018-01-04 21:35] davecheney opened #130 "Review the k8s watcher resync interval"
@ncdc recommends that we raise the current shared informer resync interval from 30 minutes to 12 or 24 hours, or perhaps disable it completely.
[code]

[2018-01-04 21:45] davecheney opened #131 "Watching all endpoints is expensive"
@timothysc suggested that watching all endpoints is expensive in high scale systems.

Evaluate the cost of this; does this put a load on the api server, or contour.

Regardless of the former or the latter, the result will be we have to filter the endpoints we need to watch to the set of endpoints that are referenced by services that are referenced by ingresses.

[2018-01-04 21:56] ncdc commented on #130
It really depends on your use case. Do you need to reprocess the entire cached set of endpoints/services/etc every 30 minutes? In the event that the shared informer loses its connection to the apiserver for the watch, it should do a full re-list, generating events for you to process.

[2018-01-04 22:05] davecheney commented on #130
tbh, the reading I've done about this generally boils down to "you
shouldn't need this, but it's probably a good idea", which is non committal
and not useful. The resync feels like the watcher doesn't trust itself, or
the api server, fully.

On Fri, Jan 5, 2018 at 8:56 AM, Andy Goldstein <notifications@github.com>
wrote:

[2018-01-04 22:24] davecheney commented on #62
Bumping this again to 0.4 because it's not directly related to TLS

[2018-01-04 22:34] davecheney commented on #48
This is flag should go on the `contour serve` container
[code]

[2018-01-05 03:49] valentin2105 commented on #48
Humm,

I don't find where I'm wrong :

[code]
[code]

[2018-01-05 03:59] davecheney commented on #48
Can you pls check that k8s has picked up the change to the deployment
object.

On 5 January 2018 at 14:49, Valentin Ouvrard <notifications@github.com>
wrote:

[2018-01-05 04:00] davecheney commented on #48
Here's an updated `02-contour.yml` file to replace the one in `deployment-grpc-v2`

[02-contour.yaml.zip](https://github.com/heptio/contour/files/1605531/02-contour.yaml.zip)

[2018-01-05 04:01] davecheney commented on #48
Or you can try as a diff
[code]

[2018-01-05 04:24] valentin2105 commented on #48
I deleted all,

Created from your .yaml file ,

And still don't work :

[code]

[2018-01-05 04:26] davecheney commented on #48
Can you please paste the output of

kubectl get -n heptio-contour po contour-848d9795ff-4lt7w -o yaml

On 5 January 2018 at 15:24, Valentin Ouvrard <notifications@github.com>
wrote:

[2018-01-05 04:28] valentin2105 commented on #48
Sure :

[code]

[2018-01-05 04:31] davecheney commented on #48
Hmm, that looks right. This change affects the address envoy binds to, not contour. You probably want to run that exec command in the envoy container, not the contour container.

[2018-01-05 04:32] valentin2105 commented on #48
I'm don't seen How I put that to Envoy in that block :

[code]

[2018-01-05 04:36] davecheney commented on #48
It's a little confusing how the configuration generated by contour affects envoy.

Envoy starts with no listeners open. It connects to contour to receive all of its configuration. If there are vhosts to handle it will bind to http and/or https as required.

You can check the listeners by running something like this command in the envoy container.
[code]

[2018-01-05 04:38] valentin2105 commented on #48
I got nothing for now, But I will try to serve any vhost, thanks for tricks .
[code]

[2018-01-05 04:39] davecheney commented on #48
don't forget the `| cat` on the end

[2018-01-05 04:40] valentin2105 commented on #48
[code]

[2018-01-05 04:40] davecheney commented on #48
yes, if you have zero ingress objects in your cluster, then envoy will not open any listeners.

[2018-01-05 04:41] valentin2105 commented on #48
Of course !! Sorry for my noobness, It's first time with Envoy 😄 .

I will try theses Ingresses.

[2018-01-05 04:42] davecheney commented on #48
it's ok, this stuff is still super new. I'll make sure that the lack of listeners is documented for 0.3

[2018-01-05 04:46] davecheney opened #132 "documentation: document that envoy dynamically opens http/https ports as required"
Starting in contour 0.3, Envoy will only open a listening socket if there is something to listen for. For example, if no ingress objects in your cluster that are visible to contour (ingress class can exclude ingress objects from contour) use TLS, envoy will not open the HTTPS listening socket.

Possibly more surprisingly if there are _no_ ingress objects visible to contour (maybe because they are

[2018-01-05 18:17] stevesloka opened #133 "Minikube example link broken"
The minikube example link (https://github.com/heptio/contour#configuring-dns) does not work.

Currently: https://j.hept.io/contour-kuard-minikube-example maps to: https://github.com/heptio/contour/raw/minikube/deployment/example-workload/kuard-minikube.yaml which is invalid.

[2018-01-09 21:00] cmaloney opened #136 ""Invalid schema: #/properties/admin/properties/address" starting envoy trying to run contour with an AWS NLB + SNI"
I'm trying to get Contour running behind an AWS NLB (Contour on every node as a DaemonSet, nlb routing to it), with SNI enabled / available. Currently when I try to start contour, the `envoy` container in the pod fails with the message below:
[code]

Contour container logs:
[code]

my 02-contour.yaml (adapted from the DaemonSet and grpc v2 examples:
[code]

[2018-01-09 21:35] davecheney commented on #136
Thanks for trying contour. The tldr is you need to use the -v2-grpc version of the deployment manifest because SNI is only supported when using the yaml format.

Sorry if I got any of these details wrong (phone) I’ll comment more when I get to my desk.

[2018-01-09 21:50] cmaloney commented on #136
I think I have the bits to make it use yaml format in there (took the command lines from the -v2-grpc onces). Definitely possible I missed one of the flags though, but here's what I merged /copied across (which I believe are all the same as what I have above).

envoy flags: https://github.com/heptio/contour/blob/master/deployment/deployment-grpc-v2/02-contour.yaml#L27
contour flags: https://github

[2018-01-09 22:14] davecheney commented on #136
Yup, that looks right. Does it work? If not, what output do you get?

On 10 January 2018 at 08:50, Cody Maloney <notifications@github.com> wrote:

[2018-01-09 22:19] cmaloney commented on #136
The contour starts (logs above). Envoy doesn't however:

[code]

[2018-01-09 22:30] davecheney commented on #136
My guess is your initContainer is still somehow referencing json, please
check
https://github.com/heptio/contour/blob/master/deployment/deployment-grpc-v2/02-contour.yaml#L44

On 10 January 2018 at 09:19, Cody Maloney <notifications@github.com> wrote:

[2018-01-09 23:40] davecheney commented on #133
@rbankston this was #16. Can you please fix the shortlink or send a PR to revert this change. Thank you.

[2018-01-10 10:34] davecheney opened #137 "AWS NLB update needs to be updated for the gRPC v2 API"
https://github.com/heptio/contour/blob/master/docs/deploy-aws-nlb.md

Specifically the ds-hostnet example needs to be updated to use v2 yaml configuration.

[2018-01-10 16:06] rbankston commented on #133
The shortlink has been fixed and works as expected. @davecheney @stevesloka

[2018-01-10 16:06] #133 closed

[2018-01-11 02:02] cmaloney commented on #136
@davecheney deploying the deployment-grpc-v2 manifests as currently written gives me the same issue. Perhaps envoy changed something which broke it?

[code]

[2018-01-11 02:04] cmaloney commented on #136
I think the issue is: https://github.com/heptio/contour/blob/a44fab202b3326e16d170f54fb513aad93a04eb4/internal/envoy/config.go#L145

needs to be `tcp://`, seeing if I can't get contour building a container locally and pushing to test / debug.

[2018-01-11 02:27] cmaloney commented on #136
definitely envoy doesn't like the default yaml config file, trying to figure out why

[2018-01-11 02:30] cmaloney commented on #136
Envoy doesn't like the "dynamic_resources" section / removing that from the yaml makes envoy start properly, trying to figure out what envoy changed / how it should work now

[2018-01-11 02:40] davecheney commented on #136
Can you try to recover the contents of `/config/contour.yaml` from a failed
container. That will make it clear to me where the failure is.

On 11 January 2018 at 13:04, Cody Maloney <notifications@github.com> wrote:

[2018-01-11 02:46] cmaloney commented on #136
[code]

I mounted that into a `docker.io/envoyproxy/envoy-alpine:latest` container locally, and envoy gives the same error with that config file. In a local copy I've been editing the `dynamic_resources` section, which looks like it needs to change with: https://www.envoyproxy.io/docs/envoy/latest/api-v2/grpc_service.proto.html#envoy-api-msg-grpcservice which wants either `envoy_grpc` or `google_g

[2018-01-11 02:50] cmaloney commented on #136
feeding latest envoy the sample config: https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview#dynamic

also seems to fail, so pretty sure it's envoy broken not contour

[2018-01-11 02:51] davecheney commented on #136
The problem is this is file is yaml formatted, which is as expected, but
envoy is trying to process it as JSON, possibly because it fails to
validate as yaml.

On 11 January 2018 at 13:46, Cody Maloney <notifications@github.com> wrote:

[2018-01-11 02:54] davecheney commented on #136
Thanks. I've just confirmed the same thing locally. I suspect the envoy
devs have changed the format of the configuration file recently. I'll check
their commits.

On 11 January 2018 at 13:51, Dave Cheney <dfc@heptio.com> wrote:

[2018-01-11 03:10] davecheney opened #138 "Append --v2-config-only to all v2 grpc configs"
When Envoy finds something invalid in the contour.yaml bootstrap config it falls back to parsing it as json which leads to confusing and hard to debug errors #136.

We can use `--v2-config-only` to force envoy to treat the file as yaml, and make the error easier to understand.

[2018-01-11 03:23] davecheney commented on #136
Upstream issue for missing documentation change, https://github.com/envoyproxy/envoy/issues/2347

[2018-01-11 05:16] #136 closed

[2018-01-11 05:20] davecheney commented on #136
@cmaloney thanks for your patience. The fix has been committed to master and is available in the `gcr.io/heptio-images/contour:master` image now.

In testing on my cluster this change has fixed the invalid configuration. Please reopen if the issue persists for you.

[2018-01-12 05:20] davecheney opened #142 "Contour releases should pin envoy image to a known version"
/ht @stevesloka for pushing this.

For each Contour release we update the deployment manifests to point to a specific contour version, but the envoy version is left floating at `:latest`.

This caught me out for #136 and we should take steps to avoid this in the future. At the moment we need some features from master that aren't in 1.5, but for contour 0.4, or envoy 1.6 (whichever is the sooner) w

[2018-01-12 05:28] #137 closed

[2018-01-12 08:50] davecheney commented on #21
Bumping to 0.4, sorry

[2018-01-12 08:50] davecheney commented on #13
Bumping to 0.4

[2018-01-12 22:29] cmaloney opened #144 "Multiple ingresses for the same host / domain (kube-lego + company application)"
Lay out all the resources at the top, and then have some questions down at the bottom for what is the behavior, and what is the expected behavior in contour (Are things bugs to fix vs. implemented as designed and there is a simple workaround)

I have two different ingress specs:

1. kube-lego for handling the lets encrypt challenges
[code]

2. One to point all traffic to my app backend using the "

[2018-01-13 01:05] cmaloney opened #145 "Cleanly draining envoy with DaemonSet/NLB deployment"
sometimes it's necessary to re-deploy newer versions of contour / envoy into the cluster, and that involves killing off the running containers and replacing them with new ones.

If I'm running with an AWS ALB or classic load balancer I could probably add http healthchecks for the envoy health check endpoint + pod lifecycle hooks to make envoy stat failing it's healthcheck so it can be cleanly remo

[2018-01-13 01:15] cmaloney commented on #138
I'd be interested in trying to put together a simple patch to do this / get into contributing to contour

[2018-01-13 01:55] davecheney commented on #145
Thanks for raising this issue. There's a PR in fly for adding a healthz to envoy and contour, #135.

[2018-01-13 01:57] davecheney commented on #138
Sure thing. Go for it, but I probably won't look at it til 0.3 is released on Thursday as we're grinding down to code complete now.

The trick is to remember to run the `render.sh` script in the `deployment/` directory to regenerate the various rbac and non rbac versions of the manifests. Don't worry if you get it wrong, CI will catch it.

[2018-01-13 02:34] cmaloney commented on #145
Healthz alone wouldn't solve it though with an NLB, since there are only TCP health checks available for a TCP NLB, but healthz on a extra port could definitely work

[2018-01-15 04:05] #129 closed

[2018-01-15 04:56] #88 closed

[2018-01-15 05:18] davecheney opened #150 "Editing ingress object in place does not notify watchers"
Editing an ingress with `k edit` does not cause a notification to be sent to watchers. You have to restart envoy to notice the update.

[2018-01-15 05:21] #63 closed

[2018-01-15 09:29] #150 closed

[2018-01-15 10:33] glerchundi opened #152 "Unable to connect to a http/2 gRPC application through envoy/contour"
First of all, thanks for this project. Looks very promising.

TLTR, I'm receiving `upstream connect error or disconnect/reset before headers` which seems that I misconfigured something but I'm not able to discover what!

Lets get hands dirty, I deployed everything in GKE with Kubernetes 1.8.6. Two namespaces `edge-system` & `space-system`. `edge-system` contains contour + envoy. `space-system` con

[2018-01-15 15:12] glerchundi commented on #152
I found part of the problem by putting envoy in debug mode (and understanding, btw, more o less how everything works!) and realising that I wasn't setting authority correctly.

But...now it seems that envoy is trying to connect to the upstreams with http1 instead of http2/gRPC. How does envoy/contour detect if it should use one or the other?

This is the error: `[2018-01-15 15:07:15.523][6][info][

[2018-01-15 16:56] glerchundi opened #153 "docker v0.2.1 image not released"
In `release-0.2` branch deployment specs point to an image that doesn't exist:

[code]

[2018-01-15 23:07] davecheney commented on #152
Thanks for that debugging, this looks like it is related to #15. The TL;DR is contour defaults to all backends (what envoy calls clusters) in http/1 non tls.

[2018-01-15 23:08] davecheney commented on #153
Fixed. This was my mistake, I didn't run the release tag job for 0.2.1. I've updated the release documentation to make sure I don't forget in the future.

[2018-01-15 23:08] #153 closed

[2018-01-15 23:09] davecheney commented on #144
Can you please try again now the fix for #150 has landed.

[2018-01-15 23:16] davecheney commented on #152
Also issue #14

[2018-01-16 00:11] #103 closed

[2018-01-16 00:56] #60 closed

[2018-01-16 04:40] cmaloney commented on #144
Will take a look tomorrow (been moving a lot around in our ingresses trying to get things ready to ship, so bits are somewhat different shaped but same basic pieces are there).

[2018-01-16 05:17] davecheney opened #158 "Support inline certificate delivery"
When envoyproxy/envoy#1357 is closed switch from passing certificate material in `/config` to passing cert material in the `v2.DiscoveryResponse` message.

- [ ] remove `/config` volume mount from the `contour` container.
- [ ] send certificate data inline in `v2.DiscoveryResponse`.

[2018-01-16 05:31] davecheney commented on #144
Short answer, you cannot combine the default backend with https because the
default backend doesn't have a name. My understanding (and interpretation
of how it works) is the default backend acts as a catch all for any traffic
that doesn't have a `Host:` header. This doesn't make sense with SNI
because all traffic must have a host header.

Shorter answer: give your ingress a host name,.

On 16 Janu

[2018-01-16 11:43] glerchundi commented on #152
Thanks @davecheney.

It's related to both with and without tls. Basically is the same as the first bullet point in #14:
* defining a protocol to identify the protocol a port speaks. The naive implementation would be the port's name, but this seems shortsighted.

What I don't know, and don't have time to read docs and investigate further, how envoy knows which protocol to use in the upstream. It se

[2018-01-16 19:21] cmaloney commented on #144
I would think the tls `hosts` section would define the hostnames to use for the default backend, especially if these are https-only (which they have been changed to now that contour supports https only backends). From the point of view as a user that makes logical sense to me and that it didn't work was surprising. From the implementation point of view I definitely get that you always read from `r

[2018-01-17 03:49] davecheney commented on #144
This behaviour is a result of fixing #129.

I'm happy to adopt the position that if there is a host name mentioned in the `tls:` section that should flow through to the default or unnamed routes in the `spec:` section.

The cleanest way to handle this I think is to add a rewrite phase to ingresses as they come in from the api server. I won't be able to do this for 0.3 which comes out on the 18th,

[2018-01-17 04:24] cmaloney commented on #144
Sounds good to me. Definitely not blocking me or my deployment at all, would be nice to have though

[2018-01-17 20:54] davecheney commented on #132
Closed by #159

[2018-01-17 20:54] #132 closed

[2018-01-18 04:19] davecheney opened #162 "Switch to logrus"
Contour currently uses its on `internal/log` logging "framework". This dates back to a time when @ncdc and I were spitballling logger interfaces.

Contour is now [serious business][https://vignette.wikia.nocookie.net/lego/images/e/ee/Lord_Business_physical.png] so it is not appropriate to use it as a vehicle for experimentation.

logrus is already used across other Heptio products, so switch to it

[2018-01-18 05:03] davecheney commented on #130
Note for someone taking this ticket. The change is going to be pretty straight forward, a one line patch to change or disable the resync timer. But, what I want to see _in this issue_ beforehand is some research about the cost and impact of this change.

Thank you.

[2018-01-18 07:24] cmaloney opened #164 "Allow setting upstream request timeout"
I have an application where some requests take quite a while to process (up to a couple minutes). By default, envoy has a per-request upstream timeout of 15 seconds (https://www.envoyproxy.io/docs/envoy/latest/api-v1/route_config/route.html#config-http-conn-man-route-table-route-timeout). That means that these requests timeout in envoy and so the client gets an HTTP 504.

I'd like to teach contour

[2018-01-18 08:10] davecheney commented on #164
Yup. At the moment it’s hard coded but I can absolutely make this an annotation at the ingress or service level.

[2018-01-18 13:53] ncdc commented on #162
I do still believe that we should define a logging interface and use that everywhere, just in case we decide to swap out logrus with something else at some point. There are, for example, some race conditions when using logrus hooks to manipulate a log entry in multiple goroutines.

[2018-01-18 21:34] cmaloney commented on #164
Some other lbs settings:
Nginx: nginx.ingress.kubernetes.io/upstream-fail-timeout https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/annotations.md#custom-nginx-upstream-checks
Bluemix: ingress.bluemix.net/proxy-read-timeout https://console.bluemix.net/docs/containers/cs_annotations.html#proxy-connect-timeout
Torchbox TrafficServer: ingress.kubernetes.io/read-response-timeout

[2018-01-18 21:35] davecheney commented on #164
Yeah, this annotation soup is not awesome :(

On 19 January 2018 at 08:34, Cody Maloney <notifications@github.com> wrote:

[2018-01-18 21:36] davecheney opened #165 "Remove hard coded 127.0.0.1:8001 gRPC API address"
Make the gRPC API listener configurable.

Note to contributors, this needs to be plumbed to both bootstrap and serve as changing the latter affects the configuration written by the former.

[2018-01-19 00:00] cmaloney opened #168 "Envoy not serving ALPN, http2 over https to web browsers"
Envoy supports http2, and browsers request it via ALPN, but currently envoy as configured via contour doesn't offer any protocols via alpn so clients fall back to http/1.1 (sample below using curl).

Based on the envoy docs (https://www.envoyproxy.io/docs/envoy/latest/api-v2/sds.proto#commontlscontext) alpn_protocols should be set to `h2,http/1.1`. I'd probably say do it on all tls contexts by def

[2018-01-19 00:23] davecheney commented on #168
Thanks for reporting this issue.

The https listeners are being configured with
[code]
I thought that this would enable http/2 over tls, but I wasn't correct.

Let me look into this, it shouldn't take much to fix.

https://www.envoyproxy.io/docs/envoy/latest/api-v2/sds.proto#commontlscontext

[2018-01-19 01:08] davecheney opened #171 "Can we drop "--service-cluster", "cluster0", "--service-node", "node0" for v2 config"
I *believe*, but haven't checked yet that "--service-cluster", "cluster0", "--service-node", "node0" are optional with the gRPC api (they were part of the path params in the REST API). So maybe we can drop them and make the deployment manifests simpler.

[2018-01-19 01:12] #168 closed

[2018-01-19 01:17] davecheney commented on #168
Thanks for the fix, this looks like http/2 is being served properly
[code]
I think I might do a 0.3.1 in a week or so, and i've made a note to backport this to the release-0.3 branch.

[2018-01-19 01:26] #138 closed

[2018-01-19 01:26] cmaloney commented on #168
Working here as well with the current master build

[2018-01-19 01:32] davecheney commented on #168
Nice. I remember using httpstat to check h2 status a while back and being
confused that it wasn't showing h2. However at the time TLS support was
super new and getting all the pieces together to serve h2 over https was a
bit of an ask so I forgot to verify.

Thanks for your fix. Always welcome.

On 19 January 2018 at 12:26, Cody Maloney <notifications@github.com> wrote:

[2018-01-19 01:57] #61 closed

[2018-01-19 18:54] adelbertc opened #172 "Regression with path-based routing and editing ingresses in 0.3.0"
I followed the RBAC instructions here https://github.com/heptio/contour#add-contour-to-your-cluster which I believe should pull in the latest 0.3.0.

I previously filed an issue https://github.com/heptio/contour/issues/101 with path-based routing when the host was missing, this was later fixed and confirmed on my end.

Today I was debugging some stuff on what I believe is 0.3.0 which per the commi

[2018-01-19 22:03] davecheney commented on #172
Thanks for the detailed bug report, it's the weekend here, I'll take a look on monday.

[2018-01-19 22:04] davecheney commented on #172
The short answer is the default vhost is complicated. I'm still working on figuring out the edge cases.

[2018-01-20 01:21] adelbertc commented on #172
@davecheney Tried pointing an A record at it and using host

[code]

But no go. It hits Envoy but seems to route incorrectly:

[code]

[2018-01-20 01:43] davecheney commented on #172
Can you check the logs from your contour container `kubectl -n
heptio-contour logs -c contour $POD`, my guess is it's reporting something
about a duplicate default host.

On 20 January 2018 at 12:21, Adelbert Chang <notifications@github.com>
wrote:

[2018-01-20 20:04] sgringwe opened #175 "Using a named targetPort in application Service breaks Contour"
Kubernetes version 1.8.5-gke.0 on GKE

Using a named port like below for the targetPort results in "no healthy upstream" error.

[code]

Changing "http-server" to "8080" resolves the issue immediately.

[2018-01-20 21:58] davecheney commented on #175
I didn’t realise that targetPort could take a name or a number. I’ll check that in Monday. Thanks for your report.

[2018-01-20 22:44] davecheney commented on #175
I had a quick look at the [spec][0], which states

This is my mistake, I'll fix this on monday.

[0]: https://v1-8.docs.kubernetes.io/docs/api-reference/v1.8/#serviceport-v1-core

[2018-01-22 06:11] davecheney commented on #172
@adelbertc thank you for your detailed bug report. I spent today building a test harness, #177 , but so far have not been able to reproduce the problem you reported. In effect, editing an existing ingress, seems to cause the correct result in the gRPC configuration sent to envoy.

Can I ask you to do some more debugging if you are able to reproduce the issue.

1. Tail the log of a envoy pod before

[2018-01-22 06:31] davecheney commented on #172
Btw, which kubernetes version are you using?

[2018-01-22 06:33] davecheney commented on #172
Also, when you say the edit failed. Can you please confirm this by doing `kubectl get -o yaml` and confirm your edit was or was not applied. Thanks.

[2018-01-22 19:56] adelbertc commented on #172
I am on Kubernetes 1.8.x. I am checking logs, nothing out of the ordinary thus far.

[2018-01-23 00:12] adelbertc commented on #172
@davecheney I now wonder, Contour aside, with just the Ingress object, if I see a list of backends when I have a single service ingress rule and no backends with path-based ingress rules, that seems to suggest an issue with my Kubernetes installation as opposed to a Contour issue...

[2018-01-23 00:13] davecheney commented on #172
@adelbertc could you show what you're talking about in yaml?

[2018-01-23 00:17] adelbertc commented on #172
With this Ingress definition:

[code]

I get this output this `kubectl describe`:

[code]

However with this YAML (making sure to delete the previous Ingress definition first):

[code]

I get this (note no backends):

[code]

[2018-01-23 00:40] davecheney commented on #172
I don't know where describe gets that information from, I'll have to read it's source.

I wouldn't treat this line
[code]
As being authoritative.

[2018-01-23 00:48] davecheney commented on #162
Logrus has this, https://godoc.org/github.com/sirupsen/logrus#StdLogger, which isn't really good enough because you loose WithFields :(

[2018-01-23 02:38] davecheney commented on #172
Based on my reading of how describe works for Ingress objects, this behaviour is expected
[code]
and unrelated to Contour.

[2018-01-23 06:27] adelbertc commented on #172
Right, I was more alluding to the backends listed (or not listed) under the Rules section, I assume should have the expected behavior. However looks like with path-based routing no backend is picked up.

Either way, doesn't seem to be a Contour issue at the moment, especially considering you tested on your end with a test harness. Probably an issue on my end, closing for now - thank you!

[2018-01-23 06:27] #172 closed

[2018-01-23 06:28] davecheney commented on #172
Thanks for confirming.

On 23 January 2018 at 17:27, Adelbert Chang <notifications@github.com>
wrote:

[2018-01-23 16:35] ncdc commented on #162
@davecheney we've been using `FieldLogger` in Ark, although I still want to have a library-independent interface so we can swap implementations if desired without having to modify every .go file that imports logrus.

[2018-01-24 03:30] StevenACoffman opened #184 "Combine Contour and Istio?"
Let me start by saying I understand the differences between Contour and Istio. Contour seems equivalent to Datawire's Ambassador. Ambassador has documentation [for combining it with Istio](https://www.getambassador.io/user-guide/with-istio).

Can we use Contour as an Edge gateway ("north-south" traffic) combined with Istio for L7 observability, routing, and resilience to service-to-service traffic

[2018-01-24 04:21] davecheney commented on #184
Hi @StevenACoffman, thanks for raising this issue.

Contour's a Kubernetes Ingress controller. That's all we do, ingress.

In theory yes, but you'd have to express your edge as kubernetes ingress objects, which is probably not flexible enough, or convenient.

Given I have only a cursory knowledge of istio, I think your best approach would be to stick to an istio only solution.

[2018-01-24 14:17] StevenACoffman commented on #184
Thanks! That saves me a lot of time.

[2018-01-24 14:17] #184 closed

[2018-01-24 16:52] mykter commented on #13
Just arrived via the "good first issue" label - reading the November comment that perhaps is no longer an accurate label.

[2018-01-24 17:10] sgringwe opened #185 "Ability to limit supported TLS versions and disable certain versions"
PCI compliance states that TLS 1.0 cannot be enabled starting June 2018 (https://blog.pcisecuritystandards.org/are-you-ready-for-30-june-2018-sayin-goodbye-to-ssl-early-tls).

It'd be great to have a way to disable TLS 1.0 in Contour or generally configure supported versions.

[2018-01-24 22:58] davecheney commented on #185
This is a _very_ good idea. Currently the `tls_params` field in the listener's TLS context is not specified so I'm guessing it defaults to whatever the default of the ssl library that Envoy links against.
[code]
 This isn't great (and it isn't great to guess).

What I think we should do is twofold

- [ ] send a PR to provide a reasonably modern `tls_params` set of parameters. The values of reasona

[2018-01-25 22:25] alexbrand opened #186 "Cannot route to services that have long enough namespace or name"
When a service is created in a namespace that has a long enough name, or when the service namespace + service name is long enough, any attempts to connect to the service via Contour result in a "No healthy upstream" response.

I believe the issue is that after translation, there is a mismatch between the Cluster's EDS configuration and the Cluster Load Assignments. More specifically, the `ClusterN

[2018-01-25 22:34] davecheney commented on #186
Thanks for raising this issue, can you provide a sample service yaml and
I'll try to turn it into a unit test.

On 26 January 2018 at 09:25, Alexander Brand <notifications@github.com>
wrote:

[2018-01-25 22:36] alexbrand commented on #186
Sure thing. I used the sample deployments documented in Contour, just with a long namespace:
https://gist.github.com/alexbrand/fa4a715dc7e8e1dc5753955dde057ab1

[2018-01-25 22:54] davecheney commented on #186
Thanks. I'll integrate that into the e2e tests i've been working on.

On 26 January 2018 at 09:36, Alexander Brand <notifications@github.com>
wrote:

[2018-01-27 02:08] sgringwe opened #188 "Cannot route requests with full URL in Path"
*Edited for more clarity*

If the Path of a request includes is the whole URL such as "GET https://foo.example.com/healthz ..." instead of simply "GET /healthz ..." with a Host header, the request fails to route to the right Host. This issue also seems to trigger if the leading "/" is left out such as GET healthz ...". This failure to route happens even if the proper Host header is sent.

These di

[2018-01-27 21:22] sevein opened #189 "Broken link"
https://j.hept.io/contour-kuard-minikube-example (used in README.md) redirects to:

    https://raw.githubusercontent.com/heptio/contour/master/deployment/example-workload/kuard.yaml

I believe the URL should be:

    https://raw.githubusercontent.com/heptio/contour/master/deployment/example-workload/kuard-minikube.yaml

[2018-01-28 03:51] davecheney commented on #189
I summon @jbeda as the keeper of the shortlinks!

[2018-01-28 04:41] sgringwe commented on #188
Hey @davecheney - sorry for the confusion here but I actually edited the issue a little bit after posting. Thought I got the edit in quick enough, but looks like you responded to the old issue content.

All in all, we'll be easily be able to work around this and ok to close if you'd like, but perhaps some of our users will run into this as well in our API.

[2018-01-28 05:01] jbeda commented on #189
Fixed! Sorry about that!

[2018-01-28 05:01] #189 closed

[2018-01-28 05:13] davecheney commented on #188
The sort answer is if there is no host header present on the request, envoy will route the request to the route registered with the vhost “*”. This is different to the nginx controller because of the way nginx will assign the default host to the first server defined. I don’t know how to gce controller handles this.

Can you tell me more about your ingress usage . I don’t think I understand your pr

[2018-01-28 21:50] #186 closed

[2018-01-29 00:19] sgringwe commented on #188
Happy to provide more detail. To clarify - this issue exists even when Host header is set properly. My initial post that I then edited incorrectly assumed that the Host header wasn't present, when it actually was.

To replicate the issue, my ingress looks like:

[code]

And the following ruby script shows the issue:

[code]

The issue is the line `Net::HTTP::Post.new("https://foo.example.com/healt

[2018-01-29 00:30] davecheney commented on #188
[code]
Is a bad request because HTTP/1.1 requests should start with a `/`

[2018-01-29 00:38] sgringwe commented on #188
👍

After chatting with Dave about the full URL, Dave explained that for a proxy it is valid but for a reverse proxy it is invalid. Going to go ahead and close this out.

[2018-01-29 00:38] #188 closed

[2018-01-29 01:53] davecheney opened #199 "deployment/render.sh unit test failure does not block the build"
https://travis-ci.org/heptio/contour/builds/334531753

The render.sh check ran and failed as expected, but it did not block the build.

[2018-01-29 19:48] davecheney commented on #131
It's going to get more expensive when I have to start watching pods to fix #175 :(

[2018-01-29 19:49] davecheney commented on #48
Marking as closed as #132 is complete.

[2018-01-29 19:49] #48 closed

[2018-01-30 03:28] #199 closed

[2018-01-30 03:42] davecheney commented on #175
I think I know how to fix this without watching all the pods in the cluster. I'm working on a fix now, but I'l first land some e2e tests to make sure I don't mess up the current behaviour.

[2018-01-30 03:52] davecheney commented on #171
In theory you should be able to deploy contour as a deployment or a
daemonset, then edit the deploy/ds and remove those command lines. If Envoy
squeals, then we have to keep them.

On 30 January 2018 at 14:46, Jesús García Crespo <notifications@github.com>
wrote:

[2018-01-31 03:15] sevein commented on #171
@davecheney, no luck. I used `kubectl edit` to edit the arguments as you suggested.

This is to confirm that the arguments were deleted:

[code]

The status of the pods:

[code]

And this is envoy's standard stream:

[code]

[2018-01-31 04:22] davecheney commented on #171
hmm, that's disappointing.

On 31 January 2018 at 14:15, Jesús García Crespo <notifications@github.com>
wrote:

[2018-02-01 01:09] sevein commented on #165
I wanted to give this a try. This is the plan I would like to suggest:

- Add flags `--xds-address` and `--xds-port` to the `bootstrap` command. They will be used to populate the values of `config.XDSAddress` and `config.XDSGRPCPort`.

- Add flags `--xds-address` and `--xds-port` to the `serve` command. They will replace the `V2_API_ADDRESS` constant. Their values can be converted into an address

[2018-02-01 04:08] davecheney commented on #165
SGTM. When adding the flags to `cmd/contour/contour.go` create two sets; one for the bootstrap subcommand, the other for serve, potentially using `StringVar` to bind directly to values in the bootstrap config.

[2018-02-01 04:22] davecheney opened #210 "Non standard ingress ports break routing"
This issue was reported on #contour on the k8s slack. In essence, when using minikube the service load balancer will allocate a random high port as the ingress. This is problematic because this port is not a _well known_ (RFC 2616 gibberish) port so `curl(1)` or browsers will include the port number in the `Host:` header. This causes Envoy to misroute the request because the `domains` file the RDS

[2018-02-01 04:30] davecheney opened #211 "Avoid creating duplicate clusters to handle named service ports"
An ingress object may specify a backend service using either a port number, or a name. The latter refers to the name of a service's port.

To support this, pre 0.1 Contour generated a cluster for both `namespace/service/port` and `namespace/service/portname`. This was expedient but results in duplicate cluster entries which doubles the healthcheck load on backends as well as increases the difficul

[2018-02-01 05:15] davecheney commented on #175
This has turned out to be quite tricky to fix.

[2018-02-02 03:42] #165 closed

[2018-02-03 17:19] sevein commented on #158
The issue is now closed (commit https://github.com/envoyproxy/envoy/commit/01ee72548d0b075c29dadade7b96143cd116e9a9 fixes it) and it's planned to be included in Envoy 1.6.0 with no due date.

[2018-02-03 18:06] sevein commented on #185
The default [ciphers](https://github.com/envoyproxy/envoy/blob/v1.5.0/source/common/ssl/context_config_impl.cc#L15-L33) and [curves](https://github.com/envoyproxy/envoy/blob/9ed62923a8ff6745407046c4451ce757348d966f/source/common/ssl/context_config_impl.cc#L35) in Envoy seem pretty sane to me.

Regarding to the protocols supported, the following table shows the current defaults and the change that

[2018-02-03 19:24] sevein commented on #210
As a workaround, I've also been using `socat` to set up a TCP proxy so I can access from my browser:

    $ socat TCP-LISTEN:80,fork TCP4:example.com:31847

This way the browser sends the `Host: example.com` header as expected by Envoy.
It should work as long as `example.com` resolves to `127.0.0.1`.

[2018-02-05 04:20] davecheney commented on #175
Still seems to be a problem

[2018-02-05 22:13] cmaloney opened #221 "Allow specifying envoy retry policy via annotations"
Envoy allows [setting a per-route retry policy](https://www.envoyproxy.io/docs/envoy/v1.5.0/api-v2/rds.proto#routeaction-retrypolicy). It would be useful if contour allowed ingresses to specify their retry semantics via annotations.

In my particular use case this comes up because backends for a couple services come/go without a lot of warning when their k8s deployment is updated, and there is a b

[2018-02-05 23:57] sevein commented on #158
I've made an [attempt](https://github.com/heptio/contour/compare/master...sevein:inline-tls-certs?expand=1). Looking forward to hear your thoughts.

[2018-02-06 00:13] davecheney commented on #158
@sevein looks pretty good from here, wanna push the "create PR button"?

[2018-02-06 20:29] #175 closed

[2018-02-07 00:53] #158 closed

[2018-02-07 01:08] davecheney opened #224 "Elide dummy cluster load assignment locality data"
`func clusterloadassignment` adds a bunch of dummy locality data to each v2.ClusterLoadAssignment object.

https://github.com/heptio/contour/blob/master/internal/contour/clusterloadassignment.go#L114

Is this needed; it obviously isn't being used for anything real because the data in there is garbage. Can we avoid generating this in the helper?

[2018-02-07 01:40] davecheney opened #225 "Incorporate latest changes to go-control-plane"
envoyproxy/go-control-plane#39 moved the `api/` packages to another location.

- [ ] find that location
- [ ] update `gopkg.toml`
- [ ] update callers of that code.

[2018-02-07 04:20] colemickens commented on #36
I'm seeing the same behavior with a GKE cluster running `1.9.2-gke.0`. RBAC is enabled.

[code]
`Error from server (Forbidden): error when creating "https://j.hept.io/contour-deployment-rbac": clusterroles.rbac.authorization.k8s.io "contour" is forbidden: attempt to grant extra privileges: [PolicyRule{Resources:["configmaps"], APIGroups:[""], Verbs:["list"]} PolicyRule{Resources:["configmaps"], AP

[2018-02-07 04:33] colemickens commented on #36
I've found my mistake. Contour isn't using `helm`. The default RBAC for users in GKE is insufficiently privileged to deploy this. I've resolved this by creating a role binding to 'cluster-admin' for my user.

[2018-02-07 05:25] davecheney commented on #36
Yeah, there is a magic incantation you need to do to allow the gke admin user to create cluster roles.

I kinda see this as a gke problem, but I’d be happy to be convinced otherwise, especially if this is something we can fix in our deployment yaml.

[2018-02-07 20:17] sevein commented on #142
#222 depends on Envoy 1.6.

[2018-02-08 00:56] davecheney opened #228 "Find a way to allow xds_cluster to be defined as a DNS name, not an IP address"
Using `contour bootstrap --xds-address=contour.heptio-contour.svc.cluster.local` causes the following bootstrap config to be written.
[code]
Which envoy rejects
[code]
Figure out if it is possible to use a DNS name for the `xds_cluster` static resource.

[2018-02-08 00:57] davecheney opened #229 "Replace all occurences of xds_cluster with contour"
The name `xds_cluster` in bootstrap configuration templates and CDS/LDS/RDS configuration stanzas should be updated to `contour`.

[2018-02-08 02:21] davecheney commented on #171
Dropping the priority and removing the milestone for this bug. I think this might take some work with envoy upstream to remove these parameters, and at the end of the day, they're not such a weight to carry.

[2018-02-08 03:51] #224 closed

[2018-02-08 06:20] sevein commented on #228
It seems that `STATIC` clusters use [`IpResolver`](https://github.com/envoyproxy/envoy/blob/c932e50c34a11dd382dca9c5daf2026d4686daa9/source/common/network/resolver_impl.cc#L17-L39), that explains the error `malformed IP address`.

`SocketAddress` has a [`resolver_name` field](https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/core/address.proto#L48-L52) that we could use.

[code

[2018-02-11 23:58] #164 closed

[2018-02-12 00:06] #229 closed

[2018-02-12 00:15] sevein opened #235 "Remove unneeded items from Docker image context"
More than 99% of the Docker image context is used by `/.git` and `/vendor` but I think they're unused during the build. Here's a little experiment where I use `.dockerignore` to remove both directories from the context:

[code]

It doesn't make a very big difference but sending the context to my local minikube goes down from 4.5 to 0.2 seconds.

Should it be added to the repo?

[2018-02-12 01:21] davecheney commented on #235
SGTM. 👍

[2018-02-12 02:10] #235 closed

[2018-02-15 02:02] #225 closed

[2018-02-15 02:33] #228 closed

[2018-02-15 18:18] sercand commented on #152
@glerchundi adding grpc support is easy just [adding Http2ProtocolOptions](https://github.com/envoyproxy/envoy/blob/3e25a90a3655f78ef6a95a49feba4cd4370cc408/examples/grpc-bridge/config/s2s-grpc-envoy.yaml#L35) to cluster config. I have [implemented](https://github.com/sercand/contour/commit/3ca914fb869b92aae440ff397bd251ce686a7e76#diff-eac631781ac7cef8f7729dd55a1c0e62R101) it in order to test if i

[2018-02-15 20:39] glerchundi commented on #152
@sercand cool! do you mind sending a PR and we can discuss the final solution there? We can put on the table grpc-web support as well.

[2018-02-16 16:58] alexbrand opened #243 "No healthy upstreams when service has a single unnamed port that is different than the target port"
The service in the default kuard setup has a single unnamed port that does not match the target port:

[code]

This results in Contour configuring a cluster with an EDS config that specifies serviceName = `default/kuard/80`. On the EDS side, the endpoints have port 8080 instead of 80, so the ClusterLoadAssignments specify a cluster name of `default/kuard/8080`. This mismatch results in Envoy being

[2018-02-16 17:17] alexbrand commented on #243
In the case that a service has a single port, and the port is unnamed, it seems like we could use `namespace/name` as the service name in the Cluster's EDS config, and consequently, use the same in the cluster name of the ClusterLoadAssignment. If the single port is named, we can maintain the current behavior.

Happy to work on this.

[2018-02-17 02:11] davecheney commented on #243
Damnit. This is so hard to lock down.

Please start by writing up a test in internal/e2e. You’ll probably have to look at the cluster you deployed into to get the e2e document that the endpoint controller created.

[2018-02-18 22:43] #162 closed

[2018-02-19 01:57] davecheney commented on #243
I think I have reproduced the bug.

[2018-02-19 03:08] davecheney opened #247 "Properly handle service document with one unnamed port targeting a named targetport."
The following svc spec
[code]
Generates the following endpoint
[code]
Which contour mishandles because the cluster.service_name field generated by CDS will be "default/httpbin/http", however there is no named port in the endpoint document. The endpoint controller has done it's job and dereferenced `http` to port 8080 in the container spec, but has not recorded a name in the endpoint document for t

[2018-02-19 04:48] #243 closed

[2018-02-19 22:28] #247 closed

[2018-02-20 08:11] marcwuk commented on #36
What is the magic incantation for GKE. Can we add this to the install guide.

[2018-02-22 05:08] colemickens commented on #36
@marcwuk https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control#prerequisites_for_using_role-based_access_control

[2018-02-22 05:47] wmedlar opened #250 "ingress.kubernetes.io/force-ssl-redirect: "true" forces SSL for all ingresses to domain"
This causes issues with cert-manager's ACME HTTP validation, which can be configured to use a separate ingress resource for the challenge. The setup looks something like the following:

[code]

The app ingress should always force HTTPS while the challenge ingress should be HTTP-only, however this is not the case and every HTTP request to `example.com`, regardless of the path, is redirected to HTTP

[2018-02-22 07:17] davecheney commented on #250
Thanks for raisig this issue, yeah I can see where that would blow up. I already have to turn off force ssl for the initial cert generation round, but I had hoped that leaving it on (if the cert is valid during renewal) would be ok.

I can see how this could blow up, so I'll look into fixing it tomorrow.

I think (fingers crossed) that it will be a simple change

[2018-02-26 15:08] cten opened #253 "TLS support documentation"
There is a file for TLS support but nothing in there talks about how to get started using TLS, I assume its modifying Envoy somehow but it would be good to either give a quick explanation on how or reference how to do it in Envoy.
Thanks

[2018-02-26 15:18] cten commented on #253
Found this [Announcing Contour 0.3](https://blog.heptio.com/announcing-contour-0-3-37f4aa7bc6f7) which is helpful.

[2018-02-26 19:52] #250 closed

[2018-02-26 20:04] wmedlar commented on #250
Wow, thanks for the quick turnaround!

[2018-02-26 20:26] davecheney commented on #250
No worries. This is available in the :master tag now, and will be in the
v0.4.0 tag in a few weeks. Please let me know if you run into any problems.

On 27 February 2018 at 07:08, Will Medlar <notifications@github.com> wrote:

[2018-02-28 15:46] Nikkau opened #255 "[Feature Request] Ability to configure which ingressClass Contour watch"
Hi,

Today the check for IngressClass annotation is against a hardcoded value (https://github.com/heptio/contour/blob/master/internal/contour/translator.go#L143-L144).

Are you open to make it configurable?
I use k8s on GKE and I expose ingresses both public and privately with external and internal LBs, I plan to use this annotation to "map" my services on the right side of my cluster.

Btw, great

[2018-03-01 03:36] DylanGraham commented on #253
There's a [blog post](https://blog.heptio.com/how-to-deploy-web-applications-on-kubernetes-with-heptio-contour-and-lets-encrypt-d58efbad9f56)

[2018-03-01 03:46] davecheney commented on #255
I think this is a reasonable request and would help with tools like kube-lego which are kind of hard coded to only understand "gce" or "nginx".

I'm going to mark this has help wanted as I'm not planning on working on this for 0.4.

If you want to contribute to this feature, please discuss the change you plan to make, and how you will test it here on this issue _before_ coding. If you send a PR wi

[2018-03-01 03:47] DylanGraham commented on #13
Since DNS providers generally allow wildcards which you can point to your loadbalancer, would this be best left to having host names explicitly listed in the Ingress?

The [ingress docs](https://kubernetes.io/docs/concepts/services-networking/ingress) also mention that having no hostname `defaults to *` so maybe this, combine with a DNS wildcard would solve your use case?

[2018-03-01 03:55] davecheney commented on #13
This one is tricky, I've removed the good first issue tag

[2018-03-01 11:31] Nikkau commented on #255
I'm not very familiar with the code base yet, my initial naive plan is:
- Add a "ingress class name" field on Translator struct.
- Add a flag in `main()` to choose a name.
- Update `addIngress()` to compare annotation against this field or "contour" in case of nil value.

For testing, I think I have to add a new test which is like `TestTranslatorAddIngress` with a `Translator` created with a value

[2018-03-01 13:26] cten commented on #253
The blog post is great, thanks but updating documentation is best. I might try to update it as soon as I get it working.

[2018-03-01 13:26] #253 closed

[2018-03-01 16:25] Nikkau commented on #255
After trying these ideas a bit, I think interpreting the nil value as `"contour"` is painful, it forces ugly checks to do the job.

My new proposal is to add constant for the default value ("contour") and set this new field with this default value everywhere a Translator is created (seems smelly but it's already did for the `log` field) except the new test specially crafted for this feature.

[2018-03-02 04:17] davecheney commented on #255
@Nikkau sounds good to me

For creating the default, have a look at the pattern in cmd/contour

https://github.com/heptio/contour/blob/master/cmd/contour/contour.go#L72

To get a `t.IngressClass` field, add it too

https://github.com/heptio/contour/blob/master/internal/contour/translator.go#L48

following the pattern here

https://github.com/heptio/contour/blob/master/internal/contour/listener.go#

[2018-03-02 10:59] Nikkau commented on #255
I just submitted #256.

For reference, my first try was https://github.com/Nikkau/contour/commit/6503421e8176c07099ea75dbe572513cff3b5d04 which save the call to `ingressClass()` at each `{add,remove}Ingress()` invocation but it clearly doesn't happen often enough to be a useful optimization.

[2018-03-02 15:12] cten opened #257 "Envoy caching routes"
I was trying out contour by installing the simple kuard example, I was able to get it up and working very quickly and easily. I then tried making it TLS; I run on prem 1.9 HA cluster. When I added TLS the https connection would ask to accept self-signed cert then give a 404 but the http would work, while trying to debug I found that the envoy admin interface routes showed the old routes that I del

[2018-03-05 02:29] #255 closed

[2018-03-05 02:54] davecheney commented on #257
Hi, sorry you're having issues. I'm going to need a few pieces of information to help you.

1. Can you grab the output of the envoy container
[code]
and the output of the contour container
[code]
and the ingress object you applied.

[2018-03-05 18:30] cten commented on #257
So first I installed the example rbac deployment example except I removed the service definition and added hostNetwork: true to the pod definition. Then I applied this ingress resource:
[code]
This works and I see this in the routes endpoint in envoy:
[code]
It's when I edit the ingress resource to:
[code]
That I see the old wildcard route still in envoy:
[code]
I simplified this, originally I was

[2018-03-06 21:47] davecheney commented on #131
Turns out we don't have to watch all the pods, so moving to the backlog until it becomes a problem

[2018-03-06 21:49] davecheney commented on #185
Some work on this was done in 0.4 by @sevein. We might do more in 0.5.

[2018-03-06 21:56] davecheney commented on #62
Bumping this again, sorry

[2018-03-10 00:17] jevonearth commented on #69
FWIW; The ingress-nginx annotation `nginx.ingress.kubernetes.io/rewrite-target` might be a useful reference when implementing this.

[2018-03-10 00:20] alvaroaleman opened #265 "Envoy doesnt appear to serve tls"
Hi,

Currently playing around with contour, when trying to connect via tls I get the following:

[code]

The same curl against a nginx ingress controller running in the same cluster works perfectly fine:

[code]

[2018-03-12 00:08] davecheney commented on #69
This is quite complicated because the ingress object does not describe _a_ vhost, you can mention several in the same ingress object, so it can be unclean what the target of the rewrite is.

[2018-03-12 00:34] davecheney commented on #265
@alvaroaleman sorry you're having problems. Can you please describe how you've deployed contour.

[2018-03-12 00:43] davecheney commented on #152
I'd like to see this annotation defined on the ingress object, not the service. This means its blocked behind #211

[2018-03-12 00:48] davecheney commented on #171
Closing as there is no obvious way to resolve this bug in the near term.

[2018-03-12 00:48] #171 closed

[2018-03-12 01:09] davecheney commented on #265
Also, how are you generating that TLS certificate. It's unusual to offer TLS on an IP address (and AFAIK the `Host:` header is only consulted after TLS negotiation)

[2018-03-12 01:19] davecheney opened #267 "Upgrade base docker image to Go 1.10"
For 0.5.0.

Should be an easy one for someone looking to get their feet wet with the contribution process.

[2018-03-12 01:38] davecheney commented on #152
Hmm. On reflection I think service is fine, but the annotation should probable be something like
[code]
That is, you call out that port (name or number) is h2. A similar pattern could apply to backend TLS options.

[2018-03-12 01:38] davecheney commented on #152
@glerchundi do you feel like submitting a PR? We're closing in on 0.4 this thursday, but maybe you want to try for this release?

[2018-03-12 02:30] davecheney commented on #267
Don't forget to bump the go version in travis as well.

[2018-03-12 04:28] davecheney commented on #21
Sorry, once again this is going to get bumped. 0.5, I hope, will resolve it.

[2018-03-12 04:30] davecheney commented on #13
@DylanGraham I agree with this. You could use the default ingress to accomplish this as a workaround, but that would mean you could only do this once per instance of contour which isn't ideal.

[2018-03-12 05:06] davecheney commented on #221
@cmaloney with #241 landed, is there anything more to do here for 0.4?

[2018-03-12 05:12] cmaloney commented on #221
I think it's all done / that covered all the bits I needed.

[2018-03-12 05:12] #221 closed

[2018-03-12 06:08] davecheney commented on #257
@cten thanks for the detailed reproduction, I've verified the issue and added some regression tests. Fix coming up RSN.

[2018-03-12 06:38] davecheney commented on #221
👍

[2018-03-12 08:26] alvaroaleman commented on #265
You are right about the `Host` header, I somehow thought it would get transferred unencrypted because of SNI.

When using the newly learned `--resolve` curl param everything works as expected:

[code]
The only difference seems to be that nginx falls back to any certificate when it can't find the correct one which Envoy does not.

Thanks for your help!

[2018-03-12 08:26] #265 closed

[2018-03-12 08:42] glerchundi commented on #152
Ok, so in order to confirm that we're talking about the same approach, let me put some examples:

[code]

Or these ones, following the example above:
[code]
[code]
[code]

I'm right?

[2018-03-12 10:28] davecheney commented on #265
nginx treats the "first" server defined in the configuration as the
default, which is used when no other server matches. This could explain the
behaviour. This also matches the behaviour of the current ingress object,
which is sometimes hard to explain. Envoy also has a notion of "default",
but its applied explicitly by binding routes and hosts to a virtual host
called "*". Things get more complic

[2018-03-12 10:33] davecheney commented on #152
Yup, all of those (although the last one is sheer masochism :( )

The way we should process these is put them into a map; then for each service entry in the Service document; add http2 options if the services' name or port is in the map.

[2018-03-12 10:50] davecheney opened #273 "Improve gRPC XDS handshaking"
Currently contour plays fast and loose with the xDS protocol[0]; we don't really check the sequence numbers sent to envoy, and we ignore the ack back.

This should be improved for 0.5.

[0]: https://github.com/envoyproxy/data-plane-api/blob/master/XDS_PROTOCOL.md

[2018-03-12 10:52] davecheney opened #274 "internal/group: return error from workers"
Currently group.Run swallows the error returned from workers. The error should be propagated back to the caller.

[2018-03-12 11:14] glerchundi commented on #152
Yep that is what I did in [this PR](#272).

[2018-03-12 23:23] davecheney opened #277 "Grpc: filter EDS requests"
Envoy opens a eds  watcher for each cds cluster. At the moment we transmit the entire eds cache to each watcher which dutifully ignores almost all of it. We should allow watchers to filter the resources requested.

[2018-03-13 04:24] davecheney commented on #211
This is an important change that is too large for the time remaining in 0.5. I'm making it a priority for myself for 0.5

[2018-03-13 04:38] davecheney commented on #257
Looks like #271 caused contour to generate an invalid RDS record
[code]

[2018-03-13 05:12] davecheney opened #279 "deployment/render.sh check is broken (again)"
#264 added a change to the `deployment/` files but was not caught by the render check in travis.

Fix this yet again.

[2018-03-13 05:14] davecheney commented on #279
It probably happened before #264. Sorry to cast aspersions. It's still broken thou :(

[2018-03-13 05:18] #279 closed

[2018-03-13 05:18] davecheney commented on #279
Nope, this was my own damn fault, my `deployment/` working copy was stale.

[2018-03-13 05:21] davecheney opened #280 "deployment: update envoy pinned hash to the 1.6 tag once available"
#142 pinned the envoy-alpine hash to a known working hash.

Revisit this when Envoy 1.6 is tagged and available.

[2018-03-13 05:22] #142 closed

[2018-03-13 06:47] #257 closed

[2018-03-13 07:35] davecheney commented on #144
Sadly i'll have to bump this to 0.5. I'm worried about rushing and half assing the semantics. I think a rewrite pass is the best way to handle this because then we know, in isolation of the ingress -> vhost translation how the ingress object has been mutated -- and can contain the argument to that.

[2018-03-13 07:39] davecheney commented on #13
I'm going to remove the 0.4 milestone for this. I'm not sure what the best way to approach this is; the 1.9 api docs for ingress say that the `host:` field must be _Host is the fully qualified domain name of a network host, as defined by RFC 3986_, which excludes meta characters like `*`.

[2018-03-13 07:40] davecheney commented on #1
I'm going to mark this complete, as of 0.4 we have the ability to elide the requirement to co-host envoy and contour which clears the way for other mechanisms of generating the bootstrap configuration.

[2018-03-13 07:40] #1 closed

[2018-03-13 07:42] davecheney commented on #14
Assuming #152 is resolved, fixing this issue shouldn't be that complicated. Assigning to 0.5

[2018-03-13 07:47] davecheney commented on #15
The way I think this can be accomplished is to use a [tcp proxy][0] filter on the tls listener.

There are a number of caveats with this approach:

- It relies on TLS/SNI for host name routing. You can't do this on normal port 80 without binding to a new port.
- Envoy _must_ do TLS negotiation before making the backend connection. I don't know how to forward the TLS negotiation to the cluster back

[2018-03-13 07:49] davecheney commented on #130
Assigning this to 0.5 for someone to take a swing at. The Jan 18 comment is pretty accurate if you want to try.

[2018-03-13 07:50] davecheney commented on #131
Closing until there is a specific issue raised from performance/load testing.

[2018-03-13 07:50] #131 closed

[2018-03-13 08:45] alvaroaleman opened #282 "Add liveness probe"
To determine if a given Contour instance is ready to receive traffic it would be helpful to have a liveness probe.

[2018-03-13 10:23] davecheney commented on #282
There are several duplicates of this issue already. Please review the open issues and close this one as a duplicate.

[2018-03-13 15:40] elisiano commented on #21
@davecheney just out of curiosity: is there an ETA for this?
0.4.0 is not out yet but I'm noticing this has been bumped to 0.5.0.

[2018-03-13 18:00] cten opened #283 "Support health checking of Contour"
Most load balancers have the feature of checking whether an endpoint is healthy or not. In HAProxy a common way to do this is use the HEAD method and expect a specific return code.
Can a health endpoint be added to Contour, whether its a /healthz path or just supporting the HEAD method on the base path doesn't really matter to me.
Thanks

[2018-03-13 18:59] vadimi opened #284 "Listener accepted with 0 resources"
Hello,
I'm trying to use latest contour in minikube with kubernetes 1.9.0. I followed deployment instructions and deployed it using `deployment/ds-grpc-v2` files. Unfortunately I cannot access envoy after that at all (inside or outside of the cluster). I switched envoy to debug mode and this looks kind of weird to me:

[code]

Am I doing something wrong? Not sure what to do next.

[2018-03-13 21:25] davecheney commented on #284
Have you deployed an ingress resource to that cluster? Envoy won't open any listening sockets until there is something to listen for.

[2018-03-14 02:02] vadimi commented on #284
Got it, I deployed `kuard` example and now I see the following in the log:

[code]

I also created a service of type NodePort to expose contour port 8080 (mapped to 30140), bit still cannot access `192.168.99.100:30140`

[2018-03-15 04:18] davecheney commented on #21
I know i've kicked it down the road a few times. I know this is important,
but it's also non trivial, but my desire is to commit to fixing it before
the 0.5 release in may.

On 14 March 2018 at 02:40, Elisiano Petrini <notifications@github.com>
wrote:

[2018-03-15 17:35] azuretek opened #289 "Enable websocket support?"
I'm trying to get websockets working but it looks like it's not enabled. When I try to upgrade to a websocket connection I get ssl handshake errors currently.

The envoy docs indicate we should be able to enable it like so:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html#envoy-api-field-route-routeaction-use-websocket

Nginx handles websocket endpoints like this:
h

[2018-03-15 19:38] davecheney commented on #284
This could be #210

[2018-03-19 13:37] #267 closed

[2018-03-19 14:53] Lookyan opened #291 "max requests overflow in envoy"
I have problems with contour in production environment.
I have big cluster with huge number of endpoints (but I'm not sure that this is a reason of my problem) and when I launch envoy+contour for my cluster I get `max requests overflow` in logs:

[code]

These messages infinitely arrive to logs. And what's interesting, I have only one ingress resource with ingress class `contour` and despite these

[2018-03-19 21:46] drobinson123 opened #293 "Service endpoint changes not updated in envoy"
I'm seeing some weird issues with Contour 0.4. It seems like Contour configures Envoy correctly upon startup but then fails to keep envoy updated as resources change (service endpoints specifically). If I restart a contour pod it starts with the configuration I expect to see, and it routes requests correctly, that is until endpoints change. Here's what I see in the logs upon startup -- should I be

[2018-03-19 21:51] davecheney commented on #293
Dont' worryt about those warnings during startup. Envoy starts before contour and tries to make a connection to contour which fails the first time (mostly).

[2018-03-20 02:55] drobinson123 commented on #293
The `contour cli eds` command shows some interesting behavior.

Original state: kuard deployment has 3 pods (and 3 endpoints):

[code]

`contour cli eds` shows:

[code]

And /clusters shows:

[code]

Then upon deleting the deployment I have 0 pods but _2_ endpoints:

[code]

[code]

[code]

[2018-03-20 03:12] drobinson123 commented on #293
`cli eds` still shows the 2 endpoints when the svc is deleted, but /clusters does not.

[code]

[code]

I removed the ingress then created the svc and deployment again. `cli eds` showed 1, then 2, then all 3 endpoints, but they are still missing from /clusters.

[code]

[code]

[code]

[code]

[2018-03-20 13:49] Lookyan commented on #291
Also, there are many log entries in contour like these:

[code]

[2018-03-20 15:42] davecheney commented on #291
How many endpoints do you have? The messages from contour suggest that it isn't able to keep up with the amount of data being read from the API server. I'd guess during startup.

[2018-03-20 15:49] Lookyan commented on #291
I have 54 endpoints and 400 pods in current cluster. But I have clusters with way bigger amount of entities up to 5000.

Also, I found that grpc has this limit https://github.com/grpc/grpc-go/blob/master/transport/control.go#L40
Can it be a problem here?

[2018-03-21 09:58] Lookyan commented on #291
Also, I have a lot of external services and for each of them, envoy creates a cluster group.
Eventually, I have 1845 clusters in envoy.

I saw in source code, that contour will be refactored so it won't discover all endpoints and it will update only ingress related cluster groups. Do you have any ideas about design of this implementation? Maybe I can help with it.

[2018-03-22 12:33] Lookyan commented on #291
After I removed cluster creation for external services problem disappeared. But I think on larger installations we will face the same problem even without external services.
@davecheney What do you think is it ok to add external service filtering to contour upstream as it will never be useful to have clusters made of them in envoy?

[2018-03-22 15:05] Lookyan opened #297 "Ingress class processing"
I'm not sure whether it's right behavior or not:

For now, we have this logic to determine if we need to create a route in envoy or not:
https://github.com/heptio/contour/blob/master/internal/contour/translator.go#L156-L174

But this logic gives us all ingress resources which don't have ingress class annotation. Is it right or wrong? Maybe we need to filter such ingress resources?

Also, is it ok

[2018-03-22 17:54] mluedke commented on #291
We are running into the same issue with 621 ingresses in our cluster.

[2018-03-22 20:14] #280 closed

[2018-03-22 20:34] davecheney commented on #291
@Lookyan thanks for debugging this, let me read up what that variable does (I'm not sure who's the client in the contour / envoy relationship)

[2018-03-22 20:38] davecheney commented on #291
Yeah, I don't think that's the magic value. Contour doesn't use that library, and envoy is the client, not contour.

[2018-03-22 21:19] davecheney commented on #297
Correct, if you don't list an ingress class, your ingress may be served by multiple ingress controllers.

I think it's a fine default, it would be sure confusing to deploy an ingress object and it do nothing because it wasn't served by an ingress controller

I don't think so. Do you have an example where this behaviour is bad?

As in, `contour serve --ingress-class=nginx` while the nginx controlle

[2018-03-22 21:34] davecheney commented on #291
I think this is the cause

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/circuit_breaking.html

the "cluster" in this case is the xds_cluster entry that is hard coded by `contour bootstrap`. We don't specify any connection limits, so these defaults probably apply.

[2018-03-23 06:24] Lookyan commented on #297
Ok, now it's clear, thank you. I think it's right behaviour.

[2018-03-23 06:24] #297 closed

[2018-03-23 08:41] Lookyan commented on #291
I've patched envoy configuration and now it looks like this:

[code]

But errors remain the same.

[2018-03-23 15:07] Lookyan commented on #291
It helps:

[code]

Now I get this:

[code]

But it seems like it works well.
Eventually, I think this option `max_requests: 100000` helps.

@mluedke please try this option in your cluster.

[2018-03-23 15:17] Lookyan commented on #291
But in some cases it can be not enough, so which value for max_requests is correct is an open question.

[2018-03-23 17:21] davecheney opened #298 "Do not create clusters for unrelated services"
Currently Contour creates CDS entries for any `Service` document visible via the API. This is a problem because a CDS entry a causes Envoy to open a new EDS gRPC stream. This inflates the number of connections to the `xds_cluster` and inflames issues like #291

We should filter Services to only those that are directly referenced by an active Ingress.

[2018-03-23 21:03] Lookyan opened #299 "Proxying doesn't work for services with different port and targetPort"
I found interesting problem. When we have kubernetes service like this:

[code]

Then it doesn't work because, as far as I understand, envoy tries to proxy to the port 8890, but endpoint listens 8888 port. So, we get an answer from envoy, that this service doesn't have healthy endpoints.

[2018-03-24 01:29] davecheney commented on #299
I've had several goes at fixing this problem and I was hopeful I nailed it last time. Can you please grab a copy of /clusters (or run the contour cli cds k exec trick) and the service document from the api and I'll look into it.

Thanks

[2018-03-24 01:30] davecheney commented on #299
for reference
https://github.com/heptio/contour/blob/master/internal/e2e/eds_test.go#L103

[2018-03-24 01:59] #152 closed

[2018-03-24 10:21] glerchundi opened #300 "Support gRPC-Web"
Proposals:
1. One annotation `contour.heptio.com/http-filter.{name}` and just support those filters that require no config parameters, i.e `grpc_web` :)
2. Two annotations `contour.heptio.com/http-filter.{name}` and another one for the configuration `contour.heptio.com/http-filter.{http_filter_name}-config`
3. One annotation to enable it like the above and then another that points to a config map

[2018-03-24 21:13] Lookyan commented on #299
Maybe I've mistaken about the reason of problem. Because eds gives me right endpoint (it works):
[code]

Cluster:

[code]

And route:

[code]

describe svc

[code]

But eventually I get this from envoy in its logs:
[code]

[2018-03-25 22:36] davecheney commented on #299
That looks right. Is the dashboard talking http or https?

[2018-03-26 04:35] Lookyan commented on #299
It talks http.

[2018-03-26 11:31] glerchundi commented on #289
In [`nginx-ingress`](https://github.com/kubernetes/ingress-nginx/blob/nginx-0.12.0/rootfs/etc/nginx/template/nginx.tmpl#L881-L882) it's available by default and then you probably need to tweak `proxy-{read,write}-timeout` in order to keep it really persistent.

@davecheney I can submit a PR once you validate the how.

Proposals:
* Always on. Need to check which are the default `read`/`send` timeou

[2018-03-26 20:56] stevesloka commented on #298
I can work on this issue.

[2018-03-26 23:32] davecheney commented on #298
Cool. I haven't thought about how it would work but there would need to be
some connection between onadd/update/delete for ingress and service.

FWIW I don't think this is super urgent, the issues with connection limits
are best solved by adjusting the bootstrap config on the xds_cluster entry.

On 27 March 2018 at 07:56, Steve Sloka <notifications@github.com> wrote:

[2018-03-27 00:29] davecheney commented on #299
Can you port foward to the [envoy admin interface][0] and grab the relevant portion of the /cluster output. I'm interested to see if there are no endpoints registered, or if they are, but are not responding.

[0] https://github.com/heptio/contour/blob/master/docs/troubleshooting.md#access-the-envoy-admin-interface-remotely

[2018-03-27 00:38] davecheney commented on #289
I'm not sure the nginx method is correct. As I understand it, websocketness is a property of the route; ie /ws, not the backend service.

If anything this should be

a. `contour.heptio.com/websocket-routes: "/route1,[route2,...]"` on the ingress
b. `contour.heptio.com/upstream-protocol.ws: "port,[port]"` on the service.

[2018-03-27 04:48] Lookyan commented on #299
This is /cluster grep dashboard:
[code]

And this is stats of dashboard with one failed request:
[code]

[2018-03-27 05:27] davecheney commented on #299
Ok, that’s looking like the same error that others have been reporting. Your cluster has no endpoints even though they are there in the api

[2018-03-27 05:30] Lookyan commented on #299
How can I debug it and how can I understand what's wrong with EDS communication?  Only using tcpdump and see what's going there?

[2018-03-27 05:35] davecheney commented on #299
Try turning up the envoy logging level, you can do it via the admin web interface.

You’ve already confirmed that the entries are present in EDS via contour cli eds so either envoy is rejecting the update (the cluster entry has a version of 0 which leads me to suspect this), or the endpoints are somehow broken or pointing to the wrong thing or the contour pod cannot communicate with them and thus

[2018-03-27 05:45] glerchundi commented on #300
Yeah, that was my feeling too but I didn't find something that feels me completely comfortable.

Cool, seems reasonable at least for the `grpc_web` case. Will submit a PR with this added by default.

[2018-03-27 09:39] glerchundi commented on #289
Yes.

AFAIK the second one is not needed at all. Envoy works in the same way other proxies do, forwards the upgrade (in case it exists) to the upstream and this should follow the ws handshaking: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/websocket

Will send a PR.

[2018-03-27 13:41] joonathan opened #304 "New clusters not picked up (Cert Manager http-01 challenge services)"
When using Contour together with Cert Manager I have faced the following `unknown cluster` issue that required restarting Contour pods.

I verified that the Service was created and was also accessible from within the Cluster.

[code]

After booting Contour containers the cluster was picked up and Cert Manager was able to present http-01 challenge and issue certificates.

[code]

running `gcr.io/he

[2018-03-27 20:45] davecheney commented on #304
Thanks for raising this issue. I suspect it is related to the pattern of "envoy doesn't see my endpoints" issues which have cropped up over the last week. I'm investigating now on several of those issues but as yet don't have a resolution of workaround.

Would you be able to do some bisecting for me and try the `v0.4.0` and `v0.3.1` tags to confirm if the issue is present for you in earlier releas

[2018-03-27 20:47] joonathan commented on #304
I’ll try to experiment with previous versions in the dev cluster in the morning. Thanks for looking into it.

[2018-03-28 18:35] Lookyan commented on #299
It seems like it's related with https://github.com/heptio/contour/issues/291
Because when I had decreased the number of clusters in envoy, the same kube configuration started to work as expected.

[2018-03-28 19:54] Lookyan opened #306 "LDS and RDS race condition"
I discovered a problem with listener and route envoy initialization.

*Steps to reproduce:*
1. Create a kubernetes cluster with ~ 300+ services
2. Start envoy and contour simultaneously (everything will be ok)
3. Reload envoy

*Problem:*
After envoy reload it will have only clusters and endpoints initialized. Neither Listeners nor routes are there. I think there is a problem with grpc communicatio

[2018-03-28 21:04] Lookyan commented on #306
More info from contour logs:
[code]

Then contour doesn't get any LDS streams (even after many envoy reloads).

[2018-03-28 21:14] davecheney commented on #306
have a look on the envoy side, I think you might be hitting a limit on the
number of simultaneous grpc streams.

On 29 March 2018 at 08:04, Alexander Lukyanchenko <notifications@github.com>
wrote:

[2018-03-28 21:25] davecheney commented on #299
Can you please set up port forwarding to the contour admin api [0] then paste the results on this command

[code]

[0] curl http://127.0.0.1:9001/clusters | grep ^contour

[2018-03-28 21:46] davecheney commented on #306
[code]
That's the problem. I need to raise the circuit breaking limits on the
static entry for the contour cluster, it comes from `contour bootstrap`.

The next limit we hit will probably be file descriptors.

On 29 March 2018 at 08:30, Alexander Lukyanchenko <notifications@github.com>
wrote:

[2018-03-28 21:58] lypht opened #307 "Feature request: External-DNS integration"
Integration with https://github.com/kubernetes-incubator/external-dns would allow for a user to generate an ingress and eliminate manual manipulation of DNS records separately.

[2018-03-29 05:05] Lookyan commented on #306
I've updated it:

[code]

But the problem didn't disappear.

And about file descriptors - when we start contour and envoy simultaneously everything works fine. So it's not so clear why we don't hit this limit in this case.

[2018-03-29 16:10] lypht commented on #307
Just noted that `Support for Services with type=NodePort` is listed in the `external-dns` _Yet to be Defined_ section: https://github.com/kubernetes-incubator/external-dns#yet-to-be-defined

[2018-03-29 22:38] brycethomsen commented on #291
I'm working with @mluedke on testing out that suggested envoy config, but I'm not entirely sure where that config needs to be placed. I tried adding it to internal/envoy/config.go and to the annotations. I'm running the ds-hostnet deployment.

[2018-03-30 19:49] Lookyan commented on #306
I found a solution. I'm going to create a patch soon.

[2018-03-31 09:08] Lookyan commented on #298
I think we need to use our local cache slices to determine whether we need endpoints and clusters in envoy. So, we need to store all data about endpoints and ingresses in memory of contour (and it already does it). Otherwise, we can get a race condition when we get new ingress but we don't have any clusters and endpoints for it. Or we should query kube API then to retrieve needed information (besi

[2018-04-02 15:04] stevesloka commented on #298
@Lookyan I did start a little bit but don't have it fully implemented. I was starting to wire in the SharedInformer since it already maintains the local cache, and allows us to better utilize the update methods and also doesn't require us to maintain the second cache in the `translatorCache` struct. My work is here: https://github.com/stevesloka/contour/tree/healthcheck

The secondary goal of this

[2018-04-02 22:29] davecheney commented on #298
I appreciate your enthusiasm but please let’s wait until #291 is fixed.

My suspicion is the next blocker will be eds filtering the specific resource being watched (there is an issue, but on phone)

[2018-04-02 22:32] davecheney opened #310 "Enable gzip if not already enabled"
- check it doesn’t come for free (long shot)
- enable it unconditionally for a reasonable set of media types
- (later) add annotation to disable it (probably won’t do, I can’t think of a good reason to want to disable compression)

[2018-04-03 01:13] davecheney commented on #307
Thank you for raising this issue. I think this is a good proposal, but it is outside the remit of Contour -- we just do http. For example, Contour interacts with the lets encrypt ecosystem via the ingress api and tools like cert-manager, which keeps their concerns separated. I see this as the same situation here, another tool should concern itself with updating DNS entries to point to the service

[2018-04-03 01:13] #307 closed

[2018-04-03 01:15] davecheney commented on #300
@glerchundi cool. Thanks for looking into this.

[2018-04-03 01:33] davecheney opened #311 "Update data-plane-api / go-control-plane"
Bump the data-plane-api.

https://github.com/envoyproxy/go-control-plane/pull/71

Please do not start work on this til after 0.4.1 has shipped.

[2018-04-03 03:28] davecheney opened #313 "Double check contour grpc cluster circuit breaker limits"
#309 adjusted the circuit breaker limits for the static `contour` cluster to somewhat arbitrary (but well meaning) values.

This issue is to track double checking this work and adjusting as necessary.

[2018-04-03 03:49] #291 closed

[2018-04-03 04:58] davecheney commented on #304
Thanks to Alexander Lukyanchenko (@Lookyan) we have increased the general gRPC limits on both the Envoy client and Contour server well above anything that should be an issue for the immediate future.

The symptoms of hitting gRPC limits vary, but are basically "envoy doesn't see changes in the API server until I restart <things>".
The underlying cause is likely to be that you have a large (more th

[2018-04-03 04:58] davecheney commented on #293
Thanks to Alexander Lukyanchenko (@Lookyan) we have increased the general gRPC limits on both the Envoy client and Contour server well above anything that should be an issue for the immediate future.

The symptoms of hitting gRPC limits vary, but are basically "envoy doesn't see changes in the API server until I restart <things>". The underlying cause is likely to be that you have a large (more th

[2018-04-03 04:59] davecheney commented on #299
Thanks to Alexander Lukyanchenko (@Lookyan) we have increased the general gRPC limits on both the Envoy client and Contour server well above anything that should be an issue for the immediate future.

The symptoms of hitting gRPC limits vary, but are basically "envoy doesn't see changes in the API server until I restart <things>". The underlying cause is likely to be that you have a large (more th

[2018-04-03 04:59] davecheney commented on #306
Not sure why github won't close this, but it's fixed.

[2018-04-03 04:59] #306 closed

[2018-04-03 04:59] davecheney commented on #299
Not sure why github won't auto close this, but it's fixed.

[2018-04-03 04:59] #299 closed

[2018-04-03 21:33] drobinson123 commented on #293
The problem appears to have been fixed, at least in the limited testing I've done. Thanks @Lookyan & @davecheney !

[2018-04-05 01:59] davecheney commented on #293
Thanks for confirming.

[2018-04-05 01:59] #293 closed

[2018-04-05 02:07] davecheney commented on #304
I'm going to move this back to 0.5.0 as i'm cutting the 0.4.1 release today. Please let me know if recent changes have helped.

[2018-04-05 02:25] davecheney opened #316 "Rethink the way notifications are sent to gRPC stream watchers"
Currently notifying cache watchers is a manual process, we instrument the code path to defer a notification unconditionally. This is conservative and makes reasoning about notifications straight forward (we don't have e2e test coverage about version counters on caches, which reflects how many times notify has been called).

However there are downsides
- Each call to update will trigger a stream to

[2018-04-05 02:26] davecheney commented on #316
I plan to work on this for 0.6

[2018-04-05 02:27] davecheney commented on #298
#291 is now addressed, but 0.5.0 is shipping in two weeks (and one of those weeks I will be on leave) so I am moving this to 0.6.

[2018-04-05 02:28] davecheney commented on #21
With the 0.5 date moved up a month (and a vacation on the team next week) there won't be time to do this for 0.5. Moving to 0.6

[2018-04-05 02:28] davecheney commented on #130
Bumping to 0.6, this is a good first issue.

[2018-04-05 04:02] jrnt30 commented on #21
Understood. Thanks for staying on top of the updates, appreciate it!

[2018-04-08 15:58] rimusz opened #318 "contour.heptio.com/request-timeout does not appear to work for uploads."
where the https://github.com/heptio/contour/blob/master/docs/annotations.md#contour-specific-ingress-annotations should be set, in each ingress or contour deployment?

and btw thanks for the `contour`, really awesome product, it works very well together with `cert-manager` 👍

[2018-04-08 22:47] davecheney commented on #318
Ingress annotations go on the ingress object.

[2018-04-09 05:01] davecheney commented on #318
Closing, answered.

[2018-04-09 06:42] rimusz commented on #318
hmm, thought that too, but still getting timeouts

[2018-04-09 06:50] davecheney commented on #318
Can you give me some more information? What annotations are you using? Can you attach the ingress and service documents you applied.

[2018-04-09 07:15] glerchundi commented on #300
As per #303, you'll re-initiate the discussion here.

The idea is to have `grpc-web` filter **always on** at least if we can ensure that everything works transparently. Where transparently means everything works as it behaved before but in case Envoy founds a `content-type` with `application/grpc-web*` it will be automatically converted to a http2 gRPC request in the upstream.

Are we ok with this

[2018-04-09 07:25] rimusz commented on #318
Copied from my helm chart, app's service:
[code]
apps' ingress
[code]

[2018-04-09 07:59] davecheney commented on #318
Are you able to show me the `-o yaml` output of the object that's applied?

[2018-04-09 08:01] davecheney commented on #300
If this can work transparently, then I don't see a reason to not turn it on
for everyone. If someone sends a request type of `application/grpc-web` and
it isn't the start of a tunneled grpc stream, then the backend is going to
reject it, or at least mishandle it badly enough that it won't cause any
harm.

Basically, if this can be shown to be transparent, then we can probably get
away with a much

[2018-04-09 08:12] glerchundi commented on #300
Ok, will create a new PR.

[2018-04-09 08:48] rimusz commented on #318
sure:
[code]
rename app related names and took IPs' off

[2018-04-09 09:31] rimusz commented on #318
the website works just fine, Lets Encrypt certificate has been issued too, when I try to upload a big backup file then I get the timeout error.

[2018-04-09 10:14] davecheney commented on #318
Thank you for clarifying, I have updated the issue description to capture this.

[2018-04-16 15:44] sgringwe opened #320 "Ability to specify custom error page"
It'd be nice to have a way to show a custom error message if an error happens at the contour level, such as no healthy upstream servers.

If there is already a way to do this, it'd be nice to document it.

[2018-04-17 08:48] davecheney commented on #320
This sounds like a good thing to have if someone wants to investigate the options inside Envoy for doing this.

[2018-04-17 09:33] davecheney commented on #304
I'm going to close this with the expectation that 0.4.1 fixed the underlying issue. Please feel free to reopen this if the problem remains.

[2018-04-17 09:33] #304 closed

[2018-04-17 10:15] davecheney commented on #311
Waiting on a newer tag than 0.1 on envoyproxy/go-control-plane

[2018-04-17 10:17] davecheney commented on #185
Nothing to do for 0.5, bumping to 0.6

[2018-04-17 10:23] davecheney opened #323 "Upgrade to k8s.io/client-go release-7.0"
Not before April 23 please.

[2018-04-17 10:26] davecheney commented on #62
Bumping this again, sorry.

[2018-04-17 10:30] davecheney commented on #15
I'm going to remove the milestone from this as i'm not sure how to implement it within the framework that the k8s Ingress document provides.

[2018-04-18 00:26] davecheney opened #327 "internal/grpc: TestGRPCStreaming/StreamRoutes test flake"
[code]

[2018-04-18 00:29] #311 closed

[2018-04-18 01:22] davecheney opened #329 "internal/e2e: e2e tests leak file descriptors"
[code]

[2018-04-18 02:18] #329 closed, assigned to davecheney

[2018-04-18 18:15] james-xiang commented on #172
@adelbertc I am doing the exact same testing with what you were doing.  I am using the image: gcr.io/heptio-images/contour:master.  I got the same problem which path based rule doesn't work as I expected.

[code]
kubectl describe shows:
`kubectl describe ing/kuard
Name:             kuard
Namespace:        default
Address:
Default backend:  default-http-backend:80 (<none>)
Rules:
  Host

[2018-04-18 22:11] davecheney commented on #172
Would you be able to open a new issue, 0.3 was a long time around and the world has moved on.

Have a look at the troubleshooting doc about accessing the envoy admin page to confirm the routes that have been applied and please include that information in a new issue.

Thank you

[2018-04-18 23:27] drobinson123 opened #333 "write access logs to files"
Contour configures Envoy to write access log entries to stdout. Envoy already writes log entries to stdout, and the format is different to access logs. It would be great if Envoy allowed users to control where access log entries were written, and even disable access logs entirely.

My use-case: sending access logs to our internal log management system, for auditing and analytics purposes.

[2018-04-18 23:49] davecheney commented on #333
Thanks for raising this issue. Feel free to reopen #328. In principal this sounds ok, but what about the contour logs?

[2018-04-19 01:38] davecheney opened #334 "[feature] support Services with ExternalName or ExternalIP components"
The service API supports so called _external_ services. This issue is a placeholder for

- [ ] investigate how `service.spec.external{Name,IP}` interacts with the endpoints api
- [X] investigate adding support for ExternalName or IP to contour ([design doc](https://github.com/heptio/contour/blob/master/design/external-names.md))

No milestone as of yet.

[2018-04-19 17:01] james-xiang opened #338 "Regression: path-based routing doesn't work as expected in 0.4.1"
following the get started guid to make a deployment on minikube with NodePort.  The default backend configuration works fine. however, the customized path-based routing seems not working.
Following my deployment yaml files:
### Contour deployment which is based on contour-example-onrbac.yaml from user guide:
[code]
### example app deployment:
[code]
### ingress deployment
[code]
### kubectl descri

[2018-04-19 19:40] mabushey opened #339 "EXTERNAL-IP not assigned"
[code]

[code]

[code]

How do I get an IP/DNS name under EXTERNAL-IP? I'm on AWS.

[2018-04-19 19:45] mabushey commented on #339
I also tried the norbac with the exact same results.

[2018-04-20 00:38] davecheney commented on #339
Check in your aws console, you’ve probably hit a limit or the apiserver lacks permission to request an elb.

[2018-04-20 00:43] rdodev commented on #339
@mabushey could you post the Service definition manifest (with sensitive bits redacted)?

[2018-04-20 00:56] davecheney commented on #339
After talking to some of my more knowledgeable colleages they suggest `kubectl -n heptio-contour describe svc contour` to find out what has gone wrong with your cloud provider.

[2018-04-20 01:07] davecheney opened #341 "deployment/readme.md: remove all non RBAC configurations"
Heptio's policy is that all k8s clusters should be running RBAC. We'll remove any non RBAC documentation in 0.6

[2018-04-20 01:10] davecheney commented on #341
Note, contour will continue to work in both RBAC and non RBAC clusters -- it's unaware of anything to do with RBAC which is a property of the API server -- we're just not going to promote the use of contour without RBAC any more.

[2018-04-20 01:12] davecheney commented on #338
Thanks for raising this issue. Can you please clarify for me

- [ ] does your service work?
- [ ] if so, is this a bug report about the wrong details showing up in `kubectl describe`

[2018-04-20 01:30] davecheney commented on #313
Bumping to 0.6, nobody has time to look at this now.

[2018-04-20 19:40] mabushey commented on #339
Hi Dave,

Thanks for looking into this. :) I set up the cluster with Typhoon (Terraform config), I'm not sure if it's doing something weird.

[code]

[2018-04-20 21:02] mabushey commented on #339
Awesome! Thank you. :)

[2018-04-20 21:02] #339 closed

[2018-04-21 10:44] nicovogelaar commented on #36
I had the same problem on GKE 1.8.8 with RBAC enabled. This helped me: https://github.com/kubernetes-incubator/external-dns/issues/514

[2018-04-22 03:42] davecheney commented on #36
I’d be glad of a PR they links to this obscure part of the GCE documentation. I hold GCE entirely responsible for this UX paper cut, but until thy fix it (I’ve no idea if the can or will) then we should at least make it possible for people to find the answer they need.

[2018-04-22 21:55] davecheney commented on #211
This continues to be bumped, sorry. Hopefully the longer 0.6 cycle will give time to attend to this fully.

[2018-04-23 00:21] #323 closed, assigned to davecheney

[2018-04-23 18:26] james-xiang commented on #338
@davecheney  http://aptgw.test.com/kuard doesn't work as well.

The example config without specify host name and path prefix works fine
spec:
  backend:
    serviceName: kuard
    servicePort: 80

 http://aptgw.test.com/ works fine

[2018-04-24 02:54] davecheney commented on #338
Can you please follow the [troubleshooting document][0] and capture the contents of `curl http://127.0.0.1:9001/routes`. That will show the route set that has been applied.

[0]: https://github.com/heptio/contour/blob/master/docs/troubleshooting.md#access-the-envoy-admin-interface-remotely

[2018-04-24 05:41] davecheney commented on #338
@james-xiang its a bit hard to follow what changes you have made. Can you please confirm for me

1. When you deploy this ingress
[code]
Then your service appears at http://aptgw.test.com/

However, when you deploy
[code]
Then http://aptgw.test.com/kuard does not work.

If this is correct, can you please paste the routes output as requested above as well as
[code]
Thank you.

[2018-04-24 18:41] james-xiang commented on #338
@davecheney Thanks for your reply.  following are  outputs:
### curl http://127.0.0.1:9001/routes
[code]
### kubectl get ing kuard -o yaml
[code]
I have to mention that this host is actually the minikube node. In my laptop hosts file, I have a entry for it:
### cat /etc/hosts
[code]
### contour service url:
[code]
I am using this url to access the kuard app via ingress controller
[code]

[2018-04-25 06:42] davecheney commented on #338
minikube, thats the missing piece of the puzzle. Because curl appends the port number to the url, it won't match the configuration in envoy.

You'll have to use the `--header 'Host: apigw.test.com'` flag to correct the url generated by curl, `/etc/hosts` hacking won't help.

[2018-04-25 06:48] davecheney opened #353 "docs: document that minikube is either not supported or write instructions for how to work around its limitations"
Minikube is a popular deployment target for Contour but because of its wacky port rewriting it rewrites it uses it causes confusing errors when the host header that curl generates including a non standard port number.

There is an issue in envoy to add an option to strip this port, envoyproxy/envoy#1269

This has generated a modest support load, #210, #338, and probably others that have not been r

[2018-04-25 06:49] davecheney commented on #338
Duplicate of #210

[2018-04-26 02:46] davecheney opened #354 "Backport grpc filtering patches"
Backport the fixes for #277 to 0.5.1.

PR's

- [ ] #336
- [ ] #337
- [ ] #342
- [ ] #347
- [ ] #350
- [ ] #356
- [ ] #357
- [ ] #372

Note: If you want to work on this _do not_ send one mega pull request with the contents of each of these changes. I would prefer one PR with a single commit for each of the PR's mentioned above.

[2018-04-26 05:50] #277 closed

[2018-04-27 06:40] #289 closed

[2018-04-28 23:08] domhauton commented on #68
Without this there is no way to protect ingress endpoints with oauth2.

https://eng.fromatob.com/post/2017/02/lets-encrypt-oauth-2-and-kubernetes-ingress/

[2018-04-30 16:24] james-knott opened #359 "Not able to get example working."
Just deployed k8's with Kops and running Jenkins just fine. Not able to get example working for contour and kuard. Page cannot be found.

[2018-04-30 17:19] #359 closed

[2018-05-02 12:38] davecheney opened #361 "Add sticky session annotation"
At the moment the `lb_strategy` for each cluster defaults to whatever Envoy chooses. We should make this configurable via an annotation on the ingress object. Specifically i've been asked if we can support sticky session load balancing.

- [ ] choose an annotation name; `contour.heptio.com/lb-strategy:` sounds good.
- [ ] decide if it applies to the whole vhost, or only the routes mentioned in the

[2018-05-02 15:01] stevesloka commented on #228
I'm testing through this now and doesn't seem to be working with a DNS name, but using IP address works fine. Following are the logs from my envoy pod and my deployment manifests are [here](https://github.com/stevesloka/gimbal/tree/splitEnvoy/deployment/contour).

Curious if anyone else has had luck with this or if something has changed since #238 landed.

[code]

[2018-05-02 15:02] stevesloka opened #362 "DNS for xds-address"
I'm testing through splitting envoy from contour and it doesn't seem to be working with a DNS name, but using IP address works fine. This was mentioned and resolved in #228. Following are the logs from my envoy pod and my deployment manifests are [here](https://github.com/stevesloka/gimbal/tree/splitEnvoy/deployment/contour).

Curious if anyone else has had luck with this or if something has chang

[2018-05-02 22:51] djensen47 commented on #36
What's the downside of not using RBAC?

[2018-05-03 04:03] danderson opened #363 "Contour @master does not create/delete listeners after startup"
I installed Contour from the README instructions, which installs contour:master. I then installed kuard, which created an Ingress. However, Contour never started listening for HTTP connections (`curl http://192.168.16.240` resulted in "Connection refused", confirmed via `netstat -tnlp` in the pod).

While experimenting, I killed all Contour pods. When the deployment recreated them, the service was

[2018-05-03 08:08] owenhaynes opened #364 "GRPC routes not working possible bug?"
Hi,

Having a play with contour to see if its possible to switch from the nghttpx-ingress controller we currently use for internal load traffic.

This traffic is mostly GRPC traffic over use the basic GRPC server set up, these are insecure connections at the moment.

It looks like the GRPC pass through is not working in contour v0.5.0. The clients make the connections but envoy seems to report 404

[2018-05-03 13:07] stevesloka commented on #362
I think the issue is with current build on `master` tag (#363), using `v0.5.0` the ENV var works.

[2018-05-03 13:07] #362 closed

[2018-05-03 19:59] alexbrand commented on #363
Doing a git-bisect seems to point to this commit https://github.com/heptio/contour/commit/8458d6e6475793790ddfb759583cda1daf422e42 as the potential problem.

I did some testing locally with `contour cli lds` and found that removing the `continue` introduced in that commit seems to fix the issue. I wonder if we always have to send a `DiscoveryResponse`, even if the resource list is empty? It is als

[2018-05-04 02:17] davidjbrady opened #365 "Feature Request: Watch namespace flag"
Howdy

This is just a feature request to expose a flag that allows a user to specify which namespace to watch.

[2018-05-04 07:58] davecheney commented on #36
The downside of not using RBAC is anyone who has credentials to use your
cluster has admin on your cluster. That may be ok if its just a cluster for
experimentation, but as a company, Heptio have decided that we won't
support or recommend non RBAC deployments.

On 3 May 2018 at 00:51, Dave Jensen <notifications@github.com> wrote:

[2018-05-04 09:30] davecheney commented on #365
Thanks for raising this issue. Have you checked out ingress classes -- you can ask contour to only listen for a specific ingress class (defaults to `contour` but is configurable) then you can annotate only the ingress records you want to match that ingress class.

[2018-05-04 09:40] davidjbrady commented on #365
Thanks Dave, quick response. Yeah, I'm familiar with the the feature and made use of it from time to time, pretty useful :)

The purpose of this feature request for is to fulfill a multi-tenant use case. In which a number of teams isolated by namespaces may wish to use there own ingress controllers for accounting and security reasons... And may all love contour, but are bad at coordinating amongst

[2018-05-04 11:40] #300 closed

[2018-05-07 09:43] roadrunner commented on #15
this is only supported by Haproxy with L4 TCP SNI inspection.
[code]
currently Envoy doesn't support this feature but there is an old issue still active and @PiotrSikora working on a [PR](https://github.com/envoyproxy/envoy/issues/1843#issuecomment-371352012)..

[2018-05-07 21:19] bobbytables opened #367 "Infer type of transport from service port name"
The Istio project does this and I think it's a nice feature. Basically if you define a port with a prefix of `http`, it sets the codec to http1.1 for the envoy cluster / endpoints.

If you specify `grpc` for the port name, it infers http2 and sets it accordingly. I think this is much nice than the annotation that you must add to the services as you may have ports that are http and grpc accordingly

[2018-05-08 23:19] drobinson123 commented on #70
I'm interested in implementing ingress level support. Is this annotation format acceptable?

[code]

[2018-05-08 23:38] davecheney commented on #70
Thanks for offering to work on this. My initial reaction to the annotation syntax is it’s pretty ugly, yaml embedded in annotations is quite verbose and not something people are going to get right first time.

One way around this might be to encode the header name in the annotation key, ie

contour.heptio.com/add-header-max-age: “...”

Where add-header- is a known prefix and there is a form for co

[2018-05-09 02:39] dunjut opened #370 "[feature] Add rate limiting support"
From [annotations.md](https://github.com/heptio/contour/blob/master/docs/annotations.md), there are several limitations currently supported by contour, e.g. `max-connections` and `max-requests`.

In some scenario, we may also need ratelimits. For example, we don't expect envoy to send more than 1k requests per second to service foo, otherwise which would cause service foo to overload. This is pret

[2018-05-09 04:44] davecheney commented on #364
Can you tell me more about your backend service, when you say "insecure" do you mean they are not using TLS?

[2018-05-09 06:00] owenhaynes commented on #364
Yes by insecure no TLS. Backed service is nothing to complex, just the ordinary set up like GRPC recommends.

Server:
[code]
Client:
[code]

[2018-05-09 06:08] davecheney commented on #365
Thanks for explaining. This isn't the use case I had in mind for contour. I expect an ingress controller to be a cluster wide resource.

[2018-05-09 06:32] davecheney commented on #363
Thanks for your bug report. I think the issue is that when there is no filter -- discoveryrequest.resources == "", then contour should always return a response. If there is a filter, then contour should block until there is something matching the filter.

[2018-05-09 20:38] drobinson123 commented on #70
Encoding the header in the annotation will do, I have no preference.

Headers are appended to requests/responses in [a specific order](https://www.envoyproxy.io/docs/envoy/v1.6.0/configuration/http_conn_man/headers#config-http-conn-man-headers-custom-request-headers), so we may be able to do both ingress and route. I'll experiment and see how it could work.

One other question, I assume we only ca

[2018-05-09 22:36] davecheney commented on #70
I see the need for this, but tbh I’m turned off by how ugly this will be to fit into the ingress object.

[2018-05-10 02:35] davecheney opened #371 "contour --help hijacked by glog"
Here's the problem
[code]
^ these aren't contour's flags. They come from glog, and they come from glog because we call `flag.Parse` before main.main.

We can't avoid that call because glog uses flag.Parse as a side channel to initalise itself, see #118, so what we can do is move the call to flag.Parse _just_ before the we create a k8s client, but after kingpin has had a chance to parse flags prope

[2018-05-10 03:27] davecheney opened #373 "internal/grpc: grpcServer.stream function lacks unit tests"
#363 was not verified with a unit test. Refactor grpcServer.stream to permit unit testing

[2018-05-10 03:36] #363 closed

[2018-05-10 18:56] stevesloka opened #376 "Expose /stats path only"
To gather metrics from Envoy the `/stats` needs to be exposed from the admin interface. If running under host networking all ports are bound to the host IP and network policies are not applicable.

I'd like to propose we create a static route inside Envoy to expose `/stats` over a configurable port (defaults to `:8001`). Given a standard deployment all L7 traffic would flow through a listener on `

[2018-05-10 20:25] stevesloka commented on #376
That makes a lot of sense. I only did the bootstrap route since it seemed like a static config vs dynamic. Sounds good to revisit and also possibly move the statsd pieces into that logic as well.

[2018-05-10 20:50] davecheney commented on #15
Blocked on envoyproxy/envoy#1843

[2018-05-11 06:04] #338 closed

[2018-05-11 06:12] davecheney commented on #367
Thank you for this suggestion. I can't promise I can get too it soon, but I think this is possible to add in a backward compatible way with the current annotation.

[2018-05-11 06:13] davecheney commented on #353
Closed by #378

[2018-05-11 06:13] #353 closed

[2018-05-11 20:06] mattalberts opened #379 "Example of a http/2 gRPC application connected through envoy/contour"
I've been following allow this issue, #152, the result of which was to expose upstream protocol configuration as an annotation on the service.  I'm attempting to verify http/2 gRPC support using contour v0.5.0 and [yages](https://github.com/mhausenblas/yages).

I have been able to successfully host kuard, httpbin, multiple variants of an echo both with and without TLS. However, every attempt to ca

[2018-05-11 21:07] mattalberts commented on #379
The issue reported here appears to be the same #364.

[2018-05-11 21:13] mattalberts commented on #364
@davecheney I'm seeing the same issue.  I built out a detailed example/setup in #379 to use as reference. The example includes a cert generation and configuring the TLS secret. Requesting a resource via a gRPC client or grpcurl results in a NR (no cluster for URL); however, requesting the resource with curl or a browser triggers a match.

[2018-05-11 23:50] #371 closed

[2018-05-12 00:15] davecheney commented on #284
Timed out, please reopen if you have additional information.

[2018-05-12 00:15] #284 closed

[2018-05-13 06:54] awprice opened #384 "Error when deploying contour using getting started URL"
When using the "Getting started" URL to deploy contour with RBAC into my cluster, I received the following error:

[code]
This is because the rendered YAML is not formed correctly.

I get this error when using both the RBAC and non-RBAC URLs:
- https://j.hept.io/contour-deployment-rbac
- https://j.hept.io/contour-deployment-norbac

[2018-05-13 11:13] davecheney commented on #384
Thanks for raising this issue. Which version of k8s are you using? I was able to apply this RBAC configuration to my 1.9.4 (?) cluster without issue, although I was updating an existing configuration.

[2018-05-13 11:30] awprice commented on #384
I'm using a 1.9.7 cluster on GKE, tried with both a 1.10 and 1.9.7 client.

The issue is with the rendered YAML in this file, on line 27:
[code]
https://raw.githubusercontent.com/heptio/contour/master/deployment/render/deployment-rbac.yaml

The CRD object and the deployment object have been joined together without a `---` separator and a newline to separate them. Once I manually updated the YAML t

[2018-05-14 02:10] davecheney commented on #384
Thanks, that explains the problem.

On 13 May 2018 at 21:30, Alex Price <notifications@github.com> wrote:

[2018-05-14 04:42] #384 closed

[2018-05-14 06:37] davecheney commented on #370
Thanks for raising this issue. To be honest, this isn't high on my priority list because I don't see how to implement this cleanly with a deployment of more than one contour pod as each will keep its own counter of requests in fly. You could probably do some back of the envelope math and set the rate limit to N over the number of pods in your contour deployment, but that's pretty fragile.

[2018-05-14 06:40] davecheney commented on #379
This is likely to be #378

TL;DR I think the `:443` is leaking into the Host header and that is why envoy can't match on it properly

[2018-05-14 06:42] davecheney commented on #333
Closed by 815fd4d

[2018-05-14 06:42] #333 closed

[2018-05-14 10:28] smartpierre opened #385 "Important information missing"
Hi !
Thank you for maintaining this great tool !
I am using it on multiple clusters now and it's perfect.

I was creating a new cluster on AWS recently, started to install all my tools **before** my apps.
I installed Contour and the LoadBalancer created by Contour was showing nodes "OutOfService".
I spent days trying to pinpoint why the LB could not do the health check. Checking everything 5 times

[2018-05-14 11:02] davecheney commented on #385
Hi,

Sorry you were confused by this. This is documented, https://github.com/heptio/contour/blob/master/docs/troubleshooting.md#envoy-container-not-listening-on-port-8080-or-8443, but to be fair, may not have been the right decision.

I don't think any more information can usefully be added to the getting started documentation, it's already too long as it is. The more reasonable alternative would

[2018-05-14 12:05] smartpierre commented on #385
Indeed it's documented, reading the title it did not look like my issue, but after reading the text, that explain everything !

Thank you for taking the time to answer me, I appreciate it very much :)

I will follow-up on these issues, have a great day Dave.

[2018-05-14 12:05] #385 closed

[2018-05-14 18:17] stevesloka opened #386 "Stats config malformed"
If stats is enabled, the bootstrap config is malformed and Envoy breaks, the error is here: https://github.com/heptio/contour/pull/381/files#diff-fc8f6c55803fdb62a73e2193807f8407R144

[2018-05-14 20:42] mattalberts commented on #379
@davecheney Thanks for the reply!

#### TL;DR
 * Adding ```host``` and ```host:port`` to a virtualhost's domains resolves the issue

#### EnvoyProxy Configuration
That difference between ```:authority``` on match vs no match caught my eye too.  Though, my understanding is that both the ```host``` and ```:authority``` headers defined and optional port on the form ```[:port]```

Looking at envoy pro

[2018-05-14 22:49] davecheney commented on #379
Thanks for your diagnosis, I appreciate the work you've put into this.

I'm wary of accepting a patch for this without more time to consider the implications of this, see #378

[2018-05-14 22:57] davecheney commented on #386
Closed by 34216bd

[2018-05-14 22:57] #386 closed

[2018-05-14 23:00] davecheney commented on #379
If you want to work on this my suggestion would be to talk to the Envoy authors and see if adding additional domains for :80, and/or :443 is a reasonable workaround for envoyproxy/envoy#1269.

My outstanding concerns are:

- [ ] that creating additional domains might muck up the statistics, ie some of the traffic goes to example.com, some goes to example.com:80
- [ ] what happens with the default

[2018-05-15 03:13] davecheney opened #389 "Revisit decision to make open listeners optional"
#385 raised the question that the current behaviour of not opening a listener until there is a valid ingress, while justified, is non obvious for newcomers, especially in the case where the AWS elb won’t go green until an ingress is deployed.

This issue tracks the decision to revert this and potentially always open listeners on 80 and 443. This has implications for security (opening ports we don’

[2018-05-15 04:13] davecheney commented on #364
@owenhaynes thanks for raising this bug, the underlying issue is #210 (and many others) (see linked issue for the underlying envoy issue).

^ the trailing :80 is causing envoy to not match the route.

I'm going to talk to the upstream envoy devs about a possible workaround.

[2018-05-15 04:27] davecheney opened #390 "internal/contour: generate additional domain aliases for trailing port numbers in Host: headers"
This is a meta issue to track the various issues experienced by users whose clients include a port number in the `Host:` header. (see #210, #364, #338, #353, #379)

The underlying issue is Envoy does not strip the trailing port number in the `Host:` header (see envoyproxy/envoy#1269) so, `Host: example.com` and `Host: example.com:443` are treated as separate vhosts from the POV of the http_connect

[2018-05-15 04:27] davecheney commented on #379
Please see #390

[2018-05-15 05:10] davecheney opened #391 "pkg: move generated crd packages"
I'm not sure how much flexibility we have with the generated code, but if possible I'd like to see the following changes

- [ ] `pkg/apis` -> `apis`
- [ ] `pkg/generated` -> `internal/generated`

That is, `github.com/heptio/contour/pkg/apis/v1`, should become `github.com/heptio/contour/apis/v1`, and the generated code should move to `github.com/heptio/contour/internal`. Iff we need to export it we

[2018-05-15 05:11] davecheney opened #392 "gopkg.toml: contour uses client-go 1.10, but we code gen with 1.9"
Currently contour uses client-go 1.10 (release-7) for the client, but the generator might be from the 1.9 branch. Should this be updated?

/cc @stevesloka @alexbrand

[2018-05-15 13:56] robertlemmen opened #394 "master contour routing and TLS versions"
by accident I had the "master" contour in my system, rather than "latest". so your recent commits did get some extra testing in a real system, yeah!

We did experience an issue with this issue of contour, it somehow made the corresponding envoy talk to the backing esp in a way that used TLS, but the backing esp never does speak TLS.

[code]

Sorry I do not have any more details and logs, but perha

[2018-05-15 18:28] stevesloka commented on #392
No issue to update will get it into a PR and test.

[2018-05-15 23:05] #391 closed

[2018-05-15 23:05] davecheney commented on #392
Closed by #396

[2018-05-15 23:05] #392 closed

[2018-05-16 00:46] davecheney commented on #394
@robertlemmen thanks for raising this issue. I'm going to need a few more details before I can properly debug this one. From what you've told me so far it looks like the backend Service talks TLS but Envoy tried to talk to it via plain HTTP.

- [ ] Can you please attach a copy of your `Ingress` and `Service` documents.
- [ ] Does this problem only occur with `:master`?

[2018-05-16 00:47] davecheney commented on #379
I'm going to close this as a duplicate of #390. Please comment if you think there is something I have not captured.

[2018-05-16 00:47] #379 closed

[2018-05-16 02:04] stevesloka opened #397 "Envoy fails to connect to Contour when running as separate pods"
We are running Contour and Envoy in different pods, Contour runs as a `Deployment` and Envoy runs as a `Daemonset`. Also, Envoy is running utilizing `host networking` within the Daemonset.

The issue we are seeing is that some of the Envoy's won't be able to connect to Contour, but some will. If we scale up the number of Contour replicas then it's possible to get all Envoy's to connect. However, i

[2018-05-16 02:54] davecheney commented on #397
Thanks for raising this issue. It looks like the gRPC stream (not necessarily the underlying TCP connection) is being closed, but its not clear which side is doing the dirty work. Can you please try to capture the matching logs from Contour.

[2018-05-16 15:17] mattalberts commented on #379
@davecheney closing sounds like a good plan.  You've captured it all! 👍

[2018-05-16 22:15] davecheney commented on #354
Closing this without action as we're going to move up the 0.6 release date.

[2018-05-16 22:15] #354 closed

[2018-05-17 01:27] stevesloka commented on #397
Here are some logs from Contour. In this example, I have two replicas of Contour and they both show the same logs.

I did another quick test and putting the Contour pods on the `hostNetwork` does not have the same symptoms.

I then did a final test by leaving Contour deployed as a `deployment` but exposing it's service as type `NodePort`, then having each Contour connecting to it via that node por

[2018-05-17 13:37] davecheney commented on #397
Thanks for the contour logs. There are no "stream terminated" lines which suggests that contour wasn't the one that closed the stream.

Some random suggestions to try:

1. the timestamps between the two log samples don't match up. It would be interesting to see if logs captured concurrently showed "obvious" times for the stream closed errors on the envoy side; 60 seconds, 300 seconds, that sort of

[2018-05-17 20:12] bobbytables opened #399 "Tracing Configuration"
It would be nice to expose the bootstrap config a bit more with things like tracing and stats configs. We could even offer something like a file path that gets merged into the bootstrap YAML on boot.

For context, we're building our own control plane for service -> service mesh for Envoy. We're including stats and Zipkin traces (via the jaeger endpoint). We lose the trace context between Contour a

[2018-05-18 01:26] #390 closed

[2018-05-18 01:28] davecheney commented on #210
I'm going to close this issue as there is nothing more to be done on the contour side for the moment.

- minikube specific issues are documented per #353
- Host headers with explicit :port suffixes are handled per #398

[2018-05-18 01:28] davecheney commented on #364
Closed by  #398

[2018-05-18 01:28] #364 closed

[2018-05-18 04:05] davecheney commented on #394
@robertlemmen gentle ping

[2018-05-18 12:11] ncdc commented on #130
For a bit more clarification - if you are combining state of k8s objects w/some external system, you would probably want to have a resync period > 0 so you can periodically reconcile the k8s objects' expectations with the reality of the external system. If you're only working with k8s objects, you shouldn't need a resync period > 0 .

[2018-05-18 13:33] bobbytables commented on #399
Roger that, I'll probably end up doing the mounted configmap then. Thanks!

[2018-05-18 13:41] nphmuller opened #403 "Address not set on Ingress resource"
Contour does not set the IP value on the Ingress resource. This value is necessary for services like [ExternalDNS](https://github.com/kubernetes-incubator/external-dns) to work properly.

### Version
The version that `https://j.hept.io/contour-deployment-norbac` produces. Atm:
docker.io/envoyproxy/envoy-alpine:v1.6.0
gcr.io/heptio-images/contour:master (pointing to `b9ede01f025`)

### Repro
1. Set

[2018-05-18 14:43] robertlemmen commented on #394
as of a few days ago, the problem also happens with latest, simply because that moved ahead. btw, we were kinda expecting latest to point to releases, so e.g. v0.5.0 at the moment, and were a bit surprised when the alpha release got distributed as latest...

my ingress controller basically looks like this:
[code]

and the service that it talks to:
[code]
downgrading contour to v0.5.0 seems to avoi

[2018-05-18 14:48] davecheney commented on #403
Yup, this is a known limitation and a feature request that keeps getting bumped from release to release. Please don’t close his issue, I’ll close the other as a duplicate as you have put more details in this one.

[2018-05-22 09:07] davecheney commented on #399
That’s the approach I’d recommend. If you check out the heptio/gimbal repo, they’re probably already doing that.

[2018-05-22 18:17] cten opened #405 "Default backend overwrites backends in rules"
I am trying to deploy and ingress with a default backend that will catch any requests that don't match one of the "rules".
I'm using contour version of master downloaded 2 days ago (docker image ID: 5d06382ae87e)  and Kubernetes 1.10.2

My ingress resource:
[code]

Envoy /routes output (I took out the white space and newlines to make it shorter)
[code]
As you can see kuard is being set as the back

[2018-05-22 20:10] stevesloka commented on #397
Please see attached logs. My environment has 10 nodes in total. Contour is running as a deployment and envoy is running as a daemonset using host networking. I'm using the latest deployments defined here (https://github.com/heptio/gimbal/tree/master/deployment/contour) which shouldn't have the issue of the xds listen port. Also, 2 of the envoy instances connect, so would seem that the port issue w

[2018-05-22 23:23] davecheney opened #406 "Add upstream support for HTTP/1.1 + TLS annotation to the service"
We need a way to explicitly configure the L7 protocol for a service port to HTTP/1.1 + TLS. Something like
[code]
---
Update, I think this annotation should be
[code]

[2018-05-24 12:19] cten opened #409 "Default resource limits"
The sample deployment should probably have resource limits set.

Possibly in the future a guide/recommendation for setting limits.

Thanks to @rosskukulinski these 2 issues might help:
https://github.com/heptio/gimbal/issues/72
https://github.com/heptio/gimbal/pull/122

[2018-05-24 20:02] #397 closed

[2018-05-25 20:34] mattalberts opened #410 "Add handling for a default TLS certificate"
### Feature Request: Add handling for a default TLS certificate
 * Search Terms: "is:issue is:open TLS"

Add handling to allow use of a default TLS certificate, following these guidelines
 * The certificate is specified as a ```<namespace>/<name>``` reference to a secret.
 * The default secret is applied to Ingress specs that specify tls without providing spec.tls.secretName
 * Existing matching r

[2018-05-26 01:03] davecheney commented on #410
Thank you for raising this issue.

As it stands now I don’t want to add this because it may violate some parts of the ingress spec. Can you please explain the use case for this feature.

[2018-05-26 02:40] davecheney commented on #397
Thanks for doing the detective work on this Steve.

If you have time, could you post a summary of the policy, how it got there
(if it's a default that might be applied to other clusters), and how it was
resolved then I'll try to update our troubleshooting document to help
others who might find themselves in this condition.

On 25 May 2018 at 06:02, Steve Sloka <notifications@github.com> wrote:

[2018-05-28 01:31] davecheney commented on #341
I've confirmed that AKS, at least with kube version 1.9.6 supports RBAC so this issue is good to go if someone is looking to get started contributing to contour.

[2018-05-29 17:09] mattalberts commented on #410
@davecheney

I was curious about that too, especially given that the cross-section of istio, nginx, and haproxy ingress controllers are not all consistent (istio is the outlier, both nginx and haproxy provide a --default-ssl-certificate option).

[code]

Spec aside (😄 cause I'm sure you're more familiar than I am 😄 ), let's talk use-case. I'll try to set the stage a little.

Assumptions,
 * a kube

[2018-05-29 18:19] stevesloka commented on #397
The policy was written to restrict access to the api's since there's no auth on any of the endpoints. There must be some issue applying that to pods that are on the hostnetwork. We have a PR to remove these from Gimbal (https://github.com/heptio/gimbal/pull/127/files#diff-a27d6bc73b6ebd17f668e8016508e15f)

[2018-05-29 18:21] stevesloka opened #415 "ingressroute: Allow users to define Load Balancing Strategy"
Currently, the load balancing strategy is hard coded to `RoundRobin` (https://github.com/heptio/contour/blob/master/internal/contour/cluster.go#L139), would be good to allow users to define the strategy they want via a field in the IngressRoute spec.

The policy is defined per Envoy cluster. When a service is discovered in Contour, a corresponding Cluster is created in Envoy. Due to the fact that

[2018-05-29 18:21] stevesloka opened #416 "[IngressRoute] CRD Validation"
Would be good to add validation to the IngressRoute spec so that some level of validation is applied when objects are created (e.g. strings are not placed in integer fields, etc)

[2018-05-30 06:27] davecheney commented on #410
I think this is the key requirement here, it's come up before with respect to applying the ingress notion of a default ingress to tls. IMO this case was not well thought out in the ingress spec so I want to tread _very_ carefully because any behaviour we adopt now (it's been prohibited since 0.3) will be irreversible once adopted.

Duplicating a secret across multiple namespaces sounds like a pain

[2018-05-30 18:27] mattalberts commented on #410
Even vocalizing the suggestion would trigger hives  (its truly a voldemort of phrases 😄).

Sadly lets encrypt is also a non-option.  The diagram shows integration with vault; vault is a workable option.  My light reading suggests cert-manager will produce signed certificates as CRDs.  That hints at requiring additional processing to translate those CRDs into Secrets within the namespace for use by

[2018-05-31 15:17] alexbrand opened #419 "Bootstrap command should log the final config to stdout"
When troubleshooting issues with envoy, it is sometimes desirable to look at the final configuration that was produced by the contour bootstrap command that is run through an init container.

Normally, one can exec into the envoy container and inspect the configuration file. In certain environments, however, the ability to exec into a container is not available (due to RBAC, for example), and thus

[2018-05-31 21:07] alexbrand opened #420 "Envoy gets stuck "initializing secondary clusters" after a restart when service has zero endpoints"
While testing Gimbal, we discovered an issue where Contour/Envoy would get stuck initializing, and it wouldn't set up listeners nor routes after creating ingress or ingressroute resources. Interestingly, this only seems to happen if Envoy starts up after Contour.

Initially we thought it was related to #2931, but we then realized that we could reproduce the issue with a single "bad service".

In G

[2018-06-01 03:08] davecheney commented on #420
@alexbrand thanks for reporting this issue, could you please attach

1. the envoy logs
2. your bootstrap configuration, something like `kc exec contour-cb97d6969-7cm24 -c envoy -ti cat /config/contour.yaml`

[2018-06-01 03:13] davecheney commented on #419
I can see this would be a useful feature, but you can always generate the same bootstrap configuration as your init container by running contour locally. I'm not saying this is _the_ solution to your requirements, but it is an answer you can use today without change.

[2018-06-01 08:34] Frusty commented on #406
Is there a (non explicit) way of using an HTTPS upstream service today?

[2018-06-01 12:36] alexbrand commented on #420
Thanks @davecheney. Here are logs and config:

**1. Logs**
[code]

**2. Config**
[code]

[2018-06-01 13:21] piclemx commented on #403
@davecheney do you know if this will be done soon?

[2018-06-01 14:14] davecheney commented on #403
I’m sorry this won’t make it for 0.6. I know it is important but resources are limited.

[2018-06-01 14:53] nphmuller commented on #403
@davecheney Still appreciate all the effort! 👍

[2018-06-04 02:11] davecheney commented on #420
I think this is unrelated to `badservice`. What I see when I /quitquitquit my envoy container (thanks for the repro) is this
[code]
(once logging has been turned up to debug)

This makes me think that contour cannot resolve the DNS name for 127.0.0.1 to connect to the contour cluster for eds/cds/etc. 127.0.0.1 isn't a DNS name so I'm going to try twiddling with the various dns lookup types.

[2018-06-04 02:56] davecheney commented on #420
ok, what I think is going on is on restart envoy is not picking up the listeners or not making a connection to LDS

[2018-06-04 03:06] davecheney commented on #420
Here's an easier reproducer; swap the order of the envoy and contour containers so contour is running (most likely) before envoy
[code]

[2018-06-04 03:30] davecheney commented on #420
Ok, feeling more confident that envoy isn't fetching listeners _iff_ it gets a bunch of cds config during init.

looking in the backend stats I see
[code]
But in /clusters we do have clusters created, so something is failing to trigger envoy to talk LDS.

[2018-06-04 04:00] davecheney commented on #420
Possibly a recurrence of envoyproxy/envoy#2931.

The symptoms are very similar, envoy doesn't even try to talk LDS.

[2018-06-04 04:16] davecheney commented on #420
Raised envoyproxy/envoy#3530

[2018-06-05 01:16] alexbrand opened #424 "Contour seems to stop sending updates when processing a large number of services"
While doing performance testing, I ran into an issue where a subset of the envoy pods were not getting configured, which in turn resulted in bad benchmark results.

Environment setup:
- Decoupled envoy/contour deployment
- 2 contour pods
- 5 envoy pods

The test involved creating 5,000 services in a backend Kubernetes cluster, waiting until they are all discovered by Gimbal, and finally running wr

[2018-06-05 02:54] davecheney opened #426 "internal/grpc: move filtering of Values to Register"
Currently the grpc package and xds handler can filter results returned by `cache.Values` by a filter constructed from the DiscoveryRequest. However the `cache.Register` method lacks a way of filtering notifications and thus registers for all changes to the cache. This mean when the channel passed to Register fires, the update may not match the filter supplied and the result is a noop.

This is bet

[2018-06-05 04:02] davecheney commented on #424
Thanks for reporting this issue, can you please test with 0.6.0.alpha.2 (i'm going to cut it soon). My hope is that the bug fixed in #423 may solve the lack of updates.

@alexbrand I'm going to ask you to raise a separate issue for the memory usage. That is not expected, but I don't want to conflate these two issues.

This message is, well, to be honest, incorrect. The channel is full is just info

[2018-06-05 16:09] rosskukulinski commented on #424
@davecheney would the max size of the channel & current size of the channel be useful metrics to expose?  As an operator responsible for managing Contour, is this something I might need to have visibility into?

[2018-06-05 19:20] zxvdr commented on #70
@davecheney, can you please provide some guidance regarding the annotation format? Unless I'm mistaken, the format I used in https://github.com/heptio/contour/pull/408 is the format [you suggested](https://github.com/heptio/contour/issues/70#issuecomment-387575336).

[2018-06-05 21:58] davecheney commented on #424
No thank you. It's an implementation detail that might be removed in the
future. I don't want people to get addicted to that number as it is
difficult to infer if a high reading on that channel is a good or bad thing.

On 6 June 2018 at 02:09, Ross Kukulinski <notifications@github.com> wrote:

[2018-06-06 05:46] davecheney commented on #419
@alexbrand I had a quick play with trying to solve this with shell but couldn't really get it to work cheaply.

If you need this for your testing, please send a PR and I'll merge it; you can probably do this cheeply without upsetting the tests in internal/envoy like this
[code]

[2018-06-07 03:28] davecheney commented on #424
@alexbrand any update after trying 0.6-alpha.1 ?

[2018-06-07 03:29] davecheney commented on #420
@mattmoyer can you tell me why you reopen this please.

[2018-06-07 05:07] davecheney commented on #14
Duplicate of #406

[2018-06-07 05:07] #14 closed

[2018-06-07 05:07] davecheney commented on #406
@Frusty not at the moment, but the scaffolding to add it exists now.

[2018-06-07 05:09] davecheney commented on #316
Not for 0.6, moving to the backlog.

[2018-06-07 05:44] davecheney opened #428 "internal/dag: DAG should be immutable"
This is a tech debt card.

The internal/dag package added in #427 chose to make the DAG object mutable. This was based on a back of an envelope calculation that regenerating the entire DAG on each insert or removal would be costly in terms of garbage generated. I believe that these calculations are correct for the case where the DAG is undergoing high rates of change, usually during startup if the

[2018-06-07 06:03] davecheney opened #429 "internal/dag: should we have two types of vhost objects; HTTP and HTTPS?"
Currently the DAG models roots as a single object, `*dag.VirtualHost` with a `*dag.Secret` attached to indicate that TLS is available for routes reachable from this root. Properties such as "301 upgrade to HTTPS" and "don't listen on port 80" aren't captured, but could conceivably be added as fields on the `*dag.VirtualHost`.

@jbeda raises the question of if we should have two types of root objec

[2018-06-08 02:31] #428 closed

[2018-06-10 01:40] larkinkevin opened #432 "Provide support for integrating with an external auth service."
- Ambassador supports authentication via the "AuthService" manifest (and a user-provided external auth service that satisfies a very simple API).
- It appears that Envoy likes this approach, because they're planning to incorporate it:  https://github.com/envoyproxy/envoy/issues/2828.
- If/when Envoy provides this functionality, it would be great if Contour could expose it to users.

[2018-06-10 01:48] larkinkevin opened #433 "Provide support for configuring client auth."
- Envoy supports client auth.  It would be great if Contour did too (ie. if Contour exposed this particular piece of Envoy config).
- Contour already supports server auth (via Ingress' "tls" stanza).  Adding support for client auth would unblock users who want to use Contour in an mTLS setup.

[2018-06-11 12:34] ihrwein commented on #433
I wanted to raise a similar issue then managed to convince myself that although this feature would be useful it's not aligned with this project's goals (note that I'm just somebody from the Internet who found this project some days ago.).

My reasoning is that different teams can have different authentication requirements. Contour is to have one Ingress that delegates the traffic to team-managed s

[2018-06-11 12:36] ihrwein commented on #432
I wanted to raise a similar issue then managed to convince myself that although this feature would be useful it's not aligned with this project's goals (note that I'm just somebody from the Internet who found this project some days ago.).

My reasoning is that different teams can have different authentication requirements. Contour is to have one Ingress that delegates the traffic to team-managed s

[2018-06-11 15:36] mattmoyer commented on #420
Oops, I think that must have been a misclick.

[2018-06-11 15:36] #420 closed

[2018-06-11 16:31] davecheney opened #434 "internal/dag: add support for IngressRoute"
Add IngressRoute support to `DAG.Insert` and `DAG.Remove`

[2018-06-11 17:39] larkinkevin commented on #432
I can certainly see where you're coming from @ihrwein.  I just opened this issue to track the feature request (I figured I should at least make the ask).

Will totally understand if the Contour folks decide this is not a feature they want to support (because it's not handled by the Ingress spec).

[2018-06-11 17:46] alexbrand commented on #424
Closing this issue as it did not recur while testing with 0.6-alpha.1.

[2018-06-11 17:46] #424 closed

[2018-06-11 18:43] davecheney opened #435 "IngressRouteSpec.VirtualHost should be a pointer"
https://godoc.org/github.com/heptio/contour/apis/contour/v1beta1#IngressRouteSpec

The VirtualHost field is currently not a pointer so there is no way of indicating an IngressRoute is a delegate. See rule 2, https://github.com/heptio/contour/blob/master/design/ingressroute-design.md#delegation-rules

/cc @stevesloka @alexbrand

[2018-06-11 18:46] davecheney opened #436 "IngressRoute.Spec.VirtualHost.TLS should be a pointer"
The documentation for spec.virtualhost.tls says that the tls block is optional, but without the field being a pointer there isn't a way to do this.

https://godoc.org/github.com/heptio/contour/apis/contour/v1beta1#VirtualHost

/cc @alexbrand @stevesloka

[2018-06-12 13:57] glerchundi opened #437 "Feature request: CORS support"
As far as I can see, in v2 API, it can be implemented only as a http filter: https://github.com/envoyproxy/data-plane-api/blob/master/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.proto.

In order to have secure enough defaults I think this should be disabled by default and let people enable explicitly with a new command-line parameter.

The implementation is fairl

[2018-06-12 19:10] davecheney opened #439 "internal/grpc: EDS should always return a response"
Internally at Heptio we've seen a series of Envoy crashes processing configuration updates. With a bit of investigation we believe these crashes are related to a Service deployed to the cluster that currently has no matching endpoints.

[code]

Because it's totally valid in k8s to scale down a service to zero pods while retaining the Service and Ingress objects in the api server this situation is

[2018-06-13 08:37] glerchundi commented on #437
I know that you probably don't want to infect ingress with annotations but IMHO the cleanest way to do this is to allow the user specify each cors policies in there with annotations, something like this:

[code]

This directly maps to envoy `CorsPolicy` and allows to do everything related to CORS.

For now and until defined in the `IngressRoute`, this is only valid for standard k8s `Ingress` objec

[2018-06-14 06:31] kunickiaj commented on #70
If you're using contour for TLS termination x-forwarded-proto is needed in many cases -- couldn't find a way to set that.

[2018-06-14 13:21] stevesloka opened #442 "[IngressRoute] Healthcheck endpoints"
Health checks are pec'd out as well in the IngressRoute design doc (https://github.com/heptio/contour/blob/master/design/ingressroute-design.md#healthcheck). I think the implementation of this is similar to #415 where HealthChecks are applied to clusters and we need to think about how to roll this into Contour's design.

[2018-06-14 13:22] stevesloka commented on #283
Sorry, misread this issue. My previous comment was health checking endpoints, not Contour itself.

[2018-06-22 07:55] davecheney opened #443 "Upgrade to envoy 1.7.0"
Low priority issue.

[2018-06-25 00:08] davecheney commented on #437
Thanks for raising this issue.

TBH I'm going to punt on this til IngressRoute (project) is done. I don't want to see another seven annotations on the ingress document.

[2018-06-25 00:10] davecheney commented on #409
I agree this would be good. I don't have any bandwidth to work on this.

[2018-06-25 00:11] davecheney commented on #403
This should be possible to cover as part of the IngressRoute refactor. No ETA on a milestone.

[2018-06-25 00:12] davecheney opened #444 "Rename IngressRoute CRD"
@jbeda wants to rename the IngressRoute CRD. This is probably a blocker on the 0.6 milestone.

I'm going to assign this to @rosskukulinski and @stevesloka. You have complete veto over changing or not changing the name of the CRD.

[2018-06-25 00:32] rosskukulinski commented on #444
@davecheney I'm guessing this came out of the long-range planning meeting you had with @jbeda and @timh?

I believe the proposed rename is `HttpRoute`?  The intent here is to be very specific that the current IngressRoute design is very HTTP centric.  In the future, we may want to support more agnostic TCPProxy like behavior which would require a different CRD with appropriate spec fields.

Does t

[2018-06-25 00:49] davecheney commented on #444
Ross, contour will not support tcp forwarding, that is outside the remit for an ingress controller.

Tcp forwarding should be a separate product.

[2018-06-25 01:10] davecheney commented on #439
After talking to Moyer and making a build that always returns a response there is no change in the failures seen in our cluster. I think at this point it has to be kicked upstairs to the envoy devs.

[2018-06-25 01:14] davecheney opened #445 "internal/contour: delay notifications to avoid sending partial configuration"
From #428

To avoid sending a partial configuration as it is learned, or during startup, a holdoff period for notifying caches should be instituted.

[2018-06-25 01:16] rosskukulinski commented on #444
Yes, of course - I should have been more precise with my language.

[2018-06-25 01:36] davecheney commented on #405
Confirmed. Thank you for reporting the issue. I'm working on a fix now.

[2018-06-25 02:51] davecheney commented on #405
Closed by #446

[2018-06-25 02:51] #405 closed

[2018-06-25 02:58] #435 closed

[2018-06-25 02:59] davecheney opened #447 "ingressroute.spec.virtualhost.name: "" should be illegal"
It should be illegal to submit an ingressroute spec with a blank fqdn
[code]
^ Should be rejected. All virtualhosts must have a name.

[2018-06-25 03:58] #444 closed

[2018-06-25 04:01] davecheney commented on #436
Closed by #440

[2018-06-25 04:01] #436 closed

[2018-06-25 04:02] davecheney commented on #439
I'm removing the milestone as I don't think there is anything that can be done this week.

[2018-06-25 04:03] davecheney opened #448 "ingressroute: add support for delegation"
Add support for delegated ingress route objects.

[2018-06-25 04:04] davecheney commented on #448
Blocked on #434

[2018-06-25 04:05] davecheney opened #449 "ingressroute: add support for reporting status"
During processing of ingressroute documents the status of processing each document should be updated.

Spec: https://github.com/heptio/contour/blob/master/design/ingressroute-design.md#delegation-status

[2018-06-25 04:11] rosskukulinski opened #450 "ingressroute: add documentation"
We need to document the new IngressRoute API and provide some working examples.

[2018-06-25 05:06] davecheney opened #451 "ingressroute.spec.virtualhost.aliases support or drop?"
Figure out how to add support for virtualhost aliases or drop them from the spec.

[2018-06-25 05:27] davecheney opened #452 "internal/dag: add support for ingressroute TLS documents"
Blocked on #434

Support for generating 443 routes is missing from ingressroute processing.

[2018-06-25 05:31] davecheney opened #454 "Integrate dag generation into contour translator"
This is a high level tracking ticket for integration of the dag into contour's translator

- [x] changes to the dag generate cache notification messages for grpc listeners.
- [x] listener cache is populated by dag generation.
- [x] route cache is populated by dag generation.
- [x] cluster cache is populated by dag generation.

[2018-06-25 05:34] davecheney opened #455 "ingressroute needs support for kubernetes.io/ingress.allow-http: false"
Ingressroute needs support for the equiv. of Ingresses `kubernetes.io/ingress.allow-http: false`

This should be a property on the spec.virtualhost object, it cannot be specified on a delegate.
[code]
Allow-http defaults to true.

Needs internal/dag and internal/e2e tests to verify that allow-http: false prevents generation of `ingress_http` routes and vhost entries.

[2018-06-25 05:36] davecheney opened #456 "Ingressroute needs support for enforcing TLS"
Ingressroute needs support for the equiv. of Ingresses `ingress.kubernetes.io/force-ssl-redirect: true`

This should be a property on the spec.virtualhost.tls object, it cannot be specified on a delegate.
[code]
force-ssl-redirect defaults to false.

Needs internal/dag and internal/e2e tests to verify that force-ssl-redirect: true generates 301 entries for all http routes.

[2018-06-25 05:56] davecheney commented on #429
Closing. The remainder of this ticket is #455 and #456

[2018-06-25 05:56] #429 closed

[2018-06-25 05:59] davecheney opened #457 "internal/dag: tests for ingressroute remove are missing"
internal/dag_test.go has several tests for removing various combinations of ingress/service/secret documents. Duplicate those for ingressroute.

[2018-06-25 06:01] davecheney opened #458 "internal/dag: ingressroute.spec.virtualhost.tls is not supported"
Basic, untested, support for building a dag from a ingressroute with a virtualhost is present, but untested

- [ ] add tests for adding an ingressroute and secret to the dag. Existing ingress + secret tests should provide a good template.
- [ ] dag only generates vhost:80 virtualhosts, this needs to be extended to support vhost:443 objects if a virtualhost.tls spec is present.

See also #455 #456

[2018-06-25 06:05] davecheney opened #459 "ingressroute: add support for traffic mirroring"
Feature request from the field, add support for services which get read only mirror traffic. Envoy supports this at the cluster level. Suggest something like this for the spec
[code]

[2018-06-25 14:55] stevesloka commented on #447
The CRD validation in #441 cannot validate since it's only required on a `root` IngressRoute. What should Contour do if this is found? Reject the IngressRoute and set a status on the object?

[2018-06-25 14:57] rosskukulinski commented on #458
@davecheney TLS not required for beta.1.  I'm happy to move this to a beta.2 or full 0.6 milestone.

[2018-06-25 14:57] rosskukulinski commented on #456
@davecheney TLS & force-ssl-redirect are not required for the beta.1 milestone.  I'm happy to move them to the full 0.6 milestone if that works for your workflow.

[2018-06-25 14:59] rosskukulinski commented on #455
@davecheney related to #456 and #458 -- TLS is not required for the beta.1 milestone.  This only needs to stay in the milestone if you think we should do it anyway.

[2018-06-25 15:00] rosskukulinski commented on #452
Not necessary for beta.1

[2018-06-25 15:02] rosskukulinski commented on #451
@davecheney I don't think this is necessary for the beta.1 milestone, but I _do_ think it should remain in the spec to be implemented for the 0.6 release.

[2018-06-25 15:02] stevesloka commented on #449
What versions of Kubernetes are we targeting? If we can use 1.10+ then we should utilize the `Status Subresource` field for this and not use a custom field. @rosskukulinski

https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/

[2018-06-25 15:08] rosskukulinski commented on #449
@stevesloka Currently we're tied to minimum version 1.9. Let me see if that can change.

[2018-06-25 15:12] rosskukulinski opened #461 "ingressroute: Support enforcing mode"
Defined in the specification here: https://github.com/heptio/contour/blob/master/design/ingressroute-design.md#enforcing-mode

This will allow for more secure multi-team functionality where Root IngressRoute objects are only read from trusted namespaces

[2018-06-25 15:13] stevesloka commented on #449
The feature is Alpha as well so spec could change in the future.

[2018-06-25 15:13] alexbrand opened #462 "internal/dag: backend field not populated when processing IngressRoute resources"
The `Route` struct contains a `backend` field that should be  one of `*v1beta1.IngressBackend` or `ingressroute.Service`, depending on whether we are processing a Kubernetes Ingress resource or a Contour IngressRoute resource.

Currently, the `backend` field is not set when processing IngressRoute resources.

(Ran into this while working on #457)

[2018-06-25 15:14] rosskukulinski commented on #449
Ah, in that case let's avoid the Subresource until minimum Beta

[2018-06-25 15:41] alexbrand opened #463 "internal/dag: default path to "/" when Match field of IngressRoute is empty"
When processing Ingress resources, we set the dag.Route's path to `/` when the path on the IngressRule is empty.

We should do the same when processing IngressRoute resources. That is, set the `path` field of the dag.Route struct to `/` when the `Match` field of an IngressRoute is empty.

[2018-06-25 20:07] alexbrand commented on #434
Should this be closed now that https://github.com/heptio/contour/pull/453 has merged in?

[2018-06-25 20:13] alexbrand commented on #461
I thought this would be actionable but I think this is blocked on #448 as we don't have delegation yet.

[2018-06-25 20:48] alexbrand commented on #461
In terms of feature yes, I think that is correct. However, given that delegation has not been fully fleshed out yet, I am not sure where this feature would fit in terms of code/architecture. I'll add an item to our sync agenda.

[2018-06-25 21:20] glerchundi opened #465 "ingressroute: add CORS support"
Feature request to add CORS support in `IngressRoute`. Envoy already supports this at ~route~ virtual host level so it seems to be plausible to add it on the `virtualhost` section, something like:

[code]

WDYT @davecheney?

[2018-06-25 21:30] rosskukulinski commented on #465
Hi @glerchundi - thanks for opening up this issue.

Does CORS definition ever need to be configured for a specific path? (e.g. `/login` has different CORS than `/blog`) . I'm wondering if this is a property of the top-level and/or maybe needs to support over-riding at the path level.

[2018-06-25 21:38] glerchundi commented on #465
That was fast @rosskukulinski thanks for the prompt response.

AFAIK, Envoy doesn't support different CORS policies for paths in the same virtual host. [Take a look at this protobuf definition](https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/route/route.proto#L97).

Without knowing the internals of Contour (how this maps `IngressRoute` to Envoy entitieS) does this answer your ques

[2018-06-25 22:22] davecheney commented on #463
I don't think we should do this; this is a small concession to avoid writing one line and ads confusion --we have to document what prefix is assumed when no match is supplied. Then we also need to specify what happens in this case
[code]
I think we should make the `match:` field mandatory.

[2018-06-25 22:28] davecheney commented on #462
I'll take this one, the backend field is _likely_ needed for determining the port of the child service, however

- routes may have more than one child service, so a singleton backend field doesn't make sense
- if the service object (that implements vertex, not the one from k8s) records the port, then we don't need to keep a copy of the part of the ingress doc that pointed to it on the route to dis

[2018-06-25 22:38] davecheney commented on #461
I propose that we do this as a first cut of this feature for beta.1
[code]
Then plumb `roots` down the dag watcher.

We can iterate on the UX of setting this field and redeploying contour in a later iteration.

[2018-06-25 22:55] davecheney commented on #434
Yup, my bad, i missed the Fixes #434

[2018-06-25 22:55] #434 closed

[2018-06-25 23:02] davecheney commented on #447
Yup, we'll reject it.

On 26 June 2018 at 00:55, Steve Sloka <notifications@github.com> wrote:

[2018-06-25 23:03] davecheney commented on #458
ok to bump to 0.6, we can't release to the public without this feature.

On 26 June 2018 at 00:57, Ross Kukulinski <notifications@github.com> wrote:

[2018-06-25 23:03] davecheney commented on #456
ok to bump to after 0.6

On 26 June 2018 at 00:58, Ross Kukulinski <notifications@github.com> wrote:

[2018-06-25 23:04] davecheney commented on #455
ok to bump til after 0.6

On 26 June 2018 at 00:59, Ross Kukulinski <notifications@github.com> wrote:

[2018-06-25 23:04] davecheney commented on #452
ok to bump to 0.6, we cannot release ingressroute without a tls story -- it
would be embarrassing.

On 26 June 2018 at 01:00, Ross Kukulinski <notifications@github.com> wrote:

[2018-06-25 23:13] rosskukulinski commented on #452
I complete agree we can't release to public w/o TLS story.

[2018-06-25 23:32] alexbrand commented on #463
Thanks @davecheney. That sounds reasonable to me.  Will close this out.

[2018-06-25 23:32] #463 closed

[2018-06-26 06:08] #462 closed

[2018-06-26 06:11] #416 closed

[2018-06-26 08:12] davecheney opened #467 "ingressroute: need a place to hang tls-minimum-protocol-version"
Contour supports the annotation `contour.heptio.com/tls-minimum-protocol-version` which allows the Ingress author to specify the minimum TLS version this vhost should negotiate. We need a similar facility for ingressroute. Something like
[code]

[2018-06-26 14:24] glerchundi commented on #15
Now that envoyproxy/envoy#1843 is already addressed and released on Envoy 1.7.0, it can be done once #443 gets fixed. Before doing anything and knowing that Contour is taking the use `IngressRoute CRD` approach (thus not polluting standard ingress with a myriad of annotations), what about something like this?

[code]

I don't know if it's even possible but appears to be easily understandable.

[2018-06-26 20:15] alexbrand commented on #451
@rosskukulinski @davecheney should we move this out of the 0.6.0-beta.1 milestone?

[2018-06-26 21:00] rosskukulinski commented on #451
Done

[2018-06-27 00:47] rosskukulinski commented on #448
#434 was fixed in #453, so this should not be blocked any more

[2018-06-27 03:48] #373 closed

[2018-06-27 04:32] #457 closed

[2018-06-27 21:57] alvaroaleman commented on #443
Very naive question: What does this require aside from changing the manifests?

[2018-06-28 02:00] davecheney opened #475 "cmd/contour, internal/contour: --envoy-{http,https}-access-log flags and implementation untested"
Spotted during #454
[code]
Options are not tested.

These are fields on Translator.ListenerCache which can be unit tested and e2e tested.

[2018-06-28 02:25] davecheney opened #476 "internal/dag: dag.Secret should be renamed to dag.TLSSpec"
The dag.Secret object is a child of a dag.VirtualHost and currently holds the Secret object with the TLS certificates.

I think this should be renamed to something like TLSSpec as after #460 lands the dag.Secret object will grow some TLS connection parameter values. The backing object can still be the k8s secret, or perhaps we extract the cert and key data and place it in the TLSSpec object direct

[2018-06-28 03:37] rosskukulinski opened #477 "IngressRoute weights shouldn't need to add up to 100"
Currently if the sum of the `weight` values for a set of Services in a Route is not equal to 100, then Envoy will fail to accept the updated configuration from Contour.

[code]

The IngressRoute design is not defined, but I believe previous discussions concluded that Contour would translate the weights provided by the user into acceptable ratios for envoy.

[2018-06-28 03:38] rosskukulinski commented on #477
This is an example of an invalid IngressRoute in the current system
[code]

[2018-06-28 03:40] rosskukulinski commented on #477
so is this:
[code]

[2018-06-28 04:52] #476 closed

[2018-06-28 15:19] stevesloka commented on #477
@rosskukulinski what version of Envoy? This should work as you've implemented but can take a look again.

[2018-06-28 15:23] rosskukulinski commented on #477
@stevesloka docker.io/envoyproxy/envoy-alpine:v1.6.0

[2018-06-28 17:19] alexbrand opened #480 "IngressRoute validation requires the namespace to be set when delegating"
Make the namespace optional so that it is easier to delegate within the same namespace.

[2018-06-28 20:53] #448 closed

[2018-06-28 21:04] stevesloka commented on #442
This should be implemented in #454 from the dag since we need both service & IngressRoute information at CDS time.

Also we'll need to set the `host` param on health checks to something like `envoy-hc` since it by default uses the cluster name which currently is an invalid scheme for a host header.

[2018-06-28 21:05] stevesloka commented on #415
This should be implemented once #454 is complete since we need both service & IngressRoute information at CDS time.

[2018-06-28 21:05] #480 closed

[2018-06-28 22:50] alexbrand commented on #449
Non-exhaustive list of checks for status reporting:
* Non-numeric weight provided in route definition
* Negative weight provided in the route definition
* Invalid Load Balancing strategy provided
* Route delegates to a non-existent namespace
* Non-root Route that is not pointed to by a Root route
* Prefix in Root does not match route in delegated route

[2018-06-28 22:53] davecheney commented on #477
Yeah, this is a super annoying feature of envoy; a 2 way split is simple, 50, 50, but a 3 way split needs to be 33,33,34. This is really annoying.

What I think we should do is make the weight field relative, so if you write 1,1, we scale those to (1/1+1 * 100) each. If you write 10,100 we do the same and you end up with (10/110 * 100) and (100/110 * 100). We still need to accumulate the error so

[2018-06-29 02:28] alexbrand commented on #477
We should be able to set the total weight in the WeightedCluster, no?

[code]

[2018-06-29 11:40] davecheney opened #483 "internal/contour: ingress-class support may have been lost during 454"
Issue #454 may have accidentally removed support for ingress-class.

- Check if this went missing
- Add e2e and unit tests to prevent it going missing again.

[2018-06-29 12:31] davecheney opened #485 "internal/dag: contour.heptio.com/retry-on support lost"
Updates #454

`contour.heptio.com/retry-on` support was lost in #483. It needs to be put back for 0.6.

[2018-06-29 12:32] davecheney commented on #485
-	annotationNumRetries      = "contour.heptio.com/num-retries"
-	annotationPerTryTimeout   = "contour.heptio.com/per-try-timeout"

Were also lost in the process.

[2018-06-29 15:12] stevesloka opened #486 "dag: cycle time metric"
Would be interesting to add some Prometheus metrics around the dag generation/size. The first one that came to mind was cycle time to build cold as well as cycle time with updates.

// cc @rosskukulinski

[2018-06-29 18:01] terinjokes commented on #62
I don't like leaving :+1: comments, for the obvious reason, but I'd love to have this feature. Assuming the ingress is used in such a way the client IP is preserved (eg, a GKE LB, nodeports) did you have in mind a place to slot this in? I don't mind opening a PR to add it.

[2018-06-29 18:03] alexbrand opened #488 "internal/dag: ingressroute delegation is performing string prefix match instead of path prefix match"
The current ingressroute delegation checks whether the child's path has the parent's path as a prefix. However, it is performing a string prefix match, meaning that a parent delegating `/foo` to a child using `/foobar` is considered valid.

Instead, any children routes that are delegated from `/foo` must be subpaths of `/foo`. For example: `/foo`, `/foo/bar` and `/foo/bar/baz` but not `/foobar`

[2018-06-29 23:53] alexbrand opened #490 "Validate IngressRoute resources and report status"
When contour is processing IngressRoute resources, it needs to validate that the resource is valid.

The following is an initial list of validations that we should perform:
- [x] Negative weight provided in the route definition
- [x] Invalid port number provided for service
- [x] ~~Invalid Load Balancing strategy provided~~ (This is covered by the CRD validation)
- [x] ~~Route delegates to a non-e

[2018-07-02 03:55] #211 closed

[2018-07-02 03:55] #298 closed

[2018-07-02 03:56] davecheney commented on #454
Marking this issue as closed for beta.1, all sub-tasks are complete.

[2018-07-02 03:56] #454 closed

[2018-07-02 05:15] davecheney opened #496 "internal/dag: emit a metric for dag.regenerate times"
Emit metrics for

- count of calls to regenerate
- last regenerate walltime.

[2018-07-02 18:00] #488 closed

[2018-07-02 18:15] #461 closed

[2018-07-02 19:17] mattalberts opened #499 "Observed envoy memory while adding|removing ingress"
## Envoy Memory Investigation
Odd container memory observations do not affect the contour container.  As seen in the graphs, contour memory changes are dwarfed by envoy memory changes.  I wanted to start the question/discussion with the contour project to see if similar observations have been seen.

I found two possibly related issues in the envoy project
  1. https://github.com/envoyproxy/envoy/i

[2018-07-02 23:24] colemickens commented on #406
Will this include the ability to specify a CA bundle for the upstream service? `nginx-ingress` has this today via an annotation, I'm also curious if this might be supported as a first-rate field in the new CRDs instead of just via annotations?

[2018-07-02 23:34] davecheney commented on #406
I think this should be a property of the service document, not the ingress
or ingressroute document.

On 3 July 2018 at 09:24, Cole Mickens <notifications@github.com> wrote:

[2018-07-03 08:22] alexbrand commented on #490
Following @davecheney's suggestion from #491, we can tackle this in two takes as follows:

1. Perform validation and log any errors to stdout:
The dag's recompute method will not only return a new dag, but it will also return a slice of validation errors. This will require the introduction of a new type that holds the validation error and the ingressroute that it applies to:
[code]

2. Once we hav

[2018-07-03 10:05] alexbrand commented on #490
We further discussed that the recompute method will have to return a list of statuses, instead of a list of validation errors. The reason for this is that we also need to know about the valid ingress routes.

[2018-07-03 16:01] mattalberts commented on #499
[envoy.hprof.0180.heap.txt](https://github.com/heptio/contour/files/2160133/envoy.hprof.0180.heap.txt)

[2018-07-03 17:34] rosskukulinski commented on #432
Hi @ihrwein and @larkinkevin - thanks for opening this issue.  I think this is an interesting feature request and something that could be a useful addition to the new IngressRoute CRD we're heads down on at the moment.

We haven't taken a close look at the APIs exposed via https://github.com/envoyproxy/envoy/issues/2828, but once it lands in an Envoy release, we'll take another peak.

[2018-07-03 17:48] rosskukulinski commented on #486
I always love data :).  Not required for beta-1 milestone, but could consider for 0.6 release based on performance testing done for Gimbal 0.3 release.

[2018-07-03 20:40] alexbrand commented on #490
The following table outlines the conditions, status and messages:

| Condition | Status | Message |
|------|-------|-------|
| valid IR | valid | valid IngressRoute
| Invalid port in service | invalid | route "/foo": service "home": port must be in the range 1-65535
| Root IR defined outside root namespace | invalid | root IngressRoute cannot be defined in this namespace
| prefix does not match pa

[2018-07-03 21:01] stevesloka commented on #490
You should be able to define a service with a weight of zero.

Is this one just orphaned?

[2018-07-04 01:15] alexbrand commented on #490
Thanks @stevesloka! Updated the message for weights. The implementation was correct, but the message was not.

In my mind, it is not the same as an orphaned route, as it _is_ part of a delegation path from a root ingressroute. In other words, there is a parent that is pointing to it by name + namespace.

[2018-07-04 07:44] davecheney commented on #486
Great minds think alike :)

Is this a duplicate of #496 ?

[2018-07-04 23:46] davecheney opened #503 "ingressroute: loadbalancer strategy and healthcheck params misplaced"
From #498

For 0.6 final we need too either:

a. create an intermediary object to hold cluster weights between the Route and the Service. The CDS walker will detect this and obtain the weights from the intermediary object.
b. Move the definition of the lbstrat and healthcheck params to annotations on the k8s service object

[2018-07-04 23:46] #442 closed

[2018-07-05 00:58] #485 closed

[2018-07-05 09:13] #483 closed

[2018-07-05 09:36] davecheney commented on #499
@mattalberts thank you for your detailed bug report. I'm sorry that Contour is behaviour like that, there is no reason for Contour to consume gigabytes of memory, let alone hundreds of megabytes.

Internally at Heptio I've also had a report that matches your symptoms, but from memory it never made it into an issue (/cc @alexbrand, please correct me if I'm wrong).

I see that you're using Contour 0

[2018-07-05 09:43] davecheney opened #505 "ingressroute: generated files need to be regenerated after #487"
#487 had merge conflicts in the generated files in `api/`. I merged them by hand but it wouldn't hurt to take a spring pass over the files with the tool to verify the merge was correct.

[2018-07-05 09:44] davecheney commented on #505
/cc @stevesloka @alexbrand

[2018-07-05 10:11] #477 closed

[2018-07-05 10:13] davecheney opened #506 "internal/contour/route.go:actionroute needs a test"
This is a followup issue from #487.

The `actionroute` helper is growing business logic that needs a test.

[2018-07-05 13:22] alexbrand commented on #499
We saw a memory consumption issue in the contour process, which I was not able to reproduce in 0.6-alpha.1 (https://github.com/heptio/contour/issues/424#issuecomment-396327057).

It seems to me like this is a leak in Envoy though?

[2018-07-05 13:36] stevesloka commented on #415
Closed via #498

[2018-07-05 13:36] #415 closed

[2018-07-05 13:41] #505 closed

[2018-07-05 14:49] rosskukulinski opened #509 "IngressRoute support for cert-manager"
Contour currently supports getting TLS certificates via cert-manager using HTTP-01 validation through standard Ingress annotations.

Cert-manager does not work with IngressRoute objects which means that Contour users taking advantage of the new IngressRoute CRD will not be able to use Let's Encrypt certificates from Cert-Manager.  The Istio community has a similar problem with their Gateway API

W

[2018-07-05 17:04] alexbrand opened #510 "ingressroute: update status of a parent IR when it is pointing to an invalid IR or a non-existent IR"
In a delegation path, we might want to let the owner of an IngressRoute that is delegating a path to another IngressRoute about an invalid or non-existent children.

Related: #490

[2018-07-05 17:25] mattalberts commented on #499
@alexbrand @davecheney Hi!  Thanks for writing back.  Contour actually appears to be the reasonable container (I also really like the project :P); its envoy that appears to be leaky (though I wasn't certain where to origin the issue).

I'm happy to start eval'ing from master!  Its pretty easy to stand up a test environment and re-run my scripts :).

[2018-07-05 17:45] stevesloka opened #511 "ingressroute: Rename lbHealthcheck to healthCheck"
In the current [design doc](https://github.com/heptio/contour/blob/master/design/ingressroute-design.md#ingressroute-crd), the health check name is `lbHealthCheck` which is inconsistent with the Load Balancer Strategy (named `strategy`).

We should rename `lbHealthCheck` --> `healthCheck`

[2018-07-05 17:51] alexbrand commented on #490
Update:
The following validations were stricken through from the list today:
- Invalid Load Balancing strategy provided: This is covered by the CRD validation that is performed by the API server.
- Route delegates to a non-existent namespace: Delegating to a non-existent namespace or IngressRoute should not invalidate the parent. However, we should probably update the parent's status to let the ow