[2019-03-06 12:18] davecheney commented on #923
Is there a way that we can bind to v4 and v6 by default? If so then i'll
make that the default so nobody has to set any flags.

On Wed, 6 Mar 2019 at 21:59, Lars Ekman <notifications@github.com> wrote:

[2019-03-06 13:40] uablrek commented on #923
Normally an ipv6 "any" also listen on ipv4 (dual-stack). I tried to use "--stats-address=::" in ipv4 but then the endpoints became not-ready, i.e same as in #911 but reversed. So it does not work out-of-the-box but maybe there is some config to envoy for dual-stack (I don't know envoy). IMO it should be default for "::". The dua-stack can be disabled with `sysctl net.ipv6.bindv6only`. I have not c

[2019-03-06 13:44] uablrek commented on #923
In the contour pod;
[code]

[2019-03-06 14:03] uablrek commented on #923
See also; https://github.com/heptio/contour/issues/48#issuecomment-355139324

[2019-03-06 14:38] uablrek commented on #923
And here a discussion in envoy; https://github.com/envoyproxy/envoy/issues/351#issuecomment-289490471

[2019-03-06 14:50] uablrek commented on #923
The `pv6_v6only=false` config option in the discussion above does not seem to be implemented. The other possibility mentioned is to have different listeners in envoy for ipv4 and ipv6.

[2019-03-08 04:52] #916 closed

[2019-03-08 05:02] davecheney opened #926 "Need e2e test for #912"
#912 landed late in the 0.10 cycle without an e2e test. It would be awesome if someone could write one so we don't revert this fix in the future.

Updates #603

[2019-03-08 05:03] #603 closed

[2019-03-08 06:19] lostllama commented on #922
Today I tried to scale contour to 4 replicas (instead of 2) and ended up with this:

	gke-clustername-clu-default-pool-cb97b8f2-zfnt   contour-686c5557c4-7fw28
	gke-clustername-clu-default-pool-cb97b8f2-zfnt   contour-686c5557c4-92shw
	gke-clustername-clu-default-pool-cb97b8f2-zfnt   contour-686c5557c4-pcrct
	gke-clustername-clu-default-pool-cb97b8f2-7qxr   contour-686c5557c4-rs8hb

It seems that

[2019-03-08 12:06] rochacon commented on #922
@lostllama you're using the `pod.spec.affinity.podAntiAffinity.preferredDuringSchedulingIgnoredDuringExecution` rule, which will make Kubernetes scheduler _try_ to spread the pods evenly in the clusters but won't *require* the even spread. This allows you to grow your Contour replica count independently to your node count.

To guarantee the spread and never place 2 Contour pods in the same node, y

[2019-03-08 12:16] lostllama commented on #922
@rochacon I appreciate that it isn't guaranteed, but the Contour config does say that it will try hard. When you have two nodes with ample resources, and it puts 3 on the same node before putting any on another node, it doesn't seem to be trying at all.

[2019-03-09 04:12] vaamarnath commented on #926
@davecheney Shall I pick this up?

[2019-03-09 04:17] davecheney commented on #926
Yes please. I’d start by figuring out why none of the e2e tests failed for cds when this landed. I suspect that this is because they are using helpers from internal/envoy. If that is the case, then we don’t need an e2e test, just to check the test coverage for the relevant helper in internal/envoy.

[2019-03-09 04:24] vaamarnath commented on #926
I went through `cds_test.go` and from what I understand all the e2e tests makes use of [`cluster()`](https://github.com/heptio/contour/blob/41b57f624f3b635b95ac28c988afc23dd76eb331/internal/e2e/cds_test.go#L739) helper function which doesn't set `HealthCheck`. As a result of which, when e2e tests exercise the code, it never hits the true case [here](https://github.com/heptio/contour/blob/41b57f624

[2019-03-09 04:47] davecheney commented on #926
Ahh, that would explain it.

Have a look at the helpers at the bottom of cds_test, there may be some patterns you can follow

[2019-03-11 02:35] kskewes commented on #569
Not sure if this is still active or related but `secure-backends` has been deprecated and removed in current nginx-ingress versions.
See: https://github.com/kubernetes/ingress-nginx/issues/3416

[2019-03-11 06:59] andrewwebber commented on #569
@kskewes what's your recommendation for ensuring TLS between the ingress controller and the backend K8 services

[2019-03-11 07:15] kskewes commented on #569
Sorry I should have posted updated docs link too: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md#backend-protocol

[2019-03-11 07:25] andrewwebber commented on #569
Forgive me if I miss understood but it seems strange to use an annotation with your product that begins with Nginx. I was expecting ingress.kubernetes.io/secure-backends would be a vendor neutral choice

[2019-03-11 07:33] kskewes commented on #569
I'm just an end user and came across this by search about `secure-backends`. Hope haven't derailed issue :)

[2019-03-11 07:46] andrewwebber commented on #569
@kskewes hey no problem :) I was just hoping you had already guidance on this issue resolving this issue.
So what your saying is that the final annotation for contour should be something like contour.ingress.kubernetes.io/backend-protocol: "HTTPS" if I am correct?

When using nghttpx the syntax is kinda proprietor
[code]

[2019-03-11 07:54] kskewes commented on #569
No sorry. There are a few similar issues to this one. See https://github.com/heptio/contour/issues/406 etc .

[2019-03-11 08:04] andrewwebber commented on #569
@kskewes that is an excellent reference, I must have miss that related issue. I will continue to track that instead, thanks!

[2019-03-11 20:09] unicell commented on #815
@davecheney do you mind be more specific about the last part? Are you referring to that growing set as something in Envoy API or within Contour, like HealthCheck?

[2019-03-11 21:06] andrewsykim commented on #592
Opened a PR for this here https://github.com/heptio/contour/pull/927

[2019-03-11 21:14] andrewsykim opened #930 "use shared informer factories for watchers"
**Describe the solution you'd like**
Use informer factories for running Kubernetes informers/watchers (see https://github.com/heptio/contour/pull/929 for an example reference).

The motivation behind this is mostly aesthetic. The informer factory abstracts a lot of the plumbing required to start and stop listers/watchers in Kubernetes. It also provides a few convenient methods like `WaitForCacheSy

[2019-03-11 21:20] andrewsykim opened #931 "Add a PR template"
**Describe the solution you'd like**
I really like the [Contribution Workflow](https://github.com/heptio/contour/blob/master/CONTRIBUTING.md#contribution-workflow) for this project. I think it would be super helpful if we reference the expected workflow in a PR template to inform new contributors in case they missed it from the README. I'm happy to put the PR template together!

**Anything else yo

[2019-03-11 21:27] davecheney commented on #931
SGTM.

[2019-03-11 22:55] davecheney commented on #432
Removing the 0.11 milestone as external auth support is not available in a shipping envoy 1.9

[2019-03-11 23:18] pims commented on #432
@davecheney Envoy 1.9.0 released on Dec 20, 2018 has support for ext_authz.

https://github.com/envoyproxy/envoy/blob/v1.9.0/docs/root/configuration/http_filters/ext_authz_filter.rst

Am I missing something?

[2019-03-11 23:37] davecheney commented on #432
I’m sorry, that was my mistake. I confused this with another feature.

[2019-03-12 01:36] #926 closed

[2019-03-12 07:06] davecheney opened #933 "Update envoyproxy/go-control-plane"
See if there is a newer version of go-control-plane. Beware that the latest go-control-plane may require a newer envoy than 0.11's envoy 1.9.0.

[2019-03-12 07:06] davecheney opened #934 "Upgrade to k8s.io/client-go 1.12.x"
Upgrade from client-go 1.11.x to 1.12.x

[2019-03-12 07:13] davecheney commented on #145
This issue has been p1 without a milestone for over a year. I need to get product input on before we can prioritise it.

[2019-03-12 07:14] davecheney commented on #62
I know this is an important feature for people, but without a design doc or input from product I cannot commit to do it in the 0.11 milestone so removing the milestone.

[2019-03-12 07:16] davecheney commented on #556
@mattalberts i'm going to close this issue, its been open for 10 months without an update. In the mean time I've made some improvements to log verbosity. Hopefully this is better that what it was back in July last year and we don't need to add additional controls to logrus.

[2019-03-12 07:16] #556 closed

[2019-03-12 07:18] aslafy-z commented on #432
Any chance this goes back to `0.11.0` milestone @davecheney?

[2019-03-12 07:18] davecheney commented on #439
I'm going to close this for the moment. The problem Moyer found has not reoccured.

[2019-03-12 07:20] davecheney commented on #410
I'm closing this issue as we shipped TLS Certificate Delegation in 0.10. Additions or improvements should be handled in a new issue.

[2019-03-12 07:20] #410 closed

[2019-03-12 07:23] davecheney commented on #845
We're going to do this another way, see #898

[2019-03-12 07:23] #845 closed, assigned to nobody

[2019-03-12 07:27] davecheney commented on #598
Revisit after #848

[2019-03-12 07:29] davecheney commented on #599
Nobody is available to work on this in 0.11. Punting to 0.12. Needs input from someone to verify if this is a problem.

[2019-03-12 07:31] #931 closed

[2019-03-12 07:36] davecheney commented on #881
This is urgent, but blocked on #898. Moving to 0.12

[2019-03-12 07:38] davecheney commented on #854
Moving to 0.12 because its blocked on #881

[2019-03-12 07:40] davecheney commented on #432
I've readded the 0.11 milestone, but no promises, as usual, we're resource constrained and once we decide on a release date for 0.11, there may not be time to implement it.

[2019-03-12 08:23] vaamarnath commented on #934
@davecheney I can pick this one if its okay with you.

[2019-03-12 08:32] davecheney commented on #934
Go for it.

[2019-03-12 14:23] shreyas165 commented on #409
Hi @cten, @davecheney,
I am interested in working on this issue. Some details on the resource limits and the scope of the issue would be helpful to get me started.
Thank you.

[2019-03-12 14:26] vaamarnath commented on #459
I have already picked an issue (encrypting traffic between envoy and contour) to work during `0.11.0` milestone. Nevertheless, I can get started on this issue if its okay with you @davecheney.

[2019-03-12 16:33] mattalberts commented on #556
No worries! Thanks for the update.  I'll check it out as part of migrating to v0.10.0.

[2019-03-12 16:34] mattalberts commented on #410
I saw that!  Thanks for the update.  Certificate Delegation looks to be a very flexible resolution (reading about it right now).

[2019-03-12 18:19] mattalberts opened #936 "Configure the per-route value for max_grpc_timeout"
**Describe the solution you'd like**
Configure the per-route value for [max_grpc_timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-routeaction-max-grpc-timeout)

**Anything else you would like to add:**
With the release of [envoyproxy 1.9.0](https://www.envoyproxy.io/docs/envoy/latest/intro/version_history#dec-20-2018), the meaning of `max_g

[2019-03-13 01:14] bmadhavan commented on #898
@davecheney If you are ok, I can pick up this task. I can come up with a rough design doc and a list of possible changes in a couple of days.

[2019-03-13 01:17] davecheney commented on #898
@bmadhavan sure, feel free to discuss the design here or in a design document. Please note that I will be travelling until the 1st of April and may not be able to reply during that time.

[2019-03-13 01:46] bmadhavan commented on #898
ok. Sure.

[2019-03-13 01:57] #934 closed

[2019-03-13 20:31] davecheney commented on #930
Fixed in #929

[2019-03-13 20:31] #930 closed

[2019-03-13 21:04] mattalberts commented on #936
I'm also available to provide a patch once the direction has be clarified :)

[2019-03-13 22:19] shivanshu21 commented on #419
I don't see any assignee. Is someone working on this?

[2019-03-13 22:23] davecheney commented on #419
I’m sorry there is nobody working on this. When someone is assigned it will be assigned a milestone and an assignee will nominate themselves when they start work.

[2019-03-13 22:32] shivanshu21 opened #939 "Provide option to supply a YAML file as Bootstrap envoy config input"
**Describe the solution you'd like**
If there is an option to provide a YAML file as input to bootstrap mode contour, changes to bootstrap config will become YAML file change in helm rather than code changes to contour.

eg. contour bootstrap output.yaml /tmp/input_template.yaml --admin-port=8080

**Anything else you would like to add:**
I have implemented this as a minor fix in an internal repo.

[2019-03-13 22:52] davecheney commented on #939
Hi @shivanshu21. Thank you for raising this issue.

I would prefer to not add this feature for the following reasons

1. `contour bootstrap` is only a convenience helper, from the Envoy container's point of view it expects to see a file on disk in the `/config` mountpoint, but it doesn't care how it got there. We use `contour bootstrap` in our example deployment yaml, but it is not required to use

[2019-03-13 23:05] shivanshu21 commented on #939
Right now we have a bunch of dynamic config for our envoy containers that we want to take in from kubernetes and put into envoy using contour.

But we also have a lot of *unchanging* configuration that we just want to dump into envoy config once and do not change very often.

One way to accomplish this is making code changes to contour in `/internal/envoy/config.go` to the string `const yamlConfig

[2019-03-13 23:07] davecheney commented on #939
I’m sorry to say that const yamlConfig left the building in contour 0.10, along with the config file in yaml format.

[2019-03-13 23:14] davecheney commented on #409
@shreyas165 thank you for offering to help. I'm afraid you'll have to do your own research and business analysis on this issue.

[2019-03-14 00:57] stevesloka opened #940 "Hostnet-split example won't deploy"
**What steps did you take and what happened:**
The example hostnet-split deployment doesn't have proper yaml for the envoy ports causing an error:

[code]

**Environment:**

- Contour version: master
- Kubernetes version: (use `kubectl version`): 1.13.4
- Kubernetes installer & version:
- Cloud provider or hardware configuration:
- OS (e.g. from `/etc/os-release`):

[2019-03-14 01:01] davecheney commented on #940
Thanks for raising this bug @stevesloka, I think the problem is ds-hostnet-split came after the other deployment examples so doesn't use many of shared files in `common/`

[2019-03-14 02:18] #940 closed

[2019-03-14 04:46] yob commented on #823
I had a bit of a poke at this. Customising the list of ciphers passed to envoy is simple enough, but making the feature robust and not a giant foot cannon was difficult.

It seems that passing an unrecognised cipher to envoy results in envoy not starting a TLS listener on the the requested port, and the supported list of ciphers depends on the vendored cersion of boringssl in envoy. It was *very*

[2019-03-14 05:25] davecheney commented on #823
At the moment Envoy and Contour are tightly coupled so I would like to avoid having to sense the ciphers supported by envoy, present them to the user, have them adjust them on a per ingress basis, presumably with some filtering from the administrator. Apart from the fiddlyness of this process, I don't think its actually solving the problem.

The problem users and administrators want is for people

[2019-03-14 10:41] shreyas165 commented on #409
Hi @davecheney , I have worked on test cases but performance testing is a new area for me as well.
Will try analyzing the issue to the best of my knowledge.
Thank you.

[2019-03-14 11:11] gaelleacas commented on #899
Hi :)

I would like to add an exemple that reproduce this issue with prefix path :
I use  nodejs app with express routing:
  - expose my app to http://main.local/myapp
  - A route is set to http://main.local/myapp/myroute

[code]

Deploy & service:
[code]
Ingressroute with prefixRewrite :

[code]

With this config if I curl http://main.local/myapp/myroute I have :
[code]
If I change the ingressrou

[2019-03-14 11:41] yob commented on #823
I'm on board with being opinionated, although I'm worried that my opinion about what ciphers are secure may be ill-informed. Particularly over the long term where the recommended ciphers will evolve and *someone* (possibly not me) in the contour community will have to take on the responsibility of keeping contours cipher list up to date.

I guess I could prepare a PR that selects the ciphers requi

[2019-03-14 12:02] davecheney commented on #823
Qualys or ssl labs would be a good start. I'm not an expert on this either,
but I know that ssllabs A+ is a goal for some teams, so shooting for that
(the current cipher list isn't that short of A+ at the moment) sounds like
a reasonable goal

On Thu, 14 Mar 2019 at 22:41, James Healy <notifications@github.com> wrote:

[2019-03-14 19:02] remmeier commented on #939
is there currently any way to reconfigure envoy? we have a similar use case, the `X-Forwarded-For` handling does not seem to work for us and we would like modify the configuration in that area (https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers#x-forwarded-for).

[2019-03-14 21:55] davecheney commented on #939
@remmeier can you please open a new issue with some details about what isn't working about `X-Forwarded-For`. Thank you.

[2019-03-14 21:58] shivanshu21 commented on #939
Thanks for the clarification Dave.

[2019-03-14 21:58] #939 closed

[2019-03-15 03:25] mattalberts opened #944 "Configure the per-route value for idle_timeout"
**Describe the solution you'd like**
Configure the per-route value for [idle_timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-routeaction-idle-timeout)

**Anything else you would like to add:**
Related to #936, I would like to expose `idle_timeout` configuration.

There appears to be future discussion regarding timeout support for `IngressR

[2019-03-15 08:14] remmeier opened #945 "X-FORWARDED-FOR on GKE"
I deployed Contour on GKE through the official Helm chart (resp. its current PR). I would have expected a x-forwarded-for to be present representing the client API. But I rather get single IP addresses from nodes in the kubernetes cluster like:

[code]

the incoming real IP address in the service is the podIP of the countour pod (as expected). The setup is rather simple, contour runs as LoadBalanc

[2019-03-15 08:32] davecheney commented on #945
What is likely happening is because the GKE load balancer is in tcp mode and does not support the PROXY protocol the remote IP address is lost.

I deploy on gke as well and haven’t yet found a way to enable PROXY support which will recover the remote ip

[2019-03-15 09:24] remmeier commented on #945
aha, thx for that clarification. So I added `externalTrafficPolicy: Local` after all to the contour service which then makes it work.

[2019-03-15 09:24] #945 closed

[2019-03-15 09:39] davecheney opened #946 "Improve GKE deployment examples"
We need better documentation for how to recover the remote IP address details when Contour is deployed behind GKE. See #945

[2019-03-15 20:16] pbarker opened #947 "Header based routing"
Expose header based routing https://www.envoyproxy.io/docs/envoy/v1.5.0/api-v1/route_config/route#headers

[2019-03-18 02:54] davecheney commented on #848
Fixed by #904

[2019-03-18 02:54] #848 closed

[2019-03-18 02:55] davecheney commented on #598
This issue is open for anyone who wants to try it.

[2019-03-18 03:02] davecheney commented on #899
Thank you. I think I understand the problem now. I'm not sure when we'll have the resources to tackle it.

If anyone wants to take a swing at this, you _must_ discuss your change here first. Thank you.

[2019-03-18 03:16] davecheney commented on #499
I'm sorry to do this but I'm going to remove the milestone from this issue. The alternative is to keep bumping it every month, which is dishonest for anyone watching it expecting that it will be resolved.

[2019-03-18 03:52] davecheney commented on #933
Upgraded to 0.6.8. 0.6.9 introduces some data structure changes so I think we'll punt on those til 0.12 or the next envoy upgrade.

[2019-03-18 04:02] davecheney commented on #876
Bumping til 0.12. @vaamarnath you're welcome to work on this, but please not until the 0.12 cycle.

[2019-03-18 05:06] vaamarnath commented on #598
I can pick it up @davecheney

[2019-03-18 06:50] davecheney commented on #947
@pbarker thanks for raising this issue. Could you describe a little more about what you need this for. Said another way, if Contour let you route on a header, rather than the URL path, what would that enable you to do?

[2019-03-18 14:06] vaamarnath commented on #598
I have chosen to vendor the dependencies using `go mod vendor`. I have made the changes accordingly.

[2019-03-18 16:58] pbarker commented on #947
So, our specific use case is wanting to route to 'feature pods' based on a header. This would entail deploying a downstream service with a new feature and wanting to run tests on it before generally routing traffic to it. Not sure if thats in the scope for contour

[2019-03-20 00:45] stevesloka commented on #947
@pbarker so you would want something like this? Say you have 2 services in your cluster named `service-foo` and `service-bar`.

Requests to `example.com` with no header would route to `service-foo` and requests to `example.com1 with a header of `X-Contour-App: bar` would route to `service-bar`?

I think this could be doable by adding a header to the DAG. Right now Contour builds a dag based upon t

[2019-03-20 01:22] pbarker commented on #947
awesome, love a good DAG. I'm also wondering on a general level whether contour would consider supporting a plugin ecosystem. Has that idea been put out there?

[2019-03-20 16:37] davecheney opened #950 "Contour should support cert-managers's webhook solver"
cert-manager is changing how certificate challenges are implemented. These are called "solvers" and represent ways of altering Ingress or DNS resources to complete the HTTP-01 or DNS-01 Let's Encrypt Challenge. The mechanism is describe in jetstack/cert-manager#1443.

Broadly a solver implements a web hook administered by the k8s api server as an api extension. This webhook is called by cert-manag

[2019-03-20 16:58] davecheney opened #951 "Contour should emit Certificate objects for HTTPProxy records"
Currently cert-manager integration with Contour requires either manually creating a Certificate object (a CRD describing a Let's Encrypt managed certificate) or using [annotations][1] on an Ingress resource which triggers cert-manager's ingress-shim helper.

Rather than ingress-shim learning about HTTPProxy and staying in sync as we evolve the type, Contour should learn how to emit a Certificate o

[2019-03-20 22:28] unicell commented on #857
@phylake I'm also facing the similar issue. The route I'm currently taking is to extend IngressRoute CRD with some new protobuf defined fields. And those protos could either be defined within the project, or use the one from Envoy dataplan-api. For the latter one, it becomes a one to one mapping to what Envoy can be configured through xDS.

I found this approach provides the benefits from both sid

[2019-03-21 08:02] randomvariable opened #952 "Pin version of Contour in quickstart"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The https://j.hept.io/contour-deployment-rbac set of manifests on the front page reference gcr.io/heptio-images/contour:master, which can cause issues with CRD or role changes in subsequent releases that cause the pod to go into `CrashLoopBackoff` when it is replaced.

The quickstart should referenc

[2019-03-21 14:09] #598 closed

[2019-03-21 14:50] davecheney opened #956 "Reenable the make staticcheck target"
staticcheck OOMs in go module mode, see dominikh/go-tools#419.

Reenable the staticcheck target in make check once the bug is fixed in staticcheck.

[2019-03-21 17:01] davecheney commented on #952
I agree we should do this. There are some administrative problems with updating the shortlink on each release which need to be addressed internally.

[2019-03-22 16:07] derekperkins opened #957 "Support addressing individual pods in a headless service"
Particularly when using StatefulSets, it can be valuable to expose individual pods through an ingress. This feature request was well phrased in this StackOverflow question: https://stackoverflow.com/questions/46456239/how-to-expose-a-headless-service-for-a-statefulset-externally-in-kubernetes

[code]

Here is how an HAProxy ingress controller handles it with their custom ingress CRD
https://appsco

[2019-03-22 22:22] davecheney commented on #957
Thanks for raising this issue.

When you say headless, do you mean, _doesn't have a service object_? If so, why not add a service object?

[2019-03-22 22:29] derekperkins commented on #957
In this instance, I mean `clusterIP: None` in a service that is attached to a StatefulSet, which makes each pod addressable via an internal dns entry, like the kafka entries above.

`pod-ordinal.service.namespace.svc.cluster.local`

The key point is that I don't want the service to randomly assign my request to one of the underlying pods like a traditional service. I would like to set up `kafka-0.

[2019-03-22 22:34] davecheney commented on #957
Thanks for your reply. Just to check I'm understanding your request, you want the ability to direct ingress traffic directly to one pod?

[2019-03-22 22:44] derekperkins commented on #957
Correct. I would like to be able to direct ingress traffic to any specific pod matched by the service selector, whether that is only 1 pod or 1 of 50 pods. The choice of which pod to redirect to could be present either as a subdomain `kafka-0.myapp.dev` or as a path prefix `kafka.myapp.dev/kafka-0`

[2019-03-22 22:50] davecheney commented on #957
What's the use case for this? Is it that you want to be able to route to a specific pod because you need something like sticky sessions or header based routing?

[2019-03-22 23:24] derekperkins commented on #957
I am running ~100 MySQL instances inside of k8s in StatefulSets using Vitess. Each pod in the statefulset exposes a number of metric and debug web pages. It is very cumbersome to always have to run `kubectl proxy` to check on things manually Additionally, if you are scraping metrics from outside the cluster, you need reliable paths to collect the metrics per pod.

Alternatives I have investigated

[2019-03-23 15:57] davecheney commented on #947
I'd like to avoid plugins as long as possible.

[2019-03-24 12:42] vongohren opened #959 "Contour dont start, started to fail after automatic restart"
**What steps did you take and what happened:**
I did nothing, it just started to fail on prod. It happened after an automatic restart.
Dev was working fine, but then I restarted that as well, then it started to fail with the same problems. So I have not done anything for this to happen

**What did you expect to happen:**
I exepcted the clusters to run and the contour container to work smoothly.

*

[2019-03-24 13:40] vongohren commented on #959
This was solved by setting the container to a stable version, but this might be an important bug for the master branch, that should be fixed before next release

[2019-03-24 15:57] davecheney commented on #959
Thank you for your bug report.

This error is often caused when switching between contour tags without
applying the updated RBAC and CRD definitions supplied in the deployment/
directory. As we add new CRD types to contour, the RBAC permissions in your
cluster need to be adjusted accordingly.

On Sun, 24 Mar 2019 at 13:42, Snorre Lothar von Gohren Edwin <
notifications@github.com> wrote:

[2019-03-25 10:08] Nefelim4ag commented on #891
Another example, currently K8s kubectl use SPDY for exec.
So envoy can't pass exec to API server.

[2019-03-25 15:21] bitsofinfo commented on #210
https://github.com/envoyproxy/envoy/issues/886

[2019-03-25 16:45] bitsofinfo commented on #569
@andrewwebber what solution did you end up using to get this to proxy to a TLS upstream backend?

[2019-03-25 18:22] andrewwebber commented on #569
@bitsofinfo I have never found a solution to this problem with contour.

My solution is currently using nghttp ingress controller as it supports this use case.

https://github.com/zlabjp/nghttpx-ingress-lb

[2019-03-25 22:58] jcrowthe commented on #853
Thanks for the response. I believe the best way to solve this (for my team specifically) is to create an admission controller that will block the an Ingress/IngressRoute object on CREATE/UPDATE that attempts to use an existing FQDN. If objects cannot be created or modified to conflict with existing FQDN's, the problem is effectively avoided.

If you decide to implement this at some point, I won't

[2019-03-25 22:58] #853 closed

[2019-03-25 23:23] bmadhavan commented on #898
@davecheney I have created an initial design draft for SDS support. Can you please take a look.

[2019-03-26 11:55] th31nitiate opened #961 "invalid certificate when using certmanager"
Not sure if this is a contour issue or cert-manager issue.

**What steps did you take and what happened:**

I am using contour with cert-manager to request let's encrypt certificates. I am using the HTTP 'certmanager.k8s.io/cluster-issuer: "letsencrypt-prod-http' annotation. When you switch to a different issuer it appears as though contour does not update the certificate and uses one from what ca

[2019-03-26 12:25] th31nitiate commented on #961
It is a strange thing because no matter what I do the certificate is still the same. I imagined that it might have been stored in ETCD but when I delete the service the invalid certificate should be gone but it is still present which makes no sense when I say service i mean everything including contour + cert-manager. I imagined it might have been a volume but I not think this to be the case. I be

[2019-03-26 12:25] #961 closed

[2019-03-26 22:05] rbkumar88 opened #962 "Keep TCP connection alive/serving on pod restarts in Kubernetes"
Hi,

We are using envoy as edge proxy for our tcp traffic and we have the connections to a upstream service(e.,g a TCP server service) in kubernetes. we don’t want to loose the client TCP connection in case of pod restarts..can Contour sit in k8s as a ingress controller. and perform the smooth load balancing in between my envoy edge proxy and the pods (TCP serveR).

in the sense the client connect

[2019-03-27 18:30] shabx commented on #432
Adding what JPMC shared in the ticket they have open for this issue.
They currently have teams using the NGINX External Authentication annotation that allows authentication against a pod running in GKP.
The documentation is at
https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md#external-authentication

[2019-03-27 21:08] hlarubi commented on #433
Hi,

Is this item still on the roadmap for 1Q2019?

Thanks!

[2019-03-28 12:35] krisdock opened #963 "Contour WebSocket Secure traffic throwing 503 errors via end-to-end TLS over 443"
**What steps did you take and what happened:**
Trying to use Contour to not only allow HTTPS path based route matching/fanout to two backend webserver pods/containers (either via passthrough or termination/re-sign hop), but also a third backend that listens/replies to WebSocket Secure (wss) requests.

In order to take advantage of multi-HTTPS path based routing/fanout,  the contour.heptio.com/upst

[2019-03-28 16:11] stevesloka commented on #963
#569 #406 #813 #852

[2019-03-28 16:22] stevesloka commented on #813
Hey, @robbiemcmichael thanks for the detailed work here! I agree with you on the points you mentioned regarding the effects of putting the CA on each route.

It seems like this should maybe be an annotation on the service (since there's no good place to specify this in v1.Service today), but to your point, the `IngressRoute` still wouldn't know if it's proxying to a TLS endpoint or not (short of c

[2019-03-28 20:36] phylake commented on #499
I think the SSL stuff is a red herring based on how it does manages memory. That's further backed by the fact we're seeing the same thing on IngressRoutes that don't use `tls`.

We're seeing this after IngressRoutes are added or modified. Basically if contour isn't touching envoy then it's fine.

Below is the `container_memory_rss{container_name="envoy",pod_name=~"contour.*"}` prometheus metric. W

[2019-03-29 01:13] fillmore commented on #499
I noticed similar behavior

[2019-03-29 02:04] davecheney commented on #499
Thank you for this information.

I’m sorry nobody has been able to dig into this issue so far.

As a wild guess, the stairstep growth in envoy memory usage would indicate to me that something is preventing envoy from freeing older configurations. In my experience this may be a long running connection, web socket, etc.

I’m sorry, I have not debugged the issue further.

[2019-03-29 03:18] fillmore commented on #499
@davecheney, thanks for quick response.

I spent some time studying contour code today. It looks like every time contour finds a change with any resource, the full list of resources will be sent to envoy for update. But in [envoy's xds document](https://github.com/envoyproxy/data-plane-api/blob/master/XDS_PROTOCOL.md#when-to-send-an-update), it suggests only sending the resources changed.

```The

[2019-03-29 03:56] davecheney commented on #499
Possibly. But we already restrict our response to the resources requested from envoy.

[2019-03-29 05:38] fillmore commented on #499
That may not be the case. In `stream` of xds.go, since their 2 loops there, only the first request is received and kept, the requested resource is always `[]`. I just check logs from one of my contour instance. Below are some of the lines related to `connection 1`, you can see it clearly that `resource_names="[]"` and all the resources were sent to envoy in this case.
`
time="2019-03-29T00:14:30Z"

[2019-03-29 07:23] davecheney commented on #499
Good point.  [] means envoy did not set a filter so it will receive everything.

[2019-03-29 09:01] davecheney commented on #963
@krisdock thank you for raising this issue. I'm going to close it as a duplicate of #813.

Duplicates #813

[2019-03-29 09:01] #963 closed

[2019-03-29 09:02] davecheney commented on #962
I am sorry but this is not possible when using TCP mode. If Envoy is forwarding a tcp stream to the backend there is no way for it to redirect it to another backend mid stream.

[2019-03-29 09:02] #962 closed

[2019-03-29 09:03] davecheney commented on #959
@vongohren did my previous comment prove useful. Can you please update the issue if you were unable to resolve the problem.

[2019-03-29 09:07] davecheney commented on #891
If you need raw tcp forwarding to a service on a bare metal cluster I suggest something like MetalLB. That operates at Layer 3.

[2019-03-29 10:07] vongohren commented on #959
@davecheney hi sorry for the lack of feedback!
But acctually just switching to a stable version fixed it for me, as i mentioned in my follow up comment https://github.com/heptio/contour/issues/959#issuecomment-475960452
No troubles after updating to 0.10

So I have not traversed down your suggestion quite yet.

[2019-03-29 12:58] arminbuerkle opened #965 "Regex validation for tls secretName fails when using tls delegations"
**What steps did you take and what happened:**

We deployed `contour/deployment/common/common.yaml` to our cluster and added an ingress route with a tls secret which referenced a different namespace.

It failed with
[code]

**What did you expect to happen:**

Creating an `IngressRoute` with a namespaced tls `secretName` should work with the addition of `TLSCertificateDelegation`.

**Anything else

[2019-03-29 20:58] shivanshu21 opened #966 "Small typo in help message [low pri]"
**What steps did you take and what happened:**
I was looking at the help message for `contour serve`; found a small typo.
The name of the file that needs fixing is: contour/cmd/contour/contour.go

[code]
Instead of `too`, the messages should end with `to`. Too is used to indicate excess.

**What did you expect to happen:**
I expected the grammar and spellings to be accurate.

**Anything else you w

[2019-03-29 21:09] shivanshu21 commented on #966
Given the minor nature of the fix, I raised this PR: https://github.com/heptio/contour/pull/967

[2019-03-31 01:12] #966 closed

[2019-03-31 23:55] davecheney commented on #965
Thank you for your PR. Please send a PR to update the regex, or just remove the verification entirely for that field.

[2019-04-01 04:42] yob commented on #841
We're haven't tried using regex paths yet, but we're interested.

For clarity - does this mean regex paths are an option in contour today (0.10)?

[2019-04-01 04:45] davecheney commented on #841
@yob they are supported, sorta, in the k8s ingress object. There is no regex support in IngressRoute.

[2019-04-01 04:46] davecheney commented on #841
I'm going to close this issue the OP's question was answered a long time ago.

If you find a bug with regex support k8s Ingress, please raise a bug, we'll try to fix it.

If you would like regex support ingressroute, please raise a bug.

[2019-04-01 04:46] #841 closed

[2019-04-01 04:50] yob commented on #841
cheers

[2019-04-01 16:37] stevesloka opened #969 "Example metrics"
**Describe the solution you'd like**
Gimbal has a good example of how metrics can be exposed from Contour & Envoy. It would be great to bring them over to the Contour repo to allow users to also benefit.

[2019-04-02 15:44] jdelgadillo commented on #406
Any updates on when this may get implemented?  I have a service that can successfully use HTTP2 over HTTPS, but cannot get WebSockets to work via that route.

I have not been able to figure out how make contour use HTTP1 over https/443 to make a connection to the backend so I can get end-to-end encryption.  TLS pass through is not an option as we need one IngressRoute for all exposed services.

[2019-04-02 15:52] jdelgadillo commented on #406
As an example, I've got this application (http1.1 only) https://github.com/jdelgadillo/contour-sample/blob/master/kubernetes/playapp.yaml deployed here for WebSockets wss://contour-test-public.westus2.cloudapp.azure.com/ws and Http/html https://contour-test-public.westus2.cloudapp.azure.com/

I'd like to change the IngressRoute to use port 443 instead of 80 when talking to the backend.  But I have

[2019-04-02 23:31] VMmore opened #973 "Update Ingress Resources apiVersion before K8s v1.18"
Ingress resources are available via networking.k8s.io/v1beta1 as of v1.14. Ingress resources in extensions/v1beta1 are deprecated and will no longer be served in v1.18. Existing persisted data can be retrieved/updated via the networking.k8s.io/v1beta1 API.

Even though those timelines are 6-12 months away, it's never to early to sweep manifests and client API calls that need to be migrated.

- Kub

[2019-04-03 03:04] shawnho1018 commented on #940
I encountered the same issue under deployment/contour/03-contour.yaml. Could anyone provide advice on how to resolve this issue?

[2019-04-03 16:06] glubo opened #974 "Https redirect on PermitInsecure route"
We configured contour/envoy ingress controller following https://github.com/heptio/contour/blob/master/docs/deploy-options.md . Ingressroutes works as expected for https. But when we need one ingressroute that will use http "from outside", we tried to setup `permitInsecure` route but still get http=>https redirect when accessing http:// poc-nginx.example.com/ from outside.

**What did you expect t

[2019-04-03 22:28] #965 closed

[2019-04-03 22:39] davecheney commented on #891
Thank you for raising this issue. I am going to close it because it is outside the scope of Contour's requirements. Contour is an L7 http reverse proxy, this is somewhat complicated by our support for L4 TCP+TLS proxying, but this does not make Contour a generic L3 TCP firewall. I think you would be better served by using a different product for your cluster.

[2019-04-03 22:39] #891 closed

[2019-04-03 22:42] davecheney commented on #974
Thank you for raising this issue. You have an error in your configuration. `permitInsecure` is a child of `routes`, not `services`.

https://github.com/heptio/contour/blob/master/docs/ingressroute.md#permit-insecure

[2019-04-03 22:42] #974 closed

[2019-04-03 22:42] davecheney commented on #974
Please try
[code]

[2019-04-04 02:26] stevesloka commented on #406
@davecheney this probably needs to be another annotation on the service like you described initially:
[code]

If Contour sees this on the service, then we need to add the following to the cluster which tells Envoy that the upstream service should be over tls:
[code]

The only potential issue is that once this is set, another ingress resource in the same namespace couldn't sent traffic over non-tls

[2019-04-04 02:36] davecheney commented on #406
@stevesloka sgtm. I suggest this annotation

[code]
I know it's splitting hairs, but I'm sure there will be cases where we have to do TLS between envoy and the backend which don't originate from a browser.

There's probably a lot of infrastructure we can leverage

https://github.com/heptio/contour/blob/master/internal/dag/builder.go#L258

Sets the Protocol field on dag.HTTPService, which is read h

[2019-04-04 03:13] bgagnon commented on #857
Relevant info from the Envoy project:
* envoyproxy/envoy#6271
* [Breaking Change Policy](https://github.com/envoyproxy/envoy/blob/master//CONTRIBUTING.md#breaking-change-policy)
* [xDS Protocol Versioning](https://docs.google.com/document/d/1nAomWSjvSSFCNZ1wQJ7D01f5VGDGLn5zcNxcDozYqYI/edit?usp=sharing)

From the documents above, I gather that:
* the Envoy community is very much aware of API breaka

[2019-04-04 03:45] davecheney commented on #857
Hello,

Thank you for the discussion on this issue. This issue has been open for a long time without comment. I apologise for that. My workload is immense.

I appreciate that it is frustrating to have to wait for Contour to add its own translations of Envoy concepts, and I hope that this will improve in the future as the team hopefully grows, but this isn't a good justification to just drop the En

[2019-04-04 08:12] glubo commented on #974
Thanks a lot. Sorry for raising issue based on a misconfiguration on our part. Works as expected when `permitInsecure` is on `route` level.

[2019-04-04 08:24] davecheney commented on #974
That’s ok. The problem is that field doesn’t exist in our crd so we never get an error that it was in the wrong place. I’ll talk to some folks internally and see if we can give a better error message when this occurs.

[2019-04-04 23:31] alexh-sauce opened #976 "prometheus.io/path should be /stats/prometheus"
**What steps did you take and what happened:**

My prometheus service was complaining about failing to parse the stats, and looking at the `/stats` endpoint, it doesn't look like prometheus format.

**What did you expect to happen:**

Prometheus is able to scrape the data.

**Anything else you would like to add:**

I edited the deployment: `prometheus.io/path: "/stats/prometheus"` and it started w

[2019-04-05 00:43] davecheney commented on #569
Closing as duplicate of #406 which has an assignee.

[2019-04-05 00:43] #569 closed

[2019-04-05 03:12] joshrosso opened #977 "Contour Fails to read TLSCertificateDelegation objects"
### To Reproduce

1. Bootstrap a new Kubernetes cluster with `kubeadm`.

1. Deploy  contour

[code]

1. Create an `ingress-system` namespace.

[code]

1. Add the TLS secret to the `ingress-system` namespace.

[code]

1. Add the following TLSCertificateDelegation object

[code]

1. Tail the logs for a contour pod.

[code]

1. Observe the watcher failing to decode slice.

[code]

[2019-04-05 03:24] davecheney commented on #977
Delegations is a list, I think you have a scalar there.

[2019-04-05 03:33] joshrosso commented on #977
Got it, so perhaps we have a documentation issue on our hands then?

https://github.com/heptio/contour/blob/master/docs/ingressroute.md#tls-certificate-delegation

[2019-04-05 03:39] davecheney commented on #977
Yup, my bad. Yet another place where we don't have tests of nuanced yaml.

On Fri, 5 Apr 2019 at 14:33, joshrosso <notifications@github.com> wrote:

[2019-04-05 06:19] #406 closed

[2019-04-05 06:30] davecheney commented on #406
Hello,

If you're watching this issue, this feature is available in the `:master`  image now and can be tested now. To test this add the following annotation to your _service_ (this is a property of the k8s service, not the ingress/ingressroute record):
[code]
Where `admin` and/or `443` are the names or port numbers of the port on your service document that speak TLS. eg.
[code]

[2019-04-05 06:32] davecheney commented on #963
Please see https://github.com/heptio/contour/issues/406#issuecomment-480163464

[2019-04-05 13:56] sudeeptoroy opened #980 "Configure a Global TLS min protocol version for the entire cluster"
**Describe the solution you'd like**
Introduce a new global min TLS version configuration which can be set during the contour installation. With this global min TLS configuration "spec.virtualhost.tls.minimumProtocolVersion" would only take effect when the value is higher than the one mentioned during deployment.

**Anything else you would like to add:**
We are aware of the setting "spec.virtualho

[2019-04-05 14:13] sudeeptoroy opened #981 "Redirect to https via global flag configuration"
**Describe the solution you'd like**
On nginx with this [config](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-side-https-enforcement-through-redirect) we can configure global https redirect enforcement. We need a similar configuration for contour.

once redirect is configured, we can skip http endpoint creation too.

**Anything else you would like t

[2019-04-05 14:29] sudeeptoroy opened #982 "Return a 404 error for non existing routes"
**What steps did you take and what happened:**
If an endpoint does not exists on nginx it returns an 404 not found error back. This functionality is missing on contour. On contour it silently fails by sending a blank response.

**What did you expect to happen:**
return an 404 error back to the user.

**Anything else you would like to add:**
can you also provide a way to configure a default page fo

[2019-04-05 14:53] stevesloka commented on #982
@sudeeptoroy Contour does return a 404 if the route isn't found if you check the http status code returned, however, there isn't a way to configure a default page to show.

[2019-04-05 14:56] stevesloka commented on #981
Hey @sudeeptoroy, IngressRoutes by default will enforce the 301 redirect automatically. There is a scenario where users can allow insecure which is I think what you are getting at.

Closing as dupe of #864

[2019-04-05 14:56] #981 closed

[2019-04-05 15:02] stevesloka commented on #980
@sudeeptoroy are you suggesting a flag on Contour to set this? Currently, the root ingressroute has the setting which rolls down to each route in the fqdn.

[2019-04-05 15:04] stevesloka commented on #976
@alexh-sauce the docs recently got updated (https://github.com/heptio/contour/blob/master/docs/prometheus.md#envoy-metrics) to match this. Previously we were using `/stats?format=prometheus`.

There's also a PR in flight to have full prometheus / grafana examples: https://github.com/heptio/contour/pull/970

Is there an example somewhere that's incorrect?

[2019-04-05 15:24] sudeeptoroy commented on #981
Of course IngressRoute does redirect automatically, I should have made it explicit that the behaviour is observed for "ingress" resource configuration.

#864 does take care of spec.routes.permitInsecure issue with IngressRoute resource

shall I edit this issue or open a new one?

[2019-04-05 15:27] sudeeptoroy commented on #980
yes I am suggesting deployment specific or a new global resource definition which cannot be overwritten by users of the platform.

[2019-04-05 15:27] alexh-sauce commented on #976
@stevesloka

I ran into this doing the example install from the README: `$ kubectl apply -f https://j.hept.io/contour-deployment-rbac`

It looks like this line will fix the issue for me:
https://github.com/heptio/contour/pull/970/files#diff-3111b29c9f100af58442a17249c9cac0R22

Although it shows up in other places as well:

[code]

[2019-04-05 15:29] sudeeptoroy commented on #982
We have observed a small pause and blank response, however for nginx the error is displayed by curl/browser.

[2019-04-05 16:14] jdelgadillo commented on #406
@davecheney
Thanks for getting this implemented.  I just verified it works with tls backends with prefixRewrite and WebSockets as well.

Here are my Service and IngressRoute.

wss://contour-test-public.westus2.cloudapp.azure.com/prefix/ws
https://contour-test-public.westus2.cloudapp.azure.com/prefix/

👍

[code]

[2019-04-05 16:54] joshrosso commented on #977
Got it, thanks for following up @davecheney.

[2019-04-05 21:10] stevesloka opened #983 "Envoy CVE / Upgrade to v1.9.1"
**What steps did you take and what happened:**
There are two CVE's discovered with Envoy v1.9.0. You can read about the details [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/envoy-announce/VoHfnDqZiAM/zx996ROUBgAJ
):

Since Contour v0.10.0 and earlier does not expose Envoy's RBAC or  ext_authz filter it's likely that there risk is low, however, it would still be g

[2019-04-06 00:18] swade1987 commented on #68
Would be great to have the equivalent of

[code]

[2019-04-06 00:28] swade1987 opened #986 "Enable SSO capabilities"
**What functionality I would like:**
Currently I have a Single Sign On (SSO) implementation in AWS (using a classic ELB) using:
- Nginx Ingress Controller
- OAuth2 Proxy
- Dex

However, I would like to move to an Envoy based ingress controller leveraging a more modern load-balancer (ideally an NLB).  However, it does not look like an equivalent to the following annotations are supported at present

[2019-04-06 00:39] davecheney commented on #980
Currently we configure envoy to use tls 1.1 or later.

Are you asking for a flag to enforce tls 1.2 or later? Why shouldn’t we just make 1.2 the minimum? Can you please outline your requirements for prohibiting tls 1.1? They may form the basis of a policy to remove tls 1.1 support for contour.

[2019-04-06 03:41] davecheney commented on #406
Thanks, but all glory goes to @stevesloka for doing the ba and development work on this issue

[2019-04-06 10:06] sudeeptoroy commented on #980
TLS 1.1 protocol has dependency on the MD5 and SHA-1 digest algorithms and for various other reasons it’s not the approved protocol in many firms. Also to use TLS 1.1 or TLS 1.2 depends on organization's activities.

wrt to this issue:
1. yes updating the default to TLS 1.2 would definitely resolve the issue for us now.
2. Contour has TLS version defined as min and max to cater to large audience a

[2019-04-06 10:11] davecheney commented on #980
My points is, we already clamp the lower bound to tls 1.1, what are
the justifications for making this bound 1.2? Alternatively, if it
were possible to prohibit MD5 or SHA-1 digests with TLS/1.1 would that
suffice?

On Sat, 6 Apr 2019 at 21:06, sudeeptoroy <notifications@github.com> wrote:

[2019-04-06 14:08] sudeeptoroy commented on #980
TLS 1.2 is governed by a separate security group and it comes as a mandate for us to follow.

[2019-04-07 04:16] #977 closed

[2019-04-08 01:49] #933 closed

[2019-04-08 02:51] #983 closed

[2019-04-08 05:06] davecheney commented on #815
Because of the need to release Contour 0.11 to address the security issue in Envoy 1.9.0, this issue has been reassigned to the 0.12 milestone.

[2019-04-08 06:23] davecheney commented on #813
Due to the need to release Contour 0.11 to address the security issue in Envoy 1.9.0 and there being no defined implementation path for this issue yet I have moved this issue to the 0.12 milestone.

@rbankston please be aware the milestone for this issue has changed.

[2019-04-08 06:29] davecheney commented on #361
Due to the need to ship Contour 0.11 quickly to address the security issue in Envoy 1.9.0 this issue has been bumped to the 0.12 milestone.

@shabx please be aware that the milestone for this issue has change and currently 0.12 has no due date.

[2019-04-08 06:33] davecheney commented on #433
Due to the need to ship Contour 0.11 to address the security issue in Envoy 1.9.0 this issue has been moved to the 0.12 milestone.

@hlarubi it is likely that this issue will not make the 0.12 milestone either. @stevesloka made a start on this in #978 but given there is no design document for this yet, it's unlikely this will be completed in the 0.12 milestone. I suspect that implementing this fea

[2019-04-08 06:34] davecheney commented on #898
Due to the need to ship Contour 0.11 to address a security issue in Envoy 1.9.0 this has been bumped to the 0.12 milestone.

[2019-04-08 06:36] davecheney commented on #432
Due to the need to ship Contour 0.11 to address a security issue in Envoy 1.9.0 this issus has been bumped to 0.12.

@shabx this issue has been reassigned to 0.12, however I feel that its likely that when we rationalise the backlog for 0.12 (there is far too much in there for our team) this feature will be removed from the milestone until there is a design document for it.

[2019-04-08 16:44] moderation commented on #980
A colleague of @sudeeptoroy here. There is a mandate within our heavily regulated firm (and industry) and that TLS 1.1 cannot be used. [Chrome](https://security.googleblog.com/2018/10/modernizing-transport-security.html), [IE](https://blogs.windows.com/msedgedev/2018/10/15/modernizing-tls-edge-ie11/), [Firefox](https://blog.mozilla.org/security/2018/10/15/removing-old-versions-of-tls/) and [Safari

[2019-04-09 00:23] unicell opened #993 "make updategenerated generates uncommitted code changes"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

After 61102135ec798caa09e2e1f8fead9d98fb851a6d commit, which did the version bump to client-go v9.0.0 / kubernetes v1.12.6, generated code under apis/ is lagging behind.

**What did you expect to happen:**

`make updategenerated` should not generate any code change locally

**Anything else you wou

[2019-04-09 00:29] stevesloka opened #995 "Add metrics to indicate when Contour is connecting to an unsupported Envoy"
**Describe the solution you'd like**
We've run into several users who run on `master` (which isn't a good supported idea), but also get versions of Contour<==>Envoy mixed up when upgrading. Sometimes this is ok, but other times a specific version of Contour will only support a specific version of Envoy leaving users with cryptic failure messages in Envoy's logs.

It would be neat if when Envoy sta

[2019-04-09 00:33] unicell opened #996 "make updategenerated is broken after Go module changes"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

With a clean clone (no `vendor` folder`), `make updategenerated` fails because of

[code]

**What did you expect to happen:**

`make updategenerated` passes without error

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2019-04-09 00:35] davecheney commented on #995
Thank you for raising this issue. At the moment Contour and Envoy are in lock step, you cannot use a version older than what Contour expects and you shouldn't use a version newer than what Contour expects.

This could perhaps be mitigated if we find a solution to #952

I'm not sure how to make Envoy check the contour version, xDS doesn't have an notion of a server version.

[2019-04-09 00:48] stevesloka commented on #995
I haven't looked too much into how to implement, but I think we'd need another container to be the healthchecker container. It can look at envoy's version which is available in its admin page. Contour would need to expose a /version or something to let this healthcheck container query for.

This would need more thought to make it better, the above solution is just a quick thought.

[2019-04-09 04:13] davecheney opened #998 "Upgrade to Envoy 1.10.0"
Upgrade to Envoy 1.10.0 when available.

[2019-04-09 04:14] davecheney opened #999 "Upgrade go-control-plane to latest"
Upgrade to go-control-plane 0.7.1 to pick up the grpc definitions for the recent CVE fix.

[2019-04-09 05:47] davecheney commented on #902
Hello,

Without support for PROXYv2 in envoy we cannot implement this feature. I would prefer not to leave this issue open indefinitely as there are no active plans to work on it. If/when upstream implements PROXYv2 support towards backends please reopen this issue.

[2019-04-09 05:48] davecheney commented on #976
Can this be closed as a duplicate of #970 ?

[2019-04-09 05:54] #857 closed

[2019-04-09 05:56] davecheney commented on #823
Based on my two most recent comments I’m marking this as help wanted for 0.12.

If you want to work on it the spec is to revise the list of permitted ciphers to raise the ssl labs score.

No design doc is needed but I expect a detailed commit message detailing the decisions and trade offs of applying the PR.

Thank you.

[2019-04-09 07:28] #993 closed

[2019-04-09 15:07] alexbrand opened #1003 "Document the flags that can be set on the contour binary"
**Describe the solution you'd like**
Contour exposes a set of flags that can be used to configure the behavior of the ingress controller. Historically, I have resorted to looking at the source code under `cmd/` to find the flags I need to tweak.

Ideally, these flags are documented for users that might not understand Go.

[2019-04-09 21:23] davecheney commented on #1003
I don’t want to duplicate the output of

contour serve —help

It will just get out of date.

[2019-04-09 23:04] unicell commented on #959
Although the original issue reported was caused by CRD mismatch between what's been registered and what could be recognized by Contour, Contour, however, shouldn't crash when that happens. Filed a PR above to fix the crash issue.

[2019-04-10 00:27] timh opened #1005 "Session affinity support"
part of epic #361

[2019-04-10 00:52] timh opened #1006 "Implement sticky session support based on design"
Implement sticky session support based on design in PR #1005

[2019-04-10 01:01] #599 closed

[2019-04-10 01:01] davecheney commented on #599
Duplicate of #499. This issue has useful information, but spanning two issues is not useful. I am closing this to concentrate on #499.

[2019-04-10 01:10] davecheney opened #1007 "Contour 1.0 by KubeCon US 2019"
Contour 1.0 by KubeCon US 2019

Requirements

- [ ] Contour and Envoy no longer co-located by default #881
- [ ] IngressRoute 1.0
- [ ] Routing NG #1075
- [ ] Native IngressRoute support for Cert-manager #509

[2019-04-10 01:21] stevesloka opened #1008 "Envoy cluster names aren't consistent"
**What steps did you take and what happened:**
Clusters in Envoy are represented with the following pattern: [namespace]_[servicename]_[port] (e.g. `contour-monitoring_grafana_80`).

There are some internal clusters `contour` & `service_stats` that do not follow this format. This makes the metrics parsing break causing the prometheus scraping config to break.

In this example, you can see the serv

[2019-04-10 01:24] stevesloka commented on #976
Yes @davecheney this is a resolved in #970.

[2019-04-10 01:24] #976 closed

[2019-04-10 05:51] davecheney commented on #862
Hello,

Currently traffic between Contour and Envoy is not encrypted. This is generally ok because in the stock deployment Contour and Envoy are co-located in the same pod and the control plane traffic travels over the loopback. However this happy state of affairs is undone by two competing desires.

1. We want to separate the Contour control plane and the Envoy data plane as they have different l

[2019-04-10 14:58] yob commented on #823
Thanks @davecheney - I've had a crack at something in #1011

[2019-04-10 16:07] jbeda commented on #862
One of the goals (IMO) for splitting out Envoy and Contour into separate pods is that we can then run Envoy with *no* service account and no line back to the API server.  If that pod has an agent reading secrets and reserving them to envoy then we don’t get that benefit.

FWIW — this whole thing is why I created SPIFFE ;)

I think it is worth looking at the state of the art wrt webhooks from the A

[2019-04-10 17:25] rosskukulinski commented on #947
But that's not to say plugins are off the table, especially if there are additional engineering and/or PM resources as well as sufficient user-story & design docs?  Thoughts @davecheney?

[2019-04-10 17:27] phylake commented on #499
Any progress on this? It's blocking us.

Is that the smoking gun? If so can you point me to the source so I can look into fixing it?

[2019-04-10 22:38] davecheney commented on #862
Thanks for your feedback Joe. Back to the drawing board!

[2019-04-11 04:34] davecheney commented on #947
I'm sorry to be so firm, but Go plugins are weakly supported (linux yes, macos, sorta, windows, nope, lets not even talks about non intel platforms) and have incredibly tight coupling because the plugin and the program its being plugged into are built from an identical toolchain. The developer who originally added plugin support to Go (for the Google Fuschia project) left Google and not one jot of

[2019-04-11 04:38] davecheney commented on #947
With that said, I'm not saying no to header based routing. What has to happen is we have to write up the proposal as a design document, once we have a design we'll have a guide how much work it will take and can figure out how to fit it in the schedule.

As with every feature we add to Contour, the sticking point is always exposing it Ingressroute in a way that is simple to use and hard to misuse.

[2019-04-11 10:22] davecheney commented on #70
Here's a design I'm thinking of
[code]

[2019-04-11 10:27] davecheney commented on #947
Here's a strawman design
[code]
The `match` key deprecates the `prefix` key. To replace it we'll add
[code]

[2019-04-11 12:37] alexbrand commented on #1003
That is an excellent point. Unfortunately, I've seen multiple instances of people asking how to configure Envoy to listen on ports other than 80/443. What do you think about capturing that use case in `docs/deploy-options.md`?

[2019-04-11 13:14] stevesloka commented on #1003
@alexbrand I think to document why you'd use these different flags and when would be helpful in that deployment section.

[2019-04-11 13:40] pbarker commented on #947
Thanks for the early design! Sorry mixed up my terminology, by plugins I'm referring to envoy c++/lua filters https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/http_filters#config-http-filters

[2019-04-11 19:00] phylake commented on #499
According to the [xDS protocol](https://github.com/envoyproxy/data-plane-api/blob/master/XDS_PROTOCOL.md#acknack-and-versioning) the DiscoveryRequest's version and nonce are supposed to be returned in the DiscoveryResponse. The patch below fixes the issue

[code]

[2019-04-11 20:57] alexbrand commented on #432
Took a cursory look into what it would take to implement this. It seems like the external authorization filter can only be configured at the Listener level.

Given that we only have two Listeners (`ingress_http` and `ingress_https`) for all Ingress/IngressRoutes I _think_ this means that all Ingress/IngressRoutes would have authorization enabled? Furthermore, it seems like all authz decisions woul

[2019-04-11 21:14] pims commented on #432
It can be enabled/disabled on a per route basis:
https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/ext_authz_filter

So a default could be set and overridden for each ingress.

[2019-04-11 21:27] simonswine commented on #432
I've thought about that recently. I have a design PR in the works. Hopefully can share it later today.

Will update you here.

It uses a single auth service with context provided or disabled using the per_filter statement.

[2019-04-11 21:41] alexbrand commented on #432
Yeah that was my fear. Doesn’t seem great to have a bunch of disables for all routes that are not auth. But maybe that’s the way to go.

The bigger concern in my mind is that all auth decisions have to go to the same server.

[2019-04-11 21:59] simonswine commented on #432
In my design PR #1014 Contour would act as a single auth server and forward traffic to external services. Have a read of the draft and let me know what you think...

[2019-04-12 00:11] davecheney commented on #1003
How about this as a middle ground, we set each of the flags explicitly to their default values in the deployment examples?

The bottom line is there is no test for a markdown file or a deployment/ yaml example. I know people have problems finding the right values to set, but we have a long history of bugs caused by these files getting out of date.

[2019-04-12 01:24] davecheney commented on #947
The concern I have with supporting Lua or other arbitrary plugins is support for helping people write Lua filters then falls inside the boundary of what Contour supports towards our community and our essential PKS users. Sure, we could explicitly call out that we can't help with _using_ the feature we added, but people aren't going to realise that until they hit a problem, ask for support, then ar

[2019-04-12 01:39] davecheney commented on #982
Thank you for raising this issue. What I see enovy doing is return the correct status code but it does not return a body in the 40x or 50x response with a textual explanation of status code. This is not required for HTTP compliance, but that's an annoying nit picking technical response.

Looking upstream this feature is in discussion for Envoy 0.11 (the next to next release, so maybe 3-4 months ou

[2019-04-12 04:59] A-And opened #1015 "Enable Lua filter"
Currently contour deploys [three Envoy http filters](https://github.com/heptio/contour/blob/f727b2d72d676fd16e991e3461e3097c70f2655c/internal/envoy/listener.go#L89) to each configured listener. The list doesn't seem to be extensible or definable. Is deploying additional user-configured filters a supported feature?

 

If this feature isn't available is there prior art to accomplishing this? I'm sp

[2019-04-12 05:21] davecheney commented on #1015
Thank you for your question. In general we prefer too choose reasonable defaults, or enable requested features without an option to turn them off. Making things configurable means we have to be able to support, both in slack, issues, and our commercial support offerings, people wanting to change those configurations. This has a cost for our support staff and a cost for the development team to hand

[2019-04-12 05:40] travisghansen commented on #432
@simonswine I just read through the doc and think the external auth feature differs a bit from `traefik` and `nginx` etc.  Instead of a `signURL` configuration option the proxy generally just returns the response from the auth service if it's not 2xx.  This typically results in either a 302 with redirect or a 401 or some 50x.  This design gives the auth service complete control over where to send

[2019-04-12 06:05] davecheney commented on #947
Explicit support for Lua filtering is #1015

[2019-04-12 09:10] stefanprodan commented on #947
Hi @davecheney would you consider a similar routing definition to Istio, Ambassador and Gloo?

This is how it could look:

[code]

[2019-04-12 09:16] davecheney commented on #947
Maybe, but I’m wary of encoding too much application specific based logic into envoy as a load balancer. It’s role is always a proxy, to direct traffic, not to process it directly.

I’m pretty gunshy about using regex because regex flavours differ between different specs and implementations. In general that’s a non issue, until it’s absolutely an issue and there is zero wiggle room to change what

[2019-04-12 09:20] stefanprodan commented on #947
I think regex is a "must have" feature to properly support A/B testing. I was looking at making Flagger work with Contour for this use case https://docs.flagger.app/usage/ab-testing

[2019-04-12 10:02] davecheney commented on #947
Thank you. I appreciate that feedback. The simple answer is regex is powerful, so I want to be very careful where and how it is used. I'm not saying no, I'm just saying I want to cautious because the regex genie doesn't go back inside the bottle.

[2019-04-12 13:25] alexbrand commented on #1003
Exposing the flags in the deployment sounds good to me. I don't necessarily think we have to expose all of them. Seems like the most common ask we get is the one around configuring the listening ports, so I think I would start there. I'll open a PR to explicitly set those in the deployment files.

[2019-04-12 18:49] sudeeptoroy commented on #982
Sure, thanks

[2019-04-13 22:14] travisghansen commented on #432
I lied, `nginx` is different (in a bad way).  `nginx` is not directly passing through non 200 responses which is unfortunate.  Both `traefik` and `ambassador` do this as described above:

- https://www.getambassador.io/reference/services/auth-service/#the-external-authentication-service
- https://docs.traefik.io/configuration/entrypoints/#forward-authentication

I'm looking into solutions that wil

[2019-04-14 00:42] mattalberts commented on #499
All tests have the xDS update to populate `version_info` from `last`.
(PR #1016)

### Test 1: Insert 5000 Ingress without TLS in blocks of 100
*conditions:*
 - all ing are generate prior to test start
 - all ing point to the same service (echo)
 - blocks are inserted using `kubectl apply -f block_dir`
 - insertions are serial without sleep between blocks
 - ing are deleted using `kubectl delete in

[2019-04-14 00:55] davecheney commented on #499
Thank you for these detailed statistics.

As I understand it when Envoy is restarted it will receive one, or at least
not a continual series of updates from contour, with the complete
configuration--all 4,000 ingresses. Can you please confirm that with the
contour output for that period.

On Sun, 14 Apr 2019 at 10:42, Matthew Alberts <notifications@github.com>
wrote:

[2019-04-14 01:25] davecheney commented on #499
Matthew, is it possible for you to send me the yaml representing the relevant parts of the apiserver at the point envoy is restarted?

[2019-04-14 22:34] #1003 closed

[2019-04-14 23:02] #996 closed

[2019-04-15 01:03] davecheney opened #1019 "Document ingressroute request and timeout parameters"
Fixes #815

Document the use of ingressroute's request and timeout fields.

[2019-04-15 02:31] #823 closed

[2019-04-15 03:37] davecheney commented on #499
Hello,

What I'm seeing in my experimentation is envoy is keeping many versions of the `ingress_https` listener around. These may drain over time, but this may explain the explosive memory use under the condition where the `ingress_https` configuration is changing rapidly.

I cannot explain why the restart 4000 example where the listener configuration is being changed only once or twice is consumi

[2019-04-15 04:44] davecheney commented on #499
The magic value to watch is
[code]

[2019-04-15 05:33] davecheney commented on #499
The next magic value is 600 seconds, that is the time a listener spend in draining state before being removed from envoy. During high update rates this is why hundreds or thousands of listener configurations remain active.

[2019-04-15 06:47] davecheney commented on #499
After a bit of searching I've found where 600s is coming from, its the server hot restart interval.

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/draining.html?highlight=hot%20restart

Hot restart occurs when the set of listeners changes, the amount of time an old listener is kept alive is controlled by the `--drain-time-s` cli flag. `--drain-time-s` has a default value of 600s.

[2019-04-15 15:54] mattalberts opened #1020 "internal/contour: holdoff triggers forced update on first change"
**What steps did you take and what happened:**
While gathering information requested by #499, I've observed `HoldoffNotifier` trigger a forced update on first `OnChange`.

**What did you expect to happen:**
Expect `OnChanges` to be compacted by `holdoffDelay` and `holdoffMaxDelay` (especially during start where many resources may exist).

**Environment:**
- Contour version: master
- Kubernetes ver

[2019-04-15 16:29] mattalberts commented on #499
Good find!  I'm trying to gather the information you requested.  In the process, I did notice two interesting aspects of the holdoff notifier that can trigger more updates that expected.  I'll open a PR for each and continue to gather what i can :).

[2019-04-15 19:50] mattalberts commented on #499
While gathering up information related to the startup behavior in the present of a large number of ingress definitions.  I noticed something that I though would be relevant to share out-of-band.

### Test 3: Insert 1000 IngressRoutes without TLS and 1000 Services

conditions:
- ingressroutes point to a unique service
- insertions are serial without sleep between blocks

In this test, I generate a

[2019-04-15 20:58] pbarker commented on #1015
So one option I would like to propose here @davecheney is that perhaps there is a core library/api that configures envoy using primitives of some sort, which then ingress/ingress-route utilize to fulfill their apis. This way you sort of get the best of both worlds, advanced users can configure however they like using the primitives, and simple use cases can leverage the basic apis. WDYT?

[2019-04-15 21:08] davecheney commented on #361
Sadly looking at the work to be done on this ticket, specifically no agreed on design and limited bandwidth to complete these design and implementation, by the end of the 0.12 cycle I have decided to remove this issue from the 0.12 milestone. We'll continue to progress #937 in the background, but this won't be delivered fro 0.12.

[2019-04-15 21:11] davecheney commented on #1015
@pbarker without knowing the problems the @A-And is facing I'm wary about proposing any solution. As I said above

[2019-04-15 22:52] davecheney commented on #499
Yes, envoy opens one grpc stream per cluster to receive the endpoints for that cluster. This will be one goroutine per stream.

Would ads do better? Unknown.

[2019-04-15 22:55] mattalberts commented on #499
Using contour built from master at revision `e905f23` (which includes the xds change `78d0f79`, here is the log output from both containers.  I'm at ~20Gi currently (last time i tried this I terminated the operation at ~80Gi).

### Restart 5000 Ingress with TLS
[code]

[code]

[2019-04-15 23:03] davecheney commented on #1020
I don’t think this is a big deal. We only save one update over the entire run of a contour process.

[2019-04-16 02:27] davecheney commented on #499
@mattalberts

How can I reproduce this on my cluster?

[2019-04-16 02:30] mattalberts commented on #1020
I agree. I thought about it over dinner; I don't like the change set for it (doesn't really matter and I don't like adding a frivolous conditional into such a hot function)

[2019-04-16 02:30] #1020 closed

[2019-04-16 02:42] mattalberts commented on #499
@davecheney
The easiest way is to use this `echo.txt` one of these two scripts to generate ingress or ingressroutes

- [echo.txt](https://github.com/heptio/contour/files/3082790/echo.txt) ~ .txt -> .yaml
- [clone-echo-ingress.txt](https://github.com/heptio/contour/files/3082795/clone-echo-ingress.txt) ~ .txt -> .sh
- [clone-echo-ingressroute.txt](https://github.com/heptio/contour/files/3082796/clo

[2019-04-16 03:53] davecheney commented on #499
@mattalberts thank you for your script, its very well written. I've tried to run it but I cannot reproduce your results.

To remove as many variables as possible can you please take a dump of the namespace you described here, https://github.com/heptio/contour/issues/499#issuecomment-483393145

I need the yaml for ingress, service, secret objects (you can include others if needed). I don't think th

[2019-04-16 04:03] davecheney commented on #499
https://github.com/envoyproxy/envoy/issues/4540 is relevant here. This will remove a major reason for changing LDS entries.

[2019-04-16 05:25] davecheney commented on #499
I want to give an update for the observers. With the exception of the ridongculous memory usage (the 60Gb+ that @mattalberts has reported) here is what we've figured out so far.

1. Whenever an LDS update is sent, envoy will replace the current listener with the new version. The old version goes into a "draining" phase for 600 seconds (`--drain-time-s`). Do this frequently enough and you will have

[2019-04-16 05:37] ceralena opened #1023 "allow-http and force-ssl annotations have surprising/confusing combined behaviour"
I'm not convinced that this is a bug, but I think it's worth discussion.

**What steps did you take and what happened:**

_Step 1_

Initially, we had an `Ingress` created several months ago with the following annotation:

[code]

Insecure HTTP endpoints were responding with 404:

[code]

This seems correct, as [the docs](https://github.com/heptio/contour/blob/master/docs/annotations.md#standard-ku

[2019-04-16 05:53] davecheney commented on #1023
Thank you for raising this issue. I agree that `ingress.kubernetes.io/force-ssl-redirect: "true"` should take priority.

[2019-04-16 06:02] ceralena commented on #1023
I'm happy to take on a fix, in that case.

From a quick look, it seems that we could just add another condition to this `if` statement, and update the comment:

https://github.com/heptio/contour/blob/c9902f2ce61c83f590f791ff6d778c6b94f3acd0/internal/dag/builder.go#L582-L583

I'd probably want to then pull that into a new function like `shouldCreateHttpRoute`, which is basically:

[code]

[2019-04-16 06:11] davecheney commented on #1023
Hmm, i'm not sure that's right. The logic should be, I think,

|             | true              | false                 |
|-------------|-------------------|-----------------------|
| force-http  | redirect to https | present route on http |
| tls-upgrade | redirect to https | redirect to https     |

I think the place for the fix is inside the `prefixRoute` function. It decides whether the route

[2019-04-16 06:23] davecheney commented on #1023
See also https://github.com/heptio/contour/blob/master/internal/dag/builder_test.go#L4104 which might only be used to IngressRoute processing.

[2019-04-16 06:28] davecheney opened #1024 "RetryPolicy.Codes is not required for 0.12"
https://github.com/heptio/contour/blame/master/apis/contour/v1beta1/ingressroute.go#L144

Is not required for 0.12. This could have been my fault when merging #1018. Please remove it, then we'll have the diff we can merge if customers request it. For 0.12 I want the retry codes to be hard coded to `50x`

[2019-04-16 08:06] davecheney commented on #898
With #901 falling off the 0.12 milestone @vaamarnath and I have talked and the plan is to implement the basic SDS plumbing and we'll revisit the integration points with the rest of Contour later.

I was going to sit down and write down the steps to add SDS to `internal/grpc` but it turns out we already have 99% of the design from @bmadhavan in #960. I've polished that up and you can find [here](ht

[2019-04-16 08:21] davecheney commented on #862
Without a viable design I have to withdraw this from the 0.12 milestone. We're going to do some preparation work on #898 but that is not guaranteed for 0.12, hence not assigned to the milestone.

[2019-04-16 22:41] mattalberts commented on #499
@davecheney I've emailed manifests to replicate both test cases (5000 ingresses with tls and 1000 ingressroutes with 1000 services). I can attempt to grab more logs output for the later case as well, if it will help.

[2019-04-16 22:59] ceralena commented on #1023
Hmm.

So we're on the same page, the annotations are:

* `ingress.kubernetes.io/force-ssl-redirect`
* `kubernetes.io/ingress.allow-http`

This is the logic I'd propose:

allow-http | force-ssl-redirect | behaviour | is this the current behaviour?
-- | -- | -- | --
undefined | undefined | present route on `http` and `https` | yes
false | undefined | do not register `http` route | yes
undefined | tr

[2019-04-16 23:02] davecheney commented on #1023
== true. Is that correct?

Yes. I believe that is correct

On Wed, 17 Apr 2019 at 08:59, Cera <notifications@github.com> wrote:

[2019-04-18 07:52] randmonkey opened #1030 "LBStrategy has no effect in contour v0.11.0"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
0. create a service with 2 endpoints in k8s.
1. create an `IngressRoute` resource and set the `strategy` field of its services to `RingHash`.
2. access the domain of `IngressRoute`, and the two endpoints(pods) are chosen randomly.
3. dump the configuration of envoy, `lb_policy` field is set correct

[2019-04-19 03:06] davecheney commented on #499
Unassigning myself, I am unavailable for the next two weeks.

[2019-04-19 16:46] pbarker commented on #947
Also just hit an issue with regex here, where we need to map to nested services: `/foo/<name>/bar` where I need `bar` to go to a different service `/foo/(.+)/bar`.

[2019-04-19 17:46] rohandvora commented on #1024
If no one is working on this, I can take this up,

[2019-04-19 21:35] davecheney commented on #1024
All yours, please get it done before apr 25. Thank you.

[2019-04-22 13:21] #1024 closed

[2019-04-22 13:22] stevesloka commented on #815
Fixed via #1018

[2019-04-22 13:33] stevesloka opened #1033 "preStop hook to stop Envoy connections is invalid"
**What steps did you take and what happened:**

Reported by @phylake and @azuretek (https://github.com/heptio/contour/pull/781#discussion_r277031354) the preStop hook which sends a wget command to Envoy to tell it to start draining connections is missing some command args.

The command currently returns a 400 error:

[code]

**Environment:**

- Contour version: v0.11.0
- Kubernetes version: (use `

[2019-04-22 15:30] stevesloka opened #1035 "Update metrics examples for Envoy v1.10"
**Describe the solution you'd like**
Once Contour moves to Envoy v1.10 we can remove the statsd_forwarder and simply Contour's metric implementation.

Additionally, I'd like to enable metrics for all types of deployments (not just the split model).

cc #969

[2019-04-22 15:31] stevesloka commented on #1035
@rata here's the follow-up issue to https://github.com/heptio/contour/pull/970#issuecomment-485436774

[2019-04-22 15:31] #969 closed

[2019-04-22 22:31] davecheney commented on #815
@stevesloka #1019 is still open. We need to update the documentation for these new parameters.

[2019-04-22 22:37] #1008 closed

[2019-04-22 22:44] #1033 closed

[2019-04-22 23:47] davecheney commented on #1030
Thank you for raising this issue. This was an oversite when we originally added IngressRoute, we blindly added the enumeration of supported load balancing strategies without realising some of those have additional configuration.

Sadly at the moment we do not have a way to supply the required configuration for RingHash to Envoy. See #361 and #937 for a design in progress.

[2019-04-23 00:02] davecheney opened #1039 "Add support for FDS"
Currently any change to the TLS listener requires updating the `ingress_https` LDS entry. Updating this entry will cause the previous listener definition to move into draining mode for `--drain-time-s` (default, 10 min) time. During that time listener structs sit around in memory. After that time any connections established via a draining listener are forcibly closed.

The solution to this upstrea

[2019-04-23 00:04] davecheney commented on #499
Hello,

I am downgrading this issues to p2 as there is no more work that can be done on this before the end of the 0.12 cycle. The cause of some of the memory usage has been identified, see https://github.com/heptio/contour/issues/499#issuecomment-483516063. The resolution is we must reduce the number of LDS updates sent to Envoy. There are two components to this

a. spurious updates

- [ ] Contou

[2019-04-23 03:03] davecheney commented on #813
@here please review and give feedback on #1040.

[2019-04-23 05:44] davecheney commented on #956
The upstream issue has been improved. If someone wants to address this issue the first step is

go get -u honnef.co/go/tools/cmd/staticcheck

inside the heptio/contour directory -- make sure you are running go 1.12 or later.

Then readd the `staticcheck` target to `make test`

The fix any errors reported

Then wrap the whole in thing in a PR that closes this issue.

[2019-04-23 06:24] randmonkey commented on #1030
So, the solution is to mark this field to be deprecated and eventually remove it from spec after sticky session is implemented?

[2019-04-23 06:33] davecheney commented on #1030
@randmonkey yes, that is likely going to happen. Perhaps we can fix it in place, but the major problem with the sticky session design is _all_ load balancer properties are _per backend_ (k8s service) no per route. It was a mistake to put the load balancer properties on the route and we have to correct that mistake first.

[2019-04-23 12:19] swapnil1988 opened #1041 "Support for ingress annotation for "x-envoy-retry-grpc-on""
**Describe the solution you'd like**
Currently there is support for "contour.heptio.com/retry-on" Ingress annotation that maps to Envoy's [x-envoy-retry-on ](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter.html#x-envoy-retry-on) , This request is to make a provision in contour to support new ingress annotations for [x-envoy-retry-grpc-on](https://www.envoyproxy

[2019-04-23 12:36] davecheney commented on #1041
Thank you for raising this issue. Before we jump to the implementation can I ask you to step back and describe the problem you are having. What is so magically about grpc that it needs its on retry logic, can we just roll that into the general retry support we're adding in 0.12? #815

[2019-04-23 17:00] rohandvora commented on #1019
I can take this up.

[2019-04-23 17:23] swapnil1988 commented on #1041
We have a special case where each gRPC upstream pod of the service supports only one concurrent rpc call. Here what we are trying to achieve is add retry logic if the upstream gRPC pod returns a "resource-exhausted" status code. Ideally we would have liked to couple it with max-request = 1 per upstream pod but that is not supported by Envoy.

[2019-04-24 01:26] davecheney commented on #1041
Thank you for your response. It sounds like you have two issues.

1. You need to limit upstream concurrency to one.
2. You would like to retry a request, but only on certain conditions

Is that correct?

[2019-04-24 01:42] davecheney commented on #1015
@pbarker its unlikely we'll enable the lua filter in envoy because there is no way to make it safe to use in a multi tenant environment--its too easy to lock up the LUA event loop and block other traffic.

If you want to use envoy as a host for some lua routing logic you may be better served deploying envoy directly and using a static configuration (not Contour's dynamic configuration) to handle t

[2019-04-24 01:43] davecheney commented on #1015
The decision is we will not enable the lua filter in Contour deployed Envoys because it is reasonable to audit the lua code that someone may inject into Envoy via Contour making the Lua filter unsuitable for use in a multi tenant environment.

[2019-04-24 01:43] #1015 closed

[2019-04-24 01:45] davecheney commented on #947
To be clear. I'm not saying we will not add header based routing to Contour. What we will not do is add header based routing without first establishing the use cases that it solves.

[2019-04-24 01:48] davecheney commented on #376
@stevesloka @rata if either of you have time to tackle this I'd appreciate it.

[2019-04-24 09:46] kidlj commented on #361
Regarding to exposing this feature as an IngressRoute annotation:

1. Users may want all three sticky methods, let's assume we can express all three methods in an annotation(precisely one chosen per IngressRoute); this is not a problem.

2. Annotations are flat, they don't express structures. Since an IngressRoute may have several paths, if a user wants each path has its own sticky method, how can

[2019-04-24 10:02] kidlj commented on #1030
Are you talking about @phylake's [sticky session design](https://github.com/heptio/contour/issues/361#issuecomment-455706826) here?

If so, I don't think that design is a mistake. Since one IngressRoute.Route is a combination of match and k8s services, where match part corresponds to Envoy's Route and k8s service to Envoy Cluster, we can say that **IngressRoute is a combination of Envoy Route and

[2019-04-24 21:08] azuretek commented on #624
Has there been any agreement on this? Right now this is making Contour a less usable replacement for Nginx, having Envoy metrics available is great but getting full access log data would go a long way to making this a viable option.

[2019-04-24 21:11] davecheney commented on #624
No there has been no agreement because, apart from a request for json formatted logs, no details have been provided.

[2019-04-24 21:34] azuretek commented on #624
For our use case it would be nice if we could add an annotation or even just load a ConfigMap that will add a structure like so to every listener filter chain.

[code]

It looks like we can probably add it into this function with minimal effort https://github.com/heptio/contour/blob/master/internal/envoy/listener.go#L189

[2019-04-24 21:48] davecheney commented on #624
Our general preference is rather than make things configurable, we choose a reasonable default for all users. Is there a standard for json logs in this format? If so, we might just make that the default for everyone.

[2019-04-24 21:59] azuretek commented on #624
I agree with that approach, there doesn't seem to be a standard for JSON access logs but this structure appears to have everything that Envoy reports (other than custom headers)

[code]

[2019-04-24 23:18] swapnil1988 commented on #1041
Yes you are correct

[2019-04-24 23:59] aaroniscode commented on #947
User Story: VMware is working with a global financial company that has incoming traffic that first passes through an authenticating proxy that injects the info about the authenticated user into the header. Traffic is then passed to a request router, that we are looking to replace with a Kubernetes Ingress. That router inspects the header and uses the information to direct to a specific customer se

[2019-04-25 02:24] kidlj commented on #361
Regarding to exposing this feature as an annotation to IngressRoute object:

Annotations are flat, they don't express structures. Say we want different paths in an IngressRoute having their own sticky session methods, how can we achieve that with annotations?

Or can we add this annotation to k8s services?

[2019-04-25 13:23] mattalberts commented on #898
@vaamarnath @davecheney Thanks for the notes.  I've been building up the full solution over the last few days, adding tests, and verifying functionality.  I'll split up the change set into a few PRs, mirroring the suggestion to provide 1 per major design point.

[2019-04-25 20:22] #956 closed

[2019-04-25 20:58] tbhat05 opened #1050 "Support wild cards in Contour"
Envoy supports wild cards in path whereas contour doesn't
e.g:, for the below
/v1alpha/clusters/C01D87GHYXFKE44RQETJTS8PRV7/scanner
the C01D8* is a cluster-id and can vary from one cluster to another
Currently, we can't specify - /v1alpha/clusters/*/scanner
in contour to be generic for all cluster-ids. Thus, I should be able to route:
/v1alpha/clusters/*/test
/v1alpha/clusters/*/scan

to two diffe

[2019-04-26 16:38] mattmoyer opened #1051 "Contour sends invalid configuration to Envoy when TLS secret is not well formed."
We are running into an issue using Contour with [cert-manager](https://github.com/jetstack/cert-manager).

The setup:
- We create a cert-manager Certificate object.
- The cert-manager controller provisions a private key and starts requesting the certificate from Let's Encrypt.
- It saves the private key into the certificate Secret, in the following form:
[code]
- Let's Encrypt denies our certifica

[2019-04-26 21:06] rata opened #1052 "Implementation for TimeoutPolicy design missed idle_timeout"
This design doc: https://github.com/heptio/contour/blob/master/design/custom-request-timeout.md#timeoutpolicy-for-route---envoy has been implemented and the section linked discusses the idle timeout parameter, however is not implemented.

The `timeout` param is implemented, but not the `idle_timeout`. See, for example: https://github.com/heptio/contour/blob/master/apis/contour/v1beta1/ingressroute

[2019-04-29 16:59] azuretek commented on #624
So I went ahead and did a build against the 0.11.0 code base with the changes we discussed.

https://github.com/heptio/contour/pull/1053

The dynamic listener logs now look like this:

[code]

I also added the same format to the static listener configs, this is the log for the health check endpoiont:

[code]

[2019-04-29 19:10] stevesloka commented on #1019
Closed via #1042

[2019-04-29 19:10] #1019 closed

[2019-04-30 12:03] hazsetata commented on #70
+1 for this: my use-case would require to add headers for requests. I would like to "mesh" Contour with Linkerd2, but it requires an extra header to be set, something like this:

[code]

Without this feature the ingress can't be part of the service-mesh, and can't take advantage of the mTLS feature provided by Linkerd2.

[2019-04-30 15:52] stevesloka opened #1054 "Listener IdleTimeout"
**Describe the solution you'd like**
Browsers such as Chrome have a tendency to keep TCP connections open after the HTTP request-response cycle is done to be reused by future requests and improve the UX. Since Envoy's default is *no timeout*, connections can stay open indefinitely. In high-traffic environments, this can cause Envoy's memory consumption to grow very quickly and become unmanageable.

[2019-04-30 16:27] mattalberts commented on #1054
This feels similar to #944, but I leaned on the pre_route variant to give it a more granular effect.
 - https://github.com/mattalberts/contour/commit/aca3cb958959702fe43af4d40d074b5c22384970

On top of that, I layered on the listener `request_timeout` to give a global control:
 - https://github.com/mattalberts/contour/commit/6123f5ddd5408d57f4a16f4851672668b2f8910b

I can bring these over to maste

[2019-04-30 20:25] stevesloka commented on #1054
Ahh cool, not sure how I missed that other issue @mattalberts. I'm curious what @davecheney thinks, but having a default overall setting and allowing each route to override sounds like a good impl to me.

[2019-04-30 21:06] stevesloka commented on #815
Docs implemented in #1042

[2019-04-30 21:06] #815 closed

[2019-04-30 21:17] johananl commented on #1054
@stevesloka @mattalberts I would like to emphasize I was talking about the **listener-level** [idle_timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto.html?#envoy-api-field-config-filter-network-http-connection-manager-v2-httpconnectionmanager-idle-timeout) Envoy option, which seems to be different than the **r

[2019-04-30 21:23] mattalberts commented on #1054
Understood, my plan was to put together three PRs,
 - Listener `idle_timeout`
 - Listener `request_timeout`
 - Route `idle_timeout`

I just wanted to wait on @davecheney's input around the implementation.  The PRs are easy :)

[2019-05-01 18:10] rohandvora commented on #1023
Hey @ceralena. Are you working on this issue? If you want, I could pick it up :)

[2019-05-01 21:12] phylake opened #1058 "Incremental xDS"
Are there are any plans to support [Incremental xDS](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#incremental-xds)?

[2019-05-01 22:06] wmorgan commented on #70
Hear hear. Would love to be able to add Contour to the list of Linkerd ingresses here: https://linkerd.io/2/tasks/using-ingress/

[2019-05-01 23:28] davecheney commented on #1058
None at the moment.

[2019-05-02 00:45] ceralena commented on #1023
Hi @rohandvora ,

Yep, I'm planning to push up a PR within the next week - we're keen to make a contribution. I'll sing out if I get stuck and can't deliver it, though.

[2019-05-02 01:26] rohandvora commented on #1023
Hi @ceralena. Thanks for letting us know! We appreciate the help :)

[2019-05-02 01:34] bgagnon commented on #624
@azuretek is there a reason or restriction for outputting numerical values as strings in the JSON objects?

Bytes and duration are things one would want to do aggregations and calculate metrics on (assuming the logs end up in Elasticsearch or similar database). For the response code, it's convenient for range queries (<100, 200-299, 300-399, 400-499,>500).

It would be nice to avoid an ETL for suc

[2019-05-02 15:21] stevesloka opened #1059 "IngressRoute: Set status for invalid services"
**What steps did you take and what happened:**
If I create an IngressRoute and reference an invalid service or a valid service with an incorrect port, the matching cluster cannot be found and Contour ignores the configuration, however, the status of the IngressRoute object is still `valid`.

**What did you expect to happen:**
The IngressRoute `status` field would be updated to tell the user that a

[2019-05-02 15:28] #999 closed

[2019-05-02 17:39] azuretek commented on #624
@bgagnon definitely ran into that in my PoC, it's annoying but ultimately it's able to be handled by adjusting the mappings on the elastic search side. To make it report correctly we'd have to make changes to envoy (which should probably be done ultimately).

[2019-05-02 19:08] #1058 closed

[2019-05-04 00:23] davecheney commented on #624
Abi,

Can you please detail the changes you require. If you can give complete examples of the expected json output that would be best.

Thanks

Dave

[2019-05-04 03:22] azuretek commented on #624
@davecheney I need the default access log format to be structured, preferably JSON to more easily ingest into storage backends like Elasticsearch. This is a requirement for us to move away from using NGINX as our ingress.

Currently access logs use the default format string, as defined in the envoy documentation: https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log#default-format-s

[2019-05-04 04:36] davecheney commented on #624
Thank you for your reply.

My goal is to change the log output format once, to something structured, without the option to change it.

To do this I need your assistance to know if there is an established standard for json structured http logs to replace the current ncsa style log format.

[2019-05-06 03:35] davecheney opened #1060 "internal/grpc: remove Fetch support"
Prior versions of contour cli required fetch support, but this is no longer needed.

Remove the support for Fetch in our grpc package as it is not well tested and less well exercised.

[2019-05-06 05:12] davecheney commented on #1050
Thank you for raising this issue. At the moment Contour only supports prefix matching because of the interaction with delegation. We'll need to do a design document before proceeding here has different forms of matching will interact with with delegation.

[2019-05-06 05:16] davecheney commented on #1054
@mattalberts please set

- listener idle_timeout to 60 seconds. Please do not make this configurable
- listener request_timeout to 15 seconds. Please do not make this configurable.

Please move the discussion of route idle_timeout to another issue, possibly #1052

[2019-05-06 05:19] davecheney commented on #1052
@rata thank you for raising this issue. Can you please give me some user stories to help me understand the use case for idle_timeout. My goal is

a. understand why envoy's default is not suitable (it's probably infinity, but I still needs to be asked)
b. see if there is a reasonable default we can apply for all users.

[2019-05-06 05:25] davecheney commented on #894
Duplicate of #944. Closing

[2019-05-06 05:25] #894 closed

[2019-05-06 05:59] davecheney commented on #624
Thank you to everyone who has contributed to this issue over the last few weeks.

I want to make it clear to all readers that I am not opposed to adding this feature. In fact I want to see it adopted as default.

What I do not want to see happen is JSON or NCSA become selectable especially if there are options to make each of those formats configurable. If this is the outcome we will stick with th

[2019-05-06 15:59] 2PacIsAlive commented on #409
Hi, is there any guidance yet on setting resource limits for contour?

[2019-05-06 16:21] rata commented on #1052
@davecheney I think this is a duplicate of https://github.com/heptio/contour/issues/944? AFAIK, we can continue there. Let me know if I should re-open this :)

[2019-05-06 16:21] #1052 closed

[2019-05-06 17:09] azuretek commented on #624
There is no JSON standard that I'm aware of, I haven't been able to find a JSON standard proposed by any other web proxy projects or otherwise. I'm not certain what additional information you need, can you be more clear about what you're looking for specifically?

If there is no standard other than NCSA you're saying we want to stick to that standard?

[2019-05-06 17:13] moderation commented on #624
One initiative to consider for a standardized JSON format is https://cloudevents.io/. This is a working group in the CNCF looking at standardizing event data. Version 0.2 of the specification is at https://github.com/cloudevents/spec#cloudevents-documents

[2019-05-06 18:15] azuretek commented on #624
Unfortunately Envoy doesn't support nesting in their access log output, so implementing a standard that requires nesting isn't possible. Not only that but the cloud events standard doesn't say anything about the fields and format of the data being represented, it's just adding a standard metadata to "events".

[2019-05-06 21:22] davecheney commented on #409
None yet I’m afraid. Please subscribe to this issue for updates.

[2019-05-06 21:51] davecheney commented on #624
I’m sorry I was not clear. My desire is to make one change to contour for all users, if that is to switch from NCSA to an as yet undefined JSON logging format then we must establish that format here in this issue. Making the configuration endlessly configurable is a support load that I cannot foist on the CRE team or future maintainers.

[2019-05-06 23:00] azuretek commented on #624
Unless I'm unclear on what's expected I think I've proposed a format, is there a specific proposal style I should be following? I'm all for specifying a one time format as to not make it a maintenance burden, but I need some more direction to satisfy your requirements.

[2019-05-06 23:35] davecheney opened #1062 "internal/dag: incorrect retry-on value supplied"
Thanks to @unicell for spotting this

https://github.com/heptio/contour/blob/master/internal/dag/builder.go#L821

`50x` should say `5xx`, see https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter#x-envoy-retry-on

[2019-05-07 00:59] SmoothMaverick opened #1064 "Add support to add Content-Security-Policy and Strict-Transport-Security headers"
I would like to add response headers to satisfy our security requirements.

This is related to https://github.com/heptio/contour/issues/70

With ingress-nginx, I could add a configuration snippet:
[code]

I would like to do something similar in IngressRoute:
[code]

[2019-05-07 01:48] #1051 closed

[2019-05-07 02:00] davecheney opened #1065 "Contour should validate TLS certificates before serving them to Envoy"
#1051 showed that an invalid certificate served to Envoy will break TLS handling badly. #1054 mitigated some of the problems by checking if the secret was present, but empty. What Contour should do is validate that the certificate and key are valid by trying to load them, as envoy does, before serving them to Envoy.

I've marked this as needing a design document, but a sufficiently well thought ou

[2019-05-07 02:16] davecheney opened #1066 "Upgrade to Go 1.12.5 when available"
https://hub.docker.com/_/golang only has 1.12.4 but 1.12.5 is expected real soon now.

It would be good to get up to the latest version of 1.12 for the 0.12 release.

https://groups.google.com/d/msgid/golang-dev/CAFPZzeT8_VVnL6WGUjy%2Bsx1e7egnFBYOGkPbXd5AoqrUYhXfMQ%40mail.gmail.com?utm_medium=email&utm_source=footer

[2019-05-07 02:20] davecheney commented on #1064
Thank you for raising this issue.

I am marking this as needs a design document because the form of the IngressRoute yaml must be agreed upon before starting work.

From your use case it seems to me that HSTS is a property of the virtualhost, not any particular route. Rather than specifying this as a header, I'd like to see a parameter, something like

[code]
This should probably live inside the `

[2019-05-07 02:35] davecheney commented on #898
I think this issue is now complete, at least wrt. the 0.12 milestone. Thank you to @vaamarnath @mattalberts and @stevesloka for pushing this forward.

[2019-05-07 02:35] #898 closed

[2019-05-07 02:41] #1062 closed

[2019-05-07 03:47] sylwit commented on #437
@glerchundi  @davecheney For unblocking this feature and having a more simple draft, I suggest to start with a partial implementation which I think would be good for most use cases.

I would start by implementing only the allowOrigin and allowMethods

Here is an example: https://github.com/envoyproxy/envoy/blob/master/examples/cors/backend/front-envoy.yaml#L19

[code]
as for grpc-web, cors with de

[2019-05-07 07:19] davecheney commented on #1052
SGTM. Thank you. If you're passionate about it, feel free to open a new issue about timeouts between envoy and the backend services, route timeout.

[2019-05-07 23:35] davecheney commented on #1066
1.12.5 is out now https://hub.docker.com/_/golang

[2019-05-08 01:26] #1066 closed

[2019-05-09 01:24] #1054 closed

[2019-05-09 01:30] davecheney opened #1073 "Contour should configure a client request timeout"
In #1070 the timeout for idle connections was set to 60 seconds, but we punted on setting a request timeout because no reasonable value could be found.

This issue is to track the research on a reasonable value which should be applied for all requests. This is complicated by the following factor:

- request timeout is a property of the http connection manager attached to a listener. For https conn

[2019-05-09 01:38] davecheney opened #1074 "tcp proxy connections need idle timeout setting"
#1070 set the idle timeout for http connections to 60 seconds. We should do the same for TCP connections. The timeout should probably be longer than 60 seconds as the semantics for tcp connections are different from the keep alive behaviour of an idle http connection.

[2019-05-09 01:53] davecheney opened #1075 "Routing NG"
When IngressRoute was introduced a year ago (july 2018) we chose to only support prefix matching for routes. This was mostly a time to market decision, but also reflected the fact that we didn't know what other ways customers wanted to match routes on -- we knew that envoy also supported other methods, but without a signal from our userbase, blindly adding support for all of the existing mechanism

[2019-05-09 06:19] #813 closed

[2019-05-09 20:47] stevesloka commented on #376
@davecheney I'm trying to figure out a good integration pattern here to implement this. Everything we do is based upon the dag right now.

- Cluster: My thought was to add values to the ClusterCache by allowing it to have a map of static clusters: (https://github.com/heptio/contour/blob/master/internal/contour/cluster.go#L26). This map would then get added anytime the cache is updated and the dag

[2019-05-09 21:20] stevesloka commented on #998
I started to look at this, in testing, the health checks are failing in Envoy v1.10. Not sure what's up but will keep looking.

[2019-05-09 23:28] pickledrick commented on #499
Possibly related.

[envoyproxy/envoy#6617](https://github.com/envoyproxy/envoy/issues/6617)

[2019-05-10 00:16] stevesloka commented on #998
I figured this out, was a misconfiguration on my end. Testing with Contour v0.12.0 it works. I think with the version of Contour I was running was too old of an Envoy control plane.

[2019-05-10 00:19] davecheney commented on #499
Fascinating.

I think there are two issues at play in contour, one is high memory consumption if configuration churns frequently, the other is memory consumption due to traffic flow. I think this issue has a handle on the first issue, and staying up to date with the latest envoy releases will give us the best chance of resolving the latter.

[2019-05-10 04:11] #998 closed

[2019-05-13 02:30] stevesloka opened #1081 ":8002/healthz does not respond in Envoy v1.10.0"
**What steps did you take and what happened:**
Since upgrading to Envoy v1.10.0, the readiness probes don't seem to be working. In working a different issue I've found that they fail with 1.10, but rolling back to 1.9.1 they work fine.

When curling the `:8002/healthz` endpoint, it doesn't respond.

[2019-05-13 04:25] davecheney commented on #1081
Thanks for raising this issue. I checked on my cluster and (port forwarding) it looks like the healthz endpoint is responding

[code]
Can you please give me some more information about where the health check isn't working, and if you can find a situation where healthz isn't working can you check `http://127.0.0.1:9001/listeners`, there should be a "0.0.0.0:8002" listener, and in `http://127.0.0.1:

[2019-05-13 04:29] davecheney opened #1083 "Upgrade to go-control-plane 0.8.0"
https://github.com/envoyproxy/go-control-plane/releases/tag/v0.8.0 is available, we should upgrade in the 0.13 cycle.

[2019-05-13 05:22] davecheney opened #1084 "Move heptio/workgroup back into internal/workgroup"
A year ago the workgroup package was spun out into its own repo. This hasn't really paid for itself, and although we haven't made any changes to that package, we pay the cost of having to resolve and download the dep every time.

Given heptio wrote both parts there are no penalities to bringing that code back into the contour repo.

[2019-05-13 10:51] rata opened #1086 "Remove --statsd-enabled and related code"
**Describe the solution you'd like**
There should be no code for now unsued flags, like `--statsd-enabled` and friends that is not needed since https://github.com/heptio/contour/pull/1085 (if/when it is merged).

I don't see a reason to not remove it, but would like some opinions first just in case (following the talk then code project recommendation :))

**Anything else you would like to add:** N

[2019-05-13 10:56] rata commented on #718
This is fixed, IIUC, with:

 * e52f96e8e3efda172f514d26883b1dae422ca915 for usage of the Prometheus interface path and remove the annotation `prometheus.io/format: "prometheus"`.

* a8c69837746088e084952d9dfbb6238d3143a74f: Upgrade to envoy 1.10, as envoy 1.10 includes histograms

Also, just in case, documentation is updated here too: https://github.com/heptio/contour/pull/1085

So, I think it is

[2019-05-13 19:41] stevesloka commented on #1081
I played around with this a bit today and it seems like it's only repeatable on my EKS cluster. On a GKE cluster, everything seems to work ok.

What happens is when I `port-forward` to port 8002 and try and curl, Envoy just doesn't respond:
[code]

Here are the pods:
[code]

Here are my listeners:
[code]

I think my config looks sane:
[code]

I also just tested with a 2 node kind cluster and all i

[2019-05-13 20:28] SmoothMaverick commented on #1064
Can you point me where I should look for how to provide a design document? Thank you.

[2019-05-13 20:38] stevesloka commented on #1081
With a fresh EKS cluster, I don't see it, so not sure what's up. I'm going to close this for now and will reopen should I still see issues in the future.

[2019-05-13 20:38] #1081 closed

[2019-05-13 21:30] davecheney commented on #1064
Please see the template in the design/ folder.  Git log will show you the PRs that added the other entries in that folder.

Thank you

[2019-05-14 11:09] uablrek commented on #433
Relevant Envoy doc; https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto.html?highlight=require_client_certificate

Example;
[code]

**NOTE**; `require_client_certificate: true` will be silently ignored unless a `validation_context` is specified! See; https://github.com/envoyproxy/envoy/issues/3887

In the example Subject Public Key Information (SPKI) is used to validate the c

[2019-05-14 11:11] davecheney commented on #433
Thank you. Can you please raise a new issue if this is a bug. Please note
that validation is _not_ client side validation, its simply validation of
the properties of the remove service.

Nevertheless, please raise a new issue, and we'll talk about it.

On Tue, 14 May 2019 at 21:09, Lars Ekman <notifications@github.com> wrote:

[2019-05-14 11:27] uablrek commented on #433
I think certain backends will want client certificate validation so IMO this should be specified as a [Contour specific Service annotation](https://github.com/heptio/contour/blob/master/docs/annotations.md#contour-specific-service-annotations).

Example;
[code]

[2019-05-14 11:36] davecheney commented on #433
I agree. Client certification validation is useful over and above what we shipped in 0.12.

Please file a new issue and we’ll figure out where it goes in the priority order.

[2019-05-14 11:36] uablrek commented on #433
@davecheney No this is not a bug. It is info about client certificate validation (mTLS) which I thought was the subject of this enhancement issue(?)

I have learned and tested this on a stand-alone Envoy to see what can be done and how. But the goal is support for client cerificate validation in contour.

This may become a blocker for us and I would be happy to contribute, if nothing else with alp

[2019-05-14 11:39] davecheney commented on #433
You can use an issue for a feature request. That’s totally fine.

[2019-05-14 11:41] uablrek commented on #433
I can raise a new issue. Can the title be;
[code]

[2019-05-14 11:46] davecheney commented on #433
I don’t know how to say yes any more strongly than I have said it already. Please raise a new issue.

[2019-05-14 12:05] uablrek opened #1090 "Add support for external client certificate validation (mTLS)"
**Describe the solution you'd like**

Enable client certificate validation for external clients ([mTLS](https://en.wikipedia.org/wiki/Mutual_authentication))

Since mTLS is done for a virtual server, not a path, annotations in service manifests can not be used. Annotations in the `Ingress` manifest would be possible but be awkward. So the client validation configuration will only be available in t

[2019-05-14 12:09] davecheney commented on #1090
Thank you for raising this issue. At the moment there is no plan to add mTLS between Envoy and the backend pod. I am marking this issue as needs-product for input from our product managers.

[2019-05-14 12:14] uablrek commented on #1090
This is *not* about mTLS between Envoy and the backend POD.

It is about providing the possibility to require that an client outside k8s authenticate itself with a client certficate.

The "downstream" term I got from the Envoy documentation https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/terminology

[2019-05-14 12:18] davecheney commented on #1090
I'm sorry I misunderstood your request, Envoy's nomenclature is unusual.

Sadly the answer is the same, I'll have to punt this to our PM's for direction on the priority of this enhancement.

[2019-05-14 12:21] uablrek commented on #1090
Yeah, I also think the Envoy nomenclature is backwards :smiley: I even drew a picture to have in front of me when working with Envoy. I change the title to avoid further misunderstandings.

[2019-05-14 20:38] jipperinbham opened #1091 "Envoy hangs when starting after upgrading to Contour 0.12.0"
**What steps did you take and what happened:**

We use the hostnet-ds-split topology and with all pods happy and healthy, if we terminate an envoy pod, it gets recreated but then just sits on the following log line:

[code]

Logs from the two contour pods when the envoy pod was deleted:

<details><summary>contour pod 1</summary>

[code]
</details>

<details><summary>contour pod 2</summary>

[code]

[2019-05-14 20:40] davecheney commented on #1091
Thank you for your issue report. Does downgrading to 0.11 fix the problem?

[2019-05-14 20:45] jipperinbham commented on #1091
Yes, when downgrading to Contour v.011.0 and Envoy v1.9.1 we do no experience the issue.

[2019-05-15 01:13] #517 closed

[2019-05-15 01:27] davecheney commented on #1091
@jipperinbham  I think I have an idea what is going wrong, would you be able to briefly (just until it wedges) upgrade to Contour 0.12 by set the log level to `debug`

[code]

If this is related to the configuration Contour 0.12 is sending, this should wedge almost immediately, but at least we'll have debug logging up to that point. Then you can revert to `info` level logging and Contour 0.11

[2019-05-15 03:14] #376 closed

[2019-05-15 12:57] uablrek commented on #1090
The client certificate is not forwarded from Envoy to the backend POD (I got that wrong) but envoy should forward client certificate details;

[code]

This makes Envoy insert a header like;
[code]

The backend POD can use this for further client validations. To generate this hash from the client certificate with `openssl` do;
[code]

[2019-05-15 13:00] jipperinbham commented on #1091
I tried the above but looks like the flag is not defined?

[code]

[2019-05-15 13:05] davecheney commented on #1091
This flag is on the envoy container, it adjusts the logging level for envoy.

On Wed, 15 May 2019 at 23:00, JP Phillips <notifications@github.com> wrote:

[2019-05-15 13:05] davecheney commented on #1090
Thank you. We'll look into it when we schedule this work.

[2019-05-15 13:05] jipperinbham commented on #1091
🤦‍♂ trying again...

[2019-05-15 13:17] jipperinbham commented on #1091
attached envoy logs
[envoy-logs.txt](https://github.com/heptio/contour/files/3182651/envoy-logs.txt)

[2019-05-15 13:41] jipperinbham commented on #1091
I finally hit the issue on another cluster to try and find some sort of correlation. The only thing that seemed to be similar across clusters is they both have empty endpoints for which an IngressRoute has been defined. The deployment(s) were scaled to 0 as part of some testing going on.

[2019-05-15 15:00] #1035 closed

[2019-05-15 23:06] davecheney commented on #1091
Thank you, that is great context, that gives me something to go on to repro the problem.

[2019-05-16 00:20] davecheney opened #1096 "LDS entries should be bit for bit identical"
#499 showed that frequent updates to LDS will cause many draining copies of the older listeners to stay around in memory on the Envoy side. https://github.com/heptio/contour/issues/499#issuecomment-485594051 has more details.

This issue captures the desire to ensure that LDS entries, specifically `ingress_https` which contains multiple FilterChain entries are sorted so that when a logically ident

[2019-05-16 00:24] davecheney commented on #499
Update: for 0.13 we will complete #876 and #1096 which should reduce the number of draining listeners when changes from Contour to Envoy are idempotent. This won't reduce the bloat in draining listeners if the changes are non idempotent -- virtual hosts are being added or removed -- that will have to wait for FDS which is not available in a shipping envoy yet.

[2019-05-16 01:06] #1086 closed

[2019-05-16 02:10] #1084 closed

[2019-05-16 06:11] davecheney commented on #876
As far as I can see this is complete, all filter configurations are using TypedConfig.

[2019-05-16 06:12] davecheney commented on #876
Opps, one more. Will send a final PR

[2019-05-16 10:31] uablrek commented on #1090
`APPEND_FORWARD` may be better than SANITIZE_SET;

But I can only see the need when a chain of envoy's are used, not for a k8s ingress controller.

[2019-05-16 10:56] uablrek commented on #1090
The long but interresting story about XFCC in envoy can be read here; https://github.com/envoyproxy/envoy/issues/794

[2019-05-16 11:03] uablrek commented on #1090
Seems like it actually is possible to forward the entire client-certificate in the XFCC header; https://github.com/envoyproxy/envoy/pull/2307

[2019-05-17 01:00] #876 closed

[2019-05-17 01:13] youngnick commented on #1074
TCP keepalive is done by the operating system, based on if it's turned on or not on a per-socket level, generally. However, if it is turned on, all the major operating systems (Linux, Windows, MacOS, *BSD) default the keepidle timeout ( the length of time a TCP connection can be idle before keepalives start) at two hours (ie 7200 sec).

Because of this, our idle timeout need to be a bit bigger tha

[2019-05-17 01:16] davecheney commented on #1074
Make it so, we can adjust the timeout later if/when we get feedback from the field.

[2019-05-17 01:25] davecheney commented on #1091
I've been able to reproduce the problem locally. The simple repro is to scale a service to zero replicas and restart envoy.

This is another symptom of #439 and #420.

[2019-05-17 01:25] davecheney commented on #439
Duplicate of #1091 1091

[2019-05-17 01:25] #439 closed

[2019-05-17 03:07] youngnick commented on #1074
Will do.

[2019-05-19 23:48] #1074 closed

[2019-05-20 02:46] #1060 closed

[2019-05-20 04:34] youngnick commented on #1083
Completed in https://github.com/heptio/contour/commit/2a3a1caf0828caab85811d017fab5ed376e1256b

Accidentally used admin powers to push to master.

[2019-05-20 04:34] #1083 closed

[2019-05-20 07:42] davecheney commented on #1091
It's EOD here so I wanted to write a brief sitrep for the watchers of the ticket.

The underlying issue is Envoy can ask two different types of questions about a set of xDS resources; the first is "give me everything in this cache", the other is "you told me to ask you about a resource named X". The former is issued by LDS and CDS, the latter is used by RDS and EDS. Specifically when Envoy starts

[2019-05-21 05:23] youngnick opened #1109 "cert-manager.md install documentation is out of date"
The cert-manager documentation is out of date - the install instructions for cert-manager need updating as they've updated their install process.

Basically, just need to take [Installing cert-manager — cert-manager documentation](https://docs.cert-manager.io/en/latest/getting-started/install.html#installing-with-regular-manifests) and merge the instructions into `cert-manager.md`.

[2019-05-21 06:11] #1023 closed

[2019-05-21 07:56] davecheney commented on #1091
@jipperinbham I think I have a fix for this problem. If you don't want to wait for #1110 to be merged, you can try `docker.io/davecheney/contour:latest` which contains the fix.

[2019-05-21 13:38] jipperinbham commented on #1091
@davecheney thanks for the quick fix! I've just tested the docker image on one of the clusters and everything looks to be working as expected with zero length Endpoints.

Given the amount of commits to master since v0.12.0, will you be able to release a v0.12.1 with just this fix?

[2019-05-21 23:20] #1091 closed

[2019-05-21 23:22] davecheney commented on #1091
@jipperinbham thanks for confirming. yeah, doing a 0.12.1 backport won't be the most enjoyable thing I've done this week but I've kept a record of all the dependant changes so it shouldn't be that hard to do.

Thanks again for reporting this issue, in retrospect its been festering for many releases, and I'm very grateful for the push to address it properly.

[2019-05-21 23:48] davecheney opened #1112 "Backport #1091 to 0.12.1"
Backport the fix for #1091 to 0.12.1

Required:

- [x] #1105
- [x] #1106
- [x] #1107
- [x] #1108
- [x] #1110

[2019-05-22 01:01] youngnick opened #1114 "Local dev loop improvements"
Currently we have a `make local` target that runs a local Envoy that will generate a Contour bootstrap file, and then pass it to Envoy. However, you already need to be running a `contour serve` on your machine. This issue is to figure out how to do something a bit more straightfoward, which should make testing things locally a bit easier.

This is a step towards solving #900, but won't completely

[2019-05-22 01:54] #1112 closed

[2019-05-22 03:16] #334 closed

[2019-05-22 04:17] vn-patriot opened #1116 "Randomly 503 HTTP Status code over Envoy"
**What steps did you take and what happened:**

On my K8s cluster I am using Contour ingress, running DS-HostNet mode. 2 Contour pods running separated with 6 Envoy pods. My client side randomly got 503 HTTP status code response from Envoy ingress.
Tracing down I did realise the envoy pod cause to 503 issue is try sending traffic to the old service endpoints IP address. This IP address  already te

[2019-05-22 04:32] davecheney commented on #1116
Thank you for raising this issue. Would you be able to restate the problem you are having as I am having difficulty parsing your information. It's great -- I just can't find the problem statement in there. Thank you.

[2019-05-22 05:07] vn-patriot commented on #1116
My problem is : The envoy pod sending traffic to wrong IP address of our backend service pod
That IP address being used has been changed to different IP address after We re-deploy our backend service several times.
It similar with [this issue](https://github.com/heptio/contour/issues/293) which is mentioned long time ago

[2019-05-22 05:09] davecheney commented on #1116
Thank you for explaining. The first thing I need to you do is upgrade to contour 0.12.1. Please let me know when you've done that and if the issue remains.

[2019-05-22 05:18] vn-patriot commented on #1116
Actually you have recommended me upgrading to 0.11.0  when I used 0.9.1
Now 0.12.0 & 0.12.1 just released I have read all change logs and other relevant issues but not strongly believe that 0.12.* can fix this problem to be honest.

[2019-05-22 05:29] davecheney commented on #1116
I agree, but we're not going to backport any fix to 0.9, so you'll have to
upgrade to the next release when we make the fix.

On Wed, 22 May 2019 at 15:18, vn-patriot <notifications@github.com> wrote:

[2019-05-22 05:47] vn-patriot commented on #1116
Thanks Dave. I just update the contour to latest version as you recommended again.

[code]
Will let you know when issue still happening or not

[2019-05-22 19:43] DavidLangworthy opened #1117 "contour.heptio-contour invalid fqdn"
**What steps did you take and what happened:**
Attempted to use contour for internal traffic by specifying an fqdn of contour.heptio-contour: {"fqdn":"contour.heptio-contour"}

This results in an error:
validation failure list:
spec.virtualhost.fqdn in body should match '^([a-zA-Z0-9]+(-[a-zA-Z0-9]+)*\.)+[a-z0-9]{2,}$'

**What did you expect to happen:**
I expected this to pass because it is a val

[2019-05-22 23:14] davecheney opened #1118 "Rename deployment/ to example/"
Internally we always talk about the deployment/ directory as examples. They are samples designed to give the reader a starting point.

Externally I think this is not as clear and suggests that the deployment/ directory is _the_ way to deploy contour. Sadly, given the current tooling available in the k8s ecosystem I don’t think it is possible to provide — let alone *unit test* — vetted, bulletproof

[2019-05-22 23:59] hmorikaw opened #1119 "Contour should not 503 traffic to a down service if there is another service available in the Route"
What steps did you take and what happened:

On my K8s cluster I am using Contour ingress, running on Gimbal Cluster.
2 Contour pods running separated with 10 Envoy pods and each Envoy pod combines 2 services.
Envoy pods check endpoint nodes on each service.
[code]

After all endpoint nodes on service1 are out of order,
each Envoy pod does not update its fowaring rule for service1 and returns only

[2019-05-23 04:29] youngnick commented on #1114
After looking into this, running `contour serve` in a container is both overkill and makes connecting to a Kubernetes cluster much harder. So `contour serve` should still be run on the host, but it will need to listen on a non-localhost IP for this to work. PR incoming.

[2019-05-23 22:39] drao9 opened #1121 "Route Name feature"
Recently, I worked on a feature to add route name in envoy's http route.Route structure. Here is the link for this issue: https://github.com/envoyproxy/envoy/issues/6364
I was wondering if the community would be interested in having route name field in ingressroute as a part of the route struct to support the feature in envoy. I can make the necessary changes for this.

[2019-05-24 01:06] davecheney commented on #1121
Thank you for raising this issue. If I understand the linked feature request correctly this is for reporting stats. If Envoy grows this feature I think we could enable it in contour in the same way we name clusters currently; a predictable, but not configurable, value.

[2019-05-24 18:53] drao9 commented on #1121
Yes, the envoy community is considering having stats per-route with the help of route name. Thanks!

[2019-05-24 19:35] bgagnon opened #1122 "ds-hostnet-split example refers to undefined CONTOUR_SERVICE and CONTOUR_PORT variables"
The variables `CONTOUR_SERVICE_HOST` and `CONTOUR_SERVICE_PORT` are not defined anywhere, but used

...in `deployment/ds-hostnet-split/03-envoy.yaml`:

[code]

...and `deployment/ds-hostnet-split/03-contour.yaml`:

[code]

I've replaced them with `contour` and `8001`, respectively.
Is the idea that these should come from a common `ConfigMap`?

[2019-05-24 19:41] stevesloka commented on #1122
Those variables should be auto-injected by Kubernetes which match the Kubernetes service.

Can you exec into an envoy pod and print out the env vars?

[2019-05-24 19:51] stevesloka commented on #1119
Hey @ hmorikaw I'd expect that with two upstreams, the other service would take the traffic if there weren't any healthy endpoints. Let me see if I can recreate the issue.

[2019-05-24 20:28] stevesloka commented on #1116
@vn-patriot I'd also recommend upgrading to Envoy v1.10.0

[2019-05-24 20:35] stevesloka commented on #1117
@DavidLangworthy those rules have been getting us into trouble (which is leading me to go build an admission controller to replace). You can drop those rules defined on the CRD if it blocks your deployment.

Also, I'm curious about your implementation. How are you sending traffic to `contour.heptio-contour`? I'd expect some internal DNS entry to point to the envoy endpoint so you could configure t

[2019-05-24 21:45] DavidLangworthy commented on #1117
I have two services say foo and bar as below.  Occasionally foo needs to call bar.  I could use bar's internal dns name, but this would not be load balanced, so I am sending it back through the router.  Adding my own DNS entry for the router is a good idea.

`  routes:
    - match: /foo
      services:
        - name: foo
          port: 80
    - match: /bar
      services:
        - name: bar

[2019-05-25 03:28] bgagnon commented on #1122
Gotcha! Kubernetes does inject those Docker-link inspired variables, provided that the Service exists _before_ the DaemonSet and Deployment, as documented [here](https://kubernetes.io/docs/concepts/containers/container-environment-variables/#cluster-information) and [here](https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables).

In my case I created the objects in

[2019-05-27 03:40] vn-patriot commented on #1116
Ok let me try

[2019-05-27 03:50] #1114 closed

[2019-05-28 01:48] youngnick opened #1123 "Improve output of failing tests comparing structs"
`go-cmp`'s diffs leave a bit to be desired when debugging failing tests, this is to investigate using https://github.com/go-test/deep instead.

 `go-cmp.Diff` produces output that is pretty hard to read, for example:
[code]

When run against the same failing test, `deep.Equal` produces this:
[code]
Much easier to read.

Currently, though, `deep.Equal` does not compare unexported fields, so we need

[2019-05-28 01:52] davecheney opened #1124 "Envoy should output CLF access logs by default"
Currently we configure Envoy to http access logs to `/dev/stdout`. Because we do not specify any logging format,[Envoy's default format](https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log#config-access-log-default-format) is chosen for us.

This is not ideal for two reasons

1. The format is not from [CLF](https://en.wikipedia.org/wiki/Common_Log_Format) which is emitted by compe

[2019-05-28 01:53] davecheney commented on #1124
/cc @asenchi I'd appreciate your input here. Would Envoy natively emitting CLF logging lines be useful for you?

[2019-05-28 01:59] davecheney commented on #1123
Please try some of the e2e tests, especially ones where responses sometimes contain several nested `types.Any` blocks. This is something that `go-cmp` is supposed to be able to be handle (although we do have to (and haven't yet) do extra work to tell it how to decode a `types.Any` block into its actual contents).

[2019-05-28 02:06] youngnick commented on #1123
Will do, there are some other options as well; we could also fix just the output by logging something like `Compare` from https://github.com/kylelemons/godebug/.

[2019-05-28 02:11] davecheney commented on #624
Thank you for proposing #1080. I have several concerns which I have outlined in the review. The overriding one is the format of log lines is not a product differentiator. Sure, its annoying to integrate Contour with the in house log aggregation solution, but fundamentally once that is done, by whatever reason, this is not a place where Contour can differentiate itself above the other ingress contr

[2019-05-28 03:05] davecheney opened #1125 "[spike] Investigate if we can use :* syntax in domain matching"
One of the oldest issues we have on this project is related to how Envoy handles `Host: ` headers which include a `:port` suffix. #210, #398, #353 and many more.

[A recent comment](https://github.com/envoyproxy/envoy/issues/886#issuecomment-492824085) suggests that we may be able to specify
[code]
instead of tracking and hard coding the port the listener connected to this routing is using, can we

[2019-05-28 04:19] davecheney commented on #283
Contour has supported  a `/heath` endpoint on the debug listener, `0.0.0.0:8000` since release 0.6.

To close this issue

- [ ] Does `/health` need to be renamed to `/healthz`?
- [ ] `/health`/`/healthz` should be woven through the example `deployments/`

[2019-05-28 05:08] #1096 closed

[2019-05-28 07:00] youngnick commented on #1125
Okay, I have a branch that will change the VirtualHost generation so that it will always add the `hostname` and `hostname:*` to the `domains` part of the config, instead of using the given port.

Things I've been able to confirm:
- Envoy accepts the config
- Traffic routes correctly to bare hostname requests (ie Host header is `example.com`)
- Traffic routes correctly to hostnames with ports (ie H

[2019-05-28 07:05] davecheney commented on #1125
Nice result. Make it so.

[2019-05-28 07:10] youngnick commented on #210
The spike in #1125 has meant that we can actually do this now. Reopening.

[2019-05-28 12:20] asenchi commented on #1124
@davecheney TBH, it makes little to no difference that I can see. Both Envoy's log format and CLF require me to configure a parser to slurp and forward structured logs, neither provide any particular benefit for me as an operator.

The reason why JSON is so desirable (reading through #624 and #0180) is that they are more flexible from the parsing standpoint. I don't have to know what all the field

[2019-05-28 13:26] stevesloka commented on #1124
I agree with @asenchi  that a json format would be easier to manage and like the idea of that format changing over time and not breaking consumers of the logs.

[2019-05-28 13:28] stevesloka commented on #1118
We'll also need to coordinate the jump shortcut links which point to the `/deployments` directory today (e.g. `https://j.hept.io/contour-deployment-rbac`).

[2019-05-28 14:16] cten commented on #283
That works for me, healthz might be more consistent with other apps but as
long as there is a health endpoint that's documented in good.
Thanks

On Tue, May 28, 2019, 12:19 AM Dave Cheney <notifications@github.com> wrote:

[2019-05-28 14:44] stevesloka commented on #283
I do agree that `/healthz` is a little more consistent, but today the health check endpoint always returns `200 OK` (https://github.com/heptio/contour/blob/master/internal/metrics/metrics.go#L217-L222).

I think we need to expand on this and wire in some additional checks to determine if Contour is actually healthy or not. For instance, what if Contour can't reach the k8s api server, etc?

[2019-05-28 15:05] stevesloka commented on #1122
I agree with you @bgagnon that we should look to move away from these ENV variables. We have the sample split deployment yaml files numbered to get around this issue.

I'll open a new issue to look at resolving this which I'd recommend using the internal dns name of the Contour service, however, last time I tried this there was some issues with Contour resolving the name which is why I went with t

[2019-05-28 15:05] #1122 closed

[2019-05-28 15:10] stevesloka opened #1127 "deployment: Envoy use Contour dns name for gRPC connection"
**Describe the solution you'd like**
Updating #1122, in the split deployment model, Envoy utilizes the built-in service environment variables (https://github.com/heptio/contour/blob/master/deployment/ds-hostnet-split/03-envoy.yaml#L67 && https://github.com/heptio/contour/blob/master/deployment/ds-hostnet-split/03-envoy.yaml#L69).

If the deployment or daemonset is created before the service exists

[2019-05-29 01:03] hmorikaw opened #1128 "Contour deletes its ingress routes when etcd cluster is down."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
We are running Contour and Envoy in different pods, Contour runs as a Deployment and Envoy runs as a Daemonset.
Also, Envoy is running utilizing host networking within the Daemonset.

The issue we are seeing is that some of the Envoy's won't be able to connect to gRPC(etcd) cluster whose cluster is

[2019-05-29 01:14] hmorikaw commented on #1119
Sorry, @stevesloka .
After  we open this issue, we can't recreate this issue.

[2019-05-29 01:44] davecheney commented on #1128
Thank you for raising this issue. I think there are two issues here. I want to talk about the second issue, envoy removing the cluster when you edit the ingressroute. What may be happening is the ingressroute object is not valid after editing and so the configuration associated with it is being removed. Do you think this is what could be happening?

[2019-05-29 01:52] tlvenn opened #1129 "Add support for TCP proxy without TLS"
**Describe the solution you'd like**

It would be great to support TCP services that cant use TLS, SFTP or other legacy TCP protocols come to mind. I need to have a sftp backend and I cant route this traffic currently with contour which forces me to add an additional ingress controller for this alone.

[2019-05-29 02:37] hmorikaw commented on #1128
I think this issue is caused by read-only mode on etcd cluster.
While etcd cluster was read-only mode, we update ingressroute.
And then, Envoy pods expect a valid etcd entry(ingressroute object) but there is no data.
So, Envoy pods removed the invalid ingressroute object.

[2019-05-29 02:39] davecheney commented on #1128
Thank you for replying. If there is a problem with the etcd cluster underlying your k8s cluster, pretty much all bets are off. You need to address that problem first to restore the invariants that kubernetes relies on.

[2019-05-29 02:51] davecheney commented on #1129
Thank you for raising this issue. The question of TCP proxying without TLS encapsulation has come up a few times before, #891 for example.

To TCP forward protocols that don't have a TLS encapsulation would require dedicating a TCP port per backend service. Kubernetes already supports this natively with the Service object so my question to you is can you use a Service style Load Balancer to expose

[2019-05-29 03:17] davecheney opened #1130 "contour serve should take its configuration from a configuration file"
`contour serve` currently takes all its configuration from command line flags. As of the end of May, it looks like this
[code]
In addition to there being a lot of configuration flags that affect the state of a `contour serve` process, we can only configure things which act like simple strings or numbers. Configuration such as a JSON format for HTTP logs (#624) would be unwieldily expressed as a CL

[2019-05-29 04:35] tlvenn commented on #1129
Hi @davecheney,

I am running k8s on baremetal and in an environment where metalb is not supported so unfortunately I dont have access to the sever type `LoadBalancer` within my clusters.

[2019-05-29 04:58] davecheney commented on #1129
Thank you for your reply. My follow up question is, in your bare metal environment, what are you using to expose Envoy’s HTTP and HTTPS ports to the internet?

[2019-05-29 05:24] tlvenn commented on #1129
On a side note, even if I could use a service style load balancer, i would still prefer / want to have all my external traffic to flow to my envoy edge proxy.

Is there something Contour specific that makes providing this while you are already supporting TCP with TLS inherently difficult ? I was actually surprised that Contour does not support cleartext / raw tcp while it now supports tcp with tls

[2019-05-29 06:11] tlvenn commented on #1129
Yes logging, monitoring and rate limiting. Having a single point of concern for all of this is super valuable imho.

I totally understand the requirement to dedicate a port to a service in that model and I understand your sentiment. I don't think the use case is a scenario where you deploy thousands of raw tcp services but just very tiny numbers of them (like 1-3), be it for a vpn, a ssh bastion o

[2019-05-29 22:51] rochacon opened #1134 "Contour serve command outputs debug logs by default, which can be unnecessary noisy in large scale setups"
**Describe the solution you'd like**

Contour log verbosity should be configurable, so debug logs can be turned off by default.

**Anything else you would like to add:**

Contour outputs debug logs from `internal/grpc/xds.go:xdsHandler.stream` main loop by default, which may be quite verbose (in a small cluster with around 20 ingresses objects I've noticed around 400 lines every couple of seconds)

[2019-05-30 00:24] tyrken commented on #624
You see the format as not a differentiator, but for other ingresses can have fully flexible output via https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#log-format-upstream, https://istio.io/docs/tasks/telemetry/logs/access-log/ and https://github.com/jcmoraisjr/haproxy-ingress#log-format, while I suspect most other ingresses, e.g. Traefik can be globally configu

[2019-05-30 04:24] bgagnon commented on #624
I agree; I'm not sure where it was suggested JSON logs should be on by default. They should be optional.

"Supporting natively" is somewhat of a stretch. A common stack like ELK will first parse CLF to JSON, then store it and index it as JSON, and finally run queries on it.

Using unstructured logging conventions like CLF dodges the issue of having to name the fields, but overall it just pushes th

[2019-05-30 04:56] davecheney commented on #624
@bgagnon thanks for your reply

Any fool can make a product with a million configurable options. My goal for Contour is we make opinionated decisions that make the product easier to use not just _by default_, but without them having to think about it. For example, we configure HTTP/2 out of the box, you don't have to opt in. We configure gzip for every connection, so that you don't launch your ser

[2019-05-30 05:02] davecheney commented on #624
@tyrken thank you for your reply. When I say that logging is not a product differentiator what I mean is logging is like brushing your teeth or paying your taxes, a necessary evil. Product differentiators are things that let people deploy complicated web applications on a k8s cluster using contour.

[2019-05-30 05:15] davecheney commented on #1129
Thank you for explaining your use case. I'm going to remove the waiting for info label from this issue as I think the use case is sufficiently clear.

Being straight with you, this is not a high priority, and involves some very large changes to the way Contour interacts with k8s -- for example, it would need to edit its own service document to have the cloud provider load balancer forward traffic

[2019-05-30 05:29] davecheney commented on #1124
@asenchi thanks for your reply. The discussion has moved back to #624 but the TL;DR is, we're not going to do JSON today, but that doesn't mean we won't do it in the future. See https://github.com/heptio/contour/issues/624#issuecomment-497202378 for details.

However, CLF is something I should have done a long time ago, the unique Envoy format helps nobody and it is, somewhat worryingly, only now

[2019-05-30 05:36] youngnick opened #1135 "dag/builder: Clean up magic constant use to distinguish between secure and insecure listeners"
Currently in the DAG (at https://github.com/heptio/contour/blob/a70c99a17d958a6645cadcabfcf4bd0b2794e6ef/internal/dag/builder.go#L260), we build two Listener structs, and store them in a map[int]*Listener (https://github.com/heptio/contour/blob/a70c99a17d958a6645cadcabfcf4bd0b2794e6ef/internal/dag/builder.go#L68).

The int key is only ever one of the two magic numbers 80 or 443 - 'insecure' or 'se

[2019-05-30 05:41] youngnick opened #1136 "Update CONTRIBUTING.md with team coding standards"
Traditionally, contributions to the project have used a few informal standards around commit style, PR style, and so on. This issue is to document those and put them in CONTRIBUTING.md.

[2019-05-30 06:59] hmorikaw commented on #1128
In this case, even if we notice that etcd cluster is down by failures or hypervisor problems, users may not notice that.
And we cannot stop Contour system soon after the etcd failure.
So, we should disable for users to update ingressroute while etcd cluster is down.

[2019-05-30 07:52] davecheney commented on #1128
Contour relies on the invariants guaranteed by the Kubernetes api.

I’m sorry but asking contour to diagnose the state of the api server’s backing etcd is not something we will do.

[2019-05-30 08:30] davecheney commented on #1122
Thanks for looking into this @stevesloka

[2019-05-30 11:53] asenchi commented on #1124
@davecheney Sounds good, thanks for your work!

[2019-05-30 16:20] azuretek commented on #624
@davecheney I don't think moving to CLF will solve any existing problem, as explained by others any non-structured format will still require pre-processing in some way. But also we do lose envoy specific fields like `upstream_cluster`.

I'm totally on board with scrapping this in favor of allowing dynamic config from either a configmap or some other kind of volume mounted config. The only concern

[2019-05-30 21:15] stevesloka opened #1140 "Add docs on how to use CertManager with HTTPProxy"
**Describe the solution you'd like**
Docs exist today on how to setup CertManager to create Let's Encrypt certificates with Kubernetes Ingress resources. It would be great to also demonstrate how to accomplish this with IngressRoute objects.

We cannot use annotations with this style, however, we can create Cert Manager "Certificate" CRD's to also let CertManager help with the certificate request

[2019-05-31 00:45] youngnick opened #1141 "Remove deprecated `envoy-external` flags"
As of #1125 these flags (`envoy-external-http-port` and `envoy-external-https-port`) are deprecated, this is work to remove them completely, per the deprecation notice.

[2019-05-31 00:53] youngnick opened #1142 "internal/dag: Investigate merging the Builder struct into a KubernetesCache"
As part of #1125 the fields ExternalInsecurePort and ExternalSecurePort were removed from the Builder struct, which is now just another name for a KubernetesCache. This issue is to investigate refactoring to remove the layer of indirection and just using a KubernetesCache directly, verifying if that is want we want to do first.

[2019-05-31 01:11] #1109 closed

[2019-05-31 04:29] davecheney commented on #1141
Assigning to 0.14. I'll make this as help wanted because its a well defined issue for anyone to contribute too. If anyone is interested in this please do not start til the 0.14 cycle is open.

[2019-05-31 04:44] davecheney commented on #1130
Thinking about this some more while it would be beneficial to have the lifecycles of Contour and Envoy separated, it isn't mandatory to deliver this feature.

Remove the blocker tag, assigned tentatively to 0.14.

[2019-05-31 04:45] davecheney commented on #1127
@stevesloka thanks for looking at this. Do you want to tackle this for 0.13, or punt til 0.14? Could you have a think about the best time to tackle this and label/milestone accordingly. Thanks

[2019-05-31 04:48] davecheney commented on #1124
So I put some time into this yesterday and discovered that explicitly passing an access log format for the _same_ value as the default that Envoy applies if we do not give any configuration -- a noop change -- caused no logs to be printed.
[code]
This puts this change outside the trivial and into the "great, now I have to figure out why envoy goes mum when I supply a custom log formatter". I'm goi

[2019-05-31 09:23] davecheney commented on #624
I’m not sure what you mean by dynamic listeners. Contour configures up to three itself, stats-listener, ingress_http and/or ingress_https. Contour controls the access log configuration for all of those listeners.

[2019-05-31 14:13] stevesloka commented on #1127
@davecheney this can be a 0.14.0 issue, it's not a critical block at the moment, but we should address soon so it doesn't affect other users.

[2019-05-31 14:36] #409 closed

[2019-05-31 16:24] azuretek commented on #624
Contour configures the `static_resources` via bootstrap, which is loaded via `envoy --config-path`. Whereas the upstream clusters are configured dynamically via GRPC. That's what I mean by dynamic listeners.

[2019-06-01 01:06] davecheney commented on #624
Thank you for explaining. Bootstrap config points envoy to contour which provides it with the rest of its configuration. That configuration is either invented inside contour or translated from the contents of the k8s api server.

[2019-06-01 01:07] davecheney commented on #409
Great job! Thanks Steve.

[2019-06-01 01:08] davecheney commented on #1127
Ok, let’s bump it to 0.14.

[2019-06-03 01:47] davecheney opened #1144 "Update j.hept.io shortlinks"
Hi @jbeda

Could you please update the following j.hept.io shortlinks to point to these new locations

- [ ] `https://j.hept.io/contour-kuard-example` -> `https://raw.githubusercontent.com/heptio/contour/master/examples/example-workload/kuard.yaml`
- [ ] `https://j.hept.io/contour-deployment-rbac` -> `https://raw.githubusercontent.com/heptio/contour/master/examples/render/deployment-rbac.yaml`

Pl

[2019-06-03 03:43] davecheney opened #1145 "internal/dag: move remaining fields from dag.Service to dag.Cluster"
`dag.Cluster` was introduced in 0.12 to record properties of the _path_ from a route to a specific k8s Service object. This was done in part for Upstream Validation support.

This issue is a placeholder to track the work of moving the remaining fields from `dag.Service` to `dag.Cluster`

[2019-06-03 03:52] davecheney opened #1147 "internal/dag: dag.Route contains an unused UpstreamValidation field"
`dag.Route` contains an unused `UpstreamValidation` field. This was likely added in error in #1045.

[2019-06-03 04:37] jbeda commented on #1144
Updated! Let me know if they aren't working.

[2019-06-03 04:37] #1144 closed

[2019-06-03 04:42] davecheney commented on #1144
Looks good 👍 thanks @jbeda

@rochacon You're go to finish #1118

[2019-06-03 04:43] davecheney commented on #1118
@rochacon you're go to file a second PR that removes `deployment/`

[2019-06-03 05:23] davecheney commented on #1134
Thank you for raising this issue. I'm sorry in advance for the length of this reply, it is in part a recitation of my blog post on logging; https://dave.cheney.net/2015/11/05/lets-talk-about-logging

Fundamentally I believe that log lines should be written to be read. If log lines are emitted and are not useful they should not be emitted in the first place. This is hopefully not a controversial st

[2019-06-03 05:25] davecheney commented on #1128
@hmorikaw did I understand the issue correctly? Is the etcd server you refer to the API server for your k8s cluster?

If so, as there is nothing that Contour can do when deployed on a misbehaving k8s cluster, I would like to close this issue. Please let me know what you think.

[2019-06-03 06:31] #210 closed

[2019-06-03 06:31] #1125 closed

[2019-06-03 06:32] youngnick commented on #210
Since the above PRs have been merged, it is now possible to use non-standard ingress ports as much as you like - any port in the Host header will now match.

This means that Minikube and kind will now work just fine for testing and development. Win!

[2019-06-03 06:58] #1118 closed

[2019-06-03 23:49] davecheney opened #1150 "ingressroute: remove maglev and ringhash from the list of supported policies"
ingressroute supports a number of load balacing strategies. Among then, ringhash and maglev are supported -- you can set that value -- however the value does nothing without additional configuration.

As we don't provide any way to supply that configuration, and the main use for the additional hash value for maglev and ringhash would be for session affinity, #856, I propose that those values be re

[2019-06-03 23:56] davecheney commented on #1030
Thank you for this issue. I am going to remove support for `Maglev` and `Ring_hash` as values for `strategy` as they cannot be used correctly in their current form.

[2019-06-04 00:53] #1150 closed

[2019-06-04 00:53] #1030 closed

[2019-06-04 01:01] #1147 closed

[2019-06-04 06:46] davecheney commented on #863
I believe we delivered this in Contour 0.12.

[2019-06-04 06:46] #863 closed

[2019-06-04 06:52] davecheney commented on #503
This is done #1031

[2019-06-04 06:52] #503 closed

[2019-06-04 06:56] davecheney commented on #419
This will be replaced by #1130

[2019-06-04 06:56] #419 closed

[2019-06-04 08:22] hmorikaw commented on #1128
I mean some codes delete envoy routes if etcd cluster is read-only mode.
Does contour have some codes running like this behavior?

[2019-06-04 08:26] davecheney commented on #1128
@hmorikaw thank you for your reply.

Before I can answer your question I need to know more about the role of this etcd server? Is this etcd server the etcd server that backs your k8s cluster?

[2019-06-04 21:43] bgagnon commented on #624
@davecheney Sure, happy to explain!

What I meant by enriching access logs with Contour specific concepts is having something that will reveal relevant pieces of the DAG topology in the access logs.

For starters, each log entry could contain (I am making these field names up BTW):

* `contour.ingressroute.namespace`
* `contour.ingressroute.name`
* `contour.ingressroute.fqdn`
* `contour.route.path

[2019-06-04 23:18] #1145 closed

[2019-06-05 23:17] stevesloka opened #1155 "design: e2e/integration test rig"
**Describe the solution you'd like**
Contour currently has standard unit tests as well as some e2e tests that test the configuration that gets passed to Envoy, however, there aren't any full integration tests which spin up an instance of Contour & Envoy.

The purpose of this issue is to gather a list of use-cases / tests to decide if the effort to build/maintain a full e2e test suite shows us valu

[2019-06-06 05:12] davecheney commented on #1128
@hmorikaw hello, would you be able to answer my previous question about the role of the faulty etcd server. Thank you

[2019-06-06 06:19] davecheney commented on #1155
Thank you for raising this issue.

The driving reason I have wanted to be able to test a contour and envoy stack from end to end; that is configure envoy via contour and then send a request through envoy to verify it is correctly configured. Said another way, our `internal/e2e` tests give me good confidence that we can translate a k8s object to a syntactically valid set of messages to Envoy. What

[2019-06-07 01:32] #1136 closed

[2019-06-07 02:36] davecheney opened #1159 "internal/contour: EDS entries should use a stable sort"
Updates #856

In order to implement stick session support the order in which EDS entries for a cluster are presented should be stable. This is necessary when using ringhash or mavlev style consistent hashing because if the order in which EDS entries are presented changes then the result of the ringhash calculation will change. If that happens, sticky sessions don't work.

[2019-06-07 07:07] #1005 closed

[2019-06-07 07:11] davecheney commented on #1006
A design draft for how we plan to implement this feature was added in #1005. TL;DR
[code]
The `strategy: cookie` setting tells Envoy to use a cookie that it manages itself to route requests to the same backend.

[2019-06-07 07:13] davecheney commented on #361
Closing as duplicate of #1006 which will implement this feature for Ingressroute

[2019-06-07 07:13] #361 closed

[2019-06-10 02:36] hmorikaw commented on #1128
yes. This etcd cluster backs my k8s cluster's API server and k8s nodes.

[2019-06-10 02:42] davecheney commented on #1128
@hmorikaw thank you for clarifying.

In that case my answer is the same as https://github.com/heptio/contour/issues/1128#issuecomment-498117102. If the underlying API sever is not behaving correctly then there is nothing Contour can do.

[2019-06-10 03:15] hmorikaw commented on #1119
@stevesloka
Hi, how about this issue? Can you recreate this problem?
We still remain it.
If you can't recreate unhealthy endpoints cluster, you stop all http servers on unhealthy endpoints cluster.
[code]

[2019-06-10 03:35] mitsutaka opened #1160 "insecurePermit example is wrong in ingressroute.md"
**What steps did you take and what happened:**

When I deploy `IngressRoute` with `permitInsecure` along with [ingressroute.md#tls](https://github.com/heptio/contour/blob/master/docs/ingressroute.md#tls),
`permitInsecure` does not work because the last example in this section was wrong.

[code]

**What did you expect to happen:**

User can deploy `IngressRoute` with `permitInsecure: true` using ex

[2019-06-10 03:46] #1160 closed

[2019-06-10 13:17] uablrek commented on #923
Please check the `ipv4_compat` flag in [envoy documentation](https://www.envoyproxy.io/docs/envoy/v1.6.0/api-v2/api/v2/core/address.proto#core-socketaddress).

IMO this should be set to "true" by default if the address is "::" (ipv6-any). Then it should be possible to have the same configuration for ipv4, ipv6 and dual-stack (which is finally under implementation in [k8s](https://github.com/kubern

[2019-06-10 15:43] #283 closed

[2019-06-10 18:00] uablrek commented on #923
I have made a (tiny) PR that sets `ipv4_compat` as suggested above. I have verified manually that the same `contour` can be used for ipv6 and ipv4-only k8s clusters if the ipv6-any address is used "::".

[2019-06-10 20:16] stevesloka commented on #1119
Hey @hmorikaw, I just tested and am able to recreate the issue. The issue I think is the empty upstream endpoints when there are multiple upstream services.

Let me do some more digging and gather some more data points so we can better identify where the issue is. We've recently done some work here (https://github.com/heptio/contour/pull/1110) but this still seems to be an issue.

[2019-06-12 05:02] hmorikaw commented on #1128
I see. Thank you for your reply. I'll expand etcd servers and close this issue.

[2019-06-12 05:02] #1128 closed

[2019-06-12 07:32] Malinskiy commented on #70
@davecheney would love to help work on this.

I see some work done for the Ingress object according to your initial suggestion in #408 and a sample provided for IngressRoute. Can we finalise the desired configuration format at this point so that we can implement this?

I'd argue that support for mimicking the relevant [envoy api](https://github.com/envoyproxy/envoy/blob/ff960238f966e906d26ef0c21c8

[2019-06-12 10:57] davecheney opened #1165 "SDS: secret should not be present if the ingress contains no valid routes"
Currently if a TLS enabled ingress is present in the DAG and there is a matching secret then SDS will present that secret _even_ if the Ingress has no valid routes.

This should be changed so that SDS will not present a certificate unless the ingress has at least one valid route.

[2019-06-13 02:28] davecheney opened #1166 "internal/dag: rebuild should not trigger on unrelated secrets"
Inside a k8s cluster there are many secret objects, only some of them may be referenced by a valid ingress object.

Because contour must watch all secret objects it may see an unrelated secret changing and this will trigger a rebuild of the dag. The end result _should_ be a noop, but it would be better to avoid this activity in the first place.

Contour should only trigger a dag rebuild if the sec

[2019-06-13 02:45] youngnick commented on #1073
I wasn't sure which timeout did what, so I spent some time reading Envoy documentation. Here's what I found:

# 1073

## Envoy timeouts

There are five timeouts you can set on connections through Envoy, three at the the connection manager, and two at the route.

### Connection manager timeouts

#### idle_timeout

Applies to the idle period when no streams are active, and will terminate the *connec

[2019-06-13 02:49] davecheney commented on #1073
@youngnick thanks for the update. Do you think we need to do anything for 0.13? If this isn't urgent that we ship it next week for 0.13 would you mind moving the milestone to 0.14?

[2019-06-13 02:49] youngnick commented on #1073
I don't think there's any urgency, so I'll move it.

[2019-06-13 05:04] davecheney opened #1167 "internal/dag: spec.virtualhost.fqdn should reject values with a *"
Wildcards in the form of `*.something.com` are permitted by envoy but prohibited by the ingressroute and ingress spec. Well, the former is firm but the latter is undefined.

We need a test to assert that an ingress or ingressroute with a `*` in the fqdn field is rejected. In fact we should define the set of valid values for the fqdn field in contour. It's ok to also have that validation included i

[2019-06-13 05:41] pickledrick opened #1168 "Failover to a default TLS certificate if malformed secret reference is provided to Ingress TLS"
**Describe the solution you'd like**

When referencing an invalid secret, the listener should load a default TLS certificate.

**Environment:**

- Contour version: `v0.11.0`
- Kubernetes version: (use `kubectl version`): `v1.14.2`
- Kubernetes installer & version: `kind v0.4.0-alpha`
- Cloud provider or hardware configuration: `local`
- OS (e.g. from `/etc/os-release`): `osx`

[2019-06-13 05:50] davecheney commented on #1168
@pickledrick thanks for raising this issue.

Could you please tell me more about the invalid TLS certificate? In 0.12 we fixed a problem where a secret with the right keys, but empty values was picked up and send to envoy. https://github.com/heptio/contour/issues/1051. Upgrading to 0.12.1 may help. The customer should upgrade to 0.12.1 regardless to pick up the fix for https://github.com/heptio/co

[2019-06-13 05:56] pickledrick commented on #1168
Sure @davecheney,

the request was more for the feature request of failing over to a default TLS certificate. I mentioned validation as this would be precursory and hadn't looked for relevant tickets (thanks for linking btw).

I am happy to relay the decision for a default TLS certificate and was interested in your opinion before providing a response.

I will link the validation issue and reach ou

[2019-06-13 06:06] davecheney commented on #1168
@pickledrick can you please rewrite this request so it's clearer. The part about envoy returning a weird error is a bug and should be fixed. Either keep this issue for the envoy/contour bug  (not sure who's at fault yet) or start a new one.

wrt. to adding support for a default TLS certificate I know this is a feature nginx has. It's a weird feature that falls out of the way the nginx configuratio

[2019-06-13 06:15] pickledrick opened #1169 "Contour should set a status message when an ingressroute references an invalid secret"
**What steps did you take and what happened:**

- created a secret of type `kubernetes.io/dockerconfigjson`
- referenced unexpected secret type in `Ingress` specification for TLS configuration
- received error message in logs

[code]

**What did you expect to happen:**
Error message in logs
[code]

**Environment:**

- Contour version: `v0.11.0`
- Kubernetes version: (use `kubectl version`): `v1.14

[2019-06-13 06:17] pickledrick commented on #1168
I have created [#1169](https://github.com/heptio/contour/issues/1169) as a separate bug for the error message. I will leave and reword this feature request to track addition of a default TLS certificate.

[2019-06-13 06:27] davecheney commented on #1169
Thanks for raising this issue. I'll write a regression test for this now.

Can you please confirm for me:

1. Which version of Envoy is the customer using?
2. Does 0.12.1 fix the problem?

[2019-06-13 06:40] davecheney commented on #1168
@pickledrick sorry, i'm going to make you rewrite this request again. A feature request needs to explain the problem that the feature being added would solve. The part about loading an invalid certificate is a bug and will be fixed, so it can't be the justification for this feature.

One way to phrase this request might be to say something like "nginx allows a default TLS certificate to be used as

[2019-06-13 06:42] davecheney commented on #67
We're not going to do this.

[2019-06-13 06:42] #67 closed

[2019-06-13 07:59] davecheney commented on #1169
@pickledrick thanks for raising this issue. I write up some regression tests in #1170 but was not able to reproduce the issue you reported. As far as I can tell, even going back to 0.11, Contour has always checked that the `tls.crt` and `tls.key` keys are present in the secret before Contour will consider it valid.

Are you able to share some more details about the issue that was reported to you s

[2019-06-14 00:21] stevesloka opened #1172 "internal/dag: rebuild should not trigger on unrelated services"
Inside a k8s cluster there are many service objects, only some of them may be referenced by a valid ingress object.

Because contour must watch all service objects it may see an unrelated service changing and this will trigger a rebuild of the dag. The end result should be a noop, but it would be better to avoid this activity in the first place.

Contour should only trigger a dag rebuild if the se

[2019-06-14 00:23] stevesloka commented on #1166
As part of this, need to validate that tls secret delegation is not broken.

[2019-06-14 00:48] pickledrick commented on #1169
Specific steps to reproduce
ingress-secret.yaml
[code]

- `kind create cluster`
- `export KUBECONFIG="$(kind get kubeconfig-path --name="kind")"`
- ` git clone git@github.com:heptio/contour.git`
- `cd contour`
- `git checkout release-0.11`
- `kubectl apply -f deployment/deployment-grpc-v2/`
- `kubectl apply -f https://j.hept.io/contour-kuard-example`
- `kubectl -n heptio-contour scale deploy conto

[2019-06-14 00:50] pickledrick commented on #1169
Customer is using  envoy `v1.9.1`, testing contour `v0.12.1`

[2019-06-14 01:05] pickledrick commented on #1169
Using the `release-0.12` release branch to deploy, envoy still at `v1.9.1` doesn't return the same error? Not too sure why. Perhaps different configuration? And no error is returned from contour.

[2019-06-14 04:36] davecheney commented on #1169
Thanks for the update. 0.11 did no validation of the secret, as long as there was something that matched the name, contour would feed it to envoy. This was fixed in 0.12 and has been strengthened to be even stricter in 0.13 (due next week)

Given than versions of Contour < 0.12.1 should not be used, can we call this issue closed?

[2019-06-14 05:42] vn-patriot commented on #1116
My issue still happening ... Should I merge Envoy & Contour running same pod ?

[2019-06-14 07:01] pickledrick commented on #1168
Clarifying with the customer as to specific needs, If they differ from setting a certificate delegation or rather a blanket catch-all.

[2019-06-14 07:44] yoitsro commented on #437
I think @sylwit's suggestions are a good start for now and would unblock the majority of use cases without needing to add seven more annotations.

What needs to be done to make progress on this @davecheney?

[2019-06-14 10:03] glerchundi commented on #437
There is an incredible well explained design document in #1012, lets follow the discussion there. @davecheney is it possible to block comments here in order to focus the discussion in one place?

[2019-06-14 10:07] davecheney commented on #437
Temporarily locked, please see https://github.com/heptio/contour/pull/1012#issuecomment-500091198

[2019-06-15 03:07] davecheney opened #1173 "Update go-control-plane to latest"
Update our go-control-plane rep to pick up https://github.com/envoyproxy/go-control-plane/pull/192

[2019-06-17 01:52] youngnick commented on #1117
Hi @DavidLangworthy, I'm going to make a fix to the deployment yamls to do this, but a workaround for now is to use the service's FQDN inside Kube: `contour.heptio-contour.svc.cluster.local` (assuming you haven't changed the cluster default name from `cluster.local`). That will pass the validation.

Once we do make changes, your CRD definitions will need updating, as that's where the validation is

[2019-06-17 01:57] DavidLangworthy commented on #1117
Thank you.

From: Nick Young <notifications@github.com>
Sent: Sunday, June 16, 2019 6:53 PM
To: heptio/contour <contour@noreply.github.com>
Cc: David Langworthy <dlan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [heptio/contour] contour.heptio-contour invalid fqdn (#1117)

Hi @DavidLangworthy<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FDavidL

[2019-06-18 01:35] davecheney commented on #1007
Replaced with 1.0 milestone.

[2019-06-18 01:35] #1007 closed

[2019-06-18 01:41] davecheney commented on #1129
We do not plan to implement this feature before Contour 1.0. Moving to the Unplanned milestone.

[2019-06-18 01:48] davecheney commented on #437
Procedural note: I have added this to the 0.14 milestone. I am pushing for a decision from PM in the next two weeks. If we decide to implement this feature, hopefully it will land in the 0.14 cycle.

[2019-06-18 02:01] davecheney commented on #893
I am going to close this issue because we do not plan to ship a custom Envoy and it looks like the 3rd party filter has not been updated for close to a year. Without this feature available in mainstream envoy we cannot offer it in Contour.

Please feel free to reopen this issue if this feature lands in envoy.

[2019-06-18 02:01] #893 closed

[2019-06-18 04:57] davecheney commented on #980
This is blocked on #1130. Tentatively scheduled for 0.15

[2019-06-18 04:59] davecheney commented on #864
This is blocked on #1130. Tentatively scheduled for 0.15

[2019-06-18 05:01] davecheney commented on #816
Restricting this issue to only watching secrets from namespaces if `root-namespaces` is enabled is tentatively scheduled for 0.15.

note to implementors: this will interact with TLS certificate delegation. That interaction must be documented and agreed here before starting work.

[2019-06-18 08:31] davecheney commented on #718
@stevesloka i’m pretty sure we’ve covered off all of this over the last three releases. Would you be able to confirm and either close this issue or move it to 0.14 with a note about the work remaining.

[2019-06-18 08:32] davecheney commented on #624
We will add the plumbing to support this in 0.14. Marking tentatively for 0.14 but may bump to 0.15.

[2019-06-18 08:37] davecheney commented on #320
This is something i’d like to see fo contour 1.0. Marking as 0.15 to review if the feature has landed upstream.

[2019-06-18 08:39] davecheney commented on #982
Closing as duplicate of #320

Waiting on upstream feature, we’ll follow up on #320 when this is available.

[2019-06-18 08:39] #982 closed

[2019-06-18 08:40] davecheney commented on #515
Moving this to the unplanned milestone. We won’t look at this til after Contour 1.0 ships.

[2019-06-18 08:43] davecheney commented on #399
Moving to the unplanned milestone. We don’t plan on looking at this til after Contour 1.0

Blocked:
- [ ] #1130

[2019-06-18 08:44] davecheney commented on #273
As one of our oldest issues its time to come clean and recognise that this work is not going to happen any time soon. I’m going to close this issue and will open a new one when and if required.

[2019-06-18 08:44] #273 closed

[2019-06-18 08:47] davecheney commented on #69
Moving to the unplanned milestone. We won’t be tackling this as part of Contour 1.0 or the next revision of ingressroute.

[2019-06-18 08:48] davecheney commented on #316
Related to #499. Scheduling to 0.14 to resolve by 1.0.0.beta.1

[2019-06-18 08:49] davecheney commented on #370
Scheduling to the 0.15 milestone to talk about implementing RLS for Contour 1.0

[2019-06-18 08:54] davecheney commented on #365
I’m sorry this issue has been open for so long. Sadly its not something that we’re going to do in the foreseeable future—our view remains that ingress controllers are cluster wide resources.

I’m going to close this issue, but I want to highlight the [`—ingressroute-root-namespaces`](https://github.com/heptio/contour/blob/master/docs/ingressroute.md#restricted-root-namespaces) flag which could be

[2019-06-18 08:56] davecheney commented on #592
Closing. The need to configure these constants is not important enough.

[2019-06-18 08:56] #592 closed

[2019-06-18 08:59] davecheney commented on #432
I’m tentatively assigning this to 0.15 to take a crack at for Contour 1.0. At the moment we don’t have any resources available to work on this for 0.15 so it may get dropped.

[2019-06-18 09:00] davecheney commented on #433
Assigning to 0.15 tentatively. We don’t have anyone available to work on this feature so it may get dropped from the 1.0 release.

[2019-06-18 09:04] davecheney commented on #1116
@vn-patriot yes please. Please let me know if using something like `examples/deployment-grpc-v2` fixes the problem.

[2019-06-18 09:05] davecheney commented on #1121
Moving to the unplanned release as it is not clean when this feature will be delivered upstream.

[2019-06-18 09:06] davecheney commented on #1123
@youngnick i’m assigning this to the 0.14 release to investigate. If you don’t have bandwidth to work on this I’d appreciate it if you can move to a later milestone.

[2019-06-18 09:08] davecheney commented on #1064
Assigning to the 0.14 milestone for prioritisation tomorrow. This might get bumped to a later milestone, but i’d like to see this included for Contour 1.0

[2019-06-18 09:09] davecheney commented on #959
I’m going to close this now that #1004 has landed.

[2019-06-18 09:09] #959 closed

[2019-06-18 09:12] davecheney commented on #855
Documentation issue, I’m assigning this to beta.1. @so0k feel free to send a docs PR before then.

[2019-06-18 09:23] davecheney commented on #755
/cc @youngnick I think this is a similar issue to #1117. If you can look at adjusting the validation to allow a single [a-z]+ without a trailing period that should be fine.

@josebiro as a workaround you can edit the CRD validation to remove the the regex, we’ll take whatever you publish to the FQDN field and pass to Envoy, it’s your responsibility that that hostname makes sense in your environmen

[2019-06-18 09:25] davecheney commented on #647
I’m going to push this to the unplanned milestone because I don’t see us looking at this before Contour 1.0.

[2019-06-18 09:26] #365 closed

[2019-06-18 13:43] stevesloka commented on #718
Yup good to close! 🎉

[2019-06-18 13:43] #718 closed

[2019-06-18 13:46] travisghansen commented on #432
As an update to my earlier comment my auth server is reaching a relative state of maturity at this point. I ended up broadening the scope to be a generic auth server so it has support for many plugins at this point (oidc/oauth2, jwt, ldap, htpasswd, firebase jwt, etc).

In addition to that a single configuration is setup as an auth pipeline so that the same service can be serviced by several mecha

[2019-06-18 14:03] stevesloka commented on #1119
So after chatting with some folks in Envoy, when you have multiple upstreams and one goes 100% unhealthy, Envoy doesn't stop routing traffic to it.

Today the solution would be to get the weight to zero which I understand is difficult since a user would have to know the cluster is unhealthy.

I'm going to brainstorm some ideas to see how we can address.

[2019-06-18 18:34] Josh-West-Bose commented on #893
:-(

[2019-06-18 23:04] lrouquette commented on #273
I'm surprised this is not a high priority item, especially in light of [this comment](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#when-to-send-an-update). From what I've seen while watching these logs for quite a while now, not respecting the protocol and [this issue](https://github.com/heptio/contour/issues/426) are the likely reasons for envoy to [OOM](https://github.com/he

[2019-06-19 03:22] davecheney commented on #273
@lrouquette yup, we know we send too many updates to Envoy. This is being tracked in the context of #499.

This ticket existed from a time before envoyproxy/go-control-plane existed and was intended to be a placeholder to unify those two implementations. Simply put, that never happened, so this ticket has been closed.

[2019-06-19 03:32] davecheney commented on #273
@lrouquette thank you for pointing out the mistake in the way we're handing the XDS transaction. I'm preparing a PR now that should correct the defect.

[2019-06-19 04:05] #755 closed

[2019-06-19 04:05] #1117 closed

[2019-06-19 05:42] davecheney commented on #893
I’m sorry to disappoint you. The facts are were not going to get into the business of shipping a custom version of envoy. This is in part because we don’t have the cycles to take on the maintainence of what would equate to a fork of envoy. Also, this would put VMware in the position of shipping envoy which has impacts on our ability to ship Contour to us embargoed countries. This is simple somethi

[2019-06-19 10:17] davecheney commented on #986
Thank you for raising this issue. Sadly I don't see anyone being able to work on this before our 1.0 release in Oct/Nov. I am going to assign this to the unschedule milestone so we don't loose it, but to be honest that we're not planning on implementing this feature at the moment.

[2019-06-19 10:22] davecheney opened #1176 "internal/grpc: properly handle Envoy ACK/NACK protocol"
Envoy's stream protocol states that after each DiscoveryResponse message the subsequent DiscoveryRequest will contain a ACK or NACK for the previous response. Contour currently doesn't pay attention to this ACK/NACK protocol, but for better compliance with the XDS spec we should.

[2019-06-19 15:09] phylake opened #1178 "xDS updates are not ordered"
I don't see any evidence in Contour's source that xDS updates are ordered correctly

https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#eventual-consistency-considerations

Without ordering the update order would be subject to whichever goroutine was scheduled first. This race condition matches the behavior we see: a Contour restart doesn't *always* cause Envoy 404s.

This is an iss

[2019-06-19 18:21] jdelgadillo opened #1179 "Wildcard path matching like nginx"
**Describe the solution you'd like**
We'd like the ability to use a wildcard for matching the path.  As part of the IngressRoute, we'd like to do the following

[code]
I know this could be done by putting logs at the beginning and eliminating the need for regular expression matching, but the team *really* wants to have the path to the object precede the `logs` in the path and the back-end wants a

[2019-06-20 01:23] davecheney commented on #1179
Thank you for raising this issue. We are considering expanding the number of ways a route could match on as part of the ticket we call Routing NG, #1075 .

To be clear, it is unlikely we will support regex path matching because of its interaction with ingress route delegation. However we will probably support some form of path globing, eg. `/foo/*/bar`. I wanted to make this clear to set your expe

[2019-06-20 01:28] davecheney commented on #1178
Thank you for raising this issue. I'm sorry this is a problem for you. We are working to make the split envoy and contour deployment the default by the 0.15 milestone #881 .

To implement ordering we would probably have to switch to ADS. I know you've asked for this before (sorry I cannot find the issue at the moment). My answer is the same as previously, implementing ADS is not on the current roa

[2019-06-20 01:30] davecheney commented on #1178
For the five 👍 's I encourage you to join the next community meeting

https://projectcontour.io/community/

So we can talk about the issue in a higher bandwidth form.

I'm not saying no to ADS, I just want to understand the issues you're having. If that means I need to rescope ADS and put it on the road map, so be it, but I need your help to understand the issues you are experiencing.

[2019-06-20 01:32] davecheney commented on #1050
I am closing this as a duplicate of #1179. We understand the request for wildcard matching. We are working towards this as part of #1075 with a target of 0.15.

[2019-06-20 01:32] #1050 closed

[2019-06-20 02:43] stevesloka opened #1181 "examples: Update deployment/daemonset to apps/v1"
**Describe the solution you'd like**
The examples that use DaemonSet and Deployment resources will no longer be served from extensions/v1beta in v1.16. The examples need to migrate to the apps/v1 API, available since v1.9. Existing persisted data can be retrieved via the apps/v1 API.

// ref: Kubernetes v1.15 release notes: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#kub

[2019-06-20 03:04] davecheney commented on #1181
@stevesloka Thanks for catching this, I think we can live with this for 0.13. Can you please schedule this ticket for 0.14 or 0.15 as you see fit and perhaps add “help wanted”/“good first issue” labels if appropriate.

Thanks

[2019-06-20 04:42] davecheney commented on #995
@stevesloka do you think this is possible before Contour 1.0? If so, could you please move it to the appropriate milestone. If we can live without this til after 1.0, please move it to the unplanned milestone and I'll revisit it when we get closer to planning a 1.1 release.

[2019-06-20 04:46] rjbez17 opened #1182 "Contour/Envoy should preserve the remote ip address whenever possible"
**Describe the solution you'd like**
Contour/envoy should inject the X-Forwarded-For header whenever possible. Right now it currently only injects this header when configured with a cloud provider proxy.

My use case is that some third party services I deploy expect the remote IP exposed via the X-Forwarded-For header when behind an LB. It would also be helpful to have the remote IP exposed to bac

[2019-06-20 04:49] davecheney opened #1183 "Upgrade to client-go v11.0.x / kubernetes 1.14.x"
Upgrade to client-go v11.0.x and kubernetes 1.14.x

Description for doing this with go modules is here https://github.com/kubernetes/client-go/blob/master/INSTALL.md#go-modules

We will stay on client-go 11 / k8s 1.14 for 0.14, and consider client-go 12 for 0.15.

Note for implementors: you will need to regenerate the `api/` directory, also be watchful for failing tests, something may have changed

[2019-06-20 04:52] davecheney commented on #1182
Thanks for raising this issue, it is very clear what needs to happen.

I am tentatively marking this as p2 for the 0.14 cycle. At the moment I don't know if anyone has bandwidth to work on this so it may slip to 0.15.

There is some good documentation here, https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers#x-forwarded-for and we may already be setting the correct head

[2019-06-20 05:54] youngnick opened #1184 "design: Split deployments user experience improvements"
Issue #881 covers an initial phase of work to secure communication between Contour and Envoy, allowing for a more secure split deployment. This issue covers the second phase of a three-phase plan to make secure split deployments the default for Contour.

The ultimate outcome of the plan is:
- Split deployments the default for Contour
- Secure communication between Contour and Envoy via secured gRP

[2019-06-20 05:58] youngnick opened #1185 "Split Deployments secure by default"
Issue #881 covers an initial phase of work to secure communication between Contour and Envoy, allowing for a more secure split deployment. This issue covers the third phase of a three-phase plan to make secure split deployments the default for Contour.

The ultimate outcome of the plan is:

- Split deployments the default for Contour
- Secure communication between Contour and Envoy via secured gRP

[2019-06-20 13:00] rjbez17 commented on #1182
@davecheney I did some digging and noticed that no listeners are actually being set in the envoy configs, I'll do some more looking around the bootstrap process that generates it:

[code]

[2019-06-20 13:05] davecheney commented on #1182
@rjbez17 thanks for your investigation. Listeners are only generated when the is an ingress or ingressroute record that references them. #389

[2019-06-20 15:27] phylake commented on #1178
From the Envoy docs:

Challenging but not impossible. Also, we're running a single Contour because of the various other protocol issues. It's handling 100+ Envoys and that could be your recommended split-pod Deployment (i.e. `replicas: 1`). The above comment is specific to distributed servers (plural), implying a singleton management server wouldn't face the same challenges.

That would probably b

[2019-06-20 15:42] stevesloka commented on #1059
Related to #520

[2019-06-20 16:15] stevesloka commented on #995
@davecheney I'm going to stick to design first to determine how to progress, added to v0.15.0 milestone.

[2019-06-20 19:55] phylake commented on #426
Is this the cause of the N^2 behavior we're seeing on EDS updates? For every EDS `DiscoveryRequest` we're pretty sure the entire EDS config is being sent back

[2019-06-20 20:25] phylake opened #1187 "xDS stale nonce is ignored"
From the [Envoy docs](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#resource-updates)

I don't see that in the current implementation which would be another source of unneeded updates sent to Envoy

[2019-06-20 22:43] davecheney opened #1188 "Contour should validate that the CN of the certificate matches the virtualhost.fqdn field"
This is an issue reported internally. For unimportant reasons a secret obtained from lets encrypt was duplicated this the same secret, with the same CommonName (CN) was available in two namespaces and referenced by two different ingress records.

Contour should validate the CN inside the certificate matches the virtualhost.fqdn that it expects to present.

[2019-06-20 22:54] davecheney commented on #995
Thanks @stevesloka. Let's talk more about this when we get to 0.15. I'm not sure if propogating the envoy admin page is going to work in all deployment scenarios; i'm thinking about what happens when envoy and contour aren't in the same pod. But we might be able to set up a special listener on envoy and ask it to return it's full `Server: ` string -- something we normally suppress. That might be a

[2019-06-21 03:07] youngnick commented on #862
Okay, now that the design doc is merged and approved, I'll get started on doing the plumbing.

[2019-06-21 04:43] #1006 closed

[2019-06-21 14:01] stevesloka opened #1190 "Contour deployment docs / tooling"
Contour has an `examples` folder in the root of the repo which shows different ways to deploy Contour in some various scenarios. Depending on requirements these might be deploying Envoy with `hostNetworking` for performance, or as a `daemonset` to horizontally scale the network data plane.

We've also had the community ask for other deployment options other than just yaml (as exists today in the e

[2019-06-21 14:10] victornoel commented on #1190
Here is a use case for an officially supported helm chart.

To operate my kubernetes clusters, I use a combination of helmfile and helm to store the whole cluster configuration in a git repository. In this context, I usually use upstream charts for the dependencies in order to reduce the surface of resources to maintain internally.

Without an officially provided chart, I would create one myself e

[2019-06-21 23:10] jdelgadillo commented on #1179
Thanks for the update @davecheney

Out of curiosity, how does current Contour handle multiple matches?

Say we have a request to /path/object/logs/:id and /path/object/:id

And we have an IngressRoute:
[code]

The request `GET /path/object/logs/id`  matches both.  How does Contour decide which service gets the request?  My experiments seem to indicate it always goes to `object-management-service`

[2019-06-21 23:17] jdelgadillo commented on #1179
Never mind.  It was a mis-configured IngressRoute.  Service name did not match the deployed service for `logs`

[2019-06-22 07:22] davecheney commented on #1179
The only path matching we support at the moment is prefix path matching. As Envoy matches routes in the order we present them to it, we sort the `match:` cases provided to us in descending order so that the most specific prefix takes precedence.

[2019-06-23 12:38] odacremolbap opened #1191 "docs: Contributing nits on Pulling and Building"
**Go command missing?**

Probably a typo at https://github.com/heptio/contour/blob/master/CONTRIBUTING.md#fetch-the-source
[code]
I guess there should be a `get` in there

**Building**

- Default `make` target executes `install`, which will create put the binary in `$GOPATH/bin/contour` instead of  `current working directory`
- It would also be worth replacing `go build` with `go build ./cmd/conto

[2019-06-24 00:32] davecheney commented on #1191
@youngnick would option have time to look at this this week?

[2019-06-24 05:08] youngnick commented on #1191
Yes, definitely.

[2019-06-24 15:14] phylake opened #1192 "configurable default circuit breaking config"
Contour allows circuit breaking fields such as max connections to be configured via annotations. If unset then the Envoy defaults are used. These defaults are much too low, and were one of the callouts at EnvoyCon with regard to sensible defaults in Envoy.

Providing a way to increase these for all IngressRoutes would be ideal. As operators of Contour we'd like to provide some more sensible defaul

[2019-06-25 06:02] youngnick commented on #862
Progress so far:
- I've got a working `contour serve` that takes the three TLS params (`cafile`, `cert-file`, and `key-file`), and serves gRPC over TLS using them.
- I've got `contour cli` able to talk to contour using similar params to that command.
- I've got `contour bootstrap` able to bootstrap an Envoy that will connect to contour and work.

Questions I have for interested parties as I get st

[2019-06-26 17:20] shabx commented on #1169
@davecheney , I brought your question with @pickledrick - Peter confirmed that checking in Contour versions > 0.12.1 is more strict and Contour and does not pass the object to Envoy so we don't see the error returned from Envoy.

We have updated the ticket and told the customer if this is good enough. It looks like they were looking for a proper error message in the logs when there is a malformed

[2019-06-26 18:05] odacremolbap commented on #1181
I'll start working on this one if that's ok with you.
@stevesloka @davecheney

[2019-06-27 02:15] davecheney commented on #1181
Go for it!

[2019-06-27 02:21] davecheney commented on #1169
Thanks for the update.

The problem with reporting an error on a malformed secret is where to do so,

Logging to contour’s stdout is the obvious place but this has several drawbacks.

- those logs may not be accessible to the end user, they may not have permission to tail the logs of a container in the heptio-contour namespace.
- these logs are likely to be verbose as a naïve implementation will e

[2019-06-27 05:06] #1191 closed

[2019-06-27 13:34] odacremolbap commented on #1141
I'd like to tackle this one

btw, current parsing for both flags is logging a deprecation warn for `0.14` and doing nothing with those vars.
https://github.com/heptio/contour/blob/master/cmd/contour/contour.go#L172-L178

I don't know if that's the intended behaviour, I would expect those vars to be working despite the warning. I'll read the history of the issue, I'm sure I'm missing something.

An

[2019-06-27 13:39] odacremolbap commented on #1141
I guess this change will require a changelog entry.

How do you manage changelogs? Is there a file I should add an entry to, a label, or some other automated mechanism?

[2019-06-27 14:21] davecheney commented on #1141
Go for it.

For changelogs I generate the release notes by hand from the issues and PRs in the milestone.

[2019-06-27 14:32] #1181 closed

[2019-06-27 16:16] stevesloka opened #1196 "docs: update deploy-options.md for kind"
**Describe the solution you'd like**
Since the 0.4.0 release of kind, it's now possible to expose ports to the local machine when creating a cluster. This eliminates the need to `port-forward` to the Envoy pod when testing Contour.

[2019-06-27 22:16] #1141 closed

[2019-06-27 23:27] shabx commented on #1169
Thanks @davecheney . I'll update the customer.

[2019-06-28 01:36] youngnick commented on #1127
Picking up this one to work on in tandem with #862

[2019-06-28 02:28] bgagnon commented on #399
The approach we have taken for structured logs (#624) without having to fork Contour is to introduce a middleware gRPC proxy between Envoy and Contour and active the gRPC Access Log Service (ALS).

This effectively augments the xDS responses "in flight" to enable certain features (such as ALS) for which Contour does not have a design yet (or may never implement for various reasons). We can also re

[2019-06-28 02:33] #1173 closed

[2019-06-28 02:43] #1196 closed

[2019-06-28 03:38] moderation commented on #399
Another potential option is to re-use or modify the FluentD plugin from Google that is covered at [Envoy, Nginx, Apache HTTP Structured Logs with Google Cloud Logging](https://medium.com/google-cloud/envoy-nginx-apache-http-structured-logs-with-google-cloud-logging-91fe5965badf#23ee)

[2019-06-30 18:29] odacremolbap commented on #1167
Can I be assigned this one?

[2019-06-30 22:40] davecheney commented on #1167
Go for it. If the implementation turns out to be more than trivial, please [talk about your change](https://github.com/heptio/contour/blob/master/CONTRIBUTING.md#before-you-submit-a-pull-request) in this issue before sending code. Thanks

[2019-06-30 23:26] odacremolbap commented on #1167
Thanks,

I was thinking on doing a very simple regexp at [dag.validIngressRoutes](https://github.com/heptio/contour/blob/master/internal/dag/builder.go#L336), looks fairly trivial.
Regarding CRD, it looks like the regexp already does the filtering.

I'll pseudo code and share before pushing the PR.

[2019-06-30 23:56] davecheney commented on #1167
no regex please, a simple strings.Contains will suffice.

Sent from my iPad

[2019-07-01 04:22] travisghansen commented on #986
For those interested and when the time comes that `contour` supports external/forward auth: https://github.com/heptio/contour/issues/432#issuecomment-503142288

[2019-07-02 03:10] davecheney opened #1204 "Contour should move to a leader election model"
Currently each Contour pod watches the API server and produces its own copy of the dag which it passes to a listening Envoy.

Once #881 is completed we will be able to decoupled the lifecycle of Contour and Envoy. This will allow us in turn to point Envoy to the ClusterIP of the active Contour instance. By deploying several contours, but having only one active at a time.

Related:
- [ ] #1178

Blo

[2019-07-02 18:26] jdelgadillo opened #1205 "Seeing several 503 requests from Contour under load"
**What steps did you take and what happened:**
We have a service/pod deployed with a Contour IngressRoute configured for external access.  When we test with simultaneous users/requests, we see several 503 replies coming from contour.  If we eliminate Contour and use a Proxy to go directly to the service/pod, the 503 errors go away.

Here is documentation of the steps taken to reproduce the issue:

[2019-07-02 20:41] stevesloka opened #1206 "internal/dag: Missing secret rebuilds dag constantly"
**What steps did you take and what happened:**
Create an IngressRoute using an invalid secret name (e.g. missing), Contour gets stuck `performing delayed update` over and over. Deleting the `tls` stanza stops the updating.

[code]

**What did you expect to happen:**
Contour would mark the IngressRoute as `invalid` and stop rebuilding.

**Environment:**

- Contour version: master
- Kubernetes versi

[2019-07-02 20:47] stevesloka commented on #1206
Running against my kind cluster (v1.15) I get the continuous update, against my EKS 1.12 cluster I don't.

[2019-07-02 21:29] davecheney commented on #1206
This will be because setting the status message triggers the
ingressroute object to change, hence the loop.

On Wed, 3 Jul 2019 at 06:47, Steve Sloka <notifications@github.com> wrote:

[2019-07-03 03:28] youngnick commented on #862
Oops, this issue was closed in error - the code to support this is in place, but documentation updates are not. Reopening until PR #1203 is done.

[2019-07-03 05:08] mwhittington21 opened #1207 "Default envoy grafana graph reports latency metrics in seconds and not milliseconds"
**What steps did you take and what happened:**

I installed Contour v0.13.0 and Envoy v1.10.0 and looked at the newly enabled latency metrics in the default provided envoy dashboard. The latency looked very high, and after a little bit of research it seems that the graph is tuned wrong. [The Y axis of the graph should be in milliseconds and not seconds.](https://www.envoyproxy.io/docs/envoy/latest