[2018-07-05 17:54] alexbrand opened #513 "Perform full validation of IngressRoute resources to protect from missing CRD validation"
We rely on the API server to perform validation of IngressRoute resources via the CRD validation implemented in https://github.com/heptio/contour/pull/441

This validation is encoded in the CRD's deployment manifest, but it is possible for a user to deploy the CRD without it.

[2018-07-05 18:10] #511 closed

[2018-07-05 19:59] alexbrand opened #514 "Validate that services have consistent load balancing strategies and health checks across all IngressRoutes"
The load balancing strategy and health check parameters are specified at the route, instead of at the service. Thus, we need to make sure that all routes that reference a certain service are using the same load balancing strategy and health check configuration.

[2018-07-05 20:04] alexbrand opened #515 "Add ability to specify default LB strategy and health check"
The IngressRoute specification supports providing an overall LB strategy and health check that applies to all services found inside the given IngressRoute:

[code]

[2018-07-05 20:31] stevesloka opened #517 "Validation: Set status on IngressRoute if TLS secret invalid"
If an IngressRoute specifies a secret used for TLS certificates and that secret does not exist, the `status` field on the IR should be updated with an appropriate message.

Current implementation ignores the secret if issue: https://github.com/heptio/contour/blob/master/internal/dag/dag.go#L375

// ref https://github.com/heptio/contour/issues/458

[2018-07-05 22:50] davecheney commented on #499
Thanks for confirming. Even though contour's container is well behaved the issue causing Envoy to grow huge might be contour's fault; something with the way we're communicating with Envoy perhaps. I'm going to keep this issue open as a high priority, but also reference #443 which we'll do whenever we start on the 0.7 cycle (probably august)

[2018-07-06 03:31] rosskukulinski opened #518 "Typo in health check Host header"
`contour-envoy-heathcheck` should be `contour-envoy-healthcheck`

It's in the design doc, code comments, and the actual default Host header used by Envoy.

[2018-07-06 04:16] davecheney commented on #518
Ten points for being consistent
But, minus one hundred for making this typo.

I’ll try to fix this for beta.1 this werk.

[2018-07-06 05:42] #490 closed

[2018-07-06 11:03] stevesloka opened #520 "Reject invalid service configuration"
If a service is configured which does not exist in the cluster, Contour will still pass that to Envoy and the result will be the caller will receive 503 errors. Contour should not allow a route to be created which points to an invalid service.

[2018-07-06 12:41] alexbrand opened #521 "Refactor and improve dag's processIngressRoute function"
The current implementation of the processIngressRoute function works, but it takes a rather long list of parameters. Most of these parameters can actually live on a struct given that they are either accumulating results or remaining unchanged while recursing.

[2018-07-06 12:58] davecheney commented on #521
I'm going to move this up to beta.2, i have a feeling that we're going to be spending a lot of time in that code over the next month and this change is either going to fall out of a refactoring naturally, or we're going to frustrated with it enough that we'll just do the work.

[2018-07-06 19:39] alexbrand opened #523 "panic in contour when there is a high rate of churn of IngressRoute resources"
While running performance tests for Gimbal, I noticed that Contour was crashing with an index out of range runtime error.

I was able to reproduce the issue using the internal/e2e test framework. The test can be found here: https://github.com/alexbrand/contour/tree/rate-bug

I have seen a couple of different stack traces, but they are all index out of range inside the `route.pb.go` file from envoy

[2018-07-06 19:46] stevesloka opened #524 "Update IngressRouteStatus back to API Server"
Currently, #469 takes the resulting IngressRouteStatus and print's it to stdout. We need to push that status back to the IngressRoute object in the k8s api.

I plan to pick up the client-go lister to allow for us to check the status of the IngressRoute object without requiring a round trip to the server.

[2018-07-06 20:03] alexbrand commented on #523
I ran the test with the race detector enabled. We have a data race in resources.go, when we are sorting  the resources. This is one of the data races detected:

[code]

[2018-07-06 20:19] rosskukulinski opened #525 "IngressRoute Metrics"
Contour prometheus metrics will break down:

1. [ ] the count of IngressRoutes by namespace
2. [ ] count of root domains by namespace
3. [ ] count of orphaned ingressroutes by namespace
4. [ ] count of valid routes by namespace.
5. [ ] count of invalid routes by namespace

(1) = (3 + 4 + 5)

[2018-07-06 20:28] rosskukulinski commented on #465
Dupe of #437.  Would be implemented in ingressroute regardless.

[2018-07-06 20:28] #465 closed

[2018-07-06 21:12] mattalberts commented on #499
## Update ~ contour:master
Based on interested, I've update to ```contour:master``` and re-run tests.   The results are largely the same; though, the slope of the slope of the line plotting memory growth is lower.

@davecheney
@alexbrand

### Observation ~ Adding Ingresses
[code]

<img width="981" alt="contour_master_envoy_mem_fill_with_n_ing" src="https://user-images.githubusercontent.com/6054865

[2018-07-06 21:42] rosskukulinski commented on #445
I'm moving this to the beta.2 milestone as it may be required for https://github.com/heptio/gimbal/issues/72 and/or supporting large numbers of endpoints, services, and ingressroute objects.

[2018-07-07 02:38] davecheney commented on #499
Thanks for the update.

Just to confirm, the large process is envoy, not contour? Is that correct?

Looking at the stack trace you supplied the underlying issue might be due to contour constantly updating lds which introduces new ssl certificates to the https listener. This might be causing, or exposing an underlying issue in envoy.

[2018-07-07 02:43] davecheney commented on #445
SGTM. I have some ideas for how this can be implemented for beta.2. It feels like a two or three day job.

[2018-07-07 02:45] davecheney commented on #523
Good find. Let’s add -race tests to make check as part of CI.

Another idea might be to build :master images with -race so we can catch this stuff during development.

[2018-07-07 04:26] davecheney opened #526 "Add -race test to make check target"
#523 showed that a data race was introduced recently. We should add a -race target to `make check` and possibly consider building development images with -race to catch this sooner.

Marking as beta.2 because we can probably live with it til then.

[2018-07-09 02:11] davecheney commented on #523
Thanks for the repro case, i've got a fix coming today.

[2018-07-09 02:12] davecheney commented on #526
Fixed in #527

[2018-07-09 02:12] #526 closed

[2018-07-09 03:36] #447 closed

[2018-07-09 04:07] davecheney commented on #449
Closed by 3d87eb6f5d60e2976975f6f8cc75f1277b166f44

[2018-07-09 04:07] #449 closed

[2018-07-09 14:05] #450 closed

[2018-07-09 14:47] alexbrand opened #530 "Mismatch in the allowed load balancing strategies in the CRD validation spec"
The following LB strategies are allowed at the default level:

[code]

but the following are allowed at the service level:

[code]

These lists should be the same.

[2018-07-09 18:53] #530 closed

[2018-07-10 00:39] stevesloka opened #533 "internal/adapter: Filter out duplicate updates before DAG rebuild of IngressRoute's"
An update of an IngressRoute status will cause new updates of the DAG. Need to add some checks to see if the update should be a no-op and dropped.

[2018-07-10 00:57] davecheney opened #534 "Upgrade to latest envoy/go-control-plane"
envoyproxy/go-control-plane#92 improved the proto stubs to make it easier to work with from Go types. This should make working with healthcheck nicer, however it will cause some compile failures due to a change in the types.

[2018-07-10 05:31] #524 closed

[2018-07-10 05:43] davecheney opened #535 "Restore staticcheck and unused make targets"
Staticcheck and unused are broken upstream, dominikh/go-tools#295

Restore staticcheck and unused once dominikh/go-tools#295 is resolved.

[2018-07-10 07:43] davecheney commented on #534
Started to work on this and am currently on the 7th level of bugs in dep hell.

[2018-07-10 12:52] yob opened #537 "Support inbound http/1.0 requests"
Hi, thanks for a great tool. We're using contour in production and love the flexibility it provides.

We're noticed that contour 0.5 (and envoy 1.6.0) doesn't support inbound http/1.0 requests:

[code]

[code]

This isn't a deal breaker for us, but we're building an API product and expect at least some of our clients may attempt a http/1.0 request and it'd be nice to send them a 301 to a TLS URL.

[2018-07-11 00:56] davecheney commented on #537
Thank you for raising this issue. TBH I'll have to refresh myself on the nuances of HTTP/1.0 requests and how they differ from HTTP/1.1. This looks like a pretty simple feature to add, and I think if its possible, we'll just turn it on for everyone.

One wrinkle that might come up, and i'm sketchy on the details because its' been so long, is the handling of the `Host:` header in http/1.0, somethin

[2018-07-11 13:43] alexbrand opened #540 "Improve UX around IngressRoute root namespaces flag"
Currently, the user must set the `--ingressroute-root-namespaces` flag multiple times to allow root ingressroutes in multiple namespaces. Additionally, special characters such as commas are being allowed in the value of this flag.

A couple of improvements that we could make:
- [ ] Validate that the incoming namespace(s) does not have any special characters, and adhere to kubernetes naming require

[2018-07-11 13:52] davecheney commented on #540
Is it possible to create a namespace with a comma in it? I tried and failed with k8s 1.9.7
[code]

[2018-07-11 13:55] davecheney commented on #540
kingpin, the flag parsing library already gives us a slice of values for free
[code]
^ slightly modified contour to confirm this.

[2018-07-11 14:24] alexbrand commented on #540
Hmm. What changes did you have to make? I tried and including a comma resulted in a slice with len=1 and a single value = `a,b,c`

[2018-07-11 23:34] davecheney commented on #540
[code]

[2018-07-11 23:35] davecheney commented on #540
hmm, let me double check, that output might be sending me down the wrong path.

[2018-07-11 23:36] davecheney commented on #540
@alexbrand i'm sorry, you were correct
[code]
I'm sure kingpin can handle the first form, let me see if I can figure it out.

[2018-07-12 01:39] #535 closed

[2018-07-12 02:44] yob commented on #537
Thanks. As I say, it's not a deal breaker for us - I just wanted to capture the issue as a "nice to have".

Maybe it'll even save others a bit of research time if they wonder why `ab` tests don't work on a contour service (like I did.....)

[2018-07-12 05:44] yob opened #546 "No way to log the real client IP on Google Kubernetes Engine"
Applications behind contour/envoy currently have no way to know the IP address of the real client - they only see the IP of the GCP load balancer.

This manifest as logs with a GCP private IP as the client IP:

GCP L4 Load Balancers support a [PROXY mode](https://cloud.google.com/load-balancing/docs/tcp/setting-up-tcp#proxy-protocol) that can provide these details to contour/envoy, and contour/env

[2018-07-12 05:48] davecheney commented on #546
Thanks for raising this issue. At the moment contour supports using the [proxy protocol on listeners](docs/proxy-protocol.md) but the Kubernetes Service document lacks support for an annotation to enable this on GCP load balancers.

[2018-07-13 07:50] 01deyishu opened #547 "Failed to define envoy listen port with hostNetwor=true"
When I deploy a contour with hostNetwork=true , I need change envoy listen port, the default config is 8080(https://github.com/heptio/contour/blob/master/deployment/ds-hostnet/02-contour.yaml), and I want envoy listen 80. just like:
[code]
But when I run ```  netstat -nutlp | grep envoy``` , the output is
[code]
and the pods was restart before I check the listen port.

[2018-07-13 08:34] davecheney commented on #547
Thank you for raising this issue. Please try this configuration change
[code]

[2018-07-13 08:35] #534 closed

[2018-07-13 09:53] 01deyishu commented on #547
@davecheney  Thanks for your response! this args works normally.

[2018-07-13 09:53] #547 closed

[2018-07-13 15:07] fraenkel commented on #537
Just need to tweak the envy config:
see https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#core-http1protocoloptions

[2018-07-14 02:46] fraenkel commented on #537
One way is off a cluster, set the http_protocol_options or did I miss something?

[2018-07-14 03:02] davecheney commented on #537
I’m honestly not sure, the original issue was envoy returning a 426 when it got a http/1.0 request. I haven’t dug into it at all, but it feels to me that this processing would happen before the request got to the point of choosing a cluster.

[2018-07-14 03:05] fraenkel commented on #537
The other way is off the connection_manager which is a network filter, but I haven't figured out where that comes into play.

[2018-07-14 03:09] davecheney commented on #537
That’s where I’m thinking the change probably needs to sit.

[2018-07-14 03:12] fraenkel commented on #537
You have the http_connection_manager already in the current config, now you just need to know when/what to set the http1 protocol config.

[2018-07-18 02:34] #521 closed

[2018-07-18 02:39] #506 closed

[2018-07-18 21:03] mattalberts opened #556 "Add command-line control for logrus log-level"
@davecheney

If you're interested, I've added a command-line option to configure the logrus log-level. I added the option to serve command (rather than globally to the app), happy to move it if you prefer a wider scope.

Example
[code]

[2018-07-19 20:10] rosskukulinski opened #560 "Improve root-ingressroute-namespaces configuration"
For 0.6, defining which namespaces are [allowed to create](https://github.com/heptio/contour/blob/master/docs/ingressroute.md#restricted-root-namespaces) root ingressroute objects is defined using a `--ingressroute-root-namespaces` CLI flag to contour.  Currently this must be defined once per allowed namespace, though #540 will allow comma-separated definition of namespaces.

Updating the list of

[2018-07-19 21:43] mattalberts commented on #399
@bobbytables @davecheney
I loved this suggestion (replacing contour bootstrap with a ConfigMap mounted volume); it's fantastically simple.  I'm also trying to enable tracing (span injection) at the ingress controller; here's the results of my experiment.

TL;DR
  * configuring envoy opentracing manually (without bootstrap) is easy
  * envoy.http_connection_manager still needs a "tracing" definitio

[2018-07-19 21:58] AntonioMeireles commented on #43
(curious)  there's any progress on this ?

[2018-07-19 22:06] davecheney commented on #43
@AntonioMeireles not yet I'm afraid.

[2018-07-21 09:56] stephenmoloney opened #568 "Minor syntactical change proposal"
***Issue:***

A line like this:

[code]

is a bit long for my liking with the potential to be even longer if using amendments.

***Suggestion:***

Syntax changes to break the arguments over multiple lines - example outlined below:

[code]
I'm happy to make a PR for this proposal....

[2018-07-21 16:39] andrewwebber opened #569 "Support HTTP2 ingress.kubernetes.io/secure-backends: "true""
I am considering migrating from [https://github.com/zlabjp/nghttpx-ingress-lb](nghttpx-ingress-lb) which has served me well as one of the first http2/grpc ingress controller.

From a security point of view, proxying a secure backend is critical for me as well as controlling HTTP2/HTTP1.1 protocols.

nghttpx-ingress-lb accomplished this with the following annotations .

[code]

[2018-07-22 01:01] davecheney commented on #568
Sure thing. I actually thought that some of the manifests used that format. It doesn’t help that the apiserver will normalise it onto one line if you round trip through it via kubectl get -o yaml, but please do send a pr.

A lot of those arguments are required by envoy, maybe in the future they can be made optional.

[2018-07-23 10:04] davecheney commented on #569
Thanks for raising this issue.

Did you mean nginx.ingress.kubernetes.io/secure-backends: "true" ? See https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md

For ingress.zlab.co.jp/backend-config:, contour already supports some of the aspects of this as an annotation on the service object, https://github.com/heptio/contour/blob/master/docs/annot

[2018-07-23 10:11] andrewwebber commented on #569
My understanding was that **ingress.kubernetes.io/secure-backends** was not nginx specific but ingress controller agnostics.

A vault operator [example](https://coreos.com/tectonic/docs/latest/vault-operator/user/ingress.html)
[code]

[2018-07-23 10:17] davecheney commented on #569
Thanks. You're probably right, but dang those annotations are hard to
google.

On 23 July 2018 at 20:11, andrew <notifications@github.com> wrote:

[2018-07-23 10:58] davecheney opened #573 "internal/e2e: make e2e tests use workgroup"
The e2e tests have their own home grown goroutine manager. Can they use github.com/heptio/workgroup?

[2018-07-23 10:59] davecheney opened #574 "internal/k8s: emit prometheus metrics for ResourceEventHandler metrics"
Updates #445

Add a wrapper type, similar to the old k8s.buffer that emits prom metrics for

- the number of onadd, update, and delete methods, respecitvely
- a histogram of the duration for handling those events.

[2018-07-23 11:01] davecheney opened #575 "internal/contour: add prometheus metrics for cachehandler operation"
Updates #445

Emits prom metrics for

- the count of calls to dag.Compute
- a histogram of the duration for handling those calls.

[2018-07-23 11:07] davecheney opened #576 "internal/contour: reimplement contour.ResourceEventHandler.update as a callback"
Updates #445

Currently, dag.ResourceEventHandler.OnAdd/Update/Delete calls dag.ResourceEventHandler.CacheHandler.update directly. Separate these two with an interface where the former calls back to the latter passing a *dag.Builder, or a suitable interface.

[2018-07-23 11:12] davecheney opened #577 "internal/contour: add holdoff delay between ResourceEventHandler notifications"
Requires #576

After contour.ResourceEventHandler and contour.CacheHandler are decoupled via an interface. Insert a type between those two to insert a delay between forwarding notifications from the former to the latter.

Each update is delayed by 100ms, or a maximum of 500ms since the last update was sent.

Something like this
[code]

[2018-07-23 18:29] mattalberts commented on #556
@davecheney

Following up from the PR. I thought I'd capture some contour log information and share it to see what/where we'd like to do. I'll try to share enough information to make the results reproducible.

### tl;dr
  * idle log rates at 128 services/ingress (per replica)
    * ~ 138 lines/sec
    * ~ 33012 bytes/sec
  * live log rates
    * ~ 151 lines/sec
    * ~ 38692 bytes/sec

That's abou

[2018-07-23 19:01] alexbrand commented on #540
Looked into kingpin being able to handle this out of the box, but it seems like the user is expected to repeat the flag according to the current design (https://github.com/alecthomas/kingpin/issues/55#issuecomment-125070038). The documentation around this feature is almost non-existent.

I can think of two options:
1. Continue using a slice flag. Iterate over all the incoming slices, split them on

[2018-07-23 21:30] stephenmoloney commented on #568
ref #578

[2018-07-23 22:58] #568 closed

[2018-07-23 23:20] #525 closed

[2018-07-23 23:34] davecheney commented on #540
Go with option 2, write a little helper that uses strings.Fields (from
memory) to split each element in the slice.

On 24 July 2018 at 05:01, Alexander Brand <notifications@github.com> wrote:

[2018-07-24 00:46] rosskukulinski commented on #496
duplicate of #575

[2018-07-24 00:46] #496 closed

[2018-07-24 03:18] stevesloka opened #579 "Disable panic threshold"
When setting healthchecks on an upstream, the panic threshold might confuse users: https://www.envoyproxy.io/docs/envoy/v1.6.0/intro/arch_overview/load_balancing#panic-threshold

The default is 50%, but we should disable it for now.

[2018-07-24 03:21] davecheney commented on #579
I suggest setting it to 100% or whatever kicks out backends which fail their health check. That seems the easiest to document and is pretty defensible; if you fail your helthcheck we won’t even talk to you til you start passing again.

[2018-07-24 10:12] #576 closed

[2018-07-24 14:47] rosskukulinski opened #581 "Contour does not correctly/consistently processes updates to services weights"
Remaining work:

- [X] Support duplicate Service usage with different weights [Fixed in #635]
- [x] Support duplicate Service usage with different strategies
- [ ] Support duplicate Service usage with different health check properties

---

It's possible to reference a single Service multiple times in a single IngressRoute, each with a different LoadBalancer Strategy, HealthCheck, or Weight.  Simi

[2018-07-24 15:33] mattmoyer commented on #432
+1 for this feature. I'd love to have some Contour backends protected by the `ext_authz` filter in the style of an API gateway.

Envoy docs for the feature, since it doesn't look like those have been linked here yet:
https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/ext_authz_filter.html

[2018-07-24 16:38] mattalberts commented on #399
My initial work used a command-line option ```--enable-tracing``` to globally add the tracing definitions to all listeners.  Looking through the annotations, it might make more sense to expose this as an annotation. Which would be preferred?
  1. per-service annotation enable?
  1. global enable with per-service annotation disable?
  1. global enable?

I'm leaning towards 1 or 2.

[2018-07-24 19:46] jhohertz commented on #370
Just dropping a reference into this ticket... The [Lyft reference implementation for rate limiting in envoy](https://github.com/lyft/ratelimit) would require some support to work with Contour, to:

- allow configuration of the ratelimit gRPC service into the data-plane
- some annotation sugar for Ingress (and I guess IngressRoutes too?) to allow setting the ratelimit configuration at each ingress

[2018-07-25 03:04] rosskukulinski commented on #581
@davecheney PTAL for your thoughts before vacation.  @stevesloka has offered to dig into the issue, but I think he wanted to hear your thoughts on (2) vs (3) and/or other ideas.

[2018-07-25 11:43] #575 closed

[2018-07-25 12:13] #574 closed

[2018-07-25 12:14] davecheney commented on #445
Now only one issue remains for this ticket I'm closing it as a duplicate of #577

[2018-07-25 12:14] #445 closed

[2018-07-25 20:10] rosskukulinski commented on #579
@davecheney I'm on board with completing this for beta.2

[2018-07-25 21:07] #540 closed

[2018-07-26 00:41] rosskukulinski commented on #579
For this milestone, we will disable this feature in envoy.

For a future release, we might consider making this configurable.  @stevesloka would you mind opening a separate issue for making this configurable? [Or move this to 0.6.0 and open a new one for hardcoding]

[2018-07-26 01:34] davecheney opened #588 "metrics: move the prometheus /metrics endpoint to its own port"
Currently the prometheus /metrics endpoint shares a http listener on port 8000 with the /debug endpoints. We probably don't want to expose the /debug endpoints to 0.0.0.0 so the easiest way would be to move /metrics to its own http listener; a clone of internal/debug, which listens on 0.0.0.0, say port 8002

- [x] move /metrics to its own http listener (maybe clone internal/debug into the metrics

[2018-07-26 01:48] davecheney opened #589 "gopkg.toml: upgrade to latest go-control-plane"
https://github.com/envoyproxy/go-control-plane/pull/92

Integrate these changes, taking care to also bring in the grpc and gogo deps.

[2018-07-26 10:11] davecheney opened #591 "internal/contour: convert HoldoffNotifier debug logging to a metric"
Issue #577 introduced a bunch of logging for k8s watcher update events. This should be converted to a prometheus metric or dropped before 0.6 final.

[2018-07-26 10:14] davecheney opened #592 "internal/contour: make HoldoffNotifier delay constants configurable"
#577 introduced a HoldoffNotifier type which is hard coded to a 100ms/500ms delay. This makes it unsuitable for use with our e2e tests so it is not currently used in the e2e path.

Investigate making the holdoff delays fields on the HoldoffNotifier itself and possibly use smaller values in the e2e tests.

[2018-07-26 10:14] #577 closed

[2018-07-26 14:53] alexbrand opened #595 "Support enabling websockets via the IngressRoute resource"
Contour supports an annotation on Kubernetes Ingress resources that enables websockets for specific routes. We should support this in the IngressRoute resource, either via a new field or an annotation.

Additionally, we should figure out and document how to make the AWS ELB work with websockets. We did some quick testing with a hacked version of contour (that defaulted all routes to `use_websocket

[2018-07-26 23:05] #588 closed

[2018-07-26 23:58] #579 closed

[2018-07-31 05:47] davecheney commented on #581
I won't be able to work on this for a few days, but I wanted to write down my thinking on how to approach this issue, both for my recollection, and anyone else who is watching this issue.

Currently ingressroute objects specify things like health checks, load balancer config, timeouts, etc on the `spec.path` key. So those attributes are properties of the _route to a service_, not the _service itse

[2018-07-31 09:04] davecheney opened #597 "Upgrade to go 1.11 for Contour 0.7"
I've been unreliably informed that Go 1.11 will be out by the end of August. This lines up with the post 0.6 release so there should be no problem with Docker image availability or .travis.yml

- [ ] update `Dockerfile` to Go 1.11, don't forget `Dockerfile.race`
- [ ] update `.travis.yml` to Go 1.11

[2018-07-31 09:07] davecheney opened #598 "Switch from Dep to go modules"
Requires #597

https://go-review.googlesource.com/c/go/+/124384 introduces support for a `v8.0.0+incompatible` annotation in the `go.mod` file which should provide a bridge between semver dependencies and go 1.11 Semantic Import Versioning requirement. This will let us update `go.mod` without having to wait for `k8s.io/client-go` to rewrite the repository.

[2018-07-31 13:29] stevesloka commented on #515
I was going to work on this but think it's best to wait for #581 to be closed since they are closely related.

[2018-07-31 13:36] stevesloka commented on #514
This is very similar to #581 and should be addressed in the fix for that issue since it's describing `weights` but lbStategies and health checks fall in to the same problem space.

[2018-07-31 18:28] rosskukulinski opened #599 "Contour & Envoy memory usage"
I have been doing some performance testing to evaluate the memory usage of Contour & envoy as the number of IngressRoutes & Services increase.

I've noticed that Contour & Envoy memory increases considerably as the IngressRoutes & Services are being created, but a fresh-restart of Contour/Envoy results in a much-lower memory footprint.

Steps to reproduce:
*  I have a set of Pods (4x nginx) that m

[2018-07-31 18:31] stevesloka commented on #599
I'm curious @rosskukulinski if after you create the 2k objects, could you try deleting? Does the memory go down?

[2018-07-31 19:14] rosskukulinski commented on #599
@stevesloka
![screen shot 2018-07-31 at 3 13 46 pm](https://user-images.githubusercontent.com/2746479/43481597-62f4abd6-94d4-11e8-95f3-bf1570eb2059.png)

It took a while, but Contour did eventually start shedding memory

[2018-07-31 19:49] alexbrand commented on #595
I have an initial implementation of this with an annotation on the IngressRoute CRD.

With that said, I can see us creating a proper field in the IngressRoute CRD, specifically on the route, to enable websocket support:

[code]

@davecheney @stevesloka @rosskukulinski What are your thoughts around this?

[2018-07-31 19:50] rosskukulinski commented on #599
And I'm doing this with 1 contour, 5 envoys

[2018-07-31 21:00] alexbrand commented on #592
Started looking into this. The challenge here I think is getting it wired into the e2e tests. If we make the delay > 0, it seems like we will have to make our tests assert multiple times with a timeout, and somehow have access to the delay and maxDelay params to know what value to use as timeout.

Open to ideas if there's a better approach here.

[2018-07-31 23:33] davecheney commented on #599
Hi Ross,

What’s the scale on this graph? I my testing I’ve not seen contour use more than 55mb of heap.

Note, this is measured by contour using the go runtimes GODEBUG=gctrace=1 flag

[2018-07-31 23:34] davecheney commented on #592
If this is hard then skip it, testing timeouts is messy. I’d prefer to test the hold off notifier in isolation.

[2018-08-01 01:10] stevesloka commented on #599
@davecheney the left side is `GiB` and the bottom is time. I did the same test on my machine and Contour got to just over 7GiB memory. After some time it dropped down to around 3Gib which is where it's sitting now.

I can try and re-run the test with the flags you mentioned.

Here's a graph from my last run over 6 hours:
<img width="1551" alt="screen shot 2018-07-31 at 9 08 18 pm" src="https://use

[2018-08-01 17:58] stevesloka commented on #599
Looks like (if I read the pprof correctly) is the memory usage is in the gRPC server:

[code]

[2018-08-01 18:52] rosskukulinski commented on #595
I think it's the appropriate location for the flag, but I wonder if we should consider other naming:

* `websocketUpgrade: true` [this is what the Istio VirtualService CRD uses]
* `enableWebsockets: true`

If we're going to enable websocket support, however, we probably should also enable session affinity.  That's a key thing for systems like socket.io

[2018-08-02 19:04] alexbrand commented on #591
Looking at the log statements in the HoldoffNotifier, it seems like we could produce two metrics:
- Timestamp of the last update (or time since last update)
- Time until next update

Is this in line with what you had in mind @davecheney?

My initial thoughts here is that, given that the delay window is so small (max of 500ms), I am not sure if there's value in having these metrics.

[2018-08-02 19:30] alexbrand commented on #595
Thanks @rosskukulinski. I don't have strong opinions between the two naming options.

I did a bit of research on how to do sticky sessions in Envoy and it [looks like it can be done using a hash-based load balancer.](https://groups.google.com/forum/#!topic/envoy-users/POeaHFJI2W4).

Do you see session affinity as a prereq for websockets support? I have some of the initial work for websockets ready

[2018-08-02 19:38] rosskukulinski commented on #595
It's not a prereq, but I do know that in node.js land, [socket.io](https://socket.io/) typically does a few non-websocket Handshakes to the Server before eventually upgrading to Websockets.  If you don't have sticky-sessions, the upgrade never works.

I think we can separate the two.

[2018-08-02 20:51] stevesloka commented on #599
I did the same test again looking at the go stats that get outputted from Contour, here are those graphs. The interesting piece is how the go routines top out at 10k. The graph shows a 3 hour window where I incrementally increased the Services/IngressRoutes, then the system sat idle to see how it reacts.

<img width="1661" alt="screen shot 2018-08-02 at 4 50 05 pm" src="https://user-images.githubu

[2018-08-02 21:03] davecheney commented on #599
My guess is grpc models each StreamEndpoints connection as a goroutine, if
each goroutine had a stack of 8kb and there are 10,000 of them, that's 2gb
of heap.

I'm not sure what can be done about this.

On 3 August 2018 at 06:51, Steve Sloka <notifications@github.com> wrote:

[2018-08-03 15:22] alexbrand opened #601 "Root IngressRoutes that define the same FQDN can result in conflicting ingress configuration"
Currently, it is possible to define multiple root IngressRoutes that specify the same FQDN. Conflict can arise when two (or more) IngressRoutes define the same FQDN + path combination but point the route to a different service. For example:

[code]

One potential solution is to enforce that a given FQDN can only be used in a single Root IngressRoute.

xref: https://github.com/heptio/gimbal/issues/

[2018-08-03 15:53] alexbrand commented on #455
Started looking into this.

Given that we want the default to be `allowHttp = true`, we need to use a pointer in the VHost struct and treat `nil` as an equivalent to `true`. I have an initial implementation with this approach. I added an `httpAllowed` field to the ingressRouteProcessor, and we check that field to determine whether we should add the route to the VHost on port 80.

The one thing I a

[2018-08-03 17:05] rosskukulinski commented on #510
This should also include the situation when the delegated namespace does not exist.

[2018-08-03 18:57] alexbrand opened #602 "Scaling a deployment to zero replicas does not remove endpoints from EDS"
I think the problem is here: https://github.com/heptio/contour/blob/master/internal/contour/endpointstranslator.go#L72

When scaling a deployment to zero, the Endpoints object has zero subsets, which causes Contour to basically ignore the update.

#### Steps to reproduce:

1. Create a deployment
[code]

2. Create an ingressroute for the deployment

[code]

3. Verify that nginx is accessible via th

[2018-08-03 19:42] alexbrand opened #603 "Envoy does not remove endpoint after it's been removed from the Kubernetes Endpoint object when health checking is enabled"
When active health checking is enabled, Envoy does not seem to remove endpoints from the ClusterLoadAssignment when endpoints are removed from the Kubernetes Endpoints object.

There is an Envoy Cluster option that I suspect is related to this:

(https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto)

xref: https://github.com/heptio/gimbal/issues/208

#### Steps to reproduce:
1. Crea

[2018-08-05 07:49] davecheney commented on #602
Thanks for raising the issue.

Can you please attach the contents of

contour cli eds | grep nginx.

and

kubeclt get endpoints -o yaml nginx

On 4 August 2018 at 04:58, Alexander Brand <notifications@github.com> wrote:

[2018-08-05 08:07] davecheney commented on #601
Yup, I think it was specified in one of the versions of the design doc that
if an fqdn appeared more than once we'd reject _both_ ingressroute
documents with the appropriate status; say, "conflict; fqdn: %q conflicts
with definition in %namespace/%name"

On 4 August 2018 at 01:22, Alexander Brand <notifications@github.com> wrote:

[2018-08-06 12:51] alexbrand commented on #602
[code]

[2018-08-06 13:07] alexbrand commented on #601
SGTM. I see two ways of doing this in the dag package:

a) Go over all IngressRoute objects a first time before actually processing them. In this first pass, filter out the ones that conflict because of FQDN reuse. In the second pass, process the IngressRoutes that do not conflict and build the DAG as we do today.

b) Maintain our current approach of iterating over the IngressRoutes once and chang

[2018-08-06 13:53] alexbrand commented on #456
Blocked on #596

[2018-08-06 20:09] alexbrand commented on #603
Spent time looking into this issue. I am able to reproduce this consistently. I looked into setting `drain_connections_on_host_removal` to true, but it doesn't seem to have an effect. Starting to wonder if I am thinking about this wrong and I am missing something.

[2018-08-07 14:44] alexbrand commented on #602
Looking into this.

Removing the return in https://github.com/heptio/contour/blob/master/internal/contour/endpointstranslator.go#L72 results in Contour spamming Envoy with unnecessary updates:
[code]
It looks like culprits are the `kube-system/kube-scheduler` and `kube-system/kube-controller-manager` endpoints object. This is happening on my local minikube instance (k8s version: `GitVersion:"v1.10

[2018-08-07 15:28] alexbrand commented on #602
Looks like this is because of the way leader election is implemented using the Endpoints object: https://blog.heptio.com/leader-election-in-kubernetes-control-plane-heptioprotip-1ed9fb0f3e6d.

[2018-08-07 17:00] jcrowthe commented on #62
May we get a timeline one when this feature can be made available?

[2018-08-07 17:39] #602 closed

[2018-08-08 01:16] stevesloka commented on #601
We should also add to this looking for the case of `*`. Only a single one would be allowed across the cluster.

[2018-08-08 10:09] 01deyishu opened #606 "Null http route hosts will cause panic"
When I apply a ingress.yaml like this
[code]

The error log is
[code]

I think this grammar maybe not effective and correct， but Kubernetes accept it, so I hope contour return a error instead of  do  panic.
Thanks

[2018-08-08 11:01] davecheney commented on #606
Thank you for your bug report, I can see the error in validation. I'll fix this for beta.3

https://github.com/heptio/contour/blob/master/internal/dag/builder.go#L315

[2018-08-08 13:38] alexbrand commented on #601
@stevesloka Do we support wildcards in IngressRoutes?

[2018-08-08 13:41] stevesloka commented on #601
We talked about it early on but never came to a conclusion. I know it can make things really complex depending on the routes you set up, but nothing today stops someone from setting `*` or `*.foo.com` for the fqdn I don't think.

We should either support wildcards (which I think we should) or filter out any fqdn or alias that has `*` in the field by setting the status of that route to error.

[2018-08-08 13:53] alexbrand commented on #601
Got it. That's what I thought too. I couldn't find any reference to it in the design doc, nor any open issue around it.

I just tried creating an IngressRoute with FQDN = `*` and our CRD validation caught it as invalid, so I think we are on the "wildcards are not supported" side of things.

[2018-08-08 13:57] stevesloka commented on #601
Ahh ok forgot about that validation. We can leave this issue alone, open a new one and ping @rosskukulinski for thoughts on supporting wildcards since doing that is expanding the original intent of this issue.

[2018-08-08 16:04] rosskukulinski commented on #601
I think we'll want to support wildcards eventually, but I think we should take some time and think through all the scenarios (e.g. TLS, etc).  I think there are higher-priority items that we should tackle for 0.6.  I propose opening a new issue to track wildcard domain support, and schedule for 0.7+.

[2018-08-08 16:13] rosskukulinski commented on #62
Hi @jcrowthe - we're in the middle of a pretty significant rework of Contour internals for 0.6.  From an end-user perspective, the new IngressRoute CRD design will help unlock development of new features like this one.

We still need to prioritize which new features will also land in 0.6 and which will slip to a later release.  Once I know more from a time-frame perspective, I'll get back to you

[2018-08-08 16:16] rosskukulinski commented on #62
From a dev perspective, I think the Envoy v2 RBAC API may support this feature: https://www.envoyproxy.io/docs/envoy/v1.7.0/api-v2/config/rbac/v2alpha/rbac.proto#envoy-api-msg-config-rbac-v2alpha-rbac

[2018-08-08 16:41] stevesloka commented on #62
The RBAC route looks like the proper implementation, but I think we need to upgrade to Envoy 1.7. Any reservations to do that @davecheney?

[2018-08-08 18:41] alexbrand commented on #601
I have an initial implementation of this. I followed the pre-processing idea I had suggested above. In more details:
1. Before processing the IngressRoute resources in internal/dag/builder.go, build a map that maps FQDNs to the IngressRoutes that are using that fqdn.
2. Iterate over the map. If the IngressRoute slice has more than one IR, build a user-friendly message and mark them as invalid by a

[2018-08-08 20:31] alexbrand opened #608 "Add wildcard domain support to IngressRoute"
We had initial discussions around adding support for wildcard domains in IngressRoute, but decided to punt on it for the initial release. This issue is a placeholder to keep track of this feature.

[2018-08-08 23:10] #467 closed

[2018-08-08 23:11] davecheney commented on #458
Closed by #596

[2018-08-08 23:11] #458 closed

[2018-08-08 23:11] davecheney commented on #452
Closed by #596

[2018-08-08 23:11] #452 closed

[2018-08-08 23:59] #595 closed

[2018-08-09 00:06] #601 closed

[2018-08-09 00:07] davecheney commented on #608
Can you expand a little on what you mean by wildcard. Do you mean *.example.com, or something like Ingress's notion of a default vhost?

[2018-08-09 00:37] #606 closed

[2018-08-09 02:18] davecheney commented on #62
None at all, there's a card to upgrade to envoy 1.7 slated for the 0.7
milestone -- envoy 1.7 deprecates a few grpc stanza's which cause the
config contour 0.6 sends to generate warnings pretty much continually so
that'll need to be handled gently.

On 9 August 2018 at 02:41, Steve Sloka <notifications@github.com> wrote:

[2018-08-09 12:46] alexbrand commented on #608
Sorry, should have added a link to the discussion that sparked this issue: https://github.com/heptio/contour/issues/601#issuecomment-411252295

By wildcard I mean `*.example.com`, or even `*` which I think would be equivalent to Ingress's notion of a default VHost?

[2018-08-09 13:03] yutaokaz opened #611 "Contour does not delete IngressRoute metrics even after IngressRoute has been deleted"
I found that Contour set IngressRoute metrics to 1 even if IngressRoute is deleted. I expected Contour does not return IngressRoute metrics about deleted IngressRoute.

I tried as bellow.
1. I create IngressRoute and confirm Contour create metrics: `contour_ingressroute_total{namespace}`  and set it to 1.
2. I delete IngressRoute, but metrics: `contour_ingressroute_total{namespace}` is still alive

[2018-08-09 15:19] rosskukulinski opened #612 "IngressRoute gauge metrics not being cleared"
Contour outputs a few `gauge` type Prometheus metrics related to IngressRoutes.  Namely:

* contour_ingressroute_invalid_total
* contour_ingressroute_valid_total
* contour_ingressroute_orphaned_total
* contour_ingressroute_total

Due to the nature of the Prometheus library, once a gauge metric is set, it will remain at that value until changed.  Currently we do NOT set these metrics to 0 if a corr

[2018-08-09 15:22] rosskukulinski commented on #611
Ha! I also just opened #612.  These may be related.

[2018-08-09 16:09] rosskukulinski commented on #185
I believe this was resolved in #324 for Ingress via annotation, and then #596 for IngressRoute.  Please re-open if that is not the case.

[2018-08-09 16:09] #185 closed

[2018-08-09 16:12] rosskukulinski commented on #310
Envoy added support for a gzip HTTP filter in 1.6: https://github.com/envoyproxy/envoy/issues/269

Moving to 0.7.0 unless someone else has bandwidth to tackle.

[2018-08-09 16:13] rosskukulinski commented on #313
Have not heard any complaints or problems with the arbitrary values. Punting to 0.7.

[2018-08-09 16:14] rosskukulinski commented on #327
@davecheney is this still an issue?

[2018-08-09 16:16] rosskukulinski commented on #341
Leaving this in 0.6.0 milestone as there's an outstanding PR

[2018-08-09 16:18] rosskukulinski commented on #361
We should probably add this feature off the IngressRoute design instead.  Related to #289 which some  websocket-related libraries need sticky-sessions.  Moving outside 0.6.0 as non-essential to closing out IngressRoute support.

[2018-08-09 16:23] rosskukulinski commented on #406
Non-essential for closing out remaining IngressRoute work. Moving to 0.7.0 for further analysis.

[2018-08-09 16:25] rosskukulinski commented on #456
#596 landed, so this is no longer blocked.

[2018-08-09 16:26] rosskukulinski commented on #475
+1 for paying down this tech-debt for 0.6.0

[2018-08-09 16:43] mattmoyer commented on #310
One reason someone might want to do this is as a blanket mitigation for [BREACH](https://en.wikipedia.org/wiki/BREACH).

[2018-08-09 19:26] rosskukulinski commented on #592
I think this is worth resolving for 0.6 to pay down tech debt.

[2018-08-09 19:33] rosskukulinski commented on #591
I think the more helpful thing would be a prometheus histogram value for the amount of time for each update.

Alternatively, we should have the `timestamp` of last update (not time until next update) based on [this doc](https://prometheus.io/docs/practices/instrumentation/#timestamps-not-time-since)

I agree with @davecheney that this should land before 0.6.0 ships.

[2018-08-09 19:34] rosskukulinski commented on #573
@davecheney I don't fully understand the nuances of this issue.  Is this important tech-debt to pay down for the 0.6.0 cycle?  Ok to slip to another release?

[2018-08-09 19:36] rosskukulinski commented on #537
We should get this in, but it's not essential for 0.6.0 which is focused on wrapping up remaining IngressRoute CRD work.

[2018-08-09 19:37] rosskukulinski commented on #533
This seems like relatively low-hanging fruit to cleanup for the 0.6.0 release.

[2018-08-09 20:26] rosskukulinski commented on #581
Pulling in details from #514 so it can be marked as dup:

Load balancing strategies and health checks should also be allowed to be different.

[2018-08-09 20:27] rosskukulinski commented on #514
Marking as a dup of #591

[2018-08-09 20:27] #514 closed

[2018-08-09 20:31] rosskukulinski commented on #503
Not totally clear on the difference between this and #581, but keeping in 0.6.0 milestone.

[2018-08-09 20:33] rosskukulinski commented on #318
Non-essential for closing out IngressRoute work, moving to 0.7.0

[2018-08-09 20:35] rosskukulinski commented on #510
I think we should let this idea soak a bit more and gather feedback from users. Shifting to 0.7.0

[2018-08-09 20:38] rosskukulinski commented on #517
I think we should push to 0.7.0 as non-essential to cleanup IngressRoute work.  I believe most IngressControllers don't take an action or update status if there's an issue with Secrets, so we're not any worse than the standard.

[2018-08-09 20:38] rosskukulinski commented on #273
@davecheney is this still an open issue?

[2018-08-09 20:45] rosskukulinski commented on #499
@mattalberts can you share `clone-http-ingress.sh`?  We've been doing similar perf testing looking at the impact of memory for Envoy and Contour, but with IngressRoute objects, not Ingress (and without TLS)

Do all your Ingress objects share the same TLS key?

FWIW, I also hacked something similar together: https://github.com/rosskukulinski/contour-envoy-memory-batch.

Leaving this in the 0.6.0 mi

[2018-08-09 22:01] davecheney commented on #273
Yes. There is a delta between the go-control-plane implementation of the
xDS protocol, which was written after ours, and our own. Closing that gap
is important to make sure we implement the nuances of xDS correctly.

On 10 August 2018 at 06:38, Ross Kukulinski <notifications@github.com>
wrote:

[2018-08-09 22:29] mattalberts commented on #499
@rosskukulinski

I sure can! Its a little rough, especially right here.
[code]

[clone-http-ingress.txt](https://github.com/heptio/contour/files/2276069/clone-http-ingress.txt)

[2018-08-10 05:49] davecheney commented on #503
@rosskukulinski i'd prefer to keep this issue open. #581 won't address this issue, we'll just work around it.

[2018-08-10 06:17] #451 closed

[2018-08-10 09:13] davecheney commented on #361
I hoped that we could hide this in a load balancing strategy option. I
haven't looked to see if there is one natively supported by envoy.

On 10 August 2018 at 02:18, Ross Kukulinski <notifications@github.com>
wrote:

[2018-08-10 09:13] davecheney commented on #313
SGTM thank you.

On 10 August 2018 at 02:13, Ross Kukulinski <notifications@github.com>
wrote:

[2018-08-10 12:53] alexbrand commented on #361
I did some initial research around this when looking into the websockets issue (#595). Found this which seems to indicate that it indeed is handled via a load balancing strategy, more specifically, a "hashing load balancer": https://groups.google.com/d/msg/envoy-users/POeaHFJI2W4/EaciXkZYBgAJ.

[2018-08-11 15:46] rosskukulinski opened #617 "IngressRoute should provide additional printed columns"
Kuberentes v1.11.0 introduced a [new feature](https://github.com/kubernetes/kubernetes/pull/60991) for CRDs called server server side printing.  Basically this allows you to define additional columns in your CRD that will be output when `kubectl get` is run.

As an example:

[code]

I think it would be a nice feature to add column outputs for IngressRoute CRDs.

[2018-08-11 15:46] rosskukulinski commented on #617
As an example, this is what output might look like:

[code]

[2018-08-11 15:47] rosskukulinski commented on #617
Relevant upstream issues to improve the `First Route` column to output multiple paths (and improve array output like `Aliases`): https://github.com/kubernetes/kubernetes/issues/67268 and https://github.com/kubernetes/kubernetes/pull/67079

[2018-08-13 14:41] #455 closed

[2018-08-13 15:29] rosskukulinski commented on #289
Hi @marcoskichel - Websockets have been enabled for the new IngressRoute CRD that is part of the upcoming 0.6.0 release.  Documentation can be found here: https://github.com/heptio/contour/blob/master/docs/ingressroute.md#websocket-support

If you'd like to test one of the beta releases, you can update your Contour image to `gcr.io/heptio-images/contour:v0.6.0-beta.2`

[2018-08-13 16:11] marcoskichel commented on #289
Thank you!

[2018-08-13 20:47] rosskukulinski commented on #603
Ok, so `drain_connections_on_host_removal` was added in Envoy 1.7.  I think we should enable this flag once we update to Envoy 1.7 (which is currently scheduled for Contour 0.7).

[2018-08-13 21:17] stephenmoloney opened #623 "Support HTTP challenges when using annotation force-ssl-redirect: "true""
**Describe the absent feature**

When the annotation
[code]
is set, requests are redirected to https as expected.

However, this presents a problem on one particular url, namely,
[code]

If using a package like [jetstack cert-manager](https://github.com/jetstack/cert-manager), requests will be made for ACME challenges over HTTP.

Then those requests seem to be redirected by envoy to HTTPS resultin

[2018-08-13 22:02] TrevinTeacutter opened #624 "Add support for structured logs"
It would be nice to have access logs that are structured as we use splunk for our logging aggregation and extracting key/value pairs is much nicer in splunk with structured logs than it is with regex. Could this be some sort of flag to enable this or did I just miss that this option is already enabled somewhere?

Blocked
- [x] #1130

[2018-08-13 22:09] rosskukulinski commented on #623
Also related nginx feature: https://github.com/kubernetes/ingress-nginx/pull/2203

[2018-08-13 22:25] davecheney commented on #603
Seconded. Let's push through the rest of 0.6 so we can start the 0.7 cycle
with a fresh version of envoy

On 14 August 2018 at 06:47, Ross Kukulinski <notifications@github.com>
wrote:

[2018-08-14 00:41] rosskukulinski commented on #611
Closing as duplicate of #612 which @stevesloka is already working on.

[2018-08-14 00:41] #611 closed

[2018-08-14 00:49] rosskukulinski commented on #599
@rosskukulinski please reproduce to verify that envoy still has functionality after restarting contour.  In the original graph, it looks like both envoy & contour have low-memory usage after a contour restart.  That seems odd.

[2018-08-14 00:50] rosskukulinski commented on #599
Also, I don't think this needs to hold back beta-3

[2018-08-14 06:38] davecheney commented on #624
Thank you for raising this issue. The access logs are generated directly from envoy. At the moment we have flags to control their output destination, but their format is currently defaulting to whatever envoy uses by default -- something akin to apache2 log.

https://github.com/heptio/contour/blob/master/internal/contour/listener.go#L338

Looking at

https://www.envoyproxy.io/docs/envoy/v1.6.0/con

[2018-08-14 07:08] davecheney opened #625 "ingressroute: drop spec.virtualhost.aliases"
When we designed the ingressroute spec[0] I made a case that the virtualhost spec should have an explicit place to place aliases. The idea was to explicitly support configurations like this
[code]
However, this design introduces several areas of ambiguity, namely:

1. The `spec.virtualhost.fqdn` field is the _key_ (essentially) for the root of this ingress's graph of routes. However when checking

[2018-08-14 12:29] alexbrand commented on #625
@davecheney Any reason for not doing this before we release 0.6.0? Seems weird to me to release something and then immediately take it away.

[2018-08-14 12:45] davecheney commented on #625
I'd be fine with moving it to 0.6 final.

On 14 August 2018 at 22:29, Alexander Brand <notifications@github.com>
wrote:

[2018-08-14 12:46] alexbrand opened #626 "Unique fqdn validation does not consider aliases"
The validation added to ensure that a single fqdn is only referenced in a single IngressRoute does not take into consideration the fqdns mentioned in the aliases field. Thus, it is currently possible to define conflicting IngressRoutes. For example, creating an IngressRoute with fqdn = `example.com`, and another IngressRoute with an fqdn alias = `example.com`.

Related #625

[2018-08-14 15:05] TrevinTeacutter commented on #624
Yes, I mean JSON. We recently turned JSON access logs on for Traefik in our old DC/OS clusters and they have been useful as well as capable of including/redacting/excluding headers of requests coming through the ingress making correlation really easy, stuff that normally doesn't get included in apache2 logs for brevity's sake.

[2018-08-14 15:05] TrevinTeacutter commented on #624
Yes, I mean JSON. We recently turned JSON access logs on for Traefik in our old DC/OS clusters and they have been useful as well as capable of including/redacting/excluding headers of requests coming through the ingress making correlation really easy, stuff that normally doesn't get included in apache2 logs for brevity's sake.

[2018-08-15 00:18] davecheney opened #627 "ingressroute.spec.virtualhost.httpAllowed *bool should be ingressroute.spec.virtualhost.httpsOnly bool"
[code]

`HTTPAllowed` should be a bool, not a pointer to a bool, but it can't be because the default value for a bool is false, meaning http not allowed.

The solution might be to change the field to be `HTTPSOnly bool`

[2018-08-15 02:50] stevesloka commented on #612
I've been working on this today and I think I have a solution. The problem with how metrics are implemented today is that they only represent the current state of metrics since that's how the DAG is built. However, when the statuses change (e.g. from an orphan status to valid) there's no trigger to update the metrics appropriately and we get bad metrics.

I think we need to keep a local cache of t

[2018-08-15 05:18] davecheney opened #631 "make updategenerated generates code that fails vet check"
Blocks #627

[code]
generates code which fails the vet check
[code]

[2018-08-15 11:49] stevesloka commented on #631
After regenerating, I just roll back these two files:

[code]

[2018-08-15 13:25] #627 closed

[2018-08-15 14:52] #617 closed

[2018-08-15 23:59] davecheney commented on #591
I think

a time of last update (the longest holdoff even is 600ms, which is below the prom reporting threshold, it probably won't be useful
b count of updates received
c count of updates deferred
d count of updates processed immediately
e count of actual update calls

c + d should equal b and b - e will tell us how effective the holdoff timer is

a. is just for sanity checking.

[2018-08-16 00:10] stevesloka commented on #591
@davecheney so for the count pieces, I'd have to add counters to the OnAdd, OnDelete, OnChange events? Do you have a good way to determine those metrics?

[2018-08-16 00:48] stevesloka commented on #591
Had a quick chat in Slack and decided to just implement the timestamp metric.

[2018-08-16 01:38] davecheney commented on #589
https://github.com/envoyproxy/go-control-plane/releases/tag/v0.5.0

[2018-08-16 03:36] davecheney commented on #631
Thanks Steve. This isn't critical, and maybe will be solved upstream when they move up to Go 1.10. Bumping til 0.7

[2018-08-16 10:13] freegroup opened #636 "unable to deploy contour CRD into kubernetes 1.11.2"
**What steps did you take and what happened:**
try to deploy contour into a kubernetes cluster version 1.11.2
[code]
**What did you expect to happen:**
contour is deployed without any error messages

**Anything else you would like to add:**
I got a lot of validation errors regardings the CRD

error: error validating "01-common.yaml": error validating data: [ValidationError(CustomResourceDefinition

[2018-08-16 14:18] rosskukulinski commented on #636
Hi @freegroup - sorry you ran into some issues getting started.  Would you mind updating your `kubectl` version to match your server version and try again?

I just tested that command on a 1.11 cluster w/ 1.11 kubectl and it worked for me:

[code]

[code]

[2018-08-16 16:44] mattalberts commented on #499
@rosskukulinski I have this script too (a derivation of the first script) that i used for log rate testing
(see #556).  It adds generates a service, deployment and ingress (might be more helpful)

[clone-echo.txt](https://github.com/heptio/contour/files/2294483/clone-echo.txt)

[2018-08-16 21:05] rosskukulinski commented on #599
I am not going to get to this before beta-3, moving to 0.6.0 milestone.

[2018-08-17 03:36] davecheney opened #638 "internal/e2e: test flake TestRouteWithAServiceWeight"
--- FAIL: TestRouteWithAServiceWeight (0.00s)
    rds_test.go:1710:

fails because the order of services with the same name and different weights is unstable.

[2018-08-17 06:50] freegroup commented on #636
*sorry for the noise* - you are right. Update of the kubectl solves the problem.

Thanks for your fast support.

[2018-08-17 06:50] #636 closed

[2018-08-17 07:40] #638 closed

[2018-08-17 07:52] #612 closed

[2018-08-17 07:53] davecheney commented on #581
Moving to 0.6 final

[2018-08-17 18:38] rosskukulinski opened #640 "RFI: Improved handling of HTTPProxy conflicts"
**Describe the solution you'd like**

Inspired by [an issue in Gimbal](https://github.com/heptio/gimbal/issues/209), I'd like to (open the discussion on how we might improve the user experience when one or more IngressRoutes conflict.

Contour's default behavior if two or more IngressRoutes attempt to define the same FQDN is to mark them all as invalid.  This can result in an entire domain being r

[2018-08-17 18:39] rosskukulinski commented on #640
@davecheney @stevesloka @alexbrand for feedback

[2018-08-17 19:59] rosskukulinski commented on #625
I'm in favor of dropping the domain alias from the spec and moving towards an explicit model where two or more root domains delegate to the same other ingressroute with routes.

[2018-08-17 20:02] rosskukulinski commented on #581
Updated issue description with checklist of remaining end-user changes.

[2018-08-17 23:46] davecheney commented on #625
SGTM.

We don't _actually_ have a way to adding redirect routes yet, but we can do
that for 0.7. Let's delete the aliases code in 0.6 now so we're not
maintaining it any longer.

On 18 August 2018 at 05:59, Ross Kukulinski <notifications@github.com>
wrote:

[2018-08-18 02:03] stevesloka commented on #456
After some internal discussion, this feature as it's written in the Issue will be implemented differently.

Since defining a TLS section of a root IngressRoute tells Contour that it should set up a TLS listener and serve the provided TLS certificate/key, it's inherent that all requests be served over TLS. This results in any request to an insecure endpoint will receive a 301 http status code infor

[2018-08-20 04:28] davecheney commented on #273
I'm going to bump this to 0.7 and we'll cover it with the general upgrades of the project dependencies early in the cycle.

[2018-08-20 04:29] davecheney commented on #327
Bumping to 0.7, related to #311

[2018-08-20 04:33] #341 closed

[2018-08-20 14:30] rosskukulinski commented on #573
Sounds good

[2018-08-20 14:31] rosskukulinski commented on #273
Sounds good, thanks

[2018-08-20 14:37] rosskukulinski commented on #592
@davecheney I'm +1 for that -- Reading back over the thread I realize now there are more important things to tackle.

[2018-08-21 00:32] rosskukulinski commented on #592
moved to 0.7

[2018-08-21 01:14] #533 closed

[2018-08-21 01:14] davecheney commented on #475
bumping this to 0.7 as its a p2 item

[2018-08-21 02:55] #625 closed

[2018-08-21 03:05] davecheney commented on #626
Closed as #642 removed support for aliases entirely.

[2018-08-21 03:05] #626 closed

[2018-08-21 03:07] davecheney commented on #515
@rosskukulinski I think we can bump this to 0.7. The 0.6 workaround is lb/hc values are specified per route. We can add a per ingressroute default to the ingressroute spec later as it will be an optional field which won't need a bump to the major version of the ingressroute spec.

[2018-08-21 03:17] davecheney commented on #503
I'm going to move this to 0.7.

This issue is a discussion on whether the lb/hc properties should be specified as keys on the route in the ingressroute object (which is how they are today in 0.6) or if they should be specified as _annotations_ on the k8s service object that the route points too.

I think I can make an argument for the latter case, but

a. that's more annotations on the service obj

[2018-08-21 11:40] rosskukulinski commented on #515
@davecheney WFM, though we should update the examples & docs (but maybe not the design doc) so that folks don't get confused.  I'll open a tracking issue for 0.6.0 docs updates/cleanup.

[2018-08-21 11:44] rosskukulinski opened #644 "0.6.0 Docs Update"
There have been a number of modifications/removals/changes to our original planned IngressRoute design spec, examples, and docs leading up to 0.6.  This is a tracking issue for needed docs & example updates to ensure consistency across the project.

- [x] Virtual Host Aliases were removed from the spec (#652)
- [x] Add example using multiple IR to work around removed Aliases feature (#649)
- [x] T

[2018-08-21 11:45] rosskukulinski commented on #644
I haven't done a consistency review, but anything else that jumps to mind @davecheney @stevesloka @alexbrand?

cc: @Bradamant3

[2018-08-21 12:45] rosskukulinski commented on #509
This is a pretty frequent request - I'm proposing this for 0.7.0

[2018-08-21 12:50] rosskukulinski commented on #456
@stevesloka as you're working on this, could you see if cert-manager HTTP-01 validation works with a regular Ingress object in tandem with IngressRoute?

[2018-08-22 08:57] #456 closed

[2018-08-23 04:24] yob opened #646 "Option to add X-Request-Start header to incoming requests"
Some tracing applications support reporting on queuing time for incoming requests. Generally this is implemented by adding a `X-Request-Start` timestamp header to the requests as early as possible in the request path.

[New Relic](https://docs.newrelic.com/docs/apm/applications-menu/features/request-queue-server-configuration-examples) and [datadog](https://github.com/DataDog/dd-trace-rb/blob/mast

[2018-08-23 04:34] davecheney commented on #646
I like this. Ideally i'd like to see this enabled for all hosts rather than another knob that someone has to know to enable. If enough people complain we can talk about a knob to disable this on a per vhost basis.

[2018-08-23 19:34] stevesloka opened #647 "Ability to query for Services referenced by an IngressRoute"
**Describe the solution you'd like**
Have an easy way to know what Services are referenced in an IngressRoute.

One way to implement might be to automatically label the IngressRoute with services that they consume. By having label's on the IngressRoute we could do label queries across all IngressRoutes that are referencing a specific service.

A downside is having Contour update existing services

[2018-08-24 19:47] alexbrand commented on #644
We need to remove aliases not only from docs, but also from the CRD printer/formatter thingy that shows them when you do `kubectl get ingressroute`. Just thought I would add a note here so that it doesn't slip through the cracks.

[2018-08-27 18:37] stevesloka commented on #631
https://github.com/kubernetes/kubernetes/pull/60584

[2018-08-27 19:28] rosskukulinski commented on #644
I reviewed all existing documentation and updated the issue description to highlight other locations that need to be reworked.  cc: @davecheney @alexbrand @stevesloka

[2018-08-28 07:27] 01deyishu commented on #624
Maybe support define log format by configmap is a good way , just like nginx-ingress-controller use log-format-upstream parameter, also istio use logentry is a good practice.

[2018-08-28 15:27] stevesloka opened #658 "Update design/roadmap.md file"
// ref #644

[2018-08-29 20:23] soggiest opened #661 "Add support for ports other than 80/443"
I would like to see contour support ports outside of 80 and 443 for Virtualservices and Routes. Allowing virtualservices to only be created for two ports is highly restrictive. Looking at the source code it looks like ports 80 and 443 are hard coded, variables could easily be used for ports and allow for greater flexibility.

Use case:
I have a bare-metal K8s environment sitting behind a firewall.

[2018-09-04 14:23] stevesloka opened #662 "Design doc version wrong"
The current IngressRoute design doc shows version `v1alpha1` when the CRD that's deployed is `v1beta1`. It's confusing for users to use the design doc to build an IngressRoute document but the versions are incorrect.

[2018-09-04 14:36] #662 closed

[2018-09-04 16:35] alexbrand commented on #644
About:

The example that uses the Ingress resource does not have any host matching rules, which makes it very easy from a user-perspective to open up a browser and validate Contour is working.

We cannot support a similar workflow using IngressRoutes, given that we don't yet support wildcard host matching rules. If we were to update the docs to use IngressRoute, we would need to suggest a browser

[2018-09-04 17:08] stevesloka commented on #644
I still think we should document both Ingress & IngressRoute. Ingress is still widely used today and Contour is not dropping support for it.

Using curl to demonstrate is fine (in addition to docs on how to set up real fqdn).

[2018-09-04 17:29] alexbrand commented on #644
Thanks @stevesloka. Will open a PR that adds IngressRoute to the deploy-options.md.

[2018-09-04 22:18] williamhuangh opened #665 "retry-on, num-retries, and per-try-timeout support lost"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

added `contour.heptio.com/num-retries`, `contour.heptio.com/retry-on` and `contour.heptio.com/per-try-timeout` to ingress object, and logs have no indication of retrying on 5xx timeouts

**What did you expect to happen:**

retry logs on 5xx timeouts, evidence in logs

**Anything else you would lik

[2018-09-05 04:41] davecheney commented on #665
oops, this is my bad. I will make sure this is fixed before 0.6 is released.

[2018-09-05 05:07] davecheney commented on #661
Hi there. Thanks for logging this issue. There is some limited flexbility for controlling the listening ports in contour at the moment (see contour bootstrap help), but you are correct that the insecure port is pinned to 80 and the secure port is pinned to 443.

I also want this because I would like to move some of the configuration out of the hard coded bootstrap config into configuration that is

[2018-09-10 05:01] davecheney commented on #665
@williamhuangh I checked and the timeout properties are extracted from an annotation here

https://github.com/heptio/contour/blob/master/internal/dag/builder.go#L298

and applied to the object few lines later. I'm going to add some e2e tests to make sure they are being properly applied

[2018-09-10 05:49] davecheney commented on #665
Well, this is embarrassing. It turns out that functionality never had any tests ... i'm fixing this now.

[2018-09-10 05:50] davecheney opened #667 "internal/dag: remove builder.Remove tests"
Remove the builder.Remove tests from builder_test.go, they're not adding anything now we always build a fresh dag from scratch. The e2e tests give us enough coverage for remove at a higher level.

[2018-09-11 17:15] Atul9 commented on #667
@davecheney I have opened up a PR for this #671

[2018-09-11 20:48] davecheney commented on #667
@Atul9 thanks for offering to help, there are a set of tests in internal/contour/builder_test.go related to the `builder.Remove` method. Those are no longer needed and should be removed.

[2018-09-11 21:03] cromefire opened #672 "Automatically set tls_maximum_protocol_version to opt in to TLS 1.3"
Please add support for the `tls_maximum_protocol_version` envoy api parameter (like you do for `tls_minimum_protocol_version`) to allow users to opt in to TLS 1.3. See https://github.com/envoyproxy/envoy/issues/3544.

[2018-09-12 03:03] Atul9 commented on #667
@davecheney I read the code for `Remove` method where in case of `cache.DeletedFinalStateUnknown`for an object type the `Remove` method is called recursively.
 how to identify those set of tests which are no longer needed in `TestDAGRemove` method in builder_test.go?

[2018-09-12 05:56] davecheney commented on #667
The goal of this issue is to remove TestDAGRemove. Sorry I should have made
that clearer in the original issue.

On 12 September 2018 at 13:03, Atul Bhosale <notifications@github.com>
wrote:

[2018-09-12 06:16] cromefire commented on #672
How should that condition look like? Just annotation to enable TLS 1.3? I might try doing that myself, once envoy is updated.

[2018-09-12 07:44] davecheney commented on #667
Thank you, i'll review this in a week or so when we start the 0.7 cycle. I don't want to merge it now because I'm trying to close off the remaining 0.6 issues.

[2018-09-12 08:11] cromefire commented on #672
Okay just tell me when you are done with 1.7.x and I will start try around with go

[2018-09-12 08:13] davecheney commented on #672
Blocked on #650 / #443

[2018-09-13 01:14] #665 closed

[2018-09-17 03:50] davecheney opened #679 "internal/contour: CDS Load Balancer Strategy field should always have a value"
At the moment the `type.googleapis.com/envoy.api.v2.Cluster.lb_strategy` field is allowed to be blank if no valid strategy has been provided.

We should ensure that this value is always present using a default that Contour controls.

[2018-09-17 05:02] davecheney opened #681 "internal/e2e: rds_test needs tests for routes with explicit lb strategies"
Increase the e2e coverage of lb strategies in rds_test.go

[2018-09-17 05:38] davecheney opened #684 "internal/contour: clustername helper is undertested"
clustername, introduced to address #581 is under tested.

Additionally dag.Service.toMeta is under tested.

[2018-09-17 05:41] #581 closed

[2018-09-17 18:05] rosskukulinski commented on #515
Documentation label applied, removing from #644

[2018-09-17 18:10] jipperinbham opened #686 "Host Network Deployment(s) dnsPolicy question"
I apologize in advance if this is the wrong avenue for this question.

Based on the hostnet deployment manifests, they all specify `ClusterFirst` and the [k8s docs](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy) indicate to use `ClusterFirstWithHostNet` when running pods with `hostNetwork: true`.

Is this being done for a specific reason with contour? Or

[2018-09-17 18:40] rosskukulinski commented on #686
Hi @jipperinbham! I _think_ this is a good catch - we should update the manifests. Thoughts from @stevesloka / @davecheney?

[2018-09-17 20:09] rosskukulinski opened #687 "Add 0.6.0 docs to gh-pages website"
Add 0.6.0 docs to gh-pages branch.

Follow what was done for 0.5.0: https://github.com/heptio/contour/commit/cfc02a41ca07b87f9a3f1b75336047e9116ce395

[2018-09-17 20:11] rosskukulinski commented on #644
Looks like all docs are in place.

Created #687 to track the docs website update.

[2018-09-17 20:11] #644 closed

[2018-09-17 20:48] #658 closed

[2018-09-19 03:25] davecheney opened #689 "Implement cluster.alt_stats_name"
Currently per cluster statistics are emitted with the name of the cluster. Prior to #581 this would be the pseudo name `namespace/name/portnum`. After #581, the pseudo name is `namespace/name/portnum/hash`.

We can use [cluster.alt_stats_name][0] to normalise the reporting of statistics to the namespace,name,portnum tuple, or even to the namespace,name tuple.

[0]: https://www.envoyproxy.io/docs/e

[2018-09-19 03:26] davecheney commented on #689
Note to implementers; doing this work is straight forward, but please do not proceed without a clear decision on the format of the alternative name for statistics.

[2018-09-20 07:07] davecheney commented on #687
Closed by fcbd7eb89a060a1fc984e3c1019604ca3b0ead8a

[2018-09-20 07:07] #687 closed

[2018-09-20 07:23] davecheney opened #691 "Dockerfile / .travis.yml: upgrade to Go 1.11"
Upgrade to Go 1.11 for build and test.

At the moment this increases the size of the binary from 27mb to 31mb. Unless we want to use go 1.11's module support, this is a showstopper.

[2018-09-20 07:30] #667 closed

[2018-09-20 07:37] davecheney opened #693 "Upgrade to client-go v8.0.0"
Upgrade to client-go v8.0.0 and the corresponding api and apimachinery release-1.11 branches.

[2018-09-20 07:57] davecheney commented on #597
Duplicate of #691

[2018-09-20 07:57] #597 closed

[2018-09-20 22:10] davecheney commented on #691
https://github.com/golang/go/issues/27784

[2018-09-20 23:44] jcrowthe opened #694 "v0.6.0: envoy fails to listen on 0.0.0.0:8443 ?"
**What steps did you take and what happened:**
1. `kubectl apply` this file: https://github.com/heptio/contour/blob/master/deployment/render/daemonset-rbac.yaml
2. `netstat -antp` inside envoy container:
[code]

The k8s service yaml specifies the envoy container should be [listening on 8443](https://github.com/heptio/contour/blob/master/deployment/render/daemonset-rbac.yaml#L306) but I am not seei

[2018-09-21 00:08] davecheney commented on #694
Hi @jcrowthe contour will only create an envoy listener for port :8443 if there is at least one ingress with a matching secret.

Could you try grabbing the /config output from the admin interface on an envoy container, https://github.com/heptio/contour/blob/master/docs/troubleshooting.md#access-the-envoy-admin-interface-remotely. Be aware that /config includes TLS keys and secrets so please anonym

[2018-09-21 01:24] jcrowthe commented on #694
Ah, interesting. I've found the issue, and it is due to a lack of strong input validation in k8s (maybe for backwards compatibility?).

I had TLS specified in the ingress definition, but only as the following:
[code]
rather than
[code]
Interestingly, this is accepted by k8s, but does not trigger contour/envoy to load 443 (80 loads fine). But it doesn't stop there, just playing around with the inpu

[2018-09-21 01:24] #694 closed

[2018-09-21 01:28] davecheney commented on #694
Thanks for your debugging. The root of the problem is the ingress spec makes tls.hosts optional, but its not clear what should be done if there is no `tls.hosts` field. Should it apply to all the `spec.rules` and so forth.

Contour should do better here to explain why it rejected the tls service. There are long running issues for updating ingress status which I haven't done yet, but this would be

[2018-09-21 02:50] stevesloka opened #695 "Healthcheck Envoy"
**Describe the solution you'd like**

Allow the ability to health check Envoy by using the health check filter (https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/health_check/v2/health_check.proto#envoy-api-msg-config-filter-http-health-check-v2-healthcheck).

**Anything else you would like to add:**

Updating the config passed to Envoy we could add this to the stats listener (

[2018-09-21 02:50] stevesloka commented on #283
To clarify this Issue, the description is to health check Contour, there's a new issue opened to track health checking Envoy: #695

[2018-09-21 03:18] stevesloka opened #696 "Handle graceful restart of Envoy"
**Describe the solution you'd like**

When a new version of Envoy needs to be rolled out to the cluster or if the replica count needs to be scaled down, we should handle that better so requests are not lost.

Envoy handles this already when the healthcheck fail endpoint is triggered, but k8s will just sigterm and inflight requests will get errors.

See: https://groups.google.com/forum/?utm_medium=

[2018-09-21 03:30] davecheney commented on #695
I'd like to do this in the 0.7 cycle, but it don't want to continue to add
things to the bootstrap config.

I'm having a think now about how we can extend the internal/contour
translator to support injecting arbitrary configuration that is not part of
the dag.

On 21 September 2018 at 12:50, Steve Sloka <notifications@github.com> wrote:

[2018-09-21 12:46] stevesloka commented on #695
Yup I know you mentioned that in the past about adding things to the bootstrap config, so figured we could chat about it to come up with a design here.

[2018-09-21 12:47] stevesloka commented on #686
Yup good catch @jipperinbham, thanks for raising this!

[2018-09-22 06:23] davecheney opened #702 "Backport #701"
Possibly backport #701 to 0.6.1

[2018-09-25 01:42] stevesloka opened #704 "internal/generated: Allow users to consume IngressRoute client"
**Describe the solution you'd like**

Users who want to write controllers for their clusters which manipulate `IngressRoute` objects should be able to re-use the internal client Contour uses. Right now they cannot because the generated client exists within the `internal` package of Contour.

Also, users should not have to depend on all the entire Contour repo as a dependency. One possible solution

[2018-09-25 02:38] davecheney commented on #704
I agree! We should do this.

The only question I have is should we _just_ export our IngressRoute types, or should we combine them with the others from ark and sonobuoy.

[2018-09-25 03:00] davecheney commented on #704
Here's what I think we should do for 0.7 -- we can continue to iterate on it later if it turns out to be the wrong choice.

For 0.7 let's move the client out of internal/. If there are some good patterns we can follow from other projects I'll keep my curmudgeonly views on package naming to myself for the duration :P

[2018-09-25 03:52] davecheney opened #705 "internal/grpc: TestGRPCStreaming test flake"
[code]

[2018-09-25 07:56] davecheney opened #706 "envoy 1.7.0 filter chain match rules require TLS Inspector listener warning"
Envoy 1.7.0 reports
[code]
This blocks #443

[2018-09-25 08:01] davecheney opened #708 "All: extract envoy xDS helpers to internal/envoy package"
We have many helper types, internal/contour.apiconfigsource, to pick one at random which are duplicated across several packages in code and test contexts.

These should be moved to `internal/envoy`, exported, and consolidated.

[2018-09-26 02:31] #443 closed

[2018-09-26 03:50] #704 closed

[2018-09-26 04:39] davecheney opened #711 "internal/contour, internal/dag: annotation helpers and tests are duplicated"
The annotation helpers and tests are duplicate between the `internal/dag` and `internal/contour` packages. They should be unified in one place.

[2018-09-27 10:09] glerchundi commented on #437
@davecheney what do you think about approaching this now once `IngressRoute` (project) seems to be settled?

[2018-09-27 10:11] glerchundi commented on #15
@davecheney, @rosskukulinski can we push this forward knowing that `IngressRoute` (project) is already more or less well-established?

[2018-09-27 13:30] stevesloka opened #713 "apis: IngressRoute struct missing `omitempty` for values"
**What steps did you take and what happened:**

The IngressRoute CRD struct is missing `omitempty` on many of the non-required values. When interacting with this via golang, errors are thrown if all the values aren't specified:

[code]

If users create IngressRoute object via kubectl errors are not found due to differences in how it creates the resources.

[2018-09-28 02:33] davecheney opened #715 "Feature request: support external TLS with HTTP 301 upgrades"
Currently Contour configures Envoy to handle TLS directly on port 8443. If this is enabled then a second option to issue 301 redirects from port 8080 to port 8443 is available, via an annotation on Ingress, and automatically via IngressRoute.

Currently it is not possible to configure contour to both issue 301 upgrades to HTTP requests _and_ have TLS managed externally (say an ELB managed by a clo

[2018-09-28 05:01] #631 closed

[2018-09-28 05:07] #713 closed

[2018-09-28 13:20] stevesloka opened #718 "Metrics update"
Since Contour has been updated to use Envoy v1.7.X, we should be able to remove the prometheus_forwarder container which was used to gather metrics from Envoy's statsd interface.

Additionally, we should be able to use the Prometheus interface path and remove the annotation `prometheus.io/format: "prometheus"`.

Full testing will need to be done as well as the Histograms (which are new in this rel

[2018-10-01 14:51] rosskukulinski opened #719 "Configuration to inject failures or delays"
**Describe the solution you'd like**

I would like to be able to configure artificial request failures and delays as part of my chaos engineering practice in production.  I want to make sure that sub-component availability/latency does not cause cascading issues.

**Anything else you would like to add:**

Envoy supports this behavior through the [Fault Injection filter](https://www.envoyproxy.io/d

[2018-10-01 20:50] seancrwhite commented on #689
Hi there, is anyone currently looking at this? I'd like to contribute and think this would be a good place for me to start.

[2018-10-01 21:11] davecheney commented on #689
@seancrwhite got for it; but please get agreement from @rosskukulinski and @alexbrand on the format for the name before sending a PR. Thanks.

[2018-10-01 22:08] seancrwhite commented on #689
@davecheney will do!

[2018-10-01 23:09] davecheney commented on #15
Thanks for the ping. I recently finished the upgrade of Envoy to 1.7.0 for the 0.7 milestone so I think we have all the raw materials needed to do this.

However,
[code]
This isn't the only config that would change. K8s services, what envoy calls clusters, are tired implicitly to routes in the ingressroute spec. Some thought about how to change the routes... section of the spect will probably be n

[2018-10-02 22:33] pimvanpelt opened #720 "IngressRoute does not honor kubernetes.io/ingress.class"
**What steps did you take and what happened:**
Running two contour pools, one called `contour-prod` and the other `contour-staging` (each setting the appropriate flag in `--ingress-class-name`

Two problems that signal that the annotation is not honored:

### Problem 1

Setting `annotations.kubernetes.io/ingress.class: contour-staging` on an IngressRoute applies this to all running contour instanc

[2018-10-03 07:37] #706 closed

[2018-10-03 07:38] davecheney commented on #589
Fixed in #725

[2018-10-03 07:38] #589 closed

[2018-10-03 21:31] amoskyler commented on #720
I can confirm this issue. I was able to replicate it.

[2018-10-03 23:03] davecheney commented on #720
Thanks for raising this issue.

Ingressroute crds aren’t subject to the ingress class annotation; they aren’t ingress objects.

Rather than slap on support for an ingressroute version of ingress class, could you please explain the problem you wanted to solve by reaching for ingress class? That helps me understand the underlying requirement.

[2018-10-04 00:36] amoskyler commented on #720
Ah, the distinction between ingressroute and ingress annotations did not occur to me - makes sense.

My use case:
I use ingress class to isolate traffic for different edge load balancers. I use both an internal vpc load balancer and an external load balancer for ingressing public internet traffic. Each ingress is responsible for the routing of it's corresponding ELB.
Without the ability to disting

[2018-10-04 01:35] amoskyler opened #726 "IngressRoute Websockets Create Envoy Route With Unsupported `weighted_cluster` Type"
**What steps did you take and what happened:**
Per a conversation with @rosskukulinski in #contour channel on the kubernetes slack:

Created an service pointing to a websocket pod and an ingressroute with `enableWebsockets: true`.
Websocket traffic is responded to with a 503 by envoy, with the following log line `HTTP/1.1" 503 NR 0 0 0`.

Logs from envoy with debug enabled:
[code]
envoy route:
[co

[2018-10-04 01:40] amoskyler commented on #726
I'll spend some time to build a new contour image with a modification this logic https://github.com/heptio/contour/blob/master/internal/contour/route.go#L246

[2018-10-04 01:43] davecheney commented on #726
Thank you very much for this investigation.

I think we'll have to switch to only using weighted_cluster when there is
more than one k8s services defined per route.

On 4 October 2018 at 11:40, Amos Kyler <notifications@github.com> wrote:

[2018-10-04 02:17] davecheney commented on #705
I'm working on this.

[2018-10-04 02:39] davecheney commented on #705
The error we're getting is
[code]
the Code should be `DeadlineExceeded`, not `Unknown`.

Related, https://github.com/grpc/grpc-go/issues/1645

[2018-10-04 03:17] davecheney commented on #726
[code]
Contains a fix if you want to try this image. PR coming in the next 24 hours.

[2018-10-04 05:58] davecheney opened #729 "Backport #728"
Backport #728 to 0.6.1

[2018-10-04 14:10] tkbky commented on #711
@davecheney I would like to help on this. I'm thinking of just extracting the annotation helpers into a separate package.

e.g.
[code]

Do you think this is good enough?

[2018-10-04 14:19] stevesloka commented on #720
@pimvanpelt so you're using the same cluster for all environments?

One way you could solve this without needing 3 controllers running is to utilize delegation. Configure Contour to only allow Root ingress routes in a specific namespace (this piece is optional but safer since it has more restrictions on who can create `root` IngressRoutes). Have your VHosts (root IngressRoutes) configured there fo

[2018-10-04 14:28] pimvanpelt commented on #720
@stevesloka Yes, we are using the same cluster.

The traffic isolation is a mild concern, which we don't have today because we're using three Ingress pools. I haven't really gotten enough experience with IngressRoute, so I'll play around with your proposal. Envoy is not the performance bottleneck for us, so my concern on traffic isolation is a nice-to-have.

[2018-10-04 20:00] seancrwhite commented on #689
@rosskukulinski @alexbrand upon review I think namespace_name_portnum would be the best naming convention for these stats. Thoughts?

[2018-10-04 21:44] #726 closed

[2018-10-04 21:58] davecheney opened #732 "websockets broken when used with ingressroute + multiple clusters"
This is a tech debt bug related to #726

Currently envoy does not support combining websockets with route.Route_WeightedClusters, envoyproxy/envoy#3684

This is slated to be addressed in Envoy 1.9.0; ~6 months from now; so Contour 0.11 timeframe.

In the mean time; we should reject ingressroute configurations that combine multiple clusters with websockets with an appropriate message.

[2018-10-04 22:27] #702 closed, assigned to davecheney

[2018-10-04 23:52] davecheney opened #737 "Upgrade to envoy 1.8.0"
Envoy 1.8.0 was just released. Let's make upgrading to 1.8.0 a headline for Contour 0.8

Blockers
- [ ] Switch to seralised protobuf bootstrap output. #738

[2018-10-04 23:55] davecheney commented on #737
https://groups.google.com/forum/#!topic/envoy-announce/s0h8P8mgI30

[2018-10-05 00:00] davecheney opened #738 "Generate bootstrap configuration programatically"
Envoy 1.8.0 (#737) removes completely the support for the v1 JSON configuration option. We've dropped support long ago, but sport several command line flags in our deployment manifests which may need to be revised

https://github.com/heptio/contour/blob/master/deployment/deployment-grpc-v2/02-contour.yaml#L42

We should take the opportunity to freshen up the way bootstrap configs are generated by

[2018-10-05 01:31] #310 closed

[2018-10-06 19:17] pickledrick commented on #679
Is this already defaulted in [](https://github.com/heptio/contour/blob/master/internal/contour/cluster.go#L190)?

[2018-10-07 03:30] yob commented on #546
I think we can close this, it's more of a @yob-is-still-learning-kube-issue than a GCP limitation.

The contour pods in a cluster are exposed to the Internet via a service with `type: LoadBalancer`. That creates a GCP [Network Load Balancer](https://cloud.google.com/load-balancing/docs/network/), which doesn't terminate TCP connections and shouldn't mask the client IP.

However, by default a GKE s

[2018-10-07 03:30] #546 closed

[2018-10-08 02:32] davecheney commented on #679
Thanks for confirming. Closing.

[2018-10-08 02:32] #679 closed

[2018-10-08 04:56] davecheney commented on #672
@cromefire the blocking issues have been resolved. You're welcome to work on this for 0.7 which will go into free in the last week of October.

[2018-10-08 04:57] davecheney commented on #624
We're not going to get to this for the 0.7 release. Removing milestone.

[2018-10-08 04:58] davecheney commented on #389
This is not going to be addressed in the 0.7 timeframe.

[2018-10-08 05:00] davecheney commented on #437
@glerchundi i'm going to remove the milestone for this issue; we're not going to get it done for 0.7 for two reasons

1. There's about 10 development days until the end of the cycle, I will be travelling during some of those.
2. There is no design outlined in this issue or a design document. I can't help with this due to (1) and also I have no idea what CORS is.

I'm going to make this as needs a

[2018-10-08 05:02] davecheney commented on #598
Removing milestone, #691 is not going to happen for 0.7 and we might skip Go 1.11 completely.

[2018-10-08 05:03] cromefire commented on #672
Allright, it would be nice if you could assign, so so I don't loose track of it

[2018-10-08 05:04] davecheney commented on #672
I tried but github won't let me.

On 8 October 2018 at 16:03, Cromefire_ <notifications@github.com> wrote:

[2018-10-08 11:15] glerchundi commented on #437
In the meantime, take a look to this blog post so that you can have more
CORS related background:
http://performantcode.com/web/do-you-really-know-cors

I’ll try to re-include the proposal I made in another issue as soon as
possible so that we can start discussing where would be the best place to
include this.

Thanks,

On Mon, 8 Oct 2018 at 07:00, Dave Cheney <notifications@github.com> wrote:

[2018-10-09 10:26] fkpwolf opened #748 "Contour should support JWT validation"
**Describe the solution you'd like**
should support JSON Web Token (JWT)  validation

**Anything else you would like to add:**
Since Envoy has supported JWT validation, can Contour add this feature easily? https://github.com/kubernetes/ingress-nginx/issues/1850 Ingress Nginx need extra effort to support this since it should support "Allow custom Lua snippets" at first.

[2018-10-09 10:45] davecheney commented on #748
Can you please explain what JWT validation does? Is it something that should be handled by the proxy layer or is it something better handled at the application later?

[2018-10-09 14:05] fkpwolf commented on #748
JWT token in HTTP header is used to check if a request has been authorized or not. k8s used it a lot. Yes, it can be handled by application also, but API gateway like Kong treats it as part of middle layer with other feature like logging and monitoring.

[2018-10-09 14:07] stevesloka commented on #748
Similar to https://github.com/heptio/contour/issues/432

[2018-10-10 02:57] #748 closed

[2018-10-10 02:58] fkpwolf commented on #748
close as duplicated with #432

[2018-10-10 19:32] mauilion commented on #410
bumping this issue again. There are a number of folks that are unable to adopt contour until this feature lands.

[2018-10-10 19:57] rosskukulinski opened #749 "Remove alias field from CRD validation"
We removed the domain alias from the IngressRoute spec but never removed it from the CRD validation:

https://github.com/heptio/contour/blob/master/deployment/common/common.yaml#L58

[2018-10-11 00:35] davecheney commented on #720
Here are a few thing that I think are possible for 0.7 which don't paint us into a corner in the future.

1. Contour already supports the `kubernetes.io/ingress.class` annotation, but this is intended for running Contour in conjunction with other ingress controllers, so you can trial contour on your current cluster without betting the farm.
2. `contour serve` supports a  `--ingress-class-name=INGR

[2018-10-11 00:41] stevesloka commented on #720
Could we have a label selector on namespaces, so each instance of contour would only select resources in namespaces that match a label selector?

[2018-10-11 00:45] davecheney commented on #720
That's a good idea, but I'm concerned with the interaction between namespaces and labels. If we say "this contour looks for label `quux` across all namespaces in the cluster" then that's basically an ingress.class annotation in a cheap suit. If we let people nominate a namespace:label combination, then where do we stick that data, on the namespace object?

[2018-10-11 00:49] stevesloka commented on #720
Yup would work like services do, labels on a namespace to determine the ingress class. contour then just looks at labels when a resource is discovered. New namespaces will be added to the ingress class automatically. This then keeps the Ingressroute objects generic and non environment specific.

Just thinking out loud looking for a way to not require all the annotations.

[2018-10-11 10:07] arun17sep2018 commented on #164
@cmaloney  . you helped me to understand envoy issue, Thanks a lot :)

[2018-10-11 15:42] #749 closed

[2018-10-11 16:50] mauilion commented on #720
Another couple use cases related to #410

When we have "default tls" wired in it would be helpful to consider it's usage in this case as well.

I know of a few folks that use a wildcard pattern and delegate the host side of the fqdn to teams. For example:

Attract `*.app.com` to the ingress controller presumably with a wildcard dns record. Set `--ingress-class=app-com` on the ingress controller an

[2018-10-12 14:38] cromefire commented on #672
I gave up due to problems with the sign off constraint and go (and godep) being bad at being user friendly.

So if some one else want's to look at it, the solutions are the but I'm unable to commit them without trying again and again.

[2018-10-12 15:14] rosskukulinski commented on #672
@cromefire sorry about the issues with the sign-off checker.  It should be working now if you wouldn't mind opening up one more new PR.

[2018-10-13 21:22] josebiro opened #755 "Allow ingress routes for hostnames without a TLD defined"
**Describe the solution you'd like**
I'd like to be able to create an ingress route with a simple hostname, (instead of|as well as) a fully qualified domain name.

For example, assigning an ingress route on any of the following names:
[code]

This is useful for services on a local LAN with a search domain configured because Envoy won't respond for services if the fully qualified name doesn't match

[2018-10-13 23:58] davecheney commented on #755
Thank you for your request. I believe I understand what you are asking for.

The concern I have with this approach is not the complexity of regex, that's the callers decision, but the differences between regex implementations.

For example, few know that the ingress.http.path spec is actually a regex; and its scoped to be a javascript style regex. Envoy also supports a pattern matcher but it is a

[2018-10-14 01:55] josebiro commented on #755
Understood and acknowledged. I had to brush up on the various implementation differences to come up with the suggestion, so I immediately started to share the concern.

I'm not sure I totally understand your suggestion, but I think you're recommending something like `{myhost}.mydomain.int` as the value of fqdn, and use `{myhost}` as the hostname for an additional envoy 'cluster'* config?

If so, t

[2018-10-14 03:34] davecheney commented on #755
What it sounds like you're asking for is the alias feature we removed from
the ingressroute document just before 0.6.

In a sentence, aliases let you add extra host names for a single ingress
route root. This used to be an extra field on the vhost spec, but was
removed in favor of using delegation,
https://github.com/heptio/contour/blob/master/docs/ingressroute.md#virtualhost-aliases

On 14 Octobe

[2018-10-14 04:31] josebiro commented on #755
Taking a brief look through the PRs that removed aliases -- on the surface it looks like they were using a pattern similar to the `fqdn` validator. That would limit their usefulness for the "hostname without a TLD" use case.

[2018-10-14 04:54] davecheney commented on #755
I'm sorry, I think I misunderstood your original request. My apologies.

What I believe you are asking for is a modification to the crd validation
rules. This seems reasonable.

On 14 October 2018 at 15:31, Joseph Bironas <notifications@github.com>
wrote:

[2018-10-14 23:49] #672 closed

[2018-10-15 00:53] #646 closed

[2018-10-15 02:18] #705 closed

[2018-10-15 02:51] davecheney commented on #732
Bumping to 0.8, there's no bandwidth to address this properly in 0.7.

[2018-10-16 03:35] davecheney commented on #720
Closed in #739

[2018-10-16 03:35] #720 closed

[2018-10-16 12:28] dlaidlaw opened #757 "AWS NLB doc incorrect"
The documentation at https://github.com/heptio/contour/blob/master/docs/deploy-aws-nlb.md says:

This is incorrect. The NLB has been available as a LoadBalancer type for a while now, since 1.9 I believe. It is done by adding the annotation: `service.beta.kubernetes.io/aws-load-balancer-type` See the source code: https://github.com/kubernetes/kubernetes/blob/release-1.9/pkg/cloudprovider/providers/

[2018-10-16 14:53] rosskukulinski commented on #603
@alexbrand would you have some time to dig into adding the drain_connections_on_host_removal?

[2018-10-16 14:54] rosskukulinski commented on #689
@seancrwhite I'm on board with that naming convention

[2018-10-16 14:56] rosskukulinski commented on #599
shifting to 0.8

[2018-10-20 08:13] GoingFast opened #765 "gRPC example"
I'd really like a simple helloworld gRPC example. Everything else is working but I cant figure out how to implement gRPC

[2018-10-20 12:35] davecheney commented on #765
I'm sorry i misunderstood your request.

Can you please list precisely what you are trying to do, what you have tried, and what happened when you tried. If you can include code, that would be very beneficial to be able to understand where you are stuck.

[2018-10-22 04:44] rochacon commented on #765
Hey @GoingFast, I think what you're looking for is the `contour.heptio.com/upstream-protocol.h2` [Contour `Service` annotation](https://github.com/heptio/contour/blob/v0.6.1/docs/annotations.md#contour-specific-service-annotations). Try setting this up in your gRPC `Service` manifest with the port number/name the server is bind to as the annotation value.

[2018-10-22 04:50] rochacon opened #766 "Prometheus annotation points to port 9001 but Envoy binds to 8002"
**What steps did you take and what happened:**

I was trying to setup Prometheus metric collection for Envoy and Contour, however after setting the format scrape rule Prometheus was still marking the target as `DOWN`. After checking the generated envoy configuration I've noticed that the Envoy `/stats` path was bind to port 8002 instead of 9001 (the one in the `prometheus.io/port` annotations).
Af

[2018-10-22 10:22] rosskukulinski commented on #766
@stevesloka could you take a look at this?

[2018-10-22 12:29] GoingFast commented on #765
Yes I got it working thanks. Problem wasn't in Contour but my spec rules. I'm still fairly new to k8s so I'm not really sure if the setup I have currently is ok.
[code]
and I dial `hello-server.default.svc.cluster.local:50051`. I write the hostnames and it seems to be working.

[2018-10-22 21:19] rochacon commented on #765
@GoingFast if you're dialing to `hello-server.default.svc.cluster.local:50051` you're actually skipping Contour all together and hitting the app service directly.
Set a hostname on your ingress resource and point that domain to the Contour service internal (or external) IP address, then change the dial to use this new domain with port 80 or 443 (if TLS is configured).

I recommend reading the Kube

[2018-10-22 22:22] davecheney commented on #757
Thanks for the correction. I'll update the documentation.

[2018-10-23 01:34] #537 closed

[2018-10-23 01:38] davecheney commented on #327
Fixed in #756

[2018-10-23 01:38] #327 closed

[2018-10-23 01:43] davecheney commented on #313
It's been a few releases and nothing has blown up. I'm going to close this issue and re-open iff or when a problem is reported.

[2018-10-23 01:43] #313 closed

[2018-10-23 01:44] davecheney commented on #21
Sorry. Once again this keeps getting bumped. I've updated the priority to indicate that this is a low priority issue, based on the evidence from the previous releases.

[2018-10-23 01:57] #695 closed

[2018-10-23 02:01] davecheney commented on #459
Bumping to 0.8, maybe later.

[2018-10-23 02:02] davecheney commented on #273
Lowering priority

[2018-10-23 02:03] davecheney commented on #708
Work continues on this in 0.8

[2018-10-23 02:14] kidlj commented on #361
In my understanding, and as the ring hash document says,

So ring hash(load_balancing) and route hash value(hash_policy) work together to achieve sticky session.

In short, I want sticky session.

Here's a example config that should work:

[code]

[2018-10-23 04:53] davecheney commented on #499
Bumping to 0.8.

This issue is important, but can't be p0 this late in the cycle.

[2018-10-23 04:55] davecheney opened #770 "Ingressroute rc1"
Epic for bringing ingressroute to release candidate status.

[2018-10-23 05:11] davecheney commented on #623
@stephenmoloney can you please verify this with contour 0.6. I think it should work with the following caveats

- routes for vhost described in a single ingress object with `ingress.kubernetes.io/force-ssl-redirect: "true"` on
- cert-managers ingress object exists in its own namespace and lacks `ingress.kubernetes.io/force-ssl-redirect: "true"`

[2018-10-23 05:17] davecheney commented on #689
Too late for 0.8. Please feel free to send a PR and mark it for review in 0.8

[2018-10-23 13:11] stevesloka commented on #766
Hey @rochacon thanks for raising this. A bit of history, we had `9001` as the default port but switched because it conflicted with the default admin Envoy port. We since changed it but forgot to update the example deployment files.

I opened up #772 to fix.

[2018-10-23 14:53] jrnt30 commented on #21
Do you see any significant changes to the overall structure and delegation for Ingress occurring now?  If things are stabilized on that front (love the model) I can take a look at the code base.

[2018-10-23 15:55] rochacon commented on #766
@stevesloka cool, I thought in opening the PR from the start but wanted to confirm the issue. Thank you for the fix.

[2018-10-23 16:02] rochacon commented on #757
It is important to mention that Service LoadBalancer with NLB does not support all control annotations yet, such as [health check interval](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws_loadbalancer.go#L389-L400), so if using the NLB through Service you may need to tweak the `terminationGracePeriod` of Contour to achieve zero downtime rollouts.

[2018-10-23 19:22] davecheney commented on #757
I’m not in a position to verify this change. PRs improving the NLB documentation greatly appreciated

[2018-10-23 19:34] davecheney commented on #21
Things should be stable for a while.

[2018-10-23 21:30] #766 closed

[2018-10-23 23:52] davecheney commented on #592
Removing milestone, this is moderate tech debt, but I don't think qualifies for a planned release.

[2018-10-25 13:35] stephenmoloney commented on #623
will give you an update soon

[2018-10-25 23:35] #757 closed

[2018-10-25 23:36] stevesloka commented on #318
Hey @rimusz do you know what operation you are doing to upload? I'm having troubles recreating the issue.

For my test, I started a simple owncloud (https://owncloud.org/) pod and uploaded a 1gb file which took a few minutes. Not sure if it's splitting up files though.

[2018-10-26 09:11] rimusz commented on #318
been testing some app awhile ago, need to check it out with contour v0.7

[2018-10-26 10:53] davecheney commented on #318
Thanks. Please test with 0.7 and update the ticket with what you discover.

On 26 October 2018 at 20:11, Rimas Mocevicius <notifications@github.com>
wrote:

[2018-10-26 13:40] stevesloka commented on #718
In Envoy 1.7, histograms aren't exposed to Prometheus yet. Will need to wait for a newer version of Envoy.

[2018-10-28 02:10] #681 closed

[2018-10-29 02:14] davecheney commented on #765
@GoingFast please reopen this issue if you need more assistance.

[2018-10-29 02:14] #765 closed

[2018-10-29 04:42] davecheney opened #785 "internal/dag: add support for TCPServices"
The `internal/dag` package should be able represent HTTP services and TCP services as distinct objects.

To do this the current `dag.Service` object will be embedded into a new object `dag.HTTPService` which holds HTTP specific properties of a Kubernetes v1.Service for a HTTP application. This will create space for a new `dag.TCPService` object.

[2018-10-29 07:24] davecheney opened #787 "[Feature] TLS TCP session proxying"
This is a high level ticket to track the addition of TLS forwarding to Contour 0.8.

## What is being added?

Support for handling TLS encrypted TCP sessions is planned for Contour 0.8. This will terminate the TLS connection at the Envoy edge and forward the decrypted TCP flow to a backend pod making up a service. _[Note: this is my best understanding of the way Envoy 1.7.0 works, this may change_

[2018-10-29 14:14] alexbrand commented on #787
I think one potential value-add over traditional service load balancers is traffic consolidation. For example, in the case that I have N services that I want to load balance, I can send traffic through my ingress tier instead of having (and paying for) N cloud load balancers.

[2018-10-29 18:19] alexbrand opened #788 "Support selectors as a way to identify backend services in IngressRoute"
Most resources in Kubernetes use selectors to establish a relationship/ownership. For example, services use selectors to determine which Pods are part of the service. Deployments, ReplicaSets, DaemonSets, etc also use selectors.

Given that this pattern exists in Kubernetes, I am wondering if it makes sense to support selectors in the IngressRoute resource to identify backend services:

[code]

On

[2018-10-29 20:21] davecheney commented on #787
@alexbrand but these N services would have to be presented externally on N ports. Without the SNI handshake we cannot tell which backend service the traffic is for so we'd have to forward then entire port carte blanche. This means contour would need to open a new incoming port on its service type:loadBalancer to route that traffic.

[2018-10-30 03:30] davecheney opened #789 "dag.HTTPService Healthcheck field blocks adding TCPService"
The dag.HTTPService.Healthcheck field should move to the embedded dag.Service field.

Currently the Healthcheck field is the raw value from IngressRoute's healthcheck json which is too specific for a generic dag.Service.

TODO:
- [ ] Move the relevant fields to dag.Service

[2018-10-30 04:14] #789 closed

[2018-10-30 15:57] so0k commented on #715
We recently switched from zalando/kube-ingress-aws-controller + zalando/skipper to zalando/kube-ingress-aws-controller + heptio/contour.

Currently setting `ingress.kubernetes.io/force-ssl-redirect` on our ingress results in a redirect loop

Would there be a simple way to check for `X-Forwarded-Proto` header and not redirect if it's there?

Ideally, the logic of creating external LB and setting th

[2018-10-30 18:45] floriankoch commented on #410
any progress here? i have the same situation / requirement as @mattalberts , we use nginx-ingress atm, but want to switch to contour to use the ingress route

[2018-10-31 03:04] #785 closed

[2018-10-31 12:53] glerchundi commented on #15
As it seems to be declared as out-of-scope in #787, when do you think would be the best release/time window to implement this? I'm open to collaborate on this.

[2018-10-31 19:47] anapsix opened #793 "Trouble with HTTPS/TLS termination with use-proxy-protocol"
**TL;DR**

Unable to reach Ingress over HTTPS.
Chrome Browser reports `ERR_CONNECTION_CLOSED `
Curl returns `SSL_ERROR_SYSCALL` or `Server aborted the SSL handshake` depending on the version.

Debug logs from Envoy shows  `closing connection: no matching filter chain found`

**What steps did you take and what happened:**

Following tutorial, deployed Contour as DaemonSet on VM-based cluster.
Enabl

[2018-10-31 20:03] stevesloka commented on #793
Hey @anapsix, did you deploy the service as well? There are some expectations that Contour configures. I'm curious if you curl the service over `:443` to see if it works.

Also, could you go to the Envoy admin page on port 9001 and verify the https listener got created?

[2018-10-31 21:32] davecheney commented on #793
My guess is the SNI handshake the client sent is not matching the list that envoy expects, can you please  follow

https://github.com/heptio/contour/blob/master/docs/troubleshooting.md#access-the-envoy-admin-interface-remotely

and paste the contents of

http://127.0.0.1:9001/config_dump

## NOTE: This dump contains SSL key and cert data, please anonymise it if this is sensitive.

[2018-10-31 21:42] davecheney commented on #15
I know you've been waiting a long time for this so I want to try to give you the most complete explanation of the current status.

#787 will add TCP port forwarding for TLS connections. They will be decrypted at the Envoy edge and the SNI handshake used to direct the unencrypted traffic to the target pods.

This ticket is a request to add nginx's `ssl-passthrough` option. Having read the docs for

[2018-10-31 21:44] #696 closed

[2018-10-31 22:08] PiotrSikora commented on #15
@davecheney `ssl-passthrough` is implemented by peeking at the TLS `ClientHello` message without consuming it (i.e. without performing TLS handshake at the proxy), and simply forwarding encrypted TCP packets between TLS endpoints, in both: Envoy (using [TLS Inspector](https://www.envoyproxy.io/docs/envoy/latest/configuration/listener_filters/tls_inspector)) and NGINX (using [`ngx_stream_ssl_prerea

[2018-10-31 22:12] davecheney commented on #15
@PiotrSikora thanks for confirming.

[2018-11-01 11:11] anapsix commented on #793
@stevesloka, yep service for `kuard` deployed. But it would not be listening on 443, since I'm looking for Contour Ingress to provide TLS termination.
[code]
For Contour, I'm using DaemonSet with `hostPort`.

----
@davecheney that's what I thought.. I was hoping `openssl s_client -connect 127.0.0.1:9443 -servername kuard.random.io` would help me catch that

Here is the config dump
[code]

[2018-11-01 11:16] anapsix commented on #793
listeners seem fine to me
[code]
![contour-dag](https://user-images.githubusercontent.com/1256199/47848812-8b0b8180-dde0-11e8-8961-af6ea6526461.png)

[2018-11-01 12:11] anapsix commented on #793
Since `openssl s_client does not speak `proxy_protocol`, tried disabling proxy protocol, to simplify debugging. And .. it worked, sort of..
Pretty sure I'm hitting same issue as described in #661, when running without proxy protocol enabled, and testing HTTPS on port 9443

### with `--use-proxy-protocol`
#### port Forwarding 9443->9443
SSH to K8s node with `-L9443:127.0.0.1:9443 -L9080:127.0.0.1:9

[2018-11-01 12:17] davecheney commented on #793
That is too be expected. Look at the host header your client is sending; it ends in :9443.

You need to make sure your client sends a host header as a browser would, preferably without a training port number

[2018-11-01 12:47] anapsix commented on #793
sure @davecheney, that makes sense, and I'm not considering it an issue.
Yet, when working around host header with port 9443 caveat with port forwarding 443->9443, curl reports `Server aborted the SSL handshake`
[code]

At the same time HTTP works as expected
[code]

[2018-11-01 13:18] davecheney commented on #793
Can we step back and ask what you are trying to accomplish? I understand that it’s useful to test software in a stanging environment before deploying but network forwarding jiggery-pokery is very fragile when tls and port forwarding are mixed together.

To be clear, I do want to make sure contour is working properly in your environment, but unless you’re planning on using ssh forwarding for produc

[2018-11-01 14:47] harper1011 opened #795 "Link broken in "TLS support" doc"
**What steps did you take and what happened:**
In "[TLS support"](https://github.com/heptio/contour/blob/master/docs/tls.md#tls-support) documentation page, a link is broken which lead to 404 page not found
The broken link is: "YAML v2 bootstrap configuration."

**What did you expect to happen:**
The link should point to proper documentation page

[2018-11-01 15:20] glerchundi commented on #15
Cannot explain better than how @PiotrSikora did, thanks! And also for the tip that the absence of `tls_context` makes envoy work as ssl passthrough.

[2018-11-01 15:50] anapsix commented on #793
I'm using a LoadBalancer in L4 mode, configured out-of-band, to proxy from it's VIP to K8s worker nodes, where Contour does what it does (routing, TLS termination, etc)
[code]
This all works as expected, when proxy-protocol is disabled, with or without LoadBalancer.
Then proxy-protocol is enabled, I'm having an issue described.
All of this "network forwarding jiggery-pokery" 😄  is happening for de

[2018-11-01 22:19] davecheney commented on #795
Thanks for spotting that. I'll get it fixed for 0.8

[2018-11-02 00:00] davecheney commented on #793
Thanks for confirming. What L4 load balancer are you using? does it understand the Amzon proxy format (i'm not sure if it's a standard or an RFC)?

[2018-11-02 09:15] anapsix commented on #793
I believe, LoadBalancer can be safely taken out if the scope, as it does the right thing as confirmed with HTTP requests. Which is why during my tests I'm using curl to talk directly to envoy (reminder: it's listening on 9080, and 9443).
Respectfully, notice the difference with proxy protocol on, and off: https://github.com/heptio/contour/issues/793#issuecomment-435030058

At the moment, my lackin

[2018-11-03 05:11] davecheney commented on #708
This is mostly done. Anything that is still outstanding will be handled as part of its own issue/refactoring.

[2018-11-03 05:11] #708 closed

[2018-11-03 11:31] anapsix commented on #793
I've compared sorted configs with proxy enabled and disabled, and diff is unsurprising, but disappointing (as I was hoping to find a culprit..)
[code]

[2018-11-05 04:27] #10 closed, assigned to nobody

[2018-11-05 17:56] rbankston commented on #608
Would this be only supporting the current Kubernetes ingress wild card host spec of *.wilcard.com or would we work to allow api-*.wildcard.com subdomain based routing?

[2018-11-05 20:29] davecheney commented on #608
Hey @rbankston,

I've read https://v1-10.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#ingressrule-v1beta1-extensions a few times and I don't see any mention of a specification for wildcards. Could you please point me in the right direction. Thanks

[2018-11-07 16:49] rbankston commented on #608
Hey @davecheney,

The current api host spec references  the [RFC 3986](https://tools.ietf.org/html/rfc3986) for how a host is valid. Currently Kubernetes has an open issue for this support upstream https://v1-10.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#ingressrule-v1beta1-extensions or should these comments be added as a new issue?

[2018-11-07 17:14] praveenchandran opened #801 "Provision ALB on AWS ?"
Hi Everyone,

Can I provision an ALB instead of Classic or Network load balancer on AWS. If yes, what would be the correct annotations for it?

Thank you.

[2018-11-07 17:21] rosskukulinski commented on #787
I think for 0.8 it's safe to focus on the TLS TCP user-case, but I agree with @alexbrand and @mauilion that we should work out the port-based proxying user-cases for future releases.

[2018-11-08 00:39] davecheney commented on #370
@jhohertz thanks for the update. I had a 5 second glance at the link you included to make sure I understood how this was implemented -- it looks like another xDS api, RLS. That looks pretty straight forward.

I'm not sure I can look at this for the 0.8 timeline, which is due at the end of next week. This is probably a medium to large (depending on your knowledge of Envoy and Contour) piece of work

[2018-11-08 20:08] rosskukulinski commented on #433
@davecheney this came up with a customer recently - will likely be a blocking issue in Q1 or Q2 of next year.

Relevant nginx annotation is here: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md#client-certificate-authentication

Envoy docs: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ssl#enabling-certificate-verificatio

[2018-11-08 20:22] davecheney commented on #433
Seems reasonable to me. Let’s pencil this in for 0.9 for jan/feb 2019

[2018-11-13 01:08] davecheney opened #802 "Switch from listener.useproxyprotocol to envoy.listener.proxy_protocol listener filter"
Envoy supports a listener filter for proxy_protocol

https://www.envoyproxy.io/docs/envoy/latest/configuration/listener_filters/proxy_protocol

Perhaps that should be used instead of listener.filterchain.use_proxy_protocol.

[2018-11-14 04:42] awprice opened #805 "Add configurable default backend"
When there are multiple ingresses in a cluster with a [`ingress.spec.backend`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#ingressbackend-v1beta1-extensions) specified, one of these will randomly be chosen as the default backend (`*`) for envoy. This is non-deterministic and prevents reliable health-checking of the the envoy traffic port using the default backend.

Ideally

[2018-11-14 04:54] davecheney commented on #805
Thank you for this issue. The default backend is a real gotcha with the ingress spec.

Rather than adding a flag to nominate who gets to be the default backend, how would you feel instead about a flag that disabled the default backend altogether. That is, you have to nominate a hostname on every ingress deployed.

Also, I know its probably not what you're looking for, but our ingressroute crd addr

[2018-11-14 05:47] dadux commented on #805
There's a problem with removing the default backend for cloud load balancer healthchecks.
In AWS, the ELB/ALB will set the host header to the instance internal IP.

[2018-11-14 05:47] awprice commented on #805
Thanks for the quick response!

We already combine all default backends into the one ingress object, but due to the environment that Contour is running in (a multi-tenanted) cluster, we cannot prevent users from simply creating another ingress record with a `ingress.spec.backend` which would introduce the randomness to the default backend.

The reasoning behind ensuring that the default backend is

[2018-11-14 07:37] davecheney commented on #805
Since 0.7 we configure Envoy to respond on 0.0.0.0:8002/healthz. Can you
use that for a more reliable healthcheck endpoint?

On 14 November 2018 at 16:47, Alex Price <notifications@github.com> wrote:

[2018-11-14 07:53] anapsix commented on #793
The "proxy protocol" mentioned in [documentation](https://github.com/heptio/contour/blob/master/docs/proxy-proto.md) is HAPROXY PROXY protocol. Afaik, HAPROXY is the originator of the protocol.
It's visible in tests I've posted, using curl command that Envoy does use it on non-TLS port.
@davecheney please clarify ".. Envoy does not use the HA Proxy protocol, so using curl --haproxy-protocol will n

[2018-11-14 08:10] davecheney commented on #793
Envoy, in the way we have it configured uses PROXY V1, https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/listener/listener.proto#envoy-api-msg-listener-filterchain. Curl may be attempting PROXY V2

[2018-11-14 10:03] anapsix commented on #793
I've posted successful examples of using `curl --haproxy-protocol`. I swear, I did no doctor them @davecheney

[2018-11-14 11:21] anapsix commented on #793
Regardsless, I appreciate you taking your time listening and trying to help @davecheney

[2018-11-14 21:13] rosskukulinski commented on #87
Resolved in #759, dup of #695

[2018-11-14 21:13] #87 closed

[2018-11-15 21:44] bpownow commented on #283
+1 on this issue. Thanks @stevesloka!

[2018-11-15 22:33] smartyjohn opened #808 "TLS 1.0 cannot be enabled through an IngressRoute."
**What steps did you take and what happened:**
Specify an IngressRoute with `minimumProtocolVersion: "1.0"`.  The CustomResourceDefinition validation rejects the version.  Changing the CRD to accept the new string still does not allow TLS 1.0 to function.

**What did you expect to happen:**
To enable TLS 1.0 support for the route.

**Anything else you would like to add:**
There is substantial reas

[2018-11-15 23:03] davecheney commented on #808
Thank you for your issue. I understand your requirements but the decision in #185 to disable TLS/1.0 support is final.

[2018-11-15 23:03] #808 closed

[2018-11-17 00:31] jcrowthe commented on #410
Likewise, similar situation here. In a multi-tenant cluster environment with a wildcard certificate, placing the cert as a secret in every namespace is horrific. Cert-manager can be adopted by some, but not all, and lack of support in Contour is a hindrance to its adoption.

IngressRoute doesn't appear to be well suited to a multi tenant team with a wildcard cert, as you need to delegate each and

[2018-11-17 02:39] davecheney commented on #410
Thanks for your comment.

This issue is absolutely on my radar, i hope to get to it next year. I know that’s a really vague promise, but it’s the best I can offer. I see the need, I understand the requirement, it’s just a matter of prioritisation and personnel.

[2018-11-17 17:57] jcrowthe commented on #410
@davecheney Thanks, it's good to know this is on the radar.

If a dev on my team happened to have some spare cycles, would you accept a PR for this feature? If so, we'd like to implement it right, which means we'd need a spec to build toward.

[2018-11-18 03:20] davecheney commented on #410
Of course, all help gratefully received, but _please_ before sending any code discuss and agree on a design in this issue, or in a spec PT to the design/ or docs/ directory.

[2018-11-19 04:49] davecheney opened #812 "[ingressroute] remove requirement for spec.routes to be present"
Currently `spec.routes` is required by input validation even though it is ignored when `spec.tcpproxy` is present.

I think this is coming from the crd input validation; the logic should be updated to be one of `spec.routes` or `spec.tcpproxy`, but only when the latter is a root ingress route.

[2018-11-19 04:59] robbiemcmichael opened #813 "Support TLS verification of backend services"
Contour should support TLS verification of backend services with a CA certificate. This feature is supported in Envoy, we just need to add the `trustedCA` field to the TLS `validation_context`: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ssl#enabling-certificate-verification

[2018-11-19 06:33] robbiemcmichael commented on #813
Some personal opinion on implementation of this:

- Ideally the CA certificate should be configurable via a configmap, similar to how the TLS certificate and private key can be configured via a secret
- The ingress route that defines the backend service should define the configmap which is used for TLS verification (configmap would be in the same namespace as this ingress route)
- If TLS verificat

[2018-11-19 11:03] fkpwolf opened #814 "IngressRoute not work if configure Contour as NodePort type service"
**What steps did you take and what happened:**
I install k8s by kubeadm and there is no LoadBalance stuff like aws ELB. So I modify contour as NodePort service. But for IngressRoute I find I can't access by either hostname:port or hostname. Can I change value of fqdn to * so I can access by ip?

[code]

**What did you expect to happen:**
I can access kuard page.

**Anything else you would like to

[2018-11-19 11:21] davecheney commented on #814
Hello,

Thank you for raising this issue. You haven't explained how you are accessing contour via a nodeport but I believe your issue may be related to a missing or incorrect host header. Please have a look at https://github.com/heptio/contour/blob/master/docs/minikube.md, specifically if the Host header sent by your browser or curl does not match 80 or 443 your service will not be accessible.

[2018-11-19 15:55] fkpwolf commented on #814
@davecheney  ya, I can access by `curl -H "Host:contour.192.168.51.11.nip.io" -v contour.192.168.51.11.nip.io:31974`. 192.168.51.11 is my api server address and 31974 is NodePort of Contour service.
So can't use hostname with a port. Looks a bug of Envoy. Close this.

[2018-11-19 15:55] #814 closed

[2018-11-20 14:42] gtriggiano opened #815 "IngressRoute support for custom request timeout"
**Describe the solution you'd like**
I'd like to be able to configure custom request timeouts per IngressRoute.

It seems from docs that you can use annotations on ingresses, but according to [this comment](https://github.com/heptio/contour/pull/655#discussion_r213334220)

Docs regarding IngressRoute contain no reference to a _requests timeout config parameter_.

**Environment:**

- Kubernetes ver

[2018-11-20 15:13] stevesloka commented on #370
I did some work on implementing this feature and there's a roadblock in how RateLimiting is currently implemented. Right now, RateLimiting can only be configured via the bootstrap config. There is an open issue to design the implementation to where it can be configured dynamically as we'd want in Contour (https://github.com/envoyproxy/envoy/issues/4669).

If someone wanted this work sooner, they'd

[2018-11-20 19:38] stephenmoloney commented on #623
Ok, So I finally got to try this today and from what I can tell, requests to `/.well-known/acme-challenge/` are still being redirected.

Example log from envoy when the annotation is `ingress.kubernetes.io/force-ssl-redirect: "true"`
[code]

Example log from envoy when the annotation is
[code]

The ingress object is of type `extensions/v1beta1` and looks something like this:

[code]

A cluster iss

[2018-11-20 22:32] davecheney commented on #623
Can you try without this annotation?

[code]

On 21 November 2018 at 06:38, Stephen Moloney <notifications@github.com>
wrote:

[2018-11-26 04:11] robbiemcmichael opened #816 "Restrict namespaces the secret watcher operates in"
Contour currently has to be configured with the ability to [watch secrets across all namespaces](https://github.com/heptio/contour/blob/master/internal/k8s/watcher.go#L59) which it uses to be able to handle TLS termination for the virtual hosts.

Since Contour can be configured to [restrict which namespaces are allowed to have root IngressRoutes](https://github.com/heptio/contour/blob/master/docs/

[2018-11-26 04:34] davecheney commented on #816
This is a good suggestion. I think we can adjust the secret watcher if
root-namespaces is enabled.

On Mon, 26 Nov 2018 at 15:11, Robbie McMichael <notifications@github.com>
wrote:

[2018-11-26 14:58] rosskukulinski commented on #816
This seems like a good idea.  We won't be able to dynamically update the RBAC configuration, but this feature would allow users to proactively lock down the permissions and still have contour function properly.

[2018-11-26 19:38] wadeholler opened #817 "Enabling EC2 ELB PROXY protocol support with Classic ELB breaks HTPS"
**What steps did you take and what happened:**
Installed via "Get Started"
Followed instructions for TLS enablement and EC2 ELB PROXY protocol support
Connectivity to a subsequently created ingress target over https faulted TLS negitiation.

Example:
[code]

**What did you expect to happen:**

Expected TLS connectivity to work for the ingress

**Anything else you would like to add:**
[Miscellaneou

[2018-11-26 19:47] wadeholler opened #818 "Update proxy-proto.md to be consistent with get started yaml"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Update proxy-proto.md to be consistent with get started yaml

 Proxy proto references the following syntax:

[code]

however the get started Contour yaml uses syntax like

[code]

**What did you expect to happen:**

Exact syntax in the documentation that matches the get started yaml

**Anything el

[2018-11-26 20:54] davecheney commented on #817
Thanks for raising this issue. Can you please show the `kubectl -o yaml` output of the contour service document. I want to see where in out documentation the bug is.

[2018-11-27 21:45] PeteE opened #821 "CRD fqdn regex is too strict"
**What steps did you take and what happened:**
Attempt to create an IngressRoute with an fqdn of `my.domain.k8s`

**What did you expect to happen:**
fqdn is valid.

**Anything else you would like to add:**

**Environment:**

- Contour version: v0.8.0
- Kubernetes version: (use `kubectl version`): 1.10

[2018-11-27 22:23] glerchundi commented on #437
@davecheney as we're going to need this sooner than later I would like to know if you found a free slot to take a look to the blog post I mentioned in my last comment?

The configuration parameters for CORS are very strict and static so I think there is no doubt in there. My main concern is the location of this `cors` key inside de ingressroute spec. As CORS is available in route level we can make

[2018-11-27 23:40] #818 closed

[2018-11-27 23:43] davecheney commented on #437
Thanks for the ping. I don't think anyone is going to be able to look at
this til the 0.9 release next year.

On Wed, 28 Nov 2018 at 09:26, Gorka Lerchundi Osa <notifications@github.com>
wrote:

[2018-11-28 12:41] yob opened #823 "Are you open to making TLS ciphers configurable?"
Generally I'm reluctant to enter the custom cipher configuration game - the hunt for the perfect configuration to get an `A+` on qualys ssl labs is a mugs game.

However, we've hit a situation where we'd prefer to sacrifice some backwards compatibility to get perfect forward secrecy in place for all connections. Rats.

Are you open to a patch to make the ciphers enabled in envoy configurable?

The

[2018-11-28 19:48] davecheney commented on #823
Yes, I think we can do that in both ingress via an annotation and ingress route in the virtual host.tls spec.

[2018-11-28 21:43] afayes opened #824 "Ajax GET requests being cached"
**What steps did you take and what happened:**
I am testing out contour ingress controller with ingress route resource for my application. I can see that AJAX requests have an expires header to set to 2 hours in the future. However, this has broken my application. After issuing an AJAX delete request to delete a data item, a subsequent GET request is issued but because of caching it gets the old l

[2018-11-28 21:48] davecheney commented on #824
Thanks for your issue. As far as I know envoy does not have a caching facility. Can you please provide some more detail, curl -v would be perfect.

[2018-11-28 21:50] afayes commented on #824
My app is currently running here: http://ae7626db1f32f11e8a03b0e8108d4e9d-1460728722.us-east-1.elb.amazonaws.com

[2018-11-28 21:51] afayes commented on #824
my kubernetes depoyment files content is:
`apiVersion: contour.heptio.com/v1beta1
kind: IngressRoute
metadata:
  labels:
    app: computer-service
  name: kuard
  namespace: default
spec:
  virtualhost:
    fqdn: ae7626db1f32f11e8a03b0e8108d4e9d-1460728722.us-east-1.elb.amazonaws.com
  routes:
    - match: /
      services:
        - name: computer-ui
          port: 80
    - match: /api
      ser

[2018-11-28 21:54] afayes commented on #824
curl output:
` curl -v http://ae7626db1f32f11e8a03b0e8108d4e9d-1460728722.us-east-1.elb.amazonaws.com/api/v1/computers
*   Trying 34.237.104.167...
* TCP_NODELAY set
* Connected to ae7626db1f32f11e8a03b0e8108d4e9d-1460728722.us-east-1.elb.amazonaws.com (34.237.104.167) port 80 (#0)

< HTTP/1.1 200 OK
< Content-Type: application/json;charset=UTF-8
< Date: Wed, 28 Nov 2018 21:53:48 GMT
< x-envoy-ups

[2018-11-28 23:35] yob commented on #823
That's good news.

The envoy cipher config is the standard list of cipher labels as a string. Is your preference to expose that directly so contour users can can provide a cipher string?

[2018-11-28 23:59] afayes commented on #824
You can see in the curl response, the header: Expires: Wed, 28 Nov 2018 23:53:48 GMT
This causes the browser to cache the result but should not. There is nothing in my app that adds this header. I do not think Amazon's load balancer is adding it, the only other place that it is being added is the ingress controller

[2018-11-29 01:50] davecheney commented on #824
Thank you for the explanation. I’ll do some investigating.

[2018-11-29 01:51] davecheney commented on #824
How far in the future was that expires header for you ? (Time zones are hard)

[2018-11-29 01:52] davecheney commented on #823
My first preference is to fix whatever ssl labs is complaining about without an option to change it.

I’m not sure that is achievable, so the fallback is to choose a reasonable default then add a list argument to the tls spec where an alternative list can be supplied.

[2018-11-29 07:43] afayes commented on #824
2 hours ahead

[2018-11-29 07:59] davecheney commented on #824
Hmm, that does look auto generated. My suspicion is this is being added by the gzip compression filter we added in 0.7.

I’ll have a hunt for the culprit next week.

[2018-11-29 08:01] afayes commented on #824
Cool

[2018-11-29 14:32] glerchundi commented on #437
@davecheney ok, thanks. As an update, we're deploying our own fork with this implemented and it's working as expected.

[2018-11-29 14:52] dobozysaurus commented on #320
Looks like Envoy will support custom error responses in 1.9.0: https://github.com/envoyproxy/envoy/issues/1178.

[2018-12-03 15:27] anapsix opened #825 "Support of external endpoints as targets for proxying"
**Describe the solution you'd like**
Would love to be able to define `Ingress` and/or `IngressRoute` objects, that would allow specifying endpoints outside of k8s cluster as targets for proxying.
Unlike #334, this feature would not rely on Service object, and would achieve described functionality directly.

Manifest could look like this, for example:
[code]

[2018-12-06 23:01] davecheney commented on #825
Thank you for raising this feature request, I've added it to the backlog.

[2018-12-10 01:56] davecheney commented on #824
@afayes i'm not able to reproduce the problem. Here is my test instance running on GKE
[code]
How have you deployed contour in your environment? Are you using an ELB?

[2018-12-10 01:57] davecheney commented on #801
Closing as answered

[2018-12-10 01:57] #801 closed

[2018-12-10 02:02] davecheney commented on #793
Closing in favour of #802.

I'm sorry I cannot resolve this issue. The best way forward I know is to switch to Envoy's newer proxy protocol handler and hope for the best.

[2018-12-10 02:02] #793 closed

[2018-12-10 02:41] #795 closed

[2018-12-11 00:44] #812 closed

[2018-12-11 07:09] davecheney commented on #394
@robertlemmen I'm sorry this issue has been open for so long without a response.

- See docs/tagging.md for our tagging policy, `:latest` now points to the most recent stable release

I'm going to close this issue as almost all the code that controls SSL has been rewritten since 0.5. Please feel free to reopen this if you are experiencing problems with the latest version of Contour.

[2018-12-11 07:09] #394 closed

[2018-12-12 05:43] pims commented on #432
I’d be happy to contribute a PoC for ext_authz filter configuration if the contour team still believes it's a valuable feature to add.

Are you dead set on having this only available through the new IngressRoute custom CRD or should I also consider how to integrate it with the native ingress definition?

[2018-12-14 05:41] davecheney opened #835 "Contour 0.9: freshen dependencies"
Freshen dependencies for the contour 0.9 cycle.

Note: do not upgrade beyond kubernetes 1.11.x

[2018-12-14 07:04] #835 closed

[2018-12-15 07:05] rosskukulinski commented on #399
Some relevant Envoy APIs:

* https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/trace.proto#envoy-api-msg-config-trace-v2-lightstepconfig
* https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/tracing#arch-overview-tracing

[2018-12-16 21:42] #689 closed

[2018-12-16 21:44] davecheney commented on #318
I'm going to close this bug as answered. Please feel free to reopen it if the latest release of contour has not solved the problem.

[2018-12-16 21:44] #318 closed

[2018-12-17 19:14] stevesloka commented on #370
Looks like a PR was merged (https://github.com/envoyproxy/envoy/pull/5242) to enable rate limiting dynamically. The only blocker now is to have a new enough version of Envoy to utilize this feature.

I'm going to do a build of `latest` and see if my branch works out of the box.

[2018-12-18 00:13] davecheney opened #837 "Upgrade to Envoy 1.9.0"

[2018-12-19 21:01] davecheney commented on #509
@remmeier this ticket is to ensure that cert-manager, specifically the ingress-shim process, can work with contour in the absence of k8s ingress records, that is, the installation is only using ingressroute.

If you have a question about using cert-manager and tcp proxying, please raise a new ticket.

[2018-12-19 21:21] remmeier commented on #509
I was investigating contour, tcp and cert-manager and my understanding of this ticket is that this combination is currently not support to do that due to limitations of the ingress resource (just HTTP). But resolving this ticket will do that as TCP proxying is a feature of the IngressRoute? If there is something I missed, I can create another ticket.

[2018-12-19 21:23] davecheney commented on #509
@remmeier this ticket is to ensure that cert-manager, specifically the ingress-shim process. TCP proxying is #787

[2018-12-19 21:50] glerchundi commented on #15
Of course Dave, will do once I empirically verify it’s something that
works. I included the patch only to show you how it’s being done.

Good night,

On Wed, 19 Dec 2018 at 22:26, Dave Cheney <notifications@github.com> wrote:

[2018-12-20 18:40] jipperinbham commented on #815
I'd like to help with this if it has not been started already. Here's what I was thinking:

- Some of the other annotations (i.e. `contour.heptio.com/websocket-routes`) have been added to the `Route` struct of the `IngressRouteSpec` which ends up in the [Route portion of the dag](https://github.com/heptio/contour/blob/dd412d58122c23f2236489cee32d78e65201c81d/internal/dag/dag.go#L51-L84).
- It woul

[2018-12-21 12:18] glerchundi opened #839 "IngressRoute: TCPProxy Delegation from a root IngressRoute"
Trying `tcpproxy` thingy in our deployments I found myself trying to figure out how to make it in our own methodology (which uses delegation for everything so namespace based access control is much easier), I saw in #787 that root delegation is out of scope. Is this something that you would eventually do? I can take some time to sketch something. The `spec` seems to fairly clear to me which would

[2018-12-28 06:33] kidlj opened #840 "IngressRoute delegation use cases?"
except for...

- server aliases
- blue/green deployments

I'm wondering if there are more use cases or reasons for this design?  Thanks.

[2018-12-28 07:58] glerchundi commented on #840
@kidlj for me the use-cases are security related concerns:
* access control based on kubernetes namespaces.
* tls secrets on the edge namespace and path management on another.

[2019-01-01 16:04] alvaroaleman opened #841 "Support regex in Ingress `spec.rules.http.paths.path` field"
**What steps did you take and what happened:**

I tried to use a regex (`/.*`) in `spec.rules.http.paths.path` of an Ingress which should work [according to the upstream go docs](https://github.com/kubernetes/kubernetes/blob/f83bb59047b1de54dd24ca629da4598917f4f283/pkg/apis/extensions/types.go#L189). It resulted in a 404 from envoy:

[code]

**What did you expect to happen:**

The same as what cur

[2019-01-02 00:46] davecheney commented on #840
@kidlj thanks for your question; the best answers are probably found in the blog posts the Contour team have made

- https://blog.heptio.com/improving-the-multi-team-kubernetes-ingress-experience-with-heptio-contour-0-6-55ae0c0cadef
- https://blog.heptio.com/flexible-software-deployment-patterns-with-ingressroute-a49a43253992

Additionally I made a presentation to the GDG Melbourne chapter last No

[2019-01-02 00:56] davecheney commented on #841
@alvaroaleman thanks for raising this issue. Tbh supporting regexes as advertised in the ingress spec is complicated because the ingress spec defines a specific flavour of regex which neither the nginx or envoy ingress data planes support.

In Contour we try to detect if the path spec is a regex, and switch from prefix matching to regex matching.

For the regex you specified, you can replace it wi

[2019-01-02 08:12] kidlj commented on #840
@glerchundi @davecheney Thanks.

[2019-01-02 08:30] #840 closed

[2019-01-02 16:43] wadeholler opened #842 "Deployment of v0.8.1 fails to start envoy"
**What steps did you take and what happened:**
Attempted to upgrade to v0.8.1 - however I just followed the Main README.md instructions on adding contour to my cluster.  With the following tweaks:

appearent envoy error:

[code]

updated with our private registry target
updated with annotation for internal ELB
changed contour:master to contour:v0.8.1

**What did you expect to happen:**

Contour to

[2019-01-02 17:57] stephenmoloney commented on #569
I think it's `nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"` now.

[2019-01-02 21:00] stevesloka commented on #842
Hey, @wadeholler I did some digging in this. If you use the `master` tag of Contour everything will work fine. I think it's related to the envoy go-control-plane updates that came out since the `v0.8.1` tagged release.

I think we could build a `v0.8.2` to get a tagged release that works with Envoy `v1.8.0`. What do you think @davecheney?

In the meantime, you could use Envoy `v1.7.0` with Contour

[2019-01-02 21:30] davecheney commented on #842
Hi,

The expected use case is Contour 0.8.x uses Envoy 1.7.0. Contour 0.9. will use Envoy 1.8.0. If Contour 0.8.x is not broken with Envoy 1.7.0 we probably won't backport support for Envoy 1.8.0.

[2019-01-02 23:44] wadeholler commented on #842
Thanks all. I thought I was doing a good thing by setting Contour to a
release instead of master in deployment. This cluster isn’t prod yet but it
will be at the end of the month. Sorry I caused you extra work and
investigation. I’ll roll envoy back to 1.7.0 when using contour 0.8.X.

Thanks again.

/close

On Wed, Jan 2, 2019 at 4:30 PM Dave Cheney <notifications@github.com> wrote:

[2019-01-03 00:15] davecheney commented on #842
Thanks @wadeholler. I'm sorry the process isn't smoother, Envoy is evolving pretty quickly and so the version of contour is pretty closely tied to the version of Envoy.

At the moment this dependency is expressed in the deployment manifests we ship with each release branch, https://github.com/heptio/contour/blob/release-0.8/deployment/deployment-grpc-v2/02-contour.yaml#L29, but I'd like to make th

[2019-01-03 00:15] #842 closed

[2019-01-03 15:53] mattalberts commented on #399
@rosskukulinski I probably missed something.  Setting up the static cluster/trace resource was easy; I used the zipkin trace config
[code]
The more difficult part was enabling as part of the envoy filter.  All the code has very much moved around by now :), I should pull 0.8.1 and play with it (I'm living back on 0.5.0).

[2019-01-07 01:27] ungureanuvladvictor opened #845 "Support tls cert/key via file mount"
**Describe the solution you'd like**

We would like to have the ability to specify a tls cert/key for a `SecureVirtualHost` via a file present in the filesystem of the contour container rather than using k8s secrets. From my investigation it looks like the `SecureVirtualHost` struct embeds the `Secret` struct which has a `v1.Secret` as a member.

[2019-01-07 01:36] davecheney commented on #845
Thanks for raising this issue. There are a few design points to work through here.

1. If the filesystem is mounted onto the contour container, that would probably mean all users had the permission to edit the contour deployment descriptor to mount a filesystem.

2. If there are multiple contour containers running, does the filesystem have to be mounted into all of them.

2a. Technically Envoy nee

[2019-01-07 01:45] ungureanuvladvictor commented on #845
Currently we do not have a deployment. We are researching to use contour+envoy instead of nginx ingress but the use of k8s secrets blocks us.

Currently we have a custom mechanism that based on certain annotations on the pod a mutating webhook attaches a volume + an init container grabbing secrets from a backend. Now we custom configured the nginx template and hardcoded the path to the cert and ke

[2019-01-07 02:31] #821 closed

[2019-01-07 22:37] rosskukulinski commented on #718
https://github.com/envoyproxy/envoy/issues/1947

[2019-01-08 04:20] #691 closed

[2019-01-08 04:23] davecheney opened #848 "Upgrade to Go 1.12"
Upgrade to Go 1.12 for Contour 0.10.x

[2019-01-08 15:01] joshrosso commented on #787
Is this feature available in 0.8+ via https://github.com/heptio/contour/pull/810?

I see it's been target for `0.9`.

[2019-01-08 19:11] Starblade42 commented on #361
I'd love some feedback on how to implement this feature, and want to make sure that I'm heading the right direction in how we'd specify this type of configuration.
(https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-routeaction)
(https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html?highlight=hash_policy#route-routeaction-hashpolicy)

It se

[2019-01-08 19:43] davecheney commented on #787
@joshrosso part of this feature is available in 0.8, please see the release notes -- there are a bunch of limitations. This ticket will stay open until those limitations are addressed.

The hope is to deliver more TCP proxying functionality in the 0.9 milestone.

[2019-01-09 02:34] kidlj commented on #361
@Starblade42 Me have the same draft design personally. And the IngressRoute level default load balancing strategy could also be `ring_hash`, then a hash_policy should be specified there.

[2019-01-11 06:00] lostllama commented on #815
To add my 2 cents to this, we're using the following annotations on Ingress that we'd like to use on IngressRoute too:

    ingress.kubernetes.io/force-ssl-redirect
    contour.heptio.com/retry-on
    contour.heptio.com/num-retries
    contour.heptio.com/request-timeout
    contour.heptio.com/per-try-timeout

[2019-01-11 06:22] lostllama commented on #815
It seems that the fields indicated to @jipperinbham need to be added [here](https://github.com/heptio/contour/blob/b65eab04438ea7aef3fbd587cce123bf4c5cd620/apis/contour/v1beta1/ingressroute.go) and mapped through to Envoy.

I'm currently using the following against Ingress, but also need them on IngressRoute:

* ingress.kubernetes.io/force-ssl-redirect
* contour.heptio.com/retry-on
* contour.hepti

[2019-01-11 06:41] davecheney commented on #815
Thank you for your comment. We won’t be adding these annotations but they will be added as fields on the ingress route object where applicable.

[2019-01-11 06:44] lostllama commented on #815
Understood, I just wanted to add my 2 cents for the features that I need. Thank you for your prompt response.

[2019-01-15 18:48] phylake commented on #29
What does this look like now that IngressRoute is here? I'm looking for generic envoy filter config to be passed down in a similar fashion as [Istio](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#EnvoyFilter)

[2019-01-16 22:53] #15 closed

[2019-01-16 23:01] stephenmoloney commented on #623
I tested this again recently without the annotation as describe above and with 0.60alpha of cert-manager and I do not seem to have this issue anymore using staging letsencrypt certs.

Going to test one more time and report back.

[2019-01-17 00:15] davecheney commented on #623
Thanks for the update

On Wed, 16 Jan 2019 at 15:01, Stephen Moloney <notifications@github.com>
wrote:

[2019-01-18 16:11] phylake commented on #361
The [protobuf definition](https://github.com/envoyproxy/envoy/blob/v1.9.0/api/envoy/api/v2/route/route.proto#L720-L731) and [docs](https://www.envoyproxy.io/docs/envoy/v1.9.0/api-v2/api/v2/route/route.proto#route-routeaction-hashpolicy) already define the structure that should be mirrored here. Hash policy isn't a list of hash policies. The following is more appropriate

[code]

I'm working on thi

[2019-01-18 22:21] phylake commented on #361
Nope that won't work. HashPolicy is on the [RouteAction](https://www.envoyproxy.io/docs/envoy/v1.9.0/api-v2/api/v2/route/route.proto#route-routeaction-hashpolicy), not the Cluster

Also I misread the RouteAction from my previous comment. HashPolicy _is_ a list.

I added a QUESTION inline below
[code]

[2019-01-18 23:08] jcrowthe opened #853 "IngressRoute delegation is weakly enforced"
Note: This assumes `--root-namespaces=[]` is not employed.

**What steps did you take and what happened:**
1. Create an IngressRoute in one namespace
1. Verify ingress is working
1. Copy the IngressRoute to another namespace
1. The original IngressRoute is no longer being served, with both marked as "invalid" status

**What did you expect to happen:**

Either:
1. Kubernetes should have prevented t

[2019-01-22 00:59] davecheney commented on #517
If you have an implementation you can contribute I’d be grateful for the help.

[2019-01-22 02:19] dbason opened #854 "Ingressroute status updates can cause update loop"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Added non root IngressRoutes.  Then added a root IngressRoute delegating to those.  This caused a relatively high CPU and Memory usage (150%cpu usage and 2GB RAM - container is limited to 2GB).  This seems quite high for a single IngressRoute

**What did you expect to happen:**
Envoy continuing as

[2019-01-22 16:17] so0k opened #855 "Internal and External ingress with 2 contour deployments"
**Objective**

I need to configure internal and external ingress controllers on AWS with NLB

Internal Ingress is served by an internal NLB (only accessible from within the VPC)
External Ingress is served by an external NLB (publicly accessible)

**What steps did you take and what happened:**

I'm using `deployment/ds-hostnet-split` as a guideline.

[full final manifest](https://gist.github.com/so

[2019-01-22 17:06] so0k commented on #855
without using `hostNetwork` - this works: [manifest](https://gist.github.com/so0k/37740c16bf44f28ba3508e389e838e9c) - but the clientIP is not preserved

[2019-01-22 17:53] jbeda commented on #855
Ok -- here are the ports I see in the [original manifest](https://gist.github.com/so0k/2cb93c405cf05fcb8ecb73fa665efbd0)
* `service/envoy-external`
  * 80->80
  * 443->443
* `service/contour-external` - 8001->8001
* `deployment/contour-external` (`hostNetwork: false`)
  * xds - CONTOUR_EXTERNAL_SERVICE_PORT = 8001
  * envoy-http - 80
  * envoy-https - 443
  * debug - 8000 (only specified in ports

[2019-01-22 17:58] so0k commented on #855
running `netstat -nltp` and playing around the ds to see what ports `envoy-external` vs `envoy-internal` each open on the host did not reveal any overlapping ports.

I will try this again tomorrow with a fresh mind as I spent quite a lot of time breaking my head on this already

[2019-01-22 22:30] phylake opened #857 "IngressRoute design: represent envoy directly"
**Describe the solution you'd like**
I'd like envoy to be represented 1:1 in IngressRoute.

**Anything else you would like to add:**
Main advantages
1. You could [link to envoy's excellent documentation directly](https://www.envoyproxy.io/docs/envoy/v1.9.0/intro/arch_overview/load_balancing/load_balancers), instead of [re-documenting](https://github.com/heptio/contour/blob/v0.8.1/docs/ingressroute

[2019-01-22 22:39] phylake commented on #770
Hi @davecheney, I wrote up #857 and am hoping you'll comment. I'm going off the assumption that a release candidate would not drastically alter the design, which is what I'm proposing and why I didn't comment here

Best,
Brandon

[2019-01-23 14:32] stevesloka commented on #854
That's interesting @dbason. How many services/endpoints do you have in the cluster?

In performance testing, we've encountered high memory, but that was in the thousands of services range due to some gRPC implementations that should be resolved in Envoy soon (or could be already), however, seems like that listener update is the culprit.

Could you share the `IngressRoute` yaml to look at?

[2019-01-23 21:39] stevesloka commented on #855
Hey @so0k can you try adding this argument to one of the Envoy's?

[code]

ref: https://www.envoyproxy.io/docs/envoy/v1.8.0/operations/cli.html#cmdoption-base-id

[2019-01-23 22:06] dbason commented on #854
@stevesloka  here it is

`apiVersion: contour.heptio.com/v1beta1
kind: IngressRoute
metadata:
  name: ir-messenger-root-zero01
  namespace: zero
spec:
  virtualhost:
    fqdn: root.domain.com
    tls:
      secretName: dds-tls-secret
  routes:
    - match: /
      services:
        - name: s0
          port: 80
    - match: /api
      delegate:
        name: ir-s1
    - match: /api/file
      dele

[2019-01-23 22:10] davecheney commented on #854
Thanks for your report. I'm sorry you're having issues. Can you please provide the logs from the `envoy` and `contour` containers, hopefully there will be some indication what is happening.

[2019-01-23 22:11] stevesloka commented on #661
I'm thinking we can add some args to Contour to tell envoy which ports VirtualHosts are configured for. Doing this we would be able to have Contour listen on the same port that Envoy is configured to listen on.

[code]

// cc @joshrosso

[2019-01-23 22:18] dbason commented on #854
@davecheney the only thing I see in the envoy container after adding this is the log line in my original report.  That one is repeated every second or so.  I've had to pull the routes out of my cluster as they were impacting our QA environment however I will try and get the logs from the contour container when I added them.

[2019-01-23 22:21] davecheney commented on #857
@phylake thanks for raising this issue. In answer to your question

The answer is _yes_. It's probably never been explicitly stated, but the goal of Contour is to provide an opinionated deployment of Envoy as a HTTP reverse load balancer. There are many things that Envoy can do, the goal of Contour is _not_ to expose all of those to end users.

With that said I want to give your proposal close tho

[2019-01-23 22:36] stevesloka commented on #857
Another goal of ingress route was to not tie it to envoy, others could implement the CRD and not use Envoy.

[2019-01-23 22:49] davecheney commented on #737
Done. The programatic bootstrap generation is scheduled for 0.10.

[2019-01-23 22:49] #737 closed

[2019-01-23 22:50] davecheney commented on #738
Bumping to 0.10. Too risky for 0.9

[2019-01-23 22:51] davecheney commented on #824
@afayes ping. Are you able to update the issue. Thanks.

[2019-01-23 22:57] davecheney commented on #854
Thanks. That will be a help in helping me understanding if the contour container is wedging, if we're sending constant updates to envoy, or if envoy is wedged on a single update.

[2019-01-24 00:44] dbason commented on #854
[Contour.xlsx](https://github.com/heptio/contour/files/2789739/Contour.xlsx)

Attached is an extract of the contour logs from around the time of the issue

[2019-01-24 01:01] davecheney commented on #854
Thank you. From what I can see contour is not trying to send
continuous updates to envoy so the problem could be in envoy jammed
updating itself.

On Thu, 24 Jan 2019 at 11:44, dbason <notifications@github.com> wrote:

[2019-01-24 11:36] so0k commented on #855
great find! Adding base-id: [new gist](https://gist.github.com/so0k/7525af41b91f4a941b752a2c6f99d110/revisions) - didn't have time to test it yet

[2019-01-24 15:13] moderation commented on #661
@stevesloka and @joshrosso are aware of our use case which is allowing us to run Contour in parallel to another non-Contour ingress controller for testing purposes (primarily TCP ingress). However the ability to run multiple Ingress controllers might be a production requirement until (or if) Contour can expose Envoy functionality like sticky sessions for cookies and external authorization.

[2019-01-24 16:45] phylake commented on #857
Thanks for the clarification @davecheney and @stevesloka. I think it would be good to call out the project's goals somewhere.

Do you agree there's a tradeoff here? That hiding Envoy's churn slows down contour development?

It couldn't be more frustrating than configuring Envoy directly which isn't frustrating and is really what I'm asking for. While the many open feature requests may not be askin

[2019-01-25 01:07] davecheney commented on #854
@dbason I think I might have reproduced the fault. Can you please confirm for me which contour tag you have deployed, eg, v0.8.1, latest, or master. If you're using master, can you please downgrade to a released version and let me know if that fixes the problem.

[2019-01-25 01:31] davecheney commented on #854
I've confirmed this happens with 0.8.1 as well, which is currently the :latest tag.

The bug, I believe, is contour is updating the status on an ingressroute document, which causes the ingressroute update to fire again, forming a loop.

The errant status is, I thinki

[code]
In your example, if the services are all present, this should fix the loop. I think

Obviously I'm going to supress the loop

[2019-01-25 01:34] davecheney opened #858 "ingressroute reports missing service when it is the service's port that is incorrect"
Contour will update an ingressroute status to indicate that a service cannot be found
[code]
However it's actually that the port specified on the service, cannot be found. We should have two separate status messages.

[2019-01-25 02:52] #858 closed

[2019-01-25 03:30] dbason commented on #854
@davecheney we're on 0.8.1 - did you want me to downgrade to 0.8.0 and try again?

[2019-01-25 03:35] davecheney commented on #854
I don't think it'll help, I suspect the problem has been there for a few
releases. The underlying cause is contour is constantly updating an
ingressroute record's status which triggers contour to refresh, push a
change to envoy, update the status .. rinse, repeat.

You can figure out which ingressroute record is being pummelled with
something like

k get ingressroutes --all-namespaces -w

and then

[2019-01-25 05:57] davecheney commented on #839
@glerchundi this is done, right?

[2019-01-25 06:34] davecheney commented on #839
Closed by #851

[2019-01-25 06:34] #839 closed

[2019-01-25 07:02] davecheney commented on #854
I've updated the ticket to reflect what I think is happening. The problem is contour can get into a loop where writing a status update to the IngressRoute object causes another contour to see the update, which causes it to process the ingressroute, find it invalid and update the status.

Normally the status update should be idempotent, but in the case where there is more than one invalid part of t

[2019-01-25 19:06] scottslowe opened #862 "Encrypt gRPC traffic between Contour and Envoy"
**Feature we'd like to see added:**
When using TLS termination for Ingress/IngressRoute objects with Contour, certificates have to be passed to Envoy over the gRPC connection. Given the sensitive nature of TLS certificates, some security-conscious customers want the gRPC connection between the Contour pods and the Envoy pods to be encrypted (cc @stevesloka)

**Environment:**
This would apply to po

[2019-01-25 19:33] scottslowe opened #863 "Port support for retry-oriented annotations to IngressRoute objects"
**Describe the solution you'd like:**
Per https://github.com/heptio/contour/blob/master/docs/annotations.md, Contour supports retry-oriented annotations for Ingress objects; however, it does not appear that Contour supports these same annotations for IngressRoute objects. Customers are requesting support for these retry-centric annotations for IngressRoute objects as well.

**Environment:**
This w

[2019-01-25 19:56] davecheney commented on #862
Yes, I want to add this as well. It is a blocker to moving away from the
default contour and envoy in the same pod deployment model.

On Sat, 26 Jan 2019 at 06:06, Scott S. Lowe <notifications@github.com>
wrote:

[2019-01-25 20:13] stevesloka opened #864 "Permit Insecure in multi-team environments"
**Describe the solution you'd like**
When a TLS cert is defined on an `IngressRoute`, Contour will automatically configure Envoy to return a 301 redirect response to any insecure request. Users can then optionally allow insecure traffic by setting the `permitInsecure` field on a route.

This can introduce a security risk since administrators may not want to allow users who have been delegated, to

[2019-01-25 21:51] stevesloka opened #865 "Delegate IngressRoute can also "look" like a root ingressroute"
**Describe the solution you'd like**
Currently, if I have an IngressRoute that delegates to another, it's possible that the delegated IngressRoute also references a virtualhost even though that virtualhost will be ignored.

Nothing that the DAG builds seems to be affected by this, just looks incorrect and seems like we should throw a status error stating that you can't define virtual hosts for any

[2019-01-26 22:19] rsyvarth commented on #815
Hey @davecheney would you accept a PR adding these fields to IngressRoute and hooking them up to the Route in Envoy (as @jipperinbham suggested)?
[code]

[2019-01-26 23:01] rsyvarth commented on #815
Great! I am mostly concerned with the RetryOn/NumRetries fields personally - we see in our cluster that envoy will often attempt a request on a closed connection (if a pod gets killed for example) and which returns a 503 immediately. We reduce our error rate pretty significantly by enabling the envoy-level retries.

I am not sure that retry logic error makes a ton of sense as a part of a generic t

[2019-01-28 02:57] davecheney commented on #787
I'm going to mark this as closed for the moment. Additional enhancements on this feature should have their own issue number.

[2019-01-28 02:57] #787 closed

[2019-01-28 04:16] #837 closed

[2019-01-29 01:45] davecheney commented on #361
Thank you for #856. As I said in #856 I don't think this is the right approach.

From the user's point of view, if they have to use stick sessions, all they want to specify is the cookie to find the key in. For example, this is how nginx exposes this

https://nginx.org/en/docs/http/ngx_http_upstream_module.html#sticky_cookie

The underlying implementation using a hash policy is likely going to be

[2019-01-30 10:11] danpe commented on #509
Is there an expected release date for that ticket? or for 0.10.0 in general? ☺️

[2019-02-01 00:10] afayes commented on #824
Not sure why I was having the issue.

[2019-02-01 00:10] #824 closed

[2019-02-05 05:58] #738 closed

[2019-02-05 06:16] davecheney opened #876 "Switch from proto.struct to proto.any configuration for bootstrap configuration"
go-control-plane v0.6.4 (?) introduced a new way of specifying opaque filter config; rather than a proto.struct, use a proto.any. Both can be constructed by encoding an gRPC proto message, but the former involves an icky conversion via jsonpb.

The latter should give us more type safety -- we avoid using the jsonpb/struct hack in internal/envoy by constructing struct types directly, which is no be

[2019-02-05 06:20] davecheney opened #877 "Restore configuration flags from #738"
#738 switched from text/template to encoding a protobuf for configuration. In the process many configuration options were no longer plumbed through from the `contour bootstrap` command to the configuration generated.

This issue tracks restoring those flags.

[2019-02-05 07:10] #877 closed

[2019-02-05 07:12] davecheney commented on #43
I'm sorry, this won't be implemented.

[2019-02-05 07:12] #43 closed

[2019-02-05 07:17] davecheney commented on #661
After thinking about this problem for a while I'm not sure adding flags to change this is the right solution. The underlying issue is Envoy considers these two headers `Host: example.com` and `Host: example.com:80` to be _different_ virtual hosts. This is why requests to http://example.com:5000, in the example above, fail.

The current workaround, untested, is to tell Contour to configure Envoy to

[2019-02-05 07:59] davecheney commented on #817
Timed out, please reopen if you feel this is in error.

[2019-02-05 07:59] #817 closed

[2019-02-05 17:34] rosskukulinski commented on #43
FYI - the team behind ksonnet is stepping back from the project: https://blogs.vmware.com/cloudnative/2019/02/05/welcoming-heptio-open-source-projects-to-vmware/

[2019-02-06 05:54] #802 closed

[2019-02-07 04:15] davecheney opened #881 "Split Contour and Envoy containers into their own pods"
This ticket describes a long term plan to change the default mechanism for deploying Contour.

Currently the default deployment for Contour colocates a contour process and an envoy container in the same pod. This is convenient, envoy can talk over the container loopback to contour for its configuration, but it is not the only way to deploy contour. For instance Gimbal deploys contour and envoy in

[2019-02-07 18:58] rosskukulinski commented on #432
I think this may also be related to adding similar functionality as to https://github.com/heptio/contour/issues/68

[2019-02-08 11:24] anapsix commented on #855
@stevesloka / @so0k, confirmed <3!
Works as advertised (though still having problems with proxy-proto described in https://github.com/heptio/contour/issues/793)

[2019-02-08 12:38] so0k commented on #517
I'm seeing strange behaviour, I'm using `ingress` not `ingressRoute`, using cert-manager to get TLS secrets.

I have about 20 ingress manifests, and I had 4 TLS secrets that failed (acme challenge provider misconfiguration), contour seems to not provide any config to envoy. (cert list was empty, 8080/8443 listeners were not opened, none of the ingress worked).

[code]

contour logs are not showing

[2019-02-11 06:21] #661 closed

[2019-02-11 07:34] so0k commented on #715
other ppl reported this bug here - https://github.com/envoyproxy/envoy/issues/4496#issuecomment-461293693

[2019-02-11 10:25] davecheney commented on #848
Go 1.12 might make it across the line before March, but it's too risky to schedule this upgrade for 0.10

[2019-02-11 11:20] stephenmoloney commented on #623
I think this issue is resolved, occassionally i see unusual behaviour when the cluster has just be started up all in one go and I'm not even sure how to describe it.

But that might not be an issue with contour.

I will close this issue now.

[2019-02-11 11:20] #623 closed

[2019-02-11 20:07] jcrowthe commented on #62
I see this has been pushed back multiple milestones. Would it be possible to reprioritize this issue?

[2019-02-11 20:09] davecheney commented on #62
@rosskukulinski can you please comment

[2019-02-12 03:50] joshrosso opened #887 "Contour fails to assemble proper DAG for tls-based endpoints"
**What steps did you take and what happened:**
I previously validated https://github.com/heptio/contour/pull/866. It has since been superseded by https://github.com/heptio/contour/pull/886. During validation of https://github.com/heptio/contour/pull/886, the DAG for my HTTPS endpoint no longer attached to the service.

In this validation, Contour runs as a `daemonset` on nodes with the label `node

[2019-02-12 05:16] davecheney commented on #887
Confirmed. Thanks @joshrosso. The bug looks like its related to the `--envoy-external-http-port=8080 --envoy-external-https-port=8443` flags

[2019-02-12 06:22] #887 closed

[2019-02-12 07:50] so0k commented on #881
Based on the docs we are running contour in it's own deployment and using the Kube injected Environment variables for envoy to get xds config from contour. As highlighted in this issue, it seems the downside to this deployment is unsecured communication between envoy and contour in the kube cluster... this is not really highlighted in the docs

perhaps I could do a PR to the docs to add a caveat r

[2019-02-12 08:09] davecheney commented on #881
Rather than fixing the docs I want to make the communication between contour and envoy secure.

This is a high priority item for me.

[2019-02-12 17:23] joshrosso commented on #887
I validated this today with a build at https://github.com/heptio/contour/commit/e07ca4a96c647c7f383ac47c1c60852f3dc2b044. The DAG is being built correctly.

[2019-02-14 04:51] rosskukulinski commented on #62
Hi @jcrowthe. Thanks for the poke! This feature request is on my radar, but I'm currently prioritizing a few other more commonly requested features -- including some you've also asked for :).

[2019-02-14 19:36] kellyaa commented on #70
+1 on wanting to see this happen. Right now I have a need to customize the `Host` header for route when proxying a request.

[2019-02-15 09:35] Nefelim4ag opened #891 "TCP port forwarding"
Add a CRD or ConfigMap for tcp port forward.

We can't use Ingress Route for all our services (some of them not use http & etc),
so we currently use haproxy for tcp port forwarding from K8s.

K8s 1.12+
Linux
Several local baremetal setups

May be i misunderstood documentation and contour already can do that.

Thanks.

[2019-02-15 11:53] davecheney commented on #891
Thank you for raising this issue.

Contour can do TCP forwarding when the TCP stream is encapsulated in TLS. This is currently implemented only in IngressRoute, we haven't backported it do Ingress.

You can mix and match Ingress and IngressRoute objects in a k8s cluster using Contour.

Can you please tell me more about your requirements, perhaps there is something that can be done to satisfy them.

[2019-02-15 12:44] Nefelim4ag commented on #891
As example, we expose rtmp.
Some times Postgres & etc app specific things. All without ssl.

[2019-02-15 13:34] vaamarnath commented on #876
@davecheney I am willing to pick this work. I would love if you could give me some direction on how to proceed with this work.
I have gone through the code in `internal/contour/config.go` which has the template `yamlConfig`. I saw that it is used to create the yaml configs. Though, I didn't see where `WriteYAML()` is being invoked to understand the execution flow. Is it invoked from the envoy for

[2019-02-15 16:28] rosskukulinski opened #893 "Contour support for Web Application Firewall (WAF)"
**Describe the solution you'd like**

As a platform operator, I would like to be able to configure Contour/Envoy to provide Web Application Firewall capabilities.

Web Application Firewalls, like the popular open source [ModeSecurity](https://modsecurity.org/) WF are used to detect and stop a broad range of Layer 7 attacks and block traffic from known malicious IP addresses:

* SQL injection (SQLi

[2019-02-15 21:05] davecheney opened #894 "IngressRoute: Control backend idle timeout"
Contour should provide a way to control how long connections between Envoy and a k8s service are kept open after the request has completed.

[2019-02-15 22:05] davecheney commented on #891
Thank you for your reply. At the moment contour needs TLS encapsulation to use the SNI handshake message to direct the connection to the correct backend service. Without this encapsulation the only way I know to separate the different TCP streams is to assign each service it its own tcp port. You mentioned that in your environment you are using bare metal, so I'm guessing you're using your own fir

[2019-02-15 22:06] #475 closed

[2019-02-15 22:12] davecheney commented on #876
This issue is already assigned, please choose another.

[2019-02-16 05:46] paradon opened #895 "Missing --envoy-[http|https]-address flags prevents IPv6 use"
**What steps did you take and what happened:**
Previously, I had "--envoy-http-address=::", "--envoy-https-address=::" set on Contour's args for Envoy to listen on an IPv6-only cluster.

After updating to latest master today, Contour no longer accepts those flags and without the flags, causes Envoy to listen only on IPv4.

**What did you expect to happen:**
Envoy to continue to accept IPv6 connect

[2019-02-16 06:20] davecheney commented on #895
I will check but I’m pretty sure I removed those flags because they were not connected to anything.

[2019-02-18 02:22] vaamarnath commented on #573
I thought the work was to migrate the existing goroutines invocations to `heptio/workgroup`. I apologise for for raising the PR #892 without discussing with you @davecheney. It's my bad!

Can you please provide some insights into what is the scope of work for this issue?

[2019-02-18 02:27] davecheney commented on #573
I think its better to close this issue. There are other more important issues.

[2019-02-18 02:27] #573 closed

[2019-02-18 02:46] #895 closed

[2019-02-18 04:08] vaamarnath commented on #862
I am willing to pick this issue. Is this work something that a newbie can pick to work on?

From my understanding of contour architecture and context provided here, the work involved is to add mTLS (maybe just TLS?) for communication between contour and envoy. I can put in a design document if my understanding of the enhancement request is correct.

[2019-02-18 04:32] davecheney commented on #862
Yes please, a design document would be great. Or even a sketch of the major pieces you want to change here in this issue will also be fine.

One of the goals of this ticket is not just to encrypt the transmission between envoy and contour, but to add a layer of authorisation. At the moment, if you can connect to contour’s endpoint you can ask it for any tls secret it has learned. This isn’t great,

[2019-02-18 05:34] vaamarnath commented on #862
Thanks for your reply @davecheney. Before I start putting down my approach into a design document, I would like to run the approach with you at a high level. Here is what I am thinking now:

1. Use mTLS between envoy and contour to have authorisation.
2. TLS certs can be user provided (is this interruptive to deployment experience for an user?). Another option is to have these certificates generat

[2019-02-18 06:23] davecheney commented on #862
Sounds good. What are the configuration changes we need to make in Envoy's bootstrap config (`contour bootstrap /path`) and Contour's various tables? Do we need to implement the SDS services in Contour? If so, is there an interim method to use static credentials then upgrade to SDS?

This isn't preferable, ideally I'd like what we have now -- the ease of use of envoy and contour containers colocat

[2019-02-18 07:03] davecheney commented on #855
@anapsix can you please raise a new issue to talk about your problems using proxy-protocol. Thank you.

@so0k what is required to close this issue?

[2019-02-18 08:54] vaamarnath commented on #862
I will spend some time to figure this out. I need to understand about the bootstrap of Contour. I didn't know about SDS and an initial reading about it gives me an impression that it would be necessary to have it implemented in the long term.

Okay, it makes sense to have static credentials for the first cut and then move towards having SDS.

I will open an issue for this.

Agreed, as a starting p

[2019-02-18 08:58] so0k commented on #855
@davecheney - should I do a PR with documentation about adding `--base-id` flag to envoy if running multiple ds in `hostNetwork` ?

[2019-02-18 09:05] vaamarnath opened #898 "Implement Secret Discovery Service"
Implement Secret Discovery Service in Contour.

This enhancement request came out of the discussion on #862 for supporting rotating and invalidating certificates using SDS. More info about SDS is available here: https://www.envoyproxy.io/docs/envoy/latest/configuration/secret.

[2019-02-19 02:33] davecheney opened #899 "prefixRewrite includes does not strip slash from prefix"
Report from Slack,
[code]
Requests to `/routeapp/test` get rewritten as `//test` not `/test`

[2019-02-19 02:35] davecheney opened #900 "Func test harness needed"
For all the chest thumping about not needing full end to end tests, it turns out we do.

This issue captures examples where our e2e tests capture that the correct configuration is being generated, but Envoy is not configured to do the thing we want.

#899

[2019-02-19 03:28] neeseius commented on #899
I brought this to attention. Looks like changing "/routeapp" to "/routeapp/" fixes the issue.

[2019-02-19 11:35] vaamarnath commented on #862
@davecheney I have put in the first draft of the design for review. I have an open question that I need to address in the design. This is about whether there is a need to update any Contour's table as commented by you earlier [here](https://github.com/heptio/contour/issues/862#issuecomment-464601450). I couldn't figure that out, could you please provide me more context about it?

[2019-02-19 15:38] rosskukulinski opened #902 "Add upstream support for PROXYv2"
**Describe the solution you'd like**

As a platform operator, I would like to use Contour at the border/edge of all my regions (e.g. it has a public IP address).  Contour will terminate HTTP1.1, HTTP2.0, GRPC, WebSocket, TCP, HTTPS, etc.

Then I would like it to proxy the connection to backend Ingress Controllers that run in each upstream Kubernetes cluster which may or may not be Contour.  This p

[2019-02-19 16:48] bpicolo commented on #894
@davecheney This seems like a necessary configuration option right now in order to support gRPC streaming connections, they currently drop as idle connections fairly quickly it seems.

I'm unsure if there's an idle time for <client> -> <envoy>, but that would probably need to be exposed as well?

[2019-02-19 18:12] davecheney commented on #902
At the moment I don't believe Envoy offers the option to encapsulate an upstream, Envoy's word for Envoy to Pod traffic, TCP session in a PROXYv2 header. This is a blocker for adding this feature to Contour.

[2019-02-19 19:19] phylake commented on #894
One suggestion here: there's a notable lack of support for parsing duration as strings (in Go, not contour). I think that led to some [interesting value overloading](https://github.com/heptio/contour/blob/v0.9.0/internal/dag/dag.go#L64-L68) that could be resolved with a pointer to a custom `type Duration`

In `apis/contour/v1beta1/ingressroute.go` I added the following

[code]

And added this
[cod

[2019-02-20 03:49] yob commented on #893
I would be interested in this, even if it was fairly basic.

In a past life we often used [fail2ban](https://www.fail2ban.org/wiki/index.php/Main_Page) to block obviously malicious clients (like anyone repeatedly requesting `/wp-admin/login.php` when we don't use wordpress). It was based on regexps, and something similar in contour would be super helpful.

[2019-02-22 06:32] Avni-Sharma commented on #848
Can I take this up?

[2019-02-22 06:35] davecheney commented on #848
Yes, please send a PR once the 0.11 cycle opens (and go 1.12 has been released)

[2019-02-25 20:58] prasoontelang commented on #815
I am willing to work on this if nobody is actively working. Will start with the design doc.

[2019-02-25 21:41] davecheney commented on #815
All yours.

[2019-02-25 21:54] rohandvora commented on #361
I can work on this issue if no one else is working on it.

[2019-02-25 22:34] davecheney commented on #361
You got it. Please be sure to review #856

[2019-02-26 10:26] glerchundi commented on #437
Hei, sorry for being a little bit heavy on this but this would enable to
stop maintaining our own fork...

What could I do in order to push this forward @rosskukulinski and
@davecheney?

On Wed, 28 Nov 2018 at 00:43, Dave Cheney <notifications@github.com> wrote:

[2019-02-26 10:33] davecheney commented on #437
The root problem is I do not understand what CQRS is or how it relates to a reverse proxy load balancer.

If someone can submit a design document that takes me _out of the loop_ then we can move forward. I cannot be a blocker for this, people have tried to explain what CQRS is, but it hasn’t helped, my brain just does not think in frontend.

[2019-02-26 10:42] glerchundi commented on #437
Thanks for replying this quick!

CQRS (Command Query Request Seggregation) and CORS (Cross Origin Resource
Sharing) are two completely different things!

CORS is a mechanisn used through HTTP headers to tell a browser to let a
webapp running at one domain have permission to access resources from a
different domain.

I recommend you to read this post which sum ups what is and for what is
being used

[2019-02-26 10:46] davecheney commented on #437
Please understand that I say this out of complete exasperation with my own lack of understanding of the subject. Please do not misinterpret my words as malicious or condescending.

Please do not post links to other eve pages, people have tried, it has had no effect. I am unable to grasp the concept.

Please *do* post links to the relevant data structures in the envoy documentation that you want to

[2019-02-26 10:46] glerchundi commented on #437
Ok!

On Tue, 26 Feb 2019 at 11:46, Dave Cheney <notifications@github.com> wrote:

[2019-02-26 10:48] davecheney commented on #437
See also https://kubernetes.slack.com/archives/C8XRH2R4J/p1550089170015000

[2019-02-26 17:08] jkt628 opened #905 "Implement TLSCertificateDelegation"
**Describe the solution you'd like**
#889 is merged and needs to be implemented.

**Anything else you would like to add:**
Adobe needs this and has started on it.

**Environment:**

- Contour version: future (zenhub fails so could not find roadmap, feel free to correct)
- Kubernetes version: (use `kubectl version`): 1.13.3 or later
- Kubernetes installer & version: ignition
- Cloud provider or har

[2019-02-26 17:09] jkt628 commented on #905
please assign to me, thanks.

[2019-02-26 18:47] khgandhi commented on #898
@vaamarnath we have a requirement to have SDS implementation in contour as well. Do you have a design that you can share with the details ?

[2019-02-26 19:49] davecheney commented on #905
Thank you for your enthusiasm, but I’m working on this.

[2019-02-26 21:47] glerchundi commented on #437
For the sake of tracing this feature progress, here the design PR: #906.

[2019-02-27 00:35] davecheney commented on #899
I'm not able to reproduce the problem you reported. Without a way to reproduce this, I cannot verify that I have fixed the bug.

[2019-02-27 05:43] vaamarnath commented on #898
@khgandhi The current requirement for SDS came in through #862. There is no design available for this issue at this point in time.

\cc @davecheney

[2019-02-27 10:57] vorozhko commented on #403
Hi @davecheney,
do you have any update on the issue?

I am using external-dns with Ingress and it require ADDRESS field to be set otherwise it will not create DNS records.

[2019-02-27 11:08] davecheney commented on #403
I’m sorry I don’t have an eta when this issue will be worked on.

[2019-02-28 09:03] sgonzalezO opened #908 "upstream connect error or disconnect/reset before headers"
**What steps did you take and what happened:**
I don't know if this a bug or it's something I'm doing wrong.

We have deployed a wordpress web site on GKE and we are using Heptio Contour as our Ingress controller to our deployment. Sometimes, when we request a web page, we can see the error "upstream connect error or disconnect/reset before headers" on the browser. If we hit the F5 key several tim

[2019-02-28 09:10] davecheney commented on #908
Thank you for raising this issue.

The "upstream connect error or disconnect/reset before headers" message is usually because the backend pod disconnected immediately, or envoy had a stale IP address as the pod moved elsewhere.

Can you please do `kubectl get endpoint $YOURSERVICE -w` and check if the endpoint document is being updated frequently.

If you have access to the envoy admin interface v

[2019-02-28 17:05] sgonzalezO commented on #908
This is the endpoint output (about 15 mins waiting):

jueves, 28 de febrero de 2019, 16:47:41 WET
(master)💰  kubectl get endpoints wordpress-service -w
NAME                ENDPOINTS                                   AGE
wordpress-service   10.48.1.7:80,10.48.1.7:3306,10.48.1.7:443   99d
^C
(master)💰  date
jueves, 28 de febrero de 2019, 17:00:20 WET

We have only one wordpress Pod. Usually it's on

[2019-02-28 20:19] davecheney commented on #908
It looks like your pod at ip 10.48.1.7:80 is unwell.

[2019-02-28 20:21] davecheney commented on #908
It is possible that contour is not waiting long enough for the response from your wordpress service.

[2019-02-28 21:06] sgonzalezO commented on #908
Because of "cx_connect_fail::27"?

This is our IngressRoute definition:

[code]

[2019-02-28 21:15] davecheney commented on #908
Yes, and
[code]

[2019-03-01 10:09] sgonzalezO commented on #908
So this is not a Contour bug. I'm going to close the Issue.

Thanks for your help.

[2019-03-01 10:09] #908 closed

[2019-03-01 10:46] 256dpi opened #910 "TLS Passthrough & HTTP Redirect"
I have a pod that accepts only HTTPS traffic on port 443. To route the traffic, I used an IngressRoute with the new TLS Passthrough option:

[code]

The TLS forwarding works great. However, contour is not accepting traffic on port 80 and therefore does not auto-redirect the request to the HTTPS port. Am I missing some configuration?

**Environment:**

- Contour version: 0.9.0
- Kubernetes version:

[2019-03-02 19:04] roshnihp opened #911 "Endpoints are missing for Contour when installed on an IPV6 only kubernetes cluster"
**What steps did you take and what happened:**
1. I have an IPV6 only kubernetes cluster with one master and one worker node.
2. Installed Contour using 'kubectl apply -f https://j.hept.io/contour-deployment-rbac'
3. I can see Contour pods are running with IPV6 addresses. I can also list service which has IPV6 address.
4. When I list endpoints using 'kubectl get endpoints --all-namespaces' , conto

[2019-03-04 00:35] davecheney commented on #911
Thank you for raising this bug. Can you please clarify for me which service is missing an endpoint?

Can you please show the output of

`kubectl get endpoints -n heptio-contour contour`

[2019-03-04 02:01] davecheney commented on #910
Thank you for your issue. The problem is when using tcpproxy you're mixing L4 and L7 in this service. I see the argument that for your service you want to provide HTTPS from the backend service using TCP forwarding, so it makes sense that you'd want to have a 80 -> 443 redirect. But that is only in the case where your backend service is HTTPS, if it were some other service using TLS as a transport

[2019-03-04 08:23] roshnihp commented on #911
Here is the output
root@master1:/home/roshini# kubectl get endpoints -n heptio-contour contour
NAME      ENDPOINTS   AGE
contour               32s

The service and pods are created  as below
root@master1:/home/roshini# kubectl get svc -n heptio-contour
NAME      TYPE           CLUSTER-IP       EXTERNAL-IP   PORT(S)                      AGE
contour   LoadBalancer   2019::a00:2a44   <pending>     80

[2019-03-04 08:44] davecheney commented on #911
@roshnihp thank you for your reply. I can see from that output that there are endpoint objects for the contour service. Does this answer point 4 of your original question?

[2019-03-04 08:51] roshnihp commented on #911
No, As you can see the ENDPOINTS field is empty . As the Contour pods are running it should be listed as part of endpoints like for other services below.
root@master1:/home/roshini# kubectl get endpoints
NAME            ENDPOINTS                                                                       AGE
kubernetes      [2019::100]:6443

[2019-03-04 08:55] davecheney commented on #911
I am sorry, you are correct.

I'm afraid this is outside what I can assist you with, this not a contour issue, the endpoints object is maintained by kubernetes itself and the problem is likely with your kubernetes cluster. I'll ping a few people on our field engineering team who may have some suggestions.

[2019-03-04 09:28] #905 closed

[2019-03-04 09:50] davecheney opened #916 "make push always overwrites latest during CI."
`make push` always overwrites latest during CI.

https://github.com/heptio/contour/blob/master/Makefile#L35-L39

When CI, this seems to always overwrite `:latest` even when `TAG_LATEST` is `false`.

/cc @jessedearing

[2019-03-04 10:05] roshnihp commented on #911
It worked on IPV4 cluster and can see endpoints populated.
I have asked my colleagues to try it on their IPV6 cluster and the result is same.
Is there any setting that we need to apply in https://j.hept.io/contour-deployment-rbac to make it work in IPV6 cluster?

[2019-03-04 10:15] 256dpi commented on #910
@davecheney  Thanks for the detailed explanation!

It would be nice if contour would support that out of the box in a HTTPS forwarding scenario.

I'm now trying to forward the HTTP traffic to my instance and perform the redirect there using this config:

[code]

Unfortunately, It's not working. Is this the right approach? Do I need two separate ingress route definitions? Thanks for your help!

[2019-03-04 10:17] davecheney commented on #911
Try setting `clusterIP: None` on the contour service, and removing `type: LoadBalancer`

[2019-03-04 10:20] uablrek commented on #911
If you try `netstat` inside the cntour pod it looks like only ipv4 ports are open;
[code]

[2019-03-04 10:22] davecheney commented on #910
@256dpi i'm sorry this is a limitation at the moment. You cannot have to ingressroute records with the same fqdn.

[2019-03-04 10:23] 256dpi opened #917 "Unable to create Ingress Route without a secret name through the Go API"
I'm creating ingress routes programmatically using the Go client. While this generally works without issues, I ran into one scenario where it fails. When I try to create a ingress route with TLS passthrough and therefore omit the `spec.virtualhost.tls.secretName` I get the following error:

[code]

Is it possible that there is a validation function that expects `secretName` to always be present?

[2019-03-04 10:26] davecheney commented on #917
I'm sorry about this. The ingress validations are a nightmare, we have no tests for them and frankly I'd like to delete them.

[2019-03-04 10:44] 256dpi commented on #917
If you can point me to the related files, I'm happy to take a look. :-)

[2019-03-04 10:45] davecheney commented on #917
deployment/common/contour.yaml (or thereabouts )

[2019-03-04 11:26] roshnihp commented on #911
Is this something related to settings like mentioned in this issue https://github.com/heptio/contour/issues/895 ?

I have tried ClusterIP None and no endpoints populated and cannot ping.
As mentioned by @uablrek I have tried netstat -putan in one of the pod and cannot see 8080 opened.

However I tried to check the same in an **IPV4** cluster and I can see 8080 is opened as below
[code]
[code]

[2019-03-04 11:30] 256dpi commented on #917
I'm fairly new to Kubernetes, so I might have missed some stuff. But my guess is that the validation schema is actually correct, since there are other properties that have a regex validation but are still allowed to be absent. So far as I understand OAI you explicitly require validation by setting the `required` key.

Now, my hunch is that we should flag the `SecretName` struct field in the API de

[2019-03-04 14:50] alexbrand commented on #911
Hey @roshnihp, can you try setting the `--xds-address` flag to `::1` in the `args` of the contour container? This is what the `args` field would look like in the Deployment contained within https://j.hept.io/contour-deployment-rbac

[code]

[2019-03-04 15:35] roshnihp commented on #911
The output looks as below in the container.
[code]
 I can see  0 ::1:8001 opened. However 8080 is missing and hence no endpoints populated. Is there any similar setting that can be done to open 8080 ?

[2019-03-04 16:24] alexbrand commented on #911
Great, looks like Contour is correctly serving on `::1`.

We need to tell Envoy to use `::1` to talk to Contour. We can do this by modifying the init container that configures Envoy:
[code]

We also need to tell Envoy to listen on `::` (all IPv6 interfaces) for requests. We can do this by passing the `envoy-service-http-address` and `envoy-service-https-address` flags to Contour:

[code]
Hope this

[2019-03-04 19:57] rohandvora commented on #361
@davecheney are we supporting all three use cases:
1. Cookie
2. Header
3. Source IP

or just cookie-based stickiness?

[2019-03-04 20:24] davecheney commented on #361
I'd say design towards supporting all three, but if possible start by implementing something that is needed now.

[2019-03-05 08:26] roshnihp commented on #911
With the changes as stated above pods didnt start and I got error at envoy-initconfig
[code]
Hence I removed `- xds-address="::1"` from initContainer and tried with only below arguments in container
` args: ["serve", "--incluster", "--xds-address", "::1", "--envoy-service-http-address", "::", "--envoy-service-https-address", "::"]`
Now I can see 8000 is opened.
[code]
This is a good progress. Howe

[2019-03-05 09:13] roshnihp commented on #911
With the above changes the pods end up in error state
[code]
The logs says as below.
[code]
When I commented ` - xds-address="::1"` from initContainer, pods are running. And the result from one of them as below with 8080 and 8443 are missing
[code]

[2019-03-05 09:47] davecheney commented on #911
Thank you everyone for your help.

I want to keep everyone focused on the original issue, which was a lack of
entries in the endpoint object.

Configuring envoy to listen on IPv6 addresses is an important, but
independent, problem, to the one the OP raised.

On Tue, 5 Mar 2019 at 20:13, roshnihp <notifications@github.com> wrote:

[2019-03-05 13:34] alexbrand commented on #911
I suspect they are related. The contour deployment has a readiness probe on the Envoy container. If the readiness probe is failing, the pod overall is considered "NotReady", and the pod IP address will not show up as a Ready address in the list of Endpoints.

@roshnihp can you provide the output of the following commands?

[code]

[code]

re: init container changes - It looks like I missed the `--

[2019-03-05 17:42] uablrek commented on #911
Seems you are correct;
[code]

[2019-03-05 18:17] uablrek commented on #911
[code]

[2019-03-05 18:19] uablrek commented on #911
The output above is without any modifications to `contour-deployment-rbac`.

[2019-03-05 18:22] alexbrand commented on #911
Thanks for confirming. Looks like we need to make the 8002 port listen on an IPv6 interface.

We should be able to do that by passing `--stats-address=::` to the bootstrap init container, so that the endpoint listens on all IPv6 interfaces.

The init container should look something like this:
[code]
(Pardon any errors. I don't have an IPv6 cluster to test this out)

[2019-03-05 20:30] davecheney commented on #911
I stand corrected. Thank you for explaining Alex

On Wed, 6 Mar 2019 at 00:34, Alexander Brand <notifications@github.com>
wrote:

[2019-03-06 01:13] lostllama opened #922 "Can't get Contour to evenly schedule across nodes (not reliably)"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I can't get Contour to reliably schedule onto multiple nodes, despite there being ample resources available with regards to resource requests (for Contour I modified the config to request 5m, and for Envoy 50m). This has caused issues with draining a node where my podDisruptionBudget doesn't seem t

[2019-03-06 01:14] lostllama commented on #922
@stevesloka Let me know if you need any more information. Thanks!

[2019-03-06 02:24] #917 closed

[2019-03-06 09:41] uablrek commented on #911
Got them;
[code]

It is **not** necessary to change the 127.0.0.1 addresses used inside the pod for communication contour<->envoy. In fact I would suggest that they are kept as-is. The `eth0` interface in the pod have only a ipv6 address but the `lo` device has both ipv4 (127.0.0.0/8) and ipv6 (::1/128).

The *only* necessary configuration to get the endpoints active is for the initContainer;
[cod

[2019-03-06 09:52] Nefelim4ag commented on #891
@davecheney, sorry for long answer

Yep, we have firewall, but it between external networks & cluster, so it know nothing.

We use currently:
internet - external firewall -  K8s(VIP/VRRP - Haproxy/Ingress - SVC - Pod)

Thanks.

[2019-03-06 10:02] uablrek commented on #911
There is still problems with the traffic ports. Port 8080 is only opened for ipv4. But that should be tracked in another issue.

[2019-03-06 10:59] uablrek opened #923 "Traffic ports open for ipv4 only (0.0.0.0) in an k8s ipv6-only cluster"
**What steps did you take and what happened:**

Deploy contour in a k8s ipv6-only cluster with;
[code]

Configure some simple http back-end and an "ingress". Login to the contour container and examine the listen ports;
[code]

Oh, and ipv6 traffic doesn't work of course.

**What did you expect to happen:**

Traffic port should be open with the ipv6 any-address `::` and ipv6 traffic should work.

*

[2019-03-06 11:38] roshnihp commented on #911
Tested the fix in my local cluster and it works and can see endpoints populated. Thank you for the quick support from everyone.
As mentioned in [Traffic ports open for ipv4 only (0.0.0.0) in an k8s ipv6-only cluster #923](url) it would be good to have a service manifest for IPV6 cluster with all these fixes.