[2022-03-07 21:23] sunjayBhatia commented on #4386
See https://github.com/projectcontour/contour/pull/4391 for an attempt to fix

[2022-03-07 21:30] skriss commented on #4358
Hey @mmalecki thanks for starting this discussion. Could you provide some more context on why you prefer to have the hostname matching on the `Gateways`, rather than on the `HTTPRoutes`? Also, is having the same IP address for both a hard requirement? Or would having one Contour+Envoy instance per Gateway also be workable for you?

[2022-03-07 22:58] sunjayBhatia commented on #4241
I think the next steps on this are:
- add a "regex replacement" type and use it as a field in the `PathRewritePolicy` struct: https://github.com/projectcontour/contour/blob/c1094dbae2b501fdc633ea65b427c178d9f634b4/apis/projectcontour/v1/httpproxy.go#L844-L854
- add validation of the regex (probably ensure it compiles etc.) and the replacement (mindful of capture groups, etc.) in the `httpproxy_pro

[2022-03-08 21:10] rodrigo14miguel commented on #4390
I'm using contour 1.20.1 but I have found the problem.
After checking you tests, I tried my example again but with the following config:

[code]

I noticed that with a curl I also get 200 response but when opening in the browser I get a blank page.
By inspecting the web page, there are some GETs for assets and favicon in root path **/** (thus landing on **svc1/** in the original example).
From wha

[2022-03-08 21:10] #4390 closed

[2022-03-09 04:35] youngnick commented on #4062
Okay, it seems like consensus here is this:
- We remove all the kubebuilder defaults from the ContourConfig CRD. Not validation, just default values. Everything should still be optional though.
- We replace them with Contour-managed defaults that are documented in the relevant godoc, so that it shows up on the website and in `kubectl describe`.
- We provide an example YAML for ContourConfig with e

[2022-03-09 04:42] youngnick commented on #4373
Thanks for the great investigation and detailed report @Jochen-dba.

I agree that the `spec.tcpproxy.services.validation` should work the same as `spec.routes.services.validation`, the fact that it doesn't is a bug.

I also agree that replicating that behavior seems like it should be straightforward. Writing end-to-end tests to validate it may be a bit tricky, but worthwhile anyway.

I've labelled

[2022-03-09 04:47] youngnick commented on #1794
I think when I raised this initially, I thought of allowing the thresholds to be tuned as well. To be honest, this feels more like a config setting to me, with the max-heap, and thresholds configurable. I do like the idea though.

We're actively trying to cut the number of command-line flags in favor of either config file or ContourConfig fields, so I'm probably a -1 on adding another flag.

[2022-03-09 08:50] Jochen-dba commented on #4373
Hey @youngnick,

thanks a lot - sounds great! As I never used Go before I was not confident enough to try this on my own.
But I will try to have a look at least and maybe get support in our site.

Best Regards,
Jochen

[2022-03-09 09:19] Jochen-dba commented on #4389
Hello @liuflylove666

this is a working example from our site - but depending on what you're planning to do you need to customise it:

[code]

Best Regards,
Jochen

[2022-03-09 14:26] kcoriordan opened #4396 "Move non versioned Guide docs to versioned docs"
**What steps did you take and what happened:**
Some of the Guides in the doc sit outside the versioned docs, also some are maybe not applicable to the latest version/s of Contour.
Remove older guides
Move guides under versioned docs

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- C

[2022-03-09 16:37] skriss commented on #4396
Probably can be removed entirely since they only apply to very old unsupported versions:
- https://projectcontour.io/guides/ingressroute-to-httpproxy/
- https://projectcontour.io/guides/xds-migration/

[2022-03-09 16:38] skriss commented on #4396
This one also seems very old/redundant with other info, can probably be dropped:
- https://projectcontour.io/guides/tls/

[2022-03-09 17:12] sunjayBhatia commented on #4062
+1

[2022-03-09 17:59] sunjayBhatia commented on #2885
@enj @jroper are you still interested in contributing on this issue?

[2022-03-09 22:10] vrabbi commented on #3242
This would be extremely helpful as i have many clusters that are windows only worker nodes. I would love to use contour on these clusters but cant currently due to envoy. I would add linux nodes but TKGm doesnt support mixed clusters and only supports windows or linux based clusters so currently im using other solutions which i find unfortunate given how much i like contour

[2022-03-09 23:28] absoludity commented on #4290
Hi @sunjayBhatia

It sounds like this could be used to skip the gRPC-Web filter for requests to the Kubeapps frontend (host header?) I'd like to try this out (and don't mind it being alpha, as long as it's on the road to beta :) )

[2022-03-10 23:03] #4330 closed

[2022-03-10 23:09] youngnick commented on #4330
Did you find a solution @amkiryushkin? Any chance you can share?

[2022-03-11 11:24] #4374 closed

[2022-03-11 14:38] mmalecki commented on #4300
@sunjayBhatia yes, please. I poked around the source code, and think I should be able to get it done.

[2022-03-11 15:46] #4294 closed

[2022-03-12 23:01] rajatvig commented on #4322
What we have done to work around this is create container using Envoy as the base and included the `contour` binary in it which is run both on startup (for the `initContainer`) case and on shutdown.

The run happens via a custom entry point and a `preStop` hook that terminates the pod after a few seconds of sleep to allow for zero downtime upgrades.

For clusters, where the Envoy pods autoscale, w

[2022-03-12 23:29] stevesloka commented on #4322
The daemonset is what is blocking you on the volume bits. Have a look to see if the deployment model would work. There's an example in the examples dir. It will allow for a clean termination when draining a node.

[2022-03-13 00:39] rajatvig commented on #4322
@stevesloka We moved from a Daemonset to a Deployment to address the issues around clean termination but ran into draining issues due to the emptyDir.

Moving into one container makes it almost like other ingress controller setups with only one container and no mounts over emptyDirs.

[2022-03-13 00:52] stevesloka commented on #4322
I'm surprised you get the emptydir notice with a deployment, I'm not aware of that happening.

What version of k8s are you on?

[2022-03-13 14:14] rajatvig commented on #4322
We are using 1.21.

The default drain options on a node do not include options to drain pods with mounts via  emptyDir.

There is some discussion in https://github.com/kubernetes/kubernetes/issues/80228

[2022-03-15 04:18] jroper opened #4399 "Support self signed client certificates"
Amazon API Gateway allows enabling mTLS communication between it and the upstream services, as per the [documentation](https://docs.aws.amazon.com/apigateway/latest/developerguide/getting-started-client-side-ssl-authentication.html). If the upstream services are running in k8s behind a Contour ingress, then Contour needs to be configured to trust the certificates that Amazon creates. The problem i

[2022-03-15 04:33] absoludity commented on #4290
JFYI: https://github.com/kubeapps/kubeapps/issues/3716#issuecomment-1067532124 - TL;DR: It is possible to run Kubeapps with the current contour (ie. without https://github.com/projectcontour/contour/issues/4290 ) when using the demo-only, insecure, token authentication. I am not able to get Kubeapps working with Contour with OIDC.

[2022-03-15 04:46] youngnick commented on #4290
Reading that thread, it seems like kubeapps has its own OIDC proxy that requires the traffic to flow through it? I'm currently working on a design that will allow Contour's Envoys to do that flow for you to some extent, see #2664 for details.

Regardless, it seems like having a way to disable the GRPC-web filter on a per-route basis would be useful - it may be easier to add a field to HTTPProxy's

[2022-03-15 04:50] youngnick commented on #4399
This seems like a reasonable ask.

However, as always the question is: where would we put the configuration that would allow you to do this. Should we have a global "allow self-signed certs/disable CA checks" setting? If we pass self-signed certs to Envoy, do we need to tell it to trust them? Or should this be a per-vhost setting (which is more flexible but will require you to set it for _every_ v

[2022-03-15 04:53] absoludity commented on #4290
We just use [oauth2-proxy](https://oauth2-proxy.github.io/oauth2-proxy/) rather than our own. but yes, it switches the cookie for the Authorization header when requests go through it, so without it the requests arrive at our grpc backend without any authentication header.

Excellent, let us know if you need any early testers - that'd be an interesting alternative to our dependency on oauth2-proxy.

[2022-03-15 05:08] jroper commented on #4399
All good questions, I'm still learning a bit here about how things are "supposed to be done".

I'm not sure what the value of having such configuration to enable it or disable it is (and that's not me asserting an opinion that there's no value, I don't know). Right now, if you configure a secret with a self signed, non CA cert in the `caSecret` field, it doesn't work, you've got a configuration th

[2022-03-15 08:29] tsaarni commented on #4399
I doubt there is anything in Contour that would prevent self-signed certificates to be used like that. When you receive "unknown ca" TLS alert from Envoy, I think it is because BoringSSL (OpenSSL fork that Envoy uses) did not accept certificate as trusted unless it has `Certificate Sign` listed in its X509v3 Key Usage extension field.  I was experimenting a bit and got "unknown ca" with following

[2022-03-15 08:43] tsaarni commented on #4399
I also checked  Envoy docs for [CertificateValidationContext](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto#envoy-v3-api-msg-extensions-transport-sockets-tls-v3-certificatevalidationcontext). It is bit unclear what would happen if leaving CA certificate unset but setting `verify_certificate_spki` or `verify_certificate_hash` with the values mat

[2022-03-15 09:11] lou-lan opened #4400 "Contour Resource Limits data is very out of date"
**What do you want the project to decide?**

https://projectcontour.io/guides/resource-limits/

I see on this page that contour's memory footprint is `244MB` at `5k` ingress and `5k` Service, and `2600MB` at `10k`.

In my own testing, 5k is nearly `500MB` and `10k` is `1.024GiB`.

The data does not look accurate.

| Test Criteria |          |      |     |     Contour |             |       Envoy |

[2022-03-15 09:20] jroper commented on #4399
Correct, there doesn't seem to be any controls in the AWS API Gateway, they just give you the cert, and you have to use that. Ironically, for their downstream client certificate support, they too also only support providing a user supplied CA certificate. But they expect everything upstream to support their individually issued self signed certs.

I was wondering about the `verify_certificate_spki/

[2022-03-15 09:22] jroper commented on #4399
Also, something dumb about the AWS API Gateway, they know that their backend mTLS support doesn't work with common services/servers:

![aws-api-gateway](https://user-images.githubusercontent.com/105833/158346280-cbdf679c-8e4a-4ee9-b3e9-05d8ef180b68.png)

They couldn't even connect to themselves, because their own frontend configuration does not support this. Other API Gateways, such as Google Apig

[2022-03-15 09:24] tsaarni commented on #4399
:( I wonder if most would be fixed if they just would add `Certificate Sign` key usage.  It would fix Contour+Envoy compatibility.

[2022-03-15 14:34] skriss commented on #4400
Yeah, this data is quite old - I'm not sure exactly what version of Contour it was run with, but given it ran on Kubernetes 1.12, it's definitely due for a refresh.

[2022-03-15 14:43] sunjayBhatia commented on #4290
for HTTP only routes this gets complicated as there is only one HTTPConnectionManager and set of filters, it’s doable for HTTPS routes but more complicated otherwise

[2022-03-15 21:23] jordo commented on #2488
This has been quite helpful

[2022-03-15 22:02] #4213 closed

[2022-03-15 22:03] #4076 closed

[2022-03-16 03:52] youngnick commented on #4062
Okay, I'll go back to my PR and see what I can do.

[2022-03-16 03:55] youngnick commented on #4354
So sorry to take a long time to get back to you here @tirelibirefe. We don't currently have a good example of using contour-authserver for Oauth flows, although we did merge support for it earlier. Sorry.

I'm also working on a way to do Oauth using Envoy's inbuilt filter in #2664, which would mean that you can do some oauth flows without needing the external auth service.

[2022-03-16 04:11] youngnick commented on #4355
I'm sorry we've taken so long to come back to you on this one @cmonty14.

I'm not very familiar with your Proxmox setup, sorry, but maybe some background may help.

Contour's Envoys need to have traffic able to get to them somehow. In our example deployment, we rely on Service of type LoadBalancer, which is provided in a lot of public clouds or managed Kubernetes offerings, that will allow you to

[2022-03-16 13:50] #4318 closed

[2022-03-16 19:28] bourquep commented on #4345
@sunjayBhatia I've just submitted #4403 for this!

[2022-03-16 21:12] skriss opened #4404 "Move setting of image pull policies to `IfNotPresent` into the release branch automation scripts"
Currently, when `make generate-deployment` is run and the files in https://github.com/projectcontour/contour/tree/main/examples/render are generated, all image pull policies are switched from `Always` to `IfNotPresent`. This make task is required to have been run for all PR's to main. The implication of this is that the rendered manifests on the `main` branch have an image pull policy of `IfNotPre

[2022-03-16 21:35] pavelnikolov commented on #4324
This PR was sent last week and I am looking forward to having this merged and implemented in contour as well.
https://github.com/envoyproxy/envoy/pull/20281

[2022-03-17 00:06] rajatvig commented on #4404
Have fixed the code in the new PR

[2022-03-17 03:18] youngnick commented on #399
Looks like envoyproxy/envoy#20281 may be looking to add OpenTelemetry tracing support in Envoy, so we may be able to go straight to that? I think this work is still blocked on us doing some work about Typed ExtensionService objects though.

[2022-03-17 05:12] jroper commented on #4399
This is what it could look like if we supported self signed certificates in Contour. I still have to test this manually (don't readily have a test environment at the moment), and of course write tests etc:

https://github.com/jroper/contour/commit/3a231c8101ceaef94294675660e9d1f19ef48078

[2022-03-17 08:11] tsaarni commented on #4399
@jroper So it worked with AWS API Gateway certs with this change? Cool!

Something I wonder and would like to hear what people think:

Would it be safer to just expose [SPKI validation](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto#envoy-v3-api-field-extensions-transport-sockets-tls-v3-certificatevalidationcontext-verify-certificate-spki) expli

[2022-03-17 12:52] mfridman commented on #4290
We ran into this issue and need to disable gRPC-Web filtering on a per route basis. A global wouldn't be ideal because we are serving some traffic that uses this translation, whereas other traffic we'd like it to be disabled.

This exactly would fit our use-case. Something like this, not sure where, but scoped to the route object.

[code]

[2022-03-17 15:53] VIPHercules opened #4408 "Configuring request timeouts for contour"
I have a general question on how to configure the request-timeout field for contour in kubernetes.

I have a project contour deployment running with envoy daemonset using the default rendered yaml configuration, I need to update this so the request-timeout field for contour is 30s. I'm possibly missing something with this, but I can't find any examples of an edited config map to verify what I am d

[2022-03-17 16:54] #4301 closed

[2022-03-17 23:38] jroper commented on #4399
@tsaarni Haven't tested yet, just putting the code up there to demonstrate the approach, as I said I don't have the environment handy (and right now am doing this work on borrowed time). But of course, I will make sure I test it thoroughly before I submit a PR.

I think exposing the SPKI validation explicitly is a good approach. Of course, both approaches have their merits, but exposing it directl

[2022-03-18 04:22] jroper commented on #4399
Ok, I've now had a chance to test the code, and it works, the SPKI validation works. However, I've also found that Amazon API Gateway works without the change (I had been testing with my own self signed certificates because that was easier). Here's an example certificate that Amazon issues:

[code]

As you can see, there's no `CA:TRUE`, and no key usage requirements. And, somehow, it works? I gues

[2022-03-18 06:12] tsaarni commented on #4399
Could be, I'm not familiar with this detail.  It would be interesting to know this.

Do you mean that in your previous tests where Contour did not work, you had Server Auth and Client Auth key usages, but not Certificate Sign?  I ask because coincidentally there has been also recent changes in Envoy in this area  https://github.com/envoyproxy/envoy/security/advisories/GHSA-837m-wjrv-vm5g so theore

[2022-03-18 06:26] tsaarni commented on #4399
Looking at the change related to the CVE, it does not directly look like it would have any impact https://github.com/envoyproxy/envoy/compare/v1.20.1...v1.20.2.

[2022-03-18 07:07] tsaarni commented on #4399
Googling this a bit and looking at the [code here](https://github.com/google/boringssl/blob/c7a3c46574e7fc32357b2cc68f961c56c72b0ca4/crypto/x509v3/v3_purp.c#L794-L795) it seems like this might be the case.

[2022-03-18 08:52] cmonty14 commented on #4355
Hello,

thanks for your reply.

In the meantime I started from scratch, means I deployed the kubernetes cluster using a different network that is **not bridged**. The external subnet is `10.97.206.0/24`.

The load balancer service is provided by _kube-vip_, and to my best knowledge this works as expected.

The latest deployments are:

- Contour
- httpbin

And I think this is running as expected:
[

[2022-03-18 10:31] cmonty14 commented on #4355
Update:
I cannot open httpbin using external IP 10.97.206.215.
The root cause I identified is that ports 80 and 443 are filtered:
[code]

However there's no firewall in the network.
If I deploy Nginx with `kubectl create deploy nginx --image=nginx:stable-alpine` and then expose it to port 80 with `kubectl expose deploy nginx --port=80 --type=LoadBalancer` I can access the Nginx webpage w/o problem

[2022-03-18 14:20] #4404 closed

[2022-03-20 22:53] youngnick commented on #4355
The way Contour works is that it takes Ingress objects, and makes the domain and path you specify in there available using the Envoy service. So, you'll need to access that domain name by curling the _Envoy_ service IP address, which is looks like is `10.97.206.210` from your config above.

It looks like you've got only a wildcard in the hostname in the Ingress, which I don't think will work with

[2022-03-20 23:00] youngnick commented on #4408
I edited your initial comment to fix up the YAML rendering. :)

Config file syntax errors are fatal for Contour, and that looks fine to me, so if Contour is starting up okay, then the config should be accepted.

I hadn't thought about this before, but I can see how this is not ideal. We're currently working on moving to a configuration CRD to be able to have a place to tell you when everything is

[2022-03-21 08:33] VIPHercules commented on #4408
Thanks for this, it's really appreciated. I'm relatively new to contour and envoy so any guidance like this is a big help. In terms of propagating the updated config to contour and envoy (I think I read somewhere that if you don't set a value for request-timeouts that it uses envoys default) is the best approach just to restart the contour pods followed by the envoy pods?

[2022-03-21 09:49] cmonty14 commented on #4355
Thanks for your reply. This is my understanding of it.
Envoy is listening on `10.97.206.210`, and this is based on output
[code]
Now I must define a hostname in my DNS controller for this IP `10.97.206.210`.
After this I can verify it with `curl -H "Host: httpbin.example.com" http://10.97.206.210/`.

But what about IP `10.97.206.215` based on this output?
[code]
Is this not the IP the webservice i

[2022-03-22 02:58] youngnick commented on #4355
That IP listed under `ADDRESS` will have been updated by one controller or another at some point, either Contour or ingress-nginx. Neither controller will remove that entry when the Ingress falls out of its scope, so the details may be stale. In either case, it will most likely have been set to the address of the LoadBalancer Service fronting the ingress controller.

Do you still have both Contour

[2022-03-22 08:27] cmonty14 commented on #4355
Hello,
I have deployed nginx as load balancer only to proove that there are not firewall rules or whatever that filter communication with the cluster, means this service is deleted and not running in parallel to Contour.
Actually I deployed nginx-service after I identified Contour was not working.

[2022-03-22 14:46] VIPHercules commented on #4408
Thank you this is really useful to know, much appreciated.

[2022-03-22 22:28] mmalecki commented on #4300
I was able to get part-way there, but ran into an issue that has me a bit stumped: Envoy appears to be replacing the entire path, as opposed to just the prefix. For example, with a prefix `/a`, set to replace to `/b`, requests to both `/a` and `/a/c` seem to land as `/b` (no `/c`).
I've used [`PrefixRewrite`](https://github.com/mmalecki/contour/commit/bcf97ba131e78866d0703fb4718c4fbf64c878c7), whi

[2022-03-23 00:37] mmalecki commented on #4358
Sorry for the late reply here.

Sure thing - in short, I'd prefer to have hostname matching done on the `Gateway`s vs `HTTPRoute`s so that my manifests don't have to contain actual domains (varying between environments), with the integration point being the gateway name instead (well-known string).
This way the DNS name becomes an implementation detail, with cluster operators managing ingress from

[2022-03-23 17:05] sunjayBhatia commented on #4300
@mmalecki what was the path you are matching on for the route(s) you are testing? The [Envoy config field](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-redirectaction-prefix-rewrite) we end up using will replace whatever is matched with the specified prefix. So if you have set up a generic prefix match for `/` then the

[2022-03-23 17:08] sunjayBhatia commented on #4300
This seems to be how the Gateway API words it as well:

[code]

From [here](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPPathModifierType)

If we wanted to have a different path matching logic (e.g. a generic prefix path match like `/` can still replace a request with path `/a/c` with `/b/c` rather than `/b`) we may have to use a regex rewrite fo

[2022-03-23 17:09] sunjayBhatia commented on #4300
Here's also an example of path matching/rewriting in practice: https://github.com/projectcontour/contour/blob/main/test/e2e/httpproxy/path_rewrite_test.go

Could add an example for the generic match case as well

[2022-03-24 13:49] movikbence opened #4414 "severity instead of level in logging"
Hi

I am checking contour logs, and we have a query about if the "level" field can be changed to "severity" in contour logs.
Here is the example:

"time="2022-03-16T11:58:42+01:00" **level**=error msg="stream terminated" connection=114 context=xds error="rpc error: code = Canceled desc = context canceled""

Our customer has a way to transform the logs into json, then visualize with Elastic Search

[2022-03-25 05:21] youngnick commented on #4355
Okay, if only Contour is running in this cluster, and the Envoy service's External IP is `10.97.206.210`, the fact that your Ingress is showing an External IP of `10.97.206.215` means that Contour is not reconciling the resource properly. I'd set Contour's logs to debug level, restart it and see what the logs say about the resource.

[2022-03-25 05:33] youngnick commented on #4414
The logging library Contour uses, [logrus](https://github.com/sirupsen/logrus), puts this field in for us automatically, and it doesn't seem to be customisable. It does support outputting directly to JSON, but we don't have a way to let you tell Contour to do that.

So, it doesn't seem like we can easily change the `level=` part of the line, but we could maybe make it so that it's JSON directly, w

[2022-03-25 14:16] skriss opened #4417 "resolve split between informers & controller-runtime controllers for handling resource events"
ref. https://github.com/projectcontour/contour/pull/4410#pullrequestreview-919411541
ref. https://github.com/projectcontour/contour/pull/4410#issuecomment-1077713584

[2022-03-25 16:31] skriss opened #4418 "Gateway API: support >1 Contour instance per namespace"
Gateway API has no restrictions on the # of Gateways per namespace, therefore Contour's implementation should support >1 Contour Gateway per namespace.

[2022-03-25 16:34] skriss opened #4419 "Gateway API: provisioner should directly provision xDS TLS certs instead of using Job"
It's simpler and less error-prone to directly provision xDS TLS certs using `pkg/certs`, rather than creating a certgen Job to run `contour certgen`. One thing to keep in mind is that they should probably still be rotated once for each release.

[2022-03-25 16:36] skriss opened #4420 "Gateway API: integrate provisioner into release process/tooling"
Need:
- rendered YAML manifest, including Contour & Gateway API CRDs
- image tag + image pull policy replacements

[2022-03-25 16:41] skriss opened #4421 "Gateway API: provisioner should generate a ContourConfiguration instead of a ConfigMap"
The provisioner should move to generating a ContourConfiguration CR, and configuring Contour to use it, instead of the ConfigMap. This will make supporting GatewayClass params easier.

[2022-03-25 21:01] bjornharrtell commented on #2151
@mattmoor I have reason to believe this is causing problems in the use of contour that I've been involved with. From the last comment it seemed you where positive and had a solution but it never made it into the project. Can you provide an update?

[2022-03-25 21:27] skriss opened #4422 "consider changing "contour envoy shutdown" --check-delay default to 0s"
Currently, the `contour envoy shutdown` command has a default `--check-delay` value of `60s`. This means that, after triggering a deletion of Envoy, nothing happens for 60 seconds, at which point the command starts polling for remaining open connections.

I don't see any reason not to start checking for open connections right away. In the case where are no open connections, this means the Envoy po

[2022-03-25 23:31] mattmoor commented on #2151
My PoC was working around this downstream in Knative's ingress implementation layered on top of Contour, which takes advantage of some readiness probing logic we have in Knative to ensure networking programming has been rolled out, and then programming Contour in two passes.

I put together some slides on this [here](https://docs.google.com/presentation/d/e/2PACX-1vSzDJLirlYMYVH-tFn8D97llK1lciB_HC

[2022-03-26 00:18] rajatvig opened #4423 "Envoy is not sending metrics on GRPC"
We are using Contour as an Ingress over GRPC Services and started to notice that the underlying service returns an error, Envoy reports 200 in the access log and there are no GRPC metrics.

After looking up Envoy documentation, there is a [grpc_stats_filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_stats_filter) but it is not configured in the listener.

[2022-03-27 23:23] youngnick commented on #2151
I think that @sunjayBhatia is working on our xDS handling code, to see if we can make it handle this use case a bit better. Maybe he has some more info here?

[2022-03-27 23:24] youngnick commented on #4422
Agreed, feels like this should be at most 5 seconds or something.

[2022-03-28 14:41] sunjayBhatia commented on #4422
ha, yeah set that to 0s in the e2e tests just for that reason

[2022-03-29 07:39] youngnick opened #4425 "Ingress object with no `hostnames` set in the `tls` stanza silentlly produces no config"
**What steps did you take and what happened:**

If you create an Ingress object that is missing the `hostnames` list, Contour will process the object, but no Envoy config will be emitted.

Sample object:
[code]

** Initial investigation notes **
In `internal/dag/ingress_processor.go`, in `computeSecureVirtualHosts`, we `range` across `tls.Hosts`, which will do nothing if the host list is empty, an

[2022-03-29 20:17] skriss opened #4427 "flesh out ContourDeployment spec"
The definition of `ContourDeployment` that we have in repo is minimal:

[code]

The structure of the rest of the spec needs to be fleshed out.

One key decision to make here: originally in the [ContourConfiguration/ContourDeployment design](https://github.com/projectcontour/contour/blob/main/design/configuration-crd.md), since the `contour serve` command was going to manage Envoy, any details of t

[2022-03-30 14:19] movikbence commented on #4414
sorry for the late reply, we were also investigating internally our possibilities. Such logging would be really valuable for us

[2022-03-30 15:20] skriss opened #4429 "run Gateway API conformance tests as part of CI"
At some point we should start running the Gateway API conformance tests as part of our CI, either for all builds or on a nightly basis. Right now, with the use of the provisioner and https://github.com/kubernetes-sigs/gateway-api/pull/1080, we're passing everything. We'd probably want to make it non-blocking if we run it for PRs, since as more tests get added to the suite we're bound to find exist

[2022-03-30 19:07] skriss opened #4431 "E2E flake: Gateway TLSRoute Terminate"
Have seen this one flake a few times:

https://github.com/projectcontour/contour/runs/5759542857?check_suite_focus=true#step:7:133

[code]

[2022-03-30 21:08] #4418 closed

[2022-03-30 21:08] #4420 closed

[2022-03-31 10:17] #3313 closed

[2022-03-31 13:30] flokli commented on #2664
@youngnick any update on this one? For the time being, are you aware of any Envoy-external-authorization compatible component that could be used for OAuth, so I could use Contour?

The only thing I could find was in oauth2-proxy, but upstream turned down the proposal: https://github.com/oauth2-proxy/oauth2-proxy/issues/958#issuecomment-932103074

[2022-03-31 16:51] #4408 closed

[2022-03-31 17:46] skriss opened #4434 "support alternate means of provisioning xDS TLS certs in provisioner"
I think in the long run it would be nice to see that Gateway provisioner could also support certificates provided by some other system, which does proper time-based rotation.  Long time ago I criticized that the hardcoded 365 day certgen certificates are a time-bomb waiting to destroy the deployments. Even with the upgrade based rotation, it still a gamble. Although, to my surprise I have not seen

[2022-03-31 17:47] skriss opened #4435 "provisioner: be more intelligent about rotating certs to avoid downtime in xDS"
Another small issue is related to the fact that we delete the CA key. New CA gets generated at every upgrade. I think it might cause a small glitch in the xDS communication before the new CA cert is taken into use by both ends. Depending on the order of pod-vs-secret creation, there is a chance that the old certs are written (by kubelet) to the new pods. It might take couple of minutes for the upd

[2022-03-31 18:17] #4419 closed

[2022-03-31 20:30] skriss opened #4439 "Gateway API: handle multiple listeners properly across provisioner and xds server"
Right now, the provisioner assumes either 1 or 2 listeners, 1 HTTP, 1 HTTPS, and doesn't really work if that's not the case. However, from https://github.com/projectcontour/contour/pull/4411 we know that we need to support >1 HTTPS listener on the Gateway, which should get merged into a single Envoy service port and Envoy listener; that's possibly true for HTTP as well (need to look into it).

The

[2022-03-31 21:59] youngnick commented on #2664
Hi @flokli, the current update is that I'm still working on the design, sorry. I'm trying to get a working configuration first so that I can validate what I have in mind will actually work, but in order to do that, I'm having to PoC out the whole filter and its config. It's taking a lot longer than I would have liked.

The user experience on the filter is not amazing either - if anything at all go

[2022-04-01 11:08] sivakrishna-git commented on #3313
@tsaarni : Please update documentation https://projectcontour.io/docs/main/config/request-routing/#response-timeouts as well

[2022-04-01 11:11] tsaarni commented on #3313
Thanks @sivakrishna-git It is documented in the API section https://projectcontour.io/docs/main/config/api/#projectcontour.io/v1.TimeoutPolicy but I missed the guides. I'll update that too.

[2022-04-01 16:35] skriss opened #4442 "make use of Envoy's path-based prefix matching"
Now that https://github.com/envoyproxy/envoy/issues/18148 has been implemented in https://github.com/envoyproxy/envoy/pull/20145, we should look to move our Ingress and HTTPRoute implementations to use this new prefix matching mode rather than our custom regex. We can implement this once Envoy 1.22 comes out.

[2022-04-01 17:36] skriss commented on #4235
This can be at least partially supported now via the provisioner, by using the first Gateway.Spec.Addresses value to populate the Envoy service's loadBalancerIP field during creation.

[2022-04-03 05:33] lou-lan opened #4447 "Doc: Ingress API - Paths that do not include an explicit pathType will fail validation."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Contour version:
- Kubernetes version: (use `kubectl version`):
- Kubernetes installer & version:
- Cloud provider or hardwar

[2022-04-04 00:23] xaleeks commented on #4429
can we add this to 1.21? @skriss

[2022-04-04 04:42] youngnick commented on #4414
Okay, so we will need a config setting or command line switch to set _Contour's_ logs to JSON output. @projectcontour/maintainers, any thoughts? Note that we already have a way to set _Envoy's_ logs to JSON output, just not Contour's.

[2022-04-04 05:24] xaleeks commented on #4358
What's being proposed doesn't seem to mesh well with the original intent stated in https://gateway-api.sigs.k8s.io/v1alpha2/api-types/gateway/.  The Gateway seems to represent the config of the infrastructure, so you can treat it as a network point.  Having hostname resolving to Gateway seems too powerful, and there's already an elegant way of doing this through HTTPProxy today.

[2022-04-04 05:30] xaleeks commented on #4362
Can you state the other issues you mentioned that prevents you from leveraging the ipFamilyPolicy on Services now that dualstack graduates to GA in k8s 1.23.  I don't think we've yet explicitly tested ipv6 dual stack with sepc.ipFamilyPolicy:PreferDualStack yet but that's definitely higher priority for validation.  That will give you both ipv4 and ipv6 addresses for the Service which is the right

[2022-04-04 06:47] xaleeks commented on #4276
some other questions that might be worth considering

- performance impact if every request is now suddenly undergoing WASM extension like regex or manipulating a header or body
- how to define priority of execution of WASM extensions provided by end users versus existing filter chains that we implement like external auth and rate limiting
- can we use this to implement some commonly asked feature

[2022-04-04 09:38] movikbence commented on #4414
envoy's log to JSON is regarding the access log, not the whole logging mechanism as I know
https://projectcontour.io/guides/structured-logs/

[2022-04-04 14:43] skriss commented on #4429
Yeah we should be able to, just waiting for one upstream PR to merge first.

[2022-04-04 17:49] #4447 closed

[2022-04-04 19:34] watzo opened #4449 "Envoy in PROXY mode uses untrusted x-forwarded-for header information"
**What steps did you take and what happened:**
* followed guide https://projectcontour.io/guides/proxy-proto/ to enable PROXY protocol on AWS ELB
* x-forwarded-for was correctly filled in to remote IP address
* when x-forwarded-for was added as a client header, it got added to the chain

**What did you expect to happen:**
* I had expected the x-forwarded-for header sent by the client to be ignored

[2022-04-05 10:48] viju2008 opened #4450 "IP whitelisting / deny listing (block list) in Contour"
**Please describe the problem you have**
[A clear, concise, description of the problem you are facing. What is the _problem_ that feature X would solve for you?]

Feature Request for adding feature to create IP whitelist or Deny list for the services accessed through Contour Ingress

Positive security model by implementing whitelist or negative security model using deny lists for IP Addresses.

[2022-04-05 13:50] skriss commented on #4450
@viju2008 this looks like a duplicate of https://github.com/projectcontour/contour/issues/3693, please follow along there. I'll copy your comment over so we don't lose it.

[2022-04-06 03:55] phaniraj75 commented on #3192
@youngnick @stevesloka  we are facing the same issue whenever we are upgrading CNI plugin.  The readiness probe of envoy pod responding with status code 503 with body "DRAINING".
One thing observed when this happens that restart count of containers in envoy pod always mismatch, the "shutdown-manager" has more restart count than envoy pod.

Contour version: v1.20.1

The installation done using: kub

[2022-04-06 05:11] youngnick commented on #3192
Thanks for the report and the logs @phaniraj75. Would you please be able to log this as a separate issue though? That way we can avoid updating everyone involved in this train.

[2022-04-06 05:18] youngnick commented on #4358
It's absolutely intended that Gateway Listeners be able to discriminate traffic based on a hostname, that's why the field is in there. We kind of intended that separate Gateways with Listeners that don't conflict could be mergeable onto a single load balancer (in the Gateway API, I mean), but we haven't got to the stage where we can actually do that with Contour yet.

As far as the upstream API is

[2022-04-06 11:58] jorgemoralespou commented on #4290
For including Kubeapps into TCE we need a solution to this, as otherwise we need to deploy, along with kubeapps another ingress controller that supports our grpc communication between client and server (currently we use nginx), and it looks awful to have a different ingress controller (for this use case) than the one for the cluster globally, which we prefer to be contour.

[2022-04-06 12:00] vrabbi commented on #4290
Or suggest the use of SVC LB for the meantime or nodeport

[2022-04-06 19:44] #4429 closed

[2022-04-06 20:31] skriss commented on #4431
I'm wondering if https://github.com/projectcontour/contour/blob/main/test/e2e/gateway/tlsroute_test.go#L82-L90 and https://github.com/projectcontour/contour/blob/main/test/e2e/gateway/tlsroute_test.go#L149-L158 could inadvertently be causing some test pollution by accepting any hostname; it seems like changes to Listeners are a little slower to propagate than just route changes, so perhaps these a

[2022-04-07 02:58] levimm commented on #2855
for my case, upstream proxy protocol is used so network policy doesn't work in this case. IP whitelisting feature utilize "envoy.filters.network.rbac" would be very useful.

[2022-04-07 16:51] erwbgy commented on #2664
[Authorino](https://github.com/Kuadrant/authorino/blob/main/docs/architecture.md) can also be used as an Envoy authorisation server but that also needs the OAuth filter to ensure that the request has the bearer token before the authorisation call.

@youngnick Happy to help review or test once you have a design.

[2022-04-09 17:11] sesibhushan121 opened #4456 "i want to change some page instead of 404 error page"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
i have installed contour in our kubernetes cluster, then i have deployed httpd and nginx web servers,

**What did you expect to happen:**
i expected to wrok is if any 404 error in page...on that time i have to show some html or image what i have created

**Anything else you would like to add:**
[Mi

[2022-04-11 02:05] phaniraj75 opened #4457 "After upgrading CNI envoy pods are stuck in Non Ready State"
**What steps did you take and what happened:**
Upgraded the CNI plugin. This upgradation is service impacting affected entire cluster for short duration of time, after successful upgradation cluster back to normal except Envoy pods which posted UnReady status with status code 503 and content of response body is "DRAINING"

**What did you expect to happen:**
After successful upgradation envoy pods

[2022-04-11 14:58] chris93111 opened #4458 "content length not allowed in 1xx or 204 ingress"
Hi

we recently migrated ingress traefik to contour, I have an api that returns a 204 and the envoy crash with 502

the error is content length not allowed in 1xx or 204 ingress

they are a solution to pass this parameter to envoy ?
envoy.reloadable_features.send_strict_1xx_and_204_response_headers: false

contour:1.20.1

[2022-04-12 12:40] OrlinVasilev commented on #320
@jpeach @stevesloka @sgringwe I think we can close this one right ?

[2022-04-12 13:30] stevesloka commented on #320
@OrlinVasilev nope, you'd need a way to configure this in Contour now. =) It's great envoy has support now.

[2022-04-12 14:03] OrlinVasilev commented on #320
Great thanks!!

[2022-04-12 17:18] watzo commented on #2515
great feature, any timeline on its integration?

[2022-04-12 17:33] #4421 closed

[2022-04-13 22:14] skriss commented on #4358
Yep, that's a great point @youngnick, that is probably the best way to go. You can set up multiple Listeners on a single gateway, each with the same port but a different hostname, and then when `HTTPRoutes` select them, provide the specific Listener name in the `sectionName` field (see https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.ParentReference for

[2022-04-14 01:54] sunjayBhatia commented on #4002
@adnanhb are you still working on this? let us know if you need anything from us or if we should reassign this issue

[2022-04-14 02:27] sunjayBhatia commented on #4089
@abhide are you working on this one? 1.21 is coming soon so just wanted to check in

[2022-04-14 02:42] sunjayBhatia commented on #4300
@mmalecki contour v1.21 is coming up, just checking in if you are still working on this and need anything from us?

[2022-04-14 02:49] #4345 closed

[2022-04-14 03:08] sunjayBhatia commented on #4373
@Jochen-dba did you get a change to work on this? Just checking in since contour v1.21 is coming soon in case you wanted to get your work into that release

[2022-04-14 03:12] sunjayBhatia commented on #4449
contour supports configuring the number of trusted hops for the x-forwarded-for header here: https://projectcontour.io/docs/v1.20.1/configuration/#network-configuration

Does using that get you the behavior you expect?

[2022-04-14 06:57] Jochen-dba commented on #4373
Hello @sunjayBhatia,

unfortunately I didn't manage to work on this until now.
But it is still on my high priority tasks list.

Best regards,
Jochen

[2022-04-14 11:57] adnanhb commented on #4002
Sunjay, i have completed the implementation, just need to get around to testing it. I will revert back with a PR soon.

[2022-04-14 15:38] sunjayBhatia commented on #4449
That setting won’t show up in the bootstrap file for envoy, the bootstrap is static configuration to get envoy running and connected to contour, the trusted hops setting will show up in the xDS config dump you can find following: https://projectcontour.io/docs/v1.20.1/troubleshooting/envoy-admin-interface/ (the /config_dump endpoint)

[2022-04-14 17:19] skriss opened #4468 "update Gateway API docs"
Docs for Gateway API need to be updated to account for changes over the last release, primarily covering the provisioner.

Specifics:
- Dynamic provisioning (using the provisioner) vs. static provisioning ("normal" Contour install)
- Static provisioning: configuring a controller name vs. a gateway ref
- Contour's constraints on listeners (HTTP/HTTPS/TLS only, 2 ports max, but can have multiple lis

[2022-04-14 17:29] sunjayBhatia commented on #4468
I would add the getting started guide as well since the gateway API site refers to this page, maybe add the provisioner above the operator option (or remove the operator option completely): https://projectcontour.io/guides/gateway-api/

[2022-04-14 17:37] watzo commented on #4449
Thanks @sunjayBhatia. Indeed in the runtime config I can see the num-trusted-hops applied as xff_num_trusted_hops. So I guess I can isolate the issue to inconsistency in the envoy config or an issue with envoy itself?

[2022-04-14 23:15] sunjayBhatia commented on #4449
hm it may be that we have a bug tbh, since we do set `use_remote_address` on the `HTTPConnectionManager` but attempt to use the `original_ip_detection_extensions` filter (https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/http/original_ip_detection/xff/v3/xff.proto#extension-envoy-http-original-ip-detection-xff) to set the number of trusted hops

I don't remember that disclaimer about n

[2022-04-14 23:20] sunjayBhatia commented on #4449
ok here is the envoy issue: https://github.com/envoyproxy/envoy/issues/17554 and https://github.com/envoyproxy/envoy/pull/17558

[2022-04-14 23:22] sunjayBhatia commented on #4449
looks like something we may have missed out on in between Contour 1.19 and 1.20 since we skipped from Envoy 1.19.1 to 1.21.0

[2022-04-14 23:24] sunjayBhatia commented on #4449
do you see `Original IP detection extensions and use_remote_address may not be mixed` in any Envoy logs?

[2022-04-14 23:33] sunjayBhatia commented on #4449
hm, you're on contour 1.17 though so this issue may not even apply, which would explain why you don't have any issues with the HTTPConnectionManager being rejected

[2022-04-14 23:49] sunjayBhatia commented on #4449
I think generally the point with the "trusted hops" setting is not that it restricts what goes in the header as passed to downstreams, but rather controls how Envoy calculates what the remote address the client is using

[2022-04-15 05:37] watzo commented on #4449
ok, so I think then we are closer to assessing this as a bug. Indeed, when --use-proxy-protocol is in use, the PROXY protocol dictates the remote address, and should ignore any downstream X-Forwarded-For header.

[2022-04-15 05:37] watzo commented on #4449
I was in the process of upgrading Contour, on 1.18 the same behavior manifests.

[2022-04-15 05:50] watzo commented on #4449
In the context of the PROXY protocol listener, this extension should not be used it seems, however, the config of the extension suggests that the default setting of xff_num_trusted_hops=0 should effectively disable it.

[2022-04-15 14:39] sunjayBhatia commented on #4449
there shouldn't be any bug in contour versions up until 1.19, this should become available in Contoyr 1.21: https://github.com/projectcontour/contour/pull/4470

[2022-04-15 16:37] skriss opened #4471 "ContourDeployment: apply defaults internally, not via kubebuilder"
ContourDeployment's fields should all be optional, and defaults should be applied internally by the Gateway provisioner, rather than kubebuilder, to follow the same pattern as we're using for ContourConfiguration in the xds server.

Follow-up from #4467

[2022-04-15 17:25] skriss opened #4473 "provisioner: fix reconciliations to only update fields that should change over time"
With Gateway API, parameters defined by the GatewayClass should apply at the time of Gateway instantiation, but subsequent updates to those parameters should not flow through to already instantiated resources. The provisioner is doing this partly correctly, and partly incorrectly, since it was based on existing code that did ~full reconciliation on updates. We need to go through each resource's "E

[2022-04-15 18:25] #4128 closed

[2022-04-15 20:00] plaisted commented on #2608
I'm having some trouble with this as well and am beginning to think contour doesn't really fit for non-http traffic.

Snippets setup below from discussion above:
[code]

Using a simple `kubectl port-forward` I am able to connect to the pods using TLS over TCP without issue (using cert valid for both localhost and the fqdn). Trying to connect on 443 or 80 of the fqdn does not work through contour (

[2022-04-15 20:15] mmalecki commented on #4300
My apologies, @sunjayBhatia, I had to step away from this for a little while due to some other priorities.

Oddly enough, I'm not using `/` as my prefix. Here's how my `HTTPRoute` is configured:

[code]

I then `curl`:

[code]

But `kuard` logs:
[code]

when the URL should be `/substitution/foo` instead.

(My cluster is your typical "getting started with Contour" kind of a kind cluster. My branch

[2022-04-15 22:09] skriss commented on #4300
Quick thought, I wonder if the fact that internally we're generating a regex match for Gateway API because we need to do "path segement prefix matching" rather than "string prefix matching" is messing this up. Will look some more next week but that seems likely. Also ref. https://github.com/projectcontour/contour/issues/4442

[2022-04-16 09:37] mmalecki commented on #4300
Ah, this being related to a potential different method of matching that "eats up" the part after prefix was one of my suspicions. I'll also take a look if there's anything I can do here.

[2022-04-16 10:07] mmalecki commented on #4300
Hm, I think I may have a grip on how to approach this alongside #4442, since Envoy's `path_separated_prefix` appears to be a 1:1 compatible with ours. Can't make any promises, but I'll see if I can get anywhere during the weekend.

[2022-04-16 16:06] mmalecki commented on #4300
Whew, I was indeed able to get this going by using `path_separated_prefix`! Just smoothing out some rough edges (e.g. empty-string substitution) and PR'ing this.

[2022-04-16 16:36] mmalecki commented on #4442
(Feel free to assign me to this, I'm working on this in order to get #4300 going.)

[2022-04-18 14:58] skriss opened #4479 "Gateway API: use "RefNotPermitted" condition reason for invalid cross-namespace refs"

[2022-04-18 15:13] sunjayBhatia opened #4480 "Use Envoy Stateful Session HTTP filter"
**Please describe the problem you have**
There have been some requests for certain capabilities that cannot really be provided when implementing session affinity solely with a load balancing policy. The stateful session HTTP filter in Envoy may provide some more functionality: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/stateful_session_filter

e.g.
- ability to sti

[2022-04-18 16:47] #4479 closed

[2022-04-18 21:23] skriss commented on #4040
This should be unblocked now and can be added to the `ContourDeployment` CRD spec and implemented in the Gateway provisioner, unfortunately probably won't make 1.21.

[2022-04-18 21:23] skriss commented on #4039
This should be unblocked now and can be added to the `ContourDeployment` CRD spec and implemented in the Gateway provisioner, unfortunately probably won't make 1.21.

[2022-04-18 21:44] rajatvig opened #4484 "Add grpc_status_number to access logs"
Envoy 1.22 supports reporting the grpc_status_code in access logs and as referred to in the [pull request](https://github.com/projectcontour/contour/pull/4424), it should be included in the default log pattern when using JSON.

[2022-04-18 21:53] sunjayBhatia commented on #4484
the tricky thing here is even though it is a totally new feature, i think the crossed out bits in comment https://github.com/projectcontour/contour/pull/4424#issuecomment-1101785837 still does stand, since you could update contour and change the access log format at the same time as upgrading envoy, so you could send invalid access log formats to older Envoys

this may degrade fine, since at least

[2022-04-19 15:00] skriss commented on #4057
Another related issue that'd be great to tackle as part of this: Contour supports 3 different APIs (HTTPProxy, Ingress, Gateway API), each of which enable a different subset of Contour's features. However, our website primarily focuses on HTTPProxy; Ingress only gets [a single page](https://projectcontour.io/docs/v1.20.1/config/ingress/) with some occasional content sprinkled elsewhere, and Gatewa

[2022-04-19 20:54] #4471 closed

[2022-04-19 23:09] #4423 closed

[2022-04-20 20:03] watzo commented on #4449
Which component in Envoy should do the sanitizing of the headers? Because I would expect that untrusted headers would be stripped. X-Forwarded-Host and X-Forwarded-For should not have contained client provided input:

X-Envoy-Expected-Rq-Timeout-Ms: 15000
X-Envoy-External-Address: 10.205.70.134
X-Forwarded-For: 2.2.2.2,1.1.1.1,10.205.70.134
X-Forwarded-Host: illegal
X-Forwarded-Proto: https
X-Requ

[2022-04-20 20:58] sunjayBhatia commented on #4449
I don't think it is intended that any proxy sanitizes that header, it is intended as untrusted information from a client that can possibly inform calculation as to what the actual client ip may be, based on how you have set up your proxy hops etc. (see https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For#selecting_an_ip_address). It is definitely possible to spoof things, whic

[2022-04-20 21:07] sunjayBhatia commented on #4449
Since you are using PROXY protocol, you can possibly also just remove the header: https://projectcontour.io/docs/v1.20.1/config/api/#projectcontour.io/v1.HeadersPolicy

[2022-04-21 14:33] watzo commented on #4449
X-Forwarded-For and X-Forwarded-Host are used in an upstream system that I can't reconfigure easily (so I cannot use x-envoy-external-address)

I found a workaround using requestHeaderPolicy, but would rather fix this on a global configuration level.

  - name: X-Forwarded-For
     value: "%DOWNSTREAM_REMOTE_ADDRESS%"

[2022-04-21 17:05] spines83 commented on #3086
Hey all! Just wanted to toss in another use case where this became an active issue.

Contour is the primary ingress controller on a cluster we're using and we needed to install GitLab on that cluster.

In order to clone/push projects from GitLab over SSH, we need to be able to run an SSH connection through an ingress controller to the workload. SSH uses its own non-TLS encryption so this has force

[2022-04-21 20:56] skriss commented on #3807
Working on getting this done for 1.21.

[2022-04-21 21:35] skriss commented on #3807
Ran into issues on Kube 1.23, filed https://github.com/kubernetes-sigs/gateway-api/issues/1125.

[2022-04-21 21:50] skriss commented on #3807
Issue was fixed on Gateway API's `main`, so I'll use that for now and then will update this when we go to Gateway API 0.5.

[2022-04-21 23:44] skriss commented on #3807
Tracking https://github.com/kubernetes-sigs/gateway-api/pull/1126 for a potential v0.4.3 that we could pull in for the upcoming Contour release.

[2022-04-23 07:38] m-yosefpor commented on #2582
any updates on this? Are there any WIP or milestone set for QUIC support?

[2022-04-23 13:59] mmalecki commented on #4300
I think since this depends on #4442 (I don't see a way to make this happen with RegExp-based matching), which is pending Envoy 1.22, we should change the milestone on this issue to 1.22.

One thing I'm at a loss about here is how to make `PrefixRewrite` on a `Route` to behave the way I want it to when we intend to rewrite the prefix to an empty string.
My approach has been to set `PrefixRewrite =

[2022-04-23 18:24] moderation commented on #2582
Downstream HTTP/3 now considered GA in Envoy 1.22.0

https://www.envoyproxy.io/docs/envoy/v1.22.0/version_history/current#new-features

[2022-04-25 19:22] jordo opened #4497 "Are service annotations for envoy cluster supposed to affect envoy high_priority as well as default_priority?"
**What question do you have?:**

Are service annotations supposed to affect envoy `high_priority` as well as `default_priority` in envoy clusters?  When I add annotation to my service, ex: `projectcontour.io/max-connections: 40960` I see envoy cluster configuration is only updated for the `default_priority` and NOT the `high_priority`.  What implications does this have, and should contour be updat

[2022-04-26 06:02] kalpeshhpatel opened #4498 "What is Nginx proxy_pass equivalent in contour?"
**What question do you have?:**

Hi there, I wanted to set the reverse proxy path in the HTTPProxy config to another FQDN instead of K8s service? Is this possible?

**Use Case**

Currently in NGINX, we can use following location block to setup reverse-proxy to another domain/ip when the given path is visited in our application.

[code]

With this configuration, when we visit ```http://<<our_app_ad

[2022-04-26 14:51] skriss opened #4499 "gateway provisioner: when using a NodePortService, Gateway's port numbers should define nodeport numbers"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- Installed the provisioner:
[code]
- Created a GatewayClass with the envoy network publishing type set to `NodePortService`:
[code]
- created a Gateway using that GatewayClass:
[code]
- observed that the provisioned Envoy service does *not* have a NodePort value of `30080`, instead it's used for t

[2022-04-27 06:41] youngnick commented on #4458
Thanks for this issue @chris93111.

It does seem like providing a content-length in either the 1xx or 204 cases is pretty strongly against the HTTP spec, which is unfortunate.

I think that @sunjayBhatia could probably verify, but it looks like the reloadable feature you mention has been or will soon be removed from Envoy: envoyproxy/envoy#19510 and envoyproxy/envoy#19524, so I don't think we can

[2022-04-27 06:48] youngnick commented on #2539
Thanks for those notes @Nefelim4ag, that's excellent.

[2022-04-27 06:50] youngnick commented on #2515
No timeline as yet, sorry.

[2022-04-27 07:04] youngnick commented on #4484
I think that waiting until after 1.21 for this one is probably better, but not strongly so.

[2022-04-27 07:12] youngnick commented on #4449
Adding this gotcha to the guide seems very reasonable to me. With the other PR @sunjayBhatia has proposed, do you think that would be enough to close this one out, @watzo?

[2022-04-27 07:13] youngnick commented on #3086
Thanks for the additional use case @spines83, that's very useful.

[2022-04-27 16:12] sunjayBhatia commented on #2515
should we add this to the 1.22 milestone?

[2022-04-27 16:38] sunjayBhatia commented on #4458
Yeah, I think you are correct @youngnick, Envoy 1.22 removed that runtime guard so there is no chance of overriding this behavior going forward.

From https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2 (similar for `Transfer-Encoding` in section 3.3.1)
[code]

HTTP codec handling happens on responses before any header manipulation, so dropping those headers yourself on that route is not g

[2022-04-27 16:42] sunjayBhatia commented on #4449
you can set that configuration globally using the option the request header policy option in the Contour config file: https://projectcontour.io/docs/v1.20.1/configuration/#policy-configuration (be sure when you update the contour ConfigMap to restart your Contour instances to pick up the changed config)

[2022-04-27 19:17] skriss commented on #2515
:+1: from me, this would be a nice add.

[2022-04-27 20:06] skriss commented on #3639
#3807 now covers this as well, closing this one out.

[2022-04-27 20:06] #3639 closed

[2022-04-28 00:49] chris93111 commented on #4458
Ok thanks finaly is logic

[2022-04-28 00:50] #4458 closed

[2022-04-28 14:05] Nefelim4ag commented on #2539
Something like that:
[code]
- - -
So just for your information
Currently, we use contour for our production clusters for almost 1.5 years, and it handles about 4000 req/s (TLS on ARM!) at peak every day.
We deploy it by a chart from bitnami, I send some patches to them, to fix corner cases.
Deployment + hostNetwork + HPA/PDB and Amazon Spot instances somewhere.

For publishing, dirty hack used, ex

[2022-04-29 00:05] #4414 closed

[2022-05-01 09:59] HelloPb opened #4506 "Missing Annotation: kubernetes.io/rewrite-target"
Provide support for rewrite-target annotation for Kind: Ingress

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    contour.kubernetes.io/rewrite-target: /

**Environment:**

- Contour version: v1.20.1

[2022-05-02 15:00] skriss opened #4507 "Gateway API: routes are marked "Accepted: false" if their hostnames don't intersect with any one of the listeners they select"
Even with https://github.com/projectcontour/contour/pull/4505 in place, there is still one more issue with the Gateway API hostname intersection logic. If there's a Gateway with e.g. multiple HTTP listeners, each with a different hostname, and an HTTPRoute selects the entire Gateway but doesn't have intersecting hostnames with _any one_ of those listeners, the route will get marked "Accepted: fals

[2022-05-02 16:23] tsaarni commented on #1794
I think overload manager config is part of bootstrap so this would need to be implemented in `boostrap` subcommand, where all input is currently coming from command line flags. Also, since it is being executed in Envoy pod, it does not currently have access to the config file, or Kubernetes API server to read `ContourConfig`.

[2022-05-02 16:54] travisghansen commented on #4278
If anyone needs a quick/dirty solution to this I wrote this for similar issues (typically involving uds): https://github.com/democratic-csi/csi-grpc-proxy which can be used to simply proxy the request and rewrites (unconditionally essentially) the `:authority` header to `localhost`.

[2022-05-02 16:54] #4319 closed

[2022-05-02 18:11] sunjayBhatia commented on #4062
@skriss I think this is all done? based on your refactors etc.

[2022-05-02 18:13] sunjayBhatia commented on #4484
moving to 1.22

[2022-05-02 20:35] skriss commented on #4062
The one thing I haven't gotten to is removing all of the kubebuilder enum validations and moving that logic into the controllers. I think I have a WIP branch with it but I'll have to dust it off, probably isn't gonna make 1.21 at this point.

Otherwise, we could probably close this out and do another review if/when we want to move these to GA.

[2022-05-02 22:08] travisghansen commented on #4278
Is there an envoy bug we're aware of that has been created to address this issue?

[2022-05-03 06:06] youngnick commented on #4278
@sunjayBhatia would be the one to know here.

[2022-05-03 06:07] youngnick commented on #4062
I agree when can close this out for 1.21.

[2022-05-03 13:10] skriss opened #4510 "remove kubebuilder enum validations from ContourConfiguration"
The kubebuilder enum validations should be removed from ContourConfiguration to give us the flexibility to add new allowed values in the future without it being considered an API-breaking change. Equivalent validation logic should be implemented in the controller.

[2022-05-03 13:11] skriss commented on #4062
Filed https://github.com/projectcontour/contour/issues/4510.

[2022-05-03 17:56] skriss commented on #4427
Calling this done by #4467 for now, can always review and revise before promotion to beta or GA.

[2022-05-03 17:56] #4427 closed

[2022-05-03 20:25] sunjayBhatia commented on #4278
the issue shouldn't be an Envoy one, rather how we set up the gRPC service to connect to the auth/rate limit extension services

since we generate/use a cluster name that isn't a valid hostname, we should set the `authority` field on the gRPC service: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/grpc_service.proto#envoy-v3-api-msg-config-core-v3-grpcservice-envoygrpc

[code]

[2022-05-03 20:30] #4062 closed

[2022-05-03 22:30] travisghansen commented on #4278
Forgive the ignorance here (don't really have much experience with `Contour`), but the `:authority` header should just be the `host` being dialed right? SNI is fine but when someone has configured `h2c` it doesn't help.

To me this value should be whatever is here: https://github.com/travisghansen/external-auth-server/blob/master/examples/contour.yaml#L41

[2022-05-04 02:41] sunjayBhatia commented on #4278
Contour configures clusters for k8s services (that are not ExternalName services) to use envoys EDS to discover addresses, so Envoy won’t use that DNS name to dial the auth service, rather the address from the services endpoints

But yeah, when using cleartext gRPC we need a valid hostname since we have no SNI to use, that could very well be set to the service name/namespace if we choose

[2022-05-04 20:59] skriss opened #4513 "adjust Gateway API conformance test runs"
Right now we're always running the latest and greatest Gateway API conformance tests. As @sunjayBhatia [rightly pointed out](https://github.com/projectcontour/contour/pull/4452#discussion_r844291931), this could be problematic since it's a moving target. I propose we do the following:

- change the PR build run to run against the conformance tests in the version of Gateway API that we use (via go.

[2022-05-04 22:13] sunjayBhatia commented on #4513
sounds like a nice compromise 👍🏽

[2022-05-07 12:33] sconsurveys12345 commented on #1269
Contour Survey Company In Marathahalli. The company produces from survey works and data, the contour maps of the site that show the terrain gradient of the site and show the heights and depressions and the level of their gradation, with any contour interval starting from 25 cm and extending to several meters according to the customer's request, and the contour map can be used with the aerial image

[2022-05-09 15:13] #4507 closed

[2022-05-09 18:23] #4468 closed

[2022-05-09 22:22] jberger opened #4519 "Deploying Gateway Provisioner with kustomize fails with accumulation error"
**What steps did you take and what happened:**
Rather than deploy by hand with `kubectl apply -f https://projectcontour.io/quickstart/contour-gateway-provisioner.yaml` I took it the next step to a committable version using kustomize, which looks very similar:

[code]

(Note that I tried both with and without the fancy url above, the have the same result, and I'd prefer using something with explici

[2022-05-09 22:31] skriss commented on #4519
@jberger thanks for trying out the gateway provisioner and for the issue report! We pull those two files in from upstream Gateway API (https://github.com/kubernetes-sigs/gateway-api/tree/release-0.4/deploy), and yes I can see that they both have the namespace definition. Let me take a look and see if we can either address that upstream, or in Contour's rendering of these.

[2022-05-10 06:23] yangyy93 commented on #2515
please assign it to me, i think i can do it well

[2022-05-10 11:03] yangyy93 opened #4520 "only one of requestRedirectPolicy and service can exist"
**What question do you have?:**
In the httpproxy configuration, the service and requestRedirectPolicy configurations [should not be configured at the same time.](https://www.envoyproxy.io/docs/envoy/v1.22.0/api-v3/config/route/v3/route_components.proto.html?highlight=routes#config-route-v3-route) However, when the dag is generated, [two can exist at the same time.](https://github.com/projectcontou

[2022-05-10 11:05] tsaarni opened #4521 "Error in documentation for metrics over TLS"
The documentation of configuration file is mispresenting the definition of metrics over TLS by missing one level of structure: `metrics.contour` and `metrics.envoy` in https://projectcontour.io/docs/v1.21.0/configuration/#metrics-configuration.

Also example for the metrics TLS config is missing.

[2022-05-10 11:06] tsaarni commented on #4521
Cc @movikbence

[2022-05-10 16:44] #4521 closed

[2022-05-11 13:22] kartik-moolya opened #4524 "Need to support HTTP and HTTPS both without redirect"
**What question do you have?:**
I have a `httproxy` deployed in my k8s cluster which currently proxies request to a kubernetes service. This kubernetes service is an `ExternalName` type service and points to a loadbalancer in GCP.
it works fine when I hit the `https` endpoint of the `httpproxy` but gives a `405` when I do it with `http`.
My requirement is such that I need both `http` and `https` r

[2022-05-11 13:38] tsaarni commented on #4524
Hi @kartik-moolya, `tls.passthrough: true` is for passing TLS connections through without processing them at HTTP level, so I guess you want `false` there.  Did you already try to set `permitInsecure` field in routes https://projectcontour.io/docs/v1.21.0/config/api/#projectcontour.io/v1.Route?

[2022-05-11 13:54] kartik-moolya commented on #4524
Oh, that worked!
Thankyou so much, I had scanned through the docs but could not locate the `permitInsecure` field. May be I could not imagine the field name when I did a `Ctrl+F` 😅
thankyou so much for the quick help

[2022-05-11 13:54] #4524 closed

[2022-05-11 21:28] moderation opened #4525 "Performance: consider using Envoy's new RE2 engine for stats"
A new PR for Envoy just merged that provides better `/stats` performance - https://github.com/envoyproxy/envoy/pull/21058

In order for Contour stats to take advantage of this considerable performance boost, `/stats` would become `/stats?usedonly` and `/stats/prometheus` would become `/stats/prometheus?usedonly`

[2022-05-13 06:22] #4520 closed

[2022-05-13 09:03] yangyy93 opened #4527 "Add a switch option for httpproxy"
**Please describe the problem you have**
[A clear, concise, description of the problem you are facing. What is the _problem_ that feature X would solve for you?]
I want to prevent the configuration of httpproxy from being sent to envoy without changing httpproxy. Now I can only do it by deleting httpproxy. Is it a better way to add an online/offline switch to httpproxy？

[2022-05-13 16:30] sunjayBhatia commented on #4527
you could use the `ingressClassName` field (https://projectcontour.io/docs/v1.21.0/config/api/#projectcontour.io/v1.HTTPProxySpec) to filter out proxies you want to "switch off"

[2022-05-14 00:01] yangyy93 commented on #4527
Thanks for your answer, this does solve the problem

[2022-05-14 00:01] #4527 closed

[2022-05-16 22:10] stockymcstockface opened #4530 "Gateway API : authorization with HTTPRouteFilter"
Hi,
Is it possible to do authorization using ExtensionService with current implementation of Gateway API v1alpha2 ?
I have been reading this walkthrough https://projectcontour.io/guides/external-authorization/ and managed to have basic http authorization but I fail to achieve this using gateway.networking.k8s.io/v1alpha2 HTTPRoute resource and a filter with extensionRef, just like in the doc.
Will

[2022-05-17 00:41] vkarunx commented on #4291
It will be great if Contour's implementation of the Envoy control plane supported gRPC-JSON transcoding as a first class concern with the ability to upsert a dynamically generated envoy filter as easily as the patch operation in https://github.com/cashapp/transflect/blob/master/istio/envoy-filter.yaml#L24 highlighted below. Without this support, deploying a custom sidecar/gateway only for transcod

[2022-05-17 08:33] yangyy93 opened #4531 "HTTPProxy:outlier_detection"
**Please describe the problem you have**
Sometimes the health check is correct, but some instances cannot provide services normally. Envoy provides passive health checks to deal with this phenomenon.
How about adding [outlier_detection](https://www.envoyproxy.io/docs/envoy/v1.22.0/intro/arch_overview/upstream/outlier#arch-overview-outlier-detection) related configuration on httpproxy？

[2022-05-17 14:22] skriss opened #4533 "update to Kubernetes 1.24"
Time to update to Kubernetes 1.24:

- [ ] update E2E's to use Kubernetes 1.22..1.24 with kind 0.14 (https://github.com/kubernetes-sigs/kind/releases/tag/v0.14.0)
- [ ] compatibility matrix / versions.yaml
- [ ] client-go / apimachinery go modules

Anything else?

Previous Kubernetes minor version bump, for reference: https://github.com/projectcontour/contour/pull/4261

[2022-05-17 14:27] skriss commented on #3866
Removing this from the 1.22 milestone for now unless it becomes a conformance issue.

[2022-05-17 14:28] skriss commented on #4089
Removing from the 1.22 milestone, still open to a contributor picking this up though!

[2022-05-17 14:30] skriss commented on #4300
Leaving this in 1.22 since @mmalecki has been working on it (currently waiting on #4477 to merge).

[2022-05-17 14:30] skriss commented on #3608
This will probably become a conformance issue at some point, but for now, removing from the 1.22 milestone, still open to a contributor picking this up though!

[2022-05-17 15:53] Jean-Daniel commented on #4182
The mentioned link states that it should not by default, and must be documentent if it did support it.

AFAIK, HTTP/2 over clear text is not supported by any browser, and almost no HTTP/2 client library.

[code]

[2022-05-17 16:52] #4442 closed

[2022-05-17 20:37] skriss opened #4536 "E2E test flake in disable merge slash test"
https://github.com/projectcontour/contour/runs/6476253484?check_suite_focus=true#step:7:280

[2022-05-19 02:57] wuzhuoquan opened #4538 "deploy contour and envoy by apply yaml file but envoy not listening https port 8443"
**What question do you have?:**
I deploy contour and envoy by apply the yaml file: https://github.com/projectcontour/contour/blob/main/examples/render/contour-deployment.yaml

And I create a httpproxy resource,It works well on http port 8080

but i found that envoy pod not listening the https port 8443

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2022-05-19 05:38] tsaarni commented on #4538
Envoy should start listening `:8443` when there is valid TLS configuration. How does the `HTTPProxy` resource look like, have you set `HTTPProxy.spec.virtualhost.tls.secretName`?

[2022-05-19 05:45] jinnypark9393 opened #4539 "Server is still serving the expired TLS certificate periodically even after renewing the cert"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I'm using Contour HTTPproxy in Tanzu Kubernetes Grid.
Since current TLS certificate is about to expire(will be expired on May 31, 2022),
I created new secret with new TLS certificate(whill be expired on May 27, 2023) and updated tls.secretName with new one on HTTPProxy YAML as below(I changed some

[2022-05-19 06:06] wuzhuoquan commented on #4538
It‘s that mean I must create a ```HTTPProxy``` resource with ```valid TLS configuration```, or envoy will not start listening ```:8443```?
I didn't create tls HTTPProxy  with ```HTTPProxy.spec.virtualhost.tls.secretName```, but I create with ```HTTPProxy.spec.virtualhost.tls.passthrough```  like this：
[code]
but still, not listening ```:8443```

[2022-05-19 06:51] tsaarni commented on #4538
Ok in case of `passthrough` the `secretName` is not given, sorry for the confusion.

In `passthrough` case TLS is to be passed through the proxy to the upstream service without decrypting and Envoy cannot handle HTTP level `routes` since it does not process HTTP inside the TLS connection. Its unfortunate there wasn't error message telling this.  Try this instead

[code]

Port `8080` in `demoapi-v1

[2022-05-19 07:11] wuzhuoquan commented on #4538
Ok,thank you.
I will try again.

[2022-05-19 17:14] josh-ferrell commented on #3693
+1 for the use case that requires a global deny and then individual HTTPProxy allow list. I've achieved this with other ingress controllers by setting the allow list in the global config to only 127.0.0.1 and then have the allow list for each Ingress annotated appropriately.

[2022-05-19 17:33] skriss opened #4540 "consider changing the implementation of the Envoy readiness probe"
Currently, the Envoy readiness probe hits the `/ready` endpoint on the Envoy admin interface. (https://github.com/projectcontour/contour/blob/main/examples/contour/03-envoy.yaml#L82-L87)

https://github.com/envoyproxy/envoy/issues/16425 documents potential issues with using this endpoint for health-checking Envoy, due to its handler running on the main thread.

We should consider changing the impl

[2022-05-20 07:14] victorcq opened #4541 "Move upgrade path/recommendation to the top of release note"
As a Contour user, I'd prefer to have the upgrade path/recommendation at the top of each release note, so that it's more obvious.

For example, `v1.21.0` has the following requirements, but it's put under "Minor Changes" in the [release note](https://github.com/projectcontour/contour/releases/tag/v1.21.0)

[2022-05-20 14:38] tsaarni opened #4543 "Test failing with latest gateway-api conformance suite"
CI got broken after some of the [recent changes](https://github.com/kubernetes-sigs/gateway-api/pulls?q=is%3Apr+is%3Aclosed) in gateway-api conformance test suite. Following error now happens consistently e.g. https://github.com/projectcontour/contour/runs/6525677808?check_suite_focus=true#step:7:426

[code]

[2022-05-20 16:32] sunjayBhatia commented on #4539
From an off-Github conversation, we learned about this issue that you're getting one of your Envoy's rejecting a secret due to a private key parsing error, which could be very relevant here

It is a bit curious this is only happening to one Envoy instance

Has the issue resolved itself with other resource updates in your cluster?
Do you have multiple Contour instances in your deployment?
Any error

[2022-05-20 16:36] skriss commented on #4543
I'm taking a look at this, looks like a combo of a fun upstream change and something we now need to update in Contour:

- https://github.com/kubernetes-sigs/gateway-api/pull/1170 (conformance test bugs)
- https://github.com/kubernetes-sigs/gateway-api/pull/1151 (change to spec that we need to implement)

[2022-05-20 20:09] sunjayBhatia commented on #4539
we did just merge https://github.com/projectcontour/contour/pull/4544 which we found while looking into your issue, could be related, though it seems you do have a valid private key since at least some of the Envoy instances did not reject config updates

[2022-05-23 02:46] #4538 closed

[2022-05-23 04:13] sepaper commented on #3557
@skriss May I try this?
I have experienced implementing a envoy xds server and k8s CRD, so I think I could implement this feature.
I'm not sure how long it takes, but is it okay to finish this by 1.23.0?

[2022-05-23 15:10] skriss commented on #4533
Started working on this, looks like our usage of `kind load docker-image` will need to change.

[2022-05-23 19:51] skriss commented on #3557
@sepaper sure thing, I'll assign it to you. Happy to provide some more direction if you'd like, just let me know.

[2022-05-23 21:58] #4533 closed

[2022-05-23 23:26] #3284 closed

[2022-05-24 00:12] sunjayBhatia opened #4547 "Add Gatekeeper policy for limiting direct response policy body size"
**Please describe the problem you have**
Follow up to #4526, which added the direct response policy with a configurable body string. The field has no limit but a large body configured by an individual user could have significant performance impacts in a multitenant cluster, especially while Contour still uses SOTW xDS (Contour must send this direct response body on every xDS response). We should s

[2022-05-24 01:56] skriss commented on #4543
Upstream PR has been merged and we're back to green: https://github.com/projectcontour/contour/runs/6565697126?check_suite_focus=true

[2022-05-24 01:56] #4543 closed

[2022-05-24 17:20] #2515 closed

[2022-05-24 18:17] sepaper commented on #3557
@skriss Awesome, will do. Thanks! :)

[2022-05-25 20:20] #4422 closed

[2022-05-31 00:18] youngnick commented on #4541
I agree that anything that has hard requirements on this should actually be a major change so that it's at the top of the file. Thanks for calling it out @victorcq!

[2022-06-02 16:56] t0rr3sp3dr0 opened #4553 "CORS Access-Control-Allow-Private-Network"
## Feature Request
Add a new `allowPrivateNetwork` option to `corsPolicy` of `HTTPProxy` that will make Contour respond requests with the header `Access-Control-Allow-Private-Network: true` when the header `Access-Control-Request-Private-Network: true` is present on OPTIONS requests.

[code]

## Context

Source: https://developer.chrome.com/blog/private-network-access-preflight/

[2022-06-02 19:50] sunjayBhatia commented on #4553
If that is not sufficient we could implement this but would be blocked on native Envoy support

[2022-06-03 14:09] skriss opened #4554 "Gateway API: change wildcard hostnames to be suffix-matching, not single segment-matching"
Gateway API is changing the meaning of hostname wildcards to be prefix matching instead of single segment matching (ref. https://github.com/kubernetes-sigs/gateway-api/pull/1173#issuecomment-1145508508). Contour has already implemented them as single segment matches, so we'll need to update. This means we don't need to use the `:authority` header match trick that we use for `Ingress` anymore for G

[2022-06-03 14:11] skriss opened #4555 "Gateway API: ReferencePolicy -> ReferenceGrant rename"
Gateway API is renaming the `ReferencePolicy` resource to `ReferenceGrant`. We'll need to update Contour for this.

ref. https://github.com/kubernetes-sigs/gateway-api/pull/1179

[2022-06-04 09:51] sconsurveys12345 commented on #1269
Contour Survey Company In Marathahalli. The company produces from survey works and data, the contour maps of the site that show the terrain gradient of the site and show the heights and depressions and the level of their gradation, with any contour interval starting from 25 cm and extending to several meters according to the customer's request, and the contour map can be used with the aerial image

[2022-06-06 12:56] artiommocrenco opened #4556 "Unable to use contour for typical wildcard TLS setup: `IngressSpec.tls.secretName` seems to be required, proxy protocol support is not working"
**What steps did you take and what happened:**
Not willing to use contour CRDs.

Using the same `networking.k8s.io/v1` Ingress resources that worked with nginx-ingress. Expected them to work with contour.

I am testing out bitnami/contour chart with the following helm values:
[code]

where `wildcard-tls` secret is created by cert-manager for `*.example.com`

I have Ingress with similar IngressSpec

[2022-06-06 14:44] sunjayBhatia commented on #4556
Unfortunately we never prioritized/implemented fallback integration with Ingress: https://github.com/projectcontour/contour/issues/2453

if this is a critical feature for you, we can prioritize this or take a PR if you are willing to implement it!

[2022-06-06 20:18] #4554 closed

[2022-06-08 07:09] jinnypark9393 commented on #4539
This issue was resolved by restarting Envoy pods but not sure what causes it. (Left this comment for record-keeping)

[2022-06-08 14:59] skriss opened #4560 "update to Gateway API v0.5.0/v1beta1"
Once Gateway API v0.5.0 is released, Contour needs to be updated to use it, as well as the v1beta1 API.

ref. #4555

[2022-06-09 02:14] inductor opened #4564 "Add "append" to responseHeadersPolicy"
**Please describe the problem you have**

Hi! I'm trying to find out way to *append* params to a response header using Contour (Specifically adding Secure and SameSite param on Set-Cookies)

When I tried the following it didn't append but just set and actually override the param and my app's cookie has gone.

[code]

This type of change should be supported by Ingress layer.

[2022-06-09 07:02] cmoulliard opened #4565 "Envoy error: backtrace.h:104] Caught Segmentation fault, suspect faulting address 0x0"
**What steps did you take and what happened:**

The envoy proxy used by Contour is crashing and reports such errors
[code]
See gist: https://gist.github.com/cmoulliard/fc08d3194cec3375b29ce4ea3a19af7b
**Environment:**

- Contour version: 1.18.2
- Kubernetes version: (use `kubectl version`): 1.23.6
- Kubernetes installer & version: kubeadm and kubelet
- OS (e.g. from `/etc/os-release`): Fedora35

[2022-06-09 14:15] sejongk opened #4566 "Gateway API: support multiple RequestMirror filters per rule in HTTPRoute [extended]"
Currently, Contour only supports a single RequestMirror filter per rule in HTTPRoute (#4557).
As mentioned in https://github.com/projectcontour/contour/pull/4557#discussion_r892903763, we can improve this by supporting multiple RequestMirror filters per rule in HTTPRoute as follows:
If there is more than one RequestMirror filter, then each filter defines a backend to mirror traffic to.
Finally, Co

[2022-06-09 21:13] placydo commented on #4278
Hey, any update for this one? We are currently using ProjectContour with EAS (both working great - tbh far exceeding our expectations) - but cannot update EAS to newest version because of this.

[2022-06-09 21:59] sunjayBhatia commented on #4565
Have you attempted to decode the backtrace? There have been various fixes in the 1.19.x Envoy release line that may be at play here, would have to see the actual trace to be sure

[2022-06-09 22:02] sunjayBhatia commented on #4565
Also just to be sure, since this is Contour 1.18.2, did you take note of the release notes around the previous version: https://github.com/projectcontour/contour/releases/tag/v1.18.1

There were changes to how the example manifests set up Envoy pod volumes

[2022-06-10 05:48] youngnick commented on #4555
As of today, ReferencePolicy will be still included in v0.5.0, so it's not super urgent, but we should move before v0.6.0, when it will be removed (and most likely, moved to beta tbh).

[2022-06-10 17:41] sunjayBhatia commented on #4278
This is planned for the upcoming release, I’ll be picking this up soon 👍🏽

[2022-06-13 07:30] cmoulliard commented on #4565
No as I'm not a python/envoy expert ;-)

[2022-06-13 07:55] yangyy93 opened #4574 "Httpproxy routes to services in different namespaces"
**Please describe the problem you have**
[A clear, concise, description of the problem you are facing. What is the _problem_ that feature X would solve for you?]
In httpproxy, .spec.routes.service only contains the name of the service, and can only route to services in the same namespace as Httpproxy. How about adding a namespace option that allows specifying routes to services on other namespaces

[2022-06-13 21:04] sunjayBhatia commented on #4574
For at least part of what you want, you can use HTTPProxy inclusion: https://projectcontour.io/docs/v1.21.0/config/inclusion-delegation/#inclusion-across-namespaces

You may have a root HTTPProxy in one namespace and "include" one in another to route to service(s) in another namespace

We might be able to think of something creative that could work, but we don't yet support exactly what you descri

[2022-06-14 15:31] skriss opened #4579 "remove Contour E2E's that overlap with Gateway API conformance"
As upstream Gateway API conformance tests are built out, we can probably get rid of overlapping Contour E2E's that validate the same functionality. This will save some CI time and reduce maintenance burden. As a starting point, once we upgrade to Gateway API v0.5.0 and pin to the conformance tests included there, we should do an audit of Contour's E2E's and drop any redundant ones.

[2022-06-14 16:31] #3557 closed

[2022-06-16 15:35] skriss commented on #4555
Still to do: drop ReferencePolicy when we upgrade to v0.6.0.

[2022-06-16 17:49] #4513 closed

[2022-06-17 19:59] skriss commented on #4089
I'll work on this in the background and see if we can get it in for 1.22, main challenge is figuring out how to sort various routes that have combos of prefix, header and query param matches.

[2022-06-18 07:10] sepaper commented on #4566
Hi, @skriss. I'm tackling this improvement and having an issue with this.

Currently, multiple HTTPRouteFilters with the same type are not supported on the Core/Extended filters(ref. https://github.com/kubernetes-sigs/gateway-api/issues/598).
Therefore, it seems better to change the current `HTTPRequestMirrorFilter.backendRef` which type is `BackendObjectReference` into `HTTPRequestMirrorFilter.ba

[2022-06-21 16:43] skriss commented on #4566
Closing since per https://github.com/kubernetes-sigs/gateway-api/issues/598, the admission webhook does not allow multiple core filters of a given type per rule.

[2022-06-21 18:57] skriss commented on #4560
I'm discovering that updating to `v1beta1` types is problematic, specifically for HTTPRoute, because TLSRoute is not moving to beta, but we have a lot of code that's shared across those two types for hostnames, status, etc. Since v1alpha2 and v1beta1 are effectively identical for HTTPRoute (and both will be present), it may make sense to only update GatewayClass and Gateway to v1beta1 for now, and

[2022-06-21 22:22] sunjayBhatia commented on #4278
see https://github.com/projectcontour/contour/pull/4587 if you want to leave some feedback or try it out early 👍🏽

[2022-06-21 23:50] sepaper commented on #4566
@skriss Thanks for the comment!

[2022-06-22 05:37] youngnick commented on #4560
That makes sense for now, but we may have to make that shared logic a bit smarter - I suspect that it may be a while before we move TLSRoute to v1beta1.

[2022-06-22 20:08] skriss commented on #4560
Hey @carlisia!

We've updated Contour's `main` branch to use Gateway API v0.5.0-rc1, but that hasn't made it into any release and we'll update to v0.5.0 before our next release. Correct, we are still using the `v1alpha2` API version, even in `main`.

I think we'll _probably_ update Contour code to use `v1beta1` for GatewayClass, Gateway, and HTTPRoute before Contour's next release (although since

[2022-06-23 13:46] tsaarni opened #4590 "Implement revocation support for client certificate validation"
Implement optional CRL checking that can be used to deny downstream clients that present revoked certificates when client validation is enabled.

This is issue for implementing [design/downstream-crl-design.md](https://github.com/projectcontour/contour/blob/main/design/downstream-crl-design.md) which was kindly contributed by @artificial-aidan #4252.

[2022-06-23 14:28] skriss opened #4591 "Gateway API: ignore all but the first header match for a given header name"
See https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPHeaderMatch

Currently we're not doing this: https://github.com/projectcontour/contour/blob/main/internal/dag/gatewayapi_processor.go#L1230-L1249

[2022-06-23 18:02] #4089 closed

[2022-06-23 22:42] #4591 closed

[2022-06-24 01:10] #4278 closed

[2022-06-28 05:29] #4590 closed

[2022-06-28 19:46] skriss opened #4600 "Gateway API: set route status correctly when routes attach to specific listeners"
Right now, Contour assumes that a route's parent is a Gateway, and status is set as such. However, it's possible for routes to specify that they attach to specific listeners within a Gateway, and the status should reflect attachment to that specific listener.

https://github.com/kubernetes-sigs/gateway-api/pull/1237 implemented a verification of this in the upstream conformance tests and we are no

[2022-06-29 08:40] ppbaena commented on #4290
Any update here? Is this being planned for a relatively near release?

[2022-06-29 17:10] sunjayBhatia commented on #4290
we can add this to the 1.22 release, PRs welcome of course if we don't get to it!

[2022-06-29 19:34] sunjayBhatia commented on #4556
@artiommocrenco hey there, @tsaarni brought up an interesting point rereading the Ingress spec in [this comment](https://github.com/projectcontour/contour/pull/4595#issuecomment-1169730214)

[code]

However from your example it looks like you would rather expect to match the nginx behavior and have Contour/Envoy serve the fallback cert when an Ingress does not specify a TLS secret? Just wanted to

[2022-06-29 20:31] tsaarni commented on #4556
I searched some historical discussion from Kubernetes github about empty `secretName` and found these:
* Discussion about the use case for leaving `secretName` empty https://github.com/kubernetes/kubernetes/pull/23500#issuecomment-201688415 (went into Kubernetes v1.2.0)
* Terminology used in printout: "routes" vs "**terminates**" https://github.com/kubernetes/kubernetes/blob/b1e130fe83156783153538

[2022-06-29 22:48] sunjayBhatia commented on #4290
one clarification question to potential users: Which of these scenarios represent how you intend to configure your gPRC-web services?
- gRPC-web over HTTP to Envoy proxy, gRPC-web over HTTP/S to upstream service
  - with other services that require gRPC-web translation to gRPC
  - without other services that require gPRC-web translation to gRPC
- gRPC-web over HTTPS to Envoy proxy, gRPC-web over H

[2022-06-30 01:47] absoludity commented on #4290
This would be useful for dev environments without TLS ingress, but not essential.

This is the one that is essential for us - and would ensure that people can use Kubeapps securely with OIDC auth. (FWIW, we terminate TLS at ingress so incoming gRPCWeb requests continue to our frontend reverse proxy and on to the backend gRPC service which handles grpcWeb as well).

The choice of the above 2 doesn'

[2022-06-30 07:06] yangyy93 commented on #4574
I think it's a good feature to split traffic to multiple services in different namespaces, if no namespace is configured, the default route to the service in the namespace where httpproxy resides, if one is configured, traffic is allowed to be routed to a service in a different namespace. Of course, we can restrict the namespace of traffic routing to one of the namespaces configured in root-namesp

[2022-06-30 11:32] egerkke opened #4605 "Make configurable Envoy listener socketOptions to allow DSCP marking for QoS purposes"
Hi Ladies and Gents,

DSCP (differentiated services code point) is a mechanism used for classifying/prioritizing network traffic on IP networks [DSCP_wiki](https://en.wikipedia.org/wiki/Differentiated_services). Since Contour is used as O&M external interface provider for microservices at our customer, request arrived to support DSCP marking. Therefore all microservice O&M HTTP interface DSCP mark

[2022-07-01 15:41] rshiva777 opened #4606 "kubernetes dashboard access issue with tls certificate"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deployed kubernetes dashboard on cluster and able to access UI using httpproxy  with tls as passthrough: true.

$curl https://dashboard.test.internal.com -k
Copyright 2017 The Kubernetes Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in c

[2022-07-01 18:51] tsaarni commented on #4606
You mentioned that TLS passthrough works, so the upstream service (the dashboard) was terminating TLS. Could it be that error _"Client sent an HTTP request to an HTTPS server"_ is coming from the dashboard, which still expects to terminate TLS, but now receives cleartext HTTP since the termination happens at the proxy.

Do you still want to use TLS between the proxy and the dashboard? If yes, chec

[2022-07-02 15:33] rshiva777 commented on #4606
@tsaarni

Thanks for the inputs. After enabling the upstream annotation in the service file of dashboard i am able to access it on browser and shell

Solution:
I added the below annotation to the dashboard service file which solved the issue

    projectcontour.io/upstream-protocol.tls: "80"

[2022-07-02 16:12] tsaarni commented on #4606
@rshiva777 Thanks for the update, great news it now works!

Closing the issue.

[2022-07-02 16:12] #4606 closed

[2022-07-04 18:33] erwbgy opened #4608 "HTTPProxy Status incorrect"
**What steps did you take and what happened:**

Create an HTTPProxy, Secret, Service and Deployment - status of HTTPProxy is valid as expected.  A few days later delete the HTTPProxy, Secret, Service and Deployment, then only recreate the HTTPProxy, Service and Deployment - status of HTTPProxy goes to Valid which is NOT expected as the Secret object no longer exists.  It appears that the previous

[2022-07-04 19:37] erwbgy commented on #4608
An example (using Contour 1.21.0) where the Status says that the Secret does not exist but it does:

[code]
According to #3496 this can also be because the Secret is considered invalid but I don't see anything obviously wrong with it:

[code]
Contour logs:
[code]

[2022-07-04 20:12] tsaarni commented on #4608
Can you share `tls.crt` here as attachment? Somehow the validation fails on that since it prints `failed to locate certificate`.

[2022-07-04 21:27] erwbgy commented on #4608
I can't share that specific tls.crt but after restarting the Contour Deployment it validated fine.  The common Name and subjectAltNames were both set and the certificate was valid. Is there anything else that I need to look for?

[2022-07-05 05:15] tsaarni commented on #4608
I was searching cert-manager issues to find out if certificate could be missing during the certificate enrollment, but it seems now cert-manager should create the secret only after enrollment succeeds.

Just in case, I tested creating secret with empty `tls.crt` file, which results in `failed to locate certificate` as expected. Updating the certificate back to the secret did trigger the `HTTPProxy

[2022-07-07 04:22] youngnick commented on #4574
Yes, we built mechanisms in Gateway to handle exactly this situation (`allowedRoutes` in the Gateway itself, and `ReferenceGrant` for the Service backends).

At this point, I don't think we're likely to backport these features to HTTPProxy, I'd rather spend that effort to improve Gateway API support.

[2022-07-07 04:54] youngnick commented on #4608
tbh it sounds like we might have a problem with caches going stale somewhere. If this happens again, could you see if making some minor change to the Secret (like adding a dummy annotation) fixes it?

We made some changes a while ago to be more aggressive about dropping Secrets from the caches, this will help us see if there's a bug there. (Poking the Secret should generate a change event from the

[2022-07-07 05:00] youngnick commented on #4605
Contour currently configures two types of listeners, the basic HTTP one, that does routing based on HTTP header `Hostname`, and the HTTPS ones, that route based on the SNI of the TLS connection.

Just to be clear, you're looking for Envoy to set the TCP Socket options across *all* listeners, or do you want this configurable at the per-vhost level? Because of the above structure, we'd only be able

[2022-07-07 06:40] erwbgy commented on #4608
Thanks @youngnick, will do.

[2022-07-07 07:51] erwbgy commented on #4608
Key and certificate look okay:
[code]

[2022-07-07 10:52] erwbgy commented on #4608
Are we possibly being hit by [kubernetes #109115](https://github.com/kubernetes/kubernetes/issues/109115)?

If so, Contour v1.21.1 uses client-go 0.23.1 (16 Dec 2021) that does not include a fix for this (17 Jun 2022).  Looks like we'd need to update to 0.23.8 or 0.24.2 (main has 0.24.1).

[2022-07-08 05:39] erwbgy commented on #4608
Yes, we can certainly test with main.

Makes sense.

[2022-07-08 12:35] egerkke commented on #4605
Hi @youngnick !

Many thanks for your reply!

No. We are not interested in configuring the listeners of admin or metrics interfaces for instance. Just towards clients that send requests to microservices via Contour.

This "HTTPS" word confuses me a little. Pure HTTP listeners - belonging for vhost defined in HTTPProxy - cannot be updated with these socket options?

Yes

Good point and was studied

[2022-07-08 22:02] skriss commented on #4358
Just recording another idea I've had around this - you could actually define a GatewayClass parameter to indicate whether or not to merge Gateways of a given GatewayClass into a single set of infra. That way, folks who want to consolidate infra can specify that via their GatewayClass and get things merged, whereas folks who want dedicated infra per Gateway can do that as well. Might be a nice way

[2022-07-09 10:47] erwbgy commented on #4608
Yesterday I removed the Secret object referenced by an HTTPProxy and the status changed to invalid as expected:
[code]

Today I recreated the Secret object but that status has not updated:
[code]

We're also seeing status updates on newly created HTTPProxy objects taking a really long time - for example:
[code]

[2022-07-12 12:27] erwbgy commented on #4608
Some more data points:
* The expected status updates always occur when contour is restarted.
* The cluster having the issue has 1197 HTTPProxy objects.
* No difference after updating the cluster from Kubernetes 1.21.8 to 1.21.11.
* No difference using a self-signed certificate or a certificate with a CA chain.
* The issue where the Secret is created but the HTTPProxy does not get a status update a

[2022-07-13 13:24] skriss opened #4616 "run Gateway API conformance from our own Go test, using the GWAPI conformance module"
Currently we're running the Gateway API conformance tests by [cloning the Gateway API repo and running the tests from there](https://github.com/projectcontour/contour/blob/main/test/scripts/run-gateway-conformance.sh#L44-L48), however as I understand it the intended way of running them is to have our own Go test that mirrors the one [in the Gateway API repo](https://github.com/kubernetes-sigs/gate

[2022-07-13 19:11] sunjayBhatia commented on #4605
since this is a socket level option and not something that can be configured per filter chain/vhost, and we only have the two ingress listen sockets (one for HTTP and one for HTTPS+TLS passthrough), this is an all or nothing configuration per listen socket

[2022-07-13 19:13] #4560 closed

[2022-07-14 06:02] sconsurveys12345 commented on #1269
Contour Survey Company In Marathahalli. Contouring in surveying is the determination of elevation of various points on the land and fixing these points of same horizontal positions in the contour map. A contour map is very useful since it provide valuable information about the land. Contour survey is carried out at the starting of any engineering project such as a road, a railway, a canal, a dam,

[2022-07-14 07:28] erwbgy commented on #4608
Example of an HTTPProxy in a bad state that never recovers even if the HTTPProxy and Secret are deleted and recreated:
[code]

Then after restarting the contour Deployment the older HTTPProxy status updates okay:
[code]

[2022-07-15 00:17] youngnick commented on #4605
Oh, of course, thanks @sunjayBhatia.

I wasn't clear here. What I'm trying to get at is that we need to figure out where we will put this configuration, and since Contour has two listeners, HTTP and HTTPS, the config will most likely need to live in the configuration file or CRD.

The other thing to determine is whether we need to specify different DiffServ details for HTTP and HTTPS. It doesn't s

[2022-07-15 00:37] youngnick commented on #4556
One of the biggest problems with the Ingress spec has *always* been how under-specced it is, so I'm not surprised to find that this behavior is the same.

It seems like the issue for @artiommocrenco is that Contour doesn't work like ingress-nginx here, and that having it serve the fallback when the secret is missing is the request?

I think that, in the absence of a clear spec "Do what ingress-ngi

[2022-07-15 00:40] youngnick commented on #2506
Sorry about the delay @mghlaiel, if you could write something up, that would be great! One of us should be able to assist you with putting the guide into the correct place in your PR.

[2022-07-15 00:50] youngnick commented on #4608
It seems like there's something weird going on with Secret resources falling out of reconciliation and staying there. That's the only thing I can think of that would explain this. It's likely that the changes we made to more aggressively drop Secrets from the cache have something to do with it, but we'll need to review the code pretty closely in the absence of a reliable reproduction.

That's a lo

[2022-07-15 16:38] sunjayBhatia commented on #4556
yeah I agree with the above

- when you say fallback is enabled via annotation + cert configuration in contour, and no tls cert you get the fallback served for terminating tls
- when you say fallback is enabled via annotation + cert configuration in contour, and tls configured on the ingress, tls is configured for terminating most requests you get the fallback served for requests w/ no SNI
- anoth

[2022-07-15 18:39] sunjayBhatia commented on #4556
another option to the implementation in https://github.com/projectcontour/contour/pull/4595 would be to have the value in the annotation `projectcontour.io/enable-fallback-certificate` be a comma separated list of hostnames that the fallback would be applied to, to give some more granular control over things, rather than enabling fallback support on all hosts configured the Ingress resource

[2022-07-16 00:58] sbaildon commented on #4300
Asking for clarity; this the issue I should be tracking if I'm interested in watching for rewrite support in  [`HTTPRoute`](https://gateway-api.sigs.k8s.io/guides/http-redirect-rewrite/#rewrites)?

[2022-07-17 20:32] gary-tai commented on #3733
Hi everyone,
I've updated the file, removing Jekyll references and made it for Hugo.

https://github.com/projectcontour/contour/pull/4620

Thanks.

[2022-07-18 17:47] skriss commented on #4300
Yes, that's right. @mmalecki were you still interested in working on a PR for this?

[2022-07-18 21:16] sunjayBhatia opened #4624 "Add support for Envoy 1.23.0 access log operators"
**Please describe the problem you have**
See release notes: https://www.envoyproxy.io/docs/envoy/v1.23.0/version_history/v1.23/v1.23.0#new-features

In addition, we should do a little refactor to deduplicate access log validation logic between the config file and config crd code since it is copied in two places

[2022-07-19 20:18] sunjayBhatia commented on #4556
@artiommocrenco Hey there, have you had a chance to take a look at the discussion above and do you have any thoughts on how you expect things to work?

Contour's "fallback cert" was not intended to be a catchall/wildcard TLS cert the server presents in general to any request but rather specifically to cover the case of old TLS clients who misconfigure or don't include an SNI in the connection deta

[2022-07-19 20:19] sunjayBhatia commented on #2453
same boat as https://github.com/projectcontour/contour/issues/4556 moving out of a milestone until we get more info

[2022-07-19 20:51] #3733 closed

[2022-07-20 00:27] gary-tai commented on #4320
@skriss
Looks like the file to change is:
site>themes>contour>layouts>index.html
remove `<div class="bg-grey introduction">.... /div>`

will look like the attached screenshot:
![Contour landing page - no grey section](https://user-images.githubusercontent.com/85881851/179870039-e98441cd-172a-4701-8258-dea7c7564b55.png)

Let me know if that's what you had in mind.

[2022-07-20 11:08] rshiva777 opened #4628 "Path based routing is not working on contour"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deployed multiple nginx applications and tried to access it using httpproxy with path based routing

**What did you expect to happen:**
Path based routing should work

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

I tried to configure

[2022-07-20 14:11] skriss opened #4629 "Gateway API Listeners with protocol TLS should only support TLS passthrough"
ref. https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.ProtocolType
ref. https://gateway-api.sigs.k8s.io/guides/tls/#clientserver-and-tls

Listeners with a protocol of `TLS` accept TLS-encrypted TCP traffic (**not** assumed to be HTTP). Gateway API allows for TLS to either be passed through to the backend, or terminated at the proxy for this protocol. In the first

[2022-07-20 14:46] egerkke commented on #4605
Hi Gents,

Sorry for the late response, I was on short vacation. Many thanks for your replies!

I need to check if such use case cannot happen at our customer and will come back.

Yes

[2022-07-20 15:09] #4624 closed

[2022-07-20 20:18] sunjayBhatia commented on #4274
ah missed this one, not sure we need to block 1.22 on it since people have added the few ones they have needed so not a big signal we're desperately missing something

tbh we should/could do a pass through some of the previous Envoy releases and see what we may have missed exposing, esp. in the access log operator sphere

[2022-07-21 08:11] erwbgy commented on #4608
To try to rule out an issue like https://github.com/projectcontour/contour/pull/4266 I scaled down the number of contour replicas from our normal 3 to 1 and added --disable-leader-election command-line option.  But as usual HTTPProxy status updates were really slow and eventually calls to HTTPProxy FQDNs started failing with status updates not happening at all.

While looking through the debug log

[2022-07-21 14:07] #4629 closed

[2022-07-21 19:59] skriss opened #4634 "update release process documentation to account for RC's"
The release process documentation does not cover our current process of releasing an RC, and the fact that we do RC's has implications on how the GA release is done as well. We should update our documentation to cover our current process.

I'm happy to pick this up shortly.

[2022-07-22 08:04] m-yosefpor commented on #3693
@youngnick
Some other envoy based controllers such as emissary are using a semantic for it: https://www.getambassador.io/docs/edge-stack/latest/topics/running/ambassador/#ip-allow-and-deny

The keyword remote specifies that the match should happen using the IP address of the HTTP client, taking into account X-Forwarded-For and the PROXY protocol if they are allowed (if they are not allowed, or not

[2022-07-22 08:49] erwbgy commented on #4608
Fixing the annotations to stop the two ingress controllers fighting over the Ingress status fields resulting in lots of updates to the status update channel resolved the issue.

In summary, no problem with Contour.

[2022-07-22 08:49] #4608 closed

[2022-07-22 13:41] #4320 closed

[2022-07-25 00:23] youngnick commented on #4608
Wow, thanks for the update @erwbgy, that's really interesting. I have made a mental note to ask people to check the resourceVersion to see if it's changing rapidly in the future.

[2022-07-25 06:48] youngnick commented on #3693
Thanks for that @m-yosefpor, that semantic does sound useful.

I'll speak to @xaleeks about what the prioritization for this feature looks like.

[2022-07-25 06:52] youngnick commented on #4605
Thanks @egerkke, if you could just confirm that you don't need different DiffServ details between HTTP and HTTPS, we'll get this prioritized.

[2022-07-25 06:56] youngnick commented on #4628
Hi @rshiva777, did you check that your app is configured to accept requests at `/blog`? Contour does not strip the matched path, so the requests that arrive at the backend pods will be `http://nginx.test.com/blog/<path>`, not `http://nginx.test.com/<path>`.

If you are wanting the latter, you will probably need to configure path rewriting to remove the matched path, see https://projectcontour.io/d

[2022-07-25 09:03] fcalvet opened #4636 "Contour support for Envoy's JWT validation filter"
Envoy has a filter to perform client authorization through a JSON Web Token: [jwt_authn](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/jwt_authn_filter)

Support for this was previously asked for in https://github.com/projectcontour/contour/issues/748, implementation of Envoy's ext_authz filter [in Contour](https://projectcontour.io/docs/main/config/client-authorizati

[2022-07-25 10:30] izturn opened #4637 "Contour support for Envoy's stats per route"
**Please describe the problem you have**
     At https://github.com/envoyproxy/envoy/issues/3351 @stevesloka  advise envoy to expose metrics per vhost, now this feature has been released along with envoy v1.23 as [route-stat-prefix](https://www.envoyproxy.io/docs/envoy/v1.23.0/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-route-stat-prefix) (the pr is https://git

[2022-07-25 18:40] skriss commented on #1894
cc @sunjayBhatia, I'm thinking it'd be nice to have a sample gRPC client & server that folks could actually run as part of the guide -- could containerize the demo used in https://grpc.io/docs/languages/go/quickstart/.

[2022-07-25 18:51] sunjayBhatia commented on #1894
yeah thats what i was thinking as well, was seeing whether we should use an existing service like that or write our own fixture

also to accompany maybe some e2e tests to make sure we can show everything works

[2022-07-25 19:06] skriss commented on #1894
Big :+1:

[2022-07-26 10:43] lou-lan opened #4639 "Upgrade the prometheus and grafana samples to the latest version."
**What do you want the project to decide?**

The prometheus and grafana versions of the sample are older, and there are errors in the dashboard data of grafana.

Error items:
<img width="1972" alt="截屏2022-07-26 下午6 45 00" src="https://user-images.githubusercontent.com/13095837/180988219-7e4495e6-63ad-4724-ac09-cea1d87b6bac.png">

- [ ] Upgrade prometheus & grafana version
- [ ] Fix grafana dashboa

[2022-07-26 12:20] erwbgy commented on #4608
@youngnick The surprising thing here was that it was Ingress object updates that were causing the issue but it was HTTPProxy objects that were affected.  I spent a long time looking at the latter :-)

[2022-07-26 13:18] #4639 closed

[2022-07-26 17:38] #4616 closed

[2022-07-26 22:54] sunjayBhatia commented on #1894
so far for a test fixture/example I'm planning on starting a new repo and using goreleaser etc. to build it and containerize it

found a few samples that are useful *but* they're all missing something
- [examples in `grpc-go`](https://github.com/grpc/grpc-go/tree/master/examples) are great but not containerized as far as I can tell
  - would have to containerize a few different examples
  - one fo

[2022-07-27 03:38] youngnick commented on #4608
I think the cause here is that a lot of event churn, regardless of the source, can cause problems for Contour as it stands. It's definitely something that Envoy Gateway is keeping in mind as well.

[2022-07-27 03:39] youngnick commented on #1894
If yages hasn't been updated in a long time, that seems like a good fork candidate maybe? Building something yourself is also fine, I think.

[2022-07-27 07:55] rshiva777 opened #4641 "Envoy logs are missing from contour"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Deployed our applications and exposed using httpproxy and tried to access it using fqdn. I dont see any logs of envoy for the success or failure of the request

**What did you expect to happen:**
Envoy should show the logs for the accessing of application as below

[2022-07-27T07:32:05.745Z] "GET /

[2022-07-27 07:59] wilsonwu commented on #4637
Any plan for this feature support?

[2022-07-27 14:51] rshiva777 commented on #4628
@youngnick  Thanks for the inputs.
I am able to get succeed by adding the below ingress:

[code]

However if i deleted the httpproxy resource, still i am able to reach the service from fqdn. Not sure why this is happening.
Could you please update on this. Moreover i dont see any logs on envoy

[2022-07-27 15:35] skriss opened #4643 "consider opening HTTP/HTTPS listeners by default"
**Please describe the problem you have**
[A clear, concise, description of the problem you are facing. What is the _problem_ that feature X would solve for you?]

Currently, Contour does not open Envoy listeners until there is a vhost/route configured for the relevant protocol. This has caused some challenges with health-checking of LoadBalancers. The maintainers have discussed revisiting this dec

[2022-07-27 16:33] skriss commented on #4641
@rshiva777 Is DNS for your fqdn pointing to the Envoy LoadBalancer service's IP?

[2022-07-27 19:41] skriss opened #4647 "upgrade test flakes after releasing v1.22.0"
I've seen several (but not all) of the upgrade test runs fail after releasing v1.22.0. The failures can be seen at the top of https://github.com/projectcontour/contour/actions/workflows/prbuild.yaml. They all point to the code that waits for the Envoy DaemonSet to be out-of-date, and then updated. I'm wondering if the upgrade is a no-op so it never becomes out-of-date, though that doesn't explain

[2022-07-27 22:32] sunjayBhatia commented on #3044
we do support a list of different request attribute hash policies, you can hash a request on multiple attributes of a request.

we can open subsequent issues for new attributes to hash on that users want

[2022-07-27 22:32] #3044 closed

[2022-07-28 03:49] rshiva777 commented on #4641
@skriss  Yes, DNS is for FQDN is pointing to Envoy LB service IP.

We are not pointing FQDN to the Envoy loadbalancer directly, for external traffic we do NAT on Envoy LB service IP with our internal Loadbalancer IP for passing the traffic.

So requests will be passing via our internal LB -> Envoy LB -> Kubernetes Service

[2022-07-28 04:01] rshiva777 commented on #4628
I tried to clear browsing history, cache from browser, even though no lucky

[2022-07-28 06:58] rshiva777 commented on #4628
Adding test result:

1. i removed the entire deployment and httproxy of nginx, even then i am able to get nginx page with fqdn on browser
2. I have given same nginx fqdn to other application to verify if the nginx page with change to application page. Even then when i hit fqdn is showing nginx page

Not sure when the data is getting cached. It always  trying to point nginx web page, even the appli

[2022-07-28 07:18] tsaarni commented on #4628
Did you check with something that does not cache, curl for example? Can this be also related to #4641 where you mentioned that Envoy logs are missing? The logs would be missing if the request is somehow served by something else, such as cache.

[2022-07-28 14:20] rshiva777 commented on #4628
@tsaarni

1. I am able to get succeed by using curl with fqdn. It is hitting my application (curl is hitting the new application)

2, If i try it  access from browser, it is hitting to nginx service again. I tried clearing full broswing history/cache. even then facing same issue

Not showing any logs on the contour envoy. This fqdn is not used anywhere but it is resolving.

[2022-07-28 14:35] tsaarni commented on #4628
It is bit difficult for me to understand what is going on with the deployment, since it seems like something else serves the requests - if I understood you correctly, there is success responses even when the application is not deployed 🤔. In the description of this issue you gave some Envoy logs. Is it so that the requests get logged by Envoy when you had `HTTPProxy` instance created but when you

[2022-07-28 14:49] skriss commented on #4647
I'm taking a look at this, from my initial testing it looks like the DaemonSet fully updates during the time that the test is waiting for the Deployment to update, so by the time it gets to the "wait for DaemonSet to be out of date" check, it's too late since it's already updated. I'll see what changes we can make, perhaps we can just get rid of the "wait for DaemonSet to be out of date" check sin

[2022-07-28 16:36] sunjayBhatia commented on #4647
ah yeah the drain delay changed by default! was wondering why we didnt run into this earlier with these tests

[2022-07-28 18:06] #4647 closed

[2022-07-29 14:42] skriss opened #4650 "E2E test flake: Gateway API request mirror test"
We've seen the Gateway API request mirror test flaking recently. Here's one example:

https://github.com/projectcontour/contour/runs/7566077014?check_suite_focus=true#step:7:222

Ideally we can find and address the flake, but if not, we should add retries into the test definition to avoid having to re-run manually.

[2022-08-02 02:54] yangyy93 opened #4655 "Contour supports using different ports for service health check"
**Please describe the problem you have**
[A clear, concise, description of the problem you are facing. What is the _problem_ that feature X would solve for you?]
 I use httpproxy to route to port 8080 of a service, but my health check port is 8998. I checked the relevant documentation of envoy, envoy supports the use of a different port than upstream services for health check,https://www.envoyprox

[2022-08-02 14:46] #3182 closed

[2022-08-02 16:55] sunjayBhatia commented on #2863
I think this can be closed given the linked PR in net-contour was merged ^

[2022-08-02 16:55] #2863 closed

[2022-08-03 09:07] youngnick commented on #2971
Ambassador has added similar functionality with a neat design: https://www.getambassador.io/docs/edge-stack/latest/topics/running/ambassador/#ip-allow-and-deny

[2022-08-03 19:46] hasiotis opened #4657 "External Authorization and request headers"
**What question do you have?:**

We have been happily using contour with External Authorization. We are using our own authorization server. As the next step for our authorization server will need to set some company-specific headers (ex. x-company-role). We intend to sanitize any custom x-company-* headers when they reach the authorization server.

As an extra security measure, we tried to strip a

[2022-08-04 00:56] youngnick commented on #4042
Closing this one out. Please feel free to comment and reopen if this is still an issue.

[2022-08-04 00:56] #4042 closed

[2022-08-04 00:58] youngnick commented on #2443
This is no longer relevant now we're no longer pushing to Docker Hub.

[2022-08-04 00:58] #2443 closed

[2022-08-04 06:32] rshiva777 commented on #4628
@tsaarni sorry for the delay as i was on long leave. After a long gap, seems like its working fine, but i have'nt made any changes from my side.

I think it was due to cache or something like that, may be its cleared now and working as expected.

[2022-08-04 06:32] rshiva777 commented on #4641
Closing this issue as duplicate of https://github.com/projectcontour/contour/issues/4628

[2022-08-04 06:33] #4641 closed

[2022-08-04 17:55] sunjayBhatia commented on #4657
to clarify, we have a few hops here:
1. client request -> Envoy (which may have the `x-company-role` header)
2. Envoy auth request -> auth server
3. Auth server response -> Envoy (which tells Envoy to sets the `x-company-role` header)
4. Envoy proxying authenticated client request -> app (with headers removed as per listed policy)
5. app response -> Envoy
6. Envoy proxying response -> client

the

[2022-08-04 19:14] sunjayBhatia commented on #4655
Ah the configuration you point to is a per-endpoint health check configuration, which we don't yet support (we only set up the cluster level healthchecks and not per-endpoint overrides) but possibly could add this, with a few considerations:
- the healthcheck port should be exposed on the app service to ensure Envoy can reach it
  - this will have to be a check in the httpproxy processor, to make

[2022-08-04 19:14] sunjayBhatia commented on #4655
shouldn't be too involved of a change, we can provide guidance if you or other community members would like to contribute this!

[2022-08-04 21:36] sunjayBhatia commented on #4637
Seems reasonable to support with a few considerations:
- document which stats will be enabled (https://www.envoyproxy.io/docs/envoy/v1.23.0/configuration/http/http_filters/router_filter#config-http-filters-router-vcluster-stats)
- we should document the resource impact this will have to each instance of Envoy (from the Envoy docs `We do not recommend setting up a stat prefix for every application

[2022-08-04 21:52] sunjayBhatia commented on #2240
we've set the max regex program size warning level to 1000 and the error level to 2 ^ 20 (both of which will trigger stats to be incremented)

closing

[2022-08-04 21:52] #2240 closed

[2022-08-04 21:56] sunjayBhatia commented on #2523
this is out of date, the access log operators listed here are all supported

[2022-08-04 21:56] #2523 closed

[2022-08-04 22:03] sunjayBhatia commented on #2578
closing due to inactivity, please reopen a new issue with details if you still have issues with this

[2022-08-04 22:03] #2578 closed

[2022-08-04 22:13] sunjayBhatia commented on #2752
closing, we're already using the `strip_any_host_port` option

[2022-08-04 22:13] #2752 closed

[2022-08-04 22:20] sunjayBhatia commented on #3558
should be closable now we have the release note label pattern for all changes

[2022-08-04 22:20] #3558 closed

[2022-08-04 22:22] sunjayBhatia commented on #3552
should be closable now we have the release note label pattern for all changes and the release note tooling

[2022-08-04 22:22] #3552 closed

[2022-08-04 22:23] sunjayBhatia commented on #3463
closing due to inactivity, please reopen if you have more details and still need help!

[2022-08-04 22:23] #3463 closed

[2022-08-04 22:26] sunjayBhatia commented on #3432
closing in favor of #1894

[2022-08-04 22:26] #3432 closed

[2022-08-04 22:30] sunjayBhatia commented on #3165
closing, we've got the contour gateway provisioner and have slowed work on the operator

[2022-08-04 22:30] #3165 closed

[2022-08-04 22:33] sunjayBhatia commented on #3021
closing for now, I think we're happing with our existing linting

[2022-08-04 22:33] #3021 closed

[2022-08-04 22:41] sunjayBhatia commented on #2543
closing, I think we're too far along at this point to start this machinery, but can reopen if it comes up again

[2022-08-04 22:41] #2543 closed

[2022-08-05 08:07] hasiotis commented on #4657
Thanks for the clarification @sunjayBhatia, it does provide insight on how that translates to envoy flow.

[2022-08-05 10:34] yangyy93 commented on #4655
please assign it to me, i will do it well
@sunjayBhatia

[2022-08-10 16:48] joda01 opened #4665 "Does Gateway API supports HTTP2 / gRPC routing"
I'm using the gateway API of contour and want to route gRPC requests.
Does the HTTPRoute resource
[code]
supports routing of http2/grpc messages?

Further question:
Is it planned to support the resource
[code]
as described in https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.GRPCRoute

**Environment:**

- Contour version: 1.22.0
- Kubernetes version: v1.2

[2022-08-10 19:47] sunjayBhatia commented on #4665
I'm not quite sure on our plans around GRPCRoute since it is an "extended" support feature, however to enable HTTP/2 communication between Envoy and your backend gRPC service, you can set the annotation `projectcontour.io/upstream-protocol.h2` (or end with `h2c` if you are using plaintext) on the service associated with your app to the appropriate service port (see https://projectcontour.io/docs/v

[2022-08-10 19:49] sunjayBhatia commented on #4665
I'm working on a general guide to configuring contour ingress to gRPC apps, will include some detail on how it works right now for Gateway API

[2022-08-11 04:39] joda01 commented on #4665
@sunjayBhatia Thank you very much for your fast response! I'll give it a try.

Best Greetings

[2022-08-11 04:39] #4665 closed

[2022-08-11 23:41] sri-rajar opened #4666 "Need contour to support regex for CORS- alloworigin field"
Contour alloworigin field for CORS policy is not supporting pattern matching on domains (like *.vmware.com) .

Envoy has ability to provide regex  support https://www.envoyproxy.io/docs/envoy/latest/api-v3/type/matcher/v3/string.proto#envoy-v3-api-msg-type-matcher-v3-stringmatcher  with safe_regex  option

The ask is for contour to support regex pattern matching for the allowOrigin field in CORS p

[2022-08-12 06:53] joda01 opened #4667 "Custom envoy config to use ext_authz"
**What question do you have?:**

I'm using the contour implementation of the Kubernetes Gateway API since when using the contour HTTPProxy CRD I always have to modify the root HTTPProxy when adding a new ingress rule which is not possible in my application.

But I need an authentication Middleware as described in https://projectcontour.io/guides/external-authorization/.
I did not found a solution

[2022-08-13 01:11] izturn opened #4668 "gateway-provisioner: create manager fails when enabling leader election"
**What steps did you take and what happened:**
run contour gateway-provisioner in local dev like this:
[code]
will get the error:
[code]
this can be fixed by add a new flag: `--leader-election-namespace=xxx`

fix by #4669

**Environment:**

- Contour version: v1.22
- Kubernetes version: (use `kubectl version`): v1.23.1
- Kubernetes installer & version: kind: v0.14.0
- OS (e.g. from `/etc/os-releas

[2022-08-15 14:01] mmalecki commented on #4300
Apologies for letting this slip through the cracks. I'm still interested. I've rebased my old `urlrewrite` branch off `main` and intend to test this tonight. Hopefully the slashes won't be back!

[2022-08-15 14:50] skriss commented on #4300
No problem, thanks @mmalecki!

[2022-08-15 22:23] skriss commented on #4636
Tentatively adding to 1.23 milestone, at least for some PoC/design work.

[2022-08-15 22:23] skriss commented on #4666
Tentatively adding to 1.23 milestone.

[2022-08-16 16:54] pingsutw opened #4671 "Support using placeholders in rewrite-target"
Support using placeholder $2 in rewrite-target.

Refer to https://kubernetes.github.io/ingress-nginx/examples/rewrite/#rewrite-target
[code]

[2022-08-17 13:06] alokhom opened #4672 "Fluxcd CRD apply : var substitution failed for 'tlscertificatedelegations.projectcontour.io' YAMLToJSON: yaml: line 79: found unknown escape character"
facing issues with CRD tlscertificatedelegations.projectcontour.io
 YAMLToJSON: yaml: line 79: found unknown escape character

 file: https://github.com/projectcontour/contour/blob/main/examples/contour/01-crds.yaml

[2022-08-17 15:55] sunjayBhatia commented on #4672
can you provide exactly which version of contour is being installed here? line 79 of `main` is currently: https://github.com/projectcontour/contour/blob/87fc2ffba5b636e836f3c2cd04d57a767c244c32/examples/contour/01-crds.yaml#L79

we also have end to end tests ensuring at least `main` and the previous release YAMLs apply correctly

[2022-08-18 05:32] joda01 commented on #4667
Since I solved the problem another way. I'll close this

[2022-08-18 05:32] #4667 closed

[2022-08-18 06:02] izturn opened #4673 "crd/ContourDeployment: Add field for set '--ingress-class-name'"
**Please describe the problem you have**
 There is no way for setting the flag `--ingress-class-name`, when creating `contour` by `gateway-provisioner`, so we need to add a field to crd/ContourDeployment to fill the gap

fix by #4674

[2022-08-18 06:06] joda01 opened #4675 "Add Authentication using `ExtensionRef` to Gateway API"
As a user of contour I want to configure external authentication backend using `Gateway API` similar to the `HTTProxy API` as described in [external-authorization](https://projectcontour.io/guides/external-authorization/) .  As described in [Gateway API specification](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPRouteFilter) `extensionRef` filters should

[2022-08-18 06:08] joda01 commented on #4675
@scalpel4k and @ka0o0 FYI

[2022-08-18 06:42] #4673 closed

[2022-08-18 14:41] hobyte opened #4678 "Support gateway.networking.k8s.io"
As the `ingress` API in kubernetes is limited to only **http** and **https** traffic, **UDP** and **TCP** routing could only be routed with `CRDs` provided by the proxy. To make routing of **UDP** and **TCP** easier, kubernetes introduced the [`Gateway API`](https://kubernetes.io/blog/2021/04/22/evolving-kubernetes-networking-with-the-gateway-api/).

It would be nice, if contour supports this API,

[2022-08-19 00:42] boatmisser opened #4679 "Is is possible to "disable_on_etag_header: true" to envoy compressor extension"
Can I pass `disable_on_etag_header: true` to envoy; preferably by HTTPProxy route; but envoy as whole would be acceptable.
Searched docs from both contour and envoy and haven't had much luck.
Thanks

**Environment:**

- Contour version: v1.18.3
- Kubernetes version: (use `kubectl version`): v1.21.14-eks-18ef993

[2022-08-21 03:14] Ozarklake opened #4683 "Support OCSP Stapling"
**Please describe the problem you have**

OCSP checking is enabled by default on all iOS devices.  and if OCSP stapling is availabe.  the server will send the OCSP results directly to the client, avoiding the client to launch other queries to the CA institute. which will significantly reduce iOS client latency.

also see:

- [Online Certificate Status Protocol](https://en.wikipedia.org/wiki/Online

[2022-08-21 05:47] tsaarni commented on #4683
Hi @Ozarklake! Envoy provides means to configure OCSP response to return to the client that requests it, but it does not seem to request it from OCSP responder by making OCSP request. Would you consider the same scope adequate for Contour, that is, let administrator provision pre-fetched OCSP response together with the certificate chain?

[2022-08-21 14:30] Ozarklake commented on #4683
Hi. @tsaarni  considering that OSCP responses are usually short term, the best way is of course to do as nginx does. but I'm not sure how hard it is to push upstream changes

Another potential way to do this is to have Contour make an OCSP request and then load it into Envoy.  but that doesn't sounds intelligant, and I think the best way is push the upstream changes

[2022-08-21 15:50] tsaarni commented on #4683
Hi @Ozarklake,

I did a short search in Envoy issues, but so far I did not find ticket discussing the option of having Envoy execute the OCSP request to fetch the response for stapling.

NGINX seems to have implemented it by lua script ([link](https://github.com/kubernetes/ingress-nginx/blob/30809c066cd027079cbb32dccc8a101d6fbffdcb/rootfs/etc/nginx/lua/certificate.lua), depends on [openresty lua-r

[2022-08-22 00:59] Ozarklake commented on #4683
This feature is actually natively [supported](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_stapling) by Nginx, Nignx-ingress seems to be implemented in Lua to avoid triggering [reloads](https://github.com/kubernetes/ingress-nginx/pull/5133) which can be a performance burden for Nginx, but this is not a problem in Envoy

So it would be great if it could be implemented in Envoy, which

[2022-08-22 04:34] tsaarni commented on #4683
@Ozarklake

Yes, it will be lot more work and it requires someone to volunteer and implement the feature. But if the feature has not been asked yet, maybe you could create an issue for Envoy too? Would be interesting to hear opinions, especially since the developers already had created support for pre-fetched response.

[2022-08-22 07:32] Ozarklake commented on #4683
Sure. I'll do that.

[2022-08-22 14:38] sunjayBhatia commented on #4678
Contour does support v1beta1 of the Gateway API, see: https://projectcontour.io/guides/gateway-api/

Also note that Contour does not plan to support UDPRoute or TCPRoute at this time since we are focused on L7 capabilities

[2022-08-22 16:57] sunjayBhatia commented on #4675
@joda01 thank you for your interest in Contour and Gateway API!

I think this is an opportunity to go through the [design proposal process](https://github.com/projectcontour/community/blob/main/GOVERNANCE.md#proposal-process) if you are willing to contribute to this feature so we can get a chance to more formally discuss how we want to handle the Contour-specific filter extension implementation.

[2022-08-22 17:17] sunjayBhatia commented on #4675
xref: https://github.com/projectcontour/contour/issues/4530

[2022-08-22 17:17] sunjayBhatia commented on #4530
xref: https://github.com/projectcontour/contour/issues/4675

[2022-08-22 17:20] sunjayBhatia commented on #4530
Apologies @stockymcstockface for not getting back to you sooner

Hopefully yes, we're starting discussion on #4675 about how to implement the `extensionRef` mechanism to enable these sorts of features

I'm inclined to close this one out in favor of https://github.com/projectcontour/contour/issues/4675 since there is a little more content there

[2022-08-22 17:20] #4530 closed

[2022-08-22 17:55] sunjayBhatia commented on #4675
An important detail to also consider here is that configuration for the external auth server parameters is not currently configurable per-route, only the authorization context is, the auth server to use etc. is configurable per root HTTPProxy, which is a difference from how the Gateway API is structured

[2022-08-23 04:29] joda01 commented on #4675
@sunjayBhatia Thank's a lot for your response. I'm very interesting in contributing the contour and go through the design process for defining the `extensionRef` API. I'm not an expert in contour yet, just have added some peace of code :D but where I can help, I like to help and can share my ideas and helping with some lines of code. Looking forward to contributing!

[2022-08-23 13:31] Zsolt-LazarZsolt opened #4684 "Optional CRD-s"
Rationale: We are using Contour in a multi tenant environment, usually more than one Contour is installed on the same cluster, also different versions are in play.
To solve helm ownership issues on resources, we are handling the required CRD-s in it's own lifecycle as a separate helm package. For that reason we are trying to minimize the amount of CRD-s to take care of, only introduce them to the

[2022-08-24 10:19] aryan9600 opened #4685 "Contour v1.22.0 is broken on arm64 because of Envoy v1.23.0"
**What steps did you take and what happened:**

I ran `kubectl apply -f https://projectcontour.io/quickstart/contour.yaml`, on a kind arm64 cluster.

The envoy container kept crashing:
[code]

[code]

**What did you expect to happen:**
A working installation of contour (along with envoy) on my cluster

**Anything else you would like to add:**
This seems to be because of this: https://github.com/en

[2022-08-24 14:57] sunjayBhatia commented on #4685
Thanks for letting us know, we will cut a patch release when Envoy 1.23.1 is available

[2022-08-25 14:25] Zsolt-LazarZsolt opened #4687 "Gradual traffic increase for cold starting endpoints"
Some of our backends require a slow start mechanism for Java based new cold pods as they have a special compile on demand approach, where the required logic is compiled on first use.

For such backends increased connect timeouts and retry policies did not help.
It would be good to optionally use Envoy-s slow start mode for such nodes
more info about the feature:
https://www.envoyproxy.io/docs/envo

[2022-08-26 14:45] #4668 closed

[2022-08-28 06:32] tsaarni opened #4688 "Global connect-timeout is ignored when route's timeoutPolicy is not present"
As found by @ravilr

https://github.com/projectcontour/contour/blob/a6036886fb5eceebe9b4dd5a0aa4b16919f6eb12/internal/dag/policy.go#L427-L436

[2022-08-28 07:15] tsaarni opened #4689 "Running make checkall fails in generating Gateway API CRDs"
After #4686 merge `make checkall` fails

[code]

The reason is that `v0.5.1-0.20220822185609-d05e07b14156` is not a git tag.  It is `go.mod` pseudo-version.

This was worked around by #4686 by forcing version by setting environment variable prior to running `make`

https://github.com/projectcontour/contour/blob/a6036886fb5eceebe9b4dd5a0aa4b16919f6eb12/.github/workflows/prbuild.yaml#L71

so that `M

[2022-08-29 14:48] #4688 closed

[2022-08-29 15:54] #4685 closed

[2022-08-29 17:48] skriss opened #4696 "disable label/changelog CI check on branches"
The label/changelog CI check really only makes sense on PRs to the `main` branch, since that's where all of our changelogs go. We should disable it on PRs against non-main branches.

[2022-08-29 19:34] sidharthramesh commented on #2875
Thank you for this wonderful project! I am running [Contour with Knative](https://github.com/knative-sandbox/net-contour) and want to run a gRPC Authorization service (Open Policy Agent) as a Knative Service - so that it scales up and down with traffic.

Directly referencing the Service that Knative creates to the ExtensionService doesn't seem to work (since the domain names are probably used for

[2022-08-30 01:10] danehans opened #4697 "Incorrect Envoy Deployment and Service Labels"
Currently, the Envoy Deployment and Service use the labels as Envoy Gateway. This causes requests intended for Envoy to get kube-proxied between Envoy-gateway and envoy pods.

[2022-08-30 01:11] danehans commented on #4697
Created this issue in the wrong repo.

[2022-08-30 01:11] #4697 closed

[2022-08-30 15:19] skriss commented on #4689
Ah yeah, we're going to switch this back to a release tag as soon as Gateway API v0.5.1 is out, so maybe the best bet is to just live with it for now and take note for the future if we ever want/need to make a go mod change like this again.

[2022-08-30 21:34] boatmisser commented on #4679
thanks for the reply
we have a couple of issues; the first is Etag being stripped when envoy compresses the response.
The other is that we have a WAF outside of our cluster that performs some security checking on the response; this means that the WAF has to de-compress, process, then re-compress.
So this first issue could be worked around with using `disable_on_etag_header: true`; and this is the

[2022-09-01 14:05] t0rr3sp3dr0 commented on #4553
@sunjayBhatia, this issue has been resolved on the Envoy side. Can we remove the `blocked/needs-envoy` label?

[2022-09-01 14:55] skriss opened #4699 "opt into Gateway API method matching conformance test"
Now that https://github.com/kubernetes-sigs/gateway-api/pull/1296 has merged, Contour should opt into this conformance test by adding the [HTTPRouteMethodMatching](https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/utils/suite/suite.go#L53-L54) feature to its [list of supported features](https://github.com/projectcontour/contour/blob/main/test/conformance/gatewayapi/gateway_confo

[2022-09-01 15:02] sunjayBhatia commented on #4553
looks like [this change](https://github.com/envoyproxy/envoy/commit/bf61b077e77197a28fefa5798902fd94008e4137) hasn't made it into a release yet, so still blocked on that for a bit

[2022-09-01 19:59] sunjayBhatia commented on #4666
This looks doable, other than piping config through the only other significant piece of work is to ensure we properly validate regex patterns passed in by users and differentiate them from specific origins

since the `allowOrigin` field is a string slice, not a structured type, we have to be mindful of that, and *maybe* have to deprecate this field and introduce a more structured type for this fie

[2022-09-02 08:04] charandas commented on #4667
Curious @joda01 how you solved it. Could you please share; very interested in using contour but not sure how to incorporate native envoy filters such as the JWTFilter.

[2022-09-04 10:41] joda01 commented on #4667
@charandas I have posted an example and link to a prototype implementation here:
https://github.com/projectcontour/contour/issues/4675

Actually only ext_authz is supported by this example.

[2022-09-06 17:22] skriss commented on #4519
FYI there's a [PR up in Gateway API](https://github.com/kubernetes-sigs/gateway-api/pull/1377) to address this, so once it's released we should be able to fix this. I'll put this issue in the 1.23 milestone for tracking.

[2022-09-07 15:09] skriss commented on #4678
Closing this one out, feel free to reach out again if you have further questions.

[2022-09-07 15:09] #4678 closed

[2022-09-07 20:25] skriss opened #4704 "Add a page to the website documenting Contour's integrations with other tools"
It'd be great to have a page on the website documenting/linking to docs on Contour's integrations with various other tools. Some I know of off the top of my head:
- [Open Service Mesh](https://release-v1-2.docs.openservicemesh.io/docs/demos/ingress_contour/)
- [Linkerd](https://linkerd.io/2.12/tasks/using-ingress/#contour)
- [knative serving](https://knative.dev/docs/install/yaml-install/serving/i

[2022-09-08 16:42] skriss opened #4707 "E2E test flake: gRPC"
e.g. https://github.com/projectcontour/contour/runs/8254026285?check_suite_focus=true#step:7:251

TODO: try to de-flake, possibly add `FlakeAttempts(3)`

[2022-09-08 19:55] sunjayBhatia commented on #4707
Haven't been able to repro this one locally so added flake attempts

[2022-09-09 05:36] theVJagrawal commented on #3931
Can i work on this one?

[2022-09-09 14:16] skriss commented on #3931
@theVJagrawal that'd be great! Let us know if you need further direction.

[2022-09-09 15:15] sunjayBhatia commented on #4565
this script shows usage instructions: https://github.com/envoyproxy/envoy/blob/main/tools/stack_decode.py
you also need the version of the Envoy binary you are using with debug symbols included, which you can find from the Envoy release image on dockerhub `envoyproxy/envoy-debug:<TAG>`

the easiest way i find to do this sort of thing is to do this in a docker container w/ the script above, the deb

[2022-09-09 19:51] sunjayBhatia commented on #4666
@sri-rajar check out this draft pr: https://github.com/projectcontour/contour/pull/4710 for an early preview!

[2022-09-09 22:06] evan2645 commented on #4096
Sorry for digging up the stale issue, but it continues to pop up. Thought I'd drop a quick note here that SPIRE can be [configured to use a static SDS secret name](https://github.com/spiffe/spire/blob/main/doc/spire_agent.md#sds-configuration) (in fact, I believe it does this by default), which could then also be configured on Contour.

[2022-09-10 06:09] tsaarni commented on #4096
Is https://spiffe.io/docs/latest/microservices/envoy/ targeting the service mesh use case, where each service is co-located with their own "sidecar" instance of Envoy? Each service gets only single workload identity and therefore the local Envoy fetches just single SDS secret, served by the local SPIRE agent by the default SDS name `default_svid_name`. Is that how it is used?

How would that map t

[2022-09-11 09:55] giladk1221 opened #4714 "rewrite-target $1 - contour configuration"
Hi,
I'm using the Builtin NSX-T ingress controller for a long time.
I decided to implement contour Ingress instead.
in the Ingress Manifest, I added relevant annotation for rewrite-target - ingress.kubernetes.io/rewrite-target: /$1(like was configured in NSX-T manifest too).
It looks like this configuration didn't do anything with contour.

Is there any other method to implement rewrite-target to

[2022-09-12 13:57] sunjayBhatia commented on #4714
If you would like to use path rewriting in Contour, take a look at the HTTPProxy resource: https://projectcontour.io/docs/v1.22.1/config/request-rewriting/#path-rewriting

[2022-09-12 14:21] sunjayBhatia commented on #3530
obsolete since we are now using Envoy's "PathSeparatedPrefix" path matching: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routematch-path-separated-prefix

[2022-09-12 14:21] #3530 closed

[2022-09-12 14:59] skriss opened #4715 "Gateway API: fix route sorting"
Contour is currently failing the `main` conformance test defined for route sorting: https://github.com/kubernetes-sigs/gateway-api/pull/1370

(Note, there is an issue filed to ensure that the spec is unambiguous: https://github.com/kubernetes-sigs/gateway-api/issues/1381)

We need to track the outcome of this and ensure Contour implements the correct behavior.

Tentatively adding to 1.23 for track

[2022-09-12 15:49] tsaarni commented on #4687
xref #2296

[2022-09-12 17:08] sunjayBhatia opened #4716 "Overload manager max heap flag should be configurable in instances of Contour created by Gateway Provisioner"
We can do a follow up issue to add this new bootstrap flag to the dynamic gateway provisioning method of deploying Contour: https://github.com/projectcontour/contour/blob/main/apis/projectcontour/v1alpha1/contourdeployment.go

_Originally posted by @sunjayBhatia in https://github.com/projectcontour/contour/pull/4597#pullrequestreview-1104477661_

[2022-09-12 17:15] sunjayBhatia opened #4717 "Update defaults for guidelines on Configuring Envoy as an Edge Proxy"
Envoy provides documentation guidelines on [Configuring Envoy as an edge proxy](https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge#configuring-envoy-as-an-edge-proxy)

Contour has implemented some of these guidelines, but we should do another pass to make sure we have covered it all, for proxying TLS/TCP, HTTP/1.1, HTTP/2, etc.

There may be duplicates of this issue that

[2022-09-12 18:46] HummingMind opened #4718 "Does Contour Ingress work with k3s/k3d?"
Hello,
I can't seem to get Contour installed on a K3D cluster (1 master 3 workers).
I was able to get Emissary working, but I would prefer to use Contour if I can get it to work. Obviously, I skipped the Traefik deployment during k3d cluster creation.

No errors show up, but it seems to be stuck on this:

![image](https://user-images.githubusercontent.com/87399963/189731619-b50cb45c-33da-4e59-8f25

[2022-09-12 18:57] sunjayBhatia commented on #4718
Does inspecting the status of the Envoy daemonset offer any hints, e.g. output from `kubectl -n projectcontour describe daemonset/envoy`

[2022-09-12 19:06] HummingMind commented on #4718
Is there something specific there to look at?
In the events, I see three SuccessfulCreate events for the pods.

[2022-09-12 19:28] HummingMind commented on #4718
It actually seems to break the k3d cluster. :o
Restarting docker, you can see all of the k3d containers exited with code 255. And after starting them up again kubectl can't connect to the cluster anymore.

Has anyone from the team ever tested Contour with k3d clusters? I know KIND is supported, but k3d has quite a few more features that are advantageous.

[2022-09-12 19:48] sunjayBhatia commented on #4718
the pods are in the `Pending` state so they are either waiting to be scheduled or one for of their containers to initialize, do you see any more detail there? from your screenshot it looks like the envoy pods have not been assigned a node? also from a quick look, it seems traefik is automatically installed w/ k3d as an ingress controller, you may want to be sure there are no hostport or other conf

[2022-09-12 20:00] sunjayBhatia commented on #4718
a quick try with a vanilla seeming k3d cluster and I get the following:

[code]

[2022-09-12 20:04] sunjayBhatia commented on #4718
yeah looks like a conflict with the existing `traefik` daemonset

[2022-09-12 21:09] HummingMind commented on #4718
Did you make sure to skip the traefik deployment? If you are creating the cluster via the command line, you can do this:
k3d cluster create --server-arg "--no-deploy=traefik"

[2022-09-12 22:00] sunjayBhatia commented on #4718
ah, its not just disabling traefik but also the `svclb-envoy-*` daemonset that needs to be disabled to stop the port conflict

[2022-09-12 22:12] HummingMind commented on #4718
I think that is their virtual load balancer. It's part of the reason I picked k3d, so I don't have to mess with things like MetalLB. I can just map a port to their load balancer and I can access it on my machine via localhost using that load balancer. At least that's the idea.

Any idea why Contour has a conflict with it? It seems to work with Emissary, which is also Envoy based?

[2022-09-12 22:36] sunjayBhatia commented on #4718
nothing fundamental about Envoy, its how the daemonsets are configured, both have hostports configured for port 80 and 443, you can just remove the hostport configuration from Contours Envoy daemonset and everything should work, just tried it out

[2022-09-12 22:39] HummingMind commented on #4718
Awesome! I just have to figure out how to do that now. 😁
Do I have to do that through a HELM chart then?

Sorry, I am still rather new to Kubernetes. 😢

Thank you!

[2022-09-12 22:59] HummingMind commented on #4718
It would be nice if you guys could add a mention of k3d compatibility to your documentation for newbies like myself.
You can go ahead and close this issue.

Once again, thank you for figuring this out!
Have a great day!

[2022-09-12 22:59] #4718 closed

[2022-09-13 00:29] HummingMind commented on #4718
Just a final update:
for some reason removing the hostPorts via the envoy.useHostPort=false parameter would still have some of the pods in pending state. Setting the envoy.hostPorts.http and envoy.hostPorts.https parameters to something other than 80 and 443 seems to have worked. At least all the pods came up.

[2022-09-13 20:16] skriss opened #4721 "possibly simplify importing of Gateway API YAML"
Gateway API now publishes a single install YAML as part of their GitHub releases -- see e.g. https://github.com/kubernetes-sigs/gateway-api/releases/download/v0.5.0/experimental-install.yaml

This may make it possible for Contour to simplify its code for importing Gateway API YAML (https://github.com/projectcontour/contour/blob/main/Makefile#L236-L241 and various places that then pull the imported

[2022-09-13 22:19] #4519 closed

[2022-09-14 22:14] #4666 closed

[2022-09-15 00:49] sunjayBhatia opened #4724 "Tracking usability enhancements to ContourDeployment CRD"
To make the Contour Gateway Provisioner and ContourDeployment more useful, more fields are required to customize the resources it generates, particularly the Contour Deployment, Envoy DaemonSet/Deployment, and Envoy Service.

Let's use this issue to collect the work in progress and organize how we want to develop the API so we can make changes in a consistent way.

The existing API looks like (god

[2022-09-15 00:50] sunjayBhatia commented on #4724
Hey @izturn opened this to track the various PRs youve opened recently around the ContourDeployment CRD

[2022-09-16 09:28] vnline opened #4726 "How can I convert unit millisecond to seconds in access log"
I want to customize access log , convert %DURATION% and %RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)% millisecond unit to seconds unit. Is there anyway to do it ?

json-fields:
 - "request_time=%DURATION%"
 - "upstream_response_time=%RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)%"

Use seconds unit in access log

[2022-09-16 11:58] izturn commented on #4724
@sunjayBhatia , thx

[2022-09-16 14:26] sunjayBhatia commented on #4726
There are some guidelines on this page for converting an operator like `%DURATION%` to a different unit: https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#command-operators (see the section about customizing `%START_TIME%`)

I'm not entirely sure you can do the same with a value grabbed from a request/response header, but worth a try

[2022-09-16 17:04] #1794 closed

[2022-09-16 19:02] HummingMind opened #4727 "What is the current recommendation for deploying Contour to production?"
Hello,
It seems like the Contour Operator is in alpha/experimental stage. It also looks like there is a Gateway Provisioner available as well that is also in alpha.

I would like to handle the lifecycle of Contour (including upgrades), with more than just a manual yaml applies.

It's a bit unclear to me which is the preferred method of deploying/upgrading/managing Contour.

I understand k8s gatewa

[2022-09-17 02:13] vnline commented on #4726
I had try set like below,but report not support.
  - "request_time=%DURATION(%s.%6f)%"
  -
time="2022-09-17T02:11:16Z" level=error msg="Error adding/updating listener(s) ingress_http: Not supported field in StreamInfo: DURATION(%s.%6f)\n" code=13 connection=134 context=xds node_id=envoy-sc62c node_version=v1.19.1 response_nonce=1 version_info=2

[2022-09-17 12:50] kahirokunn opened #4728 "I have a question about contour + Gateway API"
**What question do you have?:**

https://projectcontour.io/guides/gateway-api/

I am working on this `Option #2: Dynamically provisioned` material.

The LoadBalancer Service is created when the Gateway is created.

Q1: Is there any way to give annotations when this LoadBalancer Service is created?
Example of annotations to be added: hogehoge

Q2: Is there any way to have Ingress with annotations c

[2022-09-19 02:16] kahirokunn opened #4730 "Please support Rate Limit in Gateway API"
https://github.com/projectcontour/contour/blob/08d87aefcdeba93665b04e8b6a893efc8d9d5671/design/gateway-apis-implementation.md

We will then work with the upstream community on features that Contour and HTTPProxy currently support, but the Gateway API do not, and how best to represent those features in the APIs.
There are some features that are currently gaps for Contour (wildcard domain names, and

[2022-09-19 07:44] izturn opened #4731 "Question about provisioner generate resources"
the `gatewayReconciler` only watches resources: `GatewayClass` & `Gateway`, the other resources such as `Deployment` and `Service`  is not watched, if they are deleted by manual, they will not be recreated again, it leads to the contour will not work, so do not watch them is a design decision, or a not finished work?

[2022-09-19 13:51] izturn opened #4732 "Add GatewayClass finalizer"
**Please describe the problem you have**
When a controller starts managing a Gateway, it is supposed to update its GatewayClass with a finalizer so that the GatewayClass cannot be deleted while there are still Gateways referring to it.

https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.GatewayClass

[2022-09-19 14:37] skriss commented on #4732
Thanks @izturn, looks like this is a dupe of #3866 but we can close the old one out and track here.

[2022-09-19 14:37] skriss commented on #3866
Closing, replaced by #4732.

[2022-09-19 14:37] #3866 closed

[2022-09-19 14:56] skriss commented on #4728
Yes, there is -- https://projectcontour.io/guides/gateway-api/#next-steps describes generally how to attach parameters to your `GatewayClass` to customize the Gateways that are provisioned. Specifically, in your `ContourDeployment`, you'd want to set `spec.envoy.networkPublishing.serviceAnnotations` (see [API documentation](https://projectcontour.io/docs/main/config/api/#projectcontour.io/v1alpha1

[2022-09-19 15:33] kahirokunn commented on #4728
That's just what I was looking for! Thank you!

[2022-09-19 17:19] HummingMind commented on #4727
Hello @skriss ! Thank you for the response.
I was going to use helm, but I ended up switching to ArgoCD, so I'll be using the regular yaml manifests. I do appreciate the feedback though! 🍻 👍🏻

[2022-09-19 17:19] #4727 closed

[2022-09-19 18:23] skriss commented on #4731
@izturn I think it's a little bit of both. The initial motivation for the Gateway provisioner was to be able to run & pass the Gateway API conformance tests, so we prioritized implementing the functionality needed for that, primarily around provisioning. However, the precise details of how Gateway infrastructure should be continuously reconciled is still an area to sort out (xref #4473). One compl

[2022-09-19 18:42] skriss opened #4733 "add upstream TLS validation to JWT verification JWKS cluster"
TLS validation fields & impl still need to be added, I was thinking I'd do that in a follow-up PR.

_Originally posted by @skriss in https://github.com/projectcontour/contour/pull/4723#discussion_r973093233_

[2022-09-19 18:46] skriss commented on #4724
@izturn does the current set of PRs that you have open cover all of the fields that you need added at this time, or are there more coming?

[2022-09-20 01:41] izturn commented on #4732
@skriss thx, I saw your comments for https://github.com/envoyproxy/gateway/pull/373, pls show me how to implement it for `contour`,  I like to implement it

[2022-09-20 01:44] izturn commented on #4724
yes, that's all I need added at this time

[2022-09-20 15:00] sunjayBhatia commented on #4730
Now that Gateway API has extension points as you mention, the next steps for features like this are to come up with a design for "*Policy" CRDs and/or HTTPRoute filter extension CRDs to provide the the relevant configuration options

Some design writeups are in the works and we would appreciate feedback and comments on them

[2022-09-20 18:37] skriss commented on #4724
No, I just meant it'd be helpful to write down the updated CRD spec with all the new fields, i.e. amending what @sunjayBhatia documented in https://github.com/projectcontour/contour/issues/4724#issue-1373751424, so we can look at it and make sure we're happy with the overall structure. In a comment on this issue is fine.

[2022-09-20 20:23] #1894 closed

[2022-09-20 20:24] skriss commented on #4555
Moving to 1.24 since it's unlikely we'll get Gateway API v0.6 into 1.23.

[2022-09-20 20:26] skriss commented on #4655
@yangyy93 are you still interested in working on this?

[2022-09-20 23:34] skriss opened #4736 "Pick up Envoy 1.24.0"
Envoy 1.24.0 is scheduled to be out in the first half of October. We should include it in the upcoming Contour 1.23 assuming it passes CI and there are no obvious compat issues in the changelog.

[2022-09-20 23:35] skriss opened #4737 "Pick up Gateway API v0.5.1"
Gateway API v0.5.1 should be out ~soon, as v0.6.0 is scheduled for the week before KubeCon. It has a few fixes that we would like to pick up. Assuming it's out in time, we should include it in the upcoming Contour 1.23.

[2022-09-20 23:37] skriss opened #4738 "Pick up Gateway API v0.6.0"
Contour 1.24 should pick up Gateway API v0.6.0.

Sub-tasks:
- [x] https://github.com/projectcontour/contour/issues/4555
- [x] Gateway Scheduled -> Accepted condition (https://github.com/kubernetes-sigs/gateway-api/pull/1447)
- [x] Listener Detached: true -> Accepted: false (Detached) (https://github.com/kubernetes-sigs/gateway-api/pull/1446)

[2022-09-20 23:39] skriss opened #4739 "Pick up Envoy 1.25.0"

[2022-09-21 01:17] kahirokunn commented on #4730
That's something to look forward to!

[2022-09-21 02:18] yangyy93 commented on #4655
Sorry, I have been busy with other things recently, I will continue to finish this isser recently

[2022-09-21 02:24] skriss commented on #4655
No problem, will leave it assigned to you for now!

[2022-09-21 09:46] izturn commented on #4724
ok, i will update at this issue

[2022-09-21 14:33] skriss opened #4740 "update to Kubernetes 1.25"
- Bump go module deps
- Update kind version / cluster versions used in E2E's and upgrade testing
- Update compat matrix

Previous Kubernetes 1.24 updates, for reference: https://github.com/projectcontour/contour/pull/4546/files

[2022-09-21 17:15] #4636 closed

[2022-09-21 23:45] skriss commented on #4731
Closing out this question, feel free to reopen or open other issues if needed.

[2022-09-21 23:45] #4731 closed

[2022-09-21 23:50] skriss commented on #4689
xref #4737

[2022-09-21 23:51] skriss commented on #4672
Closing this out as inactive, feel free to reach out again if needed.

[2022-09-21 23:51] #4672 closed

[2022-09-21 23:56] skriss commented on #4355
Closing this out as inactive, feel free to reopen/reach out again if needed.

[2022-09-21 23:56] #4355 closed

[2022-09-21 23:57] skriss commented on #4289
I'm going to call this done and close it out, any further improvements needed can be tracked in new issues.

[2022-09-21 23:57] #4289 closed

[2022-09-21 23:58] skriss commented on #4073
Closing this out as inactive, feel free to reopen/reach out again as needed.

[2022-09-21 23:58] #4073 closed

[2022-09-22 01:56] izturn commented on #4724
[code]

@skriss  PTAL

[2022-09-22 14:53] sunjayBhatia commented on #4707
nooooooooo :(

[2022-09-22 14:59] sunjayBhatia commented on #4707
submitted https://github.com/projectcontour/contour/pull/4743

[2022-09-22 20:56] skriss commented on #4715
@sunjayBhatia's PR to clarify this upstream has been merged: https://github.com/kubernetes-sigs/gateway-api/pull/1401

So looks like now we need to fix Contour to pass the conformance test!

[2022-09-23 02:38] izturn opened #4746 "Support scrape Contour/Envoy metrics by Prometheus Operator"
**Please describe the problem you have**
[code]

[code]

I'd like to implement this as follows:
1. add a flag to ContourDeployment:

2. if `EnableMetrics` equals to `false`, do nothing
3. otherwise, expose ports for services: contour/8000 & envoy/8002
4. `kubectl apply` `CR\ServiceMontior` by themself (optional)
5. that's all

@skriss @sunjayBhatia  any advise?

[2022-09-23 23:39] skriss opened #4750 "switch codecov uploader to the github action"
Looks like we're still using the codecov bash uploader, which seems to actually be dead now. We need to switch to the GitHub action:

https://github.com/codecov/codecov-action
Go example: https://github.com/codecov/example-go/blob/main/.github/workflows/ci.yml

[2022-09-26 17:20] sunjayBhatia commented on #1457
removing important-soon as this is an httplb issue, not httpproxy

[2022-09-26 19:36] sunjayBhatia commented on #3039
heyo @tsaarni are you still working on this by chance? just changing labels around and noticed you are assigned

[2022-09-27 02:37] charandas commented on #4675
@sunjayBhatia i am willing to spend some time on this too, if that helps absorb @joda01 ‘s effort into the mainline. Do you think it’s possible to make this a reality or are there impediments like this piece touching too many important parts, that only core contributors can take this up.

[2022-09-27 02:40] charandas commented on #4675
I am currently using Ambassador Edge Stack enterprise version but would much rather use Contour. Only thing missing for me is a standard way to enforce authorization using CRDs.

[2022-09-27 12:01] #2563 closed

[2022-09-27 14:43] skriss commented on #4732
There is currently some upstream discussion on whether this should be part of the Gateway API spec or not (https://github.com/kubernetes-sigs/gateway-api/issues/1411), let's hold off on doing anything until that is resolved.

[2022-09-27 20:29] sunjayBhatia commented on #4715
For context, this comment/function is useful: https://github.com/projectcontour/contour/blob/5af0a4263d73bd24bb2dabf163c7c0e39814de4a/internal/xdscache/v3/route.go#L136-L154

also route sorter: https://github.com/projectcontour/contour/blob/5af0a4263d73bd24bb2dabf163c7c0e39814de4a/internal/sorter/sorter.go#L147

route sorter helper for comparing header + query matches: https://github.com/projectco

[2022-09-27 20:31] sunjayBhatia commented on #4715
in the failing conformance test, we have two route matches that could apply to the request, both with the same path and number of header matches so the first one in the list should win

however, in contour currently the one with the header name that sorts first wins instead

[2022-09-27 20:38] sunjayBhatia commented on #4715
a couple ideas come to mind to fix this:
- add an option to dag.Route, used only in routes generated by HTTPRoute processing, to signify we will not sort on header name alphabetical order to retain passed in order
- just never sort routes based on header name alphabetical order, and retain the passed in order from the HTTPRoute/HTTPProxy etc.
- add an option to dag.Route that would add a priority

[2022-09-27 21:22] skriss commented on #4737
https://github.com/kubernetes-sigs/gateway-api/releases/tag/v0.5.1 is out!

[2022-09-27 22:14] sunjayBhatia commented on #4715
e.g. just commenting out these lines makes the conformance tests pass: https://github.com/projectcontour/contour/blob/5af0a4263d73bd24bb2dabf163c7c0e39814de4a/internal/sorter/sorter.go#L119-L129

[2022-09-27 22:37] #4737 closed

[2022-09-27 22:37] #4689 closed

[2022-09-27 22:52] skriss commented on #4715
Hmm yeah I'm dubious of the value of comparing headers alphabetically, hard to say that that's a logical way to order things (other than just making it deterministic), but you know if we change the default behavior we'll probably break someone.

Will think about the other options & can discuss some more tomorrow.

[2022-09-27 23:43] kahirokunn commented on #4728
@skriss Thx!
I have written the following ContourDeployment as you advised.

[code]

As a result, the following ClusterIPService was created.

[code]

envoy is placed on all nodes in Daemonset.
When `internalTrafficPolicy: Cluster` is set, north-south traffic occurs.
https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/2086-service-internal-traffic-policy/README.md

I think I ne

[2022-09-28 02:20] #4740 closed

[2022-09-28 11:28] #4564 closed

[2022-09-28 14:56] skriss commented on #4715
I think options 1 or 3 from your list above are reasonable. I think it's probably best not to change HTTPProxy sorting logic, at least for now, especially given that the order you specify routes in the CRD spec has never really mattered for HTTPProxy.

I did find https://github.com/projectcontour/contour/issues/1579#issuecomment-540856962 which indicates that the alpha sorting by header name is mo

[2022-09-28 16:35] sunjayBhatia commented on #4715
yeah, that makes a lot of sense, since the dag list of routes won't always be added to in the same order

since we store dag.Routes as a map ([and then iterate the map to retrieve them as a slice to sort them)](https://github.com/projectcontour/contour/blob/e6c8ad8e215d178aca1346437015849902006969/internal/dag/accessors.go#L278-L312), doing option 1 or 2 can produce instability in the sorted route

[2022-09-28 19:42] sunjayBhatia commented on #4579
unstaling, this seems worthwhile to do

[2022-09-28 19:43] sunjayBhatia commented on #4634
unstaling, assigned to a milestone

[2022-09-28 19:46] sunjayBhatia commented on #4650
unstaling since a CI flake that we need to keep track of

[2022-09-28 22:36] #4696 closed

[2022-09-29 00:43] sunjayBhatia commented on #4746
Are you using the prometheus operator @izturn? I don't think we've had any explicit comments about using it except for that comment from the original contour operator codebase

[2022-09-29 00:46] sunjayBhatia commented on #4746
I think with the naming here we would want to be explicit that we're setting it up for use by the prometheus operator
- maybe an explicit "PrometheusSettings" type with an option to use the traditional annotations method or the operator method

*or* give users the ability to do what they want to the various Service objects to ensure they get what they want without us having to worry about that ext

[2022-09-29 00:48] sunjayBhatia commented on #4540
unstaling, this one seems worthwhile to keep around to consider properly

[2022-09-29 00:52] sunjayBhatia commented on #4506
At this time I don't believe Contour maintainers have bandwidth to add *new* features for Ingress, we're mainly focused on HTTPProxy and Gateway API improvements, however contributions are always welcome and we can help move those forward!

[2022-09-29 02:05] izturn commented on #4732
got it

[2022-09-29 22:33] sunjayBhatia commented on #4579
some removals going in here: https://github.com/projectcontour/contour/pull/4765

[2022-09-29 23:13] nate-double-u opened #4766 "Netlify: select a new build image"
Notice from Netlify

As reported via deploy logs:

All Netlify builds using the Xenial build image will begin failing in the week of November 15th, 2022.

https://app.netlify.com/sites/etcd/settings/deploys#build-image-selection

[2022-09-30 03:32] izturn commented on #4746
yes, i like the `option 2`

[2022-09-30 20:53] #4715 closed

[2022-10-02 21:02] vrabbi commented on #4290
Any updates on when this will be implemented? Currently this is blocking us from switching to use contour in some of our environments.

[2022-10-03 15:06] sunjayBhatia commented on #4766
Thanks for letting us know @nate-double-u we will get that update soon!

[2022-10-03 15:09] skriss commented on #4579
Adding this to the current milestone for tracking, we'll likely carry it forward.

[2022-10-03 15:35] #4634 closed

[2022-10-03 16:33] pnbrown commented on #4766
Updated to Ubuntu Focal (20.04)

[2022-10-03 16:33] #4766 closed

[2022-10-03 20:43] vrabbi commented on #4290
Supporting only tls vhosts would be fine for our use case

[2022-10-03 20:55] sunjayBhatia opened #4771 "test/e2e/upgrade: Failing upgrade tests"
Recent failures of the e2e upgrade tests

Failures are in the uptime, less than 90% uptime during the upgrade

See examples:
- https://github.com/projectcontour/contour/actions/runs/3176941431/jobs/5176897679
- https://github.com/projectcontour/contour/actions/runs/3161373907/jobs/5146962389

[2022-10-03 20:57] sunjayBhatia commented on #4771
added to 1.23.0 milestone so we track this

[2022-10-03 21:38] sunjayBhatia commented on #4771
haven't been able to repro locally, but it is a little interesting that its only happened so far on the 1.25 k8s runs

[2022-10-03 22:46] skriss commented on #4728
@kahirokunn the Gateway provisioner does not currently support setting the Envoy service's `internalTrafficPolicy`. It's possible you could deploy a Gateway and then apply a patch to the Service afterwards to change that setting; I can't recall off the top of my header whether the Gateway provisioner would revert that change or not, you'd have to check. Otherwise, we can consider an enhancement fo

[2022-10-04 18:21] sunjayBhatia commented on #4771
haven't yet been able to repro in workflow runs in my fork either unfortunately

[2022-10-06 07:33] #2296 closed

[2022-10-06 07:33] #4687 closed

[2022-10-07 14:17] skriss opened #4778 "add support for "ALL" DNS lookup family"
Envoy's [DNS lookup family setting](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-enum-config-cluster-v3-cluster-dnslookupfamily) now supports an "ALL" option. When selected, both IPv4 and IPv6 addresses are returned by the DNS resolver (if they exist), and [Happy Eyeballs](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/co

[2022-10-07 15:14] skriss opened #4779 "Gateway API: use -supported-features flag to opt into extended conformance tests from main"
Gateway API recently merged support for a `-supported-features` flag for running the conformance tests (https://github.com/kubernetes-sigs/gateway-api/pull/1394).

This is useful to use, because currently, our nightly run of the `main` conformance tests is unable to opt into the desired extended conformance tests: https://github.com/projectcontour/contour/blob/main/test/scripts/run-gateway-conform

[2022-10-07 20:02] sunjayBhatia commented on #4771
tentatatively want to close this since we haven't seen it again, but will keep it around maybe until the next release

[2022-10-07 20:50] #4779 closed

[2022-10-07 21:44] skriss commented on #4699
We've added this for the nightly runs of `main` conformance tests, but still blocked on running it against PRs/push builds until the next Gateway API release is out.

[2022-10-08 03:18] wilsonwu commented on #4637
We are planning to do tests for this feature, update later.

[2022-10-11 06:00] izturn opened #4784 "Customize provisioner generates contour & envoy's image"
**Please describe the problem you have**
the `provisioner` generates  `gateways(contour & envoy)` that have the same images( passed by the provisioner's command line parameters) at the moment, how about customizing them per gateway?
if you all like this idea, I will make a PR.

[2022-10-11 14:01] skriss opened #4785 "update actions/checkout and actions/cache to v3"
In our latest daily CI run we got warnings for some of our GitHub actions: https://github.com/projectcontour/contour/actions/runs/3226663519 (see Annotations below the diagram)

The linked blog indicates we need to upgrade our actions to the latest versions. Specifically, it looks like we need to update `actions/checkout` and `actions/cache` to `v3`, across _all_ of our workflows in the `.github/w

[2022-10-11 20:41] skriss opened #4786 "add Gateway provisioner documentation"
We should add documentation that covers the Gateway provisioner and its functionality (i.e. what's exposed in the ContourDeployment CRD), in a style similar to https://projectcontour.io/docs/v1.22.1/config/fundamentals/ and the rest of the HTTPProxy documentation. Right now there's a guide that covers it but it's not versioned, not exhaustive, and not all that discoverable.

[2022-10-11 20:50] fMurugi commented on #4785
Hi I would like to work on this please assign me .Thank you.

[2022-10-12 17:57] #3826 closed

[2022-10-12 17:59] pnbrown commented on #3835
It would be good for us to tick off the boxes above that haven't yet been ticked as well as running another accessibility test on the site.

[2022-10-12 18:09] pnbrown commented on #3819
Can we incorporate the information from the word doc above (included below) into the Contour Landing page?

[code]

[2022-10-12 18:20] a-mccarthy commented on #2094
It looks like this is because the upgrade page is inheriting the page layout instead of the docs layout. For example, docs pages inherit the `docs` layout, https://raw.githubusercontent.com/projectcontour/contour/main/site/content/docs/main/_index.md but the upgrade page uses the `page` layout in the frontmatter, https://raw.githubusercontent.com/projectcontour/contour/main/site/content/resources/

[2022-10-12 18:20] pnbrown opened #4787 "Update the Community Page on the Website"
The [community page](https://projectcontour.io/community/) on the Contour site does not link to the [Google Group](https://groups.google.com/g/project-contour) that we are now using for the mailing list and still has the times for our Community Meetings which are currently paused. We need to update the links and copy.

[2022-10-12 18:40] Anuran12 commented on #4787
Hi @pnbrown  i would like to work on this.. please assign this to me

[2022-10-12 18:42] pnbrown commented on #4787
Sure. Please let me know if you need any help with this one. It'd be great to get this changed over soon.

[2022-10-12 18:53] pnbrown commented on #4787
In the column on the far right, there's a part that talks about joining the mailing list that currently links to a sunsetting group. We want to replace that link with the Google Groups one.

Further below in that column, we want to remove the meeting information and say that Contour Community Meetings and Office Hours are currently paused.

[2022-10-12 18:57] pnbrown commented on #4787
Of course! Thanks for picking this up and helping out.

The relevant file is here:
https://github.com/projectcontour/contour/blob/main/site/content/community/_index.html

[2022-10-13 00:08] skriss commented on #4736
https://github.com/projectcontour/contour/pull/4790

[2022-10-13 03:23] Anuran12 commented on #4787
hey @pnbrown
![image](https://user-images.githubusercontent.com/104062485/195491470-95e85c9e-74bf-499f-b384-d629b75aec83.png)

I have to change the both right ? for Australia time zones and Americas time zones

and replace of Every "Every first and third Tuesday at....." . I will write "Contour Community Meetings and Office Hours are currently paused."

[2022-10-13 03:24] pnbrown commented on #4787
That would be great. There's another reference in the leftmost column as well.

[2022-10-13 03:27] Anuran12 commented on #4787
![image](https://user-images.githubusercontent.com/104062485/195492216-b58d84fc-0813-4700-bd26-964204308768.png)

this one ?

[2022-10-13 03:32] pnbrown commented on #4787
Yes. It may or may not be helpful to put some language there and remove the link at the top that goes to an old Office Hours document. I'll have to take another look.

[2022-10-13 03:40] Anuran12 commented on #4787
![image](https://user-images.githubusercontent.com/104062485/195493776-10423e26-e26f-4303-ac49-e7bcd4132270.png)

looking good ?

[2022-10-13 03:46] pnbrown commented on #4787
I think that's a great start. Can we remove the link in the left column to the Contour Office Hours doc?

[2022-10-13 03:49] Anuran12 commented on #4787
which one ?

[2022-10-13 03:50] pnbrown commented on #4787
The link in Join the Contour Office Hours

[2022-10-13 03:52] Anuran12 commented on #4787
it's redirecting into the github's wiki section..

[2022-10-13 03:52] Anuran12 commented on #4787
I will remove the link only right ?

[2022-10-13 03:53] pnbrown commented on #4787
Yes.

[2022-10-13 03:56] Anuran12 commented on #4787
Ok done.. can I send the PR now ?

[2022-10-13 14:23] #4787 closed

[2022-10-13 14:37] Anuran12 commented on #4787
Hii... @pnbrown

Thank you for helping me. 🥰

I want to contribute more in this repository. But i don't know much about backend. But i have very good proficiency in frontend.  So if your website needs and frontend work please let me know or please create the issue i will check.

The current UI of the website is basic. So it will be great if you change something....

Thank you again 🥰

[2022-10-13 17:51] skriss opened #4793 "updates/deletes to unrelated Services trigger DAG rebuilds"
Spun out from https://github.com/projectcontour/contour/issues/4386, it looks like the same thing happens for Services since we are not calling `serviceTriggersRebuild` on removals (which happen for both updates and deletes).

[2022-10-13 17:52] skriss commented on #4793
Adding to 1.24 to be tackled along with the Secrets work.

[2022-10-13 18:34] skriss commented on #4579
Bumping to 1.24.0 for continued work.

[2022-10-14 03:03] moeyui1 opened #4794 "[Doc] The "goboring-version" in "FIPS 140-2 in Contour" doc is outdated."
**On Page:** [FIPS 140-2 in Contour](https://projectcontour.io/guides/fips/)

The specific paragraphs are as follows:

[code]

However, when I checked [the version list of goboring/golang on Docker hub](https://hub.docker.com/r/goboring/golang/tags), the latest version is [1.16.7b7](https://hub.docker.com/layers/goboring/golang/1.16.7b7/images/sha256-ad86974b2b260afa11293748b6c1e0fe0edbeb5874f8850

[2022-10-17 14:20] sunjayBhatia commented on #4794
thanks for the research and work @moeyui1 a PR would be very welcome!

[2022-10-17 14:21] sunjayBhatia commented on #4794
if you are able to work on this I can assign this issue to you for tracking 👍🏽

[2022-10-17 15:17] skriss commented on #4206
Throwing this into 1.24, nice small cleanup item.

[2022-10-17 22:11] skriss opened #4800 "Gateway API: don't trigger DAG rebuilds for irrelevant objects"
The logic for whether or not a given Gateway API resource triggers a DAG rebuild could use some improvement. Right now, for HTTPRoutes, TLSRoutes and ReferencePolicies/ReferenceGrants, we assume they always trigger a DAG rebuild: https://github.com/projectcontour/contour/blob/main/internal/dag/cache.go#L189-L200

For routes, we could look at their parentRefs and see whether they reference the Gate

[2022-10-18 05:35] moeyui1 commented on #4794
Sure. I will create a PR later.

[2022-10-18 08:28] izturn commented on #4724
@sunjayBhatia  pls add #4801 to the list

[2022-10-18 17:38] sunjayBhatia opened #4802 "Handle Envoy 1.24.0 deprecations"
See: https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.24/v1.24.0#deprecated

Assuming 1.24.0 will be picked up in Contour 1.23.0, we should make these changes in Contour 1.24.0 (to ensure a smooth upgrade), since they seem to include deprecations paired with additions to the now-preferred fields

[2022-10-18 19:52] tailrecur commented on #2296
@skriss If I understand the [Compatibility matrix](https://projectcontour.io/resources/compatibility-matrix/) correctly, this means that this change would get rolled in the next major release (1.23.0 ??) and the minimum supported K8s version for this release will be 1.23. Is this correct?

[2022-10-18 19:58] sunjayBhatia commented on #2296
yes that is correct

[2022-10-19 07:48] izturn commented on #4724
@sunjayBhatia  #4803 pls

[2022-10-19 15:29] skriss commented on #4785
@fMurugi just checking in to see if you are still working on this.

[2022-10-19 17:05] skriss commented on #4802
Should update the go-control-plane module dep as part of this.

[2022-10-19 17:23] #4736 closed

[2022-10-19 17:26] yoitsro commented on #399
Hey team. Any news on this?

[2022-10-19 17:32] skriss commented on #4771
I think we're good to close this out for now, have not seen any failures on CI in quite awhile.

[2022-10-19 17:32] #4771 closed

[2022-10-20 13:25] fMurugi commented on #4785
@skriss  yes i will be making a PR soon

[2022-10-20 15:25] skriss opened #4809 "upgrade tests getting wrong "from" version on release branch before release tag created"
https://github.com/projectcontour/contour/actions/runs/3290540851/jobs/5423694404#step:7:142

This is on a release branch, but before a tag has been created on that branch. It should be upgrading from the latest tag in this case (i.e. v1.22.1).

https://github.com/projectcontour/contour/blob/main/test/scripts/get-contour-upgrade-from-version.sh#L10-L12 is the code in question. Needs to handle both

[2022-10-20 19:16] YuxinZhou opened #4812 "Why Envoy container doesn't have a liveliness probe by default?"
**What question do you have?:**

I notice that the Envoy container doesn't have a liveliness probe by default:  https://projectcontour.io/quickstart/contour.yaml. I am curious if this is by intention.  Any concerns if I add that to our environment?

Asking because there is an occurrence when the envoy container is stuck and cannot recover by itself.  I need to manually kill the pod so that it can

[2022-10-21 14:49] skriss opened #4814 "update more github actions to address deprecations"
- [x] [actions/stale](https://github.com/projectcontour/contour/blob/main/.github/workflows/stale.yaml#L14)
- [x] [docker/setup-buildx-action](https://github.com/projectcontour/contour/blob/main/.github/workflows/prbuild.yaml#L88)
- [x] [docker/login-action](https://github.com/projectcontour/contour/blob/main/.github/workflows/build_main.yaml#L20)
- [x] [golangci-lint-action](https://github.com/pr

[2022-10-21 14:55] skriss commented on #4785
Started a new issue with additional Actions that need to be upgraded: https://github.com/projectcontour/contour/issues/4814

[2022-10-21 15:04] fMurugi commented on #4814
@skriss can i update this also?
And how do i know the versions to update to? Thank you.

[2022-10-21 15:08] #4785 closed

[2022-10-21 15:12] skriss commented on #4814
@fMurugi definitely, thanks!

If you find the GitHub repo for each action (e.g. https://github.com/docker/setup-buildx-action), we can use the newest major version for each. The README should have some examples that show which version to use (e.g. for the buildx action, it'd be `@v2`). Let me know if you need further info.

[2022-10-21 15:13] skriss commented on #4814
Also note to do a search across all of our workflows in `.github/workflows` for usages of the above actions, some may be used more than once in more than one file.

[2022-10-21 15:16] sunjayBhatia opened #4815 "Enable upstream cluster request/response size statistics"
**Please describe the problem you have**
Webservers may have different limits on header/body size.
For general troubleshooting of client requests and requests that settings in Contour cause Envoy to add to/modify (e.g. https://github.com/projectcontour/contour/pull/4797) the request headers/body, it is likely useful to be able to see the sizes of requests/responses coming to/from a cluster.

We ca

[2022-10-21 15:18] fMurugi commented on #4814
Okay thank you for the info.

[2022-10-21 15:22] #2885 closed

[2022-10-21 15:58] fMurugi commented on #4814
Am not finding the latest version of actions/stale
here is where am looking https://github.com/marketplace/actions/stale-for-actions

[2022-10-21 16:06] skriss commented on #4814
That one is actually https://github.com/actions/stale, looks like `@v6` is the latest

[2022-10-21 16:37] #2616 closed

[2022-10-21 16:37] #2908 closed

[2022-10-21 16:41] fMurugi commented on #4814
Saw it thanks

[2022-10-21 18:42] carlin-q-scott commented on #2664
I wonder Contour would consider copying what Istio.io did by providing an EnvoyFilter CRD that allows us to use any of the envoy http filters with the gateway proxy. Here's an example of using it with the oauth2 filter: https://szczeles.github.io/OAuth2-based-authentication-on-Istio-powered-Kubernetes-clusters/

Envoy Proxy is working on their own Gateway implementation with support for the OAuth2

[2022-10-22 19:52] manojnc opened #4817 "TLS handshake is failing immediately after client hello packet"
**What question do you have?:**
After upgrading the contour version to 1.22.1, TLS handshake is failing. Server sends a connection reset immediately after client hello packet is sent. I have verified that the envoy is listening on port 8443. Minimum protocol version has been set to 1.2. I enabled the debug logs but nothing related to TLS error is getting logged there. I have run out of new ideas t

[2022-10-23 08:24] tsaarni commented on #4817
Here are couple of things that can be checked:

Since you mention the problem appeared after upgrade, I assume you mean that exactly same configuration worked before upgrade?  Did you check the status of `HTTPProxy` resource (if that is what you use) to see it shows valid state? Is the configured virtualhost in `HTTPProxy` matching the requested hostname? In your example, you use host `cmy.host` i

[2022-10-23 17:40] manojnc commented on #4817
Thank you for your sharing these inputs @tsaarni
It was http proxy which was causing the issue. It was expecting the tls certificate to be present in the projectcontour namespace as well along with a copy in default. This is a change from previous versions I was using as we introduced fallback certificate for aws alb. But, thanks for your help here. Your comments made me focus on the  httpproxy.

[2022-10-23 17:40] #4817 closed

[2022-10-24 17:08] #4386 closed

[2022-10-24 17:10] #3180 closed

[2022-10-24 20:33] skriss opened #4819 "Gateway API: support ResponseHeaderModifier filter (extended/experimental)"
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRouteFilter

Should be fairly straight-forward since we already have support for this via HTTPProxy, and it's very similar to the RequestHeaderModifier logic.

[2022-10-24 21:42] #4206 closed

[2022-10-25 11:09] wilsonwu commented on #4637
Load test results come:

We did two rounds load test:
1. 10k routes without vhost metrics
2. 10k routes with vhost metrics

All tests env is 1 instance 4C4G envoy v1.23

Test results:
The 1st round:
Below image show envoy start CPU and memory: CPU 2%, memory 6% (almost 250m)
<img width="1032" alt="image" src="https://user-images.githubusercontent.com/1269496/197752257-1309f9f8-2772-4e57-b216-9add6

[2022-10-25 14:49] sunjayBhatia opened #4820 "Gateway API: Implement GRPCRoute"
**Please describe the problem you have**
[GRPCRoute](https://gateway-api.sigs.k8s.io/api-types/grpcroute/) is an experimental channel resource in Gateway API for: `specifying routing behavior of gRPC requests from a Gateway listener to an API object, i.e. Service.`

Given we've had a lot of requests for gRPC-backend app features etc. it would be nice to support gRPC in a more first-class manner wi

[2022-10-25 16:20] Vishal-Chdhry commented on #4793
Hi! @skriss I would love to contribute but I can't understand what I have to do can you please guide me a little

[2022-10-25 16:42] skriss commented on #4793
Hey @Vishal-Chdhry! Here's some more detail, let me know if you have further questions.

https://github.com/projectcontour/contour/pull/4792 did something similar, but for Secrets -- it's a good template to follow.

When we insert a Service into the DAG cache, we call `kc.serviceTriggersRebuild` to see if the DAG needs to be rebuilt (https://github.com/projectcontour/contour/blob/main/internal/dag

[2022-10-26 13:52] m-yosefpor commented on #2582
Is this planned for v1.24?

[2022-10-26 16:01] #4802 closed

[2022-10-26 18:27] sunjayBhatia commented on #4809
I think the main issue here is that there are some really old tags that are on `main` rather than a release branch and therefore on any newly created release branches, so https://github.com/projectcontour/contour/blob/cd9a770bc1aeab39d7e741c048dd77bed49b41e9/test/scripts/get-contour-upgrade-from-version.sh#L12 will find that (v1.2.0)

[2022-10-26 18:37] sunjayBhatia commented on #4809
actually It seems its only v1.2.0 which was improperly tagged on `main`

[2022-10-26 19:49] #4809 closed

[2022-10-27 02:18] sunnyverma88 opened #4825 "HttpProxy status is NotReconciled but Routes are active and working"
Log :  level=info msg="performing delayed update" context=contourEventHandler last_update=20.397055089s outstanding=1. Based on previous closed issue , I tried updating the ingress class to kubernetes.io/ingress.class but that didnt help.

[2022-10-27 08:10] davinkevin commented on #2431
This parameter is now globally available in kubernetes v1.20+, is this planned to be integrated into Contour?

Thank you 👍

[2022-10-27 15:33] sunnyverma88 commented on #4825
I followed the examples to deploy contour and envoy(as deployment) but I am running multiple contours in the same cluster and namespace to handle different routing use cases.  Last 12 hour logs only have these debug msg

`time="2022-10-27T13:42:03Z" level=debug msg="*v1.Service skipping update, only status has changed" context=contourEventHandler op=update
time="2022-10-27T12:59:41Z" level=debug m

[2022-10-27 15:52] Vishal-Chdhry commented on #4793
\assign

[2022-10-27 17:34] skriss commented on #4825
Ah, ok. There are a number of changes that need to be made to the example manifests to support running multiple instances, particularly within a single namespace, which unfortunately we don't have documented yet (ref. #855).

It sounds like, at a minimum, you may be running into an issue where both instances are using the same leader election lease. You need to provide the `--leader-election-resou

[2022-10-27 17:45] skriss commented on #4684
Hey @Zsolt-LazarZsolt, that's an interesting idea. I think it's a fair point that some (many?) folks may not be using `ExtensionService`, `ContourConfiguration`, and `ContourDeployment`, and also that they aren't required for Contour's core functionality to work. The main downside I see is that users wouldn't get immediate/obvious feedback if something is wrong with their installation and some of

[2022-10-27 18:21] sunnyverma88 commented on #4825
I am not using different names of the deployment but added a scope variable- app: contour ;scope: {{ $ingress.type }}. and specified the same in the service selector. Envoy is pointing to different ingresses. --xds-address=contour-{{ $ingress.type }}.  Does providing the scope name to the --leader-election-resource-name flag works ?? or I need to change my approach and change the name of the deplo

[2022-10-27 18:33] sunnyverma88 commented on #4825
It works !! I now see a LeaderElection event.

[2022-10-27 18:33] #4825 closed

[2022-10-27 18:50] tsaarni opened #4826 "(Re)consider the order of JWT verification vs external authorization filters"
When both JWT verification and external authorization are enabled on the same route, it seems that external authorization is executed before JWT verification https://github.com/projectcontour/contour/blob/01164fe9f75f471361de08cd758d5ea372ba6020/internal/xdscache/v3/listener.go#L438-L439

Maybe combining both was not explicitly considered during the introduction of the feature, but it could be use

[2022-10-28 16:18] #4655 closed

[2022-10-29 00:21] #4547 closed

[2022-10-30 00:28] #4539 closed

[2022-10-30 00:28] #4531 closed

[2022-10-30 00:28] #4525 closed

[2022-10-30 13:43] Vishal-Chdhry commented on #3931
Can I work on this?

[2022-10-30 13:47] Vishal-Chdhry commented on #4155
Hi @skriss! I would love to work on this.
Can you please help me understand what I have to do.

[2022-10-30 16:35] Vishal-Chdhry commented on #4778
\assign

[2022-10-31 00:28] #4498 closed

[2022-10-31 00:28] #4497 closed

[2022-10-31 14:20] sunjayBhatia commented on #4778
@Vishal-Chdhry hey there I can assign you if you would like to work on this, let us know if you have any questions about what to do here!

[2022-10-31 14:49] skriss commented on #3931
@theVJagrawal just checking in to see if you are still working on this.

[2022-10-31 15:51] sunjayBhatia commented on #4497
apologies for not answering earlier, but contour does not set up any difference in endpoint priority at the moment so the difference there should not matter

[2022-10-31 22:10] sunjayBhatia commented on #4820
Proposal to move this into 1.24 or next release milestone, Gateway API upstream wants to graduate this resource and need implementations to start using it!

[2022-10-31 23:11] sunjayBhatia commented on #4819
proposal to move this to 1.24.0 or another upcoming release, so Gateway API can get feedback on it + the conformance tests

[2022-11-01 00:30] #4457 closed

[2022-11-01 01:17] t0rr3sp3dr0 commented on #4553
@sunjayBhatia, now we can remove the `blocked/needs-envoy` tag. Envoy v1.24.0 was recently released with support to CORS PNA.

[2022-11-01 14:16] skriss commented on #4819
👍 from me, adding to the milestone.

[2022-11-01 17:38] sunjayBhatia commented on #4553
thanks for the update @t0rr3sp3dr0 !

[2022-11-01 20:49] skriss commented on #4826
Adding this to the 1.24 milestone -- we are also going to try to add support for the OAuth2 filter in this release so a good chance to revisit overall ordering / whether we need to give users control over order.

[2022-11-01 20:58] sunjayBhatia commented on #4826
started a GW API discussion on a similar topic: https://github.com/kubernetes-sigs/gateway-api/discussions/1498

[2022-11-02 00:26] #4541 closed

[2022-11-02 00:27] #4449 closed

[2022-11-02 13:52] Nefelim4ag commented on #2582
Looks like most of resources now are focused around gateway API.
And http3 mostly ignored because its a cool feature, but anyone can live & work without it for now.
(I'm personally of course want http3 just for fun and look around to the code to make it works, but without success)

On paper it is enough to just define http3 listener in contour, and use same configuration about upsteram clusters li

[2022-11-02 14:27] skriss commented on #4555
- [ ] drop ReferencePolicy support (#4830)
- [ ] update ReferenceGrant to v1beta1

[2022-11-02 14:27] Vishal-Chdhry commented on #4778
Thank you so much @sunjayBhatia! Yes, it would be really helpful if you could give me some guidance on the changes i need to make

[2022-11-02 14:44] skriss commented on #855
I'll try to get this documented soon, we're asked fairly regularly about this. Will cover deploying into separate namespaces (easier) and the same namespace (harder, but still possible).