[2019-10-18 15:58] stevesloka opened #1738 "docs: Fix TODO on Upstream TLS"
**What steps did you take and what happened:**

On the `Upstream TLS` section of the httpproxy docs there's a TODO which shouldn't have any blockers now (https://projectcontour.io/docs/1.0/httpproxy):

[code]

[2019-10-18 16:03] stevesloka opened #1739 "CRD Shortname for "tlscertificatedelegation"?"
When working with the `tlscertificatedelegation` crd we haven't defined a short name for it. This issue is to discuss if we'd like to add one so users don't have to type out: `t-l-s-c-e-r-t-i-f-i-c-a-t-e-d-e-l-e-g-a-t-i-o-n` each time.

Possible names:
- certs
- tlscerts
- certdel

[2019-10-20 09:06] systemlogic opened #1742 "gRPC example pod termination not working."
**What steps did you take and what happened:**

gRPC HTTP/2 example works just fine with heptio contour setup, however when I try to sue secure communication, it fails. I am getting
[code]
and service
[code]
and my gRPC is classical example from google gRPC and command to exercise
[code]
My cert in pod is
[code]
and pod hostname is
[code]

**What did you expect to happen:**

I am not sure if passt

[2019-10-20 16:11] #1742 closed

[2019-10-20 22:50] #1734 closed

[2019-10-21 00:07] youngnick commented on #1723
Sadly, #1731 didn't just magically fix this one, but I think that that's due to upstream things.

Specifically:
- [Pruning](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#preserving-unknown-fields) must be enabled. This is optional for CRD version `v1beta1` (what we're currently using). We can specify it, but not with the generator I added in #

[2019-10-21 00:22] #1415 closed

[2019-10-21 00:23] youngnick opened #1744 "Add TCP Keepalives to Envoy -> Contour xDS comms"
By default, Envoy will not tear down half open TCP connections for xDS, and will believe that it's connected.
See https://github.com/envoyproxy/envoy/issues/6323 and https://github.com/envoyproxy/envoy/issues/5173 for more background.

We should configure tcp keepalives for the Envoy -> Contour connection to ensure that half-open connections are flushed.

A sample config from envoyproxy#5173:
[cod

[2019-10-21 00:23] youngnick commented on #1375
Building a todo list for this one:

For the TCP keepalive settings, that is 100% worth doing, I've made separate issue (#1744)  for that one, as it might possibly be related to another issue.

TCP Proxies

- [ ] overload manager
- [ ] listener buffer limits to 32KiB
- [ ] cluster buffer limits to 32KiB

HTTP Proxies should additionally configure

- [ ] connection maanager use_remote_address to tru

[2019-10-21 00:26] #1738 closed

[2019-10-21 00:33] #1645 closed

[2019-10-21 00:55] jpeach commented on #1575
After @youngnick added the OpenAPI schema validation, the YAML above fails to apply, though the error message is quite opaque:

[code]

[2019-10-21 00:58] #1686 closed

[2019-10-21 01:05] davecheney commented on #1739
Yeah, it sure is a mouthful, `tlscerts` sounds like a decent abbreviation.

[2019-10-21 02:16] youngnick commented on #1385
Sorry, @davecheney, I missed your comment on here. The deployment has been changed back to rollingupdate for some time, so I'll leave this to be closed by #1745.

[2019-10-21 03:22] #1385 closed

[2019-10-21 03:22] #1425 closed

[2019-10-21 03:23] youngnick commented on #1570
I needed to do some work on it to get my cluster's cert-manager working again. I've got some notes, and will pick this one up once we've burned down the P1s a bit.

[2019-10-21 03:30] youngnick commented on #1375
Because two of the tasks are tracked in #1407 and #1408, I'll mark those changes as done here.

[2019-10-21 03:31] youngnick commented on #1407
In #1375, this is recommended to be 32k instead. Updating title accordingly.

[2019-10-21 03:32] youngnick commented on #1408
I've updated the title to reflect the recommendations from #1375.

[2019-10-21 04:40] davecheney commented on #1419
@jpeach thanks for working on #1415. Do you think there is anything more to do on this ticket for rc.2? If not, would you mind closing it or moving to the backlog if there is nothing pressing.

[2019-10-21 05:15] jpeach commented on #1419
@davecheney We chatted about this on slack. If we want to require that `HTTPProxy` validation uses only CA bundles from `projectcontour.io/ca-certificate` secrets, then we should do that now (preferably for rc2). I'm happy to backlog this, but if we do I don't think we can make the typed secret a requirement.

[2019-10-21 05:16] davecheney commented on #1419
Thanks for clarifying. Do you think you will have the bandwidth to tackle this for rc.2?

[2019-10-21 05:18] davecheney commented on #1719
@embano1 thank you for clarifying. I don't think we will be able to make prefix rewriting the default. The workaround is you will have to use the `prefixRewrite` stanza, or whatever replaces it in HTTPProxy on each route.

[2019-10-21 06:15] jpeach opened #1750 "Move some resources content into guides."
There are a number of pages located in the "resources" section that could arguably be better kept in the "guides" section. My thought is that resources is mainly for conference videos and the like, whereas "guides" is for showing users how to achieve some useful aim. With that in mind, I think we could relocate

- [x] "IngressRoute to HTTPProxy"
- [x] "Prometheus"
- [ ] "Troubleshooting"
- [ ] "Up

[2019-10-21 06:35] jpeach commented on #1419
Here's my proposal:

1. Retain existing semantics for `IngressRoute`
2. Add support for a new Secret of type `projectcontour.io/ca-certificate`. The semantics of this secret are that you can have any Data keys you like, but we will require all the values to contain one or more X509 certificates in PEM format (the PEM type must be "CERTIFICATE").
3. Add type tracking to the cache so that we can enf

[2019-10-21 09:08] embano1 commented on #1719
Thank you @davecheney for responding to this. I think it was good to discuss this publicly in case there are similar requests.

[2019-10-21 09:08] #1719 closed

[2019-10-21 09:37] davecheney commented on #1719
To be clear, I’m not saying we won’t add back prefix  rewrite, but what I am saying is we won’t make it opt out as that would require us to also add a mechanism to make prefix rewrite opt out _as well as_ add a replacement for prefix rewrite.

[2019-10-21 13:25] bgagnon commented on #1419
My only concern is that custom Secret types are not really an established practice in the K8S ecosystem. In fact, even the tls/non-tls dichotomy is mostly convention since ultimately, only the `data` keys matter.

Have you considered an approach using a label selector instead of a custom type?

* specify a CA secret label selector to Contour
* label secrets accordingly

This can also be extended t

[2019-10-21 13:34] stevesloka commented on #1419
I agree with @bgagnon that changing the type may not be the best solution.

I think the root issue is that changes to a secret cause a DAG rebuild right? Can we apply the same logic as we do with services but to secrets (regardless of the type).

If a secret is updated but not referenced in the DAG then skip rebuilding? This way we don't have to be too restrictive on the types the folks choose to

[2019-10-21 15:42] ledor473 opened #1751 "Bug in `contains` header condition"
**What steps did you take and what happened:**
I first started to test the new HTTPProxy CRD in the release 1.0.0 rc1 because I needed to route based on HTTP Headers.

I first started to test with [`httpproxy-multiple-headers.yaml`](https://github.com/projectcontour/contour/blob/master/site/_docs_1_0/httpproxy.md#multiple-routes) because it was close to what I wanted. It worked perfectly.

I proce

[2019-10-21 16:00] stevesloka commented on #1751
Hey @ledor473, could you provide a sample of the header condition you created to match the contains issue? I'd like to write a test around this with matching sample data.

[2019-10-21 16:10] bgagnon commented on #1744
@youngnick I was _just_ about to comment on #1523 to say we were successful in reproducing the issue by turning off our forced EDS updates for ~48 hours -- this caused 15 out of 16 envoys to stop receiving updates from Contour.

I immediately started looking into timeout issues and found out the bootstrap was missing this in 0.15. I was going to open the exact same merge request at #1746 next.

In

[2019-10-21 16:17] bgagnon commented on #1523
After waiting for several days with our monitoring in place, we noticed zero occurences of the problem. This got us to switch gears and consider the fact that we may be experiencing the observer effect -- forcing EDS changes _prevents_ the bug from happening.

So we tried something else: over the weekend, we turned off the forced EDS updates. This caused complete xDS silence for a prolonged period

[2019-10-21 16:20] bgagnon commented on #1744
@youngnick sorry for asking, but do you think there's a change this could be back-ported to the 0.15.x series? we'd like to test this important bug fix prior to our beta and 1.0 changes

[2019-10-21 19:15] stevesloka commented on #1751
I took another look into this and you're right, when I implemented this I overlooked escaping special characters in the regex.

[2019-10-21 20:29] ledor473 commented on #1751
I just realized that I might have been tricked by something else. Seems like I picked a different UUID from when I tested the `contains` vs the `exact` and that only my last route works and not the rest of them 🤔

I still feel there might be case where the regex will fail and it should be at least be documented but what I haven't found yet is why only my last route works, here's more details:

The

[2019-10-21 20:46] stevesloka commented on #1751
Thanks for the data @ledor473, I went ahead and made a PR to escape all chars in that string. For instance if you had periods, it would break the meaning.

[2019-10-21 20:50] bgagnon commented on #1523
I spent some time looking at the `netstat` information on each side (contour and envoy), and at this point it's pretty clear that 15 out of thr 16 TCP connections are half-closed. This explains with Envoy is not receiving any new XDS updates over gRPC.

Below is a recap of the investigation.

---

First, we locate the node where the Contour pod is running:

[code]

Then we SSH to the node (`runway

[2019-10-21 21:07] #1603 closed

[2019-10-21 23:02] youngnick opened #1754 "Backport TCP keepalives in contour bootstrap to 0.15.3"
This issue covers backporting the change in #1744 (PR #1746) to the release-0.15 branch and cutting a new release.

[2019-10-21 23:45] ledor473 commented on #1751
@stevesloka got any idea why I would only have a single route? Is a default route required?

I'll continue to dig but right now I'm out of ideas :(

[2019-10-21 23:59] jpeach commented on #1419
Discussed with @davecheney, and clarified that the spurious DAG rebuild is the primary problem that we are trying to address here. I think that we can improve that without introducing new incompatible requirements around the secrets type, so we should drop that proposal.

Moving this to the backlog.

[2019-10-22 02:17] youngnick opened #1756 "Add Keepalives to Contour's gRPC serving"
In addition to #1744, adding TCP keepalives to Envoy, we need to add some form of keepalive to the Contour -> Envoy communication, to detect dead connections and prune them.

Initial investigation:

It doesn't really seem a good idea to mess with the TCP keepalive settings on the server side, as that's a property of the connection, not of the server (it seems).

Looks like we can add gRPC keepaliv

[2019-10-22 03:06] davecheney commented on #1619
Moving to 1.0 final because of the circular dependency on a latest release version > 0.15.x

[2019-10-22 04:30] youngnick opened #1759 "Backport gRPC keepalives to 0.15.3"
Backport the gRPC keepalives changes in #1756 to the new release 0.15.3

[2019-10-22 04:31] youngnick commented on #1756
Closed by #1758

[2019-10-22 04:31] #1756 closed

[2019-10-22 04:35] davecheney commented on #1655
My proposal is to implement TCPProxy inclusion following the same mechanism as IngressRoute TCPProxy delegation. Specifically;

- There can be at most one TCPProxy defined per _root_ HTTPProxy.
- `spec.tcpproxy` can include an array of `services` or a `include` key, but not both.
- `spec.tcpproxy.include` is a simplified version of `spec.includes`, it does have a conditions key.
- Processing of th

[2019-10-22 04:37] youngnick commented on #1655
So, it has a conditions key, but setting it doesn't really do anything? Why have it at all?

[2019-10-22 04:40] davecheney commented on #1655
I've changed the tcp of spec.tcpproxy.include to be a new type which does not have any conditions. I think we can get away with this because the key, `include`, hasn't changed since rc.1 and the validations we added in #1731.

[2019-10-22 05:41] youngnick commented on #1754
Closed by #1760

[2019-10-22 05:41] #1754 closed

[2019-10-22 06:42] sudeeptoroy commented on #513
A wrong ingressroute or httpproxy configuration can pause further processing of ingressroute/httpproxy by contour controller.

Example:
[code]
Once you apply this config you would see contour logging error (reflector.go: 98).
no more ingressroutes will be processed.

recently the entire validation is removed from crd. A min validation is needed.
[code]

please prioritise this issue

[2019-10-22 06:50] davecheney commented on #513
@sudeeptoroy I'm sorry you got bitten by this. The good news is this is fixed in #1731 which will be available in Contour 1.0.0-rc.2 at the end of the week. I'm going to mark this issue as closed as I didn't realise this old issue was a duplicate.

[2019-10-22 06:50] #513 closed

[2019-10-22 09:36] youngnick commented on #1759
Closed by #1762

[2019-10-22 09:36] #1759 closed

[2019-10-22 14:24] #1751 closed

[2019-10-22 20:45] bgagnon commented on #1744
Should the `PermitWithoutStream` option be enabled as well? This is what we've put in place in our XDS proxy:

[code]

Given the design of XDS I guess we almost always have a stream open... so I am not sure about this.

[2019-10-22 20:49] davecheney commented on #1744
@bgagnon this probably won't hurt.

[2019-10-22 22:15] youngnick commented on #1744
@bgagnon thanks, I missed that. D'oh.

[2019-10-22 22:34] #1744 closed

[2019-10-22 23:16] #1709 closed

[2019-10-23 01:51] stevesloka opened #1769 "Status not updating due to openAPIV3Schema"
**What steps did you take and what happened:**
Since the change to automate the openAPIV3Schema validations on our CRDs, the status field is not getting updated properly in the api server.

I think this is due to the `subresources` field in the generator (https://github.com/projectcontour/contour/blob/master/examples/contour/01-crds.yaml#L460-L461):

[code]

By specifying this, it's introducing th

[2019-10-23 02:24] stevesloka opened #1770 "Duplicate prefix conditions included to separate proxies not enforced"
**What steps did you take and what happened:**
If I create a root proxy which delegates the same prefix to two different proxies in different namespaces, the root proxy is not set to error, but instead are `valid`.

This breaks the multi-team model since the same path is referenced in different namespaces.

[code]

![image](https://user-images.githubusercontent.com/1048184/67351093-9fc5b580-f51a-1

[2019-10-23 03:16] #1769 closed

[2019-10-23 04:27] youngnick opened #1773 "Release 0.15.3 tracking issue"
For making the release, there are the following things left to do:

- [x] Fix upgrade document on release-0.15
- [ ] backport upgrade document changes to master as well
- [x] update image versions in release-0.15
- [x] 0.15.3 release notes

[2019-10-23 04:40] davecheney opened #1775 "internal/dag: duplicate inclusion / delegation loop logic in builder.go"
There are four copies of the logic to detect inclusion / delegation loops. It should be factored out.

[2019-10-23 04:59] davecheney opened #1776 "internal/dag: httpproxy.spec.tcpproxy must have include or services[] set"
At the moment this fragment is accepted by internal/dag/builder
[code]
But it shouldn't be. tcpproxies with neither include or len(services) <1 should be invalid.

[2019-10-23 05:28] #1655 closed

[2019-10-23 05:48] davecheney opened #1777 "internal/dag: add explicit check that virtualhost.TCPProxy is never overwritten."
There should be compensating controls that ensure when a HTTPProxy TCPProxy is processed we never overwrite the TCPProxy value on the resulting securevirtualhost. But that's not stated explicitly, or tested, and it would be good to cover both of those cases.

[2019-10-23 18:56] stevesloka opened #1778 "internal/contour: metricRoots is unused"
**What steps did you take and what happened:**
Running a `make check` on master shows the following error:

[code]

[2019-10-23 19:02] stevesloka opened #1780 "Travis CI should run `make check` on each PR"
For some reason, the Travis CI runs for each PR don't fail on `make check`.

// Example #1778

[2019-10-23 20:20] davecheney commented on #1778
Yeah, this is kinda weird, its happened to me a few times recently but CI always passes.

[2019-10-23 20:21] davecheney commented on #1780
Did #1778 fail locally for you or in CI? The master branch looks like its building, https://travis-ci.org/projectcontour/contour/builds/601641154

[2019-10-23 20:26] stevesloka commented on #1780
1778 failed for me locally, but CI passed.

[2019-10-23 20:45] davecheney commented on #1780
I’ve seen the same thing locally and I thought it was related to running master not a released version of Go. I haven’t looked into why these, I’m assuming, false positives happen locally yet

[2019-10-23 22:00] #1778 closed

[2019-10-24 05:28] #1773 closed

[2019-10-24 05:50] davecheney opened #1789 "Remove IngressRoute support"
This is a tracking issue for the removal of IngressRoute support.

IngressRoute was deprecated with the release of Contour 1.0.0-beta.1. Our plan is to remove support for IngressRoute in Contour 1.1 or 1.2 once the following issues are resolved.

Blockers:

- [x] #899 Replacement for `prefixRewrite`
- [x] #1689 IngressRoute to HTTPProxy upgrade tool

Remaining:
- [x] Confirm we've got enough right

[2019-10-24 05:53] davecheney commented on #899
Sadly we didn't have time to design a replacement for prefixRewrite for Contour 1.0. I've moved this ticket to the backlog for prioritisation after Contour 1.0 ships. We understand that a lack of prefix rewrite support in HTTPProxy is a blocker for moving off IngressRoute -- its a blocker for us removing IngressRoute support -- and we plan to design a proper replacement, hopefully for Contour 1.1.

[2019-10-24 05:56] davecheney opened #1790 "site: Contour 1.0 release blog post"
We need a blog post for the Contour 1.0 release. It should highlight

- Major new implementations
- User impact of those changes
- Why do we consider this release to be 1.0 and stable? Something like “We’ve been working on this, it’s battle tested, we consider it stabled because of X, Y, and Z.”
- What will happen after 1.0? Detail the relaxed release schedule.
- Contributor shoutouts.

[2019-10-24 13:41] stevesloka commented on #1790
It would be neat to throw stats in there, like the release cadence, the rate of stars, commits, etc. Those are always interesting when looking back over the last two years of work.

[2019-10-24 15:33] stevesloka commented on #1280
In #1765 we added some logic to have the caches sync before starting the gRPC server, however, it's possible that the final DAG still isn't yet built. Leaving this as the open remaining task.

[2019-10-24 23:47] youngnick opened #1794 "Investigate enabling overload manager for Envoy"
As mentioned in #1375, Envoy has an overload manager that we should investigate.

It's pretty generic by design, but currently is effectively a memory (that is, heap size) manager. You can configure a maximum heap size, and then different actions to take at different percentages of that heap size.

Sample from the Envoy PR:
[code]

[2019-10-25 00:00] youngnick opened #1795 "Investigate setting default HTTP/2 options for upstream clusters"
In #1375, a PR to Envoy suggested setting HTTP/2 options as follows:

[code]
This ticket is to investigate setting these.

[2019-10-25 00:00] davecheney opened #1796 "Contour needs a contour-announce mailing list"
Contour needs a low traffic mailing list for people to subscribe to release notifications.

[2019-10-25 00:01] youngnick commented on #1375
Now that I've created all the sub-issues for each change, I'm going to assign this to the backlog so that we can still use it for tracking.

[2019-10-25 00:10] youngnick commented on #1408
From the Envoy documentation, this is a soft limit, not a hard limit, so we should be fine to set this to 32KiB.

[2019-10-25 00:13] davecheney commented on #1750
@jpeach what's left to do on this ticket?

[2019-10-25 00:15] davecheney commented on #1408
@youngnick agreed.

[2019-10-25 00:28] davecheney commented on #1794
@youngnick I've moved this to the backlog. I would prefer not to be doing any code changes apart from fixing exisiting bugs in the rc.2 - 1.0 time frame.

[2019-10-25 00:29] youngnick commented on #1794
no problem, I was going to ask you where you wanted it.

[2019-10-25 00:31] jpeach opened #1798 "bootstrap clusters should get default settings"
When we build a bootstrap cluster in `internal/envoy/bootstrap.go`, they have hard-coded Cluster settings that can go out of sync with the settings we use for service clusters. There's an argument that these have a different traffic profile and so they should be different, but a lot of the settings (e.g. lower the default buffer size) make sense here too.

[2019-10-25 00:33] jpeach commented on #1798
Ref #1375

[2019-10-25 00:51] jpeach commented on #1750
I updated the description to a checklist, and I'll keep it updated as I knock off the guides.

[2019-10-25 00:56] davecheney commented on #1750
@jpeach thank you!

[2019-10-25 01:53] youngnick commented on #1567
All of these features are not deliverable without adding extra information into the `status:` area.

For 1.0.0-rc.2, I'll remove the 'first route' column, since it does nothing on HTTPProxy anyway, then this will go back on the backlog, blocked behind figuring out what to do about status.

[2019-10-25 02:00] youngnick commented on #145
Next steps for this issue:

- Investigate using a Go program (or a Contour subcommand) for draining Envoy.
- Investigate manipulating LDS tables for draining too.

On to the backlog for now.

[2019-10-25 04:12] davecheney commented on #1407
Based on https://github.com/projectcontour/contour/pull/1797#pullrequestreview-306974148 there's a good change that this setting doesn't do what I thought it did. Moving to the backlog for more investigation.

[2019-10-25 04:13] davecheney commented on #1408
Based on https://github.com/projectcontour/contour/pull/1797#pullrequestreview-306974148 I think this setting doesn't do what I thought it did. Moving to the backlog for further investigation.

[2019-10-25 04:19] davecheney commented on #1750
@jpeach moving this to the 1.0.0 milestone so I can close rc.2 today. Please keep doing what you're doing, there's not need to get this into the rc.2 tag as the website is released from the `master` branch,

[2019-10-25 04:26] davecheney commented on #1457
Sadly we won't be delivering `prefix:` wildcard condition for Contour 1.0. The design is close from a user facing perspective, but there are some subtle implementation details that remain unanswered and we want to proceed carefully there in case we paint outselves into a corner.

I'm moving this ticket to the backlog as a placeholder for a epic ticket which will capture the business requirements f

[2019-10-25 14:37] bgagnon commented on #1523
We have tested v0.15.3 with the TCP and gRPC keepalive patches and they fix the issue.
This issue can be closed.

Thanks @youngnick , @ravilr and @davecheney!

[2019-10-25 18:06] chen-anders commented on #1228
In our case, we'd need support for something like `*.example.com `.

[2019-10-25 18:36] bgagnon commented on #1228
Is there a technical difference between this feature and having multiple HTTProxy/IngressRoutes with different fqdns and a delegation to a common one? Is it for cases where the fqdn values are numerous, or not registerable in the control plane?

[2019-10-25 18:48] chen-anders commented on #1228
One example use-case that I'm targeting here (that we currently use nginx-ingress for) is that we have 65,000+ customers that have some `<username-derived-subdomain>.example.com` as part of how one of our legacy main applications work. It would seem untenable to have to enumerate each one in the HTTProxy rules.

[2019-10-25 19:38] bgagnon commented on #1228
Thanks for clearing that up @chen-anders !

[2019-10-25 22:14] lrouquette opened #1809 "Dual newline character after TLS cert is considered invalid"
**What steps did you take and what happened:**
Upgrading Contour from `0.15.0` to `0.15.3` and see the following errors in the log:
[code]

The `ingress_https` listener is never configured in Envoy.

**What did you expect to happen:**
I expected the secret to be valid (as it was in `0.15.0`) and the https listener to be configured.

**Anything else you would like to add:**
The issue stems from the

[2019-10-27 03:27] stevesloka commented on #1770
Hey @davecheney, what do you think about adding logic here (https://github.com/projectcontour/contour/blob/master/internal/dag/builder.go#L506)to check for this condition? It would mean setting status here as well, so we'd need to add the name/namespace to the dag.Route.

The logic would check the final condition set to look for duplicates, setting error if found.

This specific type of error shou

[2019-10-27 21:00] davecheney commented on #1790
Thanks to @youngnick for starting the document, I'll take it over for a spell

[2019-10-27 21:35] jpeach commented on #1809
I will work on this today.

[2019-10-27 21:39] davecheney commented on #1528
@youngnick you raised this one a while back. Would you be able to look into it this week?

[2019-10-27 22:16] jpeach commented on #1809
envoy uses `PEM_X509_INFO_read_bio`, which calls [`PEM_read_bio`](https://www.openssl.org/docs/man1.1.0/man3/PEM_read_bio.html) in a loop. At the end of file, if there's no more PEM blocks, `PEM_read_bio` returns and error (with code PEM_R_NO_START_LINE), and [`pem.Decode`](https://godoc.org/encoding/pem#Decode) returns a  nil `Block` that is indistinguishable from an invalid PEM block.

[2019-10-28 00:42] #1809 closed

[2019-10-28 21:28] #1776 closed

[2019-10-28 21:43] SDBrett opened #1816 "Add project architecture documentation"
Version 1.0+ documentation lacks a clear architecture documentation describing high and low level architecture and interactions between services.

Raising as issue for visibility. Also, putting my hand up to work on it.

[2019-10-28 22:56] davecheney opened #1817 "Write release notes for 1.0"
Write up release notes summarising the changes since 0.15 including -beta.1, rc.1 and rc.2

[2019-10-28 23:13] youngnick commented on #1528
I think that, given we now have the example deployment using the tagged release version, from a saving-bandwidth perspective, it's better to have the ImagePullPolicy for Contour and Envoy pods be `IfNotPresent`.

There is a valid security concern in the more general case about people being able to use the cached version of an image when they are not allowed to pull it (for confidential images). Ho

[2019-10-28 23:14] youngnick commented on #1523
Fantastic to hear @bgagnon! Thanks again for all your assistance. Closing.

[2019-10-28 23:14] #1523 closed

[2019-10-29 00:40] youngnick commented on #1528
There was a slight complication to this one: this needs to only be done in the rendered yaml, as that's what we change for each release.

[2019-10-29 01:36] #1528 closed

[2019-10-29 02:11] SDBrett opened #1819 "projectcontour.io has a poor accessibility score"
An audit using Google Lighthouse has returns a poor score for the sites accessibility. Many of the failing items are quite basic, such as poor contrast ratios.

I've exported the report and uploaded the HTML to a gist https://gist.github.com/SDBrett/950a957e51c77025fcb475aea6d463fd#file-projectcontour-io-20191029t121902-html

[2019-10-29 03:47] jpeach opened #1821 "Apply standard application labels to Contour deployments"
When you are looking at Contour deployments in a Kubernetes cluster, it's not always obvious which release you have. When we generate the deployment YAML, we could apply standard [application labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels) such as `app.kubernetes.io/version` to make it more obvious.

As a bonus, Octant appears to use these labels fo

[2019-10-29 04:21] #1394 closed

[2019-10-29 10:52] jpeach opened #1822 "Document timeout string formats"
The fields in `TimeoutPolicy` are strings, but their format is not documented. We should reference some text about [ParseDuration](https://golang.org/pkg/time/#ParseDuration) and the "infinity" token in both the GoDoc and the HTTPProxy reference doc.

[2019-10-29 14:23] vongohren commented on #1140
Is this coming :D ?

[2019-10-29 16:17] stevesloka commented on #1570
Hey, @vongohren that error is that you're missing proper RBAC permissions for the TLSCertificateDelegation CRD that Contour creates.

Today, Cert-Manager works with Contour, but you need to use Ingress resources to handle the HTTP01 challenge.

[2019-10-29 20:37] #1739 closed

[2019-10-29 22:24] jpeach opened #1825 "Cross check Contour annotations"
When we validate incoming Kubernetes objects, we should cross-check annotations in the "projectcontour.io" and "contour.heptio.io" namespace to ensure that annotations are applied to the correct object kinds. We can also emit warnings (or errors) if we see unknown or deprected annotations.

[2019-10-29 22:29] jpeach opened #1826 "Emphasize which objects annotations apply to"
The annotations documentation tells you which object the annotation should be applied to in the section headings. However, when I was reading these docs, my eyes slid over that part and focused on the content.

We could emphasize the objects by adding an initial sentence to each section, like `the following annotations may be specified on "FooType" objects` ...

[2019-10-29 22:50] davecheney commented on #1826
Thanks for raising this. This has been a perennial problem and while I personally think these are annotations that belong on the service, the usability of this mechanism is sub optimal.

Rather than further wordsmithing the document I think finding a way to replicate this information on the httpproxy document is the better solution, I know @stevesloka has strong opinions on this.

[2019-10-29 22:52] jpeach commented on #1826
The annotations will still be with us for along time, so I think it's worth taking a few minutes to improve them.

[2019-10-29 22:54] youngnick commented on #1570
Sorry @vongohren about the delay, I've been working on a new tutorial. But in essence, the way to use cert-manager with IngressRoute (which is now deprecated) or HTTPProxy (the replacement) is to create a dummy Ingress resource that cert-manager can mutate to answer the HTTP01 challenge from Let's Encrypt. Just making sure that I have all my ducks in a row and my config will actually work when I d

[2019-10-29 22:56] SDBrett opened #1827 "Migration of projectcontour.io from Jekyll3 to Jekyll4"
# Upgrade to Jekyll 4 investigation

## Motivation

The projectcontour.io site is currently built using Jekyll 3.8.5 which is close to 12 months old and 2 releases behind current. Jekyll 4 improves build times and provides many bug fixes and new features.

## Testing

Testing has been performed on a local computer using the `site-devel` make target from contours makefile. The makefile was updated

[2019-10-30 02:49] SDBrett commented on #1826
I could try to make this clearer while working on the annotations page to move depreciated annotations further towards the bottom of the page.

[2019-10-30 02:52] stevesloka commented on #1826
I think this is also another place for status to come in. We could somehow label that we're sending "http" traffic to some service vs sending "h2c" traffic or something. Just talking off the top of my head, but some feedback to the user as to how Contour configured that route.

[2019-10-30 02:53] stevesloka commented on #1826
Seems lame, but could also have Contour look for these annotations on the Proxy document and throw a warning up saying they are invalid.

[2019-10-30 04:21] #946 closed

[2019-10-30 05:47] davecheney commented on #1790
I'm done. @stevesloka @jonasrosland over to you.

[2019-10-30 10:08] jpeach commented on #1826
On Oct 30, 2019, at 1:53 PM, Steve Sloka <notifications@github.com> wrote:

﻿

Seems lame, but could also have Contour look for these annotations on the Proxy document and throw a warning up saying they are invalid.

Yup I filed a separate issue to cross check annotations. It should be straightforward, but helps users get a correct config.

[2019-10-30 13:57] stevesloka opened #1834 "Check for Duplicate routes"
**What steps did you take and what happened:**
A user could create duplicate routes on a Proxy which could cause incorrect routing. Contour should warn the user that this has happened.

Example proxy:

[code]

[2019-10-30 14:27] stevesloka opened #1835 "Remove deprecated annotations from docs"
**What steps did you take and what happened:**
Looking at the annotations docs page (https://projectcontour.io/docs/1.0/annotations), we should remove the deprecated ones from the list or pull them out a different way, it's very difficult to read this page.

[2019-10-30 15:10] stevesloka commented on #1570
Hey, @vongohren there are some different issues related to your setup that need to be addressed. They are not connected to your primary task of deploying cert-manager:

1. The script you have to deploy Contour's CRDs is missing the spec for `TLSCertificateDelegation`: https://github.com/projectcontour/contour/blob/release-0.10/deployment/common/common.yaml#L151-L163
2. You're running `v0.10.0`, is

[2019-10-30 18:34] vongohren commented on #1570
I will upgrade yes, we are just using common config :)
So I will take these yamls: https://github.com/projectcontour/contour/tree/v0.15.3/examples/common
make them json and stick into my jsonnet. Then im 100% sure I have the newest version.
The only thing that is specific is that we are adding a loadbalancer IP, but i  guess that is doable in the end like this ```      "type": "LoadBalancer",

[2019-10-30 21:22] davecheney commented on #1570
@vongohren this issue will close very soon. So we don’t loose your question please raise a new issue, feel free to reference this one, but I don’t want to loose the thread of your problem once this issue closes.

[2019-10-30 21:27] vongohren commented on #1570
@davecheney sure thing!

[2019-10-30 21:28] davecheney commented on #1570
Thank you. We’re moving quickly to finalise the 1.0 release. I don’t want to loose your question.

[2019-10-30 21:32] vongohren opened #1836 "Working out a combination with Contour and cert-manager on kubernetes"
So the thread started here but the documentation will be closed soon: https://github.com/projectcontour/contour/issues/1570#issuecomment-547450927
So just to have a place for me to continue my talk, I will do it here. Maybe assist to some of the documentation if something strange happens

Just continuing the last reply I had there:

I will upgrade to the latest contour, because we are just using c

[2019-10-30 21:33] vongohren commented on #1570
@davecheney ☝️ referenced now :)

[2019-10-30 21:33] davecheney commented on #1835
This feels like a duplicate of #1826 — in spirit if not in form  would you mind closing one of the issues and making a call if we need to do this before or after 1.0. Thank you

[2019-10-30 21:54] davecheney commented on #1790
Draft finalised, closing.

[2019-10-30 21:54] #1790 closed

[2019-10-30 22:13] youngnick commented on #1836
Contour 0.15.3 should work with cert-manager, but as I said in the chat, currently cert-manager only knows how to solve Ingress objects for Let's Encrypt. So you will need to use an Ingress object to handle the HTTP01 challenge.

It is possible to use HTTPProxy or IngressRoute by using the same Secret for the certs in the HTTPProxy and Ingress. I'll explain more in the new documentation, but I nee

[2019-10-30 23:51] stevesloka opened #1837 "site: Getting-Started should link to AWS/GKE, etc providers"
**Please describe the problem you have**
We have the AWS specifics embedded in the "getting started guide", but there are other docs on how to enable AWS/GKE (and need more). We should link to those from getting started and remove the static refs: http://projectcontour.io/getting-started/

[2019-10-31 02:05] jpeach commented on #1750
Removed the milestone since this is not needed for the 1.0 release.

[2019-10-31 14:58] vongohren commented on #1836
Ok I got this to work quite fine with this way.
Just first install cert-manager like this, according to their doc: https://docs.cert-manager.io/en/latest/getting-started/install/kubernetes.html

[code]

Since I was using jsonnet for templating I converted this yaml to JSON https://github.com/projectcontour/contour/blob/v0.15.3/examples/render/deployment-rbac.yaml

The since we were using specific

[2019-10-31 16:05] vongohren commented on #1836
Btw, your documentation is using this url
```kubectl apply -f https://j.hept.io/contour-deployment-rbac```
This leads to a 404, so maybe do something about it :)

[2019-10-31 21:32] #1604 closed

[2019-11-01 02:07] #1619 closed

[2019-11-01 02:10] #1817 closed

[2019-11-01 03:54] davecheney opened #1844 "Build and tag release action does not tag latest"
Now that we're fully cut over to GitHub Actions for image building and the docker hub for storage we should fix the build action so it tags latest.

[2019-11-01 22:19] nwohlgemuth commented on #579
Is there any plan to make this setting configurable?

[2019-11-01 23:32] davecheney commented on #579
@nwohlgemuth we don’t tend to track closed issues. Would you be so kind as to open a new feature request.

[2019-11-02 19:37] nwohlgemuth opened #1846 "Provide configuration option for envoy panic threshold"
Currently, contour simply sets the panic threshold to 0 which means that if all frontend pods report as unhealthy, incoming traffic will fail with a 503. For my use case of contour, this is undesirable. Keeping the default panic threshold at 0 and providing a override option would enable my use case and any other user of contour who does not want to return 503's in a panic scenario.

See related i

[2019-11-04 19:53] stevesloka opened #1850 "Update FAQ.md"
**What steps did you take and what happened:**
Need to update [FAQ.md](https://github.com/projectcontour/contour/blob/master/FAQ.md) for `HTTPProxy` as well as move it to the project site.

[2019-11-04 19:56] stevesloka commented on #1846
Hey @nwohlgemuth would you want to set a default for ALL clusters or be able to configure per cluster?

[2019-11-04 21:29] stevesloka opened #1852 "Discuss site image for building"
**Please describe the problem you have**
Working on the projectcontour.io site (aka Jekyll), there is a makefile task to automate the site, however, each run of it requires all the Gems to be downloaded.

The first rev of this from @jpeach had a Dockerfile which stored a cache of this essentially in an image but in a review that was taken out.

I've been doing a bunch of work with the site and fou

[2019-11-05 01:22] jpeach commented on #1852
I'm +1 on this.  Remember, building a Docker image doesn't necessarily mean publishing it to an official repository.

[2019-11-05 05:09] nwohlgemuth commented on #1846
What would the difference be? How could the default be for all clusters instead of per cluster?

[2019-11-05 15:21] #1826 closed

[2019-11-05 17:14] stevesloka opened #1854 "site: Add the TOC menu to the /guides & /resources sections"
**Please describe the problem you have**
Following up to #1838, we should look into adding the TOC menu to the /guides & /resources sections.

[2019-11-05 17:25] stevesloka opened #1855 "site: Update links to use `latest` variable"
**What steps did you take and what happened:**
There are various places throughout the code that references docs links (e.g. `/docs/v1.0.0/something`). We should update these links to use a variable such that we don't hard code the `v1.0.0` unless desired.

[2019-11-05 17:37] stevesloka commented on #1846
It depends on where you might define this configuration. For example, we could define a default for all clusters in the config file, then allow each service to override the global default and define their own.

I'm trying to determine what configuration points might need to be exposed for your needs.

[2019-11-05 18:34] stevesloka opened #1856 "certs: Rotate certs in 1-year"
We should have Contour rotate the certs generated automatically before they expire if users are using the provided job today to create gRCP secure communication between Envoy<>Contour.

[2019-11-05 18:38] stevesloka opened #1857 "docs: Document how to rotate certs for gRPC connection"
If users are using the built-in cert gen tool or providing their own, we should document how to rotate certs properly within their cluster.

[2019-11-05 22:54] SDBrett commented on #1852
I'm happy to work on using a Docker image and relevant documentation for building a local test site. I think that it's a good idea because managing Ruby gems can be painful to mange and this provides consistency for those working on the site.

[2019-11-05 23:12] ghchinoy opened #1858 "docs: update deploy-options.md for kind (redux)"
The section in /deploy-options (/site/_guides/deploy-options.md) for kind is a little different now and I'd like to add a few things to make it clearer

* change /site/_guides/deploy-options.md and /examples/kind-expose-port.yaml to reference exposing port 80 (rather than 8080), and adding 443
* add a sentence or two on how to add Contour to kind (via `kubectl apply -f examples/contour`)
* add a n

[2019-11-06 00:04] SDBrett opened #1860 "Site discussion: Evaluate value of Jekyll plugins"
Jekyll plugins increase site build times and complexity of Ruby gem management and introduce additional dependencies for the site to function.

Do you think that there is value to spending time evaluating the plugins used to build the site and removing those which are unused or not of sufficient value?

[2019-11-06 00:17] SDBrett opened #1861 "Site Discussion: Pull external JS into repo"
The site currently references JS files from external sources as part of the loading process. Locally caching these files into the project and site build will help present site load errors due to the referenced external location being unavailable and governance over the supply chain.

This approach does have the draw back of introducing some overhead as the cached JS scripts will need to manually u

[2019-11-06 02:28] SDBrett commented on #1819
Would it be worthwhile investing time into integrating lighthouse into the PR process to automatically validate the site for items such as accessibility?

[2019-11-06 04:00] SDBrett commented on #1822
Self assigned

[2019-11-06 04:20] SDBrett commented on #1140
Is this still relevant with v1.0 and moving away from IngressRoute?

[2019-11-06 16:24] davecheney commented on #1140
@youngnick could you please provide an update. Thank you

[2019-11-06 20:33] stevesloka commented on #1689
We should also look to see if this tool can help move the `contour.heptio.com` annotations for users in the event they are just using k8s Ingress.

[2019-11-06 21:58] youngnick commented on #1140
Sorry, this is on my list for today. I've also updated the title to make it clear it will be about HTTPProxy, although you could generalise to IngressRoute.

[2019-11-07 03:49] #1822 closed

[2019-11-07 04:05] nwohlgemuth commented on #1846
It certainly would be nice to allow each service to have its own setting but even just an overall default would be very helpful.

[2019-11-07 14:10] prateekjainaa opened #1869 "Breaking down big list of conditions"
I am working on a deployment where close to 70 apps will be deployed into single namespace. It is currently using Ingress objects to expose urls and things are fine because each application can come and deploy its own Ingress object. I am trying to shift from nginx based Ingress controller to Contour based ingress controller.

  Issue which I can see here is, with contour individual application wi

[2019-11-08 00:15] stevesloka opened #1870 "docs: Add side menu to guides / resources sections"
**Please describe the problem you have**
The `guides` & `resources` section should have a menu that matches the `docs` section. This might need new data structures in `_data` to make this work properly.

[2019-11-08 00:16] stevesloka opened #1871 "docs: Create a guide on how to update per release"
**Please describe the problem you have**
The release guide needs to be updated as to how to push a docs change when a new version of Contour is released.

[2019-11-08 00:47] #1770 closed

[2019-11-08 07:21] jpeach opened #1873 "Support prefix rewrite in HTTPProxies."
HTTPProxy does not have support for the Envoy prefix rewrite filter. Since that was supported in IngressRoute, we should bring it back.

[2019-11-08 07:22] jpeach commented on #1873
Related to #899

[2019-11-08 08:44] davecheney commented on #1869
@prateekjainaa thank you for your question. Can you please clarify a few things for me

Do you mean, 70 applications behind a single dns name?

Contour supports the k8s ingress object. If there is something specific about the differences between the way Nginx and Contour handle and Ingress object would you please be so kind as to raise an issue for it.

HTTPProxy is one root object per dns virtual

[2019-11-08 08:47] davecheney commented on #1861
I'm fine with this caching as part of the netlify site build operation if you can figure out how to integrate that into the process. I don't want to host yet another copy of jquery in our repo.

[2019-11-08 08:48] davecheney commented on #1860
Assigning to @jonasrosland as he is the owner of the family of open source sites.

[2019-11-08 08:52] davecheney commented on #1852
`bundle exec jekyll serve --livereload` just works for me. I agree getting the right version of ruby installed is a moderate annoyance (personally I use macports and it just works). If you want to work on a docker builder for the site go for it, but please don't publish this as an image, it is not a deliverable of this project.

[2019-11-08 08:54] davecheney commented on #1846
@nwohlgemuth

Could you please expand on why this doesn't work for your application and what you would prefer to see instead. Thank you

[2019-11-08 09:04] davecheney commented on #1827
Assigning to @jonasrosland as he is the owner of the family of open source sites.

[2019-11-08 11:36] prateekjainaa commented on #1869
Thanks @davecheney for the update.

Yes

The concern is, as we can have only one root HTTPProxy per DNS entry; as the list of of applications /urls exposed increases then

 block keep on increasing (this might be done via different teams). I can see that this task of maintaining centralized configuration file will become maintenance overhead. With Ingress objects teams can just installing their ow

[2019-11-08 12:11] prateekjainaa commented on #1869
@davecheney As per your comment on support for Ingress object. I created a sample project and tried contour with Ingress, it worked like a charm. Thanks for suggestion. You can close this issue now.

[2019-11-08 14:31] #1869 closed

[2019-11-11 04:51] nwohlgemuth commented on #1846
It is unacceptable for my application to return a 503. All I need here is the ability to override the envoy panic threshold setting. It could be a global override setting and that would be sufficient.

[2019-11-11 11:21] davecheney commented on #1846
@nwohlgemuth thank you for your reply. I'm sorry if my question appeared insensitive.

As I understand it iff you have active health checking configured and that health checking reports that 100% of the cluster members are unhealthy envoy will return a 50x. We configure panic threshold to 0 because for reasons which are known only to the envoy developers in the distuatoin described above envoy wil

[2019-11-11 15:56] davecheney opened #1880 "Header.Contains tests lack tests"
Header Contains conditions that result in a regex matcher are not tested. Tests at the `internal/contour` and `internal/featuretest` level should be added.

[2019-11-11 20:41] #1825 closed

[2019-11-12 00:17] youngnick commented on #1689
I'll take this one, and write up a design. To answer some of the questions:
- I think this should definitely be a subcommand, like `contour certgen`
- Also similarly `contour certgen`, it should ideally allow either reading from yaml or cluster, and outputting to either yaml or cluster. This should be possible because practically, step 1 here is 'get the source objects into a struct' anyway, and t

[2019-11-12 02:12] SDBrett opened #1885 "Incorrect links on deploy-options.md for master and v1.0.0"
The links to Contour example appear to be incorrect.

/site/docs/master/deploy-options.md:
`[`contour` example]({{site.github.repository_url}}/blob/{{ site.github.latest_release.tag_name }}/examples/contour/README.md) ` Currently points to `https://github.com/projectcontour/contour/blob/v1.0.0/examples/contour/README.md`

/site/docs/v1.0.0/deploy-options.md:
`[`contour` example]({{site.github.repo

[2019-11-12 02:41] #1852 closed

[2019-11-12 06:57] davecheney commented on #1689
Thanks for working on this.

I think it would be useful to state the design criteria up front? Ie. should the translation be online or offline? If it’s the former, what downtime guarantees are we giving?

Personally I think it’s fine to write a tool in an offline mode to translate yaml that users can apply later.

On 12 Nov 2019, at 01:17, Nick Young <notifications@github.com> wrote:

[2019-11-12 08:03] jpeach commented on #1689
The other interesting criteria is who should be deleting the old object.

[2019-11-12 08:43] davecheney commented on #1689
I feel strongly that only a human should do that.

[2019-11-12 16:50] opyh opened #1886 "Contour not showing status for Ingress with unmatched Service name"
**What steps did you take and what happened:**

I've tried to create an `Ingress` route:

[code]

Unfortunately I had a typo in the `spec.rules[0].http.paths[0].backend.serviceName`, so the referenced service did not exist. There was no error in the contour logs, and no info about the ingress in http://127.0.0.1:9001/clusters. It took me very long to find why the `Ingress` was not picked up by con

[2019-11-12 18:08] youngnick commented on #1689
On reflection, here are my proposed design criteria:
- The tool must run offline and only output YAML locally, not to a cluster. (going straight to a cluster is too tricky)
- The tool must accept local YAML as input, and may pull from a kubernetes context and namespace.
- The tool should have a way to force a person to look at the objects before applying.
- The tool should be delivered as a subcom

[2019-11-12 21:10] SDBrett commented on #922
PR: #1428 added anti affinity rules for the contour pods to the `examples/contour/03-contour.yaml` manifest.

This solves the issue of contour pods being scheduled on the same node.

Can this issue be closed?

[2019-11-12 21:33] SDBrett opened #1887 "Add --rm flag to docker command for site-devel and site-check make targets"
Terminating the Docker containers for the `site-devel` and `site-check` make targets does not remove the containers from the Docker host. This leads to a significant number of containers in a stopped state when testing changes to the web site.

Docker will remove a terminated container if the `--rm` flag is added to the `docker run` command.

This does not slow down the create of a new containers

[2019-11-12 22:05] SDBrett commented on #1780
Did PR #1824 fix this issue?

[2019-11-12 22:05] jpeach opened #1889 "Mirroring doesn't work correctly with weights"
I specified this proxy:
[code]

And my expectation was that 1% of traffic would be mirrored to `artifactory-sampler`. However, the envoy configuration ends up like this:
[code]

Which, IIUC, sends mirrors all the traffic from the route. If weights can't be combined with mirroring, we should emit a status condition to tell the user that. However, I think that we can look at the weights and automati

[2019-11-12 22:06] jpeach commented on #1889
See #459

[2019-11-12 23:03] SDBrett commented on #1837
I can work on this

[2019-11-12 23:03] jpeach commented on #1886
@youngnick I don't see the service lookup from `computeIngressRule` propagating the error, or really any status updates on the `Ingress`?

[2019-11-12 23:28] jpeach commented on #1816
Does https://projectcontour.io/docs/v1.0.0/architecture/ address this?

[2019-11-12 23:45] SDBrett commented on #1885
Versioned documentation pages can use `{{page.version}}` to point to the matching branch on GitHub.

[2019-11-12 23:54] jpeach opened #1890 "Dynamic forward proxy support"
A colleague had a use case where a service they were running vends signed URLs to a separate service, but they want to proxy that URL internally.

I think that something approximating this could be implemented using the envoy [dynamic forward proxy](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_proxy#arch-overview-http-dynamic-forward-proxy) support. Instead of routing

[2019-11-12 23:54] lostllama commented on #922
@SDBrett I believe so.

[2019-11-12 23:54] #922 closed

[2019-11-12 23:59] SDBrett opened #1891 "Standardization of links in site markdown files"
**Please describe the problem you have**
Links used in markdown files are a mix of inline  with the full link provided within the text block. EG. `_Note:_ The default example `contour` includes this [file]({{site.github.repository_url}}/tree/master/examples/contour/01-contour-config.yaml)  for easy deployment of Contour.`

Or reference a link table at the bottom of the document. EG. `An example of

[2019-11-13 00:00] SDBrett commented on #1885
Superseded by Issue: #1891

[2019-11-13 00:00] #1885 closed

[2019-11-13 00:14] youngnick commented on #1886
Yes, we don't currently do anything at all with status updates to Ingress, the tracking issue for that is #403

[2019-11-13 00:16] SDBrett commented on #1816
Appears to do so

[2019-11-13 00:16] #1816 closed

[2019-11-13 01:18] #1887 closed

[2019-11-13 01:21] #1819 closed

[2019-11-13 04:42] SDBrett opened #1892 "Website Documents link is white when selected"
RE: PR #1872

A SCSS variable change means that the text for the documentation link is not visible when selected as it changes to white.

Line to be corrected: https://github.com/projectcontour/contour/blob/master/site/_scss/site/settings/_variables.scss#L50

Will make the colour $black, and change $header-foreground to black as well for consistency as the value is already black.

[2019-11-13 06:50] #1892 closed

[2019-11-13 07:17] davecheney commented on #1889
This is probably my mistake for reusing the service type for mirroring. I think the solution may be to define a mirror service type which lacks weighting.

This might be a minor compatibility break, so the non breaking alternative would be to simply ignore the weight field and document it as such.

[2019-11-13 07:18] davecheney commented on #1780
I believe this issue is solved. No action is required.

[2019-11-13 07:22] davecheney commented on #1689
SGTM but the final two steps are reversed. As I understand it the same vhost mentioned across both ingressroute and httpproxy invalidates both of them.

Perhaps as part of this work we can change this ordering such that a HTTPProxy and ingressroute that share the same vhost will invalidate the latter which leaving the former active. That should make the steps you outlined work, and it’s a pretty s

[2019-11-13 07:25] davecheney commented on #1689
What’s the rationale for making this a sub command? This command runs locally, not inside k8s. Reusing cmd/contour for this feels, a little monolithic

[2019-11-13 07:37] davecheney opened #1894 "Instructions for presenting grpc services needs a guide"
We need a guide that concisely describes the HTTPProxy configuration and service annotations required to proxy grpc through contour.

[2019-11-13 08:54] jpeach commented on #1889
I was expecting that most mirroring would need a percentage. Mirroring all the traffic for a site seems like overkill in most cases :)

[2019-11-13 09:32] #1850 closed

[2019-11-13 09:36] davecheney commented on #1886
Sadly the ingress object has no usable status field -- the only status
it can show is the external ip of the upstream load balancer. This
makes debugging problems with the k8s class ingress object somewhat of
a murder mystery.

While we _could_ log to contour's stdout on ingress issues RBAC
usually prevents anyone but cluster operators from viewing those logs,
so there are few good options at this

[2019-11-13 10:12] davecheney commented on #1889
Excellent point. I guess maybe for the moment we just document that weighting isn’t implemented.

[2019-11-13 13:53] surajssd opened #1896 "Supply the contour configurations with PodSecurityPolicy and related RBAC configs"
**What steps did you take and what happened:**

I deployed contour onto a cluster that has PSP enabled. And most of the things didn't work.

[code]

After that this is the pod status:

[code]

- `contour-certgen-kz4nt` is in `CreateContainerConfigError` because the process inside it is running as root.
- Daemonset `envoy` did not come up because it needs elevated privileges and this is what I see

[2019-11-13 13:53] surajssd commented on #1896
I will be willing to take this forward if nobody minds.

[2019-11-13 14:51] davecheney commented on #1896
/cc @youngnick

[2019-11-13 17:06] stevesloka commented on #1780
#1824 fixed the result of this issue, but I'm not convinced that it's "fixed". Let me run a test, just spelling something wrong should kick the build out, but I don't think it will fail in Travis.

[2019-11-13 21:00] youngnick commented on #1689
Only that it was easier for packaging etc, and by extension from `contour certgen`. You're right, it doesn't really make much difference if it's a separate command. Separate command does mean separate docker image as well (in case people want to run it that way).

[2019-11-13 21:03] davecheney commented on #1689
Why docker for a single binary? -- this is a one case that might be a good
fit for go-releaser

On Wed, 13 Nov 2019 at 23:00, Nick Young <notifications@github.com> wrote:

[2019-11-13 21:04] youngnick commented on #1896
Thanks for this @surajssd, this looks interesting, as does your related PR. I will check it out in detail today.

[2019-11-13 21:09] youngnick commented on #1689
I just assumed. I guess this is an area I don't know enough about. I've updated the summary accordingly.

[2019-11-13 21:10] davecheney commented on #1689
This is something where the Valero folks can help us

[2019-11-13 21:11] youngnick commented on #1689
I'll make a note for myself to talk to them about it at Kubecon.

[2019-11-13 23:49] jpeach opened #1898 "Add support for Envoy xDS v3."
A year after Envoy ships xDS v3, they plan to remove support for v2. It's not entirely clear to me what that entails, but it seems likely we will need to add and qualify v3 support and maybe support v2 at the same time.

See envoyproxy/envoy#6271

[2019-11-14 02:02] #1140 closed

[2019-11-14 02:02] #1570 closed

[2019-11-14 04:19] youngnick commented on #1896
I've checked out the PR, and in an initial pass, it looks okay, with some changes. Like I said in the PR though, I don't want to approve this without giving it a proper run and test myself, and I won't have time in the next week. It's been a little while since I did PSP stuff, and I want to verify I haven't missed anything else.

Sorry about the delay, this is great work and I would like to get it

[2019-11-14 16:08] DazWilkin commented on #957
I'm interested in the solution to help port an HPC-like platform to k8s. I'm unfamiliar with Contour and @moderation's epiphany is not immediately obvious to me. Would appreciate a brief synopsis of how do this. Thanks!

[2019-11-14 17:51] bgagnon opened #1900 "Use gRPC readiness/liveness probes"
The current probes used in the example deployments are rather crude:

[code]

The readiness probe only that Contour is able to open a TCP connection, while the liveness probe makes an HTTP call to `/healthz` that merely pings the Kubernetes API:

[code]

The problem with this is that Envoy talks to Contour via gRPC, not HTTP. As a gRPC server, Contour should leverage the [grpc-health-probe](https:

[2019-11-14 19:21] davecheney commented on #957
Daz,

Let’s not mix the streams. Please open a new feature request and outline the problem that you have that you’d like to solve with contour.

Thanks

Dave

[2019-11-14 19:47] DazWilkin commented on #957
Apologies @davecheney, this issue describes my problem.

I'm after the "Might be worthwhile calling this out more explicitly in the" documentation if it exists.

IIUC @moderation appears to believe that it's possible to externally access individual StatefulSet Pods.

[2019-11-14 21:31] jpeach commented on #1836
@vongohren If you are upgrading to Contour 1.0, you should take the deployment YAML from the corresponding version (i.e. not the 0.15.3 one)

[2019-11-14 22:12] moderation commented on #1074
Is there any impact of Envoy introducing a default 60 minutes timeout for TCP @youngnick? https://github.com/envoyproxy/envoy/pull/8705

[2019-11-15 00:40] SDBrett commented on #1891
There are a couple of ways to create links in Jekyll and I'm looking for feedback on the preferred way to go. The goal is to reduce the number of different ways in which a link is inserted into the document.

#### Using `{% link %}`
*The good:*
- Created a link based on the `.md` file, if the `.md` file has a `permalink` tag the link will still point to right location.
- This provides validation d

[2019-11-15 03:58] awprice opened #1902 "Ability to configure ConnectTimeout"
**Please describe the problem you have**
We are seeing the occasional, low frequency issue with envoy failing to connect to an upstream service. Envoy reaches the current connect timeout of 250ms and fails to connect to the upstream.

The `envoy_cluster_upstream_cx_connect_fail` metric is increased when this occurs and the client subsequently receives `upstream connect error or disconnect/reset be

[2019-11-15 15:25] PhilipGough commented on #1777
@davecheney I'll take a stab at this one if that's ok?

[2019-11-15 18:07] stevesloka opened #1903 "Contour breaks waiting for volumes"
**What steps did you take and what happened:**
It was reported in Slack that someone's deployment/ds of Contour&Envoy would fail not finding the volumes for certs.

I've run across this as well in my cluster, just logging for a touchpoint to follow-up on:
![image](https://user-images.githubusercontent.com/1048184/68964664-f637b400-07a7-11ea-884d-75de551c2d9a.png)

[2019-11-15 18:08] stevesloka commented on #1903
This might be because of my side-loading of images to kind, since there is an error for a layer problem.

[2019-11-15 22:16] davecheney commented on #1903
/cc @youngnick

[2019-11-16 03:40] davecheney commented on #1777
@PhilipGough sure thing but please, before sending any code, please write a sketch of your change here. Specifically, if this invariant is broken, what happens? Logging is not appropriate as dag rebuilds happen constantly. Panicking or otherwise aborting are not appropriate because that will stall unrelated updates.

[2019-11-16 04:33] systemlogic commented on #1169
@davecheney @pickledrick How you have updated the cluster to get rid of the problem as mentioned in https://github.com/projectcontour/contour/issues/1169#issuecomment-526055946.
Can I have specific command/steps without impacting much clients cluster

[2019-11-16 05:43] davecheney commented on #1169
@systemlogic this issue was resolved in 0.14. Can you please upgrade to 1.0, the current stable release and open a new issue if the problem persists. Thanks

[2019-11-16 07:00] systemlogic commented on #1169
@davecheney Can I have steps/Command to do so ?

[2019-11-16 09:39] davecheney commented on #1169
We have an upgrade guide for recent versions of contour

https://projectcontour.io/resources/upgrading/

If you’re using an older version please consult the releases page

https://github.com/projectcontour/contour/releases

[2019-11-16 12:58] systemlogic commented on #1169
I have give up.
I have updated images as mentioned in my cluster. I have also setup new cluster and installed contour using
`kubectl create -f https://raw.githubusercontent.com/projectcontour/contour/release-1.0/examples/render/contour.yaml`
created secret using self sign crt and pem
and then create ingressRoute resource
[code]
and service
[code]
NOTE : I AM ABLE TO SEE APPLICATION DEFAULT PAGE WI

[2019-11-16 20:03] davecheney commented on #1169
Is the monorepos secret present in the default namespace? Does it have the correct “kubernetes.io/type”? Is it valid? Sadly the secret object does not have a status field we can report failures on so we must report that data to the contour processes standard error.

[2019-11-16 20:07] stevesloka opened #1904 "Proxy with Include but no child should be a warning"
**What steps did you take and what happened:**
If I create a proxy that has an include to another proxy, but I don't create the child proxy, there should be a warning or something to alert the user.

Example:
[code]

[2019-11-16 22:24] davecheney opened #1905 "Release documentation needs to be updated to include versioned docs"
The release docs need to be updated to include versioning/forking the docs for major, minor and patch releases

[2019-11-17 21:10] davecheney opened #1906 "site: need to document contour <> k8s compatibility"
Similar to https://projectcontour.io/resources/envoy/ we should document which versions of k8s are compatible with which versions of contour.

[2019-11-17 21:12] davecheney commented on #1902
@awprice thanks for the issue. If you could configure this value, what would be a sensible value in your environment?

[2019-11-17 21:21] davecheney commented on #1886
@opyh can you please review https://github.com/projectcontour/contour/issues/1886#issuecomment-553319657 and let me know how you would like to proceed.

[2019-11-17 21:32] davecheney commented on #1904
Confirmed.

[code]
This should be invalid.

[2019-11-17 21:35] davecheney opened #1907 "Envoy 1.12 sets the TCP proxy timeout to 3600s"
https://github.com/envoyproxy/envoy/pull/8705 altered the default TCP proxy timeout to 3600s.

Need to double check that this value does not conflict with the timeout setting we use -- which I think is 9001s.

Updates #1351

[2019-11-17 21:35] davecheney commented on #1074
@moderation tracked as #1907

[2019-11-17 21:36] davecheney commented on #1780
@stevesloka can you please confirm if this is still an issue. Thank you.

[2019-11-17 21:40] davecheney commented on #1905
Duplicate of #1871

[2019-11-17 21:40] #1905 closed

[2019-11-17 23:54] davecheney commented on #510
Closing, won't fix

[2019-11-17 23:54] #510 closed

[2019-11-18 00:00] davecheney commented on #1846
@nwohlgemuth gentle ping

[2019-11-18 00:01] davecheney commented on #1836
@vongohren  what is the status of this issue? How can we help you?

[2019-11-18 00:02] davecheney commented on #1182
@rjbez17 can you please update this issue with your current status. Thank you.

[2019-11-18 00:43] rjbez17 commented on #1182
@davecheney i waiting for direction from you on how to proceed here.

[2019-11-18 01:19] davecheney commented on #1182
I’m sorry, this was my mistake. In https://github.com/projectcontour/contour/issues/1182#issuecomment-531936036 you suggested that you had additional information to provide. From contours POV all the options we can enable to preserve remove ip’s have been enabled in 1.0.

[2019-11-18 02:46] SDBrett opened #1909 "Check site for broken links using travis"
[html-proofer](https://github.com/gjtorikian/html-proofer) is a widely used Ruby gem for performing various tests against websites.

This gem can help significantly reduce the chance of broken link appearing on the website by testing them during the build process. The `.travis.yml` file will be updated to perform a Jekyll build and test the links to ensure that they are valid.

- [x] Update `.trav

[2019-11-18 02:52] davecheney commented on #1909
I would prefer this runs in netlify as a post ci step and blocks publishing of the site.

[2019-11-18 03:20] SDBrett commented on #1909
It looks like the option to do in Netlify this is still a closed beta.

https://www.netlify.com/blog/2019/10/16/creating-and-using-your-first-netlify-build-plugin/

[2019-11-18 03:22] davecheney commented on #1909
If the goal is to spot broken links, does this need to run on every commit?
on every site build? If not are there external web services that can spot
this?

In addition to broken links, what about stale links, references to
docs/1.0.0 when we've moved on to later releases, and so forth?

What is the underlying problem to be solved here?

On Mon, 18 Nov 2019 at 14:20, SDBrett <notifications@github.

[2019-11-18 03:29] SDBrett commented on #1909
I don't know external services which offer this level of checking for broken links.

I can add configuration to `.travis.yml` which will only run the check if the commit includes changes to the file within /site/.

This will resolve broken links which are internal or external. If you have a link to a page within docs/v1.0.0 and that page is deleted it will detect a broken link.

The primary proble

[2019-11-18 03:58] #1861 closed

[2019-11-18 04:00] SDBrett commented on #1854
I would like to see all this combined under docs instead of a section for each.

[2019-11-18 04:10] SDBrett opened #1911 "Top menus do not highlight when active"
Only the documentation link on the top highlights when it is the active page. The other links do no highlight when selected.

The link colour should change to black while on the relevant page.

![image](https://user-images.githubusercontent.com/25494777/69024111-76af1c80-0a15-11ea-924a-e21568552266.png)

![image](https://user-images.githubusercontent.com/25494777/69024114-7d3d9400-0a15-11ea-92c5-9

[2019-11-18 05:49] davecheney commented on #1889
@jpeach I had a look in the docs and mirroring does support a runtime percentage. We could overload the definition of weight to mean "percentage" or come up with some logic for how the mirror cluster's weight plays into the others.

[2019-11-18 08:09] vongohren commented on #1836
@davecheney it seems to be working but it is registerring some errors in the containers from time to time.

From the cert-manager:
<img width="1476" alt="Screenshot 2019-11-18 at 08 43 18" src="https://user-images.githubusercontent.com/1012055/69033619-a5120500-09df-11ea-8c17-d0593f0d9bf2.png">

From the webhook container:
<img width="1441" alt="Screenshot 2019-11-18 at 08 40 31" src="https://user

[2019-11-18 10:06] PhilipGough commented on #1777
@davecheney perhaps I misunderstood the task (highly likely since I'm new to the codebase) but from reading your description I thought the change was straightforward enough (https://github.com/projectcontour/contour/compare/master...PhilipGough:1777?expand=1)

From your description though, it seems like I am on the wrong track so if you have any pointers for where I should be working in that would

[2019-11-18 10:45] opyh commented on #1886
IMO, it's better if the cluster operator is the only person to view those logs than if nobody can detect the issue. In cases like mine, operator and developer are the same person - if somebody else would have set up the ingress controller, asking for the logs would have been the first thing I would have done.

It's unlikely that I personally will have the same problem again, but I'm sure some othe

[2019-11-18 10:45] #1886 closed

[2019-11-18 17:39] jpeach commented on #1889
Yep, that's exactly what I had in mind :)

[2019-11-18 21:23] vtsanghi opened #1916 "TLS annotation (contour.heptio.com/upstream-protocol.tls) to the service is ignored when using L4 ingressroute"
**What steps did you take and what happened:**

I configured my Service and IngressRoute as the following:
[code]

When accessing to the url  **k8s.run.ubisoft.org**, I got the following message :
`Client sent an HTTP request to an HTTPS server.`
It seems like the TLS annotation is ignored and Envoy doesn't consider the upstream service over tls.

**What did you expect to happen:**

Envoy should c

[2019-11-18 21:30] awprice commented on #1902
@davecheney Yet to be determined, we are still trying to fully understand the problem before we can commit to a sensible value.

cc @youngnick

[2019-11-18 21:33] davecheney commented on #1902
Thanks for your reply. To be transparent the value of 250ms was chosen arbitrary years ago. If it’s incorrect for your use case it’s likely incorrect for others. I we change that value ideally I’d like to choose a default value which works for a wide variety of users. If we make it configurable there should be at least a sensible default that works for the majority of use cases as foisting the req

[2019-11-18 21:34] awprice commented on #1902
👍 @davecheney. @youngnick explained to me in person that ideally this should be a default that would be applicable for most people.

[2019-11-18 21:35] jpeach commented on #1886
Remember that logs can also be spooled to central storage where access control policies might be very different. I'm very sympathetic to the desire for additional logging to make it easier to triage configuration issues.

[2019-11-18 21:43] davecheney commented on #1902
Also this is the tcp connect timeout, not an l7 request/response timeout. The rationale for the 250ms connect timeout was If the backend isn’t ready to accept(1) a connection immediately then it’s probably unhealthy.

The current value may be incorrect, but not by an order of magnitude. Waiting seconds for a backend to SYN/ACK is a symptom of a more serious problem so making the connect timeout co

[2019-11-18 21:45] davecheney commented on #1886
SGTM as long as this does not log every time we do a dag rebuild. I fear that will generate additional issues to then mute that logging.

[2019-11-18 22:20] davecheney opened #1917 "CI should check appropriate copyright headers are in place"
To ensure we don’t create source files without the appropriate copyright messages.

[2019-11-18 22:43] davecheney commented on #1916
Thank you for your issue. I’ll investigate today.

[2019-11-18 23:36] ghchinoy commented on #1858
This suggestion is to align the various ways of showing the use of Kind + Contour.
There's a great post by Steve here ([Kindly running Contour](https://projectcontour.io/kindly-running-contour/)) shows using a config yaml for Kind which exposes 80/443 (rather than 8080 / 8443). I don't want to ascribe intent, but I think having 80/443 make a quick local usage easier to use. A subsequent (also grea

[2019-11-19 00:11] SDBrett commented on #1917
GCP has a go test which might be helpful here

https://github.com/GoogleCloudPlatform/golang-samples/blob/master/license_test.go

[2019-11-19 01:00] davecheney commented on #1858
Thanks for the reply. There are many things here so please forgive me if I don't address them all

I think this is not a deployment manifest, its some kind of configuration file for kind. I have no position on if it should use 80/443 or 8080/8443 other than I would prefer that deploying inside kind was as close to deploying _not_ inside kind.

Could this be addressed by referring back to the getti

[2019-11-19 01:02] davecheney commented on #1836
@vongohren  the cert manager errors appear to be RBAC related. If cert-manager cannot watch those objects it will not be able to operate properly.

[2019-11-19 01:05] davecheney commented on #1777
@PhilipGough thanks for your reply. The outstanding problem is what to do when the invariant that `svh.TCPProxy == nil` is violated? Should that invalidate the httpproxy object? Should it be logged? when and where should it be logged -- we generally don't log during dag rebuilds as those happen frequently and will cause log spam and lead to issues where customers ask us to turn down the logging --

[2019-11-19 01:34] SDBrett commented on #1917
I have been unable to find a Github feature that can be leveraged for this task. So I've worked with the above sample from GCP.

I've made some updates to the above licence_test file, to allow filtering out of any go files within the generated directories as they are always flagging as missing copyright.

The is picking up a couple of error files, but does trigger on files where the top line is no

[2019-11-19 01:38] davecheney commented on #1916
@vtsanghi I wrote a test, https://github.com/projectcontour/contour/pull/1918, but am not able to replicate the problem you have.

Can you do two things

1. Can you upgrade to Contour 1.0.0
2. Can you please move from the deprecated `contour.heptio.com/upstream-protocol.tls` annotation to `projectcontour.io/upstream-protocol.tls`.

[2019-11-19 01:41] davecheney commented on #1917
Thanks for working on this. Please note that the issue is on the backlog,
its not on the critical path for 1.1. I suggest leaving this
investigation where it is.

On Tue, 19 Nov 2019 at 12:34, SDBrett <notifications@github.com> wrote:

[2019-11-19 01:59] ghchinoy commented on #1858
Thank you so much for the replies!

You're correct here - this is just a setup for the Kind cluster to expose one of the nodes to the host and doesn't have anything to do with Contour, really. ref. https://kind.sigs.k8s.io/docs/user/quick-start#mapping-ports-to-the-host-machine

Yes, can definitely do this, and I agree with the principle.

I think you're correct here, too - The smallest change wou

[2019-11-19 01:59] #1858 closed

[2019-11-19 02:03] ghchinoy opened #1920 "docs: missing kuard-httpproxy.yaml referenced in deploy options"
When going through the instructions for using Contour on Kind, here ([deploy-options](https://projectcontour.io/docs/v1.0.0/deploy-options/)), the referenced file https://projectcontour.io/examples/kuard-httpproxy.yaml does not exist.

I expected that either `curl`'ing or `kubectl apply -f`'ing the url would provide the appropriate yaml example for the kuard HTTPProxy.

Suggestion is to add in the

[2019-11-19 03:33] davecheney commented on #1889
Thinking about it a little more I’m not sure how to add mirroring percentage.

Fundamentally weighting and percentage are not the same, at least in the way the former is implemented in contour. The weight is defined as the numerator over the sum of all weights defined. This gives a relative percentage and is further complicated when the restrictions of the mirror service not contributing to the we

[2019-11-19 09:20] PhilipGough commented on #1777
@davecheney thanks for your response, makes sense to me now. Let me see if I can progress this then, seems like a good opportunity to dig through the code base if nothing else. Thanks

[2019-11-19 11:17] vongohren commented on #1836
Hmm, okay, it is refreshing my original cert, but not a flexible one.
@davecheney you think I should clear out everything and add over again with the proposed setup?
What is the things I have to think about to clear out?

[2019-11-19 15:25] vtsanghi commented on #1916
@davecheney Thanks for your quick reply.

I test with Contour 1.0.0 and the new annotation `projectcontour.io/upstream-protocol.tls`  and it works.

Thanks for your help.

[2019-11-19 17:48] jieyu opened #1922 "Forward auth support"
**Please describe the problem you have**

We're looking for some equivalent functionality of forward auth in Traefik
https://docs.traefik.io/middlewares/forwardauth/
https://github.com/thomseddon/traefik-forward-auth

Is there any plan to support something similar to that? This is for the case when the user app does not have built-in support for authentication/authorization, and would like to have

[2019-11-19 17:56] davecheney commented on #1916
Thank you for confirming. It is possible that this combination of features was broken in 0.15.3, but as that release is superseded by 1.0.0 there is probably no action to be taken.

Would you be ok for me to close this ticket?

[2019-11-19 22:26] davecheney commented on #1836
@vongohren it looks like cert manager was not installed correctly. The screenshots you posted truncated the error so I'm assuming it is related to permissions but I cannot tell. Is it possible to post the text of those errors, not a screenshot?

If the problem is related to cert-manager our installation instructions are just a distillation of theirs -- we don't want to mandate people use helm, for

[2019-11-19 22:26] davecheney commented on #1902
@awprice ping, what's the next steps for this issue?

[2019-11-19 22:26] davecheney commented on #1846
@nwohlgemuth gentle ping

[2019-11-19 22:27] davecheney commented on #1182
@rjbez17 what would be the resolution you would like to see on this ticket? As far as I am aware Contour turns on all the flags that we have access too to request the remote IP is preserved.

[2019-11-20 16:01] vtsanghi commented on #1916
Yes, you can close this ticket since we are planing a migration to Contour 1.0.0.

Thanks.

[2019-11-20 16:13] vongohren commented on #1836
@davecheney thanks for the thoughts. Yeah im getting a connection refused message on all of them.
<img width="1414" alt="Screenshot 2019-11-20 at 16 14 51" src="https://user-images.githubusercontent.com/1012055/69255942-f32e3080-0bb8-11ea-93ab-35a5eebfe0bf.png">

```"external/io_k8s_client_go/tools/cache/reflector.go:96: Failed to watch *v1beta1.Ingress: Get https://10.44.0.1:443/apis/extensions/v

[2019-11-20 19:05] #1916 closed

[2019-11-20 20:20] davecheney commented on #1836
It looks like there is some connectivity issue between cert-manager's pods
and the api server. @youngnick any ideas (I want to suggest pod security
policy or some network overlay shenanigans, but that might be reaching)

On Thu, 21 Nov 2019 at 03:13, Snorre Lothar von Gohren Edwin <
notifications@github.com> wrote:

[2019-11-21 03:13] nwohlgemuth commented on #1846
A backend service can be configured to return unhealthy when probed but still serve new requests. The goal of this approach would be to take a backend out of the pool of available backends when it gets too hot but if extenuating circumstances require, it would still be able to take on more traffic.

As I said, it is critical that our service do absolutely everything it can to avoid ever returning

[2019-11-21 03:42] davecheney commented on #1846
Thank you for your reply. I think I understand what you are asking for. You would like the option to raise the panic threshold so that if panic mode is triggered by envoys Heath checks envoy will ignore panic mode and forward results to a backend which has failed a healthy check in the expectation that it will still be able to service a request.

Is that correct?

[2019-11-21 04:44] nwohlgemuth commented on #1846
Yes, I would like the option to raise the panic threshold.

[2019-11-21 07:56] movikbence opened #1924 "tls upstream validation fails with non-existent CA-secret in IngressRoute"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am trying to set up end to end encryption in my environment. If the ca-secret exists in the cluster the validation seems to be working between envoy and the backend, but if I add a nonexistent ca-secret the validation fails, and I am able to run traffic to the backend.

CA-secret creation:
kubect

[2019-11-21 08:11] movikbence opened #1925 "tls upstream validation fails with non-existent CA-secret in IngressRoute contour 1.0"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Please check the referenced issue below:
https://github.com/projectcontour/contour/issues/1924

The configuration is the same like in the referenced issue, but the result changed a bit.
Now the "flapping" disappeared from the ingressroute generation, but it still got validated even if the ca-secret

[2019-11-21 09:20] davecheney commented on #1924
Thank you for your issue. Contour 1.0.0 is the current supported release. Are you able to upgrade and confirm if the problem is fixed or persists?

[2019-11-21 09:21] davecheney commented on #1925
As with #1924 Contour 1.0.0 is the current supported release. Are you able to upgrade and confirm if the problem is fixed or persists?

[2019-11-21 09:27] movikbence commented on #1925
I have tried with 1.0 and the problem is still in place.

[2019-11-21 09:28] davecheney commented on #1925
Thank you for confirming.

[2019-11-21 09:29] movikbence commented on #1924
Yes, I've tried it, and the problem is still in place.

[2019-11-21 09:31] davecheney commented on #1924
How many contour pods do you have deployed? Status flapping can be caused when multiple contour pods are deployed with leadership election disabled.

[2019-11-21 09:39] movikbence commented on #1924
I've used the file you provided on contour page https://projectcontour.io/quickstart/contour.yaml
 to deploy the service, and the deployment for contour contains two replicas.

By the way the flapping is gone in 1.0 (Faulty work hasn't, the ingressroute becomes valid, traffic works)

[2019-11-21 09:41] davecheney commented on #1924
Thank you for the update

I’m sorry I don’t think I understand. Could you say that again a little differently?

[2019-11-21 09:46] movikbence commented on #1924
So, I assume we are talking about only 1.0, right?
If that is the case, the steps I have done:

Deploy contour, generate certificates, make ingressroute and apply it with a nonexistent CaSecret.
Although the secret not exists in the environment, still the ingressroute becomes valid. So far, with version 0.15 that validation did not succeeded without the existence of the secret, it was flapping bet

[2019-11-21 09:46] davecheney commented on #1846
Probably the best way to add this would be a new field on health check, probably called (unimaginatively) panicThreshold. This should default to 0, which is both disabled and the current hard coded value.

[2019-11-21 15:13] youngnick commented on #1836
I agree that it looks like a connectivity issue to the apiserver, but I can't see anything in those logs to indicate why. I'd check that there's no intermittent connectivity issue between the nodes and the apiserver, but also would check if there are any CNI network enforcement there too.

[2019-11-21 19:50] brito-rafa opened #1927 "Broken Link on https://projectcontour.io/"
**What steps did you take and what happened:**
https://projectcontour.io/getting-started/ FAQ link points to
https://github.com/projectcontour/contour/tree/master/FAQ.md which gives 404

**What did you expect to happen:**
FAQ.md should exist?

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Contour version:
- Kubernet

[2019-11-21 21:18] tsaarni commented on #1924
I succeeded reproducing this myself and I think I found the cause of the problem. I opened a PR for this.

[2019-11-21 21:38] #1904 closed

[2019-11-21 23:22] #1924 closed

[2019-11-21 23:22] #1925 closed

[2019-11-21 23:27] davecheney commented on #1927
Thanks for spotting this, I've sent #1929 to fix it.

[2019-11-22 09:07] movikbence commented on #1924
Thank you for the help, it was so fast.
Can you tell me, if that change will be only available in the next release, which is 1.?
Thank you!

[2019-11-22 15:35] #1927 closed

[2019-11-22 15:41] #1513 closed

[2019-11-22 15:47] #1911 closed

[2019-11-22 16:16] prateekjainaa opened #1931 "Add tls-passthrough support to networking.k8s.io/ingress.v1beta1"
We have an application which itself handles SSL handshake i.e, HTTPS. Now, this application runs fine till now in k8s as, **nginx-ingress controller** (and corresponding **Ingress** object) supports this feature via,

 argument. As we are planning to move our clusters to use contour based ingress controller, this is no longer working for us. Is there a similar configuration in contour/envoy?

We k

[2019-11-22 16:20] stevesloka opened #1932 "site: Document Contour defaults for Envoy"
**Please describe the problem you have**
There are sometimes specific settings that Contour sets in Envoy. We should document those that Contour defaults differently from Envoy defaults.

// https://github.com/projectcontour/contour/pull/1910#pullrequestreview-321220097

[2019-11-22 16:33] stevesloka commented on #1920
Fixed in https://github.com/projectcontour/contour/pull/1926

[2019-11-22 16:33] #1920 closed

[2019-11-22 16:37] stevesloka commented on #1922
Hey @jieyu, this is currently an issue on the backlog (https://github.com/projectcontour/contour/issues/432). But it is something that I really would like to get added. We're going to be doing some planning for the next release (after 1.1), so we will have more details after 1.1 ships.

[2019-11-22 16:55] stevesloka commented on #1780
I just did a quick test and make check found the spelling error, so it must have been fixed with other updates. Closing! =)

[2019-11-22 16:55] #1780 closed

[2019-11-22 20:09] davecheney commented on #1924
Yes, this will ship with 1.1. I don't have an ETA for 1.1 at the moment but
please follow the 1.1.0 milestone for updates.

On Fri, 22 Nov 2019 at 20:07, movikbence <notifications@github.com> wrote:

[2019-11-22 21:13] davecheney commented on #1931
Thank you for your issue. To confirm, are you asking for us to backport httpproxy’s TLS passthrough to contour’s k8s ingress object support?

[2019-11-22 21:33] prateekjainaa commented on #1931
Thanks for the prompt reply @davecheney . As I said, we are trying to port our cluster to use contour based ingress controller. Most of our services handle their ssl connections themselves. So, our nginx ingress controller was running in ssl-passthrough mode.

No, I was just asking whether there is a corresponding feature available in contour ingress controller or not.  But what it means is, exist

[2019-11-22 21:37] davecheney commented on #1931
Thank you for your reply. I think the answer to your question is; contour supports tls passthrough via the HTTPProxy crd.

[2019-11-22 21:42] prateekjainaa commented on #1931
I suspected that but just wanted to confirm before making our estimations. Are there any plans to incorporate such feature in short while? If not, feel free to close this ticket.

[2019-11-22 22:01] davecheney commented on #1931
I’m sorry I wasn’t clear. Contour implements tls passthrough on a per vhost basis via the field in the HTTPProxy crd, not a flag passed to the ingress controller.

If you would like us to add support for tls passthrough in the k8s ingress object this would probably be via an annotation on the object.

[2019-11-23 12:29] prateekjainaa commented on #1931
yes, that would be really nice feature for moving existing clusters to use contour controller.

[2019-11-25 17:50] stevesloka commented on #403
I was going to pick this up, my thought here was to do the following:

1. Contour watches for all Services right now, when it finds service with an external LB attached, then look to see if that matches the namespace where Contour is deployed. This will be the IP/DNS name that should get attached to any Ingress object.

This assumption also assumes there's only one service in the namespace where C

[2019-11-25 17:50] vongohren commented on #1836
Ok, I restarted the whole thing, and getting closer. Im following this: https://projectcontour.io/guides/cert-manager/

But it seemes that this doc is outdated as this comment: https://github.com/jetstack/cert-manager/issues/2020#issuecomment-550214442 was the only way to get some non error mesages when doing these commands: https://github.com/jetstack/cert-manager/issues/2020#issuecomment-5503293

[2019-11-25 18:08] pschulten commented on #403
@stevesloka Thanks for picking this up. My current nginx-ingress has three different services of type LB for three different ACM certs and different subnets in the same namespace, would I than need three different namespaces and Contour deployments?

[2019-11-25 19:48] stevesloka commented on #403
The problem I'm trying to think through @pschulten is contour is deployed in a "split" model by default, meaning Contour is in a deployment separate from Envoy in a daemonset. I can't think of a good way to tie the two together with other than by convention (i.e. in the namespace). I don't think we should add a flag to Contour to tell what the envoy service name is.

In your example, we'd have thr

[2019-11-25 22:54] youngnick commented on #1836
Ah, dang. Thanks for pointing that out. I'll scrub the doc and fix the api groups for the ClusterIssuers.

[2019-11-25 23:16] youngnick commented on #403
As much as I don't like the idea either, I can't think of another way to address this problem without adding flags, due to the separated deployment model. For Contour to be able to update the Ingress object per the spec, we have to know what to update it with. Something similar will probably be necessary for HTTPProxy as well.

[2019-11-25 23:24] youngnick commented on #1896
After talking to a few people (including @surajssd) at Kubecon, I don't think that adding a PSP is the right way to go here.

Effectively, what we need to do is:
- document the security capabilities that the Contour and Envoy pods need to do their jobs
- Ensure that they are applied to the pods.

In addition, there is one big problem with the current implementation of PSPs: there is no way to ensu

[2019-11-26 02:32] davecheney commented on #1907
This is not a problem as we explicitly set the TCP timeout to 9001s.

https://github.com/projectcontour/contour/blob/master/internal/envoy/listener.go#L131

[2019-11-26 02:32] #1907 closed

[2019-11-26 02:49] SDBrett opened #1939 "Add bundler version check to `make check`"
Netlify does not Bundler 2 or greater, the highest version supported in 1.7.3. Netlify will fail to build a site where `site/Gemfile.lock` bundler version is greater than 1.7.3.

I propose adding a new check target to the Makefile which will validate this part of the Gemfile.lock to prevent accidental changes.

[2019-11-26 03:11] SDBrett commented on #1855
Unfortunately Jekyll doesn't support the use of variables with links created using `{% link %}. I've made comparisons on link insertion methods in issue #1891

[2019-11-26 03:16] SDBrett opened #1941 "Remove unused directories from site"
/site contains two directories which appear to be redundant and unused.
- _casestudies
- _metrics

Removing these will clean up the directory tree

- [x] Update _casestudies directory name and file names
- [x] Document _metrics folder and usage

[2019-11-26 03:33] SDBrett commented on #1941
_casestudies: Used to generate list of features on the projectcontour.io homepage -> Recommend renaming directory and files to make less ambiguous.

_metrics: Used to populate table of metrics for prometheus page. -> Recommend documentation to provide information on the purpose.

[2019-11-26 10:32] jpeach commented on #1922
Relating #432, #433 , #986 and #1014 which are all touching on aspects of authentication support.

[2019-11-26 19:05] rjbez17 commented on #1182
@davecheney  I'm just getting back into the swing of things from KubeCon. I'll try to repro with the latest version over the next few days and get back to you.

[2019-11-26 20:32] jpeach opened #1944 "Investigate running ingress-controller-conformance in CI"
We should investigate running [ingress-controller-conformance](https://github.com/kubernetes-sigs/ingress-controller-conformance) as part of our CI pipeline.

The necessary items here are:

- [ ] Get an upstream release for the conformance tests
- [ ] Add conformance tests flag to specify load balancer address
- [x] Scripting to bring up a kind cluster
- [ ] Scripting to pull the conformance tests

[2019-11-26 21:09] prateekjainaa opened #1945 "Multiple applications deployed in one namespace"
We deployed one application in our k8s cluster, this application has following characteristics:

1. It handles SSL on its own.
2. It exposes multiple contexts say, /login, /dashboard etc.

We removed its Ingress object and deployed new HTTPProxy like

[code]
Everything worked fine till now. We are able to login and access services from this app. Now, we deployed another application (in same namesp

[2019-11-26 21:48] davecheney commented on #1945
@prateekjainaa I'm sorry you are having issues. The root cause is TCP proxying cannot be combined with routing (there is one edge case where this statement is not true, but it does not apply in your scenario).

Contour should reject the configuration you provided. I'm sorry, this is a bug and it will be rectified.

For you, you should either use routing or tcpproxying, not both.

[2019-11-26 22:26] youngnick commented on #1836
@vongohren Could you confirm that everything is good with the tutorial now that problem has been fixed?

[2019-11-26 22:56] prateekjainaa commented on #1945
Because we are using ssl-passthrough feature, we have to use tcp-proxy feature. And because as soon as we add another proxy to list, it stops working. So, does it mean that we cannot use contour right now?
Same feature is working fine currently with **Ingress** objects. Am I correct in assuming that, we cannot use contour right now in this situation. Please comment.

[2019-11-26 23:03] stevesloka commented on #1945
@davecheney can't we tie L4 to `tcp.example.com` as well as L7 to `tcp.example.com`?

[2019-11-26 23:17] davecheney commented on #1945
yes, but on a per port basis. port 443 is unilaterally forwarded to the services mentioned, there is no scope to do http routing on port 443 at that point

[2019-11-27 01:19] davecheney commented on #1945
yes, if you want the backend service to handle the tls handshake then envoy cannot do any http routing because the L7 HTTP traffic is not available to it.

This is probably a bug, the underlying rule that a virtual host, per port, can only be handled by envoy in L7 HTTP mode or L4 TCP mode is immutable.

[2019-11-27 02:00] z0r0 opened #1947 "Add ModSecurity CRS support"
In order to implement a production grade ingress controller in many organizations, security mandates that a WAF be placed in front of applications to prevent poorly written web applications from being exploited easily. Currently, a few projects in the ingress ecosystem implement modsecurity's CRS as a WAF to solve for this purpose. One of these is [Nginx ](https://github.com/kubernetes/ingress-ngi

[2019-11-27 02:05] z0r0 commented on #1947
To add to this, it looks like there might be an implementation by a third party on envoy, though I've never looked into the code, or used it in any capacity.

[It's by octarinesec](https://github.com/octarinesec/ModSecurity-envoy)

[2019-11-27 02:05] davecheney commented on #1947
@z0r0 thank you for your issue. I think my knowledge is very out of date, when you say mod security I think of the apache module. Can you please tell me more about the mod security product. Thanks

[2019-11-27 02:12] z0r0 commented on #1947
It's really just a library for parsing requests against a ruleset. It's most commonly known as a module that was loaded with apache, but there's implementations within nginx, envoy (apparently) apache, and possibly even native python bindings looking at the github pages of the CRS maintainers, Spiderlabs.

Basically, it's a parsing engine, and a ruleset to make sure that a given http request doesn

[2019-11-27 02:18] davecheney commented on #1947
Thank you for your reply.

At the moment we rely on upstream envoy to provide the docker image which we reference in our manifests. At the moment we don’t have the bandwidth to take on the responsibility of delivering envoy directly so until this mod security work is available upstream it’s unlikely we would add the plumbing to expose this via envoy.

[2019-11-27 02:28] z0r0 commented on #1947
Totally understood. Would there be the possibility to implement this as functionality similar to how the ext_authz functionality works? [see here](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz.proto) The functionality is relatively similar in that the logic could simply be to forward to a third party service and to respond to the request appropriately

[2019-11-27 02:40] davecheney commented on #1947
That’s a possibility, I think there is an issue for that method somewhere in the backlog. This would make the mod security service a critical component of contour so we’d want to approach how we exposed that to HTTPProxy authors in a way that didn’t incur and undue support overhead.

[2019-11-27 02:49] youngnick opened #1949 "HTTPProxy should overwrite IngressRoute if there is a conflict"
As part of #1689, I realised that we don't have a good upgrade path for IngressRoute to HTTPProxy right now.

Currently, AFAICT, having an IngressRoute and HTTPProxy with matching FQDNs and routes will render them both invalid.

This issue covers building something so that, if an IngressRoute and HTTPProxy overlap, then the HTTPProxy will take priority.

This allows us to have an upgrade process o

[2019-11-27 02:50] SDBrett commented on #1860
All plugins specified are performing a purpose, no need for clean up found.

[2019-11-27 02:50] #1860 closed

[2019-11-27 02:53] z0r0 commented on #1947
Awesome. let me know if/how I can help if this gets picked up. It's been a while since I've implemented ModSecurity out of the box, but it's the easiest of the WAF products to get working, and has the widest support base.

I'm also willing to contribute time here, though my golang experience is near non-existent.

[2019-11-27 02:55] davecheney commented on #1947
Thank you. I've assigned this issue to the backlog for prioritisation by our PM.

[2019-11-27 03:01] SDBrett opened #1950 "Version guides by moving to docs directory"
The steps provided by a guide are written with relevance to a specific release version.

It seems suitable that guides should be moved to the relevant directory under `site/docs`. This allows the users to look up guides specific to a version in the same manner that they will be looking up other documentation.

The above also extends to classifying `/site/_resources/upgrading` as a versioned guide

[2019-11-27 03:11] davecheney opened #1951 "Contour should reject httpproxy with a missing service unconditionally"
Under some conditions Contour may be permitting the httpproxy with a missing backend service:
[code]
This may be a holdover from the days when kubectl schema validation required a dummy `routes:` key.

[2019-11-27 03:15] davecheney opened #1952 "httpproxy's tcpproxy plus permit insecure does not require the route to be marked as permit insecure"
Contour presents `default/service` over port 80 without the `permitInsecure` market on the route.
[code]
This is probably a bug. We should required that if routes and tcpproxy are combined, all routes must be marked `permitInsecure: true`

[2019-11-27 03:18] davecheney commented on #1949
Also, if a httpproxy takes priority over an ingressroute of the same hostname, the latter should be marked invalid, not orphaned.

[2019-11-27 04:03] davecheney opened #1954 "tcpproxy + upgradeHTTPS presents a valid route in ingress_https"
When tcpproxy is combined with a non permitInsecure service on port 80:
[code]
Contour correctly generates the `ingress_http` upgrade 301 configuration
[code]
However it also incorrectly presents a valid route on `ingress_https`
[code]
This route should not be triggered because there is no http manager configured for this vhost -- it is a tcp proxy -- but the route should not be there.

[2019-11-27 05:06] davecheney commented on #1949
@youngnick I think this needs to land in 1.1 if we are to have a chance for people to use the translation tool with that version.

[2019-11-27 08:35] rochacon commented on #403
I also believe a new flag/config would be a more appropriate approach for this. I'm not sure if Contour should try to "guess" the Envoy service to get the address from. Adding the flag can make this behavior more precise/explicit and we can keep the current "no address" behavior as the default (empty value) since we have reached 1.0 (great job btw 🎉).

@pschulten I don't know the details about the

[2019-11-27 09:07] jpeach commented on #403
@stevesloka Probably worth doing a small prior art survey to see how other ingress controllers solve this problem. IIRC ingress-nginx uses a command flag.

[2019-11-27 10:22] vongohren commented on #1836
@youngnick I can confirm that the tutorial is good now that it is fixed. Thanks

[2019-11-27 11:28] prateekjainaa commented on #1945
@stevesloka @davecheney we have a line of 100 such applications waiting to be deployed in similar model. Can you guys provide us rough time frame for fixing this issue? I am asking this because it is acting as a blocker for our migration work to contour ingress controller.

[2019-11-27 18:19] alexbrand commented on #1896
I was about to open an issue around hardening the default deployment of contour and envoy.

Agreed that contour should not ship a PSP, but instead set the security context to the minimum privileges required.

I experimented with this a bit and ran into an issue with hardening Envoy. I tried setting user != root, dropping all capabilities and adding the `NET_BIND_SERVICE` to no success. It seems li

[2019-11-27 19:02] davecheney commented on #1945
I'm sorry if I was not clear. Mixing L4 and L7 per vhost cannot work the
way you want. If a vhost is in L4 mode using tcpproxy then envoy cannot
apply L7 http routing.

Can you step back a few paces and tell us about the way you want to deploy
your applications then maybe we can help find a way to use contour to do
what you need.

On Wed, 27 Nov 2019 at 22:28, Prateek <notifications@github.com> wr

[2019-11-27 19:36] prateekjainaa commented on #1945
sure, I will list down our requirements again here:

1. Applications needs to handle their secure connection (https) by themselves.
2. Close to 100 such applications will be deployed under same namespace.
3. All applications will have same virtual hostname/IP.

This setup is currently working with nginx-ingress-controller. I have avoided any technical details about our approach to keep things simp

[2019-11-27 19:45] davecheney commented on #1945
Thank you for your reply. Please try this httpproxy template
[code]
You will need to deploy one httpproxy per backend service, or more correctly one httpproxy per virtual host you want to multiplex onto one ip.

[2019-11-27 19:51] prateekjainaa commented on #1945
@davecheney As far as I remember, we did tried this and it works but as far as their is only one service is configured. As soon as I added another service to the list of services like,

tcpproxy:
    services:
[code]

it stopped working. If you can tell me where to look for errors, I will collect error logs and try to share with with you.

[2019-11-27 20:05] davecheney commented on #1945
Yes, that will not work because it combines multiple k8s services behind a single virtualhost. This is essentially the same as saying (sorry for the yaml, on phone)

virtualhost:
  Fqdn: example.com
routes:
  - conditions:
     - prefix: /
     services:
     - name: app1
        port: 443
     - name: app2
        port: 443

[2019-11-27 20:17] prateekjainaa commented on #1945
So, should we expect this to be fixed in 1.1 release? and can you provide us some rough timeline for its release, this will ease up our planning on whether we want to wait for fix or look for alternatives.

[2019-11-27 20:24] davecheney commented on #1945
I’ve explained that if you combine multiple backend services in tcppassthrough mode envoy considers them to be one single service and shares all incoming traffic across all the services you list — this is why when you add additional services the your tcpproxy: block it breaks.

With that understanding, what solution would you like us to implement ?

[2019-11-27 20:50] prateekjainaa commented on #1945
@davecheney Thanks for explaining.

1.

We are not envoy or contour expert so can't comment there.
2. Are you saying that our use case will not be supported by contour?
3. If we move HTTPS handling to Ingress controller then will rest of the use case supported by contour? As per my understanding, we have to use TLS termination in that case which will be similar to,

[code]
Will it work as this als

[2019-11-27 21:05] davecheney commented on #1945
@prateekjainaa

I'm sorry, I did not mean to gate keep here. As I understand it your requirements are

1. Each k8s service will handle its own TLS handshaking
2. All virtualhosts (dns names) should be presented behind one external IP address
3. Each k8s service has its own virtual host; ie the k8s service foo is presented at foo.example.com, and the k8s service bar is presented as bar.example.com.

[2019-11-27 21:06] jpeach commented on #1945
This can't possibly work if the k8s service is doing the TLS termination. If the service terminates TLs, the proxy never sees cleartext traffic and by definition it can't route HTTP request paths to different services. The only way this could work is if the proxy is doing TLS termination.

The ingress-nginx [documentation](https://kubernetes.github.io/ingress-nginx/user-guide/tls/#ssl-passthrough)

[2019-11-27 23:06] youngnick commented on #1836
Thanks, closing.

[2019-11-27 23:06] #1836 closed

[2019-11-27 23:14] davecheney commented on #1952
Closed in 20eb8ee, this is not a bug.

[2019-11-28 00:19] davecheney opened #1958 "Contour marks a httproxy w/ tcpproxy unconditionally valid if it does not have a TLS block"
Contour accepts this httpproxy definition without validating if the tcpproxy service is missing because there is no tls block.
[code]
httpproxy's with a tcpproxy block cannot be valid without a spec.virtualhost.tls stanza and one of passthrough or a valid secret.

[2019-11-28 00:29] davecheney opened #1959 "Upgrade to Envoy 1.12.2"
Envoy 1.12.2 will be released on 10/Dec.

https://groups.google.com/d/msg/envoy-announce/Z4_JwSksPpY/aUGfjc86BwAJ

[2019-11-28 03:00] davecheney commented on #1351
The envoy xDS deprecations have been addressed. The remainder of this ticket can happen closer to the release date.

[2019-11-28 03:25] #1941 closed

[2019-11-28 03:28] #1891 closed

[2019-11-28 04:16] #1958 closed

[2019-11-28 10:58] prateekjainaa commented on #1945
Yes

I dont understand this. There is only one virtual host/dns name for all apps for example, abc.com

No, virtualhost/DNS will be same for all applications inside k8s cluster so services foo and bar both will be using same virtual host abc.com. The routing decision about which service to call is based upon whether request is for abc.com/foo or, abc.com/bar or, abc.com/anything.

 will requiremen

[2019-11-28 11:17] davecheney commented on #1945
Ahh, I understand now.

In Contour requests are mapped to their HTTPProxy documents by the fully qualified domain name, FQDN. This FQDN is what we call the virtual host (as the physical host is the machine running the application, an antiquated concept). An FQDN is also the long form name of DNS name. Thus one dns name, one HTTPProxy document.

With this understanding in place the decision you hav

[2019-11-28 12:20] prateekjainaa commented on #1945
@davecheney thanks for the update as I can see you have used different ports for different apps

foo-app -> 8080
bar-app -> 8000

Can't we use same port like 80 for all apps? The reason behind this is that, these apps also talk to each other using services.

[2019-11-28 12:30] davecheney commented on #1945
Yes you can. The port number is the one assigned by your k8s service document, it does not need to be unique.

[2019-11-28 12:58] ryanelian commented on #406
I thought one of the point of doing custom CRD (HTTPProxy / IngressRoute) is to prevent splashing annotations all over the place?

![image](https://user-images.githubusercontent.com/8892187/69807926-13916700-1219-11ea-843f-ea1f2de11f08.png)

Why can't the protocol just be defined in the `services` object?

For example:

[code]

[2019-11-28 23:24] jpeach commented on #1922
Related #68

[2019-11-28 23:42] jpeach commented on #1286
Related to #1178

[2019-11-29 00:25] jpeach commented on #370
Related #65

[2019-11-29 00:30] davecheney commented on #406
@ryanelian thank you for your comment. Would you please raise a new issue so it is not lost.

For the record I agree with @stevesloka that while the service annotation is the correct place for this information (when I added it I argued that the protocol the service speaks is a property of the service, not who is talking too it) but this has serious usability limitations, so I'm open to adding this

[2019-11-29 01:23] ryanelian opened #1962 "Feature Request: Allow "protocol" Be Defined in route.services.service (Enable Upstream TLS)"
**Please describe the problem you have**

Continuing discussion from https://github.com/projectcontour/contour/issues/406

Currently enabling Upstream TLS requires annotations to be added to the backend `Service` manifest:

[code]

This causes some maintainability and usability issues, because the annotation and the Contour ingress object are in two different places. (Despite the annotation sole p

[2019-11-29 02:16] davecheney commented on #1962
Thank you for raising this issue. Moving to the backlog for prioritisation, /cc @michmike

[2019-11-29 02:26] #1954 closed

[2019-11-29 07:16] #1951 closed

[2019-11-29 09:24] erwbgy opened #1965 "Reject TLS secrets with certificate that has no CN or SANs"
Envoy crashes when processing a TLS certificate that does not have SubjectAltNames or a CN field in the Subject.

Create a key, certificate and TLS Secret and then an Ingress that uses this Secret:
[code]

The envoy Pod logs show an assertion failure:
[code]
and stay in CrashLoopBackOff until the offending Ingress is removed.

[2019-11-29 11:34] prateekjainaa commented on #1945
I created a quick POC to check if that works and it worked fine. You can close this ticket.

[2019-11-29 11:39] davecheney commented on #1945
Thank you. Please let us know if you have any further questions

[2019-11-29 11:39] #1945 closed

[2019-11-29 11:51] prateekjainaa commented on #1965
I will be interested to know the use case why these fields will be empty.

[2019-11-29 12:17] prateekjainaa opened #1966 "growing multiple paths in httpproxy"
We are migrating from nginx Ingress controller to contour. Here is a case where we see issue.

step1: Everything is fine till we have something similar to:

[code]
Here, contour is handling ssl connection for all apps but right now there is only one app.

step 2: We migrate another app (same namespace, same FQDN) to use contour and then everything works fine if we update same proxy object to look

[2019-11-29 13:55] erwbgy commented on #1965
Clearly there isn't a use case, but it should not be possible to break Contour for the entire cluster just by creating one bad Ingress and Secret.

[2019-11-29 23:37] jpeach commented on #1965
On Nov 29, 2019, at 8:24 PM, Keith Burdis <notifications@github.com> wrote:

﻿

Envoy crashes when processing a TLS certificate that does not have a CN field in the Subject or SubjectAltNames.

Is there an envoy issue for this crash?

[2019-11-30 23:54] davecheney commented on #1966
Thank you for your issue. The rules for HTTPProxy is one document, one fqdn. If you want to host multiple backend applications on different routes under the same fqdn either combine the configuration in one HTTPProxy document or use inclusion to delegate part of the routing to space to one application, part to another and so on

[2019-12-01 03:00] davecheney commented on #1966
This is possible with Contour, each application should be described in a single HTTPProxy document, that document has a unique FQDN, and is owned by the application group (or the operations teams if that is the way things are done in your company).

If this is not possible because applications share a single FQDN then you should use inclusion to delegate a part of the routing space for a FQDN to i

[2019-12-01 03:02] davecheney commented on #1950
I would prefer not to version guides. I do not think we need to document things that are no longer supported. Rather than versioning the guides they should be updated to reflect the current way the product works if required.

[2019-12-01 16:45] prateekjainaa commented on #1966
@davecheney Thanks for the update but using **inclusion** to delegate has the same issue. We need to update/maintain a central config file. This defeats the whole purpose of separating out individual service/routing configurations because now also, we cannot deploy/remove services w/o updating this central/parent file. The behavior that we are looking for is, similar to **Ingress controller** wher

[2019-12-01 22:59] davecheney commented on #1966
@prateekjainaa thank you for your reply. For your requirements I recommend you stick with the k8s ingress object, it has the property where a single FQDN may be mentioned across many k8s ingress objects.

Contour does not support many of the HTTPProxy features on the k8s ingress object because they have to be expressed as annotations -- and some are not possible -- but please raise issues, as you

[2019-12-01 23:22] #1952 closed

[2019-12-02 00:46] davecheney opened #1968 "Write release notes for 1.1.0"

[2019-12-02 00:46] davecheney opened #1969 "Update upgrading guide for 1.1.0"

[2019-12-02 02:44] #899 closed

[2019-12-02 10:49] prateekjainaa commented on #1966
Thanks @davecheney feel free to close this ticket.

[2019-12-02 15:27] erwbgy commented on #1965
I couldn't find one so I raised https://github.com/envoyproxy/envoy/issues/9182

[2019-12-02 19:06] #1966 closed

[2019-12-02 21:01] stevesloka opened #1971 "internal/k8s: Add HTTPProxy to status tests"
Tests for `HTTPProxy` are missing in: https://github.com/projectcontour/contour/blob/master/internal/k8s/status_test.go

[2019-12-02 23:19] youngnick opened #1973 "HTTPProxy Status field should have `omitempty` in its JSON fieldspec"
Small thing, but it's important for `ir2proxy` operations.

[2019-12-02 23:39] jpeach commented on #1179
Note that regex matching will not work with prefix rewrite, since Envoy regards them as disjoint configurations :(

[2019-12-03 01:10] davecheney commented on #1973
Moving to 1.1. We shouldn't include this in a security release.

[2019-12-03 01:26] youngnick commented on #1973
Right, of course. Thanks.

[2019-12-03 02:19] jpeach commented on #1965
Thanks @erwbgy

[2019-12-03 05:50] youngnick opened #1978 "HTTPProxy CRD should be structural and have pruning enabled"
As noted in https://github.com/projectcontour/contour/issues/1723#issuecomment-544307006, our CRDs are not structural, and can't have pruning enabled at the moment.

My latest investigation into this suggests that pruning requires (for CustomResourceDefinitions v1beta1):
- structural definitions (this should be taken care of by the tooling added in #1723)
- At least Kubernetes v1.15

This is compl

[2019-12-03 07:10] davecheney commented on #1965
I'm working on this now. The specific fix is straight forward but opens a lot of other questions about what other kinds of certificates will envoy reject. Obviously we'll fix this specific issue quick smart, but the yakity-sax whack-a-mole song is starting to grow in volume

[2019-12-03 08:04] jpeach commented on #1965
On Dec 3, 2019, at 6:10 PM, Dave Cheney <notifications@github.com> wrote:

﻿

I'm working on this now. The specific fix is straight forward but opens a lot of other questions about what other kinds of certificates will envoy reject. Obviously we'll fix this specific issue quick smart, but the yakity-sax whack-a-mole song is starting to grow in volume

Are you also going to validate the certificate

[2019-12-03 08:24] davecheney commented on #1965
I'm classifying this class of problems into three groups

a. crashes envoy
b. doesn't crash envoy but will block updates if envoy NACKs a discovery response
c. valid configuration with nonsense values; a cert that doesn't match a signing chain.

At the moment, I'm prioritising a and b, the list of possible validation failures feels large enough.

[2019-12-03 08:34] jpeach commented on #1965
On Dec 3, 2019, at 7:25 PM, Dave Cheney <notifications@github.com> wrote:

﻿

Are you also going to validate the certificate chain? What about ensuring it the certificate matches the vhost name?

I'm classifying this class of problems into three groups

a. crashes envoy
b. doesn't crash envoy but will block updates if envoy NACKs a discovery response
c. valid configuration with nonsense values; a

[2019-12-03 15:32] stevesloka opened #1980 "Ingress Status: Allow users to specify their own IP/FQDN"
From #1976 need to allow Status for Ingress to be specified by operator and not looked up from Envoy service.

_Originally posted by @youngnick in https://github.com/projectcontour/contour/pull/1976#issuecomment-560990500_

[2019-12-03 20:34] stevesloka commented on #1880
@davecheney there isn't any logic in internal/contour for regex other than sorting them.  There are tests in internal/envoy where the regex is applied. What were your thoughts for tests inside internal/contour?

[2019-12-04 05:03] #1973 closed

[2019-12-04 20:49] stevesloka opened #1982 "External Name Host Rewrite"
# Background
A use-case came up chatting with someone in the community that involves routing requests to external domains, so using Contour as a proxy to redirect requests to locations other than pods inside a Kubernetes cluster.

Today Contour has support for `externalName` services. An externalName type service allows for a Kubernetes service to define a fqdn that when a request is made to it, t

[2019-12-04 20:59] jpeach commented on #1982
A few notes:

* You need to both set the right Host header, and also use the right SNI name
* I think that a "header rewrite" policy at the same level as "path rewrite" is a better approach than a specific "rewriteHostPolicy"
* For external names in particular, can we just make sure they work right without extra configuration? We should just install the correct rewrites, etc without the user needi

[2019-12-04 22:00] SDBrett opened #1983 "Providing security notifications for previous releases"
This issue comes from yesterdays community discussion regarding challenges in providing security updates separate from feature updates.

The summary of the issue is that there are challenges providing security only updates as many Envoy security fixes modify features. This requires Contour to add / change features to fix security issues, this does not allow a disconnect between security and featur

[2019-12-04 22:12] davecheney commented on #1983
@michmike feels strongly that users test and qualify each release before deploying it so the notion of automatically upgrading seems antithetical.

However, if folks want to do this they can use the `:latest` tag we maintain,

[2019-12-04 22:13] davecheney opened #1984 "Image tag documentation page was lost in the move to projectcontour.io"
https://github.com/projectcontour/contour/blob/release-0.15/docs/tagging.md didn't seem to make it to projectcontour.io

[2019-12-04 22:17] SDBrett commented on #1983
I'm not making any suggestion that upgrades should be done automatically. Just that providing a notice of a new release can improve security, especially due to the difficulty back porting security fixes without breaking functionality.

[2019-12-04 22:22] davecheney commented on #1983
I think there are two issues at play here, one is our support policy which states that when we make a new release, any other release is now unsupported. There is a second issue overplayed onto that that some of those releases don't just mean you're unsupported, but potentially exposed to a known vulnerability.

We do know from the k8s slack and issues that our users are not keeping up with our rel

[2019-12-04 22:23] jpeach commented on #1983
This is something I've been thinking about for a while. We allow (or at least have no way to prevent) users to bring their own envoy, but we don't know whether the envoy they provide is likely to work. Addressing compatibility could use the same mechanism that we use to address security versioning.

[2019-12-04 22:43] SDBrett commented on #1983
I'm not surprised that users are not keeping pace with the release cadence. But that's a whole different topic.

A mailing list is a good idea, for security specific issues you could leverage the security advisories feature in GitHub.

[2019-12-05 02:12] stevesloka commented on #1982
I wonder though if something like this should live higher up at the vhost level?

[2019-12-05 02:45] davecheney commented on #1965
I don't want to have to explain to cluster admins that a user can crash their envoy process by creating a secret without a common name.

[2019-12-05 03:33] jpeach commented on #1982
I think that rewriting headers is a useful feature, but I'm not sure that we should distinguish the host header.

[2019-12-05 03:37] jpeach opened #1987 "Add status for unconsumed path prefix replacements"
If a path prefix replacement isn't consumed by the Envoy route, it's not a validation error, but it could be unintentional. The replacement can end up not being consumed because the proxy chain changes, or the path match type changes.

Consider propagating some non-fatal condition describing this into the proxy status.

[2019-12-05 03:38] jpeach opened #1988 "doc: HTTPProxy must have at least one route or include defined"
From #1947, the HTTPProxy routes field is documented as

This is probably not correct, since TCPProxy could be valid instead.

[2019-12-05 04:08] jpeach commented on #1909
@SDBrett was this fully fixed in #1848?

[2019-12-05 04:09] youngnick commented on #1949
This issue comes back to the problem that we've never really said explicitly what the priority policy is for the three types of config we support.

Currently, it works like this:
## Ingress
- Ingress objects are parsed into the DAG
## IngressRoute
- IngressRoute objects are parsed into the DAG.
- If there is a matching FQDN to one or more Ingresses, but different prefixes, the different routes are

[2019-12-05 04:14] jpeach commented on #1949
Can you include an object reference to the proxy that took precedence?

[2019-12-05 05:01] davecheney commented on #1949
It is possible, but it is more work as we'd have to keep a table of FQDN to HTTPProxy mappings. My suggestion to nick was to not do this at this time. If needed we can come back and add that, but I suspect it won't be needed as this feature only has a limited lifespan.

[2019-12-05 05:02] SDBrett commented on #1909
Yeah, closing.

[2019-12-05 05:02] #1909 closed

[2019-12-05 05:16] SDBrett opened #1990 "Broken link to SITE_CONTRIBUTION.md"
[code]

Link works on github but does not work on the live site.
Will change to {{site.github.repository_url}}/blob/master/SITE_CONTRIBUTION.md to resolve.

[2019-12-05 05:29] davecheney commented on #1949
@youngnick I think the discussion would be clearer if the policy were separated from the implementation -- don't worry about the dag, the builder, status, or any of the other guts inside Contour, they're implementation details.

From the policy point of view we have virtualhosts, they have one or more routes, and are each identified by a fully qualified domain name. I think the key policy question

[2019-12-05 05:37] davecheney commented on #1982
One of the things I had hoped for the various _*Policy_ types is because they are types, we could extend HTTPProxy in the future to define them at both the VirtualHost, HTTPProxy, Include, as well as Route levels as a way of defining "defaults" or values to be inherited or superseded as evaluation got close to the route stanza. We can start small, define header rewriting at the route level, which

[2019-12-05 08:28] kfyharukz opened #1993 "HTTPProxy is rejected by API server when timeoutPolicy.idle is empty"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I wrote the following `HTTPProxy` but it was rejected by APIserver (kubectl) with the message `spec.routes.timeoutPolicy.idle in body is required`.
[code]

**What did you expect to happen:**

In the reference document, I can omit `idle` field.
When `idle` field is omitted, it should be filled by t

[2019-12-05 22:18] youngnick commented on #1949
That was my original idea, but I was worried about the user experience of being able to tell if your IngressRoute is being overwritten by a HTTPProxy.

I think that it's probably okay, and will certainly make it much easier to land this (basically, merge the tests in the associated PR and it's done).

[2019-12-05 23:30] davecheney commented on #1949
I think the problem is we were thinking HTTPProxy x completely occludes IngressRoute x, but the case where there is partial overlap means we probably shouldn't change the order in which IngressRoute and HTTPProxy objects are ordered, nor can we change the interpretation to say if IngressRoute and HTTPProxy share a virtualhost, the former is invalidated.

[2019-12-05 23:30] davecheney commented on #1949
@jpeach @stevesloka WDYT?

[2019-12-05 23:36] jpeach commented on #1983
@SDBrett envoy makes the version available in each [DiscoveryRequest](https://github.com/envoyproxy/envoy/blob/109d23a6648b1ac7723c4b2f125e913125bb9a84/api/envoy/api/v2/discovery.proto#L131) in the [Node message](https://github.com/envoyproxy/envoy/blob/109d23a6648b1ac7723c4b2f125e913125bb9a84/api/envoy/api/v2/core/base.proto#L48).

It should be straight-forward for Contour to track the supported

[2019-12-05 23:51] davecheney commented on #1983
hotdamn! when was that added?

[2019-12-05 23:53] jpeach commented on #1983
Not sure, a while ago I think. The Node message will have the extensions added (I think in 1.13), so we can use that to ensure extensions that we need are present.

[2019-12-05 23:56] jpeach commented on #1983
See envoyproxy/envoy#8332

[2019-12-06 00:07] davecheney commented on #1949
Don't forget the fallback postion is always;

1. k get -o yaml
2. translate
3. k delete ir
4. k apply httpproxy

The window for downtime is on the order of seconds, most of which is kubectl latency. Don't let perfection be the enemy of the good.

[2019-12-06 00:22] #1965 closed

[2019-12-06 00:28] davecheney commented on #1140
@shabx this issue was closed 22 days ago. Please open a new issue to hold ZD4657

[2019-12-06 00:31] jpeach commented on #1949
So the risk here is that you can end up with your production configuration depending on both HTTPProxy and IngressRoute. In principle at least, they could both be changing at the same time.

I'm tempted to suggest this could be made marginally safer by a Contour config that you could toggle to ignore IngressRoute, but that seems very similar to switching Dave's steps (3) and (4) above, and I expec

[2019-12-06 00:37] davecheney commented on #1140
@shabx it looks like ZD4657 is resolved. No action required.

[2019-12-06 00:40] davecheney opened #1994 "TLS certificate fixtures are duplicated many times"
There are at least three sets of TLS certificate fixtures in the codebase. Ideally there should be one.

[2019-12-06 00:47] jpeach commented on #1994
I have a partial prototype to consolidate test fixtures:
[code]

[2019-12-06 00:53] davecheney commented on #1993
@kfyharukz thanks for your reply. I think `timeoutPolicy.response` should be required ... what's the point in specifying a timeoutPolicy with no fields -- its just the defaults.

[2019-12-06 00:54] davecheney commented on #1993
Having said that, the only way we can say "one of either the response timeout or idle timeout" is to make both fields optional -- PR incoming.

[2019-12-06 01:33] #1993 closed

[2019-12-06 01:40] jpeach commented on #1750
I don't think we need to do any more here.

[2019-12-06 01:40] #1750 closed

[2019-12-06 02:15] stevesloka commented on #1950
This just forces folks to read git diffs or always run latest.

The logs guide probably a good example, if we change how logs work we'll break other versions possibly. It hasn't happened yet so maybe just see how these docs progress over time and leave this decision for later.

[2019-12-06 02:17] davecheney commented on #1950
I know I'm pedantic about this but our support policy _is_ always run latest. If we want to change that policy we should have that discussion, not side step it by changing the documentation to _look_ like we support older versions. That will lead to confusion and hurt feelings.

[2019-12-06 03:31] #1950 closed

[2019-12-06 03:57] stevesloka commented on #1982
Ok great! Here's the quick design for the host rewrite:

- This policy will be applied at the `Route` level
- `HostRewrite` allows a user to define what the value of the host header should be
- `ExternalServiceRewrite` allows a service of type external name to automatically become the host header during forwarding and only applies to upstreams with this type.

**I'm a bit torn on "ExternalServiceR

[2019-12-06 04:02] jpeach commented on #1982
I'm not in favor of special-casing the host header. We should we just to header rewrite?

I'm not sure why we should not just always reset the host header for an external service. There's very few cases where you can reasonably take a request for host A and just send it to host B expecting it to work.

[2019-12-06 04:06] davecheney commented on #1982
Ironically (depending on your POV about Envoy's way of doing things) even things which are not headers (methods, urls, query params) are treated as headers via a magic syntax.

[2019-12-06 04:09] stevesloka commented on #1982
What if the service you want to proxy to is off cluster and you still want to handle the request as it came to the k8s cluster originally. In that case you'd want to preserve the original header.

[2019-12-06 04:16] jpeach commented on #1982
If the request is to example.foo.com and you use an external name to send that to example.bar.com, then the target has to do something magical to accept example.foo.com names. I suppose that you could do some sort of split DNS so that the cluster could resolve a service that was really example.foo.com as some other name. Seems like a stretch though :)

[2019-12-06 04:21] stevesloka commented on #1982
[code]

Where `example.bar.com` is a service that exists and handles traffic for `example.foo.com` since when the request is received at `example.bar.com` the host is still `example.foo.com`.

That's a use-case that Gimbal could use where your externalName is another Envoy proxy sitting in another cluster.

[2019-12-06 04:24] jpeach commented on #1982
So this would have to be some kind of split DNS configuration so that the thing serving "example.foo.com" could resolve as "example.bar.com" inside the cluster?

[2019-12-06 06:48] davecheney commented on #1982
Would something like this fit the bill?
[code]

[2019-12-06 15:02] stevesloka commented on #1982
Ahh your design makes more sense @davecheney (I shouldn't try and design APIs at 11:30 at night). =)

Looking forward, it would be nice to support adding/removing headers (#70), so maybe call it `headerPolicy` or something? Then we could add `addHeader` & `removeHeader` potentially in the future.

[2019-12-06 19:25] davecheney commented on #1982
on yes! much nicer

[2019-12-06 20:10] #1870 closed

[2019-12-06 20:42] stevesloka opened #2002 "internal/dag: builder lacks tests for retrypolicy"
Need to add tests for retrypolicy in internal/dag/builder_test.go

[2019-12-06 21:18] stevesloka opened #2003 "internal/envoy: Mirror policy lacks tests"
Need to add tests for MIrrorPolicy in internal/envoy/route_test.go

[2019-12-07 14:09] movikbence opened #2004 "Session affinity not working with HTTPProxy"
I'm trying to achieve Session Affinity, or sticky-session, but it seems not to be working with httpproxy.
So far I've used that strategy with IngressRoute, it was working fine.
I am using a backend application which name is kahttp, it's an open-source project as well.

Manifests:
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: kahttp-service
spec:
  virtualhost:
    fqdn: exampl

[2019-12-07 21:04] davecheney commented on #2004
@movikbence thank you for raising this issue, I'm sorry you're having difficulties. Could you please edit the issue description and use the ``` syntax to enclose your yaml samples as whitespace is important in this case.

[2019-12-07 21:05] davecheney commented on #2004
@movikbence also, in httpproxy the name of the key is
[code]

[2019-12-07 21:07] davecheney commented on #2004
Also, I'm sorry that the documentation is completely wrong in this case. It looks like the documentation was not updated when we moved the load balancing policy to the route level.

[2019-12-08 07:30] movikbence commented on #2004
Hi

Thank you for the help, it worked with your example, you can close this issue.

[2019-12-08 11:23] davecheney commented on #2004
Reopening and assigning to myself for the docs fixes.

[2019-12-08 20:48] #1873 closed

[2019-12-08 22:11] youngnick commented on #1949
The tooling is a very simple translation. So it will take an IngressRoute and output a matching HTTPProxy. In standard use, this issue should not come up, and the process is:
- Have a working IngressRoute
- Back up the IngressRoute
- Run ir2proxy
- Check the generated HTTPProxy
- Apply the generated HTTPProxy
- Check your service is working
- Delete the IngressRoute
- Check your service is working

[2019-12-08 23:38] mattmoor opened #2008 "Document Header-rewriting capabilities"
Update site/docs/master/httpproxy.md to reflect the header-rewriting capabilities being added in https://github.com/projectcontour/contour/pull/2006 (see also #70).

[2019-12-09 00:29] davecheney opened #2009 "Write release notes for 1.0.1"

[2019-12-09 00:29] davecheney opened #2010 "Update upgrading guide for 1.01"

[2019-12-09 00:30] davecheney opened #2011 "Fork versioned docs for 1.0.1"

[2019-12-09 00:35] davecheney opened #2012 "make link check CI does not pass"
[code]

[2019-12-09 00:43] davecheney commented on #2012
Duplicate of #1990

[2019-12-09 00:43] #2012 closed

[2019-12-09 00:49] #1990 closed

[2019-12-09 01:00] youngnick commented on #1949
To summarise this further one more time:
- The tests in #1981 lock in the current behaviour of IngressRoute being superseded by HTTPProxy.
- We won't do anything with adding status, as it doesn't seem possible to do it without a lot of work that will be obsolete once we remove IngressRoute anyway.

@jpeach @stevesloka what do you think?

[2019-12-09 01:02] davecheney commented on #1988
@jpeach is this resolved in #1974?

[2019-12-09 01:09] jpeach commented on #1982
Note that "add", "delete" and "replace" are all different cases, though AFAICT envoy doesn't support "replace" :-/

[2019-12-09 01:10] davecheney commented on #1982
Whoa, **record scratch**. But headers are a set, if we do add `Host: foo`, then the result will be `Host: original, foo`

[2019-12-09 01:24] jpeach commented on #1982
I should have defined these terms :)

Here are all the cases I can think of:

1. Unconditionally add a header value (could result in multiple values)
2. Remove all existing values of a header and add the specified value
3. Remove any existing values a header  and add the specified value only if the header was already present
4. Delete all values of a header
5. Delete specific values of a header
6.

[2019-12-09 01:50] jpeach commented on #1949
Yeh, that sounds fine :)

[2019-12-09 02:04] jpeach commented on #1988
No, I didn't want to bundle it with unrelated changes.

[2019-12-09 02:31] jpeach commented on #1988
Looks like we don't actually enforce that there must be routes ... investigating ...

[2019-12-09 04:02] davecheney commented on #2004
Fixed in 96fb301

[2019-12-09 04:02] #2004 closed

[2019-12-09 04:03] davecheney opened #2014 "Backport #2004 to 1.0.1 docs"
Blockers:

- [x] 1.0.1 release done
- [x] Fork 1.0.0 docs for 1.0.1, #2011
- [x] backport #2028

[2019-12-09 12:15] tsaarni opened #2017 "Certgen: provide parameter for setting expiry date for gRPC certificates"
Currently certgen generates gRPC certificates with fixed one year expiration period.  Contour does not yet support rotation of gRPC certificates. It is expected that users will handle this.

**Assumption:** Many users will miss the documentation and unknowingly set a "time bomb" which will cause an incident in 365 days.

**Proposal 1:** add a parameter to certgen for users to set the expiration da

[2019-12-09 14:45] stevesloka commented on #1982
Replace is header rewrite? https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-routeaction-host-rewrite

[2019-12-09 19:05] stevesloka opened #2018 "guides: Cert-Manager guide should use a Certificate object"
The cert-manager guide (https://projectcontour.io/guides/cert-manager/) uses a dummy ingress object to generate the certs. It should just use a cert-manager `Certificate` object to generate the certs since the extra Ingress object sitting around with `HTTPProxy` objects to me is confusing.

Also, the ordering of ingress objects might break the current guide's model (i.e. HTTPProxy takes precedence

[2019-12-09 19:36] stevesloka opened #2019 "internal/builder: One bad route should not break other routes"
I have an HTTPProxy which I'll share below. One route in the proxy is invalid since the port in the HTTPProxy route does not match the service it's configured to. Contour shows the proper status on that proxy, however, since one route is bad the entire proxy is thrown out causing all other routes to fail.

Since this route is part of my "root" proxy, it took down my entire site. =)

Root Proxy:
[c

[2019-12-09 20:16] davecheney commented on #2019
/cc @jpeach @youngnick

I don't have a position on this; we've gone back and forth on what constitutes invalid deliberately and accidentally a few times in the past.

My ask is:

- If the decision is to continue on invalid route, what is the status of the object? Is it in invalid? Likely not as its (partially) working. If so, how do we communicate this list of _warnings_ to users?
- Consistency; i

[2019-12-09 20:16] davecheney commented on #2019
removing the bug tag, this is working as intended -- although the intention is the point of debate.

[2019-12-09 20:18] #1871 closed

[2019-12-09 20:28] stevesloka commented on #2019
I think the status (UX) of the object and functionality of the site are separate issues. In my example, I literally took down the entire fqdn for all my applications. Since the configuration was on a single route, the object can be in error, but at least it should retain the old config or ignore this specific route.

I do agree we should document the cases and then update the logic to match, but s

[2019-12-09 21:19] jpeach commented on #2019
There are 2 separable issues here

1. Should HTTPProxy have all-or-nothing semantics?
2. If a HTTPProxy update has an error, what happens to the previous config?

For (1), I think that we have, and should have, all-or-nothing semantics. That is, we should never partially update routes on a HTTPProxy object.

For (2), if a HTTPProxy change results in a invalid config, then we should leave the previ

[2019-12-09 21:48] davecheney commented on #2019
Perhaps a solution is we change contour to always assume the service is available. The linkage between RDS and CDS is by name alone so if it turns out the service isn’t available the route will be 504 by envoy at runtime.

[2019-12-09 23:13] youngnick opened #2020 "Contour should document the gRPC TLS rotation process"
Contour should have at least documentation on how to rotate the certificates used for securing gRPC traffic with TLS, currently generated by `contour certgen`.

An automated solution to perform the rotation *might* be acceptable as long as it's tightly scoped to only rotate those certificates, but would need a design doc to ensure that we don't increase the scope of Contour too much, and in order

[2019-12-09 23:16] youngnick commented on #2017
You make a fair point, and I think that Proposal 2 is probably better for now. I've raised #2020 to cover us writing documentation about the rotation process, as the first step towards deciding if it's automatable.

Envoy supports hot reload for lots of things, but the xDS connection is a bit tricky as it's possible to break the connection, rendering the Envoy un-updateable without a restart. So a

[2019-12-09 23:19] youngnick commented on #2018
I agree the current situation isn't great, but there's some other info you need:

We can create the Certificate object (this is covered by #951), but currently, cert-manager will create Ingress objects to service the HTTP01 challenge from ACME/Let's Encrypt. Writing our own solver to handle this for HTTPProxy objects is covered by #950.

It hasn't been super urgent because the current override mod

[2019-12-09 23:26] stevesloka commented on #2018
We don't need to implement anything. Create the cert CRD, then cert-manager will spin up an ingress resource, write the cert, then the ingress object will go away.

To me this is much more straight forward than creating a dummy ingress object and leaving it around, when it's never "supposed" to handle traffic.

Also, there's a statement in the guide which I don't think is correct, if there's no in

[2019-12-09 23:28] davecheney commented on #2018
This was never intended to be a long term solution and I'm really sorry it didn't get solved for 1.0. IMO resolving #951 we don't need to take responsibility for documenting another product's CRD -- we already carry to large a burden helping people install cert-manager as it is -- it will, to the extent that can be said of most software, just work.

[2019-12-09 23:34] stevesloka commented on #2018
I get that it's not a long term solution. So much of software is incremental improvements, that's all I'm suggesting.

Also, somehow cert-manager has this concept that it's very difficult. To me our docs just need:

1. kubectl create ns cert-manager       # Create namespace
2. kubectl apply -f certmanager.yaml  # Deploy cert-manager
3. kubectl apply -f prod-solver.yaml .  # Deploy prod solver
4. k

[2019-12-10 00:48] mattmoor opened #2021 "Status reflecting the state of Envoy programming"
tl;dr I'd like to know when the changes I have posted to `spec:` have been distributed to all the envoys.

### Background
In Knative, one of the early problems we had with Istio (still has this problem) is that "Ready" doesn't mean "Ready" (there is a programming delay).  What we ultimately had to build (and may need to generalize for use here) was a system that would probe each gateway pod to det

[2019-12-10 00:56] davecheney commented on #2021
@mattmoor contour is a lot better than Istio -- we moved away from polling nearly two years ago. The expected update delay is in the range [100ms, 600ms)

[2019-12-10 01:22] mattmoor commented on #2021
@davecheney I'm talking about the fact that we have to probe the gateway Envoys to determine readiness because Istio doesn't surface anything (at all) in `status`.  I was not referring to the mechanism by which the Envoy's receive programming.

[2019-12-10 01:24] davecheney commented on #2021
@mattmoor how could we change contour so you didn't have to probe? Ie, if the configuration is right, it should be programmed in envoy fast enough that a human cannot observe a different. if the configuration is not right, then waiting or probing won't fix it.

[2019-12-10 01:35] mattmoor commented on #2021
@davecheney it's not human observation I'm worried about.  We want to be sure that things are ready when we say things our ready, and our e2e tests immediately check things when they observe that we've reported things as ready.  At small scales, Istio is also quite fast, but when the system is put under load (e.g. tons of services) the programming times climb.

FWIW, if I have our e2e tests retry

[2019-12-10 01:42] davecheney commented on #2021
There are a few problems I see with implementing this request.

1. We don't track the ACK/NACK status of a request we send to envoy back to the object that caused it.
2. Even if we did, HTTPProxy configurations are spread over many xDS tables, there would have to be some kind of ordering notion to know when Envoy has a complete set of configuration. There is also ADS which we don't use at the mome

[2019-12-10 03:27] jpeach commented on #2018
Reopening, since I agree we should document a simpler approach if it is available. I'm not sure what the rationale for implementing the Webhook solver (#950) is if we can already support the ingress solver. The request to emit Certificate CRDs in #951 seems consistent with the proposal
here.

[2019-12-10 04:43] youngnick commented on #2018
Implementing the webhook solver is only to make it so that people don't need to use Ingress at all.

That said, as I said, I'm fine with the cert-manager tutorial being updated to use a Certificate instead of the dummy Ingress.

[2019-12-10 05:16] davecheney opened #2026 "site: tagging page is not linked from any documentation"
site/docs/v1.0.0/tagging.md is not visible in the versioned documentation.

Also, tagging.md should not be part of the versioned documentation.

[2019-12-10 05:17] davecheney opened #2027 "Update envoy support metrix for 1.12.2"

[2019-12-10 10:19] jpeach commented on #2018
I’m confused about this part. If you have Contour, you have Ingress support already, so is there a benefit to not using that solver?

[2019-12-10 19:56] #1959 closed

[2019-12-10 20:07] davecheney opened #2030 "Cannot reapply Quickstart yaml if the contour version has changed in the job spec"
[code]

[2019-12-10 20:15] jpeach commented on #2030
Maybe we need to add `ttlSecondsAfterFinished` to the job spec.

[2019-12-10 20:18] #2027 closed

[2019-12-10 20:25] davecheney opened #2031 "site proof job did not run when site/ changed"
https://github.com/projectcontour/contour/pull/2025 which changed site/ did not trigger the site proof job.

https://travis-ci.org/projectcontour/contour/jobs/623359710?utm_medium=notification&utm_source=github_status

[2019-12-10 20:25] #2011 closed

[2019-12-10 20:29] davecheney opened #2032 "site proof job checks the external url not the pr url"
https://travis-ci.com/davecheney/contour/jobs/265781824?utm_medium=notification&utm_source=email

The site proof job checks the external url, which means files which reference other files added in a PR will fail the proof job.

[2019-12-10 20:29] jonasrosland commented on #1796
It's been created: https://groups.google.com/forum/#!forum/projectcontour-announce

[2019-12-10 20:29] davecheney commented on #2030
Should we change the job spec to use :latest, then it won't change.

[2019-12-10 20:36] davecheney opened #2033 "site/docs: versions should be sorted from most to least recent"
![Screen Shot 2019-12-11 at 7 34 45 am](https://user-images.githubusercontent.com/7171/70566757-c9c95900-1be8-11ea-930d-40116efff0aa.png)

The order of the versions on the website should be

- master
- 1.0.1
- 1.0.0

When 1.1.0 is released the order should be

- master
- 1.1.0
- 1.0.1
- 1.0.0

Users should not have to scroll to find the supported version of contour.

[2019-12-10 20:36] #2010 closed

[2019-12-10 20:45] davecheney opened #2034 "site/docs: TOC is missing for 1.0.1"
Running locally the TOC is present

![Screen Shot 2019-12-11 at 7 45 00 am](https://user-images.githubusercontent.com/7171/70567493-2d07bb00-1bea-11ea-977b-a0dc4f4a9d21.png)

But deployed to netlify the TOC is missing

![Screen Shot 2019-12-11 at 7 45 07 am](https://user-images.githubusercontent.com/7171/70567544-3db83100-1bea-11ea-88ca-75bc41827ebd.png)

[2019-12-10 20:47] davecheney commented on #1796
Thank you. Closing.

[2019-12-10 20:48] davecheney commented on #1796
reopening, this needs to be added to the website somewhere.

[2019-12-10 21:05] #2034 closed

[2019-12-10 21:08] jonasrosland commented on #1796
I'll add it under /community for you :)

[2019-12-10 21:08] davecheney commented on #1796
Superb, thank you.

[2019-12-10 21:21] youngnick commented on #2018
None aside from tidiness.

[2019-12-10 21:21] #2014 closed

[2019-12-10 21:21] youngnick commented on #2030
I think that is a very valid usecase for `:latest`. Possibly the only one.

[2019-12-10 21:22] #2009 closed

[2019-12-10 22:18] #1351 closed

[2019-12-10 23:33] jpeach commented on #2032
[code]

Hmm, maybe there's a way to know what the netlify URL for the PR build will be?

[2019-12-11 22:27] #1796 closed

[2019-12-11 22:52] jpeach commented on #2020
Related to #2023 and #2017

[2019-12-12 14:40] masa213f opened #2040 "Deploying Contour v1.0.1 using Argo CD becomes a sync error"
**What steps did you take and what happened:**

Deploying Contour v1.0.0([these manifests](https://github.com/projectcontour/contour/tree/v1.0.1/examples/contour)) using [Argo CD](https://argoproj.github.io/argo-cd/).

Then `tlscertificatedelegations.contour.heptio.com` CRD became `OutOfSync`.

[code]

**What did you expect to happen:**

I expect that Argo CD judges the CRD as `Synced`.

**Anythin

[2019-12-12 19:01] stevesloka opened #2043 "internal/envoy: Regex "MaxProgramSize" too small"
When deploying HTTPProxy resources which use `Contains` header matcher conditions, there's an error getting thrown by Envoy:

[code]

I didn't think much of this error, but working on a different feature for Contour I found that at times all my routes would disappear from Envoy's config and I wasn't able to get them back. I found that removing the "header contains" Conditions from my Proxies, Envo

[2019-12-12 19:38] jpeach commented on #2043
see also envoyproxy/envoy#9174

[2019-12-12 20:18] jpeach opened #2044 "Command line option to emit default config file."
It would be convenient to have a contour option to emit the default configuration file to make it easier for users to create an appropriate ConfigMap.

[2019-12-12 20:20] jpeach opened #2045 "Generate config file documentation"
To ensure that the Contour configuration file documentation is always up to date, we should generate it from code comments in the Contour source.

[2019-12-12 21:21] jpeach commented on #2043
RE2 program sizes:

| regex | size |
|-------|-----|
| `.*foo.*'` | 35 |
| `foo.*[abcd]+ooo.*` | 43 |
| `x-envoy-(a\|b\|c)` | 15 |
| `x-envoy-(a\|b\|c)-[grep]{3}` | 28 |
| `a.*b.*c.*d.*e.*f.*g.*` | 109 |

So there's no clear relationship between regex length and program size other than that `.*` cost about 15.

[2019-12-12 21:49] stevesloka commented on #1982
So this does require us to set the `Sni` config on the upstream tls section. Right now in my PR I have this set automatically when an externalName service is used. Just wanting to confirm with the team this works or if we should introduce a new field to allow Sni to be specified.

[2019-12-12 22:04] davecheney commented on #2043
Can we use the re2 library to compute the cost of the regex so we can program the correct value in Envoy?

[2019-12-12 22:13] jpeach commented on #2043
re2 is a C++ library, so that's probably tricky. If the goal is to accept whatever the user gives us, then I'd say we should just send a very high value.

[2019-12-12 22:19] davecheney commented on #2043
I'm sorry I wasn't clear. I thought there was a version of re2 available in go, but I think I was mistaken -- go's regex library is based on re2, or something, anyway, I wasn't thinking straight.

[2019-12-12 22:26] #1949 closed

[2019-12-12 22:44] jpeach commented on #2043
The xDS error handling behaviour is #1176

[2019-12-12 23:18] jpeach commented on #2043
IIUC, Go uses RE2 syntax, but it's not the same code. The program size of the same regex can change across different versions of the C++ RE2 library, so if we could estimate the program size, we would still want to add a fudge factor. I don't see anything in the go regexp package that looks like program size.

[2019-12-12 23:21] jpeach commented on #1982
At this stage, I agree we should set it automatically.

[2019-12-12 23:54] #2043 closed

[2019-12-12 23:56] michmike opened #2048 "document the Envoy extensions required for a minimal footprint installation"
Update the list of list of extensions we require if users supply their own envoy image.

- [ ] identify extensions to add / remove from https://projectcontour.io/resources/envoy/

[2019-12-13 00:01] michmike opened #2049 "migration toolkit for ingressroute to httpproxy"

[2019-12-13 00:08] michmike opened #2050 "Create a helm chart for Contour"
potentially publish to hub.kubeapps.com

[2019-12-13 00:12] michmike opened #2051 "Enable ingress conformance tests"
Once Ingress v1 support is complete, we should enable the ingress conformance tests in CI

[2019-12-13 00:18] jpeach commented on #2050
/cc @pickledrick

[2019-12-13 00:21] jpeach commented on #2051
Prerequisite for #1944

[2019-12-13 00:30] #2049 closed

[2019-12-13 04:28] davecheney commented on #1503
Here are some raw notes on how this feature could be implemented:

Currently we generate a list of filter chains on the port 443 listener, each filter chain entry has a match condition for the expected hostname and allows envoy to select the right certificate to handle the handshake (this is SNI). If envoy gets to the bottom of the list without any filter chains matches firing, no handshake (I'm a

[2019-12-13 04:40] Javlopez opened #2053 "guides: Update cert manager annotation to work with HTTPProxy"
The guide to work cert-manager with HTTPProxy (https://projectcontour.io/guides/cert-manager/) in the section **Making cert-manager work with HTTPProxy** indicates that we should to create a dummy Ingress object like this

[code]
But this is wrong due the line 5 is incorrect, that annotation needs to be updated by the right one, which is **certmanager.k8s.io/cluster-issuer**

The code should be th

[2019-12-13 04:45] mattmoor opened #2054 "Support traffic splitting when websockets are enabled"
I believe the underlying issue from https://github.com/projectcontour/contour/issues/732 has been resolved for some time.  So I believe that this block can now be removed:
https://github.com/projectcontour/contour/blob/74e0f4650f95df73d8730e48171708923f7b1540/internal/dag/builder.go#L674-L677

[2019-12-13 04:54] mattmoor commented on #2054
I tested removing this and another block like it at HEAD and was able to verify that a basic websocket worked fine with the split in place.  I don't have the context about the original failure mode, but at least superficially this seems to work.

I deployed [this](https://github.com/n3wscott/sockeye) with a 50/50 split to another app using some in-progress Knative integration which unconditionally

[2019-12-13 05:28] davecheney commented on #2054
@mattmoor when @stevesloka look for a resolution for #732 around the Contour 1.0.0 timeframe the general agreement was web sockets + weighted clusters were still broken, at least as we were targeting envoy 1.11 at the time. I'm not sure if its been fixed in Envoy 1.12, any advice would be appreciated.

[2019-12-13 05:57] davecheney commented on #2053
@Javlopez thank you for raising this issue. I double checked the upstream documentation

https://cert-manager.io/docs/usage/ingress/

And they use `cert-manager.io/cluster-issuer`.

Which version of cert manager are you using?

[2019-12-13 13:06] surajssd opened #2055 "step-by-step TLS HOWTO link broken"
The link to ` step-by-step TLS HOWTO` is broken in https://github.com/projectcontour/contour/tree/v1.0.0/examples/contour#moving-parts

It links to https://projectcontour.io/guides/grpc-tls-howto which does not exist.

[2019-12-13 14:48] mattmoor commented on #2054
What was the failure mode?  I tried last night with a 50/50 traffic split (on 1.12.2) and was able to use them, but I'm not sure if they were just half broken or totally broken.

[2019-12-13 18:12] Javlopez commented on #2053
Hi, thanks for the answer,  I'm using, cert-manager-controller:v0.10.0

[code]

[2019-12-13 23:15] mattmoor opened #2056 "Consider the use of port name to guide protocol selection."
To support http/2 delivery today the service referenced from Contour's HTTPProxy must be annotated with something like:
[code]

This style of annotation-based configuration unfortunately requires us (Knative) to bake in knowledge of how to configure this for every networking implementation with which we integrate.

Istio [developed a convention](https://istio.io/docs/ops/configuration/traffic-mana

[2019-12-14 01:41] youngnick commented on #2053
Ah, this tutorial was written targetting v0.11.0 of cert-manager, which changed the namespace of the labels. I guess we should make that clear at the top.

[2019-12-14 18:40] stevesloka commented on #2054
We have other issues around multicluster and health checks, but looks like the envoy issue is resolved so we can remove the internal restrictions in contour.

[2019-12-16 02:18] #2040 closed

[2019-12-16 02:25] jpeach commented on #2055
Thanks @surajssd, it looks like this was dropped from the table of contents when we added versioned docs.

[2019-12-16 15:53] rjbez17 commented on #1182
@davecheney closing this to get it off your plate. I'll reopen if I can reproduce this on bare metal.

[2019-12-16 15:53] #1182 closed

[2019-12-16 16:49] #2055 closed

[2019-12-16 17:32] mattmoor commented on #2054
I can try to pick this up, if folks can help guide what needs fixing.

[2019-12-16 18:33] #2054 closed

[2019-12-16 20:55] jpeach opened #2060 "Changing envoy listening ports results in xDS error"
**What steps did you take and what happened:**

1. Start Contour with default arguments.
1. Restart Contour with `--envoy-service-http-port=80 --envoy-service-https-port=443`

Envoy throws an xDS error:
[code]

**What did you expect to happen:**

I expected that Contour would restart the listeners in the new configuration.

**Environment:**

- Contour version: 3a23a30
- Kubernetes version: v1.16.3

[2019-12-16 21:26] jpeach commented on #2048
See also https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-disable-extensions

[2019-12-17 00:01] jpeach commented on #1178
I generated cluster churn by concurrently adding and deleting HTTPProxy objects. While this was happening, I sent traffic to a different service in the same cluster that I wasn't modifying. The target service never dropped any requests. Restarting Contour didn't cause any dropped requests either.

It's perfectly possible that there is a scenario where updating the Envoy config could cause dropped

[2019-12-17 00:54] youngnick commented on #1689
[Version 0.1 of ir2proxy](https://github.com/projectcontour/ir2proxy/releases/tag/v0.1.0) was released on the 10th of December 2019. The repo is at [ir2proxy](https://github.com/projectcontour/ir2proxy/), and issues are being tracked [here](https://github.com/projectcontour/ir2proxy/issues). I'll close this issue out now.

The process of refining the tool will continue as we move towards removing

[2019-12-17 00:54] #1689 closed

[2019-12-18 00:36] awprice commented on #1902
@davecheney Apologies for the late reply. Going to close this out, more work is needed on my part to further understand the issues we are facing.

[2019-12-18 00:36] #1902 closed

[2019-12-18 01:19] stevesloka commented on #2056
Back when we were designing IngressRoute/v2 I thought it would be interesting to change the `name` field to the protocol. So you'd have something like this:

[code]

[code]

[2019-12-18 01:21] stevesloka opened #2068 "Spike to investigate running beta versions of HTTPProxy API"
I'm curious about the extra overhead to maintain beta versions of the api. Sometimes I think we want to implement something, but don't always get the API spec right.

Looking back after some time and user input, we might want to change what we originally thought.

This issue is to determine the overhead of having beta versions of the api spec and how we could promote / update through various relea

[2019-12-18 01:45] mattmoor commented on #2056
I could also see the `Service` section of the `HTTPProxy` being used to direct the protocol semantics as well and this would allow the controller that reconciles the Knative networking abstraction => `HTTPProxy` to be what's sensitive to the convention and direct the `HTTPProxy` on when to use `http` vs. `http2`.  I biased towards this approach because I recall seeing a comment from Dave on wantin

[2019-12-18 01:53] jpeach commented on #2056
Referencing #406
Referencing #1962

[2019-12-18 01:56] mattmoor commented on #2056
I think #1962 would be sufficient to achieve this in a reasonable way.

[2019-12-18 13:27] mattalberts commented on #1375
@youngnick @davecheney

I've been demo'ing out a series of H2 options, receive buffer sizing, and a number of different controls. I've seen fairly dramatic improvement in both awkward memory exhaustion (#499) and cpu's stuck spinning (here, after an issue, the cpu utilization will jump by 1, gdb suggests the worker thread is stuck in a non-recoverable spin-loop).

I wanted to check-in and see wher

[2019-12-19 01:36] jpeach commented on #2017
Sorry for the inconsistent advice @tsaarni, but we now agree that Proposal 1 is preferable :)

[2019-12-19 01:56] jpeach commented on #2050
Related #1190

[2019-12-19 02:06] jpeach opened #2070 "Break HTTPProxy document into separate pages."
The HTTPProxy document is really long and it is hard to find the section that describe how to achieve specific tasks (especially since we lack good indexing and search). Now that we have generated API reference docs in #2069, let's use that as the primary reference page, and break the existing documentation into a set of task-centric or feature-centric pages. For example, "how to make a virtual ho

[2019-12-20 05:12] jpeach commented on #1178
Tested a new scenario. This theory is that when a new envoy pod starts up, it will start taking requests before it has been fully programmed by Contour. If this is the case, we would expect that when we add new envoy pods, there is a chance that the new envoy would serve an error.

I experimented with this in a 5 node cluster running envoy as a deployment. When I scale the deployment from 1 to 5 r

[2019-12-20 18:13] stevesloka opened #2074 "Prefer `+kubebuilder:validation:Optional`"
Prefer `+kubebuilder:validation:Optional` here too?

_Originally posted by @jpeach in https://github.com/projectcontour/contour/pull/2046_

[2019-12-20 20:11] lrouquette commented on #1178
I think it'll be harder to reproduce this during an Envoy restart vs. a Contour restart. On Envoy start, the requests are naturally ordered: as an example, Envoy won't ask for endpoints for a cluster it doesn't know about -that is to say, it won't even create a gRPC stream for EDS, until it receives CDS (the hint **is** the cluster name); note that RDS is scoped to the listener (e.g. ingress_http

[2019-12-23 00:14] jpeach commented on #1178
So if there are changes when Contour isn't running, then you can get user-visible errors. However, when Contour starts coming up, those errors could transiently changes (e.g. 404 --> 503 -> 200). Is that your observation?

[2020-01-02 16:59] lrouquette commented on #1178
I'm just saying that is one way to reproduce. The root of the problem is that Contour receives un-ordered updates from k8s -expected, and should order the xDS responses (which is not happening).

[2020-01-02 22:01] jpeach commented on #1178
Yup, I’m trying to reproduce the problem so that I can verify whether ADS fixes it. I’ve tried a few things but have not had any success yet, so if you have and suggestions I’d love to try those too :)

[2020-01-03 22:12] lrouquette commented on #1178
Yeah, I hear ya :-) It's definitely not easy without explicitly coding the dis-order (which won't work for your test). We've seen this issue more often on bigger clusters, say 50 envoy nodes. Perhaps you can try that.

Happy to see ADS in the picture though, thats' awesome!

[2020-01-04 07:45] imranismail commented on #432
Any update on this, I'd be happy to contribute a POC

[2020-01-05 06:05] jpeach commented on #1178
If this reproduces in your deployment, I have an ADS latch you could test.

[2020-01-06 16:47] lrouquette commented on #1178
We worked around it, so I'll have to go back and see if I can repro. I'll let you know.

[2020-01-07 13:52] tsaarni commented on #1503
Yes exactly: the filter chain that would act as fallback cannot expose all virtual hosts just blindly since that would make it possible for client to circumvent client authentication - client would do this by not setting SNI header in TLS handshake.

Better alternatives could be:

1) have individual virtualhosts opt-in for fallback, like you wrote
2) expose only those virtualhosts that do not have

[2020-01-07 17:36] stevesloka commented on #2031
Right now the `site-check` task is not part of the `check` task due to #2032

[2020-01-07 19:41] stevesloka commented on #2030
I think `ttlSecondsAfterFinished` is the right path here, however, it requires k8s v1.12 and `TTLAfterFinished` [feature gate](https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/) enabled in the controller manager.

[2020-01-07 20:57] jpeach commented on #2030
Should we mention the TTLAfterFinished feature gate somewhere in docs?

[2020-01-07 21:19] #2030 closed

[2020-01-07 21:23] #2033 closed

[2020-01-07 21:37] #2026 closed

[2020-01-07 21:55] jpeach opened #2085 "Versioned API docs fail the site link checker"
The website link check is failing with the following errors:

[code]

This happens because the version toggle on each versioned documentation page is generated to like directly to the same page in each versioned documentation directory. So if you navigate to `/docs/master/api`, the toggle will link to `/docs/v1.0.0/api` and `/docs/v1.0.1/api`. These pages don't exist (API docs are only being gener

[2020-01-07 21:55] jpeach commented on #2085
/cc @SDBrett

[2020-01-08 03:16] #1982 closed

[2020-01-08 05:14] #2017 closed

[2020-01-08 15:30] #70 closed

[2020-01-08 15:40] #2085 closed

[2020-01-08 16:30] #1962 closed

[2020-01-08 16:30] #2056 closed

[2020-01-08 21:55] jpeach opened #2088 "Move the deployment YAML to kustomize"
The current Contour deployment YAML builds from the fragments in `examples/contour` and doesn't give any help to operators that need to modify the deployment in any way.

If we move this across to a kustomize configuration, we have the opportunity to be able to modify the YAML for different deployment targets (e.g. AWS, GCP, Kind), as well as generate the same consolidated YAML file that we docume

[2020-01-09 01:37] jpeach opened #2089 "Document how to integrate with Linkerd"
Now that Contour supports injecting HTTP headers, it should be possible to configure Contour as a [Linkerd Ingress](https://linkerd.io/2/tasks/using-ingress/). We should verify and document how to do this.

[2020-01-09 01:50] jpeach commented on #2074
I tried this, but switching to `+kubebuilder:validation:Optional` makes the API documentation generator think it is not optional after all. Let's standardize on "+optional".

[2020-01-09 02:07] #2074 closed

[2020-01-09 10:16] twfx7758 commented on #1894
me too

[2020-01-09 10:24] twfx7758 commented on #1742
me too

[2020-01-09 19:13] brenix opened #2092 "TLS passthrough issues after upgrading from 0.15.3 to 1.0.1"
**What steps did you take and what happened:**

In the process of upgrading contour/envoy from v0.15.3/v1.11.2 to v1.0.1/v1.12.2, we are seeing TLS related issues for a TCP proxy with TLS passthrough enabled  (defined via `IngressRoute` or `HTTPProxy`)

The proxy appears to be working, but the TLS negotiation between a GRPC client and server service are failing with messages:

Client:

Server:

Wh

[2020-01-09 21:51] jpeach opened #2094 "site: upgrade document missing the inline table of contents"
On the upgrade page, https://projectcontour.io/resources/upgrading/, there is supposed to be a page table of contents on the top left. If you render this using `make site-devel` it is there, but on the public site, it just renders as an empty div box.

![Screen Shot 2020-01-10 at 8 51 06 am](https://user-images.githubusercontent.com/9917/72107849-5c931a00-3386-11ea-9af2-9d400a6aaaf1.png)

[2020-01-10 01:48] jpeach commented on #2088
One problem the just bit me is that `kustomize` and `kubectl kustomize` releases are not aligned. This means that it is possible to use syntax that `kustomize` will accept but `kubectl` won't. I'm currently in this situation with fieldRef expressions and I have:

[code]

[code]

[2020-01-10 02:00] #1969 closed

[2020-01-10 09:08] annismckenzie commented on #1856
To start, it'd be really nice if the job could be re-run without breaking anything when one upgrades to newer Contour version. We had to disable the job after the first apply because it won't succeed again. It'd be reasonable to assume that one upgrades Contour at least a couple times a year so that job could transparently rotate the certs.

[2020-01-10 17:16] stevesloka commented on #2088
My first thought was to default to using the version of kustomize in kubectl, but there's no way to know what version of kubectl a user has.

I think we just need to pick a version of kustomize and document it.

[2020-01-10 17:20] brenix commented on #2092
Update:

We upgraded to 1.1.0 and did not see any change, the issue remains.

However, after adding a route with `protocol: h2c` to the spec, the service was able to establish connectivity.

Example:
[code]

This is a GRPC service - We continue to see TLS errors if the protocol was set to `tls` or `h2`, but it appears to work with `h2c`

[2020-01-10 18:13] brenix commented on #2092
After looking into this further, our service had an older annotation to define the upstream protocol. This was rather updated to reflect the new projectcontour domain and correct protocol. Closing this for now

[2020-01-10 18:13] #2092 closed

[2020-01-10 18:58] stevesloka commented on #2092
Hey @brenix, so switching the service annotation from `contour.heptio.com` to `projectcontour.io` fixed your problem?

[2020-01-10 19:00] brenix commented on #2092
Yes, as well as switching the protocol to h2c.

We went from:
[code]
to
[code]
which fixed it.

[2020-01-10 21:29] jpeach commented on #2088
The Kustomize YAML format is versioned (in the Kubernetes API sense), but AFAICT that versioning is not granular enough to ensure the right version of the tooling.

[2020-01-12 23:32] davecheney commented on #1856
@youngnick could you please look into this. AFAIR this is is not the expected behaviour.

[2020-01-12 23:34] davecheney commented on #1742
@twfx7758 this issue was closed last year. Would you please open a new issue and give as much detail as possible so we can help get to the bottom of the issue.

[2020-01-12 23:41] youngnick commented on #1856
So, there were actually two problems there:
- Jobs have an immutable spec, so when we did an upgrade, if you didn't delete the job, the apply would fail when you did an upgrade.
- Deleting the secret is not enough to have the certificates be regenerated, you also need to delete the job and reapply.

@stevesloka has addressed these already in #2084. The certgen job will not rotate the certs at the

[2020-01-13 00:08] davecheney commented on #1375
@mattalberts all the status is in the ticket (sorry, that's not meant to sound snarky, just an reaffirmation that we don't have a secret discussion backchannel).

Any information you can provide for #499 would be greatly received.

[2020-01-13 03:03] #1968 closed

[2020-01-13 07:10] davecheney opened #2107 "internal/contour: ingressroute/httpproxies outside --root-namespaces create empty route sets"
#2106 suggested that in some cases an ingressroute/httpproxy outside the root namespace set could cause empty records to be created in RDS.

This behaviour is unexpected. I would expect that empty ingress_http and ingress_https records are either always present or only present when there are valid routes. The current logic appears to be that those route entries will appear, but empty.

I suspect t

[2020-01-14 03:44] youngnick commented on #2068
Practically, I think this will be using the newer CRD functionality available post 1.16. Once we use the CRD GA spec, there are options for setting the storage version for CRDs that let you have people apply the v1beta1 and it gets stored as v1beta2 (for example). If you ask for v1beta1, you get v1beta1, and if you ask for v1beta2, you get that.

It does require a conversion webhook though, I thin

[2020-01-14 04:22] jpeach commented on #2068
See also the discussion in #2099. If you don't preserve multiple versions, then I don't think clusters can be automatically upgraded. You'd have to manually delete the old CRD versions before applying the new ones.

But in practice, I don't think that we need to worry too much until HTTPProxy v2 :)

[2020-01-14 18:04] stevesloka commented on #2068
My thinking of this spike is to allow us to introduce alpha/beta api designs. For example, it might be nice to put the new status design into an alpha group and allow users to buy into it. We can play around with how the design works in practice, tweak it and then release when we have more data.

The purpose of this spike was to determine how much overhead this might add to our release/upgrade / d

[2020-01-14 19:49] stevesloka opened #2108 "make check leaves terminal in weird state"
If I do a `make check` the `check-flags` step leaves my terminal in a weird state, taking out this step returns the original behavior.  //cc @jpeach

![image](https://user-images.githubusercontent.com/1048184/72377072-166aed00-36dd-11ea-99bb-2562d4ac1822.png)

[2020-01-14 19:53] stevesloka opened #2109 "site: Quickstart / Getting started guides"
The quick-start and getting started guides need some updating. I'd like to have separate breakouts as to how to deploy contour to EKS, GKE, and AKS as well as Kind.

Today there's a smattering of AWS and other docs intermingled and I'd like to make them clear depending on the environment folks are deploying Contour into.

- [ ] AWS Docs
- [ ] GKE Docs
- [ ] AKS Docs
- [ ] Non-Cloud Docs

[2020-01-14 20:23] #2108 closed

[2020-01-14 20:28] jpeach commented on #2109
We can also address some of these deployment scenarios with kustomize, see #2088

[2020-01-14 22:31] youngnick opened #2113 "Add initial support for Ingress V2 types"
As part of the work I'm doing with the service-api subproject of SIG-Network, we're building new CRDs which will serve as the definition of what the next version of Ingress needs.

Contour will need to support these, so this issue is to cover figuring out how to wire up the new types into Contour, and put them behind an experimental flag so that we can get this wiring in and update the types as th

[2020-01-14 22:32] jpeach commented on #2113
Do you mean a Go build tag? A configuration flag?

[2020-01-14 22:41] jpeach commented on #2021
Contour can know how many envoys have received an update (perhaps we could persist this in Envoy with tags or something?), but I'm not sure we can know how many envoys should have received the update without over specifying the envoy deployment model.

[2020-01-14 22:51] jpeach commented on #2045
Related to #2111

[2020-01-14 22:57] dbason opened #2114 "When using hostNetwork: true for envoy the dnsPolicy should also be set"
**What steps did you take and what happened:**
When using the example deployment and setting hostNetwork: true envoy can't communicate with contour due to DNS

**What did you expect to happen:**
Envoy able to talk to Contour

**Anything else you would like to add:**
This is because the dnsPolicy needs to be explicitly set to ClusterFirstWithHostNet when using hostNetwork: true.  After setting this

[2020-01-14 23:03] youngnick commented on #2113
A CLI flag, sorry. No config option for now. This is mainly about ensuring that we don't need a long-running feature branch.

[2020-01-15 01:01] jpeach commented on #2051
Blocked by #403

[2020-01-15 01:13] jpeach commented on #1980
Related to #403

[2020-01-15 01:17] jpeach commented on #1857
Related to #1856

[2020-01-15 01:19] jpeach commented on #1855
We changed a number of these to use `site.latest` in d4b3c89ebf83b678bfbc94b4cf58bca0fedf9e7a

[2020-01-15 01:19] #1855 closed

[2020-01-15 01:26] jpeach commented on #1266
Related to #2045 and #2044

[2020-01-15 02:05] jpeach commented on #66
This annotation is specific to ingress-nginx, do we still want to support it?

[2020-01-15 02:07] jpeach commented on #65
This annotation is specific to ingress-nginx, do we still want to support it?

[2020-01-15 02:07] jpeach commented on #64
This annotation is specific to ingress-nginx, do we still want to support it?

[2020-01-15 02:09] jpeach commented on #62
This annotation is specific to ingress-nginx, do we still want to support it?

[2020-01-15 02:11] terinjokes commented on #62
traefik supports `traefik.ingress.kubernetes.io/whitelist-source-range`

[2020-01-15 02:13] davecheney commented on #62
If possible I’d like to close this issue, and similar ones, which I added 24 months ago when the project started as a way of identifying the feature delta between nginx and contour 0.1.

For specific things like network whitelists, I think that should be rolled up in a general feature of “networking filtering” (waves hands), rather than being tackled piecemeal.

[2020-01-15 14:16] stefanprodan commented on #2089
Linkerd blocks the proxy injection into Envoy pods see https://github.com/linkerd/linkerd2/issues/3910

[2020-01-15 14:46] stefanprodan commented on #2050
There is a contour chart in the [helm/charts repo](https://github.com/helm/charts/tree/master/stable/contour) but it uses an older image and the deployment specs don't have the Envoy DaemonSet. Maybe contributing to that one instead of a creating something new would be better.

[2020-01-15 14:57] stefanprodan commented on #2088
This would be very helpful, Contour could expose a remote base for each release branch so that patching could target a specific release, see an example here https://github.com/stefanprodan/eks-contour-ingress/tree/master/contour

[2020-01-15 16:08] bgagnon commented on #2021
There are metrics on the Envoy side for xDS versions:
* `envoy_http_rds_version`
* `envoy_cluster_manager_cds_version`
* `envoy_listener_manager_lds_version`

Assuming Contour has some level of control on the versions of the xDS objects, I think it is possible  to observe the convergence of Contour and Envoy on a per-pod basis.

Also, I think the _ACK_ system (see #1176) that is part of the xDS pr

[2020-01-15 19:15] stevesloka commented on #2021
@mattmoor is this feature to solve e2e testing and wouldn't be used in production?

[2020-01-15 19:18] stevesloka commented on #62
I think there's a second discussion around the annotations we need to add to support users running v1beta1/Ingress.

[2020-01-15 19:24] stevesloka commented on #2060
Maybe docs on this behavior is a good first step? I'm not sure how frequently users might do this but agree it can be hard to track down if you don't know it's how it works today.

[2020-01-15 19:51] mattmoor commented on #2021
I would say that it’s useful for any automated consumption of Contour where you’d ideally get an informer notification when the programming is ready.

We have generalized the probing logic we wrote to solve this for Istio so that we can do something similar for establishing Contour’s readiness as well, so this particular issue isn’t blocking.

[2020-01-15 20:02] #2114 closed

[2020-01-15 20:20] jpeach opened #2117 "Update host networking deployment docs"
In the [deployment options](https://projectcontour.io/docs/v1.1.0/deploy-options/) documentation,  we see the following:

There are 2 issues with this:
- The default deployment YAML has envoy listening on ports 80 and 443
- The default deployment YAML places envoy in a daemonset, not contour (which isn't necessary with split deployment)

[2020-01-15 21:56] jpeach commented on #2051
See: https://github.com/kubernetes-sigs/ingress-controller-conformance

And a separate effort: https://github.com/aledbf/ingress-conformance

[2020-01-15 23:40] davecheney commented on #2050
@stefanprodan I was under the impression that helm was moving away from this central chart repository model. If this is not the cause then it is my overwhelming preference to continue to maintain the original chart.

[2020-01-16 00:37] jpeach commented on #2050
@pickledrick is the maintainer of the chart in the help repo. I've discussed this with him and we agreed that it makes sense to host the Contour char in the projectcontour Github org, given that the help charts repo is [deprecated](https://github.com/helm/charts#status-of-the-project).

I think that the next steps here are to agree on the broad outline of a transition plan and talk about how to ma

[2020-01-16 04:11] youngnick opened #2118 "Move Contour from Informers to Kubebuilder controller-runtime"
As part of reviewing how to integrate the [service-api](https://github.com/kubernetes-sigs/service-apis) CRDs into Contour, I noticed that our code for interacting with Kubernetes is very custom, and there are now better options available.

This issue is to cover moving Contour from Informers to using the Kubebuilder [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime) libra

[2020-01-16 04:13] jpeach opened #2119 "Mark "kubernetes.io/ingress.class" supported on HTTPProxy"
If you set the "kubernetes.io/ingress.class" annotation on a HTTPProxy document, Contour will log a warning that it is unsupported. In fact, it is supported and works correctly. We should update the warning.

[2020-01-16 04:36] jpeach commented on #2119
/cc @mattmoor

[2020-01-16 04:51] davecheney commented on #2119
Opps, this should be a pretty straight forward fix. @mattmoor can you live with the warning until 1.2 or do we need a 1.1.1 ?

[2020-01-16 05:07] jpeach opened #2122 "Add a "subject" flag to certificate generator"
"contour certgen" always generates a Contour certificate whose subject is "contour". This means that when the xDS client connects, it needs to expect the "contour" subject, but that won't always happen, depending on how the operator is deploying Contour.

For example, could be useful to deploy multiple Contours with different service names, e.g. "contour-internal" and "contour-external". In this c

[2020-01-16 07:12] awprice opened #2123 "DeepCopy unstructured HTTPProxy causes panic"
**What steps did you take and what happened:**
When converting an HTTPProxy object to an unstructured object and then performing a DeepCopy on that unstructured object, a panic is experienced.

The following code can be used to replicate:

[code]

When run, results in:
[code]

**What did you expect to happen:**

For the above code to run without issue.

**Anything else you would like to add:**

I

[2020-01-16 07:23] mattmoor commented on #2119
Warning is fine, I hadn't even noticed it :)

[2020-01-16 07:30] davecheney commented on #2123
Thanks for raising this issue. I think we can change _some_ of these uints to ints pretty painlessly but there might be some that have a direct correlation with the value that envoy consumes so some care might need to be taken there.

The thing about using unsigned ints in general is the json schema makes harder for people to give negative values for weights.

[2020-01-16 08:29] awprice commented on #2123
Perfectly understand the reasoning behind the use of the uints. Is it possible to use validation rules in the schema to enforce that negative values aren't used? i.e. `minimum: 0`

[2020-01-16 16:26] stevesloka commented on #1890
@jpeach I think we have this working now with externalName and host rewrite? Please confirm if this solves this issue.

[2020-01-16 18:12] jpeach commented on #1890
Yep, I think it does.

[2020-01-16 18:12] #1890 closed

[2020-01-16 21:19] stevesloka opened #2125 "Makefile: site-devel task does not allow for site reload"
The make task `site-devel` which hosts the documentation development site has `--livereload` enabled, however, the livereload port is not exposed from the container which blocks the live reload from happening.

[2020-01-16 21:21] jpeach commented on #2125
For me, reloading happens automatically when file changes are detected, but I agree that we should expose the reload port too.

[2020-01-16 21:34] #2125 closed

[2020-01-16 22:06] moderation commented on #1248
Interested if this might be revisited now that UDP proxy support has been added to Envoy
- https://github.com/envoyproxy/envoy/pull/9046
- https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/udp_filters/udp_proxy#config-udp-listener-filters-udp-proxy

Like the original issue request we have an internal client that have a SIP based telephony app that prefers UDP.

HTTP/3 which is im

[2020-01-16 22:09] davecheney commented on #1248
Thanks for the update.

For the record, we have no plans of adding a generic UDP proxy, but within the scope of wherever HTTP/3 goes with QUIC, we'll follow.

[2020-01-16 23:09] jpeach commented on #2122
FWIW, xDS client validation is:
[code]

[2020-01-16 23:10] #2119 closed

[2020-01-17 21:25] stevesloka opened #2130 "Makefile: Misspell check missing docs directory"
The check for spelling errors is missing the site/docs directories and aren't being checked for errors.

[2020-01-20 23:39] davecheney opened #2132 "Upgrade to Envoy 1.13.0"
Envoy 1.13.0 has been released. The list of depredations for xDS v2 is minimal.

https://www.envoyproxy.io/docs/envoy/v1.13.0/intro/deprecated

Switching from xDS v2 to v3 is a bigger job, out of scope for this issue.

Blocked:

- [x] Upgrade go-control-plane to a version that offers replacements for the 1.13.0 deprecated types. #2160
- [x] Address deprecated items.
- [ ] Update envoy compatibilit

[2020-01-20 23:40] jpeach commented on #1898
Related to #2132

[2020-01-22 03:40] jpeach opened #2134 "Replace GRPC server with envoy's go-control-plane"
I looked ad [go-control-plane](https://github.com/envoyproxy/go-control-plane) a bit and we ought to be able to use it to replace our custom xDS code. The interfaces are a bit different, but we should be able to bind the DAG in without a lot of trouble. This likely gives us ADS support for free.

Related #1286

[2020-01-22 03:45] jpeach commented on #2134
Note that this doesn't solve configuration snapshot consistency issues (see various issues in the go-control-plane repo).

[2020-01-22 03:54] jpeach commented on #2117
@stevesloka I think #2129 fixes this too?

[2020-01-22 04:10] jpeach opened #2135 "Ingress V1: path matching mode"
Support Ingress V1 path changes:

https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md#path-as-a-prefix

[2020-01-22 04:14] jpeach opened #2136 "Ingress V1: support spec.backend field rename"
Support Ingress V1 backend field rename.

https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md#backend-to-defaultbackend

[2020-01-22 04:25] jpeach opened #2137 "Ingress V1: support for service backends"
Support Ingress V1 IngressBackend changes. The IngressBackend gets a new [ServiceBackend](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md#backend-types-proposal) field to replace the service name and port. It probably doesn't make sense for Contour to support backends other than Services.

https://github.com/kubernetes/enhancements/blob/master/

[2020-01-22 04:28] jpeach opened #2138 "Ingress V1: hostname wildcard support"
Support Ingress V1 hostname wildcards

https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md#hostname-wildcards

This may have knock-on effects on HTTPS, as a wildcard hostname probably needs a wildcard TLS certificate. Alternatively, you could support routing several non-wildcard TLS certificates to a single wildcard hostname.

[2020-01-22 04:37] jpeach opened #2139 "Support Ingress V1"
Kubernetes SIG Network is proposing a number of changes to the Ingress spec in order to graduate it to V1. Since Ingress is a standard common feature, we should evaluate whether Contour should support the V1 changes.

- [x] Ingress V1: path matching mode #2135
- [x] Ingress V1: support spec.backend field rename #2136
- [x] Ingress V1: support for service backends #2137
- [x] Ingress V1: hostname w

[2020-01-22 20:08] stevesloka opened #2140 "HealthCheckPolicy missing from TCPProxy"
When the healthcheck logic got moved from the service to the route, it didn't get added back to the tcpproxy in HTTPProxy (https://github.com/projectcontour/contour/pull/1630).

// cc @bgagnon

[2020-01-22 20:21] bgagnon commented on #2140
For context, we used this feature with _IngressRoute_ to proxy the Kubernetes API in L4 mode [1]. The _Endpoints_ object backing the `kubernetes` service in the `default` namespace is managed externally in our distribution (Rancher) because the API servers are not running in pods.

Therefore, the list of IPs for the Envoy cluster is static and has no guarantee of readiness/liveness. Using the acti

[2020-01-22 20:41] davecheney commented on #2140
This is likely my fault.

The underlying reason, for the best of my recollection is the health check stanza that is used for l7 http like things was not appropriate for l4 tcp things because it contained a path element.

I believe the idea at the time was to duplicate the structure, remove the http specific components and apply this modified type to the tcpproxy stanza.

On 23 Jan 2020, at 07:21,

[2020-01-22 20:57] stevesloka commented on #2140
I'm double-checking IngressRoute as well in v1 code, from my first glance I don't see this even implemented still for IngressRoute.TCPProxy.

[2020-01-22 20:59] davecheney commented on #2140
It’s likely that if it’s missing from ingressroute tcpproxy it is because of the same reasons.

On 23 Jan 2020, at 07:57, Steve Sloka <notifications@github.com> wrote:

﻿

I'm double-checking IngressRoute as well in v1 code, from my first glance I don't see this even implemented still for IngressRoute.TCPProxy.

—
You are receiving this because you commented.
Reply to this email directly, view it

[2020-01-22 21:44] stevesloka commented on #2140
@davecheney here's my plan then if this makes sense.

1. Work on a PR to fix `IngressRoute` by adding back TCPProxy health checks, ignoring the `path component`.
2. A second PR to introduce a new field, `TCPHealthCheckPolicy` which essentially doesn't have the `path` and `host` fields as options but retains the other fields, `IntervalSeconds`, `TimeoutSeconds`, etc

[2020-01-22 23:59] davecheney commented on #2140
SGTM!

[2020-01-23 01:43] jpeach opened #2141 "Define how HTTPProxy validity interacts with delegation"
HTTPProxy delegation can interact with validity in unexpected ways.

1. If proxy A delegates to proxy B, and proxy B is not present, then proxy A is marked invalid.
2. If proxy A delegates to B, but B is invalid for some reason, then B is marked invalid. A is considered valid, but lacks any routes that would have been imported by B.

If we consider a proxy with no routes (or TCP proxying) invalid

[2020-01-23 03:39] jpeach commented on #1988
Closing. We can address this as part of #2141

[2020-01-23 03:39] #1988 closed

[2020-01-23 10:15] tsaarni opened #2143 "Add support for rotation of xDS/gRPC certificates and keys"
Problem statement: Contour does not provide support for certificate rotation for the control plane (xDS/gRPC) connection between Contour and Envoy.

It shall be possible to replace the certificates and keys and have them taken into use automatically. Rotation shall not cause interruptions for data plane traffic.

Tasks:

- [X] #2198 Add support for Contour to hot-reload certificates and key
- [x]

[2020-01-23 10:27] tsaarni commented on #2143
This topic was discussed at [community meeting](https://hackmd.io/84Xbl4WBTpm7OBhaOAsSiw) on Jan 21th.  As agreed, renewal of certificates and keys is scoped out.

I would like to work with this issue.

Would it be OK to create two PRs:

1. Add support for Contour to hot-reload certificates and key
2. Generate bootstrap configuration according to outcome of https://github.com/envoyproxy/envoy/issu

[2020-01-23 10:30] davecheney commented on #2143
SGTM. Thank you.

[2020-01-23 15:59] PeopleRange commented on #1627
Also needed from an SEO standpoint with the http to https or root_uri to www.root_uri

[2020-01-23 16:26] PeopleRange commented on #1269
I have been playing with different configurations for Kubernetes Clusters to run my companies and my customer's services.

Former Setup:
GKE
3 x n1-standard-4 nodes
Istio
Cert Manager
Percona Cluster 10gb SSD
NFS Server 10GB regional SSD (Wordpress Customers (Customers Not Yet Deployed)
Average 15GB traffic on load balancer
Monthly Price: £314.50 GBP by Googles Pricing Calculator

New Setup:
GKE
3

[2020-01-23 18:37] stevesloka opened #2144 "update to envoyproxy/go-control-plane v0.9.2"
Includes some updates as well as v3 api.

https://github.com/envoyproxy/go-control-plane/releases/tag/v0.9.2

[2020-01-23 18:48] michmike commented on #1269
this is great news and good savings @PeopleRange

[2020-01-23 20:47] stevesloka commented on #2140
Bah missed this in GH emails. I understand it's deprecated, my thought was to fix it since we broke it and users who needed to upgrade to a version of Envoy without CVE's could but not yet migrate to HTTPProxy.

[2020-01-23 21:57] davecheney commented on #2140
I think there are some crossed wires here

In 0.15, ingressroute supported health checking on tcp proxy services

https://github.com/projectcontour/contour/blob/release-0.15/apis/contour/v1beta1/ingressroute.go#L81

In 1.0 the situation was unchanged

https://github.com/projectcontour/contour/blob/release-1.0/apis/contour/v1beta1/ingressroute.go#L74

For httpproxy in 1.0

Healthcheck policy was mo

[2020-01-23 22:01] stevesloka commented on #2140
It's in the spec for IngressRoute, but it's not used anywhere in dag, so if users set that field in and IngressRoute using Contour v1.0+, it has no effect on the resulting config we send to Envoy (from what I can see): https://github.com/projectcontour/contour/blob/release-1.0/internal/dag/builder.go#L882-L884